<!-- eslint-disable max-len -->
<template>
  <div class="row-expand-container">
    <div
      v-for="i in expandRow"
      :key="i.key"
      class="row-expand-content">
      <!-- Header Row Expansion -->
      <div class="row-expand-header"> {{ getHeaderName(i.key) }}: </div>

      <!-- Value Row Expansion -->
      <div v-if="cekTypeData(i.key) === 'text' || cekTypeData(i.key) === 'varchar'">
        <div
          v-if="i.type === 'attachment' && row[i.key]"
          style="width: max-content">
          <j-attachment-type-column :file-url="row[i.key]" />
        </div>
        <span v-else>{{ row[i.key] }}</span>
      </div>
      <div v-if="cekTypeData(i.key) === 'boolean'">{{ row[i.key] ? 'TRUE' : 'FALSE' }}</div>
      <div
        v-if="cekTypeData(i.key) === 'number' ||
          cekTypeData(i.key) === 'integer' ||
          cekTypeData(i.key) === 'small_integer' ||
          cekTypeData(i.key) === 'big_integer' ||
          cekTypeData(i.key) === 'float' ||
        cekTypeData(i.key) === 'decimal'">
        <j-currency
          v-if="i.type === 'currency' && (row[i.key] || row[i.key] === 0)"
          :value="row[i.key]"
          :options="currencyOptions"/>
        <div
          v-else-if="i.type === 'person' && row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person']"
          class="d-flex">
          <div class="td">
            <b-img
              v-if="row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].photo"
              :src="row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].photo"
              rounded="circle"
              alt="img"
              class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            <b-img
              v-else
              :src="require('@/assets/logo/user1.png')"
              rounded="circle"
              alt="img"
              class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
          </div>
          <div class="td p__t--7">
            <div>{{ row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].email }}</div>
            <div>
              {{ row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].first_name }} {{ row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].last_name }}
            </div>
          </div>
        </div>
        <span v-else>{{ row[i.key] }}</span>
      </div>
      <div v-if="cekTypeData(i.key) === 'maps' && row[i.key]">{{ row[i.key].address }}</div>
      <div v-if="cekTypeData(i.key) === 'object' && i.type === 'currency_selection' && isServerTable">
        <j-currency
          v-if="row[i.key] && (row[i.key].origin_amount || row[i.key].origin_amount === 0)"
          :options="setCurrencySelectionOptions(row[i.key].target_currency)"
          :value="row[i.key].origin_amount"/>
      </div>
      <div v-if="cekTypeData(i.key) === 'object' && i.type === 'currency_selection' && !isServerTable">
        <j-currency
          v-if="row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`] &&
            (row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].origin_amount ||
          row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].origin_amount === 0)"
          :options="setCurrencySelectionOptions(row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].target_currency)"
          :value="row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__edit`]"/>
      </div>
      <div v-if="mode === 'form' && cekTypeData(i.key) === 'object' && i.type !== 'currency_selection' && (row[i.key] || row[i.key] === 0)">{{ row[i.key] }}</div>
      <div v-if="mode === 'external_url' && cekTypeData(i.key) === 'object' && i.type !== 'currency_selection' && row[i.key]">{{ row[i.key].name }}</div>
      <div v-if="cekTypeData(i.key) === '[]object'">
        <span
          v-for="item in row[i.key]"
          :key="item.id">{{ item.name }}, </span>
      </div>
      <div
        v-if="cekTypeData(i.key) === 'tags' && row[i.key]"
        :style="{ backgroundColor: row[i.key].background, color: row[i.key].font_color }"
        class="label-tags">{{ row[i.key].name }}</div>
      <div v-if="cekTypeData(i.key) === '[]tags'">
        <div
          v-for="item in row[i.key]"
          :key="item.id"
          :style="{ backgroundColor: item.background, color: item.font_color }"
          class="label-tags">{{ item.name }}</div>
      </div>
      <div v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'">{{ row[i.key] ? row[i.key].join(', ') : '' }}</div>
      <div v-if="cekTypeData(i.key) === 'timestamp'">
        <span v-if="row[i.key]">
          <span v-if="i.type === 'time'">
            {{ convertTime(row[i.key]) }}
          </span>
          <span v-else-if="i.type === 'datetime'">
            {{ convertDateTime(row[i.key]) }}
          </span>
          <span v-else-if="i.type === 'dd-mmm-yyyy'">
            {{ $moment(new Date(row[i.key])).format('DD-MMM-YYYY') }}
          </span>
          <span v-else-if="i.type === 'mmmm dd, yyyy'">
            {{ $moment(new Date(row[i.key])).format('MMMM DD, YYYY') }}
          </span>
          <span v-else>
            {{ convertTimestamp(row[i.key]) }}
          </span>
        </span>
      </div>
      <div v-if="cekTypeData(i.key) === 'timer'">
        <div
          class="row"
          style="width: 200px">
          <div class="col-md-3">
            <div
              v-if="!row[`dataTimer${i.key}`].running && row[`dataTimer${i.key}`].startTimer === 0 && !row[`dataTimer${i.key}`].stoped"
              class="shape-blue"
              @click="start(row.id, `dataTimer${i.key}`)">
              <img
                :src="require('@/assets/icon/play.png')"
                width="20">
            </div>
            <div
              v-if="row[`dataTimer${i.key}`].running && row[`dataTimer${i.key}`].startTimer > 0 && !row[`dataTimer${i.key}`].stoped"
              class="shape-grey"
              @click="pause(row.id, `dataTimer${i.key}`)">
              <img
                :src="require('@/assets/icon/pause.png')"
                width="15">
            </div>
            <div
              v-if="!row[`dataTimer${i.key}`].running && row[`dataTimer${i.key}`].startTimer > 0 && !row[`dataTimer${i.key}`].stoped"
              class="shape-blue-sky"
              @click="start(row.id, `dataTimer${i.key}`)">
              <img
                :src="require('@/assets/icon/play-blue.png')"
                width="20">
            </div>
            <div
              v-if="row[`dataTimer${i.key}`].stoped"
              class="shape-green">
              <img
                :src="require('@/assets/icon/check.png')"
                width="20">
            </div>
          </div>
          <div
            v-if="row[`dataTimer${i.key}`].startTimer > 0 && !row[`dataTimer${i.key}`].stoped"
            class="col-md-3">
            <div
              class="shape-red"
              @click="stop(row.id, `dataTimer${i.key}`)">
              <img
                :src="require('@/assets/icon/stop.png')"
                width="15">
            </div>
          </div>
          <div class="col-md-6 m__t--8">{{ row[`dataTimer${i.key}`].time }}</div>
        </div>
      </div>
      <div v-if="cekTypeData(i.key) === 'person' && row[i.key]">
        <div class="d-flex">
          <div class="td">
            <b-img
              v-if="row[i.key].photo"
              :src="row[i.key].photo"
              rounded="circle"
              alt="img"
              class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            <b-img
              v-else
              :src="require('@/assets/logo/user1.png')"
              rounded="circle"
              alt="img"
              class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
          </div>
          <div class="td p__t--7">
            <div>{{ row[i.key].email }}</div>
            <div>{{ row[i.key].name }}</div>
          </div>
        </div>
      </div>
      <div v-if="cekTypeData(i.key) === '[]attachment'">
        <div
          style="width: max-content">
          <template v-for="(file, index) in row[i.key]">
            <j-attachment-type-column
              v-if="file.url"
              :key="`${i.key}-${index}`"
              :file-url="file.url"
              :file-name="file.name" />
          </template>
        </div>
      </div>
      <div
        v-if="i.type === 'action_button' && i.config && i.config.action_buttons_full"
        class="d-flex">
        <div
          v-for="(item, index) in i.config.action_buttons_full"
          v-show="setVisibilityActionButtonTable(item, row)"
          :key="index"
          class="m__r--5 m__b--5">
          <b-button
            :style="{ backgroundColor: item.background_color, color: item.font_color }"
            class="btn btn-action-on-table"
            @click="confirmActionButtonTable(item, row, true, 'table_view')">
            {{ item.label }}
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jAttachmentTypeColumn from '@/components/attachment-column/jAttachmentTypeColumn';
import jMixActionButton from '@/mixins/jMixActionButton';
import currency from '@/assets/file/currency.json';

export default {
  components: {
    jAttachmentTypeColumn,
  },

  mixins: [jMixActionButton],

  props: {
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    mode: {
      type: String,
      default: '',
    },
    row: {
      type: Object,
      default: () => {},
    },
    expandRow: {
      type: Array,
      default: () => [],
    },
    tableHeadings: {
      type: Object,
      default: () => {},
    },
    isServerTable: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      currencyOptions: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        currencySymbol: 'Rp',
        currencySymbolPlacement: 'p',
        roundingMethod: 'U',
        minimumValue: '-999999999999999.99',
        maximumValue: '999999999999999',
        negativePositiveSignPlacement: 'r',
        negativeBracketsTypeOnBlur: '(,)',
      },
    };
  },

  methods: {
    cekTypeData(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (dataKey === '') { return ''; }
      if (dataKey === null) { return ''; }
      if (this.mode === 'form' || this.mode === 'dataset') {
        const findType = this.formData.columns[dataKey];
        return findType ? findType.type : '';
      }

      // eslint-disable-next-line no-nested-ternary
      const dataColumn = this.formUi ?
        // eslint-disable-next-line no-nested-ternary
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ?
            this.formUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[dataKey];
      return findType ? findType.type : '';
    },

    convertTimestamp(data) {
      if (data) {
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    convertTime(data) {
      if (data) {
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    start(id, field) {
      this.$emit('start-timer', id, field);
    },

    pause(id, field) {
      this.$emit('pause-timer', id, field);
    },

    stop(id, field) {
      this.$emit('stop-timer', id, field);
    },

    getHeaderName(key) {
      if (this.tableHeadings) {
        return this.tableHeadings[key];
      }
      return key;
    },

    setCurrencySelectionOptions(column) {
      const options = Object.assign({}, this.currencyOptions);
      options.currencySymbol = column && currency[column] ? currency[column].symbol : 'Rp';
      return options;
    },
  },
};
</script>

<style lang="scss">
  .row-expand {
    &-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1.2rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #848689;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
</style>
