<template>
  <div>
    <jListFlowSLA
      :oos-route="oosRoute"
    />
  </div>
</template>

<script>
import jListFlowSLA from './list/jListFlowSLA';

export default {
  // eslint-disable-next-line
  name: 'jFlowSLA',
  components: {
    jListFlowSLA,
  },
  mixins: [],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
};
</script>
