<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.dataForm.costcenter.$error }">
          <label>Cost Center*</label>
          <j-single-select
            v-model="dataForm.costcenter"
            :options="cost_center"
            label="name"
            value-format="object"
            placeholder="Cost Center" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.dataForm.taxLocation.$error }">
          <label>Tax Location*</label>
          <j-single-select
            v-model="dataForm.taxLocation"
            :options="[]"
            disabled
            label="name"
            value-format="object"
            placeholder="Tax Location" />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.dataForm.region.$error }">
          <label>Company Region*</label>
          <j-single-select
            v-model="dataForm.region"
            :options="company_regions"
            placeholder="Company Region" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.dataForm.start_date.$error }">
          <label>Effective Begin Date*</label>
          <j-datepicker
            v-model="$v.dataForm.start_date.$model"
            :disabled-dates="disabledStartDate($v.dataForm.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.dataForm.end_date.$error }">
          <label>Effective End Date</label>
          <j-datepicker
            v-model="$v.dataForm.end_date.$model"
            :disabled-dates="disabledEndDate($v.dataForm.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>

    <div class="pull-right">
      <b-button
        v-if="mode === 'edit'"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button>
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        v-if="mode === 'create'"
        class="btn blue"
        @click="createRecord">
        Submit
      </b-button>
      <b-button
        v-else
        class="btn blue"
        @click="updateRecord">
        Update
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import eventBus from '../event-bus/index';

export default {
  name: 'JCostCenterForm',
  mixins: [jGlobalOptions],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      dataForm: {
        costcenter: null,
        taxLocation: null,
        region: null,
        start_date: null,
        end_date: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),
    ...mapState('jStorePayrollInfo', ['company_regions', 'cost_center']),

    generateData() {
      const genData = {
        cost_center_id: this.dataForm.costcenter.id,
        company_region_id: this.dataForm.region,
        effective_begin: this.$moment(this.dataForm.start_date).format('YYYY-MM-DD'),
        effective_end: this.dataForm.end_date ? this.$moment(this.dataForm.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
  },
  watch: {
    // eslint-disable-next-line
    'dataForm.costcenter': function(val) {
      if (val.tax_location) {
        this.dataForm.taxLocation = {
          id: val.tax_location.id,
          label: val.tax_location.name,
          text: val.tax_location.name,
        };
      } else {
        this.dataForm.taxLocation = null;
      }
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });

    if (this.mode === 'edit') {
      this.dataForm = {
        id: this.detail.id,
        costcenter: { id: this.detail.cost_center_id },
        region: this.detail.company_region_id,
        start_date: this.detail.effective_begin,
        end_date: this.detail.effective_end,
      };

      const taxLoc = this.findTaxLocation(this.detail.cost_center_id);
      this.dataForm.taxLocation = taxLoc ?
        {
          id: taxLoc.id,
          label: taxLoc.name,
        } : null;
    } else {
      this.dataForm = {
        costcenter: null,
        taxLocation: null,
        region: null,
        start_date: null,
        end_date: null,
      };

      this.$v.dataForm.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCreateCostCenter', 'actionUpdateCostCenter', 'actionDeleteCostCenter']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    closeRecord() {
      this.dataForm = {
        costcenter: null,
        taxLocation: null,
        region: null,
        start_date: null,
        end_date: null,
      };

      this.$nextTick(() => {
        if (this.$v.dataForm.$error) {
          this.$v.dataForm.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async createRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionCreateCostCenter({
          payrollId: this.payrollId,
          params: this.generateData,
        });

        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    async updateRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionUpdateCostCenter({
          payrollId: this.payrollId,
          params: this.generateData,
          costId: this.dataForm.id,
        });
        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteCostCenter({
            payrollId: this.payrollId,
            costId: this.dataForm.id,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      });
    },
    findTaxLocation(id) {
      const data = this.cost_center.find(el => Number(el.id) === Number(id));
      return data.tax_location || null;
    },
  },
  validations() {
    return {
      dataForm: {
        costcenter: { required },
        taxLocation: { },
        region: { required },
        start_date: { required },
        end_date: { },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
