<!-- eslint-disable max-len -->
<template>
  <div>
    <!-- Filter Data Options Search -------------------------------------------------- -->
    <div
      v-if="options_search_master.length > 0"
      class="component-filter">
      <div class="d-flex">
        <img
          :src="require('@/assets/icon/filter.png')"
          width="10"
          height="12"
          class="m__t--2">
        <h4 class="m__l--5">Filter</h4>
      </div>
      <b-row>
        <b-col md="12">
          <j-form-base
            ref="jFormSearch"
            :data-fields="dataFields"
            :is-search="true"/>
        </b-col>
      </b-row>
      <b-button
        class="btn btn-filter-canvas m__t--10"
        @click="setFilterCanvas">
        Apply
      </b-button>
    </div>

    <!-- Filter Data Default -------------------------------------------------- -->
    <b-row
      v-else
      class="component-filter">
      <b-col cols="6">
        <h6 class="font-weight-bold">Filter Data</h6>
      </b-col>
      <b-col cols="6">
        <i
          v-b-toggle.filter-data
          class="fa fa-lg fa-chevron-down pull-right"/>
      </b-col>
      <b-col cols="12">
        <j-collapse
          id="filter-data"
          :visible="false">
          <b-col cols="12">
            <draggable v-model="dataFilter">
              <transition-group>
                <div
                  v-for="(data, index) in dataFilter"
                  :key="index"
                  class="list-column-ui">
                  <b-row>
                    <b-col
                      md="1"
                      class="d-flex align-items-center justify-content-center cursor-pointer">
                      <i class="fa fa-2x fa-ellipsis-v"/>
                    </b-col>
                    <b-col md="4">
                      <b-form>
                        <label> Column </label>
                        <j-single-select
                          v-model="data.column"
                          :options="variableOptionsClass"
                          :placeholder="'Select Column'"
                          value-format="object"
                          label="label"
                        />
                      </b-form>
                    </b-col>
                    <b-col
                      v-if="data.column && data.column.type === 'timestamp'"
                      md="3">
                      <b-form>
                        <label> Start Date </label>
                        <j-datepicker
                          v-model="data.start_date"
                          placeholder="Start Date"
                          format="MMM dd, yyyy"/>
                      </b-form>
                    </b-col>
                    <b-col
                      v-if="data.column && data.column.type === 'timestamp'"
                      md="3">
                      <b-form>
                        <label> End Date </label>
                        <j-datepicker
                          v-model="data.end_date"
                          placeholder="End Date"
                          format="MMM dd, yyyy"/>
                      </b-form>
                    </b-col>
                    <b-col
                      v-if="data.column === null || data.column.type !== 'timestamp'"
                      md="6">
                      <b-form>
                        <label> Value </label>
                        <j-input
                          v-model="data.value"
                          placeholder="Enter value"/>
                      </b-form>
                    </b-col>
                    <b-col
                      md="1"
                      class="d-flex align-items-center justify-content-center cursor-pointer">
                      <i
                        class="fa fa-2x fa-trash"
                        @click="deleteFilter(index)"/>
                    </b-col>
                  </b-row>
                </div>
              </transition-group>
            </draggable>

            <b-row>
              <b-col cols="6">
                <button
                  class="btn btn-add-column"
                  @click="addFilter">
                  + Add
                </button>
              </b-col>
              <b-col cols="6">
                <b-button
                  class="btn grey btn-import-form pull-right"
                  @click="setFilterCanvas">
                  <i class="fa fa-search fa-lg"/> Search
                </b-button>
              </b-col>
            </b-row>
          </b-col>
        </j-collapse>
      </b-col>
    </b-row>

    <!-- Filter Timeframe -------------------------------------------------- -->
    <div
      v-if="canvasData && canvasData.is_show_timeframe"
      class="d-flex justify-content-between align-items-center mb-4"
    >
      <div class="wrap-timeframe">
        <div
          v-for="time in timeframe_1"
          :key="time.key"
          :class="{'active': selectedTimeframe === time.key}"
          class="timeframe"
          @click="selectedTimeframe = time.key"
        >
          {{ time.text }}
        </div>
      </div>

      <div class="wrap-timeframe">
        <div
          v-for="time in timeframe_2"
          :key="time.key"
          :class="{'active': selectedTimeframe === time.key}"
          class="timeframe"
          @click="selectTimeframe(time.key)"
        >
          {{ time.text }}
        </div>
      </div>

      <div class="wrap-timeframe">
        <div
          :class="{'active': highlighted.from && highlighted.to}"
          class="timeframe timeframe-single"
          @click="showRangePicker = !showRangePicker"
        >
          <i class="fa fa-calendar-o mr-2" />
          Search Range
        </div>

        <!-- Popup select range -->
        <div
          v-if="showRangePicker"
          class="popup-select-range"
        >
          <div
            :class="{'disabled': !highlighted.from && !highlighted.to}"
            class="btn-reset-range mb-2"
            @click="resetTimeframeRange"
          >
            Reset
          </div>

          <div class="d-flex align-items-center mb-3">
            <j-datepicker
              id="dateFromTimeframe"
              v-model="highlighted.from"
              :error-required="false"
              format="MMM dd, yyyy"
              placeholder="From"
              class="mr-2"
            />
            <j-datepicker
              id="dateToTimeframe"
              v-model="highlighted.to"
              :error-required="false"
              :disabled="!highlighted.from"
              :disabled-dates="disabledToDate(highlighted.from)"
              format="MMM dd, yyyy"
              placeholder="To"
            />
          </div>

          <j-datepicker
            v-if="highlighted.from && highlighted.to"
            id="highlightRange"
            :disabled="true"
            :auto-open="true"
            :minimum-view="'day'"
            :maximum-view="'day'"
            :highlighted="highlighted"
            format="MMM dd, yyyy"
          />
        </div>
      </div>
    </div>

    <!-- Widget Chart -------------------------------------------------- -->
    <div
      v-if="showWidget"
      class="canvas-container"
    >
      <b-row class="m__b--10">
        <b-col
          v-for="(widget, index) in dataWidget"
          :key="index"
          :md="checkGrid(widget.grid)">
          <div class="component-card">
            <h4>{{ widget.name }} | <small>{{ activeTimeframe || widget.timeframe }}</small></h4>
            <canvas-chart
              v-if="isChart(widget.type)"
              :ref="`widget-comp-${index}`"
              :data-chart="widget"
              :timeframe-active="selectedTimeframe"
              :timeframe-date-range="highlighted"
            />
            <canvas-text
              v-if="widget.type === 'text'"
              :ref="`widget-comp-${index}`"
              :data-text="widget"
              :timeframe-active="selectedTimeframe"
              :timeframe-date-range="highlighted"
            />
            <canvas-table
              v-if="widget.type === 'table'"
              :ref="`widget-comp-${index}`"
              :data-table="widget"
              :timeframe-active="selectedTimeframe"
              :timeframe-date-range="highlighted"
            />
            <canvas-map
              v-if="widget.type === 'map'"
              :ref="`widget-comp-${index}`"
              :data-map="widget"
              :timeframe-active="selectedTimeframe"
              :timeframe-date-range="highlighted"
            />
            <canvas-bar
              v-if="widget.type === 'progress_bar'"
              :ref="`widget-comp-${index}`"
              :data-bar="widget"
              :timeframe-active="selectedTimeframe"
              :timeframe-date-range="highlighted"
            />
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-plusplus */
import { mapActions } from 'vuex';
import jApi from '@/services/jApi';
import canvasChart from '@/components/canvas/chart';
import canvasText from '@/components/canvas/text';
import canvasTable from '@/components/canvas/table';
import canvasMap from '@/components/canvas/map';
import canvasBar from '@/components/canvas/bar';

import jSearchBase from '@/views/application/application-component/form-ui/form-base/jSearchBase';
import jFormBase from '@/views/application/application-component/form-ui/form-base/jFormBase';
import draggable from 'vuedraggable';

export default {
  components: {
    canvasChart,
    canvasText,
    canvasTable,
    canvasMap,
    canvasBar,
    jSearchBase,
    jFormBase,
    draggable,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      canvasId: JSON.parse(this.element.info).canvas_id,
      canvasData: null,
      chart_arr: ['bar_chart', 'line_chart', 'pie_chart'],
      dataFilter: [{
        column: null,
        value: '',
        start_date: null,
        end_date: null,
      }],
      variableOptionsClass: [],
      options_search_master: [],
      dataWidget: [],
      showWidget: false,
      lengthWidget: 0,
      dataFields: [],

      // Timeframe
      selectedTimeframe: null,
      timeframe_1: [
        { key: 'This Day', text: 'This Day' },
        { key: 'This Week', text: 'This Week' },
        { key: 'This Month', text: 'This Month' },
        { key: 'This Year', text: 'This Year' },
      ],
      timeframe_2: [
        { key: '7 days ago', text: '7D' },
        { key: '30 days ago', text: '30D' },
        { key: '365 days ago', text: '365D' },
        { key: '3 years ago', text: '3Y' },
        { key: '5 years ago', text: '5Y' },
      ],
      showRangePicker: false,
      highlighted: {
        from: null,
        to: null,
      },
    };
  },
  computed: {
    activeTimeframe() {
      let timeframe = '';
      if (this.selectedTimeframe) timeframe = this.selectedTimeframe;
      if (this.highlighted.from && this.highlighted.to) {
        timeframe = `${this.formatDate(this.highlighted.from)} - ${this.formatDate(this.highlighted.to)}`;
      }

      return timeframe;
    },
  },
  watch: {
    highlighted: {
      handler(val) {
        if (val.from && val.to) {
          this.selectedTimeframe = null;
        }
      },
      deep: true,
    },
  },
  created() {
    const req = {
      page: 1,
      limit: 10,
      filter: {
        id: [this.canvasId],
      },
    };
    this.actionGetCanvas(req).then((res) => {
      const dataCanvas = res.data[0];
      this.canvasData = dataCanvas;

      dataCanvas.widgets.forEach((e, index) => {
        this.dataWidget.push({});
        if (e.filter_function && e.type !== 'table') {
          this.getParamByFunction(e, index);
        } else {
          this.getFormData(e.form_data_id, index, {}, e.dataset);
        }
      });

      if (this.canvasData.search_options_list && this.canvasData.search_options_list.length > 0) {
        this.options_search_master = this.canvasData.search_options_list.map((e) => { e.id = e.field_data_key; return e; });
        this.setFieldSeach();
      }
    });
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetCanvas', 'findFormData', 'actionGetFunctionData']),

    setFieldSeach() {
      this.dataFields = this.canvasData.search_options_list.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: '',
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: '4',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: false,
        is_hidden: false,
        is_mandatory: false,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: false,
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_data_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: [],
        master_groups: [],
        error_input: false,
        error_message: '',
      }));
    },

    getParamByFunction(widgetData, widgetIndex) {
      const filterFunctionKeys = Object.keys(widgetData.filter_function);
      const filterFunctionValues = Object.values(widgetData.filter_function);
      const lengthFunction = filterFunctionValues.length;
      let lengthProgress = 0;
      const filterFunction = {};

      if (lengthFunction > 0) {
        filterFunctionValues.forEach((e, index) => {
          this.actionGetFunctionData(e).then((res) => {
            filterFunction[filterFunctionKeys[index]] = res;
            lengthProgress++;
            if (lengthFunction === lengthProgress) {
              this.getFormData(widgetData.form_data_id, widgetIndex, filterFunction, widgetData.dataset);
            }
          });
        });
      } else {
        this.getFormData(widgetData.form_data_id, widgetIndex, {}, widgetData.dataset);
      }
    },

    addFilter() {
      this.dataFilter.push({
        column: null,
        value: '',
        start_date: null,
        end_date: null,
      });
    },

    deleteFilter(index) {
      this.dataFilter.splice(index, 1);
    },

    async getFormData(id, index, filter, dataset) {
      if (id) {
        const reqData = {
          form_data_id: id,
        };
        this.findFormData(reqData).then((res) => {
          this.lengthWidget++;
          const dataColumn = Object.values(res.data.columns);
          this.canvasData.widgets[index].columns = dataColumn;
          this.canvasData.widgets[index].form_data = res.data;
          this.canvasData.widgets[index].filter_function_value = filter;
          this.dataWidget[index] = this.canvasData.widgets[index];
          this.showWidget = this.canvasData.widgets.length === this.lengthWidget;

          this.setVariableOptionsClass(dataColumn);
        });
      } else if (dataset) {
        const { data } = await this.getDetailDataset(dataset.dataset_id);
        if (!data.error) {
          this.lengthWidget++;
          const dataColumn = Object.values(data.data.column);
          this.canvasData.widgets[index].columns = dataColumn;
          this.canvasData.widgets[index].filter_function_value = filter;
          this.dataWidget[index] = this.canvasData.widgets[index];
          this.canvasData.widgets[index].form_data = {
            ...data.data,
            columns: data.data.column,
          };
          this.showWidget = this.canvasData.widgets.length === this.lengthWidget;

          // this.setVariableOptionsClass(dataColumn);
        }
      } else {
        this.lengthWidget++;
        this.canvasData.widgets[index].filter_function_value = filter;
        this.dataWidget[index] = this.canvasData.widgets[index];
        this.showWidget = this.canvasData.widgets.length === this.lengthWidget;
      }
    },

    checkGrid(val) {
      let value;

      if (val === '1x1') {
        value = '4';
      }

      if (val === '1x2') {
        value = '8';
      }

      if (val === '1x3') {
        value = '12';
      }

      return value;
    },

    isChart(type) {
      // eslint-disable-next-line
      return this.chart_arr.includes(type);
    },

    async setFilterCanvas() {
      if (this.options_search_master.length > 0) {
        this.dataFilter = [];
        // const param = await this.options_search_master.forEach((e, index) => {
        //   const dataRef = `jFormSearch-${index}`;
        //   this.$refs[String(dataRef)][0].getData().then((res) => {
        //     this.dataFilter.push({
        //       column: e,
        //       value: res,
        //       start_date: null,
        //       end_date: null,
        //     });
        //   });
        // });

        const param = await this.$refs.jFormSearch.getData().then((res) => {
          res.forEach((e, index) => {
            this.dataFilter.push({
              column: e,
              value: e.value,
              start_date: null,
              end_date: null,
            });
          });
        });
      }

      setTimeout(() => {
        this.canvasData.widgets.forEach((e, index) => {
          const dataRef = `widget-comp-${index}`;
          this.$refs[String(dataRef)][0].setFilter(this.dataFilter);
        });
      }, 200);
    },

    setVariableOptionsClass(dataColumn) {
      dataColumn.forEach((column) => {
        const existData = this.variableOptionsClass.find(f => f.name === column.name);
        if (column.type !== '[]attachment' && !existData) {
          if (column.type === 'person') {
            this.variableOptionsClass.push({
              id: `${column.name}.company_user_id`,
              label: `${column.name}.company_user_id`,
              text: `${column.name}.company_user_id`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.name`,
              label: `${column.name}.name`,
              text: `${column.name}.name`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.email`,
              label: `${column.name}.email`,
              text: `${column.name}.email`,
              name: column.name,
              type: column.type,
            });
          } else if (column.type === 'object') {
            this.variableOptionsClass.push({
              id: `${column.name}.id`,
              label: `${column.name}.id`,
              text: `${column.name}.id`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.name`,
              label: `${column.name}.name`,
              text: `${column.name}.name`,
              name: column.name,
              type: column.type,
            });
          } else if (column.type === 'timer') {
            this.variableOptionsClass.push({
              id: `${column.name}.state`,
              label: `${column.name}.state`,
              text: `${column.name}.state`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.duration`,
              label: `${column.name}.duration`,
              text: `${column.name}.duration`,
              name: column.name,
              type: column.type,
            });
          } else if (column.type === 'tags') {
            this.variableOptionsClass.push({
              id: `${column.name}.name`,
              label: `${column.name}.name`,
              text: `${column.name}.name`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.background`,
              label: `${column.name}.background`,
              text: `${column.name}.background`,
              name: column.name,
              type: column.type,
            });
            this.variableOptionsClass.push({
              id: `${column.name}.font_color`,
              label: `${column.name}.font_color`,
              text: `${column.name}.font_color`,
              name: column.name,
              type: column.type,
            });
          } else {
            this.variableOptionsClass.push({
              id: column.name,
              label: column.name,
              text: column.name,
              name: column.name,
              type: column.type,
            });
          }
        }
      });
    },

    async getDetailDataset(datasetId) {
      const api = jApi.generateApi();
      const params = {
        id: datasetId,
      };
      const response = await api.get('/nocode/joana/dataset/get-public', { params });
      return response;
    },

    resetTimeframeRange() {
      this.highlighted.from = null;
      this.highlighted.to = null;
    },

    selectTimeframe(timeframe) {
      this.selectedTimeframe = timeframe;
      this.resetTimeframeRange();
    },

    disabledToDate(fromDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(fromDate),
        }],
      };
    },

    formatDate(dateValue) {
      const date = new Date(dateValue);
      let day = date.getDate();
      let month = date.getMonth() + 1;
      const year = date.getFullYear();

      if (day < 10) day = `0${day}`;
      if (month < 10) month = `0${month}`;

      const formattedDate = `${day}/${month}/${year}`;
      return formattedDate;
    },
  },
};
</script>

<style lang="scss" scoped>
.canvas-container {
  .component-card {
    min-height: 313px;

    h4 {
      margin-bottom: 20px;

      small {
        font-size: 11px;
        font-weight: normal !important;
        color: #ccc;
      }
    }
  }
}

.wrap-timeframe {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #F1F1F1;

  .timeframe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #606060;
    text-align: center;
    background-color: transparent;
    height: 100%;
    padding: 0 16px;
    border-left: 1px solid #F1F1F1;
    transition: all ease 0.4s;;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-left: none;
    }
    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &.timeframe-single {
      border-radius: 8px;
    }
    &.active {
      background-color: #1A85E4;
      color: white;
    }
  }

  .popup-select-range {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    box-shadow: 0px 2px 10px #f4f4f4;
    z-index: 100;

    .btn-reset-range {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F2F2F2;
      font-weight: 500;
      color: #606060;
      border-radius: 6px;
      cursor: pointer;
      transition: all ease 0.4s;

      &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}

.list-column-ui {
  background-color: #f9f9f9;
  margin: 8px 0;
  padding: 4px 8px;
}
.btn-add-column {
  color: #808285;
  padding: 0;
  margin-bottom: 16px;
}

.component-filter {
  padding: 20px;
  margin: 0px 0px 20px 0px;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
}

.component-filter--label {
  font-weight: 500;
  font-size: 14px;
}

.list-options-search {
  min-width: 310px;
  font-size: 12px;
  font-weight: 400;
}
</style>
