<!-- eslint-disable max-len -->
<template>
  <div
    id="custom-hierarchy"
    class="component-card">
    <b-row class="m__b--10">
      <b-col
        md="6"
        class="component-title">
        {{ element.name }}
      </b-col>
      <b-col md="6">
        <div
          class="generate-pdf-hierarchy pull-right"
          @click="generateReport">
          <img
            :src="require('@/assets/icon/generate-pdf.png')"
            class="m__r--5">
          GENERATE PDF
        </div>
      </b-col>
    </b-row>
    <div class="wrap-hierarchy">
      <div class="hierarchy-block">
        <div
          v-for="(dataRow, indexRow) in organigramData"
          :key="indexRow"
          class="hierarchy-block-rows">
          <div
            v-for="(dataCol, indexCol) in dataRow"
            :key="indexCol"
            class="hierarchy-block-cols">
            <div
              v-if="indexRow !== 0"
              :class="createHorizontalLine(indexCol, indexRow, dataRow.length)"
              :style="createLineStyle(indexRow, indexCol, dataRow.length)"
            >
              {{ dataRow.length > 1 ? '&nbsp;' : '' }}
            </div>
            <div>
              <div
                v-if="indexRow !== 0"
                class="hierarchy-line-vertical">&nbsp;</div>
              <div
                :class="[
                  indexRow !== 0 ? 'cursor-pointer' : '',
                  dataCol.showChild ? 'block-container-bordered' : 'block-container',
                  dataCol.color ? dataCol.color : 'default'
                ]"
                class="hierarchy-bordered tooltips"
                @click="getChilds(indexRow, dataCol, dataCol.totalChilds)">
                <div class="hierarchy-label-level font-weight-bold cursor-pointer">
                  {{ dataCol.level.toUpperCase() }}
                </div>
                <span class="tooltipstext">{{ dataCol.name !== ' ' ? dataCol.name : '-' }}</span>
                <br>
                <div class="hierarchy-label-name font-weight-bold mb-4 cursor-pointer">
                  {{ dataCol.name !== ' ' ? dataCol.name : '-' }}
                </div>
              </div>
              <div class="hierarchy-total-childs m--0">{{ dataCol.totalChilds }}</div>
            </div>
            <div
              v-if="dataCol.showChild"
              class="hierarchy-line-vertical">&nbsp;</div>
            <div
              v-else
              class="hierarchy-line-vertical-white">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    <vue-html2pdf
      ref="html2Pdf"
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="false"
      :paginate-elements-by-height="1400"
      :pdf-quality="2"
      :manual-pagination="false"
      filename="Hierarchy"
      pdf-format="a2"
      pdf-orientation="landscape"
      pdf-content-width="100%"
      @progress="onProgress($event)"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)">
      <section slot="pdf-content">
        <div
          class="wrap-hierarchy"
          style="margin: 40px auto;"
        >
          <div style="width: min-content; margin: 0 auto;">
            <div
              v-for="(dataRow, indexRow) in organigramData"
              :key="indexRow"
              style="
                display: flex;
                justify-content: center;
                text-align: unset;
                overflow: unset;">
              <div
                v-for="(dataCol, indexCol) in dataRow"
                :key="indexCol"
                class="hierarchy-block-cols"
                style="padding: 0 10px;">
                <div
                  v-if="indexRow !== 0"
                  :class="createHorizontalLine(indexCol, indexRow, dataRow.length)"
                  :style="createLineStyle(indexRow, indexCol, dataRow.length, 'pdf')"
                >
                  {{ dataRow.length > 1 ? '&nbsp;' : '' }}
                </div>
                <div :id="dataCol.id">
                  <div
                    v-if="indexRow !== 0"
                    class="hierarchy-line-vertical">&nbsp;</div>
                  <div
                    :style="dataCol.showChild ? 'background-color: #EDF7FF !important; border: 1px solid #1a85e4;' : setStyle(dataCol.color, 'background')"
                    style="padding: 10px; border-radius: 12px;"
                  >
                    <div
                      :style="dataCol.showChild ? 'color: #858585 !important;' : setStyle(dataCol.color, 'text')"
                      style="font-size: 9px; font-weight: 700;"
                    >
                      {{ dataCol.level.toUpperCase() }}
                    </div>
                    <br>
                    <div
                      style="font-size: 12px;
                      color: black;
                      font-weight: 600;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: normal;
                      white-space: pre-wrap;
                      text-align: center;
                      margin-bottom: 1.5rem !important;"
                    >{{ dataCol.name !== ' ' ? dataCol.name : '-' }}</div>
                  </div>
                  <div
                    style="position: relative !important;
                            background-color: #F6F6F6;
                            transform: translateX(260%);
                            padding-top: 8px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            vertical-align: text-bottom;
                            -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.17);
                            box-shadow: 0 0 9px 0 rgba(0,0,0,.17);
                            object-fit: cover;
                            background-color: #f6f6f6;
                            font-weight: 600;
                            font-size: 14px;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            color: #1a85e4;
                            margin: 0!important;">
                    {{ dataCol.totalChilds }}
                  </div>
                </div>
                <div
                  v-if="dataCol.showChild"
                  :style="setHeightLineVertical(dataCol.id)"
                  class="hierarchy-line-vertical">&nbsp;</div>
                <div
                  v-else
                  class="hierarchy-line-vertical-white">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </vue-html2pdf>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, import/no-extraneous-dependencies, max-len, no-unused-vars, no-eval, no-console, no-mixed-operators, no-underscore-dangle */
import jApiOrgchart from '@/services/jApiOrgchart';
import VueHtml2pdf from 'vue-html2pdf';
import { mapActions } from 'vuex';

export default {
  components: {
    VueHtml2pdf,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      organigramData: [],
      hierarchyList: [],
    };
  },
  computed: {

  },
  watch: {

  },
  created() {
    this.getHierarchy();
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading', 'toggleLoading']),

    generateReport() {
      this.showLoading();
      setTimeout(() => {
        this.$refs.html2Pdf.generatePdf();
      }, 200);
    },

    onProgress(data) {
      this.hideLoading();
      console.log(data, 'onProgress');
    },

    hasStartedGeneration(data) {
      console.log(data, 'hasStartedGeneration');
    },

    hasGenerated(data) {
      console.log(data, 'hasGenerated');
    },

    async getHierarchy() {
      const { endpoint_top_hierarchy: topUrl } = JSON.parse(this.element.info);
      try {
        const res = await jApiOrgchart.getTopHierarchy(topUrl);
        const { error, data } = res;
        if (!error) {
          this.getListHierarchy(data.id);
        }
      } catch (error) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', error.response.data.message);
      }
    },

    async getListHierarchy(id) {
      const { endpoint_list_hierarchy: childUrl } = JSON.parse(this.element.info);
      try {
        const res = await jApiOrgchart.getChildHierarchy(childUrl, { parent_id: id });
        const { error, data } = res;
        if (!error) {
          // Sort by layer
          data.childs.sort((a, b) => a.layer - b.layer);

          const dataHierarchy = [];
          dataHierarchy.push([
            {
              id: data.id,
              name: data.name,
              level: data.level,
              layer: data.layer,
              showChild: true,
              totalChilds: data.childs.length,
            },
          ]);

          const dataChilds = [];
          data.childs.forEach((val) => {
            const child = {
              id: val.id,
              name: val.name,
              level: val.level,
              layer: val.layer,
              color: val.color,
              childs: val.childs,
              // showChild: index === 0,
              showChild: false,
              totalChilds: val.total_childs,
            };
            dataChilds.push(child);
          });
          dataHierarchy.push(dataChilds);
          this.organigramData = dataHierarchy;
          this.hierarchyList = this._.cloneDeep(dataHierarchy);
        }
      } catch (error) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', error.response.data.message);
      }
    },

    async getChilds(index, dataChild, totalChilds) {
      if (index !== 0 && totalChilds !== 0) {
        try {
          this.toggleLoading('Please wait...');
          const { endpoint_list_hierarchy: childUrl } = JSON.parse(this.element.info);
          const res = await jApiOrgchart.getChildHierarchy(childUrl, { parent_id: dataChild.id });
          if (res) {
            const { error, data } = res;
            if (!error) {
              // Sort by layer
              data.childs.sort((a, b) => a.layer - b.layer);

              const dataChilds = [];
              data.childs.forEach((val) => {
                const child = {
                  id: val.id,
                  name: val.name,
                  level: val.level,
                  layer: val.layer,
                  color: val.color,
                  totalChilds: val.total_childs,
                };
                dataChilds.push(child);
              });
              this.organigramData[index].forEach((val, i) => {
                if (val.id === data.id) {
                  this.organigramData[index][i].showChild = true;
                } else {
                  this.organigramData[index][i].showChild = false;
                }
              });
              this.organigramData.splice(index + 1, 1000);
              this.organigramData.push(dataChilds);
            }
            this.toggleLoading('');
          }
        } catch (error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', error.response.data.message);
        }
      }
    },

    createHorizontalLine(indexCol, indexRow, dataRow) {
      let lineClass = '';
      const indexParent = indexRow - 1;
      const indexMiddleParent = ((this.organigramData[indexParent].length - 1) / 2) + 1;
      const activeChild = this.organigramData[indexParent].findIndex(data => data.showChild);
      const isEvenParent = this.isEven(this.organigramData[indexParent].length);
      const isEvenRow = this.isEven(dataRow);

      // If row have more than 1 data
      if (dataRow > 1) {
        // If row is even
        if (isEvenRow) {
          // If row parent > sub row
          if (this.organigramData[indexParent].length >= dataRow) {
            // If row only have 2 data
            if (dataRow === 2) {
              if (indexCol === 0) {
                lineClass = (activeChild + 1) < indexMiddleParent ? 'hierarchy-line-horizontal' : 'hierarchy-line-horizontal-first';
              } else if (indexCol === (dataRow - 1)) {
                lineClass = (activeChild + 1) > indexMiddleParent ? 'hierarchy-line-horizontal' : 'hierarchy-line-horizontal-last';
              }

            // If row have more than 2 data
            } else if (dataRow > 2) {
              if (indexCol === 0) lineClass = 'hierarchy-line-horizontal-first';
              else if (indexCol === (dataRow - 1)) lineClass = 'hierarchy-line-horizontal-last';
              else lineClass = 'hierarchy-line-horizontal';
            }

          // If row parent < sub row
          } else if (this.organigramData[indexParent].length < dataRow) {
            if (indexCol === 0) lineClass = 'hierarchy-line-horizontal-first';
            else if (indexCol === (dataRow - 1)) lineClass = 'hierarchy-line-horizontal-last';
            else lineClass = 'hierarchy-line-horizontal';
          }

        // If row is odd
        } else if (!isEvenRow) {
          if (indexCol === 0) lineClass = 'hierarchy-line-horizontal-first';
          else if (indexCol === (dataRow - 1)) lineClass = 'hierarchy-line-horizontal-last';
          else lineClass = 'hierarchy-line-horizontal';
        }

      // If row only have 1 data
      } else if (dataRow === 1) {
        // If parent row is even
        if (isEvenParent) {
          lineClass = 'hierarchy-line-horizontal';

        // If parent row is odd
        } else if (!isEvenParent) {
          if ((activeChild + 1) !== indexMiddleParent) lineClass = 'hierarchy-line-horizontal';
        }
      }
      return lineClass;
    },

    createLineStyle(indexRow, indexCol, dataRowLength, type) {
      let style = '';
      const indexParent = indexRow - 1;

      const indexMiddle = ((this.organigramData[indexRow].length + 1) / 2);
      const indexMiddleParent = ((this.organigramData[indexParent].length - 1) / 2) + 1;
      const activeChild = this.organigramData[indexParent].findIndex(data => data.showChild) + 1;

      const isEvenParent = this.isEven(this.organigramData[indexParent].length);
      const isEvenRow = this.isEven(dataRowLength);

      if (indexParent !== 0 && activeChild !== indexMiddleParent && activeChild > 0) {
        if (this.organigramData[indexParent].length > dataRowLength) {
          const marginToRight = type === 'pdf' ? 100 : 94;
          const marginToLeft = type === 'pdf' ? 93 : 95;
          const space = (activeChild > indexMiddleParent) ? activeChild - indexMiddleParent : indexMiddleParent - activeChild;

          // If position to right
          if (activeChild > indexMiddleParent) {
            // If data row only have 1 data
            if (dataRowLength === 1) {
              if (isEvenParent) {
                style = `width: ${(196 * Math.round(space)) - (196 / 2) + (4 * Math.round(space))}px; margin-left: ${marginToRight}px`;
              } else {
                style = `width: ${201 * space}px; margin-left: ${marginToRight}px`;
              }
            }

            // If data row have more than 1 data
            if (dataRowLength > 1) {
              // If row is even
              if (isEvenRow) {
                if (isEvenParent) {
                  if (space < 1) {
                    if (dataRowLength === 2) {
                      style = `width: ${104}px; margin-left: -8px`;
                    }
                  } else {
                    style = `width: ${197 * space}px;`;
                  }
                } else {
                  style = `width: ${(193 + (2 * space)) * space}px;`;
                }

              // If row is odd
              } else if (!isEvenRow) {
                if (indexCol + 1 === indexMiddle && space > 1) {
                  if (isEvenParent) {
                    style = `width: ${198 * Math.round(space)}px;`;
                  } else {
                    style = `width: ${(195 * space) - marginToRight}px;`;
                  }
                }
              }
            }
          }

          // If position to left
          if (activeChild < indexMiddleParent) {
            // If data row only have 1 data
            if (dataRowLength === 1) {
              if (isEvenParent) {
                const countWidth = (196 * Math.round(space)) - (196 / 2) + (4 * Math.round(space));
                style = `width: ${countWidth}px; margin-left: -${countWidth - marginToLeft}px`;
              } else {
                style = `width: ${201 * space}px; margin-left: -${(201 * space) - marginToLeft}px`;
              }
            }

            // If data row have more than 1 data
            if (dataRowLength > 1) {
              // If row is even
              if (isEvenRow) {
                if (isEvenParent) {
                  if (space < 1) {
                    if (dataRowLength === 2) {
                      if (indexCol + 1 === indexMiddle - 0.5) {
                        style = `width: ${104}px; margin-left: ${marginToRight}px`;
                      }
                    }
                  }
                  if (space > 1) {
                    if (indexCol + 1 === indexMiddle - 0.5) {
                      if (dataRowLength === 2) {
                        style = `width: ${202 * space}px; margin-left: -${((201 + (2 * Math.round(space))) * (Math.round(space) - 1)) / 2}px`;
                      }
                      if (dataRowLength > 2) {
                        style = `width: ${202 * space}px; margin-left: -${((201 + (1 * Math.round(space))) * (Math.round(space) - 1)) - 109}px`;
                      }
                    }
                  }
                } else if (!isEvenParent) {
                  if (indexCol + 1 === indexMiddle - 0.5) {
                    style = `width: ${(202 + (2 * space)) * space}px; margin-left: -${(202 + (1 * Math.round(space))) * (Math.round(space) - 1)}px`;
                  }
                }

              // If row is odd
              } else if (!isEvenRow) {
                if (indexCol + 1 === indexMiddle && space > 1) {
                  if (isEvenParent) {
                    style = `width: ${(201 + (1 * Math.round(space))) * Math.round(space)}px; margin-left: -${(200 + (1 * Math.round(space))) * (Math.round(space) - 1)}px`;
                  } else {
                    const countWidth = (197 * Math.round(space)) - (197 / 2) + (4 * Math.round(space));
                    style = `width: ${((201 + (1 * space)) * space) + marginToLeft}px; margin-left: -${countWidth}px`;
                  }
                }
              }
            }
          }
        }
      }

      return style;
    },

    isEven(n) {
      return n % 2 === 0;
    },

    setStyle(color, type) {
      let style = '';

      if (type === 'background') {
        switch (color) {
          case 'green-light':
            style = 'background-color: #98D4BB';
            break;
          case 'green':
            style = 'background-color: #218B82';
            break;
          case 'blue-light':
            style = 'background-color: #D2F0FF';
            break;
          case 'blue':
            style = 'background-color: #84A6D6';
            break;
          case 'pink-light':
            style = 'background-color: #FFD9D9';
            break;
          case 'pink':
            style = 'background-color: #C54B6C';
            break;
          case 'orange-light':
            style = 'background-color: #FEE6C9';
            break;
          case 'orange':
            style = 'background-color: #DBBC8E';
            break;
          case 'purple-light':
            style = 'background-color: #E4CEE0';
            break;
          case 'purple':
            style = 'background-color: #A15D98';
            break;
          default:
            style = 'background-color: #F7F7F7';
        }
      } else if (type === 'text') {
        if (color === 'green' || color === 'blue' || color === 'pink' || color === 'orange' || color === 'purple') {
          style = 'color: #e7e7e7;';
        } else {
          style = 'color: #8b8b8b;';
        }
      }

      return style;
    },

    setHeightLineVertical(id) {
      let style = '';
      const element = document.getElementById(id);

      if (element) {
        const height = element.getBoundingClientRect().height;
        const heightParent = element.parentNode.getBoundingClientRect().height - 26;
        const heightLine = (heightParent - height) + 26;

        style = `height: ${heightLine}px`;
      }

      return style;
    },
  },
};
</script>

<style lang="scss">
  #custom-hierarchy {
    .wrap-hierarchy {
      width: 100%;
      overflow-x: auto;
    }
    .hierarchy-block {
      width: min-content;
      margin: 0 auto;
    }

    .hierarchy-block-rows {
      display: flex;
      justify-content: center;
      text-align: unset;
      overflow: unset;
    }

    .hierarchy-block-cols {
      padding: 0 10px;
    }

    .hierarchy-bordered {
      padding: 10px;
    }

    .hierarchy-total-childs {
      position: relative !important;
      margin-top: -16px !important;
      background-color: #F6F6F6;
      transform: translateX(260%);
    }

    .hierarchy-label-name {
      font-size: 12px;
      color: black;
    }

    .hierarchy-label-level {
      font-size: 9px;
      color: #858585 ;
    }

    .hierarchy-line-vertical {
      margin-left: 94px !important;
    }

    .hierarchy-line-horizontal-first {
      margin-left: 94px !important;
    }

    .hierarchy-line-horizontal-last {
      width: 96px !important;
    }

    .block-container {
      border-radius: 12px;
      border: 1px solid transparent;

      &:hover{
        background-color: #EDF7FF !important;
        border: 1px solid #1a85e4;

        .hierarchy-label-level {
          color: #858585 !important;
        }
      }
    }

    .block-container-bordered {
      background-color: #EDF7FF !important;
      border: 1px solid #1a85e4;
      border-radius: 12px;

      .hierarchy-label-level {
        color: #858585 !important;
      }
    }

    .tooltips {
      position: relative;
    }

    .tooltips .tooltipstext {
      display: none;
      width: 200px;
      background-color: #F1F1F1;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 5px 8px;
      font-size: 10px;
      white-space: pre-wrap;
      margin-left: -20px;
      margin-top: -10px;
      border: solid .5px;

      /* Position the tooltips */
      position: absolute;
      z-index: 1;
    }

    .tooltips {
      &:hover {
        .tooltipstext {
          display: block;
        }
      }
    }

    .m-0-pdf {
      margin: 0 !important;
    }

    .generate-pdf-hierarchy {
      font-weight: 500;
      font-size: 9px;
      cursor: pointer;
    }

    // Color Layer
    .green-light {
      background-color: #98D4BB;
    }
    .green {
      background-color: #218B82;
      .hierarchy-label-level {
        color: #565656;
      }
    }
    .blue-light {
      background-color: #D2F0FF;
    }
    .blue {
      background-color: #84A6D6;
      .hierarchy-label-level {
        color: #565656;
      }
    }
    .pink-light {
      background-color: #FFD9D9;
    }
    .pink {
      background-color: #C54B6C;
      .hierarchy-label-level {
        color: #565656;
      }
    }
    .orange-light {
      background-color: #FEE6C9;
    }
    .orange {
      background-color: #DBBC8E;
      .hierarchy-label-level {
        color: #565656;
      }
    }
    .purple-light {
      background-color: #E4CEE0;
    }
    .purple {
      background-color: #A15D98;
      .hierarchy-label-level {
        color: #565656;
      }
    }
    .default {
      background-color: #F7F7F7;
    }
  }
</style>
