<template>
  <div
    :class="{'component-card' : !isInMultiple || is_full_screen_comp}"
    :style="`width: ${is_full_screen_comp ? 'max-content' : '100%'};
    min-width: ${is_full_screen_comp ? '100%' : ''};
    border: ${isInMultiple || is_full_screen_comp ? 'none' : '1px solid #f1f1f1'}`">
    <b-row
      v-if="showComponent"
      class="m__b--10">
      <b-col md="11">
        <div class="component-title">
          {{ formUi && formUi[checkView] && formUi[checkView].title ?
          formUi[checkView].title : element.name }}
        </div>
      </b-col>
      <b-col
        v-if="isFreezeHeaderTable"
        md="1"
        class="icon-full-screen">
        <img
          v-if="is_full_screen_comp"
          src="@/assets/icon/minimize.svg"
          class="cursor-pointer pull-right"
          @click="backFullScreenComponent()"
        >
        <img
          v-else
          src="@/assets/icon/maximize.svg"
          class="cursor-pointer pull-right"
          @click="fullScreenComponent()"
        >
        <div class="tooltip-freeze-header">
          {{ is_full_screen_comp ? 'Unfreeze' : 'Freeze' }} header
        </div>
      </b-col>
    </b-row>

    <div v-if="checkView === 'table_view' && showComponent && !isChangeViewExport">
      <j-table-view-component
        v-if="formUi.table_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
        @go-export="isChangeViewExport = true"
      />
      <div v-else>
        Setup table view not available.
      </div>
    </div>

    <div v-if="checkView === 'create_view' && showComponent">
      <j-create-view-component
        v-if="formUi.create_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
      />
      <div v-else>
        Setup create view not available.
      </div>
    </div>

    <div v-if="checkView === 'detail_view' && showComponent">
      <j-detail-view-component
        v-if="formUi.detail_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
      />
      <div v-else>
        Setup detail view not available.
      </div>
    </div>

    <div v-if="checkView === 'table_requester_view' && showComponent">
      <j-table-req-view-component
        v-if="formUi.table_requester_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
      />
      <div v-else>
        Setup table requestor view not available.
      </div>
    </div>

    <div v-if="checkView === 'table_approver_view' && showComponent">
      <j-table-app-view-component
        v-if="formUi.table_approver_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
      />
      <div v-else>
        Setup table requestor view not available.
      </div>
    </div>

    <div v-if="checkView === 'calendar_view' && showComponent">
      <j-calender-view-component
        v-if="formUi.calendar_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
      />
      <div v-else>
        Setup calender view not available.
      </div>
    </div>

    <div v-if="(checkView === 'export_view' || isChangeViewExport) && showComponent">
      <j-export-base
        v-if="formUi.export_view"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
        :view-changed="isChangeViewExport"
        @go-table="isChangeViewExport = false"
      />
      <div v-else>
        Setup export view not available.
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-unused-vars */
import { mapActions, mapMutations, mapState } from 'vuex';
import jCreateViewComponent from '@/views/application/application-component/form-ui/jCreateViewComponent';
import jTableViewComponent from '@/views/application/application-component/form-ui/jTableViewComponent';
import jDetailViewComponent from '@/views/application/application-component/form-ui/jDetailViewComponent';
import jTableReqViewComponent from '@/views/application/application-component/form-ui/jTableReqViewComponent';
import jTableAppViewComponent from '@/views/application/application-component/form-ui/jTableAppViewComponent';
import jCalenderViewComponent from '@/views/application/application-component/form-ui/jCalenderViewComponent';
import jExportBase from '@/views/application/application-component/form-ui/form-base/jExportBase';

export default {
  components: {
    jCreateViewComponent,
    jTableViewComponent,
    jDetailViewComponent,
    jTableReqViewComponent,
    jTableAppViewComponent,
    jCalenderViewComponent,
    jExportBase,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      showComponent: false,
      formUi: null,
      formData: null,
      isChangeViewExport: false,
      isFreezeHeaderTable: false,
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['is_full_screen_comp']),

    checkView() {
      return this.element.info ? JSON.parse(this.element.info).default_view : '';
    },

    isInMultiple() {
      return this.element.info ? (!!JSON.parse(this.element.info).filter_column) : '';
    },
  },
  watch: {
    is_full_screen_comp(val) {
      if (val) document.body.style.overflow = 'auto';
      else document.body.style.removeProperty('overflow');
    },
  },
  created() {
    const req = {
      page: 1,
      limit: 1,
      filter: {
        id: [JSON.parse(this.element.info).form_ui_id],
      },
    };
    this.actionGetSetupFormUi(req).then((res) => {
      const response = res.data[0];
      this.formUi = response;

      // set freeze header table
      const viewSupportFreezeTable = ['table_view', 'table_requester_view', 'table_approver_view', 'export_view'];
      if (!viewSupportFreezeTable.includes(this.checkView)) {
        this.isFreezeHeaderTable = false;
      } else {
        this.isFreezeHeaderTable = this.formUi[this.checkView].freeze_header_table || false;
      }

      if (response.form_data_id) {
        const reqData = {
          form_data_id: response.form_data_id,
        };
        this.findFormData(reqData).then((param) => {
          this.formData = param.data;
          this.showComponent = true;
        });
      } else if (response.type === 'dataset') {
        const reqData = {
          id: response.data_source.dataset.dataset_id,
        };
        this.getDetailDatasetByGroup(reqData).then((resDataset) => {
          const dataDetail = resDataset.data || null;
          if (dataDetail) {
            dataDetail.columns = dataDetail.column;
            this.formData = dataDetail;
            this.showComponent = true;
          }
        });
      } else {
        this.formData = {
          columns: response.data_source.external_url.columns,
          primary_key: '',
        };
        this.showComponent = true;
      }
    });
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetSetupFormUi', 'findFormData', 'getDetailDatasetByGroup']),
    ...mapMutations('jStoreFormUi', ['setFullScreenComp']),

    fullScreenComponent() {
      this.setFullScreenComp({
        is_full_screen_comp: true,
        id_full_screen_comp: this.isInMultiple ? this.element.name : this.element.id,
      });
    },

    backFullScreenComponent() {
      this.setFullScreenComp({
        is_full_screen_comp: false,
        id_full_screen_comp: null,
      });
    },
  },
};
</script>
