<!-- eslint-disable max-len -->
<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <div
      v-for="(dataRow, indexRow) in data_organigram_new"
      :key="indexRow"
      class="hierarchy-block-rows">
      <div
        v-for="(dataCol, indexCol) in dataRow"
        :key="indexCol"
        class="hierarchy-block-cols">
        <div
          v-if="indexRow !== 0 && dataRow.length > 1"
          :class="[indexCol === dataRow.length - 1 ? (dataRow.length > 1 ? 'hierarchy-line-horizontal-last' : '') :
        (indexCol === 0 ? 'hierarchy-line-horizontal-first' : 'hierarchy-line-horizontal')]">&nbsp;</div>
        <div
          v-if="indexRow !== 0"
          class="hierarchy-line-vertical">&nbsp;</div>
        <div
          :class="[indexRow !== 0 ? 'cursor-pointer' : '',
                   dataCol.showChild ? 'hierarchy-images-bordered' : 'hierarchy-images']">
          <i
            class="fa fa-edit hierarchy-icon-edit cursor-pointer"
            @click="onClickEdit(dataCol.id)"/>
          <img
            v-if="dataCol.photo"
            :src="dataCol.photo"
            @click="getChilds(indexRow, dataCol)">
          <b-img
            v-else
            :src="require('@/assets/logo/user1.png')"
            @click="getChilds(indexRow, dataCol)"/>
          <span class="hierarchy-total-childs">{{ dataCol.totalChilds }}</span>
        </div>
        <div
          :class="[indexRow !== 0 ? 'cursor-pointer' : '']"
          class="hierarchy-label-name"
          @click="getChilds(indexRow, dataCol)">
          {{ dataCol.name !== ' ' ? dataCol.name : '-' }}
        </div>
        <div
          :class="[indexRow !== 0 ? 'cursor-pointer' : '']"
          class="hierarchy-label-position"
          @click="getChilds(indexRow, dataCol)">
          {{ dataCol.position }}
        </div>
        <div
          v-if="dataCol.showChild"
          class="hierarchy-line-vertical">&nbsp;</div>
        <div
          v-else
          class="hierarchy-line-vertical-white">&nbsp;</div>
      </div>
    </div>

    <b-modal
      ref="updatePositionModal"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>

      <b-row>
        <b-col md="6">
          <b-form-group
            :class="{'error-input' : $v.data_position.position_name.$error}">
            <label for="title">Position Name<span
              style="color:red" >*</span></label>
            <j-input
              v-model="$v.data_position.position_name.$model"
              placeholder="Position Name"/>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group
            :class="{'error-input' : $v.data_position.position_code.$error}">
            <label for="title">Position Code<span
              style="color:red" >*</span></label>
            <j-input
              v-model="$v.data_position.position_code.$model"
              placeholder="Position Code"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group
        :class="{'error-input' : $v.data_position.parent.$error}"
        class="margin-position--">
        <label>Parent</label>
        <j-single-select
          v-model="$v.data_position.parent.$model"
          :is-async="true"
          :cache-options="false"
          :load-options="loadOptionsParent"
          value-format="object"
          placeholder="Select Parent"
          label="parent"
          search-prompt-text="Type minimum 3 characters to search..."/>
      </b-form-group>
      <b-form-group
        :class="{'error-input' : $v.data_position.assign_employee.$error}"
        class="margin-position--">
        <label>Employee Email</label>
        <j-single-select
          v-model="$v.data_position.assign_employee.$model"
          :is-async="true"
          :load-options="loadOptionsEmployee"
          value-format="object"
          placeholder="Select Employee Email"
          label="employee"
          search-prompt-text="Type minimum 3 characters to search..."/>
      </b-form-group>

      <div class="m__t--20 text-right">
        <b-button
          class="btn gray outline"
          @click="$refs.updatePositionModal.hide()">
          Close
        </b-button>
        <b-button
          class="btn blue outline"
          @click="updateOrganigram">
          Update
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required } from 'vuelidate/lib/validators';
import { mapActions, mapState } from 'vuex';

export default {
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      data_position: {
        position_name: { required },
        position_code: { required },
        parent: {},
        assign_employee: {},
      },
    };
  },
  data() {
    return {
      data_position: {
        id: 0,
        position_name: '',
        position_code: '',
        parent: null,
        assign_employee: null,
      },
      dataHierarchy: [
        [
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
        ],
        [
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
        ],
        [
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
        ],
        [
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
          {
            name: 'Isyana Saraswati',
            position: 'CEO',
            photo: 'https://jojo-receipt-qa.s3.ap-southeast-1.amazonaws.com/414/5f6d6fcd36c9b-image_picker_871F9F05-CB00-4A42-8D9F-A83368333769-17195-000006CA1A005EC5.jpg',
          },
        ],
      ],
    };
  },
  computed: {
    ...mapState('jStoreOrgchart', ['data_organigram_new', 'organigram_detail', 'position_updated', 'organigram_top']),

    generateData() {
      const data = {
        id: this.data_position.id,
        name: this.data_position.position_name,
        code: this.data_position.position_code,
        user_company_id: this.data_position.assign_employee ? Number(this.data_position.assign_employee.id) : null,
      };

      if (this.data_position.parent) {
        data.organigram_head_id = this.data_position.parent.id;
      }

      return data;
    },
  },
  watch: {
    organigram_detail(newVal) {
      if (newVal) {
        this.filter(newVal[0].name);
      }
    },

    organigram_top(newVal) {
      if (newVal) {
        this.filter(newVal.position_name);
      }
    },

    position_updated() {
      if (this.organigram_top) {
        this.filter(this.organigram_top.position_name);
      }
    },
  },
  created() {
    // this.detailOrganigram({ user_company_id: localStorage.getItem('userCompanyId') });
    this.getTopPosition();
  },
  methods: {
    ...mapActions('jStoreOrgchart', ['getListChartNew', 'getListChartChoose', 'detailOrganigram', 'detailOrganigramById', 'updatePosition', 'getTopPosition']),

    filter(val) {
      const request = {
        query_type: 'position_name',
        query: val,
      };
      this.getListChartNew(request);
    },

    getChilds(index, data) {
      if (index !== 0) {
        const request = {
          indexData: index,
          position_name: data.position,
        };
        this.getListChartChoose(request);
      }
    },

    onClickEdit(data) {
      const reqs = {
        id: Number(data),
      };

      this.detailOrganigramById(reqs).then((res) => {
        let newParent = null;
        let newAssignEmployee = null;

        if (res.organigram_head_id !== 0) {
          newParent = { id: res.organigram_head_id, label: res.organigram_head_name };
        }
        if (typeof res.user !== 'undefined') {
          newAssignEmployee = {
            id: res.user.id,
            label: `${res.user.first_name} ${res.user.last_name} (${res.user.email})`,
          };
        }

        this.data_position.id = res.id;
        this.data_position.position_code = res.code;
        this.data_position.position_name = res.name;
        setTimeout(() => {
          this.data_position.parent = newParent;
          this.data_position.assign_employee = newAssignEmployee;
        }, 500);
        this.$refs.updatePositionModal.show();
      });
    },

    updateOrganigram() {
      this.$v.data_position.$touch();
      if (!this.$v.data_position.$error) {
        this.updatePosition(this.generateData);
      }
      this.$refs.updatePositionModal.hide();
    },

    loadOptionsParent({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query_type: 'position',
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreOrgchart/getListParent', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 100,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreOrgchart/getListEmployee', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
  },
};
</script>
