<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <div v-html="decodeHtmlEntities(JSON.parse(element.info).html)"/>
  </div>
</template>

<script>

import he from 'he';

export default {
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
    };
  },
  created() {
  },
  methods: {
    decodeHtmlEntities(str) {
      return he.decode(str);
    },
  },
};
</script>
