<template>
  <div
    :class="{'component-card' : !isInMultiple || is_full_screen_comp}"
    :style="`width: ${is_full_screen_comp ? 'max-content' : '100%'};
    min-width: ${is_full_screen_comp ? '100%' : ''};
    border: ${isInMultiple || is_full_screen_comp ? 'none' : '1px solid #f1f1f1'}`">
    <b-row
      v-if="showComponent"
      class="m__b--10">
      <b-col md="11">
        <div class="component-title">
          {{ dataFormUi && dataFormUi[checkView] && dataFormUi[checkView].title ?
          dataFormUi[checkView].title : element.name }}
        </div>
      </b-col>
      <b-col
        v-if="isFreezeHeaderTable"
        md="1"
        class="icon-full-screen">
        <img
          v-if="is_full_screen_comp"
          src="@/assets/icon/minimize.svg"
          class="cursor-pointer pull-right"
          @click="backFullScreenComponent()"
        >
        <img
          v-else
          src="@/assets/icon/maximize.svg"
          class="cursor-pointer pull-right"
          @click="fullScreenComponent()"
        >
        <div class="tooltip-freeze-header">
          {{ is_full_screen_comp ? 'Unfreeze' : 'Freeze' }} header
        </div>
      </b-col>
    </b-row>

    <div v-if="checkView === 'table_view' && showComponent && !isChangeViewExport">
      <j-table-view-component
        v-if="dataFormUi.table_view"
        :element="element"
        :form-data="formData"
        :form-ui="dataFormUi"
        :is-multiple="true"
        @go-export="isChangeViewExport = true"
      />
      <div v-else>
        Setup table view not available.
      </div>
    </div>

    <div v-if="checkView === 'table_requester_view' && showComponent">
      <j-table-req-view-component
        v-if="dataFormUi.table_requester_view"
        :element="element"
        :form-data="formData"
        :form-ui="dataFormUi"
        :is-multiple="true"
      />
      <div v-else>
        Setup table requestor view not available.
      </div>
    </div>

    <div v-if="checkView === 'table_approver_view' && showComponent">
      <j-table-app-view-component
        v-if="dataFormUi.table_approver_view"
        :element="element"
        :form-data="formData"
        :form-ui="dataFormUi"
        :is-multiple="true"
      />
      <div v-else>
        Setup table requestor view not available.
      </div>
    </div>

    <div v-if="checkView === 'calendar_view' && showComponent">
      <j-calender-view-component
        v-if="dataFormUi.calendar_view"
        :element="element"
        :form-data="formData"
        :form-ui="dataFormUi"
        :is-multiple="true"
      />
      <div v-else>
        Setup calender view not available.
      </div>
    </div>

    <div v-if="(checkView === 'export_view' || isChangeViewExport) && showComponent">
      <j-export-base
        v-if="dataFormUi.export_view"
        :element="element"
        :form-data="formData"
        :form-ui="dataFormUi"
        :is-multiple="true"
        :view-changed="isChangeViewExport"
        @go-table="isChangeViewExport = false"
      />
      <div v-else>
        Setup export view not available.
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-unused-vars */
import { mapActions, mapMutations, mapState } from 'vuex';
import jTableViewComponent from '@/views/application/application-component/form-ui/jTableViewComponent';
import jTableReqViewComponent from '@/views/application/application-component/form-ui/jTableReqViewComponent';
import jTableAppViewComponent from '@/views/application/application-component/form-ui/jTableAppViewComponent';
import jCalenderViewComponent from '@/views/application/application-component/form-ui/jCalenderViewComponent';
import jExportBase from '@/views/application/application-component/form-ui/form-base/jExportBase';

export default {
  components: {
    jTableViewComponent,
    jTableReqViewComponent,
    jTableAppViewComponent,
    jCalenderViewComponent,
    jExportBase,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      data_setup_table_view: null,
      data_setup_create_view: null,
      data_setup_detail_view: null,
      showComponent: false,
      dataFormUi: null,
      formData: null,
      idFormDataUi: JSON.parse(this.element.info).form_ui_id,
      idMultipleFormDataUi: JSON.parse(this.element.info).multiple_form_ui_id,
      isChangeViewExport: false,
      isFreezeHeaderTable: false,
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['is_full_screen_comp']),

    checkView() {
      return this.element.info ? JSON.parse(this.element.info).default_view : '';
    },

    isInMultiple() {
      return this.element.info ? (!!JSON.parse(this.element.info).filter_column) : '';
    },
  },
  watch: {
    is_full_screen_comp(val) {
      if (val) document.body.style.overflow = 'auto';
      else document.body.style.removeProperty('overflow');
    },
  },
  created() {
    const req = {
      page: 1,
      limit: 10,
      filter: {
        id: [this.isInMultiple ? this.idMultipleFormDataUi : this.idFormDataUi],
      },
    };
    this.actionGetSetupMultiFormUi(req).then((res) => {
      const response = res.data[0];
      this.dataFormUi = response;

      // set freeze header table
      const viewSupportFreezeTable = ['table_view', 'table_requester_view', 'table_approver_view', 'export_view'];
      if (!viewSupportFreezeTable.includes(this.checkView)) {
        this.isFreezeHeaderTable = false;
      } else {
        this.isFreezeHeaderTable = this.dataFormUi[this.checkView].freeze_header_table || false;
      }

      // If table view
      const filtered = ['table_view'].reduce((obj, key) => {
        // eslint-disable-next-line no-param-reassign
        obj[key] = response[key];
        return obj;
      }, {});
      this.data_setup_table_view = filtered.table_view;

      // If create view
      const filteredCreate = ['create_view'].reduce((obj, key) => {
        // eslint-disable-next-line no-param-reassign
        obj[key] = response[key];
        return obj;
      }, {});
      this.data_setup_create_view = filteredCreate.create_view;

      // If detail view
      const filteredDetail = ['detail_view'].reduce((obj, key) => {
        // eslint-disable-next-line no-param-reassign
        obj[key] = response[key];
        return obj;
      }, {});
      this.data_setup_detail_view = filteredDetail.detail_view;

      if (response.form_data_id) {
        const reqData = {
          form_data_id: response.form_data_id,
        };
        this.findFormData(reqData).then((param) => {
          this.formData = param.data;
          this.showComponent = true;
        });
      } else {
        this.formData = {
          columns: response.data_source.external_url.columns,
          primary_key: '',
        };
        this.showComponent = true;
      }
    });
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetSetupMultiFormUi', 'findFormData']),
    ...mapMutations('jStoreFormUi', ['setFullScreenComp']),

    fullScreenComponent() {
      this.setFullScreenComp({
        is_full_screen_comp: true,
        id_full_screen_comp: this.isInMultiple ? this.element.name : this.element.id,
      });
    },

    backFullScreenComponent() {
      this.setFullScreenComp({
        is_full_screen_comp: false,
        id_full_screen_comp: null,
      });
    },
  },
};
</script>
