<template>
  <div>
    <table>
      <tr>
        <td class="f--bold">Employee Code &nbsp;</td>
        <td>:</td>
        <td class="">&nbsp;&nbsp;{{ list_user_historical.employee_code || '-' }}</td>
      </tr>
      <tr>
        <td class="f--bold">Join Date &nbsp;</td>
        <td>:</td>
        <td class="">
          &nbsp;&nbsp;{{ list_user_historical.hire_date | moment("DD MMM YYYY") }}
        </td>
      </tr>
    </table>
    <v-server-table
      v-show="load_first"
      ref="tableUserHistoricalReport"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded">
      <div
        slot="organigram_name"
        slot-scope="props"
      >
        {{ props.row.organigram.name }}
      </div>
      <div
        slot="title"
        slot-scope="props"
      >
        {{ props.row.title }}
      </div>
      <div
        slot="organigram_divisions"
        slot-scope="props"
      >
        <span
          v-for="(item,index) in props.row.organigram.divisions"
          :key="index"
          style="white-space: pre-line;">
          {{ item.name }}
        </span>
      </div>
      <div
        slot="employment_type"
        slot-scope="props"
      >
        {{ props.row.employment_type }}
      </div>
      <div
        slot="organigram_location"
        slot-scope="props"
      >
        {{ props.row.organigram.location }}
      </div>
      <div
        slot="organigram_date"
        slot-scope="props"
      >
        {{ props.row.organigram.start_date | moment("DD MMM YYYY") }}
        {{ (props.row.organigram.start_date != "")?"-":'' }}
        {{ endDateFormat(props.row) }}
      </div>
      <div
        slot="data_updated_date"
        slot-scope="props"
      >
        {{ props.row.data_updated_date | moment("DD MMM YYYY") }}
      </div>
      <div
        slot="edit_user_historical"
        slot-scope="props"
      >
        <span @click="updateAction(props.row)">
          <i class="fa fa-lg fa-edit action-icon green-color"/>
        </span>
        <span @click="remove(props.row)">
          <i class="fa fa-lg fa-trash action-icon red-color"/>
        </span>
      </div>
    </v-server-table>
    <div class="modal-demo">
      <b-modal
        ref="myModalRef"
        class="mod-form">
        <h3>UPDATE</h3>
        <b-form-group>
          <label for="text1"> Action </label>
          <j-single-select
            v-model="action_model"
            :options="action_option"
            :placeholder="'Action'"
            value-format="object"
          />
        </b-form-group>

        <b-form-group>
          <label for="text2"> Reason </label>
          <j-input
            id="text2"
            v-model="reason"
            placeholder="Reason"/>
        </b-form-group>
        <b-button
          class="btn blue"
          @click="sendUpdateData()"
        >
          Update
        </b-button>
        <b-button
          class="btn red"
          @click="$refs.myModalRef.hide()">
          Cancel
        </b-button>
      </b-modal>
    </div>
  </div>
</template>
<script>
/* eslint-disable camelcase */
import { mapActions, mapState } from 'vuex';
import jApiEmployee from '@/services/jApiEmployee';


export default {
  data() {
    return {
      organigram: null,
      dataParam: null,
      reason: null,
      action_option: null,
      action_model: { id: 1, name: 'Hire', label: 'Hire' },
      pagination: {
        limit: 5,
        page: 1,
        column: 'id',
        ascending: true,
        query: '',
        query_type: '',
      },
      name: '',
      gender: '',
      filter_data: '',
      load_first: false,
      length_table: '',
      columns: ['organigram_name', 'organigram_divisions', 'employment_type', 'title', 'organigram_location', 'organigram_date', 'action', 'reason', 'employee_status', 'data_updated_date', 'edit_user_historical'],
      options: {
        headings: {
          organigram_name: 'POSITION',
          title: 'VENDOR',
          organigram_divisions: 'DIVISION',
          employment_type: 'EMPLOYEE TYPE',
          action: 'ACTION',
          reason: 'REASON',
          employee_status: 'EMPLOYEE STATUS',
          organigram_location: 'LOCATION',
          organigram_date: 'DATE',
          edit_user_historical: '',
          data_updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['organigram_name', 'organigram_divisions', 'organigram_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        rowClassCallback(row) {
          return `row-${row.id}`;
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: 'data_updated_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const param = {
            limit: Number(data.pagination.limit),
            page: Number(data.pagination.page),
            column: data.pagination.column,
            ascending: data.pagination.ascending,
            query: data.pagination.query,
          };
          const obj = {
            user_company_id: Number(this.$route.params.id),
            pagination: param,
          };
          const employee = jApiEmployee.getListAssignment(obj);
          employee.then((e) => {
            this.$store.commit('jStoreEmployee/mutateListUserHistorical', e);
          });
          return employee.catch((e) => {
            this.dispatch('error', e);
            this.$store.commit('jStoreNotificationScreen/mutateListUserHistorical', e.message);
          });
        },
        responseAdapter({ data }) {
          if (data.length) {
            this.length_table = data.length;
          }
          const { assignement } = data.data;
          return {
            data: data ? assignement : [],
            count: data.length,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['list_action', 'list_user_historical']),
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableServerSide.setFilter('');
      }
    },
    list_action(val) {
      const option = val.data.map(item => ({
        id: item.id,
        text: item.name,
      }));
      this.action_option = option;
    },
    list_user_historical(val) {
      this.organigram = val.assignement;
    },
  },
  created() {
    this.listAction();
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleLoading', 'toggleProblem', 'showLoading', 'hideLoading', 'loading_screen']),
    ...mapActions('jStoreEmployee', ['deleteListAssignment', 'getListAction', 'updateReason']),
    listAction() {
      const obj = {
        pagination: this.pagination,
      };
      this.getListAction(obj);
    },
    async deleteListAssignmentMethod(obj) {
      await this.deleteListAssignment(obj);
      await this.$refs.tableUserHistoricalReport.refresh();
    },
    endDateFormat(data) {
      let text = '';
      const { employee_status, organigram } = data;
      if (employee_status === 'Active' && organigram.end_date === '') {
        text = 'Current';
      } else if (employee_status === 'Active' && organigram.end_date !== '') {
        text = this.$moment(organigram.end_date).format('DD-MMM-YYYY');
      }
      return text;
    },
    filter(val) {
      this.$refs.tableServerSide.setFilter(val);
    },

    updateAction(param) {
      this.dataParam = param;
      this.$refs.myModalRef.show();
      this.reason = param.reason;
    },

    async sendUpdateData() {
      const obj = {
        id: this.dataParam.id,
        action_id: this.action_model.id,
        reason: this.reason,
      };
      await this.updateReason(obj);
      await this.$refs.tableUserHistoricalReport.refresh();
      await this.$refs.myModalRef.hide();
    },

    remove(id) {
      this.$swal.fire({
        title: '<span style="color:#d2232a;font-size:1.25em;margin-bottom:10px">Delete<span>',
        html:
    '<p style="font-size:1em;"> Are you sure to delete this assignment?</p> ',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
    'Delete',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
    'Cancel',
        cancelButtonAriaLabel: 'Thumbs down',
        type: 'warning',
        confirmButtonColor: '#d2232a',
        cancelButtonColor: '#d33',
      }).then((result) => {
        if (result.value) {
          const obj = {
            id: id.id,
          };
          this.deleteListAssignmentMethod(obj);
        }
      });
    },
    loading() {
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
  },
};
</script>
<style lang="scss">
  .delete_user_historical{
    font-size: 14px !important;
  }
  .swal2-icon-text{
    margin-top: 33px;
  }
  .green-color {
    color: $green-basic-color
  }
  .red-color {
    color: $red-basic-color;
  }
  .pre-line {
    white-space: pre;
  }
  .grid-2{
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
</style>
