<template>
  <div
    :id="`leave-approver-table-${status}`"
    class="container-app-search">
    <div class="row m__t--20">
      <div class="col-12">
        <j-summary
          v-if="load_summary"
          :data-summary="data_summary"
          class="leave-summary-approver"/>
      </div>
    </div>
    <div class="row m__t--20">
      <div class="col-12">
        <v-server-table
          v-show="load_first"
          ref="approverTable"
          :columns="columns"
          :options="table_options"
          class="jTable"
          @loading="loading"
          @loaded="loaded"
          @row-click="openEditForm">
          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                :id="`leave-approver-search-${status}`"
                class="btn grey btn-import-form">
                <i class="fa fa-search fa-lg"/> Search
              </b-button>
            </b-form>
          </div>
          <div
            slot="checkbox"
            slot-scope="props"
            class="jTableReport"
            @click.stop>
            <b-form-group
              :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
              <b-form-checkbox-group
                v-model="selected_rows"
                @input="floatingPromptAction">
                <b-form-checkbox
                  :value="props.row"/>
              </b-form-checkbox-group>
            </b-form-group>
          </div>
          <div
            slot="staff"
            slot-scope="props"
            class="d-flex align-items-center">
            <img
              :src="photoUrl(props.row.photo_url)"
              class="photo-profile m__r--10">
            <span>
              {{ props.row.employee_name }} <br>
              {{ props.row.email }}
            </span>
          </div>
          <div
            slot="type"
            slot-scope="props">
            {{ props.row.type_name }}
          </div>
        </v-server-table>

        <jLoadingTable v-if="!load_first"/>

      </div>
      <div class="col-12">
        <div
          v-show="show_blank_footer"
          :style="`height: ${floatingHeight}px`"/>
        <j-floating-prompt
          ref="floating"
          class="floating-table"
        >
          <div
            ref="divFloating"
            class="row"
          >
            <div class="col-4">
              <div class="row align-items-center pl-3">
                <div
                  ref="totalSelectedRow"
                  class="total-selected-row"/>
                <div class="total-selected-row-label f--medium m__l--7">
                  leave request <br>selected
                </div>
              </div>
            </div>
            <div
              class="col-2 m__t--20">
              <div
                v-b-toggle.detail-table
                class="f--medium"
                style="cursor: pointer"
                @click="show_detail = !show_detail">
                Details
                <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
              </div>
            </div>
            <div class="col-6">
              <div class="row m__t--22">
                <div class="col-12">
                  <b-button
                    class="btn icon red float-right"
                    @click="closeAction">
                    Unselect All
                  </b-button>
                  <b-button
                    v-if="status_color === 'sent'"
                    class="btn icon blue m__r--10 float-right d-flex align-items-center"
                    @click="onClickAction('approve')">
                    <i class="fa fa-check"/>
                    Approve
                  </b-button>
                  <b-button
                    v-if="status_color === 'sent'"
                    class="btn icon purple m__r--10 float-right d-flex align-items-center"
                    @click="onClickAction('reject')">
                    <i class="fa fa-trash"/>
                    Reject
                  </b-button>
                  <b-button
                    v-if="status_color === 'approved'"
                    class="btn icon dark-brown m__r--10 float-right d-flex align-items-center"
                    @click="onClickAction('abort')">
                    <i class="fa fa-trash"/>
                    Abort
                  </b-button>
                </div>
              </div>
            </div>
            <j-collapse
              id="detail-table"
              :visible="show_detail"
              class="col-12">
              <v-client-table
                ref="detailTable"
                :columns="columns"
                :options="detail_table_options"
                :data="selected_rows"
                class="jTable table-floating-popup">
                <div
                  slot="checkbox"
                  slot-scope="props"
                  class="jTableReport"
                  @click.stop>
                  <b-form-group
                    :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
                    <b-form-checkbox-group
                      v-model="selected_rows">
                      <b-form-checkbox
                        :value="props.row"/>
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
                <div
                  slot="staff"
                  slot-scope="props"
                  class="d-flex align-items-center">
                  <img
                    :src="photoUrl(props.row.photo_url)"
                    class="photo-profile m__r--10">
                  <span>
                    {{ props.row.email }} <br>
                    {{ props.row.name }}
                  </span>
                </div>
                <div
                  slot="type"
                  slot-scope="props">
                  {{ props.row.type_name }}
                </div>
              </v-client-table>
            </j-collapse>
          </div>
        </j-floating-prompt>
      </div>
    </div>

    <b-popover
      v-show="popoverSearchShow"
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :container="`leave-approver-table-${status}`"
      :target="`leave-approver-search-${status}`"
      triggers="click blur"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :error-required="false"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          :error-required="false"
          placeholder="search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

    <b-modal
      id="modal-have-swal"
      ref="modalDetail"
      class="mod-form modal-leave-detail"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-leave-approver-detail
        v-if="isOpen"
        :form-id="detailId"
        :oos-route="oosRoute"
        @close="closeEditForm"
        @refresh="refreshTable" />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable func-names,no-param-reassign,no-lonely-if */
import { mapActions } from 'vuex';
import jSummary from '@/components/summary/summary';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import apiLeaveApprover from '@/services/leave/jApiLeaveApprover';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';
import JLeaveApproverDetail from './jLeaveApproverDetail';

export default {
  components: {
    jLoadingTable,
    JLeaveApproverDetail,
    jSummary,
  },
  mixins: [
    jMixFloatingPrompt,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      detailId: null,
      isOpen: false,
      popoverSearchShow: false,
      selected_rows: [],
      status_color: 'sent',
      previous_status: 'sent',
      status: 'Sent',
      load_summary: false,
      load_first: false,
      data_table: null,
      filter_data: '',
      filtering: false,
      select_type: 'type_name',
      options_search: [
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'TYPE',
          value: 'type_name',
        },
        {
          text: 'ORGANIZATION UNIT',
          value: 'organization_unit',
        },
        {
          text: 'REASON',
          value: 'reason',
        },
      ],
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/sent` : '/leave/approver/sent',
        },
        {
          status: 'Approved',
          amounts: 9,
          summaryDate: '‏‏‎ ‎',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/approved` : '/leave/approver/approved',
        },
        {
          status: 'Canceled',
          amounts: 2,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/canceled` : '/leave/approver/canceled',
        },
        {
          status: 'Rejected',
          amounts: 1,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/rejected` : '/leave/approver/rejected',
        },
        {
          status: 'Aborted',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'aborted',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/aborted` : '/leave/approver/aborted',
        },
      ],
      columns: ['checkbox', 'id', 'employee_id', 'staff', 'organization_unit', 'organigram_name', 'type', 'reason', 'start_date', 'end_date', 'created_date', 'created_by'],
      table_options: {
        headings: {
          checkbox: this.headerID(),
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          staff: 'STAFF',
          type: 'TYPE',
          organization_unit: 'ORGANIZATION UNIT',
          organigram_name: 'POSITION',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          created_date: 'CREATED DATE',
          created_by: 'CREATED BY',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['id', 'employee_id', 'organization_unit', 'organigram_name', 'type_name', 'start_date', 'end_date', 'created_date', 'created_by'],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy,
            ascending: data.ascending,
          };
        },
        requestFunction(data) {
          const list = apiLeaveApprover.getListLeave(data);
          return list.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          const approverData = data.data.map((element) => {
            const item = element;
            const status = this.$route.params.statusApprover || 'sent';
            if (status !== 'sent') {
              item.date = element[`${this.$route.params.statusApprover}_date`];
            } else {
              item.date = '';
            }
            return item;
          });
          return {
            data: approverData || [],
            count: data.length,
          };
        },
      },
      detail_table_options: {
        headings: {
          checkbox: this.headerID(),
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          staff: 'STAFF',
          type: 'TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          note: 'NOTE',
          created_date: 'CREATED DATE',
          date: null,
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['type'],
        filterable: true,
        perPage: 3,
        perPageValues: [3, 5, 10, 20, 50, 100],
      },
    };
  },
  computed: {
    confirmBlue() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
  },
  watch: {
    '$route.params.statusApprover': function (val) {
      this.load_summary = false;
      this.data_summary.map((item) => {
        const data = item;
        data.active = false;
        return data;
      });
      const status = val;
      this.status_color = val;
      this.status = status.charAt(0).toUpperCase() + status.slice(1);
      if (val === 'sent') {
        this.data_summary[0].active = true;
      } else if (val === 'approved') {
        this.data_summary[1].active = true;
      } else if (val === 'canceled') {
        this.data_summary[2].active = true;
      } else if (val === 'rejected') {
        this.data_summary[3].active = true;
      } else if (val === 'aborted') {
        this.data_summary[4].active = true;
      }
      this.$nextTick(() => {
        this.load_summary = true;
        // if (val === 'sent') {
        //   if (this.columns.includes('date')) {
        //     this.columns.pop();
        //   }
        // } else {
        //   if (this.columns.includes('date')) {
        //     this.columns.pop();
        //   }
        //   this.columns.push('date');
        //   this.table_options.headings.date = `${val.toUpperCase()} DATE`;
        //   this.detail_table_options.headings.date = `${val.toUpperCase()} DATE`;
        // }
        this.$refs.approverTable.refresh();
      });
    },
    filter_data(val) {
      if (val === '') {
        this.filtering = false;
        this.$refs.approverTable.setFilter('');
      }
    },
  },
  created() {
    this.getSummary();
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess']),
    ...mapActions('jStoreLeaveApprover', ['actionApproval', 'onSetBackProperties']),
    loading(val) {
      const a = val;
      a.status = this.$route.params.statusApprover || 'sent';
      a.filter = this.filtering;
      a.query = {
        type: this.select_type,
        value: this.filter_data,
      };
      if (a.status !== 'sent' &&
        a.status !== this.previous_status) {
        a.column = `${this.$route.params.statusApprover}_date`;
      }
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
      const status = this.$route.params.statusApprover || 'sent';
      if (status !== this.previous_status) {
        this.previous_status = status;
      }
    },
    refreshTable() {
      this.$refs.approverTable.getData();
    },
    filter(val) {
      if (val !== '') {
        this.filtering = true;
        this.$refs.approverTable.setFilter(val);
      }
    },
    photoUrl(val) {
      if (val === '') {
        return 'https://corp.jojonomic.com/assets/img/user3.png'; // '../../../../assets/icon/user3.png';
      }
      return val;
    },
    onRowClick(val) {
      this.onSetBackProperties({
        is_monitor: false,
        value: this.$route.params.statusApprover || 'sent',
      });
      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/detail` : '/leave/approver/detail';
      this.$router.push(`${url}/${val.row.id}`);
    },
    async onClickAction(key) {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to ${key} this leave request?`,
        input: 'text',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        inputValidator: (value) => {
          if (!value && (key === 'reject' || key === 'abort')) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then(async (result) => {
        if (!result.dismiss) {
          const req = {
            action: key.toLowerCase(),
            note: result.value,
          };
          const promises = this.selected_rows.map(async (element) => {
            req.id = element.id;
            await this.actionApproval(req);
          });

          await Promise.all(promises);

          this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', `Success ${req.action === 'approve' ? 'approv' : req.action}ing leave`);
          this.selected_rows = [];
          // eslint-disable-next-line
          const statusRedirect = key === 'approve' ? 'approved' : (key === 'reject' ? 'rejected' : 'aborted');
          this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/approver/${statusRedirect}`);
        }
      });
    },
    showCheckbox(startDate) {
      const date = new Date();
      const dateString = this.$moment(date).format('YYYY-MM-DD');
      if (this.status_color === 'approved' && dateString < startDate) {
        return true;
      }
      if (this.status_color === 'sent') {
        return true;
      }
      return false;
    },
    openEditForm({ row }) {
      this.isOpen = true;
      this.detailId = row.id;
      this.$refs.modalDetail.show();
    },
    closeEditForm() {
      this.detailId = null;
      this.$refs.modalDetail.hide();
      this.isOpen = false;
      // this.getSummary();
      // this.$refs.approverTable.refresh();
    },
    getSummary() {
      this.filtering = false;
      const val = this.$route.params.statusApprover || 'sent';
      this.load_summary = false;
      this.data_summary.map((item) => {
        const data = item;
        data.active = false;
        return data;
      });
      const status = val;
      this.status_color = val;
      this.status = status.charAt(0).toUpperCase() + status.slice(1);
      if (val === 'sent') {
        this.data_summary[0].active = true;
      } else if (val === 'approved') {
        this.data_summary[1].active = true;
      } else if (val === 'canceled') {
        this.data_summary[2].active = true;
      } else if (val === 'rejected') {
        this.data_summary[3].active = true;
      } else if (val === 'aborted') {
        this.data_summary[4].active = true;
      }
      this.$nextTick(() => {
        this.load_summary = true;
        // if (val === 'sent') {
        //   if (this.columns.includes('date')) {
        //     this.columns.pop();
        //   }
        // } else {
        //   if (this.columns.includes('date')) {
        //     this.columns.pop();
        //   }
        //   this.columns.push('date');
        //   this.table_options.headings.date = `${val.toUpperCase()} DATE`;
        //   this.detail_table_options.headings.date = `${val.toUpperCase()} DATE`;
        // }
      });
      this.previous_status = 'sent';
      this.data_summary.map((element) => {
        const item = element;
        apiLeaveApprover.getSummaryBlock(element.status.toLowerCase())
          .then((res) => {
            item.amounts = res.data.length;
          });
        return item;
      });
      this.$nextTick(() => {
        this.load_summary = true;
      });
    },
  },
};
</script>

<style lang="scss">
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .leave-summary-approver {
    .sum-last {
      padding-right: 7px;
    }
  }
  .leave-summary-approver.summary-block2 .summary .col-md-2 {
    flex: 0 0 20% !important;
    max-width: 20% !important;;
  }
  .hide-checkbox {
    visibility: hidden;
  }
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
  .header-id {
    width: 20px;
    height: 20px;
  }
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    &.up {
      transform: rotate(180deg);
    }
  }
  .jFloating .selected-bottom-rules {
    max-height: unset;
  }
</style>
