<template>
  <div class="p-4">
    <b-row>
      <b-col cols="12">
        <b-row class="m__t--10">
          <b-col cols="7">
            <div ref="containerFormData">
              <b-row>
                <b-col cols="6">
                  <b-form-group>
                    <label>Employee ID</label>
                    <j-input
                      v-model="employeeId"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Employee Name</label>
                    <j-input
                      v-model="employeeName"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Leave Category</label>
                    <j-input
                      v-model="formData.type"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Start From</label>
                    <j-input
                      v-model="formData.start"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Period To</label>
                    <j-input
                      v-model="formData.end"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Total Leave Request</label>
                    <j-input
                      v-model="totalLeave"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Description</label>
                    <j-textarea
                      v-model="formData.description"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Latest Note</label>
                    <j-textarea
                      v-model="formData.notes"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
              </b-row>

              <div v-if="!isCustomDocs">
                <b-form-group>
                  <label>Documents</label>
                  <j-multiupload
                    :accepted-file-type="acceptedFileType"
                    :api-token="api"
                    :img-default="formData.docs"
                    :url-upload="url_upload"
                    :is-read-only="true"
                    @get-edit="getIt"/>
                </b-form-group>
              </div>
              <div v-else>
                <label> Attachment </label>
                <div
                  v-for="(item, index) in formData.docs"
                  :key="index"
                  class="container-attachment">
                  <j-upload-file
                    :img-default="item.url"
                    :option-name="item.name"
                    :url-upload="url_upload"
                    :accepted-file-type="acceptedFileType"
                    :api-token="api"
                    :disabled="true"
                    @url="getDocs(index, $event)"/>
                </div>
              </div>
            </div>
          </b-col>

          <b-col cols="5">
            <div class="logs-container-times">
              <div class="d-inline-flex">
                <img
                  :src="require('@/assets/icon/logs.png')"
                  class="m__r--10"
                  style="width: 20px; height: 20px;">
                <h1
                  style="font-size: 15px; line-height: 20px;"
                  class="f--medium">
                  LOGS
                </h1>
              </div>
              <div
                :style="containerHeight ? `max-height: ${containerHeight}px` : 'none'"
                class="timeline-wrapper">
                <j-time-line
                  v-if="logs.length > 0"
                  :data="logs"
                  :convert="true"/>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row class="m__t--20">
      <b-col cols="12">
        <!-- <b-button
          v-if="formData.status === 'process'"
          class="btn blue float-right m__l--10"
          @click="onClickAction('approve')">
          Approve
        </b-button>
        <b-button
          v-if="formData.status === 'process'"
          class="btn purple float-right m__l--10"
          @click="onClickAction('reject')">
          Reject
        </b-button>
        <b-button
          v-if="showAbortButton"
          class="btn dark-brown float-right m__l--10"
          @click="onClickAction('abort')">
          Abort
        </b-button> -->
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console */
import { mapActions, mapState } from 'vuex';
import apiLeaveClaimer from '@/services/leave/jApiLeaveClaimer';
import jTimeLine from '@/components/timeline/jTimeLine';
import jUploadFile from '@/components/upload-file/jUploadFile';
import { jMixWindowResizing } from '@/mixins/components/jMixWindowResizing';
import jMixLogs from '@/mixins/jMixLogs';

export default {
  components: {
    jTimeLine,
    jUploadFile,
  },
  mixins: [
    jMixWindowResizing,
    jMixLogs,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      fileData: [],
      acceptedFileType: ['jpg', 'png', 'jpeg', 'pdf'],
      api: localStorage.getItem('idToken'),
      formData: {
        type: null,
        start: null,
        end: null,
        description: null,
        notes: null,
        status: null,
        docs: [],
      },
      totalLeave: 0,
      logs: [],
      isCustomDocs: false,
      employeeId: null,
      employeeName: null,
    };
  },
  computed: {
    ...mapState('jStoreLeaveApprover', ['leave_detail', 'back_properties']),
    ...mapState('jStoreLeaveClaimer', ['leave_logs']),

    confirmBlue() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
    showAbortButton() {
      const now = new Date();
      const start = new Date(this.formData.start);
      if (this.formData.status === 'approved' && now < start) {
        return true;
      }
      return false;
    },
    headingStatus() {
      if (this.heading_status) {
        return this.heading_status.toLowerCase();
      }
      return '';
    },
    url_upload() {
      // return `${process.env.GATE_URL}/file`;
      return `${localStorage.getItem('gateUrl')}file`;
    },
  },
  watch: {
    leave_detail(val) {
      if (val !== null) {
        this.employeeName = `${this.leave_detail.user.profile.first_name} ${this.leave_detail.user.profile.last_name}`;
        this.employeeId = this.leave_detail.user.employee_id;

        this.formData = {
          type: val.leave.type_name,
          start: val.leave.start_date,
          end: val.leave.end_date,
          description: val.leave.reason,
          notes: val.leave.note,
          status: val.leave.status,
          docs: [],
        };
        this.totalLeave = val.leave.total_leave;

        apiLeaveClaimer.getLeaveDocs(val.leave.id)
          .then((res) => {
            if (res.data.length > 0) {
              this.formData.docs = res.data.data.map((element, index) => ({
                url: element.image_url || '',
                name: element.image_url ? `Document ${index + 1}` : '',
                is_delete: false,
              }));

              if (typeof this.formData.docs[0].field_name !== 'undefined' || this.formData.docs[0].field_name !== '') {
                this.isCustomDocs = true;
                this.formData.docs.sort((a, b) => parseFloat(a.order) - parseFloat(b.order));
              }
            }
          });
      }
    },
    leave_logs(val) {
      this.logs = [];
      if (val.length > 0) {
        this.logs = val;
      }
    },
  },
  created() {
    const payload = {
      id: this.$route.params.idLeave,
    };
    this.getLeaveDetail(payload);
    this.getLeaveLogs(payload);
  },
  methods: {
    ...mapActions('jStoreLeaveApprover', ['getLeaveDetail', 'actionApproval']),
    ...mapActions('jStoreLeaveClaimer', ['getLeaveLogs']),
    getIt(data) {
      this.fileData = data;
    },
    closeConfirmation() {
      this.$v.$reset();
      this.$refs.approverConfirmation.hide();
    },
    async onClickAction(key) {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to ${key} this leave request?`,
        input: 'text',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        inputValidator: (value) => {
          if (!value && (key === 'reject' || key === 'abort')) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then(async (result) => {
        if (!result.dismiss) {
          const req = {
            id: this.$route.params.idLeave,
            action: key.toLowerCase(),
            note: result.value,
          };
          const res = await this.actionApproval(req);
          if (!res.error) {
            this.getBack();
          }
        }
      });
    },
    getBack() {
      const url = this.oosRoute !== '' ? `${this.oosRoute}` : '';
      this.$router.push(`${url}/leave/${this.back_properties.is_monitor ? 'monitor' : 'approver'}/${this.back_properties.value}`);
    },
  },
};
</script>

<style lang="scss">
  .float-left {
    float: left;
  }
  .bottom-btn {
    min-width: 150px;
  }
  .document-viewer {
    .btn--full-width, .multi-upload-info {
      display: none;
    }
  }
</style>
