<template>
  <div :class="{'p-4': !isPopup}">
    <b-row>
      <b-col cols="12">
        <b-row v-if="isPopup">
          <b-col cols="12">
            <h5 class="text-center m__b--20">LEAVE DETAIL</h5>
          </b-col>
        </b-row>
        <b-row class="m__t--10">
          <b-col cols="7">
            <div ref="containerFormData">
              <b-row>
                <b-col cols="6">
                  <b-form-group>
                    <label>Employee ID</label>
                    <j-input
                      v-model="employeeId"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Employee Name</label>
                    <j-input
                      v-model="employeeName"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Leave Category</label>
                    <j-input
                      v-model="formData.type"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Time Period</label>
                    <j-input
                      v-model="formData.time_period"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col
                  v-if="showTotalPeriod"
                  cols="12">
                  <b-form-group>
                    <label>Total Periode</label>
                    <j-input
                      v-model="formData.total_block_period.label"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Start From</label>
                    <j-input
                      v-model="formData.start"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="6">
                  <b-form-group>
                    <label>Period To</label>
                    <j-input
                      v-model="formData.end"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Total Leave Request</label>
                    <j-input
                      v-model="totalLeave"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Description</label>
                    <j-textarea
                      v-model="formData.description"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
                <b-col cols="12">
                  <b-form-group>
                    <label>Latest Note</label>
                    <j-textarea
                      v-model="formData.notes"
                      :disabled="true"/>
                  </b-form-group>
                </b-col>
              </b-row>

              <div v-if="!isCustomDocs">
                <div
                  v-for="(item, index) in formData.docs"
                  v-show="!item.is_delete"
                  :key="index"
                  class="container-attachment">
                  <j-upload-file
                    :img-default="item.url"
                    :url-upload="url_upload"
                    :accepted-file-type="acceptedFileType"
                    :api-token="api"
                    :more-data="true"
                    :disabled="true"
                    @url="getDocs(index, $event)"
                    @deleteFile="deleteFileData(index)"/>
                </div>
                <!-- <b-form-group>
                  <label>Documents</label>
                  <j-multiupload
                    :accepted-file-type="acceptedFileType"
                    :api-token="api"
                    :img-default="formData.docs"
                    :url-upload="url_upload"
                    :is-read-only="true"
                    @get-edit="getIt"/>
                </b-form-group> -->
              </div>
              <div v-else>
                <label> Attachment </label>
                <div
                  v-for="(item, index) in formData.docs"
                  :key="index"
                  class="container-attachment">
                  <j-upload-file
                    :img-default="item.url"
                    :option-name="item.name"
                    :url-upload="url_upload"
                    :accepted-file-type="acceptedFileType"
                    :api-token="api"
                    :disabled="true"
                    @url="getDocs(index, $event)"/>
                </div>
                <!-- <b-row class="attachment-container">
                  <b-col
                    v-for="doc in formData.docs"
                    :key="doc.id"
                    cols="6">
                    <b-form-group>
                      <label>{{ doc.field_name }}</label>
                      <j-singleupload
                        :accepted-file-type="acceptedFileType"
                        :api-token="api"
                        :img-default="doc.file_url"
                        :url-upload="url_upload"
                        :disabled="true"
                        class="document-viewer"
                        @get-edit="getIt"/>
                    </b-form-group>
                  </b-col>
                </b-row> -->
              </div>
            </div>

            <b-row class="m__t--20">
              <b-col
                cols="12"
                class="d-flex justify-content-between">
                <b-button
                  v-if="isPopup"
                  class="btn m__r--8"
                  @click="closeModal">
                  Close
                </b-button>
                <div>
                  <b-button
                    v-if="formData.status === 'process'"
                    class="btn blue m__r--8"
                    @click="onClickAction('approve')">
                    Approve
                  </b-button>
                  <b-button
                    v-if="formData.status === 'process'"
                    class="btn purple"
                    @click="onClickAction('reject')">
                    Reject
                  </b-button>
                  <b-button
                    v-if="showAbortButton"
                    class="btn dark-brown"
                    @click="onClickAction('abort')">
                    Abort
                  </b-button>
                </div>
              </b-col>
            </b-row>
          </b-col>

          <b-col cols="5">
            <div class="logs-container-times">
              <div class="d-inline-flex">
                <img
                  :src="require('@/assets/icon/logs.png')"
                  class="m__r--10"
                  style="width: 20px; height: 20px;">
                <h1
                  style="font-size: 15px; line-height: 20px;"
                  class="f--medium">
                  LOGS
                </h1>
              </div>
              <div
                :style="containerHeight ? `max-height: ${containerHeight}px` : 'none'"
                class="timeline-wrapper">
                <j-time-line
                  v-if="logs.length > 0"
                  :data="logs"
                  :convert="true"/>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-nested-ternary */
import { mapActions, mapState } from 'vuex';
import apiLeaveClaimer from '@/services/leave/jApiLeaveClaimer';
import { jMixWindowResizing } from '@/mixins/components/jMixWindowResizing';
import jMixLogs from '@/mixins/jMixLogs';
import jUploadFile from '@/components/upload-file/jUploadFile';
import jTimeLine from '@/components/timeline/jTimeLine';
import constant from '@/utils/constant';

export default {
  components: {
    jUploadFile,
    jTimeLine,
  },
  mixins: [
    jMixWindowResizing,
    jMixLogs,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    formId: {
      type: Number,
      default: null,
    },
    isPopup: {
      type: Boolean,
      default: true,
    },
    isMonitorAttendance: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fileData: [],
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf', 'doc', 'docx', 'ppt', 'pptx', 'xls', 'xlsx', 'csv'],
      api: localStorage.getItem('idToken'),
      formData: {
        type: null,
        start: null,
        end: null,
        description: null,
        notes: null,
        status: null,
        docs: [],
        time_period: null,
        total_block_period: null,
      },
      totalLeave: 0,
      logs: [],
      isCustomDocs: false,
      employeeId: null,
      employeeName: null,
      showTotalPeriod: false,
    };
  },
  computed: {
    ...mapState('jStoreLeaveApprover', ['leave_detail', 'back_properties']),
    ...mapState('jStoreLeaveClaimer', ['leave_logs']),

    confirmBlue() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
    showAbortButton() {
      if (this.isMonitorAttendance) {
        return false;
      }
      const now = new Date();
      const start = new Date(this.formData.start);
      if (this.formData.status === 'approved' && now < start) {
        return true;
      }
      return false;
    },
    headingStatus() {
      if (this.heading_status) {
        return this.heading_status.toLowerCase();
      }
      return '';
    },
    url_upload() {
      // return `${process.env.GATE_URL}/file`;
      return `${localStorage.getItem('gateUrl')}file`;
    },
  },
  watch: {
    leave_detail(val) {
      if (val !== null) {
        this.employeeName = `${this.leave_detail.user.profile.first_name} ${this.leave_detail.user.profile.last_name}`;
        this.employeeId = this.leave_detail.user.employee_id;

        this.formData = {
          type: val.leave.type_name,
          start: val.leave.start_date,
          end: val.leave.end_date,
          description: val.leave.reason,
          notes: val.leave.note,
          status: val.leave.status,
          docs: [],
          time_period: Number(val.leave.division_of_time) === 1 ? 'FULL DAY' : (Number(val.leave.division_of_time) === 2 ? 'FIRST HALF' : 'SECOND HALF'),
          total_block_period: {
            value: val.leave.total_block_period,
          },
        };
        this.totalLeave = val.leave.total_leave;

        apiLeaveClaimer.getLeaveDocs(val.leave.id)
          .then((res) => {
            if (res.data.length > 0) {
              // this.formData.docs = res.data.data.map((element) => {
              //   const item = element;
              //   item.file_url = item.image_url;
              //   item.is_delete = false;
              //   return item;
              // });

              this.formData.docs = res.data.data.map(doc => ({
                url: doc.image_url,
                name: doc.field_name,
                is_delete: false,
              }));

              if (typeof this.formData.docs[0].field_name !== 'undefined' || this.formData.docs[0].field_name !== '') {
                this.isCustomDocs = true;
                this.formData.docs.sort((a, b) => parseFloat(a.order) - parseFloat(b.order));
              }
            }
          });

        if (val.leave.period_type === constant.PERIOD_TYPE_MONTHLY ||
            (val.leave.period_type === constant.PERIOD_TYPE_DAILY &&
            val.leave.total_block_period > 0)) {
          this.showTotalPeriod = true;
        }
        if (val.leave.period_type === constant.PERIOD_TYPE_MONTHLY && val.leave.total_block_period === 0) {
          this.formData.total_block_period.value = this.$moment(this.formData.end).diff(this.$moment(this.formData.start), 'months');
        }
        if (val.leave.period_type === constant.PERIOD_TYPE_MONTHLY) {
          this.formData.total_block_period.label = this.formData.total_block_period.value > 1 ? `${this.formData.total_block_period.value} Months` : `${this.formData.total_block_period.value} Month`;
        }
        if (val.leave.period_type === constant.PERIOD_TYPE_DAILY) {
          this.formData.total_block_period.label = this.formData.total_block_period.value > 1 ? `${this.formData.total_block_period.value} Days` : `${this.formData.total_block_period.value} Day`;
        }
      }
    },
    leave_logs(val) {
      this.logs = [];
      if (val.length > 0) {
        this.logs = val;
        // this.logs.push(...val);
        // this.logs.map((element) => {
        //   const item = element;
        //   item.status = element.log_member[0].status;
        //   item.photo = element.log_member[0].photo_url;
        //   item.first_name = element.log_member[0].first_name;
        //   item.last_name = element.log_member[0].last_name;
        //   item.message = null;
        //   item.html = `<p class="c--${item.status} m__b--0 f--bold">${element.log_member[0].message}</p><i class="c--grey">${element.log_member[0].date_time}</i>`;
        //   item.date_time = `Duration: ${element.log_member[0].duration ? element.log_member[0].duration : '0'}`;
        //   return item;
        // });
      }
    },
  },
  created() {
    const payload = {
      id: this.formId || this.$route.params.idLeave,
    };
    this.getLeaveDetail(payload);
    this.getLeaveLogs(payload);
  },
  methods: {
    ...mapActions('jStoreLeaveApprover', ['getLeaveDetail', 'actionApproval']),
    ...mapActions('jStoreLeaveClaimer', ['getLeaveLogs']),
    getIt(data) {
      this.fileData = data;
    },
    closeConfirmation() {
      this.$v.$reset();
      this.$refs.approverConfirmation.hide();
    },
    async onClickAction(key) {
      document.getElementById('modal-have-swal').getElementsByClassName('modal-content')[0].removeAttribute('tabindex');
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to ${key} this leave request?`,
        input: 'text',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        inputValidator: (value) => {
          if (!value && (key === 'reject' || key === 'abort')) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then(async (result) => {
        if (!result.dismiss) {
          const req = {
            id: this.formId,
            action: key.toLowerCase(),
            note: result.value,
          };
          const res = await this.actionApproval(req);
          if (!res.error) {
            // this.closeModal();
            // eslint-disable-next-line
            const statusRedirect = key === 'approve' ? 'approved' : (key === 'reject' ? 'rejected' : 'aborted');
            this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/approver/${statusRedirect}`);
          }
        }
      });
    },
    closeModal() {
      this.formData = {
        type: null,
        start: null,
        end: null,
        description: null,
        notes: null,
        status: null,
        docs: [],
        time_period: null,
        total_block_period: null,
      };
      this.$emit('close');
    },
  },
};
</script>

<style lang="scss">
  .float-left {
    float: left;
  }
  .bottom-btn {
    min-width: 150px;
  }
  .document-viewer {
    .btn--full-width, .multi-upload-info {
      display: none;
    }
  }
</style>
