<template>
  <div>
    <fieldset>
      <h3 class="modal-title">{{ mode === 'edit' ? 'Update' : 'Add' }} Exceed Notification</h3>
      <b-form-group :class="{'error-input' : $v.dataNotif.name.$error}">
        <label for="name"> Notification Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataNotif.name.$model"
          placeholder="Enter notification name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataNotif.description.$error}">
        <label for="description"> Description </label>
        <j-textarea
          id="description"
          v-model="$v.dataNotif.description.$model"
          :disabled="false"
          placeholder="Enter description here"/>
      </b-form-group>
      <b-row>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.start_date_timestamp.$error}">
            <label for="startDate">Start Date <span class="red"> * </span> </label>
            <j-datepicker
              id="startDate"
              v-model="$v.dataNotif.start_date_timestamp.$model"
              :disabled-dates="start_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Jan 01, 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.end_date_timestamp.$error}">
            <label for="endDate">End Date <span class="red"> * </span> </label>
            <j-datepicker
              id="endDate"
              v-model="$v.dataNotif.end_date_timestamp.$model"
              :disabled-dates="end_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Des 31, 2020"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <label>Parameter Maximum <span class="red"> * </span> </label>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.max_hours.$error}">
            <j-input-group
              id="maxHours"
              v-model="$v.dataNotif.max_hours.$model"
              type="number"
              append="Hours"
              placeholder="0"/>
          </b-form-group>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.max_days.$error}">
            <j-input-group
              id="maxDays"
              v-model="$v.dataNotif.max_days.$model"
              type="number"
              append="Days"
              placeholder="0"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.schedule_date.$error}">
            <label for="scheduleDate">Notification Schedule Date
              <span class="red"> * </span>
            </label>
            <j-datepicker
              id="scheduleDate"
              v-model="$v.dataNotif.schedule_date.$model"
              format="MMM dd, yyyy"
              placeholder="ex: Jan 01, 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.schedule_time.$error}">
            <label for="scheduleTime">Notification Schedule Time
              <span class="red"> * </span>
            </label>
            <j-clockpicker
              id="scheduleTime"
              v-model="$v.dataNotif.schedule_time.$model"
              placeholder="ex: 06.00"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.type_mapping.$error}">
            <label for="applyTo"> Apply Notification to <span class="red"> * </span> </label>
            <j-multi-select
              :is-async="true"
              :load-options="loadEmployeeOptions"
              v-model="selected_employee_type"
              value-format="object"
              placeholder="Select Employee"/>
        </b-form-group></b-col>
        <b-col cols="6">
          <b-form-group :class="{'error-input' : $v.dataNotif.loc_mapping.$error}">
            <label for="employeeMapping"> Employee Mapping <span class="red"> * </span> </label>
            <j-multi-select
              :is-async="true"
              :load-options="loadEmployeeOptions"
              v-model="selected_employee_loc"
              value-format="object"
              placeholder="Select Employee"/>
        </b-form-group></b-col>
      </b-row>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required, integer, minValue } from 'vuelidate/lib/validators';
import moment from 'moment';
import jApiUser from '@/services/jApiUser';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailNotif: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataNotif: {
        name: { required },
        description: {},
        start_date_timestamp: { required },
        end_date_timestamp: { required },
        max_hours: { required, integer, minValue: minValue(0) },
        max_days: { required, integer, minValue: minValue(0) },
        schedule_date: { required },
        schedule_time: { required },
        loc_mapping: { required },
        type_mapping: { required },
      },
    };
  },
  data() {
    return {
      dataNotif: {
        name: null,
        description: null,
        start_date_timestamp: null,
        end_date_timestamp: null,
        max_hours: null,
        max_days: null,
        schedule_date: null,
        schedule_time: null,
        loc_mapping: [],
        type_mapping: [],
      },
      start_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      selected_employee_loc: [],
      selected_employee_type: [],
    };
  },
  watch: {
    // eslint-disable-next-line
    'dataNotif.start_date_timestamp': function (date) {
      if (this.dataNotif.end_date_timestamp !== null) {
        if (this.dataNotif.end_date_timestamp < date) {
          this.dataNotif.end_date_timestamp = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    // eslint-disable-next-line
    'dataNotif.end_date_timestamp': function (date) {
      if (this.dataNotif.start_date_timestamp > date) {
        this.dataNotif.start_date_timestamp = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_employee_loc(val) {
      this.dataNotif.loc_mapping = [];
      val.forEach((el) => {
        this.dataNotif.loc_mapping.push(el.id);
      });
    },
    selected_employee_type(val) {
      this.dataNotif.type_mapping = [];
      val.forEach((el) => {
        this.dataNotif.type_mapping.push(el.id);
      });
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataNotif = {
        id: this.detailNotif.id,
        name: this.detailNotif.name,
        description: this.detailNotif.description,
        start_date_timestamp: moment(this.detailNotif.start_date_timestamp).format('yyyy-MM-DD'),
        end_date_timestamp: moment(this.detailNotif.end_date_timestamp).format('yyyy-MM-DD'),
        max_hours: this.detailNotif.max_hours,
        max_days: this.detailNotif.max_days,
        schedule_date: moment(this.detailNotif.schedule_date).format('yyyy-MM-DD'),
        schedule_time: this.detailNotif.schedule_time,
      };
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionCreateGroupApplication', 'actionSetAttendanceCode']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.start_date_disabled.ranges = [{
          from: this.dataNotif.end_date_timestamp,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataNotif.start_date_timestamp,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.start_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataNotif.start_date_timestamp,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    loadEmployeeOptions({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiUser.listUserPagination(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              if (!lab.name.replace(/\s/g, '').length) {
                // eslint-disable-next-line
                res.data.data[index].label = lab.email;
              } else {
                // eslint-disable-next-line
                res.data.data[index].label = lab.name;
              }
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    closeModalForm() {
      this.dataNotif = {
        name: null,
        description: null,
        start_date_timestamp: null,
        end_date_timestamp: null,
        max_hours: null,
        max_days: null,
        schedule_date: null,
        schedule_time: null,
        loc_mapping: [],
        type_mapping: [],
      };
      this.selected_employee_loc = [];
      this.selected_employee_type = [];
      this.$v.dataNotif.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataNotif.$touch();
      if (!this.$v.dataNotif.$error) {
        // const res = await this.actionSetAttendanceCode({
        //   companyId: this.companyId, params: this.dataNotif,
        // });

        // if (res.error) {
        //   this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        // } else {
        //   this.closeModalForm();
        // }
      }
    },
  },
};
</script>

