<template>
  <div>

    <j-tabs-v2 :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp"
            :oos-route="oosRoute"
          />
        </div>
      </div>
    </j-tabs-v2>

  </div>
</template>

<script>
import jExceedNotificationList from './jExceedNotificationList';

export default {
  components: {
    jExceedNotificationList,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabs: [
        {
          idTab: 'tab-0',
          title: 'Attendance Code',
          idComp: 'comp-exceed-0',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/code/list`,
        },
        {
          idTab: 'tab-1',
          title: 'Reminder',
          idComp: 'comp-exceed-1',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/reminder/list`,
        },
        {
          idTab: 'tab-2',
          title: 'Holiday',
          idComp: 'comp-exceed-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/holiday/list`,
        },
        {
          idTab: 'tab-3',
          title: 'Shift',
          idComp: 'comp-exceed-3',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/shift/list`,
        },
        {
          idTab: 'tab-4',
          title: 'Mapping Shift',
          idComp: 'comp-exceed-4',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/mapping-shift/list`,
        },
        {
          idTab: 'tab-5',
          title: 'Exceed Notification',
          idComp: 'comp-exceed-5',
          comp: jExceedNotificationList,
          isShow: true,
          isActive: true,
          link: `${this.oosRoute}/attendance/config/exceed-notification/list`,
        },
        {
          idTab: 'tab-6',
          title: 'Automatic Attendance',
          idComp: 'comp-exceed-6',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/automatic-attendance/list`,
        },
      ],
    };
  },
  methods: {

  },
};
</script>
