<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Attendance Code</h3>
      <b-form-group :class="{'error-input' : $v.dataCode.name.$error}">
        <label for="name"> Attendance Code Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataCode.name.$model"
          placeholder="Enter name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataCode.description.$error}">
        <label for="description"> Decription </label>
        <j-textarea
          id="description"
          v-model="$v.dataCode.description.$model"
          :disabled="false"
          placeholder="Enter description here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataCode.rule.$error}">
        <label for="description"> Rule <span class="red"> * </span> </label>
        <div
          v-for="(rule, index) in dataCode.rule"
          :key="index"
          class="card-field-container">
          <b-row>
            <b-col cols="2">
              <b-form-group :class="{'error-input' : $v.dataCode.rule.$error}">
                <label> Code </label>
                <j-input
                  v-model="dataCode.rule[index].code"
                  placeholder="ex: Full Day"/>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group :class="{'error-input' : $v.dataCode.rule.$error}">
                <label> Max Hour </label>
                <j-input
                  v-model="dataCode.rule[index].max_hour"
                  type="number"
                  placeholder="ex: 4"/>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group :class="{'error-input' : $v.dataCode.rule.$error}">
                <label> Rounding To </label>
                <j-input
                  v-model="dataCode.rule[index].rounding_to"
                  type="number"
                  placeholder="ex: 4"/>
              </b-form-group>
            </b-col>
            <b-col cols="2">
              <b-form-group :class="{'error-input' : $v.dataCode.rule.$error}">
                <label> Point </label>
                <j-input
                  v-model="dataCode.rule[index].point"
                  type="number"
                  placeholder="ex: 4"/>
              </b-form-group>
            </b-col>
            <b-col
              cols="3"
              class="align-self-center">
              <b-form-group v-if="index === 0">
                {{ `From 0 hour to ${dataCode.rule[index].max_hour} hour,
                rounded to ${dataCode.rule[index].rounding_to} hour` }}
              </b-form-group>
              <b-form-group v-else-if="index+1 === dataCode.rule.length">
                {{ `From ${dataCode.rule[index-1].max_hour} hour to
                ${dataCode.rule[index].max_hour}, rounded to
                ${dataCode.rule[index].rounding_to} hour` }}
              </b-form-group>
              <b-form-group v-else>
                {{ `From ${dataCode.rule[index-1].max_hour} hour to
                ${dataCode.rule[index].max_hour} hour,
                rounded to ${dataCode.rule[index].rounding_to} hour` }}
              </b-form-group>
            </b-col>
            <b-col
              cols="1"
              class="align-self-center">
              <b-form-group>
                <i
                  v-if="dataCode.rule.length > 1"
                  class="fa fa-trash fa-lg cursor-pointer"
                  @click="deleteCode(index)"/>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </b-form-group>
      <b-form class="text-right">
        <b-button
          class="btn blue"
          @click="addMoreCode">
          <i class="fa fa-plus fa-lg"/> Add more code
        </b-button>
      </b-form>
      <b-form-group :class="{'error-input' : $v.dataCode.employee_mapping.$error}">
        <label for="employee_mapping"> Employee Mapping <span class="red"> * </span> </label>
        <j-multi-select
          v-model="selected_mapping"
          :options="mapping_options"
          :placeholder="'Select Employee Mapping'"
          value-format="object"
        />
      </b-form-group>
      <b-row>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataCode.start_date_timestamp.$error}">
            <label for="startDate">Effective Start Date <span class="red"> * </span> </label>
            <j-datepicker
              id="startDate"
              v-model="$v.dataCode.start_date_timestamp.$model"
              :disabled-dates="start_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Jan 01, 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataCode.end_date_timestamp.$error}">
            <label for="endDate">Effective End Date <span class="red"> * </span> </label>
            <j-datepicker
              id="endDate"
              v-model="$v.dataCode.end_date_timestamp.$model"
              :disabled-dates="end_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Des 31, 2020"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group :class="{'error-input' : $v.dataCode.status.$error}">
        <label for="status"> Status <span class="red"> * </span> </label>
        <j-single-select
          v-model="selected_status"
          :options="status_options"
          :placeholder="'Select Status'"
          value-format="object"
        />
      </b-form-group>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalCodeForm">
          Close
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required, minValue, numeric } from 'vuelidate/lib/validators';
import { uuid } from 'vue-uuid';
import moment from 'moment';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    companyId: {
      type: Number,
      default: null,
    },
    detailCode: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataCode: {
        name: { required },
        description: {},
        start_date_timestamp: { required },
        end_date_timestamp: { required },
        employee_mapping: { required },
        status: { required },
        rule: {
          $each: {
            code: {
              required,
            },
            max_hour: {
              required,
              minValue: minValue(0),
              numeric,
            },
            rounding_to: {
              required,
              minValue: minValue(0),
              numeric,
            },
            point: {
              required,
              minValue: minValue(0),
            },
          },
        },
      },
    };
  },
  data() {
    return {
      uuid: uuid.v1(),
      dataCode: {
        name: null,
        description: null,
        start_date_timestamp: null,
        end_date_timestamp: null,
        employee_mapping: [],
        status: null,
        rule: [{
          code: null,
          max_hour: null,
          rounding_to: null,
          point: null,
        }],
      },
      start_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      selected_status: null,
      selected_mapping: [],
      status_options: [
        {
          id: 'active',
          text: 'Active',
          is_delete: false,
        },
        {
          id: 'inactive',
          text: 'Inactive',
          is_delete: false,
        },
      ],
      mapping_options: [
        {
          id: 'PERMANENT',
          text: 'Permanent',
          is_delete: false,
        },
        {
          id: 'PROBATION',
          text: 'Probation',
          is_delete: false,
        },
        {
          id: 'CONTRACT',
          text: 'Contract',
          is_delete: false,
        },
        {
          id: 'OUTSOURCE',
          text: 'Outsource',
          is_delete: false,
        },
        {
          id: 'INTERNSHIP',
          text: 'Internship',
          is_delete: false,
        },
        {
          id: 'CONSULTANT',
          text: 'Consultant',
          is_delete: false,
        },
      ],
    };
  },
  watch: {
    // eslint-disable-next-line
    'dataCode.start_date_timestamp': function (date) {
      if (this.dataCode.end_date_timestamp !== null) {
        if (this.dataCode.end_date_timestamp < date) {
          this.dataCode.end_date_timestamp = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    // eslint-disable-next-line
    'dataCode.end_date_timestamp': function (date) {
      if (this.dataCode.start_date_timestamp > date) {
        this.dataCode.start_date_timestamp = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_status(val) {
      this.dataCode.status = val.id;
    },
    selected_mapping(val) {
      this.dataCode.employee_mapping = [];
      val.forEach((el) => {
        this.dataCode.employee_mapping.push(el.id);
      });
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataCode = {
        id: this.detailCode.id,
        name: this.detailCode.name,
        description: this.detailCode.description,
        start_date_timestamp: moment(this.detailCode.start_date_timestamp).format('yyyy-MM-DD'),
        end_date_timestamp: moment(this.detailCode.end_date_timestamp).format('yyyy-MM-DD'),
        employee_mapping: this.detailCode.employee_mapping,
        status: this.detailCode.status,
        rule: this.detailCode.rule,
      };

      this.selected_status = this.status_options.find(el => el.id === this.detailCode.status);
      this.selected_mapping = this.mapping_options.filter(el =>
        this.detailCode.employee_mapping.includes(el.id),
      );
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionCreateGroupApplication', 'actionSetAttendanceCode']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.start_date_disabled.ranges = [{
          from: this.dataCode.end_date_timestamp,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataCode.start_date_timestamp,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.start_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataCode.start_date_timestamp,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    addMoreCode() {
      this.dataCode.rule.push({
        code: null,
        max_hour: null,
        rounding_to: null,
        point: null,
      });
    },
    deleteCode(index) {
      this.dataCode.rule.splice(index, 1);
    },
    closeModalCodeForm() {
      this.dataCode = {
        name: null,
        description: null,
        start_date_timestamp: null,
        end_date_timestamp: null,
        employee_mapping: [],
        status: null,
        rule: [{
          code: null,
          max_hour: null,
          rounding_to: null,
          point: null,
        }],
      };
      this.selected_status = null;
      this.selected_mapping = [];
      this.$v.dataCode.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataCode.$touch();
      if (!this.$v.dataCode.$error) {
        this.dataCode.start_date_timestamp = moment(this.dataCode.start_date_timestamp).valueOf();
        this.dataCode.end_date_timestamp = moment(this.dataCode.end_date_timestamp).valueOf();
        if (this.mode === 'create') {
          this.dataCode.id = this.uuid;
        }

        const res = await this.actionSetAttendanceCode({
          companyId: this.companyId, params: this.dataCode,
        });

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalCodeForm();
        }
      }
    },
  },
};
</script>

