<template>
  <div
    id="monitor-container"
    class="requestor summary-workflow-req container-app-search">

    <v-server-table
      v-show="load_first"
      ref="monitorTable"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="monitor-export"
            class="btn grey btn-import-oos m__r--5"
            @click="popoverExportShow = true">
            <i class="fa fa-cloud-download fa-lg"/> Generate xls
          </b-button>
          <b-button
            id="monitor-search"
            class="btn grey btn-import-oos"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="name"
        slot-scope="props">
        <strong> {{ props.row.name }} </strong> <br>
        {{ props.row.email }}
      </div>
      <div
        slot="start_date"
        slot-scope="props">
        {{ formatDate(props.row.start_date) }}
      </div>
      <div
        slot="end_date"
        slot-scope="props">
        {{ formatDate(props.row.end_date) }}
      </div>
      <div
        slot="working_hours"
        slot-scope="props">
        {{ formatWorkingHours(props.row.working_hours) }}
      </div>
      <div
        slot="status"
        slot-scope="props">
        {{ getStatusName(props.row.status) }}
      </div>
      <div
        slot="docs"
        slot-scope="props"
        class="text-center">
        <b-button
          v-if="props.row.docs.length > 0"
          class="btn btn-import-form"
          @click="openDetail(props)">
          Browse
        </b-button>
      </div>
    </v-server-table>

    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      target="monitor-search"
      container="monitor-container"
      placement="bottom">
      <b-row>
        <b-col>
          <b-form-group>
            <label>Start Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledStartDate(dataFilter.end_date)"
              v-model="dataFilter.start_date"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2019"/>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label>End Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledEndDate(dataFilter.start_date)"
              v-model="dataFilter.end_date"
              format="MMM dd, yyyy"
              placeholder="ex: 2 Jan 2019"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group>
        <label>Employee</label>
        <j-multi-select
          :is-async="true"
          :load-options="loadOptionsEmployee"
          v-model="dataFilter.employee"
          value-format="object"
          placeholder="Select Employee"/>
      </b-form-group>
      <b-form-group>
        <label>Status</label>
        <j-multi-select
          :options="status_options"
          v-model="dataFilter.status"
          placeholder="Select Status"/>
      </b-form-group>
      <b-form-group>
        <label>Venue</label>
        <j-multi-select
          :is-async="true"
          :load-options="loadOptionsVenue"
          v-model="dataFilter.venue"
          placeholder="Select Venue"
          value-format="object"/>
      </b-form-group>
      <div class="text-right">
        <b-button
          class="btn"
          style="margin-top: -19px;"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search" /> Search
        </b-button>
      </div>
    </b-popover>

    <b-popover
      ref="exportFormModal"
      :show.sync="popoverExportShow"
      target="monitor-export"
      container="monitor-container"
      placement="bottom">
      <b-row>
        <b-col>
          <b-form-group>
            <label>Start Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledStartDate(dataExport.end_date)"
              v-model="dataExport.start_date"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2019"/>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label>End Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledEndDate(dataExport.start_date)"
              v-model="dataExport.end_date"
              format="MMM dd, yyyy"
              placeholder="ex: 2 Jan 2019"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group>
        <label>Employee</label>
        <j-multi-select
          :is-async="true"
          :load-options="loadOptionsEmployee"
          v-model="dataExport.employee"
          value-format="object"
          placeholder="Select Employee"/>
      </b-form-group>
      <b-form-group>
        <label>Status</label>
        <j-multi-select
          :options="status_options"
          v-model="dataExport.status"
          placeholder="Select Status"/>
      </b-form-group>
      <b-form-group>
        <label>Venue</label>
        <j-multi-select
          :is-async="true"
          :load-options="loadOptionsVenue"
          v-model="dataExport.venue"
          placeholder="Select Venue"
          value-format="object"/>
      </b-form-group>
      <div class="text-right">
        <b-button
          class="btn"
          style="margin-top: -19px;"
          @click="popoverExportShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue"
          style="margin-top: -19px;"
          @click="generateXls">
          <i class="fa fa-cloud-download" /> Generate
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalUpload"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <j-upload-modal
        v-if="isOpenDocs"
        :data-detail="rowDetailData"
        :is-read-only="true"
        @modal-open="isModalUploadOpen"
      />
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions, mapState } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jApiUser from '@/services/jApiUser';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jMixTable from '@/mixins/jMixTable';
import jUploadModal from '../requestor/detail/jUploadModal';

export default {
  components: {
    jLoadingTable,
    jUploadModal,
  },
  mixins: [
    jMixTable,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      popoverExportShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      dataFilter: {
        start_date: this.monthAgo(),
        end_date: new Date(),
        employee: [],
        venue: [],
        status: [],
      },
      dataExport: {
        start_date: this.monthAgo(),
        end_date: new Date(),
        employee: [],
        venue: [],
        status: [],
      },
      status_options: [
        {
          id: 1,
          text: 'Draft',
        },
        {
          id: 2,
          text: 'Sent',
        },
        {
          id: 4,
          text: 'Approved',
        },
        {
          id: 6,
          text: 'Rejected',
        },
        {
          id: 11,
          text: 'Canceled',
        },
      ],
      filter_data: '',
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['id', 'employee_id', 'name', 'organization_unit', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time', 'working_hours', 'description', 'docs', 'status', 'note'],
      options: {
        headings: {
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          organization_unit: 'ORGANIZATION UNIT',
          start_date: 'CHECK IN DATE',
          end_date: 'CHECK OUT DATE',
          project_name: 'PROJECT',
          venue_name: 'VENUE',
          start_time: 'CHECK IN',
          end_time: 'CHECK OUT',
          working_hours: 'WORKING HOURS',
          description: 'REASON',
          docs: 'ATTACHMENT',
          status: 'STATUS',
          note: 'APPROVER COMMENT',
          checkbox(h) {
            const objThis = this;
            return jMixTable.checkbox(h, objThis);
          },
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['id', 'employee_id', 'name', 'organization_unit', 'start_date', 'end_date', 'status'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'status',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiCoAttendance.getCoattendanceMonitorList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreCoAttendance', ['user_restriction_report']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.monitorTable.setFilter('');
      }
    },
  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
      user_company_id: localStorage.getItem('user_company_id') || 0,
    };
    this.actionGetUserRestrictionReport(params);
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetUserRestrictionReport', 'actionExportCoattendanceMonitor']),

    monthAgo() {
      const date = new Date();
      date.setDate(date.getDate() - 31);
      return date;
    },

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },

    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },

    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },

    getListEmployee(req, callback) {
      return jApiUser.getUserRestrictionOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },

    loadOptionsVenue({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetVenueList', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loading(data) {
      data.start_date = this.$moment(this.dataFilter.start_date).format('YYYY-MM-DD');
      data.end_date = this.$moment(this.dataFilter.end_date).format('YYYY-MM-DD');
      data.status = this.dataFilter.status;
      data.venue_ids = this.dataFilter.venue.map(val => val.id);
      data.user_company_ids = this.dataFilter.employee.map(val => val.user_company_id);
      if (this.load_first) {
        this.$refs.monitorTable.loading = true;
        this.$refs.monitorTable.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.monitorTable.setFilter(val);
    },

    openDetail(props) {
      this.rowDetailData = props;
      this.isModalUploadOpen(true);
    },

    isModalUploadOpen(val) {
      if (val) {
        this.isOpenDocs = val;
        this.$refs.modalUpload.show();
      } else {
        this.isOpenDocs = val;
        this.$refs.modalUpload.hide();
      }
    },

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },

    formatWorkingHours(val) {
      const hours = Math.round(val / 3600);
      const minutes = Math.round((val % 3600) / 60);
      return `${hours} hours ${minutes} minutes`;
    },

    getStatusName(val) {
      if (val === 2) {
        return 'Sent';
      } else if (val === 4) {
        return 'Approved';
      } else if (val === 6) {
        return 'Rejected';
      } else if (val === 11) {
        return 'Canceled';
      }
      return 'Draft';
    },

    generateXls() {
      const params = {
        start_date: this.$moment(this.dataExport.start_date).format('YYYY-MM-DD'),
        end_date: this.$moment(this.dataExport.end_date).format('YYYY-MM-DD'),
        status: this.dataExport.status,
        venue_ids: this.dataExport.venue.map(val => val.id),
        user_company_ids: this.dataExport.employee.map(val => val.user_company_id),
      };

      this.actionExportCoattendanceMonitor(params);
    },

  },
};
</script>
