<template>
  <div class="container-config-leave-oos">
    <div class="header-config-leave-oos">
      <div class="label-top">CONFIGURATION</div>
      <div class="d-flex m__t--15">
        <div
          :class="{'active' : isLeaveTypeTabSelected}"
          class="tab-header-leave"
          @click="showLeaveTypeTab">
          LEAVE TYPE
        </div>
        <div
          :class="{'active' : isMappingTabSelected}"
          class="tab-header-leave"
          @click="showMappingTab">
          MAPPING
        </div>
      </div>
    </div>
    <div class="body-config-leave-oos">
      <jLeaveConfigLeaveType
        v-if="isLeaveTypeTabSelected"
        :oos-route="oosRoute"/>
      <jLeaveConfigMappingList
        v-if="isMappingTabSelected"
        :oos-route="oosRoute"/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jLeaveConfigLeaveType from './leave-type/jLeaveConfigLeaveType';
import jLeaveConfigMappingList from './mapping/jLeaveConfigMapping';

export default {
  components: {
    jLeaveConfigLeaveType,
    jLeaveConfigMappingList,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  computed: {
    ...mapState('jStoreLeaveConfig', ['isMappingTabSelected', 'isLeaveTypeTabSelected']),
  },
  methods: {
    ...mapActions('jStoreLeaveConfig', ['showMappingTab', 'showLeaveTypeTab']),
  },
};
</script>

<style lang="scss">
  .container-config-leave-oos {
    border: 1px solid #f1f1f1;
    border-radius: 7px;
  }

  .header-config-leave-oos {
    background-color: #efefef;
    border-radius: 7px 7px 0px 0px;
    height: 96px;
    padding: 24px;

    .label-top {
      font-weight: 500;
      font-size: 14px;
      color: #808285;
      line-height: 15px;
    }

    .tab-header-leave {
      color: #808285;
      font-weight: 500;
      font-size: 12px;
      padding: 10px 20px;
      cursor: pointer;
    }

    .tab-header-leave.active {
      color: #606060;
      border-bottom: 3px solid #4A90E2;
    }
  }

  .body-config-leave-oos {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 0px 0px 7px 7px;
  }

  .active-tab {
    border: 1px solid #e5e5e5;
    border-bottom: white;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
  }
  .non-active-tab {
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .non-active-tab:hover {
    color: #098bbe;
  }
  .tab-options {
    z-index: 100;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .tab-content {
    width: calc(100% - 20px);
    border-top: 1px solid #e5e5e5;
    margin-top: 6px;
  }
  .tab-content-first-selected {
    width: calc(100% - 20px);
    border-top: 1px solid #e5e5e5;
    margin-top: 6px;
    border-top-left-radius: 0px;
  }
  .tab-container {
    padding: 10px;
  }
</style>
