<!-- eslint-disable max-len -->
<template>
  <div class="j-progress-bar">
    <b-progress
      :max="max"
      class="mt-1"
    >
      <b-progress-bar
        :value="value"
        :style="`background-color: ${ config && config.color ? config.color : '#2487E1' } !important`"
        variant="primary">
        <span :class="((value / max) * 100) > (onTable ? 9 : 4) ? 'label-used' : 'label-used-null'">
          {{ data && data >= 0 ? data : 0 }}%
        </span>
      </b-progress-bar>
      <b-progress-bar
        :value="max - value"
        style="background-color: #D3D3D3 !important"
        variant="secondary" />
    </b-progress>
    <div
      v-if="!onTable"
      class="label-progress-bar"
    >
      <div>0%</div>
      <div>50%</div>
      <div>100%</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [String, Number],
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    config: {
      type: Object,
      default: () => {},
    },
    onTable: {
      type: Boolean,
      default: false,
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      max: 100,
    };
  },
  computed: {
    value() {
      const val = this.data || 0;
      if (val > 100) return 100;
      else if (val < 0) return 0;
      return val;
    },
  },
};
</script>
