<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-education-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @education="getEducationDetail"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-education-form
          :mode="mode"
          :detail="education_detail"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import jEducationForm from './jEducationForm';
import jEducationTable from './jEducationTable';

export default {
  name: 'JEducation',
  components: {
    jEducationForm,
    jEducationTable,
  },
  data() {
    return {
      mode: '',
      education_detail: null,
      title: {
        main_title: 'EDUCATION',
      },
    };
  },
  methods: {
    getEducationDetail(data) {
      this.education_detail = data;
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.education_detail = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style scoped>

</style>
