<template>
  <div :class="formContainerClass">
    <!-- <span
      v-if="!is_submit_mode"
      id="close-icon"
      class="right-top-span"
      @click="cancelForm()"
    >
      <i class="fa fa-times close-icon"/>
    </span> -->
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{ 'error-input': $v.education_data.institution_name.$error }">
          <label class="form__label">Institution Name</label>
          <j-input
            v-model="$v.education_data.institution_name.$model"
            :max-length="50"
            placeholder="ex: Universitas Indonesia"/>
        </b-form-group>

        <b-form-group :class="{ 'error-input': $v.education_data.field_of_study.$error }">
          <label class="form__label">Field Of Study</label>
          <j-input
            v-model="$v.education_data.field_of_study.$model"
            :max-length="50"
            placeholder="ex: Ekonomi"/>
        </b-form-group>

        <b-form-group :class="{ 'error-input': $v.education_data.degree.$error }">
          <label class="form__label">Degree</label>
          <j-single-select
            v-model="$v.education_data.degree.$model"
            :options="degreeOptions"
            :placeholder="'Select'"
            value-format="object"
          />
        </b-form-group>

        <b-form-group
          :class="{ 'error-input': $v.education_data.grade.$error }"
        >
          <label class="form__label">Grade</label>
          <j-input
            v-model="$v.education_data.grade.$model"
            :max-length="50"
            type="number"
            placeholder="ex: 4"/>
        </b-form-group>

        <b-row>
          <b-col>
            <b-form-group :class="{ 'error-input': $v.education_data.start_year.$error }">
              <label class="form__label">Begin Year</label>
              <j-datepicker
                v-model="$v.education_data.start_year.$model"
                :disabled-dates="disabledStartDate($v.education_data.end_year.$model)"
                :disabled="false"
                format="MMM dd, yyyy"
                placeholder="Jan 01, 2019"
              />
            </b-form-group>
          </b-col>

          <b-col>
            <b-form-group :class="{ 'error-input': $v.education_data.end_year.$error }">
              <label class="form__label">End Year</label>
              <j-datepicker
                v-model="$v.education_data.end_year.$model"
                :disabled-dates="disabledEndDate($v.education_data.start_year.$model)"
                :disabled="education_data.isActive"
                format="MMM dd, yyyy"
                placeholder="Jan 01, 2019"/>
              <div
                class="checkbox-present">
                <input
                  :checked="education_data.isActive"
                  type="checkbox"
                  @click="checkPresent()"
                >
                Present
              </div>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { minLength, required, requiredIf } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import eventBus from './event-bus/index';

const grades = value => value >= 0 && !isNaN(value);

export default {
  name: 'JCareerHistoryForm',
  components: {
    Spinner,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      education_data: {
        id: 0,
        institution_name: null,
        field_of_study: null,
        degree: null,
        grade: null,
        start_year: null,
        end_year: null,
        isActive: false,
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        institution_name: null,
        field_of_study: null,
        degree: null,
        grade: null,
        start_year: null,
        end_year: null,
      },
      degreeOptions: [
        {
          id: 1,
          text: 'Highest School (SMA/SMU/SMK)',
        },
        {
          id: 6,
          text: 'D1 (Diploma)',
        },
        {
          id: 2,
          text: 'D3 (Diploma)',
        },
        {
          id: 7,
          text: 'D4 (Diploma)',
        },
        {
          id: 3,
          text: 'Bachelor Degree (S1)',
        },
        {
          id: 4,
          text: 'Masteral Degree (S2)',
        },
        {
          id: 5,
          text: 'Doctoral Degree (S3)',
        },
      ],
    };
  },
  computed: {

    formContainerClass() {
      return 'form-container--normal';
      // if (this.is_submit_mode) {
      //   return 'form-container--normal';
      // }
      // return 'form-container--chosen';
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        const degree = this.degreeOptions.find(x => x.text === data.degree);
        this.education_data.id = data.id;
        this.education_data.institution_name = data.institution_name;
        this.education_data.field_of_study = data.field_of_study;
        this.education_data.degree = {
          id: degree.id ? degree.id : null,
          text: degree.text ? degree.text : null,
        };
        this.education_data.grade = data.grade;
        this.education_data.start_year = data.start_year;
        this.education_data.end_year = data.end_year;
        this.education_data.isActive = data.is_active;

        this.is_submit_mode = false;
        this.submit_text = 'Update';

        this.previous_data = Object.assign({}, this.education_data);
      } else {
        this.education_data.id = 0;
        this.education_data.institution_name = null;
        this.education_data.field_of_study = null;
        this.education_data.degree = null;
        this.education_data.grade = null;
        this.education_data.start_year = null;
        this.education_data.end_year = null;
        this.education_data.isActive = false;

        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.education_data.$reset();
      }
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });
  },
  methods: {
    checkPresent() {
      this.education_data.isActive = !this.education_data.isActive;
      this.$v.education_data.end_year.$model = null;
    },
    submit() {
      this.$v.education_data.$touch();
      if (!this.$v.education_data.$error) {
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          const { id, institution_name, degree, field_of_study, grade,
            start_year: startYear, end_year: endYear, isActive } = this.education_data;

          const newObject =
            {
              id,
              institution_name,
              degree: degree.text,
              field_of_study,
              grade,
              start_year: startYear,
              end_year: endYear,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.addEducationInformation(employeeId, newObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;
          const { id, institution_name, degree, field_of_study, grade,
            start_year: startYear, end_year: endYear, isActive } = this.education_data;

          const patchedObject =
            {
              id,
              institution_name,
              degree: degree.text,
              field_of_study,
              grade,
              start_year: startYear,
              end_year: endYear,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateEducationInformation(employeeId, id, patchedObject).then((res) => {
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      }
    },
    cancelForm() {
      this.education_data.institution_name = null;
      this.education_data.field_of_study = null;
      this.education_data.degree = null;
      this.education_data.grade = null;
      this.education_data.start_year = null;
      this.education_data.end_year = null;
      this.education_data.isActive = false;

      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      setTimeout(() => {
        this.$v.education_data.$reset();
      }, 0);

      eventBus.$emit('currentRow', 0);
    },
    revert() {
      this.is_loading.revert = true;
      this.education_data = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;

      this.$emit('close-modal', true);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id } = this.currentObject;
          const { id: employeeId } = this.$route.params;

          jApiEmployee.deleteEducationInformation(employeeId, id).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        } else {
          this.is_loading.remove = false;
        }
        this.$emit('close-modal', true);
      });
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      const yesterday = new Date().setDate(new Date().getDate() - 1);
      return {
        color: 'light-grey',
        ranges: [{
          from: this.education_data.end_year ? Date.parse(endDate) : yesterday,
          to: new Date(200000, 1, 1),
        }],
      };
    },
  },
  validations() {
    return {
      education_data: {
        institution_name: {
          required,
          minLength: minLength(2),
        },
        field_of_study: {
          required,
          minLength: minLength(2),
        },
        degree: {
          id: { required },
          text: { required },
        },
        start_year: {
          required,
        },
        end_year: {
          required: requiredIf(() => !this.education_data.isActive),
        },
        grade: {
          grades,
        },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
