<template>
  <div class="container-attachment-oos d-flex">
    <div
      v-if="thumbnail"
      class="thumbnail-upload-file cursor-pointer"
      @click="clickedPreviewCard">
      <viewer
        v-if="fileType === 'jpeg' || fileType === 'jpg' || fileType === 'png'"
        :images="images"
        :options="options"
        class="container-img-file-jpg">
        <div
          v-for="(src, index) in images"
          :key="index"
          :style="{ backgroundImage: `url(${thumbnail})` }"
          class="image-div" />
      </viewer>
      <img
        v-else
        :src="thumbnail"
        class="m__t--2"
        width="20">
    </div>
    <div
      v-else
      :class="{'m__b--7' : !optionName}"
      class="thumbnail-upload-file">
      <img
        :src="imgDefaultThumbnail"
        width="20">
    </div>

    <b-form-file
      ref="fileinput"
      v-model="file"
      plain/>

    <div
      v-if="thumbnail"
      class="w--100">
      <b-row>
        <b-col
          :class="{'wrap-label-no-option-name': fileName && !optionName}"
          md="10"
        >
          <div class="label-option-file">{{ optionName }}</div>
          <div class="label-option-file">{{ fileName }}</div>
        </b-col>
        <b-col
          class="p__t--9">
          <img
            :src="require('./download.png')"
            :style="{ right: disabled ? '23px' : '43px' }"
            class="m__r--5 cursor-pointer"
            width="17"
            height="17"
            style="position: absolute"
            @click="clickedPreviewCard('download')">
          <img
            v-if="!disabled"
            :src="require('./delete.png')"
            class="cursor-pointer"
            width="17"
            height="17"
            style="position: absolute; right: 23px;"
            @click="deleteFile()">
        </b-col>
      </b-row>
    </div>
    <div
      v-else
      :class="{'wrap-label-disabled': disabled}"
      @click="clickBrowseButton">
      <div class="label-option-file">{{ optionName || 'No Attachment Uploaded' }}</div>
      <div
        v-if="!disabled"
        class="label-upload-file">Upload</div>
      <span
        v-if="errorRequired"
        class="label-error">
        {{ errorMessage }}
      </span>
    </div>
    <div v-if="!thumbnail && moreData && !disabled">
      <img
        :src="require('./delete.png')"
        class="cursor-pointer"
        width="17"
        height="17"
        style="position: absolute; right: 29px; margin-top: 12px;"
        @click="deleteFile()">
    </div>
  </div>
</template>

<script>
/* eslint-disable no-unused-vars,import/no-unresolved,vue/require-default-prop,global-require,max-len,no-underscore-dangle,no-console,func-names */
import { mapActions } from 'vuex';
import axios from 'axios';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

export default {
  mixins: [
    jMixSanitizeUrl,
  ],
  props: {
    acceptedFileType: {
      type: Array,
      default: () => ([]),
    },
    label: {
      type: String,
      default: 'Browse',
    },
    imgDefault: {
      type: String,
      default: null,
    },
    nameDefault: {
      type: String,
      default: '',
    },
    apiToken: {
      type: String,
      default: '',
    },
    urlUpload: {
      type: String,
      default: '',
    },
    optionName: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    maxFileSize: {
      type: Number,
      default: null,
    },
    isWatermark: {
      type: Boolean,
      default: false,
    },
    moreData: {
      type: Boolean,
      default: false,
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: false,
    },
    privateFile: {
      type: Boolean,
      default: false,
    },
    companydrivePath: {
      type: String,
      default: '/',
    },
  },
  data() {
    return {
      file: null,
      fileName: '-',
      thumbnail: null,
      fileUrl: '',
      fileType: '',
      images: [],
      options: {
        url: 'data-src',
      },
    };
  },
  computed: {
    imgDefaultThumbnail() {
      const fileThumbnail = require('./file.png');
      return fileThumbnail;
    },

    rlsPrivateStorage() {
      return Number(process.env.RLS_PRIVATE_STORAGE) === 1;
    },
  },
  watch: {
    file() {
      if (this.file !== null && this.file !== undefined) {
        const fileName = this.file.name;
        const fileSize = this.file.size;
        const dotPosition = fileName.lastIndexOf('.') + 1;
        let extension = fileName.substring(dotPosition);
        extension = extension.toLowerCase();
        this.fileType = extension;

        let isAccepted = false;
        this.acceptedFileType.forEach((type) => {
          if (type === extension) {
            isAccepted = true;
          }
        });

        let isSizeAccepted = false;
        if (this.maxFileSize) {
          if (fileSize <= this.maxFileSize * 1000) {
            isSizeAccepted = true;
          }
        } else {
          isSizeAccepted = true;
        }

        if (isAccepted && isSizeAccepted) {
          this.uploadFile(this.file);
        } else {
          if (!isAccepted) {
            this.clearFiles();
            this.toggleWarning('Sorry, the file you uploaded was not allowed');
          }
          if (!isSizeAccepted) {
            this.clearFiles();
            this.toggleWarning(`Please upload file with maximum size ${this.maxFileSize / 1000}MB!`);
          }
          if (!isSizeAccepted && !isAccepted) {
            this.clearFiles();
            this.toggleWarning('Sorry, the file you uploaded was not allowed');
          }
        }
      }
    },

    imgDefault() {
      this.fillData();
    },
  },
  created() {
    this.fillData();
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleLoading', 'showLoading', 'hideLoading', 'toggleProblem', 'toggleSuccess', 'toggleWarning']),

    fillData() {
      const safeUrl = this.sanitizeUrl(this.imgDefault);
      if (safeUrl && (safeUrl.includes('https') || safeUrl.includes('http'))) {
        this.fileUrl = safeUrl;

        const dotPosition = safeUrl.lastIndexOf('.') + 1;
        let extension = safeUrl.substring(dotPosition);
        extension = extension.toLowerCase();
        const thumbnail = this.determineThumbnails(extension);
        this.thumbnail = thumbnail;
        this.fileType = extension;

        const slashPosition = safeUrl.lastIndexOf('/') + 1;
        this.fileName = safeUrl.substring(slashPosition);
      } else if (this.imgDefault) {
        const urlDownload = `${localStorage.getItem('gateUrl')}company-drive/file/download?id=${this.imgDefault}`;
        axios.get(urlDownload, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.apiToken}`,
          },
        }).then((resDownload) => {
          this.fileUrl = this.sanitizeUrl(resDownload.data.data.url);

          const urlExplore = `${localStorage.getItem('gateUrl')}company-drive/explore`;
          const bodyExplore = {
            filter: {
              where_is_and: { id: this.imgDefault },
            },
            filter_operator: 'and',
            limit: 1,
            page: 1,
            sort: { name: 1 },
          };
          axios.post(urlExplore, bodyExplore, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${this.apiToken}`,
            },
          }).then((resExplore) => {
            const items = resExplore.data.items;
            if (items && items.length) {
              const extensionFile = items[0].file_type;
              this.thumbnail = this.determineThumbnails(extensionFile);
              this.fileType = extensionFile;
              this.fileName = items[0].name;
            }
          });
        });
      }
      this.$emit('name', this.fileName);
    },

    clearFiles() {
      this.$refs.fileinput.reset();
    },

    determineThumbnails(extension) {
      const pdfThumbnail = require('./pdf.png');
      const fileThumbnail = require('./file.png');
      const docThumbnail = require('./docx.png');
      const xlsThumbnail = require('./xls.png');
      const txtThumbnail = require('@/assets/icon/txt.png');
      const pptThumbnail = require('@/assets/icon/ppt.png');
      const mp4Thumbnail = require('@/assets/icon/mp4.png');

      if (extension === 'pdf') {
        return pdfThumbnail;
      }
      if (extension === 'jpeg' || extension === 'jpg' || extension === 'png') {
        if (this.fileUrl) {
          this.images = [this.fileUrl];
        }
        return this.fileUrl;
      }
      if (extension === 'doc' || extension === 'docx' || extension === 'csv') {
        return docThumbnail;
      }
      if (extension === 'xls' || extension === 'xlsx') {
        return xlsThumbnail;
      }
      if (extension === 'txt') {
        return txtThumbnail;
      }
      if (extension === 'ppt' || extension === 'pptx') {
        return pptThumbnail;
      }
      if (extension === 'mp4') {
        return mp4Thumbnail;
      }
      return fileThumbnail;
    },

    deleteFile() {
      this.file = null;
      this.fileName = '';
      this.thumbnail = '';
      this.fileUrl = '';
      this.fileType = '';
      this.imgDefault = null;
      this.images = [];
      this.clearFiles();
      this.$emit('deleteFile');
      this.$emit('url', null);
    },

    clickedPreviewCard(action) {
      const safeUrl = this.sanitizeUrl(this.imgDefault);
      if (safeUrl && (safeUrl.includes('https') || safeUrl.includes('http'))) {
        if ((this.fileType === 'jpeg' || this.fileType === 'jpg' || this.fileType === 'png') && action === 'download') {
          this.forceDownload(this.fileUrl, this.fileName);
        } else if (this.fileType === 'jpeg' || this.fileType === 'jpg' || this.fileType === 'png') {
          this.$viewerApi({
            images: this.images,
          });
        } else {
          window.open(this.fileUrl, '_blank');
        }
      } else if (this.imgDefault) {
        const urlDownload = `${localStorage.getItem('gateUrl')}company-drive/file/download?id=${this.imgDefault}`;
        axios.get(urlDownload, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${this.apiToken}`,
          },
        }).then((resDownload) => {
          this.fileUrl = this.sanitizeUrl(resDownload.data.data.url);
          if ((this.fileType === 'jpeg' || this.fileType === 'jpg' || this.fileType === 'png') && action === 'download') {
            this.forceDownload(this.fileUrl, this.fileName);
          } else if (this.fileType === 'jpeg' || this.fileType === 'jpg' || this.fileType === 'png') {
            this.$viewerApi({
              images: this.images,
            });
          } else {
            window.open(this.fileUrl, '_blank');
          }
        });
      }
    },

    forceDownload(url, fileName) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);
      xhr.responseType = 'blob';
      xhr.onload = function () {
        const urlCreator = window.URL || window.webkitURL;
        const imageUrl = urlCreator.createObjectURL(this.response);
        const tag = document.createElement('a');
        tag.href = imageUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      };
      xhr.send();
    },

    clickBrowseButton() {
      if (!this.disabled) {
        this.$refs.fileinput.$refs.input.click();
      }
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },

    async uploadFile(file) {
      this.showLoading();

      const imagebase = await this.getBase64(file).then(
        data => data,
      );
      const commaPosition = imagebase.lastIndexOf(',') + 1;
      const imageData = imagebase.substring(commaPosition);
      this.$emit('content', imageData);

      let url = '';
      let formData = null;
      if (this.rlsPrivateStorage) {
        url = `${localStorage.getItem('gateUrl')}company-drive/upload`;
        formData = new FormData();
        formData.append('name', file.name);
        formData.append('file', file);
        formData.append('folder_path', this.privateFile ? this.companydrivePath : '/');
        formData.append('is_public_worldwide', !this.privateFile);
        formData.append('randomize_filename', true);
        formData.append('replace', true);
      } else {
        const attrFileName = this.isWatermark ? 'file_name' : 'filename';
        url = this.urlUpload;
        formData = {
          content: imageData,
          [attrFileName]: file.name,
        };
      }

      axios.post(url, formData, {
        headers: {
          'Content-Type': this.rlsPrivateStorage ? 'multipart/form-data' : 'application/json',
          Authorization: `Bearer ${this.apiToken}`,
        },
      }).then((res) => {
        if (this.rlsPrivateStorage) this.$emit('url', res.data.data.id);
        else this.$emit('url', this.sanitizeUrl(res.data.data.url));

        this.hideLoading();
        this.toggleSuccess(res.data.message);
      }).catch((error) => {
        const errorMessage = error.response && error.response.data && error.response.data.message ? error.response.data.message : 'Failed to upload file';
        this.hideLoading();
        this.toggleProblem(errorMessage);
        this.clearFiles();
      });
    },
  },
};
</script>

<style lang="scss">
.container-attachment-oos {
    padding-bottom: 5px;

  .form-control-file {
    display: none;
  }

  .wrap-label-disabled {
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  .wrap-label-no-option-name {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .label-upload-file {
    color: #1A85E4;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
  }

  .label-option-file {
    color: #808285;
    font-weight: 400;
    font-size: 12px;
  }

  .thumbnail-upload-file {
    width: 50px;
    text-align: center;
    padding-top: 5px;
    z-index: 9;
  }

  .info-upload-file {
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
  }

  .label-change-file-upload-file {
    color: #0AB6FF;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
  }

  .label-download-upload-file {
    color: #0AB6FF;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }

  .w--100 {
    width: 100%;
  }

  .container-img-file-jpg {
    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-left: 7px;
    }

    .image-div {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      margin-left: 7px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .label-error {
    font-size: 9px;
    display: block;
    margin: 0;
  }
}
</style>
