<template>
  <div class="jImportFile jTableReport">

    <b-button
      id="location-import"
      class="btn btn-import-oos m__r--5">
      <i class="fa fa-cloud-upload fa-lg"/> Import
    </b-button>

    <b-popover
      ref="importFormModal"
      :show.sync="popoverImportShow"
      triggers="click"
      container="location-table"
      target="location-import"
      placement="bottom">
      <div class="d-flex flex-column align-items-center">
        <div class="label-import m__b--10">Import Data</div>
        <!-- <vue-xlsx-table
          v-if="rerender"
          :accept="fileType"
          class="w-100"
          @on-select-file="handleSelectedFile">
          <div><i class="fa fa-cloud-upload fa-2x"/></div>
          {{ placeholder }}
        </vue-xlsx-table> -->

        <b-form-file
          ref="file"
          v-model="file"
          :state="Boolean(file)"
          multiple
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
          @change="handleFileUpload($event.target.files)"/>
        <!-- <a
          :href="hrefSample"
          class="m__t--10"
          target="_blank"> -->
        <b-button
          class="btn btn-download-template-oos m__t--10"
          @click="downloadTemplate"
        >
          Download Shift Template
        </b-button>
        <!-- </a> -->
        <a class="m__t--10">
          <b-button
            class="btn btn-download-template-oos"
            @click="generateXLS">
            Download Shift Master
          </b-button>
        </a>
      </div>
    </b-popover>

    <b-modal
      ref="myModalRef"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <h3>Import Preview</h3>
      <div class="">
        <jTable
          v-if="tableData !== null"
          :columns="columns"
          :table-data="tableData"
          @importData="importData">

          <b-button
            class="btn grey"
            @click="closeTable">
            Close
          </b-button>

        </jTable>
      </div>

    </b-modal>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jTable from './jTable';

export default {
  components: {
    jTable,
  },
  props: {
    hrefSample: {
      type: String,
      default: 'https://s3-ap-southeast-1.amazonaws.com/jojo-pro/files/templates/csv/SAP_account_v1.csv',
    },
    fileType: {
      type: String,
      default: '.csv, .xls, .xlsx, .xlsm',
    },
    // placeholder: {
    //   type: String,
    //   default: 'Import File',
    // },
  },
  data() {
    return {
      popoverImportShow: false,
      tableData: null,
      columns: null,
      tableStore: null,
      columnStore: null,
      rerender: true,
      placeholder: 'Upload',
      file: '',
    };
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionExportShift', 'actionGetMappingShiftTemplate', 'actionImportMappingShift']),

    handleFileUpload(file) {
      const formData = new FormData();
      formData.append('type', 1);
      formData.append('files[]', file[0]);
      this.actionImportMappingShift(formData);
    },
    handleSelectedFile(convertedData) {
      this.popoverImportShow = false;
      this.rerender = false;
      this.tableData = null;
      const convertToJson = convertedData.body.map((data) => {
        const dataTable = {};
        for (let i = 0; i < convertedData.header.length; i += 1) {
          dataTable[convertedData.header[i]] = data[convertedData.header[i]];
        }
        return dataTable;
      });
      this.tableData = convertToJson;
      this.tableStore = convertToJson;
      this.columns = convertedData.header;
      this.columnStore = convertedData.header;
      this.$refs.myModalRef.show();
      const elem = document.getElementsByClassName('c-hide');
      for (let i = 0; i < elem.length; i += 1) {
        if (elem[i].value !== '') {
          const splitter = elem[i].value.split('\\');
          this.placeholder = splitter[splitter.length - 1];
        }
      }
      setTimeout(() => {
        this.rerender = true;
      }, 0);
    },
    closeTable() {
      this.$refs.myModalRef.hide();
      this.tableData = null;
    },
    importData(data) {
      this.closeTable();
      this.$emit('import-data', data);
    },
    async downloadTemplate() {
      const res = await this.actionGetMappingShiftTemplate();
      if (!res.error) {
        window.open(res.data.url);
      }
    },
    generateXLS() {
      setTimeout(() => {
        this.actionExportShift();
      }, 0);
    },
  },
};
</script>

<style lang="scss">
  .vue-xlsx-container {
    button {
      width: 100%;
      padding: 20px;
    }
  }

  .btn-import-oos {
    padding: 7px 15px !important;
    background: #efefef !important;
    color: #505050 !important;
  }

  .btn-download-template-oos {
    background-color: #fff;
    color: #808285;
  }
</style>
