<template>
  <div class="jImportFile jTableReport">
    <v-client-table
      :data="tableData"
      :columns="columns"
      :options="options"
      class="jTable">

      <div
        slot="checkbox"
        slot-scope="props">
        <b-form-group>
          <b-form-checkbox-group v-model="selectedRows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

    </v-client-table>

    <br>
    <div class="float-to-right">
      <slot/>
      <b-button
        class="btn blue"
        @click="importData">Import</b-button>
    </div>

  </div>
</template>

<script>


export default {
  props: {
    tableData: {
      type: Array,
      default: null,
    },
    columns: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      selectedRows: [],
      options: {
        headings: {
          // eslint-disable-next-line
          checkbox(h) {
          // eslint-disable-next-line
            const _this = this;

            if (this.selectedRows.length === this.tableData.length) {
              return h(
                'i',
                {
                  attrs: {
                    id: 'select-all-unchecked',
                    class: 'fa fa-square-o i--center-block',
                    style: 'display: block; font-size: 20px;',
                  },
                  on: {
                    click() {
                      _this.selectedRows = [];
                    },
                  },
                },
                [''],
              );
            } if (this.selectedRows.length !== this.tableData.length) {
              return h(
                'i',
                {
                  attrs: {
                    id: 'select-all-checked',
                    class: 'fa fa-check-square i--center-block',
                    style: 'display: block; font-size: 20px;',
                  },
                  on: {
                    click() {
                      _this.selectedRows = _this.tableData;
                    },
                  },
                },
                [''],
              );
            }
          },
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: false,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },
  computed: {
    sortable() {
      // eslint-disable-next-line
      const datas = this.columns.filter((data, index) => {
        if (index !== 0) {
          return data;
        }
      });
      return datas;
    },
  },
  created() {
    if (this.columns[0] !== 'checkbox') {
      this.columns.unshift('checkbox');
      this.options.sortable = this.sortable;
    }
  },
  mounted() {
    const elem = document.getElementsByClassName('form-control');
    elem[0].setAttribute('placeholder', 'Search');
  },
  methods: {
    importData() {
      if (this.selectedRows.length !== 0) {
        this.$emit('importData', this.selectedRows);
      }
    },
  },
};
</script>

<style lang="scss">

</style>
