<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.taxConfig.config.$error }">
          <label>Tax Config*</label>
          <j-select
            :disabled="mode === 'edit'"
            v-model="taxConfig.config"
            :options="taxConfigList"
            placeholder="Tax config" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.taxConfig.start_date.$error }">
          <label>Effective Begin Tax Config*</label>
          <j-datepicker
            v-model="$v.taxConfig.start_date.$model"
            :disabled-dates="disabledStartDate($v.taxConfig.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.taxConfig.end_date.$error }">
          <label>Effective End Tax Config</label>
          <j-datepicker
            v-model="$v.taxConfig.end_date.$model"
            :disabled-dates="disabledEndDate($v.taxConfig.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>

    <div class="pull-right">
      <b-button
        v-if="mode === 'edit'"
        :disabled="!isAdmin"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button>
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        v-if="mode === 'create'"
        class="btn blue"
        @click="createRecord">
        Submit
      </b-button>
      <b-button
        v-else
        class="btn blue"
        @click="updateRecord">
        Update
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import eventBus from '../event-bus/index';

export default {
  name: 'JTaxConfigForm',
  mixins: [jGlobalOptions],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
    joinDate: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      taxConfig: {
        config: null,
        start_date: null,
        end_date: null,
      },
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),

    generateData() {
      const genData = {
        configuration: this.mode === 'create' ? this.taxConfig.config : undefined,
        effective_begin: this.$moment(this.taxConfig.start_date).format('YYYY-MM-DD'),
        effective_end: this.taxConfig.end_date ? this.$moment(this.taxConfig.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin');
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('closeRecord', () => {
      this.closeRecord();
    });

    if (this.mode === 'edit') {
      this.taxConfig = {
        id: this.detail.id,
        start_date: this.detail.effective_begin,
        end_date: this.detail.effective_end,
        config: this.detail.configuration,
      };
    } else {
      this.taxConfig = {
        start_date: this.joinDate && this.joinDate !== '0000-00-00' ? this.joinDate : null,
        end_date: null,
        config: 302, // tax config nett
      };
      this.$v.taxConfig.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCreateTaxConfig', 'actionUpdateTaxConfig', 'actionDeleteTaxConfig']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    closeRecord() {
      this.taxConfig = {
        start_date: null,
        end_date: null,
        config: null,
      };

      this.$nextTick(() => {
        if (this.$v.taxConfig.$error) {
          this.$v.taxConfig.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async createRecord() {
      this.$v.taxConfig.$touch();
      if (!this.$v.taxConfig.$error) {
        const res = await this.actionCreateTaxConfig({
          payrollId: this.payrollId,
          params: this.generateData,
        });

        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    async updateRecord() {
      this.$v.taxConfig.$touch();
      if (!this.$v.taxConfig.$error) {
        const res = await this.actionUpdateTaxConfig({
          payrollId: this.payrollId,
          params: this.generateData,
          taxId: this.taxConfig.id,
        });
        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteTaxConfig({
            payrollId: this.payrollId,
            taxId: this.taxConfig.id,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      });
    },
  },
  validations() {
    return {
      taxConfig: {
        config: { required },
        start_date: { required },
        end_date: { },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
