<template>
  <div>
    <h5 class="text-center m__b--20">DETAIL LEAVE</h5>
    <div>
      <b-row align-h="center">
        <b-col cols="6">
          <b-row
            v-if="isAdmin || isPicOrManagement"
            v-show="false">
            <b-col
              md="6"
              sm="6"
              cols="12">
              <b-form-group>
                <label>Create leave for other employee</label>
                <j-toggle
                  v-model="toggle"
                  :disabled="isDraftEdit"
                  off="off"
                  on="on"/>
              </b-form-group>
            </b-col>
            <b-col v-if="toggle">
              <b-form-group :class="{'error-input' : $v.formData.employee_name.$error}">
                <label>Employee Name</label>
                <j-single-select
                  v-model="$v.formData.employee_name.$model"
                  :disabled="isDraftEdit"
                  :is-async="true"
                  :load-options="loadOptionsEmployee"
                  :placeholder="'Select Employee'"
                  value-format="object"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                :class="{'error-input' : $v.formData.id.$error}">
                <label
                  for="leaveId"
                  style="margin-top:5px">Leave Id</label>
                <j-input
                  :disabled="isDraftEdit"
                  v-model=" $v.formData.id.$model"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                :class="{'error-input' : $v.formData.leave_category.$error}">
                <label
                  for="leaveCategory"
                  style="margin-top:5px">Leave Category</label>
                <j-single-select
                  id="leaveCategory"
                  :disabled="isDraftEdit"
                  v-model=" $v.formData.leave_category.$model"
                  :options="formData.optionTypes"
                  :placeholder="'Select Leave Type'"
                  value-format="object"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col
              v-show="showTimePeriod">
              <b-form-group
                :class="{'error-input' : $v.formData.time_period.$error}">
                <label
                  for="timePeriod"
                  style="margin-top:5px">Time Period</label>
                <j-select
                  id="timePeriod"
                  v-model=" $v.formData.time_period.$model"
                  :disabled="isDraftEdit"
                  :options="time_period"
                  placeholder="Select"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col
              v-show="showTotalPeriod">
              <b-form-group
                :class="{'error-input' : $v.formData.total_block_period.$error}">
                <label for="totalPeriod">Total Periode</label>
                <j-single-select
                  id="totalPeriod"
                  v-model="$v.formData.total_block_period.$model"
                  :disabled="disableTotalPeriod"
                  :options="total_period"
                  :placeholder="'Select Total Periode'"
                  value-format="object"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group :class="{'error-input' : $v.formData.dateFrom.$error}">
                <label
                  for="startTime"
                  style="margin-top:5px">Start From</label>
                <j-datepicker
                  id="startTime"
                  v-model="$v.formData.dateFrom.$model"
                  :disabled-dates="from_date_disabled"
                  :disabled="false"
                  format="MMM dd, yyyy"
                  placeholder="ex: 1 Jan 2019"/>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group :class="{'error-input' : $v.formData.toDate.$error}">
                <label
                  for="endTime"
                  style="margin-top:5px">Period To</label>
                <j-datepicker
                  id="endTime"
                  :class="[disableEndDate ? 'disable' : '']"
                  v-model="$v.formData.toDate.$model"
                  :disabled-dates="end_date_disabled"
                  :disabled="disableEndDate"
                  format="MMM dd, yyyy"
                  placeholder="ex: 2 Jan 2019"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <div
                v-if="calc"
                class="card bar-leave-quota"
                style="margin-bottom:20px;">
                <label>Remaining Quota</label>
                <b-progress
                  :max="max"
                  class="mt-2">
                  <b-progress-bar
                    :value="estimate"
                    variant="success"/>
                  <b-progress-bar
                    :value="quota"
                    variant="secondary"/>
                  <p style="position:absolute;right:15px">{{ remainingQuota }} Remaining</p>
                </b-progress>
                <table style="margin-top:20px">
                  <tbody>
                    <tr>
                      <td><span>Leave Usage</span></td>
                      <td><span>:</span></td>
                      <td><span>{{ calculate_leave.usage }} day(s)</span></td>
                    </tr>
                    <tr>
                      <td><span>Leave Request</span></td>
                      <td><span>:</span></td>
                      <td><span>{{ calculate_leave.estimate }} day(s)</span></td>
                    </tr>
                    <tr>
                      <td><span>Quota</span></td>
                      <td><span>:</span></td>
                      <td><span>{{ calculate_leave.quota - calculate_leave.usage }} day(s)
                      </span></td>
                    </tr>
                    <tr>
                      <td><span>Carry Forward</span></td>
                      <td><span>:</span></td>
                      <td>
                        <span>{{ calculate_leave.carry_forward }} day(s)
                        (Valid until {{ dateFormat(calculate_leave.expired_date) }} )
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col >
              <b-form-group>
                <label for="text2">Description</label>
                <j-textarea
                  id="text2"
                  v-model="formData.description"
                  :disabled="false"
                  placeholder="Description"/>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>

        <b-col
          v-if="formData.leave_category && formData.leave_category.is_document_mandatory &&
          formData.leave_category.custom_document.length > 0"
          cols="6">
          <label> Attachment </label>
          <div
            v-for="(item, index) in formData.fileData"
            :key="index"
            class="container-attachment">
            <j-upload-file
              :img-default="item.url"
              :option-name="item.name"
              :url-upload="url_upload"
              :accepted-file-type="acceptedFileType"
              :api-token="api"
              @url="getDocs(index, $event)"/>
          </div>
          <!-- <b-row class="attachment-container">
            <b-col
              v-for="(doc, index) in formData.leave_category.custom_document"
              :key="index"
              cols="6">
              <b-form-group>
                <label class="font-weight-bolder">{{ doc.field_name }}</label>
                <j-singleupload
                  ref="documentUpload"
                  :accepted-file-type="acceptedFileType"
                  :img-default="doc.image_url"
                  :api-token="api"
                  :url-upload="url_upload"
                  @get-data="getDoc(index, $event)"/>
              </b-form-group>
            </b-col>
          </b-row> -->
        </b-col>
        <b-col
          v-else
          cols="6">
          <label> Attachment </label>
          <div
            v-for="(item, index) in formData.fileData"
            v-show="!item.is_delete"
            :key="index"
            class="container-attachment">
            <j-upload-file
              :img-default="item.url"
              :url-upload="url_upload"
              :accepted-file-type="acceptedFileType"
              :api-token="api"
              :more-data="true"
              @url="getDocs(index, $event)"
              @deleteFile="deleteFileData(index)"/>
          </div>
          <div
            class="d-flex cursor-pointer"
            @click="formData.fileData.push({ url: null, is_delete: false, })">
            <i class="fa fa-plus"/>
            <div class="attachment-add-more-data">Add More Data</div>
          </div>
          <!-- <j-multiupload
            ref="documentUpload"
            :accepted-file-type="acceptedFileType"
            :img-default="formData.fileData"
            :api-token="api"
            :url-upload="url_upload"
            @get-edit="getDocs"/> -->
        </b-col>

        <b-col
          cols="12"
          class="m__t--20">
          <b-button
            class="btn red"
            @click="deleteForm">
            Delete
          </b-button>
          <b-button
            class="btn blue float-right m__l--10"
            @click="submitForm('ready')">
            Submit Leave
          </b-button>
          <b-button
            class="btn grey float-right m__l--10"
            @click="submitForm('draft')">
            Update to Draft
          </b-button>
          <b-button
            class="btn close-leave float-right"
            @click="closeModal">
            Close
          </b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign, max-len, no-unused-vars, no-console */
import Vue from 'vue';
import { mapActions, mapState } from 'vuex';
import { required, requiredIf } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jApiLeaveClaimer from '@/services/leave/jApiLeaveClaimer';
import jUploadFile from '@/components/upload-file/jUploadFile';
import constant from '@/utils/constant';

export default {
  components: {
    jUploadFile,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    formId: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      estimate: 0,
      quota: 0,
      user_company_id: null,
      disableEndDate: false,
      formData: {
        id: null,
        optionTypes: [],
        description: '',
        employee_name: null,
        dateFrom: null,
        toDate: null,
        leave_category: null,
        time_period: null,
        fileData: [{ url: null, is_delete: false }],
        typeUser: null,
        period_type: null,
        total_block_period: null,
      },
      user: null,
      calc: false,
      variant: 'success',
      value: 100,
      max: 100,
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
      api: Vue.ls.get('Token'),
      toggle: false,
      time_period: [
        { text: 'FULL DAY', value: '1' },
        { text: 'FIRST HALF', value: '2' },
        { text: 'SECOND HALF', value: '3' },
      ],
      total_period: [
        { text: '1 Month', id: 1, value: 1 },
        { text: '2 Months', id: 2, value: 2 },
        { text: '3 Months', id: 3, value: 3 },
        { text: '4 Months', id: 4, value: 4 },
        { text: '5 Months', id: 5, value: 5 },
        { text: '6 Months', id: 6, value: 6 },
        { text: '7 Months', id: 7, value: 7 },
        { text: '8 Months', id: 8, value: 8 },
        { text: '9 Months', id: 9, value: 9 },
        { text: '10 Months', id: 10, value: 10 },
        { text: '11 Months', id: 11, value: 11 },
        { text: '12 Months', id: 12, value: 12 },
      ],
      from_date_disabled: {
        color: 'ddd',
        // days: [6, 0], // Disable Saturday's and Sunday's
        ranges: [{
          from: new Date(1, 1, 1),
          to: this.yesterday(),
        }],
      },
      end_date_disabled: {
        color: 'ddd',
        // days: [6, 0], // Disable Saturday's and Sunday's
        ranges: [
          {
            from: new Date(1, 1, 1),
            to: this.yesterday(),
          },
        ],
      },
      pagination: {
        pagination: {
          limit: 0,
          page: 1,
          column: 'name',
          ascending: true,
          query: '',
        },
        user_company_id: null,
      },
      showTimePeriod: false,
      backdateAllow: null,
      isDraftEdit: false,
      fileDocs: [],
      showTotalPeriod: false,
      disableTotalPeriod: false,
    };
  },
  validations() {
    const validate = {
      formData: {
        id: {},
        dateFrom: {
          required,
        },
        toDate: {
          required,
        },
        leave_category: {
          required,
        },
        employee_name: {
          // do nothing
        },
        time_period: {
          // do nothing
        },
        total_block_period: {
          required: requiredIf(() => this.showTotalPeriod),
        },
      },
    };
    // if (this.toggle) {
    //   validate.formData.employee_name = { required };
    // }
    if (this.formData.leave_category && this.formData.leave_category.is_have_half_day) {
      validate.formData.time_period = { required };
    }
    return validate;
  },
  computed: {
    ...mapState('jStoreLogin', ['profile_data']),
    ...mapState('jStoreLeaveClaimer', ['user_restriction', 'leave_type', 'calculate_leave', 'period_to', 'role_setting', 'leave_detail']),

    confirmBlue() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
    remainingQuota() {
      const { quota, usage, estimate } = this.calculate_leave;
      return quota - usage - estimate;
    },
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
    url_upload() {
      // return `${process.env.GATE_URL}/file`;
      return `${localStorage.getItem('gateUrl')}file`;
    },
  },
  watch: {
    profile_data(data) {
      // eslint-disable-next-line camelcase
      const { user_company_id } = data;
      // eslint-disable-next-line camelcase
      this.user_company_id = user_company_id;
      this.pagination.user_company_id = this.user_company_id || 0;
      // this.userRestriction(this.pagination);
      this.getUserTypeApproval(this.pagination);
      // this.parseJwt(this.api);
    },
    // eslint-disable-next-line func-names
    'formData.dateFrom': function (date) {
      // eslint-disable-next-line max-len
      if (this.formData.leave_category && this.formData.leave_category.is_one_time_leave && date !== null) {
        this.getPeriodTo({
          id: this.formData.leave_category.id,
          start_date: date.getTime(),
          user_company_id: this.toggle ? this.formData.employee_name.user_company_id : undefined,
        });
      }
      if (this.disableEndDate) {
        this.formData.toDate = this.formData.dateFrom;
      }

      if (this.formData.total_block_period && this.formData.total_block_period.value > 0 && date !== null) {
        if (this.formData.period_type === constant.PERIOD_TYPE_MONTHLY) {
          this.formData.toDate = this.$moment(date).add(this.formData.total_block_period.value, 'M').toDate();
        } else if (this.formData.period_type === constant.PERIOD_TYPE_DAILY) {
          this.formData.toDate = this.$moment(date).add(this.formData.total_block_period.value - 1, 'd').toDate();
        }
      }

      this.restrictDate(date, 'from');
      this.calculatingLeave();
    },
    period_to(val) {
      if (val !== null) {
        const date = new Date(val);
        this.formData.toDate = this.dateFormat(date);
      }
    },
    // eslint-disable-next-line func-names
    'formData.toDate': function (date) {
      this.restrictDate(date, 'end');
      this.calculatingLeave();
    },
    calculate_leave() {
      const data = this.calculate_leave;
      const n = (data.quota - data.usage) / data.quota;
      const y = n * 100;

      const k = data.quota - data.usage - data.estimate;
      const b = k / data.quota;
      const c = b * 100;
      const f = y - c;

      this.estimate = 31.5;
      this.quota = f;
    },
    // eslint-disable-next-line func-names
    disableEndDate(val) {
      // eslint-disable-next-line max-len
      const isBackDate = this.formData.leave_category ? this.formData.leave_category.is_back_date : false;
      if (val && isBackDate) {
        this.from_date_disabled.ranges = [
          {
            from: '',
            to: '',
          },
        ];
      } else {
      // eslint-disable-next-line
        if (!isBackDate) {
          this.from_date_disabled.ranges = [
            { from: new Date(1, 1, 1),
              to: this.yesterday(),
            },
          ];
        }
      }
    },
    // eslint-disable-next-line func-names
    // 'formData.employee_name': function (val) {
    //   if (val) {
    //     const pagination = {
    //       pagination: {
    //         limit: 0,
    //         page: 1,
    //         column: 'name',
    //         ascending: true,
    //         query: '',
    //       },
    //       user_company_id: (val !== undefined) ? val.user_company_id : 0,
    //     };
    //     if (this.formData.employee_name.user_company_id !== localStorage.getItem('user_company_id')) {
    //       this.getUserTypeApproval(pagination);
    //     }
    //     // this.formData.leave_category = null;
    //     // this.calc = false;
    //   }
    // },
    // eslint-disable-next-line func-names
    'formData.time_period': function (val) {
      if (this.formData.leave_category.is_one_time_leave) {
        this.disableEndDate = true;
      } else if (this.formData.total_block_period && this.formData.total_block_period.value > 0) {
        this.disableEndDate = true;
      } else if (val !== '1' && val !== null) {
        this.disableEndDate = true;
      } else {
        this.disableEndDate = false;
      }

      if (val !== '1') {
        this.formData.toDate = this.formData.dateFrom;
      }
    },
    // eslint-disable-next-line func-names
    'formData.leave_category': function (data) {
      if (!this.isDraftEdit) {
        // eslint-disable-next-line camelcase
        this.formData.description = null;
        this.formData.dateFrom = null;
        this.formData.toDate = null;
        this.formData.time_period = null;
        this.calc = false;
        if (data && data.is_one_time_leave) {
          this.disableEndDate = true;
        } else {
          this.disableEndDate = false;
        }
        if (data.custom_document.length > 0) {
          this.formData.fileData = data.custom_document.map(val => ({
            url: null,
            is_delete: false,
          }));
        } else {
          this.formData.fileData = [{ url: null, is_delete: false }];
        }
        // this.$refs.documentUpload.isEmpty = true;
        // this.$refs.documentUpload.fileUrls = [];
        // this.$refs.documentUpload.files = [];
        // this.$refs.documentUpload.filesLinks = [];
        // this.$refs.documentUpload.filesMeta = [];

        if (data.is_have_half_day) {
          this.formData.time_period = '1';
        }
        setTimeout(() => {
          this.restrictDate(data, 'leave_type');
        }, 100);
      } else {
        if (data && data.is_one_time_leave) {
          this.disableEndDate = true;
        } else {
          this.disableEndDate = false;
        }

        if (data.is_have_half_day) {
          this.formData.time_period = '1';
        }

        if (data.period_type === constant.PERIOD_TYPE_MONTHLY ||
      (data.period_type === constant.PERIOD_TYPE_DAILY &&
      data.total_block_period > 0)) {
          this.showTotalPeriod = true;
        } else {
          this.showTotalPeriod = false;
        }

        if (typeof data.total_block_period !== 'undefined') {
          const totalBlockPeriod = {
            id: data.total_block_period,
            value: data.total_block_period,
          };

          if (data.period_type === constant.PERIOD_TYPE_MONTHLY && data.total_block_period === 0) {
            const totalMonth = this.$moment(this.formData.toDate).diff(this.$moment(this.formData.dateFrom), 'months');
            totalBlockPeriod.id = totalMonth;
            totalBlockPeriod.value = totalMonth;
          }
          if (data.period_type === constant.PERIOD_TYPE_MONTHLY && data.total_block_period > 0) {
            this.disableTotalPeriod = true;
          }
          if (data.period_type === constant.PERIOD_TYPE_DAILY && data.total_block_period > 0) {
            totalBlockPeriod.id = data.total_block_period + this.total_period.length;
            totalBlockPeriod.label = data.total_block_period > 1 ?
              `${data.total_block_period} Days` : `${data.total_block_period} Day`;
            this.disableTotalPeriod = true;
          }
          this.formData.total_block_period = totalBlockPeriod;
        } else {
          this.formData.total_block_period = null;
          this.disableTotalPeriod = false;
        }

        setTimeout(() => {
          this.restrictDate(data, 'leave_type');
        }, 100);
      }
    },
    // eslint-disable-next-line func-names
    'formData.total_block_period': function (val) {
      if (val && val.value > 0) {
        this.disableEndDate = true;
      }
      if (val && val.value > 0 && this.formData.dateFrom && this.formData.period_type === constant.PERIOD_TYPE_MONTHLY) {
        this.formData.toDate = this.$moment(this.formData.dateFrom).add(this.formData.total_block_period.value, 'M').toDate();
      }
    },
    // eslint-disable-next-line func-names
    toggle() {
      if (this.toggle) {
        // this.formData.optionTypes = [];
        // this.from_date_disabled.ranges = [
        //   { from: '',
        //     to: '',
        //   },
        // ];
        // this.end_date_disabled.ranges = [
        //   { from: '',
        //     to: '',
        //   },
        // ];
        // this.resetVal();

        if (!this.isAdmin) {
          this.actionGetRoleSetting();
        }
      }
      if (!this.toggle) {
        // this.from_date_disabled.ranges = [
        //   { from: new Date(1, 1, 1),
        //     to: this.yesterday(),
        //   },
        // ];
        // this.end_date_disabled.ranges = [
        //   { from: new Date(1, 1, 1),
        //     to: this.yesterday(),
        //   },
        // ];
        // this.getUserTypeApproval(this.pagination);
        // const { data } = this.leave_type;
        // this.formData.optionTypes = this.mappingData(data, 'leave type');
        // this.resetVal();
      }
    },
    leave_type(val) {
      this.formData.optionTypes = this.mappingData(val.data, 'leave type');
    },

    async leave_detail(val) {
      if (val !== null) {
        if (localStorage.getItem('user_company_id') !== val.leave.user_company_id) {
          this.toggle = true;
          this.formData.employee_name = {
            id: val.user.profile.id,
            user_company_id: val.user.profile.user_company_id,
            name: `${val.user.employee_id} - ${val.user.profile.first_name} ${val.user.profile.last_name}`,
            label: `${val.user.employee_id} - ${val.user.profile.first_name} ${val.user.profile.last_name}`,
          };
        } else {
          this.toggle = false;
          this.formData.employee_name = null;
        }

        const pagination = {
          pagination: {
            limit: 0,
            page: 1,
            column: 'name',
            ascending: true,
            query: '',
          },
          user_company_id: val.user.profile.user_company_id,
        };
        await this.getUserTypeApproval(pagination);

        this.formData = {
          ...this.formData,
          leave_category: {
            id: val.leave.type_id,
            name: val.leave.type_name,
            label: val.leave.type_name,
          },
          dateFrom: val.leave.start_date,
          toDate: val.leave.end_date,
          description: val.leave.reason,
          id: val.leave.id,
          period_type: val.leave.period_type,
          total_block_period: val.leave.total_block_period,
        };

        this.getDocuments(val.leave.id);

        setTimeout(() => {
          this.formData.time_period = String(val.leave.division_of_time);
        }, 300);
      }
    },
  },
  created() {
    // this.getProfile();

    if (this.formId) {
      const payload = {
        id: this.formId,
      };
      this.getDetailLeave(payload);

      this.isDraftEdit = true;
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem']),
    ...mapActions('jStoreLogin', ['getProfile']),
    ...mapActions('jStoreLeaveClaimer', ['userRestriction', 'getUserTypeApproval', 'getCalculateLeave', 'getDetailLeave', 'saveDraft', 'submitLeave', 'deleteLeave', 'getPeriodTo', 'actionGetRoleSetting']),

    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiLeaveClaimer.leaveUserRestrictOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name}`;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    mappingData(data, config) {
      let arr;
      if (data) {
        arr = data.map(item => ({
          ...item,
          text: this.optionText(item, config),
        }));
      }
      return arr;
    },
    optionText(data, config) {
      if (config === 'leave type') {
        return `${data.name} (${data.usage}/${data.quota})`;
      } else if (config === 'user') {
        return `${data.employee_id} - ${data.first_name} ${data.last_name}`;
      }
      return '';
    },
    parseJwt(token) {
      const base64Url = token.split('.')[1];
      const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      const jsonPayload = decodeURIComponent(atob(base64).split('').map(c => `%${(`00${c.charCodeAt(0).toString(16)}`).slice(-2)}`).join(''));
      const { user } = JSON.parse(jsonPayload);
      this.user = user;
      return JSON.parse(jsonPayload);
    },
    resetVal() {
      this.formData.leave_category = null;
      this.formData.employee_name = null;
      this.formData.description = null;
      this.formData.dateFrom = null;
      this.formData.toDate = null;
      this.formData.time_period = null;
      this.formData.fileData = [{ url: null, is_delete: false }];
      this.calc = false;
    },
    dateRangePic() {
      const date = new Date();
      date.setDate(date.getDate() - this.backdateAllow);
      return date;
    },
    restrictDate(e, status) {
      if (status === 'leave_type' && typeof e === 'undefined') {
        this.showTimePeriod = false;
      } else {
        this.from_date_disabled.ranges = [];
        this.end_date_disabled.ranges = [];

        // eslint-disable-next-line max-len
        const minimumSubmitDay = this.formData.leave_category ? this.formData.leave_category.minimum_submit_day : 0;
        // eslint-disable-next-line max-len
        const isBackDate = this.formData.leave_category ? this.formData.leave_category.is_back_date : false;
        const backDateDay = this.formData.leave_category ? this.formData.leave_category.back_date_day : 0;
        let startdate = this.$moment();
        startdate = startdate.add(minimumSubmitDay === 0 ? 1 : minimumSubmitDay, 'days').format('YYYY-MM-DD');
        const lockMonthPeriod = this.formData.leave_category.lock_month_period;
        const fromDate = new Date(startdate);

        if (this.toggle) {
          if (minimumSubmitDay > 0 || isBackDate) {
            if (!this.isAdmin) {
              this.roleSetting();
            }
          }
        }

        // eslint-disable-next-line
        function customPredictor(date) {
          if (lockMonthPeriod) {
            if (lockMonthPeriod.includes(date.getMonth() + 1)) {
              return true;
            }
            return false;
          }
          return false;
        }
        if (minimumSubmitDay > 0) {
          this.from_date_disabled.ranges = [
            {
              from: new Date(1, 1, 1),
              to: fromDate,
            },
          ];
          this.from_date_disabled.customPredictor = customPredictor;
          this.end_date_disabled.customPredictor = customPredictor;
        } else if (isBackDate) {
          fromDate.setDate(fromDate.getDate() - backDateDay);
          this.from_date_disabled.ranges = [
            {
              from: new Date(1, 1, 1),
              to: fromDate,
            },
          ];
          this.from_date_disabled.customPredictor = customPredictor;
          this.end_date_disabled.customPredictor = customPredictor;
        } else {
          this.from_date_disabled.ranges = [
            {
              from: new Date(1, 1, 1),
              to: new Date(),
            },
          ];
          this.from_date_disabled.customPredictor = customPredictor;
          this.end_date_disabled.customPredictor = customPredictor;
        }

        if (!this.isAdmin && !this.toggle) {
          const date = new Date();
          date.setDate(date.getDate() - 30);

          this.from_date_disabled.ranges.push({
            from: new Date(1, 1, 1),
            to: date,
          });
        }

        if (e !== null) {
          switch (status) {
            case 'from':
              if (e.is_have_half_day) {
                this.from_date_disabled.ranges.push({
                  from: this.formData.toDate,
                  to: new Date(10000, 1, 1),
                });
              }

              this.end_date_disabled.ranges.push({
                from: new Date(1, 1, 1),
                to: this.formData.dateFrom,
              }, {
                from: new Date(),
                to: '',
              });
              break;
            case 'end':
              if (e.is_have_half_day) {
                this.from_date_disabled.ranges.push({
                  from: this.formData.toDate,
                  to: new Date(10000, 1, 1),
                });
              }

              this.end_date_disabled.ranges.push({
                from: new Date(1, 1, 1),
                to: this.formData.dateFrom,
              }, {
                from: new Date(),
                to: '',
              });
              break;
            default:
              break;
          }
          if (status === 'leave_type' && e.is_have_half_day && e.is_one_time_leave) {
            this.showTimePeriod = false;
          } else if (status === 'leave_type' && e.is_have_half_day) {
            this.showTimePeriod = true;
          } else if (status === 'leave_type' && !e.is_have_half_day) {
            this.showTimePeriod = false;
          }
        }
      }
    },
    closeModal() {
      this.formData = {
        optionTypes: [],
        description: '',
        employee_name: null,
        dateFrom: null,
        toDate: null,
        leave_category: null,
        time_period: null,
        fileData: [{ url: null, is_delete: false }],
        typeUser: null,
        period_type: null,
        total_block_period: null,
      };
      this.$emit('close');
    },
    getDoc(index, data) {
      // if (data) {
      //   const isDocUploaded = this.fileDocs.find(val => Number(val.order) === index);
      //   if (!isDocUploaded) {
      //     this.fileDocs.push({
      //       file_url: data,
      //       order: index,
      //     });
      //   } else {
      //     const tempArray = this.fileDocs.filter(val => Number(val.order) !== index);
      //     tempArray.push({
      //       file_url: data,
      //       order: index,
      //     });

      //     this.fileDocs = tempArray;
      //   }
      // } else {
      //   this.fileDocs = this.fileDocs.filter(val => Number(val.order) !== index);
      // }
    },
    getDocs(index, data) {
      this.formData.fileData[index].url = data;
    },
    deleteFileData(index) {
      this.formData.fileData[index].is_delete = true;
    },
    submitForm(statusLeave = 'ready') {
      const date = new Date();
      const genData = {
        id: this.formId,
        status: statusLeave,
        user_company_id: (this.formData.employee_name !== null) ?
          this.formData.employee_name.user_company_id : this.user_company_id,
        approver_status: '',
        type_id: (this.formData.leave_category !== null) ? this.formData.leave_category.id : null,
        type_name: (this.formData.leave_category !== null) ?
          this.formData.leave_category.text : null,
        start_date: this.dateFormat(this.formData.dateFrom),
        end_date: this.dateFormat(this.formData.toDate),
        timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
        offline_created_date: date.getTime(),
        reason: this.formData.description ? this.formData.description : '',
        note: '',
        docs: this.formData.fileData ? this.formData.fileData.filter(f => !f.is_delete).map((el, index) => {
          const item = {
            file_url: el.url,
            order: index,
          };
          return item;
        }) : [],
        local_id: date.getTime(),
        type_related_user_id: (this.formData.leave_category !== null)
          ? this.formData.leave_category.id : '',
        division_of_time: this.formData.time_period ? this.formData.time_period : '1',
      };
      this.$v.formData.$touch();
      if (this.$v.formData.$pending || this.$v.formData.$error) return;
      if (this.formData.leave_category.is_document_mandatory && (
        this.formData.fileData.filter(f => !f.is_delete).length === 0 || this.formData.fileData.filter(f => !f.url && !f.is_delete).length > 0)) {
        this.toggleProblem('Oops, document is mandatory. Please attach your document');
        return;
      }

      if (statusLeave === 'ready' && this.formData.leave_category.custom_document.length > 0 &&
      this.formData.leave_category.custom_document.length !== this.formData.fileData.filter(f => f.url).length) {
        this.toggleProblem('Oops, document is mandatory. Please attach your document');
        return;
      }

      const titleSwal = statusLeave === 'ready' ? 'submit this leave?' : 'save leave to draft?';
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to ${titleSwal}`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value) {
          let res;
          if (statusLeave === 'ready') {
            res = await this.submitLeave(genData);
          } else {
            res = await this.saveDraft(genData);
          }
          if (!res.error) {
            if (statusLeave === 'ready') {
              this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/claimer/sent`);
            } else {
              this.closeModal();
              this.$emit('refresh');
            }
          }
        }
      });
    },
    deleteForm() {
      const titleSwal = 'delete this leave?';
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to ${titleSwal}`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.deleteLeave({ leave_id: this.formId });
          if (!res.error) {
            this.closeModal();
            this.$emit('refresh');
          }
        }
      });
    },
    dateFormat(date) {
      return this.$moment(date).format('YYYY-MM-DD');
    },
    yesterday() {
      const date = new Date();
      date.setDate(date.getDate() - 1);
      return date;
    },
    calculatingLeave() {
      if (this.formData.dateFrom !== null && this.formData.toDate !== null) {
        const req = {
          leave_type_id: this.formData.leave_category.id,
          user_company_id: (this.formData.employee_name !== null) ?
            this.formData.employee_name.user_company_id : this.user_company_id,
          start_date: this.dateFormat(this.formData.dateFrom),
          end_date: this.dateFormat(this.formData.toDate),
          division_of_time: String(this.leave_detail.leave.division_of_time) || 1,
          timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
        };
        this.getCalculateLeave(req);
        this.calc = true;
      }
    },
    roleSetting() {
      const data = this.role_setting.find(el => el.role.toLowerCase() === 'pic' || el.role.toLowerCase() === 'management' || el.role.toLowerCase() === 'pictimes');
      this.backdateAllow = data.max_leave_backdate_allow || null;

      if (this.backdateAllow) {
        this.from_date_disabled.ranges.push({
          from: new Date(1, 1, 1),
          to: this.dateRangePic(),
        });
      }
    },

    async getDocuments(leaveId) {
      try {
        const res = await jApiLeaveClaimer.getLeaveDocs(leaveId);
        if (res.data.data.length > 0) {
          this.formData.fileData = res.data.data.map(val => ({
            url: val.image_url,
            name: val.field_name,
            is_delete: false,
          }));
        }
      } catch (error) {
        // console.log(error);
      }
    },
  },
};
</script>
