<template>
  <div
    :id="`leave-claimer-table-${status}`"
    class="container-app-search">
    <div class="row m__t--20">
      <div class="col-12">
        <j-summary
          v-if="load_summary"
          :data-summary="data_summary"
          class="leave-summary"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <v-server-table
          v-show="load_first"
          ref="claimerTable"
          :columns="columns"
          :options="table_options"
          class="jTable"
          @loading="loading"
          @loaded="loaded"
          @row-click="openEditForm">
          <div
            slot="checkbox"
            slot-scope="props"
            class="jTableReport"
            @click.stop>
            <b-form-group
              :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
              <b-form-checkbox-group
                v-model="selected_rows"
                @input="floatingPromptAction">
                <b-form-checkbox
                  :value="props.row"/>
              </b-form-checkbox-group>
            </b-form-group>
          </div>
          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                v-show="status === 'Draft'"
                class="btn grey btn-import-form m__r--5"
                @click="openCreateForm">
                <i class="fa fa-plus fa-lg"/> Create Leave
              </b-button>
              <b-button
                :id="`leave-claimer-search-${status}`"
                class="btn grey btn-import-form">
                <i class="fa fa-search fa-lg"/> Search
              </b-button>
            </b-form>
          </div>
        </v-server-table>

        <jLoadingTable v-if="!load_first"/>

      </div>
      <div class="col-12">
        <div
          v-show="show_blank_footer"
          :style="`height: ${floatingHeight}px`"/>
        <j-floating-prompt
          ref="floating"
          class="floating-table"
        >
          <div
            ref="divFloating"
            class="row"
          >
            <div class="col-4">
              <div class="row align-items-center pl-3">
                <div
                  ref="totalSelectedRow"
                  class="total-selected-row"/>
                <div class="total-selected-row-label f--medium m__l--7">
                  leave request <br>selected
                </div>
              </div>
            </div>
            <div
              class="col-2 m__t--20">
              <div
                v-b-toggle.detail-table
                class="f--medium"
                style="cursor: pointer"
                @click="show_detail = !show_detail;">
                Details
                <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
              </div>
            </div>
            <div class="col-6">
              <div class="row m__t--22">
                <div class="col-12">
                  <b-button
                    class="btn icon red float-right"
                    @click="closeAction">
                    Unselect All
                  </b-button>
                  <b-button
                    class="btn icon red float-right m__r--10 d-flex align-items-center"
                    @click="onClickAction('cancel')">
                    <i class="fa fa-times"/>
                    Cancel
                  </b-button>
                </div>
              </div>
            </div>
            <j-collapse
              id="detail-table"
              :visible="show_detail"
              class="col-12">
              <v-client-table
                ref="detailTable"
                :columns="detail_columns"
                :options="detail_table_options"
                :data="selected_rows"
                class="jTable table-floating-popup">
                <div
                  slot="checkbox"
                  slot-scope="props"
                  class="jTableReport"
                  @click.stop>
                  <b-form-group
                    class="show-checkbox">
                    <b-form-checkbox-group
                      v-model="selected_rows">
                      <b-form-checkbox
                        :value="props.row"/>
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
              </v-client-table>
            </j-collapse>
          </div>
        </j-floating-prompt>
      </div>
    </div>

    <b-popover
      v-show="popoverSearchShow"
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :container="`leave-claimer-table-${status}`"
      :target="`leave-claimer-search-${status}`"
      triggers="click blur"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :error-required="false"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          :error-required="false"
          placeholder="search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

    <b-modal
      id="modal-have-swal"
      ref="modalDetail"
      class="mod-form modal-leave-detail"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-leave-claimer-create
        v-if="isOpen && modalMode === 'create'"
        :oos-route="oosRoute"
        @close="closeEditForm"
        @refresh="refreshTable" />
      <j-leave-claimer-detail
        v-else-if="isOpen && modalMode === 'edit'"
        :form-id="detailId"
        :oos-route="oosRoute"
        @close="closeEditForm"
        @refresh="refreshTable" />
      <j-leave-claimer-draft
        v-else-if="isOpen && modalMode === 'draft'"
        :form-id="detailId"
        :oos-route="oosRoute"
        @close="closeEditForm"
        @refresh="refreshTable" />
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable func-names,no-param-reassign,no-lonely-if */
import { mapActions } from 'vuex';
import jSummary from '@/components/summary/summary';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import apiLeaveClaimer from '@/services/leave/jApiLeaveClaimer';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';
import JLeaveClaimerCreate from './jLeaveClaimerCreate';
import JLeaveClaimerDetail from './jLeaveClaimerDetail';
import JLeaveClaimerDraft from './jLeaveClaimerDraft';

export default {
  components: {
    jLoadingTable,
    JLeaveClaimerCreate,
    JLeaveClaimerDetail,
    JLeaveClaimerDraft,
    jSummary,
  },
  mixins: [
    jMixFloatingPrompt,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      detailId: null,
      modalMode: 'create',
      isOpen: false,
      popoverSearchShow: false,
      load_first: false,
      load_summary: false,
      status_color: 'sent',
      status: 'Sent',
      selected_rows: [],
      filter_data: '',
      filtering: false,
      select_type: 'type_name',
      options_search: [
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'TYPE',
          value: 'type_name',
        },
        {
          text: 'ORGANIZATION UNIT',
          value: 'organization_unit',
        },
        {
          text: 'REASON',
          value: 'reason',
        },
      ],
      data_summary: [
        {
          status: 'Draft',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: false,
          color: 'draft',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/draft` : '/leave/claimer/draft',
        },
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: false,
          isEnd: false,
          color: 'sent',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/sent` : '/leave/claimer/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/approved` : '/leave/claimer/approved',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/canceled` : '/leave/claimer/canceled',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/rejected` : '/leave/claimer/rejected',
        },
        {
          status: 'Aborted',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'aborted',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/claimer/aborted` : '/leave/claimer/aborted',
        },
      ],
      detail_columns: ['checkbox', 'id', 'employee_id', 'employee_name', 'organization_unit', 'type_name', 'reason', 'start_date', 'end_date', 'note', 'created_date', 'created_by'],
      detail_table_options: {
        headings: {
          checkbox: this.headerID(),
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          type_name: 'TYPE',
          organization_unit: 'ORGANIZATION UNIT',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          note: 'NOTE',
          created_date: 'CREATED DATE',
          created_by: 'CREATED BY',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['type_name'],
        filterable: true,
        perPage: 3,
        perPageValues: [3, 5, 10, 20, 50, 100],
      },
      columns: ['checkbox', 'id', 'employee_id', 'employee_name', 'organization_unit', 'type_name', 'reason', 'start_date', 'end_date', 'note', 'created_date', 'created_by'],
      table_options: {
        headings: {
          checkbox: this.headerID(),
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          type_name: 'TYPE',
          organization_unit: 'ORGANIZATION UNIT',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          note: 'NOTE',
          created_date: 'CREATED DATE',
          created_by: 'CREATED BY',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['id', 'employee_id', 'employee_name', 'organization_unit', 'type_name', 'start_date', 'end_date', 'created_date', 'created_by'],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy,
            ascending: data.ascending,
          };
        },
        requestFunction(data) {
          const list = apiLeaveClaimer.getListLeave(data);
          return list.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          const claimerData = data.data.map((element) => {
            const item = element;
            item.type_name = element.type_name;
            return item;
          });
          return {
            data: claimerData || [],
            count: data.length,
          };
        },
      },
    };
  },
  computed: {
    confirmBlue() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
  },
  watch: {
    '$route.params.statusClaimer': function (val) {
      if (val !== 'create') {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const status = val;
        this.status_color = val;
        this.status = status.charAt(0).toUpperCase() + status.slice(1);
        if (val === 'sent') {
          this.data_summary[1].active = true;
        } else if (val === 'approved') {
          this.data_summary[2].active = true;
        } else if (val === 'canceled') {
          this.data_summary[3].active = true;
        } else if (val === 'rejected') {
          this.data_summary[4].active = true;
        } else if (val === 'aborted') {
          this.data_summary[5].active = true;
        } else if (val === 'draft') {
          this.data_summary[0].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
          this.$refs.claimerTable.refresh();
        });
      }
    },
    filter_data(val) {
      if (val === '') {
        this.filtering = false;
        this.$refs.claimerTable.setFilter('');
      }
    },
  },
  created() {
    this.filtering = false;
    this.data_summary.map((element) => {
      const item = element;
      apiLeaveClaimer.getSummaryBlock(element.status.toLowerCase())
        .then((res) => {
          item.amounts = res.data.length;
        });
      return item;
    });
    this.$nextTick(() => {
      this.load_summary = false;
      this.data_summary.map((item) => {
        const data = item;
        data.active = false;
        return data;
      });
      const val = this.$route.params.statusClaimer || 'sent';
      const status = this.$route.params.statusClaimer || 'sent';
      this.status_color = val;
      this.status = status.charAt(0).toUpperCase() + status.slice(1);
      if (val === 'sent') {
        this.data_summary[1].active = true;
      } else if (val === 'approved') {
        this.data_summary[2].active = true;
      } else if (val === 'canceled') {
        this.data_summary[3].active = true;
      } else if (val === 'rejected') {
        this.data_summary[4].active = true;
      } else if (val === 'aborted') {
        this.data_summary[5].active = true;
      } else if (val === 'draft') {
        this.data_summary[0].active = true;
      }
      this.$nextTick(() => {
        this.load_summary = true;
      });
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess']),
    ...mapActions('jStoreLeaveClaimer', ['actionClaimer']),
    loading(val) {
      const a = val;
      a.status = this.$route.params.statusClaimer || 'sent';
      a.filter = this.filtering;
      a.query = {
        type: this.select_type,
        value: this.filter_data,
      };
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.claimerTable.getData();

      this.data_summary.map((element) => {
        const item = element;
        apiLeaveClaimer.getSummaryBlock(element.status.toLowerCase())
          .then((res) => {
            item.amounts = res.data.length;
          });
        return item;
      });
    },
    filter(val) {
      if (val !== '') {
        this.filtering = true;
        this.$refs.claimerTable.setFilter(val);
      }
    },
    onClickAction(key) {
      this.$swal({
        title: 'Confirmation',
        html: 'Are you sure want to cancel this leave request?',
        input: 'text',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmBlue,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
        inputValidator: (value) => {
          if (!value) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then(async (result) => {
        if (result.value) {
          const req = {
            payload: {
              action: key,
              note: result.value,
            },
          };
          const promises = this.selected_rows.map(async (element) => {
            req.id = element.id;
            await this.actionClaimer(req);
          });

          await Promise.all(promises);

          this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', 'Success canceling leave');
          this.selected_rows = [];
          this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/claimer/canceled`);
        }
      });
    },
    showCheckbox(startDate) {
      const date = new Date();
      const dateString = this.$moment(date).format('YYYY-MM-DD');
      if ((this.status_color === 'sent' || this.status_color === 'approved') && dateString < startDate) {
        return true;
      }
      return false;
    },
    openEditForm({ row }) {
      if (row.status === 'ready') {
        this.modalMode = 'draft';
      } else {
        this.modalMode = 'edit';
      }
      this.isOpen = true;
      this.detailId = row.id;
      this.$refs.modalDetail.show();
    },
    closeEditForm() {
      this.detailId = null;
      this.$refs.modalDetail.hide();
      this.modalMode = 'create';
      this.isOpen = false;
    },
    openCreateForm() {
      this.isOpen = true;
      this.detailId = null;
      this.$refs.modalDetail.show();
      this.modalMode = 'create';
    },
  },
};
</script>

<style lang="scss">
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .leave-summary {
    .sum-last {
      padding-right: 7px;
    }
  }
  .leave-summary.summary-block2 .summary .col-md-2 {
    flex: 0 0 16.666% !important;
    max-width: 16.666% !important;
  }
  .hide-checkbox {
    visibility: hidden;
  }
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    &.up {
      transform: rotate(180deg);
    }
  }
  .jFloating .selected-bottom-rules {
    max-height: unset;
  }
</style>
