<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.pension.number.$error }">
          <label>Pension Number*</label>
          <j-input
            v-model="pension.number"
            type="number"
            placeholder="Pension number" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.pension.start_date.$error }">
          <label>Effective Begin Pension*</label>
          <j-datepicker
            v-model="$v.pension.start_date.$model"
            :disabled-dates="disabledStartDate($v.pension.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.pension.end_date.$error }">
          <label>Effective End Pension</label>
          <j-datepicker
            v-model="$v.pension.end_date.$model"
            :disabled-dates="disabledEndDate($v.pension.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>

    <div class="pull-right">
      <b-button
        v-if="mode === 'edit'"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button>
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        v-if="mode === 'create'"
        class="btn blue"
        @click="createRecord">
        Submit
      </b-button>
      <b-button
        v-else
        class="btn blue"
        @click="updateRecord">
        Update
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import eventBus from '../event-bus/index';

export default {
  name: 'JPensionForm',
  mixins: [jGlobalOptions],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      pension: {
        number: null,
        start_date: null,
        end_date: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollBenefitBpjskkJP']),

    generateData() {
      const genData = {
        code: this.mode === 'create' ? 'bpjskk-jp' : undefined,
        number: this.pension.number,
        effective_begin: this.$moment(this.pension.start_date).format('YYYY-MM-DD'),
        effective_end: this.pension.end_date ? this.$moment(this.pension.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });

    if (this.mode === 'edit') {
      this.pension = {
        id: this.detail.id,
        number: this.detail.number,
        start_date: this.detail.effective_begin,
        end_date: this.detail.effective_end,
      };
    } else {
      this.pension = {
        number: null,
        start_date: null,
        end_date: null,
      };

      this.$v.pension.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCreateComponentNumber', 'actionUpdateComponentNumber', 'actionDeleteComponentNumber']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    closeRecord() {
      this.pension = {
        number: null,
        start_date: null,
        end_date: null,
      };

      this.$nextTick(() => {
        if (this.$v.pension.$error) {
          this.$v.pension.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async createRecord() {
      this.$v.pension.$touch();
      if (!this.$v.pension.$error) {
        const res = await this.actionCreateComponentNumber({
          params: this.generateData,
          componentId: this.payrollBenefitBpjskkJP,
        });

        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    async updateRecord() {
      this.$v.pension.$touch();
      if (!this.$v.pension.$error) {
        const res = await this.actionUpdateComponentNumber({
          params: this.generateData,
          numberId: this.pension.id,
          componentId: this.payrollBenefitBpjskkJP,
        });
        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteComponentNumber({
            numberId: this.pension.id,
            componentId: this.payrollBenefitBpjskkJP,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      });
    },
  },
  validations() {
    return {
      pension: {
        number: { required },
        start_date: { required },
        end_date: { },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
