<template>
  <div>
    <div ref="chart"/>
  </div>
</template>
<script>
import c3 from 'c3';

export default {
  props: {
    dataChart: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {

    formattedDate() {
      return this.dataChart.key.map(val => this.$moment(val).format('DD MMM YYYY'));
    },
  },
  mounted() {
    c3.generate({
      data: {
        type: 'bar',
        columns: [
          [this.dataChart.value[0].name].concat(this.dataChart.value[0].data),
          [this.dataChart.value[1].name].concat(this.dataChart.value[1].data),
          [this.dataChart.value[2].name].concat(this.dataChart.value[2].data),
          [this.dataChart.value[3].name].concat(this.dataChart.value[3].data),
        ],
      },
      axis: {
        x: {
          type: 'category',
          categories: this.formattedDate,
        },
      },
      bindto: this.$refs.chart,
      color: {
        pattern: ['#FF3B07', '#75C94C', '#FFC107', '#878787'],
      },
    });
  },
};
</script>
