<template>
  <div>
    <div ref="chart"/>
  </div>
</template>
<script>
import c3 from 'c3';

export default {
  props: {
    dataChart: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  mounted() {
    c3.generate({
      data: {
        type: 'donut',
        columns: this.dataChart.results,
      },
      bindto: this.$refs.chart,
      donut: {
        title: `${this.dataChart.total_user} Employee`,
      },
      color: {
        pattern: ['#75C94C', '#FF3B07', '#FFC107', '#878787'],
      },
    });
  },
};
</script>
