<template>
  <div
    id="shift-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
            class="btn grey btn-import-form m__r--5">
            <i class="fa fa-cloud-upload fa-lg"/> Import
          </b-button> -->
          <!-- <b-button
            class="btn grey btn-import-form m__r--5"
            @click="generateXLS">
            <i class="fa fa-cloud-download fa-lg"/> Generate xls
          </b-button> -->
          <b-button
            id="shift-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="days"
        slot-scope="props">
        {{ props.row.days.toString() }}
      </div>

      <div
        slot="is_flexible"
        slot-scope="props">
        {{ props.row.is_flexible.toString() }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="shift-table"
      target="shift-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>
    <b-modal
      id="pass-form"
      ref="modalDetail"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-shift-form
        v-if="isOpen"
        :mode="detail_mode"
        :form-id="detail_id"
        :oos-route="oosRoute"
        @close="closeEditForm"
        @refresh="refreshTable" />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import jShiftForm from '@/views/application/application-component/times/attendance/config/shift/jShiftForm';

export default {
  components: {
    jLoadingTable,
    jShiftForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isOpen: false,
      detail_id: '',
      detail_mode: 'create',
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'name', 'from', 'to', 'days', 'is_flexible', 'updated_date', 'created_date'],
      options: {
        headings: {
          id: 'ID',
          name: 'NAME',
          from: 'FROM',
          to: 'TO',
          days: 'DAYS',
          is_flexible: 'FLEXIBLE',
          updated_date: 'UPDATED DATE',
          created_date: 'CREATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'name', 'is_flexible', 'updated_date', 'created_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'updated_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getShiftList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    // openEditForm({ row }) {
    //   this.$router.push(`${this.oosRoute}/attendance/config/shift/edit/${row.id}`);
    // },
    openEditForm({ row }) {
      this.isOpen = true;
      this.detail_id = row.id;
      this.$refs.modalDetail.show();
      this.detail_mode = 'edit';
    },
    closeEditForm() {
      this.detail_id = 0;
      this.$refs.modalDetail.hide();
      this.detail_mode = 'create';
      this.isOpen = false;
    },
    openCreateForm() {
      this.isOpen = true;
      this.detail_id = 0;
      this.$refs.modalDetail.show();
      this.detail_mode = 'create';
    },
  },
};
</script>
