<template>
  <div id="shift-form-update">
    <div class="text-center">
      <h3
        style="color:#808285 !important"
        class="mt-2 dark">{{ title.main_title }}</h3>
    </div>

    <b-row>
      <b-col
        md="12"
        sm="12"
        cols="12">

        <b-row>
          <b-col
            cols="12">
            <b-form-group :class="{'error-input' : $v.dataShift.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataShift.name.$model"
                placeholder="ex: Morning Shift"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            class="toggle-container"
            cols="3">
            <b-form-group>
              <label>Flexible Shift</label>
              <j-toggle
                v-model="$v.dataShift.is_flexible.$model"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
          <b-col
            v-if="dataShift.is_flexible"
            cols="9">
            <b-form-group :class="{'error-input' : $v.dataShift.selected_flexible_type.$error}">
              <label>Flexible Type <span class="red"> * </span> </label>
              <j-single-select
                v-model="$v.dataShift.selected_flexible_type.$model"
                :options="type_options"
                :placeholder="'Select Type'"
                value-format="object"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            v-if="Number(dataShift.flexible_type) === 2"
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataShift.duration_hours.$error}">
              <label>Duration</label>
              <j-input-group
                v-model="$v.dataShift.duration_hours.$model"
                append="hour(s)"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="Number(dataShift.flexible_type) === 2"
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataShift.duration_minutes.$error}">
              <label/>
              <j-input-group
                v-model="$v.dataShift.duration_minutes.$model"
                append="minute(s)"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            class="toggle-container"
            cols="3">
            <b-form-group>
              <label>Day Off</label>
              <j-toggle
                v-model="$v.dataShift.day_off.$model"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
          <b-col
            class="toggle-container"
            cols="3">
            <b-form-group>
              <label>Trigger Recalculate</label>
              <j-toggle
                v-model="$v.dataShift.trigger_recalculate.$model"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataShift.from.$error}">
              <label>From <span class="red"> * </span> </label>
              <j-clockpicker
                v-model="$v.dataShift.from.$model"
                placeholder="ex: 06.00"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataShift.to.$error}">
              <label>To <span class="red"> * </span> </label>
              <j-clockpicker
                v-model="$v.dataShift.to.$model"
                :disabled="dataShift.selected_flexible_type === 2"
                placeholder="ex: 06.00"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            class="toggle-container"
            cols="6">
            <b-form-group>
              <label>Difference Day</label>
              <j-toggle
                v-model="$v.dataShift.difference_day.$model"
                disabled
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group>
              <label>Late Tolerance</label>
              <j-input-group
                v-model="$v.dataShift.late_tolerance.$model"
                append="minute(s)"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form-group>
              <label>Days</label>
              <j-multi-check
                ref="multiCheck"
                :options="day_options"
                :default-data="set_days_default"
                @data="getDataDays"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataShift.color.$error}">
              <label>Color</label>
              <j-color-picker-oos
                :default-data="$v.dataShift.color.$model"
                @color-picked="getColor" />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form-group>
              <label>Description</label>
              <j-textarea
                v-model="$v.dataShift.description.$model"
                placeholder="ex: Description"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            class="text-right"
            cols="12">

            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger"
              @click="deleteRecord">
              Delete
            </b-button>
            <b-button
              class="btn"
              @click="closeModal">
              Cancel
            </b-button>
            <b-button
              class="btn blue"
              @click="submit">
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
          </b-col>
        </b-row>

      </b-col>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jColorPickerOos from '@/components/color/jColorPicker';

export default {
  components: {
    jColorPickerOos,
  },
  props: {
    formId: {
      type: Number,
      default: 0,
    },
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    const validate = {
      dataShift: {
        color: { required },
        day_off: {},
        trigger_recalculate: {},
        days: {},
        description: {},
        difference_day: {},
        duration: {},
        duration_hours: {},
        duration_minutes: {},
        from: { required },
        flexible_type: {},
        is_flexible: {},
        late_tolerance: {},
        name: { required },
        selected_flexible_type: {},
        to: { required },
      },
    };
    if (this.dataShift.is_flexible) {
      validate.dataShift.selected_flexible_type = { required };

      if (Number(this.dataShift.flexible_type) === 2) {
        validate.dataShift.duration_hours = { required };
        validate.dataShift.duration_minutes = { required };
      }
    }
    return validate;
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Shift' : 'Create Shift',
      },
      dataShift: {
        color: null,
        day_off: false,
        trigger_recalculate: false,
        days: [],
        description: '',
        difference_day: false,
        duration: 0,
        duration_hours: 0,
        duration_minutes: 0,
        from: '',
        flexible_type: 1,
        is_flexible: false,
        late_tolerance: 0,
        name: '',
        selected_flexible_type: null,
        to: '',
      },
      set_days_default: [],
      weekdays: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'],
      day_options: [
        { value: 'monday', text: 'Monday' },
        { value: 'tuesday', text: 'Tuesday' },
        { value: 'wednesday', text: 'Wednesday' },
        { value: 'thursday', text: 'Thursday' },
        { value: 'friday', text: 'Friday' },
        { value: 'saturday', text: 'Saturday' },
        { value: 'sunday', text: 'Sunday' },
      ],
      type_options: [
        {
          id: 1,
          text: 'With next working hours shifting',
          is_delete: false,
        },
        {
          id: 2,
          text: 'with working hours duration',
          is_delete: false,
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['shift_detail']),
    confirmImg() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
      // return '@/assets/icon/confirmation.png';
    },
  },
  watch: {
    shift_detail(val) {
      this.dataShift = {
        color: val.color,
        day_off: val.day_off,
        trigger_recalculate: val.trigger_recalculate,
        description: val.description,
        difference_day: val.difference_day,
        duration: val.duration,
        duration_hours: this.msToHour(val.duration),
        duration_minutes: this.msToMinute(val.duration),
        from: val.from.length > 5 ? val.from.substring(0, val.from.length - 3) : val.from,
        is_flexible: val.is_flexible,
        flexible_type: val.flexible_type,
        late_tolerance: val.late_tolerance,
        name: val.name,
        selected_flexible_type: {
          id: val.flexible_type,
        },
        to: val.to.length > 5 ? val.to.substring(0, val.to.length - 3) : val.to,
      };

      val.days.forEach((el) => {
        this.set_days_default.push(el);
      });
      this.$refs.multiCheck.setDefaultID();
    },
    // eslint-disable-next-line func-names
    'dataShift.from': function (val) {
      if (val > this.dataShift.to) {
        this.dataShift.difference_day = true;
      } else {
        this.dataShift.difference_day = false;
      }

      this.automateToFilled();
    },
    // eslint-disable-next-line func-names
    'dataShift.duration_hours': function () {
      this.automateToFilled();
    },
    // eslint-disable-next-line func-names
    'dataShift.duration_minutes': function () {
      this.automateToFilled();
    },
    // eslint-disable-next-line func-names
    'dataShift.to': function (val) {
      if (val < this.dataShift.from) {
        this.dataShift.difference_day = true;
      } else {
        this.dataShift.difference_day = false;
      }
    },
    // eslint-disable-next-line func-names
    'dataShift.is_flexible': function (val) {
      if (!val) {
        this.dataShift.flexible_type = 1;
        this.dataShift.duration = 0;
        this.dataShift.duration_hours = 0;
        this.dataShift.duration_minutes = 0;
      }
    },
    // eslint-disable-next-line func-names
    'dataShift.selected_flexible_type': function (val) {
      if (val) {
        this.dataShift.flexible_type = val.id;
      } else {
        this.dataShift.flexible_type = 1;
        this.dataShift.duration = 0;
        this.dataShift.duration_hours = 0;
        this.dataShift.duration_minutes = 0;
      }
    },
    formId(val) {
      if (val > 0) {
        if (this.mode === 'edit') {
          const params = {
            id: this.formId,
          };
          this.actionGetShiftDetail(params);
          this.title.main_title = 'Edit Shift';
        }
      } else {
        this.title.main_title = 'Create Shift';
        setTimeout(() => {
          this.$v.dataShift.$reset();
        }, 1000);
      }
    },
  },
  mounted() {
    if (this.mode === 'edit') {
      const params = {
        id: this.formId,
      };
      this.actionGetShiftDetail(params);
    } else {
      this.$v.dataShift.$reset();
      this.dataShift.color = '#00BCD4';
      this.weekdays.forEach((el) => {
        this.set_days_default.push(el);
      });
      this.$refs.multiCheck.setDefaultID();
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetShiftDetail', 'actionCreateShift', 'actionUpdateShift', 'actionDeleteShift']),

    getDataDays(val) {
      this.dataShift.days = val.data_id;
    },
    getColor(val) {
      this.dataShift.color = val;
    },
    msToHour(duration) {
      const hours = Number((duration / (1000 * 60 * 60)) % 24);
      return hours;
    },
    msToMinute(duration) {
      const minutes = Number((duration / (1000 * 60)) % 60);
      return minutes;
    },
    automateToFilled() {
      if (Number(this.dataShift.flexible_type) === 2 && this.dataShift.from) {
        const tempShiftTo = this.$moment(this.dataShift.from, 'HH:mm').add(this.dataShift.duration_minutes, 'minutes').format('HH:mm');
        this.dataShift.to = this.$moment(tempShiftTo, 'HH:mm').add(this.dataShift.duration_hours, 'hours').format('HH:mm');
      }
    },
    async submitRecord() {
      this.$v.dataShift.$touch();
      if (!this.$v.dataShift.$error) {
        // eslint-disable-next-line max-len
        const toMilisecond = (this.dataShift.duration_hours * (60000 * 60)) + (this.dataShift.duration_minutes * 60000);

        const params = {
          color: this.dataShift.color,
          day_off: this.dataShift.day_off,
          trigger_recalculate: this.dataShift.trigger_recalculate,
          days: this.dataShift.days,
          description: this.dataShift.description,
          difference_day: this.dataShift.difference_day,
          duration: toMilisecond,
          from: this.dataShift.from,
          flexible_type: this.dataShift.flexible_type,
          is_flexible: this.dataShift.is_flexible,
          late_tolerance: this.dataShift.late_tolerance,
          name: this.dataShift.name,
          to: this.dataShift.to,
        };

        let res;
        if (this.mode === 'create') {
          res = await this.actionCreateShift(params);
        } else {
          params.id = this.formId;
          res = await this.actionUpdateShift(params);
        }

        if (!res.error) {
          this.dataShift = {
            color: null,
            day_off: false,
            trigger_recalculate: false,
            days: [],
            description: '',
            difference_day: false,
            duration: 0,
            duration_hours: 0,
            duration_minutes: 0,
            from: '',
            flexible_type: 1,
            is_flexible: false,
            late_tolerance: 0,
            name: '',
            selected_flexible_type: null,
            to: '',
          };

          this.$v.dataShift.$reset();
          this.closeModal();
          this.refreshTable();
        }
      }
    },
    submit() {
      if (this.mode === 'edit') {
        this.updateRecord();
      } else {
        this.submitRecord();
      }
    },
    updateRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to update shift 
        "<strong class="blue">${this.dataShift.name}</strong>"?`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmImg,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            this.submitRecord();
          }
        }
      });
    },
    deleteRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to delete shift 
        "<strong class="blue">${this.dataShift.name}</strong>"?`,
        showCancelButton: true,
        imageUrl: this.confirmImg,
        cancelButtonColor: '#d33',
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              ids: this.formId,
            };
            await this.actionDeleteShift(params);
            this.closeModal();
            this.refreshTable();
          }
        }
      });
    },
    closeModal() {
      this.$emit('close');

      this.dataShift = {
        color: null,
        day_off: false,
        trigger_recalculate: false,
        days: [],
        description: '',
        difference_day: false,
        duration: 0,
        duration_hours: 0,
        duration_minutes: 0,
        from: '',
        flexible_type: 1,
        is_flexible: false,
        late_tolerance: 0,
        name: '',
        selected_flexible_type: null,
        to: '',
      };
    },
    refreshTable() {
      this.$emit('refresh');
    },
  },
};
</script>

<style lang="scss">
  #shift-form-update {
    .custom-control {
      padding-left: 5px !important;
    }

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
