<template>
  <div
    id="monitor-container-aborted"
    class="container-app-search"
  >
    <j-summary
      :data-summary="data_summary"
      class="coattendance-summary"
      @summaryBlock="getData"
    />
    <br>

    <v-server-table
      v-show="load_first"
      ref="monitorServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="monitor-search-aborted"
            class="btn grey btn-import-oos">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="id"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group
          :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
          <b-form-checkbox-group
            v-model="selected_rows"
            @input="floatingPromptAction">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>
      <div
        slot="staff"
        slot-scope="props"
        class="d-flex align-items-center">
        <img
          :src="photoUrl(props.row.photo)"
          class="photo-profile m__r--10">
        <span>
          {{ props.row.email }} <br>
          {{ props.row.name }}
        </span>
      </div>
      <div
        slot="type"
        slot-scope="props">
        {{ props.row.type_name }}
      </div>

    </v-server-table>

    <jLoadingTable v-if="!load_first"/>

    <div class="col-12">
      <div
        v-show="show_blank_footer"
        style="height: 100px"/>
      <j-floating-prompt
        ref="floating"
        @close-floating-prompt="closeAction">
        <div class="row">
          <div class="col-4">
            <div class="row">
              <div
                ref="totalSelectedRow"
                class="col-1 total-selected-row"/>
              <div class="col-7 total-selected-row-label f--medium m__t--13 m__l--7">
                leave request <br>selected
              </div>
            </div>
          </div>
          <div
            class="col-2 m__t--20">
            <div
              v-b-toggle.detail-table
              class="f--medium"
              style="cursor: pointer"
              @click="show_detail = !show_detail">
              Details
              <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
            </div>
          </div>
          <div class="col-6">
            <div class="row m__t--22">
              <div class="col-12 p__r--50">
                <b-button
                  class="btn icon brown float-right"
                  @click="onClickAction('abort')">
                  <i class="fa fa-trash"/>
                  Abort
                </b-button>
              </div>
            </div>
          </div>
          <j-collapse
            id="detail-table"
            :visible="show_detail"
            class="col-12">
            <v-client-table
              ref="detailTable"
              :columns="columns"
              :options="detail_table_options"
              :data="selected_rows"
              class="jTable">
              <div
                slot="id"
                slot-scope="props"
                class="jTableReport"
                @click.stop>
                <b-form-group
                  :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
                  <b-form-checkbox-group
                    v-model="selected_rows">
                    <b-form-checkbox
                      :value="props.row"/>
                  </b-form-checkbox-group>
                </b-form-group>
              </div>
              <div
                slot="staff"
                slot-scope="props"
                class="d-flex align-items-center">
                <img
                  :src="photoUrl(props.row.photo)"
                  class="photo-profile m__r--10">
                <span>
                  {{ props.row.email }} <br>
                  {{ props.row.name }}
                </span>
              </div>
              <div
                slot="type"
                slot-scope="props">
                {{ props.row.type_name }}
              </div>
            </v-client-table>
          </j-collapse>
        </div>
      </j-floating-prompt>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      target="monitor-search-aborted"
      triggers="click blur"
      container="monitor-container-aborted"
      placement="bottom">
      <b-row>
        <b-col>
          <b-form-group>
            <label>Start Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledStartDate(dataFilter.end_date)"
              v-model="dataFilter.start_date"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2019"/>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group>
            <label>End Date <span class="red"> * </span> </label>
            <j-datepicker
              :disabled-dates="disabledEndDate(dataFilter.start_date)"
              v-model="dataFilter.end_date"
              format="MMM dd, yyyy"
              placeholder="ex: 2 Jan 2019"/>
          </b-form-group>
        </b-col>
      </b-row>
      <!-- <b-form-group>
          <label>Employee</label>
          <j-multi-select
            :is-async="true"
            :load-options="loadOptionsEmployee"
            v-model="dataFilter.employee"
            value-format="object"
            placeholder="Select Employee"/>
        </b-form-group> -->
      <div class="text-right">
        <b-button
          class="btn"
          style="margin-top: -19px;"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import apiLeaveMonitor from '@/services/leave/jApiLeaveMonitor';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/monitor/sent` : '/leave/monitor/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/monitor/approved` : '/leave/monitor/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/monitor/rejected` : '/leave/monitor/rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/monitor/canceled` : '/leave/monitor/canceled',
        },
        {
          status: 'Aborted',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'aborted',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/leave/monitor/aborted` : '/leave/monitor/aborted',
        },
      ],

      show_detail: false,
      show_blank_footer: false,
      status: 'aborted',
      filter_data: '',
      dataFilter: {
        start_date: this.monthAgo(),
        end_date: new Date(),
        employee: [],
      },
      load_first: false,
      data_table: [],
      selected_rows: [],
      columns: ['id', 'employee_id', 'staff', 'organization_unit', 'type', 'reason', 'start_date', 'end_date', 'created_date'],
      options: {
        headings: {
          id: this.headerID(),
          employee_id: 'EMPLOYEE ID',
          staff: 'STAFF',
          organization_unit: 'ORGANIZATION UNIT',
          type: 'TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          created_date: 'CREATED DATE',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['created_date'],
        perPage: 10,
        orderBy: {
          ascending: false,
          column: 'status',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy ? data.orderBy : '',
            ascending: !!data.ascending,
            query: data.query ? data.query : '',
          };
        },
        requestFunction(data) {
          const list = apiLeaveMonitor.getListLeaveV3(data);
          return list.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
      detail_table_options: {
        headings: {
          id: this.headerID(),
          type: 'TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          note: 'NOTE',
          created_date: 'CREATED DATE',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['type'],
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },
  watch: {
    selected_rows(val) {
      if (val.length > 0) {
        this.show_blank_footer = true;
        this.$refs.floating.show();
      } else {
        this.show_blank_footer = false;
        this.$refs.floating.hide();
      }
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.monitorServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreLeaveMonitor', ['actionGetSummaryBlock']),
    ...mapActions('jStoreLeaveApprover', ['actionApproval', 'onSetBackProperties']),

    headerID() {
      return <input type="checkbox" checked disabled class="header-id"/>;
    },
    loading(data) {
      const val = data;
      val.start_date = this.$moment(this.dataFilter.start_date).format('YYYY-MM-DD');
      val.end_date = this.$moment(this.dataFilter.end_date).format('YYYY-MM-DD');
      val.status = 'aborted';
      if (this.load_first) {
        this.$refs.monitorServer.loading = true;
        this.$refs.monitorServer.data = [];
      }

      this.getDataSummary();
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.monitorServer.setFilter(val);
    },

    async getDataSummary() {
      this.data_summary.map((element) => {
        const item = element;
        const params = {
          status: element.status.toLowerCase(),
          start_date: this.$moment(this.dataFilter.start_date).format('YYYY-MM-DD'),
          end_date: this.$moment(this.dataFilter.end_date).format('YYYY-MM-DD'),
        };
        apiLeaveMonitor.getSummaryBlock(params)
          .then((res) => {
            item.amounts = res.data.length;
          });
        return item;
      });
    },

    getData(data) {
      switch (data.status) {
        case 'Sent':
          this.status = 'sent';
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Approved':
          this.status = 'approved';
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Rejected':
          this.status = 'rejected';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Canceled':
          this.status = 'canceled';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
          this.data_summary[4].active = false;
          break;
        default:
          this.status = 'aborted';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = true;
      }
      this.$refs.monitorServer.getData();
    },

    photoUrl(val) {
      if (val === '') {
        return 'https://corp.jojonomic.com/assets/img/user3.png'; // '../../../../assets/icon/user3.png';
      }
      return val;
    },
    floatingPromptAction() {
      this.$refs.totalSelectedRow.textContent = this.selected_rows.length;
    },
    closeAction() {
      this.show_blank_footer = false;
    },
    onRowClick(val) {
      this.onSetBackProperties({
        is_monitor: true,
        value: this.$route.params.statusMonitor,
      });

      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/approver/detail/` : '/leave/approver/detail/';
      this.$router.push(`${url}${val.row.id}`);
    },
    onClickAction(val) {
      this.selected_rows.forEach((element) => {
        const req = {
          id: element.id,
          action: val,
        };
        this.actionApproval(req);
      });
    },
    showCheckbox(startDate) {
      const date = new Date();
      const dateString = this.$moment(date).format('YYYY-MM-DD');
      if (dateString < startDate) {
        return true;
      }
      return false;
    },
    monthAgo() {
      const date = new Date();
      date.setDate(date.getDate() - 31);
      return date;
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
  },
};
</script>
