<template>
  <div>
    <div v-if="isLoaded">
      <jLoading/>
    </div>
    <div
      v-if="!isLoaded">
      <h2>My Project</h2>
      <b-row
        class="timesheet-my-project">
        <b-col
          v-for="(item, indexListTask) in list_task"
          :key="indexListTask"
          cols="6">
          <div class="layout-timesheet">

            <div
              class="layout-timesheet-header"
              @click="goTo(item.project_id)">
              <h3 class="project-name">{{ item.project_name }}</h3>
            </div>

            <div
              class="layout-timesheet-body">
              <b-row class="m-0">
                <b-col cols="4">
                  <div>
                    <h4 class="content-title">Due Date :</h4>
                    <h4 class="content-value">
                      {{ dueDate[indexListTask].expired_date | moment("MMM DD, YYYY") }}
                    </h4>
                  </div>
                </b-col>
                <b-col cols="8">
                  <div>
                    <div class="d-table">
                      <h4 class="content-title d-table-cell">
                        Assigned to {{ assignedToTotal(user[indexListTask]) }}
                      </h4>
                      <b-dropdown
                        class="content-collapse d-table-cell"
                        right>
                        <b-dropdown-item
                          v-for="(userData, indexUser) in user[indexListTask]"
                          :key="indexUser"
                          disabled>{{ assignedToDetail(userData) }}</b-dropdown-item>
                      </b-dropdown>
                    </div>
                    <h4 class="content-value ellipsis">
                      {{ assignedToListName(user[indexListTask]) }}
                    </h4>
                  </div>
                </b-col>
              </b-row>
              <b-row class="m-0 m__t--10">
                <b-col cols="4">
                  <div>
                    <h4 class="content-title">Total Task :</h4>
                    <h4 class="content-value total-task">
                      {{ taskListByProject[indexListTask].length }}
                    </h4>
                  </div>
                </b-col>
                <b-col cols="8">
                  <div>
                    <div class="d-table">
                      <h4 class="content-title d-table-cell">
                        My Task {{ myTaskTotal(myTaskByProjectId[item.project_id]) }}
                      </h4>
                      <b-dropdown
                        class="content-collapse d-table-cell"
                        right>
                        <b-dropdown-item
                          v-for="(taskData, indexTask) in myTaskByProjectId[item.project_id]"
                          :key="indexTask"
                          disabled>{{ myTaskDetail(taskData) }}</b-dropdown-item>
                      </b-dropdown>
                    </div>
                    <h4 class="content-value ellipsis">
                      {{ myTaskListName(myTaskByProjectId[item.project_id]) }}
                    </h4>
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>

        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import jApiMyProject from '@/services/timesheet/my-project/jApiMyProject';
import jLoading from '@/components/loading/jLoadingComponent';

export default {
  components: {
    jLoading,
  },
  data() {
    return {
      isLoaded: true,
      list_task: null,
      myTaskByProjectId: null,
      taskListByProject: null,
      user: null,
      dueDate: null,
      isActive: false,
    };
  },
  created() {
    this.runIt();
  },
  methods: {
    assignedToTotal(users) {
      return users.length > 0 ? `(${users.length})` : '';
    },
    assignedToDetail(user) {
      return `${user.first_name}${user.last_name ? ` ${user.last_name}` : ''}`;
    },
    assignedToListName(users) {
      const names = [];
      users.forEach((user) => {
        names.push(user.first_name);
      });
      return `${names.join(', ')}`;
    },
    myTaskTotal(myTask) {
      return myTask.length > 0 ? `(${myTask.length})` : '';
    },
    myTaskDetail(task) {
      return task.name ? task.name : '';
    },
    myTaskListName(myTask) {
      const names = [];
      myTask.forEach((user) => {
        names.push(user.name);
      });
      return `${names.join(', ')}`;
    },

    delay() {
      return new Promise(((resolve) => {
        setTimeout(() => {
          resolve();
        }, 1000);
      }));
    },

    goTo(projectid) {
      if (window.location.href.includes('pro/officeless')) {
        window.location = `${process.env.JOJOPRO_URL}pro/officeless/task-board#/timesheet/${projectid}`;
      } else {
        window.location = `${process.env.JOJOPRO_URL}pro/task#/timesheet/${projectid}`;
      }
    },

    groupByProjectId(tasks) {
      const tasksByProjectId = {};
      tasks.forEach((task) => {
        if (!tasksByProjectId[task.project_id]) {
          tasksByProjectId[task.project_id] = [];
        }
        tasksByProjectId[task.project_id].push(task);
      });
      return tasksByProjectId;
    },
    filterSameValueArray(arr, key) {
      return [...new Map(arr.map(item => [item[key], item])).values()];
    },

    async fetchData() {
      const req = await jApiMyProject.getListTaskAssign();
      const res = await req.data;
      this.myTaskByProjectId = this.groupByProjectId(res);
      const data = await this.filterSameValueArray(res, 'project_id');
      this.list_task = data;

      const taskProject = await Promise.all(data.map(async (item) => {
        const param = {
          project_id: item.project_id,
        };
        const taskData = await jApiMyProject.getListTaskByProject(param);
        this.delay();
        return taskData.data;
      }));
      return taskProject;
    },

    async getListUser() {
      const user = await Promise.all(this.list_task.map(async (item) => {
        const param = {
          pagination: this.pagination,
          project_id: item.project_id,
        };
        const req = await jApiMyProject.getListUser(param);
        this.delay();
        return req.data;
      }));
      return user;
    },

    async getDueDate() {
      const date = await Promise.all(this.list_task.map(async (item) => {
        const param = {
          id: item.project_id,
        };
        const req = await jApiMyProject.getDueDate(param);
        this.delay();
        return req.data;
      }));
      return date;
    },

    async runIt() {
      const taskProject = await this.fetchData();
      const user = await this.getListUser();
      const dueDate = await this.getDueDate();
      this.taskListByProject = taskProject;
      this.user = user;
      this.dueDate = dueDate;
      this.isLoaded = false;
    },
  },

};
</script>
<style lang="scss">
    .text-right{
      text-align: right;
    }

    .timesheet-my-project{

      .layout-timesheet{
        margin: 15px 0;
        border: none;
        border-radius: 8px;
        box-shadow: 0 0 10px #a6a8ab;
        position: relative;
      }

      .layout-timesheet-header{
        cursor: pointer;
        text-align: center;
        padding: 10px 20px;
        background: $blue-basic-color;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        color: #fff;
        transition: 0.3s;

        .project-name {
          font-weight: 500;
          margin-bottom: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .layout-timesheet-body{
        padding: 18px 5px;

        .content-title {
          font-weight: 400;
        }
        .content-collapse {
          button {
            color: #6c757d;
            background-color: transparent;
            font-size: 20px;
            padding: 0;
            margin: -4px 0 0 10px;
          }
          button:after {
            margin-left: 0!important;
          }
          .dropdown-menu {
            font-size: 14px;
          }
        }
        .content-value {
          margin-left: 11px;
          font-size: 16px;
          font-weight: 500;
          &.ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &.total-task {
            margin-left: 80px;
            font-size: 30px;
          }
        }
      }
    }
</style>
