
@mixin animation-bar-x {
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-name: animateBarX;
  animation-timing-function: ease-in-out;
}

@mixin animation-bar-y {
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-name: animateBarY;
  animation-timing-function: ease-in-out;
}

@mixin animation-bar--y {
  animation-duration: .25s;
  animation-iteration-count: 1;
  animation-name: animateBar_Y;
  animation-timing-function: ease-in-out;
}



@keyframes animateBarY {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0);}
}
@keyframes animateBar_Y {
  0% {transform: translateY(0);}
  100% {transform: translateY(100%);}
}

@keyframes animateBarX {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}
