// Font From Google
// ----------------
// Thin       : 100
// ExtraLight : 200
// Light      : 300
// Regular    : 400
// Medium     : 500
// SemiBold   : 600
// Bold       : 700
// ExtraBold  : 800
// Black      : 900

// 1. Poppins
// 2. Roboto
// 3. Roboto Condensed
// 4. Roboto Slab
// 5. Open Sans
// 6. Montserrat
// 7. Inter
// 8. Lato
// 9. Raleway
// 10. Nunito

// Import from google
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//default for header
@mixin font-header($line-height) {
  font-family: var(--fontThisApps) !important;
  line-height: $line-height;
  font-style: normal;
  font-weight: 600;
}

h1 {
  @include font-header(42px);
  font-size: 36px;
}

h2 {
  @include font-header(28px);
  font-size: 24px;
}

h3 {
  @include font-header(26px);
  font-size: 18px;
}

h4 {
  @include font-header(20px);
  font-size: 14px;
}

//default for paragraph, label and sidebar
@mixin font-content($line-height) {
  font-family: var(--fontThisApps) !important;
  line-height: $line-height;
  font-weight: 400 !important;
}

p {
  @include font-content(18px);
  font-size: 12px;
}

label {
  @include font-content(12px);
  font-size: 12px;
  margin-bottom: 5px;
}

.sidebar-item,
span,
nav {
  @include font-content(20px);
  font-size: 11px;
}

button {
  font-family: var(--fontThisApps) !important;
  font-weight: 600 !important;
}