<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        ref="tableEmployeeDocuments"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="no"
          slot-scope="props"
          :class="{'m__l--10': true, 'yellow-background-color': props.row.no === currentRow}">
          {{ props.row.no }}
        </div>
        <div
          slot="document_type"
          slot-scope="props">
          {{ props.row.document_type }}
        </div>
        <div
          slot="document_name"
          slot-scope="props">
          {{ props.row.name }}
        </div>
        <div
          slot="expired_date"
          slot-scope="props">
          {{ props.row.expired_date | moment("DD/MM/YYYY") }}
        </div>
        <div
          slot="attached_document"
          slot-scope="props">
          <j-attachments :attachments="props.row.document_attachments" />
        </div>
        <div
          slot="last_update"
          slot-scope="props">
          {{ props.row.updated_at | moment("DD/MM/YYYY") }}
        </div>
        <!-- <div
          slot="actions"
          slot-scope="props">
          <span @click="goTodetail(props.row)">
            <i class="fa fa-lg fa-edit action-icon green-color"/>
          </span>
          <span @click="remove(props.row)">
            <i class="fa fa-lg fa-trash action-icon red-color"/>
          </span>
        </div> -->
      </v-server-table>
    </div>
    <b-row
      v-if="is_loading"
      style="margin: 10px">
      <b-col lg="1">
        <Spinner style="display: block; margin: auto;"/>
      </b-col>
      <b-col
        lg="11"
        style="display: block; margin: auto">
        Processing
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import jApiEmployee from '@/services/jApiEmployee';
import jAttachments from '@/components/attachments/jAttachments';
import Spinner from '@/components/jSpinnerLoading';
import eventBus from './event-bus';

export default {
  name: 'JEmployeeDocumentTable',
  components: {
    Spinner,
    jAttachments,
  },
  data() {
    return {
      error_at: '',
      is_loading: false,
      currentRow: 0,
      filter_data: '',
      columns: ['no', 'document_type', 'document_name', 'expired_date', 'attached_document', 'last_update'],
      options: {
        headings: {
          no: 'NO',
          document_type: 'Document Type',
          document_name: 'Document Name',
          expired_date: 'Expired Date',
          attached_document: 'Attached Document',
          last_update: 'Last Update',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: [],
        debounce: 1000,
        cellClasses: {
          no: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          document_type: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          document_name: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          expired_date: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          attached_document: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          last_update: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          actions: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            user_company_ids: [],
            team_ids: [],
          };
        },
        requestFunction(data) {
          const { limit, page, column, ascending } = data.pagination;
          const { id: employeeId } = this.$route.params;

          return jApiEmployee.getEmployeeDocuments(employeeId, limit, page, column, ascending);
        },
        responseAdapter({ data }) {
          const resultData = data.data.map((value, index) => {
            const obj = value;
            obj.no = index + 1;
            return {
              ...obj,
            };
          });
          return {
            data: resultData,
            count: data.length,
          };
        },
        texts: {
          count: '',
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableDocs.setFilter('');
      }
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
    });
  },
  methods: {
    goTodetail(param) {
      this.$emit('employeeDocument', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true);
    },
    editRecord({ row }) {
      this.$emit('employeeDocument', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
    filter(val) {
      this.$refs.tableDocs.setFilter(val);
    },
    loading() {
      this.is_loading = true;
    },
    loaded() {
      this.is_loading = false;
    },
    refreshTable() {
      this.$refs.tableEmployeeDocuments.refresh();
    },
    remove(param) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id: employeeDocumentId } = param;
          const { id: employeeId } = this.$route.params;
          jApiEmployee.deleteEmployeeDocument(employeeId, employeeDocumentId).then(() => {
            this.refreshTable();
            this.error_at = '';
            eventBus.$emit('cancelForm', true);
          }).catch(() => {
            this.error_at = 'Delete';
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
  .green-color {
    color: $green-basic-color
  }

  .yellow-background-color {
    background-color: #FFDD6B;
  }

  .red-color {
    color: $red-basic-color;
  }

  .custom-position__container {
    position: relative;
    top: -55px;
    overflow: hidden;
    display: block;
    width: 38%;
    text-align: center
  }

  .custom-position__btn {
    margin-left: 71px;
  }
</style>
