<template>
  <div class="form-container--normal">
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.employee_document.document_type.$error}">
          <label class="form__label">Document Type</label>
          <j-single-select
            v-model="$v.employee_document.document_type.$model"
            :options="document_type_options"
            placeholder="Document Type"
            value-format="object"
          />
        </b-form-group>
        <b-form-group
          :class="{'error-input' : isDocumentNameEmpty}"
          :invalid-feedback="documentNameInvalidFeedback"
          :state="documentNameState"
        >
          <label class="form__label">Document Name</label>
          <j-input
            v-model="$v.employee_document.name.$model"
            placeholder="Document Name"
          />
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.employee_document.expired_date.$error}">
          <label class="form__label">Expired Date</label>
          <j-datepicker
            v-model="$v.employee_document.expired_date.$model"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"/>
        </b-form-group>
        <b-form-group>
          <label class="form__label">Attachment</label>
          <div
            v-for="(item, index) in employee_document.document_attachments"
            v-show="!item.is_delete"
            :key="index"
            class="container-attachment">
            <j-upload-file
              ref="jUploadFile"
              :accepted-file-type="acceptedFileType"
              :img-default="mode === 'edit' ? item.url : null"
              :api-token="api"
              :url-upload="url_upload"
              :max-file-size="5000"
              :more-data="true"
              @url="getDocs(index, 'url', $event)"
              @deleteFile="getDocs(index, 'is_delete', null)"
            />
          </div>
          <span class="info-attachment">
            document format: {{ acceptedFileType.join(', ') }}
          </span>
          <div
            class="d-flex cursor-pointer label-add-attachment"
            @click="addAttachment">
            <i class="fa fa-plus"/>
            <div class="attachment-add-more-data">Add Attachment</div>
          </div>
        </b-form-group>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable no-console */
import { required, maxLength } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import jUploadFile from '@/components/upload-file/jUploadFile';
import eventBus from './event-bus';

export default {
  name: 'JEmployeeDocumentForm',
  components: {
    Spinner,
    jUploadFile,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      employee_document: {
        id: 0,
        document_type: null,
        name: '',
        expired_date: null,
        document_attachments: [{ url: null, is_delete: false }],
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        document_type: null,
        name: '',
        expired_date: null,
        document_attachments: [{ url: null, is_delete: false }],
      },
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
      document_type_options: [
        {
          id: 'Curriculum Vitae',
          text: 'Curriculum Vitae',
        }, {
          id: 'Family Card',
          text: 'Family Card',
        }, {
          id: 'Identity Card',
          text: 'Identity Card',
        }, {
          id: 'Employee Letter',
          text: 'Employee Letter',
        }, {
          id: 'Other',
          text: 'Other',
        },
      ],
      image_default: null,
    };
  },
  computed: {
    isDocumentNameEmpty() {
      const { name: documentName } = this.employee_document;

      return this.$v.employee_document.name.$error && documentName.length === 0;
    },
    documentNameState() {
      const { name: documentName } = this.employee_document;

      return documentName.length <= 255;
    },
    documentNameInvalidFeedback() {
      const { name: documentName } = this.employee_document;

      if (documentName.length > 255) {
        return 'Maximum document name is 255 characters';
      }
      return '';
    },
    api() {
      return this.$ls.get('Token', null);
    },
    url_upload() {
      return `${localStorage.getItem('gateUrl')}/file`;
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        this.employee_document.id = data.id;
        this.employee_document.document_type = {
          id: data.document_type,
          text: data.document_type,
        };
        this.employee_document.name = data.name;
        this.employee_document.expired_date = data.expired_date;
        this.employee_document.document_attachments = data.document_attachments;
        this.is_submit_mode = false;
        this.submit_text = 'Update';
        this.previous_data = Object.assign({}, this.employee_document);
      } else {
        this.employee_document = {
          id: 0,
          document_type: null,
          name: '',
          expired_date: null,
          document_attachments: [{ url: null, is_delete: false }],
        };
        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.employee_document.$reset();
      }
    },
    is_submit_mode(val) {
      if (val) {
        this.$refs.jUploadFile[0].thumbnail = '';
      }
    },
  },
  methods: {
    submit() {
      this.$v.employee_document.$touch();
      const attachment = this.employee_document.document_attachments.find(el => el.url !== '');
      const isAttachmentNotEmpty = attachment ? attachment.url : null;
      if (!this.$v.employee_document.$error && isAttachmentNotEmpty) {
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          const newEmployeeDocumentObject = {
            ...this.employee_document,
            document_type: this.employee_document.document_type.id,
            // eslint-disable-next-line max-len
            document_attachments: this.employee_document.document_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.postEmployeeDocument(employeeId, newEmployeeDocumentObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Submit';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;

          const patchedEmployeeDocumentObject = {
            ...this.employee_document,
            document_type: this.employee_document.document_type.id,
            // eslint-disable-next-line max-len
            document_attachments: this.employee_document.document_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateEmployeeDocument(employeeId, this.employee_document.id,
            patchedEmployeeDocumentObject).then((res) => {
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      } else {
        this.$swal({
          title: 'Oops...',
          text: 'Please enter valid data into the form!',
        });
      }
    },
    cancelForm() {
      this.employee_document = {
        id: 0,
        document_type: null,
        name: '',
        expired_date: null,
        document_attachments: [{ url: null, is_delete: false }],
      };
      this.is_submit_mode = true;
      this.submit_text = 'Submit';
      this.$v.employee_document.$reset();
      eventBus.$emit('currentRow', 0);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id } = this.employee_document;
          const { id: employeeId } = this.$route.params;

          jApiEmployee.deleteEmployeeDocument(employeeId, id).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        } else {
          this.is_loading.remove = false;
        }
        this.$emit('close-modal', true);
      });
    },
    revert() {
      this.is_loading.revert = true;
      this.employee_document = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;
      this.$emit('close-modal', true);
    },
    getDocs(index, action, data) {
      const dataAction = action === 'is_delete' ? true : data;
      this.employee_document.document_attachments[index][action] = dataAction;
    },
    addAttachment() {
      this.employee_document.document_attachments.push({ url: '', is_delete: false });
    },
  },
  validations() {
    return {
      employee_document: {
        document_type: {
          required,
        },
        name: {
          required,
          maxLength: maxLength(255),
        },
        expired_date: {},
      },
    };
  },
};
</script>

<style lang="scss">
  .multi-upload-info {
    padding: 5px 0 0 0;
  }

  #__BVID__90__BV_feedback_invalid_ {
    color: #a94442!important;
    margin: 0 10px;
    font-size: 10px;
  }
</style>
