<template>
  <div>
    <b-row>
      <b-col
        cols="12">
        <j-employee-document-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @employeeDocument="getEmployeeDocument"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-employee-document-form
          :mode="mode"
          :detail="employee_document"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import jEmployeeDocumentForm from './jEmployeeDocumentForm';
import jEmployeeDocumentTable from './jEmployeeDocumentTable';

export default {
  name: 'JEmployeeDocument',
  components: {
    jEmployeeDocumentTable,
    jEmployeeDocumentForm,
  },
  data() {
    return {
      mode: '',
      employee_document: null,
      title: {
        main_title: 'EMPLOYEE DOCUMENT',
      },
    };
  },
  methods: {
    getEmployeeDocument(data) {
      this.employee_document = data;
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.employee_document = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style>

</style>
