<template>
  <div
    id="co-attend-form-detail"
    class="p-4"
  >
    <b-row>
      <b-col
        cols="7">
        <b-row
          v-if="isAdmin || isPicOrManagement">
          <b-col
            md="6"
            sm="6"
            class="toggle-container">
            <b-form-group>
              <label>Create for other employee</label>
              <j-toggle
                v-model="toggleForOther"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
          <b-col v-if="toggleForOther">
            <b-form-group :class="{'error-input' : $v.formData.employee.$error}">
              <label>Employee Name</label>
              <j-single-select
                v-model="$v.formData.employee.$model"
                :is-async="true"
                :load-options="loadOptionsEmployee"
                :placeholder="'Select Employee'"
                value-format="object"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group :class="{'error-input': $v.formData.timezone.$error}">
              <label for="timezone">Timezone</label>
              <j-single-select
                v-model="formData.timezone"
                :options="timezoneOptions"
                label="name"
                placeholder="Select Timezone" />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.start_date.$error}">
              <label
                for="startTime"
                style="margin-top:5px">Start Date <span class="red"> * </span> </label>
              <j-datepicker
                id="startTime"
                :disabled-dates="from_date_disabled"
                v-model="$v.formData.start_date.$model"
                format="MMM dd, yyyy"
                placeholder="ex: 1 Jan 2019"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.end_date.$error}">
              <label
                for="endTime"
                style="margin-top:5px">End Date <span class="red"> * </span> </label>
              <j-datepicker
                id="endTime"
                :disabled-dates="end_date_disabled"
                v-model="$v.formData.end_date.$model"
                format="MMM dd, yyyy"
                placeholder="ex: 2 Jan 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>

      <b-col
        v-if="formData.start_date && formData.end_date"
        cols="12">

        <jLoadingTable v-if="!load_first"/>

        <v-client-table
          v-else
          ref="clientTable"
          :data="data_table"
          :columns="columns"
          :options="options"
          class="jTable">

          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                class="btn grey btn-import-form m__r--5"
                @click="openNewModal(true)"
              >
                <i class="fa fa-plus fa-lg"/> Add
              </b-button>
            </b-form>
          </div>

          <div
            slot="checkbox"
            slot-scope="props"
            class="jTableReport"
            @click.stop>
            <b-form-group>
              <b-form-checkbox-group
                v-model="selected_rows">
                <b-form-checkbox
                  :value="props.row"/>
              </b-form-checkbox-group>
            </b-form-group>
          </div>

          <div
            slot="check_in_date"
            slot-scope="{row, update}">
            <j-datepicker
              id="startTime"
              v-model="row.check_in_date"
              :disabled="false"
              :disabled-dates="check_in_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2019"
              @input="update"/>
          </div>

          <div
            slot="check_out_date"
            slot-scope="{row, update}">
            <j-datepicker
              id="startTime"
              v-model="row.check_out_date"
              :disabled="false"
              :disabled-dates="check_out_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2019"
              @input="update"/>
          </div>

          <div
            slot="project"
            slot-scope="{row, update}">
            <j-single-select
              v-model="row.projects"
              :is-async="true"
              :load-options="loadOptionsProject"
              placeholder="Select Project"
              value-format="object"
              @input="update"/>
          </div>

          <div
            slot="venue"
            slot-scope="{row, update}">
            <j-single-select
              v-model="row.venues"
              :is-async="true"
              :load-options="loadOptionsVenue"
              placeholder="Select Venue"
              value-format="object"
              @input="update"/>
          </div>

          <div
            slot="check_in_time"
            slot-scope="{row, update}">
            <j-clockpicker
              v-model="row.check_in_time"
              placeholder="ex: 06.00"
              @input="update"/>
          </div>

          <div
            slot="check_out_time"
            slot-scope="{row, update}">
            <j-clockpicker
              v-model="row.check_out_time"
              placeholder="ex: 06.00"
              @input="update"/>
          </div>

          <div
            slot="check_in_description"
            slot-scope="{row, update}">
            <j-input
              v-model="row.check_in_description"
              class="reason"
              @input="update"/>
          </div>

          <div
            slot="docs"
            slot-scope="props"
            class="text-center">
            <b-button
              class="btn btn-import-form"
              @click="openDetail(props)">
              Browse
            </b-button>
          </div>

          <div
            slot="action"
            slot-scope="props"
            class="text-center"
          >
            <b-button
              :disabled="!isAdmin"
              class="btn btn-import-form"
              style="padding: 0px !important"
              @click="deleteRecord(props)">
              <i class="fa fa-2x fa-trash"/>
            </b-button>
          </div>

        </v-client-table>
      </b-col>

      <b-col cols="12 d-flex">
        <div class="text-right">
          <b-button
            v-if="data_table.length > 0"
            :disabled="selected_rows.length < 1"
            class="btn"
            @click="saveDraft">
            <i class="fa fa-file"/>
            Save to Draft
          </b-button>
          <b-button
            v-if="data_table.length > 0"
            :disabled="selected_rows.length < 1"
            class="btn blue"
            @click="submitRecord">
            <i class="fa fa-upload"/>
            Submit
          </b-button>
        </div>
      </b-col>
    </b-row>

    <b-modal
      ref="modalNewAttendanceForm"
      class="mod-form new-attendance-modal"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <j-co-attendance-form
        v-if="isOpen"
        :mode-form="detailMode"
        :period="dataPeriod"
        @modal-open="isModalFormOpen"
        @new-attendance="addNewAttendance"
      />
    </b-modal>

    <b-modal
      ref="modalUpload"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <div v-if="isOpenDocs">
        <j-co-attendance-upload-modal
          :data-detail="detailDraft"
          @modal-open="isModalUploadOpen"
          @update-docs="updateDocs" />
      </div>
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import moment from 'moment-timezone';
import jMixTable from '@/mixins/jMixTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiUser from '@/services/jApiUser';
import { timezone } from '@/utils/timezone';
import jCoAttendanceForm from './jCoAttendanceForm';
import jCoAttendanceUploadModal from './jCoAttendanceUploadModal';

export default {
  components: {
    jCoAttendanceForm,
    jLoadingTable,
    jCoAttendanceUploadModal,
  },
  mixins: [
    jMixTable,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      user_company_id: localStorage.getItem('user_company_id'),
      isOpen: false,
      isOpenDocs: false,
      detailDraft: null,
      detailMode: 'create',
      toggleForOther: false,
      formData: {
        employee: null,
        start_date: null,
        end_date: null,
        timezone: moment.tz.guess(),
      },
      dataPeriod: {
        start_date: null,
        end_date: null,
      },
      from_date_disabled: {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: !this.isAdmin && this.isPicOrManagement ? this.dateRangePic() : '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: !this.isAdmin && this.isPicOrManagement ? this.dateRangePic() : '',
        }],
      },
      date_range: {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: '',
        }, {
          from: '',
          to: new Date(10000, 1, 1),
        }],
      },
      check_in_disabled: {

      },
      check_out_disabled: {

      },
      filter_data: '',
      select_type: 'project_name',
      options_search: [
        {
          text: 'PROJECT NAME',
          value: 'project_name',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['checkbox', 'check_in_date', 'check_out_date', 'project', 'venue', 'check_in_time', 'check_out_time', 'check_in_description', 'docs', 'action'],
      options: {
        headings: {
          check_in_date: 'CHECK IN DATE',
          check_out_date: 'CHECK OUT DATE',
          project: 'PROJECT',
          venue: 'VENUE',
          check_in_time: 'CHECK IN',
          check_out_time: 'CHECK OUT',
          check_in_description: 'REASON',
          docs: 'ATTACHMENT',
          action: 'ACTION',
          checkbox(h) {
            const objThis = this;
            return jMixTable.checkbox(h, objThis);
          },
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['check_in_date', 'check_out_date', 'project', 'venue', 'check_in_time', 'check_out_time'],
        perPage: 10,
        orderBy: {
          ascending: false,
          column: 'check_in_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },
  validations() {
    const validate = {
      formData: {
        start_date: {
          required,
        },
        end_date: {
          required,
        },
        employee: {
          // do nothing
        },
        timezone: {
          required,
        },
      },
    };
    if (this.toggleForOther) {
      validate.formData.employee = { required };
    }
    return validate;
  },
  computed: {
    ...mapState('jStoreCoAttendance', ['user_restriction']),

    getUserRestriction() {
      const data = this.user_restriction;
      return this.mappingData(data, 'user');
    },

    timezoneOptions() {
      return timezone.map(item => ({ id: item, name: item }));
    },
  },
  watch: {
    // eslint-disable-next-line func-names
    'formData.start_date': async function (date) {
      this.dataPeriod.start_date = this.$moment(date).format('YYYY-MM-DD');

      if (this.formData.end_date !== null) {
        if (this.formData.end_date < date) {
          this.formData.end_date = date;
        }
      }
      this.restrictDate(date, 'end');

      this.getListDatatable();
    },
    // eslint-disable-next-line func-names
    'formData.end_date': async function (date) {
      this.dataPeriod.end_date = this.$moment(date).format('YYYY-MM-DD');

      if (this.formData.start_date > date) {
        this.formData.start_date = date;
      }
      this.restrictDate(date, 'from');

      this.getListDatatable();
    },
    // eslint-disable-next-line func-names
    'formData.employee': function () {
      this.getListDatatable();
    },
  },
  created() {
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetUserRestrictionMonitor', 'actionCreateCoattendance', 'actionChangeStatusCoattendance', 'actionDeleteAttendance']),

    restrictDate(e, status) {
      if (status === 'end') {
        if (!this.isAdmin && this.isPicOrManagement) {
          this.from_date_disabled.ranges = [{
            from: new Date(1, 1, 1),
            to: this.dateRangePic(),
          }];
        } else {
          this.from_date_disabled.ranges = [{
            from: this.formData.end_date,
            to: new Date(10000, 1, 1),
          }];
        }

        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        if (!this.isAdmin && this.isPicOrManagement) {
          this.from_date_disabled.ranges = [{
            from: new Date(1, 1, 1),
            to: this.dateRangePic(),
          }];
        } else {
          this.from_date_disabled.ranges = [{
            from: e,
            to: new Date(10000, 1, 1),
          }];
        }

        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    restrictDateRow(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.formData.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    async getListDatatable() {
      this.selected_rows = [];
      if (this.formData.start_date && this.formData.end_date) {
        this.check_in_disabled = {
          color: 'light-grey',
          ranges:
          [{
            from: new Date(1, 1, 1),
            to: new Date(this.dataPeriod.start_date),
          }, {
            from: new Date(this.dataPeriod.end_date),
            to: new Date(10000, 1, 1),
          }],
        };
        this.check_out_disabled = {
          color: 'light-grey',
          ranges:
          [{
            from: new Date(1, 1, 1),
            to: new Date(this.dataPeriod.start_date),
          }, {
            from: new Date(this.dataPeriod.end_date),
            to: new Date(10000, 1, 1),
          }],
        };

        this.$v.formData.$touch();
        if (!this.$v.formData.$error) {
          const params = {
            pagination: {
              limit: 0,
              page: 1,
              column: 'check_in_date',
              sort: 'desc',
              query: '',
              query_type: '',
            },
            end_date: this.formData.end_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.end_date).format('YYYY-MM-DD'),
            start_date: this.formData.start_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.start_date).format('YYYY-MM-DD'),
            user_company_id: this.toggleForOther ? Number(this.formData.employee.user_company_id) : Number(this.user_company_id),
          };

          this.load_first = false;
          const { data } = await jApiCoAttendance.getListAttendance(params);
          this.data_table = data.data;
          this.data_table.forEach((val) => {
            val.check_in_time = this.formatTime(val.check_in_time);
            val.check_out_time = this.formatTime(val.check_out_time);
            if (val.project_id) {
              val.projects = {
                id: val.project_id,
                label: val.project_name,
              };
            } else {
              val.projects = null;
            }
            if (val.venues) {
              val.venues = {
                id: val.venue_id,
                label: val.venue_name,
              };
            } else {
              val.venues = null;
            }
            val.docs = [{ url: null, is_delete: false }];
          });
          this.load_first = true;
        }
      }
    },

    mappingData(data, config) {
      let arr;
      if (data) {
        arr = data.map(item => ({
          ...item,
          text: this.optionText(item, config),
        }));
      }
      return arr;
    },
    optionText(data, config) {
      if (config === 'user') {
        return `${data.first_name} ${data.last_name}`;
      }
      return '';
    },
    yesterday() {
      const date = new Date();
      date.setDate(date.getDate() - 1);
      return date;
    },
    dateRangePic() {
      const date = new Date();
      date.setDate(date.getDate() - 30);
      return date;
    },
    tommorowFromDate(date) {
      date.setDate(date.getDate() + 1);
      return date;
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiUser.getUserRestrictionOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    loadOptionsProject({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetProjectAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsVenue({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetVenueList', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },
    formatTime(val) {
      if (val) {
        if (typeof val === 'number') {
          return this.$moment(val).format('HH:mm');
        }
        return val;
      }
      return null;
    },
    formatMsFromDatetime(date, time) {
      const join = new Date(date.concat(' ', time));
      return this.$moment(join).valueOf();
    },
    updateDocs(data) {
      this.data_table[data.idTemp - 1].docs = data.docs;
    },
    addNewAttendance(val) {
      this.data_table.push(val);
    },
    openNewModal() {
      this.detailMode = 'create';
      this.isModalFormOpen(true);
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalNewAttendanceForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalNewAttendanceForm.hide();
      }
    },
    openDetail(props) {
      this.detailDraft = props;
      this.isModalUploadOpen(true);
    },
    isModalUploadOpen(val) {
      if (val) {
        this.isOpenDocs = val;
        this.$refs.modalUpload.show();
      } else {
        this.isOpenDocs = val;
        this.$refs.modalUpload.hide();
      }
    },

    saveDraft() {
      this.$v.formData.timezone.$touch();
      if (!this.$v.formData.timezone.$error) {
        if (this.selected_rows.length > 0) {
          this.$swal({
            title: 'Are you sure, want to save attendance(s) to draft?',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
          }).then(async (result) => {
            if (!result.dismiss) {
              const params = {
                user_company_id: this.toggleForOther ? Number(this.formData.employee.user_company_id) : Number(this.user_company_id),
                data: [],
              };

              params.data = this.selected_rows.map(val => ({
                project_id: val.projects ? val.projects.id : null,
                start_date: this.$moment(val.check_in_date).format('YYYY-MM-DD'),
                end_date: this.$moment(val.check_out_date).format('YYYY-MM-DD'),
                start_time: val.check_in_time,
                end_time: val.check_out_time,
                local_id: this.formatMsFromDatetime(val.check_in_date, val.check_in_time),
                venue_id: val.venues ? val.venues.id : null,
                note: '',
                docs: val.docs ? val.docs.map(obj => obj.url) : [],
                description: val.check_in_description,
                timezone: this.formData.timezone,
                offline_created_date: this.$moment(new Date()).valueOf(),
                attendance_group_id: val.attendance_group_id ? val.attendance_group_id : undefined,
              }));
              const res = await this.actionCreateCoattendance(params);
              if (!res.error) {
                this.selected_rows = [];
                this.$router.go(-1);
              }
            }
          });
        }
      }
    },

    submitRecord() {
      this.$v.formData.timezone.$touch();
      if (!this.$v.formData.timezone.$error) {
        if (this.selected_rows.length > 0) {
          this.$swal({
            title: 'Are you sure, want to submit attendance(s)?',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
          }).then(async (result) => {
            if (!result.dismiss) {
              const params = {
                user_company_id: this.toggleForOther ? Number(this.formData.employee.user_company_id) : Number(this.user_company_id),
                data: [],
              };

              params.data = this.selected_rows.map(val => ({
                project_id: val.projects ? val.projects.id : null,
                start_date: this.$moment(val.check_in_date).format('YYYY-MM-DD'),
                end_date: this.$moment(val.check_out_date).format('YYYY-MM-DD'),
                start_time: val.check_in_time,
                end_time: val.check_out_time,
                local_id: this.formatMsFromDatetime(val.check_in_date, val.check_in_time),
                venue_id: val.venues ? val.venues.id : null,
                note: '',
                docs: val.docs ? val.docs.map(obj => obj.url) : [],
                description: val.check_in_description,
                timezone: this.formData.timezone,
                offline_created_date: this.$moment(new Date()).valueOf(),
                attendance_group_id: val.attendance_group_id ? val.attendance_group_id : undefined,
              }));
              const res = await this.actionCreateCoattendance(params);

              if (!res.error) {
                this.selected_rows = [];

                const params2 = {
                  action: 'sent',
                  note: '',
                };

                const promises = res.data.map(async (el) => {
                  await this.actionChangeStatusCoattendance({ id: el.id, params: params2 });
                });
                await Promise.all(promises);

                this.$router.push(`${this.oosRoute}/co-attendance/requestor/sent`);
              }
            }
          });
        }
      }
    },

    deleteRecord({ row }) {
      const index = this.data_table.findIndex(data => data.idTemp === row.idTemp);

      this.$swal({
        title: 'Are you sure, want to delete attendance?',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonColor: '#d2232a',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (!result.dismiss) {
          // await this.actionDeleteAttendance({ attendance_group_id: row.attendance_group_id });
          // this.getListDatatable();
          this.data_table.splice(index, 1);
        }
      });
    },

    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
};
</script>

<style lang="scss">
  #co-attend-form-detail {

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
      .custom-control {
        padding-left: 5px !important;
      }
    }

    .jTable {
      .reason input {
        width: 150px !important;
      }

      .jDatePicker input {
        width: 140px !important;
      }

      .clock-picker input {
        width: 90px !important;
      }

      .jSelectSingle {
        width: 200px !important;
      }

      .jDatePicker > .vdp-datepicker__calendar {
        z-index: 999 !important;
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container {
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container > .vue-treeselect__menu {
        position: relative !important;
      }
    }

    .vue-treeselect__input,
    .vue-treeselect__placeholder,
    .vue-treeselect__menu-container > .vue-treeselect__menu {
      font-size: 14px;
    }
  }
</style>
