<template>
  <div
    id="co-attend-form-detail"
    class="p-4"
  >
    <b-row>
      <b-col
        cols="7">
        <b-row
          v-if="checkRoleAccess">
          <b-col v-if="toggleForOther">
            <b-form-group :class="{'error-input' : $v.formData.employee.$error}">
              <label>Employee Name</label>
              <j-single-select
                v-if="!toggleForOther"
                v-model="$v.formData.employee.$model"
                :options="getUserRestriction"
                :placeholder="'Select Employee'"
                disabled
                value-format="object"/>
              <j-input
                v-else
                v-model="formData.employee.name"
                disabled/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.start_date.$error}">
              <label
                for="startTime"
                style="margin-top:5px">Start Date <span class="red"> * </span> </label>
              <j-datepicker
                id="startTime"
                :disabled-dates="from_date_disabled"
                v-model="$v.formData.start_date.$model"
                disabled
                format="MMM dd, yyyy"
                placeholder="ex: 1 Jan 2019"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.end_date.$error}">
              <label
                for="endTime"
                style="margin-top:5px">End Date <span class="red"> * </span> </label>
              <j-datepicker
                id="endTime"
                :disabled-dates="end_date_disabled"
                v-model="$v.formData.end_date.$model"
                disabled
                format="MMM dd, yyyy"
                placeholder="ex: 2 Jan 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>

      <b-col cols="12">
        <!-- <v-server-table
          v-show="load_first"
          ref="requestorServer"
          :columns="columns"
          :options="options"
          class="jTable"
          @loading="loading"
          @loaded="loaded"
          @row-click="openDetail">

          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                class="btn grey btn-import-form m__r--5"
                @click="openNewModal"
              >
                <i class="fa fa-plus fa-lg"/> Add
              </b-button>
            </b-form>
          </div>

          <div
            slot="start_date"
            slot-scope="props"
          >
            {{ formatDate(props.row.start_date) }}
          </div>

          <div
            slot="start_time"
            slot-scope="props"
          >
            {{ props.row.start_time }}
          </div>

          <div
            slot="end_time"
            slot-scope="props"
          >
            {{ props.row.end_time || '-' }}
          </div>

        </v-server-table> -->

        <jLoadingTable v-if="!load_first"/>

        <v-client-table
          v-else
          ref="clientTable"
          :data="data_table"
          :columns="columns"
          :options="options"
          class="jTable">

          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                class="btn grey btn-import-form m__r--5"
                @click="openNewModal(true)"
              >
                <i class="fa fa-plus fa-lg"/> Add
              </b-button>
            </b-form>
          </div>

          <div
            slot="checkbox"
            slot-scope="props"
            class="jTableReport"
            @click.stop>
            <b-form-group>
              <b-form-checkbox-group
                v-model="selected_rows">
                <b-form-checkbox
                  :value="props.row"/>
              </b-form-checkbox-group>
            </b-form-group>
          </div>

          <div
            slot="id"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.id }}
          </div>

          <div
            slot="employee_id"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.employee_id }}
          </div>

          <div
            slot="name"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.name }}
          </div>

          <div
            slot="start_date"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ formatDate(props.row.start_date) }}
          </div>

          <div
            slot="end_date"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ formatDate(props.row.end_date) }}
          </div>

          <div
            slot="project_name"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.project_name }}
          </div>

          <div
            slot="venue_name"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.venue_name }}
          </div>

          <div
            slot="start_time"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.start_time }}
          </div>

          <div
            slot="end_time"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.end_time || '-' }}
          </div>

          <div
            slot="description"
            slot-scope="props"
            @click="openDetail(props)"
          >
            {{ props.row.description }}
          </div>

          <div
            slot="docs"
            slot-scope="props"
            class="text-center">
            <b-button
              v-if="props.row.docs.length > 0"
              class="btn btn-import-form"
              @click="openDocModal(props)">
              Browse
            </b-button>
          </div>

        </v-client-table>
      </b-col>

      <b-col cols="12">
        <div class="text-right">
          <b-button
            v-if="load_first"
            :disabled="selected_rows.length < 1"
            class="btn red"
            @click="deleteRecord">
            <i class="fa fa-trash"/>
            Delete
          </b-button>
          <b-button
            v-if="load_first"
            :disabled="selected_rows.length < 1"
            class="btn blue"
            @click="sendRecord">
            <i class="fa fa-upload"/>
            Send
          </b-button>
        </div>
      </b-col>

    </b-row>

    <b-modal
      ref="modalNewAttendanceForm"
      class="mod-form new-attendance-modal"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <j-co-attendance-form
        v-if="isOpen"
        ref="coAttendanceForm"
        :mode-form="detailMode"
        :period="formData"
        :detail-draft="detailDraft"
        @update-row="updateRow"
        @modal-open="isModalFormOpen"
        @new-attendance="addNewAttendance"
      />
    </b-modal>

    <b-modal
      ref="modalUpload"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <div v-if="isOpenDocs">
        <j-co-attendance-upload-modal
          :data-detail="detailDocs"
          @modal-open="isModalUploadOpen"
          @update-docs="updateDocs" />
      </div>
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jMixTable from '@/mixins/jMixTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jCoAttendanceForm from './jCoAttendanceForm';
import jCoAttendanceUploadModal from './jCoAttendanceUploadModal';

export default {
  components: {
    jCoAttendanceForm,
    jLoadingTable,
    jCoAttendanceUploadModal,
  },
  mixins: [
    jMixTable,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      user_company_id: localStorage.getItem('user_company_id'),
      isOpen: false,
      isOpenDocs: false,
      detailDraft: null,
      detailDocs: null,
      detailMode: 'edit',
      toggleForOther: false,
      formData: {
        employee: {
          id: null,
          name: null,
        },
        start_date: null,
        end_date: null,
      },
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      filter_data: '',
      select_type: 'project_name',
      options_search: [
        {
          text: 'PROJECT NAME',
          value: 'project_name',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['checkbox', 'id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time', 'description', 'docs'],
      options: {
        headings: {
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          start_date: 'CHECK IN DATE',
          end_date: 'CHECK OUT DATE',
          project_name: 'PROJECT',
          venue_name: 'VENUE',
          start_time: 'CHECK IN',
          end_time: 'CHECK OUT',
          description: 'REASON',
          docs: 'ATTACHMENT',
          checkbox(h) {
            const objThis = this;
            return jMixTable.checkbox(h, objThis);
          },
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time'],
        perPage: 10,
        orderBy: {
          ascending: false,
          column: 'start_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        // requestAdapter(data) {
        //   return {
        //     pagination: {
        //       limit: data.limit,
        //       page: data.page,
        //       column: data.orderBy ? data.orderBy : '',
        //       ascending: !!data.ascending,
        //       query: data.query ? data.query : '',
        //     },
        //   };
        // },
        // requestFunction(data) {
        //   const getList = jApiCoAttendance.getCoattendanceDraftDetail(data);
        //   return getList.catch((e) => {
        //     this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
        //   });
        // },
        // responseAdapter({ data }) {
        //   return {
        //     data: data.data || [],
        //     count: data.length ? data.length : 0,
        //   };
        // },
      },
    };
  },
  validations() {
    const validate = {
      formData: {
        start_date: {
          required,
        },
        end_date: {
          required,
        },
        employee: {
          // do nothing
        },
      },
    };
    if (this.toggleForOther) {
      validate.formData.employee = { required };
    }
    return validate;
  },
  computed: {
    ...mapState('jStoreCoAttendance', ['user_restriction']),
    ...mapState('jStoreAttendance', ['employee_detail']),

    getUserRestriction() {
      const data = this.user_restriction;
      return this.mappingData(data, 'user');
    },
    checkRoleAccess() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('pictimes') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('management');
    },
  },
  watch: {
    toggleForOther(val) {
      if (val) {
        const params = {
          pagination: {
            limit: 0,
            page: 1,
            column: 'id',
            ascending: false,
            query: '',
          },
          user_company_id: Number(this.user_company_id) || 0,
        };
        this.actionGetUserRestrictionMonitor(params);

        this.actionGetEmployeeDetailById({ id: Number(this.data_table[0].user_company_id) });
      }
    },
    employee_detail(val) {
      this.formData.employee = {
        id: val.profile.id,
        name: `${val.profile.first_name} ${val.profile.last_name}`,
      };
    },
    // filter_data(val) {
    //   if (val === '') {
    //     this.$refs.requestorServer.setFilter('');
    //   }
    // },
    // eslint-disable-next-line func-names
    'formData.start_date': function (date) {
      if (this.formData.end_date !== null) {
        if (this.formData.end_date < date) {
          this.formData.end_date = date;
        }
      }
      this.restrictDate(date, 'end');

      this.getListDatatable();
    },
    // eslint-disable-next-line func-names
    'formData.end_date': function (date) {
      if (this.formData.start_date > date) {
        this.formData.start_date = date;
      }
      this.restrictDate(date, 'from');

      this.getListDatatable();
    },
  },
  created() {
    this.formData.start_date = this.$route.params.startDate;
    this.formData.end_date = this.$route.params.endDate;
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetUserRestrictionMonitor', 'actionChangeStatusCoattendance', 'actionCreateCoattendance', 'actionDeleteAttendanceDraft']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading', 'toggleLoading']),
    ...mapActions('jStoreAttendance', ['actionGetEmployeeDetailById']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.formData.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    async getListDatatable() {
      if (this.formData.start_date && this.formData.end_date) {
        this.date_range = {
          color: 'light-grey',
          ranges:
          [{
            from: new Date(1, 1, 1),
            to: new Date(this.formData.start_date),
          }, {
            from: new Date(this.formData.end_date),
            to: new Date(10000, 1, 1),
          }],
        };

        this.$v.formData.$touch();
        if (!this.$v.formData.$error) {
          const params = {
            pagination: {
              limit: 0,
              page: 1,
              column: 'start_date',
              sort: 'desc',
              query: '',
              query_type: '',
            },
            end_date: this.formData.end_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.end_date).format('YYYY-MM-DD'),
            start_date: this.formData.start_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.start_date).format('YYYY-MM-DD'),
            timestamp: this.$route.params.id,
          };

          this.load_first = false;
          const { data } = await jApiCoAttendance.getCoattendanceDraftDetail(params);
          this.data_table = data.data;
          if (data.data.length === 1) {
            this.selected_rows = data.data;
            delete this.options.headings.checkbox;
            this.columns = this.columns.filter(column => column !== 'checkbox');
          }
          this.data_table.forEach((val) => {
            val.check_in_time = this.formatTime(val.check_in_time);
            val.check_out_time = this.formatTime(val.check_out_time);
            val.projects = {
              id: val.project_id,
              label: val.project_name,
            };
            if (val.venues) {
              val.venues = {
                id: val.venue_id,
                label: val.venue_name,
              };
            } else {
              val.venues = {
                id: 0,
                label: '',
              };
            }
          });
          this.load_first = true;
        }
      }
    },

    // loading(val) {
    //   val.end_date = this.formData.end_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.end_date).format('YYYY-MM-DD');
    //   val.start_date = this.formData.start_date == null ? this.$moment(new Date()).format('YYYY-MM-DD') : this.$moment(this.formData.start_date).format('YYYY-MM-DD');
    //   val.timestamp = this.$route.params.id;
    //   if (this.load_first) {
    //     this.$refs.requestorServer.loading = true;
    //     this.$refs.requestorServer.data = [];
    //   }
    // },
    // loaded(data) {
    //   this.data_table = data.data.data;
    //   if (!this.load_first) {
    //     this.load_first = !this.load_first;
    //   }

    //   if (this.data_table.length > 0) {
    //     if (Number(this.user_company_id) !== Number(this.data_table[0].user_company_id)) {
    //       this.toggleForOther = true;
    //     }
    //   }
    // },
    // refreshTable() {
    //   this.$refs.requestorServer.getData();
    // },
    // filter(val) {
    //   this.$refs.requestorServer.setFilter(val);
    // },

    mappingData(data, config) {
      let arr;
      if (data) {
        arr = data.map(item => ({
          ...item,
          text: this.optionText(item, config),
        }));
      }
      return arr;
    },
    optionText(data, config) {
      if (config === 'user') {
        return `${data.first_name} ${data.last_name}`;
      }
      return '';
    },
    yesterday() {
      const date = new Date();
      date.setDate(date.getDate() - 1);
      return date;
    },
    loadOptionsProject({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetProjectAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },
    formatTime(val) {
      return this.$moment(val).format('HH:mm');
    },
    formatMsFromDatetime(date, time) {
      const join = new Date(date.concat(' ', time));
      return this.$moment(join).valueOf();
    },
    async updateRow(data) {
      if (data) {
        const indexData = this.data_table.findIndex(val => val.idTemp === data.idTemp);

        this.data_table[indexData].project_id = data.project_id;
        this.data_table[indexData].project_name = data.project_name;
        this.data_table[indexData].venue_id = data.venue_id;
        this.data_table[indexData].venue_name = data.venue_name;
        this.data_table[indexData].check_in_address = data.venue_name;
        this.data_table[indexData].start_date = data.start_date;
        this.data_table[indexData].start_time = data.start_time;
        this.data_table[indexData].end_time = data.end_time;
        this.data_table[indexData].description = data.description;
        this.data_table[indexData].docs = data.docs;
        this.data_table[indexData].idTemp = data.idTemp;
      } else {
        // temporary save new added record
        const temp = this.data_table.filter(val => !val.id);

        // refresh server data table co-attendance draft
        await this.getListDatatable();

        // insert back new record to table
        temp.forEach((val) => {
          this.data_table.push(val);
        });
      }
    },
    addNewAttendance(val) {
      const data = {
        project_id: val.projects.id,
        project_name: val.projects.label,
        venue_id: val.venues.id,
        venue_name: val.venues.label,
        check_in_address: val.check_in_address,
        start_date: val.check_in_date,
        start_time: val.check_in_time,
        end_time: val.check_out_time,
        description: val.check_in_description,
        docs: val.docs,
        idTemp: val.idTemp,
      };

      this.data_table.push(data);
    },
    openNewModal() {
      this.detailMode = 'create';
      this.isModalFormOpen(true);
    },
    openDetail({ row }) {
      this.detailMode = 'edit';
      this.detailDraft = row;
      this.isModalFormOpen(true);
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalNewAttendanceForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalNewAttendanceForm.hide();
      }
    },
    openDocModal(props) {
      this.detailDocs = props;
      this.isModalUploadOpen(true);
    },
    isModalUploadOpen(val) {
      if (val) {
        this.isOpenDocs = val;
        this.$refs.modalUpload.show();
      } else {
        this.isOpenDocs = val;
        this.$refs.modalUpload.hide();
      }
    },
    updateDocs(data) {
      this.data_table[data.idTemp - 1].docs = data.docs;
    },
    async submitRecord(newRecord) {
      const params = {
        user_company_id: this.toggleForOther ? Number(this.formData.employee.user_company_id) : Number(this.user_company_id),
        data: [],
      };

      params.data = newRecord.map(val => ({
        project_id: val.project_id,
        start_date: this.$moment(val.start_date).format('YYYY-MM-DD'),
        end_date: this.$moment(val.start_date).format('YYYY-MM-DD'),
        start_time: val.start_time,
        end_time: val.end_time,
        local_id: this.formatMsFromDatetime(val.start_date, val.start_time),
        venue_id: val.venue_id,
        note: '',
        docs: val.docs,
        description: val.description,
        timezone: val.timezone || 'Asia/Jakarta',
        offline_created_date: this.$moment(new Date()).valueOf(),
      }));

      const res = await this.actionCreateCoattendance(params);
      if (!res.error) {
        // this.data_table;
      }
    },
    async sendRecord() {
      if (this.selected_rows.length > 0) {
        this.$swal({
          title: 'Are you sure, want to send attendance(s)?',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (!result.dismiss) {
            const newRecord = this.data_table.filter(val => !val.id);
            if (newRecord.length > 0) {
              // await this.submitRecord(newRecord);
            }

            const params = {
              action: 'sent',
              note: '',
            };

            const promises = this.selected_rows.map(async (val) => {
              await this.actionChangeStatusCoattendance({ id: val.id, params });
            });
            await Promise.all(promises);
            this.$router.go(-1);
          }
        });
      }
    },
    async deleteRecord() {
      this.$swal({
        title: 'Confirmation',
        text: 'Are you sure want to delete this record?',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value) {
          this.toggleLoading('Please wait...');
          const promises = this.selected_rows.map(async (val) => {
            await this.actionDeleteAttendanceDraft({ id: val.id });
          });
          Promise.all(promises).then(() => {
            this.hideLoading();
            if (this.selected_rows.length === this.data_table.length) {
              this.$router.go(-1);
            } else {
              this.getListDatatable();
            }
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #co-attend-form-detail {
    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
      .custom-control {
        padding-left: 5px !important;
      }
    }

    #VueTables_th--docs {
        text-align: center;
    }
  }
</style>
