<template>
  <fieldset>
    <h3 class="modal-title">ATTACHMENT</h3>
    <div
      v-for="(item, index) in dataAttendance.docs"
      v-show="!item.is_delete"
      :key="index"
      class="container-attachment">
      <j-upload-file
        :img-default="item.url"
        :url-upload="url_upload"
        :accepted-file-type="acceptedFileType"
        :api-token="api"
        :max-file-size="5000"
        :more-data="true"
        @url="getDocs(index, 'url', $event)"
        @deleteFile="getDocs(index, 'is_delete', null)"/>
    </div>
    <div style="font-size: 11px; margin-bottom: 10px;">
      Please choose file with maximum file 5 MB and supported format file
      (jpg, png, jpeg, bmp, and pdf)
    </div>
    <div
      class="d-flex cursor-pointer"
      @click="dataAttendance.docs.push({ url: null, name:'', is_delete: false, })">
      <i class="fa fa-plus"/>
      <div class="attachment-add-more-data">Add Attachment</div>
    </div>
    <div class="pull-right m__t--20">
      <b-button
        class="btn"
        @click="closeModal">
        Close
      </b-button>
      <b-button
        class="btn blue"
        @click="submitAttendance">
        Upload
      </b-button>
    </div>
  </fieldset>
</template>

<script>
import jUploadFile from '@/components/upload-file/jUploadFile';

export default {
  components: {
    jUploadFile,
  },
  props: {
    dataDetail: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
      dataAttendance: {
        docs: [{ url: null, name: '', is_delete: false }],
      },
    };
  },
  computed: {
    api() {
      return this.$ls.get('Token', null);
    },
    url_upload() {
      return `${localStorage.getItem('gateUrl')}/file`;
    },
  },
  created() {
    this.dataAttendance = {
      docs: this.dataDetail.row.docs,
      idTemp: this.dataDetail.index,
    };
  },
  methods: {
    getDocs(index, action, data) {
      const dataAction = action === 'is_delete' ? true : data;
      this.dataAttendance.docs[index][action] = dataAction;
    },
    closeModal() {
      this.dataAttendance.docs = [{ url: null, name: '', is_delete: false }];

      this.$emit('modal-open', false);
    },
    submitAttendance() {
      this.$emit('update-docs', this.dataAttendance);
      this.closeModal();
    },
  },
};
</script>
