<template>
  <div class="p-4">
    <b-row
      v-if="coattendace_detail"
      class="justify-content-between">
      <b-col
        lg="7"
        md="8">
        <div ref="containerFormData">
          <b-row>
            <b-col cols="3">
              <b-form-group>
                <label>Employee ID</label>
                <j-input
                  v-model="coattendace_detail.employee_id"
                  disabled />
              </b-form-group>
            </b-col>
            <b-col cols="9">
              <b-form-group>
                <label>Employee Name</label>
                <j-input
                  v-model="coattendace_detail.name"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-form-group>
                <label>Check In Date</label>
                <j-input
                  v-model="startDate"
                  disabled />
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group>
                <label>Check Out Date</label>
                <j-input
                  v-model="endDate"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-form-group>
                <label>Check In Time</label>
                <j-input
                  v-model="coattendace_detail.start_time"
                  disabled />
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group>
                <label>Check Out Time</label>
                <j-input
                  v-model="endTime"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="6">
              <b-form-group>
                <label>Project</label>
                <j-input
                  v-model="coattendace_detail.project_name"
                  disabled />
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group>
                <label>Venue</label>
                <j-input
                  v-model="coattendace_detail.venue_name"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <b-form-group>
                <label>Reason</label>
                <j-textarea
                  v-model="coattendace_detail.description"
                  disabled />
              </b-form-group>
            </b-col>
            <b-col cols="12">
              <b-form-group>
                <label>Status</label>
                <j-input
                  v-model="textStatus"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <b-form-group>
                <label>Approver Comment</label>
                <j-textarea
                  v-model="coattendace_detail.note"
                  disabled />
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <label> Attachment </label>
              <div
                v-for="(item, index) in coattendace_detail.docs"
                v-show="!item.is_delete"
                :key="index"
                class="container-attachment">
                <j-upload-file
                  :img-default="item.url"
                  :option-name="item.name"
                  :url-upload="url_upload"
                  :accepted-file-type="acceptedFileType"
                  :api-token="tokenJwt"
                  :disabled="true"
                  @url="getDocs(index, $event)"/>
              </div>
            </b-col>
          </b-row>
        </div>

        <b-row class="mt-3">
          <b-col
            cols="12"
            class="d-flex justify-content-end">
            <b-button
              v-if="coattendace_detail.status === 2"
              class="btn red"
              @click="cancelRecord">
              <i class="fa fa-ban"/>
              Cancel
            </b-button>
          </b-col>
        </b-row>
      </b-col>

      <b-col cols="4">
        <b-row class="w-100">
          <div class="logs-container-times w-100" >
            <b-col
              cols="12"
              class="w-100 p-0 d-inline-flex">
              <img
                :src="require('@/assets/icon/logs.png')"
                class="m__r--10"
                style="width: 20px; height: 20px;">
              <h1
                class="f--medium"
                style="font-size: 14px; color: #808080; line-height: 20px;">
                LOGS
              </h1>
            </b-col>
            <b-col
              cols="12"
              class="p-0">
              <div
                :style="containerHeight ?
                `max-height: ${containerHeight}px` : 'none'"
                class="timeline-wrapper">
                <j-time-line
                  v-if="logs.length > 0"
                  :data="logs"
                  :convert="true"/>
              </div>
            </b-col>
          </div>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jMixLogs from '@/mixins/jMixLogs';
import jTimeLine from '@/components/timeline/jTimeLine';
import jUploadFile from '@/components/upload-file/jUploadFile';

export default {
  components: {
    jTimeLine,
    jUploadFile,
  },
  mixins: [
    jMixLogs,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      startDate: null,
      endDate: null,
      textStatus: null,
      endTime: null,
      logs: [],
      tokenJwt: JSON.parse(localStorage.getItem('Token')).value,
      acceptedFileType: ['jpg', 'png', 'jpeg', 'pdf'],
    };
  },
  computed: {
    ...mapState('jStoreCoAttendance', ['coattendace_detail', 'coattendance_logs']),

    url_upload() {
      return `${process.env.GATE_URL}file`;
    },
  },
  watch: {
    coattendace_detail(val) {
      this.startDate = this.formatDate(val.start_date);
      this.endDate = val.end_date ? this.formatDate(val.end_date) : '';
      this.textStatus = this.convertStatus(val.status);
      this.endTime = val.end_time ? val.end_time : '';

      if (val.docs.length > 0) {
        this.coattendace_detail.docs = val.docs.map((doc, index) => ({
          url: doc.url,
          name: `Document ${index + 1}`,
          is_delete: false,
        }));
      } else {
        this.coattendace_detail.docs = [
          {
            url: '',
            name: '',
            is_delete: false,
          },
        ];
      }
    },
    coattendance_logs(val) {
      this.logs = [];
      if (val.length > 0) {
        this.logs = val;
      }
    },
  },
  created() {
    this.actionGetCoattendanceDetail({ id: this.$route.params.id });
    this.actionGetLogs({ id: this.$route.params.id });
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetCoattendanceDetail', 'actionChangeStatusCoattendance', 'actionGetLogs']),

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },
    convertStatus(val) {
      switch (val) {
        case 1:
          return 'Draft';
        case 2:
          return 'Sent';
        case 4:
          return 'Approved';
        case 6:
          return 'Rejected';
        case 11:
          return 'Canceled';
        default:
          return '';
      }
    },

    cancelRecord() {
      this.$swal({
        title: 'Are you sure, want to cancel this attendance?',
        input: 'text',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        inputValidator: (value) => {
          if (!value) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then(async (result) => {
        if (!result.dismiss) {
          const params = {
            action: 'cancel',
            note: result.value,
          };

          await this.actionChangeStatusCoattendance({
            id: this.coattendace_detail.id,
            params,
          });
          this.$router.push(`${this.oosRoute}/co-attendance/requestor/canceled`);
        }
      });
    },
  },
};
</script>
