<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ modeForm === 'edit' ? 'EDIT' : 'ADD' }} ATTENDANCE </h3>
      <b-row>
        <b-col md="6">
          <b-form-group :class="{'error-input' : $v.dataAttendance.checkin_date.$error}">
            <label
              for="startTime"
              style="margin-top:5px">Check In Date <span class="red"> * </span> </label>
            <j-datepicker
              id="startTime"
              v-model="$v.dataAttendance.checkin_date.$model"
              :disabled="modeForm === 'edit'"
              :disabled-dates="from_date_range"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          md="6"
          class="toggle-container">
          <b-form-group>
            <label>Different Check Out Day</label>
            <j-toggle
              v-model="isDiffDay"
              :disabled="modeForm === 'edit'"
              class="toggle-form-base" />
          </b-form-group>
        </b-col>
        <b-col
          v-if="isDiffDay"
          sm="12"
          md="6">
          <b-form-group :class="{'error-input' : $v.dataAttendance.checkout_date.$error}">
            <label
              for="startTime"
              style="margin-top:5px">Check Out Date <span class="red"> * </span> </label>
            <j-datepicker
              id="startTime"
              v-model="$v.dataAttendance.checkout_date.$model"
              :disabled="modeForm === 'edit'"
              :disabled-dates="disabledEndDate(dataAttendance.checkin_date)"
              format="MMM dd, yyyy"
              placeholder="ex: 1 Jan 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          v-if="isDiffDay"
          md="6"/>
        <b-col
          sm="12"
          md="6">
          <b-form-group :class="{'error-input' : $v.dataAttendance.checkin_time.$error}">
            <label>Check In Time <span class="red"> * </span> </label>
            <j-clockpicker
              v-model="$v.dataAttendance.checkin_time.$model"
              placeholder="ex: 06.00"/>
          </b-form-group>
        </b-col>
        <b-col
          sm="12"
          md="6">
          <b-form-group :class="{'error-input' : $v.dataAttendance.checkout_time.$error}">
            <label>Check Out TIme <span class="red"> * </span> </label>
            <j-clockpicker
              v-model="$v.dataAttendance.checkout_time.$model"
              placeholder="ex: 06.00"/>
          </b-form-group>
        </b-col>
        <b-col md="12">
          <b-form-group :class="{'error-input' : $v.dataAttendance.project.$error}">
            <label>Project </label>
            <j-single-select
              v-model="$v.dataAttendance.project.$model"
              :is-async="true"
              :load-options="loadOptionsProject"
              placeholder="Select Project"
              value-format="object"/>
          </b-form-group>
        </b-col>
        <b-col md="12">
          <b-form-group :class="{'error-input' : $v.dataAttendance.venue.$error}">
            <label>Venue </label>
            <j-single-select
              v-model="$v.dataAttendance.venue.$model"
              :is-async="true"
              :load-options="loadOptionsVenue"
              placeholder="Select Venue"
              value-format="object"/>
          </b-form-group>
        </b-col>
        <b-col md="12">
          <b-form-group>
            <label>Reason</label>
            <j-textarea
              v-model="$v.dataAttendance.reason.$model"
              placeholder="Write reason here"/>
          </b-form-group>
        </b-col>
        <b-col md="12">
          <label> Attachment </label>
          <div
            v-for="(item, index) in dataAttendance.docs"
            v-show="!item.is_delete"
            :key="index"
            class="container-attachment">
            <j-upload-file
              :img-default="item.url"
              :url-upload="url_upload"
              :accepted-file-type="acceptedFileType"
              :api-token="tokenJwt"
              :max-file-size="5000"
              :more-data="true"
              @url="getDocs(index, $event)"
              @deleteFile="deleteFileData(index)"/>
          </div>
          <div style="font-size: 11px; margin-bottom: 10px;">
            Please choose file with maximum file 5 MB and supported format file
            (jpg, png, jpeg, and pdf)
          </div>
          <div
            class="d-flex cursor-pointer"
            @click="dataAttendance.docs.push({ url: null, name:'', is_delete: false, })">
            <i class="fa fa-plus"/>
            <div class="attachment-add-more-data">Add Attachment</div>
          </div>
        </b-col>
      </b-row>

      <div class="pull-right m__t--20">
        <b-button
          class="btn"
          @click="closeModal">
          Close
        </b-button>
        <b-button
          v-if="modeForm === 'edit'"
          class="btn blue"
          @click="updateAttendance">
          Update
        </b-button>
        <b-button
          v-else
          class="btn blue"
          @click="submitAttendance">
          Add
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jUploadFile from '@/components/upload-file/jUploadFile';

export default {
  components: {
    jUploadFile,
  },
  props: {
    modeForm: {
      type: String,
      default: 'create',
    },
    detailDraft: {
      type: Object,
      default: () => {},
    },
    period: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    const validate = {
      dataAttendance: {
        checkin_date: { required },
        checkout_date: { },
        checkin_time: { required },
        checkout_time: { required },
        project: { },
        venue: { },
        reason: { },
      },
    };
    if (this.isDiffDay) {
      validate.dataAttendance.checkout_date = { required };
    }
    return validate;
  },
  data() {
    return {
      dataAttendance: {
        checkin_date: null,
        checkout_date: null,
        checkin_time: null,
        checkout_time: null,
        project: null,
        venue: null,
        reason: '',
        docs: [{ url: null, name: '', is_delete: false }],
      },
      from_date_range: {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: new Date(this.period.start_date),
        }, {
          from: this.tommorowFromDate(new Date(this.period.end_date)),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_range: {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: new Date(this.period.start_date),
        }, {
          from: this.tommorowFromDate(new Date(this.period.end_date)),
          to: new Date(10000, 1, 1),
        }],
      },
      tokenJwt: JSON.parse(localStorage.getItem('Token')).value,
      acceptedFileType: ['jpg', 'png', 'jpeg', 'pdf'],
      isFileSizeInvalid: false,
      defaultImg: [],
      isDiffDay: false,
    };
  },
  computed: {
    url_upload() {
      return `${process.env.GATE_URL}file`;
    },
  },
  created() {
    if (this.modeForm === 'edit') {
      if (this.detailDraft.start_date !== this.detailDraft.end_date) {
        this.isDiffDay = true;
      }

      this.dataAttendance = {
        checkin_date: this.detailDraft.start_date,
        checkout_date: this.detailDraft.end_date,
        checkin_time: this.detailDraft.start_time,
        checkout_time: this.detailDraft.end_time,
        project: this.detailDraft.project_id !== 0 ? {
          id: this.detailDraft.project_id,
          label: this.detailDraft.project_name,
        } : null,
        venue: this.detailDraft.venue_id !== 0 ? {
          id: this.detailDraft.venue_id,
          label: this.detailDraft.venue_name,
        } : null,
        reason: this.detailDraft.description,
        docs: [],
        idTemp: this.detailDraft.idTemp,
      };

      if (this.detailDraft.docs.length > 0) {
        this.dataAttendance.docs = this.detailDraft.docs.map((doc, index) => ({
          url: doc.url,
          name: `Document ${index + 1}`,
          is_delete: false,
        }));
      } else {
        this.dataAttendance.docs = [
          {
            url: '',
            name: '',
            is_delete: false,
          },
        ];
      }
    } else {
      this.dataAttendance.docs = [
        {
          url: '',
          name: '',
          is_delete: false,
        },
      ];
    }
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionUpdateCoattendance']),

    setIsFileSizeInvalid(val) {
      this.isFileSizeInvalid = val;
    },

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: new Date(this.period.start_date),
        }, {
          from: this.tommorowFromDate(new Date(this.period.end_date)),
          to: new Date(10000, 1, 1),
        }, {
          from: this.tommorowFromDate(new Date(startDate)),
          to: new Date(10000, 1, 1),
        }, {
          from: new Date(1, 1, 1),
          to: new Date(startDate),
        }],
      };
    },
    yesterday() {
      const date = new Date();
      date.setDate(date.getDate() - 1);
      return date;
    },
    tommorowFromDate(date) {
      date.setDate(date.getDate() + 1);
      return date;
    },
    loadOptionsProject({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetProjectAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsVenue({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetVenueList', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    closeModal() {
      this.dataAttendance = {
        checkin_date: null,
        checkout_date: null,
        checkin_time: null,
        checkout_time: null,
        project: null,
        venue: null,
        reason: '',
        docs: [{ url: null, is_delete: false }],
      };

      this.$v.dataAttendance.$reset();
      this.$emit('modal-open', false);
    },
    getDocs(index, data) {
      this.dataAttendance.docs[index].url = data;
    },
    deleteFileData(index) {
      this.dataAttendance.docs[index].is_delete = true;
    },
    submitAttendance() {
      this.$v.dataAttendance.$touch();
      if (!this.$v.dataAttendance.$error) {
        // eslint-disable-next-line
        const { project, venue, checkin_date, checkout_date, checkin_time, checkout_time, reason, docs } = this.dataAttendance;

        const params = {
          project_id: project ? project.id : 0,
          project_name: project ? project.name : '',
          venue_id: venue ? venue.id : 0,
          check_in_address: venue ? venue.name : '',
          check_in_date: this.$moment(checkin_date).format('YYYY-MM-DD'),
          check_out_date: this.isDiffDay ? this.$moment(checkout_date).format('YYYY-MM-DD') : this.$moment(checkin_date).format('YYYY-MM-DD'),
          check_in_time: checkin_time,
          check_out_time: checkout_time,
          check_in_description: reason,
          docs: docs ? docs.filter(f => !f.is_delete).map((el, index) => {
            const item = {
              url: el.url,
              order: index,
            };
            return item;
          }) : [],
          projects: project ? {
            id: project ? project.id : 0,
            label: project ? project.name : '',
          } : null,
          venues: venue ? {
            id: venue ? venue.id : 0,
            label: venue ? venue.name : '',
          } : null,
          idTemp: this.$moment(new Date()).valueOf(),
        };

        this.$emit('new-attendance', params);
        this.closeModal();
      }
    },
    async updateAttendance() {
      this.$v.dataAttendance.$touch();
      if (!this.$v.dataAttendance.$error) {
        // eslint-disable-next-line
        const { project, venue, checkin_date, checkout_date, checkin_time, checkout_time, reason, docs } = this.dataAttendance;
        // eslint-disable-next-line
        const { id, attendance_group_id, local_id, timezone } = this.detailDraft;

        const params = {
          id,
          project_id: project ? project.id : 0,
          attendance_group_id,
          venue_id: venue ? venue.id : 0,
          start_date: checkin_date,
          end_date: checkout_date,
          start_time: checkin_time,
          end_time: checkout_time,
          description: reason,
          local_id,
          timezone,
        };

        if (this.detailDraft.id) {
          params.docs = docs ? docs.filter(f => !f.is_delete).map(obj => obj.url) : [];
          const res = await this.actionUpdateCoattendance(params);
          if (!res.error) {
            this.$emit('update-row', null);
            this.closeModal();
          }
        } else {
          params.project_name = this.dataAttendance.project.label;
          params.venue_name = this.dataAttendance.venue.label;
          params.idTemp = this.dataAttendance.idTemp;
          this.$emit('update-row', params);
          this.closeModal();
        }
      }
    },
  },
};
</script>

<style lang="scss">
  .new-attendance-modal .modal-dialog {
    max-width: 600px !important;
  }
</style>
