<template>
  <div>
    <fieldset>
      <h3 class="modal-title">  {{ !isReadOnly ? `UPLOAD ` : '' }} ATTACHMENT</h3>
      <b-row>
        <b-col cols="12">
          <b-form-group>
            <j-multiupload
              ref="multiUploader"
              :accepted-file-type="multi_upload_config.acceptedFileType"
              :api-token="tokenJwt"
              :is-required="false"
              :is-read-only="isReadOnly"
              :img-default="defaultImg"
              :url-upload="url_upload"
              @is-file-size-invalid="setIsFileSizeInvalid($event)"
            />
          </b-form-group>
        </b-col>
      </b-row>

      <div class="pull-right m__t--20">
        <b-button
          class="btn"
          @click="closeModal">
          Close
        </b-button>
        <b-button
          v-if="!isReadOnly"
          class="btn blue"
          @click="submitAttendance">
          Upload
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
export default {
  props: {
    dataDetail: {
      type: Object,
      default: () => {},
    },
    isReadOnly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dataAttendance: {
        docs: [],
      },
      tokenJwt: JSON.parse(localStorage.getItem('Token')).value,
      multi_upload_config: {
        acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
      },
      isFileSizeInvalid: false,
      defaultImg: [],
    };
  },
  computed: {
    filesUrl() {
      const filesUrl = [];

      this.$refs.multiUploader.fileUrls.forEach((file) => {
        const { file_url: fileUrl } = file;
        filesUrl.push(fileUrl);
      });

      return filesUrl;
    },
    url_upload() {
      return `${process.env.GATE_URL}file`;
    },
  },
  created() {
    this.dataAttendance = {
      docs: this.dataDetail.row.docs,
      idTemp: this.dataDetail.index,
    };

    const fileData = [];
    const filesLinks = [];

    if (this.dataAttendance.docs) {
      if (this.dataAttendance.docs.length > 0) {
        this.dataAttendance.docs.forEach((obj) => {
          const newAttachment = { file_url: obj.url, id: obj.id, is_delete: false };
          fileData.push(newAttachment);
          filesLinks.push(obj.url);
        });
      }
    }

    this.defaultImg = fileData;

    this.$refs.multiUploader.fileUrls = fileData;
    this.$refs.multiUploader.filesLinks = filesLinks;
  },
  methods: {

    setIsFileSizeInvalid(val) {
      this.isFileSizeInvalid = val;
    },
    closeModal() {
      this.dataAttendance = {
        docs: [],
      };

      this.$emit('modal-open', false);
    },
    submitAttendance() {
      this.$refs.multiUploader.files = [];

      // eslint-disable-next-line
        const { idTemp } = this.dataAttendance;

      const attendanceAttachments = [];
      this.$refs.multiUploader.fileUrls.forEach((obj) => {
        const newAttachment = { url: obj.file_url, id: obj.id, is_delete: false };
        attendanceAttachments.push(newAttachment);
      });

      const params = {
        docs: attendanceAttachments,
        idTemp,
      };

      this.$emit('update-docs', params);
      this.closeModal();
    },
  },
};
</script>
