@import 'init';

html,
body,
#app {
  font-family: var(--fontThisApps) !important;
  height: 100%;
}

div::after,
li::before {
  font-family: 'FontAwesome' !important;
}


.float-to-right {
  @include flex-display;
  justify-content: flex-end;
}

.float-to-left {
  @include flex-display;
  justify-content: flex-start;
}

.float-to-center {
  @include flex-display;
  justify-content: center;
}

.space-bottom {
  .selected-bottom-rules {
    padding-bottom: 100px;
  }
}

.space-bottom-more {
  .selected-bottom-rules {
    padding-bottom: 250px;
    max-height: 100%;
    overflow-y: scroll;
  }
}

.title-pdf-component {
  font-weight: 400;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #525252;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title-pdf-signed {
  font-weight: 400;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2dc179;
  padding-top: 6px;
}

.title-pdf-reject {
  font-weight: 400;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #aa2e15;
  padding-top: 6px;
}

.title-pdf-unsign {
  font-weight: 400;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9a9a9a;
  padding-top: 6px;
}

// Summary block native
@mixin before {
  width: 73px;
  height: 74px;
  top: 28px;
  right: unset;
  left: -44px;
  border-radius: 4px;
  transform: rotate(55deg) skew(26deg);
  background: linear-gradient(45deg, transparent 0%, rgba(255, 255, 255, 0) 0%, #fff 45%, #fff 100%);
}

@mixin after {
  width: 76px;
  height: 76px;
  top: 26px;
  right: -20px;
  left: unset;
  margin-left: unset;
  border-radius: 4px;
  transform: rotate(55deg) skew(26deg);
}

.summary-block2 .summary {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 5px;

  .sum-alone,
  .sum-alone-last {
    padding-left: 0;
  }

  .sum-start-first,
  .sum-start,
  .sum-middle,
  .sum-last,
  .sum-alone-first,
  .sum-alone-last,
  .sum-alone {
    min-width: 200px;
  }

  .sum-start-first {
    .summary-arrow {
      .summary-body {
        border-bottom-right-radius: 2px;

        &:after {
          @include after;
        }
      }
    }
  }

  .sum-middle {
    .summary-arrow-middle {
      .summary-body {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 2px;

        &::before {
          @include before;
        }

        &:after {
          @include after;
        }
      }
    }
  }

  .sum-last {
    .summary-arrow-last {
      .summary-body {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 7px;

        &::before {
          @include before;
        }
      }
    }
  }
}

.form-group {
  margin: 0 !important;
}

.jApproveAndUpdate {
  button {
    background: #4a90e2 !important;
    border: none;
    color: #fff;
    font-size: 16px;

    &:hover {
      background: darken(#4a90e2, 5%);
    }

    &:not(:disabled):not(.disabled):active,
    &.btn-secondary.dropdown-toggle {
      background: darken(#4a90e2, 5%);
    }

    &:focus {
      box-shadow: unset !important;
    }
  }

  .dropdown-toggle:after {
    margin-left: 5px !important;
  }

  a {
    font-weight: 400;
    color: #808285 !important;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .dropdown-item:active {
    background-color: #4a90e2 !important;
    color: white !important;
  }
}

.jTabsa .greedy-menu ul {
  overflow-y: hidden;
}

.img-responsive {
  display: inline !important;
}

// loading animation
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1a85e4;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

// Component HTML
b,
strong {
  font-weight: 600;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}

.ql-align-justify {
  text-align: justify;
}

.ql-indent-1 {
  padding-left: 3em;
}

.ql-indent-2 {
  padding-left: 6em;
}

.ql-indent-3 {
  padding-left: 9em;
}

.ql-indent-4 {
  padding-left: 12em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.viewer-container .viewer-footer {
  display: none !important;
}

.search-option--text .form-control {
  width: var(--width) !important;
}

.btn-filter-canvas {
  padding: 7px 15px !important;
  background: #1A85E4 !important;
  color: #ffffff !important;
  width: 120px;
}

.btn-filter-table-view {
  padding: 7px 15px !important;
  background: #1A85E4 !important;
  color: #ffffff !important;
  width: 231px;
}

.btn-filter-reset-table-view {
  background: #F2F2F2 !important;
  color: #606060 !important;
}

.toggle-form-base {
  .jToggleVerticalCenter p {
    display: none;
  }
}

.table-responsive {
  margin-bottom: 20px;

  .table-bordered th {
    font-size: 12px;
  }
}

.table-floating-popup .VuePagination .text-center .VuePagination__count {
  display: none;
}

.table-floating-popup .VuePagination .text-center .VuePagination__pagination {
  display: flex !important;
}

.table-floating-popup .form-group {
  margin-bottom: 10px !important;
}

.table-floating-popup th {
  span {
    text-transform: uppercase;
  }
}

.vdp-datepicker__calendar {
  .cell.selected {
    background: #1a85e4 !important;
    color: white !important;
  }
}

// Highlight range timeframe
#dateFromTimeframe,
#dateToTimeframe {
  .vdp-datepicker__calendar {
    right: 0 !important;
  }
}

#highlightRange {
  .jFormGroup.vdp-datepicker input {
    display: none;
  }

  .vdp-datepicker__calendar {
    display: block !important;
    position: relative !important;
    width: 100% !important;
    border: none !important;
    z-index: 10;

    .cell.selected {
      background: transparent !important;
      color: #8c8c8d !important;
    }

    .cell.highlighted {
      background: #1a85e4 !important;
      color: white !important;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }

  label {
    display: none !important;
  }
}

// Hide auto generate element that causes page over height
body {
  .ct {
    display: none;
  }
}

// Sweet Alert for Force Change Password
.swal2-popup {
  .button-cancel-reminder-pass {
    background: #FFFFFF !important;
    border: 0.8px solid #1A85E4 !important;
    border-radius: 4px !important;
    color: #1A85E4 !important;
    width: 126px;
    height: 32px;
    font-size: 12px !important;
    line-height: 14px;

    &:hover {
      border: none !important;
      color: #FFFFFF !important;
    }
  }

  .button-confirm-reminder-pass {
    width: 262px;
    height: 32px;
    font-size: 12px !important;
    line-height: 14px;
  }
}

.pop-enter-active,
.pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}

.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0.3) translateY(-50%);
}