<template>
  <div class="component-card">
    <b-row class="m__b--10"/>
    <j-leave-claimer-draft
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jLeaveClaimerDraft from '@/views/application/application-component/times/leave/claimer/jLeaveClaimerDraft';

export default {
  components: {
    jLeaveClaimerDraft,
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
  },
  methods: {

  },
};
</script>
