<template>
  <div
    :class="['summary-arrow-last', color]"
    style="z-index : 33">
    <div :class="[ 'summary-body', color, {active : active}]">
      <h4 class="title">
        <strong> {{ name || status }} </strong>
      </h4>
      <hr :class="['short-hr', color]">
      <h5 class="title"> {{ dateSummary }} </h5>
      <p class="spn"><strong class="summary-num">{{ amounts }}</strong>
        <span
          v-if="amounts != undefined"
          class="title"> record(s)</span></p>
    </div>
  </div>
</template>

<script>
import jSummaryMixins from '@/mixins/components/summary/jSummaryMixins';

export default {
  name: 'JLastSummary',
  mixins: [jSummaryMixins],
};
</script>
