<template>
  <div>
    <b-row class="m__t--20">
      <b-col
        sm="12"
        md="9">
        <b-form-group :class="{'error-input' : $v.data_position.position.$error}">
          <label> Position </label>
          <j-single-select
            v-if="defaultOptions.length > 0"
            v-model="$v.data_position.position.$model"
            :is-async="true"
            :cache-option="false"
            :load-options="loadOptionsPosition"
            :default-options="defaultOptions"
            placeholder="Ex: CTO"
            value-format="object"
            label="name" />
        </b-form-group>
        <b-button
          class="btn blue float-right"
          @click="updatePosition">
          Update
        </b-button>
      </b-col>

      <b-col
        sm="12"
        md="3"/>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  validations() {
    return {
      data_position: {
        position: {
          required,
        },
      },
    };
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      employee_data: null,
      data_position: {
        id: 0,
        position: null,
        parent_position: '',
        division: [],
      },
      temp_position: null,
      defaultOptions: [],
      labelAddPosition: 'Add Position',
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['organigram_detail']),
  },
  watch: {
    organigram_detail(newVal) {
      if (newVal.length > 0) {
        this.data_position.position = {
          id: newVal[0].organigram.id,
          label: newVal[0].organigram.name,
          text: newVal[0].organigram.name,
          position_name: newVal[0].organigram.name,
          position_code: newVal[0].organigram.code,
          description: newVal[0].organigram.description,
          divisions: newVal[0].organigram.divisions || [],
          fulldata: newVal[0].organigram,
        };

        this.temp_position = {
          id: newVal[0].organigram.id,
          name: newVal[0].organigram.name,
          code: newVal[0].organigram.code,
          description: newVal[0].organigram.description,
          user_company_id: this.$route.params.id,
          organigram_head_id: newVal[0].organigram.organigram_head_id,
          organigram_head_name: newVal[0].organigram.organigram_head_name,
          divisions: newVal[0].organigram.divisions || [],
        };

        this.labelAddPosition = 'Update Position';
      }
    },
    // eslint-disable-next-line
    'data_position.position': function (newData) {
      this.data_position.parent_position = '';
      this.data_position.division = [];
      if (newData.organigram_head_id !== 0) {
        this.data_position.parent_position = newData.organigram_head_name;
      }

      if (newData.divisions.length > 0) {
        const dataDivisions = newData.divisions;
        dataDivisions.forEach((val, index) => {
          dataDivisions[index].label = val.name;
        });
        this.data_position.division = dataDivisions;
      }
    },
  },
  created() {
    this.getListPositionDefault().then((data) => { this.defaultOptions = data; });
    this.detailOrganigram({ user_company_id: this.$route.params.id });
  },
  methods: {
    ...mapActions('jStoreEmployee', ['updateEmployee', 'detailEmployee', 'updateOrganigram', 'detailOrganigram', 'getListPositionDefault']),

    loadOptionsPosition({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
            query_type: 'position',
          },
        };
        this.$store.dispatch('jStoreEmployee/getListPosition', { reqData, callback, label: 'name' });
      }
    },
    updatePosition() {
      const dataDivisions = [];
      this.data_position.division.forEach((val) => {
        dataDivisions.push(val.id);
      });
      const data = {
        id: this.data_position.position.id,
        name: this.data_position.position.name,
        code: this.data_position.position.code || '',
        description: this.data_position.position.description || '',
        organigram_head_id: this.data_position.position.organigram_head_id || 0,
        organigram_head_name: this.data_position.position.organigram_head_name || '',
        user_company_id: this.$route.params.id,
        divisions: dataDivisions,
      };
      const generateData = {
        payload: data,
        user_company_id: this.$route.params.id,
      };
      this.updateOrganigram(generateData);

      if (this.labelAddPosition === 'Update Position') {
        const dataDeleteDivisions = [];
        this.temp_position.divisions.forEach((val) => {
          dataDeleteDivisions.push(val.id);
        });
        const dataDelete = {
          id: this.temp_position.id,
          name: this.temp_position.name,
          code: this.temp_position.code,
          description: this.temp_position.description,
          user_company_id: 0,
          organigram_head_id: this.temp_position.organigram_head_id || 0,
          organigram_head_name: this.temp_position.organigram_head_name || '',
          divisions: dataDeleteDivisions,
        };
        const generateDataDelete = {
          payload: dataDelete,
          user_company_id: this.$route.params.id,
        };
        this.updateOrganigram(generateDataDelete);
      }
    },
  },
};
</script>
