<template>
  <div>
    <b-row>
      <b-col
        v-if="mode === 'mappingEmployment'"
        cols="12"
      >
        <b-form-group :class="{'error-input' : $v.confirm_reason.employment_type.$error}">
          <label> Employment Type <span style="color:red">*</span> </label>
          <j-single-select
            v-model="selected_employment"
            :options="list_type_employee"
            placeholder="Select Employment Type"
            value-format="object"
            label="name"
          />
        </b-form-group>
      </b-col>
      <b-col
        v-if="isHaveSub"
        cols="12"
      >
        <b-form-group
          :class="{'error-input' : $v.confirm_reason.sub_employment_type.$error}">
          <label> Employment Child Type <span style="color:red">*</span> </label>
          <j-single-select
            v-model="selected_sub_employment"
            :options="list_type_child"
            placeholder="Select Employment Child Type"
            value-format="object"
            label="name"
          />
        </b-form-group>
      </b-col>

      <b-col
        v-if="isHaveSub"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.child_start_date.$error}">
          <label> Start Date <span style="color:red">*</span> </label>
          <j-datepicker
            v-model="$v.confirm_reason.child_start_date.$model"
            :disabled-dates="disabledStartDate(confirm_reason.child_end_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        v-if="isHaveSub"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.child_end_date.$error}">
          <label> End Date <span style="color:red">*</span> </label>
          <j-datepicker
            v-model="$v.confirm_reason.child_end_date.$model"
            :disabled-dates="disabledEndDate(confirm_reason.child_start_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>

      <b-col
        v-if="isHaveSub"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.child_time_remaining.$error}">
          <label>Time Remaining <span style="color:red">*</span> </label>
          <j-input
            v-model="confirm_reason.child_time_remaining"
            type="number"
            disabled
          />
        </b-form-group>
      </b-col>
      <b-col
        v-if="isHaveSub"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.child_total_period.$error}">
          <label>Total Period <span style="color:red">*</span> </label>
          <j-input
            v-model="confirm_reason.child_total_period"
            type="number"
            disabled
          />
        </b-form-group>
      </b-col>

      <b-col
        v-if="mode === 'mappingPosition'"
        cols="12"
      >
        <b-form-group :class="{'error-input' : $v.confirm_reason.position.$error}">
          <label>Position <span style="color:red">*</span> </label>
          <j-single-select
            v-model="$v.confirm_reason.position.$model"
            :is-async="true"
            :cache-option="false"
            :load-options="loadOptionsPosition"
            :default-options="false"
            placeholder="Ex: CTO"
            value-format="object"
            label="name" />
        </b-form-group>
      </b-col>
      <b-col
        v-if="mode === 'grade'"
        cols="12"
      >
        <b-form-group :class="{'error-input' : $v.confirm_reason.grade.$error}">
          <label>Grade <span style="color:red">*</span> </label>
          <j-single-select
            v-model="$v.confirm_reason.grade.$model"
            :options="list_grade"
            placeholder="Select grade"
            value-format="object"
            label="label" />
        </b-form-group>
      </b-col>

      <b-col
        v-if="mode !== 'delete'"
        sm="12"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.title_start_date.$error}">
          <label>Effective Start Date <span style="color:red">*</span> </label>
          <j-datepicker
            v-model="$v.confirm_reason.title_start_date.$model"
            :disabled-dates="disabledStartDate(confirm_reason.title_end_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        v-if="mode !== 'delete' && !endDateHide"
        sm="12"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.title_end_date.$error}">
          <label>Effective End Date</label>
          <j-datepicker
            v-model="$v.confirm_reason.title_end_date.$model"
            :disabled-dates="disabledEndDate(confirm_reason.title_start_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        v-if="mode === 'delete'"
        md="12">
        <h6 class="text-center">Are you sure want to delete this information?</h6>
      </b-col>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.confirm_reason.reasons.$error}">
          <label>Reason <span style="color:red">*</span> </label>
          <j-single-select
            v-model="$v.confirm_reason.reasons.$model"
            :options="list_reason"
            placeholder="Select reason"
            value-format="object"
            label="name" />
        </b-form-group>
      </b-col>
      <!-- <b-col
        v-if="mode === 'mappingEmployment'"
        cols="12"
      >
        <b-form-group :class="{'error-input' : $v.confirm_reason.notes.$error}">
          <label>Notes <span style="color:red">*</span> </label>
          <j-textarea
            v-model="$v.confirm_reason.notes.$model"
            placeholder="Write notes here"/>
        </b-form-group>
      </b-col> -->
      <b-col cols="12">
        <div class="float-right m__t--20">
          <b-button
            class="btn grey m__r--10"
            @click="closeModal">Cancel</b-button>
          <b-button
            v-if="mode==='delete'"
            class="btn red"
            @click="updateReasons">Yes</b-button>
          <b-button
            v-else-if="isAddNew"
            class="btn blue"
            @click="updateReasons">Add</b-button>
          <b-button
            v-else
            class="btn blue"
            @click="updateReasons">Update</b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase, max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'delete',
    },
    dataForm: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      confirm_reason: {
        reasons: null,
        title_start_date: null,
        title_end_date: null,
        grade: null,
        position: null,
        employment_type: null,
        sub_employment_type: null,
        child_start_date: null,
        child_end_date: null,
        child_time_remaining: null,
        child_total_period: null,
        // notes: null,
      },
      isHaveSub: false,
      list_subtype_employee: [],
      selected_employment: null,
      selected_sub_employment: null,
      endDateHide: false,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['list_reason', 'list_grade', 'list_type_employee', 'list_type_child']),

    isAddNew() {
      return (this.mode === 'grade' || this.mode === 'mappingPosition' || this.mode === 'mappingEmployment') && !this.dataForm;
    },
  },
  watch: {
    list_type_child(val) {
      if (val.length > 0) {
        this.isHaveSub = true;
      } else {
        this.selected_sub_employment = null;
        this.confirm_reason.sub_employment_type = null;
        this.isHaveSub = false;
      }
    },
    async selected_employment(data) {
      if (data) {
        this.confirm_reason.employment_type = data;

        if (data.id === 1 || data.id === 2 || data.id === 3 || data.id === 4) {
          this.endDateHide = true;
          this.isHaveSub = false;
        } else {
          this.endDateHide = false;

          const params = {
            pagination: {
              limit: 0,
              page: 1,
              column: 'created_at',
              ascending: false,
            },
            employment_type_id: data.id,
          };

          await this.getChildByEmployment(params);
        }
      } else {
        this.isHaveSub = false;
        this.confirm_reason.employment_type = null;
      }

      this.confirm_reason.sub_employment_type = null;
      this.confirm_reason.child_start_date = null;
      this.confirm_reason.child_end_date = null;
      this.confirm_reason.child_time_remaining = null;
      this.confirm_reason.child_total_period = null;

      // this.list_subtype_employee = [];
      // if (data) {
      //   const type = this.list_type_employee.find(val => val.id === data.id);
      //   if (type) {
      //     if (type.subttype.length > 0) {
      //       type.subttype.forEach((val) => {
      //         this.list_subtype_employee.push(val);
      //       });
      //       this.isHaveSub = true;
      //     } else {
      //       this.selected_sub_employment = null;
      //       this.confirm_reason.sub_employment_type = null;
      //       this.isHaveSub = false;
      //     }
      //     this.confirm_reason.employment_type = data;
      //   }
      // } else {
      //   this.isHaveSub = false;
      //   this.confirm_reason.employment_type = null;
      // }
    },
    selected_sub_employment(data) {
      if (data) {
        this.confirm_reason.sub_employment_type = data;
      } else {
        this.confirm_reason.sub_employment_type = null;
      }
    },
    // eslint-disable-next-line func-names
    'confirm_reason.child_start_date': function (val) {
      if (val && this.confirm_reason.child_end_date) {
        const period = this.diff_months(this.confirm_reason.child_end_date, val);
        this.confirm_reason.child_total_period = period;

        const remaining = this.diff_months(this.confirm_reason.child_end_date, new Date());
        this.confirm_reason.child_time_remaining = remaining;
      }
    },
    // eslint-disable-next-line func-names
    'confirm_reason.child_end_date': function (val) {
      if (val && this.confirm_reason.child_start_date) {
        const period = this.diff_months(val, this.confirm_reason.child_start_date);
        this.confirm_reason.child_total_period = period;

        const remaining = this.diff_months(val, new Date());
        this.confirm_reason.child_time_remaining = remaining;
      }
    },
  },
  created() {
    if (this.dataForm) {
      this.confirm_reason = {
        reasons: this.dataForm.reason ? {
          id: this.dataForm.reason,
          name: this.dataForm.reason,
        } : null,
        // notes: this.dataForm.note ? this.dataForm.note : null,
        title_start_date: this.dataForm.effective_start_date,
        title_end_date: this.dataForm.effective_end_date,
      };

      if (this.mode === 'grade') {
        this.confirm_reason.grade = {
          id: this.dataForm.company_employee_grade_id,
        };
      }

      if (this.mode === 'mappingEmployment') {
        this.selected_employment = this.dataForm.employment_type;

        if (this.dataForm.child) {
          this.selected_sub_employment = { id: this.dataForm.child.employment_type_child_id };
          this.confirm_reason.child_start_date = this.dataForm.child.employment_type_child_start_date;
          this.confirm_reason.child_end_date = this.dataForm.child.employment_type_child_end_date;
          this.confirm_reason.child_time_remaining = this.dataForm.child.remaining_date;
          this.confirm_reason.child_total_period = this.dataForm.child.total_period_date;
        }
      }

      if (this.mode === 'mappingPosition') {
        this.confirm_reason.position = {
          id: this.dataForm.organigram.id,
          label: `${this.dataForm.organigram.code} - ${this.dataForm.organigram.name}`,
          ...this.dataForm.organigram,
        };
      }
    }
  },
  methods: {
    ...mapActions('jStoreEmployee', ['getChildByEmployment']),

    loadOptionsPosition({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
            query_type: 'position',
          },
        };
        this.$store.dispatch('jStoreEmployee/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
      }
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    diff_months(date2, date1) {
      const dt1 = new Date(date1);
      const dt2 = new Date(date2);

      let diff = (dt2.getTime() - dt1.getTime()) / 1000;
      diff /= (60 * 60 * 24 * 7 * 4);
      return Math.abs(Math.round(diff));
    },
    closeModal() {
      this.confirm_reason = {
        reasons: null,
        title_start_date: null,
        title_end_date: null,
        grade: null,
        position: null,
      };
      this.$v.confirm_reason.$reset();
      this.$emit('close-modal');
    },
    async updateReasons() {
      if (typeof this.confirm_reason.position === 'undefined') {
        this.confirm_reason.position = null;
      }

      this.$v.confirm_reason.$touch();
      if (!this.$v.confirm_reason.$error) {
        const { reasons, grade, position, employment_type, sub_employment_type,
          child_start_date, child_end_date, child_time_remaining, child_total_period,
          title_start_date, title_end_date } = this.confirm_reason;

        const req = {
          reasons: reasons.name,
          title_start_date: title_start_date ? this.$moment(title_start_date).format('YYYY-MM-DD') : title_start_date,
          title_end_date: title_end_date ? this.$moment(title_end_date).format('YYYY-MM-DD') : title_end_date,
        };

        if (this.mode === 'grade') {
          req.grade_id = grade.id;
        }

        if (this.mode === 'mappingPosition') {
          req.position = position;
        }

        if (this.mode === 'mappingEmployment') {
          req.employment_type = employment_type;
          req.sub_employment_type = sub_employment_type;
          req.child_start_date = child_start_date ? this.$moment(child_start_date).format('YYYY-MM-DD') : child_start_date;
          req.child_end_date = child_end_date ? this.$moment(child_end_date).format('YYYY-MM-DD') : child_end_date;
          req.child_time_remaining = Number(child_time_remaining);
          req.child_total_period = Number(child_total_period);
          // req.notes = notes;
        }

        this.$emit('update-form', req);
        this.closeModal();
      }
    },
  },
  validations() {
    const validate = {
      confirm_reason: {
        reasons: {
          required,
        },
        grade: { },
        position: { },
        employment_type: { },
        sub_employment_type: { },
        title_start_date: { },
        title_end_date: { },
        child_start_date: { },
        child_end_date: { },
        child_time_remaining: { },
        child_total_period: { },
        // notes: { },
      },
    };
    if (this.mode !== 'delete') {
      validate.confirm_reason.title_start_date = { required };
    }
    if (this.mode === 'grade') {
      validate.confirm_reason.grade = { required };
    }
    if (this.mode === 'mappingPosition') {
      validate.confirm_reason.position = { required };
    }
    if (this.mode === 'mappingEmployment') {
      validate.confirm_reason.employment_type = { required };
      // validate.confirm_reason.notes = { required };
    }
    if (this.selected_employment) {
      if (this.isHaveSub) {
        validate.confirm_reason.sub_employment_type = { required };
        validate.confirm_reason.child_start_date = { required };
        validate.confirm_reason.child_end_date = { required };
        validate.confirm_reason.child_time_remaining = { required };
        validate.confirm_reason.child_total_period = { required };
      }
    }
    return validate;
  },
};
</script>
