<template>
  <div id="embed-url-widget">
    <h4>{{ JSON.parse(element.info).name ?
    JSON.parse(element.info).name : element.widget_master.name }}</h4>
    <div class="wrapper">
      <j-embed-url-component :element="element" />
    </div>
  </div>
</template>

<script>
import jEmbedUrlComponent from '@/views/application/application-component/jEmbedUrlComponent';

export default {
  components: {
    jEmbedUrlComponent,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss">
#embed-url-widget {
  .wrapper {
    border: none;
    width: 100%;
    height: 700px !important;
    overflow: hidden;

    .component-card {
      padding: 0px;
    }
  }
}
</style>
