<template>
  <div>
    <h4>{{ title }}</h4>
    <div
      :class="{ 'flex-column': viewStyle === 'list' }"
      class="d-flex flex-wrap"
    >
      <div
        v-for="(val, index) in dataShortcut"
        :key="index"
        :class="`${viewStyle === 'list' ? 'list-of-shortcut' : 'grid-of-shortcut'}`"
        @click="goToApp(val)"
      >
        <img :src="val.icon">
        <span>{{ val.title }}</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    parsedInfo() {
      return JSON.parse(this.element.info);
    },
    dataShortcut() {
      return this.parsedInfo.shortcut;
    },
    viewStyle() {
      return this.parsedInfo.view_style;
    },
    title() {
      return this.parsedInfo.name;
    },
  },
  methods: {
    goToApp(data) {
      const applicationId = data.application_id || '';
      const applicationName = data.application_name ? data.application_name.replace(/\s/g, '-') : '';
      const pageId = data.page_id || '';
      const pageName = data.page_name ? data.page_name.replace(/\s/g, '-') : '';

      this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.list-of-shortcut {
  display: flex;
  font-size: 12px;
  font-family: 'Poppins-Medium';
  gap: 5px;
  border-bottom: 1px solid #E7E7E7;
  padding: 7px 0px;
  cursor: pointer;

  img {
    width: 18px;
    height: 18px;
  }
}

.grid-of-shortcut {
  width: 89px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: 'Poppins-Medium';
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  padding: 7px 0px;
  cursor: pointer;

  img {
    width: 29px;
    height: 29px;
  }
}
</style>
