<template>
  <div>
    <div class="text-center mt-3">
      <h1>{{ detailTimesheet.percentageFinishedTask }}%</h1>
      <div>
        Today, {{ $moment().format('DD MMM YYYY') }}
      </div>
      <div>
        {{ detailTimesheet.finishedTaskCount }} Task out of {{ detailTimesheet.allTaskCount }}
      </div>
    </div>
  </div>
</template>

<script>

import { mapState, mapActions } from 'vuex';

export default {
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    detailTimesheet: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      // finishedTaskCount: 0,
      // allTaskCount: 0,
      // percentageFinishedTask: 0,
    };
  },
  computed: {
    ...mapState('jStoreHome', ['timesheet_detail']),
  },
  watch: {
    // timesheet_detail(val) {
    //   this.allTaskCount = val.length;
    //   const finishedTask = val.filter(el => el.action_status === 3);
    //   this.finishedTaskCount = finishedTask.length;
    //   this.percentageFinishedTask = (finishedTask.length / val.length) * 100;
    // },
  },
  mounted() {
    // const userCompanyId = {
    //   user_company_id: Number(localStorage.getItem('user_company_id')),
    // };
    // this.getOrganigramId(userCompanyId).then((res) => {
    //   if (res.data.length > 0) {
    //     const params = {

    //       date: this.$moment().format('YYYY-MM-DD'),
    //       user_company_id: Number(localStorage.getItem('user_company_id')),
    //       organigram_id: res.data[0].id,
    //       show_all: true,

    //     };
    //     this.getTimesheetDetail(params);
    //   }
    // });
  },

  methods: {
    ...mapActions('jStoreHome', ['getTimesheetDetail', 'getOrganigramId']),
  },
};
</script>
