<template>
  <div
    id="code-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <b-button
            id="code-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="status"
        slot-scope="props">
        {{ props.row.status === '1' ? 'Active' : 'Inactive' }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="code-table"
      target="code-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          :disabled="false"
          v-model="select_type"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalCodeForm"
      class="mod-form"
      centered
    >
      <j-automatic-attendance-form
        v-if="isOpen"
        :mode="mode"
        :detail-auto-attend="dataDetail"
        @modal-open="isModalFormOpen"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import moment from 'moment';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import jAutomaticAttendanceForm from './jAutomaticAttendanceForm';

export default {
  components: {
    jLoadingTable,
    jAutomaticAttendanceForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      dataDetail: null,
      mode: 'create',
      isOpen: false,
      popoverSearchShow: false,
      select_type: 'name',
      filter_data: '',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Created By',
          value: 'created_by',
        },
        {
          text: 'Updated By',
          value: 'updated_by',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'name', 'description', 'created_date', 'updated_date', 'updated_by', 'effective_start_date', 'effective_end_date', 'status'],
      options: {
        headings: {
          id: 'ID',
          name: 'POLICY NAME',
          description: 'DESCRIPTION',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          updated_by: 'UPDATED BY',
          effective_start_date: 'EFFECTIVE START DATE',
          effective_end_date: 'EFFECTIVE END DATE',
          status: 'STATUS',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'name', 'created_date', 'updated_date', 'email', 'effective_start_date', 'effective_end_date', 'status'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        state: this,
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: this.state.select_type,
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getAutoAttendanceList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  created() {
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading() {
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    openEditForm({ row }) {
      this.mode = 'edit';
      this.dataDetail = row;
      this.isModalFormOpen(true);
    },
    openCreateForm() {
      this.mode = 'create';
      this.isModalFormOpen(true);
    },
    dateFromTimestamp(val) {
      return moment(val).format('MM-DD-YYYY');
    },
    datetimeFormat(val) {
      return moment(val).format('MM-DD-YYYY HH:mm:ss');
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalCodeForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalCodeForm.hide();
        this.refreshTable();
      }
    },
  },
};
</script>
