<template>
  <div>
    <fieldset>
      <h3 class="modal-title">{{ mode === 'edit' ? 'Update' : 'Add' }} Automatic Attendance</h3>
      <b-form-group :class="{'error-input' : $v.dataAutoAttend.name.$error}">
        <label for="name"> Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataAutoAttend.name.$model"
          placeholder="Enter name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataAutoAttend.description.$error}">
        <label for="description"> Description </label>
        <j-textarea
          id="description"
          v-model="$v.dataAutoAttend.description.$model"
          :disabled="false"
          placeholder="Enter description here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataAutoAttend.shift_id.$error}">
        <label>Shift <span class="red"> * </span> </label>
        <j-single-select
          v-model="selected_shift"
          :is-async="true"
          :load-options="loadOptionsShift"
          placeholder="Select Shift"
          value-format="object"/>
      </b-form-group>
      <b-form-group>
        <label>Employee Mapping</label>
        <div class="employee-mapping-container">
          <b-form-group :class="{'error-input' : $v.dataAutoAttend.grade_id.$error}">
            <label>Based on Grade <span class="red"> * </span> </label>
            <j-multi-select
              :is-async="true"
              :load-options="loadListUserGrade"
              v-model="selected_employee_grade"
              label="name"
              value-format="object"
              placeholder="Select Grade"/>
          </b-form-group>
          <b-form-group :class="{'error-input' : $v.dataAutoAttend.location_id.$error}">
            <label>Based on Location <span class="red"> * </span> </label>
            <j-multi-select
              :is-async="true"
              :load-options="loadBaseOnLocation"
              v-model="selected_employee_loc"
              label="name"
              value-format="object"
              placeholder="Select Location"/>
          </b-form-group>
        </div>
      </b-form-group>
      <b-row>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataAutoAttend.effective_start_date.$error}">
            <label for="startDate">Start Date <span class="red"> * </span> </label>
            <j-datepicker
              id="startDate"
              v-model="$v.dataAutoAttend.effective_start_date.$model"
              :disabled-dates="start_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Jan 01, 2020"/>
          </b-form-group>
        </b-col>
        <b-col
          cols="6">
          <b-form-group :class="{'error-input' : $v.dataAutoAttend.effective_end_date.$error}">
            <label for="endDate">End Date <span class="red"> * </span> </label>
            <j-datepicker
              id="endDate"
              v-model="$v.dataAutoAttend.effective_end_date.$model"
              :disabled-dates="end_date_disabled"
              format="MMM dd, yyyy"
              placeholder="ex: Des 31, 2020"/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group :class="{'error-input' : $v.dataAutoAttend.status.$error}">
        <label for="status"> Status <span class="red"> * </span> </label>
        <j-single-select
          v-model="selected_status"
          :options="status_options"
          :placeholder="'Select Status'"
          value-format="object"
        />
      </b-form-group>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import moment from 'moment';
import jApiUser from '@/services/jApiUser';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailAutoAttend: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataAutoAttend: {
        name: { required },
        description: {},
        effective_start_date: { required },
        effective_end_date: { required },
        shift_id: { required },
        status: { required },
        location_id: { required },
        grade_id: { required },
      },
    };
  },
  data() {
    return {
      dataAutoAttend: {
        name: null,
        description: null,
        effective_start_date: null,
        effective_end_date: null,
        shift_id: null,
        status: null,
        location_id: [],
        grade_id: [],
      },
      start_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'grey-light',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      selected_employee_loc: [],
      selected_employee_grade: [],
      selected_shift: null,
      selected_status: null,
      status_options: [
        {
          id: 1,
          text: 'Active',
          is_delete: false,
        },
        {
          id: 0,
          text: 'Inactive',
          is_delete: false,
        },
      ],
    };
  },
  watch: {
    // eslint-disable-next-line
    'dataAutoAttend.effective_start_date': function (date) {
      if (this.dataAutoAttend.effective_end_date !== null) {
        if (this.dataAutoAttend.effective_end_date < date) {
          this.dataAutoAttend.effective_end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    // eslint-disable-next-line
    'dataAutoAttend.effective_end_date': function (date) {
      if (this.dataAutoAttend.effective_start_date > date) {
        this.dataAutoAttend.effective_start_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_status(val) {
      this.dataAutoAttend.status = val.id;
    },
    selected_shift(val) {
      this.dataAutoAttend.shift_id = val.id;
    },
    selected_employee_loc(val) {
      this.dataAutoAttend.location_id = [];
      val.forEach((el) => {
        this.dataAutoAttend.location_id.push(el.id);
      });
    },
    selected_employee_grade(val) {
      this.dataAutoAttend.grade_id = [];
      val.forEach((el) => {
        this.dataAutoAttend.grade_id.push(el.id);
      });
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataAutoAttend = {
        id: this.detailAutoAttend.id,
        name: this.detailAutoAttend.name,
        description: this.detailAutoAttend.description,
        effective_start_date: moment(this.detailAutoAttend.effective_start_date).format('yyyy-MM-DD'),
        effective_end_date: moment(this.detailAutoAttend.effective_end_date).format('yyyy-MM-DD'),
        shift_id: Number(this.detailAutoAttend.shift_id),
        status: this.detailAutoAttend.status,
      };
      this.selected_employee_loc = this.detailAutoAttend.location_id
        .map(val => Object.assign(val, { label: val.name }));
      this.selected_employee_grade = this.detailAutoAttend.grade
        .map(val => Object.assign(val, { label: val.name }));
      this.selected_status = this.status_options
        .find(el => el.id === Number(this.detailAutoAttend.status));
      this.selected_shift = {
        id: Number(this.detailAutoAttend.shift_id),
        label: this.detailAutoAttend.shift_name,
      };
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionCreateGroupApplication', 'actionSetAutoAttendance', 'actionUpdateAutoAttendance']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.start_date_disabled.ranges = [{
          from: this.dataAutoAttend.effective_end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataAutoAttend.effective_start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.start_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataAutoAttend.effective_start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    loadListUserGrade({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
        };
        this.data = this.getListUserGrade(reqData, callback);
      }
    },
    loadBaseOnLocation({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 5,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: 'name',
          },
        };
        this.data = this.getListBasedOnLocation(reqData, callback);
      }
    },
    getListUserGrade(req, callback) {
      return jApiUser.listUserGrade(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              if (!lab.name.replace(/\s/g, '').length) {
                // eslint-disable-next-line
                res.data.data[index].label = lab.email;
              } else {
                // eslint-disable-next-line
                res.data.data[index].label = lab.name;
              }
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    getListBasedOnLocation(req, callback) {
      return jApiUser.listBasedOnLocation(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              if (!lab.name.replace(/\s/g, '').length) {
                // eslint-disable-next-line
                res.data.data[index].label = lab.email;
              } else {
                // eslint-disable-next-line
                res.data.data[index].label = lab.name;
              }
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    loadOptionsShift({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetShiftAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    closeModalForm() {
      this.dataAutoAttend = {
        name: null,
        description: null,
        effective_start_date: null,
        effective_end_date: null,
        shift_id: null,
        status: null,
        location_id: [],
        grade_id: [],
      };
      this.selected_status = null;
      this.selected_shift = null;
      this.selected_employee_loc = [];
      this.selected_employee_grade = [];
      this.$v.dataAutoAttend.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataAutoAttend.$touch();
      if (!this.$v.dataAutoAttend.$error) {
        let res = null;
        if (this.mode === 'edit') {
          res = await this.actionUpdateAutoAttendance(this.dataAutoAttend);
        } else {
          res = await this.actionSetAutoAttendance(this.dataAutoAttend);
        }
        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .employee-mapping-container {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-clip: padding-box;
    padding: 1rem;
  }
</style>
