<template>
  <div
    :class="{ 'not-admin-container-full-screen' : is_full_screen_comp}"
    class="not-admin-container">
    <div
      v-for="item in allComponent"
      v-show="showComponent"
      :key="item.id">

      <!-- OFICELESS component -->
      <div v-if="item.type.toLowerCase() === 'form_ui'">
        <j-form-ui-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'multiple_form_ui'">
        <j-multiple-form-ui-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'hierarchy'">
        <j-hierarchy-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'custom_hierarchy'">
        <j-custom-hierarchy-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'html'">
        <j-html-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'canvas'">
        <j-canvas-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'access_management'">
        <j-access-management-setup :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'embed_url'">
        <j-embed-url-component :element="item" />
      </div>

      <!-- TIMES component -->
      <div v-else-if="item.type.toLowerCase() === 'adms_data'">
        <j-adms-data-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'times_dashboard'">
        <j-times-dashboard-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'employee_times_dashboard'">
        <j-times-employee-dashboard-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'attendance_config'">
        <j-attendance-config-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'attendance_monitor'">
        <j-attendance-monitor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'attendance_my_log'">
        <j-attendance-my-log-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'attendance_report'">
        <j-attendance-report-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'co_attendance_approver'">
        <j-co-attendance-approver-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'co_attendance_monitor'">
        <j-co-attendance-monitor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'co_attendance_requestor'">
        <j-co-attendance-requestor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'leave_approver'">
        <j-leave-approver-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'leave_config'">
        <j-leave-config-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'leave_monitor'">
        <j-leave-monitor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'leave_requestor'">
        <j-leave-requestor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'leave_report'">
        <j-leave-report-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'overtime_approver'">
        <j-overtime-approver-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'overtime_requestor'">
        <j-overtime-requestor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'overtime_config'">
        <j-overtime-config-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'overtime_monitor'">
        <j-overtime-monitor-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'overtime_report'">
        <j-overtime-report-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'timesheet'">
        <j-timesheet-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'timesheet_approval'">
        <j-timesheet-approval-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'timesheet_config'">
        <j-timesheet-config-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'timesheet_report'">
        <j-timesheet-report-component :element="item" />
      </div>

      <!-- CORE component -->
      <div v-else-if="item.type.toLowerCase() === 'cost_center'">
        <j-cost-center-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'user_setup'">
        <j-user-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'employee_setup'">
        <j-employee-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'employee_grade_setup'">
        <j-grade-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'flow_setup'">
        <j-flow-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'location_setup'">
        <j-location-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'payroll_area'">
        <j-payroll-area-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'position_setup'">
        <j-position-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'orgunit_setup'">
        <j-unit-setup-component :element="item" />
      </div>
      <div v-else-if="item.type.toLowerCase() === 'tax_location'">
        <j-tax-location-component :element="item" />
      </div>
    </div>

    <div
      v-if="showWaring"
      class="not-admin-container warning-function d-flex align-items-center">
      <img
        :src="require('@/assets/icon/warning.svg')"
        alt="warning">
      <div class="d-flex flex-column">
        <span class="title">{{ isMaintenance ? 'Under Construction' : 'Access Is Denied' }}</span>
        <span>
          {{ messageWaring }}
        </span>
      </div>
    </div>

    <b-modal
      v-if="showModalPsswd"
      ref="confirmPasswordModal"
      class="mod-form access-application"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div class="label__modal-confirm-password">CONFIRM YOUR PASSWORD</div>

      <b-img :src="img_change_password" />

      <label>For enhanced security, you are required to enter
      your confirm password to continue your activity.</label>

      <b-form-group class="form-password">
        <label class="padlock">
          <img src="@/assets/img/pswd.png">
        </label>
        <j-input
          :type="password_type"
          v-model="password"
          :error-required="false"
          placeholder="Password"/>
        <label class="showhide">
          <i
            :class="{'fa fa-eye': !show_pass, 'fa fa-eye-slash': show_pass}"
            role="img"
            @click="show_pass =! show_pass"/>
        </label>
      </b-form-group>

      <div class="m__t--20 text-right">
        <b-button
          class="btn blue outline"
          @click="confirmPassword">
          Confirm
        </b-button>
      </div>
    </b-modal>

    <b-modal
      v-if="showModalOTP"
      ref="otpModal"
      class="mod-form access-application"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div class="label__modal-confirm-password">ONE-TIME PASSWORD VERIFICATION</div>

      <b-img :src="img_otp" />

      <label class="m__t--20">For enhanced security, you are required to enter a one-time
      password (OTP) to continue your activity.</label>

      <b-form-group id="otp-code">
        <input
          v-model="otp.a"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(1)">
        <input
          v-model="otp.b"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(2)">
        <input
          v-model="otp.c"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(3)">
        <input
          v-model="otp.d"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(4)">
        <input
          v-model="otp.e"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(5)">
        <input
          v-model="otp.f"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(6)">
      </b-form-group>

      <div class="command-box text-center">
        <p
          v-if="!expired"
          class="mt-4 mb-1">
          Code is valid for
          <span
            :class="{ 'red' : t_minute==0 }"
            v-html="t_minute" />
          <span :class="{ 'red' : t_minute==0 }">:</span>
          <span
            :class="{ 'red' : t_minute==0 }"
            v-html="t_second"/> minutes.
        </p>
        <p
          v-else
          class="mt-4 mb-1">
          <span class="red">The code you received has expired,</span>
          please enter a new code.
        </p>
        <p>
          <span class="text-shadow">Didn't receive code?
            <a
              class="text-primary resend"
              @click="getRequestOtp">Resend a new code</a>
          </span>
        </p>
      </div>

      <div class="m__t--20 text-right">
        <b-button
          :disabled="enable_verify > 5 && !expired? false : true"
          class="btn blue outline"
          @click="confirmOtp">
          Verify
        </b-button>
      </div>
    </b-modal>

    <router-view/>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-unused-vars */
import { mapState, mapActions } from 'vuex';
import IntercomConfig from '@/configs/intercom';

// OFFICELESS
import jCustomHierarchyComponent from '@/views/application/application-component/jCustomHierarchyComponent';
import jFormUiComponent from '@/views/application/application-component/jFormUiComponent';
import jMultipleFormUiComponent from '@/views/application/application-component/jMultipleFormUiComponent';
import jHtmlComponent from '@/views/application/application-component/jHtmlComponent';
import jCanvasComponent from '@/views/application/application-component/jCanvasComponent';
import jAccessManagementSetup from '@/views/application/application-component/access-management/jAccessManagementSetup';
import jEmbedUrlComponent from '@/views/application/application-component/jEmbedUrlComponent';
import jHierarchyComponent from '@/views/application/application-component/jHierarchyComponent';

// TIMES
import jAdmsDataComponent from '@/views/application/application-component/times/adms/jAdmsDataComponent';
import jTimesDashboardComponent from '@/views/application/application-component/times/jTimesDashboardComponent';
import jTimesEmployeeDashboardComponent from '@/views/application/application-component/times/jTimesEmployeeDashboardComponent';
import jAttendanceConfigComponent from '@/views/application/application-component/times/jAttendanceConfigComponent';
import jAttendanceMonitorComponent from '@/views/application/application-component/times/jAttendanceMonitorComponent';
import jAttendanceMyLogComponent from '@/views/application/application-component/times/jAttendanceMyLogComponent';
import jAttendanceReportComponent from '@/views/application/application-component/times/jAttendanceReportComponent';
import jCoAttendanceApproverComponent from '@/views/application/application-component/times/jCoAttendanceApproverComponent';
import jCoAttendanceMonitorComponent from '@/views/application/application-component/times/jCoAttendanceMonitorComponent';
import jCoAttendanceRequestorComponent from '@/views/application/application-component/times/jCoAttendanceRequestorComponent';
import jLeaveApproverComponent from '@/views/application/application-component/times/jLeaveApproverComponent';
import jLeaveConfigComponent from '@/views/application/application-component/times/jLeaveConfigComponent';
import jLeaveMonitorComponent from '@/views/application/application-component/times/jLeaveMonitorComponent';
import jLeaveRequestorComponent from '@/views/application/application-component/times/jLeaveRequestorComponent';
import jLeaveReportComponent from '@/views/application/application-component/times/jLeaveReportComponent';
import jOvertimeApproverComponent from '@/views/application/application-component/times/jOvertimeApproverComponent';
import jOvertimeConfigComponent from '@/views/application/application-component/times/jOvertimeConfigComponent';
import jOvertimeMonitorComponent from '@/views/application/application-component/times/jOvertimeMonitorComponent';
import jOvertimeReportComponent from '@/views/application/application-component/times/jOvertimeReportComponent';
import jOvertimeRequestorComponent from '@/views/application/application-component/times/jOvertimeRequestorComponent';
import jTimesheetComponent from '@/views/application/application-component/times/jTimesheetComponent';
import jTimesheetApprovalComponent from '@/views/application/application-component/times/jTimesheetApprovalComponent';
import jTimesheetConfigComponent from '@/views/application/application-component/times/jTimesheetConfigComponent';
import jTimesheetReportComponent from '@/views/application/application-component/times/jTimesheetReportComponent';

// CORE
import jCostCenterComponent from '@/views/application/application-component/core/jCostCenterComponent';
import jUserSetupComponent from '@/views/application/application-component/core/jUserSetupComponent';
import jEmployeeSetupComponent from '@/views/application/application-component/core/jEmployeeSetupComponent';
import jGradeSetupComponent from '@/views/application/application-component/core/jGradeSetupComponent';
import jFlowSetupComponent from '@/views/application/application-component/core/jFlowSetupComponent';
import jLocationSetupComponent from '@/views/application/application-component/core/jLocationSetupComponent';
import jPositionSetupComponent from '@/views/application/application-component/core/jPositionSetupComponent';
import jUnitSetupComponent from '@/views/application/application-component/core/jUnitSetupComponent';
import jTaxLocationComponent from '@/views/application/application-component/core/jTaxLocationComponent';
import jPayrollAreaComponent from '@/views/application/application-component/core/jPayrollAreaComponent';

// Mixins
import jMixForceChangePassword from '@/mixins/jMixForceChangePassword';

export default {
  components: {
    // OFFICELESS ----------------------
    jCustomHierarchyComponent,
    jFormUiComponent,
    jMultipleFormUiComponent,
    jHtmlComponent,
    jCanvasComponent,
    jAccessManagementSetup,
    jEmbedUrlComponent,
    jHierarchyComponent,

    // TIMES ------------------------
    jAdmsDataComponent,
    jTimesDashboardComponent,
    jTimesEmployeeDashboardComponent,
    jAttendanceConfigComponent,
    jAttendanceMonitorComponent,
    jAttendanceMyLogComponent,
    jAttendanceReportComponent,
    jCoAttendanceApproverComponent,
    jCoAttendanceMonitorComponent,
    jCoAttendanceRequestorComponent,
    jLeaveApproverComponent,
    jLeaveConfigComponent,
    jLeaveMonitorComponent,
    jLeaveRequestorComponent,
    jLeaveReportComponent,
    jOvertimeApproverComponent,
    jOvertimeConfigComponent,
    jOvertimeMonitorComponent,
    jOvertimeReportComponent,
    jOvertimeRequestorComponent,
    jTimesheetComponent,
    jTimesheetApprovalComponent,
    jTimesheetConfigComponent,
    jTimesheetReportComponent,

    // CORE ------------------------
    jCostCenterComponent,
    jUserSetupComponent,
    jEmployeeSetupComponent,
    jFlowSetupComponent,
    jGradeSetupComponent,
    jLocationSetupComponent,
    jPositionSetupComponent,
    jUnitSetupComponent,
    jTaxLocationComponent,
    jPayrollAreaComponent,
  },
  mixins: [
    jMixForceChangePassword,
  ],
  data() {
    return {
      listComponent: [],
      showComponent: false,
      showWaring: false,
      messageWaring: '',

      password: null,
      show_pass: false,

      waitTime: 1000000,
      t_second: 0,
      t_minute: 0,
      expired: false,
      enable_verify: 0,
      countdown: '',
      otp: {
        a: '',
        b: '',
        c: '',
        d: '',
        e: '',
        f: '',
      },
      otp_data: {
        otp: '',
        otp_token: '',
      },

      error_security: false,
      showModalPsswd: false,
      showModalOTP: false,

      page_id: null,
      isMaintenance: false,
    };
  },
  computed: {
    ...mapState('jStoreApplication', ['list_component', 'side_menu', 'application_detail']),
    ...mapState('jStoreHome', ['applications_list']),
    ...mapState('jStoreFormUi', ['app_security_type', 'is_full_screen_comp', 'id_full_screen_comp']),
    ...mapState('jStoreLogin', ['profile_data']),
    ...mapState('jStoreCompanySetting', ['force_change_password']),

    img_change_password() {
      // eslint-disable-next-line
      return require('@/assets/img/vis-change-pwd.png');
    },

    img_otp() {
      // eslint-disable-next-line
      return require('@/assets/img/otp-email.png');
    },

    password_type() {
      if (this.show_pass) {
        return 'text';
      }
      return 'password';
    },

    allComponent() {
      if (this.is_full_screen_comp) {
        return this.listComponent.filter(f => f.id === this.id_full_screen_comp);
      }
      return this.listComponent;
    },
  },
  watch: {
    applications_list(val) {
      const applicationName = this.$route.params.applicationName;
      const cekHaveApps = val.find(f => f.name.replace(/\s/g, '-') === applicationName);

      localStorage.setItem('app_name', cekHaveApps.name);
      IntercomConfig();

      if (!cekHaveApps) {
        this.messageWaring = 'You do not have access to this application';
        this.showWaring = true;
        setTimeout(() => {
          this.$router.push('/home');
        }, 3000);
      } else if (cekHaveApps && cekHaveApps.is_maintenance_mode) {
        this.messageWaring = cekHaveApps.maintenance_mode_message;
        this.showWaring = true;
        this.isMaintenance = true;
        setTimeout(() => {
          this.$router.push('/home');
        }, 3000);
      } else {
        this.showWaring = this.error_security;
      }
    },

    application_detail(val) {
      if (this.listComponent.length === 0) {
        this.getListComponentByPage();
      }
      // Set Favicon
      const favicon = document.getElementById('favicon');
      if (favicon && val.icon) {
        favicon.href = val.icon;
      }

      this.page_id = this.$route.params.pageId;

      const pageId = this.$route.params.pageId;
      const cekHavePage = this.side_menu.find(f => Number(f.id) === Number(pageId));
      const firstPageId = val.first_page ? val.first_page.id : 0;
      // eslint-disable-next-line
      const firstPageName = val.first_page ? (val.first_page.name ? val.first_page.name.replace(/\s/g, '-') : '') : '';
      const cekFirstPage = this.side_menu.find(f => Number(f.id) === Number(firstPageId) && !f.is_maintenance_mode);
      let directFirstPageId = 0;
      let directFirstPageName = '';
      if (cekFirstPage) {
        directFirstPageId = firstPageId;
        directFirstPageName = firstPageName;
      } else {
        const visibleMenu = this.side_menu.filter(f => f.type === 'visible' && !f.is_maintenance_mode);
        if (visibleMenu.length > 0) {
          directFirstPageId = visibleMenu[0].id;
          directFirstPageName = visibleMenu[0].name ? visibleMenu[0].name.replace(/\s/g, '-') : '';
        }
      }
      if (!cekHavePage) {
        this.messageWaring = 'You do not have access to this page';
        this.showWaring = true;
        setTimeout(() => {
          if (directFirstPageId !== 0 && directFirstPageName !== '') {
            this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId.replace(/=/g, '%3D')}/${directFirstPageName}/${directFirstPageId}`);
          } else {
            this.$router.push('/home');
          }
        }, 3000);
      } else if (cekHavePage && cekHavePage.is_maintenance_mode) {
        this.messageWaring = cekHavePage.maintenance_mode_message;
        this.showWaring = true;
        this.isMaintenance = true;
        setTimeout(() => {
          if (directFirstPageId !== 0 && directFirstPageName !== '') {
            this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId.replace(/=/g, '%3D')}/${directFirstPageName}/${directFirstPageId}`);
          } else {
            this.$router.push('/home');
          }
        }, 3000);
      } else {
        this.showWaring = false;
        this.showComponent = true;
      }
    },

    $route() {
      this.$route.meta.title = this.$route.params.pageName.replaceAll('-', ' ');
    },

    app_security_type(val) {
      if (val === 'password') {
        // show modal confirm password
        this.showModalPsswd = true;
        setTimeout(() => {
          this.$refs.confirmPasswordModal.show();
          this.messageWaring = 'You do not have access to this page';
          this.error_security = true;
          this.showWaring = true;
          this.showComponent = false;
        }, 500);
      } else if (val === 'otp') {
        // show modal input otp
        this.showModalOTP = true;
        setTimeout(() => {
          this.getRequestOtp();
          this.messageWaring = 'You do not have access to this page';
          this.error_security = true;
          this.showWaring = true;
          this.showComponent = false;
        }, 500);
      }
    },

    // eslint-disable-next-line
    'otp.a': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.b': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.c': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.d': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.e': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.f': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },

    page_id(val) {
      if (val && this.force_change_password && !this.profile_data.change_password_date) {
        this.openReminderPass();
      }
    },
  },
  created() {
    document.title = this.$route.params.pageName.replaceAll('-', ' ');
    this.$route.meta.title = this.$route.params.pageName.replaceAll('-', ' ');
  },
  methods: {
    ...mapActions('jStoreApplication', ['getListComponentNocode']),
    ...mapActions('jStoreFormUi', ['verifyPassword', 'requestOtp', 'verifyOtp']),

    getListComponentByPage() {
      this.listComponent = [];
      const parameters = {
        limit: 10,
        page: 1,
        column: 'id',
        sort: 'asc',
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
      };
      const pagesId = this.$route.params.pageId;
      this.getListComponentNocode({ params: parameters, pages_id: pagesId }).then((res) => {
        // Access Application
        if (res.error_session && res.security_type === 'password') {
          // show modal confirm password
          this.showModalPsswd = true;
          setTimeout(() => {
            this.$refs.confirmPasswordModal.show();
            this.messageWaring = 'You do not have access to this page';
            this.error_security = true;
            this.showWaring = true;
          }, 500);
        } else if (res.error_session && res.security_type === 'otp') {
          // show modal input otp
          this.showModalOTP = true;
          setTimeout(() => {
            this.getRequestOtp();
            this.messageWaring = 'You do not have access to this page';
            this.error_security = true;
            this.showWaring = true;
          }, 500);
        } else {
          // const findCompMultipleUi = res.data && res.data.find(f => f.type === 'multiple_form_ui');
          // if (findCompMultipleUi) localStorage.setItem(`layer_${pagesId}`, 0);

          this.listComponent = res.data;
          this.error_security = false;
          this.showWaring = false;
        }
      });
    },

    confirmPassword() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
        password: this.password,
      };
      this.verifyPassword(payload).then((res) => {
        if (!res.error) {
          this.getListComponentByPage();
          this.$refs.confirmPasswordModal.hide();
        }
      });
    },

    getRequestOtp() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
      };
      this.requestOtp(payload).then((res) => {
        this.$refs.otpModal.show();
        this.waitTime = res.expired_timestamp;
        this.otp_data.otp_token = res.otp_token;
        this.startCount();

        setTimeout(() => {
          const ele = document.querySelectorAll('.otp');
          ele[0].focus();
        }, 500);
      });
    },

    changeTab(val) {
      const ele = document.querySelectorAll('.otp');
      if (val < 7) {
        if (ele[val - 1].value !== '') {
          ele[val - 0].focus();
        } else if (ele[val - 1].value === '') {
          ele[val - 2].focus();
        }
      }
    },

    startCount() {
      const vm = this;
      const second = 1000;
      const minute = second * 60;
      const hour = minute * 60;
      vm.expired = false;

      const countDown = vm.waitTime;
      vm.countdown = setInterval(() => {
        const now = new Date().getTime();
        const distance = countDown - now;
        const tMinute = Math.floor((distance % (hour)) / (minute));
        const tSecond = Math.floor((distance % (minute)) / second);

        vm.t_minute = tMinute < 10 ? `0${tMinute}` : tMinute;
        vm.t_second = tSecond < 10 ? `0${tSecond}` : tSecond;

        if (distance < 0) {
          clearInterval(vm.countdown);
          vm.expired = true;
        }
      }, 0);
    },

    confirmOtp() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
        otp: this.otp_data.otp,
        otp_token: this.otp_data.otp_token,
      };
      this.verifyOtp(payload).then((res) => {
        if (!res.error_session) {
          this.getListComponentByPage();
          this.$refs.otpModal.hide();
        }
      });
    },
  },
};
</script>
