<!-- eslint-disable max-len -->
<template>
  <div>
    <div class="text-center">
      <h3 class="mt-2">CHANGE PASSWORD</h3>
      <b-img :src="img_change_password" />
    </div>
    <b-form-group
      v-if="mode=='change-password'"
      id="old-password"
      :class="{'error-input' : $v.form_password.current_password.$error}">
      <label for="title">Old Password<span style="color:red" >*</span></label>
      <j-input
        :type="password_type_old"
        v-model="$v.form_password.current_password.$model"
        :error-required="$v.form_password.current_password.$error"
        error-message="Minimum length is 5 characters"
        placeholder="Old Password"/>
      <label class="showhide">
        <i
          :class="{'fa fa-eye': !show_pass_old, 'fa fa-eye-slash': show_pass_old}"
          role="img"
          @click="show_pass_old=!show_pass_old"/>
      </label>
    </b-form-group>
    <b-form-group
      id="new-password"
      :class="{'error-input' : $v.form_password.new_password.$error}">
      <label for="title">New Password<span style="color:red" >*</span></label>
      <j-input
        :type="password_type_new"
        v-model="$v.form_password.new_password.$model"
        :error-required="$v.form_password.new_password.$error"
        error-message="Minimum length is 5 characters"
        placeholder="New Password"/>
      <label class="showhide">
        <i
          :class="{'fa fa-eye': !show_pass_new, 'fa fa-eye-slash': show_pass_new}"
          role="img"
          @click="show_pass_new=!show_pass_new"/>
      </label>
    </b-form-group>
    <div class="d-flex">
      <div
        :class="['level-strength-pswd',
                 { 'active' : password_checker_lv1 || password_checker_lv2 || password_checker_lv3 || password_checker_lv4 || password_checker_lv5 }]" />
      <div
        :class="['level-strength-pswd',
                 { 'active' : (password_checker_lv1 && password_checker_lv2) ||
                   (password_checker_lv1 && password_checker_lv3) ||
                   (password_checker_lv1 && password_checker_lv4) ||
                   (password_checker_lv1 && password_checker_lv5) ||
                   (password_checker_lv2 && password_checker_lv3) ||
                   (password_checker_lv2 && password_checker_lv4) ||
                   (password_checker_lv2 && password_checker_lv5) ||
                   (password_checker_lv3 && password_checker_lv4) ||
                   (password_checker_lv3 && password_checker_lv5) ||
      (password_checker_lv4 && password_checker_lv5) }]" />
      <div
        :class="['level-strength-pswd',
                 { 'active' : (password_checker_lv1 && password_checker_lv2 && password_checker_lv3) ||
                   (password_checker_lv1 && password_checker_lv2 && password_checker_lv4) ||
                   (password_checker_lv1 && password_checker_lv2 && password_checker_lv5) ||
                   (password_checker_lv1 && password_checker_lv3 && password_checker_lv4) ||
                   (password_checker_lv1 && password_checker_lv3 && password_checker_lv5) ||
                   (password_checker_lv2 && password_checker_lv3 && password_checker_lv4) ||
      (password_checker_lv2 && password_checker_lv3 && password_checker_lv5)}]" />
      <div
        :class="['level-strength-pswd',
                 { 'active': (password_checker_lv1 && password_checker_lv2 && password_checker_lv3 && password_checker_lv4) ||
      (password_checker_lv1 && password_checker_lv2 && password_checker_lv3 && password_checker_lv5) }]" />
      <div
        :class="['level-strength-pswd',
                 { 'active' : password_checker_lv1 && password_checker_lv2 && password_checker_lv3 && password_checker_lv4 && password_checker_lv5 }]" />
    </div>
    <div v-show="form_password.new_password">
      <div class="level-strength-label">
        <img
          :src="require(`@/assets/icon/${password_checker_lv1 ? 'checked-green' : 'error' }.png`)"
          width="15">
        Minimum 8 characters
      </div>
      <div class="level-strength-label">
        <img
          :src="require(`@/assets/icon/${password_checker_lv2 ? 'checked-green' : 'error' }.png`)"
          width="15">
        At least one capital letter
      </div>
      <div class="level-strength-label">
        <img
          :src="require(`@/assets/icon/${password_checker_lv3 ? 'checked-green' : 'error' }.png`)"
          width="15">
        At least one number
      </div>
      <div class="level-strength-label">
        <img
          :src="require(`@/assets/icon/${password_checker_lv4 ? 'checked-green' : 'error' }.png`)"
          width="15">
        At least one special character
      </div>
      <div class="level-strength-label">
        <img
          :src="require(`@/assets/icon/${password_checker_lv5 ? 'checked-green' : 'error' }.png`)"
          width="15">
        Your password cannot contain your account name
      </div>
    </div>
    <b-form-group
      id="new-password"
      :class="{'error-input' : $v.form_password.confirm_password.$error}"
      invalid-feedback="bacod">
      <label for="title">Confirmation Password<span
        style="color:red" >*</span></label>
      <j-input
        :type="password_type_confirm"
        v-model="$v.form_password.confirm_password.$model"
        :error-required="$v.form_password.confirm_password.$error"
        error-message="Confirmation password mismatch"
        placeholder="Confirmation Password"/>
      <label class="showhide">
        <i
          :class="{'fa fa-eye': !show_pass_confirm, 'fa fa-eye-slash': show_pass_confirm}"
          role="img"
          @click="show_pass_confirm=!show_pass_confirm"/>
      </label>
    </b-form-group>
    <div class="pull-right text-right mb-2">
      <b-button
        class="btn gray m__t--15"
        @click="closeModal">
        Close
      </b-button>
      <b-button
        :disabled="$v.form_password.$invalid || !password_checker_lv1 || !password_checker_lv2 || !password_checker_lv3 || !password_checker_lv4 || !password_checker_lv5"
        class="btn blue m__t--15"
        @click="confirmNow">
        Confirm
      </b-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable max-len, camelcase, no-unused-vars */
import { required, sameAs, requiredIf, minLength } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import jMixEncryption from '@/mixins/jMixEncryption';

export default {
  mixins: [jMixEncryption],
  props: {
    mode: {
      type: String,
      default() {
        return 'change-password';
      },
    },
    email: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      show_pass_old: true,
      show_pass_new: true,
      show_pass_confirm: true,
      form_password: {
        current_password: '',
        confirm_password: '',
        new_password: '',
        otp_token: '',
        type: 'change-password',
      },
    };
  },
  computed: {
    ...mapState('jStoreProfile', ['data_otp', 'success_change_password']),

    password_type_old() {
      if (this.show_pass_old) {
        return 'text';
      }
      return 'password';
    },
    password_type_new() {
      if (this.show_pass_new) {
        return 'text';
      }
      return 'password';
    },
    password_type_confirm() {
      if (this.show_pass_confirm) {
        return 'text';
      }
      return 'password';
    },
    img_change_password() {
      // eslint-disable-next-line
      return require('@/assets/img/vis-change-pwd.png');
    },
    password_checker_lv1() {
      return this.form_password.new_password.length > 7;
    },
    password_checker_lv2() {
      return /[A-Z]/.test(this.form_password.new_password);
    },
    password_checker_lv3() {
      return /[0-9]/.test(this.form_password.new_password);
    },
    password_checker_lv4() {
      return /[*@!#%&()^~{}]/.test(this.form_password.new_password);
    },
    password_checker_lv5() {
      const atPosition = this.email.indexOf('@');
      const regex = new RegExp(this.email.substring(0, atPosition), 'ig');
      return !!this.form_password.new_password && !regex.test(this.form_password.new_password);
    },
  },
  watch: {
    data_otp(val) {
      if (val) {
        this.form_password.otp_token = val.otp_token;
        this.show_pass_old = false;
        this.show_pass_new = false;
        this.show_pass_confirm = false;
      }
    },
    success_change_password(val) {
      if (val) {
        this.closeModal();
        if (this.mode === 'change-password') {
          this.$router.push('/logout');
        } else {
          setTimeout(() => {
            this.$router.push('/');
          }, 3000);
        }
      }
    },
  },
  created() {
    this.setKeyPublicRSA();
  },
  methods: {
    ...mapActions('jStoreProfile', ['changePassword', 'resetPassword']),

    closeModal() {
      this.form_password = {
        current_password: '',
        confirm_password: '',
        new_password: '',
        otp_token: '',
        type: 'change-password',
      };
      this.$nextTick(() => { this.$v.$reset(); });
      this.$emit('close-modal');
      // this.$router.push('/logout');
    },
    async confirmNow() {
      // Encyption Process
      if (this.publicKey) {
        const encryptedCurrentPassword = await this.encryption(this.form_password.current_password);
        const encryptedConfirmPassword = await this.encryption(this.form_password.confirm_password);
        const encryptedNewPassword = await this.encryption(this.form_password.new_password);

        if (this.mode === 'forgot-password') {
          const payload = {
            confirm_password: encryptedConfirmPassword,
            new_password: encryptedNewPassword,
            otp_token: this.form_password.otp_token,
            type: this.form_password.type,
          };
          this.confirmForgot(payload);
        } else {
          const payload = {
            current_password: encryptedCurrentPassword,
            confirm_password: encryptedConfirmPassword,
            new_password: encryptedNewPassword,
            otp_token: this.form_password.otp_token,
            type: this.form_password.type,
          };
          this.confirmUpdate(payload);
        }
      }
    },
    confirmUpdate(payload) {
      this.$v.form_password.$touch();
      if (!this.$v.form_password.$error || !this.password_checker_lv1 || !this.password_checker_lv2 || !this.password_checker_lv3 || !this.password_checker_lv4 || !this.password_checker_lv5) {
        this.changePassword(payload);
      }
    },
    confirmForgot(payload) {
      this.$v.form_password.$touch();
      if (!this.$v.form_password.$error || !this.password_checker_lv1 || !this.password_checker_lv2 || !this.password_checker_lv3 || !this.password_checker_lv4 || !this.password_checker_lv5) {
        this.resetPassword(payload);
      }
    },
  },
  validations() {
    return {
      form_password: {
        current_password: {
          required: requiredIf(() => this.mode === 'change-password'),
          minLength: minLength(5),
        },
        new_password: {
          // required,
          // minLength: minLength(5),
        },
        confirm_password: {
          sameAsPassword: sameAs('new_password'),
        },
      },
    };
  },
};
</script>
<style scoped>
.pass-form .modal-dialog {
  max-width: 350px !important;
}

#old-password, #new-password {
  position: relative;
}

#old-password .showhide, #new-password .showhide{
  position: absolute;
  bottom: 3px;
  font-size: 20px;
  right: 10px;
}

.btn:disabled{
  background: #c9c9c9;
}

.error-input {
  background: none !important;
  border: none !important;
}

.error-input .showhide {
  position: absolute !important;
  top: 36px !important;
  right: 33px !important;
}
</style>
