<template>
  <div>
    <div class="text-center">
      <h3 class="mt-2">CONFIRM EMAIL</h3>
      <b-img
        :src="img_change_password"
        width="200" />
    </div>
    <div class="text-justify mt-4">
      <p>{{ description }}</p>
    </div>
    <div class="box-gray">
      <b-form-group
        id="otp-email">
        <label for="title">Your email</label>
        <input
          v-model="email"
          type="email"
          name="email"
          disabled
          placeholder="ex : name@domain.com">
      </b-form-group>
    </div>
    <div class="pull-right text-right mb-2">
      <b-button
        class="btn gray m__t--15"
        @click="closeModal">
        Close
      </b-button>
      <b-button
        class="btn blue m__t--15"
        @click="sendCode">
        Send Code
      </b-button>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      email: '',
      description: 'For enhanced security, you are required to enter a one-time password (OTP) to process your change password. An email with the OTP will be send to your email address.',
      form_data: {
        type: 'change-password',
        user_company_id: 0,
      },
    };
  },
  computed: {
    ...mapState('jStoreProfile', ['data_otp']),
    ...mapState('jStoreLogin', ['profile_data']),
    img_change_password() {
      // eslint-disable-next-line
      return require('@/assets/img/otp-email.png');
    },
  },
  watch: {
    profile_data(val) {
      if (val) {
        this.email = val.email;
        this.form_data.user_company_id = val.user_company_id;
      }
    },
    data_otp(val) {
      if (val) {
        this.complete();
      }
    },
  },
  methods: {
    ...mapActions('jStoreProfile', ['requestChangePassword']),
    closeModal() {
      this.$emit('close-modal');
    },
    sendCode() {
      if (this.form_data.user_company_id) {
        this.requestChangePassword(this.form_data);
      }
    },
    complete() {
      this.$emit('complete');
    },
  },
};
</script>
<style scoped>
#otp-email input[type='email']{
    border:none !important;
    outline: none !important;
    width: 100%;
    font-size: 14px;
}

#otp-email input[type='email']:disabled{
    background: none;
}

#otp-email label {
    color: #888888;
    font-weight: bold;
}

.box-gray{
    padding: 6px 14px 2px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin-top: 20px;
}
</style>
