<template>
  <div>
    <div
      v-for="(color, index) in listColor"
      :key="index"
      :class="color.name === active ? 'active' : ''"
      :title="color.name"
      :id="color.color"
      :style="{ backgroundColor: color.color }"
      class="color-list-oos"
      @click="setColor(color)">
      <div
        :title="color.name"
        :id="color.color"
        class="checkmark_stem"/>
      <div
        :title="color.name"
        :id="color.color"
        class="checkmark_kick"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JColorPicker',
  props: {
    listColor: {
      type: Array,
      default: () => [
        {
          color: '#98D4BB',
          name: 'green-light',
        },
        {
          color: '#218B82',
          name: 'green',
        },
        {
          color: '#D2F0FF',
          name: 'blue-light',
        },
        {
          color: '#84A6D6',
          name: 'blue',
        },
        {
          color: '#FFD9D9',
          name: 'pink-light',
        },
        {
          color: '#C54B6C',
          name: 'pink',
        },
        {
          color: '#FEE6C9',
          name: 'orange-light',
        },
        {
          color: '#DBBC8E',
          name: 'orange',
        },
        {
          color: '#E4CEE0',
          name: 'purple-light',
        },
        {
          color: '#A15D98',
          name: 'purple',
        },
      ],
    },
    defaultData: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      active: '',
    };
  },
  watch: {
    defaultData() {
      this.active = this.defaultData;
    },
  },
  created() {
    this.active = this.defaultData;
  },
  methods: {
    setColor(e) {
      if (!this.disabled) {
        this.active = e.name;
        this.$emit('color-picked', e.name);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
    .color-list-oos{
        position: relative;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-right: 10px;

        &.active{
            // border: 1px solid black;

            .checkmark_stem {
                display: block;
                position: absolute;
                width:6px;
                height:24px;
                background-color:#fff;
                left: calc(60% - 5px);
                top: calc(30% - 3px);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                transform: rotate(45deg);
                transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
            }

            .checkmark_kick {
                display: block;
                position: absolute;
                width:8px;
                height:6px;
                background-color:#fff;
                left: calc(22% );
                top: calc(56% - 1px);
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                transform: rotate(45deg);
                transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
            }
        }

        &:not(.active){

            .checkmark_stem {
                display: none;
            }

            .checkmark_kick {
                display: none;
            }

            &:hover{
                cursor: pointer;
                box-shadow: 0 8px 6px -6px black;
                // border: 1px solid black;

                .checkmark_stem {
                    display: none;
                    position: absolute;
                    width:6px;
                    height:24px;
                    opacity: 0.5;
                    background-color:#fff;
                    left: calc(60% - 5px);
                    top: calc(30% - 3px);
                    -ms-transform: rotate(45deg); /* IE 9 */
                    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                    transform: rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
                }

                .checkmark_kick {
                    display: none;
                    position: absolute;
                    width:8px;
                    height:6px;
                    opacity: 0.5;
                    background-color:#fff;
                    left: calc(22% );
                    top: calc(56% - 1px);
                    -ms-transform: rotate(45deg); /* IE 9 */
                    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                    transform: rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
                }
            }
        }

    }
</style>
