<template>
  <div class="page-with-tab-container">
    <b-row>
      <b-col cols="12">
        <j-maps-multi-location />
      </b-col>
    </b-row>

    <div class="tab-header">
      <div
        v-for="(item, index) in tabs"
        :key="index"
        md="2"
        class="content-tab"
        @click="tabSelected = item.idTab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.idTab"
          class="underline-data"/>
      </div>
    </div>

    <j-monitor-attended-list
      v-if="tabSelected === 'tab-1'"
      :oos-route="oosRoute" />
    <j-monitor-absence-list
      v-if="tabSelected === 'tab-2'"
      :oos-route="oosRoute" />
    <j-monitor-leave-list
      v-if="tabSelected === 'tab-3'"
      :oos-route="oosRoute" />

      <!-- <j-tabs :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp"
            :oos-route="oosRoute"
          />
        </div>
      </div>
    </j-tabs> -->

  </div>
</template>

<script>
import jMapsMultiLocation from '@/components/maps/jMapsMultiLocation';
import jMonitorAbsenceList from './absence/jMonitorAbsenceList';
import jMonitorAttendedList from './attended/jMonitorAttendedList';
import jMonitorLeaveList from './leave/jMonitorLeaveList';

export default {
  components: {
    jMonitorAbsenceList,
    jMonitorAttendedList,
    jMonitorLeaveList,
    jMapsMultiLocation,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabSelected: 'tab-1',
      tabs: [
        {
          idTab: 'tab-1',
          title: 'Present',
          idComp: 'comp-1',
          comp: jMonitorAttendedList,
          isShow: true,
        },
        // {
        //   idTab: 'tab-2',
        //   title: 'Absent',
        //   idComp: 'comp-2',
        //   comp: jMonitorAbsenceList,
        //   isShow: true,
        // },
        {
          idTab: 'tab-3',
          title: 'Leave',
          idComp: 'comp-3',
          comp: jMonitorLeaveList,
          isShow: true,
        },
      ],
    };
  },
  methods: {

  },
};
</script>
