<!-- Created by Arga Ghulam Ahmad - arga@jojonomic.com -->
<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="notification-screen info-screen"
      @click="toggleInfoScreen">
      <div class="notification-screen-box">
        <div class="floating-container">
          <jLottie
            :options="defaultOptions"
            :height="220"
            :width="150"
            class="animation"
            @animCreated="handleAnimation"/>
          <h1
            class="title">
            Info
          </h1>
          <div
            id="info-screen-message"
            class="message"
            v-html="message"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
/* eslint-disable vue/require-default-prop */
import jLottie from '../lottie/jLottie';
import * as animationData from '../../assets/notification/info.json';

export default {
  name: 'JInfoScreen',
  components: {
    jLottie,
  },
  props: {
    message: String,
  },
  data() {
    return {
      defaultOptions: {
        animationData,
      },
      animationSpeed: 1,
      isVisible: false,
    };
  },
  methods: {
    handleAnimation(anim) {
      this.anim = anim;
    },
    toggleInfoScreen() {
      this.isVisible = !this.isVisible;
    },
    showInfoScreen() {
      this.isVisible = true;
    },
    hideInfoScreen() {
      this.isVisible = false;
    },
  },
};
</script>
