<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="notification-screen maintenance-screen"
      @click="toggleMaintenanceScreen">
      <div class="notification-screen-box">
        <div class="floating-container">
          <img
            :src="require('@/assets/icon/maintenance-mode.svg')"
            height="135"
            width="143">
          <h1 class="title m__t--25">
            Maintenance
          </h1>
          <div
            id="maintenance-screen-message"
            class="message"
            v-html="message"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
/* eslint-disable vue/require-default-prop */

export default {
  name: 'JMaintenanceScreen',
  props: {
    message: String,
  },
  data() {
    return {
      isVisible: false,
    };
  },
  methods: {
    toggleMaintenanceScreen() {
      this.isVisible = !this.isVisible;
    },
    showMaintenanceScreen() {
      this.isVisible = true;
    },
    hideMaintenanceScreen() {
      this.isVisible = false;
    },
  },
};
</script>
