<template>
  <div class="jInput">
    <b-form-input
      v-model="data"
      :placeholder="placeholder"
      :type="type === 'number' ? 'text' : type"
      :maxlength="maxLength"
      :disabled="disabled"
      :class="inputClass"
      class="jFormGroup"
      @input="$emit('input', $event)"/>
    <label
      v-if="errorRequired"
      class="show">{{ errorMessage }}
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Object, Number, Array, Boolean],
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
    },
    inputClass: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    maxLength: {
      type: Number,
      default: null,
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      data: '',
    };
  },
  watch: {
    data() {
      if (this.type === 'number' && this.value) {
        const regexSymbol = /[^0-9.-]/g;
        setTimeout(() => {
          this.data = String(this.value).replace(regexSymbol, '');
        }, 1);
      } else {
        this.data = this.value;
      }
    },
    value(val) {
      this.data = val;
    },
  },
  created() {
    this.data = this.value;
  },
};
</script>
