<template>
  <div>
    <template v-for="(check, index) in checkbox_data">
      <b-row
        :key="index">
        <b-col
          cols="12"
          md="12">
          <div>
            <input
              :id="check.name"
              :value="check.value"
              v-model="checked_value"
              type="checkbox">
            <label :for="check.value">{{ check.name }}</label>
          </div>
        </b-col>
      </b-row>
    </template>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
    checkboxData: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      checked_value: [],
      checkbox_data: [],
    };
  },
  watch: {
    checked_value() {
      this.$emit('is-checking', true);
    },
  },
  created() {
    this.checkbox_data = this.$options.propsData.checkboxData;
  },
  methods: {
    setEmptyCheckbox() {
      this.checked_value = [];
    },
    getData() {
      this.$emit('get-data', this.checked_value);
    },
  },
};
</script>
