<template>
  <div>
    <j-tabs
      :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp.name"
            :oos-route="oosRoute"/>
        </div>
      </div>
    </j-tabs>
  </div>
</template>

<script>
import jOvertimeSummaryTabComp from './summary/jOvertimeSummaryTabComp';

export default {
  components: {
    jOvertimeSummaryTabComp,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabs: [
        {
          idTab: 'tabs-overtime-1',
          title: 'Overtime',
          idComp: 'comps-overtime-1',
          comp: jOvertimeSummaryTabComp,
          isShow: true,
          isActive: true,
        },
      ],
    };
  },
};
</script>
