<template>
  <div>
    <b-button
      class="btn btn-import-oos m__r--5"
      @click="exportDivisionToEmail"
    >
      <i class="fa fa-download fa-lg"/> Export
    </b-button>
    <b-button
      v-show="division_data.length < 1"
      class="btn btn-import-oos m__r--5"
      @click="exportDivision"
    >
      <i class="fa fa-cloud-download fa-lg"/> Generate xls
    </b-button>

    <download-excel
      :data="division_data"
      name="Division-Data.xls"
      class="d-inline"
    >
      <b-button
        v-show="division_data.length > 1"
        ref="exportDivision"
        class="btn btn-import-oos m__r--5"
      >
        <i class="fa fa-cloud-download fa-lg"/> Generate xls
      </b-button>
    </download-excel>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      division_data: [],
      page: 1,
    };
  },

  computed: {
    ...mapState('jOrganigram', ['all_division_list', 'total_length_division']),
  },

  watch: {
    all_division_list(Val) {
      this.page += 1;
      const sortData = Val.map((newVal) => {
        const dataDivision = {
          DIVISION_ID: newVal.id,
          CODE: newVal.code,
          NAME: newVal.name,
          TOTAL_MEMBER: newVal.total_member,
          DESCRIPTION: newVal.description,
          CREATED_DATE: newVal.created_date,
          UPDATED_DATE: typeof newVal.updated_date !== 'undefined' ? newVal.updated_date : '',
          CREATED_BY: typeof newVal.created_by !== 'undefined' ? newVal.created_by.email : '',
          UPDATED_BY: typeof newVal.updated_by !== 'undefined' ? newVal.updated_by.email : '',
        };
        return dataDivision;
      });
      // this.division_data = sortData;
      this.division_data.push(...sortData);
      const requestAll = {
        pagination: {
          limit: 50,
          page: this.page,
          column: 'id',
          ascending: true,
          query: '',
        },
        export: 'yes',
      };
      if (this.division_data.length < this.total_length_division) {
        this.$store.dispatch('jOrganigram/getAllDivisions', requestAll);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', 'Please wait...');
        this.$refs.exportDivision.click();
        this.division_data = [];
        this.page = 1;
      }
    },

  },

  methods: {
    exportDivision() {
      const requestAll = {
        pagination: {
          limit: 50,
          page: 1,
          column: 'id',
          ascending: true,
          query: '',
        },
      };
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait...');
      this.$store.dispatch('jOrganigram/getAllDivisions', requestAll);
    },

    exportDivisionToEmail() {
      const req = {
        type: 'xls',
        send_mail_type: 1,
      };
      this.$store.dispatch('jOrganigram/exportDivisionToEmail', req);
    },
  },
};
</script>

<style lang="scss">
  #dropdown-division {
    button {
      background: #41ad49;
      border: none;
      color: #fff;
    }
    .dropdown-toggle:after {
      margin-left: 5px!important;
    }
    a {
      font-weight: 400;
      color: #808285 !important;
    }
  }
</style>
