<template>
  <div class="p--8">
    <div>
      <j-unit-form
        ref="unitForm"
        mode="update"
        @data="getData"/>
    </div>

    <b-row>
      <b-col md="9">
        <b-row>
          <b-col>
            <div class="float-to-left m__t--10">
              <b-button
                :disabled="true"
                class="btn red"
                @click="deletedDivision">Delete</b-button>
            </div>
          </b-col>

          <b-col>
            <div class="float-to-right m__t--10">
              <b-button
                class="btn grey m__r--15"
                @click="$router.go(-1)">Close</b-button>
              <b-button
                class="btn blue"
                @click="saveUpdateDivision">Update</b-button>
            </div>
          </b-col>
        </b-row>
      </b-col>

      <b-col md="3"/>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jUnitForm from './jUnitForm';

export default {
  components: {
    jUnitForm,
  },
  data() {
    return {
      unit_date: null,
    };
  },
  computed: {
    ...mapState('jStoreDivisionFlow', ['division_flow_data']),

    generateData() {
      const genData = {
        id: this.unit_date.id,
        name: this.unit_date.name ? this.unit_date.name : '',
        code: this.unit_date.code ? this.unit_date.code : '',
        head_organigram_id: this.unit_date.head_of_division ?
          this.unit_date.head_of_division.id : 0,
        id_parent_division: this.unit_date.parent_division ?
          this.unit_date.parent_division.id : 0,
        root_division_id: 0,
        description: this.unit_date.description ? this.unit_date.description : '',
      };
      return genData;
    },
  },
  methods: {
    ...mapActions('jStoreDivisionFlow', [
      'updateDivision',
      'deleteDivision',
      'createFlowDivisionInUpdate',
      'updateFlowDivisionInUpdate',
      'deleteFlowDivisionInUpdate',
      'applyCostCenter',
    ]),

    getData(data) {
      this.unit_date = data;
    },
    saveUpdateDivision() {
      this.$refs.unitForm.save();
      if (this.unit_date !== null) {
        this.updateDivision(this.generateData);
      }
    },
    deletedDivision() {
      const text = 'You want to delete this data';

      this.$swal({
        title: 'Are you sure?',
        text,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then((result) => {
        if (result.value) {
          this.deleteDivision({ id: this.$route.params.id });
        }
      });
    },
  },
};
</script>
