<template>
  <div
    id="unit-table"
    class="list-data-table">

    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="tableUnit"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetail"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn btn-import-oos m__r--5"
              @click="isModalFormOpen(true)">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <jExportUnit />
            <b-button
              id="table-search"
              class="btn btn-import-oos">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport">
          <b-form-group>
            <b-form-checkbox-group v-model="selected_rows">
              <b-form-checkbox :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

        <div
          slot="created_date"
          slot-scope="props"
        >
          {{ props.row.created_date | moment("MMM DD, YYYY") }}
        </div>

        <div
          slot="updated_date"
          slot-scope="props"
        >
          {{ props.row.updated_date | moment("MMM DD, YYYY") }}
        </div>

        <div
          slot="created_by"
          slot-scope="props"
        >
          {{ props.row.created_by.email ? props.row.created_by.email : '-' }}
        </div>

        <div
          slot="updated_by"
          slot-scope="props"
        >
          {{ props.row.updated_by.email ? props.row.updated_by.email : '-' }}
        </div>
      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="unit-table"
      target="table-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalCodeForm"
      class="mod-form modal-unit"
      no-close-on-backdrop
      no-close-on-esc
      centered
    >
      <j-unit-create
        v-if="isOpen"
        @modal-open="isModalFormOpen"
      />
    </b-modal>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jApiDivisionFlow from '@/services/jApiDivisionFlow';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jUnitCreate from './jUnitCreate';
import jExportUnit from './jExportUnit';

export default {
  name: 'JUnitList',
  components: {
    jLoadingTable,
    jUnitCreate,
    jExportUnit,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpen: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'ID',
          value: 'id',
        },
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Code',
          value: 'code',
        },
        {
          text: 'Created Date',
          value: 'created_date',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'name', 'code', 'total_position', 'created_date', 'updated_date', 'created_by', 'updated_by'],
      options: {
        headings: {
          id: 'ID',
          name: 'NAME',
          code: 'CODE',
          total_position: 'TOTAL POSITION',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          created_by: 'CREATED BY',
          updated_by: 'UPDATED BY',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'name', 'code', 'created_date', 'updated_date', 'created_by', 'updated_by'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getListDivision = jApiDivisionFlow.getDivisionList(data);
          return getListDivision.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
        templates: {
          total_position(h, row) {
            const total = row.organigram_ids.length;
            return <div>{total}</div>;
          },
        },
      },
    };
  },
  watch: {

    filter_data(val) {
      if (val === '') {
        this.$refs.tableUnit.setFilter('');
      }
    },

    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      const a = val;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.tableUnit.refresh();
    },
    filter(val) {
      this.$refs.tableUnit.setFilter(val);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/unit/update/${row.id}`);
    },

    isModalFormOpen(val, created) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalCodeForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalCodeForm.hide();
        if (created) this.refreshTable();
      }
    },
  },
};
</script>

<style lang="scss">
  .modal-unit .modal-dialog {
    max-width: 600px;
  }
</style>
