<template>
  <div>

    <b-row>
      <b-col md="9">
        <b-row>
          <b-col md="6">
            <b-form-group :class="{'error-input' : $v.data_unit.id.$error}">
              <label> Unit ID </label>
              <j-input
                v-model="$v.data_unit.id.$model"
                :max-length="50"
                :disabled="true"
                placeholder="ID"/>
            </b-form-group>
          </b-col>
          <b-col
            md="6">
            <b-form-group :class="{'error-input' : $v.data_unit.code.$error}">
              <label> Code </label>
              <j-input
                v-model="$v.data_unit.code.$model"
                :max-length="255"
                placeholder="Code"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-form-group :class="{'error-input' : $v.data_unit.name.$error}">
              <label> Unit Name </label>
              <j-input
                v-model="$v.data_unit.name.$model"
                :max-length="255"
                placeholder="Name"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-form-group :class="{'error-input' : $v.data_unit.head_of_division.$error}">
              <label> Manager Unit </label>
              <j-single-select
                v-model="$v.data_unit.head_of_division.$model"
                :is-async="true"
                :load-options="loadOptionsPosition"
                :default-options="false"
                placeholder="Ex: CTO"
                value-format="object"
                label="name"
                search-prompt-text="Type minimum 3 characters to search..."/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-form-group :class="{'error-input' : $v.data_unit.parent_division.$error}">
              <label> Parent Unit </label>
              <j-single-select
                v-model="$v.data_unit.parent_division.$model"
                :is-async="true"
                :load-options="loadOptionsDivision"
                :default-options="false"
                placeholder="Ex: CTO"
                value-format="object"
                label="name"
                search-prompt-text="Type minimum 1 characters to search..."/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="12">
            <b-form-group :class="{'error-input' : $v.data_unit.description.$error}">
              <label> Description </label>
              <j-textarea
                v-model="$v.data_unit.description.$model"
                :max-length="300"
                :rows="5"
                placeholder="Description"/>
            </b-form-group>
          </b-col>
        </b-row>

        <div
          v-show="cimbFeature"
          class="float-to-center">
          <div class="c--approved">Budget Custody </div> &nbsp; (Flow)
        </div>

        <jUnitFlow
          v-show="cimbFeature"
          ref="divisionFlowForm"
          :flow="data_unit.flow_id"/>
      </b-col>

      <b-col md="3"/>
    </b-row>

  </div>
</template>

<script>
// eslint-disable-next-line
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import jUnitFlow from './jUnitFlow';

export default {
  validations: {
    data_unit: {
      id: {

      },
      name: {
        required,
      },
      code: {
        required,
      },
      head_of_division: {

      },
      parent_division: {

      },
      description: {

      },
    },
  },
  components: {
    jUnitFlow,
  },
  data() {
    return {
      cimbFeature: false,
      data_unit: {
        id: 0,
        name: '',
        code: '',
        head_of_division: null,
        parent_division: null,
        description: '',
        flow_id: 0,
      },
    };
  },
  computed: {
    ...mapState('jStoreDivisionFlow', ['division_detail']),
  },
  watch: {
    division_detail(val) {
      const divisionForm = {
        id: val.id,
        name: val.name,
        code: val.code,
        description: val.description,
        flow_id: val.flow_id ? val.flow_id : 0,
      };
      this.data_unit = divisionForm;

      if (typeof val.head_organigram.id !== 'undefined') {
        this.data_unit.head_of_division = {
          id: val.head_organigram.id,
          name: val.head_organigram.name,
          label: val.head_organigram.name,
        };
      }
      if (val.id_parent_division !== 0 || val.parent_division_name) {
        this.data_unit.parent_division = {
          id: val.id_parent_division,
          name: val.parent_division_name,
          label: val.parent_division_name,
        };
      }
    },
  },
  created() {
    this.modeUpdate();
  },
  methods: {
    ...mapActions('jStoreDivisionFlow', ['getDivisionDetail']),

    modeUpdate() {
      const divisionId = {
        id: Number(this.$route.params.id),
      };

      this.getDivisionDetail(divisionId);
    },

    loadOptionsPosition({ action, searchQuery, callback }) {
      // let queryType;
      // switch (this.filter ? this.filter : '') {
      //   case 'email':
      //     queryType = 'email';
      //     break;
      //   case 'user_name':
      //     queryType = 'name';
      //     break;
      //   default:
      //     queryType = 'position';
      //     break;
      // }
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: '',
            },
          };
          this.$store.dispatch('jFlows/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jFlows/getListDivisions', { reqData, callback, label: (this.filter ? this.filter : 'name') });
        } else {
          callback(null, false);
        }
      }
    },

    save() {
      this.$v.data_unit.$touch();
      if (!this.$v.data_unit.$error) {
        this.$refs.divisionFlowForm.save();
        this.$emit('data', this.data_unit);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>
