<template>
  <div class="p--8">
    <b-row>
      <b-col md="8">
        <b-form-group :class="{'error-input' : $v.data_unit.cost_center.$error}">
          <label> Cost Center </label>
          <j-single-select
            v-model="data_unit.cost_center"
            :is-async="true"
            :load-options="loadOptionsCostCenter"
            placeholder="Select Cost Center"
            value-format="object"
          />
        </b-form-group>
      </b-col>
      <b-col md="2">
        <b-button
          class="btn blue m__t--25"
          @click="applyCallCenter">Apply</b-button>
      </b-col>
      <b-col md="2"/>
    </b-row>

  </div>
</template>

<script>
// eslint-disable-next-line
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  validations: {
    data_unit: {
      cost_center: {
        required,
      },
    },
  },
  data() {
    return {
      data_unit: {
        id: 0,
        cost_center: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreDivisionFlow', ['division_detail', 'cost_center_list', 'current_cost_center']),
  },
  watch: {
    division_detail(val) {
      this.data_unit.division_id = val.id;
    },
    current_cost_center(val) {
      this.data_unit.cost_center = val;
    },
  },
  async created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    await this.getCostCenterList(params);
    await this.modeUpdate();
  },
  methods: {
    ...mapActions('jStoreDivisionFlow', ['getDivisionDetail', 'getCostCenterList', 'applyCostCenter', 'getDetailCostCenterByDivision']),

    loadOptionsCostCenter({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
              query_type: '',
            },
          };
          this.$store.dispatch('jStoreDivisionFlow/getAsyncCostCenterList', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    modeUpdate() {
      const divisionId = {
        id: Number(this.$route.params.id),
      };
      this.getDivisionDetail(divisionId);
      this.getDetailCostCenterByDivision({ division_id: divisionId.id });
    },
    applyCallCenter() {
      this.$v.data_unit.$touch();
      if (!this.$v.data_unit.$error) {
        const payload = {
          costcenter_id: this.data_unit.cost_center.id,
          division_id: this.data_unit.division_id,
        };
        this.applyCostCenter(payload);
      }
    },
  },
};
</script>
