<template>
  <div>
    <div class="tab-header">
      <div
        v-for="(item, index) in tabs"
        :key="index"
        md="2"
        class="content-tab"
        @click="tabSelected = item.idTab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.idTab"
          class="underline-data"/>
      </div>
    </div>

    <jUnitUpdate
      v-if="tabSelected === 'tab-unit-general'"/>
    <jUnitMapping
      v-if="tabSelected === 'tab-unit-mapping'"/>
  </div>
</template>

<script>
import jUnitUpdate from './jUnitUpdate';
import jUnitMapping from './jUnitMapping';

export default {
  name: 'JEmployee',
  components: {
    jUnitUpdate,
    jUnitMapping,
  },
  data() {
    return {
      options: {
        icon: 'fa-user',
        main_title: 'Unit Name',
        opt_title: '',
      },
      tabSelected: 'tab-unit-general',
      tabs: [
        {
          idTab: 'tab-unit-general', title: 'General', idComp: 'unit-general', comp: jUnitUpdate, isShow: true,
        },
        {
          idTab: 'tab-unit-mapping', title: 'Mapping', idComp: 'unit-mapping', comp: jUnitMapping, isShow: true,
        },
      ],
    };
  },
};
</script>

<style lang="scss">
  .move {
    cursor: move;
  }
</style>
