<template>
  <div>
    <h3 class="modal-title"> Create Organization Unit </h3>

    <b-row>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_unit.name.$error}">
          <label> Unit Name </label>
          <j-input
            v-model="$v.data_unit.name.$model"
            :max-length="255"
            placeholder="Name"/>
        </b-form-group>
      </b-col>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_unit.code.$error}">
          <label> Code </label>
          <j-input
            v-model="$v.data_unit.code.$model"
            :max-length="255"
            placeholder="Code"/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_unit.head_of_division.$error}">
          <label> Manager Unit </label>
          <j-single-select
            v-model="$v.data_unit.head_of_division.$model"
            :is-async="true"
            :load-options="loadOptionsPosition"
            :default-options="false"
            placeholder="Ex: CTO"
            value-format="object"
            label="name"
            search-prompt-text="Type minimum 3 characters to search..."/>
        </b-form-group>
      </b-col>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_unit.parent_division.$error}">
          <label> Parent Unit </label>
          <j-single-select
            v-model="$v.data_unit.parent_division.$model"
            :is-async="true"
            :load-options="loadOptionsDivision"
            :default-options="false"
            placeholder="Ex: Tech"
            value-format="object"
            label="name"
            search-prompt-text="Type minimum 1 characters to search..."/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-form-group :class="{'error-input' : $v.data_unit.description.$error}">
          <label> Description </label>
          <j-textarea
            v-model="$v.data_unit.description.$model"
            :max-length="300"
            placeholder="Description"/>
        </b-form-group>
      </b-col>
    </b-row>

    <div class="pull-right">
      <b-button
        class="btn m__r--5"
        @click="closeModal(false)">
        Close
      </b-button>
      <b-button
        class="btn blue"
        @click="submitRecord">
        Add
      </b-button>
    </div>

  </div>
</template>

<script>
// eslint-disable-next-line
import { mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required } from 'vuelidate/lib/validators';

export default {
  validations: {
    data_unit: {
      id: {

      },
      name: {
        required,
      },
      code: {
        required,
      },
      head_of_division: {

      },
      parent_division: {

      },
      description: {

      },
    },
  },
  components: {

  },
  data() {
    return {
      data_unit: {
        id: 0,
        name: '',
        code: '',
        head_of_division: null,
        parent_division: null,
        description: '',
      },
    };
  },
  computed: {
    generateData() {
      const genData = {
        name: this.data_unit.name ? this.data_unit.name : '',
        code: this.data_unit.code ? this.data_unit.code : '',
        head_organigram_id: this.data_unit.head_of_division ?
          this.data_unit.head_of_division.id : 0,
        id_parent_division: this.data_unit.parent_division ?
          this.data_unit.parent_division.id : 0,
        root_division_id: 0,
        description: this.data_unit.description ? this.data_unit.description : '',
      };
      return genData;
    },
  },
  methods: {
    ...mapActions('jStoreDivisionFlow', ['createUnit']),

    loadOptionsPosition({ action, searchQuery, callback }) {
      // let queryType;
      // switch (this.filter ? this.filter : '') {
      //   case 'email':
      //     queryType = 'email';
      //     break;
      //   case 'user_name':
      //     queryType = 'name';
      //     break;
      //   default:
      //     queryType = 'position';
      //     break;
      // }
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: '',
            },
          };
          this.$store.dispatch('jFlows/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jFlows/getListDivisions', { reqData, callback, label: (this.filter ? this.filter : 'name') });
        } else {
          callback(null, false);
        }
      }
    },

    async submitRecord() {
      this.$v.data_unit.$touch();
      if (!this.$v.data_unit.$error) {
        const res = await this.createUnit(this.generateData);
        if (!res.error) {
          this.closeModal(true);
        }
      }
    },
    closeModal(created) {
      this.data_unit = {
        id: 0,
        name: '',
        code: '',
        head_of_division: null,
        parent_division: null,
        description: '',
      };

      this.$v.data_unit.$reset();
      this.$emit('modal-open', false, created);
    },
  },
};
</script>
