<template>
  <div class="jInput">
    <treeselect
      :options="get_options"
      :value="value"
      :close-on-select="false"
      :disabled="disabled"
      :load-options="loadOptions"
      :default-options="get_default_options"
      :async="isAsync"
      :no-results-text="noResultsText"
      :search-prompt-text="searchPromptText"
      :always-open="alwaysOpen"
      :multiple="true"
      :auto-load-root-options="false"
      :value-format="valueFormat"
      :placeholder="placeholder"
      :clear-on-select="true"
      :open-direction="openDirection"
      :key="defaultOptionsKey"
      class="jMultiCheckSelect"
      @open="open"
      @close="close"
      @input="sendData"
      @selectBySearch="selectBySearch">
      <div
        v-if="isAllowSelectAll"
        slot="before-list"
        slot-scope="{}"
        class="div-select-all-data">
        <span @click="selectAllData">
          Select All
        </span>
        <span @click="unSelectData">
          Unselect All
        </span>
      </div>
    </treeselect>
    <label
      v-if="errorRequired"
      class="show">{{ errorMessage }}
    </label>
  </div>
</template>

<script>
import Treeselect from '@riophae/vue-treeselect';

Treeselect.mixins[0].watch.visibleOptionIds = function visibleOptionIds(val) {
  this.$emit('selectBySearch', val);
};

export default {
  name: 'JMultiSelect',
  components: {
    Treeselect,
  },
  props: {
    defaultOptions: {
      type: [Array, Boolean],
      default: false,
    },
    noResultsText: {
      type: String,
      default: 'No results found...',
    },
    searchPromptText: {
      type: String,
      default: 'Type to search...',
    },
    valueFormat: {
      type: String,
      default: 'id',
    },
    options: {
      type: Array,
      default: () => [],
    },
    defaultData: {
      type: Array,
      default: () => [],
    },
    placeholder: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [String, Boolean, Array, Object, Number],
      default: null,
    },
    label: {
      type: String,
      default: 'text',
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
    isAsync: {
      type: Boolean,
      default: false,
    },
    loadOptions: {
      type: Function,
      default: () => {},
    },
    alwaysOpen: {
      type: Boolean,
      default: false,
    },
    isAllowSelectAll: {
      type: Boolean,
      default: false,
    },
    openDirection: {
      type: String,
      default: 'auto',
    },
  },
  data() {
    return {
      // value: null,
      get_data: [],
      default_data: [],
      data_change: [],
      data_relation: [],
      data_change_relation: [],
      select_by_search: [],
      temporary_storage: [],
      defaultOptionsKey: 0,
    };
  },
  computed: {
    wrap_data() {
      return {
        data: this.get_data,
        dataId: this.value,
        dataChange: this.data_change,
        dataRelation: this.data_relation,
        dataChangeRelation: this.data_change_relation,
      };
    },
    get_options() {
      if (this.options === null) return this.options;
      const opt = this.options.map((val) => {
        const newObj = val;
        newObj.label = val[this.label];
        return newObj;
      });
      return opt;
    },
    get_default_options() {
      if (this.defaultOptions !== false) {
        const opt = this.defaultOptions.map((val) => {
          const newObj = {
            id: val.id,
            name: val.name ? val.name : '',
            label: val[this.label],
            relation_id: val.relation_id ? val.relation_id : 0,
            is_delete: val.is_delete ? val.is_delete : false,
            isDisabled: val.isDisabled ? val.isDisabled : false,
          };
          return newObj;
        });
        return opt;
      }
      return false;
    },

  },
  watch: {
    select_by_search(val, old) {
      if (old && old.length !== this.options.length) {
        this.temporary_storage = old;
      }
    },
    defaultOptions() {
      // eslint-disable-next-line
      this.defaultOptionsKey++;
    },
  },
  methods: {
    open() {
      this.$emit('open');
    },

    close() {
      this.$emit('close');
    },

    generateDataEdit(val) {
      const finalData = [];
      if (this.defaultData.length > 0 && typeof val !== 'undefined') {
        const getData = val.map(data => ({
          id: data.id ? data.id : 0,
          name: data.name ? data.name : '',
          relation_id: data.relation_id ? data.relation_id : 0,
          is_delete: data.is_delete ? data.is_delete : false,
          others: data,
        }));

        this.defaultData.forEach((k) => {
          let dataExist = false;
          for (let i = 0; i < val.length; i += 1) {
            if (k.id === val[i].id) {
              dataExist = true;
              getData[i] = {
                id: k.id,
                name: k.name ? k.name : '',
                is_delete: k.is_delete ? k.is_delete : false,
                relation_id: k.relation_id ? k.relation_id : 0,
                others: k,
              };
            }
          }
          if (!dataExist) {
            const a = {
              id: k.id,
              name: k.name ? k.name : '',
              is_delete: true,
              relation_id: k.relation_id ? k.relation_id : 0,
              others: k,
            };
            getData.push(a);
          }
        });
        finalData.push(...getData);
      } else if (this.defaultData.length > 0 && typeof val === 'undefined') {
        this.defaultData.forEach((k) => {
          const a = {
            id: k.id,
            name: k.name ? k.name : '',
            is_delete: true,
            relation_id: k.relation_id ? k.relation_id : 0,
            others: k,
          };
          finalData.push(a);
        });
      } else {
        const getDataNew = val.map(data => ({
          id: typeof data.id === 'string' ? 0 : data.id,
          name: data.name ? data.name : '',
          relation_id: data.relation_id ? data.relation_id : 0,
          is_delete: data.is_delete ? data.is_delete : false,
          others: data,
        }));
        finalData.push(...getDataNew);
      }
      return finalData;
    },

    selectAllSearch() {
      const value = this.temporary_storage;
      if (this.temporary_storage.length === 0) {
        this.value = this.select_by_search;
      } else {
        this.value = value;
        this.temporary_storage = [];
      }
    },
    selectBySearch(val) {
      this.select_by_search = val;
    },
    sendData(val) {
      this.$emit('input', val);
      const getData = this.generateDataEdit(val);
      // this.getData();
      // this.getDataChange();
      // this.getDataRelation();
      // this.getChangedDataRelation();
      this.$emit('getData', getData);
    },
    getData() {
      this.get_data = [];
      if (this.default_data.length > 0) {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              this.get_data.push(i);
            }
          });
        });
        this.default_data.forEach((k) => {
          let dataExist = false;
          for (let i = 0; i < this.get_data.length; i += 1) {
            if (k.id === this.get_data[i].id) {
              dataExist = true;
              this.get_data[i] = {
                id: k.id, text: k.text, is_delete: k.is_delete,
              };
            }
          }
          if (!dataExist) {
            const a = {
              id: k.id, text: k.text, is_delete: true,
            };
            this.get_data.push(a);
          }
        });
      } else {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              this.get_data.push(i);
            }
          });
        });
      }
    },
    getDataChange() {
      this.data_change = [];
      if (this.default_data.length > 0) {
        this.default_data.forEach((i) => {
          let dataExist = false;
          this.value.forEach((j) => {
            if (i.id === j) {
              dataExist = true;
            }
          });
          if (!dataExist) {
            const a = {
              id: i.id,
              text: i.text,
              is_delete: true,
            };
            this.data_change.push(a);
          }
        });
        this.value.forEach((k) => {
          let dataExist = false;
          this.data_change.forEach((j) => {
            if (k === j.id) {
              dataExist = true;
            }
          });
          this.default_data.forEach((j) => {
            if (k === j.id) {
              dataExist = true;
            }
          });
          if (!dataExist) {
            this.options.forEach((i) => {
              if (k === i.id) {
                this.data_change.push(i);
              }
            });
          }
        });
      } else {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              this.data_change.push(i);
            }
          });
        });
      }
    },
    getDataRelation() {
      this.data_relation = [];
      if (this.default_data.length > 0) {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              const a = {
                relation_id: 0,
                id: i.id,
                is_delete: i.is_delete,
              };
              this.data_relation.push(a);
            }
          });
        });
        this.default_data.forEach((k) => {
          let dataExist = false;
          for (let i = 0; i < this.data_relation.length; i += 1) {
            if (k.id === this.data_relation[i].id) {
              dataExist = true;
              this.data_relation[i] = k;
            }
          }
          if (!dataExist) {
            const a = {
              relation_id: k.relation_id, id: k.id, text: k.text, is_delete: true,
            };
            this.data_relation.push(a);
          }
        });
      } else {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              const a = {
                relation_id: 0,
                id: i.id,
                text: i.text,
                is_delete: i.is_delete,
              };
              this.data_relation.push(a);
            }
          });
        });
      }
    },
    getChangedDataRelation() {
      this.data_change_relation = [];
      if (this.default_data.length > 0) {
        this.default_data.forEach((i) => {
          let dataExist = false;
          this.value.forEach((j) => {
            if (i.id === j) {
              dataExist = true;
            }
          });
          if (!dataExist) {
            const a = {
              relation_id: i.relation_id,
              id: i.id,
              text: i.text,
              is_delete: true,
            };
            this.data_change_relation.push(a);
          }
        });
        this.value.forEach((k) => {
          let dataExist = false;
          this.data_change_relation.forEach((j) => {
            if (k === j.id) {
              dataExist = true;
            }
          });
          this.default_data.forEach((j) => {
            if (k === j.id) {
              dataExist = true;
            }
          });
          if (!dataExist) {
            this.options.forEach((i) => {
              if (k === i.id) {
                const a = {
                  relation_id: 0,
                  id: i.id,
                  text: i.text,
                  is_delete: i.is_delete,
                };
                this.data_change_relation.push(a);
              }
            });
          }
        });
      } else {
        this.options.forEach((i) => {
          this.value.forEach((j) => {
            if (i.id === j) {
              const a = {
                relation_id: 0,
                id: i.id,
                text: i.text,
                is_delete: i.is_delete,
              };
              this.data_change_relation.push(a);
            }
          });
        });
      }
    },
    setDataDefault() {
      this.value = [];
      this.defaultData.forEach((i) => {
        this.value.push(i.id);
        this.default_data.push(i);
      });
    },
    unSelectData() {
      this.value = null;
    },
    setEmptyDataDefault() {
      this.default_data = [];
      this.value = [];
      this.sendData();
    },
    selectAllData() {
      this.value = [];
      for (let i = 0; i < this.options.length; i += 1) {
        this.value.push(this.options[i]);
      }
    },
  },
};
</script>
