<template>
  <div class="co-attend-approver">
    <j-summary
      v-if="load_summary"
      :data-summary="data_summary"
      class="coattendance-summary"/>
    <br>

    <v-server-table
      v-show="load_first"
      ref="approverServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <!-- <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            :id="String(element.value_id+'_targetSearch')"
            class="btn grey btn-import-form"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div> -->

    </v-server-table>
    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :target="String(element.value_id+'_targetSearch')"
      :container="'form-search-popover' + element.value_id"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jSummary from '@/components/summary/summary';
import jApiOvertimeApprover from '@/services/overtime/jApiOvertimeApprover';

export default {
  components: {
    jLoadingTable,
    jSummary,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: false,
          href: 'sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: true,
          href: 'approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: 'rejected',
        },
        {
          status: 'Cancel',
          name: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: 'cancel',
        },
      ],

      load_summary: false,
      filtering: false,
      status: 'approved',
      filter_data: '',
      select_type: 'type',
      options_search: [
        {
          text: 'OVERTIME TYPE',
          value: 'type',
        },
      ],
      load_first: false,
      data_table: [],
      selected_rows: [],
      columns: ['employee_id', 'employee_name', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'created_date', 'updated_date'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['employee_id', 'employee_name', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'created_date', 'updated_date'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeApprover.getListApprover(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.filtering = false;
        this.$refs.approverServer.setFilter('');
      }
    },
    // eslint-disable-next-line
    '$route.params.statusApprover': function (val) {
      if (val !== 'create') {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const status = val;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'cancel') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
          this.$refs.approverServer.refresh();
        });
      }
    },
  },
  created() {
    this.getSummaryBlock();
  },
  methods: {

    loading(data) {
      const a = data;
      a.pagination.query_type = this.select_type;
      a.status = this.$route.params.statusApprover;
      if (this.load_first) {
        this.$refs.approverServer.loading = true;
        this.$refs.approverServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.filtering = true;
      this.$refs.approverServer.setFilter(val);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/approver/detail/${row.id}`);
    },

    getSummaryBlock() {
      this.filtering = false;
      this.data_summary.map((element) => {
        const item = element;
        jApiOvertimeApprover.getSummaryBlock(element.status.toLowerCase())
          .then((res) => {
            item.amounts = res.length;
          });
        return item;
      });
      this.$nextTick(() => {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const val = this.$route.params.statusApprover;
        const status = this.$route.params.statusApprover;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'cancel') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
        });
      });
    },
  },
};
</script>
