<template>
  <div class="co-attend-approver">
    <j-summary
      v-if="load_summary"
      :data-summary="data_summary"
      class="coattendance-summary"/>
    <br>

    <v-server-table
      v-show="load_first"
      ref="approverServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <!-- <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            :id="String(element.value_id+'_targetSearch')"
            class="btn grey btn-import-form"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div> -->

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows"
            @input="floatingPromptAction">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

    </v-server-table>
    <jLoadingTable v-if="!load_first"/>

    <div
      v-show="show_blank_footer"
      :style="`height: ${floatingHeight}px`"/>
    <j-floating-prompt
      ref="floating"
      class="floating-table"
    >
      <div
        ref="divFloating"
        class="row"
      >
        <div class="col-4">
          <div class="row align-items-center pl-3">
            <div
              ref="totalSelectedRow"
              class="total-selected-row"/>
            <div class="total-selected-row-label f--medium m__l--7">
              overtime request <br>selected
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <div
            v-b-toggle.detail-table
            class="f--medium"
            style="cursor: pointer"
            @click="show_detail = !show_detail">
            Details
            <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
          </div>
        </div>
        <div class="col-6">
          <div class="row m__t--22">
            <div class="col-12">
              <b-button
                class="btn icon red float-right"
                @click="closeAction">
                Unselect All
              </b-button>
              <b-button
                class="btn icon red m__r--10 float-right d-flex align-items-center"
                @click="rejectRecord">
                <i class="fa fa-ban"/>
                Reject
              </b-button>
              <b-button
                class="btn icon blue m__r--10 float-right d-flex align-items-center"
                @click="approveRecord">
                <i class="fa fa-check"/>
                Approve
              </b-button>
            </div>
          </div>
        </div>
        <j-collapse
          id="detail-table"
          :visible="show_detail"
          class="col-12">
          <v-client-table
            ref="detailTable"
            :columns="columns"
            :options="detail_options"
            :data="selected_rows"
            class="jTable table-floating-popup">
            <div
              slot="checkbox"
              slot-scope="props"
              class="jTableReport"
              @click.stop>
              <b-form-group>
                <b-form-checkbox-group
                  v-model="selected_rows">
                  <b-form-checkbox
                    :value="props.row"/>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
          </v-client-table>
        </j-collapse>
      </div>
    </j-floating-prompt>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :target="String(element.value_id+'_targetSearch')"
      :container="'form-search-popover' + element.value_id"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jSummary from '@/components/summary/summary';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiOvertimeApprover from '@/services/overtime/jApiOvertimeApprover';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';

export default {
  components: {
    jLoadingTable,
    jSummary,
  },
  mixins: [
    jMixFloatingPrompt,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: true,
          href: 'sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: 'approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: 'rejected',
        },
        {
          status: 'Cancel',
          name: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: 'cancel',
        },
      ],

      load_summary: false,
      filtering: false,
      status: 'sent',
      filter_data: '',
      select_type: 'type',
      options_search: [
        {
          text: 'OVERTIME TYPE',
          value: 'type',
        },
      ],
      load_first: false,
      data_table: [],
      selected_rows: [],
      columns: ['checkbox', 'employee_id', 'employee_name', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'created_date', 'updated_date'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          checkbox: this.headerID(),
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['employee_id', 'employee_name', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'created_date', 'updated_date'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeApprover.getListApprover(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
      detail_options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          checkbox: this.headerID(),
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['type'],
        perPage: 3,
        perPageValues: [3, 5, 10, 20, 50, 100],
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.filtering = false;
        this.$refs.approverServer.setFilter('');
      }
    },
    // eslint-disable-next-line
    '$route.params.statusApprover': function (val) {
      if (val !== 'create') {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const status = val;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'cancel') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
          this.$refs.approverServer.refresh();
        });
      }
    },
  },
  created() {
    this.getSummaryBlock();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionChangeStatusOvertime']),

    loading(data) {
      const a = data;
      a.pagination.query_type = this.select_type;
      a.status = this.$route.params.statusApprover;
      if (this.load_first) {
        this.$refs.approverServer.loading = true;
        this.$refs.approverServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.filtering = true;
      this.$refs.approverServer.setFilter(val);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/approver/detail/${row.id}`);
    },

    getSummaryBlock() {
      this.filtering = false;
      this.data_summary.map((element) => {
        const item = element;
        jApiOvertimeApprover.getSummaryBlock(element.status.toLowerCase())
          .then((res) => {
            item.amounts = res.length;
          });
        return item;
      });
      this.$nextTick(() => {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const val = this.$route.params.statusApprover;
        const status = this.$route.params.statusApprover;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'cancel') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
        });
      });
    },

    approveRecord() {
      if (this.selected_rows.length > 0) {
        this.$swal({
          title: 'Are you sure want to approve selected overtime(s)?',
          input: 'text',
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
          inputValidator: (value) => {
            if (!value) {
              return 'You need to write something!';
            }
            return '';
          },
        }).then(async (result) => {
          if (!result.dismiss) {
            const params = {
              action: 'approve',
              note: result.value,
            };

            const promises = this.selected_rows.map(async (val) => {
              await this.actionChangeStatusOvertime({ id: val.id, params });
            });
            await Promise.all(promises);
            this.getSummaryBlock();
            this.$refs.approverServer.refresh();
            this.selected_rows = [];
          }
        });
      }
    },
    rejectRecord() {
      if (this.selected_rows.length > 0) {
        this.$swal({
          title: 'Are you sure want to reject selected overtime(s)?',
          input: 'text',
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
          inputValidator: (value) => {
            if (!value) {
              return 'You need to write something!';
            }
            return '';
          },
        }).then(async (result) => {
          if (!result.dismiss) {
            const params = {
              action: 'reject',
              note: result.value,
            };

            const promises = this.selected_rows.map(async (val) => {
              await this.actionChangeStatusOvertime({ id: val.id, params });
            });
            await Promise.all(promises);
            this.getSummaryBlock();
            this.$refs.approverServer.refresh();
            this.selected_rows = [];
          }
        });
      }
    },
  },
};
</script>
