<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="12">
        <div>
          <j-title-header :options="EmployeeDocumentOption"/>
          <j-employee-document/>
        </div>
        <div>
          <j-title-header :options="FamilyDepentdantOption"/>
          <j-family-dependant
            @refresh-options="refreshOptions"/>
        </div>
        <div>
          <j-title-header :options="EmergencyContactOption"/>
          <j-emergency-contact
            :refresh="refresh_relations"/>
        </div>
        <div>
          <j-title-header :options="BusinessLineOption"/>
          <j-business-line/>
        </div>
        <div>
          <j-title-header :options="MedicalInformationOption"/>
          <j-medical-record/>
        </div>
      </b-col>

      <!-- <b-col
        sm="12"
        md="3">
        <div class="jHeaderTitle">
          <b-row>
            <b-col>
              <i class="fa fa-clock-o"/>
              <h4>Recent Activity</h4>
            </b-col>
          </b-row>
          <hr>
          <div class="w-100 text-center">
            <b-button
              class="btn blue"
              @click="openLogModal">
              Show Log
            </b-button>
          </div>
        </div>
      </b-col> -->
    </b-row>

    <b-modal
      ref="logModal"
      class="mod-form modal-activity-log"
      centered>
      <div>
        <j-modal-activity-log
          v-if="isOpen"
          :data-log="activity_logs"
          :employee-id="data_employee.employee_id"
          :join-date="data_employee.join_date"
          @close-modal="closeLogModal"/>
      </div>
    </b-modal>

  </div>
</template>

<script>
import { mapState } from 'vuex';
import JFamilyDependant from './family-dependant/jFamilyDependant';
import JMedicalRecord from './medical-record/jMedicalRecord';
import jEmergencyContact from './emergency-contact/jEmergencyContact';
import jEmployeeDocument from './employee-document/jEmployeeDocument';
import jBusinessLine from './business-line/jBusinessLine';
import jModalActivityLog from '../jModalActivityLog';

export default {
  name: 'JReference',
  components: {
    JFamilyDependant,
    jEmergencyContact,
    JMedicalRecord,
    jEmployeeDocument,
    jBusinessLine,
    jModalActivityLog,
  },
  data() {
    return {
      isOpen: false,
      data_employee: {
        employee_id: '',
        join_date: null,
      },
      refresh_relations: false,
      FamilyDepentdantOption: {
        icon: 'fa-user',
        main_title: 'Family and Dependant',
        opt_title: '',
      },
      EmergencyContactOption: {
        icon: 'fa-user',
        main_title: 'Emergency Contact',
        opt_title: '',
      },
      BusinessLineOption: {
        icon: 'fa-user',
        main_title: 'Business Line',
        opt_title: '',
      },
      MedicalInformationOption: {
        icon: 'fa-user',
        main_title: 'Medical Information',
        opt_title: '',
      },
      EmployeeDocumentOption: {
        icon: 'fa-user',
        main_title: 'Employee Document',
        opt_title: '',
      },
      activityLogsOption: {
        icon: 'fa-clock',
        main_title: 'Employee Document',
        opt_title: '',
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['activity_logs', 'employee_detail']),

  },
  watch: {
    employee_detail(newVal) {
      const employeeForm = {
        employee_id: newVal.employee_id,
        join_date: newVal.company.join_date && newVal.company.join_date !== '0000-00-00' ? newVal.company.join_date : null,
      };
      this.data_employee = employeeForm;
    },
  },
  methods: {
    refreshOptions(val) {
      this.refresh_relations = val;
    },
    closeLogModal() {
      this.$refs.logModal.hide();
      this.isOpen = false;
    },
    openLogModal() {
      this.isOpen = true;
      this.$refs.logModal.show();
    },
  },
};
</script>
