<template>
  <div>
    <div>
      <j-employee-form-update
        ref="employeeForm"
        mode="update"
        @data="getData"/>
    </div>

    <b-row>
      <b-col md="12">
        <div class="float-right m__t--20">
          <b-button
            v-if="isAdmin"
            class="btn blue"
            @click="saveUpdateEmployee">
            Update
          </b-button>
        </div>
      </b-col>
    </b-row>
    <br>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import jEmployeeFormUpdate from './jEmployeeFormUpdate';

export default {
  components: {
    jEmployeeFormUpdate,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      employee_data: null,
    };
  },
  computed: {
    ...mapState('jStorePayrollInfo', ['update_availability']),

    generateData() {
      const dataRoles = [];
      this.employee_data.role.forEach((val) => {
        dataRoles.push(val.id);
      });
      const dataSecMapp = [];
      this.employee_data.secretary_mode_mapping.forEach((val) => {
        dataSecMapp.push(val.id);
      });
      const genData = {
        id: this.employee_data.id,
        email: this.employee_data.email,
        employee_id: this.employee_data.employee_id,
        personal_email: this.employee_data.personal_email,
        new_password: this.employee_data.password ? this.employee_data.password : '',
        first_name: this.employee_data.first_name,
        last_name: this.employee_data.last_name ? this.employee_data.last_name : '',
        group_id: this.employee_data.teams ? this.employee_data.teams.id : 0,
        roles: dataRoles,
        user_role: this.employee_data.user_role,
        code: this.employee_data.code,
        join_date: this.employee_data.join_date,
        resign_date: this.employee_data.end_date,
        photo_url: this.employee_data.photo || '',
        phone_number: this.employee_data.phone_number,
        date_of_birth: this.employee_data.date_of_birth,
        place_of_birth: this.employee_data.place_of_birth,
        bank_account_name: this.employee_data.bank_name ? this.employee_data.bank_name.name : '',
        bank_account_number: this.employee_data.bank_account_number,
        bank_account_owner: this.employee_data.bank_account_holder_name,
        bank_account_branch: this.employee_data.bank_account_branch,
        contract_type: this.employee_data.employment_type ? this.employee_data.employment_type : '',
        type_of_contract: this.employee_data.contract_type ? this.employee_data.contract_type : '',
        active_reason: this.employee_data.active_reason ? this.employee_data.active_reason : '',
        non_active_reason: this.employee_data.nonactive_reason ? this.employee_data.nonactive_reason : '',
        secretary_mode: this.employee_data.secretary_mode,
        secretary_mode_list_team: dataSecMapp,
        country_id: this.employee_data.country ? this.employee_data.country.id : 0,
        employee_status: this.employee_data.employee_status ? this.employee_data.employee_status.id : 0,
        other_name: this.employee_data.other_name,
        gender: this.employee_data.gender,
        nationality_type: this.employee_data.nationality_type ? this.employee_data.nationality_type : null,
        identity_type: this.employee_data.id_type ? this.employee_data.id_type.text : '',
        passport_expired_date: this.employee_data.exp_date ? this.employee_data.exp_date : '',
        identity_no: this.employee_data.id_number,
        fax_number: 0,
        religion: this.employee_data.religion,
        marital_status: this.employee_data.marital_status,
        home_address: this.employee_data.home_address,
        postal_code: this.employee_data.postal_code,
        about: this.employee_data.notes,
        title: '',
        tax_identification_number: 0,
        bpjs_ketenagakerjaan: '',
        bpjs_kesehatan: '',
        ptkp: '',
        max_disbursed_count: 0,
        province_id: this.employee_data.province ? this.employee_data.province : '',
        city_id: this.employee_data.city ? this.employee_data.city : '',
        office_country_id: this.employee_data.office_country ? this.employee_data.office_country : '',
        office_province_id: this.employee_data.office_province ? this.employee_data.office_province : '',
        office_city_id: this.employee_data.office_city ? this.employee_data.office_city : '',
        contract_start_date: this.$moment(this.employee_data.contract_start_date).format('YYYY-MM-DD'),
        contract_end_date: this.$moment(this.employee_data.contract_end_date).format('YYYY-MM-DD'),
        location_id: this.employee_data.company_location ? this.employee_data.company_location : '',
        address: this.employee_data.address ? this.employee_data.address : '',
        office_address: this.employee_data.office_address ? this.employee_data.office_address : '',
        address_type: this.employee_data.address_type ? this.employee_data.address_type : '',
        address_2: this.employee_data.address_2 ? this.employee_data.address_2 : '',
        address_3: '',
        post_code: '',
        iban: '',
        managers: [],
        salutation: '',
        passport_no: '',
        passport_issuing: '',
        passport_issuing_date: '',
        passport_nationality: '',
        employment_type_id: this.employee_data.employment_type_id ? this.employee_data.employment_type_id : 0,
        employment_subtype_id: this.employee_data.employment_subtype_id ? this.employee_data.employment_subtype_id : 0,
      };
      return genData;
    },

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  mounted() {
    const userCompanyId = {
      id: Number(this.$route.params.id),
    };
    this.detailEmployee(userCompanyId);
  },
  created() {
    this.getTypeEmployee();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['updateEmployee', 'deleteEmployee', 'getTypeEmployee', 'detailEmployee']),

    getData(data) {
      this.employee_data = data;
    },

    async saveUpdateEmployee() {
      this.$refs.employeeForm.save();
      if (this.employee_data !== null) {
        const res = await this.updateEmployee(this.generateData);
        if (!res.error) {
          if (this.oosRoute !== '') {
            this.$router.push(`${this.oosRoute}/employee`);
          } else {
            this.$router.push('/employee');
          }
        }
      }
    },
  },
};
</script>
