<template>
  <div>
    <b-row>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_employee.email.$error}">
          <label> Email </label>
          <j-input
            v-model="$v.data_employee.email.$model"
            :max-length="50"
            :error-message="errMessage"
            placeholder="Email"
            type="email"/>
        </b-form-group>
      </b-col>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_employee.password.$error}">
          <label> Password </label>
          <j-input
            v-model="$v.data_employee.password.$model"
            :max-length="50"
            placeholder="Password"/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_employee.first_name.$error}">
          <label> First Name </label>
          <j-input
            v-model="$v.data_employee.first_name.$model"
            :max-length="50"
            placeholder="First Name"/>
        </b-form-group>
      </b-col>
      <b-col
        md="6">
        <b-form-group>
          <label> Last Name </label>
          <j-input
            v-model="data_employee.last_name"
            :max-length="50"
            placeholder="Last Name"/>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <!-- <b-col
        md="6">
        <b-form-group :class="{'error-input' : $v.data_employee.code.$error}">
          <label> Employee Code </label>
          <j-input
            v-model="$v.data_employee.code.$model"
            :max-length="50"
            placeholder="Employee Code"/>
        </b-form-group>
      </b-col> -->
      <b-col
        md="6">
        <b-form-group class="m__t--18">
          <!-- <j-checkbox
            v-model="data_employee.is_payroll_user">
            Payroll User
          </j-checkbox> -->

          <label class="container-checkbox">
            <input
              v-model="data_employee.is_payroll_user"
              type="checkbox"
            >
            <span class="checkmark"/>
            Payroll User
          </label>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  validations: {
    data_employee: {
      id: {

      },
      email: {
        required, email,
      },
      password: {
        required,
      },
      first_name: {
        required,
      },
      // code: {
      //   required,
      // },
    },
  },
  data() {
    return {
      data_employee: {
        id: 0,
        email: '',
        password: '',
        first_name: '',
        last_name: '',
        // code: '',
        is_payroll_user: true,
      },
    };
  },
  computed: {
    errMessage() {
      if (!this.$v.data_employee.email.required) {
        return 'Field is required';
      } else if (!this.$v.data_employee.email.email) {
        return 'Email is not valid';
      }
      return 'Field is required';
    },
  },
  watch: {
    // eslint-disable-next-line
    'data_employee.email': function(val) {
      const data = val.replace(/\s/g, '');
      this.data_employee.email = data;
    },
  },
  methods: {
    save() {
      this.$v.data_employee.$touch();
      if (!this.$v.data_employee.$error) {
        this.$emit('data', this.data_employee);
      } else {
        this.$emit('data', null);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
/* The container-checkbox */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: solid 1px #ced4da;
}

/* On mouse-over, add a grey background color */
// .container-checkbox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #42a5ce;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
