<template>
  <div>
    <j-title-header :options="title"/>
    <div>
      <j-employee-form
        ref="employeeForm"
        mode="create"
        @data="getData"/>
    </div>
    <br>
    <b-row>
      <b-col>
        <div class="float-to-right">
          <b-button
            class="btn gray m__r--5"
            @click="closeModal">
            Close
          </b-button>
          <b-button
            class="btn blue"
            @click="saveCreateEmployee">
            Submit
          </b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jEmployeeForm from './jEmployeeForm';

export default {
  components: {
    jEmployeeForm,
  },
  data() {
    return {
      employee_data: null,
      title: {
        main_title: 'CREATE EMPLOYEE',
      },
    };
  },
  computed: {
    generateData() {
      const genData = {
        email: this.employee_data.email ? this.employee_data.email : '',
        password: this.employee_data.password ? this.employee_data.password : '',
        first_name: this.employee_data.first_name ? this.employee_data.first_name : '',
        last_name: this.employee_data.last_name ? this.employee_data.last_name : '',
        code: this.employee_data.code ? this.employee_data.code : '',
        is_payroll_user: this.employee_data.is_payroll_user,
        employee_status: true,
        secretary_mode: false,
      };
      return genData;
    },
  },
  methods: {
    ...mapActions('jStoreEmployee', ['createEmployee']),

    getData(data) {
      this.employee_data = data;
    },
    closeModal() {
      this.$emit('close-modal', true);
    },
    async saveCreateEmployee() {
      this.$refs.employeeForm.save();
      if (this.employee_data !== null) {
        const res = await this.createEmployee(this.generateData);
        if (!res.error) {
          this.$emit('close-modal', true);
        }
      }
    },
  },
};
</script>
