<template>
  <section>
    <div
      v-if="show_reminder"
      class="warning">
      <img
        src="@/assets/icon/warning@3x.png"
        width="20"
        height="20">
      <p>Your subscription will expired {{ when_exp }}</p>
      <div
        class="close-warning"
        @click="closeReminder">
        <i
          class="fa fa-times"
          aria-hidden="true" />
      </div>
    </div>

    <div
      v-if="show_reminder_danger"
      class="warning red">
      <img
        src="@/assets/icon/warning@3x.png"
        width="20"
        height="20">
      <p>Your subscription will expired {{ when_exp }}</p>
      <div
        class="close-warning"
        @click="closeReminder">
        <i
          class="fa fa-times"
          aria-hidden="true" />
      </div>
    </div>

    <b-modal
      ref="expiredRef"
      class="mod-form mod-expired"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div class="text-center expired-body">
        <img
          src="@/assets/img/subscription-expired.png">
        <h3>Sorry, your subscription has been expired</h3>
        <p>Please contact Customer Support to extend the subscription period.</p>
      </div>
    </b-modal>
  </section>
</template>
<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      when_exp: '',
      now_date: '',
      show_reminder: false,
      show_reminder_danger: false,
    };
  },
  computed: {
    ...mapState('jStoreLogin', ['profile_data']),
  },
  watch: {
    profile_data(val) {
      if (val && val.expired_date) {
        /* eslint-disable */
        var date = new Date();
        var exp = val.expired_date.split(' ');
        // var exp = "2021-04-19 22:48:15".split(' ');
        this.now_date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
        this.when_exp = this.$moment(val.expired_date, "YYYY-MM-DD hh:mm:ss").fromNow();
        const diff_times = this.datediff(this.parseDate(this.now_date), this.parseDate(exp[0]));

        // console.log(val)

        // CALCULATE DAYS
        if(diff_times <= 14 && diff_times > 3) {
          this.show_reminder = true;
        }

        if(diff_times <= 3) {
          this.show_reminder_danger = true;
        }

        if(diff_times <= 0) {
          this.$refs.expiredRef.show();
        }
      }
    },
  },
  methods: {
    closeReminder() {
      this.show_reminder = false;
      this.show_reminder_danger = false;
    },
    parseDate(str) {
      const mdy = str.split('-');
      return new Date(mdy[0], mdy[1], mdy[2] - 1);
    },
    datediff(first, second) {
      return Math.round((second-first) / (1000 * 60 * 60 * 24));
    },
  },
}
</script>
<style scoped>
.warning {
  background: #f39d2caa;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  text-align: center;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appearance 5s forwards;
}

.warning.red {
  background: #ff4c04 !important;
}

.warning .close-warning {
  position: absolute;
  right: 21px;
  font-weight: bold;
}

.warning .close-warning:hover {
  cursor: pointer;
}

.warning p{
  margin-bottom: 0;
  margin-left: 10px;
}

.expired-body img{
  margin-bottom: 20px;
  width: 27%;
}

.expired-body h3{
  font-size: 16px;
  color: #606060 !important;
}

.expired-body p{
  width: 60%;
  margin: 0 auto;
}

@keyframes appearance {
  from {
    top:-100px;
  }
  to {
    top: 52.3px;
  }
}
</style>
