<template>
  <div>
    <div class="row">
      <div class="col-12">
        <j-summary
          v-if="load_summary"
          :data-summary="data_summary"
          class="coattendance-summary"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <v-server-table
          v-show="load_first"
          ref="approverTable"
          :columns="columns"
          :options="table_options"
          class="jTable"
          @loading="loading"
          @loaded="loaded"
          @row-click="openDetail">
          <div
            slot="id"
            slot-scope="props"
            class="jTableReport"
            @click.stop>
            <b-form-group
              :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
              <b-form-checkbox-group
                v-model="selected_rows"
                @input="floatingPromptAction">
                <b-form-checkbox
                  :value="props.row"/>
              </b-form-checkbox-group>
            </b-form-group>
          </div>
          <div
            slot="staff"
            slot-scope="props"
            class="d-flex align-items-center">
            <img
              :src="photoUrl(props.row.photo)"
              class="photo-profile m__r--10">
            <span>
              {{ props.row.email }} <br>
              {{ props.row.employee_name }}
            </span>
          </div>
          <div
            slot="organization_unit"
            slot-scope="props">
            {{ props.row.organization_unit || '-' }}
          </div>
          <div
            slot="type"
            slot-scope="props">
            {{ props.row.type }}
          </div>
        </v-server-table>
      </div>
      <div class="col-12">
        <div
          v-show="show_blank_footer"
          style="height: 100px"/>
        <j-floating-prompt
          ref="floating"
          @close-floating-prompt="closeAction">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div
                  ref="totalSelectedRow"
                  class="col-1 total-selected-row"/>
                <div class="col-7 total-selected-row-label f--medium m__t--13 m__l--7">
                  leave request <br>selected
                </div>
              </div>
            </div>
            <div
              class="col-2 m__t--20">
              <div
                v-b-toggle.detail-table
                class="f--medium"
                style="cursor: pointer"
                @click="show_detail = !show_detail">
                Details
                <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
              </div>
            </div>
            <div class="col-6">
              <div class="row m__t--22">
                <div class="col-12 p__r--50">
                  <b-button
                    class="btn icon brown float-right"
                    @click="onClickAction('abort')">
                    <i class="fa fa-trash"/>
                    Abort
                  </b-button>
                </div>
              </div>
            </div>
            <j-collapse
              id="detail-table"
              :visible="show_detail"
              class="col-12">
              <v-client-table
                ref="detailTable"
                :columns="columns"
                :options="detail_table_options"
                :data="selected_rows"
                class="jTable">
                <div
                  slot="id"
                  slot-scope="props"
                  class="jTableReport"
                  @click.stop>
                  <b-form-group
                    :class="showCheckbox(props.row.start_date) ? 'show-checkbox' : 'hide-checkbox'">
                    <b-form-checkbox-group
                      v-model="selected_rows">
                      <b-form-checkbox
                        :value="props.row"/>
                    </b-form-checkbox-group>
                  </b-form-group>
                </div>
                <div
                  slot="staff"
                  slot-scope="props"
                  class="d-flex align-items-center">
                  <img
                    :src="photoUrl(props.row.photo)"
                    class="photo-profile m__r--10">
                  <span>
                    {{ props.row.email }} <br>
                    {{ props.row.name }}
                  </span>
                </div>
                <div
                  slot="type"
                  slot-scope="props">
                  {{ props.row.type_name }}
                </div>
              </v-client-table>
            </j-collapse>
          </div>
        </j-floating-prompt>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable func-names,no-param-reassign,no-lonely-if */
import { mapActions } from 'vuex';
import jApiOvertimeMonitor from '@/services/overtime/jApiOvertimeMonitor';

export default {
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      show_detail: false,
      show_blank_footer: false,
      selected_rows: [],
      status_color: 'sent',
      status: 'Sent',
      load_summary: false,
      load_first: false,
      data_table: null,
      dataFilter: {
        start_date: this.monthAgo(),
        end_date: new Date(),
      },
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: true,
          href: 'sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: 'approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: 'rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '‏‏‎ ‎',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: 'canceled',
        },
      ],
      columns: ['employee_id', 'staff', 'organization_unit', 'type', 'start_date', 'end_date', 'overtime_hours', 'created_date'],
      table_options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          staff: 'STAFF',
          organization_unit: 'ORGANIZATION UNIT',
          type: 'TYPE',
          start_date: 'START DATE',
          end_date: 'END DATE',
          overtime_hours: 'OVERTIME HOURS',
          created_date: 'CREATED DATE',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['created_date'],
        orderBy: {
          ascending: false,
          column: 'status',
        },
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
            },
          };
        },
        requestFunction({ pagination }) {
          const list = jApiOvertimeMonitor.getListMonitor(pagination);
          return list.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          const approverData = data.data;
          return {
            data: approverData || [],
            count: data.length,
          };
        },
      },
      detail_table_options: {
        headings: {
          id: this.headerID(),
          type: 'TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          note: 'NOTE',
          created_date: 'CREATED DATE',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['type'],
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },
  watch: {
    '$route.params.statusMonitor': function (val) {
      this.load_summary = false;
      this.data_summary.map((item) => {
        const data = item;
        data.active = false;
        return data;
      });
      const status = val;
      this.status_color = val;
      this.status = status.charAt(0).toUpperCase() + status.slice(1);
      if (val === 'sent') {
        this.data_summary[0].active = true;
      } else if (val === 'approved') {
        this.data_summary[1].active = true;
      } else if (val === 'rejected') {
        this.data_summary[2].active = true;
      } else if (val === 'canceled') {
        this.data_summary[3].active = true;
      }
      this.$nextTick(() => {
        this.load_summary = true;
        this.$refs.approverTable.refresh();
      });
    },
    selected_rows(val) {
      if (val.length > 0) {
        this.show_blank_footer = true;
        this.$refs.floating.show();
      } else {
        this.show_blank_footer = false;
        this.$refs.floating.hide();
      }
    },
  },
  created() {
    const val = this.$route.params.statusMonitor;
    this.load_summary = false;
    this.data_summary.map((item) => {
      const data = item;
      data.active = false;
      return data;
    });
    const status = val;
    this.status_color = val;
    this.status = status.charAt(0).toUpperCase() + status.slice(1);
    if (val === 'sent') {
      this.data_summary[0].active = true;
    } else if (val === 'approved') {
      this.data_summary[1].active = true;
    } else if (val === 'rejected') {
      this.data_summary[2].active = true;
    } else if (val === 'canceled') {
      this.data_summary[3].active = true;
    }
    this.$nextTick(() => {
      this.load_summary = true;
    });

    this.$nextTick(() => {
      this.load_summary = true;
      this.getDataSummaryBlock();
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading']),
    ...mapActions('jStoreLeaveApprover', ['actionApproval', 'onSetBackProperties']),
    headerID() {
      return <input type="checkbox" checked disabled class="header-id"/>;
    },
    loading(val) {
      const a = val.pagination;
      a.start_date = this.$moment(this.dataFilter.start_date).format('YYYY-MM-DD');
      a.end_date = this.$moment(this.dataFilter.end_date).format('YYYY-MM-DD');
      a.status = this.$route.params.statusMonitor;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    getDataSummaryBlock() {
      const req = {
        data: {
          is_manager: true,
        },
      };

      jApiOvertimeMonitor.getSummaryBlock(req).then((resp) => {
        this.data_summary.map((element) => {
          const item = element;
          resp.data.summary_block.forEach((block) => {
            if (item.status.toLowerCase() === block.status) {
              item.amounts = Number(block.count);
            }
          });
          return item;
        });
      });
    },
    photoUrl(val) {
      if (val === '') {
        return 'https://corp.jojonomic.com/assets/img/user3.png'; // '../../../../assets/icon/user3.png';
      }
      return val;
    },
    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/monitor/detail/${row.id}`);
    },
    floatingPromptAction() {
      this.$refs.totalSelectedRow.textContent = this.selected_rows.length;
    },
    closeAction() {
      this.show_blank_footer = false;
    },
    onClickAction(val) {
      this.selected_rows.forEach((element) => {
        const req = {
          id: element.id,
          action: val,
        };
        this.actionApproval(req);
      });
    },
    monthAgo() {
      const date = new Date();
      date.setDate(date.getDate() - 31);
      return date;
    },
    showCheckbox(startDate) {
      const date = new Date();
      const dateString = this.$moment(date).format('YYYY-MM-DD');
      if (dateString < startDate) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style lang="scss">
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .monitor-summary {
    .col-md-6 {
      min-width: 20%;
      max-width: 20%;
    }
  }
  .hide-checkbox {
    visibility: hidden;
  }
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
  .header-id {
    width: 20px;
    height: 20px;
  }
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    &.up {
      transform: rotate(180deg);
    }
  }
</style>
