<template>
  <div>

    <b-row class="m__b--5">
      <b-col
        :class="checkout_frauds[0].is_photo_fraud ? 'fraud-content-box' : ''"
        class="p__t--5 p__b--5"
        cols="12">
        <h4 :class="checkout_frauds[0].is_photo_fraud ? 'fraud-header' : ''">
          Photo
          <h4
            v-if="checkout_frauds[0].is_photo_fraud"
            class="d-inline">
            Not Match
          </h4>
        </h4>
        <b-row class="justify-content-center">
          <b-col cols="5">
            <img
              :src="checkout_frauds[0].profile_url"
              class="fraud-photo-profile">
            <div class="caption text-center p__b--0">
              <p class="m__b--0">Photo profile</p>
            </div>
          </b-col>
          <b-col cols="5">
            <img
              :src="checkout_frauds[0].attendance_url"
              class="fraud-photo-profile">
            <div class="caption text-center p__b--0">
              <p class="m__b--0">Checkin photo</p>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row class="m__b--5">
      <b-col
        :class="checkout_frauds[0].is_time_fraud ? 'fraud-content-box' : ''"
        class="p__t--5 p__b--5"
        cols="12">
        <h4 :class="checkout_frauds[0].is_time_fraud ? 'fraud-header' : ''">
          Time
          <h4
            v-if="checkout_frauds[0].is_time_fraud"
            class="d-inline">
            Not Match
          </h4>
        </h4>
        <b-row>
          <b-col
            cols="5">
            <b-form-group>
              <label>Device</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="7">
            <b-form-group>
              {{ milisToHours(checkout_frauds[0].date_time) }}
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="5">
            <b-form-group>
              <label>Server</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="7">
            <b-form-group>
              {{ milisToHours(checkout_frauds[0].server_time) }}
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row class="m__b--5">
      <b-col
        :class="checkout_frauds[0].is_location_fraud ? 'fraud-content-box' : ''"
        class="p__t--5 p__b--5"
        cols="12">
        <h4 :class="checkout_frauds[0].is_location_fraud ? 'fraud-header' : ''">
          Location
          <h4
            v-if="checkout_frauds[0].is_location_fraud"
            class="d-inline">
            Not Match
          </h4>
        </h4>
        <b-row>
          <b-col
            cols="5">
            <b-form-group>
              <label>Venue</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="7">
            <b-form-group>
              {{ checkout_frauds[0].is_location_fraud ? checkout_frauds[0].location : 'ON VENUE' }}
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="5">
            <b-form-group>
              <label>Location</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="7">
            <b-form-group>
              {{ checkout_frauds[0].is_location_fraud ? 'NO' : 'YES' }}
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        :class="checkout_frauds[0].is_device_changed ? 'fraud-content-box' : ''"
        class="p__t--5 p__b--5"
        cols="12">
        <h4 :class="checkout_frauds[0].is_device_changed ? 'fraud-header' : ''">
          Device
          <h4
            v-if="checkout_frauds[0].is_device_changed"
            class="d-inline">
            Not Match
          </h4>
        </h4>
        <b-row>
          <b-col
            cols="5">
            <b-form-group>
              <label>Compare with previous device</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="7">
            <b-form-group>
              {{ checkout_frauds[0].is_device_changed ? 'Device changed' : 'Device OK' }}
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

  </div>
</template>

<script>
import moment from 'moment-timezone';

export default {
  data() {
    return {
      checkout_frauds: [
        {
          attendance_url: 'https://jojo-receipt-new.s3.amazonaws.com/2737/5f8cf0bb3e59c-1A340FFF-40FD-4038-BF63-55A36166D0E7-1603072155.077418.jpg',
          date_time: '1603072154000',
          id: 15302603,
          is_device_changed: true,
          is_location_fraud: true,
          is_photo_fraud: false,
          is_time_fraud: true,
          location: 'Vila Pertiwi Estate, Cimanggis',
          profile_url: 'https://jojo-receipt-new.s3.amazonaws.com/2737/5de642458ab50-0c62a51fec3d56e535b65a914ccbbeef2a0d6083-1575371331177.jpg',
          server_time: '2003072188000',
          similarity: 0,
          timezone: 'Asia/Jakarta',
        },
      ],
    };
  },
  methods: {
    milisToHours(val) {
      // eslint-disable-next-line
      return moment.tz(parseInt(val), this.checkout_frauds[0].timezone).format('HH:mm');
    },
  },
};
</script>

<style lang="scss">
  .fraud-photo-profile {
    width: 100%;
    border: 1px solid #999999;
    border-radius: 5px;
    object-fit: cover;
    height: 250px;
  }

  .fraud-content-box {
    background-color: #EDA8AC;
    border-radius: 5px;

    .fraud-header {
      color: red;
    }
  }
</style>
