<template>
  <div class="fraud-info-detail">
    <div
      :class="{'red-border' : data && isPhotoFraud}"
      class="fraud-photo-wrap">
      <img :src="photoProfile">
      <img :src="photoAttendance">
    </div>
    <div class="fraud-item-wrap d-flex justify-content-between align-items-center">
      <div class="item-title">Similarity</div>
      <p>{{ similarity !== '' ? `${similarity}%` : 'No Data' }}</p>
    </div>
    <div class="fraud-item-wrap">
      <div class="item-title">Time</div>
      <div>
        <h5>Device</h5>
        <p>{{ deviceTime }}</p>
        <h5>Server</h5>
        <p>{{ serverTime }}</p>
      </div>
    </div>
    <div class="fraud-item-wrap">
      <div class="item-title">Location</div>
      <div class="d-flex justify-content-between align-items-center">
        <p style="width: 70%;">{{ location }}</p>
        <div>
          <p
            v-if="data && isLocationFraud"
            class="not-matched">Not Matched</p>
          <p
            v-else-if="data && !isLocationFraud"
            class="matched">Matched</p>
        </div>
      </div>
    </div>
    <div class="fraud-item-wrap">
      <div class="item-title">Device</div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h5>Last Device</h5>
          <p>{{ previousDevice }}</p>
          <h5>Device Now</h5>
          <p>{{ currenctDevice }}</p>
        </div>
        <div>
          <p
            v-if="data && isDeviceChanged"
            class="not-matched">Not Matched</p>
          <p
            v-else-if="data && !isDeviceChanged"
            class="matched">Matched</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment-timezone';

export default {
  props: {
    data: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      photoProfile: '',
      photoAttendance: '',
      similarity: '',
      deviceTime: '',
      serverTime: '',
      location: '',
      currenctDevice: '',
      previousDevice: '',
      isPhotoFraud: false,
      isLocationFraud: false,
      isDeviceChanged: false,
      timezone: 'Asia/Jakarta',
    };
  },

  computed: {
    defaultPhoto() {
      // eslint-disable-next-line global-require
      const photo = require('@/assets/img/no-photo-available.png');
      return photo;
    },
  },

  watch: {
    data(val) {
      if (val) {
        this.photoProfile = val.profile_url;
        this.photoAttendance = val.attendance_url;
        this.similarity = val.similarity;
        this.deviceTime = this.milisToHours(val.date_time);
        this.serverTime = this.milisToHours(val.server_time);
        this.location = val.location || '-';
        this.currenctDevice = val.current_device ? val.current_device.device_version : '-';
        this.previousDevice = val.previous_device ?
          val.previous_device.device_version : this.currenctDevice;
        this.isPhotoFraud = val.is_photo_fraud;
        this.isLocationFraud = val.is_location_fraud;
        this.isDeviceChanged = val.is_device_changed;
        this.timezone = val.timezone;
      } else {
        this.photoProfile = this.defaultPhoto;
        this.photoAttendance = this.defaultPhoto;
        this.similarity = '';
        this.deviceTime = 'No Data';
        this.serverTime = 'No Data';
        this.location = 'No Data';
        this.currenctDevice = 'No Data';
        this.previousDevice = 'No Data';
        this.isPhotoFraud = false;
        this.isLocationFraud = false;
        this.isDeviceChanged = false;
        this.timezone = 'Asia/Jakarta';
      }
    },
  },

  methods: {
    milisToHours(val) {
      // eslint-disable-next-line
      return moment.tz(parseInt(val), this.timezone).format('HH:mm');
    },
  },
};
</script>
