<template>
  <div class="modal-fraud-body">
    <fieldset>

      <h2 style="font-size: 18px">
        <i class="fa fa-exclamation-triangle"/>
        Fraud Detected
        <span
          class="btn-close-modal"
          @click="closeFraudModal">
          ×
        </span>
      </h2>

      <j-tabs :tabs="tabs">
        <div
          id="tab-container"
          class="tab-content p--0">
          <div
            v-for="i in tabs"
            :key="i.id"
            :id="i.idComp"
            :aria-labelledby="i.idTab"
            role="tabpanel"
            class="tab-pane" >
            <component
              :is="i.comp"
            />
          </div>
        </div>
      </j-tabs>

    </fieldset>
  </div>
</template>

<script>
import jCheckInFraud from './jCheckInFraud';
import jCheckOutFraud from './jCheckOutFraud';

export default {
  data() {
    return {
      tabs: [
        {
          idTab: 'tabFraud-1',
          title: 'Check In',
          idComp: 'compFraud-1',
          comp: jCheckInFraud,
          isShow: true,
        },
        {
          idTab: 'tabFraud-2',
          title: 'Check Out',
          idComp: 'compFraud-2',
          comp: jCheckOutFraud,
          isShow: true,
        },
      ],
    };
  },
  methods: {
    closeFraudModal() {
      this.$emit('modal-open', false);
    },
  },
};
</script>

<style lang="scss">
  .modal-fraud .modal-dialog {
    max-width: 600px !important;
  }

  .modal-fraud-body {
    color: #808285;

    .btn-close-modal {
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .2;
      cursor: pointer;
    }
  }
</style>
