<template>
  <div class="p-4">
    <b-row>
      <b-col cols="9">
        <b-row>
          <b-col>
            <h4>Detail Attendance</h4>
          </b-col>
          <!-- <b-col
            v-if="detailAttendance"
            cols="6"
            class="display--none">
            <h6
              v-if="detailAttendance.is_fraud"
              class="m__b--0 text-right is-fraud"
              @click="isModalFraudOpen(true);"
            >
              Fraud detected
            </h6>
          </b-col> -->
        </b-row>
      </b-col>
    </b-row>

    <b-row v-if="detailAttendance">
      <b-col
        md="12"
        sm="12"
        cols="12">
        <b-row>
          <b-col
            md="9"
            sm="9"
            cols="12">
            <j-maps-attendance-detail
              :detail-attendance="detailAttendance"
            />
          </b-col>
          <b-col
            md="3"
            sm="3"
            cols="12">
            <div
              id="attendance_receipt_image"
              class="img-responsive img-container img-view hoverable background-none">
              <a
                id="attendance_receipt_image_url"
                :href="detailAttendance.image_url"
                class="image-popup-link"
                target="_blank"
              >
                <img
                  id="attendance_receipt_image_img"
                  :src="detailAttendance.image_url"
                  class="img-responsive"
                  align="middle"
                  style="object-fit: cover; min-height: 208px;
                  width: 100%; height: 208px; border-radius: 11px;"
                >
              </a>
            </div>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            md="9"
            sm="9"
            cols="12">
            <b-row>
              <b-col
                cols="4">
                <label>Date</label>
                <b-form-group>
                  <j-input
                    v-model="date"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="4">
                <b-form-group>
                  <label>Clock In</label>
                  <j-input
                    v-model="clockIn"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="4">
                <b-form-group>
                  <label>Clock Out</label>
                  <j-input
                    v-model="clockOut"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="12">
                <b-form-group>
                  <label>Project/Tag</label>
                  <j-input
                    v-model="detailAttendance.project_name"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="12">
                <b-form-group>
                  <label>Address In</label>
                  <j-textarea
                    v-model="detailAttendance.address"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="12">
                <b-form-group>
                  <label>Address Out</label>
                  <j-textarea
                    v-model="checkoutAddress"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="6">
                <b-form-group>
                  <label>Check In Description</label>
                  <j-textarea
                    v-model=" detailAttendance.description"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
              <b-col
                cols="6">
                <b-form-group>
                  <label>Check Out Description</label>
                  <j-textarea
                    v-model="checkoutDescription"
                    :error-required="false"
                    disabled />
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-modal
      ref="fraudModal"
      class="mod-form modal-fraud"
      centered
    >
      <j-modal-fraud
        @modal-open="isModalFraudOpen"
      />
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import JMapsAttendanceDetail from '@/components/maps/jMapsAttendanceDetail';
import jModalFraud from './jModalFraud';

export default {
  components: {
    JMapsAttendanceDetail,
    jModalFraud,
  },
  data() {
    return {
      detailAttendance: null,
      date: null,
      clockIn: null,
      clockOut: null,
      center: { lat: -6.291273718365677, LNG: 106.80355953952602 },
      userCompanyId: null,
      employeeName: null,
      email: null,
      position: null,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['detail_attendance']),

    checkoutAddress() {
      return this.detailAttendance.checkout ? this.detailAttendance.checkout.address : '-';
    },
    checkoutDescription() {
      return this.detailAttendance.checkout ? this.detailAttendance.checkout.description : '-';
    },
  },
  watch: {
    detail_attendance(val) {
      this.userCompanyId = val.user.id;
      this.employeeName = val.attendance.name;
      this.email = val.attendance.email;
      this.position = val.user.organigram && val.user.organigram.length > 0 ?
        val.user.organigram[0].name : null;
      this.detailAttendance = val.attendance;
      this.detailUser = val.user;
      this.date = moment(val.attendance.date).format('MMM DD, YYYY');
      this.clockIn = moment(val.attendance.check_in_time).format('HH:mm');
      this.clockOut = val.attendance.checkout ? moment(val.attendance.checkout.time)
        .format('HH:mm') : null;
    },
  },
  created() {
    this.actionGetDetailAttendance(this.$route.params.attendedId);
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetDetailAttendance']),

    milisToHours(val) {
      return moment(val).format('HH:mm');
    },
    dateFormat(val) {
      return moment(val).format('MMM DD, YYYY');
    },
    isModalFraudOpen(val) {
      if (val) {
        this.$refs.fraudModal.show();
      } else {
        this.$refs.fraudModal.hide();
      }
    },
  },
};
</script>

<style lang="scss">
  .is-fraud {
    font-size: 14px;
    color: red;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
