<!-- eslint-disable max-len -->
<template>
  <div>
    <div class="fraud-header">
      <h3>FRAUD INFORMATION</h3>
      <i
        class="fa fa-close cursor-pointer"
        @click="closeModal" />
    </div>
    <div class="fraud-tabs">
      <div
        :class="{'tab-active': selectedTab === 'check_in'}"
        class="tab-item"
        @click="changeTab('check_in')"
      >
        <h4>CHECK IN</h4>
        <div
          v-show="selectedTab === 'check_in'"
          class="underline-data"/>
      </div>
      <div
        :class="{'tab-active': selectedTab === 'check_out'}"
        class="tab-item"
        @click="changeTab('check_out')"
      >
        <h4>CHECK OUT</h4>
        <div
          v-show="selectedTab === 'check_out'"
          class="underline-data"/>
      </div>
    </div>
    <j-fraud-detail
      v-if="selectedTab === 'check_in'"
      :data="fraudCheckIn" />
    <j-fraud-detail
      v-if="selectedTab === 'check_out'"
      :data="fraudCheckOut" />
    <div class="fraud-button">
      <b-button
        @click="closeModal">
        Close
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import jFraudDetail from './jFraudDetail';

export default {
  components: {
    jFraudDetail,
  },

  data() {
    return {
      selectedTab: 'check_in',
      fraudCheckIn: null,
      fraudCheckOut: null,
    };
  },

  computed: {
    ...mapState('jStoreAttendance', ['detail_fraud_attendance']),
  },

  watch: {
    detail_fraud_attendance(val) {
      if (val) {
        this.fraudCheckIn = val.checkin_frauds[0];
        this.fraudCheckOut = val.checkout_frauds[0];
      }
    },
  },

  methods: {
    closeModal() {
      this.fraudData = null;
      this.$emit('close-modal');
    },

    changeTab(tab) {
      this.selectedTab = tab;
    },
  },
};
</script>

<style lang="scss">
.modal-new-fraud {
  .modal-dialog {
    width: fit-content;
    max-width: 452px;
  }

  .fraud-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h3 {
      color: #4A4A4A !important;
      padding-bottom: 0px;
    }
  }

  .fraud-tabs {
    display: flex;
    gap: 20px;

    .tab-item {
      cursor: pointer;

      h4 {
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 5px;
        color: #9A9A9A;
      }

      .tab-active h4 {
        color: #5B5A5A;
        font-weight: 700;
      }

      .underline-data {
        width: 100%;
        height: 4px;
        background-color: #4a90e2;
      }
    }

  }

  .fraud-info-detail {
    .fraud-photo-wrap {
      display: flex;
      gap: 15px;
      width: 100%;
      margin-bottom: 15px;
      margin-top: 15px;

      img {
        width: 199.5px;
        height: 213px;
        border-radius: 11px;
        object-fit: cover;
      }
    }

    .red-border {
      border: 3px solid #F24024;
      border-radius: 11px;
    }

    .fraud-item-wrap {
      background: #FFFFFF;
      padding: 11px 17px;
      border: 1px solid #E7E7E7;
      border-radius: 9px;
      margin-bottom: 10px;

      .item-title {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #606060;
        margin-bottom: 5px;

        &:first-child {
          margin-bottom: 0px;
        }
      }

      h5 {
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        color: #606060;
        margin-bottom: 0px;
        margin-top: 5px;
      }

      p {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        color: #606060;
        margin-bottom: 0px;

        &.matched {
          color: #0C9A11;
        }

        &.not-matched {
          color: #F24024;
        }
      }
    }
  }

  .fraud-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;

    button {
      background: #FFFFFF;
      border: 1px solid #E3E3E3;
      font-weight: 350;
      font-size: 12px;
      color: #606060;
    }
  }
}
</style>
