<template>
  <div class="jMaps">
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="default_zoom"
      class="m__b--10"
      style="width: 100%; height: 250px; border: 1px solid #bcbcbc; border-radius: 4px;">
      <gmap-marker
        :position="center"
        :clickable="true"
        @click="toggleInfo"/>
      <gmap-circle
        v-if="mapRadius > 0"
        ref="circle"
        :radius="mapRadius"
        :center="center"
        :options="circle_options"/>
      <gmap-info-window
        :options="info_options"
        :position="center"
        :opened="isWindowOpen"
        @closeclick="isWindowOpen=false">
        <div v-html="infoContent"/>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>

<script>
import language from '@/utils/language';

export default {
  name: 'JMapsOneLocation',
  mixins: [
    language,
  ],
  props: {
    lat: {
      type: Number,
      default: 0,
    },
    lng: {
      type: Number,
      default: 0,
    },
    radius: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      center: { lat: -6.291273718365677, lng: 106.80355953952602 },
      default_zoom: 14,
      largest_total: 0,
      info_win_open: [],
      info_options: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      circle_options: {
        strokeColor: 'red',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: 'blue',
        fillOpacity: 0.35,
      },
      mapRadius: 0,
      isWindowOpen: false,
      infoContent: '',
    };
  },
  watch: {
    lat(val) {
      this.center.lat = val;
    },
    lng(val) {
      this.center.lng = val;
    },
    radius(val) {
      this.mapRadius = val;
    },
  },
  mounted() {
    this.center.lat = this.lat;
    this.center.lng = this.lng;
    this.mapRadius = this.radius;
  },
  methods: {
    toggleInfo() {
      this.infoContent = this.getInfoWindowContent();
      this.isWindowOpen = !this.isWindowOpen;
    },
    getInfoWindowContent() {
      return (`<div class="map-window-open">
        <a href="https://www.google.com/maps?q=loc:${this.center.lat},${this.center.lng}" target="_blank">
          Map Detail
        </a>
      </div>`);
    },
  },
};
</script>
