<template>
  <div class="jMaps">
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="default_zoom"
      class="m__b--10"
      style="width: 100%; height: 350px; border: 1px solid rgb(188, 188, 188);"
    >
      <!-- Marker -->
      <gmap-custom-marker
        v-for="(item, index) in list_maps"
        :key="index"
        :marker="item.center"
        style="cursor: pointer;"
        @click.native="infoChanged(item,index)"
      >
        <gmap-marker-attendance
          :status="item.type"
          :img-url="item.image_url"
          :img-alt="item.name"
        />
      </gmap-custom-marker>

      <gmap-info-window
        v-for="(item, index) in list_maps"
        :key="index"
        :options="info_options"
        :position="item.center"
        :opened="info_win_open[index]">
        <div v-html="item.infoContent"/>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>
<script>
import { mapState } from 'vuex';
import language from '@/utils/language';
import GmapCustomMarker from 'vue2-gmap-custom-marker';
import jMapsMarkerAttendance from './jMapsMarkerAttendance';

export default {
  name: 'GoogleMap',
  components: {
    'gmap-custom-marker': GmapCustomMarker,
    'gmap-marker-attendance': jMapsMarkerAttendance,
  },
  mixins: [
    language,
  ],
  data() {
    return {
      // default to montreal to keep it simple
      center: { lat: -6.291380360585924, lng: 106.80358099719805 },
      default_zoom: 6,
      info_win_open: [],
      info_options: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      list_maps: [],
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['monitor_attended_list']),
  },
  watch: {
    monitor_attended_list(val) {
      this.center = {
        lat: val.data[0].latitude || 0,
        lng: val.data[0].longitude || 0,
      };

      val.data.forEach((el) => {
        this.list_maps.push({
          center: {
            lat: el.latitude,
            lng: el.longitude,
          },
          name: el.name,
          address: el.address,
          time: this.$moment(el.check_in_time).format('HH:mm'),
          image_url: el.image_url,
          infoContent: '',
          type: 'checkin',
        });
        this.info_win_open.push(false);

        if (el.checkout) {
          this.list_maps.push({
            center: {
              lat: el.checkout.latitude,
              lng: el.checkout.longitude,
            },
            name: el.name,
            address: el.checkout.address,
            time: this.$moment(el.checkout.time).format('HH:mm'),
            image_url: el.checkout.image_url,
            infoContent: '',
            type: 'checkout',
          });
          this.info_win_open.push(false);
        }
      });
    },
  },
  methods: {
    infoChanged(item, index) {
      if (this.info_win_open[index] === true) {
        this.$set(this.info_win_open, index, false);
      } else {
        // eslint-disable-next-line no-param-reassign
        item.infoContent = this.getInfoWindowContent(item, index);
        this.$set(this.info_win_open, index, true);
      }
    },
    getInfoWindowContent(item) {
      const photo = item.image_url ? item.image_url : 'https://corp.jojonomic.com/assets/img/user3.png';

      return (`<div class="map-window-open">
        <div class="d-flex align-items-center">
          <img
            src="${photo}"
            class="photo-profile m__r--10"
            style="flex: none !important">
          <div>
            <span style="font-size: 14px; font-weight: bold; color: #606060;">
              ${item.name} 
            </span> 
              <br>
            <span style="font-size: 13px; font-weight: 500; color: #989898;">
              ${item.type === 'checkin' ? 'Checked in ' : 'Checked out '} at ${item.time}
            </span>
          </div>
        </div>
        <div style="margin: 8px 0;">
          ${item.address}
        </div>
        <div>
          <a href="https://www.google.com/maps?q=loc:${item.center.lat},${item.center.lng}" target="_blank">
            Map Detail
          </a>
        </div>
      </div>`);
    },
  },
};
</script>
