<template>
  <div
    :class="status === 'checkin' ? 'marker-checkin' : 'marker-checkout' "
    class="marker"
  >
    <img
      :src="imgUrl"
      :alt="imgAlt"
    >
  </div>
</template>

<script>
export default {
  props: {
    status: {
      type: String,
      default: '',
    },
    imgUrl: {
      type: String,
      default: '',
    },
    imgAlt: {
      type: String,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
  .marker {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    img {
      width: 44px;
      height: 44px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  .marker-checkin {
    background-color: $checkin-sample;
  }
  .marker-checkout {
    background-color: $checkout-sample;
  }
</style>
