<template>
  <div class="jMaps">
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="default_zoom"
      class="m__b--10"
      style="width: 100%; height: 350px; border: 1px solid rgb(188, 188, 188);">
      <gmap-marker
        v-for="(m, index) in list_maps"
        :key="index"
        :position="m.center"
        @click="infoChanged(index)"/>
      <!-- icon="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9tWn2fYXWeUww6n6M7Fj9ooIgmVXUUX-kFA&usqp=CAU" (prop marker)
        <gmap-circle
        v-for="(m, index) in list_maps"
        ref="circle"
        :key="index"
        :radius="Math.sqrt(10*(m.total/largest_total)) * 100000"
        :center="m.center"
        :options="info_options"
        @click="infoChanged(index)"/> -->
      <gmap-info-window
        v-for="(m, index) in list_maps"
        :key="index"
        :options="info_options"
        :position="m.center"
        :opened="info_win_open[index]">
        <!-- <div v-html="m.total + language.destination + m.area"/> -->
      </gmap-info-window>
    </gmap-map>
  </div>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import { infoWindow } from 'vue2-google-maps';
import { mapState } from 'vuex';
import language from '@/utils/language';

export default {
  name: 'GoogleMap',
  mixins: [
    language,
  ],
  props: {
    lat: {
      type: Number,
      default: -6.291273718365677,
    },
    lng: {
      type: Number,
      default: 106.80355953952602,
    },
  },
  data() {
    return {
      // default to montreal to keep it simple
      center: { lat: -6.291273718365677, lng: 106.80355953952602 },
      default_zoom: 10,
      largest_total: 0,

      // optional: offset infowindow so it visually sits nicely on top of our marker
      info_win_open: [],
      // info_options: {
      //   strokeColor: '#41AD49',
      //   strokeOpacity: 0.8,
      //   strokeWeight: 2,
      //   fillColor: '#41AD49',
      //   fillOpacity: 0.35,
      // },
      info_options: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      list_maps: [],

      // language: {
      //   destination: language.home.destination.toUpperCase(),
      // },
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['monitor_attended_list']),
  },
  watch: {
    monitor_attended_list(val) {
      if (val.data.length > 0) {
        this.center = {
          lat: val.data[0].latitude,
          lng: val.data[0].longitude,
        };
      }
      // const total = [];

      // val.forEach((e) => {
      //   total.push(e.total);
      //   this.info_win_open.push(false);
      // });

      val.data.forEach((e) => {
        this.list_maps.push({
          center: {
            lat: e.latitude,
            lng: e.longitude,
          },
        });
        this.info_win_open.push(false);
      });
      this.largest_total = val.length;
    },
  },
  mounted() {
    this.center.lat = this.lat;
    this.center.lng = this.lng;
  },
  methods: {
    infoChanged(index) {
      if (this.info_win_open[index] === true) {
        this.$set(this.info_win_open, index, false);
      } else {
        this.$set(this.info_win_open, index, true);
      }
    },
  },
};
</script>
