<template>
  <div
    id="code-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
    >

      <!-- <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="code-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div> -->

      <div
        slot="date"
        slot-scope="props">
        {{ props.row.date | moment("DD/MM/YYYY") }}
      </div>

      <div
        slot="total_working_hours"
        slot-scope="props">
        {{ formatHoursMinutes(props.row.total_working_hours) }}
      </div>

      <div
        slot="additional_hours"
        slot-scope="props">
        {{ formatHoursMinutes(props.row.additional_hours) }}
      </div>

      <div
        slot="overtime_hours"
        slot-scope="props">
        {{ formatHoursMinutes(props.row.overtime_hours) }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="code-table"
      target="code-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['date', 'in_time', 'out_time', 'total_working_hours', 'additional_hours', 'overtime_hours'],
      options: {
        headings: {
          date: 'DATE',
          in_time: 'IN TIME',
          out_time: 'OUT TIME',
          total_working_hours: 'TOTAL WORK HOURS',
          additional_hours: 'ADDITIONAL HOURS',
          overtime_hours: 'OVERTIME HOURS',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: [],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              // column: data.orderBy ? data.orderBy : 'updated_date',
              // ascending: !data.ascending,
              // query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getEmployeeDashboardOvertime(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.start_date = this.lastTenDays();
      val.end_date = this.$moment().format('YYYY-MM-DD');
      // val.duration = 1,
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    lastTenDays() {
      const date = new Date();
      date.setDate(date.getDate() - 9);
      return this.$moment(date).format('YYYY-MM-DD');
    },
    formatHoursMinutes(val) {
      if (val) {
        const splited = val.split(':');
        return `${splited[0]} hours ${splited[1]} minutes`;
      }
      return '';
    },
  },
};
</script>
