<template>
  <div
    id="code-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
    >

      <!-- <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="code-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div> -->

      <div
        slot="start"
        slot-scope="props">
        {{ props.row.start | moment("HH:mm") }}
      </div>

      <div
        slot="end"
        slot-scope="props">
        {{ props.row.end | moment("HH:mm") }}
      </div>

      <div
        slot="color"
        slot-scope="props">
        <div
          :style="{backgroundColor: props.row.color, height: '18px', width: '70%'}"
        />
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="code-table"
      target="code-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign, radix, no-mixed-operators */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['name', 'start', 'end', 'working_hours', 'color'],
      options: {
        headings: {
          name: 'NAME',
          start: 'SHIFT TIME',
          end: 'END TIME',
          working_hours: 'WORKING HOURS',
          color: 'SHIFT COLOR',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: [],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            // column: data.orderBy ? data.orderBy : 'updated_date',
            // ascending: !data.ascending,
            // query: data.query ? data.query : '',
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getDailyShift(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data || [],
            count: 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.start_date = this.lastTenDays();
      val.end_date = this.$moment().format('YYYY-MM-DD');
      val.user_company_ids = [Number(localStorage.getItem('userCompanyId'))];
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    lastTenDays() {
      const date = new Date();
      date.setDate(date.getDate() - 9);
      return this.$moment(date).format('YYYY-MM-DD');
    },
    translateColor(color, percent = 10) {
      let R = parseInt(color.substring(1, 3), 16);
      let G = parseInt(color.substring(3, 5), 16);
      let B = parseInt(color.substring(5, 7), 16);

      R = (parseInt(R * (100 + percent) / 100) < 255) ? R : 255;
      G = (parseInt(G * (100 + percent) / 100) < 255) ? G : 255;
      B = (parseInt(B * (100 + percent) / 100) < 255) ? B : 255;

      R = ((R.toString(16).length === 1) ? `0${R.toString(16)}` : R.toString(16));
      G = ((G.toString(16).length === 1) ? `0${G.toString(16)}` : G.toString(16));
      B = ((B.toString(16).length === 1) ? `0${B.toString(16)}` : B.toString(16));

      return `#${R}${G}${B}`;
    },
  },
};
</script>
