<template>
  <div
    id="policy-form-update"
    class="p-4"
  >
    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="12"
            class="field-overtime">
            <b-form-group
              :class="{'error-input' : $v.dataForm.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.name.$model"
                placeholder="ex: Overtime A"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="12"
            class="field-overtime">
            <b-form-group
              :class="{'error-input' : $v.dataForm.description.$error}">
              <label>Description <span class="red"> * </span> </label>
              <j-textarea
                v-model="$v.dataForm.description.$model"
                placeholder="ex: Description"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6"
            md="6"
            class="p__r--30">
            <b-form-group :class="{'error-input' : $v.dataForm.rounding_overtime_hours.$error}">
              <label for="rounding_overtime_hours">Rounding Overtime Hours</label>
              <j-single-select
                id="rounding_overtime_hours"
                v-model="dataForm.rounding_overtime_hours"
                :options="list_rounding"
                label="text"
                placeholder="Select Can Revision Or Not"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="6"
            class="p__l--30">
            <label for="minDuration">Minimum Duration</label>
            <b-row>
              <b-col cols="6">
                <b-form-group>
                  <j-input-group
                    id="minDuration"
                    v-model="minimum_duration.hour"
                    append="hour(s)"
                    prepend=""
                    placeholder="ex: 2"
                    type="number"/>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group>
                  <j-input-group
                    v-model="minimum_duration.minute"
                    append="minute(s)"
                    prepend=""
                    placeholder="ex: 30"
                    type="number"/>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6"
            md="6"
            class="p__r--30">
            <b-form-group :class="{'error-input' : $v.dataForm.min_req_date.$error}">
              <label for="min_req_date">Minimum Request Date</label>
              <j-input
                id="min_req_date"
                v-model="dataForm.min_req_date"
                placeholder="ex: 3"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="6"
            class="p__l--30">
            <label for="minDuration">Maximum Duration</label>
            <b-row>
              <b-col cols="6">
                <b-form-group>
                  <j-input-group
                    id="maxDuration"
                    v-model="maximum_duration.hour"
                    append="hour(s)"
                    prepend=""
                    placeholder="ex: 2"
                    type="number"/>
                </b-form-group>
              </b-col>
              <b-col cols="6">
                <b-form-group>
                  <j-input-group
                    v-model="maximum_duration.minute"
                    append="minute(s)"
                    prepend=""
                    placeholder="ex: 30"
                    type="number"/>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6"
            md="6"
            class="p__r--30">
            <b-form-group :class="{'error-input' : $v.dataForm.max_req_date.$error}">
              <label for="max_req_date">Maximum Request Date</label>
              <j-input
                id="max_req_date"
                v-model="dataForm.max_req_date"
                placeholder="ex: 3"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="6"
            class="p__l--30">
            <b-form-group>
              <label for="autoApprove">Auto Approve</label>
              <j-toggle
                id="autoApprove"
                v-model="dataForm.auto_approve"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6"
            md="6"
            class="p__r--30">
            <b-form-group :class="{'error-input' : $v.dataForm.apply_type.$error}">
              <label for="appliesFor">Applies For</label>
              <j-single-select
                id="appliesFor"
                v-model="dataForm.apply_type"
                :options="list_apply_type"
                label="text"
                placeholder="Select In Holiday Or Not"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="6"
            class="p__l--30">
            <b-form-group>
              <label for="lockSameDate">Lock Same Date</label>
              <j-toggle
                id="lockSameDate"
                v-model="dataForm.lock_same_date"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="6"
            md="6"
            class="p__r--30">
            <b-form-group :class="{'error-input' : $v.dataForm.request_time_locked_by.$error}">
              <label for="timeLock">Time Lock</label>
              <j-single-select
                id="timeLock"
                v-model="dataForm.request_time_locked_by"
                :options="list_request_time_locked_by"
                label="text"
                placeholder="Select Time Lock"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="6"
            class="p__l--30">
            <b-form-group :class="{'error-input' : $v.dataForm.revision.$error}">
              <label for="revision">Revision</label>
              <j-single-select
                id="revision"
                v-model="dataForm.revision"
                :options="list_revision"
                label="text"
                placeholder="Select Can Revision Or Not"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="m__t--20">
          <b-col cols="12">
            <b-button
              class="btn blue"
              @click="submitRecord">
              <i class="fa fa-upload"/>
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger pull-right"
              @click="deleteRecord">
              <i class="fa fa-trash"/>
              Delete
            </b-button>
          </b-col>
        </b-row>
      </b-col>

      <b-col
        md="3"
        sm="3"
        cols="12"/>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  components: {
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    return {
      dataForm: {
        name: { required },
        description: { required },
        min_req_date: { required },
        max_req_date: { required },
        revision: { required },
        auto_approve: { },
        lock_same_date: { },
        rounding_overtime_hours: { },
        minimum_duration: { },
        maximum_duration: { },
        request_time_locked_by: { required },
        apply_type: { required },
      },
    };
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Policy' : 'Create Policy',
      },
      dataForm: {
        name: '',
        description: '',
        min_req_date: 0,
        max_req_date: 0,
        revision: 0,
        auto_approve: false,
        lock_same_date: false,
        minimum_duration: 0,
        rounding_overtime_hours: 0,
        maximum_duration: 0,
        request_time_locked_by: 0,
        apply_type: 1,
      },
      minimum_duration: {
        hour: 0,
        minute: 0,
      },
      maximum_duration: {
        hour: 0,
        minute: 0,
      },
      list_revision: [
        {
          id: 0,
          text: 'No Revision',
        },
        {
          id: 1,
          text: 'Send Revision to First Layer',
        },
        {
          id: 2,
          text: 'Send Revision to Current Layer',
        },
      ],
      list_rounding: [
        {
          id: 0,
          text: 'No Round',
        },
        {
          id: 1,
          text: 'Round Down',
        },
        {
          id: 2,
          text: 'Round Up',
        },
      ],
      list_request_time_locked_by: [
        {
          id: 0,
          text: 'Not Lock',
        },
        {
          id: 1,
          text: 'Duration Overtime Depend Time Check Out',
        },
        {
          id: 2,
          text: 'Duration Overtime Depend Time Shift',
        },
        {
          id: 3,
          text: 'Duration Overtime Depend Times Working Hours',
        },
      ],
      list_apply_type: [
        {
          id: 1,
          text: 'Non Holiday',
        },
        {
          id: 2,
          text: 'Holiday',
        },
        {
          id: 3,
          text: 'All Day',
        },
      ],
      status_validate: false,
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['policy_detail']),

  },
  watch: {
    policy_detail(val) {
      this.dataForm = { ...val };
      this.minimum_duration.minute = (val.minimum_duration % 3600000) / 60000;
      this.minimum_duration.hour = Math.floor(val.minimum_duration / 3600000);

      this.maximum_duration.minute = (val.maximum_duration % 3600000) / 60000;
      this.maximum_duration.hour = Math.floor(val.maximum_duration / 3600000);
    },

    // eslint-disable-next-line func-names
    'minimum_duration.hour': function () {
      this.setMinimumDuration();
    },

    // eslint-disable-next-line func-names
    'minimum_duration.minute': function () {
      this.setMinimumDuration();
    },

    // eslint-disable-next-line func-names
    'maximum_duration.hour': function () {
      this.setMaximumDuration();
    },

    // eslint-disable-next-line func-names
    'maximum_duration.minute': function () {
      this.setMaximumDuration();
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        id: this.$route.params.id,
      };
      this.actionGetDetailPolicy(params);
    }
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetDetailPolicy', 'actionCreatePolicy', 'actionUpdatePolicy', 'actionDeletePolicy']),

    handleRouteBack() {
      this.$router.push(`${this.oosRoute}/overtime/config/policy/list`);
    },
    setMinimumDuration() {
      this.dataForm.minimum_duration = (Number(this.minimum_duration.hour || 0) * 3600000) +
        (Number(this.minimum_duration.minute || 0) * 60000);
    },
    setMaximumDuration() {
      this.dataForm.maximum_duration = (Number(this.maximum_duration.hour || 0) * 3600000) +
        (Number(this.maximum_duration.minute || 0) * 60000);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        let res;
        if (this.mode === 'create') {
          res = await this.actionCreatePolicy(this.dataForm);
        } else {
          this.dataForm.id = this.$route.params.id;
          res = await this.actionUpdatePolicy(this.dataForm);
        }

        if (!res.error) {
          this.dataForm = {
            name: '',
            description: '',
            min_req_date: 0,
            max_req_date: 0,
            revision: 0,
            auto_approve: false,
            lock_same_date: false,
            rounding_overtime_hours: 0,
            minimum_duration: 0,
            maximum_duration: 0,
            request_time_locked_by: 0,
            apply_type: 1,
          };

          this.$v.dataForm.$reset();
          this.handleRouteBack();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              ids: [this.$route.params.id],
            };
            await this.actionDeletePolicy(params);
            this.handleRouteBack();
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #policy-form-update {
    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }

    .field-overtime {
      .form-group {
        margin-bottom: 15px !important;
      }
    }

    .form-group {
      margin-bottom: 5px !important;
    }
  }
</style>
