<template>
  <div class="component-card">
    <b-row class="m__b--10"/>
    <j-create-timesheet />
  </div>
</template>

<script>
import jCreateTimesheet from '@/views/application/application-component/times/timesheet/claimer/form/jCreateTimesheet';

export default {
  components: {
    jCreateTimesheet,
  },
  data() {
    return {

    };
  },
  computed: {

  },
  methods: {

  },
};
</script>
