<template>
  <div
    id="monitor-leave-table"
    class="custom-table-search attendance-table">
    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="monitor-leave-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="employee_id"
        slot-scope="props"
      >
        {{ props.row.employee_id }}
      </div>

      <div
        slot="mame"
        slot-scope="props"
        class="d-flex align-items-center"
      >
        <!-- <img
          :src="props.row.photo_url ? props.row.photo_url : 'https://corp.jojonomic.com/assets/img/user3.png'"
          class="photo-profile m__r--10"
          style="flex: none !important"> -->
        <div
          :style="`background-image: url('${props.row.photo_url ? props.row.photo_url : 'https://corp.jojonomic.com/assets/img/user3.png'}');`"
          style="flex: none !important"
          class="ava-profile m__r--10"/>
        <span>
          {{ props.row.email }} <br>
          {{ props.row.name }}
        </span>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="monitor-leave-table"
      target="monitor-leave-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import moment from 'moment';

export default {
  components: {
    jLoadingTable,
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'id',
      options_search: [
        {
          text: 'Employee ID',
          value: 'id',
        },
        {
          text: 'Employee Name',
          value: 'name',
        },
        {
          text: 'Type',
          value: 'type_name',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['user_company_id', 'name', 'employee_id', 'organization_unit', 'type_name', 'reason', 'start_date', 'end_date', 'created_date', 'created_by'],
      options: {
        headings: {
          user_company_id: 'COMPANY USER ID',
          name: 'EMPLOYEE NAME',
          employee_id: 'EMPLOYEE ID',
          organization_unit: 'ORGANIZATION UNIT',
          type_name: 'TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          created_date: 'CREATED DATE',
          created_by: 'CREATED BY',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['user_company_id', 'name', 'employee_id', 'organization_unit', 'type_name', 'reason', 'start_date', 'end_date', 'created_date', 'created_by'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy ? data.orderBy : 'employee_id',
            ascending: !data.ascending,
            query: data.query ? data.query : '',
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getMonitorLeave(data);
          getList.then((e) => {
            this.$store.commit('jStoreAttendance/setMonitorLeaveList', e);
          });
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.end_date = this.$moment(new Date()).format('YYYY-MM-DD');
      val.start_date = this.$moment(new Date()).format('YYYY-MM-DD');
      val.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    milisToDate(val) {
      return moment(val).format('MMM DD, YYYY HH:mm:ss');
    },
    openDetail({ row }) {
      const url = `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
      this.$router.push(`${url}/leave/approver/detail/${row.id}`);
    },
  },
};
</script>
