<template>
  <div>
    <b-row>
      <!-- <b-col cols="12">
        <j-pension-table
          v-if="payrollBenefitBpjskkJP !== 0"
          @create-modal="openModalCreatePension"
          @edit-modal="openModalUpdatePension"
          @pension="getPensionDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
      <b-col cols="12">
        <j-jamsostek-table
          v-if="payrollBenefitBpjskk !== 0"
          @create-modal="openModalCreateJamsoste"
          @edit-modal="openModalUpdateJamsostek"
          @jamsostek="getJamsostekDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
      <b-col cols="12">
        <j-health-table
          v-if="payrollBenefitBpjsk !== 0"
          @create-modal="openModalCreateHealth"
          @edit-modal="openModalUpdateHealth"
          @health="getHealthDetail"
          @refresh-options="refreshOptions"/>
      </b-col> -->
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.pension_number.$error}">
          <label class="form__label">Pension Number</label>
          <j-input
            id="id"
            v-model="$v.insurance.pension_number.$model"
            :disabled="false"
            placeholder="Pension Number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.pension_effective_begin.$error}">
          <label class="form__label">Effective Begin Pension</label>
          <j-datepicker
            v-model="$v.insurance.pension_effective_begin.$model"
            :disabled-dates="disabledStartDate($v.insurance.pension_effective_end.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.pension_effective_end.$error}">
          <label class="form__label">Effective End Pension</label>
          <j-datepicker
            v-model="$v.insurance.pension_effective_end.$model"
            :disabled-dates="disabledEndDate($v.insurance.pension_effective_begin.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>

      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjskk_number.$error}">
          <label class="form__label">BPJS Ketenagakerjaan Number*</label>
          <j-input
            id="id"
            :error-message="err_message_bpjskk"
            v-model="$v.insurance.bpjskk_number.$model"
            :disabled="false"
            type="number"
            placeholder="BPJS Ketenagakerjaan Number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjskk_effective_begin.$error}">
          <label class="form__label">Effective Begin BPJS Ketenagakerjaan*</label>
          <j-datepicker
            v-model="$v.insurance.bpjskk_effective_begin.$model"
            :disabled-dates="disabledStartDate($v.insurance.bpjskk_effective_end.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjskk_effective_end.$error}">
          <label class="form__label">Effective End BPJS Ketenagakerjaan</label>
          <j-datepicker
            v-model="$v.insurance.bpjskk_effective_end.$model"
            :disabled-dates="disabledEndDate($v.insurance.bpjskk_effective_begin.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>

      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjsk_number.$error}">
          <label class="form__label">BPJS Kesehatan Number*</label>
          <j-input
            id="id"
            v-model="$v.insurance.bpjsk_number.$model"
            :error-message="err_message_bpjsk"
            :disabled="false"
            type="number"
            placeholder="BPJS Kesehatan Number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.family_member.$error}">
          <label class="form__label">Family Member*</label>
          <j-single-select
            v-model="$v.insurance.family_member.$model"
            :options="memberList"
            placeholder="Family Member"
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.class.$error}">
          <label class="form__label">Kelas*</label>
          <j-single-select
            v-model="$v.insurance.class.$model"
            :options="classList"
            placeholder="Kelas"
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjsk_effective_begin.$error}">
          <label class="form__label">Effective Begin BPJS Kesehatan*</label>
          <j-datepicker
            v-model="$v.insurance.bpjsk_effective_begin.$model"
            :disabled-dates="disabledStartDate($v.insurance.bpjsk_effective_end.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.insurance.bpjsk_effective_end.$error}">
          <label class="form__label">Effective End BPJS Kesehatan</label>
          <j-datepicker
            v-model="$v.insurance.bpjsk_effective_end.$model"
            :disabled-dates="disabledEndDate($v.insurance.bpjsk_effective_begin.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4"/>
      <b-col
        sm="12"
        md="12">
        <b-button
          class="btn blue float-right"
          @click="updateInsurance">
          Update
        </b-button>
      </b-col>
    </b-row>

    <b-modal
      ref="modalHealth"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="healthTitle"/>
      <div>
        <j-health-form
          v-if="isOpenHealth"
          :mode="mode"
          :detail="health_detail"
          :payroll-id="payrollId"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

    <b-modal
      ref="modalJamsostek"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="jamsostekTitle"/>
      <div>
        <j-jamsostek-form
          v-if="isOpenJamsostek"
          :mode="mode"
          :detail="jamsostek_detail"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

    <b-modal
      ref="modalPension"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="pensionTitle"/>
      <div>
        <j-pension-form
          v-if="isOpenPension"
          :mode="mode"
          :detail="pension_detail"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import jApiPayrollInfo from '@/services/jApiPayrollInfo';
// import jHealthForm from './health/jHealthForm';
// import jHealthTable from './health/jHealthTable';
// import jJamsostekForm from './jamsostek/jJamsostekForm';
// import jJamsostekTable from './jamsostek/jJamsostekTable';
// import jPensionForm from './pension/jPensionForm';
// import jPensionTable from './pension/jPensionTable';

export default {
  name: 'JInsurance',
  components: {
    // jHealthForm,
    // jHealthTable,
    // jJamsostekForm,
    // jJamsostekTable,
    // jPensionForm,
    // jPensionTable,
  },
  props: {
    payrollId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      mode: '',
      formMode: 'edit',
      isOpenHealth: false,
      isOpenJamsostek: false,
      isOpenPension: false,
      health_detail: null,
      jamsostek_detail: null,
      pension_detail: null,
      healthTitle: {
        main_title: 'BPJS KESEHATAN',
      },
      jamsostekTitle: {
        main_title: 'JAMSOSTEK/BPJS KETENAGAKERJAAN',
      },
      pensionTitle: {
        main_title: 'PENSION',
      },
      insurance: {
        pension_number: null,
        pension_effective_begin: null,
        pension_effective_end: null,
        bpjskk_number: null,
        bpjskk_effective_begin: null,
        bpjskk_effective_end: null,
        bpjsk_number: null,
        bpjsk_effective_begin: null,
        bpjsk_effective_end: null,
        class: null,
        family_member: null,
      },
      memberList: [
        {
          id: 0,
          text: '0',
        },
        {
          id: 1,
          text: '1',
        },
        {
          id: 2,
          text: '2',
        },
        {
          id: 3,
          text: '3',
        },
        {
          id: 4,
          text: '4',
        },
        {
          id: 5,
          text: '5',
        },
      ],
      classList: [
        {
          id: 1,
          text: 'Kelas I',
        },
        {
          id: 2,
          text: 'Kelas II',
        },
        {
          id: 3,
          text: 'Kelas III',
        },
      ],
      bpjsKesComponentId: 0,
      bpjsKetComponentId: 0,
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollBenefitBpjskk', 'payrollBenefitBpjsk', 'payrollBenefitBpjskkJP']),
    ...mapState('jStorePayrollInfo', ['list_benefits', 'uiData']),
    generateDataBpjsKetenagakerjaanAndPension() {
      const genData = {
        numbers: [],
      };

      if (this.insurance.pension_number) {
        genData.numbers.push(
          {
            code: 'bpjskk-jp',
            number: this.insurance.pension_number,
            effective_begin: this.$moment(this.insurance.pension_effective_begin).format('YYYY-MM-DD'),
            effective_end: this.insurance.pension_effective_end ? this.$moment(this.insurance.pension_effective_end).format('YYYY-MM-DD') : null,
          },
        );
      }

      if (this.insurance.bpjskk_number) {
        genData.numbers.push(
          {
            code: 'bpjskk',
            number: this.insurance.bpjskk_number,
            effective_begin: this.$moment(this.insurance.bpjskk_effective_begin).format('YYYY-MM-DD'),
            effective_end: this.insurance.bpjskk_effective_end ? this.$moment(this.insurance.bpjskk_effective_end).format('YYYY-MM-DD') : null,
          },
        );
      }

      return genData;
    },
    generateDataBpjsKesehatan() {
      const genData = {
        numbers: [
          {
            code: 'bpjsk',
            number: this.insurance.bpjsk_number,
            effective_begin: this.$moment(this.insurance.bpjsk_effective_begin).format('YYYY-MM-DD'),
            effective_end: this.insurance.bpjsk_effective_end ? this.$moment(this.insurance.bpjsk_effective_end).format('YYYY-MM-DD') : null,
          },
        ],
      };
      return genData;
    },
    genCreateBpjsKesehatan() {
      const genData = {
        code: 'bpjsk',
        number: this.insurance.bpjsk_number,
        effective_begin: this.$moment(this.insurance.bpjsk_effective_begin).format('YYYY-MM-DD'),
        effective_end: this.insurance.bpjsk_effective_end ? this.$moment(this.insurance.bpjsk_effective_end).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    genCreateBpjsKetenagakerjaan() {
      const genData = {
        code: 'bpjskk',
        number: this.insurance.bpjskk_number,
        effective_begin: this.$moment(this.insurance.bpjskk_effective_begin).format('YYYY-MM-DD'),
        effective_end: this.insurance.bpjskk_effective_end ? this.$moment(this.insurance.bpjskk_effective_end).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    genCreateBpjsPension() {
      const genData = {
        code: 'bpjskk-jp',
        number: this.insurance.pension_number,
        effective_begin: this.$moment(this.insurance.pension_effective_begin).format('YYYY-MM-DD'),
        effective_end: this.insurance.pension_effective_end ? this.$moment(this.insurance.pension_effective_end).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    generateDataFamily() {
      const genData = {
        is_deduct_from_salary: true,
        total_member: this.insurance.family_member,
        type: this.insurance.class,
      };
      return genData;
    },
    err_message_bpjskk() {
      if (!this.$v.insurance.bpjskk_number.required) {
        return 'Field is required';
      } else if (!this.$v.insurance.bpjskk_number.minLength) {
        return 'Min length is 11';
      } else if (!this.$v.insurance.bpjskk_number.maxLength) {
        return 'Max length is 11';
      }
      return 'Field is required';
    },
    err_message_bpjsk() {
      if (!this.$v.insurance.bpjsk_number.required) {
        return 'Field is required';
      } else if (!this.$v.insurance.bpjsk_number.minLength) {
        return 'Min length is 13';
      } else if (!this.$v.insurance.bpjsk_number.maxLength) {
        return 'Max length is 13';
      }
      return 'Field is required';
    },
  },
  watch: {
    async list_benefits(val) {
      if (val.length > 0) {
        const bpjsComponent = this._.find(val, { benefit: { code: 'bpjsk' } }).id;
        const bpjskComponent = this._.find(val, { benefit: { code: 'bpjskk' } }).id;
        this.bpjsKesComponentId = bpjsComponent;
        this.bpjsKetComponentId = bpjskComponent;

        if (this.formMode !== 'create') {
          const resBpjs = await jApiPayrollInfo.getComponentNumber(bpjsComponent);
          const resBpjsk = await jApiPayrollInfo.getComponentNumber(bpjskComponent);
          const isAnyBpjs = resBpjs.data.data.length > 0;
          // const isAnyBpjsk = resBpjsk.data.data.length > 0;
          const bpjsData = resBpjs.data.data;
          const bpjskData = resBpjsk.data.data;
          this.uiData.bpjsk_id = bpjsComponent;
          this.uiData.bpjskk_id = bpjskComponent;

          const bpjskk = bpjskData.find(el => el.code === 'bpjskk');
          const pension = bpjskData.find(el => el.code === 'bpjskk-jp');

          this.insurance = {
            family_member: this._.find(val, { benefit: { code: 'bpjsk' } }).total_member,
            class: this._.find(val, { benefit: { code: 'bpjsk' } }).type,
            bpjsk_number: isAnyBpjs ? bpjsData[0].number : null,
            bpjsk_effective_begin: isAnyBpjs ? this.$moment(bpjsData[0].effective_begin).format('YYYY-MM-DD') : null,
            bpjsk_effective_end: isAnyBpjs && bpjsData[0].effective_end ? this.$moment(bpjsData[0].effective_end).format('YYYY-MM-DD') : null,
            bpjskk_number: bpjskk ? bpjskk.number : null,
            bpjskk_effective_begin: bpjskk ? this.$moment(bpjskk.effective_begin).format('YYYY-MM-DD') : null,
            bpjskk_effective_end: bpjskk && bpjskk.effective_end ? this.$moment(bpjskk.effective_end).format('YYYY-MM-DD') : null,
            pension_number: pension ? pension.number : null,
            pension_effective_begin: pension ? this.$moment(pension.effective_begin).format('YYYY-MM-DD') : null,
            pension_effective_end: pension && pension.effective_end ? this.$moment(pension.effective_end).format('YYYY-MM-DD') : null,
          };
        } else {
          await this.actionSetComponentNumber({
            params: this.generateDataBpjsKesehatan,
            componentId: val[0].id,
          });
          await this.actionSetComponentNumber({
            params: this.generateDataBpjsKetenagakerjaanAndPension,
            componentId: val[1].id,
          });
          this.formMode = 'edit';
        }
      }
    },
  },
  created() {
    this.actionGetBenefits(this.payrollId);
  },
  validations() {
    return {
      insurance: {
        pension_number: {},
        pension_effective_begin: {},
        pension_effective_end: {},
        bpjskk_number: {
          required,
          minLength: minLength(11),
          maxLength: maxLength(11),
        },
        bpjskk_effective_begin: {},
        bpjskk_effective_end: {},
        bpjsk_number: {
          required,
          minLength: minLength(13),
          maxLength: maxLength(13),
        },
        bpjsk_effective_begin: {},
        bpjsk_effective_end: {},
        family_member: { required },
        class: { required },
      },
    };
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionGetBenefits', 'actionCreateComponentNumber', 'actionSetComponentNumber', 'actionCreateBenefits', 'actionUpdateBenefits']),
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    async updateInsurance() {
      this.$v.insurance.$touch();
      if (!this.$v.insurance.$error) {
        if (this.list_benefits.length > 0) {
          this.bpjskBenefit = this._.find(this.list_benefits, { benefit: { code: 'bpjsk' } });
          await this.actionUpdateBenefits({
            payrollId: this.payrollId,
            params: this.generateDataFamily,
            benefitId: this.bpjskBenefit.id,
          });

          await this.actionSetComponentNumber({
            params: this.generateDataBpjsKesehatan,
            componentId: this.payrollBenefitBpjsk || this.bpjsKesComponentId,
          });
          await this.actionSetComponentNumber({
            params: this.generateDataBpjsKetenagakerjaanAndPension,
            componentId: this.payrollBenefitBpjskk || this.bpjsKetComponentId,
          });
          this.formMode = 'edit';
        } else {
          const dataCreateBpjsk = {
            code: 'bpjsk',
            is_deduct_from_salary: true,
            total_member: this.insurance.family_member,
            type: this.insurance.class,
          };
          await this.actionCreateBenefits({
            payrollId: this.payrollId,
            params: dataCreateBpjsk,
          });

          const dataCreateBpjskk = {
            code: 'bpjskk',
            is_deduct_from_salary: true,
          };
          await this.actionCreateBenefits({
            payrollId: this.payrollId,
            params: dataCreateBpjskk,
          });
          this.formMode = 'create';
        }
        await this.actionGetBenefits(this.payrollId);
      }
    },

    // old method
    getHealthDetail(data) {
      this.health_detail = data;
    },
    getJamsostekDetail(data) {
      this.jamsostek_detail = data;
    },
    getPensionDetail(data) {
      this.pension_detail = data;
    },
    refreshOptions(val) {
      this.$emit('refresh-options', val);
    },
    closeModalForm() {
      this.$refs.modalHealth.hide();
      this.$refs.modalJamsostek.hide();
      this.$refs.modalPension.hide();
      this.isOpenHealth = false;
      this.isOpenJamsostek = false;
      this.isOpenPension = false;
    },
    openModalCreateHealth(data) {
      if (data) {
        this.isOpenHealth = true;
        this.mode = 'create';
        this.health_detail = null;
        this.$refs.modalHealth.show();
      }
    },
    openModalUpdateHealth(data) {
      if (data) {
        this.isOpenHealth = true;
        this.mode = 'edit';
        this.$refs.modalHealth.show();
      }
    },
    openModalCreateJamsoste(data) {
      if (data) {
        this.isOpenJamsostek = true;
        this.mode = 'create';
        this.jamsostek_detail = null;
        this.$refs.modalJamsostek.show();
      }
    },
    openModalUpdateJamsostek(data) {
      if (data) {
        this.isOpenJamsostek = true;
        this.mode = 'edit';
        this.$refs.modalJamsostek.show();
      }
    },
    openModalCreatePension(data) {
      if (data) {
        this.isOpenPension = true;
        this.mode = 'create';
        this.pension_detail = null;
        this.$refs.modalPension.show();
      }
    },
    openModalUpdatePension(data) {
      if (data) {
        this.isOpenPension = true;
        this.mode = 'edit';
        this.$refs.modalPension.show();
      }
    },
  },
};
</script>

<style>

</style>
