<template>
  <div>
    <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Payroll Area</h3>
    <b-row>
      <b-col cols="12">
        <div>
          <div
            v-if="mode === 'edit'"
            class="row">
            <b-form-group class="col-6">
              <label for="id"> ID* </label>
              <j-input
                id="id"
                :disabled="true"
                v-model="$v.payroll_area.id.$model"
                placeholder="ID"/>
            </b-form-group>
            <b-form-group
              :class="{'error-input' : $v.payroll_area.code.$error}"
              class="col-6">
              <label for="text2"> Code* </label>
              <j-input
                id="text2"
                v-model="$v.payroll_area.code.$model"
                placeholder="Code"/>
            </b-form-group>
          </div>
          <b-form-group
            v-else
            :class="{'error-input' : $v.payroll_area.code.$error}"
          >
            <label for="text2"> Code* </label>
            <j-input
              id="text2"
              v-model="$v.payroll_area.code.$model"
              placeholder="Code"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.payroll_area.name.$error}">
            <label for="text1"> Name* </label>
            <j-input
              id="text1"
              v-model="$v.payroll_area.name.$model"
              placeholder="Name"/>
          </b-form-group>
          <b-form-group>
            <label for="decription"> Description </label>
            <j-textarea
              id="decription"
              v-model="$v.payroll_area.description.$model"
              placeholder="Description"/>
          </b-form-group>

          <div class="float-right">
            <b-button
              v-if="mode === 'edit'"
              :disabled="true"
              class="btn red m__r--5"
              @click="deleteLocation">
              Delete
            </b-button>
            <b-button
              class="btn m__r--5"
              @click="closeModal">
              Close
            </b-button>
            <b-button
              v-if="mode === 'edit'"
              class="btn blue"
              @click="updateLocation">
              Update
            </b-button>
            <b-button
              v-else
              class="btn blue"
              @click="submit">
              Add
            </b-button>
          </div>

        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';

export default {
  validations: {
    payroll_area: {
      name: {
        required,
      },
      code: {
        required,
      },
      id: {

      },
      description: {

      },
    },
  },
  props: {
    detail: {
      type: Object,
      default: () => [],
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      payroll_area: {
        name: null,
        code: null,
        description: null,
      },
      options: {
        icon: 'fa-map-marker',
        main_title: this.mode === 'create' ? 'Add Location' : 'Edit Location',
      },
      typeOptions: [
        {
          id: 'OFFICE',
          text: 'Office',
          is_delete: false,
        },
        {
          id: 'NON OFFICE',
          text: 'Non Office',
          is_delete: false,
        },
      ],
    };
  },

  computed: {
    ...mapState('jStorePayrollArea', ['listTaxLocation']),
  },
  created() {
    if (this.mode === 'edit') {
      this.payroll_area = {
        id: this.detail.id,
        name: this.detail.name,
        code: this.detail.code,
        description: this.detail.description,
      };
    } else {
      this.payroll_area = {
        name: null,
        code: null,
        description: null,
      };

      this.$v.payroll_area.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollArea', ['createPayrollArea', 'deletePayrollArea', 'updatePayrollArea']),

    async submit() {
      this.$v.payroll_area.$touch();
      if (!this.$v.payroll_area.$error) {
        // eslint-disable-next-line camelcase
        const { name, code, description } = this.payroll_area;
        const params = {
          name,
          code,
          description,
        };
        await this.createPayrollArea(params);
        this.$emit('updated', true);
        this.closeModal();
      }
    },
    async updateLocation() {
      this.$v.payroll_area.$touch();
      if (!this.$v.payroll_area.$error) {
        // eslint-disable-next-line camelcase
        const { id, name, code, description } =
          this.payroll_area;
        const params = {
          name,
          code,
          description,
        };
        await this.updatePayrollArea({ id, req: params });
        this.$emit('updated', true);
        this.closeModal();
      }
    },
    deleteLocation() {
      this.$swal.fire({
        title: '<span style="color:#d2232a;font-size:1.25em;margin-bottom:10px">Delete<span>',
        html:
    '<p style="font-size:1em;"> Are you sure to delete this payroll area?</p> ',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
    'Delete',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
    'Cancel',
        cancelButtonAriaLabel: 'Thumbs down',
        type: 'warning',
        confirmButtonColor: '#d2232a',
        cancelButtonColor: '#d33',
      }).then(async (result) => {
        if (result.value) {
          const params = {
            id: this.payroll_area.id,
          };
          await this.deletePayrollArea(params);
          this.$emit('updated', true);
          this.closeModal();
        }
      });
    },
    closeModal() {
      this.payroll_area = {
        name: null,
        code: null,
        description: null,
      };
      this.$v.payroll_area.$reset();
      this.$emit('close-modal', true);
    },
  },
};
</script>
<style lang="scss" scoped>
  .button-action__company-location__create{
    float: right;
    margin-bottom: 50px;
  }

  .red{
    color: red;
  }
</style>
