<template>
  <div
    id="location-table"
    class="list-data-table">

    <v-server-table
      v-show="load_first"
      ref="tableLocation"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="onRowClick"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn btn-import-oos m__r--5"
            @click="createLocationButton">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <j-import-file-oos
            v-if="default_import"
            :href-sample="require('@/assets/file/create-location.xlsx')"
            @import-data="importData"/> -->
          <b-button
            id="location-search"
            class="btn btn-import-oos">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="created_at"
        slot-scope="props"
      >
        {{ props.row.created_at | moment("MMM DD, YYYY") }}
      </div>

      <div
        slot="updated_at"
        slot-scope="props"
      >
        {{ props.row.updated_at | moment("MMM DD, YYYY") }}
      </div>

    </v-server-table>

    <j-progress-screen
      ref="ImportFile"
      :data-kirim="data_import"
      :url-api="url"
      :headers="headers"
      property-data="data"
      @finish="uploadDone"/>
    <b-modal
      ref="modalPosition"
      class="mod-form"
      centered>
      <h3 class="float-to-center c--red">
        Error Data
      </h3>
      <v-client-table
        v-if="error_data[0]"
        :data="error_data"
        :columns="column"
        :options="option"
        class="jTable">

        <div
          slot="ERROR"
          slot-scope="props">
          <div
            v-for="(err, index) in props.row.ERROR"
            :key="index">
            {{ err }}
          </div>
        </div>

      </v-client-table>
      <download-excel
        :data="error_data"
        class="float-to-right m__t--30"
        name="Position-data-error.xls">
        <b-button class="btn green">
          Export Error
        </b-button>
      </download-excel>
    </b-modal>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="location-table"
      target="location-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
// import Vue from 'vue';
import { mapActions } from 'vuex';
import jApiPayrollArea from '../../../../../services/jApiPayrollArea';
import jProgressScreen from '../../../../../components/progress-screen/jProgressScreen';

export default {
  components: {
    jProgressScreen,
  },
  data() {
    return {
      popoverSearchShow: false,
      default_import: true,
      load_first: false,
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Id',
          value: 'id',
        },
        {
          text: 'Code',
          value: 'code',
        },
      ],
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['NAME', 'CODE', 'ERROR'],
      data_import: [],
      raw_data: null,
      is_search_filter: false,
      length_table: '',
      location_data: null,
      columns: ['id', 'name', 'code', 'created_at', 'updated_at'],
      option: {
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      filter_data: '',
      options: {
        headings: {
          id: 'ID',
          name: 'NAME',
          code: 'CODE',
          created_at: 'CREATED DATE',
          updated_at: 'UPDATED DATE',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        filterable: true,
        sortable: ['id', 'name', 'code', 'created_at', 'updated_at'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'created_at',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: 'id',
            },
          };
        },
        requestFunction(data) {
          const locationList = jApiPayrollArea.payrollAreaList(data.pagination);
          return locationList.catch((e) => {
            this.dispatch('error', e);
            this.$store.commit('jStoreNotificationScreen/toggleStateProblem', e.message);
          });
        },
        responseAdapter(data) {
          if (data.length) {
            this.length_table = data.length;
          }
          return {
            data: data.data,
            count: data.length,
          };
        },
      },
    };
  },
  computed: {
    url() {
      const getEnv = 'company/setup/location/create';
      return getEnv;
    },
    headers() {
      // const token = Vue.ls.get('Token');
      const token = JSON.parse(localStorage.getItem('Token')).value;
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
  },
  watch: {
    // eslint-disable-next-line func-names
    '$route.params': function () {
      this.$forceUpdate();
    },
    filter_data(val) {
      this.is_search_filter = true;
      if (val === '') {
        this.$refs.tableLocation.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleLoading', 'toggleProblem', 'showLoading', 'hideLoading', 'loading_screen']),

    filter(val) {
      this.$refs.tableLocation.refresh(val);
    },
    uploadData() {
      this.$refs.ImportFile.toggleIsVisible();
    },
    uploadDone() {
      this.raw_data = [];
      this.is_finish = true;
      this.refreshTable();
      this.data_import = [];
      this.default_import = false;
      setTimeout(() => {
        this.default_import = true;
      }, 100);
    },
    refreshTable() {
      this.$refs.tableLocation.refresh();
    },
    importData(val) {
      this.data_import = [];
      this.is_error = false;
      this.list_error = [];
      this.error_data = val;

      const keys = Object.keys(val[0]);
      if (keys[0] !== 'NAME' || keys[1] !== 'CODE') {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please use header format correctly');
      }

      this.raw_data = val;
      this.data_import = this.raw_data.map((raw, index) => this.genData(raw, index));

      setTimeout(() => {
        this.uploadData();
      }, 100);
    },
    genData(val, indexData) {
      this.list_error[indexData] = [];
      this.$set(this.error_data[indexData], 'ERROR', []);
      const packing = {
        name: '',
        code: '',
        description: '',
      };

      // name validations
      const strName = val.NAME ? val.NAME.trim() : '';
      if (val.NAME === undefined || strName.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field name is required');
        this.error_data[indexData].ERROR.push('- field name is required');
      } else {
        this.$set(packing, 'name', val.NAME);
      }

      // code validation
      const strCode = val.CODE ? val.CODE.trim() : '';
      if (val.CODE === undefined || strCode.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field code is required');
        this.error_data[indexData].ERROR.push('- field code is required');
      } else {
        this.$set(packing, 'code', val.CODE);
      }

      // this.data_import.push(packing);
      return packing;
    },
    onRowClick({ row }) {
      const data = row;
      this.$emit('detail-location', data);
      this.$emit('edit-modal', true);
    },
    createLocationButton() {
      this.$emit('create-modal', true);
    },
    loading(data) {
      const dataParam = data.pagination;
      dataParam.query_type = this.select_type;
      dataParam.query = this.filter_data;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
        this.hideLoading();
      }
    },
  },
};
</script>
<style lang="scss">

  .w-100{
    width: 100%;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .field-input__location{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0px 10px;
    height:20px
  }

  .list-data-table .popover {
    max-width: 600px;
  }
</style>
