<template>
  <div>
    <ul
      v-if="attachments.length !== 0"
      class="attachments"
      data-toggle="collapse"
    >
      <li
        v-for="(attachment, index) in attachments"
        :key="index"
        class="attachments_li"
      >
        <img
          :src="checkFileUrl(attachment.url)"
          class="img-responsive round-bordered-img"
        >
      </li>
    </ul>
  </div>
</template>

<script>
/* eslint-disable global-require */
export default {
  name: 'JAttachments',
  props: {
    attachments: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    checkFileUrl(file) {
      let fileUrl = '';
      const extension = file.split('.').pop();

      if (extension === 'pdf') {
        fileUrl = require('@/assets/icon/pdf.png');
      } else if (extension === 'doc' || extension === 'docx') {
        fileUrl = require('@/assets/icon/docx.png');
      } else if (extension === 'xls' || extension === 'xlsx' || extension === 'csv') {
        fileUrl = require('@/assets/icon/xls.png');
      } else if (extension === 'ppt' || extension === 'pptx') {
        fileUrl = require('@/assets/icon/ppt.png');
      } else if (extension === 'txt') {
        fileUrl = require('@/assets/icon/txt.png');
      } else {
        fileUrl = file;
      }

      return fileUrl;
    },
  },
};
</script>

<style lang="scss">
  .round-bordered-img {
    float: left;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border: 2px solid;
    padding: 2px;
    border-radius: 100%;
    object-fit: cover;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .attachments {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .attachments_li {
    padding-right: 3px;
    display: inline-block;
  }
</style>
