<template>
  <div>
    <div>
      <jFloatingPrompt
        ref="flowFloating"
        :oos-route="oosRoute">
        <h2 class="inline--block">
          {{ flow.name }} -
          {{ flow.type_name === 'ORDER'? 'IN':'' }}
          {{ flow.type_name }}
          {{ flow.minimum_action !== 0 ? flow.minimum_action : '' }}
        </h2>

        <!-- button UPDATE or DELETE -->
        <div class="wrap-button-flow">
          <b-button
            v-if="isAdmin"
            class="border white m__r--10"
            @click="updateFlow">
            EDIT
          </b-button>
          <b-button
            v-if="isAdmin"
            class="btn red"
            @click="flowDeleted">
            DELETE
          </b-button>
          <i
            class="fa fa-times"
            @click="hideFlowFloating"/>
        </div>

        <!-- flow detail -->
        <div class="overflow-scroll">
          <div v-if="flow.use_division_chart === false">
            <div class="inline--block bullet">
              <div class="flow-new__bullet-top">
                <i class="fa fa-square"/>
              </div>
            </div>
            <div
              v-for="(approver, index) in flow.members"
              :key="index"
              class="approver-order inline--block">

              <div class="inline--block line-wrap">
                <div class="line-horizontal"/>
              </div>

              <div class="inline--block box-flow">
                <div class="header-flow">
                  <div class="header-actions">
                    <!-- <i
                      class="fa fa-edit"/>
                    <i
                      class="fa fa-times"/> -->
                  </div>
                  Approver {{ approver.order }}
                </div>
                <div class="content-flow">
                  {{ approver.organigram.name }} <br>
                  {{ approver.organigram_member_name ? approver.organigram_member_name : "" }}
                </div>
              </div>

            </div>
          </div>
        </div>

      </jFloatingPrompt>
    </div>
  </div>
</template>

<script>
import jFloatingPrompt from '@/components/new-floating-templete/jFloatingPrompt';

export default {
  // eslint-disable-next-line
  name: 'jFlowFloatingPrompt',
  components: { jFloatingPrompt },
  props: {
    flow: {
      type: Object,
      default: null,
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  computed: {
    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  methods: {
    showFloatingDelete() {
      this.$refs.deleteFlow.show();
    },
    hideFloatingDelete() {
      this.$refs.deleteFlow.hide();
    },
    updateFlow() {
      if (this.flow.use_division_chart === false) {
        this.routeUpdateFlow(`${this.oosRoute}/flow/update/${this.flow.id}`);
      } else {
        this.routeUpdateFlow(`${this.oosRoute}/flow/update-by-division/${this.flow.id}`);
      }
    },
    flowDeleted() {
      const text = `You want to delete "${this.flow.name}"`;

      this.$swal({
        title: 'Are you sure?',
        text,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then((result) => {
        if (result.value) {
          this.$emit('deleteFlow');
        }
      });
    },
    hideFlowFloating() {
      this.$refs.flowFloating.hide();
      this.$emit('hideFloatingPrompt');
      this.$store.commit('jFlows/setOpenFlow');
      this.$store.commit('jFlows/setFlowData', null);
    },

    routeUpdateFlow(url) {
      this.$router.push(url);
    },
  },
};
</script>

<style lang="scss" scoped>
.delete-flow {
  color: #42a5ce;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 16px;
  .wrap-button-flow {
    position: relative;
    .btn {
      margin-left: 20px;
    }
  }
  .close-modal-flow {
    color: #42a5ce;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 16px;
  }
  .title-flow {
    color: black;
    margin-bottom: 20px;
  }
  .modal-body {
    padding-bottom: 0px;
  }
}
.jFlow.flow-flex-center .wrap-button-flow .btn {
  margin-left: 20px;
}
h3 {
  text-align: center;
}
.mod-form .modal-body {
  padding-bottom: 0px;
}
</style>
