<template>
  <div
    id="flow-table"
    class="list-data-table mb-2"
  >
    <div v-if="!load_first">
      <jLoadingTable/>
    </div>

    <div v-show="load_first">
      <v-server-table
        ref="flowServer"
        :url="env"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="rowClick"
        @pagination="removeRowBackground">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn btn-import-oos m__r--5"
              @click="createFlow">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <jExportFlows />
            <b-button
              id="table-flow-search"
              class="btn btn-import-oos m__r--5">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
            <jImportFlows @upload-done="uploadDone"/>
          </b-form>
        </div>

        <div
          slot="created_date"
          slot-scope="props">
          {{ props.row.created_date | moment("DD/MM/YYYY") }}
        </div>
        <div
          slot="updated_date"
          slot-scope="props">
          {{ props.row.updated_date | moment("DD/MM/YYYY") }}
        </div>

        <div
          slot="type_name"
          slot-scope="props">
          {{ props.row.type === 1 ? 'ORDER' : '' }}
          {{ props.row.type === 2 ? 'NO ORDER' : '' }}
          {{ props.row.type === 3 ? 'MIN' : '' }}
          {{ props.row.minimum_action !== 0 ? props.row.minimum_action : '' }}
        </div>

        <div
          slot="created_by"
          slot-scope="props"
        >
          {{ props.row.created_by.email ? props.row.created_by.email : '-' }}
        </div>

        <div
          slot="updated_by"
          slot-scope="props"
        >
          {{ props.row.updated_by.email ? props.row.updated_by.email : '-' }}
        </div>
      </v-server-table>
    </div>

    <b-modal
      ref="createFlow"
      class="mod-form"
      centered
      no-close-on-esc>
      <div class="float-to-center p--20">
        <b-button
          class="btn blue m__r--20"
          @click="routeCreateFlow('/flow/new')">
          Create Flow Default
        </b-button>
        <b-button
          class="btn blue outline"
          @click="routeCreateFlow('/flow/new-by-division')">
          Create Flow By Division
        </b-button>
      </div>
    </b-modal>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="flow-table"
      target="table-flow-search"
      placement="right">
      <div class="text-center m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>
  </div>

</template>

<script>
import { mapState, mapActions } from 'vuex';
import { jFlow } from '@/mixins/components/jojoflow/jFlow';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jExportFlows from './jExportFlows';
import jImportFlows from './jImportFlows';

export default {
  components: {
    jLoadingTable,
    jExportFlows,
    jImportFlows,
  },
  mixins: [jFlow],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      rowing: null,
      opsi: {
        icon: 'fa-user',
        main_title: 'FLOWS',
        opt_title: '',
      },
    };
  },
  computed: {
    ...mapState('jFlows', ['flows_table', 'manage_flow']),
    ...mapState('jRules', ['upload_rules_finished']),

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    rowing(newData, oldData) {
      if (oldData) {
        this.removeRowClick(oldData);
      }
    },

    upload_rules_finished() {
      this.refreshTable();
    },

    // eslint-disable-next-line
    'manage_flow.is_open': function() {
      this.removeRowBackground();
      this.removeRowClick();
    },
  },
  methods: {
    ...mapActions('jFlows', ['getListFlow']),

    createFlow() {
      this.$refs.createFlow.show();
    },

    uploadDone() {
      this.refreshTable();
    },

    rowClick(data) {
      const elem = document.getElementsByClassName(`row-${data.row.id}`);
      elem[0].setAttribute('style', 'background-color: #b3e8f8;');
      elem[0].classList.add('mystyle');
      this.rowing = data.row.id;
      const dataa = data;
      const isCreatedByDivision = dataa.row.create_by_division
        ? dataa.row.create_by_division : false;
      dataa.row.create_by_division = isCreatedByDivision;
      this.$emit('row-click', data);
      this.$store.commit('jFlows/setFlowData', data);
    },
    removeRowClick(data) {
      const elem = document.getElementsByClassName(`row-${data}`);
      if (elem.length === 1) {
        elem[0].setAttribute('style', 'background-color: none;');
      }
    },
    removeRowBackground() {
      if (this.rowing) {
        const elem = document.getElementsByClassName(`row-${this.rowing}`);
        if (elem.length === 1) {
          elem[0].setAttribute('style', 'background-color: none;');
        }
      }
      this.rowing = null;
      this.$emit('pagination');
    },

    refreshTable() {
      this.$refs.flowServer.getData();
    },

    routeCreateFlow(url) {
      this.$router.push(`${this.oosRoute}${url}`);
    },
  },
};
</script>

<style lang="scss">
  .list-data-table .popover {
    max-width: 600px;
  }

  .list-data-table .vue-xlsx-container button {
    width: 150px !important;
    margin: 0px 0px 0px -4px !important;
  }

  .list-data-table .icon.btn-secondary {
    padding: 6px 5px !important;
    width: 50px !important;
  }

  .list-data-table .icon.btn-secondary i:before {
    right: 0px !important;
  }
</style>
