<template>
  <div>
    <j-access-management-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
      :element="element"
    />
    <j-access-application-list
      v-else
      :oos-route="prefix"
      :element="element"
    />
  </div>
</template>

<script>
import jAccessApplicationList from '@/views/application/application-component/access-management/jAccessApplicationList';
import jAccessManagementDetail from '@/views/application/application-component/access-management/jAccessManagementDetail';

export default {
  components: {
    jAccessApplicationList,
    jAccessManagementDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;

      if (url.includes('access-detail')) {
        return 'detail';
      }
      return 'list';
    },
  },
};
</script>
