<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <div class="container-app-search-table-view">
      <v-client-table
        v-if="!load_first"
        ref="accessTableComponent"
        :columns="columns"
        :options="option"
        :data="data_table"
        class="jTable table-access-application"
        @row-click="openDetail"
      >
        <!-- Filter -->
        <div
          slot="beforeFilter"
          class="display-flex"
        >
          <b-form
            inline
            @keypress.13.prevent="filter(filter_data)">
            <j-select
              v-model="select_type"
              :options="options_search"
              :error-required="false"
              placeholder="Filter By"
              class="m__r--5"/>
            <b-form-input
              ref="filterInput"
              v-model="filter_data"
              placeholder="Search"
              style="width: 250px; height: 35px"/>
          </b-form>
        </div>

        <div
          slot="logo"
          slot-scope="props">
          <img
            :src="props.row.icon"
            width="30">
        </div>

      </v-client-table>
      <jLoadingTable v-if="load_first"/>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
/* eslint-disable max-len, no-console, no-unused-vars */

export default {
  components: {
    jLoadingTable,
  },

  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    element: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      load_first: true,
      filter_data: '',
      select_type: 'name',
      data_table: [],
      options_search: [
        {
          text: 'Id',
          value: 'id',
        },
        {
          text: 'Name',
          value: 'name',
        },
      ],
      columns: ['id', 'logo', 'name', 'total_page', 'created_at', 'updated_at'],
      option: {
        filterable: true,
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },

  computed: {
    ...mapState('jStoreAccessManagement', ['applications_list']),
  },

  watch: {
    // eslint-disable-next-line
    'applications_list': function() {
      this.data_table = this.applications_list;
      this.load_first = false;
    },
  },

  created() {
    this.getApplicationList();
  },

  methods: {
    ...mapActions('jStoreAccessManagement', ['actionGetApplicationsList']),

    getApplicationList() {
      const parameter = {
        page: 1,
        limit: 1000,
      };
      this.actionGetApplicationsList({ params: parameter });
    },

    filter(val) {
      if (this.select_type === 'name') {
        this.data_table = this.applications_list.filter(app =>
          app.name.toUpperCase().includes(val.toUpperCase()));
      } else if (this.select_type === 'id') {
        this.data_table = this.applications_list.filter(app =>
          String(app.id).toUpperCase().includes(val.toUpperCase()));
      }
    },

    openDetail({ row }) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/access-detail/${row.id}`);
      } else {
        this.$router.push(`/access-detail/${row.id}`);
      }
    },
  },
};
</script>
