<template>
  <div class="component-card-access-manage">
    <div class="header-multiple">
      <b-row>
        <b-col md="12">
          <!-- Application Name -->
          <div class="d-flex align-items-center">
            <i
              class="fa fa-arrow-left font-weight-bold cursor-pointer m__r--10"
              @click="$router.go(-1)"/>
            <img
              v-if="apps_detail"
              :src="apps_detail.icon"
              class="m__l--10"
              width="25">
            <div class="m__l--10">
              <div class="header-text">
                {{ apps_detail ? apps_detail.name : '' }}
              </div>
            </div>
          </div>
        </b-col>
      </b-row>

      <!-- Header tab -->
      <div id="headerTab">
        <div
          v-for="(tab, index) in tabs"
          :key="index"
          :class="{'tab-active': tabSelected === tab.id}"
          class="tab-container"
          @click="tabSelected = tab.id"
        >
          <h4>{{ tab.name }}</h4>
          <div
            v-if="tabSelected === tab.id"
            class="underline-data"/>
        </div>
      </div>
    </div>

    <!-- Content Tab -->
    <div
      v-if="tabSelected === 'privileges'"
      class="m__t--50">
      <jAccessManagementTabPrivilege />
    </div>
    <div
      v-if="tabSelected === 'maintenance'"
      class="m__t--50">
      <jAccessManagementTabMaintenance />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import jAccessManagementTabPrivilege from '@/views/application/application-component/access-management/tab/jAccessManagementTabPrivilege';
import jAccessManagementTabMaintenance from '@/views/application/application-component/access-management/tab/jAccessManagementTabMaintenance';

export default {
  components: {
    jAccessManagementTabPrivilege,
    jAccessManagementTabMaintenance,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    element: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      tabSelected: 'privileges',
      tabs: [
        {
          id: 'privileges',
          name: 'PRIVILEGES',
        },
        {
          id: 'maintenance',
          name: 'MAINTENANCE',
        },
      ],
      apps_detail: null,
    };
  },

  computed: {
    ...mapState('jStoreAccessManagement', ['application_detail']),
  },

  watch: {
    application_detail(val) {
      this.apps_detail = {
        id: val.id,
        name: val.name,
        icon: val.icon,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
  .component-card-access-manage {
    margin: 10px 20px;
  }

  .header-multiple {
    background-color: #f2f2f2;
    padding: 20px 20px 0px 20px;
    margin: -20px;
  }

  #headerTab {
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;

    .tab-container {
      width: auto;
      min-width: 30px;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      margin-right: 35px;
      padding: 10px 0px 0px 0px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
      h4 {
        font-weight: 500;
        color: #9A9A9A;
      }
      .underline-data {
        width: 100%;
        height: 4px;
        margin: 15px 0 0;
        background-color: #4a90e2;
      }
      @media screen and (max-width: 540px) {
        width: 100%;
        margin-right: 0;
      }
    }
    .tab-active h4 {
      font-weight: 600;
      color: #5B5A5A;
    }
  }

  .header-text {
    font-weight: 600;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5b5b;
  }
</style>
