<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-area-table
          @create-modal="openModalCreateArea"
          @edit-modal="openModalUpdateArea"
          @area="getAreaDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
      <b-col cols="12">
        <j-scale-table
          @create-modal="openModalCreateScale"
          @edit-modal="openModalUpdateScale"
          @scale="getScaleDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalArea"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="areaTitle"/>
      <div>
        <j-area-form
          v-if="isOpenPayroll"
          :mode="mode"
          :detail="area_detail"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

    <b-modal
      ref="modalScale"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="scaleTitle"/>
      <div>
        <j-scale-form
          v-if="isOpenPayscale"
          :mode="mode"
          :detail="scale_detail"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jAreaForm from './area/jAreaForm';
import jAreaTable from './area/jAreaTable';
import jScaleForm from './scale/jScaleForm';
import jScaleTable from './scale/jScaleTable';

export default {
  name: 'JGrouping',
  components: {
    jAreaForm,
    jAreaTable,
    jScaleForm,
    jScaleTable,
  },
  data() {
    return {
      mode: '',
      isOpenPayroll: false,
      isOpenPayscale: false,
      area_detail: null,
      scale_detail: null,
      areaTitle: {
        main_title: 'PAYROLL AREA',
      },
      scaleTitle: {
        main_title: 'PAYSCALE AREA',
      },
    };
  },
  created() {
    this.actionGetMasterPayrollArea();
    this.actionGetMasterPayscale();
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionGetMasterPayrollArea', 'actionGetMasterPayscale']),

    getAreaDetail(data) {
      this.area_detail = data;
    },
    getScaleDetail(data) {
      this.scale_detail = data;
    },
    refreshOptions(val) {
      this.$emit('refresh-options', val);
    },
    closeModalForm() {
      this.isOpenPayroll = false;
      this.isOpenPayscale = false;
      this.$refs.modalArea.hide();
      this.$refs.modalScale.hide();
    },
    openModalCreateArea(data) {
      if (data) {
        this.isOpenPayroll = true;
        this.mode = 'create';
        this.area_detail = null;
        this.$refs.modalArea.show();
      }
    },
    openModalUpdateArea(data) {
      if (data) {
        this.isOpenPayroll = true;
        this.mode = 'edit';
        this.$refs.modalArea.show();
      }
    },
    openModalCreateScale(data) {
      if (data) {
        this.isOpenPayscale = true;
        this.mode = 'create';
        this.scale_detail = null;
        this.$refs.modalScale.show();
      }
    },
    openModalUpdateScale(data) {
      if (data) {
        this.isOpenPayscale = true;
        this.mode = 'edit';
        this.$refs.modalScale.show();
      }
    },
  },
};
</script>

<style>

</style>
