<template>
  <div class="jIndexFlows">
    <div class="tab-header">
      <div
        v-for="(item, index) in tabs"
        :key="index"
        md="2"
        class="content-tab"
        @click="tabSelected = item.tab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.tab"
          class="underline-data"/>
      </div>
    </div>

    <jFlowIndex
      v-if="tabSelected === 'flow'"
      :oos-route="oosRoute"/>
    <jFlowSLA
      v-if="tabSelected === 'flow-sla'"
      :oos-route="oosRoute"/>
    <jRules
      v-if="tabSelected === 'rules'"
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
import jRules from './rules/jRules';
import jFlowIndex from './flow/flow-non-sla/jFlowIndex';
import jFlowSLA from './flow/flow-sla/jFlowSLA';

export default {
  components: {
    jRules,
    jFlowIndex,
    jFlowSLA,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabSelected: 'flow',
      tabs: [
        { tab: 'flow', title: 'FLOW' },
        { tab: 'flow-sla', title: 'FLOW SLA' },
        { tab: 'rules', title: 'RULES' },
      ],
    };
  },
};
</script>

