<template>
  <div>

    <b-row class="m__b--10">
      <b-col class="component-title">
        Organization Unit
      </b-col>
    </b-row>

    <b-button
      class="btn btn-import-form m__r--8 m__b--8"
      @click="addRelation">
      <i class="fa fa-plus fa-lg"/> Add
    </b-button>

    <b-row
      v-for="item in listRelation"
      :key="item.id"
      class="d-flex align-items-center justify-content-between m__b--8">
      <b-col
        cols="6"
        md="6">
        <span
          class="font-weight-bold"
          style="font-size: 12px"
        >
          {{ item.name }}
        </span>
        <br>
        <span
          style="font-size: 12px"
        >
          {{ item.id }}
        </span>
      </b-col>
      <b-col
        cols="6"
        md="6"
        class="text-right"
      >
        <i
          class="fa fa-pencil"
          style="cursor:pointer"
          @click="editRelation(item)" />
        <i
          class="fa fa-trash"
          style="cursor:pointer"
          @click="deleteRelation(item)" />
      </b-col>
    </b-row>

    <b-modal
      ref="modalMapping"
      class="mod-form modal-relation-orgunit"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div>
        <fieldset>
          <h3 class="modal-title"> Add Org Unit </h3>
          <b-form-group>
            <j-single-select
              v-model="orgUnit"
              :options="org_unit_list"
              placeholder="Select org unit"
              value-format="object"
              label="name"
            />
          </b-form-group>
        </fieldset>

        <div class="text-right">
          <b-button
            class="btn"
            @click="closeModalMapping"
          >
            Close
          </b-button>
          <b-button
            class="btn blue"
            @click="submitMapping"
          >
            {{ mode === 'edit' ? 'Update' : 'Add' }}
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapActions, mapState } from 'vuex';

export default {
  props: {
    listRelation: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      orgUnit: null,
      idRelation: null,
      mode: 'create',
    };
  },
  computed: {
    ...mapState('jStoreCore', ['org_unit_list']),

  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.actionGetListDivisions(params);
  },
  methods: {
    ...mapActions('jStoreCore', ['actionGetListDivisions', 'actionCreateMappingCostCenterDivision', 'actionUpdateMappingCostCenterDivision', 'actionDeleteMappingCostCenterDivision']),

    addRelation() {
      this.mode = 'create';
      this.orgUnit = null;
      this.openModalMapping();
    },
    editRelation(item) {
      this.mode = 'edit';
      this.orgUnit = { id: item.id };
      this.idRelation = item.mapping_costcenter_division_id;
      this.openModalMapping();
    },
    deleteRelation(item) {
      this.$swal({
        title: `Are you sure to delete ${item.name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteMappingCostCenterDivision({
            id: item.mapping_costcenter_division_id,
          });

          if (!res.error) {
            this.closeModalMapping();
            this.$emit('updated-relation');
          }
        }
      });
    },
    closeModalMapping() {
      this.$refs.modalMapping.hide();
    },
    openModalMapping() {
      this.$refs.modalMapping.show();
    },
    async submitMapping() {
      const genDataMapping = {
        costcenter_id: this.$route.params.id,
        division_id: this.orgUnit.id,
      };

      // eslint-disable-next-line
      let res;
      if (this.mode === 'edit') {
        genDataMapping.id = this.idRelation;
        res = await this.actionUpdateMappingCostCenterDivision(genDataMapping);
      } else {
        res = await this.actionCreateMappingCostCenterDivision(genDataMapping);
      }

      if (!res.error) {
        this.closeModalMapping();
        this.$emit('updated-relation');
      }
    },
  },
};
</script>

<style lang="scss">
  .btn-add-grade  {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #d8d8d8;
    cursor: pointer;
  }

  .modal-relation-orgunit .modal-dialog {
    max-width: 500px;
  }
</style>
