<template>
  <div
    id="code-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <b-button
            id="code-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="created_at"
        slot-scope="props"
      >
        {{ props.row.created_at | moment("MMM DD, YYYY") }}
      </div>

      <div
        slot="updated_at"
        slot-scope="props"
      >
        {{ props.row.updated_at | moment("MMM DD, YYYY") }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="code-table"
      target="code-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalForm"
      class="mod-form modal-grade"
      no-close-on-backdrop
      no-close-on-esc
      centered
    >
      <j-cost-center-form
        v-if="isOpen"
        @modal-open="isModalFormOpen"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiEmployee from '@/services/jApiEmployee';
import jCostCenterForm from './jCostCenterForm';

export default {
  components: {
    jLoadingTable,
    jCostCenterForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      detailData: null,
      companyId: null,
      isOpen: false,
      popoverSearchShow: false,

      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Code',
          value: 'code',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'name', 'code', 'description', 'created_date', 'updated_date'],
      options: {
        headings: {
          id: 'ID',
          code: 'CODE',
          name: 'NAME',
          description: 'DESCRIPTION',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'name', 'code', 'description', 'created_date', 'updated_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'created_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiEmployee.getCostCenterList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    openEditForm({ row }) {
      this.$router.push(`${this.oosRoute}/cost-center/detail/${row.id}`);
    },
    openCreateForm() {
      this.isModalFormOpen(true);
    },
    dateFormatTimestamp(val) {
      return this.$moment(val).format('MM-DD-YYYY');
    },
    dateFormat(val) {
      return this.$moment(val).format('MM-DD-YYYY HH:mm:ss');
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalForm.hide();
        this.refreshTable();
      }
    },
  },
};
</script>

<style lang="scss">
.modal-grade .modal-dialog {
  max-width: 500px;
}
</style>
