<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> Add Cost Center </h3>
      <b-form-group :class="{'error-input' : $v.dataForm.code.$error}">
        <label for="code"> Code <span class="red"> * </span> </label>
        <j-input
          id="code"
          v-model="$v.dataForm.code.$model"
          placeholder="Enter code here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
        <label for="name"> Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataForm.name.$model"
          placeholder="Enter name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.description.$error}">
        <label for="description"> Description </label>
        <j-textarea
          id="description"
          v-model="$v.dataForm.description.$model"
          :disabled="false"
          placeholder="Enter description here"/>
      </b-form-group>

      <div class="text-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          Add
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  validations() {
    return {
      dataForm: {
        name: { required },
        code: { required },
        description: {},
      },
    };
  },
  data() {
    return {
      dataForm: {
        name: null,
        code: null,
        description: null,
      },
    };
  },
  methods: {
    ...mapActions('jStoreCore', ['actionCreateCostCenter']),

    closeModalForm() {
      this.dataForm = {
        name: null,
        code: null,
        description: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionCreateCostCenter(this.dataForm);

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
  },
};
</script>

