<template>
  <div id="cost-center-detail">
    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataForm.id.$error}">
              <label>ID <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.id.$model"
                :disabled="true"
                placeholder="Enter id here"/>
            </b-form-group>
          </b-col>

          <b-col
            cols="6">
            <b-form-group :class="{'error-input' : $v.dataForm.code.$error}">
              <label>Code <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.code.$model"
                placeholder="Enter code here"/>
            </b-form-group>
          </b-col>

          <b-col
            cols="12">
            <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.name.$model"
                placeholder="Enter name here"/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group>
              <label>Description</label>
              <j-textarea
                v-model="$v.dataForm.description.$model"
                placeholder="Enter description here"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="m__b--24">
          <b-col cols="12">
            <j-cost-center-mapping-org-unit
              :list-relation="listRelation"
              @updated-relation="getDetail"
            />
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-button
              class="btn blue"
              @click="submitRecord">
              Update
            </b-button>
            <b-button
              class="btn"
              @click="$router.go(-1)">
              Cancel
            </b-button>
            <b-button
              :disabled="true"
              class="btn btn-danger pull-right"
              @click="deleteRecord">
              Delete
            </b-button>
          </b-col>
        </b-row>
      </b-col>

      <b-col
        md="3"
        sm="3"
        cols="12"/>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jCostCenterMappingOrgUnit from './jCostCenterMappingOrgUnit';

export default {
  components: {
    jCostCenterMappingOrgUnit,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  validations() {
    return {
      dataForm: {
        id: { required },
        code: { required },
        name: { required },
        description: {},
      },
    };
  },
  data() {
    return {
      dataForm: {
        id: null,
        code: '',
        name: '',
        description: '',
      },
      listRelation: [],
    };
  },
  computed: {
    ...mapState('jStoreCore', ['cost_center_detail']),

  },
  watch: {
    cost_center_detail(val) {
      this.dataForm = {
        id: val.id,
        code: val.code,
        name: val.name,
        description: val.description,
      };
      this.listRelation = Array.isArray(val.divisions) ? val.divisions : [];
    },
  },
  created() {
    this.getDetail();
  },
  methods: {
    ...mapActions('jStoreCore', ['actionGetCostCenterDetail', 'actionUpdateCostCenter', 'actionDeleteCostCenter']),


    getDetail() {
      const params = {
        id: this.$route.params.id,
      };
      this.actionGetCostCenterDetail(params);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        this.dataForm.id = this.$route.params.id;
        const res = await this.actionUpdateCostCenter(this.dataForm);

        if (!res.error) {
          this.dataForm = {
            id: null,
            code: '',
            name: '',
            description: '',
          };

          this.$v.dataForm.$reset();
          this.$router.go(-1);
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              id: this.$route.params.id,
            };
            await this.actionDeleteCostCenter(params);
            this.$router.go(-1);
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #cost-center-detail {
    .custom-control {
      padding-left: 5px !important;
    }

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
