<!-- eslint-disable max-len -->
<template>
  <div id="navbar">
    <!-- Left Navbar -->
    <div class="wrap-left">
      <img
        class="cursor-pointer"
        src="@/assets/image/menu.svg"
        height="20"
        @click="openSidebar"
      >
      <img
        v-if="app && app.icon && !atHome"
        :src="app.icon"
        height="30"
      >
      <div
        v-if="app && app.name && !atHome"
        class="text-app"
      >
        {{ app.name.toUpperCase() }}
      </div>
    </div>

    <!-- Officeless Logo -->
    <img
      v-if="atHome"
      :src="logo_navbar"
      height="30"
      class="logo-oos"
    >

    <!-- Right Navbar -->
    <div
      v-click-outside="hideDropdownNotif"
      class="wrap-right">
      <!-- Notification -->
      <img
        :src="iconNotification"
        class="cursor-pointer mr-3"
        @click="showDropdownNotif = !showDropdownNotif"
      >

      <!-- Dropdown Notification -->
      <div
        v-if="showDropdownNotif"
        class="dropdown-notification"
      >
        <div class="dropdown-notification__title">All Notifications</div>
        <div class="dropdown-notification__wrap-list">
          <div
            v-for="(item, index) in listNotification"
            :key="index"
            class="dropdown-notification__list-item"
            @click="readNotification(item)"
          >
            <div class="dropdown-notification__item-img">
              <img
                :src="require(`@/assets/icon/notification-navbar/envelope-${item.is_read ? 'gray' : 'blue'}.svg`)"
                alt="profile-pic-small"
              >
            </div>
            <div class="dropdown-notification__item-msg">
              <div class="dropdown-notification__msg-headings">{{ item.headings }}</div>
              <div class="dropdown-notification__msg-message">{{ item.message }}</div>
            </div>
            <div class="dropdown-notification__item-act">
              <i
                class="fa fa-trash fa-lg pull-right m__t--3 cursor-pointer"
                @click="deleteNotification(item, index)"/>
            </div>
          </div>
        </div>
        <div class="dropdown-notification__footer">
          <span @click="readAllNotification">Mark all as read</span>
          <span @click="goToPageNotification">See All</span>
        </div>
      </div>

      <!-- Modal Notification -->
      <div
        v-click-outside="hideModalNotif"
        v-if="showModalNotif"
        class="notification-screen info-screen"
        @click="showModalNotif = false">
        <div class="notification-screen-box">
          <div class="floating-container">
            <img
              :src="require('@/assets/icon/notification-navbar/envelope-img.svg')"
              alt="profile-pic-small"
            >
            <h1 class="title">
              {{ dataMessage.headings }}
            </h1>
            <div
              id="info-screen-message"
              class="message"
              v-html="dataMessage.message"
            />
          </div>
        </div>
      </div>

      <!-- Profile -->
      <div class="wrap-profile">
        <div
          v-click-outside="hideDropdown"
          class="profile"
          @click="setShowDropdown"
        >
          <!-- If have profile pic -->
          <img
            v-if="profile_data && profile_data.photo_url"
            :src="sanitizeUrl(profile_data.photo_url) || require('@/assets/image/profile.png')"
            alt="profile-pic-small"
          >

          <!-- Create initial name if dont have initial name -->
          <div
            v-else-if="profile_data && !profile_data.photo_url"
            :style="`background-color: ${initialBackground}`"
            class="initial"
          >
            {{ initialName }}
          </div>

          <img
            v-else
            :src="require('@/assets/image/profile.png')"
            alt="profile-pic-small"
          >

          <i class="fa fa-sort-desc" />
        </div>
      </div>

      <!-- Dropdown Profile -->
      <div
        v-if="showDropdown"
        class="dropdown-profile"
      >
        <!-- If have profile pic -->
        <img
          v-if="profile_data && profile_data.photo_url"
          :src="sanitizeUrl(profile_data.photo_url) || require('@/assets/image/profile.png')"
          alt="profile-pic-small"
        >

        <!-- Create initial name if dont have initial name -->
        <div
          v-else-if="profile_data && !profile_data.photo_url"
          :style="`background-color: ${initialBackground}`"
          class="initial"
        >
          {{ initialName }}
        </div>

        <img
          v-else
          :src="require('@/assets/image/profile.png')"
          alt="profile-pic-small"
        >

        <p class="profile-name">
          {{ fullName }}
        </p>
        <p class="profile-email">
          {{ email }}
        </p>

        <div class="section-button">
          <router-link
            to="/profile"
            class="button"
          >
            View Profile
          </router-link>
          <button
            class="button"
            @click="handleLogout"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { mapActions, mapState, mapMutations } from 'vuex';
import { jPrivRoles } from '@/privilage/roles/jPrivRoles';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';
import ClickOutside from 'vue-click-outside';

export default {
  directives: {
    ClickOutside,
  },
  mixins: [
    jPrivRoles,
    jMixSanitizeUrl,
  ],
  props: {
    app: {
      type: Object,
      default: null,
    },
    atHome: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      showDropdown: false,
      showDropdownNotif: false,
      showModalNotif: false,
      listNotification: [],
      unreadMessages: 0,
      dataMessage: null,
      isOpenEditModal: true,
    };
  },

  computed: {
    ...mapState('jStoreLogin', ['profile_data']),

    fullName() {
      return `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`;
    },

    email() {
      return localStorage.getItem('email');
    },

    initialBackground() {
      return this.backgroundInitialName();
    },

    initialName() {
      return this.createInitialName(this.fullName);
    },

    logo_navbar() {
      const logoNavbar = process.env.LOGO_NAVBAR;
      if (logoNavbar && this.sanitizeUrl(logoNavbar)) {
        return process.env.LOGO_NAVBAR;
      }
      // eslint-disable-next-line
      return require('@/assets/logo/logo_oos.png');
    },

    iconNotification() {
      if (this.showDropdownNotif) {
        if (this.unreadMessages.length) {
          return require('@/assets/icon/notification-navbar/bell-blue-red.svg');
        }
        return require('@/assets/icon/notification-navbar/bell-blue.svg');
      }
      if (this.unreadMessages.length) {
        return require('@/assets/icon/notification-navbar/bell-gray-red.svg');
      }
      return require('@/assets/icon/notification-navbar/bell-gray.svg');
    },
  },

  watch: {
    $route() {
      this.getNotif();
    },
  },

  created() {
    this.getNotif();
  },

  methods: {
    ...mapActions('jStoreLogout', ['logoutAccount']),
    ...mapActions('jStoreHome', ['actionGetListNotification', 'actionReadNotification', 'actionDeleteNotification']),
    ...mapMutations('jStoreHome', ['setTabProfile']),

    backgroundInitialName() {
      const colors = [
        '#dc2626',
        '#d97706',
        '#65a30d',
        '#059669',
        '#0284c7',
        '#4f46e5',
        '#9333ea',
        '#db2777',
        '#e11d48',
      ];
      return colors[Math.floor(Math.random() * colors.length)];
    },

    createInitialName(name) {
      // eslint-disable-next-line newline-per-chained-call
      return name.match(/(\b\S)?/g).join('').match(/(^\S|\S$)?/g).join('').toUpperCase();
    },

    setShowDropdown() {
      this.showDropdown = !this.showDropdown;
      this.showDropdownNotif = false;
    },

    hideDropdown() {
      this.showDropdown = false;
    },

    hideDropdownNotif() {
      this.showDropdownNotif = false;
    },

    hideModalNotif() {
      this.showModalNotif = false;
    },

    openSidebar() {
      this.$store.dispatch('jStoreSetting/toogleSidebar', true);
    },

    async handleLogout() {
      await this.logoutAccount();
      this.$router.push('/logout');
    },

    getNotif() {
      this.actionGetListNotification().then((res) => {
        this.listNotification = res.notifications;
        this.unreadMessages = res.notifications.filter(f => !f.is_read);
      });
    },

    readNotification(item) {
      setTimeout(() => {
        if (this.isOpenEditModal) {
          if (!item.is_read) {
            const body = { notifications: [item] };
            this.actionReadNotification(body).then(() => {
              this.getNotif();
            });
          }
          if (item.action) {
            if (item.action.url) {
              window.open(item.action.url, '_blank');
            } else if (item.action.application_id && item.action.pages_id) {
              const applicationId = item.action.application_id || '';
              const applicationName = item.action.application_name ? item.action.application_name.replace(/\s/g, '-') : '';
              const pageName = item.action.pages_name ? item.action.pages_name.replace(/\s/g, '-') : '';
              const pageId = item.action.pages_id || '';
              const formUiId = item.action.form_ui_id || '';
              const recordId = item.action.record_id || '';
              const tabName = item.action.tab_name ? item.action.tab_name.replace(/\s/g, '-') : '';
              if (tabName) {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${formUiId}/${recordId}/${tabName}`);
              } else if (formUiId) {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${formUiId}/${recordId}`);
              } else {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}`);
              }
            }
          } else {
            this.dataMessage = item;
            this.showModalNotif = true;
          }
        } else {
          setTimeout(() => { this.isOpenEditModal = true; }, 50);
        }
      }, 50);
    },

    readAllNotification() {
      const body = { notifications: this.listNotification.filter(f => !f.is_read) };
      this.actionReadNotification(body).then(() => {
        this.getNotif();
      });
    },

    deleteNotification(item, index) {
      this.isOpenEditModal = false;
      this.$swal({
        title: 'Delete',
        text: 'Are you sure to delete message ?',
        type: 'question',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#606060',
        titleColor: '#676767',
      }).then(async (result) => {
        if (result.value) {
          this.listNotification.splice(index, 1);
          const body = { notifications: [item] };
          this.actionDeleteNotification(body).then(() => {
            this.getNotif();
          });
        }
      });
    },

    goToPageNotification() {
      this.showDropdownNotif = false;
      if (this.$route.path === '/profile') this.setTabProfile('notification');
      else this.$router.push({ path: '/profile', query: { tab: 'notification' } });
    },
  },
};
</script>
