<template>
  <div id="navbar">
    <!-- Left Navbar -->
    <div class="wrap-left">
      <img
        class="cursor-pointer"
        src="@/assets/image/menu.svg"
        height="20"
        @click="openSidebar"
      >
      <img
        v-if="app && app.icon && sanitizeUrl(app.icon)"
        :src="app.icon"
        height="30"
      >
      <div
        v-if="app && app.name"
        class="text-app"
      >
        {{ app.name.toUpperCase() }}
      </div>
    </div>

    <!-- Right Navbar -->
    <div class="wrap-right">
      <!-- Go to studio -->
      <img
        v-if="(privRoleAdmin || privRoleSysadmin) && useSetting"
        src="@/assets/image/setting.svg"
        height="30"
        class="cursor-pointer mr-3"
        @click="openSetting"
      >

      <!-- Profile -->
      <div class="wrap-profile">
        <div
          v-click-outside="hideDropdown"
          class="profile"
          @click="showDropdown = !showDropdown"
        >
          <!-- If have profile pic -->
          <img
            v-if="profile_data && profile_data.photo_url"
            :src="sanitizeUrl(profile_data.photo_url) || require('@/assets/image/profile.png')"
            alt="profile-pic-small"
          >

          <!-- Create initial name if dont have initial name -->
          <div
            v-else-if="profile_data && !profile_data.photo_url"
            :style="`background-color: ${initialBackground}`"
            class="initial"
          >
            {{ initialName }}
          </div>

          <img
            v-else
            :src="require('@/assets/image/profile.png')"
            alt="profile-pic-small"
          >

          <i class="fa fa-sort-desc" />
        </div>
      </div>

      <!-- Dropdown Profile -->
      <div
        v-if="showDropdown"
        class="dropdown-profile"
      >
        <img
          v-if="profile_data && profile_data.photo_url"
          :src="sanitizeUrl(profile_data.photo_url) || require('@/assets/image/profile.png')"
          alt="profile-pic-small"
        >

        <!-- Create initial name if dont have initial name -->
        <div
          v-else-if="profile_data && !profile_data.photo_url"
          :style="`background-color: ${initialBackground}`"
          class="initial"
        >
          {{ initialName }}
        </div>

        <img
          v-else
          :src="require('@/assets/image/profile.png')"
          alt="profile-pic-small"
        >

        <p class="profile-name">
          {{ fullName }}
        </p>
        <p class="profile-email">
          {{ email }}
        </p>

        <div class="section-button">
          <router-link
            to="/profile"
            class="button"
          >
            View Profile
          </router-link>
          <button
            class="button"
            @click="handleLogout"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { jPrivRoles } from '@/privilage/roles/jPrivRoles';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';
import ClickOutside from 'vue-click-outside';

export default {
  directives: {
    ClickOutside,
  },
  mixins: [
    jPrivRoles,
    jMixSanitizeUrl,
  ],
  props: {
    app: {
      type: Object,
      default: null,
    },
    useSetting: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      showDropdown: false,
    };
  },

  computed: {
    ...mapState('jStoreLogin', ['profile_data']),

    fullName() {
      return `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`;
    },

    email() {
      return localStorage.getItem('email');
    },

    initialBackground() {
      return this.backgroundInitialName();
    },

    initialName() {
      return this.createInitialName(this.fullName);
    },
  },

  methods: {
    ...mapActions('jStoreLogout', ['logoutAccount']),

    backgroundInitialName() {
      const colors = [
        '#dc2626',
        '#d97706',
        '#65a30d',
        '#059669',
        '#0284c7',
        '#4f46e5',
        '#9333ea',
        '#db2777',
        '#e11d48',
      ];
      return colors[Math.floor(Math.random() * colors.length)];
    },

    createInitialName(name) {
      // eslint-disable-next-line newline-per-chained-call
      return name.match(/(\b\S)?/g).join('').match(/(^\S|\S$)?/g).join('').toUpperCase();
    },

    hideDropdown() {
      this.showDropdown = false;
    },

    openSidebar() {
      this.$store.dispatch('jStoreSetting/toogleSidebar', true);
    },

    openSetting() {
      const JOJOPRO_URL = process.env.JOJOPRO_URL ? process.env.JOJOPRO_URL : '';
      window.location.href = `${JOJOPRO_URL}pro/setting/employee#/employee`;
    },

    async handleLogout() {
      await this.logoutAccount();
      this.$router.push('/logout');
    },
  },
};
</script>
