<template>
  <div>
    <j-title-header :options="title"/>

    <j-task-project-form
      ref="form"
      :form-list="form_list"
      :project-list="project_list"
      mode="create"
      @data="getData"/>

    <div class="float-to-left m__t--50">
      <b-button
        class="btn blue m__r--15"
        @click="saveTaskProject">Submit</b-button>
      <b-button
        class="btn grey"
        @click="$router.go(-1)">
        <!-- @click="$router.replace('/timesheet/project/list')"> -->
        Cancel
      </b-button>
    </div>
    <br>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jTaskProjectForm from './jTaskProjectForm';

export default {
  components: {
    jTaskProjectForm,
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Create Task Project',
      },
      task_project: null,
    };
  },
  computed: {
    ...mapState('jStoreTimesheetConfigTaskProject', ['form_list', 'project_list', 'error_submit']),

    generateData() {
      if (this.task_project !== null) {
        const genData = {
          task_project: this.generateDataDetail(this.task_project.data_detail),
        };
        return genData;
      }
      return null;
    },
  },
  watch: {
    error_submit() {
      if (this.error_submit.error) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', this.error_submit.message);
      }
    },
  },
  created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };

    this.getListForm(rootId);
    this.getListProject(rootId);
  },
  methods: {
    ...mapActions('jStoreTimesheetConfigTaskProject', ['createTaskProject', 'getListForm', 'getListProject']),

    saveTaskProject() {
      this.$refs.form.save();
      if (this.task_project !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.task_project = data;
    },

    sendData() {
      this.createTaskProject(this.generateData);
    },

    generateDataDetail(val) {
      const dataDetail = [];
      val.forEach((a) => {
        const taskProject = {
          id: 0,
          project_id: this.task_project.project_name.id ? this.task_project.project_name.id : 0,
          task_policy_id: 0,
          code: a.code ? a.code : '',
          name: a.name ? a.name : '',
          description: this.task_project.description ? this.task_project.description : '',
          setting: [
            {
              type: 1,
              value: a.form.id ? a.form.id : 0,
            },
            {
              type: 2,
              value: a.duration ? a.duration * 3600000 : 0,
            },
            {
              type: 3,
              value: this.task_project.project_type ? this.task_project.project_type.id : 1,
            },
          ],
        };
        dataDetail.push(taskProject);
      });
      return dataDetail;
    },
  },
};
</script>
