<template>
  <div>
    <j-floating-prompt ref="floating">

      <b-row>
        <b-col md="3">
          <b-row>
            <h1 class="f-blue">{{ selectedRows.length }}</h1>
            <h4> Selected <br> row </h4>
          </b-row>
        </b-col>
        <b-col md="7">
          <h4>Project name : </h4>
          <p> {{ project_name }} </p>
        </b-col>
        <b-col md="2">
          <b-button
            class="btn red"
            @click="deleteProjects">Delete</b-button>
        </b-col>
      </b-row>

    </j-floating-prompt>

    <j-progress-screen
      ref="deleteProject"
      :data-kirim="delete_data"
      :url-api="url"
      :headers="headers"
      @finish="finish"/>

  </div>
</template>

<script>
export default {
  props: {
    selectedRows: {
      type: Array,
      default: () => [],
    },
  },
  computed: {

    headers() {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      const headers = {
        // eslint-disable-next-line
        Authorization: 'Bearer ' + token,
      };
      return headers;
    },

    url() {
      // eslint-disable-next-line
      const getEnv = localStorage.getItem('gateUrl') + 'times/timesheet/config/task-project/delete';
      return getEnv;
    },

    project_name() {
      const name = [];
      this.selectedRows.forEach((a) => {
        name.push(a.name);
      });
      return name.join(', ');
    },

    delete_data() {
      if (this.selectedRows.length > 0) {
        return this.selectedRows.map(data => ({
          ids: [data.id],
        }));
      }
      return null;
    },
  },

  methods: {
    show() {
      this.$refs.floating.show();
    },

    hide() {
      this.$refs.floating.hide();
    },

    finish() {
      this.hide();
      this.$emit('finish');
    },

    deleteProjects() {
      if (this.delete_data !== null) {
        const text = `you want to delete ${this.project_name}`;

        this.$swal({
          title: 'Are you sure',
          text,
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then((result) => {
          if (result.value) {
            this.$refs.deleteProject.toggleIsVisible();
          }
        });
      }
    },
  },
};


</script>
