<template>
  <div>
    <j-title-header :options="title"/>

    <j-task-project-form
      ref="form"
      :form-list="form_list"
      :project-list="project_list"
      :detail-data="project_data.detail_project"
      mode="edit"
      @data="getData"/>

    <b-row>
      <b-col>
        <div class="float-to-left m__t--50">
          <b-button
            class="btn blue m__r--15"
            @click="saveEditProject">Update</b-button>
          <b-button
            class="btn grey"
            @click="$router.go(-1)">
            <!-- @click="$router.replace('/timesheet/project/list')"> -->
            Cancel
          </b-button>
        </div>
      </b-col>

      <b-col>
        <div class="float-to-right m__t--50">
          <b-button
            class="btn red"
            @click="deleteData">Delete</b-button>
        </div>
      </b-col>

    </b-row>

    <br>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jTaskProjectForm from './jTaskProjectForm';

export default {
  components: {
    jTaskProjectForm,
  },
  data() {
    return {
      task_project: null,
      data_edit: null,
      title: {
        icon: 'fa-user',
        main_title: 'Edit Task Project',
      },
    };
  },
  computed: {
    ...mapState('jStoreTimesheetConfigTaskProject', ['form_list', 'project_list', 'project_data']),

    generateDataUpdate() {
      if (this.task_project !== null) {
        const genData = {
          task_project: this.generateDataDetail(this.task_project.data_detail, this.data_edit),
        };
        return genData;
      }
      return null;
    },

    delete_data() {
      if (this.project_data.detail_project !== null) {
        const dataDelete = [];
        this.project_data.detail_project.forEach((a) => {
          const taskProject = {
            id: a.id,
            project_id: a.project_id,
            task_policy_id: 0,
            code: a.code,
            name: a.name,
            description: a.description,
            setting: a.setting,
            is_delete: true,
          };
          dataDelete.push(taskProject);
        });
        return {
          task_project: dataDelete,
        };
      }
      return null;
    },
  },
  async created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };

    await Promise.all([this.getListForm(rootId), this.getListProject(rootId)]).then(() => {
      this.getProjectDetail({
        project_id: {
          id: Number(this.$route.params.id),
        },
      });
    });
  },

  methods: {
    ...mapActions('jStoreTimesheetConfigTaskProject', ['getProjectDetail', 'getListForm', 'getListProject', 'updateTaskProjectDetail']),

    saveEditProject() {
      this.$refs.form.save();
      if (this.task_project !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.task_project = data.model;
      this.data_edit = data.data_edit;
    },

    sendData() {
      this.updateTaskProjectDetail(this.generateDataUpdate);
    },

    generateDataDetail(val, value) {
      const dataDetail = [];
      val.forEach((a) => {
        const taskProject = {
          id: a.id,
          project_id: this.task_project.project_name.id ? this.task_project.project_name.id : 0,
          task_policy_id: 0,
          code: a.code ? a.code : '',
          name: a.name ? a.name : '',
          description: this.task_project.description ? this.task_project.description : '',
          setting: [
            {
              type: 1,
              value: a.form.id ? a.form.id : 0,
            },
            {
              type: 2,
              value: a.duration ? a.duration * 3600000 : 0,
            },
            {
              type: 3,
              value: this.task_project.project_type ? this.task_project.project_type.id : 1,
            },
          ],
          is_delete: a.is_delete,
        };
        dataDetail.push(taskProject);
      });

      value.forEach((a) => {
        const taskProject = {
          id: a.id,
          project_id: this.task_project.project_name.id ? this.task_project.project_name.id : 0,
          task_policy_id: 0,
          code: a.code ? a.code : '',
          name: a.name ? a.name : '',
          description: this.task_project.description ? this.task_project.description : '',
          setting: [
            {
              type: 1,
              value: a.form.id ? a.form.id : 0,
            },
            {
              type: 2,
              value: a.duration ? a.duration : 0,
            },
            {
              type: 3,
              value: this.task_project.project_type ? this.task_project.project_type.id : 1,
            },
          ],
          is_delete: a.is_delete,
        };
        dataDetail.push(taskProject);
      });
      return dataDetail;
    },

    deleteData() {
      this.$swal({
        title: 'Are you sure you want to delete this task project?',
        type: 'warning',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then((result) => {
        if (result.value) {
          this.updateTaskProjectDetail(this.delete_data);
        }
      });
    },
  },
};
</script>
