<template>
  <div>
    <h3 class="float-to-center">
      Create Project
    </h3>
    <b-form-group
      :class="{'error-input' : $v.project.name.$error}">
      <label>Name*</label>
      <j-input
        v-model="project.name"
        :max-length="50"
        placeholder="Name"/>
    </b-form-group>

    <b-form-group
      :class="{'error-input' : $v.project.code.$error}">
      <label>Code*</label>
      <j-input
        v-model="project.code"
        :max-length="42"
        placeholder="Code"/>
    </b-form-group>

    <!-- <b-form-group
      :class="{'error-input' : $v.project.period.$error}">
      <label>Period*</label>
      <b-row>
        <b-col
          cols="12">
          <j-single-select
            :options="project_data.list_periods"
            v-model="project.period"
            value-format="object"
            label="name"
            placeholder="Select Period"/>
        </b-col>
        <b-col
          v-if="project.period !== null && project.period !== undefined"
          cols="1">
          <b-button
            class="btn btn blue outline btn-secondary btn-edit pull-right"
            @click="EditPeriod(project.period.id)">
            <i class="fa fa-pencil"/>
          </b-button>
        </b-col>
      </b-row>
      <label
        class="c--blue float-right p__t--10"
        style="cursor: pointer;"
        @click="addNewPeriod"> + Add New Period </label>
    </b-form-group> -->

    <b-form-group
      :class="{'error-input' : $v.project.description.$error}">
      <label>Description</label>
      <j-textarea
        v-model="project.description"
        :max-length="300"
        placeholder="Description"/>
    </b-form-group>
    <b-form-group
      :class="{'error-input' : $v.project.division.$error}">
      <label>Division</label>
      <j-single-select
        v-model="project.division"
        :is-async="true"
        :load-options="loadOptionsDivision"
        :default-options="false"
        value-format="object"
        label="name"
        placeholder="Select Division"/>
    </b-form-group>
    <label>Project Member</label>
    <br>
    <p>Filter By: </p>
    <j-radio
      v-model="filter"
      :options="option_filter"
      :stacked="false"
      :disabled="false"/>
    <b-form-group
      :class="{'error-input' : $v.project.organigrams.$error}">
      <div>
        <j-multi-select
          v-if="is_show_organigrams"
          v-model="project.organigrams"
          :is-async="true"
          :load-options="loadOptionsPosition"
          :default-options="false"
          :default-data="project.default_organigrams"
          :label="filter"
          :placeholder="`Select ${placeholder}`"
          value-format="object"
          @getData="getDataEditOrganigram"/>
      </div>
      <j-multi-select
        v-if="!is_show_organigrams"
        v-model="empty"
        :is-async="true"
        :load-options="loadOptionsPosition"
        :default-options="false"
        :default-data="project.default_organigrams"
        :label="filter"
        :placeholder="`Select ${placeholder}`"
        value-format="object"
        @getData="getDataEditOrganigram"/>
    </b-form-group>

    <div class="pull-right">
      <b-button
        class="btn"
        @click="closeModal">
        Close
      </b-button>
      <b-button
        class="btn"
        variant="primary"
        @click="createProject">
        Create
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations: {
    project: {
      name: { required },
      code: { required },
      // period: { required },
      description: { },
      organigrams: {},
      division: {},
    },
  },
  data() {
    return {
      empty: [],
      project: {
        id: 0,
        name: null,
        code: null,
        period: null,
        description: null,
        organigrams: null,
        rule: null,
        organigrams_edit: null,
        division: null,
        default_division: false,
        default_organigrams: [],
        deleted_organigram: [],
      },
      is_show_organigrams: true,
      filter: 'name',
      option_filter: [
        { text: 'Position', value: 'name' },
        { text: 'Name', value: 'user_name' },
        { text: 'Email', value: 'email' },
      ],
      list_periods_dummy: [
        {
          backdate_settlement: 0,
          blackout_date: { start_date: '', end_date: '' },
          description: 'Coba',
          end_date: '2020-10-31',
          id: 131,
          is_active: false,
          is_active_backdate: false,
          is_active_blackout: false,
          is_expired: false,
          is_used_transaction: false,
          name: 'Periode 1',
          start_date: '2020-10-14',
          type: 2,
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreProject', ['project_data']),

    placeholder() {
      if (this.filter === 'name') {
        return 'Position';
      } else if (this.filter === 'user_name') {
        return 'Name';
      } else if (this.filter === 'email') {
        return 'Email';
      }
      return '';
    },

    generateData() {
      if (this.project !== null) {
        // sort position by
        let organigrams;
        if (this.project.organigrams !== null) {
          organigrams = this.project.organigrams.map(data => data.id);
        } else {
          organigrams = [];
        }

        const genData = {
          name: this.project.name,
          code: this.project.code,
          period_id: 0,
          description: this.project.description ? this.project.description : '',
          organigrams,
          division_id: this.project.division ? this.project.division.id : null,
          company_users: [],
        };
        return genData;
      }
      return null;
    },
  },
  watch: {
    filter(newVal) {
      const revise = this.project.organigrams.map((org) => {
        // eslint-disable-next-line
        org.label = org[newVal];
        return org;
      });

      this.project.organigrams = revise;
      this.is_show_organigrams = false;
      setTimeout(() => {
        this.is_show_organigrams = true;
      }, 0);
    },
  },
  // created() {
  //   const getAll = {
  //     pagination: {
  //       limit: 0,
  //       page: 0,
  //       column: 'id',
  //       ascending: false,
  //       query: '',
  //     },
  //     costcenter: {
  //       root_id: 0,
  //     },
  //     type: 2,
  //   };

  //   this.getListPeriods(getAll);
  // },
  methods: {
    ...mapMutations('jStoreProject', ['mutateTemporaryProjectData', 'mutateTemporaryProjectMode']),
    ...mapActions('jStoreProject', ['getListPeriods', 'createNewProject']),

    closeModal() {
      this.$emit('modal-open', false);
    },

    createProject() {
      this.$v.project.$touch();
      if (!this.$v.project.$error) {
        this.createNewProject(this.generateData);
      }
    },

    getDataEditOrganigram(val) {
      this.project.organigrams_edit = val;
    },

    addNewPeriod() {
      const mode = {
        mode: 'create',
        params: this.$route.params ? this.$route.params : null,
      };
      this.mutateTemporaryProjectMode(mode);
      this.mutateTemporaryProjectData(this.project);
      this.$router.replace('/project/create/period');
    },

    EditPeriod(id) {
      const mode = {
        mode: 'create',
        params: this.$route.params ? this.$route.params : null,
      };
      this.mutateTemporaryProjectMode(mode);
      this.mutateTemporaryProjectData(this.project);
      this.$router.replace(`/project/create/period/edit/${id}`);
    },

    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
          },
        };
        this.$store.dispatch('jStoreProject/getListDivisions', { reqData, callback });
      }
    },

    loadOptionsPositionByDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          division_id: this.v_addApprover.organigram_id.id,
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
            query_type: 'position',
          },
        };
        this.$store.dispatch('jStoreProject/getListByDivisions', { reqData, callback });
      }
    },

    loadOptionsPosition({ action, searchQuery, callback }) {
      let queryType;
      switch (this.filter ? this.filter : '') {
        case 'email':
          queryType = 'email';
          break;
        case 'user_name':
          queryType = 'name';
          break;
        default:
          queryType = 'position';
          break;
      }
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
            query_type: queryType,
          },
        };
        this.$store.dispatch('jStoreProject/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
      }
    },
  },
};
</script>
