<template>
  <div>
    <j-tabs-v2
      :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp.name"
            :oos-route="oosRoute"/>
        </div>
      </div>
    </j-tabs-v2>
  </div>
</template>

<script>
import jTabCompProject from './jTabCompProject';

export default {
  components: {
    jTabCompProject,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabs: [
        {
          idTab: 'tabs-1',
          title: 'Task Project',
          idComp: 'comps-1',
          comp: jTabCompProject,
          isShow: true,
          isActive: true,
          link: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/project/list` : '/timesheet/project/list',
        },
        {
          idTab: 'tabs-2',
          title: 'Task Assignment',
          idComp: 'comps-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/assignment/list` : '/timesheet/assignment/list',
        },
      ],
    };
  },
};
</script>
