<template>
  <div id="jTabCompProject">
    <br>
    <div class="form float-to-right">
      <a
        v-b-toggle.task-setting
        class="task-setting"
      ><i class="fa fa-cogs"/></a>
    </div>
    <j-collapse
      id="task-setting"
      :visible="false">
      <b-card>
        <b-row>
          <b-col
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Use Attendance</label>
              <j-toggle
                v-model="$v.task_setting.use_attendance.$model"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Submit Periode</label>
              <j-toggle
                v-model="$v.task_setting.periode.$model"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Minimum Day Submit</label>
              <j-input
                v-model="$v.task_setting.minimum_day.$model"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Maximum Day Submit</label>
              <j-input
                v-model="$v.task_setting.maximum_day.$model"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Auto Approved</label>
              <j-toggle
                v-model="$v.task_setting.auto_approved.$model"
                :disabled="true"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            md="12"
            sm="12"
            cols="12">
            <b-form-group>
              <div class="float-to-right">
                <b-button
                  class="btn blue"
                  @click="saveSetting">
                  Save
                </b-button>
              </div>
            </b-form-group>
          </b-col>
        </b-row>
      </b-card>
      <br>
    </j-collapse>
    <div id="create-import-generate">
      <b-button
        id="create-import-generate__create"
        class="btn blue"
        @click="generateUrlCreate">
        Create Task Project
      </b-button>

      <!-- Additional element because in j-import-file cannot add download property -->
      <a
        :href="require('@/assets/file/import_task_project.csv')"
        download="import_task_project.csv"
        target="_blank">
        <b-button class="btn outline grey m__r--5">
          <i class="fa fa-download"/>
        </b-button>
      </a>

      <j-import-file
        id="create-import-generate__import"
        :href-sample="require('@/assets/file/import_task_project.csv')"
        @import-data="importTaskProjectCSV"/>

      <b-button
        id="create-import-generate__xls"
        class="btn green"
        @click="generateXls">
        Export XLS
      </b-button>
    </div>
    <div id="advanced-search">
      <div id="advanced-search_title">
        <h4 id="advanced-search_title_heading">Advanced Search</h4>
        <h4
          v-b-toggle.advanced-search_collapse
          id="advanced-search_title_arrow">
          <i
            :class="{'fa fa-angle-down': isAdvancedSearchCollapse,
                     'fa fa-angle-right': !isAdvancedSearchCollapse}"
            @click="isAdvancedSearchCollapse = !isAdvancedSearchCollapse"/>
        </h4>
      </div>
      <j-collapse
        id="advanced-search_collapse"
        :visible="isAdvancedSearchCollapse">
        <b-row>
          <b-col cols="10">
            <div>
              <b-row>
                <b-col>
                  <!-- edit disini -->
                  <b-form-group>
                    <label>Select Project</label>
                    <j-multi-select
                      v-model="select_project"
                      :is-async="true"
                      :load-options="loadOptionsProject"
                      :default-options="false"
                      :disabled="false"
                      :placeholder="'Select Project'"
                      value-format="object"
                      label="name"
                    />
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group>
                    <label>Task Name</label>
                    <j-input
                      v-model="advanced_search.name"
                      placeholder="ex: Daily Task"
                      type="text"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
            <div>
              <b-row>
                <b-col>
                  <b-form-group>
                    <label>Created Date</label>
                    <j-datepicker
                      v-model="advanced_search.created_date"
                      placeholder="ex: Nov 23, 2017"
                      format="MMM dd, yyyy"/>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group>
                    <label>Task Code</label>
                    <j-input
                      v-model="advanced_search.code"
                      placeholder="ex: B501"
                      type="text"/>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group>
                    <label>Task Label</label>
                    <j-input
                      v-model="advanced_search.label"
                      placeholder="ex: Frontend"
                      type="text"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
          </b-col>
          <b-col cols="2">
            <div
              id="advanced-search_collapse_button"
            >
              <b-button
                class="btn blue icon"
                @click="search()">
                <i class="fa fa-search"/>
                Search
              </b-button>
            </div>
          </b-col>
        </b-row>
      </j-collapse>
    </div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="projectServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-row>
            <b-col
              cols="3"
              class="option">
              <j-select
                v-model="select_type"
                :disabled="false"
                :options="options_search"
              />
            </b-col>
            <b-col
              cols="5"
              class="p__l--3">
              <b-form
                @keypress.13.prevent="filter(filter_data)">
                <b-form-group>
                  <j-input
                    v-model="filter_data"
                    class="search-advance"
                    placeholder="Search"/>
                </b-form-group>
              </b-form>
            </b-col>
            <b-col
              cols="4"
              class="option p__l--7">
              <b-button
                class="btn blue outline show-btn"
                @click="filter(filter_data)"> <i class="fa fa-search bold" />
                Search
              </b-button>
            </b-col>
          </b-row>
        </div>

        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport">
          <b-form-group>
            <b-form-checkbox-group v-model="selected_rows">
              <b-form-checkbox :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

        <div
          slot="project_name"
          slot-scope="props"
          @click="generateUrlEdit(props.row.project_id)">
          {{ props.row.project_name }}
        </div>

        <div
          slot="code"
          slot-scope="props"
          @click="generateUrlEdit(props.row.project_id)">
          {{ props.row.code }}
        </div>

        <div
          slot="name"
          slot-scope="props"
          @click="generateUrlEdit(props.row.project_id)">
          {{ props.row.name }}
        </div>

        <div
          slot="setting_duration"
          slot-scope="props"
          @click="generateUrlEdit(props.row.project_id)">
          {{ props.row.setting.length !== 0 ? props.row.setting[1].value / 3600000 : 0 }} hours
        </div>

        <div
          slot="setting_form"
          slot-scope="props"
          @click="generateUrlEdit(props.row.project_id)">
          {{ props.row.setting.length !== 0 ? props.row.setting[0].form_name : 0 }}
        </div>


        <div
          slot="created_date"
          slot-scope="props"
          @click="generateUrlEdit(props.row.id)">
          {{ props.row.created_date | moment("DD MMM, YYYY HH:mm:ss") }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>

      <jDeleteProject
        ref="floating"
        :selected-rows="selected_rows"
        @finish="projectDeleted" />
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing,no-param-reassign */

import { mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jReusableFunction from '@/mixins/paginations/jReusableFunction';
import jApiTimesheetConfigTaskProject from '@/services/timesheet/config/jApiTimesheetConfigTaskProject';
import jDeleteProject from './jDeleteProject';
import { jPolicyServices } from '../policy/jPolicyServices';

export default {
  name: 'jTabCompProject',
  components: {
    jLoadingTable,
    jDeleteProject,
  },
  mixins: [
    jPolicyServices,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isAdvancedSearchCollapse: false,
      task_setting: {
        id: 0,
        name: null,
        description: null,
        use_attendance: false,
        periode: false,
        minimum_day: 0,
        maximum_day: 0,
        auto_approved: true,
      },
      advanced_search: {
        project_ids: [],
        code: '',
        name: '',
        label: '',
        created_date: '',
      },
      advancedSearchResult: [],
      select_project: [],


      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'TASK NAME',
          value: 'name',
        },
        {
          text: 'CODE',
          value: 'code',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['checkbox', 'project_name', 'code', 'name', 'setting_duration', 'setting_form', 'created_date'],
      options: {
        headings: {
          project_name: 'PROJECT',
          code: 'TASK CODE',
          name: 'TASK',
          setting_duration: 'DURATION',
          setting_form: 'FORM',
          created_date: 'CREATED DATE',
          checkbox(h) {
            const objThis = this;
            return jReusableFunction.checkbox(h, objThis);
          },
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['name', 'code', 'description'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiTimesheetConfigTaskProject.getProjectList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },

  watch: {
    // eslint-disable-next-line func-names
    'task_setting.use_attendance': function (newVal) {
      if (newVal) {
        this.task_setting.periode = false;
        this.task_setting.minimum_day = 0;
        this.task_setting.maximum_day = 0;
      }
    },

    filter_data(val) {
      if (val === '') {
        this.$refs.projectServer.setFilter('');
      }
    },

    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },

  methods: {
    ...mapActions('jStoreTimesheetConfigTaskProject', ['createTaskProject', 'exportTaskProject', 'getListProject']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    async search() {
      this.advanced_search.project_ids = this.select_project.map(el => (el.id));
      this.refreshTable();
    },

    saveSetting() {
      this.sendDataSetting();
    },
    async importTaskProjectCSV(data) {
      const importedProjects = [];

      data.forEach((project) => {
        importedProjects.push({
          id: 0,
          project_id: project['Project ID'],
          task_policy_id: 0,
          code: project['Task Code'],
          name: project['Task Name'],
          description: 'description',
          setting: [
            {
              type: 1,
              value: project['Form ID'],
            },
            {
              type: 2,
              value: Number(project['Plan Duration (Hour)']) * 3600000,
            },
            {
              type: 3,
              value: 1,
            },
          ],
        });
      });

      const taskProject = {
        task_project: importedProjects,
      };

      const res = await this.createTaskProject(taskProject);
      if (!res.error) {
        this.refreshTable();
      }
    },

    generateXls() {
      this.exportTaskProject();
    },

    loading(val) {
      val.pagination.query_type = this.select_type;

      const { project_ids: projectIds, code, name, label }
        = this.advanced_search;

      let { created_date: createdDate } = this.advanced_search;

      if (createdDate !== '') {
        createdDate = this.$moment(createdDate).format('YYYY-MM-DD');
      }

      val.project_ids = projectIds;
      val.code = code;
      val.name = name;
      val.label = label;
      val.created_date = createdDate;

      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.projectServer.getData();
    },

    filter(val) {
      this.$refs.projectServer.setFilter(val);
    },

    projectDeleted() {
      this.refreshTable();
      this.selected_rows = [];
    },

    loadOptionsProject({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 0,
              page: 0,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreTimesheetConfigTaskProject/getListProjectAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    generateUrlCreate() {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/timesheet/project/create`);
      } else {
        this.$router.push('/timesheet/project/create');
      }
    },
    generateUrlEdit(id) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/timesheet/project/edit/${id}`);
      } else {
        this.$router.push(`/timesheet/project/edit/${id}`);
      }
    },
  },
  validations() {
    return {
      task_setting: {
        use_attendance: {},
        periode: {},
        minimum_day: {},
        maximum_day: {},
        auto_approved: {},
      },
    };
  },
};
</script>

<style lang="scss">
  .jInput p {
    display: contents;
  }

  .task-setting {
    margin-top: -76px;
    z-index: 0;
    font-size: 28px;
    color: $blue-basic-color;

    &:hover {
      text-decoration: none;
    }
  }

  #advanced-search_title {
    color: $blue-basic-color;
    display: flex;

    #advanced-search_title_heading {
      padding-right: 5px;
    }
  }

  #advanced-search_collapse_button {
    margin-top: 15%;
  }

  #create-import-generate {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10px 0 10px 0;

    #create-import-generate__create {
      margin-right: 10px;
      flex: auto;
    }

    #create-import-generate__xls {
      flex: auto;
    }
  }

  #create-import-generate__import a{
     display: none;
  }

  .jImportFile .vue-xlsx-container button {
    margin: 0px 5px 0px 0px;
  }

  #jTabCompProject > div.custom-table-search > div.jTable.VueTables.VueTables--server {
    > div:nth-child(1) > div > div.form-group.form-inline.pull-left.VueTables__search {
      visibility: hidden;
    }
  }

  .search-advance{
    margin-left: 10px;
  }
</style>
