<template>
  <div class="form">
    <b-form-group :class="{'error-input' : $v.task_project.description.$error}">
      <label>Description*</label>
      <j-textarea
        v-model="$v.task_project.description.$model"
        placeholder="Description"/>
    </b-form-group>

    <b-row>
      <b-col
        md="6"
        sm="6"
        cols="12">
        <b-form-group :class="{'error-input' : $v.task_project.project_name.$error}">
          <label>Project Name*</label>
          <j-single-select
            v-model="$v.task_project.project_name.$model"
            :options="list_project_option"
            :disabled="mode === 'edit'"
            placeholder="Select Project Name"
            value-format="object"
            label="name"/>
          <p
            class="c--approved float-to-right cursor-pointer"
            style="margin-top: -21px"
            @click="isModalProjectOpen(true)">
            Create Project
          </p>
        </b-form-group>
      </b-col>
      <b-col
        hidden="true"
        md="3"
        sm="6"
        cols="12">
        <b-form-group :class="{'error-input' : $v.task_project.project_type.$error}">
          <label>Project Type</label>
          <j-single-select
            v-model="$v.task_project.project_type.$model"
            :options="project_type_list"
            placeholder="Select Project Type"
            value-format="object"
            label="type"/>
        </b-form-group>
      </b-col>
    </b-row>

    <label>List Task</label>
    <div
      v-for="(data, index) in $v.task_project.data_detail.$each.$iter"
      :key="index">
      <b-card>
        <div
          v-if="task_project.data_detail.length > 1"
          class="close-button">
          <i
            class="fa fa-times"
            @click="deleteData(index)"/>
        </div>
        <b-row>
          <b-col>
            <b-form-group
              :class="{'error-input' : data.code.$error}">
              <label> Task Code* </label>
              <j-input
                v-model="data.code.$model"
                placeholder="Task Code"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              :class="{'error-input' : data.name.$error}">
              <label> Task Name* </label>
              <j-input
                v-model="data.name.$model"
                placeholder="Task Name"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              :class="{'error-input' : data.form.$error}">
              <label> Form* </label>
              <j-single-select
                v-model="data.form.$model"
                :options="list_form_option"
                placeholder="Form"
                value-format="object"
                label="name"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              :class="{'error-input' : data.duration.$error}">
              <label> Duration (hour)* </label>
              <j-input
                v-model="data.duration.$model"
                placeholder="Duration"
                type="number"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-card>
      <br>
    </div>
    <b-button
      class="btn-add-form italic float-right"
      @click="addMore">
      + add
    </b-button>
    <br><br>

    <b-modal
      ref="createProject"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-modal-create-project
        @modal-open="isModalProjectOpen"/>
    </b-modal>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jCreateProject from './jCreateProject';
import jModalCreateProject from './jModalCreateProject';

export default {
  components: {
    jCreateProject,
    jModalCreateProject,
  },
  validations() {
    return {
      task_project: {
        id: {},
        description: { required },
        project_name: { required },
        project_type: {},
        data_detail: {
          $each: {
            id: {},
            code: { required },
            name: { required },
            form: { required },
            duration: { },
          },
        },
      },
    };
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    formList: {
      type: Array,
      default: () => [],
    },
    projectList: {
      type: Array,
      default: () => [],
    },
    detailData: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      list_form_option: [],
      list_project_option: [],
      current_index: 0,
      task_project: {
        id: 0,
        description: null,
        project_name: null,
        data_detail: [
          {
            id: 0,
            code: null,
            name: null,
            form: null,
            duration: null,
          },
        ],
      },
      data_edit: [],
      all_field_list: [],
      project_type: 1,
      project_type_list: [
        {
          id: 1,
          type: 'Billable',
        },
        {
          id: 2,
          type: 'Non-Billable',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreProject', ['project_data']),

    sort_form_data() {
      if (this.mode === 'create') {
        return this.task_project;
      }
      return {
        model: this.task_project,
        data_edit: this.data_edit,
      };
    },
  },
  watch: {
    detailData(newVal) {
      if (newVal.length > 0) {
        const projectForm = {
          id: 0,
          description: newVal[0].description,
          project_name: {
            id: newVal[0].project_id,
          },
          project_type: {
            id: newVal[0].setting[2] ? newVal[0].setting[2].value : 0,
          },
          data_detail: this.generateData(newVal),
        };
        this.task_project = projectForm;
      }
    },
    formList(data) {
      this.list_form_option = data;
    },
    projectList(data) {
      this.list_project_option = data;
    },

    // eslint-disable-next-line
    'project_data.data_project_created': function(data) {
      this.isModalProjectOpen(false);
      const rootId = {
        pagination: {
          limit: 0,
          page: 0,
          column: '',
          ascending: false,
          query: '',
        },
      };
      this.getListProject(rootId).then((res) => {
        const dataNew = res.find(e => e.id === data.id);
        this.task_project.project_name = dataNew;
      });
    },
  },
  methods: {
    ...mapActions('jStoreTimesheetConfigTaskProject', ['getListProject']),

    generateData(val) {
      const dataDetail = [];

      val.forEach((a) => {
        const taskProject = {
          id: a.id,
          code: a.code,
          name: a.name,
          form: {
            id: a.setting[0] ? a.setting[0].value : 0,
          },
          duration: a.setting[1] ? a.setting[1].value / 3600000 : 0,
          is_delete: false,
        };
        dataDetail.push(taskProject);
      });
      return dataDetail;
    },

    addMore() {
      const dataTaskProject = {
        id: 0,
        code: null,
        name: null,
        form: null,
        duration: null,
        is_delete: false,
      };
      this.task_project.data_detail.push(dataTaskProject);
    },

    deleteData(index) {
      if (this.task_project.data_detail[index].is_delete !== undefined) {
        this.$set(this.task_project.data_detail[index], 'is_delete', true);
        this.data_edit.push(this.task_project.data_detail[index]);
        this.task_project.data_detail.splice(index, 1);
      } else {
        this.task_project.data_detail.splice(index, 1);
      }
    },

    save() {
      this.$v.task_project.$touch();

      if (!this.$v.task_project.$error) {
        const dataCode = [];
        let status = true;
        this.task_project.data_detail.forEach((e) => {
          if (e.duration > 0) {
            if (!dataCode.includes(e.code)) {
              dataCode.push(e.code);
            } else {
              this.$store.dispatch('jStoreNotificationScreen/toggleInfo', 'There is code is duplicate.', { root: true });
              status = false;
            }
          } else {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Duration cannot be lower than 1 hour', { root: true });
            status = false;
          }
        });
        if (status) {
          this.$emit('data', this.sort_form_data);
        }
      } else {
        this.$emit('data', null);
      }
    },

    isModalProjectOpen(val) {
      if (val) {
        this.$refs.createProject.show();
      } else {
        this.$refs.createProject.hide();
      }
    },
  },
};
</script>
