<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        ref="tableAchievementHistory"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="no"
          slot-scope="props"
          :class="{'m__l--10': true, 'yellow-background-color': props.row.no === currentRow}">
          {{ props.row.no }}
        </div>
        <div
          slot="track_record_type"
          slot-scope="props"
          :class="{'m__l--10': true, 'yellow-background-color': props.row.no === currentRow}">
          {{ props.row.track_record_type }}
        </div>
        <div
          slot="name"
          slot-scope="props">
          {{ props.row.name }}
        </div>
        <div
          slot="description"
          slot-scope="props">
          {{ props.row.description }}
        </div>
        <div
          slot="record_date"
          slot-scope="props">
          {{ props.row.record_date | moment("DD/MM/YYYY") }}
        </div>
        <div
          slot="track_record_attachments"
          slot-scope="props">
          <j-attachments :attachments="props.row.track_record_attachments" />
        </div>
        <div
          slot="last_update"
          slot-scope="props">
          {{ props.row.updated_at | moment("DD/MM/YYYY") }}
        </div>
        <!-- <div
          slot="actions"
          slot-scope="props">
          <span @click="goTodetail(props.row)">
            <i class="fa fa-lg fa-edit action-icon green-color"/>
          </span>
          <span @click="remove(props.row)">
            <i class="fa fa-lg fa-trash action-icon red-color"/>
          </span>
        </div> -->
      </v-server-table>
    </div>
    <b-row
      v-if="is_loading"
      style="margin: 10px">
      <b-col lg="1">
        <Spinner style="display: block; margin: auto;"/>
      </b-col>
      <b-col
        lg="11"
        style="display: block; margin: auto">
        Processing
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// import jAttachments from '@/components/attachments/jAttachments';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import jAttachments from '@/components/attachments/jAttachments';
import eventBus from './event-bus/index';

export default {
  name: 'JAchievementHistoryTable',
  components: {
    Spinner,
    jAttachments,
  },
  props: {
  },
  data() {
    return {
      error_at: '',
      is_loading: false,
      currentRow: 0,
      filter_data: '',
      columns: ['no', 'track_record_type', 'name', 'description', 'record_date', 'track_record_attachments', 'last_update'],
      options: {
        headings: {
          no: 'NO',
          track_record_type: 'Type',
          name: 'Name',
          description: 'Description',
          record_date: 'Date',
          track_record_attachments: 'Attached Document',
          last_update: 'Last Update',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: [],
        debounce: 1000,
        cellClasses: {
          no: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          track_record_type: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          name: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          description: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          record_date: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          result: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          track_record_attachments: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          last_update: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
          actions: [
            {
              class: 'yellow-background-color',
              condition: row => row.no === this.currentRow,
            },
          ],
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            user_company_ids: [],
            team_ids: [],
          };
        },
        requestFunction(data) {
          const { id: employeeId } = this.$route.params;
          return jApiEmployee.getTrackRecords(employeeId, data);
        },
        responseAdapter({ data }) {
          const resultData = data.data.map((value, index) => {
            const obj = value;
            obj.no = index + 1;
            return {
              ...obj,
            };
          });
          return {
            data: resultData,
            count: data.data.length,
          };
        },
        texts: {
          count: '',
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableDocs.setFilter('');
      }
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
    });
  },
  methods: {
    goTodetail(param) {
      this.$emit('achievement', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true);
    },
    editRecord({ row }) {
      this.$emit('achievement', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
    filter(val) {
      this.$refs.tableDocs.setFilter(val);
    },
    loading() {
      this.is_loading = true;
    },
    loaded() {
      this.is_loading = false;
    },
    refreshTable() {
      this.$refs.tableAchievementHistory.refresh();
    },
    remove(param) {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id: achievementHistoryId } = param;
          const { id: employeeId } = this.$route.params;
          jApiEmployee.deleteTrackRecord(employeeId, achievementHistoryId).then(() => {
            this.refreshTable();
            this.error_at = '';
            eventBus.$emit('cancelForm', true);
          }).catch(() => {
            this.error_at = 'Delete';
          });
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #comp-organization-record > div > div:nth-child(3) > div:nth-child(2) > div > div.col-8 > div >
  div.custom-table > div > div:nth-child(1) > div >
  div.form-group.form-inline.pull-right.VueTables__limit {
    visibility: hidden;
  }

  #comp-organization-record > div > div:nth-child(3) > div:nth-child(2) > div > div.col-8 >
  div > div.custom-table > div > div.VuePagination.row.col-md-12 > nav > ul {
    visibility: hidden;
  }
</style>
