<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-achievement-history-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @achievement="getAchievementDetail"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-achievement-history-form
          :mode="mode"
          :detail="achievement_detail"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import jAchievementHistoryForm from './jAchievementHistoryForm';
import jAchievementHistoryTable from './jAchievementHistoryTable';

export default {
  name: 'JAchievementHistory',
  components: {
    jAchievementHistoryForm,
    jAchievementHistoryTable,
  },
  data() {
    return {
      mode: '',
      achievement_detail: null,
      title: {
        main_title: 'ACHIEVEMENT & DISCIPLINARY NAME',
      },
    };
  },
  methods: {
    getAchievementDetail(data) {
      this.achievement_detail = data;
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.achievement_detail = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style scoped>

</style>
