<template>
  <div>
    <div class="row">
      <div class="col-12">
        <img
          class="float-left m__t--10 m__r--10"
          style="width: 20px; height: 20px;"
          src="https://corp2.jojonomic.com/assets/img/dashboard/icons/ico-file.png">
        <h1
          class="float-left m__b--0 f--medium"
          style="font-size: 15px">
          Update Leave Type
        </h1>
      </div>
      <div class="col-12">
        <div
          class="bc--light-grey"
          style="height: 1px"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="m__t--20 c--blue">LEAVE TYPE</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-9">
            <b-form-group>
              <label>Name</label>
              <j-input
                v-model="leave_type_data.name"
                placeholder="ex: annual leave manager, annual leave staff"/>
            </b-form-group>
          </div>
          <div class="col-3">
            <b-form-group>
              <label>Icon</label>
              <j-single-select
                v-model="leave_type_data.icon"
                :options="icon_list"
                :custom="true"
                placeholder="Select an icon"
                label="name">
                <template
                  slot-scope="node"
                  slot="node-custom">
                  <img
                    :src="
                    `https://corp.jojonomic.com//assets/img/times/leave/leave_${node.node.id}.png`"
                    style="width:20px;height:20px;margin:5px;">&nbsp; {{ node.node.label }}
                </template>
              </j-single-select>
            </b-form-group>
          </div>
          <div class="col-12">
            <b-form-group>
              <label>Description</label>
              <j-textarea
                v-model="leave_type_data.description"
                placeholder="ex: annual leave for manager"/>
            </b-form-group>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h4 class="m__t--20 c--blue">POLICY</h4>
        <div class="row">
          <div class="col-6">

            <div class="row">
              <div class="col-12">
                <label>Repetition (Reset)</label>
              </div>
              <div class="col-4">
                <label>Every</label>
                <j-input
                  v-model="policy_data.repetition"/>
              </div>
              <div class="col-4">
                <label>Unit</label>
                <j-select
                  v-model="policy_data.period"
                  :options="period_list"/>
              </div>
              <div class="col-4">
                <label>Start By</label>
                <j-select
                  v-model="policy_data.start_by"
                  :options="start_by_list"/>
              </div>
            </div>

            <div
              v-if="policy_data.start_by === 'specific_date'"
              class="row">
              <div class="col-4">
                <label>Day</label>
                <j-input
                  v-model="policy_data.day"
                  type="number"/>
              </div>
              <div class="col-4">
                <label>Month</label>
                <j-select
                  v-model="policy_data.month"
                  :options="month_list"/>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label>Repetition Calculation</label>
              </div>
              <div class="col-4">
                <label>Every</label>
                <j-input
                  v-model="policy_data.repetition_calc"/>
              </div>
              <div class="col-4">
                <label>Unit</label>
                <j-select
                  v-model="policy_data.period_calc"
                  :options="period_list"/>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Carry Forward</label>
                  <j-toggle
                    v-model="policy_data.carry_forward"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div class="col-8">
                <j-collapse
                  :visible="policy_data.carry_forward">
                  <div class="row bc--light-grey m__l--0 rounded">
                    <div class="col-6">
                      <b-form-group>
                        <label>Carry Forward Quota</label>
                        <j-input
                          v-model="policy_data.quota_carry_forward"
                          type="number"
                          placeholder="ex: 1"/>
                      </b-form-group>
                    </div>
                    <div class="col-6">
                      <b-form-group class="">
                        <label>Valid Until</label>
                        <j-datepicker
                          v-model="policy_data.carry_forward_period"
                          placeholder="ex: Jan 1"/>
                      </b-form-group>
                    </div>
                  </div>
                </j-collapse>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <b-form-group>
                  <label>Mass Debit Credit</label>
                  <j-input
                    v-model="policy_data.mass_debit_credit"
                    type="number"/>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Added Quota</label>
                  <j-input
                    v-model="policy_data.added_quota"
                    type="number"/>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Allow Backdate</label>
                  <j-input
                    v-model="policy_data.allow_backdate"
                    type="number"/>
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Minimum Day Submit</label>
                  <j-input
                    v-model="policy_data.minimum_day_submit"
                    type="number"/>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <b-form-group>
                  <label>Payroll Setting</label>
                  <j-select
                    v-model="policy_data.payroll_setting"
                    :options="payroll_setting_list"/>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Special Leave</label>
                  <j-toggle
                    v-model="policy_data.special_leave"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div
                v-if="policy_data.special_leave"
                class="col-5"
              >
                <b-form-group>
                  <label>Range Length of Working</label>
                  <b-row>
                    <b-col cols="5">
                      <j-input
                        v-model="policy_data.special_leave_length_working_start"
                        type="number"/>
                    </b-col>
                    <b-col cols="2">
                      -
                    </b-col>
                    <b-col cols="5">
                      <j-input
                        v-model="policy_data.special_leave_length_working_end"
                        type="number"/>
                    </b-col>
                  </b-row>
                </b-form-group>
              </div>
              <div
                v-if="policy_data.special_leave"
                class="col-3"
              >
                <b-form-group>
                  <label>Get Quota</label>
                  <j-input
                    v-model="policy_data.special_leave_quota"
                    type="number"/>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Lock Month</label>
                  <j-toggle
                    v-model="policy_data.lock_month"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div
                v-if="policy_data.lock_month"
                class="col-6">
                <b-form-group>
                  <label>Month Periode</label>
                  <j-multi-select
                    v-model="policy_data.month_periode"
                    :options="month_list"
                    placeholder="Select Month"
                    value-format="object"/>
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Auto Mapping</label>
                  <j-toggle
                    v-model="policy_data.auto_mapping"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div
                v-if="policy_data.auto_mapping"
                class="col-6">
                <b-form-group>
                  <label>Quota</label>
                  <j-input
                    v-model="policy_data.auto_mapping_quota"
                    type="number"/>
                </b-form-group>
              </div>
            </div>

            <div
              v-for="(data, index) in policy_data.rule"
              :key="index">
              <j-select
                v-show="index > 0"
                v-model="data.relation"
                :options="relation_list"/>
              <div
                v-if="policy_data.auto_mapping"
                class="list-rule-container">
                <b-form-group v-if="data.type !== 'length_of_working'">
                  {{ getNameRule(data.type) }}
                  <i
                    class="fa fa-lg fa-trash pull-right cursor-pointer"
                    @click="deleteRule(index)"
                  />
                  <a
                    v-if="data.type !== 'division'"
                    class="pull-right cursor-pointer fs-12 m__r--10"
                    @click="unselectAll(index)">
                    Unselect All
                  </a>
                  <a
                    v-if="data.type !== 'division'"
                    class="pull-right cursor-pointer fs-12 m__r--15"
                    @click="selectAll(index, data.type)">
                    Select All
                  </a>
                  <br>
                  <j-multi-select
                    v-if="data.type === 'gender'"
                    v-model="data.data"
                    :options="gender_list"
                    label="text"
                    style="width: 95%"/>
                  <j-multi-select
                    v-if="data.type === 'religion'"
                    v-model="data.data"
                    :options="religion_list"
                    label="text"
                    style="width: 95%"/>
                  <j-multi-select
                    v-if="data.type === 'marital'"
                    v-model="data.data"
                    :options="marital_status_list"
                    label="text"
                    style="width: 95%"/>
                  <j-multi-select
                    v-if="data.type === 'employement_type'"
                    v-model="data.data"
                    :options="employment_type_list"
                    label="text"
                    style="width: 95%"/>
                  <j-multi-select
                    v-if="data.type === 'grade'"
                    v-model="data.data"
                    :options="grade_list"
                    label="text"
                    style="width: 95%"/>
                  <j-multi-select
                    v-if="data.type === 'division'"
                    v-model="data.data"
                    :load-options="loadOptionsDivision"
                    :is-async="true"
                    :cache-option="false"
                    :default-options="false"
                    value-format="object"
                    label="name"
                    style="width: 95%"/>
                </b-form-group>
                <b-form-group v-else>
                  {{ getNameRule(data.type) }}
                  <i
                    class="fa fa-lg fa-trash pull-right cursor-pointer"
                    @click="deleteRule(index)"
                  />
                  <br>
                  <div
                    v-for="(dataWork, indexWork) in data.data"
                    :key="indexWork">
                    <b-row>
                      <b-col md="2">
                        <label>Min Year</label>
                        <j-input
                          v-model="dataWork.min"
                          :error-required="false"
                          type="number"/>
                      </b-col>
                      <b-col md="2">
                        <label>Max Year</label>
                        <j-input
                          v-model="dataWork.max"
                          :error-required="false"
                          type="number"/>
                      </b-col>
                      <b-col md="2">
                        <label>Quota</label>
                        <j-input
                          v-model="dataWork.quota"
                          :error-required="false"
                          type="number"
                          @input="eventInputQuota(index, indexWork, dataWork.quota)"/>
                      </b-col>
                      <!-- <b-col
                        md="5"
                        class="p__t--16">
                        <label>From 0 year(s) to 4 year(s) 11 month(s)
                        will get 5 leave quota</label>
                      </b-col> -->
                      <b-col
                        md="1"
                        class="p__t--20 cursor-pointer"
                        @click="deleteWorking(index, indexWork)">
                        X
                      </b-col>
                    </b-row>
                    <hr>
                  </div>
                  <div class="container-working">
                    <i class="fa fa-plus"/>
                    <span
                      id="parameterPopover"
                      class="label-add-parameter"
                      @click="addWorking(index)">Add</span>
                  </div>
                </b-form-group>
              </div>
            </div>

            <div
              v-show="policy_data.auto_mapping"
              class="container-rule">
              <i class="fa fa-plus"/>
              <span
                id="parameterPopover"
                class="label-add-parameter">Add Parameter</span>
            </div>

            <b-popover
              ref="parameterPopoverRef"
              :show.sync="parameterPopoverShow"
              target="parameterPopover"
              placement="bottom">
              <div
                class="list-parameter-rule"
                @click="addRule('employement_type')">Employment Type</div>
              <div
                class="list-parameter-rule"
                @click="addRule('gender')">Gender</div>
              <div
                class="list-parameter-rule"
                @click="addRule('length_of_working')">Length Of Working</div>
              <div
                class="list-parameter-rule"
                @click="addRule('marital')">Marital Status</div>
              <div
                class="list-parameter-rule"
                @click="addRule('division')">Organization Unit</div>
              <div
                class="list-parameter-rule"
                @click="addRule('grade')">Grade</div>
              <div
                class="list-parameter-rule"
                @click="addRule('religion')">Religion</div>
            </b-popover>

          </div>

          <div class="col-6">
            <div class="row mb-4">
              <div class="col-6">
                <b-form-group>
                  <label>Holiday Subtitute</label>
                  <j-toggle
                    v-model="policy_data.holiday_subtitute"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Prorate</label>
                  <j-toggle
                    v-model="policy_data.prorate"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <b-form-group>
                  <label>Include Holiday</label>
                  <j-toggle
                    v-model="policy_data.exclude_holiday"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Allow Half Day</label>
                  <j-toggle
                    v-model="policy_data.allow_half_day"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-4">
                <b-form-group>
                  <label>One Time Submission</label>
                  <j-input
                    v-model="policy_data.one_time_submission"
                    type="number"/>
                </b-form-group>
              </div>
              <div class="col-4">
                <b-form-group>
                  <label>Minimum Submission</label>
                  <j-input
                    v-model="policy_data.minimum_submission"
                    type="number"/>
                </b-form-group>
              </div>
              <div class="col-4">
                <b-form-group>
                  <label>Maximum Submission</label>
                  <j-input
                    v-model="policy_data.maximum_submission"
                    type="number"/>
                </b-form-group>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-6">
                <b-form-group>
                  <label>Lock Same Leave</label>
                  <j-toggle
                    v-model="policy_data.lock_same_leave"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group>
                  <label>Once During One Period</label>
                  <j-toggle
                    v-model="policy_data.once_during_one_period"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <b-form-group>
                  <label>Mandatory Document</label>
                  <j-toggle
                    v-model="policy_data.mandatory_document"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div class="col-6">
                <b-form-group
                  v-if="policy_data.mandatory_document"
                  :class="{'error-input' : $v.policy_data.docs_type.$error}"
                >
                  <label>Type</label>
                  <j-single-select
                    v-model="$v.policy_data.docs_type.$model"
                    :options="options_docs_type"
                    placeholder="Select Type"
                    label="name"
                    value-format="object"
                  />
                </b-form-group>
              </div>
            </div>

            <div
              v-if="policy_data.mandatory_document && policy_data.docs_type
              && policy_data.docs_type.id === 2"
              class="row bc--light-grey m__l--0 rounded">
              <div class="col-12">
                <label>Options</label>

                <div
                  v-for="(data, index) in $v.policy_data.custom_docs.$each.$iter"
                  :key="index">
                  <b-row>
                    <b-col md="10">
                      <b-form-group :class="{'error-input' : data.field_name.$error}">
                        <j-input
                          v-model="data.field_name.$model"
                          placeholder="Field name"
                        />
                      </b-form-group>
                    </b-col>
                    <b-col md="2">
                      <i
                        class="fa fa-lg fa-trash pull-right cursor-pointer m__t--10"
                        @click="deleteDocs(index)"
                      />
                    </b-col>
                  </b-row>
                </div>

                <div>
                  <i class="fa fa-plus text-primary"/>
                  <span
                    class="label-add-parameter text-primary"
                    @click="addDocs">Add More</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <b-form-group>
                  <label>Related Type</label>
                  <j-toggle
                    v-model="policy_data.is_related_types"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
            </div>

            <div
              v-for="(data, index) in $v.policy_data.related_types.$each.$iter"
              v-show="policy_data.is_related_types"
              :key="index"
              class="container-related">
              <b-row>
                <b-col md="5">
                  <b-form-group :class="{'error-input' : data.related_type_id.$error}">
                    <label>Leave Type</label>
                    <j-single-select
                      v-model="data.related_type_id.$model"
                      :options="leave_type_list"
                      placeholder="Select Leave Type"
                      label="text"
                      @getData="cekExistLeaveType(data.related_type_id.$model, index)"/>
                  </b-form-group>
                </b-col>
                <b-col md="6">
                  <b-form-group :class="{'error-input' : data.action.$error}">
                    <label>Action</label>
                    <j-multi-select
                      v-model="data.action.$model"
                      :options="action_list"
                      placeholder="Select Action"
                      label="text"
                      @getData="checkIsOnlyDelete(data.action.$model, index)"/>
                  </b-form-group>
                </b-col>
                <b-col md="1">
                  <i
                    class="fa fa-lg fa-trash pull-right cursor-pointer m__t--30"
                    @click="deleteRelated(index)"
                  />
                </b-col>
              </b-row>
            </div>

            <div
              v-show="policy_data.is_related_types"
              class="container-rule">
              <i class="fa fa-plus"/>
              <span
                class="label-add-parameter"
                @click="addRelated">Add More</span>
            </div>

            <div class="row">
              <div class="col-12">
                <b-form-group>
                  <label>Period Type</label>
                  <j-select
                    v-model="policy_data.period_type"
                    :options="period_type_list"
                    :disabled="policy_data.allow_half_day"/>
                </b-form-group>
              </div>
            </div>

            <div
              v-show="!policy_data.allow_half_day"
              class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Set Auto Block Leave</label>
                  <j-toggle
                    v-model="policy_data.is_auto_block_leave"
                    class="toggle-form-base" />
                </b-form-group>
              </div>
              <div
                v-show="policy_data.is_auto_block_leave"
                class="col-8">
                <b-form-group
                  :class="{'error-input' : $v.policy_data.total_block.$error}">
                  <label>{{ totalBlockLabel }}</label>
                  <j-input
                    v-model="policy_data.total_block"
                    :error-message="totalBlockErrorMessage"
                    type="number"/>
                </b-form-group>
              </div>
            </div>

            <!-- <div class="row">
              <div class="col-4">
                <b-form-group>
                  <label>Gender</label>
                  <j-select
                    v-model="policy_data.gender"
                    :options="gender_list"
                    multiple/>
                </b-form-group>
              </div>
              <div class="col-4">
                <b-form-group>
                  <label>Marital Status</label>
                  <j-select
                    v-model="policy_data.marital_status"
                    :options="marital_status_list"
                    multiple/>
                </b-form-group>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
    <div class="float-right">
      <b-button
        class="btn icon m__r--10"
        @click="onClickCancel">
        <i class="fa fa-times"/>
        Cancel
      </b-button>
      <b-button
        class="btn icon blue"
        @click="onClickSubmit">
        <i class="fa fa-arrow-right"/>
        Submit
      </b-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-unused-vars */
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { mapActions } from 'vuex';
import { required, requiredIf, minValue, maxValue } from 'vuelidate/lib/validators';
import constant from '@/utils/constant';
import apiLeaveConfigLeaveType from '@/services/leave/jApiLeaveConfigLeaveType';

export default {
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      leave_type_id: null,
      leave_type_data: {
        name: null,
        description: null,
        icon: null,
      },
      policy_data: {
        repetition: 1,
        repetition_calc: 1,
        period: constant.POLICY_TYPE_YEAR,
        period_calc: constant.POLICY_TYPE_YEAR,
        carry_forward: false,
        quota_carry_forward: null,
        carry_forward_period: null,
        holiday_subtitute: false,
        prorate: false,
        mass_debit_credit: 0,
        added_quota: 0,
        allow_backdate: 0,
        minimum_day_submit: 0,
        exclude_holiday: false,
        payroll_setting: constant.POLICY_TYPE_UNPAID,
        allow_half_day: false,
        one_time_submission: 0,
        mandatory_document: false,
        minimum_submission: 0,
        maximum_submission: 0,
        special_leave: false,
        special_leave_length_working_start: 0,
        special_leave_length_working_end: 0,
        special_leave_quota: 0,
        lock_month: false,
        month_periode: [],
        lock_same_leave: null,
        once_during_one_period: null,
        gender: 0,
        marital_status: 0,
        auto_mapping: false,
        auto_mapping_quota: 0,
        start_by: 'join_date',
        day: null,
        month: null,
        rule: [],
        is_related_types: false,
        related_types: [],
        docs_type: { id: 1 },
        custom_docs: [],
        period_type: constant.PERIOD_TYPE_DAILY,
        is_auto_block_leave: false,
        total_block: 0,
      },
      dataDetailRelated: [],
      parameterPopoverShow: false,
      options_docs_type: [
        {
          id: 1,
          name: 'Default',
        },
        {
          id: 2,
          name: 'Custom',
        },
      ],
      icon_list: [
        {
          id: 'annual',
          name: 'Annual',
        },
        {
          id: 'business',
          name: 'Business',
        },
        {
          id: 'circumcicion',
          name: 'Circumcicion',
        },
        {
          id: 'compasionate',
          name: 'Compasionate',
        },
        {
          id: 'death',
          name: 'Death',
        },
        {
          id: 'emergency',
          name: 'Emergency',
        },
        {
          id: 'hospital',
          name: 'Hospital',
        },
        {
          id: 'loyalty',
          name: 'Loyalty',
        },
        {
          id: 'marriage',
          name: 'Marriage',
        },
        {
          id: 'maternity',
          name: 'Maternity',
        },
        {
          id: 'medical',
          name: 'Medical',
        },
        {
          id: 'mestruation',
          name: 'Menstruation',
        },
        {
          id: 'misscarriage',
          name: 'Misscarriage',
        },
        {
          id: 'paternity',
          name: 'Paternity',
        },
        {
          id: 'permitted',
          name: 'Permitted',
        },
        {
          id: 'religious',
          name: 'Religious',
        },
        {
          id: 'sabbatical',
          name: 'Sabbatical',
        },
        {
          id: 'unpaid',
          name: 'Unpaid',
        },
      ],
      period_list: [
        {
          value: constant.POLICY_TYPE_MONTH,
          text: 'Month',
        },
        {
          value: constant.POLICY_TYPE_YEAR,
          text: 'Year',
        },
      ],
      start_by_list: [
        {
          value: 'specific_date',
          text: 'Specific Date',
        },
        {
          value: 'join_date',
          text: 'Join Date',
        },
      ],
      payroll_setting_list: [
        {
          value: constant.POLICY_TYPE_UNPAID,
          text: 'Unpaid Leave',
        },
        {
          value: constant.POLICY_TYPE_PAID,
          text: 'Paid Leave',
        },
        {
          value: constant.POLICY_TYPE_DAILY_PAY,
          text: 'Daily Pay',
        },
      ],
      month_list: [
        {
          id: 1,
          value: '1',
          is_delete: false,
          text: 'January',
          label: 'January',
        },
        {
          id: 2,
          value: '2',
          is_delete: false,
          text: 'February',
          label: 'February',
        },
        {
          id: 3,
          value: '3',
          is_delete: false,
          text: 'March',
          label: 'March',
        },
        {
          id: 4,
          value: '4',
          is_delete: false,
          text: 'April',
          label: 'April',
        },
        {
          id: 5,
          value: '5',
          is_delete: false,
          text: 'May',
          label: 'May',
        },
        {
          id: 6,
          value: '6',
          is_delete: false,
          text: 'June',
          label: 'June',
        },
        {
          id: 7,
          value: '7',
          is_delete: false,
          text: 'July',
          label: 'July',
        },
        {
          id: 8,
          value: '8',
          is_delete: false,
          text: 'August',
          label: 'August',
        },
        {
          id: 9,
          value: '9',
          is_delete: false,
          text: 'September',
          label: 'September',
        },
        {
          id: 10,
          value: '10',
          is_delete: false,
          text: 'October',
          label: 'October',
        },
        {
          id: 11,
          value: '11',
          is_delete: false,
          text: 'November',
          label: 'November',
        },
        {
          id: 12,
          value: '12',
          is_delete: false,
          text: 'December',
          label: 'December',
        },

      ],
      gender_list: [
        // {
        //   id: 0,
        //   value: 0,
        //   text: 'All',
        // },
        {
          id: 'male',
          value: 'male',
          text: 'Male',
        },
        {
          id: 'female',
          value: 'female',
          text: 'Female',
        },
      ],
      religion_list: [
        {
          id: 'islam',
          value: 'islam',
          text: 'Islam',
        },
        {
          id: 'protestant',
          value: 'protestant',
          text: 'Protestant',
        },

        {
          id: 'buddha',
          value: 'buddha',
          text: 'Buddha',
        },

        {
          id: 'catholic',
          value: 'catholic',
          text: 'Catholic',
        },

        {
          id: 'konghucu',
          value: 'konghucu',
          text: 'Konghucu',
        },

        {
          id: 'other',
          value: 'other',
          text: 'Other',
        },
      ],
      marital_status_list: [
        // {
        //   id: 0,
        //   value: 0,
        //   text: 'All',
        // },
        {
          id: 'single',
          value: 'single',
          text: 'Single',
        },
        {
          id: 'married',
          value: 'married',
          text: 'Married',
        },
        {
          id: 'divorced',
          value: 'divorced',
          text: 'Divorced',
        },
      ],
      relation_list: [
        { value: 'and', text: 'AND' },
        { value: 'or', text: 'OR' },
      ],
      employment_type_list: [],
      grade_list: [],
      leave_type_list: [],
      action_list: [
        { id: 1, text: 'Deduct Related Leave' },
        { id: 2, text: 'Transfer to next periode' },
        { id: 3, text: 'Delete from current periode' },
      ],
      period_type_list: [
        {
          value: constant.PERIOD_TYPE_DAILY,
          text: 'Daily',
        },
        {
          value: constant.PERIOD_TYPE_MONTHLY,
          text: 'Monthly',
        },
      ],
    };
  },
  computed: {

    genData() {
      const data = {
        name: this.leave_type_data.name,
        name_masking: this.leave_type_data.name,
        description: this.leave_type_data.description,
        icon: this.leave_type_data.icon,
        policies: [
          {
            policy: constant.POLICY_NAME_REPETITION,
            type: this.policy_data.period,
            value: this.policy_data.repetition,
          },
          {
            policy: constant.POLICY_NAME_CARRY_FORWARD,
            type: this.policy_data.carry_forward ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.carry_forward ? this.policy_data.quota_carry_forward : 0,
          },
          {
            policy: constant.POLICY_NAME_EXPIRED_CARRY_FORWARD,
            type: this.policy_data.carry_forward ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.carry_forward ? this.policy_data.carry_forward_period : '',
          },
          {
            policy: constant.POLICY_NAME_HOLIDAY_SUBTITUTE,
            type: this.policy_data.holiday_subtitute ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.carry_forward,
          },
          {
            policy: constant.POLICY_NAME_PRORATE,
            type: this.policy_data.prorate ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.prorate,
          },
          {
            policy: constant.POLICY_NAME_MAX_DEBIT_CREDIT,
            type: this.policy_data.mass_debit_credit ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.mass_debit_credit ? this.policy_data.mass_debit_credit : 0,
          },
          {
            policy: constant.POLICY_NAME_ADDED_QUOTA,
            type: this.policy_data.added_quota ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.added_quota ? this.policy_data.added_quota : 0,
          },
          {
            policy: constant.POLICY_NAME_BACKDATE,
            type: this.policy_data.allow_backdate > 0 ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.allow_backdate,
          },
          {
            policy: constant.POLICY_NAME_MINIMUM_DAY_SUBMIT,
            type: this.policy_data.minimum_day_submit ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.minimum_day_submit ? this.policy_data.minimum_day_submit : 0,
          },
          {
            policy: constant.POLICY_NAME_EXCLUDE_HOLIDAY_FOR_LEAVE,
            type: this.policy_data.exclude_holiday ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.exclude_holiday,
          },
          {
            policy: constant.POLICY_NAME_PAID_LEAVE,
            type: this.policy_data.payroll_setting,
            value: this.policy_data.payroll_setting,
          },
          {
            policy: constant.POLICY_NAME_HAVE_HALF_DAY,
            type: this.policy_data.allow_half_day ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.allow_half_day,
          },
          {
            policy: constant.POLICY_NAME_ONE_TIME_SUBMISSION,
            type: this.policy_data.one_time_submission ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.one_time_submission ? this.policy_data.one_time_submission : 0,
          },
          // {
          //   policy: constant.POLICY_NAME_MANDATORY_DOCUMENT,
          //   type: this.policy_data.mandatory_document ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
          //   value: this.policy_data.mandatory_document,
          // },
          {
            policy: constant.POLICY_NAME_MINIMUM_SUBMISSION,
            type: this.policy_data.minimum_submission ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.minimum_submission ? this.policy_data.minimum_submission : 0,
          },
          {
            policy: constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_START,
            type: this.policy_data.special_leave ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.special_leave_length_working_start ? this.policy_data.special_leave_length_working_start : 0,
          },
          {
            policy: constant.POLICY_NAME_SPECIAL_LEAVE_QUOTA,
            type: this.policy_data.special_leave ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.special_leave_quota ? this.policy_data.special_leave_quota : 0,
          },
          {
            policy: constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_END,
            type: this.policy_data.special_leave ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.special_leave_length_working_end ? this.policy_data.special_leave_length_working_end : 0,
          },
          {
            policy: constant.POLICY_NAME_MAXIMUM_SUBMISSION,
            type: this.policy_data.maximum_submission ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.maximum_submission ? this.policy_data.maximum_submission : 0,
          },
          {
            policy: constant.POLICY_NAME_LOCK_SAME_LEAVE,
            type: this.policy_data.lock_same_leave ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: null,
          },
          {
            policy: constant.POLICY_NAME_ONCE_DURING_ONE_PERIOD,
            type: this.policy_data.once_during_one_period ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: null,
          },
          // {
          //   policy: constant.POLICY_NAME_GENDER,
          //   type: this.policy_data.gender ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
          //   value: this.policy_data.gender ? this.policy_data.gender : 0,
          // },
          // {
          //   policy: constant.POLICY_NAME_MARITAL_STATUS,
          //   type: this.policy_data.marital_status ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
          //   value: this.policy_data.marital_status ? this.policy_data.marital_status : 0,
          // },
          {
            policy: constant.POLICY_NAME_AUTO_MAPPING_QUOTA,
            type: this.policy_data.auto_mapping ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: this.policy_data.auto_mapping_quota ? this.policy_data.auto_mapping_quota : 0,
          },
          {
            policy: constant.POLICY_NAME_RELATED_TYPES,
            type: this.policy_data.is_related_types ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
            value: 0,
          },
          {
            policy: constant.POLICY_NAME_REPETITION_CALCULATION,
            type: this.policy_data.period_calc,
            value: this.policy_data.repetition_calc,
          },
          {
            policy: constant.POLICY_NAME_AUTO_BLOCK,
            type: this.policy_data.period_type,
            value: this.policy_data.total_block,
          },
        ],
        auto_mapping: {
          info: {
            start_by: this.policy_data.start_by,
            day: this.policy_data.day,
            month: this.policy_data.month,
          },
          rule: [],
        },
        related_types: this.policy_data.related_types,
      };

      const policyDocs = {
        policy: constant.POLICY_NAME_MANDATORY_DOCUMENT,
        type: this.policy_data.mandatory_document ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
      };
      if (this.policy_data.mandatory_document) {
        if (this.policy_data.docs_type.id === 1) {
          policyDocs.value = 1;
        } else {
          policyDocs.value = 2;
        }
      } else {
        policyDocs.value = null;
      }
      data.policies.push(policyDocs);
      data.custom_document = [];

      if (this.policy_data.mandatory_document && this.policy_data.docs_type.id === 2) {
        this.policy_data.custom_docs.forEach((el) => {
          const result = {
            field_name: el.field_name,
            order: el.order,
          };
          data.custom_document.push(result);
        });
      }

      this.policy_data.month_periode.forEach((month) => {
        const result = {
          policy: constant.POLICY_NAME_LOCK_MONTH,
          type: this.policy_data.lock_month ? constant.POLICY_TYPE_TRUE : constant.POLICY_TYPE_FALSE,
          value: month.value ? month.value : 0,
        };
        data.policies.push(result);
      });

      this.policy_data.rule.forEach((e, index) => {
        if (e.type === 'division') {
          data.auto_mapping.rule.push({
            type: e.type,
            relation: e.relation,
            order: index,
            data: e.data.map(el => (el.id)),
          });
        } else {
          e.order = index;
          data.auto_mapping.rule.push(e);
        }
      });

      if (this.dataDetailRelated.length > 0) {
        this.dataDetailRelated.forEach((e) => {
          const findDeleteData = this.policy_data.related_types.find(f => f.related_type_id === e.related_type_id);
          if (!findDeleteData) {
            data.related_types.push({
              related_type_id: e.related_type_id,
              action: e.action,
              is_delete: 1,
            });
          }
        });
      } else {
        data.related_types = [];
      }

      return data;
    },

    totalBlockLabel() {
      return this.policy_data.period_type === constant.PERIOD_TYPE_DAILY ? 'Total Block (Days)' : 'Total Block (Month)';
    },
    totalBlockErrorMessage() {
      if (!this.$v.policy_data.total_block.required) {
        return 'Total block must be valid number';
      }
      if (this.policy_data.period_type === constant.PERIOD_TYPE_MONTHLY && (!this.$v.policy_data.total_block.maxValue || !this.$v.policy_data.total_block.minValue)) {
        return 'Total block must be greater than 0 and less than or equal to 12';
      }
      if (this.policy_data.period_type === constant.PERIOD_TYPE_DAILY && (!this.$v.policy_data.total_block.maxValue || !this.$v.policy_data.total_block.minValue)) {
        return 'Total block must be greater than 0 and less than or equal to 31';
      }
      return 'Field is required';
    },
  },
  watch: {
    // eslint-disable-next-line func-names
    'policy_data.special_leave': function (val) {
      if (!val) {
        this.policy_data.special_leave_length_working_start = 0;
        this.policy_data.special_leave_length_working_end = 0;
        this.policy_data.special_leave_quota = 0;
      }
    },
    // eslint-disable-next-line func-names
    'policy_data.auto_mapping': function (val) {
      if (!val) {
        this.policy_data.auto_mapping_quota = 0;
        this.policy_data.rule = [];
      }
    },
    // eslint-disable-next-line func-names
    'policy_data.mandatory_document': function (val) {
      if (!val) {
        this.policy_data.docs_type = { id: 1 };
      }
    },
    // eslint-disable-next-line func-names
    'policy_data.is_related_types': function (val) {
      if (!val) {
        this.dataDetailRelated = [];
      } else {
        this.dataDetailRelated = this.policy_data.related_types;
      }
    },
    // eslint-disable-next-line func-names
    'policy_data.is_auto_block_leave': function (val) {
      if (!val) {
        this.policy_data.total_block = 0;
      }
    },
  },
  created() {
    apiLeaveConfigLeaveType.getLeaveTypeDetail(this.$route.params.idLeaveType)
      .then((res) => {
        const data = res.data.data;
        const dataRelated = res.data.data.related_types;

        this.leave_type_data = {
          name: data.name,
          description: data.description,
          icon: data.icon,
        };
        this.leave_type_id = data.id;
        data.policies.forEach((element) => {
          if (Number(element.policy) === constant.POLICY_NAME_REPETITION) {
            this.policy_data.repetition = Number(element.value);
            this.policy_data.period = Number(element.type);
          }
          if (Number(element.policy) === constant.POLICY_NAME_REPETITION_CALCULATION) {
            this.policy_data.repetition_calc = Number(element.value);
            this.policy_data.period_calc = Number(element.type);
          }
          if (Number(element.policy) === constant.POLICY_NAME_CARRY_FORWARD) {
            this.policy_data.carry_forward = Number(element.type) === constant.POLICY_TYPE_TRUE;
            this.policy_data.quota_carry_forward = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_EXPIRED_CARRY_FORWARD) {
            this.policy_data.carry_forward_period = element.value;
          }
          if (Number(element.policy) === constant.POLICY_NAME_HOLIDAY_SUBTITUTE) {
            this.policy_data.holiday_subtitute = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          if (Number(element.policy) === constant.POLICY_NAME_PRORATE) {
            this.policy_data.prorate = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          if (Number(element.policy) === constant.POLICY_NAME_MAX_DEBIT_CREDIT) {
            this.policy_data.mass_debit_credit = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_ADDED_QUOTA) {
            this.policy_data.added_quota = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_BACKDATE) {
            this.policy_data.allow_backdate = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_MINIMUM_DAY_SUBMIT) {
            this.policy_data.minimum_day_submit = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_EXCLUDE_HOLIDAY_FOR_LEAVE) {
            this.policy_data.exclude_holiday = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          if (Number(element.policy) === constant.POLICY_NAME_PAID_LEAVE) {
            this.policy_data.payroll_setting = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_HAVE_HALF_DAY) {
            this.policy_data.allow_half_day = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          if (Number(element.policy) === constant.POLICY_NAME_ONE_TIME_SUBMISSION) {
            this.policy_data.one_time_submission = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_MANDATORY_DOCUMENT) {
            this.policy_data.mandatory_document = Number(element.type) === constant.POLICY_TYPE_TRUE;
            if (this.policy_data.mandatory_document) {
              this.policy_data.docs_type = { id: Number(element.value) };
            }
          }
          if (Number(element.policy) === constant.POLICY_NAME_MINIMUM_SUBMISSION) {
            this.policy_data.minimum_submission = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_START) {
            this.policy_data.special_leave_length_working_start = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_END) {
            this.policy_data.special_leave_length_working_end = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_QUOTA) {
            this.policy_data.special_leave_quota = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_QUOTA || Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_START || Number(element.policy) === constant.POLICY_NAME_SPECIAL_LEAVE_LENGTH_WORKING_END) {
            if (element.type) {
              this.policy_data.special_leave = true;
            }
          }
          if (Number(element.policy) === constant.POLICY_NAME_MAXIMUM_SUBMISSION) {
            this.policy_data.maximum_submission = Number(element.value);
          }
          if (Number(element.policy) === constant.POLICY_NAME_LOCK_SAME_LEAVE) {
            this.policy_data.lock_same_leave = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          if (Number(element.policy) === constant.POLICY_NAME_ONCE_DURING_ONE_PERIOD) {
            this.policy_data.once_during_one_period = Number(element.type) === constant.POLICY_TYPE_TRUE;
          }
          // if (Number(element.policy) === constant.POLICY_NAME_GENDER) {
          //   this.policy_data.gender = Number(element.value);
          // }
          // if (Number(element.policy) === constant.POLICY_NAME_MARITAL_STATUS) {
          //   this.policy_data.marital_status = Number(element.value);
          // }
          if (Number(element.policy) === constant.POLICY_NAME_AUTO_MAPPING_QUOTA) {
            this.policy_data.auto_mapping_quota = Number(element.value);
            if (element.type) {
              this.policy_data.auto_mapping = true;
            }
          }
          if (Number(element.policy) === constant.POLICY_NAME_LOCK_MONTH) {
            this.policy_data.lock_month = Number(element.type) === constant.POLICY_TYPE_TRUE;
            const obj = { id: Number(element.value), value: element.value, is_delete: false, text: '', label: '' };
            switch (Number(element.value)) {
              case 1:
                obj.text = 'January';
                obj.label = 'January';
                break;
              case 2:
                obj.text = 'February';
                obj.label = 'February';
                break;
              case 3:
                obj.text = 'March';
                obj.label = 'March';
                break;
              case 4:
                obj.text = 'April';
                obj.label = 'April';
                break;
              case 5:
                obj.text = 'May';
                obj.label = 'May';
                break;
              case 6:
                obj.text = 'June';
                obj.label = 'June';
                break;
              case 7:
                obj.text = 'July';
                obj.label = 'July';
                break;
              case 8:
                obj.text = 'August';
                obj.label = 'August';
                break;
              case 9:
                obj.text = 'September';
                obj.label = 'September';
                break;
              case 10:
                obj.text = 'October';
                obj.label = 'October';
                break;
              case 11:
                obj.text = 'November';
                obj.label = 'November';
                break;
              case 12:
                obj.text = 'December';
                obj.label = 'December ';
                break;
              default:
                obj.text = '';
            }
            this.policy_data.month_periode.push(obj);
          }
          if (Number(element.policy) === constant.POLICY_NAME_RELATED_TYPES) {
            if (element.type && dataRelated.length > 0) {
              this.policy_data.is_related_types = true;
            }
          }
          if (Number(element.policy) === constant.POLICY_NAME_AUTO_BLOCK) {
            if (element.value > 0) {
              this.policy_data.is_auto_block_leave = true;
            }
            this.policy_data.total_block = element.value;
            this.policy_data.period_type = element.type;
          }
        });

        this.policy_data.start_by = data.auto_mapping ? data.auto_mapping.info.start_by : null;
        this.policy_data.day = data.auto_mapping ? data.auto_mapping.info.day : null;
        this.policy_data.month = data.auto_mapping ? data.auto_mapping.info.month : null;
        this.policy_data.related_types = data.related_types ? data.related_types : [];

        if (data.custom_document && data.custom_document.length > 0) {
          data.custom_document.forEach((e) => {
            this.policy_data.custom_docs.push({
              field_name: e.field_name,
              order: e.order,
            });
          });
        }

        if (dataRelated) {
          dataRelated.forEach((e) => {
            this.dataDetailRelated.push({
              related_type_id: e.related_type_id,
              action: e.action,
              is_delete: e.is_delete,
            });
          });
        }

        if (data.auto_mapping) {
          data.auto_mapping.rule.forEach((e, index) => {
            if (e.type === 'division') {
              this.policy_data.rule.push({
                data: [],
                type: e.type,
                order: e.order,
                relation: e.relation,
              });
              this.getDetailDivision(e, index);
            } else {
              this.policy_data.rule.push(e);
            }
          });
        }
      })
      .catch((err) => {
        this.toggleProblem(err.data.message);
      });

    this.getEmploymentType();
    this.getGrade();
    this.getLeaveType();
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess', 'toggleProblem']),

    getEmploymentType() {
      apiLeaveConfigLeaveType.getEmploymentTypeList().then((res) => {
        this.employment_type_list = res.data.data.map(e => ({
          id: e.id,
          text: e.name,
        }));
      }).catch((err) => {
        this.toggleProblem(err.data.message);
      });
    },

    getGrade() {
      const param = {
        pagination: {
          limit: 0,
          page: 1,
          column: 'id',
          ascending: false,
          query: '',
          query_type: 'name',
        },
      };
      apiLeaveConfigLeaveType.getGradeList(param).then((res) => {
        this.grade_list = res.data.data.map(e => ({
          id: e.id,
          text: e.name,
        }));
      }).catch((err) => {
        this.toggleProblem(err.data.message);
      });
    },

    getLeaveType() {
      const param = {
        page: 1,
        limit: 10000,
        query: '',
      };
      apiLeaveConfigLeaveType.getLeaveTypeList(param).then((res) => {
        this.leave_type_list = res.data.data.map(e => ({
          id: e.id,
          text: e.name,
        }));
      }).catch((err) => {
        this.toggleProblem(err.data.message);
      });
    },

    getNameRule(type) {
      if (type === 'grade') {
        return 'Grade';
      } else if (type === 'gender') {
        return 'Gender';
      } else if (type === 'employement_type') {
        return 'Employment Type';
      } else if (type === 'length_of_working') {
        return 'Length Of Working';
      } else if (type === 'marital') {
        return 'Marital Status';
      } else if (type === 'division') {
        return 'Organization Unit';
      } else if (type === 'religion') {
        return 'Religion';
      }
      return '';
    },
    addRule(data) {
      this.parameterPopoverShow = false;
      const cekRuleExist = this.policy_data.rule.find(f => f.type === data);
      if (!cekRuleExist) {
        this.policy_data.rule.push({
          type: data,
          data: [],
          relation: 'and',
          order: this.policy_data.rule.length,
        });
      } else {
        this.toggleProblem('Parameter has existing');
      }
    },
    deleteRule(index) {
      this.policy_data.rule.splice(index, 1);
    },
    selectAll(index, type) {
      if (type === 'gender') {
        this.policy_data.rule[index].data = this.gender_list.map(el => (el.id));
      } else if (type === 'marital') {
        this.policy_data.rule[index].data = this.marital_status_list.map(el => (el.id));
      } else if (type === 'employement_type') {
        this.policy_data.rule[index].data = this.employment_type_list.map(el => (el.id));
      } else if (type === 'grade') {
        this.policy_data.rule[index].data = this.grade_list.map(el => (el.id));
      } else if (type === 'religion') {
        this.policy_data.rule[index].data = this.religion_list.map(el => (el.id));
      }
    },
    unselectAll(index) {
      this.policy_data.rule[index].data = [];
    },
    addRelated() {
      this.policy_data.related_types.push({
        related_type_id: null,
        action: [],
        is_delete: 0,
      });
    },
    deleteRelated(index) {
      this.policy_data.related_types.splice(index, 1);
    },
    addDocs() {
      this.policy_data.custom_docs.push({
        field_name: null,
        order: this.policy_data.custom_docs.length,
      });
    },
    deleteDocs(index) {
      this.policy_data.custom_docs.splice(index, 1);
      this.policy_data.custom_docs.forEach((val, i) => {
        // eslint-disable-next-line no-param-reassign
        val.order = i;
      });
    },
    cekExistLeaveType(data, index) {
      const cekExist = this.policy_data.related_types.filter(f => f.related_type_id === data);
      if (cekExist.length === 2) {
        this.toggleProblem('Leave type has existing');
        setTimeout(() => {
          this.policy_data.related_types[index].related_type_id = null;
        }, 100);
      }
    },
    checkIsOnlyDelete(data, index) {
      const cekExist = data.filter(f => f === 3);
      console.log(data);
      if (cekExist.length !== 0 && data.length !== 1) {
        this.toggleProblem('Action Delete From Current Period is only allowed as single action');
        setTimeout(() => {
          this.policy_data.related_types[index].action.pop();
        }, 100);
      }
    },
    onClickCancel() {
      this.$router.go(-1);
    },
    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: 'id',
              ascending: false,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStoreLeaveConfig/getDivision', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    addWorking(index) {
      this.policy_data.rule[index].data.push({
        min: null,
        max: null,
        quota: null,
        order: this.policy_data.rule[index].data.length,
      });
    },
    deleteWorking(index, indexChild) {
      this.policy_data.rule[index].data.splice(indexChild, 1);
    },
    eventInputQuota(index, indexChild, data) {
      const type = data / 0.5;
      if (String(type).includes('.')) {
        this.toggleProblem('Harus kelipatan 0.5');
        this.policy_data.rule[index].data[indexChild].quota = null;
      }
    },
    getDetailDivision(data, index) {
      data.data.forEach((e) => {
        const paramDiv = {
          pagination: {
            limit: 0,
            page: 1,
            column: 'id',
            ascending: false,
            query: e,
            query_type: 'id',
          },
        };
        apiLeaveConfigLeaveType.listDivision(paramDiv).then((res) => {
          if (res.data.length > 0) {
            this.policy_data.rule[index].data.push({
              id: res.data[0].id,
              name: res.data[0].name,
              label: res.data[0].name,
            });
          }
        }).catch((err) => {
          this.toggleProblem(err.data.message);
        });
      });
    },
    validate() {
      if (!this.leave_type_data.name) {
        this.toggleProblem('Oops, name is required');
        return false;
      }
      if (!this.leave_type_data.icon) {
        this.toggleProblem('Oops, icon is required');
        return false;
      }
      if (!this.leave_type_data.description) {
        this.toggleProblem('Oops, description is required');
        return false;
      }
      if (!this.policy_data.repetition) {
        this.toggleProblem('Oops, repetition is required');
        return false;
      }
      if (!this.policy_data.repetition_calc) {
        this.toggleProblem('Oops, repetition calculation is required');
        return false;
      }
      if (this.policy_data.carry_forward && !this.policy_data.quota_carry_forward) {
        this.toggleProblem('Oops, quota carry forward is required');
        return false;
      }
      if (this.policy_data.carry_forward && !this.policy_data.carry_forward_period) {
        this.toggleProblem('Oops, carry forward valid until is required');
        return false;
      }
      if (Number(this.policy_data.mass_debit_credit) < 0 ||
        !Number.isInteger(Number(this.policy_data.mass_debit_credit))) {
        this.toggleProblem('Oops, max debit credit must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.added_quota) < 0 ||
        !Number.isInteger(Number(this.policy_data.added_quota))) {
        this.toggleProblem('Oops, added quota must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.allow_backdate) < 0 ||
            !Number.isInteger(Number(this.policy_data.allow_backdate))) {
        this.toggleProblem('Oops, backdate must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.minimum_day_submit) < 0 ||
        !Number.isInteger(Number(this.policy_data.minimum_day_submit))) {
        this.toggleProblem('Oops, minimum day submit must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.one_time_submission) < 0 ||
        !Number.isInteger(Number(this.policy_data.one_time_submission))) {
        this.toggleProblem('Oops, one time submission must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.one_time_submission) > 0 && Number(this.policy_data.minimum_submission) > 0 && (Number(this.policy_data.one_time_submission) < Number(this.policy_data.minimum_submission))) {
        this.toggleProblem('Sorry, one times submission can not be lower than minimum submission');
        return false;
      }
      if (Number(this.policy_data.maximum_submission) > 0 && (Number(this.policy_data.one_time_submission) > Number(this.policy_data.maximum_submission))) {
        this.toggleProblem('Sorry, one times submission can not be greater than maximum submission');
        return false;
      }
      if (Number(this.policy_data.minimum_submission) < 0 ||
            !Number.isInteger(Number(this.policy_data.minimum_submission))) {
        this.toggleProblem('Oops, minimum submission must be integer and at least 0');
        return false;
      }
      if (Number(this.policy_data.maximum_submission) > 0 && (Number(this.policy_data.maximum_submission) < Number(this.policy_data.minimum_submission))) {
        this.toggleProblem('Sorry, maximum submission can not be lower than minimum submission');
        return false;
      }
      if (Number(this.policy_data.special_leave_length_working_start) > Number(this.policy_data.special_leave_length_working_end)) {
        this.toggleProblem('Oops, maximum length of work must be greater than minimum length of work');
        return false;
      }
      if (Number(this.policy_data.special_leave_length_working_start) < 0) {
        this.toggleProblem('Oops, minimum length of work must be at least 0');
        return false;
      }
      if (Number(this.policy_data.special_leave_length_working_end) < 0) {
        this.toggleProblem('Oops, maximum length of work must be at least 0');
        return false;
      }
      if (Number(this.policy_data.special_leave_quota) < 0 ||
            !Number.isInteger(Number(this.policy_data.special_leave_quota))) {
        this.toggleProblem('Oops, special leave quota must be integer and at least 0');
        return false;
      }
      if (this.policy_data.mandatory_document && this.policy_data.docs_type && this.policy_data.docs_type.id === 2 && this.policy_data.custom_docs.length < 1) {
        this.toggleProblem('Oops, document options is required');
        return false;
      }
      if (this.policy_data.auto_mapping) {
        if (Number(this.policy_data.auto_mapping_quota) < 0 ||
              !Number.isInteger(Number(this.policy_data.auto_mapping_quota))) {
          this.toggleProblem('Oops, auto mapping quota must be integer and at least 0');
          return false;
        }

        if (this.policy_data.rule.length > 0) {
          let isError = false;
          const rules = this.policy_data.rule;
          // eslint-disable-next-line no-plusplus
          for (let i = 0; i < rules.length; i++) {
            if (rules[i].data.length < 1) {
              switch (rules[i].type) {
                case 'employement_type':
                  this.toggleProblem('Oops, employment type is required');
                  isError = true;
                  break;
                case 'marital':
                  this.toggleProblem('Oops, marital status is required');
                  isError = true;
                  break;
                case 'gender':
                  this.toggleProblem('Oops, gender is required');
                  isError = true;
                  break;
                case 'grade':
                  this.toggleProblem('Oops, grade is required');
                  isError = true;
                  break;
                case 'division':
                  this.toggleProblem('Oops, organization unit is required');
                  isError = true;
                  break;
                case 'length_of_working':
                  this.toggleProblem('Oops, length of working is required');
                  isError = true;
                  break;
                default:
                  break;
              }
            }

            if (isError) {
              break;
            }
          }

          if (isError) {
            return false;
          }
        }
      }
      return true;
    },
    onClickSubmit() {
      this.$v.policy_data.$touch();
      if (this.validate() && !this.$v.policy_data.$error) {
        this.$swal({
          title: 'Are you sure, want to update this leave type?',
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (result.value || !result.value) {
            if (!result.dismiss) {
              this.showLoading();
              apiLeaveConfigLeaveType.updateLeaveType(this.genData, this.leave_type_id)
                .then((res) => {
                  this.toggleSuccess(res.data.message);
                  const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/config` : '/leave/config';
                  this.hideLoading();
                  this.$router.push(url);
                })
                .catch((err) => {
                  this.hideLoading();
                  this.toggleProblem(err.data.message);
                });
            }
          }
        });
      }
    },
  },
  validations() {
    const validation = {
      policy_data: {
        docs_type: {
          required: requiredIf(() => this.policy_data.mandatory_document),
        },
        related_types: {
          $each: {
            related_type_id: {
              required: requiredIf(() => this.policy_data.is_related_types),
            },
            action: {
              required: requiredIf(() => this.policy_data.is_related_types),
            },
          },
        },
        custom_docs: {
          $each: {
            field_name: {
              required: requiredIf(() => this.policy_data.docs_type && this.policy_data.docs_type.id === 2),
            },
          },
        },
        total_block: {
          required,
        },
      },
    };

    if (this.policy_data.is_auto_block_leave) {
      if (this.policy_data.total_block < 1) {
        validation.policy_data.total_block.minValue = minValue(1);
      }
      if (this.policy_data.period_type === constant.PERIOD_TYPE_DAILY && this.policy_data.total_block > 31) {
        validation.policy_data.total_block.maxValue = maxValue(31);
      }
      if (this.policy_data.period_type === constant.PERIOD_TYPE_MONTHLY && this.policy_data.total_block > 12) {
        validation.policy_data.total_block.maxValue = maxValue(12);
      }
    }
    return validation;
  },
};
</script>
