<template>
  <div
    id="leave-config-table"
    class="container-app-search">

    <v-server-table
      v-show="load_first"
      ref="leaveTypeTable"
      :columns="columns"
      :options="table_options"
      class="jTable"
      @loading="loading"
      @loaded="loaded">
      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group
          :class="props.row.leave_type_used ? 'hide-checkbox' : 'show-checkbox'">
          <b-form-checkbox-group
            v-model="selected_rows"
            @input="floatingPromptAction">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="addLeaveType">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="generateXLS">
            <i class="fa fa-cloud-download fa-lg"/> Generate xls
          </b-button>
          <b-button
            id="leave-config-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="id"
        slot-scope="props"
        @click="onRowClick(props)">
        {{ props.row.id }}
      </div>

      <div
        slot="name"
        slot-scope="props"
        @click="onRowClick(props)">
        {{ props.row.name }}
      </div>

      <div
        slot="description"
        slot-scope="props"
        @click="onRowClick(props)">
        {{ props.row.description }}
      </div>

      <div
        slot="created_date"
        slot-scope="props"
        @click="onRowClick(props)">
        <div>
          <span style="font-size: 12.9px">{{ props.row.created_date }}</span><br>
          <i class="c--red">{{ props.row.updated_date }}</i>
        </div>
      </div>

      <div
        slot="action"
        slot-scope="props">
        <div
          class="btn-round"
          @click="actionReconfigureDate(props.row.id)">
          <i class="fa fa-refresh"/>
        </div>
      </div>
    </v-server-table>

    <jLoadingTable v-if="!load_first"/>

    <div
      v-show="show_blank_footer"
      :style="`height: ${floatingHeight}px`"/>
    <j-floating-prompt
      ref="floating"
      class="floating-table"
    >
      <div
        ref="divFloating"
        class="row"
      >
        <div class="col-4">
          <div class="row align-items-center pl-3">
            <div
              ref="totalSelectedRow"
              class="total-selected-row"/>
            <div class="total-selected-row-label f--medium m__l--7">
              leave request <br>selected
            </div>
          </div>
        </div>
        <div
          class="col-2 m__t--20">
          <div
            v-b-toggle.detail-table
            class="f--medium"
            style="cursor: pointer"
            @click="show_detail = !show_detail">
            Details
            <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
          </div>
        </div>
        <div class="col-6">
          <div class="row m__t--22">
            <div class="col-12 p__r--50">
              <b-button
                class="btn icon red float-right"
                @click="closeAction">
                Unselect All
              </b-button>
              <b-button
                class="btn icon red m__r--10 float-right d-flex align-items-center"
                @click="deleteLeaveType">
                <i class="fa fa-trash"/>
                Delete
              </b-button>
            </div>
          </div>
        </div>
        <j-collapse
          id="detail-table"
          :visible="show_detail"
          class="col-12">
          <v-client-table
            ref="detailTable"
            :columns="detail_columns"
            :options="detail_table_options"
            :data="selected_rows"
            class="jTable table-floating-popup">
            <div
              slot="created_date"
              slot-scope="props">
              <div>
                <span style="font-size: 12.9px">{{ props.row.created_date }}</span><br>
                <i class="c--red">{{ props.row.updated_date }}</i>
              </div>
            </div>
          </v-client-table>
        </j-collapse>
      </div>
    </j-floating-prompt>

    <b-popover
      v-if="load_first"
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="leave-config-table"
      target="leave-config-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-input
          v-model="filter_data"
          :error-required="false"
          placeholder="Search leave"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import jwtDecode from 'jwt-decode';
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import apiLeaveConfigLeaveType from '@/services/leave/jApiLeaveConfigLeaveType';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';

export default {
  components: {
    jLoadingTable,
  },
  mixins: [
    jMixFloatingPrompt,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      load_first: false,
      filter_data: null,
      selected_rows: [],
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      detail_columns: ['id', 'name', 'description', 'created_date'],
      detail_table_options: {
        headings: {
          id: 'ID',
          name: 'NAME',
          description: 'DESCRIPTION',
          created_date: this.createdUpdatedDate(),
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['name', 'created_date'],
        debounce: 1000,
        filterable: true,
        perPage: 3,
        perPageValues: [3, 10, 20, 50, 100],
      },
      columns: ['checkbox', 'id', 'name', 'description', 'created_date', 'action'],
      table_options: {
        headings: {
          checkbox: this.headerID(),
          id: 'ID',
          name: 'NAME',
          description: 'DESCRIPTION',
          created_date: this.createdUpdatedDate(),
          action: 'RECONFIGURE DATE',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['id', 'name', 'created_date'],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy,
            ascending: data.ascending,
            query: data.query,
          };
        },
        requestFunction(data) {
          const list = apiLeaveConfigLeaveType.getLeaveTypeList(data);
          return list.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.leaveTypeTable.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess', 'toggleProblem']),
    ...mapActions('jStoreLeaveConfigMapping', ['reconfigureDate', 'actionExportLeaveType']),
    createdUpdatedDate() {
      return <span>CREATED DATE<br/><i>UPDATED DATE</i></span>;
    },
    loading() {
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    onRowClick(data) {
      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/config/leave-type/detail` : '/leave/config/leave-type/detail';
      this.$router.push(`${url}/${data.row.id}`);
    },
    actionReconfigureDate(ids) {
      const param = {
        user_data: {
          user_id: this.session.user.id,
          company_id: this.session.user.company_id,
          user_company_id: this.session.user.user_company_id,
        },
        data: {
          leave_type: {
            id: ids,
          },
        },
      };
      this.reconfigureDate(param);
    },
    addLeaveType() {
      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/config/leave-type/create` : '/leave/config/leave-type/create';
      this.$router.push(url);
    },
    filter(val) {
      if (val !== '' && val !== null) {
        this.$refs.leaveTypeTable.setFilter(val);
      }
    },
    deleteLeaveType() {
      this.showLoading();
      this.selected_rows.forEach((element, index) => {
        apiLeaveConfigLeaveType.deleteLeaveType(element.id)
          .then(() => {
            if (index === this.selected_rows.length - 1) {
              this.toggleSuccess('Success delete leave type');
              this.selected_rows = [];
              this.$refs.leaveTypeTable.refresh();
            }
          })
          .catch((err) => {
            this.toggleProblem(err.data.message);
          });
      });
    },
    generateXLS() {
      setTimeout(() => {
        this.actionExportLeaveType();
      }, 0);
    },
  },
};
</script>

<style lang="scss">
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    &.up {
      transform: rotate(180deg);
    }
  }
  .btn-round {
    padding: 8px 0px 0px 10.5px;
    border: 1px solid #666;
    border-radius: 50%;
    border-collapse: separate;
    color: #666;
    height: 35px;
    width: 35px;
    transition: 0.3s;
  }
  .btn-round:hover {
    color: white;
    background: #666;
    border: 1px solid #666;
  }
  .hide-checkbox {
    visibility: hidden;
  }
  .jFloating .selected-bottom-rules {
    max-height: unset;
  }
</style>
