<template>
  <div>
    <j-floating-prompt ref="floating">

      <b-row>
        <b-col md="3">
          <b-row>
            <h1
              class="f-blue"
              style="margin-right:10px">
              {{ selectedRows.length }}</h1>
            <h4> time sheet request <br> selected </h4>
          </b-row>
        </b-col>
        <b-col md="6"/>
        <b-col md="3">
          <b-button
            v-if="isAutoApprove"
            class="btn blue ico-submit"
            @click="reportSelectedData">Report</b-button>
          <b-button
            v-else
            class="btn blue ico-submit"
            @click="submitSelectedData">Submit</b-button>
          <b-button
            class="btn red"
            @click="deleteSelectedData">Delete</b-button>
        </b-col>
      </b-row>

    </j-floating-prompt>

  </div>
</template>

<style>
  .summary-block2 .summary .col-md-2 {
    flex: 0 0 20% !important;
    max-width: 20% !important;;
  }
</style>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    selectedRows: {
      type: Array,
      default: () => [],
    },
    oosRoute: {
      type: String,
      default: '',
    },
    isAutoApprove: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
    };
  },
  computed: {

    headers() {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      const headers = {
        // eslint-disable-next-line
        Authorization: 'Bearer ' + token,
      };
      return headers;
    },

    url() {
      // eslint-disable-next-line
      const getEnv = localStorage.getItem('gateUrl') + 'jojoform/sent';
      return getEnv;
    },

    requestor_name() {
      const name = [];
      this.selectedRows.forEach((a) => {
        name.push(a.name);
      });
      return name.join(', ');
    },
  },

  methods: {
    ...mapActions('jStoreTimesheetClaimerList', ['reportTimesheetDraftData', 'deleteTimesheetDraftData']),

    show() {
      this.$refs.floating.show();
    },

    hide() {
      this.$refs.floating.hide();
    },

    finish() {
      this.hide();
      this.$emit('finish');
    },

    reportSelectedData() {
      let timesheetID = '';
      const params = [];
      this.selectedRows.forEach((e, i) => {
        params.push(e.id);
        timesheetID += e.id;
        timesheetID = i + 1 === this.selectedRows.length ? timesheetID : `${timesheetID},`;
      });
      if (this.selectedRows !== null) {
        const text = `want to report timesheet ID ${timesheetID}`;

        this.$swal({
          title: 'Are you sure',
          text,
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (result.value) {
            const res = await this.reportTimesheetDraftData({ timesheet_ids: params });
            if (!res.error) {
              if (this.oosRoute !== '') {
                this.$router.push(`${this.oosRoute}/timesheet/claimer/reported`);
              } else {
                this.$router.push('/timesheet/claimer/reported');
              }
            }
          }
        });
      }
    },
    submitSelectedData() {
      let timesheetID = '';
      const params = [];
      this.selectedRows.forEach((e, i) => {
        params.push(e.id);
        timesheetID += e.id;
        timesheetID = i + 1 === this.selectedRows.length ? timesheetID : `${timesheetID},`;
      });
      if (this.selectedRows !== null) {
        const text = `want to submit timesheet ID ${timesheetID}`;

        this.$swal({
          title: 'Are you sure',
          text,
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (result.value) {
            const res = await this.reportTimesheetDraftData({ timesheet_ids: params });
            if (!res.error) {
              if (this.oosRoute !== '') {
                this.$router.push(`${this.oosRoute}/timesheet/claimer/sent`);
              } else {
                this.$router.push('/timesheet/claimer/sent');
              }
            }
          }
        });
      }
    },
    deleteSelectedData() {
      let timesheetID = '';
      const params = [];
      this.selectedRows.forEach((e, i) => {
        params.push(e.id);
        timesheetID += e.id;
        timesheetID = i + 1 === this.selectedRows.length ? timesheetID : `${timesheetID},`;
      });
      if (this.selectedRows !== null) {
        const text = `want to delete timesheet ID ${timesheetID}`;

        this.$swal({
          title: 'Are you sure',
          text,
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (result.value) {
            const res = await this.deleteTimesheetDraftData({ timesheet_ids: params });
            if (!res.error) {
              if (this.oosRoute !== '') {
                this.$router.push(`${this.oosRoute}/timesheet/claimer/reported`);
              } else {
                this.$router.push('/timesheet/claimer/reported');
              }
            }
          }
        });
      }
    },
  },
};
</script>
