<template>
  <div>
    <br>
    <!-- <j-title-header :options="title"/> -->
    <b-row>
      <b-col cols="8">
        <j-summary :data-summary="data_summary"/>
      </b-col>
    </b-row>
    <hr>
    <j-timesheet-approver-table status-timesheet="reported"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jTimesheetApproverTable from '../table/jTimesheetApproverTable';

export default {
  name: 'jTimesheetReportedListApprover',
  components: {
    jTimesheetApproverTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Timesheet Request: Approved',
      },
      data_summary: [
        {
          id: 'sent',
          status: 'Sent',
          amounts: 0,
          isStart: true,
          isEnd: false,
          color: 'orange',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/approver/sent` : '/timesheet/approver/sent',
        },
        {
          id: 'approved',
          status: 'Approved',
          amounts: 0,
          isStart: false,
          isEnd: true,
          color: 'blue',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/approver/reported` : '/timesheet/approver/reported',
        },
        {
          id: 'rejected',
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'purple',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/approver/rejected` : '/timesheet/approver/rejected',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreTimesheetClaimerList', ['summary_block']),
  },
  watch: {
    $route() {
      if (this.summary_block !== '') {
        this.data_summary = this.data_summary.map(e => ({
          ...e,
          amounts: (this.summary_block.some(f => f.status === e.id)).count,
        }));
      }
    },
  },
  created() {
    this.getSummaryBlockApprover().then(() => {
      if (this.summary_block !== '') {
        this.data_summary = this.data_summary.map(e => ({
          ...e,
          amounts: (this.summary_block.find(f => f.status === e.id)).count,
        }));
      }
    });
  },
  methods: {
    ...mapActions('jStoreTimesheetClaimerList', ['getSummaryBlockApprover']),

  },

};
</script>
