<template>
  <div
    id="employee-table"
    class="list-data-table">
    <router-view/>
    <j-progress-screen
      ref="progressScreen"
      :data-kirim="import_data"
      :url-api="url"
      :headers="headers"
      property-data="data"
      @finish="reloadTable"/>
    <j-progress-screen-multi-url
      ref="progressScreenMultiUrl"
      :data-kirim="import_data"
      :url-api="urls"
      :headers="headers"
      @finish="reloadTable"/>
    <b-modal
      ref="confirmationGenerate"
      title="Confirmation">
      <br>
      <br>
      <center>
        <label class="m__l--20 m__r--20 msg">
          We will generate Employee Data.
          Generate Employee Data will take few minutes.
          We will inform you if the data is ready.
        </label>
      </center>
      <br>
      <br>
      <template slot="modal-footer">
        <div class="w-100">
          <b-button
            class="btn gray float-left"
            @click="$refs.confirmationGenerate.hide()">
            Cancel
          </b-button>
          <b-button
            class="btn blue float-right"
            @click="onClickConfirmToGenerateEmployeeData">
            Notify me via email
          </b-button>
        </div>
      </template>
    </b-modal>
    <div class="row">
      <div class="col-6 p__t--27">
        <b-button
          class="btn green outline import-employee__btn"
          @click="showDateExport()"> Export Employee Historical </b-button>
        <b-button
          class="btn green outline"
          @click="exportEmployeeData"> Generate Employee Data </b-button>
      </div>
      <div class="col-6">
        <div class="row">
          <div
            v-if="is_import_employee"
            class="col-5">
            <label>Import Type</label>
            <j-select
              v-model="import_type"
              :options="import_type_options"/>
          </div>
          <div
            v-else
            class="col-3"/>
          <div
            v-if="is_import_employee"
            class="col-7">
            <label class="float-right">
              <i
                class="fa fa-times c--red close-btn"
                @click="closeImportEmployee"/>
            </label>
            <j-import-button
              v-if="import_type"
              :type="import_type"
              class="m__t--25"
              @setInvalidHeader="setInvalidHeader"
              @onClickDownload="onClickDownload"
              @onClickImportFile="onClickImportFile"
              @importData="importData"/>
          </div>
          <div
            v-else
            class="col-9 p__t--27">
            <b-button
              v-if="!is_import_employee"
              class="btn blue float-right m__r--10"
              @click="is_import_employee = true">
              Import Employee
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div
      v-show="date_export">
      <b-row>
        <b-col cols="3">
          <b-form-group :class="{'error-input' : $v.export_data_xls.start_date.$error}">
            <label>From</label>
            <j-datepicker
              v-model="$v.export_data_xls.start_date.$model"
              :disabled-dates="from_date_disabled"
              :disabled="false"
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-form-group :class="{'error-input' : $v.export_data_xls.end_date.$error}">

            <label>To</label>
            <j-datepicker
              v-model="$v.export_data_xls.end_date.$model"
              :disabled-dates="end_date_disabled"
              :disabled="false"
              class=""
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>
        <b-col cols="3">
          <b-button
            style="height:35px"
            class="btn blue outline import-employee__btn m__t--27"
            @click="exportEmployeeHistorical"> Export </b-button>
        </b-col>
      </b-row>
    </div>
    <div>
      <v-server-table
        v-show="load_first"
        ref="employeeServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetailPage">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              v-if="isAdmin"
              class="btn btn-import-oos m__r--5"
              @click="openModalCreateEmployee">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <!-- <b-button
              class="btn btn-import-oos m__r--5">
              <i class="fa fa-cloud-upload fa-lg"/> Import
            </b-button> -->
            <b-button
              id="table-search"
              class="btn btn-import-oos">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="staff_name"
          slot-scope="props"
        >
          <div v-if="props.row.profile">
            <div class="td">
              <b-img
                v-if="props.row.profile.photo_url"
                :src="props.row.profile.photo_url"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('@/assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row.email }}</div>
              <div>{{ props.row.profile.first_name }} {{ props.row.profile.last_name }}</div>
            </div>
          </div>
          <div v-else>
            {{ props.row.email }}
          </div>
        </div>

        <div
          slot="employee_id"
          slot-scope="props"
        >
          {{ props.row.employee_id ? props.row.employee_id : '-' }}
        </div>

        <div
          slot="position"
          slot-scope="props"
        >
          {{ props.row.group ? props.row.group.title : '-' }}
        </div>

        <div
          slot="join_date"
          slot-scope="props"
        >
          {{ props.row.join_date | moment("MMM DD, YYYY") }}
        </div>

        <div
          slot="created_date"
          slot-scope="props"
        >
          {{ props.row.created_date | moment("MMM DD, YYYY") }}
        </div>

        <div
          slot="updated_date"
          slot-scope="props"
        >
          {{ props.row.updated_date | moment("MMM DD, YYYY") }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="employee-table"
      target="table-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalCreateEmployee"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div>
        <j-modal-employee-create
          v-if="isOpen"
          @close-modal="closeModalCreateEmployee"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
/* eslint-disable import/no-duplicates,import/prefer-default-export,object-shorthand */
/* eslint-disable no-unused-expressions,no-unused-vars,key-spacing */

import { mapActions, mapState } from 'vuex';
import Vue from 'vue';
import { required } from 'vuelidate/lib/validators';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApi from '@/services/jApi';
import jApiEmployee from '@/services/jApiEmployee';
import jImportButton from '@/components/import-button/jImportEmployeeButton';
import jProgressScreenMultiUrl from '@/components/progress-screen/jProgressScreen';
import jModalEmployeeCreate from './detail/jModalEmployeeCreate';


export default {
  name: 'jEmployeeList',
  components: {
    jLoadingTable,
    jImportButton,
    jProgressScreenMultiUrl,
    jModalEmployeeCreate,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpen: false,
      export_data_xls: {
        start_date: '',
        end_date: '',
        type: 'xls',
      },
      datepicker: '',
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: '',
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: '',
          to: '',
        }],
      },
      date_export: false,
      options_head: {
        icon: 'fa-user',
        main_title: 'Employee',
        opt_title: '',
      },
      filter_data: '',
      select_type: 'staff_name',
      options_search: [
        {
          text: 'Staff Name',
          value: 'staff_name',
        },
        {
          text: 'Employee ID',
          value: 'employee_id',
        },
        {
          text: 'Email',
          value: 'email',
        },
      ],
      import_type_options: [
        {
          text: 'Personal Data',
          value: 'personal_data',
        },
        {
          text: 'Employee Documents',
          value: 'employee_documents',
        },
        {
          text: 'Family & Relations',
          value: 'family_and_relations',
        },
        {
          text: 'Emergency Contacts',
          value: 'emergency_contacts',
        },
        {
          text: 'Business Line',
          value: 'business_line',
        },
        {
          text: 'Medical Information',
          value: 'medical_information',
        },
        {
          text: 'Medical Records',
          value: 'medical_records',
        },
        {
          text: 'Careers',
          value: 'careers',
        },
        {
          text: 'Education',
          value: 'education',
        },
        {
          text: 'Self Developments',
          value: 'self_developments',
        },
        {
          text: 'Track Records',
          value: 'track_records',
        },
        {
          text: 'Payroll Data',
          value: 'payroll_data',
        },
      ],
      import_type: null,
      is_import_employee: false,
      url: null,
      urls: [],
      headers: null,
      import_data: [],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['staff_name', 'employee_id', 'position', 'join_date', 'created_date', 'updated_date'],
      options: {
        headings: {
          staff_name: 'Staff Name',
          employee_id: 'Employee ID',
          position: 'Team',
          join_date: 'Last Send Invite Date',
          created_date: 'Created Date',
          updated_date: 'Updated Date',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['staff_name', 'employee_id', 'created_date', 'updated_date'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getListEmployee = jApiEmployee.listEmployee(data);
          return getListEmployee.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['employee_created']),

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    employee_created() {
      this.$refs.employeeServer.getData();
    },

    filter_data(val) {
      if (val === '') {
        this.$refs.employeeServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
    // eslint-disable-next-line func-names
    'export_data_xls.start_date': function (date) {
      if (this.export_data_xls.end_date !== '') {
        if (this.export_data_xls.end_date < date) {
          this.export_data_xls.end_date = date;
        }
      }
      this.restrictDate(date, 'from');
    },
    // eslint-disable-next-line func-names
    'export_data_xls.end_date': function (date) {
      if (this.export_data_xls.start_date !== '') {
        if (this.export_data_xls.start_date > date) {
          this.export_data_xls.start_date = date;
          this.restrictDate(date, 'end');
        }
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'toggleSuccess', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreImport', ['onSetInvalidHeaderList']),
    ...mapActions('jStoreEmployee', ['actionExportHistoricalToEMail']),

    loading(val) {
      const a = val;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.employeeServer.getData();
    },

    filter(val) {
      this.$refs.employeeServer.setFilter(val);
    },
    openCreatePage() {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/employee/create`);
      } else {
        this.$router.push('/employee/create');
      }
    },
    openDetailPage({ row }) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/employee/detail/${row.id}`);
      } else {
        this.$router.push(`/employee/detail/${row.id}`);
      }
    },
    showDateExport() {
      this.date_export = !this.date_export;
    },
    exportEmployeeData() {
      this.$refs.confirmationGenerate.show();
    },
    showImportEmployeeModal() {
      this.$refs.importEmployeeModal.show();
    },
    closeImportEmployee() {
      this.is_import_employee = false;
      this.import_type = null;
    },
    openModalCreateEmployee() {
      this.isOpen = true;
      this.$refs.modalCreateEmployee.show();
    },
    closeModalCreateEmployee() {
      this.$refs.modalCreateEmployee.hide();
      this.isOpen = false;
    },
    onClickConfirmToGenerateEmployeeData() {
      this.showLoading();
      const api = jApi.generateApi();
      return api.get('user/employees?q=export_email&format=xlsx')
        .then(res => res.data)
        .then(() => {
          this.hideLoading();
          this.toggleSuccess('Success request generate employee data');
        })
        .catch((err) => {
          this.hideLoading();
          this.toggleProblem('Something is wrong, please try again');
        });
    },
    onClickDownload() {
      const link = document.createElement('a');
      link.href = 'https://jojonomic-frontend.s3-ap-southeast-1.amazonaws.com/static/file/import/example/employee/Template+Import+Employee.zip';
      document.body.appendChild(link);
      link.click();
      link.remove();
    },
    setInvalidHeader(xlsHeader) {
      const validateHeader = xlsHeader.filter(header =>
        header.includes('allowance__') || header.includes('deduction__'));
      this.onSetInvalidHeaderList(validateHeader.filter(
        header => !this.headerValidationList.includes(header),
      ));
    },
    onClickImportFile() {
      // do nothing
    },
    importData(data) {
      if (data.body.length === 0) {
        this.toggleProblem('No data selected');
      } else {
        // const token = Vue.ls.get('Token');
        const token = JSON.parse(localStorage.getItem('Token')).value;
        this.headers = {
          Authorization: token,
        };
        this.url = null;
        this.urls = [];
        if (this.import_type === 'personal_data') {
          // this.url = `${process.env.GATE_URL}user/employee/create`;
          this.url = `${localStorage.getItem('gateUrl')}user/employee/create`;
          this.import_data = data.body.map((element) => {
            const item = element;
            const roles = element.roles.split(',');
            item.roles = [...roles];
            item.id = 0;
            item.root_id = -1;
            return item;
          });
        } else if (this.import_type === 'business_line') {
          this.import_data = data.body.map((element) => {
            const coManagers = element['business_lines__co-managers'].split(',');
            const item = {
              id: 0,
              root_id: -1,
              main: element.business_lines__main,
              sub: element.business_lines__sub,
              co_managers: [
                {
                  name: coManagers[0],
                },
                {
                  name: coManagers[1],
                },
              ],
            };
            // eslint-disable-next-line max-len
            // const url = `${process.env.GATE_URL}hris-references-service/employees/${element.email}/business_lines`;
            const url = `${localStorage.getItem('gateUrl')}hris-references-service/employees/${element.email}/business_lines`;
            this.urls.push(url);
            return item;
          });
        }
        this.$nextTick(() => {
          this.showProgressScreen();
        });
      }
    },
    showProgressScreen() {
      if (this.import_type === 'personal_data') {
        this.$refs.progressScreen.toggleIsVisible();
      } else {
        this.$refs.progressScreenMultiUrl.toggleIsVisible();
      }
    },
    reloadTable() {
      this.$refs.employeeServer.getData();
      this.$nextTick(() => {
        this.closeImportEmployee();
      });
    },
    fileDownload(response) {
      window.location.href = response;
    },
    async exportEmployeeHistorical() {
      this.$v.export_data_xls.$touch();
      if (!this.$v.export_data_xls.$error) {
        // const api = jApi.generateApi();
        // const req = {
        //   start_date: this.$moment(this.export_data_xls.start_date).format('YYYY-MM-DD'),
        //   end_date: this.$moment(this.export_data_xls.end_date).format('YYYY-MM-DD'),
        //   type: 'xls',
        // };
        // return api.post('hris-historical/report/export', req)
        //   .then(res => res.data)
        //   .then(obj => this.fileDownload(obj.data.url, obj.data.file_name));
        const { start_date: startDate, end_date: endDate } = this.export_data_xls;
        const params = {
          start_date: startDate ? this.$moment(startDate).format('YYYY-MM-DD') : null,
          end_date: endDate ? this.$moment(endDate).format('YYYY-MM-DD') : null,
        };
        const res = await this.actionExportHistoricalToEMail(params);

        if (!res.data.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.messages);
        }
      }
    },
    restrictDate(e, status) {
      if (status === 'from') {
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.export_data_xls.start_date,
        }];
      }
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.export_data_xls.start_date,
          to: new Date(100000, 100000, 100000),
        }];
      }
    },
  },
  validations: {
    export_data_xls: {
      start_date: { required },
      end_date: { },
    },
  },
};
</script>

<style lang="scss">
  .msg {
    font-size: 17px;
    white-space: pre-line;
  }
  .close-btn {
    cursor: pointer;
    font-weight: 600;
  }

  .list-data-table .popover {
    max-width: 600px;
  }
</style>
