<template>
  <div id="employee-detail">
    <div class="header-employee">
      <b-row v-if="employee_detail">
        <b-col cols="6">
          <div class="d-flex align-items-center">
            <i
              class="fa fa-arrow-left cursor-pointer m__t--2"
              @click="$router.go(-1)"/>
            <div class="d-flex align-items-center justify-content-between m--10">
              <div class="d-flex align-items-center">
                <div class="m__r--10">
                  <b-img
                    v-if="employee_detail.photo_url"
                    :src="employee_detail.photo_url"
                    rounded="circle"
                    alt="img"
                    class="img-employee"/>
                  <b-img
                    v-else
                    :src="require('@/assets/logo/user1.png')"
                    rounded="circle"
                    alt="img"
                    class="img-employee"/>
                </div>
                <div>
                  <h6 class="font-weight-bold m__b--0">
                    {{ employee_detail.first_name }} {{ employee_detail.last_name }}
                  </h6>
                  <span> {{ employee_detail.email }} </span>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col
          cols="6"
          class="text-right">
          <b-button
            v-if="isAdmin"
            class="btn red"
            @click="deletedEmployee">
            Delete
          </b-button>
        </b-col>
      </b-row>

      <div class="tab-header">
        <div
          v-for="(item, index) in tabs"
          :key="index"
          md="2"
          class="content-tab"
          @click="tabSelected = item.idTab">
          {{ item.title }}
          <div
            v-if="tabSelected === item.idTab"
            class="underline-data"/>
        </div>
      </div>
    </div>

    <j-detail
      v-if="tabSelected === 'tab-employee-detail'"
      :oos-route="oosRoute" />
    <j-assignment
      v-if="tabSelected === 'tab-assignment'"
      :oos-route="oosRoute" />
    <j-record
      v-if="tabSelected === 'tab-organization-record'"
      :oos-route="oosRoute" />
    <j-reference
      v-if="tabSelected === 'tab-employee-reference'"
      :oos-route="oosRoute" />
    <j-payroll
      v-if="tabSelected === 'tab-payroll'"
      :oos-route="oosRoute" />
    <j-on-boarding-termination
      v-if="tabSelected === 'tab-onboarding-termination'"
      :oos-route="oosRoute" />

  </div>
</template>

<script>
/* eslint-disable max-len, no-unused-vars */
import { mapState, mapActions } from 'vuex';
import jApiEmployee from '@/services/jApiEmployee';
import jUserAPIManager from '@/services/payroll/jUserAPIManager';
import jDetail from './detail/jDetail';
import jReference from './reference/jReference';
import jRecord from './record-new/jRecord';
import jAssignment from './assignment/jAssignment';
import jPayroll from './payroll/jPayroll';
import jOnBoardingTermination from './onboarding-termination-new/jOnBoardingTermination';

export default {
  name: 'JEmployee',
  components: {
    jDetail,
    jReference,
    jRecord,
    jOnBoardingTermination,
    jAssignment,
    jPayroll,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      options: {
        // icon: 'fa-user',
        main_title: 'EMPLOYEE DETAIL',
        opt_title: '',
      },
      tabSelected: 'tab-employee-detail',
      tabs: [],
      listTabs: [
        {
          idTab: 'tab-employee-detail',
          title: 'Basic Info',
          idComp: 'comp-employee-detail',
          comp: jDetail,
          isShow: true,
        },
        {
          idTab: 'tab-assignment',
          title: 'Assignment',
          idComp: 'comp-assignment',
          comp: jAssignment,
          isShow: true,
        },
        {
          idTab: 'tab-organization-record',
          title: 'Organization Record',
          idComp: 'comp-organization-record',
          comp: jRecord,
          isShow: true,
        },
        {
          idTab: 'tab-employee-reference',
          title: 'Reference',
          idComp: 'comp-employee-reference',
          comp: jReference,
          isShow: true,
        },
        {
          idTab: 'tab-payroll',
          title: 'Payroll',
          idComp: 'comp-payroll',
          comp: jPayroll,
          isShow: true,
        },
        {
          idTab: 'tab-onboarding-termination',
          title: 'Onboarding & Termination',
          idComp: 'comp-onboarding-termination',
          comp: jOnBoardingTermination,
          isShow: true,
          // link: '/employee/onboarding-termination/available',
        },
      ],
      is_loaded: false,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['employee_detail']),
    ...mapState('jStorePayrollInfo', ['update_availability', 'access_payroll_info']),
    ...mapState('jStoreAddPayroll', ['uiData', 'form', 'payrollId']),
    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
    isAdminPayroll() {
      const role = localStorage.getItem('roleString');
      return role.includes('hr_supervisor') || role.includes('hr_admin') || role.includes('hr_payroll') || role.includes('admin_payroll');
    },
  },
  watch: {
    access_payroll_info(val) {
      if (!val) {
        this.tabs = this.listTabs.filter(el => el.idTab !== 'tab-payroll');
      }
    },
  },
  created() {
    // const dataFilter = {
    //   user_company_id: Number(this.$route.params.id),
    // };
    // const params = {
    //   page: 1,
    //   limit: 10,
    //   filter: JSON.stringify(dataFilter),
    //   sort: 'asc',
    // };
    // this.actionGetActivityLogs(params);
    // this.actionCheckAvailability(dataFilter);
    // this.actionCheckAccessPayrollInfo({
    //   user_company_id: Number(this.$route.params.id),
    // });

    if (this.isAdminPayroll) {
      this.tabs = this.listTabs;
    } else {
      this.tabs = this.listTabs.filter(val => val.idTab !== 'tab-payroll');
    }
  },
  mounted() {
    // const userCompanyId = {
    //   id: Number(this.$route.params.id),
    // };
    // this.detailEmployee(userCompanyId)
    //   .then((res) => {
    //     jUserAPIManager.requestGetUserDetailByUserId(res.user.user_id).then((val) => {
    //       this.uiData.payrollDetail = val.data.user;
    //       this.requestReloadData();
    //     });
    //   });
  },
  beforeDestroy() {
    this.actionSetAccessNull();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['detailEmployee', 'deleteEmployee', 'actionGetActivityLogs']),
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability', 'actionCheckAccessPayrollInfo', 'actionSetAccessNull']),
    ...mapActions('jStoreAddPayroll', ['requestReloadData']),

    deletedEmployee() {
      const text = `Are you sure, want to delete ${this.employee_detail.first_name} ${this.employee_detail.last_name}`;

      this.$swal({
        title: 'Are you sure?',
        text,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.deleteEmployee({ user_company_ids: [this.$route.params.id] });
          if (!res.error) {
            if (this.oosRoute !== '') {
              this.$router.push(`${this.oosRoute}/employee`);
            } else {
              this.$router.push('/employee');
            }
          }
        }
      });
    },
  },
};
</script>

<style>
  .img-employee {
    float: left;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 100%;
    padding: 2px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header-employee {
    background-color: #f2f2f2;
    padding: 15px 20px 0px 20px;
    margin: -20px -20px 0 -20px;
  }
</style>
