<template>
  <div>
    <h4 class="text-center">ASSIGNMENT HISTORY</h4>
    <div>
      <b-row>
        <b-col md="2">
          <span>Employee ID</span>
        </b-col>
        <b-col md="4">
          <span>: {{ employeeId }}</span>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="2">
          <span>Hire Date</span>
        </b-col>
        <b-col md="4">
          <span>: {{ joinDate | moment("DD MMMM YYYY") }}</span>
        </b-col>
      </b-row>

      <v-client-table
        :data="dataLog"
        :columns="columns"
        :options="options"
        class="jTable">

        <div
          slot="effective_start_date"
          slot-scope="props"
        >
          {{ props.row.effective_start_date | moment("DD MMM YYYY") }}
        </div>

        <div
          slot="effective_end_date"
          slot-scope="props"
        >
          {{ props.row.effective_end_date | moment("DD MMM YYYY") }}
        </div>

      </v-client-table>

      <b-col cols="12">
        <div class="text-right">
          <b-button
            class="btn grey"
            @click="closeModal">
            Close
          </b-button>
          <!-- <b-button
            class="btn blue">
            Save
          </b-button> -->
        </div>
      </b-col>
    </div>
  </div>
</template>

<script>
/* eslint-disable camelcase */

export default {
  props: {
    mode: {
      type: String,
      default: 'view',
    },
    dataLog: {
      type: Array,
      default: () => [],
    },
    employeeId: {
      type: String,
      default: '',
    },
    joinDate: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      columns: ['position', 'division', 'employee_type_name', 'employee_subtype_name', 'location', 'effective_start_date', 'effective_end_date', 'reason', 'employee_status'],
      options: {
        headings: {
          position: 'POSITION',
          division: 'DIVISION',
          employee_type_name: 'EMPLOYEE TYPE',
          employee_subtype_name: 'EMPLOYEE SUB-TYPE',
          location: 'LOCATION',
          effective_start_date: 'EFF START DATE',
          effective_end_date: 'EFF END DATE',
          reason: 'REASON',
          employee_status: 'EMPLOYEE STATUS',
        },
        filterable: true,
        perPage: 100,
        perPageValues: [5, 10, 20, 50, 100],
      },
    };
  },
  methods: {

    closeModal() {
      this.$emit('close-modal', true);
    },
  },
};
</script>

<style lang="scss">
  .modal-activity-log {
    .modal-dialog {
      max-width: 1024px !important;
    }
  }
</style>
