<template>
  <div>
    <b-row class="align-items-center">
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.bank.name.$error}">
          <label>Bank Name</label>
          <j-select
            v-model="$v.bank.name.$model"
            :options="bankList"
            placeholder="Bank Name"
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.bank.accNumber.$error}">
          <label>Bank Account Number</label>
          <j-input
            id="id"
            v-model="$v.bank.accNumber.$model"
            :disabled="false"
            placeholder="Bank Account Number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.bank.accHolder.$error}">
          <label>Bank Account Holder</label>
          <j-input
            id="accHolder"
            v-model="$v.bank.accHolder.$model"
            :disabled="false"
            placeholder="Bank Account Holder"/>
        </b-form-group>
      </b-col>
      <!-- <b-col
        sm="12"
        md="2">
        <b-button
          class="btn blue float-right"
          @click="updateBank">
          Update
        </b-button>
      </b-col> -->
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'JBank',
  data() {
    return {
      bank: {
        accNumber: null,
        accHolder: null,
        name: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['bankList', 'stateForLoadBankList']),
  },
  created() {
    // this.fetchBank();
  },
  validations() {
    return {
      bank: {
        accNumber: {
          required,
        },
        accHolder: {
          required,
        },
        name: {
          required,
        },
      },
    };
  },
  methods: {
    // async updateBank() {

    // },
  },
};
</script>
