<template>
  <div
    class="jRules jFlow">
    <div class="selected-bottom-rules show-floating">
      <b-row>
        <b-col>
          <slot/>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {

    };
  },
  methods: {
    hide(route) {
      const elem = document.getElementsByClassName('selected-bottom-rules');
      elem[0].classList.remove('show-floating');
      elem[0].classList.add('hide-floating');
      setTimeout(() => {
        if (route) {
          const isLocalHost = window.location.href.includes('localhost');
          if (isLocalHost) {
            this.$router.push('/flows');
          } else {
            this.$router.push(`${this.oosRoute}/flows`);
          }
        }
      }, 200);
    },
  },
};
</script>

