<template>
  <div class="company-currency currency-selection">
    <div class="jInput">
      <b-row
        class="input-form">
        <div
          :id="`currencyPopover${field.field_ui_key}${index}`"
          :style="convertionCurrencyStyle"
          class="currency-selection-default"
          @click="handleSelectConvertion">
          <span>
            {{ selectedCurrency }} <i class="fa fa-chevron-down"/>
          </span>
        </div>
        <vue-autonumeric
          v-model="formData.originAmount"
          :disabled="disabled"
          :options="setCurrencyOptions()"
          :placeholder="placeholder"
          class="form-control origin-amount"
          @input="conversionAmount($event)"
        />
      </b-row>
      <label
        v-if="errorRequired"
        class="show">{{ errorMessage }}
      </label>
    </div>
    <div class="currency-selection-info">
      <div v-if="formData.rate && isShowNumeric">
        <span class="info">Rate</span>
        <vue-autonumeric
          :options="setCurrencyOptions('rate_view')"
          :value="formData.rate"
          tag="div"
          class="info"
        />
      </div>
      <div v-if="formData.convertionAmount !== null && isShowNumeric">
        <vue-autonumeric
          :options="setCurrencyOptions('convertion')"
          :value="formData.convertionAmount"
          tag="div"
          class="info"
        />
      </div>
    </div>

    <!-- Popover Convertion Currency -->
    <b-popover
      ref="currencyPopoverRef"
      :target="`currencyPopover${field.field_ui_key}${index}`"
      :show.sync="isShowPopoverConvertionCurrency"
      :disabled="disabled"
      placement="bottom"
    >
      <div
        v-click-outside="hidePopover"
        class="popover-convertion-currency">
        <div class="popover-convertion-currency-header">
          <i class="fa fa-search convertion-currency-search"/>
          <input
            v-model="querySearch"
            type="text"
            placeholder="Search"
            class="convertion-currency-input"
            @keyup="filterListCurrency">
        </div>
        <div
          v-if="resultListCurrency.length > 0"
          class="popover-convertion-currency-content">
          <div
            v-for="item in resultListCurrency"
            :key="item.id"
            class="content-item"
            @click="changeCurrency(item)">
            {{ item.name }} &lpar;{{ item.symbol }}&rpar;
          </div>
        </div>
      </div>
    </b-popover>

    <!-- Modal Rate Currency -->
    <div
      v-if="isShowModalRate"
      class="modal-rate-currency">
      <div class="modal-rate-currency-header">
        <h3>Get Rate Currency</h3>
        <img src="@/assets/icon/rate-currency.png">
      </div>
      <p>
        Rate <span>{{ tempConvertionCurrency }}</span> to
        <span>{{ formData.originCurrency }}</span>
      </p>
      <b-row class="mb-4">
        <b-col
          md="8"
          class="pr-2">
          <div
            :class="{'error-input': $v.rateCurrency.$error}"
            class="jInput">
            <b-row
              class="input-form">
              <vue-autonumeric
                v-model="rateCurrency"
                :disabled="!isEditableRate"
                :options="setCurrencyOptions('rate_input')"
                class="form-control"
              />
            </b-row>
            <label
              v-if="$v.rateCurrency.$error">{{ rateErrorMessage }}
            </label>
          </div>
        </b-col>
        <b-col
          md="4"
          class="pl-2">
          <b-button
            class="btn outline btn-rate"
            @click="convertCurrency()">
            Load
          </b-button>
        </b-col>
      </b-row>
      <b-button
        class="btn blue outline pull-right"
        @click="submitRateCurrency">
        Apply
      </b-button>
      <b-button
        class="btn gray outline pull-right m__r--10"
        @click="closeModal">
        Close
      </b-button>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside';
import axios from 'axios';
import { required, minValue } from 'vuelidate/lib/validators';
import currency from '@/assets/file/currency.json';
import vueAutonumeric from '@/components/currency-selection/VueAutonumeric';

export default {
  name: 'JCurrencySelection',
  directives: {
    ClickOutside,
  },
  components: {
    'vue-autonumeric': vueAutonumeric,
  },
  props: {
    options: {
      type: Object,
      default: () => (
        JSON.parse(localStorage.getItem('currency_format'))
      ),
    },
    field: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      isShowPopoverConvertionCurrency: false,
      isShowModalRate: false,
      isEditableRate: false,
      querySearch: '',
      resultListCurrency: [],
      rateFunction: null,
      rateCurrency: null,
      selectedCurrency: '',
      tempConvertionCurrency: null,
      formData: {
        originAmount: null,
        originCurrency: null,
        rate: null,
        convertionAmount: null,
        targetCurrency: null,
      },
      isShowNumeric: false,
    };
  },
  computed: {
    format_options() {
      return this.hasWhiteSpace(this.options);
    },
    list_currency() {
      const listKey = Object.keys(currency);
      const listValue = Object.values(currency);
      return listValue.map((e, index) => {
        e.id = listKey[index];
        return e;
      });
    },
    rateOptions() {
      const options = Object.assign({}, this.format_options);
      options.minimumValue = '0';
      options.allowDecimalPadding = 'floats';
      options.decimalPlaces = 7;
      options.decimalPlacesRawValue = 7;
      options.readOnly = true;
      return options;
    },
    rateErrorMessage() {
      if (!this.$v.rateCurrency.minValue) {
        return 'Rate value cannot 0';
      }
      return 'Rate is required';
    },
    convertionCurrencyStyle() {
      if (this.isShowModalRate) {
        return 'cursor: not-allowed';
      }
      if (this.disabled) {
        return 'cursor: default';
      }
      return {};
    },
  },
  watch: {
    formData: {
      handler(val) {
        this.$emit('data', val);
      },
      deep: true,
    },
    isShowPopoverConvertionCurrency(val) {
      if (!val) {
        this.querySearch = '';
        this.$v.rateCurrency.$reset();
      }
    },
    querySearch(val) {
      if (!val) {
        this.resultListCurrency = this.list_currency;
      }
    },
    data: {
      handler() {
        this.setCurrencyData();
      },
      deep: true,
    },
  },
  created() {
    this.resultListCurrency = this.list_currency;
    if (this.field) {
      this.formData.originCurrency = this.field.config.default_currency;
      this.rateFunction = this.field.config.load_rate || null;
      this.isEditableRate = this.field.config.editable_rate || false;
    }
    if (this.data) {
      this.setCurrencyData();
    }

    setTimeout(() => {
      this.isShowNumeric = true;
    }, 500);
  },
  methods: {
    hasWhiteSpace(val) {
      if (val.currencySymbol.indexOf(' ') >= 0) {
        return val;
      }
      const cs = val.currencySymbol;
      if (val.currencySymbolPlacement === 's') {
        this.$set(val, 'currencySymbol', ` ${cs} `);
      } else {
        this.$set(val, 'currencySymbol', `${cs} `);
      }
      return val;
    },
    filterListCurrency() {
      if (this.querySearch) {
        this.resultListCurrency = this.list_currency.filter(i =>
          i.name.toLowerCase().includes(this.querySearch));
      }
    },
    changeCurrency(val) {
      const targetCurrency = this.list_currency.find(i => i.id === val.id);
      this.tempConvertionCurrency = targetCurrency.id;
      this.isShowPopoverConvertionCurrency = false;
      this.isShowModalRate = true;
    },
    convertCurrency() {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });
      if (this.rateFunction) {
        const token = (JSON.parse(localStorage.getItem('Token'))).value;
        const gateUrl = localStorage.getItem('gateUrl');
        const url = `${gateUrl}nocode/function?function_name=${this.rateFunction}`;
        const body = {
          originCurrency: this.formData.originCurrency,
          targetCurrency: this.tempConvertionCurrency,
        };

        axios.post(url, body, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
          this.rateCurrency = res.data.rate || null;
        });
      } else {
        const url = `https://data.fixer.io/api/convert?access_key=f497e9933fce7fe7c5d8ea20bad478cc&from=${this.tempConvertionCurrency}&to=${this.formData.originCurrency}&amount=1`;
        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
          },
        }).then((res) => {
          this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
          this.rateCurrency = res.data.result || null;
        });
      }
    },
    submitRateCurrency() {
      this.$v.rateCurrency.$touch();
      if (!this.$v.rateCurrency.$error) {
        this.formData.rate = this.rateCurrency;
        this.formData.targetCurrency = this.tempConvertionCurrency;
        this.selectedCurrency = this.formData.targetCurrency;
        if (this.formData.originAmount) {
          const calculate = this.formData.originAmount * this.formData.rate;
          this.formData.convertionAmount = calculate;
        }
        this.closeModal();
      }
    },
    closeModal() {
      this.isShowModalRate = false;
      this.rateCurrency = null;
    },
    setCurrencyOptions(type) {
      const options = Object.assign({}, this.format_options);
      const selectedSymbol = currency[this.selectedCurrency].symbol;

      if (type === 'rate_input') {
        options.minimumValue = '0';
        options.allowDecimalPadding = 'floats';
        options.decimalPlaces = 7;
        options.decimalPlacesRawValue = 7;
      } else if (type === 'rate_view') {
        options.minimumValue = '0';
        options.allowDecimalPadding = 'floats';
        options.decimalPlaces = 7;
        options.decimalPlacesRawValue = 7;
        options.readOnly = true;
      } else if (type === 'convertion') {
        options.allowDecimalPadding = 'floats';
        options.decimalPlaces = 7;
        options.decimalPlacesRawValue = 7;
        options.readOnly = true;
      } else {
        options.currencySymbol = selectedSymbol;
      }

      return options;
    },
    conversionAmount() {
      if (this.formData.originAmount !== null) {
        const calculate = this.formData.originAmount * this.formData.rate;
        this.formData.convertionAmount = calculate;
      } else {
        this.formData.convertionAmount = null;
      }
    },
    handleSelectConvertion() {
      if (!this.disabled && !this.isShowModalRate) {
        this.isShowPopoverConvertionCurrency = !this.isShowPopoverConvertionCurrency;
      }
    },
    hidePopover() {
      this.isShowPopoverConvertionCurrency = false;
    },
    setCurrencyData() {
      this.formData.originAmount = this.data.origin_amount;
      this.formData.rate = this.data.rate || 1;
      this.formData.convertionAmount = this.data.convertion_amount;
      this.formData.targetCurrency = this.data.target_currency || this.formData.originCurrency;
      this.tempConvertionCurrency = this.formData.targetCurrency;
      this.selectedCurrency = this.formData.targetCurrency || this.formData.originCurrency;
      this.rateCurrency = this.formData.rate;
    },
  },
  validations: {
    rateCurrency: {
      required,
      minValue: minValue(0.0000001),
    },
  },
};
</script>
