<template>
  <div>
    <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Location</h3>
    <b-row>
      <b-col cols="12">
        <div>
          <b-form-group
            :class="{'error-input' : $v.company_location.name.$error}">
            <label for="text1"> Name <span class="red"> * </span> </label>
            <j-input
              id="text1"
              v-model="$v.company_location.name.$model"
              placeholder="Name"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.code.$error}">
            <label for="text2"> Code <span class="red"> * </span> </label>
            <j-input
              id="text2"
              v-model="$v.company_location.code.$model"
              placeholder="Code"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.city.$error}">
            <label for="text2"> City </label>
            <j-single-select
              v-model="$v.company_location.city.$model"
              :is-async="true"
              :load-options="loadOptionsCities"
              placeholder="Select City"
              value-format="object"
              label="label"
              search-prompt-text="Type minimum 3 characters to search..."/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.location_email.$error}">
            <label for="location_email"> Location Email </label>
            <j-input
              id="location_email"
              v-model="$v.company_location.location_email.$model"
              :error-message="err_message"
              placeholder="Location Email"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.location_description.$error}">
            <label for="location_description"> Location Description </label>
            <j-textarea
              id="location_description"
              v-model="$v.company_location.location_description.$model"
              placeholder="Location Description"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.type.$error}">
            <label for="text3"> Type <span class="red"> * </span> </label>
            <j-single-select
              v-model="$v.company_location.type.$model"
              :options="typeOptions"
              placeholder="Select Type"
              value-format="object"/>
          </b-form-group>
          <b-form-group
            :class="{'error-input' : $v.company_location.tax_location.$error}">
            <label for="tax_location"> Tax Location </label>
            <j-single-select
              v-model="company_location.tax_location"
              :options="listTaxLocation"
              placeholder="Select Type"
              label="name"
              value-format="object"/>
          </b-form-group>
          <div>
            <b-button
              v-if="mode === 'edit'"
              :disabled="!isAdmin"
              class="btn red"
              @click="deleteLocation">
              Delete
            </b-button>
            <div class="float-right">
              <b-button
                class="btn m__r--5"
                @click="closeModal">
                Cancel
              </b-button>
              <b-button
                v-if="mode === 'edit'"
                :disabled="false"
                class="btn blue"
                @click="updateLocation">
                Update
              </b-button>
              <b-button
                v-else
                class="btn blue"
                @click="submit">
                Add
              </b-button>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase */
/* eslint-disable max-len */
import { required, email } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { mapState, mapActions } from 'vuex';
import jApiPosition from '@/services/jApiPosition';

export default {
  validations: {
    company_location: {
      name: {
        required,
      },
      code: {
        required,
      },
      city: {

      },
      location_description: {

      },
      location_email: {
        email,
      },
      type: {
        required,
      },
      tax_location: {

      },
    },
  },
  props: {
    detail: {
      type: Object,
      default: () => [],
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  data() {
    return {
      company_location: {
        name: null,
        code: null,
        type: null,
        city: null,
        location_description: null,
        location_email: null,
        tax_location: null,
        pic_organigram_id: null,
      },
      options: {
        icon: 'fa-map-marker',
        main_title: this.mode === 'create' ? 'Add Location' : 'Edit Location',
      },
      typeOptions: [
        {
          id: 'OFFICE',
          text: 'Office',
          is_delete: false,
        },
        {
          id: 'STORE',
          text: 'Store',
          is_delete: false,
        },
      ],
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreCompanyLocation', ['listTaxLocation']),

    err_message() {
      if (!this.$v.company_location.location_email.email) {
        return 'Enter a valid email address';
      }
      return 'Field is required';
    },
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin');
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.company_location = {
        id: this.detail.id,
        name: this.detail.name,
        code: this.detail.code,
        city: this.detail.city ? {
          id: this.detail.city_id,
          label: this.detail.city,
        } : null,
        location_description: this.detail.location_description,
        location_email: this.detail.location_email,
        type: {
          id: this.detail.type,
        },

        location_relation_id: this.detail.location_relation_id || null,
        tax_location: this.detail.tax_location ? {
          id: this.detail.tax_location.id,
        } : null,
        pic_organigram_id: this.detail.organigram.id ? this.detail.organigram.id : null,
      };
    } else {
      this.company_location = {
        name: null,
        code: null,
        city: null,
        type: null,
        location_description: null,
        location_email: null,
        tax_location: null,
        pic_organigram_id: null,
      };

      this.$v.company_location.$reset();
    }
  },
  methods: {
    ...mapActions('jStoreCompanyLocation', ['createCompanyLocation', 'companyDeleteLocation', 'companyUpdateLocation', 'createTaxLocation', 'updateTaxLocation']),

    loadOptionsCities({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreCompanyLocation/actionGetCities', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    async submit() {
      this.$v.company_location.$touch();
      if (!this.$v.company_location.$error) {
        const { name, code, city, type, location_description,
          location_email, tax_location, pic_organigram_id } = this.company_location;
        const params = {
          name,
          code,
          city_id: city ? city.id : null,
          location_description,
          location_email,
          tax_location: tax_location ? tax_location.id : null,
          type: type.id,
          pic_organigram_id: pic_organigram_id || null,
        };

        const resCom = await this.createCompanyLocation(params);

        if (!resCom.error && tax_location) {
          const paramsLocation = {
            tax_location_id: tax_location.id,
            location_id: resCom.data.id,
          };
          await this.createTaxLocation(paramsLocation);

          this.$emit('updated', true);
          this.closeModal();
        }
      }
    },
    async updateLocation() {
      this.$v.company_location.$touch();
      if (!this.$v.company_location.$error) {
        this.$swal({
          title: 'Are you sure, want to update this location?',
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (result.value || !result.value) {
            if (!result.dismiss) {
              const { id, name, code, city, type, location_description,
                location_email, tax_location, pic_organigram_id } = this.company_location;
              const params = {
                name,
                code,
                city_id: city ? city.id : null,
                type: type.id,
                tax_location: tax_location ? tax_location.id : null,
                pic_organigram_id: pic_organigram_id || null,
                location_description,
                location_email,
              };
              const resCom = await this.companyUpdateLocation({ id, req: params });

              if (!resCom.error && tax_location) {
                const paramsLocation = {
                  tax_location_id: tax_location.id,
                  location_id: resCom.data.id,
                };
                if (this.company_location.location_relation_id) {
                  paramsLocation.location_relation_id = this.company_location.location_relation_id;
                  await this.updateTaxLocation(paramsLocation);
                } else {
                  await this.createTaxLocation(paramsLocation);
                }

                this.$emit('updated', true);
                this.closeModal();
              }
            }
          }
        });
      }
    },
    deleteLocation() {
      this.$swal.fire({
        title: '<span style="color:#d2232a;font-size:1.25em;margin-bottom:10px">Delete<span>',
        html:
    '<p style="font-size:1em;"> Are you sure to delete this location?</p> ',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
    'Delete',
        confirmButtonAriaLabel: 'Thumbs up, great!',
        cancelButtonText:
    'Cancel',
        cancelButtonAriaLabel: 'Thumbs down',
        type: 'warning',
        confirmButtonColor: '#d2232a',
        cancelButtonColor: '#d33',
      }).then(async (result) => {
        if (result.value) {
          const params = {
            id: this.company_location.id,
          };
          await this.companyDeleteLocation(params);
          this.$emit('updated', true);
          this.closeModal();
        }
      });
    },
    closeModal() {
      this.company_location = {
        name: null,
        code: null,
        city: null,
        type: null,
        tax_location: null,
        pic_organigram_id: null,
        location_description: null,
        location_email: null,
      };
      this.$v.company_location.$reset();
      this.$emit('close-modal', true);
    },
    loadPositionOptions({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
        };
        this.data = this.getListPositions(reqData, callback);
      }
    },
    getListPositions(req, callback) {
      return jApiPosition.getListPosition(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              if (!lab.name.replace(/\s/g, '').length) {
                // eslint-disable-next-line
                res.data.data[index].label = lab.email;
              } else {
                // eslint-disable-next-line
                res.data.data[index].label = lab.name;
              }
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
  .button-action__company-location__create{
    float: right;
    margin-bottom: 50px;
  }

  .red{
    color: red;
  }
</style>
