<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetail">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div>

        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport">
          <b-form-group>
            <b-form-checkbox-group v-model="selected_rows">
              <b-form-checkbox :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiOvertimeReport from '@/services/overtime/jApiOvertimeReport';


export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      select_type: '',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['name', 'overtime_type', 'total_hours', 'total_points', 'total_overtime_request'],
      options: {
        headings: {
          name: 'EMPLOYEE',
          overtime_type: 'OVERTIME TYPE',
          total_hours: 'TOTAL HOURS',
          total_points: 'TOTAL POINTS',
          total_overtime_request: 'TOTAL OVERTIME REQUEST',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['name', 'overtime_type', 'total_hours', 'total_points', 'total_overtime_request'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
            start_date: '',
            end_date: '',
            user_company_ids: data.user_company_ids,
            team_ids: data.team_ids,
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeReport.getReportOvertimeList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.recordsTotal !== undefined ? data.recordsTotal : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params !== null) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.user_company_ids = this.params.user_company_ids || [];
        val.team_ids = this.params.team_ids || [];
      } else {
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.user_company_ids = [];
        val.team_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.getData();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    generateXLS() {
      this.$emit('export-report');
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/report/overtime/detail/${row.user_company_id}/${this.params.start_date}/${this.params.end_date}`);
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
