<template>
  <div>
    <br>
    <j-overtime-summary-form
      ref="form"
      :list-employee="user_restriction_organigram"
      :list-team="team_list"
      mode="summary"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <j-overtime-summary-list
      ref="summaryServer"
      :params="search_params"
      :oos-route="oosRoute"
      @export-report="generateXLS"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jOvertimeSummaryList from './jOvertimeSummaryList';
import jOvertimeSummaryForm from './jOvertimeSummaryForm';

export default {
  name: 'jOvertimeSummaryTabComp',
  components: {
    jOvertimeSummaryList,
    jOvertimeSummaryForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      search_params: {
        start_date: this.$moment().format('YYYY-MM-DD'),
        end_date: this.$moment().format('YYYY-MM-DD'),
      },
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['team_list', 'user_restriction_organigram']),

  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
    };
    this.actionGetTeam(params);
    this.actionGetUserRestrictionOrganigram(params);
  },
  methods: {
    ...mapActions('jStoreUser', ['actionGetUserRestrictionOrganigram']),
    ...mapActions('jStoreAttendance', ['actionGetTeam']),
    ...mapActions('jStoreOvertime', ['generateOvertimeSummaryXLS']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    generateXLS() {
      this.$refs.form.search();
      setTimeout(() => {
        this.generateOvertimeSummaryXLS(this.search_params);
      }, 0);
    },
  },
};
</script>
