<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="detailSummaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <!-- <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div> -->

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiOvertimeReport from '@/services/overtime/jApiOvertimeReport';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    detail: {
      type: String,
      default: '',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['employee', 'overtime_type', 'total_hours', 'total_points'],
      options: {
        headings: {
          employee: 'EMPLOYEE',
          overtime_type: 'OVERTIME TYPE',
          total_hours: 'TOTAL HOURS',
          total_points: 'TOTAL POINTS',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['name', 'type', 'total_hours', 'total_points', 'total_overtime_request'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'attendance_group_id',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
            start_date: '',
            end_date: '',
            headers: data.headers,
            overtime_type: data.overtime_type,
            user_company_id: data.user_company_id,
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeReport.getReportOvertimeDetailList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.detailSummaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
    params() {
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.headers = this.params.headers || [];
        val.overtime_type = this.params.overtime_type;
        val.user_company_id = Number(this.$route.params.id);
      } else {
        val.end_date = this.$route.params.end_date || this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$route.params.start_date || this.$moment().format('YYYY-MM-DD');
        val.headers = [];
        val.overtime_type = null;
        val.user_company_id = Number(this.$route.params.id);
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.detailSummaryServer.getData();
    },

    filter(val) {
      this.$refs.detailSummaryServer.setFilter(val);
    },

    dateFormat(val) {
      return val ? this.$moment(val).format('DD-MMM-YYYY') : '';
    },

    timeFormat(val) {
      return val ? this.$moment(val).format('HH:mm') : '';
    },

    formatWorkingHours(row) {
      return `${Math.round(row.working_hours) || 0} hours ${Math.round(row.working_minutes) || 0} minutes`;
    },

    formatOvertimeHours(row) {
      return `${Math.round(row.overtime_hours) || 0} hours ${Math.round(row.overtime_minutes) || 0} minutes`;
    },

    formatLateHours(row) {
      return `${Math.round(row.late_days) || 0} days ${Math.round(row.late_hours) || 0} hours ${Math.round(row.late_minutes) || 0} minutes`;
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

  .jTable tr td div {
    min-width: 100px;
  }

  .address-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    min-width: 100px;
  }
</style>
