<template>
  <div>
    <j-title-header :options="title"/>
    <j-overtime-summary-form
      ref="form"
      :list-type="overtime_type_list"
      mode="detail"
      @data="getData"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <b-row>
      <b-col
        cols="12"
        md="12">
        <div class="float-to-right">
          <b-button
            class="btn green"
            @click="generateDetailReport"
          ><i class="fa fa-download bold" />
            Generate Report XLS
          </b-button>
        </div>
      </b-col>
    </b-row>
    <j-overtime-summary-detail-list
      ref="detailSummaryServer"
      :params="search_params"
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jOvertimeSummaryDetailList from './jOvertimeSummaryDetailList';
import jOvertimeSummaryForm from './jOvertimeSummaryForm';

export default {
  components: {
    jOvertimeSummaryDetailList,
    jOvertimeSummaryForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Overtime Report Detail',
      },
      search_params: null,
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['overtime_type_list']),
  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
      },
      user_company_id: Number(this.$route.params.id),
    };
    this.actionGetListOvertimeType(params);
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetListOvertimeType', 'generateOvertimeDetailXLS']),

    getData(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.detailSummaryServer.refreshTable();
      }, 0);
    },
    generateDetailReport() {
      this.$refs.form.search();
      const param = {
        start_date: this.search_params.start_date,
        end_date: this.search_params.end_date,
        overtime_type: this.search_params.overtime_type,
        employee: this.$route.params.id,
        headers: [],
      };
      this.generateOvertimeDetailXLS(param);
    },
  },
};
</script>
