<template>
  <div
    :class="[
      'container-summary-block',
      setClassSummaryBlock(data.type),
      {'container-summary-block-active': data.key === status}
    ]"
    :style="setStyleSummary(masterData, data.color)"
    @click="$emit('changeSummaryBlock', index)"
  >
    <div class="item-name ellipsis">{{ data.name }}</div>
    <div class="item-count">{{ data.count }}</div>
  </div>
</template>

<script>
import jSummaryBlockWorkflow from '@/mixins/summary-block/jSummaryBlockWorkflow';

export default {
  name: 'JSummaryWorkflow',
  mixins: [jSummaryBlockWorkflow],

  props: {
    masterData: {
      type: Array,
      default: () => [],
    },
    data: {
      type: Object,
      default: () => {},
    },
    index: {
      type: Number,
      default: () => 0,
    },
    status: {
      type: String,
      default: () => '',
    },
  },

  methods: {
  },
};
</script>
