<template>
  <div class="summary-block2">
    <div class="row summary">
      <template
        v-for="(data, index) in dataSummary">
        <div
          v-if="data.isStart && !data.isEnd &&
          (index === 0 || dataSummary[index-1].isStart || index % 6 === 0)"
          :class="'col-md-'+col+ ' sum-start-first'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <j-start-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-else-if="data.isStart && !data.isEnd"
          :class="'col-md-'+col+ ' sum-start'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <j-start-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-if="!data.isStart && !data.isEnd"
          :class="'col-md-'+col+ ' sum-middle'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <j-middle-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-if="!data.isStart && data.isEnd"
          :class="'col-md-'+col+ ' sum-last'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <jLastSummary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-if="data.isStart && data.isEnd && (index === 0 || index % 6 === 0)"
          :class="'col-md-'+col+ ' sum-alone-first'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <j-alone-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-else-if="data.isStart && data.isEnd && index === dataSummary.length - 1"
          :class="'col-md-'+col+ ' sum-alone-last'"
          :key="index"
          @click="$emit('summaryBlock', data)" >
          <router-link
            :to="data.href"
            tag="a">
            <j-alone-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
        <div
          v-else-if="data.isStart && data.isEnd"
          :class="'col-md-'+col+ ' sum-alone'"
          :key="index"
          @click="$emit('summaryBlock', data)">
          <router-link
            :to="data.href"
            tag="a">
            <j-alone-summary
              :status = "data.status"
              :name="data.name"
              :amounts="data.amounts"
              :date-summary="data.summaryDate"
              :color ="data.color"
              :active = "data.active"
              :index="index"/>
          </router-link>
        </div>
      </template>
    </div>
  </div>

</template>

<script>
import jStartSummary from './partial/jStartSummary';
import jMiddleSummary from './partial/jMiddleSummary';
import jLastSummary from './partial/jLastSummary';
import jAloneSummary from './partial/jAloneSummary';

export default {
  name: 'Summary',
  components: {
    jStartSummary, jMiddleSummary, jLastSummary, jAloneSummary,
  },
  props: {
    dataSummary: {
      type: Array,
      default: () => ([
        {
          status: 'Status Name',
          name: 'Status Name',
          amounts: 18,
          summaryDate: 'Aug 12, 2018',
          isStart: true,
          isEnd: false,
          color: 'green',
          active: true,
          href: '/library/datatable',
        },
      ]),
    },
  },
  data() {
    return {
      col: null,
    };
  },
  created() {
    if (this.dataSummary.length <= 6) {
      if (12 % this.dataSummary.length === 0) {
        this.col = 12 / this.dataSummary.length;
      } else {
        this.col = 12 / (this.dataSummary.length + 1);
      }
    } else if (this.dataSummary.length > 6) {
      this.col = 12 / 6;
    }
  },
};
</script>
