<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Mapping Overtime </h3>
      <b-row>
        <b-col md="8">
          <b-form-group>
            <label> Position Name </label>
            <j-input
              v-model="position_detail.name"
              disabled
            />
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group>
            <label> Position Id </label>
            <j-input
              v-model="position_detail.id"
              disabled
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group :class="{'error-input' : $v.dataForm.category.$error}">
        <label> Overtime Type <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.category"
          :is-async="true"
          :load-options="loadOptionsOvertimeType"
          :placeholder="'Select Overtime Type'"
          value-format="object"
          label="label"
        />
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.rule.$error}">
        <label> Rule <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.rule"
          :is-async="true"
          :load-options="loadOptionsRule"
          :placeholder="'Select Rule'"
          value-format="object"
          label="label"
        />
      </b-form-group>

      <div v-if="showMappingRuleOvertime">
        <b-row
          class="m__b--18">
          <b-col md="3">
            <label> Approver Position </label>
          </b-col>
          <b-col md="5">
            <label> Limit Types </label>
          </b-col>
          <b-col md="2">
            <label> Limit </label>
          </b-col>
          <b-col md="2">
            <label> Notification </label>
          </b-col>
        </b-row>

        <b-row
          v-for="(item, index) in dataForm.approver"
          :key="item.approver_organigram_code">
          <b-col md="3">
            <div>
              <p class="m__b--1 font-weight-bold"> {{ item.approval_organigram_name }} </p>
              <p>{{ item.approval_organigram_code }}</p>
            </div>
          </b-col>
          <b-col md="5">
            <b-form-group>
              <j-single-select
                v-model="$v.dataForm.approver.$model[index].limit_type"
                :options="optionsApproverLimitType"
                value-format="object"
                label="label"
              />
            </b-form-group>
          </b-col>
          <b-col md="2">
            <j-input
              v-model="$v.dataForm.approver.$model[index].limit_of_days"
              :placeholder="'Ex: 7'"
              type="number"
            />
          </b-col>
          <b-col md="2">
            <b-form-group>
              <j-toggle
                v-model="$v.dataForm.approver.$model[index].is_need_notification" />
            </b-form-group>
          </b-col>
        </b-row>
      </div>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          v-if="mode==='edit'"
          class="btn red"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailForm: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataForm: {
        category: { required },
        rule: { required },
        approver: {},
      },
    };
  },
  data() {
    return {
      dataForm: {
        category: null,
        rule: null,
        approver: null,
      },
      optionsApproverLimitType: [
        {
          id: 1,
          label: 'From Submitted Date',
        },
        {
          id: 2,
          label: 'Every Month From Submitted Date',
        },
        {
          id: 3,
          label: 'Next Month From Submitted Date',
        },
        {
          id: 4,
          label: 'From Overtime Date',
        },
        {
          id: 5,
          label: 'Every Month From Overtime Date',
        },
        {
          id: 6,
          label: 'Next Month From Overtime Date',
        },
        {
          id: 7,
          label: 'Next Month Limit Days',
        },
        {
          id: 8,
          label: 'From Cancel Challenge Date',
        },
      ],
      showMappingRuleOvertime: false,
    };
  },
  computed: {
    ...mapState('jStorePosition', ['position_detail', 'list_overtime_type', 'list_rule']),

    genData() {
      const data = {
        category_id: this.dataForm.category.id,
        rule_id: this.dataForm.rule.id,
      };

      if (this.mode === 'create') {
        data.package = 22;
        data.organigram_id = this.$route.params.id;
      } else {
        data.id = this.detailForm.id;
      }

      return data;
    },

    genDataApprover() {
      const dataMember = this.dataForm.approver.map(member => ({
        id: member.id,
        flow_member_id: member.flow_member_id,
        limit_of_days: member.limit_of_days,
        limit_type: member.limit_type ? member.limit_type.id : null,
        is_need_notification: member.is_need_notification,
        is_delete: member.is_delete,
      }));

      const data = {
        overtime_type_id: this.dataForm.category.id,
        organigram_id: this.$route.params.id,
        data_member: dataMember,
      };

      return data;
    },

  },
  watch: {
    // eslint-disable-next-line func-names
    'dataForm.rule': async function (data) {
      if (data && this.dataForm.category) {
        this.getDataMappingApprover();
      } else {
        this.showMappingRuleOvertime = false;
      }
    },
    // eslint-disable-next-line func-names
    'dataForm.category': async function (data) {
      if (data && this.dataForm.rule) {
        this.getDataMappingApprover();
      } else {
        this.showMappingRuleOvertime = false;
      }
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataForm = {
        category: {
          id: this.detailForm.category.id,
          label: this.detailForm.category.name,
        },
        rule: {
          id: this.detailForm.rule.id,
          label: this.detailForm.rule.name,
        },
      };
    }
  },
  methods: {
    ...mapActions('jStorePosition', ['actionCreateMappingCategory', 'actionUpdateMappingCategory', 'actionDeleteMappingCategory', 'actionGeListMappingRuleOvertime', 'actionUpdateListMappingRuleOvertime']),

    loadOptionsRule({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePosition/getListRule', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsOvertimeType({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
          };
          this.$store.dispatch('jStorePosition/actionGetListOvertimeType', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    closeModalForm() {
      this.dataForm = {
        category: null,
        rule: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        let res;
        const resApprover = await this.actionUpdateListMappingRuleOvertime(this.genDataApprover);
        if (!resApprover.error) {
          if (this.mode === 'create') {
            res = await this.actionCreateMappingCategory(this.genData);
          } else {
            res = await this.actionUpdateMappingCategory(this.genData);
          }

          if (res.error) {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
          } else {
            this.closeModalForm();
          }
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure, want to delete data?',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              id: this.detailForm.id,
            };
            const res = await this.actionDeleteMappingCategory(params);

            if (res.error) {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
            } else {
              this.closeModalForm();
            }
          }
        }
      });
    },
    async getDataMappingApprover() {
      const params = {
        overtime_type_id: this.dataForm.category.id,
        organigram_id: this.$route.params.id,
        rule_id: this.dataForm.rule.id,
      };
      this.dataForm.approver = await this.actionGeListMappingRuleOvertime(params);
      this.dataForm.approver.forEach((el, index) => {
        const limitType = {
          id: el.limit_type,
        };
        this.dataForm.approver[index].limit_type = el.limit_type ? limitType : null;
        this.dataForm.approver[index].limit_of_days = el.limit_of_days || null;
        this.dataForm.approver[index].is_need_notification = !!el.is_need_notification;
      });
      this.showMappingRuleOvertime = true;
    },
  },
};
</script>

