<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Mapping Leave </h3>
      <b-row>
        <b-col md="8">
          <b-form-group>
            <label> Position Name </label>
            <j-input
              v-model="position_detail.name"
              disabled
            />
          </b-form-group>
        </b-col>
        <b-col md="4">
          <b-form-group>
            <label> Position Id </label>
            <j-input
              v-model="position_detail.id"
              disabled
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group :class="{'error-input' : $v.dataForm.category.$error}">
        <label> Leave Type <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.category"
          :is-async="true"
          :load-options="loadOptionsLeaveType"
          :placeholder="'Select Leave Type'"
          value-format="object"
          label="label"
        />
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.rule.$error}">
        <label> Rule <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.rule"
          :is-async="true"
          :load-options="loadOptionsRule"
          :placeholder="'Select Rule'"
          value-format="object"
          label="label"
        />
      </b-form-group>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          v-if="mode==='edit'"
          class="btn red"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailForm: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataForm: {
        category: { required },
        rule: { required },
      },
    };
  },
  data() {
    return {
      dataForm: {
        category: null,
        rule: null,
      },
    };
  },
  computed: {
    ...mapState('jStorePosition', ['position_detail', 'list_leave_type']),

    genData() {
      const data = {
        category_id: this.dataForm.category.id,
        rule_id: this.dataForm.rule.id,
      };

      if (this.mode === 'create') {
        data.package = 4;
        data.organigram_id = this.$route.params.id;
      } else {
        data.id = this.detailForm.id;
      }

      return data;
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataForm = {
        category: {
          id: this.detailForm.category.id,
          label: this.detailForm.category.name,
        },
        rule: {
          id: this.detailForm.rule.id,
          label: this.detailForm.rule.name,
        },
      };
    }
  },
  methods: {
    ...mapActions('jStorePosition', ['actionCreateMappingCategory', 'actionUpdateMappingCategory', 'actionDeleteMappingCategory']),

    loadOptionsRule({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePosition/getListRule', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsLeaveType({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
          };
          this.$store.dispatch('jStorePosition/actionGetListLeaveType', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    closeModalForm() {
      this.dataForm = {
        category: null,
        rule: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        let res;
        if (this.mode === 'create') {
          res = await this.actionCreateMappingCategory(this.genData);
        } else {
          res = await this.actionUpdateMappingCategory(this.genData);
        }

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure, want to delete data?',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              id: this.detailForm.id,
            };
            const res = await this.actionDeleteMappingCategory(params);

            if (res.error) {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
            } else {
              this.closeModalForm();
            }
          }
        }
      });
    },
  },
};
</script>

