<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Mapping Expense </h3>
      <b-form-group :class="{'error-input' : $v.dataForm.category.$error}">
        <label> Category <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.category"
          :is-async="true"
          :load-options="loadOptionsExpenseType"
          :placeholder="'Select Category'"
          value-format="object"
          label="label"
        />
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.ruleApprover.$error}">
        <label> Rule Approver <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.ruleApprover"
          :is-async="true"
          :load-options="loadOptionsRule"
          :placeholder="'Select Rule'"
          value-format="object"
          label="label"
        />
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.ruleVerificator.$error}">
        <label> Rule Verificator <span class="red"> * </span> </label>
        <j-single-select
          v-model="dataForm.ruleVerificator"
          :is-async="true"
          :load-options="loadOptionsRule"
          :placeholder="'Select Rule'"
          value-format="object"
          label="label"
        />
      </b-form-group>

      <div class="pull-right">
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          v-if="mode==='edit'"
          class="btn red"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn blue"
          @click="submitRecord">
          {{ mode === 'edit' ? 'Update' : 'Add' }}
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailForm: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataForm: {
        category: { required },
        ruleApprover: { required },
        ruleVerificator: { required },
      },
    };
  },
  data() {
    return {
      dataForm: {
        category: null,
        ruleApprover: null,
        ruleVerificator: null,
      },
    };
  },
  computed: {
    ...mapState('jStorePosition', ['list_leave_type', 'position_detail']),

    genData() {
      const data = {
        position_id: this.position_detail.id,
        position_name: this.position_detail.name,
        category_id: this.dataForm.category.id,
        category_name: this.dataForm.category.name,
        package: this.dataForm.category.package,
      };
      if (this.dataForm.category.package === 1) {
        data.mapping = [
          {
            rule_approval_id: this.dataForm.ruleApprover.id,
            rule_approval_name: this.dataForm.ruleApprover.name,
          },
        ];
      } else {
        data.mapping = [
          {
            rule_approval_id: this.dataForm.ruleApprover.id,
            rule_approval_name: this.dataForm.ruleApprover.name,
          },
          {
            rule_verificator_id: this.dataForm.ruleVerificator.id,
            rule_verificator_name: this.dataForm.ruleVerificator.name,
          },
        ];
      }

      return data;
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.dataForm = {
        category: {
          id: this.detailForm.category.id,
          label: this.detailForm.category.name,
        },
        rule: {
          id: this.detailForm.rule.id,
          label: this.detailForm.rule.name,
        },
      };
    }
  },
  methods: {
    ...mapActions('jStorePosition', ['actionCreateMappingExpense', 'actionDeleteMappingExpense']),

    loadOptionsRule({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePosition/getListRule', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsExpenseType({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            get_all: true,
            limit: 5,
            page: 1,
            search_key: searchQuery,
          };
          this.$store.dispatch('jStorePosition/actionGetListExpenseType', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    closeModalForm() {
      this.dataForm = {
        category: null,
        rule: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionCreateMappingExpense(this.genData);
        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure, want to delete data?',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              id: this.detailForm.id,
            };
            const res = await this.actionDeleteMappingExpense(params);

            if (res.error) {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
            } else {
              this.closeModalForm();
            }
          }
        }
      });
    },
  },
};
</script>

