<template>
  <div
    id="holiday-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="mappingTable"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
            id="holiday-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button> -->
        </b-form>
      </div>

      <div
        slot="category"
        slot-scope="props">
        {{ props.row.category.name }}
      </div>

      <div
        slot="rule"
        slot-scope="props">
        {{ props.row.rule.name }}
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="holiday-table"
      target="holiday-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

    <b-modal
      ref="modalMappingForm"
      class="mod-form"
      no-close-on-backdrop
      no-close-on-esc
      centered
    >
      <j-position-mapping-leave-form
        v-if="isOpen"
        :mode="mode"
        :detail-form="detailForm"
        @modal-open="isModalFormOpen"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiPosition from '@/services/jApiPosition';
import jPositionMappingLeaveForm from './jPositionMappingLeaveForm';

export default {
  components: {
    jLoadingTable,
    jPositionMappingLeaveForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      mode: 'create',
      isOpen: false,
      detailForm: null,

      filter_data: '',
      select_type: 'id',
      options_search: [
        {
          text: 'ID',
          value: 'id',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'category', 'rule'],
      options: {
        headings: {
          id: 'ID',
          category: 'CATEGORY',
          rule: 'RULE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiPosition.getListMappingCategory(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.mappingTable.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.package = 4; // 4 for leave
      val.organigram_id = this.$route.params.id;
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.mappingTable.getData();
    },
    filter(val) {
      this.$refs.mappingTable.setFilter(val);
    },
    openEditForm({ row }) {
      this.mode = 'edit';
      this.detailForm = row;
      this.isModalFormOpen(true);
    },
    openCreateForm() {
      this.mode = 'create';
      this.detailForm = null;
      this.isModalFormOpen(true);
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalMappingForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalMappingForm.hide();
        this.refreshTable();
      }
    },
  },
};
</script>
