<template>
  <div
    id="holiday-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="mappingTable"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
            id="holiday-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button> -->
        </b-form>
      </div>

      <div
        slot="id"
        slot-scope="props">
        {{ props.row.relation_id }}
      </div>

      <div
        slot="category"
        slot-scope="props">
        {{ props.row.category_name }}
      </div>

      <div
        slot="type"
        slot-scope="props">
        {{ props.row.category_type }}
      </div>

      <div
        slot="rule_approver"
        slot-scope="props">
        {{ props.row.mapping[0].rule_approval_name }}
      </div>

      <div
        slot="rule_verificator"
        slot-scope="props">
        {{ props.row.mapping[1]? props.row.mapping[1].rule_verificator_name:'-' }}
      </div>

      <div
        slot="action"
        slot-scope="props"
        @click="deleteRecord(props.row.relation_id)">
        <i class="fa fa-trash"/>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="holiday-table"
      target="holiday-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

    <b-modal
      ref="modalMappingForm"
      class="mod-form"
      no-close-on-backdrop
      no-close-on-esc
      centered
    >
      <j-position-mapping-expense-form
        v-if="isOpen"
        :mode="mode"
        :detail-form="detailForm"
        @modal-open="isModalFormOpen"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiPosition from '@/services/jApiPosition';
import jPositionMappingExpenseForm from './jPositionMappingExpenseForm';

export default {
  components: {
    jLoadingTable,
    jPositionMappingExpenseForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      mode: 'create',
      isOpen: false,
      detailForm: null,

      filter_data: '',
      select_type: 'id',
      options_search: [
        {
          text: 'ID',
          value: 'relation_id',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'category', 'type', 'rule_approver', 'rule_verificator', 'action'],
      options: {
        headings: {
          id: 'ID',
          category: 'CATEGORY',
          type: 'TYPE',
          rule_approver: 'RULE APPROVER',
          rule_verificator: 'RULE VERIFICATOR',
          action: 'ACTION',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiPosition.getListExpense(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.mappingTable.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStorePosition', ['actionDeleteMappingExpense']),

    loading(val) {
      val.position_id = this.$route.params.id;
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.mappingTable.getData();
    },
    filter(val) {
      this.$refs.mappingTable.setFilter(val);
    },
    openEditForm({ row }) {
      this.mode = 'edit';
      this.detailForm = row;
      this.isModalFormOpen(true);
    },
    openCreateForm() {
      this.mode = 'create';
      this.detailForm = null;
      this.isModalFormOpen(true);
    },
    isModalFormOpen(val) {
      if (val) {
        this.isOpen = val;
        this.$refs.modalMappingForm.show();
      } else {
        this.isOpen = val;
        this.$refs.modalMappingForm.hide();
        this.refreshTable();
      }
    },
    deleteRecord(relationId) {
      this.$swal({
        title: 'Are you sure, want to delete data?',
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              relation_id: relationId,
            };
            const res = await this.actionDeleteMappingExpense(params);

            if (res.error) {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
            } else {
              this.$refs.mappingTable.getData();
            }
          }
        }
      });
    },
  },
};
</script>
