<!-- eslint-disable max-len -->
<template>
  <div>
    <div v-if="menu.child">
      <div v-if="menu.parent.isShow && menu.child.length !== 0">
        <a
          v-b-toggle="'accordion-' + getCollapseName"
          class="item"
          @click="negateIsCollapse">
          <div class="sidemenu-container">
            <span v-if="menu.parent.icon">
              <i
                :class="getMenuIcon"
                aria-hidden="true"/>
            </span>
            <span v-else>
              <img
                v-if="menu.parent.iconUrlNotActive"
                :src="menu.parent.iconUrlNotActive"
                class="left-icon-url">
            </span>
            <span
              class="nav-text toggleable">  {{ menu.parent.name }}
            </span>
            <span style="margin-left: auto">
              <i
                :class="getArrowIcon"
                aria-hidden="true"/>
            </span>
          </div>
        </a>
        <div
          :id="getCollapseName"
          class="collapse--shadow-box">
          <bCollapse
            :id="'accordion-' + getCollapseName"
            v-model="showCollapse"
            visible
            accordion="nested-menus-accordion"
            role="tabpanel">
            <ul>
              <li
                v-for="(child, index) in menu.child"
                :key="index"
                class="menus-list">
                <jNestedMenuUnit
                  :child="child"/>
              </li>
            </ul>
          </bCollapse>
        </div>
      </div>
    </div>

    <div v-else>

      <router-link
        v-if="menu.parent.isShow && menu.parent.href"
        :to="menu.parent.is_maintenance_mode ? '#' : menu.parent.href"
        :class="{ 'div--active': ishrefEqualToRoute(menu.parent.href) }"
        exact-path
        class="div--menu"
        tag="div">
        <a
          :class="{ 'blur': menu.parent.is_maintenance_mode }"
          class="a--none color--white"
          @click="toggleMaintenance({ show: menu.parent.is_maintenance_mode, message: menu.parent.maintenance_mode_message })">
          <div class="sidemenu-container">
            <span v-if="menu.parent.icon">
              <i
                :class="getMenuIcon2"
                aria-hidden="true"/>
            </span>
            <span v-else>
              <img
                v-if="ishrefEqualToRoute(menu.parent.href) && menu.parent.iconUrlActive"
                :src="menu.parent.iconUrlActive"
                class="left-icon-url">
              <img
                v-else-if="menu.parent.iconUrlNotActive"
                :src="menu.parent.iconUrlNotActive"
                class="left-icon-url">
            </span>
            <span class="nav-text toggleable">  {{ menu.parent.name }} </span>
          </div>
        </a>
        <div
          v-if="menu.parent.is_maintenance_mode"
          class="maintenance-mode-page">
          <img
            :src="require('@/assets/icon/maintenance-mode.svg')"
            height="18"
            width="19"
            class="m__r--5">
          Maintenance
        </div>
      </router-link>

      <div
        v-else-if="menu.parent.isShow && menu.parent.hrefout"
        :class="{ 'div--active': ishrefoutEqualToWindowLocation(menu.parent.hrefout) }">
        <a
          :href="menu.parent.is_maintenance_mode ? '#' :menu.parent.hrefout"
          :class="{ 'blur': menu.parent.is_maintenance_mode }"
          class="a--none color--white"
          @click="toggleMaintenance({ show: menu.parent.is_maintenance_mode, message: menu.parent.maintenance_mode_message })">
          <div class="sidemenu-container">
            <span v-if="menu.parent.icon">
              <i
                :class="getMenuIcon2"
                aria-hidden="true"/>
            </span>
            <span v-else>
              <img
                v-if="ishrefoutEqualToWindowLocation(menu.parent.hrefout)
                && menu.parent.iconUrlActive"
                :src="menu.parent.iconUrlActive"
                class="left-icon-url">
              <img
                v-else-if="menu.parent.iconUrlNotActive"
                :src="menu.parent.iconUrlNotActive"
                class="left-icon-url">
            </span>
            <span class="nav-text toggleable">  {{ menu.parent.name }} </span>
          </div>
        </a>
        <div
          v-if="menu.parent.is_maintenance_mode"
          class="maintenance-mode-page">
          <img
            :src="require('@/assets/icon/maintenance-mode.svg')"
            height="18"
            width="19"
            class="m__r--5">
          Maintenance
        </div>
      </div>
    </div>

  </div>
</template>

<script>
/* eslint-disable import/no-unresolved,vue/require-default-prop */
/* eslint linebreak-style: ["error", "windows"] */
import { mapActions } from 'vuex';
import jNestedMenuUnit from './jNestedMenuUnit';

export default {
  /**
   * Created by Arga Ghulam Ahmad - arga@jojonomic.com
   * Last update 6 august 2018
   *
   * Nested Menu Component contains Nested Menu Unit Component.
   */
  name: 'JNestedList',
  components: {
    jNestedMenuUnit,
  },
  /**
   * menu: object contains nested menu details
   */
  props: {
    menu: null,
  },
  data() {
    return {
      showCollapse: null,
    };
  },
  /**
    * getArrowIcon: get arrow icon is open or close
    * getCollapseId: get collapse id
    * getCollapseName: get collapse name
    * getMenuIcon: get menu icon
    */
  computed: {
    getArrowIcon() {
      if (!this.showCollapse) return 'fa fa-angle-right icon--right icon';
      return 'fa fa-angle-right icon--right icon open';
    },
    getCollapseId() {
      return `#collapse${this.menu.parent.name}`;
    },
    getCollapseName() {
      return `collapse${this.menu.parent.name}`;
    },
    getMenuIcon() {
      return `fa fa-${this.menu.parent.icon} left-icon`;
    },
    getMenuIcon2() {
      return `fa fa-${this.menu.parent.icon} color--white left-icon`;
    },
  },
  watch: {
    $route() {
      if (!this.showCollapse && this.menu && this.menu.child
      && this.menu.child.find(item => item.id === Number(this.$route.params.pageId))) {
        this.negateIsCollapse();
      }
    },
  },
  mounted() {
    if (this.menu.child !== undefined) {
      this.menu.child.forEach((e) => {
        if (e.href === this.$route.fullPath) {
          this.showCollapse = true;
        }
      });
    }
  },
  /**
   * negateIsCollapse: negate show collapse
   */
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleMaintenance']),

    ishrefEqualToRoute(href) {
      return this.$route.path.includes(href);
    },
    ishrefoutEqualToWindowLocation(hrefout) {
      return window.location.href === hrefout;
    },
    negateIsCollapse() {
      this.showCollapse = !this.showCollapse;
    },
  },
};
</script>
