<!-- eslint-disable max-len -->
<template>
  <div>
    <router-link
      v-if="child.isShow && child.href"
      :to="child.is_maintenance_mode ? '#' : child.href"
      :class="{ 'a--active': ishrefEqualToRoute(child.href) }"
      tag="a">
      <div
        :class="{ 'blur': child.is_maintenance_mode }"
        class="sidemenu-container"
        @click="toggleMaintenance({ show: child.is_maintenance_mode, message: child.maintenance_mode_message })">
        <span v-if="child.icon">
          <i
            :class="getMenuIcon"
            aria-hidden="true"/>
        </span>
        <span v-else>
          <img
            v-if="ishrefEqualToRoute(child.href) && child.iconUrlActive"
            :src="child.iconUrlActive"
            class="left-icon-url">
          <img
            v-else-if="child.iconUrlNotActive"
            :src="child.iconUrlNotActive"
            class="left-icon-url">
        </span>
        <span class="nav-text toggleable">  {{ child.name }} </span>
      </div>
      <div
        v-if="child.is_maintenance_mode"
        class="maintenance-mode-page sub-page">
        <img
          :src="require('@/assets/icon/maintenance-mode.svg')"
          height="18"
          width="19"
          class="m__r--5">
        Maintenance
      </div>
    </router-link>

    <div
      v-else-if="child.isShow && child.hrefout"
      :class="{ 'div--active': ishrefoutEqualToWindowLocation(child.hrefout) }">
      <a :href="child.is_maintenance_mode ? '#' : child.hrefout">
        <div
          :class="{ 'blur': child.is_maintenance_mode }"
          class="sidemenu-container"
          @click="toggleMaintenance({ show: child.is_maintenance_mode, message: child.maintenance_mode_message })">
          <span v-if="child.icon">
            <i
              :class="getMenuIcon"
              aria-hidden="true"/>
          </span>
          <span v-else>
            <img
              v-if="ishrefoutEqualToWindowLocation(child.hrefout) && child.iconUrlActive"
              :src="child.iconUrlActive"
              class="left-icon-url">
            <img
              v-else-if="child.iconUrlNotActive"
              :src="child.iconUrlNotActive"
              class="left-icon-url">
          </span>
          <span class="nav-text toggleable">  {{ child.name }} </span>
        </div>
        <div
          v-if="child.is_maintenance_mode"
          class="maintenance-mode-page sub-page">
          <img
            :src="require('@/assets/icon/maintenance-mode.svg')"
            height="18"
            width="19"
            class="m__r--5">
          Maintenance
        </div>
      </a>
    </div>

  </div>


</template>

<script>
/* eslint-disable vue/require-default-prop */
/* eslint linebreak-style: ["error", "windows"] */
import { mapActions } from 'vuex';

export default {
  /**
   * Created by Arga Ghulam Ahmad - arga@jojonomic.com
   * Last update 6 august 2018
   *
   * Nested Menu unit component.
   */
  name: 'JNestedMenuUnit',
  /**
   * menu: object contains menu details
   */
  props: {
    child: Object,
  },
  /**
   * getMenuIcon: get menu icon
   */
  computed: {
    getMenuIcon() {
      // return `fa fa-${this.child.icon} icon--blue-color left-icon`;
      return `fa fa-${this.child.icon} left-icon`;
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleMaintenance']),

    ishrefEqualToRoute(href) {
      return this.$route.path.includes(href);
    },
    ishrefoutEqualToWindowLocation(hrefout) {
      return window.location.href === hrefout;
    },
  },
};
</script>
