<template>
  <div id="sidebar-wrapper-apps">
    <div
      v-if="showSearchPage"
      class="wrap-search-pages">
      <img
        src="@/assets/img/search-page.svg"
        class="img-search-pages">
      <input
        id="searchSidebar"
        v-model="search"
        type="text"
        class="input-search-pages"
        placeholder="search"
        @focusin="openSuggestion"
        @keyup="filterPage"
      >
      <div
        v-show="search"
        class="div-clear-value">
        <img
          :src="require('@/assets/icon/xmark.svg')"
          alt="Clear Value"
          @click="search = null">
      </div>
    </div>
    <div
      id="menus"
      :class="{ 'height-search' : showSearchPage }"
      class="menus">
      <div class="sidebar__nav--container">
        <transition name="slide-left">
          <ul
            v-show="menu"
            :class="{'sidebar-nav-search-menu': showSearchPage}"
            class="sidebar-nav">
            <li
              v-for="(menu, index) in menusItems"
              :key="'nested' + index"
              class="menus-list">
              <j-nested-menu :menu="menu"/>
            </li>
          </ul>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-unresolved,vue/require-default-prop,max-len */
/* eslint linebreak-style: ["error", "windows"] */
import { mapState, mapMutations, mapActions } from 'vuex';
import jNestedMenu from './jNestedMenu';

export default {
  name: 'JSidebar',
  components: {
    jNestedMenu,
  },
  props: {
    menusItems: Array,
    showSearchPage: Boolean,
  },
  /**
     * menu: is menu displayed?
     * menuProduct: is menuProduct displayed?
     * @returns {{menu: boolean, menuProduct: boolean}}
     */
  data() {
    return {
      menu: true,
      menuProduct: false,
      menus: [],
      search: null,
    };
  },
  /**
     * getJojoLeftIcon: determine close or bar icon
     * nestedMenus: get nestedMenus objects
     * nonNestedMenus: get nonNestedMenus objects
     */
  computed: {
    ...mapState('jStoreSetting', ['search_suggestion']),

    getJojoLeftIcon() {
      if (this.menuProduct) return 'fa fa-close icon--bold';
      return 'fa fa-bars icon--bold';
    },
  },
  watch: {
    menusItems(val) {
      if (this.search) {
        this.menus = val;
      }
    },
    search(val) {
      this.setSearchQuery(val);
      if (!val || val.length <= 2) {
        this.toggleSearchSuggestion(false);
      }
    },
    $route() {
      // Close search suggestion if route change
      this.toggleSearchSuggestion(false);
      this.search = null;
    },
  },
  /**
   * toggleShow: toggle menu products or sidebar menus want to show
   */
  methods: {
    ...mapMutations('jStoreSetting', ['setSearchQuery', 'setFocusIn']),
    ...mapActions('jStoreSetting', ['toggleSearchSuggestion']),

    toggleShow() {
      this.menu = !this.menu;
      this.menuProduct = !this.menuProduct;
    },

    filterPage() {
      if (this.search && this.search.length > 2) {
        this.menus = [];
        this.menusItems.forEach((e) => {
          const dataMenu = {};
          if (e.parent.name.toUpperCase().includes(this.search.toUpperCase())) {
            dataMenu.parent = e.parent;
            if (e.child) {
              dataMenu.child = e.child;
            }
          }
          if (e.child) {
            const findChild = e.child.filter(f => f.name.toUpperCase().includes(this.search.toUpperCase()));
            if (findChild.length > 0) {
              dataMenu.parent = e.parent;
              dataMenu.child = findChild;
            }
          }
          if (dataMenu.child) {
            dataMenu.child = dataMenu.child.filter(item => item.name);
          }
          if (Object.keys(dataMenu).length > 0) {
            this.menus.push(dataMenu);
          }
        });
        this.$emit('getSuggestions', this.menus);
      }
    },

    openSuggestion() {
      if (this.search && this.search.length > 2) {
        this.toggleSearchSuggestion(true);
        this.setFocusIn(true);
      }
    },
  },
};
</script>
