<template>
  <div>
    <v-server-table
      ref="tableTermination"
      :columns="columns"
      :options="options"
      class="jTable"
      @loaded="loaded">
      <div
        slot="id"
        slot-scope="props"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selectedRows">
            <b-form-checkbox
              :value="props.row"
              :disabled="isDisabled(props.row.state)"
              @change="changeState(props.row)"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>
    </v-server-table>
  </div>
</template>

<script>
import jApiEmployee from '@/services/jApiEmployee';

export default {
  name: 'JOnBoardingTerminationTermination',
  data() {
    return {
      selectedRows: [],

      columns: ['id', 'name', 'facility_type', 'description'],
      options: {
        headings: {
          name: 'NAME',
          id: 'ID',
          facility_type: 'FACILITY NAME',
          description: 'DESCRIPTION',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['name'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const { id: employeeId } = this.$route.params;
          const { limit, page, column, ascending } = data.pagination;

          return jApiEmployee
            .getUsedFacilitiesOnBoarding(employeeId, limit, page, column, ascending);
        },
        responseAdapter({ data }) {
          return {
            data: data.data,
            count: data.length,
          };
        },
      },
    };
  },
  methods: {
    changeState(data) {
      const { id: employeeId } = this.$route.params;
      const { id: facilityId } = data;

      const RECEIVED_STATE = {
        state: 'returned',
      };

      jApiEmployee.putFacilitiesOnBoarding(employeeId, facilityId, RECEIVED_STATE).then(() => {
        this.$refs.tableTermination.refresh();
      });
    },
    loaded() {
      const { id: employeeId } = this.$route.params;
      this.setSelectedRows(employeeId);
    },
    isDisabled(state) {
      return state === 'ready' || state === 'returned';
    },
    setSelectedRows(employeeId) {
      jApiEmployee
        .getUsedFacilitiesOnBoarding(employeeId).then((res) => {
          const { data } = res.data;
          const returnedFacilities = this.filterReturnedFacilities(data);
          returnedFacilities.forEach((facility) => {
            this.selectedRows.push(facility);
          });
        });
    },
    filterReturnedFacilities(facilities) {
      const isReturned = (facility) => {
        const { state } = facility;
        return state === 'returned';
      };
      return facilities.filter(isReturned);
    },
  },
};
</script>

<style lang="scss">

</style>
