<template>
  <div>
    <j-floating-prompt
      ref="floating">
      <h2>{{ numbersOfSelectedItem }} Selected</h2>
      <b-button
        class="btn blue"
        style="float:right"
        @click="updateReadyToReceived"> Submit </b-button>
    </j-floating-prompt>
    <v-server-table
      ref="tableAvailable"
      :columns="columns"
      :options="options"
      class="jTable">
      <div
        slot="id"
        slot-scope="props"
        class="jTableReport"
        @click="showFloatingPrompt()">
        <b-form-group>
          <b-form-checkbox-group v-model="selectedRows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>
    </v-server-table>
  </div>
</template>

<script>
import jApiEmployee from '@/services/jApiEmployee';

export default {
  name: 'JOnBoardingTerminationAvailable',
  data() {
    return {
      selectedRows: [],

      columns: ['id', 'name', 'facility_type', 'description'],
      options: {
        headings: {
          name: 'NAME',
          id: 'ID',
          facility_type: 'FACILITY NAME',
          description: 'DESCRIPTION',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['name'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const { id: employeeId } = this.$route.params;
          const { limit, page, column, ascending } = data.pagination;

          return jApiEmployee
            .getAllUsedFacilitiesOnboarding(employeeId, limit, page, column, ascending);
        },
        responseAdapter({ data }) {
          return {
            data: data.data,
            count: data.length,
          };
        },
      },
    };
  },
  computed: {
    numbersOfSelectedItem() {
      return this.selectedRows.length;
    },
  },
  methods: {
    showFloatingPrompt() {
      this.$refs.floating.show();
    },
    hideFloatingPrompt() {
      this.$refs.floating.hide();
    },
    updateReadyToReceived() {
      const facilitiesObj = {
        facilities: [],
      };
      const { id: employeeId } = this.$route.params;

      this.selectedRows.map(item => facilitiesObj.facilities.push(item.id));

      jApiEmployee.createFacilitiesOnBoarding(employeeId, facilitiesObj).then(() => {
        this.selectedRows = [];
        this.hideFloatingPrompt();
        this.$emit('availableUpdated');
      });
    },
  },
};
</script>

<style lang="scss">

</style>
