<template>
  <div>
    <b-row>
      <b-col cols="9">
        <j-summary
          :data-summary="data_summary"
          class="summary-employee" />
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <j-on-boarding-termination-available
          v-if="showAvailable"
          @availableUpdated="updateAmounts"
        />
        <j-on-boarding-termination-on-boarding
          v-if="showOnBoard"
        />
        <j-on-boarding-termination-termination
          v-if="showTermination"
        />
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable max-len */
import jApiEmployee from '@/services/jApiEmployee';
import jOnBoardingTerminationAvailable from './jOnBoardingTerminationAvailable';
import jOnBoardingTerminationOnBoarding from './jOnBoardingTerminationOnBoarding';
import jOnBoardingTerminationTermination from './jOnBoardingTerminationTermination';

export default {
  name: 'JOnBoardingTermination',
  components: {
    jOnBoardingTerminationAvailable,
    jOnBoardingTerminationOnBoarding,
    jOnBoardingTerminationTermination,
  },
  data() {
    return {
      showAvailable: true,
      showOnBoard: false,
      showTermination: false,

      listAvailable: [],

      data_summary: [
        {
          status: 'Available ',
          amounts: 0,
          isStart: true,
          isEnd: false,
          color: 'yellow',
          active: true,
          href: `/employee/onboarding-termination/Available/${this.$route.params.id}`,
        },
        {
          status: 'Onboarding',
          amounts: 0,
          isStart: false,
          isEnd: true,
          color: 'blue',
          active: false,
          href: `/employee/onboarding-termination/Onboarding/${this.$route.params.id}`,
        },
        {
          status: 'Termination',
          amounts: 0,
          isStart: true,
          isEnd: true,
          color: 'red',
          active: false,
          href: `/employee/onboarding-termination/Termination/${this.$route.params.id}`,
        },
      ],
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    '$route.params': function (newStatus) {
      const dataNew = this.findId(newStatus.status);
      if (dataNew === undefined) {
        this.showOnBoard = false;
        this.showAvailable = true;
        this.showTermination = false;
        this.data_summary[0].active = true;
        this.data_summary[1].active = false;
        this.data_summary[2].active = false;
      } else if (dataNew.status === 'Onboarding') {
        this.data_summary[0].active = false;
        this.data_summary[1].active = true;
        this.data_summary[2].active = false;
        this.showOnBoard = true;
        this.showAvailable = false;
        this.showTermination = false;
      } else if (dataNew.status === 'Termination') {
        this.data_summary[0].active = false;
        this.data_summary[1].active = false;
        this.data_summary[2].active = true;
        this.showOnBoard = false;
        this.showAvailable = false;
        this.showTermination = true;
      } else if (dataNew.status === 'Available') {
        this.showOnBoard = false;
        this.showAvailable = true;
        this.showTermination = false;
      }
    },
  },
  created() {
    this.updateAmounts();
  },
  methods: {
    findId(obj) {
      return this.data_summary.find(item => item.status === obj);
    },
    setDataSummaryAmount(id, amount) {
      this.data_summary[id].amounts = amount;
    },
    updateAmounts() {
      const { id: employeeId } = this.$route.params;

      this.updateAvailableAmounts(employeeId);
      this.updateOnBoardingAmounts(employeeId);
      this.updateTerminationAmounts(employeeId);
    },
    updateAvailableAmounts(employeeId) {
      jApiEmployee.getAllUsedFacilitiesOnboarding(employeeId).then((res) => {
        const { data } = res.data;
        this.setDataSummaryAmount(0, data.length);
      });
    },
    updateOnBoardingAmounts(employeeId) {
      jApiEmployee.getUsedFacilitiesOnBoarding(employeeId).then((res) => {
        const { data } = res.data;
        this.setDataSummaryAmount(1, data.length);
      });
    },
    updateTerminationAmounts(employeeId) {
      jApiEmployee.getUsedFacilitiesOnBoarding(employeeId).then((res) => {
        const { data } = res.data;
        this.setDataSummaryAmount(2, data.length);
      });
    },
  },
};
</script>

<style lang="scss">
  #comp-onboarding-termination > div > div:nth-child(2) > div > div > div.jTable.VueTables.VueTables--server > div:nth-child(1) > div > div.form-group.form-inline.pull-left.VueTables__search {
    display: none;
  }
</style>
