<!-- eslint-disable max-len -->
<template>
  <div class="summary-list-detail">
    <v-client-table
      :data="data"
      :columns="columns"
      :options="options"
      class="jTable">

      <div
        slot="checkbox_init"
        slot-scope="props"
        style="width: 20px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        v-for="(i, index) in tableColumns"
        slot-scope="props"
        :key="index"
        :slot="i.key"
        :style="`text-align: ${i.content_alignment || 'left'}`">
        <div v-if="cekTypeData(i.key) === 'text'">
          <div
            v-if="i.type === 'attachment' && props.row[i.key]"
            style="width: max-content">
            <j-attachment-type-column :file-url="props.row[i.key]" />
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div v-if="cekTypeData(i.key) === 'boolean'">
          {{ props.row[i.key] ? 'TRUE' : 'FALSE' }}
        </div>
        <div v-if="cekTypeData(i.key) === 'number'">
          <j-currency
            v-if="i.type === 'currency' && (props.row[i.key] || props.row[i.key] === 0)"
            :value="props.row[i.key]"
            :options="currencyOptions"/>
          <div
            v-else-if="i.type === 'person' && props.row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person']"
            class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key === 'created_by' ||
                i.key === 'created_person' ? 'created_person' : 'updated_person'].photo"
                :src="props.row[i.key === 'created_by' ||
                i.key === 'created_person' ? 'created_person' : 'updated_person'].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="required('@/assets/logo/user1.png')"
                rounded="cicle"
                alt="img"
                class="m-1 round-bordered-img img-circle staff-img image-popup-link b-page-theme td" />
            </div>
            <div class="td p__t--7">
              <div>
                {{ props.row[i.key === 'created_by' ||
                i.key === 'created_person' ? 'created_person' : 'updated_person'].email }}
              </div>
              <div>
                {{ props.row[i.key === 'created_by' ||
                i.key === 'created_person' ? 'created_person' : 'updated_person'].first_name }} {{ props.row[i.key === 'created_by' || i.key === 'created_person' ? 'created_person' : 'updated_person'].last_name }}
              </div>
            </div>
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]">{{ props.row[i.key].address }}</div>
        <div v-if="cekTypeData(i.key) === 'object' && i.type === 'currency_selection' && isServerTable">
          <j-currency
            v-if="props.row[i.key] && (props.row[i.key].origin_amount || props.row[i.key].origin_amount === 0)"
            :options="setCurrencySelectionOptions(props.row[i.key].target_currency)"
            :value="props.row[i.key].origin_amount"/>
        </div>
        <div v-if="cekTypeData(i.key) === 'object' && i.type === 'currency_selection' && !isServerTable">
          <j-currency
            v-if="props.row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`] &&
              (props.row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].origin_amount ||
            props.row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].origin_amount === 0)"
            :options="setCurrencySelectionOptions(props.row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__ori`].target_currency)"
            :value="props.row[`${i.key.includes('__duplicate') ? i.key.replace('__duplicate', '') : i.key}__edit`]"/>
        </div>
        <div v-if="cekTypeData(i.key) === 'object' && i.type !== 'currency_selection' && (props.row[i.key] || props.row[i.key] === 0)">{{ props.row[i.key] }}</div>
        <div v-if="cekTypeData(i.key) === '[]object'">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags">{{ props.row[i.key].name }}</div>
        <div v-if="cekTypeData(i.key) === '[]tags'">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
        <div v-if="cekTypeData(i.key) === 'timestamp'">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue">
                <img
                  :src="require('@/assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey">
                <img
                  :src="require('@/assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky">
                <img
                  :src="require('@/assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('@/assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red">
                <img
                  :src="require('@/assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div v-if="cekTypeData(i.key) === 'person' && props.row[i.key]">
          <div class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('@/assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
        <div v-if="cekTypeData(i.key) === '[]attachment'">
          <div
            style="width: max-content">
            <template v-for="(file, index) in props.row[i.key]">
              <j-attachment-type-column
                v-if="file.url"
                :key="`${i.key}-${index}`"
                :file-url="file.url"
                :file-name="file.name" />
            </template>
          </div>
        </div>
        <div
          v-if="i.type === 'action_button' && i.config && i.config.action_buttons_full"
          class="d-flex">
          <div
            v-for="(item, index) in i.config.action_buttons_full"
            v-show="setVisibilityActionButtonTable(item, props.row)"
            :key="index"
            class="m__r--5 m__b--5">
            <b-button
              :style="{ backgroundColor: item.background_color, color: item.font_color }"
              class="btn btn-action-on-table"
              @click="confirmActionButtonTable(item, props.row, true, 'table_view')">
              {{ item.label }}
            </b-button>
          </div>
        </div>
      </div>
    </v-client-table>
  </div>
</template>

<script>
import jAttachmentTypeColumn from '@/components/attachment-column/jAttachmentTypeColumn';
import jMixActionButton from '@/mixins/jMixActionButton';
import currency from '@/assets/file/currency.json';

export default {
  components: {
    jAttachmentTypeColumn,
  },
  mixins: [jMixActionButton],
  props: {
    formData: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Array,
      default: () => [],
    },
    tableColumns: {
      type: Array,
      default: () => [],
    },
    isServerTable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      columns: [],
      options: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        debounce: 1000,
        filterable: true,
        perPage: 5,
        perPageValues: [],
      },
      selected_rows: [],
      typesNotSupportSort: ['[]text', '[]number', '[]attachment', '[]object', '[]tags', 'custom_class', 'timer', 'maps'],
      currencyOptions: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        currencySymbol: 'Rp',
        currencySymbolPlacement: 'p',
        roundingMethod: 'U',
        minimumValue: '-999999999999999.99',
        maximumValue: '999999999999999',
        negativePositiveSignPlacement: 'r',
        negativeBracketsTypeOnBlur: '(,)',
      },
    };
  },
  watch: {
    selected_rows(val) {
      this.$emit('update', val);
    },
  },
  created() {
    if (this.tableColumns) {
      this.setInitialHeader();
      this.selected_rows = this.data;
    }
  },
  methods: {
    convertTime(data) {
      if (data) {
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    convertTimestamp(data) {
      if (data) {
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    cekTypeData(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (dataKey === '') { return ''; }
      if (dataKey === null) { return ''; }

      const findType = this.formData.columns[dataKey];
      return findType ? findType.type : '';
    },

    checkbox_init(h, objThis) {
      const thisParams = objThis;

      function checkedAll() {
        thisParams.selected_rows = thisParams.data;
      }

      function unCheckedAll() {
        thisParams.selected_rows = [];
      }

      if (thisParams.selected_rows.length === thisParams.data.length) {
        return (
          <i
            id= 'select-all-unchecked'
            class= 'fa fa-check-square i--center-block pointer--cursor'
            style= {{ display: 'block', fontSize: '20px' }}
            onClick= { unCheckedAll }>
          </i>
        );
      }
      return (
        <i
          id= 'select-all-unchecked'
          class= 'fa fa-square-o i--center-block pointer--cursor'
          style= {{ display: 'block', fontSize: '20px' }}
          onClick= { checkedAll }>
        </i>
      );
    },

    setInitialHeader() {
      this.options.headings = {
        checkbox_init(h) {
          const objThis = this;
          return this.checkbox_init(h, objThis);
        },
      };

      const dataColumn = [
        {
          name: 'checkbox_init',
          key: 'checkbox_init',
        },
      ];

      this.tableColumns.forEach((val) => {
        if (val.key in this.options.headings) {
          dataColumn.push({ key: `${val.key}__duplicate`, name: `${val.key}__duplicate` });
          this.options.headings[`${val.key}__duplicate`] = val.name.toUpperCase();
        } else {
          dataColumn.push(val);
          this.options.headings[`${val.key}`] = val.name.toUpperCase();
        }

        const isFound = this.typesNotSupportSort.includes(item => item === val.type);
        if (val.sort && !isFound) {
          this.options.sortable.push(val.key);
        }
      });

      this.columns = dataColumn.map(i => i.key);
      this.loadTable = true;
    },

    setCurrencySelectionOptions(column) {
      const options = Object.assign({}, this.currencyOptions);
      options.currencySymbol = column && currency[column] ? currency[column].symbol : 'Rp';
      return options;
    },
  },
};
</script>

<style lang="scss" scoped>
.summary-list-detail {
  margin-top: 51px;
  padding: 20px 12px;
  border: 1px solid #F1F1F1;
  border-radius: 7px;
  height: 69vh;
  overflow-x: hidden;

  .jTable {
    .shape-blue,
    .shape-grey,
    .shape-blue-sky,
    .shape-red {
      cursor: not-allowed;
    }
  }
}
</style>
