<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form-group>
          <label>Main Business Line</label>
          <j-input
            v-model="line.main"
            placeholder="Main Business Line"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form-group>
          <label>Sub Business Line</label>
          <j-input
            v-model="line.sub"
            placeholder="Sub Business Line"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form-group>
          <label>Co-Manager 1</label>
          <j-input
            v-model="line.co_manager1"
            placeholder="Co-Manager 1"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form-group>
          <label>Co-Manager 2</label>
          <j-input
            v-model="line.co_manager2"
            placeholder="Co-Manager 2"/>
        </b-form-group>
      </b-col>
      <b-col
        md="12"
        class="float-to-right">
        <!-- <b-button
          v-if="update"
          class="btn m__b--20"
          @click="removeLine">
          Remove
        </b-button> -->
        <b-button
          class="btn blue m__b--20 m__l--20"
          @click="submitBusinessLine">
          Update
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jApiEmployee from '@/services/jApiEmployee';

export default {
  components: {
  },
  data() {
    return {
      line: {
        id: null,
        main: null,
        sub: null,
        co_manager1: null,
        co_manager2: null,
      },
      update: false,
      show_loading: false,
    };
  },
  computed: {
    ...mapState('jStorePayrollInfo', ['update_availability']),

  },
  created() {
    this.update = false;
    const id = Number(this.$route.params.id);
    jApiEmployee.getBusinessLines(id)
      .then((res) => {
        if (res.data.data !== null) {
          const data = {
            id: res.data.data.id,
            main: res.data.data.main,
            sub: res.data.data.sub,
            co_manager1: res.data.data.co_managers[0].name,
            co_manager2: res.data.data.co_managers[1].name,
          };
          this.line = data;
          this.update = true;
        }
      });
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability']),
    async submitBusinessLine() {
      const availability = await this.actionCheckAvailability({
        user_company_id: Number(this.$route.params.id),
      });
      if (availability) {
        this.show_loading = true;
        const id = Number(this.$route.params.id);
        const data = {
          main: this.line.main,
          sub: this.line.sub,
          co_managers: [
            {
              name: this.line.co_manager1,
            },
            {
              name: this.line.co_manager2,
            },
          ],
        };
        if (!this.update) {
          jApiEmployee.createBusinessLine(id, data)
            .then((res) => {
              this.line.id = res.data.data[0].id;
              if (!this.update) {
                this.update = true;
              }
              this.show_loading = false;
              this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.messages);
            });
        } else {
          jApiEmployee.updateBusinessLine(id, this.line.id, data)
            .then((res) => {
              this.show_loading = false;
              this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.messages);
            });
        }
      }
    },
    removeLine() {
      this.show_loading = true;
      const id = Number(this.$route.params.id);
      jApiEmployee.deleteBusinessLine(id, this.line.id)
        .then(() => {
          this.update = false;
          this.show_loading = false;
          this.line = {
            id: null,
            main: null,
            sub: null,
            co_manager1: null,
            co_manager2: null,
          };
        });
    },
  },
};
</script>
