<template>
  <div>
    <div v-show="rule_data.length < 1">
      <b-button
        class="btn btn-import-oos m__r--5"
        @click="exportRule">
        <i class="fa fa-cloud-download fa-lg"/> Generate xls
      </b-button>
    </div>

    <div v-show="rule_data.length > 1">
      <download-excel
        :data="rule_data"
        name="rule-Data.xls">
        <b-button
          ref="exportRule"
          class="btn green">
          Export Rules
        </b-button>
      </download-excel>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      rule_data: [],
      page: 1,
    };
  },

  computed: {
    ...mapState('jRules', ['all_rule_list', 'total_length_rule']),
  },

  watch: {
    all_rule_list(Val) {
      this.page += 1;
      const sortData = Val.map((newVal) => {
        const flows = newVal.flows.map(memData => memData.name);
        const datarule = {
          RULE_ID: newVal.id,
          NAME: newVal.name,
          SET_OF_FLOW: flows,
          CREATED_DATE: newVal.created_date,
          UPDATED_DATE: typeof newVal.updated_date !== 'undefined' ? newVal.updated_date : '',
          CREATED_BY: typeof newVal.created_by !== 'undefined' ? newVal.created_by.email : '',
          UPDATED_BY: typeof newVal.updated_by !== 'undefined' ? newVal.updated_by.email : '',
        };
        return datarule;
      });
      this.rule_data.push(...sortData);
      const requestAll = {
        pagination: {
          limit: 50,
          page: this.page,
          column: 'id',
          ascending: true,
          query: '',
        },
        export: 'yes',
      };
      if (this.rule_data.length < this.total_length_rule) {
        this.$store.dispatch('jRules/getAllRules', requestAll);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', 'Please wait...');
        this.$refs.exportRule.click();
        this.rule_data = [];
        this.page = 1;
      }
    },

  },

  methods: {
    exportRule() {
      const requestAll = {
        pagination: {
          limit: 50,
          page: 1,
          column: 'id',
          ascending: true,
          query: '',
        },
      };
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait...');
      this.$store.dispatch('jRules/getAllRules', requestAll);
    },
  },
};
</script>
