<template>
  <div
    id="rule-table"
    class="list-data-table">

    <div v-if="!load_first">
      <jLoadingTable/>
    </div>

    <div v-show="load_first">
      <v-server-table
        ref="rulesServer"
        :url="env"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="rowClick"
        @pagination="removeRowBackground">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn btn-import-oos m__r--5"
              @click="createRules">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <jExportRules />
            <b-button
              id="rule-table-search"
              class="btn btn-import-oos m__r--5">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
            <jImportRules @upload-done="refreshTable"/>
          </b-form>
        </div>

        <div
          slot="flow"
          slot-scope="props">
          <div
            v-for="(flow, index) in props.row.flows"
            :class="{'light-blue-flow' : index % 2 === 0}"
            :key="index"
            class="flow-table flow-arrow">
            <i
              v-if="index === 0"
              class="fa fa-square"/>
            {{ flow.name }}
          </div>
        </div>

        <div
          slot="created_date"
          slot-scope="props">
          {{ props.row.created_date | moment("DD/MM/YYYY") }}
        </div>
      </v-server-table>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="rule-table"
      target="rule-table-search"
      placement="right">
      <div class="text-center m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

    <jRulesFloatingPrompt
      v-if="rules"
      ref="rulesFloating"
      :rules="rules"
      :oos-route="oosRoute"
      class="rulesfloating"
      @hideFloatingPrompt="hideFloatingPrompt"
      @deleteRules="deleteRules"/>
  </div>
</template>

<script>
// import Vue from 'vue';
import { mapState, mapActions } from 'vuex';
import { jRules } from '@/mixins/components/jojoflow/jRules';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';
import jExportRules from './jExportRules';
import jImportRules from './jImportRules';
import jRulesFloatingPrompt from './jRulesFloatingPrompt';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
    jExportRules,
    jImportRules,
    jRulesFloatingPrompt,
  },
  mixins: [jRules],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      rules: null,
      popoverSearchShow: false,
      rowing: null,
      default_import: true,
      opsi: {
        icon: 'fa-user',
        main_title: 'RULES',
        opt_title: '',
      },
      data_import: null,
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['POSITION_ID_OWNER', 'RULES_NAME', 'FLOWS', 'ERROR'],
      option: {
        filterable: false,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
      },
    };
  },
  computed: {
    ...mapState('jFlows', ['flows_table', 'is_flow_deleted', 'manage_sla', 'manage_flow']),
    ...mapState('jRules', ['rules_table', 'is_rules_deleted']),
    url() {
      const getEnv = 'jojoflow/rule/import/single';
      return getEnv;
    },
    headers() {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
    rules_id() {
      if (this.rules) {
        return this.rules.id;
      }
      return null;
    },

    // eslint-disable-next-line
    'manage_sla.is_open': function() {
      this.hideFloatingPrompt();
    },
  },
  watch: {
    rowing(newData, oldData) {
      if (oldData) {
        this.removeRowClick(oldData);
      }
    },

    is_rules_deleted() {
      if (this.is_rules_deleted) {
        this.refreshTable();
        this.$store.commit('jRules/rulesDeleted');
      }
    },

    // eslint-disable-next-line
    'manage_flow.data': function(newData) {
      if (newData !== null) {
        this.flowRowClick(newData);
      } else {
        this.flow = null;
      }
    },
  },
  methods: {
    ...mapActions('jFlows', ['removeFlow', 'getListFlow']),
    ...mapActions('jRules', ['removeRules', 'getListRules']),

    createRules() {
      this.$router.push(`${this.oosRoute}/rules/new`);
    },
    rowClick(data) {
      const elem = document.getElementsByClassName(`row-${data.row.id}`);
      elem[0].setAttribute('style', 'background-color: #b3e8f8;');
      this.rowing = data.row.id;
      this.rules = data.row;
      this.$store.commit('jFlows/setOpenRule');
    },
    removeRowClick(data) {
      if (this.rowing) {
        const elem = document.getElementsByClassName(`row-${data}`);
        if (elem.length === 1) {
          elem[0].setAttribute('style', 'background-color: none;');
        }
      }
    },
    removeRowBackground() {
      if (this.rowing) {
        const elem = document.getElementsByClassName(`row-${this.rowing}`);
        if (elem.length === 1) {
          elem[0].setAttribute('style', 'background-color: none;');
        }
      }
      this.rowing = null;
      this.hideFloatingPrompt();
    },

    refreshTable() {
      this.$refs.rulesServer.getData();
    },

    hideFloatingPrompt() {
      if (this.rules_id) {
        this.removeRowClick(this.rules_id);
        setTimeout(() => {
          this.rules = null;
        }, 200);
      }
      setTimeout(() => {
        this.rules = null;
      }, 200);
    },

    deleteRules() {
      const deleteRules = {
        id: this.rules_id,
      };
      this.removeRules(deleteRules);
      this.hideFloatingPrompt();
    },
  },
};
</script>

