<template>
  <div class="m__b--100">
    <br>
    <!-- <j-title-header :options="title"/> -->
    <b-row>
      <b-col cols="6">
        <j-summary :data-summary="data_summary"/>
      </b-col>
    </b-row>

    <br>
    <div class="float-to-left">
      <b-button
        class="btn blue"
        head
        @click="checkAttendance">
        <i class="fa fa-plus"/>
        Create Timesheet
      </b-button>
    </div>
    <hr>
    <j-timesheet-claimer-table
      :oos-route="oosRoute"
      status-timesheet="sent"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jTimesheetClaimerTable from './table/jTimesheetClaimerTable';

export default {
  name: 'jTimesheetSentList',
  components: {
    jTimesheetClaimerTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    isAutoApprove: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Timesheet Request: Sent',
      },
      data_summary: [
        {
          id: 'draft',
          status: 'Draft',
          amounts: 0,
          isStart: true,
          isEnd: false,
          color: 'tosca',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/claimer/draft` : '/timesheet/claimer/draft',
        },
        {
          id: 'sent',
          status: 'Sent',
          amounts: 0,
          isStart: false,
          isEnd: false,
          color: 'orange',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/claimer/sent` : '/timesheet/claimer/sent',
        },
        {
          id: 'approved',
          status: 'Approved',
          amounts: 0,
          isStart: false,
          isEnd: true,
          color: 'blue',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/timesheet/claimer/reported` : '/timesheet/claimer/reported',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreTimesheetClaimerList', ['summary_block']),
    ...mapState('jStoreLogin', ['attendanceStatus']),
  },
  watch: {
    $route() {
      if (this.summary_block !== '') {
        this.data_summary = this.data_summary.map(e => ({
          ...e,
          amounts: (this.summary_block.some(f => f.status === e.id)).count,
        }));
      }
    },
  },
  created() {
    if (this.isAutoApprove) {
      this.data_summary.splice(1, 1);
    }

    this.getSummaryBlock().then(() => {
      if (this.summary_block !== '') {
        this.data_summary = this.data_summary.map(e => ({
          ...e,
          amounts: (this.summary_block.find(f => f.status === e.id)).count,
        }));
      }
    },
    );
  },
  methods: {
    ...mapActions('jStoreTimesheetClaimerList', ['getSummaryBlock']),
    checkAttendance() {
      if (this.attendanceStatus) {
        this.$router.push('/timesheet/claimer/create/');
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'You have to do the attendance first before do your timesheet');
      }
    },
  },
};
</script>
