<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="assignmentServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">

        <!-- <div
          slot="beforeFilter"
          class="custom-search">
          <b-row>
            <b-col
              cols="3"
              class="option">
              <j-select
                v-model="select_type"
                :disabled="false"
                :options="options_search"/>
            </b-col>
            <b-col
              cols="5"
              class="p__l--3">
              <b-form
                class="search-advance"
                @keypress.13.prevent="filter(filter_data)">
                <b-form-group>
                  <j-input
                    v-model="filter_data"
                    placeholder="Search"/>
                </b-form-group>
              </b-form>
            </b-col>
            <b-col
              cols="4"
              class="option p__l--7">
              <b-button
                class="btn blue outline show-btn"
                @click="filter(filter_data)"> <i class="fa fa-search bold" />
                Search
              </b-button>
            </b-col>
          </b-row>
        </div> -->

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form
            inline
            @keypress.13.prevent="filter(filter_data)">
            <j-select
              v-model="select_type"
              :disabled="false"
              :options="options_search"
              class="m__r--5"/>
            <j-input
              v-model="filter_data"
              placeholder="Search"
              class="m__r--5"/>
            <b-button
              class="btn blue outline"
              @click="filter(filter_data)">
              <i class="fa fa-search bold" /> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="organigram_name"
          slot-scope="props"
          @click="generateUrlEdit(props.row.organigram_id)">
          {{ props.row.organigram_name }}
        </div>

        <div
          slot="projects"
          slot-scope="props"
          @click="generateUrlEdit(props.row.organigram_id)">
          <div v-html="generateHtmlProjects(props.row.projects)"/>
        </div>

        <div
          slot="updated_date"
          slot-scope="props"
          @click="generateUrlEdit(props.row.organigram_id)">
          {{ props.row.updated_date | moment("DD MMM, YYYY hh:mm:ss") }}
        </div>

        <div
          slot="created_date"
          slot-scope="props"
          @click="generateUrlEdit(props.row.organigram_id)">
          {{ props.row.created_date | moment("DD MMM, YYYY hh:mm:ss") }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>

    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiTimesheetConfigTaskAssignment from '@/services/timesheet/config/jApiTimesheetConfigTaskAssignment';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      select_type: 'position',
      options_search: [
        {
          text: 'POSITION',
          value: 'position',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['organigram_name', 'projects', 'created_date', 'updated_date'],
      options: {
        headings: {
          organigram_name: 'POSITION',
          projects: 'PROJECT',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['organigram_name', 'created_date', 'updated_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'updated_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiTimesheetConfigTaskAssignment.getAssignmentList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.assignmentServer.setFilter('');
      }
    },

    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    generateHtmlProjects(data) {
      const text = [];
      // eslint-disable-next-line
      for (const i in data) {
        text.push(`<b>${i}</b> (${data[i].join(', ')})`);
      }
      return text.join(', ');
    },
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      const a = val;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.assignmentServer.getData();
    },

    filter(val) {
      this.$refs.assignmentServer.setFilter(val);
    },
    generateUrlEdit(id) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/timesheet/assignment/edit/${id}`);
      } else {
        this.$router.push(`/timesheet/assignment/edit/${id}`);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0
  }

</style>
