<template>
  <div>
    <j-title-header :options="title"/>

    <j-task-assignment-form
      ref="form"
      :list-position="position_list"
      :list-division="division_list"
      :list-task="task_list"
      :list-project="project_list"
      mode="create"
      @data="getData"/>

    <div class="float-to-left m__t--50">
      <b-button
        class="btn blue m__r--15"
        @click="saveTaskAssignment">Submit</b-button>
      <b-button
        class="btn grey"
        @click="$router.go(-1)">
        <!-- @click="$router.replace('/timesheet/assignment/list')"> -->
        Cancel
      </b-button>
    </div>
    <br>

    <div
      v-if="isVisible"
      class="jProgressScreen">
      <div
        id="progress-screen"
        class="notification-screen">
        <div class="floating-container">
          <span>
            <i class="fa fa-check-circle"/>
          </span>
          <h1 id="progress-screen-data">Processing {{ retrievedData.length }}/{{ max }}</h1>
          <b-progress
            :max="max"
            class="mb-3">
            <b-progress-bar
              :value="numOfFailed"
              variant="danger"/>
            <b-progress-bar
              :value="numOfSuccess"
              variant="success"/>
          </b-progress>
          <div id="progress-screen-message">
            <span class="span__success--green">{{ numOfSuccess }} data success</span>
            <br>
            <span class="span_failed--red">{{ numOfFailed }} data failed</span>
            <div
              v-if="getErrorDatas.length > 0"
              id="progress-message-container">
              <p>Problem Message:</p>
              <div id="box">
                <p
                  v-for="(errorData, index) in getErrorDatas"
                  :key="index">
                  - Data {{ errorData.index }}: {{ errorData.message }}.
                </p>
              </div>
            </div>
          </div>
          <br>
          <b-button
            v-if="finish"
            id="progress-screen-finish"
            variant="success"
            @click="toggleIsVisible">
            Finish
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import axios from 'axios';
import jTaskAssignmentForm from './jTaskAssignmentForm';

export default {
  components: {
    jTaskAssignmentForm,
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Create Task Assignment',
      },
      task_assignment: null,
      events: [],
      taskAssigns: null,

      numOfFailed: 0,
      numOfSuccess: 0,
      max: 0,
      retrievedData: [],
      isVisible: false,
      finish: false,
    };
  },
  computed: {
    ...mapState('jStoreTimesheetConfigTaskAssignment', ['position_list', 'division_list', 'task_list', 'project_list']),

    getErrorDatas() {
      return this.retrievedData.filter((data, index) => {
        if (data.error === true) {
          const datas = data;
          datas.index = index + 1;
          if (datas.errors) {
            if (datas.errors.length > 0) {
              const errorMessages = [];
              data.errors.forEach((error) => {
                errorMessages.push(error.message);
              });
              datas.message = errorMessages.join(', ');
            }
          }
          return datas;
        }
        return '';
      });
    },

    headers() {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      return {
        Authorization: `Bearer ${token}`,
      };
    },

    url() {
      return `${localStorage.getItem('gateUrl')}times/timesheet/config/task-assign/create`;
    },

    generateData() {
      if (this.task_assignment !== null) {
        const taskAssigns = this.generateDataAssign();
        const genDatas = [];

        taskAssigns.forEach((taskAssign) => {
          const genData = {
            task_assign: taskAssign,
          };
          genDatas.push(genData);
        });

        return genDatas;
      }
      return null;
    },
  },

  watch: {
    retrievedData() {
      this.numOfFailed = this.getErrorDatas.length;
      this.numOfSuccess = this.retrievedData.length - this.numOfFailed;
    },
  },

  async created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };

    await Promise.all([this.getListPosition(rootId), this.getListDivision(rootId)]).then(() => {
      this.getListProject(rootId);
    });
  },
  methods: {
    ...mapActions('jStoreTimesheetConfigTaskAssignment', ['getListPosition', 'getListDivision', 'getListProject', 'createTaskAssignment']),

    toggleIsVisible() {
      this.isVisible = !this.isVisible;
      if (this.isVisible === true) {
        this.process();
      } else {
        this.retrievedData = [];
        this.max = 0;

        this.hide();
      }
    },
    process() {
      this.finish = false;
      const shootTimes = this.taskAssigns.length;
      this.max = shootTimes;

      let api;
      if (this.headers !== null) {
        api = axios.create({
          headers: this.headers,
        });
      } else {
        this.$emit('api-axios', api);
      }

      const retrieveDataPromises = [];

      for (let i = 0; i < shootTimes; i += 1) {
        retrieveDataPromises.push(
          new Promise(((resolve, reject) => {
            api.post(this.url, this.taskAssigns[i])
              .then((response) => {
                const responses = response;
                const isData = responses.data ? responses.data : '';
                this.retrievedData.push(isData);
                resolve();
              })
              .catch((error) => {
                // handle error
                this.retrievedData.push(error.response.data);
                reject();
              });
          })),
        );
      }

      Promise.all(retrieveDataPromises).then(() => {
        this.finish = true;
      }).catch(() => {
        this.finish = true;
      });
    },

    saveTaskAssignment() {
      this.$refs.form.save();
      if (this.task_assignment !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.task_assignment = data.task_assign;
      this.events = data.event;
    },

    sendData() {
      this.taskAssigns = this.generateData;

      this.toggleIsVisible();
    },

    generateDataAssign() {
      const dataAssign = [];
      // problem when position from watch
      this.task_assignment.position.forEach((position) => {
        const dataAssignNest = [];
        this.events.forEach((event) => {
          if (event.event_id === 0) {
            const taskAssign = {
              id: 0,
              organigram_id: position.id ? position.id : 0,
              task_project_id: event.task_project_id,
              date: event.start,
              note: 'ABC',
            };
            dataAssignNest.push(taskAssign);
          }
        });
        dataAssign.push(dataAssignNest);
      });
      return dataAssign;
    },
  },
};
</script>
