<template>
  <div>
    <j-title-header :options="title"/>

    <j-task-assignment-form
      ref="form"
      :list-position="position_list"
      :list-division="division_list"
      :list-task="task_list"
      :list-project="project_list"
      :detail-assignment="assignment_data.detail_assignment"
      mode="edit"
      @data="getData"/>

    <div class="float-to-left m__t--50">
      <b-button
        class="btn blue m__r--15"
        @click="saveTaskAssignment">Update</b-button>
      <b-button
        class="btn grey"
        @click="$router.go(-1)">
        <!-- @click="$router.replace('/timesheet/assignment/list')"> -->
        Cancel
      </b-button>
    </div>
    <br>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jTaskAssignmentForm from './jTaskAssignmentForm';

export default {
  components: {
    jTaskAssignmentForm,
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Detail Task Assignment',
      },
      task_assignment: null,
      events: [],
    };
  },
  computed: {
    ...mapState('jStoreTimesheetConfigTaskAssignment', ['position_list', 'division_list', 'task_list', 'project_list', 'assignment_data', 'error_create']),

    generateData() {
      if (this.task_assignment !== null) {
        const genData = {
          task_assign: this.generateDataAssign(),
        };
        return genData;
      }
      return null;
    },
  },
  async created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };

    await Promise.all([this.getListPosition(rootId), this.getListDivision(rootId)]).then(() => {
      this.getAssignmentDetail({ organigram_id: Number((this.$route.params.id.split(','))[0]),
        start_date: this.$moment().startOf('month').format('YYYY-MM-DD'),
        end_date: this.$moment().endOf('month').format('YYYY-MM-DD') });
    });
    this.getListTask(rootId);
    this.getListProject(rootId);
  },
  methods: {
    ...mapActions('jStoreTimesheetConfigTaskAssignment', ['getListPosition', 'getListDivision', 'getListTask', 'getListProject', 'getAssignmentDetail', 'createTaskAssignment']),

    sendData() {
      this.createTaskAssignment(this.generateData).then((res) => {
        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        }
      });
    },

    generateDataAssign() {
      const dataAssign = [];
      this.events.forEach((a) => {
        if (a.event_id === 0) {
          const taskAssign = {
            id: 0,
            organigram_id: this.task_assignment.position[0].id ?
              this.task_assignment.position[0].id : 0,
            task_project_id: a.task_project_id,
            date: a.start,
            note: 'ABC',
          };
          dataAssign.push(taskAssign);
        }
      });
      return dataAssign;
    },

    saveTaskAssignment() {
      this.$refs.form.save();
      if (this.task_assignment !== null) {
        this.sendData();
      }
    },

    getData(data) {
      this.task_assignment = data.task_assign;
      this.events = data.event;
    },
  },
};
</script>
