<template>
  <div>
    <br>
    <div class="form float-to-right">
      <a
        v-b-toggle.task-setting
        class="task-setting"
      ><i class="fa fa-cogs" /></a>
    </div>
    <j-collapse
      id="task-setting"
      :visible="false">
      <b-card>
        <b-row>
          <b-col
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Use Attendance</label>
              <j-toggle
                v-model="$v.task_setting.use_attendance.$model"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Submit Periode</label>
              <j-toggle
                v-model="$v.task_setting.periode.$model"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Minimum Day Submit</label>
              <j-input
                v-model="$v.task_setting.minimum_day.$model"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            v-if="!task_setting.use_attendance"
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Maximum Day Submit</label>
              <j-input
                v-model="$v.task_setting.maximum_day.$model"
                type="number"/>
            </b-form-group>
          </b-col>
          <b-col
            md="3"
            sm="6"
            cols="12">
            <b-form-group>
              <label>Auto Approved</label>
              <j-toggle
                v-model="$v.task_setting.auto_approved.$model"
                off="off"
                on="on"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            md="12"
            sm="12"
            cols="12">
            <b-form-group>
              <div class="float-to-right">
                <b-button
                  class="btn blue"
                  @click="saveSetting">
                  Save
                </b-button>
              </div>
              <br>
            </b-form-group>
          </b-col>
        </b-row>
      </b-card>
      <br>
    </j-collapse>
    <div class="float-to-left">
      <b-button
        class="btn blue"
        @click="generateUrlCreate">
        Create Task Assignment
      </b-button>
    </div>
    <j-assignment-list
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import jAssignmentList from './jAssignmentList';
import { jPolicyServices } from '../policy/jPolicyServices';

export default {
  name: 'jTabCompAssignment',
  components: {
    jAssignmentList,
  },
  mixins: [
    jPolicyServices,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      task_setting: {
        id: 0,
        name: null,
        description: null,
        use_attendance: false,
        periode: false,
        minimum_day: 0,
        maximum_day: 0,
        auto_approved: true,
      },
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    'task_setting.use_attendance': function (newVal) {
      if (newVal) {
        this.task_setting.periode = false;
        this.task_setting.minimum_day = 0;
        this.task_setting.maximum_day = 0;
      }
    },
  },
  methods: {
    saveSetting() {
      this.sendDataSetting();
    },
    generateUrlCreate() {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/timesheet/assignment/create`);
      } else {
        this.$router.push('/timesheet/assignment/create');
      }
    },
  },
  validations() {
    return {
      task_setting: {
        use_attendance: {

        },
        periode: {

        },
        minimum_day: {

        },
        maximum_day: {

        },
        auto_approved: {

        },
      },
    };
  },
};
</script>
