<template>
  <div class="form">
    <b-row>
      <b-col
        md="6"
        sm="6"
        cols="12">
        <b-form-group :class="{'error-input' : $v.task_assignment.position.$error}">
          <b-row>
            <b-col cols="8">
              <label>Position</label>
            </b-col>
            <b-col
              class="text-right"
              cols="2">
              <label
                v-if="mode !== 'edit'"
                class="select-label"
                @click="selectAllPosition()">Select All</label>
            </b-col>
            <b-col
              class="text-right"
              cols="2">
              <label
                v-if="mode !== 'edit'"
                class="select-label"
                @click="unselectAllPosition()">Unselect All</label>
            </b-col>
          </b-row>
          <!-- FOKUS KE SINI -->
          <j-multi-select
            v-model="$v.task_assignment.position.$model"
            :options="list_position"
            :disabled="mode === 'edit'"
            placeholder="Select Position"
            value-format="object"
            label="name"/>
        </b-form-group>
      </b-col>
      <b-col
        md="6"
        sm="6"
        cols="12">
        <b-form-group :class="{'error-input' : $v.task_assignment.division.$error}">
          <b-row>
            <b-col cols="8">
              <label>Division</label>
            </b-col>
            <b-col
              class="text-right"
              cols="2">
              <label
                v-if="mode !== 'edit'"
                class="select-label"
                @click="selectAllDivision()">Select All</label>
            </b-col>
            <b-col
              class="text-right"
              cols="2">
              <label
                v-if="mode !== 'edit'"
                class="select-label"
                @click="unselectAllDivision()">Unselect All</label>
            </b-col>
          </b-row>
          <!-- FOKUS KE SINI -->
          <j-multi-select
            v-model="$v.task_assignment.division.$model"
            :options="list_division"
            :disabled="mode === 'edit'"
            placeholder="Select Division"
            value-format="object"
            label="name"
          />
        </b-form-group>
      </b-col>
    </b-row>

    <div class="jCalendar">
      <vue-cal
        :events="events"
        :disable-views="disableViews"
        :on-event-click="detailTask"
        default-view="month"
        events-on-month-view="short"
        class="vuecal--full-height-delete calendar-timesheet"
        @view-change="changeMonth"
        @cell-click="showModal"/>
    </div>

    <b-modal
      ref="myModalRef"
      class="mod-form"
      no-close-on-backdrop
      no-close-on-esc>
      <h3>{{ task_events.is_detail ? 'Edit Task' : 'Assign Task' }}</h3>
      <b-row>
        <b-col
          md="6"
          sm="6"
          cols="12">
          <b-form-group :class="{'error-input' : $v.task_events.start_date.$error}">
            <label>Start Date</label>
            <j-datepicker
              v-model="$v.task_events.start_date.$model"
              :disabled-dates="task_events.disableStartDate"
              :disabled="false"
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>
        <b-col
          md="6"
          sm="6"
          cols="12">
          <b-form-group :class="{'error-input' : $v.task_events.end_date.$error}">
            <label>End Date</label>
            <j-datepicker
              v-model="$v.task_events.end_date.$model"
              :disabled-dates="task_events.disableEndDate"
              :disabled="false"
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>

        <b-col
          md="12"
          sm="12"
          cols="12">
          <b-form-group :class="{'error-input' : $v.task_events.task.$error}">
            <label>Task</label>
            <j-multi-select
              ref="multiCheckSelect"
              v-model="$v.task_events.task.$model"
              :is-async="true"
              :load-options="loadOptionsTask"
              :default-data="default_data_task"
              :disabled="task_events.is_detail"
              placeholder="Select Task"
              value-format="object"
              label="name"/>
          </b-form-group>
        </b-col>
        <b-col
          md="12"
          sm="12"
          cols="12">
          <b-form-group :class="{'error-input' : $v.task_events.project.$error}">
            <label>Project</label>
            <j-multi-select
              ref="multiCheckSelect"
              v-model="$v.task_events.project.$model"
              :options="list_project"
              :default-data="default_data_project"
              :disabled="true"
              placeholder="Select Project"
              value-format="object"
              label="name"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <div class="col-6">
          <b-button
            v-if="task_events.is_detail"
            class="btn red float-left"
            @click="deleteEvent">
            Delete
          </b-button>
        </div>
        <div class="col-6">
          <b-button
            class="btn grey float-right"
            @click="closeEvent">
            Close
          </b-button>
          <b-button
            class="btn blue float-right"
            style="margin-right: 10px"
            @click="submitEvent">
            Add
          </b-button>
        </div>
      </b-row>

    </b-modal>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console */
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  components: {
    VueCal,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    listPosition: {
      type: Array,
      default: () => [],
    },
    listDivision: {
      type: Array,
      default: () => [],
    },
    listTask: {
      type: Array,
      default: () => [],
    },
    listProject: {
      type: Array,
      default: () => [],
    },
    detailAssignment: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      event_id: 0,
      list_position: [],
      list_division: [],
      list_project: [],
      list_task: [],
      task_assignment: {
        id: 0,
        position: [],
        division: [],
      },
      task_events: {
        id: 0,
        is_detail: false,
        task_click: false,
        start_date: null,
        end_date: null,
        task: [],
        project: [],
        disableStartDate: {
          color: '#E9ECEF',
          daysOfMonth: [],
          ranges: [],
        },
        disableEndDate: {
          color: '#E9ECEF',
          daysOfMonth: [],
          ranges: [],
        },
      },
      events: [],
      disableViews: ['years', 'year', 'weeks', 'week', 'days', 'day'],
      fileDataTask: [],
      fileDataProject: [],
      default_data_task: [],
      default_data_project: [],
    };
  },
  computed: {
    ...mapState('jStoreTimesheetConfigTaskAssignment', ['organigram_detail']),

    sort_form_data() {
      return {
        task_assign: this.task_assignment,
        event: this.events,
      };
    },
  },

  watch: {
    organigram_detail(val) {
      // only listening when mode edit
      if (this.mode === 'edit') {
        this.task_assignment.division = val.divisions;
      }
    },

    listPosition(val) {
      this.list_position = val;

      // only listening when mode edit
      if (this.mode === 'edit') {
        const positionDetail = val.filter(el => el.name === this.organigram_detail.name);
        this.task_assignment.position = positionDetail;
      }
    },
    listDivision(val) {
      this.list_division = val;
    },
    listTask(val) {
      this.list_task = val;
    },
    listProject(val) {
      this.list_project = val;
    },
    detailAssignment(val) {
      if (val.length > 0) {
        const eventArray = val.map(el => ({
          event_id: el.id,
          start: el.date,
          end: el.date,
          title: el.task_project.name,
          task_project_id: el.task_project_id,
          task: [el.task_project],
          project: [],
        }));

        this.events = eventArray;
      }
    },
    // eslint-disable-next-line func-names
    'task_events.start_date': function (val) {
      if (this.task_events.end_date < val) {
        this.task_events.end_date = val;
      }
      this.restrictDate(val);
    },
    // eslint-disable-next-line func-names
    'task_events.end_date': function (val) {
      if (this.task_events.start_date > val) {
        this.task_events.start_date = val;
      }
      this.restrictDate(val);
    },

    // eslint-disable-next-line func-names
    'task_events.task': function (newTasks, oldTasks) {
      if (newTasks.length > oldTasks.length) {
        const diff = newTasks.filter(x => !oldTasks.includes(x));

        diff.forEach((task) => {
          this.task_events.project.push({
            id: task.project_id,
            label: task.project_name,
          });
        });

        const uniqueTaskEventsProjects = [];
        const map = new Map();

        this.task_events.project.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskEventsProjects.push(item);
          }
        });

        this.task_events.project = uniqueTaskEventsProjects;
      }
      /* else {
        this.task_events.project = [];

        newTasks.forEach((task) => {
          this.task_events.project.push({
            id: task.project_id,
            label: task.project_name,
          });
        });

        const uniqueTaskEventsProjects = [];
        const map = new Map();

        this.task_events.project.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskEventsProjects.push(item);
          }
        });

        this.task_events.project = uniqueTaskEventsProjects;
      } */
    },
    // eslint-disable-next-line func-names
    'task_events.project': function (newProjects, oldProjects) {
      if (newProjects.length > oldProjects.length) {
        const diff = newProjects.filter(x => !oldProjects.includes(x));

        diff.forEach((project) => {
          this.task_events.task.forEach((task) => {
            if (task.project_id === project.id) {
              this.task_events.task.push(task);
            }
          });
        });

        const uniqueTaskEventsTasks = [];
        const map = new Map();

        this.task_events.task.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskEventsTasks.push(item);
          }
        });

        this.task_events.task = uniqueTaskEventsTasks;
      }
    },

    // Position changing will autofill division
    // eslint-disable-next-line func-names
    'task_assignment.position': function (newPositions, oldPositions) {
      // console.log(newPositions, oldPositions);
      if (newPositions.length > oldPositions.length && this.mode === 'create') {
        // console.log('posisi baru lebih banyak');

        // // Make new division array
        // const divisionArray = newPositions.map(position => (
        //   position.divisions[0].id
        // ));

        // // Filter array by array
        // const filteredArray = this.list_division.filter(el => divisionArray.includes(el.id));

        // console.log(filteredArray);
        // this.task_assignment.division = filteredArray;

        // CARA LAMA

        const diff = newPositions.filter(x => !oldPositions.includes(x));

        diff.forEach((position) => {
          position.divisions.forEach((division) => {
            this.task_assignment.division.push(division);
          });
        });

        const uniqueTaskAssignmentDivision = [];
        const map = new Map();

        this.task_assignment.division.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskAssignmentDivision.push(item);
          }
        });

        this.task_assignment.division = uniqueTaskAssignmentDivision;
      } else if (newPositions.length < oldPositions.length && this.mode === 'create') {
        // console.log('posisi baru lebih sedikit');


        // // Make new division array
        // const divisionArray = newPositions.map(position => (
        //   position.divisions[0].id
        // ));

        // // Filter array by array
        // const filteredArray = this.list_division.filter(el => divisionArray.includes(el.id));

        // console.log(filteredArray);
        // this.task_assignment.division = filteredArray;


        // // Make new organigram_id array
        // const orgIdArray = newPositions.map(division => (
        //   division.organigram_ids[0]
        // ));

        // console.log(orgIdArray);

        // CARA LAMA
        this.task_assignment.division = [];

        newPositions.forEach((position) => {
          position.divisions.forEach((division) => {
            this.task_assignment.division.push(division);
          });
        });

        const uniqueTaskAssignmentDivision = [];
        const map = new Map();

        this.task_assignment.division.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskAssignmentDivision.push(item);
          }
        });

        this.task_assignment.division = uniqueTaskAssignmentDivision;
      }
    },

    // Division changing will autofill position
    // eslint-disable-next-line func-names
    'task_assignment.divisionsssss': function (newDivisions, oldDivisions) { // disable dulu ahh
      // console.log(newDivisions);
      // console.log(this.task_assignment.division);
      if (newDivisions.length > oldDivisions.length && this.mode === 'create') {
        // console.log('divisi baru lebih banyak');

        // // Make new organigram_id array
        // const orgIdArray = newDivisions.map(division => (
        //   division.organigram_ids[0]
        // ));

        // // Filter array by array (get new positions array based on organigram_id on divisions) from list_position
        // const filteredArray = this.list_position.filter(el => orgIdArray.includes(el.id));
        // console.log(filteredArray);
        // // Inserting new array
        // this.task_assignment.position = filteredArray;

        // CARA LAMA
        const newDivisionInputted = newDivisions[newDivisions.length - 1];
        const positionFromSelectedDivision = [];

        this.list_position.forEach((position) => {
          position.divisions.forEach((division) => {
            if (division.id === newDivisionInputted.id) {
              positionFromSelectedDivision.push(position);
            }
          });
        });

        // console.log(positionFromSelectedDivision);
        this.task_assignment.position = this.task_assignment.position.concat(positionFromSelectedDivision);

        const uniqueTaskAssignmentPosition = [];
        const map = new Map();

        this.task_assignment.position.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTaskAssignmentPosition.push(item);
          }
        });

        this.task_assignment.position = uniqueTaskAssignmentPosition;
      } else if (newDivisions.length < oldDivisions.length && this.mode === 'create') {
        // console.log('divisi baru lebih sedikit');
        // Make new organigram_id array
        const orgIdArray = newDivisions.map(division => (
          division.organigram_ids[0]
        ));

        // Filter array by array (get new positions array based on organigram_id on divisions) from task_assignment
        const filteredArray = this.task_assignment.position.filter(el => orgIdArray.includes(el.id));

        // Inserting new array
        this.task_assignment.position = filteredArray;
      }
    },
  },
  created() {
    if (this.mode === 'edit') {
      this.getOrgDetail({ id: Number(this.$route.params.id) });
    }
  },
  methods: {
    ...mapActions('jStoreTimesheetConfigTaskAssignment', ['getOrgDetail', 'getAssignmentDetail', 'deleteAssignment', 'getAssignmentDetailOnEvent']),

    selectAllPosition() {
      if (this.task_assignment.position.length > 0) {
        this.task_assignment.position = [];
      }
      this.list_position.forEach((e) => {
        this.task_assignment.position.push(e);
      });
    },
    unselectAllPosition() {
      this.task_assignment.position = [];
    },

    selectAllDivision() {
      if (this.task_assignment.division.length > 0) {
        this.task_assignment.division = [];
      }
      this.list_division.forEach((e) => {
        this.task_assignment.division.push(e);
      });
    },
    unselectAllDivision() {
      this.task_assignment.division = [];
    },

    // eslint-disable-next-line no-unused-vars
    restrictDate(e) {
      if (this.task_events.end_date !== null) {
        this.task_events.disableStartDate.ranges = [{
          from: this.task_events.end_date,
          to: new Date(10000, 1, 1),
        }];
      }
      if (this.task_events.start_date !== null) {
        this.task_events.disableEndDate.ranges = [{
          from: new Date(1, 1, 1),
          to: this.task_events.start_date,
        }];
      }
    },

    showModal(e) {
      if (this.$moment(e)
        .isBefore(this.$moment()
          .subtract(1, 'days'))) {
        this.$swal({
          type: 'warning',
          title: 'Oops...',
          text: 'You cannot create before this day.',
        });
      } else if (this.task_events.task_click) {
        this.task_events.task_click = false;
      } else {
        this.task_events.start_date = e;
        this.task_events.end_date = e;
        this.restrictDate(e);
        this.$refs.myModalRef.show();
        this.task_events.is_detail = false;
      }
    },

    // eslint-disable-next-line consistent-return
    save() {
      this.$v.task_assignment.$touch();
      if (!this.$v.task_assignment.$error) {
        this.$emit('data', this.sort_form_data);
      } else {
        return false;
      }
    },

    submitEvent() {
      const totalDay = Math.abs(this.$moment(this.task_events.start_date)
        .diff(this.task_events.end_date, 'days'));
        // eslint-disable-next-line no-plusplus
      for (let i = 0; i <= totalDay; i++) {
        this.task_events.task.forEach((val) => {
          let status = true;

          if (this.events.length !== 0) {
            this.events.forEach((e) => {
              if (e.title === val.name && e.start === this.$moment(this.task_events.start_date)
                .add(i, 'days')
                .format('YYYY-MM-DD')) {
                status = false;
              }
            });
          }

          if (status) {
            this.event_id = 0;
            const data = {
              event_id: this.event_id,
              start: this.$moment(this.task_events.start_date)
                .add(i, 'days')
                .format('YYYY-MM-DD'),
              end: this.$moment(this.task_events.start_date)
                .add(i, 'days')
                .format('YYYY-MM-DD'),
              title: val.label,
              task_project_id: val.id,
              task: this.task_events.task,
              project: this.task_events.project,
            };
            this.events.push(data);
          }
        });
      }
      this.closeEvent();
    },

    closeEvent() {
      this.task_events.id = 0;
      this.task_events.start_date = null;
      this.task_events.end_date = null;
      this.task_events.task = [];
      this.task_events.project = [];
      this.$refs.myModalRef.hide();
    },

    detailTask(event) {
      this.task_events.is_detail = true;
      this.task_events.task_click = true;
      this.task_events.start_date = event.start;
      this.task_events.end_date = event.start;
      this.task_events.task = [{
        id: event.task_project_id,
        label: event.title,
        project_id: event.task[0].project_id,
      }];

      this.task_events.id = event.event_id;
      this.$refs.myModalRef.show();
    },

    deleteEvent() {
      this.$swal({
        title: '<div style="color:#d2232a">Delete Assigned Task<div>',
        html: `Are you sure want to delete this task?<br>
          Task Name: ${this.task_events.task[0].label}<br>
          Start Date: ${this.$moment(this.task_events.start_date)
    .format('YYYY-MM-DD')}<br>
          End Date: ${this.$moment(this.task_events.end_date)
    .format('YYYY-MM-DD')}`,
        showCancelButton: true,
        confirmButtonColor: '#d2232a',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Delete',
      })
        .then((result) => {
          if (result.value) {
            if (this.mode === 'create') {
              const startDate = new Date(this.task_events.start_date);
              const endDate = new Date(this.task_events.end_date);
              const filteredEvent = this.events.filter(a => a.task_project_id === this.task_events.task[0].id);
              const filteredDate = filteredEvent.filter(a => new Date(a.start) >= startDate && new Date(a.end) <= endDate);

              const newArray = this.events.filter(element => !filteredDate.includes(element));
              this.events = newArray;
            } else {
              // for API
              const startDate = new Date(this.task_events.start_date);
              const endDate = new Date(this.task_events.end_date);

              this.getAssignmentDetailOnEvent({
                organigram_id: Number(this.task_assignment.position[0].id),
                start_date: this.$moment(startDate).format('YYYY-MM-DD'),
                end_date: this.$moment(endDate).format('YYYY-MM-DD'),
              }).then((resDetail) => {
                const filteredEvent = resDetail.data.filter(a => a.task_project_id === this.task_events.task[0].id);
                const eventIds = filteredEvent.map(element => element.id);
                const removedArray = this.events.filter(element => eventIds.indexOf(element.event_id) === -1);
                this.events = removedArray;
                this.deleteAssignment({ ids: eventIds });
              });
              // const filteredEvent = this.events.filter(a => a.task_project_id === this.task_events.task[0].id);
              // const filteredDate = filteredEvent.filter(a => new Date(a.start) >= startDate && new Date(a.end) <= endDate);
              // const eventIds = filteredDate.map(element => element.event_id);

              // // for front end
              // const removedArray = this.events.filter(element => eventIds.indexOf(element.event_id) === -1);
              // this.events = removedArray;
              // this.deleteAssignment({ ids: eventIds });
            }
          }
          this.$refs.myModalRef.hide();
        });
    },

    changeMonth(e) {
      if (this.task_assignment.position) {
        this.getAssignmentDetail({
          organigram_id: Number(this.task_assignment.position[0].id),
          start_date: this.$moment(e.startDate)
            .format('YYYY-MM-DD'),
          end_date: this.$moment(e.endDate)
            .format('YYYY-MM-DD'),
        });
      }
    },

    loadOptionsTask({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 0,
              page: 0,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreTimesheetConfigTaskAssignment/getListTaskAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
  },
  validations() {
    return {
      task_assignment: {
        id: {},
        position: { required },
        division: {},
      },
      task_events: {
        start_date: {},
        end_date: {},
        task: {},
        project: {},
      },
    };
  },
};
</script>

<style lang="scss">
  .calendar-timesheet {
    font-weight: 600;
  }

  .select-label {
    color: $blue-basic-color;
    cursor: pointer;
  }
</style>
