// === BASIC COLORS ===
$grey-sample: #e7e7e7;
$grey-sample2: #e1e3e6;
$grey-sample3: #8c8e92;

$blue-sample: #29b9fa;

$light-sample: #f9eae9;

$red-sample: #e1514a;
$black-sample2:#4F4F4F;
$primary-sample: #1A85E4;
$checkin-sample: #42AA4A;
$checkout-sample: #E7A456;
