<template>
  <div
    id="overtime-req-container-sent"
    class="container-app-search"
  >
    <j-summary
      :data-summary="data_summary"
      class="coattendance-summary"
      @summaryBlock="getData"
    />
    <br>

    <v-server-table
      v-show="load_first"
      ref="requestorServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openFormCreate">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
              class="btn grey btn-import-form m__r--5">
              <i class="fa fa-cloud-upload fa-lg"/> Import
            </b-button> -->
          <b-button
            id="overtime-req-search-sent"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="checkbox"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows"
            @input="floatingPromptAction">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

    </v-server-table>

    <jLoadingTable v-if="!load_first"/>

    <div
      v-show="show_blank_footer"
      :style="`height: ${floatingHeight}px`"/>
    <j-floating-prompt
      ref="floating"
      class="floating-table"
    >
      <div
        ref="divFloating"
        class="row"
      >
        <div class="col-4">
          <div class="row align-items-center pl-3">
            <div
              ref="totalSelectedRow"
              class="total-selected-row"/>
            <div class="total-selected-row-label f--medium m__l--7">
              overtime request <br>selected
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <div
            v-b-toggle.detail-table
            class="f--medium"
            style="cursor: pointer"
            @click="show_detail = !show_detail">
            Details
            <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
          </div>
        </div>
        <div class="col-6">
          <div class="row m__t--22">
            <div class="col-12">
              <b-button
                class="btn icon red float-right"
                @click="closeAction">
                Unselect All
              </b-button>
              <b-button
                class="btn icon red float-right m__r--10 d-flex align-items-center"
                @click="cancelRecord">
                <i class="fa fa-times"/>
                Cancel
              </b-button>
            </div>
          </div>
        </div>
        <j-collapse
          id="detail-table"
          :visible="show_detail"
          class="col-12">
          <v-client-table
            ref="detailTable"
            :columns="columns"
            :options="detail_options"
            :data="selected_rows"
            class="jTable table-floating-popup">
            <div
              slot="checkbox"
              slot-scope="props"
              class="jTableReport"
              @click.stop>
              <b-form-group>
                <b-form-checkbox-group
                  v-model="selected_rows">
                  <b-form-checkbox
                    :value="props.row"/>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
          </v-client-table>
        </j-collapse>
      </div>
    </j-floating-prompt>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      target="overtime-req-search-sent"
      triggers="click blur"
      container="overtime-req-container-sent"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jSummary from '@/components/summary/summary';
import jApiOvertimeClaimer from '@/services/overtime/jApiOvertimeClaimer';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';

export default {
  components: {
    jLoadingTable,
    jSummary,
  },
  mixins: [
    jMixFloatingPrompt,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/sent` : '/overtime/requestor/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/approved` : '/overtime/requestor/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/rejected` : '/overtime/requestor/rejected',
        },
        {
          status: 'cancel',
          name: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/canceled` : '/overtime/requestor/canceled',
        },
      ],

      status: 'sent',
      filter_data: '',
      select_type: 'type',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'employee_name',
        },
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'DATE',
          value: 'start_date',
        },
        {
          text: 'OVERTIME TYPE',
          value: 'type',
        },
      ],
      load_first: false,
      data_table: [],
      selected_rows: [],
      columns: ['checkbox', 'employee_id', 'employee_name', 'organization_unit', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'overtime_hours', 'created_date', 'updated_date', 'created_by'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          organization_unit: 'ORGANIZATION UNIT',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          overtime_hours: 'OVERTIME HOURS',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          created_by: 'CREATED BY',
          checkbox: this.headerID(),
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['employee_id', 'employee_name', 'organization_unit', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'overtime_hours', 'created_date', 'updated_date', 'created_by'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            status: data.status,
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeClaimer.getListClaimer(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
      detail_options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          organization_unit: 'ORGANIZATION UNIT',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          overtime_hours: 'OVERTIME HOURS',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          created_by: 'CREATED BY',
          checkbox: this.headerID(),
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['type'],
        perPage: 3,
        perPageValues: [3, 5, 10, 20, 50, 100],
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.requestorServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetSummaryBlockClaimer', 'actionChangeStatusOvertime']),

    loading(data) {
      const a = data;
      a.status = this.status;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.$refs.requestorServer.loading = true;
        this.$refs.requestorServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.requestorServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/overtime/requestor/create`);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/requestor/detail/${row.id}`);
    },

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },

    async getDataSummary() {
      const res = await this.actionGetSummaryBlockClaimer();
      this.data_summary[0].amounts = (res.data.find(val => val.status === 'sent')).count;
      this.data_summary[1].amounts = (res.data.find(val => val.status === 'approved')).count;
      this.data_summary[2].amounts = (res.data.find(val => val.status === 'rejected')).count;
      this.data_summary[3].amounts = (res.data.find(val => val.status === 'cancel')).count;
    },

    getData(data) {
      switch (data.status) {
        case 'Sent':
          this.status = 'sent';
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Approved':
          this.status = 'approved';
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Rejected':
          this.status = 'rejected';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          break;
        default:
          this.status = 'cancel';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
      }
      this.$refs.requestorServer.getData();
    },

    cancelRecord() {
      if (this.selected_rows.length > 0) {
        this.$swal({
          title: 'Are you sure, want to cancel selected attendance(s)?',
          input: 'text',
          type: 'question',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
          inputValidator: (value) => {
            if (!value) {
              return 'You need to write something!';
            }
            return '';
          },
        }).then(async (result) => {
          if (!result.dismiss) {
            const params = {
              action: 'cancel',
              note: result.value,
            };

            const promises = this.selected_rows.map(async (val) => {
              await this.actionChangeStatusOvertime({ id: val.id, params });
            });
            await Promise.all(promises);
            this.getDataSummary();
            this.$refs.requestorServer.refresh();
            this.selected_rows = [];
          }
        });
      }
    },
  },
};
</script>
