<template>
  <div
    id="overtime-req-container-rejected"
    class="container-app-search"
  >
    <j-summary
      :data-summary="data_summary"
      class="coattendance-summary"
      @summaryBlock="getData"
    />
    <br>

    <v-server-table
      v-show="load_first"
      ref="requestorServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openFormCreate">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
              class="btn grey btn-import-form m__r--5">
              <i class="fa fa-cloud-upload fa-lg"/> Import
            </b-button> -->
          <b-button
            id="overtime-req-search-rejected"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

    </v-server-table>

    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      target="overtime-req-search-rejected"
      triggers="click blur"
      container="overtime-req-container-rejected"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jSummary from '@/components/summary/summary';
import jApiOvertimeClaimer from '@/services/overtime/jApiOvertimeClaimer';

export default {
  components: {
    jLoadingTable,
    jSummary,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/sent` : '/overtime/requestor/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/approved` : '/overtime/requestor/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/rejected` : '/overtime/requestor/rejected',
        },
        {
          status: 'cancel',
          name: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/overtime/requestor/canceled` : '/overtime/requestor/canceled',
        },
      ],

      status: 'rejected',
      filter_data: '',
      select_type: 'type',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'employee_name',
        },
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'DATE',
          value: 'start_date',
        },
        {
          text: 'OVERTIME TYPE',
          value: 'type',
        },
      ],
      load_first: false,
      selected_rows: [],
      columns: ['employee_id', 'employee_name', 'organization_unit', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'overtime_hours', 'created_date', 'updated_date', 'created_by'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_name: 'EMPLOYEE NAME',
          organization_unit: 'ORGANIZATION UNIT',
          type: 'TYPE',
          status: 'STATUS',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
          start_time: 'START TIME',
          end_time: 'END TIME',
          overtime_hours: 'OVERTIME HOURS',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
          created_by: 'CREATED BY',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['employee_id', 'employee_name', 'organization_unit', 'type', 'status', 'reason', 'start_date', 'end_date', 'start_time', 'end_time', 'overtime_hours', 'created_date', 'updated_date', 'created_by'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            status: data.status,
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeClaimer.getListClaimer(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.requestorServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetSummaryBlockClaimer']),

    loading(data) {
      const a = data;
      a.status = this.status;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.$refs.requestorServer.loading = true;
        this.$refs.requestorServer.data = [];
      }
    },

    loaded() {
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.requestorServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/overtime/requestor/create`);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/requestor/detail/${row.id}`);
    },

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },

    async getDataSummary() {
      const res = await this.actionGetSummaryBlockClaimer();
      this.data_summary[0].amounts = (res.data.find(val => val.status === 'sent')).count;
      this.data_summary[1].amounts = (res.data.find(val => val.status === 'approved')).count;
      this.data_summary[2].amounts = (res.data.find(val => val.status === 'rejected')).count;
      this.data_summary[3].amounts = (res.data.find(val => val.status === 'cancel')).count;
    },

    getData(data) {
      switch (data.status) {
        case 'Sent':
          this.status = 'sent';
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Approved':
          this.status = 'approved';
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Rejected':
          this.status = 'rejected';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          break;
        default:
          this.status = 'cancel';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
      }
      this.$refs.requestorServer.getData();
    },
  },
};
</script>
