<template>
  <div
    id="mapping-form-update"
    class="p-4"
  >
    <j-title-header :options="title"/>

    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="12">
            <b-form-group v-if="mode === 'edit'">
              <label>Employee Name</label>
              <j-input
                v-model="detailMapping.name"
                disabled/>
            </b-form-group>
            <b-form-group
              v-else
              :class="{'error-input' : $v.dataMapping.selected_data_employee.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-multi-select
                :is-async="true"
                :load-options="loadEmployeeOptions"
                v-model="$v.dataMapping.selected_data_employee.$model"
                value-format="object"
                placeholder="Select Employee"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <div class="jCalendar">
              <vue-cal
                :events="events"
                :disable-views="disableViews"
                :on-event-click="detailShift"
                style="min-height: 250px"
                default-view="month"
                events-on-month-view="short"
                class="vuecal--full-height-delete"
                @view-change="changeMonth"
                @cell-click="showModal"/>
            </div>
          </b-col>
        </b-row>

        <br>

        <b-row>
          <b-col cols="12">
            <b-button
              v-if="mode === 'create'"
              class="btn blue"
              @click="submitRecord">
              <i class="fa fa-upload"/>
              Submit
            </b-button>
            <b-button
              v-if="mode === 'create'"
              class="btn btn-danger pull-right"
              @click="startOver">
              <i class="fa fa-refresh"/>
              Start Over
            </b-button>
          </b-col>
        </b-row>

      </b-col>

      <b-col
        md="3"
        sm="3"
        cols="12"/>
    </b-row>

    <b-modal
      ref="modalMappingShift"
      class="mod-form modal-update-mapping"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <h3 class="text-center">{{ dataShift.is_detail ? 'Edit Shift' : 'Assign Shift' }}</h3>
      <b-row>
        <b-col
          md="6"
          sm="6"
          cols="12">
          <b-form-group :class="{'error-input' : $v.dataShift.start_date.$error}">
            <label>Start Date <span class="red"> * </span> </label>
            <j-datepicker
              v-model="$v.dataShift.start_date.$model"
              :disabled-dates="dataShift.disableStartDate"
              :disabled="selected_edit_mode === 'reassign' || selected_edit_mode === 'swap'"
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>

        <b-col
          md="6"
          sm="6"
          cols="12">
          <b-form-group :class="{'error-input' : $v.dataShift.end_date.$error}">
            <label>End Date <span class="red"> * </span> </label>
            <j-datepicker
              v-model="$v.dataShift.end_date.$model"
              :disabled-dates="dataShift.disableEndDate"
              :disabled="selected_edit_mode === 'reassign' || selected_edit_mode === 'swap'"
              format="MMM dd, yyyy"
              placeholder="Jan 01, 2019"/>
          </b-form-group>
        </b-col>

        <b-col
          v-if="mappingMode === 'edit'"
          md="12"
          sm="12"
          cols="12"
          style="min-height: 70px"
          class="m__b--5 m__t--5">
          <b-form-group>
            <j-radio
              v-model="selected_edit_mode"
              :options="editModeOptions"
              :stacked="true"
              :disabled="false"/>
          </b-form-group>
        </b-col>

        <b-col
          v-if="selected_edit_mode === 'time'"
          md="12"
          sm="12"
          cols="12">
          <b-row>
            <b-col
              cols="6">
              <b-form-group>
                <label>Start TIme <span class="red"> * </span> </label>
                <j-clockpicker
                  v-model="$v.dataShift.from.$model"
                  placeholder="ex: 06.00"/>
              </b-form-group>
            </b-col>
            <b-col
              cols="6">
              <b-form-group>
                <label>End Time <span class="red"> * </span> </label>
                <j-clockpicker
                  v-model="$v.dataShift.to.$model"
                  placeholder="ex: 06.00"/>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>

        <b-col
          v-if="mappingMode === 'create' || selected_edit_mode === 'shift'"
          md="12"
          sm="12"
          cols="12">
          <b-form-group :class="{'error-input' : $v.dataShift.selected_shift.$error}">
            <label>Shift <span class="red"> * </span> </label>
            <j-single-select
              v-model="$v.dataShift.selected_shift.$model"
              :is-async="true"
              :load-options="loadOptionsShift"
              placeholder="Select Shift"
              value-format="object"
              label="name"/>
          </b-form-group>
        </b-col>

        <b-col
          v-if="selected_edit_mode === 'reassign' || selected_edit_mode === 'swap'"
          md="12"
          sm="12"
          cols="12">
          <b-form-group :class="{'error-input' : $v.dataShift.selected_employee.$error}">
            <label>Available Employee <span class="red"> * </span> </label>
            <j-single-select
              v-model="$v.dataShift.selected_employee.$model"
              :is-async="true"
              :load-options="loadEmployeeOptions"
              placeholder="Select Employee"
              value-format="object"
              label="name"/>
          </b-form-group>
        </b-col>

        <b-col
          v-if="selected_edit_mode === 'swap'"
          md="12"
          sm="12"
          cols="12">
          <div class="jCalendar">
            <vue-cal
              :events="events_for_swap"
              :disable-views="disableViews"
              :on-event-click="getEventForSwap"
              style="min-height: 250px"
              default-view="month"
              events-on-month-view="short"
              class="vuecal--full-height-delete"
              @view-change="changeMonth"/>
          </div>
        </b-col>

        <b-col
          md="12"
          sm="12"
          cols="12">
          <b-form-group :class="{'error-input' : $v.dataShift.note.$error}">
            <label>Description <span class="red"> * </span> </label>
            <j-textarea
              v-model="$v.dataShift.note.$model"/>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <div class="col-6">
          <b-button
            v-if="dataShift.is_detail"
            class="btn red float-left"
            @click="deleteEvent">
            Delete
          </b-button>
        </div>
        <div class="col-6">
          <b-button
            class="btn grey float-right"
            @click="closeEvent">
            Close
          </b-button>
          <b-button
            class="btn blue float-right"
            style="margin-right: 10px"
            @click="submitEvent">
            Submit
          </b-button>
        </div>
      </b-row>
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable max-len, no-unused-vars, no-param-reassign */
import VueCal from 'vue-cal';
import 'vue-cal/dist/vuecal.css';
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jApiUser from '@/services/jApiUser';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  components: {
    VueCal,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    const validate = {
      detailMapping: {
        name: { },
      },
      dataMapping: {
        selected_data_employee: { required },
      },
      dataShift: {
        start_date: { required },
        end_date: { required },
        note: { required },
        selected_shift: {},
        selected_employee: {},
        from: {},
        to: {},
      },
    };
    if (this.mappingMode === 'create' || this.selected_edit_mode === 'shift') {
      validate.dataShift.selected_shift = { required };
    }
    if (this.selected_edit_mode === 'time') {
      validate.dataShift.from = { required };
      validate.dataShift.to = { required };
    }
    if (this.selected_edit_mode === 'reassign' || this.selected_edit_mode === 'swap') {
      validate.dataShift.selected_employee = { required };
    }
    return validate;
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Mapping Shift' : 'Create Mapping Shift',
      },
      detailMapping: {
        name: '',
      },
      listEmployee: [],
      dataMapping: {
        selected_data_employee: [],
      },
      events: [],
      events_for_swap: [],
      new_event_id: null,
      disableViews: ['years', 'year', 'weeks', 'days'],
      dataShift: {
        id: 0,
        is_detail: false,
        shift_click: false,
        start_date: null,
        end_date: null,
        from: null,
        to: null,
        shift_id: null,
        shift: null,
        selected_shift: null,
        selected_employee: null,
        note: '',
        disableStartDate: {
          color: '#E9ECEF',
          daysOfMonth: [],
          ranges: [],
        },
        disableEndDate: {
          color: '#E9ECEF',
          daysOfMonth: [],
          ranges: [],
        },
      },
      tempData: {
        shift: {
          id: null,
          label: null,
        },
        start_date: null,
      },
      mappingMode: 'create',
      selected_edit_mode: '',
      editModeOptions: [
        { text: 'Change Time', value: 'time' },
        { text: 'Change Shift', value: 'shift' },
        { text: 'Assign Shift to Other Employee', value: 'reassign' },
        { text: 'Swap Shift with Other Employee', value: 'swap' },
      ],
      backdateAllow: null,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['daily_shift', 'employee_detail', 'shift_list', 'role_setting']),

    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
  watch: {
    role_setting(val) {
      const data = val.find(el => el.role === 'management' || 'pictimes');
      this.backdateAllow = data.max_shift_backdate_allow || null;
    },
    employee_detail(val) {
      this.detailMapping = {
        name: `${val.profile.first_name} ${val.profile.last_name}`,
      };
    },
    daily_shift(val) {
      this.events_for_swap = [];
      if (val.length > 0) {
        const eventArray = val.map(el => ({
          event_id: el.id,
          start: this.$moment(el.start).format('YYYY-MM-DD'),
          end: this.$moment(el.end).format('YYYY-MM-DD'),
          from: this.$moment(el.start).format('HH:mm'),
          to: this.$moment(el.end).format('HH:mm'),
          title: el.title,
          shift_id: el.shift_id,
          shift: {
            id: el.shift_id,
            label: el.title,
          },
          note: el.note,
          class: el.color,
        }));

        if (this.selected_edit_mode === 'swap') {
          this.events_for_swap = eventArray;
        } else {
          this.events = eventArray;
        }
      }
    },
    // eslint-disable-next-line func-names
    'dataShift.selected_shift': function (val) {
      if (val) {
        if (this.mappingMode === 'create' || this.selected_edit_mode === 'shift') {
          this.dataShift.shift_id = val.id;
          this.dataShift.shift = {
            id: val.id,
            label: val.name,
          };
        }
      }
    },
    // eslint-disable-next-line func-names
    'dataShift.selected_employee': function (val) {
      if (val) {
        const params = {
          start_date: this.$moment().startOf('month').format('YYYY-MM-DD'),
          end_date: this.$moment().endOf('month').format('YYYY-MM-DD'),
          user_company_ids: [val.id],
        };
        if (this.selected_edit_mode === 'swap') {
          this.actionGetDailyShift(params);
        }
      }
    },
    // eslint-disable-next-line func-names
    'dataShift.start_date': function (val) {
      if (this.dataShift.end_date < val) {
        this.dataShift.end_date = val;
      }
      this.restrictDate(val);
    },
    // eslint-disable-next-line func-names
    'dataShift.end_date': function (val) {
      if (this.dataShift.start_date > val) {
        this.dataShift.start_date = val;
      }
      this.restrictDate(val);
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        start_date: this.$moment().startOf('month').format('YYYY-MM-DD'),
        end_date: this.$moment().endOf('month').format('YYYY-MM-DD'),
        user_company_ids: [Number(this.$route.params.id)],
      };
      this.actionGetDailyShift(params);
      this.actionGetEmployeeDetailById({ id: this.$route.params.id });
    }

    if (!this.isAdmin && this.isPicOrManagement) {
      this.actionGetRoleSetting();
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetDailyShift', 'actionGetEmployeeDetailById', 'actionCreateDailyShift', 'actionUpdateDailyShift', 'actionReassignDailyShift', 'actionDeleteDailyShift', 'actionGetRoleSetting']),

    // eslint-disable-next-line no-unused-vars
    restrictDate(e) {
      if (this.dataShift.end_date !== null) {
        this.dataShift.disableStartDate.ranges = [{
          from: this.dataShift.end_date,
          to: new Date(10000, 1, 1),
        }];
      }
      if (this.dataShift.start_date !== null) {
        this.dataShift.disableEndDate.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataShift.start_date,
        }];
      }
    },
    loadEmployeeOptions({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      let conditionalReq = null;

      if (this.isAdmin) {
        conditionalReq = jApiUser.listUserPagination(req);
      } else if (this.isPicOrManagement) {
        req.user_company_id = localStorage.getItem('user_company_id') || 0;
        conditionalReq = jApiUser.getUserRestrictionOrganigram(req);
      }

      conditionalReq.then((res) => {
        if (typeof res.data.data !== 'undefined') {
          res.data.data.forEach((lab, index) => {
            res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name}`;
          });
          callback(null, res.data.data);
        }
        return res.data;
      });

      return conditionalReq;
    },

    loadOptionsShift({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreAttendance/actionGetShiftAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    showModal(e) {
      this.dataShift.selected_shift = null;

      if (this.$moment(e)
        .isBefore(this.$moment()
          .subtract(this.backdateAllow, 'days'))
            && this.backdateAllow) {
        this.$swal({
          type: 'warning',
          title: 'Oops...',
          text: `You cannot create more than ${this.backdateAllow} days ago.`,
        });
      } else if (this.dataShift.shift_click) {
        this.dataShift.shift_click = false;
      } else {
        this.dataShift.start_date = e;
        this.dataShift.end_date = e;
        this.restrictDate(e);
        this.mappingMode = 'create';
        this.$refs.modalMappingShift.show();
        this.dataShift.is_detail = false;
      }
    },

    detailShift(e) {
      if (this.mode === 'edit') {
        if (this.$moment(e.start)
          .isBefore(this.$moment()
            .subtract(this.backdateAllow, 'days'))
            && this.backdateAllow) {
          this.$swal({
            type: 'warning',
            title: 'Oops...',
            text: `You cannot create more than ${this.backdateAllow} days ago.`,
          });
        } else {
          this.dataShift.is_detail = true;
          this.dataShift.shift_click = true;
          this.dataShift.start_date = e.start;
          this.dataShift.end_date = e.start;
          this.dataShift.from = e.from;
          this.dataShift.to = e.to;
          this.dataShift.note = e.note;
          this.dataShift.shift_id = e.shift_id;
          this.dataShift.shift = {
            id: e.shift_id,
            label: e.title,
          };
          this.dataShift.selected_shift = {
            id: e.shift_id,
            label: e.title,
          };

          this.tempData.start_date = e.start;
          this.tempData.shift = {
            id: e.shift_id,
            label: e.title,
          };

          this.dataShift.id = e.event_id;
          this.mappingMode = 'edit';
          this.$refs.modalMappingShift.show();
        }
      }
    },

    getEventForSwap(e) {
      this.new_event_id = e.event_id;
    },

    changeMonth(e) {
      const params = {
        start_date: this.$moment(e.startDate).format('YYYY-MM-DD'),
        end_date: this.$moment(e.endDate).format('YYYY-MM-DD'),
        user_company_ids: [],
      };

      if (this.selected_edit_mode === 'swap') {
        params.user_company_ids.push(this.dataShift.selected_employee.id);
      } else {
        params.user_company_ids.push(Number(this.$route.params.id));
      }

      this.actionGetDailyShift(params);
    },

    refreshCalendar(e) {
      const currentDate = new Date(e);
      const firstDay = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
      const lastDay = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);

      const params = {
        start_date: this.$moment(firstDay).format('YYYY-MM-DD'),
        end_date: this.$moment(lastDay).format('YYYY-MM-DD'),
        user_company_ids: [Number(this.$route.params.id)],
      };

      this.actionGetDailyShift(params);
    },

    startOver() {
      this.events = [];
    },

    submitRecord() {
      this.$v.dataMapping.$touch();
      if (!this.$v.dataMapping.$error) {
        const finaleEvents = [];
        this.events.forEach((event) => {
          const indexEvent = finaleEvents.findIndex(el => el.shift_id === event.shift_id);
          if (finaleEvents.length > 0 && indexEvent !== -1) {
            finaleEvents[indexEvent].end = event.end;
          } else {
            finaleEvents.push(event);
          }
        });

        if (finaleEvents.length) {
          finaleEvents.forEach(async (event) => {
            const params = {
              user_company_ids: this.dataMapping.selected_data_employee.map(i => i.id),
              shift_id: event.shift_id,
              start_date: event.start,
              end_date: event.end,
              note: event.note,
            };

            await this.actionCreateDailyShift(params);
          });
        }

        this.dataMapping.selected_data_employee = [];
        this.$v.dataMapping.$reset();
        this.$router.go(-1);
      }
    },

    closeEvent() {
      this.dataShift.id = 0;
      this.dataShift.start_date = null;
      this.dataShift.end_date = null;
      this.dataShift.from = null;
      this.dataShift.to = null;
      this.dataShift.shift_id = null;
      this.dataShift.shift = null;
      this.dataShift.note = '';
      this.selected_edit_mode = '';
      this.$v.dataShift.$reset();
      this.$refs.modalMappingShift.hide();
    },

    submitEvent() {
      this.$v.dataShift.$touch();
      if (!this.$v.dataShift.$error) {
        const totalDay = Math.abs(this.$moment(this.dataShift.start_date)
          .diff(this.dataShift.end_date, 'days'));
        let totalNewEvent = 0;
        // eslint-disable-next-line no-plusplus
        for (let i = 0; i <= totalDay; i++) {
          let isNewEvent = true;

          if (this.events.length !== 0) {
            this.events.forEach((e) => {
              if (this.mappingMode === 'edit' && e.title === this.tempData.shift.label
              && e.start === this.$moment(this.tempData.start_date)
                .add(i, 'days')
                .format('YYYY-MM-DD')) {
                this.updateEvent(e, i);
                isNewEvent = false;
              }
            });
          }

          if (isNewEvent) {
            // this.submitNewEvent(i);
            totalNewEvent += 1;
          }
        }

        if (totalNewEvent > 0) {
          if (!this.dataShift.id) this.submitNewEvent(totalNewEvent);
        }
        this.closeEvent();
      }
    },

    async submitNewEvent(totalNewEvent) {
      this.event_id = 0;
      const newEvents = [];
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < totalNewEvent; i++) {
        const data = {
          event_id: this.event_id,
          start: this.$moment(this.dataShift.start_date)
            .add(i, 'days').format('YYYY-MM-DD'),
          end: this.$moment(this.dataShift.end_date)
            .add(i, 'days').format('YYYY-MM-DD'),
          from: this.$moment(this.dataShift.from).format('HH:mm'),
          to: this.$moment(this.dataShift.to).format('HH:mm'),
          title: this.dataShift.shift.label,
          shift_id: this.dataShift.shift_id,
          shift: this.dataShift.shift,
          note: this.dataShift.note,
          class: this.dataShift.selected_shift.color,
        };
        newEvents.push(data);
      }

      const params = {
        user_company_ids: [Number(this.$route.params.id)],
        shift_id: this.dataShift.shift_id,
        start_date: this.$moment(this.dataShift.start_date).format('YYYY-MM-DD'),
        end_date: this.$moment(this.dataShift.end_date).format('YYYY-MM-DD'),
        note: this.dataShift.note,
      };

      if (this.mode === 'edit') {
        const res = await this.actionCreateDailyShift(params);

        if (!res.error) {
          // insert event to calendar
          this.events.push(...newEvents);
        }
      } else {
        // insert event to calendar
        this.events.push(...newEvents);
      }
    },

    async updateEvent(val, i) {
      this.$v.dataShift.$touch();
      if (!this.$v.dataShift.$error) {
        const params = {
          id: val.event_id,
          swap_shift_id: '',
          user_company_id: Number(this.$route.params.id),
          new_user_company_id: '',
          shift_id: this.tempData.shift.id,
          new_shift_id: '',
          start_date: this.$moment(this.dataShift.start_date)
            .add(i, 'days').format('YYYY-MM-DD'),
          end_date: this.$moment(this.dataShift.end_date)
            .add(i, 'days').format('YYYY-MM-DD'),
          new_start_time: '',
          new_end_time: '',
          note: this.dataShift.note,
          exception_date: [],
          is_swap: 0,
          difference_day: '',
          class: val.class,
        };

        let res;
        if (this.selected_edit_mode === 'time' || this.selected_edit_mode === 'shift') {
          if (this.selected_edit_mode === 'time') {
            params.new_start_time = this.dataShift.from;
            params.new_end_time = this.dataShift.to;
          } else {
            params.new_shift_id = this.dataShift.shift_id;
          }
          res = await this.actionUpdateDailyShift(params);
        } else if (this.selected_edit_mode === 'reassign' || this.selected_edit_mode === 'swap') {
          params.new_user_company_id = this.dataShift.selected_employee.id;
          if (this.selected_edit_mode === 'swap') {
            params.swap_shift_id = this.new_event_id;
            params.is_swap = 1;
          }
          res = await this.actionReassignDailyShift(params);
        } else {
          res = await this.actionUpdateDailyShift(params);
        }

        if (!res.error) {
          this.dataShift.selected_employee = null;
          this.events = [];
          this.refreshCalendar(params.start_date);
          this.closeEvent();
        }
      }
    },

    deleteEvent() {
      this.$swal({
        title: '<div style="color:#d2232a">Delete Assigned Shift<div>',
        html: `Are you sure want to delete this shift?<br>
          Shift Name: ${this.dataShift.shift.label}<br>
          Start Date: ${this.$moment(this.dataShift.start_date)
    .format('YYYY-MM-DD')}<br>
          End Date: ${this.$moment(this.dataShift.end_date)
    .format('YYYY-MM-DD')}`,
        showCancelButton: true,
        confirmButtonColor: '#d2232a',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Delete',
      })
        .then(async (result) => {
          if (result.value) {
            if (this.mode === 'create') {
              const startDate = new Date(this.dataShift.start_date);
              const endDate = new Date(this.dataShift.end_date);
              const filteredEvent = this.events.filter(
                a => a.shift_id === this.dataShift.shift.id,
              );
              const filteredDate = filteredEvent.filter(
                a => new Date(a.start) >= startDate && new Date(a.end) <= endDate,
              );

              const newArray = this.events.filter(element => !filteredDate.includes(element));
              this.events = newArray;
            } else {
              // for API
              const startDate = new Date(this.dataShift.start_date).setHours(0, 0, 0, 0);
              const endDate = new Date(this.dataShift.end_date).setHours(0, 0, 0, 0);
              const filteredEvent = this.events.filter(
                a => a.shift_id === this.dataShift.shift.id,
              );
              const filteredDate = filteredEvent.filter(
                a => new Date(a.start).setHours(0, 0, 0, 0) >= startDate
                && new Date(a.end).setHours(0, 0, 0, 0) <= endDate,
              );
              const eventIds = filteredDate.map(element => element.event_id);

              // for front end
              const removedArray = this.events.filter(
                element => eventIds.indexOf(element.event_id) === -1,
              );

              const params = {
                user_company_id: Number(this.$route.params.id),
                shift_id: this.dataShift.shift_id,
                start_date: this.$moment(this.dataShift.start_date).format('YYYY-MM-DD'),
                end_date: this.$moment(this.dataShift.end_date).format('YYYY-MM-DD'),
              };
              const res = await this.actionDeleteDailyShift(params);

              if (!res.error) {
                this.events = removedArray;
                this.closeEvent();
              }
            }
          }
        });
    },
  },
};
</script>

<style lang="scss">
  .modal-update-mapping .modal-dialog {
    max-width: 600px;

    .vuecal__event--focus {
      background-color: red !important;
      color: white !important;
    }
  }
</style>
