<template>
  <div
    id="mapping-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <j-import-mapping-shift
            v-if="default_import"
            :href-sample="require('@/assets/file/template_mapping_shift.xlsx')"
            @import-data="importData"/>
          <b-button
            id="mapping-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="name"
        slot-scope="props"
        class="d-flex align-items-center">
        <img
          :src="props.row.photo ? props.row.photo : 'https://corp.jojonomic.com/assets/img/user3.png'"
          class="photo-profile m__r--10"
          style="flex: none !important">
        <span>
          {{ props.row.email }} <br>
          {{ props.row.name }}
        </span>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <j-progress-screen
      ref="ImportFile"
      :data-kirim="data_import"
      :url-api="urlImport"
      :headers="headers"
      property-data="data"
      @finish="uploadDone"/>
    <b-modal
      ref="modalPosition"
      class="mod-form"
      centered>
      <h3 class="float-to-center c--red">
        Error Data
      </h3>
      <v-client-table
        v-if="error_data[0]"
        :data="error_data"
        :columns="column"
        :options="option"
        class="jTable">

        <div
          slot="ERROR"
          slot-scope="props">
          <div
            v-for="(err, index) in props.row.ERROR"
            :key="index">
            {{ err }}
          </div>
        </div>

      </v-client-table>
      <download-excel
        :data="error_data"
        class="float-to-right m__t--30"
        name="Position-data-error.xls">
        <b-button class="btn green">
          Export Error
        </b-button>
      </download-excel>
    </b-modal>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      container="mapping-table"
      target="mapping-search"
      triggers="click blur"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import Vue from 'vue';
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';
import jImportMappingShift from '@/components/import-file/jImportMappingShift';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
    jImportMappingShift,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      default_import: true,
      filter_data: '',
      select_type: 'employee_id',
      options_search: [
        {
          text: 'Employee ID',
          value: 'employee_id',
        },
        {
          text: 'Employee Name',
          value: 'name',
        },
        {
          text: 'Shift',
          value: 'shift',
        },
      ],
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['NAME', 'CODE', 'ERROR'],
      option: {
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      data_import: [],
      raw_data: null,

      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['employee_id', 'name', 'shifts', 'updated_date'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          shifts: 'SHIFT(S)',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'name', 'updated_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'created_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getMappingShiftList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    urlImport() {
      const getEnv = 'times/shift/config/daily-shift/import';
      return getEnv;
    },
    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(data) {
      const a = data;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.refresh();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
      this.popoverSearchShow = false;
    },
    openEditForm({ row }) {
      this.$router.push(`${this.oosRoute}/attendance/config/mapping-shift/edit/${row.id}`);
    },
    openCreateForm() {
      this.$router.push(`${this.oosRoute}/attendance/config/mapping-shift/create`);
    },
    importData(val) {
      this.data_import = [];
      this.is_error = false;
      this.list_error = [];
      this.error_data = val;

      const keys = Object.keys(val[0]);
      if (keys[0] !== 'SHIFT_ID' || keys[1] !== 'START_DATE' || keys[2] !== 'END_DATE' || keys[3] !== 'EMAIL' || keys[4] !== 'DESCRIPTION') {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please use header format correctly');
      }

      this.raw_data = val;
      this.data_import = this.raw_data.map((raw, index) => this.genData(raw, index));

      setTimeout(() => {
        this.uploadData();
      }, 100);
    },
    uploadData() {
      this.$refs.ImportFile.toggleIsVisible();
    },
    uploadDone() {
      this.raw_data = [];
      this.is_finish = true;
      this.refreshTable();
      this.data_import = [];
      this.default_import = false;
      setTimeout(() => {
        this.default_import = true;
      }, 100);
    },
    genData(val, indexData) {
      this.list_error[indexData] = [];
      this.$set(this.error_data[indexData], 'ERROR', []);
      const packing = {
        email: [],
        shift_id: null,
        start_date: '',
        end_date: '',
        note: '',
      };

      // shift id validations
      const strShiftId = val.SHIFT_ID ? val.SHIFT_ID.trim() : '';
      if (val.SHIFT_ID === undefined || strShiftId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field shift id is required');
        this.error_data[indexData].ERROR.push('- field shift id is required');
      } else {
        this.$set(packing, 'shift_id', val.SHIFT_ID);
      }

      // start date validations
      const strStartDate = val.START_DATE ? val.START_DATE.trim() : '';
      if (val.START_DATE === undefined || strStartDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field start date is required');
        this.error_data[indexData].ERROR.push('- field start date is required');
      } else {
        this.$set(packing, 'start_date', val.START_DATE);
      }

      // end date validation
      const strEndDate = val.END_DATE ? val.END_DATE.trim() : '';
      if (val.END_DATE === undefined || strEndDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field end_date is required');
        this.error_data[indexData].ERROR.push('- field end_date is required');
      } else {
        this.$set(packing, 'end_date', val.END_DATE);
      }

      // email validations
      const strEmail = val.EMAIL ? val.EMAIL.trim() : '';
      if (val.EMAIL === undefined || strEmail.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field email is required');
        this.error_data[indexData].ERROR.push('- field email is required');
      } else {
        const listEmail = val.EMAIL.split(';');
        this.$set(packing, 'email', listEmail);
      }

      // description validations
      const strDesc = val.DESCRIPTION ? val.DESCRIPTION.trim() : '';
      if (val.DESCRIPTION === undefined || strDesc.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field description is required');
        this.error_data[indexData].ERROR.push('- field description is required');
      } else {
        this.$set(packing, 'note', val.DESCRIPTION);
      }

      // this.data_import.push(packing);
      return { daily_shift: [packing] };
    },
  },
};
</script>
