<template>
  <div>
    <j-tabs-v2
      v-if="tabs.length > 0"
      :tabs="tabs"
      class="new-header-tab">
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp"
            :oos-route="oosRoute"
          />
        </div>
      </div>
    </j-tabs-v2>

  </div>
</template>

<script>
import jMappingShiftList from './jMappingShiftList';

export default {
  components: {
    jMappingShiftList,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      tabs: [],
      listTabs: [
        {
          idTab: 'tab-0',
          title: 'Attendance Code',
          idComp: 'comp-mapping-0',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/code/list`,
        },
        {
          idTab: 'tab-1',
          title: 'Reminder',
          idComp: 'comp-mapping-1',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/reminder/list`,
        },
        {
          idTab: 'tab-2',
          title: 'Holiday',
          idComp: 'comp-mapping-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/holiday/list`,
        },
        {
          idTab: 'tab-3',
          title: 'Shift',
          idComp: 'comp-mapping-3',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/shift/list`,
        },
        {
          idTab: 'tab-4',
          title: 'Mapping Shift',
          idComp: 'comp-mapping-4',
          comp: jMappingShiftList,
          isShow: true,
          isActive: true,
          link: `${this.oosRoute}/attendance/config/mapping-shift/list`,
        },
        {
          idTab: 'tab-5',
          title: 'Exceed Notification',
          idComp: 'comp-mapping-5',
          comp: '',
          isShow: false,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/exceed-notification/list`,
        },
        {
          idTab: 'tab-6',
          title: 'Automatic Attendance',
          idComp: 'comp-mapping-6',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/automatic-attendance/list`,
        },
        {
          idTab: 'tab-7',
          title: 'Venue',
          idComp: 'comp-code-7',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/attendance/config/venue/list`,
        },
      ],
    };
  },
  computed: {
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
  created() {
    if (this.isAdmin) {
      this.tabs = this.listTabs;
    } else if (this.isPicOrManagement) {
      this.tabs.push(this.listTabs[4]);
    }
  },
};
</script>
<style lang="scss">
