<template>
  <div class="jInput">
    <treeselect
      :options="get_options"
      :placeholder="placeholder"
      :value="value"
      :no-results-text="noResultsText"
      :search-prompt-text="searchPromptText"
      :load-options="loadOptions"
      :async="isAsync"
      :cache-options="cacheOptions"
      :default-options="get_default_options"
      :auto-load-root-options="false"
      :always-open="alwaysOpen"
      :disable-branch-nodes="true"
      :disabled="disabled"
      :value-format="valueFormat"
      :clearable="clearable"
      :key="defaultOptionsKey"
      class="jSelectSingle"
      @input="getValue"
      @select="(e)=> this.$emit('select', e)"
      @deselect="(e)=> this.$emit('deselect', e)"
      @open="open"
      @close="close"
      @search-change="search"/>
    <label
      v-if="errorRequired"
      class="show">{{ errorMessage }}
    </label>
  </div>
</template>

<script>
import Treeselect from '@riophae/vue-treeselect';

export default {
  components: {
    Treeselect,
  },
  props: {
    defaultOptions: {
      type: [Array, Boolean],
      default: false,
    },
    cacheOptions: {
      type: Boolean,
      default: true,
    },
    noResultsText: {
      type: String,
      default: 'No results found...',
    },
    searchPromptText: {
      type: String,
      default: 'Type to search...',
    },
    name: {
      type: String,
      default: 'label',
    },
    isAsync: {
      type: Boolean,
      default: false,
    },
    loadOptions: {
      type: Function,
      default: () => {},
    },
    options: {
      type: Array,
      default: () => ([]),
    },
    placeholder: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [String, Boolean, Array, Object, Number],
      default: null,
    },
    label: {
      type: String,
      default: 'text',
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
    valueFormat: {
      type: String,
      default: 'id',
    },
    alwaysOpen: {
      type: Boolean,
      default: false,
    },
    defaultData: {
      type: [Object, Array, String],
      default: null,
    },
    clearable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      // value: null,
      get_data: [],
      defaultOptionsKey: 0,
    };
  },
  computed: {
    get_options() {
      if (this.options === null) return this.options;
      const opt = this.options.map((val) => {
        const newObj = val;
        newObj.label = val[this.label];
        return newObj;
      });
      return opt;
    },

    get_default_options() {
      if (this.defaultOptions !== false) {
        const opt = this.defaultOptions.map((val) => {
          const newObj = {
            id: val.id,
            name: val.name ? val.name : '',
            label: val[this.label],
            relation_id: val.relation_id ? val.relation_id : 0,
            is_delete: val.is_delete ? val.is_delete : false,
          };
          return newObj;
        });
        return opt;
      }
      return false;
    },
  },
  watch: {
    defaultOptions() {
      // eslint-disable-next-line
      this.defaultOptionsKey++;
    },
  },
  methods: {
    open() {
      this.$emit('open');
    },

    close() {
      this.$emit('close');
    },

    generateDataEdit(val) {
      const finalData = [];
      if (this.defaultData !== null && typeof val !== 'undefined') {
        const getData = {
          id: val.id ? val.id : 0,
          name: val.name ? val.name : '',
          relation_id: val.relation_id ? val.relation_id : 0,
          is_delete: val.is_delete ? val.is_delete : false,
          others: val,
        };
        if (this.defaultData.id !== getData.id) {
          const dataDeleted = {
            id: this.defaultData.id,
            name: this.defaultData.name ? this.defaultData.name : '',
            is_delete: true,
            relation_id: this.defaultData.relation_id ? this.defaultData.relation_id : 0,
            others: this.defaultData,
          };
          finalData.push(dataDeleted);
        }
        finalData.push(getData);
      } else if (this.defaultData !== null && typeof val === 'undefined') {
        const dataDeleted = {
          id: this.defaultData.id,
          name: this.defaultData.name ? this.defaultData.name : '',
          is_delete: true,
          relation_id: this.defaultData.relation_id ? this.defaultData.relation_id : 0,
          others: this.defaultData,
        };
        finalData.push(dataDeleted);
      }
      return finalData;
    },

    search(val) {
      this.$emit('searchChange', val);
    },

    getValue(val) {
      this.$emit('input', val);
      const getData = this.generateDataEdit(val);
      this.$emit('getData', getData);
    },
  },
};
</script>
