<!-- eslint-disable max-len -->
<template>
  <div
    id="sidebar-wrapper-app"
    class="switch-app-bar">
    <div class="menu-head d-flex flex-row">
      <img
        src="@/assets/icon/left.png"
        height="20"
        style="cursor: pointer"
        @click="closeSidebar">
    </div>

    <div
      class="sidemenu-app-container m__t--55">
      <b-form-group class="p--10">
        <j-input
          v-model="appName"
          :error-required="false"
          class="input-search-app"
          placeholder="Search Application"/>
      </b-form-group>
      <div
        class="btn-home-apps-sidebar"
        @click="$router.replace('/home')">
        <img
          src="@/assets/icon/home.png"
          height="16">
        <div class="label-home">HOME</div>
      </div>

      <!-- Loading App -->
      <div
        v-if="isLoading"
        class="skeleton-app"
      >
        <div
          v-for="i in 30"
          :key="i"
          class="list"
        />
      </div>

      <!-- List app -->
      <template v-else>
        <div
          v-for="(group, indexGroup) in listGroups"
          :key="indexGroup">
          <div
            v-if="group.isShow"
            class="d-inline-block m__b--10">
            <div class="text-group">
              {{ group.name.toUpperCase() }}
            </div>
            <div
              v-for="(item, index) in group.apps"
              :key="index"
              class="d-inline"
            >
              <a
                v-if="item.type_platform === 1"
                :href="item.is_maintenance_mode ? '#' : `/${item.url}`"
              >
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="shortcut-application"
                  @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="icon-aplication">
                  <div
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="text-aplication">
                    {{ item.name.toUpperCase() }}
                  </div>
                  <div
                    v-if="item.is_maintenance_mode"
                    class="maintenance-mode-app-small">
                    <img
                      :src="require('@/assets/icon/maintenance-mode.svg')"
                      height="18"
                      width="19">
                  </div>
                </div>
              </a>
              <a
                v-else-if="item.type_platform === 3"
                :href="item.is_maintenance_mode ? '#' : getStandaloneUrl(item)"
                target="_blank"
              >
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="shortcut-application"
                  @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="icon-aplication">
                  <div
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="text-aplication">
                    {{ item.name.toUpperCase() }}
                  </div>
                  <div
                    v-if="item.is_maintenance_mode"
                    class="maintenance-mode-app-small">
                    <img
                      :src="require('@/assets/icon/maintenance-mode.svg')"
                      height="18"
                      width="19">
                  </div>
                </div>
              </a>
              <a
                v-else-if="item.type_platform === 4"
                :href="item.is_maintenance_mode ? '#' : item.hyperlink"
                target="_blank"
              >
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="shortcut-application"
                  @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="icon-aplication">
                  <div
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="text-aplication">
                    {{ item.name.toUpperCase() }}
                  </div>
                  <div
                    v-if="item.is_maintenance_mode"
                    class="maintenance-mode-app-small">
                    <img
                      :src="require('@/assets/icon/maintenance-mode.svg')"
                      height="18"
                      width="19">
                  </div>
                </div>
              </a>
              <a
                v-else-if="item.type_platform === 5"
                :href="item.is_maintenance_mode ? '#' : getHyperlinkUrl(item.hyperlink)"
                target="_blank"
              >
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="shortcut-application"
                  @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="icon-aplication">
                  <div
                    :class="{ 'blur': item.is_maintenance_mode }"
                    class="text-aplication">
                    {{ item.name.toUpperCase() }}
                  </div>
                  <div
                    v-if="item.is_maintenance_mode"
                    class="maintenance-mode-app-small">
                    <img
                      :src="require('@/assets/icon/maintenance-mode.svg')"
                      height="18"
                      width="19">
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-unresolved,vue/require-default-prop */
import { mapActions, mapState } from 'vuex';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

export default {
  name: 'JAppsSidebar',
  components: {
  },
  mixins: [
    jMixSanitizeUrl,
  ],
  props: {
    groupProducts: {
      type: Array,
      default: () => [],
    },
  },
  /**
     * menu: is menu displayed?
     * menuProduct: is menuProduct displayed?
     * @returns {{menu: boolean, menuProduct: boolean}}
     */
  data() {
    return {
      isLoading: true,
      menu: true,
      menuProduct: false,
      menuApplication: [],
      appName: null,
      listGroups: null,
      standalone_package: [
        {
          id: 1,
          url: 'https://corp2.jojonomic.com/expense/home',
        },
        {
          id: 2,
          url: 'https://corp2.jojonomic.com/times/home',
        },
        {
          id: 3,
          url: 'https://chat.jojonomic.com/jojonomic',
        },
        {
          id: 4,
          url: '',
        },
        {
          id: 5,
          url: 'https://corp2.jojonomic.com/pro/travelonomic',
        },
        {
          id: 6,
          url: '',
        },
      ],
    };
  },
  /**
     * getJojoLeftIcon: determine close or bar icon
     * nestedMenus: get nestedMenus objects
     * nonNestedMenus: get nonNestedMenus objects
     */
  computed: {
    ...mapState('jStoreHome', ['is_finish_load_app']),

    getJojoLeftIcon() {
      if (this.menuProduct) return 'fa fa-close icon--bold';
      return 'fa fa-bars icon--bold';
    },
  },
  watch: {
    is_finish_load_app(val) {
      if (val) {
        this.listGroups = this._.cloneDeep(this.groupProducts);

        setTimeout(() => {
          this.isLoading = false;
        }, 300);
      }
    },

    groupProducts(val) {
      this.listGroups = this._.cloneDeep(val);
    },
    appName(val) {
      const filterGroup = this._.cloneDeep(this.groupProducts);

      filterGroup.filter(group =>
        group.application.some(app => app.name.toUpperCase().includes(val.toUpperCase())));

      filterGroup.forEach((group) => {
        // eslint-disable-next-line
        group.apps = group.application
          .filter(app => app.name.toUpperCase().includes(val.toUpperCase()));
      });
      this.listGroups = filterGroup;
    },
  },
  created() {
    if (this.is_finish_load_app) {
      this.listGroups = this._.cloneDeep(this.groupProducts);

      setTimeout(() => {
        this.isLoading = false;
      }, 300);
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleMaintenance']),

    toggleShow() {
      this.menu = !this.menu;
      this.menuProduct = !this.menuProduct;
    },
    closeSidebar() {
      this.$store.dispatch('jStoreSetting/toogleSidebar', false);
    },
    openProduct(item) {
      if (item.href) {
        this.$router.push(item.href);
      } else {
        window.location.href = item.hrefout;
      }
    },
    getStandaloneUrl(item) {
      if (item.info) {
        // eslint-disable-next-line max-len
        const urlStandAlone = this.standalone_package.find(val => val.id === Number(item.info.web_package));
        return urlStandAlone ? urlStandAlone.url : '#/';
      }
      return '#/';
    },
    getHyperlinkUrl(url) {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      return `${url}&token=${token}`;
    },
  },
};
</script>
