<template>
  <div
    v-click-outside="closeSuggestion"
    id="search-suggestion"
    :style="`top: ${position}px`">
    <div class="suggestion-header">
      <span>Results</span>
    </div>
    <div
      v-if="suggestions.length"
      class="suggestion-content">
      <div
        v-for="menu in suggestions"
        :key="menu.parent.id">
        <template v-if="menu.child">
          <div
            v-for="item in menu.child"
            :key="item.id"
            class="suggestion-container">
            <router-link
              v-if="item.href && item.name"
              :to="item.href"
              class="suggestion-item"
              tag="div">
              <span>
                <img
                  :src="menu.parent.iconUrlActive">
              </span>
              <span
                class="suggestion-title"
                v-html="getResult(menu.parent.name, item.name)" />
            </router-link>
          </div>
        </template>
        <div
          v-else
          class="suggestion-container">
          <router-link
            v-if="menu.parent.href"
            :to="menu.parent.href"
            class="suggestion-item"
            tag="div">
            <span>
              <img
                :src="menu.parent.iconUrlActive">
            </span>
            <span
              class="suggestion-title"
              v-html="getResult(menu.parent.name)" />
          </router-link>
        </div>
      </div>
    </div>
    <div
      v-else
      class="suggestion-info">
      No Matching Pages
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex';
import ClickOutside from 'vue-click-outside';

export default {
  name: 'JSearchSuggestion',
  directives: {
    ClickOutside,
  },
  props: {
    suggestions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      position: null,
      isFirstLoad: false,
    };
  },
  computed: {
    ...mapState('jStoreSetting', ['search_suggestion', 'search_query', 'is_focus_in']),
  },
  watch: {
    suggestions(val) {
      if (val) {
        this.showSuggestion = true;
      }
    },
  },
  created() {
    this.getPlacement();
    setTimeout(() => {
      this.isFirstLoad = true;
      this.setFocusIn(false);
    }, 200);
  },
  methods: {
    ...mapActions('jStoreSetting', ['toggleSearchSuggestion']),
    ...mapMutations('jStoreSetting', ['setFocusIn']),

    getPlacement() {
      const searchElement = document.getElementById('searchSidebar');
      if (searchElement) {
        this.position = searchElement.getBoundingClientRect().bottom - 5;
      }
    },

    closeSuggestion() {
      this.isFirstLoad = false;
      if (!this.isFirstLoad && !this.is_focus_in) {
        this.toggleSearchSuggestion(false);
      }
    },

    getResult(parent, child) {
      const regex = new RegExp(this.search_query, 'gi');
      const result = child ? `${parent} / ${child}` : parent;
      return result.replace(regex, '<b>$&</b>');
    },
  },
};
</script>
