<template>
  <transition name="fade">
    <div
      v-show="isVisible"
      class="modal-overlay">
      <div class="modal-wrap">
        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      isVisible: false,
    };
  },

  methods: {
    toggleModal() {
      this.isVisible = !this.isVisible;
    },
    showModal() {
      this.isVisible = true;
    },
    hideModal() {
      this.isVisible = false;
    },
  },
};
</script>
