<template>
  <viewer
    v-if="dataType === 'jpeg' || dataType === 'jpg' || dataType === 'png'"
    :images="[dataUrl]"
    :options="attachmentViewerOptions"
    class="d-inline-flex" >
    <div
      :style="{ backgroundImage: `url(${dataUrl})` }"
      class="attachment-image-div"
      @click="clickedAttachment()" />
  </viewer>
  <div
    v-else
    class="attachment-file-div"
    @click="clickedAttachment()">
    <img
      :src="require(`@/assets/icon/${icon}.png`)">
  </div>
</template>

<script>
import axios from 'axios';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

export default {
  mixins: [
    jMixSanitizeUrl,
  ],
  props: {
    fileUrl: {
      type: String,
      default: '',
    },
    fileName: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      attachmentViewerOptions: {
        url: 'data-src',
      },
      dataUrl: '',
      dataType: '',
    };
  },
  computed: {
    icon() {
      switch (this.dataType) {
        case 'doc':
        case 'docx':
        case 'csv':
          return 'docx';
        case 'pdf':
          return 'pdf';
        case 'xls':
        case 'xlsx':
          return 'xls';
        case 'ppt':
        case 'pptx':
          return 'ppt';
        case 'mp4':
          return 'mp4';
        case 'txt':
          return 'txt';
        default:
          return 'file';
      }
    },
  },
  watch: {
    fileUrl() {
      this.exploreCompanyDrive();
    },
  },
  created() {
    this.exploreCompanyDrive();
  },
  methods: {
    clickedAttachment() {
      const safeUrl = this.sanitizeUrl(this.fileUrl);
      if (safeUrl && (safeUrl.includes('https') || safeUrl.includes('http'))) {
        if (this.dataType === 'jpeg' || this.dataType === 'jpg' || this.dataType === 'png') {
          this.$viewerApi({
            images: [this.dataUrl],
          });
        } else if (this.dataType === 'mp4') {
          const fileName = this.fileName || this.setFileName();
          this.forceDownload(this.dataUrl, fileName);
        } else {
          window.open(this.dataUrl, '_blank');
        }
      } else if (this.fileUrl) {
        const token = (JSON.parse(localStorage.getItem('Token'))).value;
        const urlDownload = `${localStorage.getItem('gateUrl')}company-drive/file/download?id=${this.fileUrl}`;
        axios.get(urlDownload, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((resDownload) => {
          this.dataUrl = this.sanitizeUrl(resDownload.data.data.url);
          if (this.dataType === 'jpeg' || this.dataType === 'jpg' || this.dataType === 'png') {
            this.$viewerApi({
              images: [this.dataUrl],
            });
          } else if (this.dataType === 'mp4') {
            const fileName = this.fileName || this.setFileName();
            this.forceDownload(this.dataUrl, fileName);
          } else {
            window.open(this.dataUrl, '_blank');
          }
        });
      }
    },

    forceDownload(url, fileName) {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);
      xhr.responseType = 'blob';
      // eslint-disable-next-line
      xhr.onload = function () {
        const urlCreator = window.URL || window.webkitURL;
        const fileUrl = urlCreator.createObjectURL(this.response);
        const tag = document.createElement('a');
        tag.href = fileUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      };
      xhr.send();
    },

    setFileName() {
      const dotPosition = this.dataUrl.lastIndexOf('.');
      const initialPosition = this.dataUrl.lastIndexOf('/') + 1;
      return this.dataUrl.substring(initialPosition, dotPosition);
    },

    exploreCompanyDrive() {
      const safeUrl = this.sanitizeUrl(this.fileUrl);
      if (safeUrl && (safeUrl.includes('https') || safeUrl.includes('http'))) {
        this.dataUrl = safeUrl;
        const dotPosition = this.dataUrl.lastIndexOf('.') + 1;
        this.dataType = this.dataUrl.substring(dotPosition).toLowerCase();
      } else if (this.fileUrl) {
        const token = (JSON.parse(localStorage.getItem('Token'))).value;
        const urlDownload = `${localStorage.getItem('gateUrl')}company-drive/file/download?id=${this.fileUrl}`;
        axios.get(urlDownload, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((resDownload) => {
          this.dataUrl = this.sanitizeUrl(resDownload.data.data.url);

          const urlExplore = `${localStorage.getItem('gateUrl')}company-drive/explore`;
          const bodyExplore = {
            filter: {
              where_is_and: { id: this.fileUrl },
            },
            filter_operator: 'and',
            limit: 1,
            page: 1,
            sort: { name: 1 },
          };
          axios.post(urlExplore, bodyExplore, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((resExplore) => {
            const items = resExplore.data.items;
            if (items && items.length) {
              this.dataType = items[0].file_type;
            }
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .attachment-image-div {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    border-radius: 4px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .attachment-file-div {
    display: inline-flex;
    margin-right: 5px;

      img {
        width: 18px;
        height: 22px;
      }
  }
</style>
