<template>
  <div
    id="formula-form-update"
    class="p-4"
  >
    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="12">
            <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.name.$model"
                placeholder="ex: Working Overtime"/>
            </b-form-group>
          </b-col>

          <!-- <b-col
            class="toggle-container"
            cols="4">
            <b-form-group>
              <label>Leave Replacement</label>
              <j-toggle
                v-model="$v.dataForm.isProgressive.$model"
                off="Off"
                on="On"/>
            </b-form-group>
          </b-col> -->

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataForm.description.$error}">
              <label>Description <span class="red"> * </span> </label>
              <j-textarea
                v-model="$v.dataForm.description.$model"
                placeholder="ex: Description"/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataForm.formula.$error}">
              <label> Formula <span class="red"> * </span> </label>
              <div
                v-for="(item, index) in dataForm.formula"
                :key="index"
                class="card-field-container">
                <b-row>
                  <b-col cols="3">
                    <b-form-group :class="{'error-input' : $v.dataForm.formula.$error}">
                      <label> Hours </label>
                      <div
                        v-if="index+1 === dataForm.formula.length"
                      >
                        <h2>&#8734;</h2>
                        <input
                          v-model="item.hours"
                          type="hidden"
                        >
                      </div>
                      <j-input
                        v-else
                        v-model="item.hours"
                        type="number"
                        placeholder="ex: 4"/>
                    </b-form-group>
                  </b-col>
                  <b-col cols="3">
                    <b-form-group :class="{'error-input' : $v.dataForm.formula.$error}">
                      <label> Points </label>
                      <j-input
                        v-model="item.points"
                        type="number"
                        placeholder="ex: 4"/>
                    </b-form-group>
                  </b-col>
                  <b-col
                    cols="5"
                    class="align-self-center">
                    <b-form-group>
                      {{ generateNotes(item, index) }}
                    </b-form-group>
                  </b-col>
                  <b-col
                    cols="1"
                    class="align-self-center">
                    <b-form-group>
                      <i
                        v-if="dataForm.formula.length > 1 && (index+1 !== dataForm.formula.length)"
                        class="fa fa-trash fa-2x cursor-pointer"
                        @click="deleteFormula(index)"/>
                    </b-form-group>
                  </b-col>
                </b-row>
              </div>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group class="pull-right">
              <b-button
                class="btn blue"
                @click="addMoreFormula">
                <i class="fa fa-plus"/>
                Add formula
              </b-button>
            </b-form-group>
          </b-col>

        </b-row>

        <b-row>
          <b-col cols="12">
            <b-button
              class="btn blue"
              @click="submitRecord">
              <i class="fa fa-upload"/>
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger pull-right"
              @click="deleteRecord">
              <i class="fa fa-trash"/>
              Delete
            </b-button>
          </b-col>
        </b-row>

      </b-col>

      <b-col
        md="3"
        sm="3"
        cols="12"/>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required, minValue, numeric } from 'vuelidate/lib/validators';

export default {
  components: {
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    return {
      dataForm: {
        name: { required },
        // isProgressive: {},
        description: { required },
        formula: {
          $each: {
            hours: {
              required,
              minValue: minValue(0),
              numeric,
            },
            points: {
              required,
              minValue: minValue(0),
              // numeric,
            },
          },
        },
      },
    };
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Formula' : 'Create Formula',
      },
      dataForm: {
        name: '',
        // isProgressive: false,
        description: '',
        formula: [{
          hours: 0,
          points: 1,
        }],
      },
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['formula_detail']),

    genData() {
      const data = {
        id: this.mode === 'edit' ? this.$route.params.id : undefined,
        name: this.dataForm.name,
        description: this.dataForm.description,
      };
      data.formula = this.dataForm.formula.map(val => ({
        hours: Number(val.hours),
        points: Number(val.points),
      }));

      return data;
    },
  },
  watch: {
    formula_detail(val) {
      this.dataForm = {
        name: val.name,
        // isProgressive: val.isProgressive,
        description: val.description,
        formula: val.formula,
      };
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        id: this.$route.params.id,
      };
      this.actionGetDetailFormula(params);
    }
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetDetailFormula', 'actionCreateFormula', 'actionUpdateFormula', 'actionDeleteFormula']),

    handleRouteBack() {
      this.$router.push(`${this.oosRoute}/overtime/config/formula/list`);
    },
    generateNotes(item, index) {
      let totalhours = 0;
      this.dataForm.formula.forEach((val) => {
        totalhours += Number(val.hours);
      });
      if (this.dataForm.formula.length === 1) {
        return `All hours multiplied with ${item.points} points`;
      } else if (index === 0) {
        return `From 0 hours until ${item.hours} hours multiplied with ${item.points} points`;
      } else if (index + 1 === this.dataForm.formula.length) {
        return `From ${totalhours} hours until end hours multiplied with ${item.points} points`;
      }
      return `From ${this.dataForm.formula[index - 1].hours} hours until ${Number(this.dataForm.formula[index - 1].hours) + Number(item.hours)} hours multiplied with ${item.points} points`;
    },
    addMoreFormula() {
      this.dataForm.formula.unshift({
        hours: 1,
        points: 1,
      });
    },
    deleteFormula(index) {
      this.dataForm.formula.splice(index, 1);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        let res;
        if (this.mode === 'create') {
          res = await this.actionCreateFormula(this.genData);
        } else {
          res = await this.actionUpdateFormula(this.genData);
        }

        if (!res.error) {
          this.dataForm = {
            name: '',
            // isProgressive: false,
            description: '',
            formula: [{
              hours: 0,
              points: 1,
            }],
          };

          this.$v.dataForm.$reset();
          this.handleRouteBack();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              ids: [this.$route.params.id],
            };
            await this.actionDeleteFormula(params);
            this.handleRouteBack();
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #formula-form-update {
    .custom-control {
      padding-left: 5px !important;
    }

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
