<template>
  <div
    id="formula-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="!isLoading"
      ref="overtimeTable"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <!-- <b-button
            class="btn grey btn-import-form m__r--5">
            <i class="fa fa-cloud-upload fa-lg"/> Import
          </b-button>
          <b-button
            class="btn grey btn-import-form m__r--5">
            <i class="fa fa-cloud-download fa-lg"/> Generate xls
          </b-button> -->
          <b-button
            id="formula-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="isLoading"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="formula-table"
      target="formula-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiOvertimeConfig from '@/services/overtime/jApiOvertimeConfig';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      selected_rows: [],
      isLoading: false,
      columns: ['name', 'description'],
      options: {
        headings: {
          name: 'NAME',
          description: 'DESCRIPTION',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['name'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiOvertimeConfig.getListFormula(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.overtimeTable.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      this.isLoading = true;
    },
    loaded() {
      this.isLoading = false;
    },
    refreshTable() {
      this.$refs.overtimeTable.getData();
    },
    filter(val) {
      this.$refs.overtimeTable.setFilter(val);
    },
    openEditForm({ row }) {
      this.$router.push(`${this.oosRoute}/overtime/config/formula/edit/${row.id}`);
    },
    openCreateForm() {
      this.$router.push(`${this.oosRoute}/overtime/config/formula/create`);
    },
  },
};
</script>
