<template>
  <div>

    <j-tabs-v2 :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp"
            :oos-route="oosRoute"
          />
        </div>
      </div>
    </j-tabs-v2>

  </div>
</template>

<script>
import jFormulaList from './jFormulaList';

export default {
  components: {
    jFormulaList,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      tabs: [],
      listTabs: [
        {
          idTab: 'tab-0',
          title: 'Overtime Type',
          idComp: 'comp-formula-0',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/overtime/config/type/list`,
        },
        {
          idTab: 'tab-1',
          title: 'Formula',
          idComp: 'comp-formula-1',
          comp: jFormulaList,
          isShow: true,
          isActive: true,
          link: `${this.oosRoute}/overtime/config/formula/list`,
        },
        {
          idTab: 'tab-2',
          title: 'Policy',
          idComp: 'comp-formula-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/overtime/config/policy/list`,
        },
      ],
    };
  },
  computed: {
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
  created() {
    // if (this.isAdmin) {
    this.tabs = this.listTabs;
    // } else if (this.isPicOrManagement) {
    //   this.tabs.push(this.listTabs[4]);
    //   this.$router.push(`${this.oosRoute}/overtime/config/mapping-shift/list`);
    // }
  },
};
</script>
