<template>
  <div
    id="venue-form-update"
    class="p-4"
  >
    <j-title-header :options="title"/>

    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="12">
            <b-form :class="{'error-input' : $v.dataVenue.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataVenue.name.$model"
                placeholder="ex: Work"/>
            </b-form>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form>
              <b-row>
                <b-col cols="6">
                  <label>Staff</label>
                  <a
                    class="btn text outline pull-right"
                    @click="unselectAllEmployee">
                    unselect all
                  </a>
                  <!-- <a
                    class="btn text outline pull-right"
                    @click="selectAllEmployee">
                    select all
                  </a> -->
                  <br>
                  <j-multi-select
                    id="employee"
                    ref="employee"
                    :options="listEmployee"
                    v-model="selected_data_employee"
                    value-format="object"
                    placeholder="Select Employee"/>
                </b-col>
                <b-col cols="6">
                  <label>
                    Team Selected:
                  </label>
                  <a
                    class="btn text outline pull-right"
                    @click="unselectAllTeam">
                    unselect all
                  </a>
                  <!-- <a
                    class="btn text outline pull-right"
                    @click="selectAllTeam">
                    select all
                  </a> -->
                  <br>
                  <j-multi-select
                    id="team"
                    ref="team"
                    :options="listTeam"
                    v-model="selected_data_team"
                    value-format="object"
                    placeholder="Team Selected"/>
                </b-col>
              </b-row>
            </b-form>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form :class="{'error-input' : $v.dataVenue.description.$error}">
              <label>Description </label>
              <j-textarea
                v-model="$v.dataVenue.description.$model"
                placeholder="ex: Description"/>
            </b-form>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form
              :class="{
                'error-input' : $v.dataVenue.longitude.$error
                  || $v.dataVenue.latitude.$error
                  || $v.dataVenue.radius.$error
              }"
            >
              <label>Address & Radius <span class="red"> * </span> </label>
              <google-map
                v-if="showMaps"
                :default-marker="data_location"
                :manual-maps="false"
                :show-maps="true"
                :use-radius="true"
                @place_changed="getPlaceMap($event)"
              />
            </b-form>
          </b-col>
        </b-row>

        <b-row class="mt-4">
          <b-col cols="12">
            <b-button
              class="btn blue"
              @click="submitRecord">
              <i class="fa fa-upload"/>
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger pull-right"
              @click="deleteRecord">
              <i class="fa fa-trash"/>
              Delete
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required, minValue } from 'vuelidate/lib/validators';
import googleMap from '@/views/application/application-component/form-ui/form-base/googleMap';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  components: {
    googleMap,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    return {
      dataVenue: {
        name: { required },
        description: { },
        address: { required },
        employees: {},
        latitude: { required },
        longitude: { required },
        radius: {
          required,
          minValue: minValue(0),
        },
      },
    };
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Venue' : 'Create Venue',
      },
      dataVenue: {
        name: null,
        description: null,
        address: null,
        employees: [],
        latitude: -6.2917008,
        longitude: 106.8043139,
        radius: 300,
        is_selected_all_employee: false,
      },
      data_location: {},
      listTeam: [],
      listEmployee: [],
      selected_data_team: [],
      selected_data_employee: [],
      selected_address: null,
      previous_employee: [],
      first_load: true,
      showMaps: false,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['venue_detail', 'team_list', 'employee_list']),

    err_message() {
      if (!this.$v.dataVenue.radius.required) {
        return 'Field is required';
      } else if (!this.$v.dataVenue.radius.minValue) {
        return 'Minimum value is 0';
      }
      return 'Field is required';
    },
  },
  watch: {
    selected_data_employee(newEmployee, oldEmployee) {
      if (newEmployee.length > oldEmployee.length) {
        const diff = newEmployee.filter(x => !oldEmployee.includes(x));

        diff.forEach((employee) => {
          this.selected_data_team.push({
            id: employee.group_id,
            label: employee.group_name,
            text: employee.group_name,
          });
        });

        const uniqueTeam = [];
        const map = new Map();

        this.selected_data_team.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTeam.push(item);
          }
        });

        this.selected_data_team = uniqueTeam;
      } else if (newEmployee.length < oldEmployee.length) {
        this.selected_data_team = [];

        newEmployee.forEach((employee) => {
          this.selected_data_team.push({
            id: employee.group_id,
            label: employee.group_name,
            text: employee.group_name,
          });
        });

        const uniqueTeam = [];
        const map = new Map();

        this.selected_data_team.forEach((item) => {
          if (!map.has(item.id)) {
            map.set(item.id, true); // set any value to Map
            uniqueTeam.push(item);
          }
        });

        this.selected_data_team = uniqueTeam;
      }
    },
    selected_data_team(newTeam, oldTeam) {
      if (!this.first_load) {
        if (newTeam.length > oldTeam.length) {
          const newTeamInputted = newTeam[newTeam.length - 1];
          const employeeFromSelectedTeam = [];

          this.listEmployee.forEach((employee) => {
            if (employee.group_id === newTeamInputted.id) {
              employeeFromSelectedTeam.push(employee);
            }
          });

          this.selected_data_employee = this.selected_data_employee
            .concat(employeeFromSelectedTeam);

          const uniqueEmployee = [];
          const map = new Map();

          this.selected_data_employee.forEach((item) => {
            if (!map.has(item.id)) {
              map.set(item.id, true); // set any value to Map
              uniqueEmployee.push(item);
            }
          });

          this.selected_data_employee = uniqueEmployee;
        } else if (newTeam.length < oldTeam.length) {
          // Filter array by array
          const filteredArray = this.selected_data_employee
            .filter(el => newTeam.some(team => team.id === el.group_id));
          // Inserting new array
          this.selected_data_employee = filteredArray;
        }
      } else {
        this.first_load = false;
      }
    },
    venue_detail(val) {
      this.dataVenue = {
        name: val.name,
        address: val.address,
        description: val.description,
        employees: [],
        latitude: Number(val.latitude),
        longitude: Number(val.longitude),
        radius: Number(val.radius),
        is_selected_all_employee: false,
      };

      this.data_location = {
        latitude: Number(val.latitude),
        longitude: Number(val.longitude),
        radius: Number(val.radius),
      };

      this.selected_address = {
        id: 0,
        label: val.address,
      };

      this.showMaps = true;
    },
    employee_list(data) {
      data.forEach((el) => {
        this.listEmployee.push({
          id: el.user_company_id,
          text: `${el.first_name} ${el.last_name} (${el.group_name})`,
          group_id: el.group_id,
          group_name: el.group_name,
        });
      });

      if (this.mode === 'edit') {
        this.venue_detail.user_company_ids.forEach((el) => {
          this.selected_data_employee.push({
            id: el,
          });
        });

        this.previous_employee = this.selected_data_employee;

        // eslint-disable-next-line
        const filteredEmployee = this.listEmployee.filter((el) => {
          return this.selected_data_employee.find(val => val.id === el.id);
        });

        this.selected_data_team = Array.from(new Set(filteredEmployee.map(el => el.group_id)))
          // eslint-disable-next-line
          .map(group_id => ({
            id: group_id,
          }));
      }
    },
    team_list(data) {
      data.forEach((el) => {
        this.listTeam.push({
          id: el.id,
          text: el.title,
        });
      });
    },
    selected_address(val) {
      if (typeof val !== 'undefined') {
        if (typeof val.geometry !== 'undefined') {
          const { location } = val.geometry;
          this.dataVenue.latitude = location.lat;
          this.dataVenue.longitude = location.lng;

          this.dataVenue.address = this.selected_address.label;
        }
      } else {
        this.dataVenue.latitude = null;
        this.dataVenue.longitude = null;

        this.dataVenue.address = null;
      }
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        venue: {
          id: this.$route.params.id,
        },
      };
      this.actionGetVenueDetail(params);
    } else if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.setLatLong);
      this.showMaps = true;
    }

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
    };
    this.actionGetTeam(params);
    this.actionGetEmployee(params);
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetTeam', 'actionGetEmployee', 'actionGetVenueDetail', 'actionCreateVenue', 'actionUpdateVenue', 'actionDeleteVenue', 'actionSearchPlaceByLatLong']),

    selectAllEmployee() {
      this.selected_data_employee = [...this.listEmployee];
    },
    unselectAllEmployee() {
      this.selected_data_employee = [];
    },
    selectAllTeam() {
      this.selected_data_team = [...this.listTeam];
      this.selected_data_employee = [...this.listEmployee];
    },
    unselectAllTeam() {
      this.selected_data_team = [];
    },
    loadOptionsAddress({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          this.$store.dispatch('jStoreAttendance/actionSearchPlaceByAddress', { searchQuery, callback });
        } else {
          callback(null, false);
        }
      }
    },
    setLatLong(position) {
      this.dataVenue.latitude = Number(position.coords.latitude);
      this.dataVenue.longitude = Number(position.coords.longitude);

      this.setPlace();
    },
    async setPlace() {
      if (this.dataVenue.latitude && this.dataVenue.longitude) {
        const res = await this.actionSearchPlaceByLatLong({
          lat: this.dataVenue.latitude,
          lng: this.dataVenue.longitude,
        });
        if (res.status.toUpperCase() === 'OK') {
          if (res.results.length > 0) {
            this.selected_address = {
              ...res.results[0],
              id: res.results[0].place_id,
              label: res.results[0].formatted_address,
            };
            this.dataVenue.address = res.results[0].formatted_address;
          }
        }
      }
    },
    async submitRecord() {
      this.$v.dataVenue.$touch();
      if (!this.$v.dataVenue.$error) {
        this.dataVenue.employees = [];
        let res;
        if (this.mode === 'create') {
          this.selected_data_employee.forEach((el) => {
            this.dataVenue.employees.push(el.id);
          });
          res = await this.actionCreateVenue(this.dataVenue);
        } else {
          this.previous_employee.forEach((el) => {
            this.dataVenue.employees.push({
              id: el.id,
              is_delete: false,
            });
          });
          this.dataVenue.id = this.$route.params.id;

          // delete mapping
          this.dataVenue.employees.forEach((val) => {
            if (this.selected_data_employee.some(el => el.id === val.id) === false) {
              // eslint-disable-next-line no-param-reassign
              val.is_delete = true;
            }
          });

          // add new mapping empoloyee
          this.selected_data_employee.forEach((val) => {
            if (this.previous_employee.some(el => el.id === val.id) === false) {
              this.dataVenue.employees.push({
                id: val.id,
                is_delete: false,
              });
            }
          });
          res = await this.actionUpdateVenue(this.dataVenue);
        }

        if (!res.error) {
          this.dataVenue = {
            name: null,
            description: null,
            address: null,
            employees: [],
            latitude: null,
            longitude: null,
            radius: 300,
            is_selected_all_employee: false,
          };

          this.$v.dataVenue.$reset();
          this.$router.go(-1);
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataVenue.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              venue:
                {
                  id: Number(this.$route.params.id),
                },
            };
            await this.actionDeleteVenue(params);
            this.$router.go(-1);
          }
        }
      });
    },
    getPlaceMap(place) {
      if (place) {
        this.dataVenue.address = place.formatted_address;
        if (place.geometry && place.geometry.location) {
          this.dataVenue.latitude = place.geometry.location.lat();
          this.dataVenue.longitude = place.geometry.location.lng();
          this.dataVenue.radius = place.geometry.location.radius;
        }
      }
    },
  },
};
</script>

<style lang="scss">
  #venue-form-update {
    .custom-control {
      padding-left: 5px !important;
    }

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
