<template>
  <div
    id="venue-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openEditForm">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openCreateForm">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <j-import-file-oos
            v-if="default_import"
            :href-sample="require('@/assets/file/template_import_venue.xlsx')"
            @import-data="importData"/>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="generateXLS">
            <i class="fa fa-cloud-download fa-lg"/> Generate xls
          </b-button>
          <b-button
            id="venue-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <j-progress-screen
      ref="ImportFile"
      :data-kirim="data_import"
      :url-api="urlImport"
      :headers="headers"
      property-data="data"
      @finish="uploadDone"/>
    <b-modal
      ref="modalPosition"
      class="mod-form"
      centered>
      <h3 class="float-to-center c--red">
        Error Data
      </h3>
      <v-client-table
        v-if="error_data[0]"
        :data="error_data"
        :columns="column"
        :options="option"
        class="jTable">

        <div
          slot="ERROR"
          slot-scope="props">
          <div
            v-for="(err, index) in props.row.ERROR"
            :key="index">
            {{ err }}
          </div>
        </div>

      </v-client-table>
      <download-excel
        :data="error_data"
        class="float-to-right m__t--30"
        name="Position-data-error.xls">
        <b-button class="btn green">
          Export Error
        </b-button>
      </download-excel>
    </b-modal>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="venue-table"
      target="venue-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <!-- <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/> -->
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import Vue from 'vue';
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      default_import: true,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['NAME', 'CODE', 'ERROR'],
      option: {
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      data_import: [],
      raw_data: null,

      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'name', 'description', 'address', 'updated_date', 'created_date'],
      options: {
        headings: {
          id: 'ID',
          name: 'NAME',
          description: 'DESCRIPTION',
          address: 'ADDRESS',
          updated_date: 'UPDATED DATE',
          created_date: 'CREATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'name', 'updated_date', 'created_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'updated_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getVenueList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter(data) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    urlImport() {
      const getEnv = 'times/attendance-venue/config/import';
      return getEnv;
    },
    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreAttendance', ['actionExportVenue']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    openEditForm({ row }) {
      this.$router.push(`${this.oosRoute}/attendance/config/venue/edit/${row.id}`);
    },
    openCreateForm() {
      this.$router.push(`${this.oosRoute}/attendance/config/venue/create`);
    },
    generateXLS() {
      setTimeout(() => {
        this.actionExportVenue();
      }, 0);
    },
    importData(val) {
      this.data_import = [];
      this.is_error = false;
      this.list_error = [];
      this.error_data = val;

      const keys = Object.keys(val[0]);
      if (keys[0] !== 'NAME' || keys[1] !== 'DESCRIPTION' || keys[2] !== 'ADDRESS' || keys[3] !== 'LATITUDE' || keys[4] !== 'LONGITUDE' || keys[5] !== 'RADIUS' || keys[6] !== 'EMAIL') {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please use header format correctly');
      }

      this.raw_data = val;
      this.data_import = this.raw_data.map((raw, index) => this.genData(raw, index));

      setTimeout(() => {
        this.uploadData();
      }, 100);
    },
    uploadData() {
      this.$refs.ImportFile.toggleIsVisible();
    },
    uploadDone() {
      this.raw_data = [];
      this.is_finish = true;
      this.refreshTable();
      this.data_import = [];
      this.default_import = false;
      setTimeout(() => {
        this.default_import = true;
      }, 100);
    },
    genData(val, indexData) {
      this.list_error[indexData] = [];
      this.$set(this.error_data[indexData], 'ERROR', []);
      const packing = {
        name: '',
        description: '',
        address: '',
        latitude: 0,
        longitude: 0,
        radius: 0,
        email: [],
      };

      // name validations
      const strName = val.NAME ? val.NAME.trim() : '';
      if (val.NAME === undefined || strName.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field name is required');
        this.error_data[indexData].ERROR.push('- field name is required');
      } else {
        this.$set(packing, 'name', val.NAME);
      }

      // start date validations
      const strDescription = val.DESCRIPTION ? val.DESCRIPTION.trim() : '';
      if (val.DESCRIPTION === undefined || strDescription.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field description is required');
        this.error_data[indexData].ERROR.push('- field description is required');
      } else {
        this.$set(packing, 'description', val.DESCRIPTION);
      }

      // end date validation
      const strAddress = val.ADDRESS ? val.ADDRESS.trim() : '';
      if (val.ADDRESS === undefined || strAddress.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field address is required');
        this.error_data[indexData].ERROR.push('- field address is required');
      } else {
        this.$set(packing, 'address', val.ADDRESS);
      }

      // latitude validations
      const strLatitude = val.LATITUDE ? val.LATITUDE.trim() : '';
      if (val.LATITUDE === undefined || strLatitude.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field latitude is required');
        this.error_data[indexData].ERROR.push('- field latitude is required');
      } else {
        this.$set(packing, 'latitude', val.LATITUDE);
      }

      // longitude validations
      const strLongitude = val.LONGITUDE ? val.LONGITUDE.trim() : '';
      if (val.LONGITUDE === undefined || strLongitude.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field longitude is required');
        this.error_data[indexData].ERROR.push('- field longitude is required');
      } else {
        this.$set(packing, 'longitude', val.LONGITUDE);
      }

      // radius validations
      const strRadius = val.RADIUS ? val.RADIUS.trim() : '';
      if (val.RADIUS === undefined || strRadius.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field radius is required');
        this.error_data[indexData].ERROR.push('- field radius is required');
      } else {
        this.$set(packing, 'radius', val.RADIUS);
      }

      // email validations
      const strEmail = val.STAFF ? val.STAFF.trim() : '';
      if (val.STAFF === undefined || strEmail.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field email is required');
        this.error_data[indexData].ERROR.push('- field email is required');
      } else {
        const listEmail = val.STAFF.split(';');
        this.$set(packing, 'email', listEmail);
      }

      // this.data_import.push(packing);
      return packing;
    },
  },
};
</script>
