<template>
  <div
    v-show="false"
    id="page-header-html"
    class="page-header-html">
    <h2>
      <i
        :class="`fa fa-${icon}`"/>
      {{ title }}
    </h2>
    <hr>
    <br>
  </div>
</template>
<script>
export default {
  name: 'JPageHeader',
  props: {
    title: {
      type: String,
      default: 'Header',
    },
    icon: {
      type: String,
      default: 'user',
    },
  },
};
</script>
<style scoped>
  .page-header-html {
    margin-top: 20px;
  }

  h2 {
    text-transform: uppercase;
  }
</style>
