<template>
  <div>

    <j-tabs-v2
      v-if="showTab"
      :tabs="tabs"
    >
      <div
        id="tab-container"
        class="tab-content p--0">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp"
            :oos-route="oosRoute"
          />
        </div>
      </div>
    </j-tabs-v2>

  </div>
</template>

<script>
import jOvertimeTypeList from './jOvertimeTypeList';

export default {
  components: {
    jOvertimeTypeList,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    // eslint-disable-next-line vue/require-default-prop
    isNeedFormula: {
      type: Boolean,
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      tabs: [],
      showTab: false,
      listTabs: [
        {
          idTab: 'tab-0',
          title: 'Overtime Type',
          idComp: 'comp-type-0',
          comp: jOvertimeTypeList,
          isShow: true,
          isActive: true,
          link: `${this.oosRoute}/overtime/config/type/list`,
        },
        {
          idTab: 'tab-1',
          title: 'Formula',
          idComp: 'comp-type-1',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/overtime/config/formula/list`,
        },
        {
          idTab: 'tab-2',
          title: 'Policy',
          idComp: 'comp-type-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: `${this.oosRoute}/overtime/config/policy/list`,
        },
      ],
    };
  },
  computed: {
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
  created() {
    setTimeout(() => {
      if (this.isNeedFormula) {
        this.tabs = this.listTabs;
        this.showTab = true;
      } else {
        this.tabs.push(this.listTabs[0]);
        this.tabs.push(this.listTabs[2]);
        this.showTab = true;
      }
    }, 500);
  },
};
</script>
