<template>
  <div
    id="policy-form-update"
    class="p-4"
  >
    <b-row>
      <b-col
        md="9"
        sm="9"
        cols="12">

        <b-row>
          <b-col
            cols="8">
            <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataForm.name.$model"
                placeholder="ex: Overtime A"/>
            </b-form-group>
          </b-col>

          <b-col
            cols="4"
            md="4">
            <b-form-group :class="{'error-input' : $v.dataForm.icon.$error}">
              <label>Icon <span class="red"> * </span> </label>
              <j-single-select
                v-model="dataForm.icon"
                :options="icon_list"
                label="label"
                value-format="object"
                placeholder="Select icon"/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataForm.description.$error}">
              <label>Description <span class="red"> * </span> </label>
              <j-textarea
                v-model="$v.dataForm.description.$model"
                placeholder="ex: Description"/>
            </b-form-group>
          </b-col>

          <b-col
            v-show="times_features.includes(35)"
            cols="6"
            md="6">
            <b-form-group :class="{'error-input' : $v.dataForm.formula.$error}">
              <label>Formula <span class="red"> * </span> </label>
              <j-single-select
                v-model="dataForm.formula"
                :is-async="true"
                :load-options="loadOptionsFormula"
                label="label"
                value-format="object"
                placeholder="Select Formula"/>
            </b-form-group>
          </b-col>

          <b-col
            v-show="times_features.includes(35)"
            cols="6"
            md="6"/>

          <b-col
            cols="6"
            md="6">
            <b-form-group :class="{'error-input' : $v.dataForm.policy.$error}">
              <label>Policy <span class="red"> * </span> </label>
              <j-single-select
                v-model="dataForm.policy"
                :is-async="true"
                :load-options="loadOptionsPolicy"
                label="label"
                value-format="object"
                placeholder="Select Policy"/>
            </b-form-group>
          </b-col>

          <b-col
            cols="6"
            md="6"/>

          <b-col
            cols="6"
            md="6">
            <b-form-group :class="{'error-input' : $v.dataForm.form.$error}">
              <label>Form</label>
              <j-single-select
                v-model="dataForm.form"
                :is-async="true"
                :load-options="loadOptionsForm"
                label="text"
                value-format="object"
                placeholder="Select Form"/>
            </b-form-group>
          </b-col>

        </b-row>

        <b-row>
          <b-col cols="12">
            <b-button
              class="btn blue"
              @click="submitRecord">
              <i class="fa fa-upload"/>
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger pull-right"
              @click="deleteRecord">
              <i class="fa fa-trash"/>
              Delete
            </b-button>
          </b-col>
        </b-row>

      </b-col>

      <b-col
        md="3"
        sm="3"
        cols="12"/>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  components: {
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    const validate = {
      dataForm: {
        name: { required },
        description: { required },
        formula: { },
        policy: { required },
        form: { },
        icon: { required },
      },
    };
    if (this.times_features.includes(35)) {
      validate.dataForm.formula = { required };
    }
    return validate;
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Overtime Type' : 'Create Overtime Type',
      },
      dataForm: {
        name: '',
        description: '',
        formula: null,
        policy: null,
        form: null,
        icon: null,
      },
      icon_list: [
        {
          id: 'daily',
          label: 'Daily',
        },
        {
          id: 'engineer',
          label: 'Engineer',
        },
        {
          id: 'evening',
          label: 'Evening',
        },
        {
          id: 'manager',
          label: 'Manager',
        },
        {
          id: 'monthly',
          label: 'Monthly',
        },
        {
          id: 'morning',
          label: 'Morning',
        },
        {
          id: 'night',
          label: 'Night',
        },
        {
          id: 'non_manager',
          label: 'Non Manager',
        },
        {
          id: 'weekday',
          label: 'Weekday',
        },
        {
          id: 'weekend',
          label: 'Weekend',
        },
        {
          id: 'weekly',
          label: 'Weekly',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['type_detail', 'times_features']),

    genData() {
      const data = {
        id: this.mode === 'edit' ? this.$route.params.id : undefined,
        name: this.dataForm.name,
        description: this.dataForm.description,
        overtime_formula_block_id: this.dataForm.formula ? this.dataForm.formula.id : null,
        overtime_policy_id: this.dataForm.policy.id,
        additional_info_block_id: this.dataForm.form ? this.dataForm.form.id : '',
        icon: this.dataForm.icon.id,
      };
      return data;
    },
  },
  watch: {
    type_detail(val) {
      const labelFormula = sessionStorage.getItem('config-type-formula');
      this.dataForm = {
        name: val.name,
        description: val.description,
        formula: null,
        policy: null,
        form: null,
        icon: val.icon ? { id: val.icon } : null,
      };

      if (labelFormula) {
        this.dataForm.formula = {
          id: val.overtime_formula_block_id,
          label: labelFormula,
        };
      }
      if (val.overtime_policy) {
        this.dataForm.policy = {
          id: val.overtime_policy.id,
          label: val.overtime_policy.name,
        };
      }
      if (val.additional_info_block_id && val.additional_info_block_id_name) {
        this.dataForm.form = {
          id: val.additional_info_block_id,
          label: val.additional_info_block_id_name,
        };
      }
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        id: this.$route.params.id,
      };
      this.actionGetDetailOvertimeType(params);
    }
    this.actionGetListTimesFeatures();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetDetailOvertimeType', 'actionCreateOvertimeType', 'actionUpdateOvertimeType', 'actionDeleteOvertimeType', 'actionGetListTimesFeatures']),

    handleRouteBack() {
      sessionStorage.removeItem('config-type-formula');
      this.$router.push(`${this.oosRoute}/overtime/config/type/list`);
    },
    loadOptionsFormula({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStoreOvertime/actionGetListFormula', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsPolicy({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStoreOvertime/actionGetListPolicy', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsForm({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 10,
              page: 1,
              column: 'id',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStoreOvertime/actionGetListForm', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        let res;
        if (this.mode === 'create') {
          res = await this.actionCreateOvertimeType(this.genData);
        } else {
          res = await this.actionUpdateOvertimeType(this.genData);
        }

        if (!res.error) {
          this.dataForm = {
            name: '',
            description: '',
            formula: null,
            policy: null,
            form: null,
            icon: null,
          };

          this.$v.dataForm.$reset();
          sessionStorage.removeItem('config-type-formula');
          this.handleRouteBack();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              ids: [this.$route.params.id],
            };
            await this.actionDeleteOvertimeType(params);
            this.handleRouteBack();
          }
        }
      });
    },
  },
};
</script>

<style lang="scss">
  #policy-form-update {
    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
