<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        v-show="load_first"
        ref="tableTax"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="tax_status_id"
          slot-scope="props">
          {{ taxStatus(props) }}
        </div>
        <div
          slot="effective_begin"
          slot-scope="props">
          {{ props.row.effective_begin | moment("DD MMM YYYY") }}
        </div>
        <div
          slot="effective_end"
          slot-scope="props">
          {{ props.row.effective_end | moment("DD MMM YYYY") }}
        </div>

      </v-server-table>

      <jLoadingTable v-if="!load_first"/>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle, no-param-reassign, no-plusplus */
import { mapActions, mapMutations, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import jApiPayrollInfo from '@/services/jApiPayrollInfo';
import eventBus from '../event-bus/index';

export default {
  name: 'JTaxStatusTable',
  components: {
    jLoadingTable,
  },
  mixins: [jGlobalOptions],
  props: {
    payrollId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      load_first: false,
      currentRow: 0,
      filter_data: '',
      columns: ['tax_status_id', 'effective_begin', 'effective_end', 'created_by', 'updated_by'],
      options: {
        headings: {
          tax_status_id: 'Tax Status',
          effective_begin: 'Eff Start Date',
          effective_end: 'Eff End Date',
          created_by: 'Created By',
          updated_by: 'Updated By',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['tax_status_id', 'effective_begin', 'effective_end', 'created_by', 'updated_by'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        orderBy: {
          ascending: false,
          column: 'effective_begin',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            _this: data._this,
          };
        },
        async requestFunction({ payrollId, pagination, _this }) {
          _this.setTaxStatusInfoUpdated(null);
          const res = await jApiPayrollInfo.getTaxStatus(payrollId, pagination);
          if (!res.data.error) {
            if (res.data.data.length > 0) {
              _this.setTaxStatusInfoUpdated(res.data.data.slice(-1).pop());
            }
            return res;
          }
          return { data: { data: [] } };
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length || 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['statusTaxList']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableTax.setFilter('');
      }
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
    });
  },
  methods: {
    ...mapMutations('jStorePayrollInfo', ['setTaxStatusInfoUpdated']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(data) {
      const params = data;
      params.payrollId = Number(this.payrollId);
      params._this = this;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.tableTax.refresh();
    },
    filter(val) {
      this.$refs.tableTax.setFilter(val);
    },

    taxStatus({ row }) {
      const data = this.statusTaxList.find(el => Number(el.value) === Number(row.tax_status_id));
      return data ? data.text : '';
    },
    goTodetail(param) {
      this.$emit('tax-status', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true);
    },
    editRecord({ row }) {
      this.$emit('tax-status', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
  },
};
</script>
<style lang="scss">
  .green-color {
    color: $green-basic-color
  }

  .yellow-background-color {
    background-color: #FFDD6B;
  }

  .red-color {
    color: $red-basic-color;
  }

  .custom-position__container {
    position: relative;
    top: -55px;
    overflow: hidden;
    display: block;
    width: 38%;
    text-align: center
  }

  .custom-position__btn{
    margin-left: 71px;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) >
  div > div.col-8 > div > div.custom-table > div >
  div:nth-child(1) > div > div.form-group.form-inline.pull-right.VueTables__limit {
    visibility: hidden;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) > div > div.col-8 >
  div > div.custom-table > div > div.VuePagination.row.col-md-12 > nav > ul {
    visibility: hidden;
  }
</style>
