<template>
  <div :class="formContainerClass">
    <!-- <span
      v-if="!is_submit_mode"
      id="close-icon"
      class="right-top-span"
      @click="cancelForm()"
    >
      <i class="fa fa-times close-icon"/>
    </span> -->
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.career_history.company_name.$error}">
          <label class="form__label">Company Name</label>
          <j-input
            v-model="$v.career_history.company_name.$model"
            placeholder="Company Name"/>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group :class="{'error-input' : $v.career_history.start_year.$error}">
              <label class="form__label">Begin Year</label>
              <j-datepicker
                v-model="$v.career_history.start_year.$model"
                :disabled-dates="disabledStartDate($v.career_history.end_year.$model)"
                :disabled="false"
                format="MMM dd, yyyy"
                placeholder="Jan 01, 2019"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :class="{'error-input' : $v.career_history.end_year.$error}">
              <label class="form__label">End Year</label>
              <j-datepicker
                v-model="$v.career_history.end_year.$model"
                :disabled-dates="disabledEndDate($v.career_history.start_year.$model)"
                :disabled="career_history.isActive"
                format="MMM dd, yyyy"
                placeholder="Jan 01, 2019"/>
              <div
                class="checkbox-present">
                <input
                  v-model="career_history.isActive"
                  type="checkbox"
                  @click="checkPresent()">
                Present
              </div>
            </b-form-group>
          </b-col>
        </b-row>
        <b-form-group :class="{'error-input' : $v.career_history.position.$error}">
          <label class="form__label">Job Position</label>
          <j-input
            v-model="$v.career_history.position.$model"
            placeholder="Job Position"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.career_history.description.$error}">
          <label class="form__label">Job Description</label>
          <j-input
            v-model="$v.career_history.description.$model"
            placeholder="Job Description"/>
        </b-form-group>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import eventBus from './event-bus/index';

export default {
  name: 'JCareerHistoryForm',
  components: {
    Spinner,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      career_history: {
        id: 0,
        company_name: null,
        position: null,
        description: null,
        start_year: null,
        end_year: null,
        isActive: false,
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        company_name: null,
        position: null,
        description: null,
        start_year: null,
        end_year: null,
      },
    };
  },
  computed: {
    formContainerClass() {
      return 'form-container--normal';
      // if (this.is_submit_mode) {
      //   return 'form-container--normal';
      // }
      // return 'form-container--chosen';
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        this.career_history.id = data.id;
        this.career_history.company_name = data.company_name;
        this.career_history.position = data.position;
        this.career_history.description = data.description;
        this.career_history.start_year = data.start_year;
        this.career_history.end_year = data.end_year;
        this.career_history.isActive = data.is_active;

        this.is_submit_mode = false;
        this.submit_text = 'Update';

        this.previous_data = Object.assign({}, this.career_history);
      } else {
        this.career_history.id = 0;
        this.career_history.company_name = null;
        this.career_history.position = null;
        this.career_history.description = null;
        this.career_history.start_year = null;
        this.career_history.end_year = null;
        this.career_history.isActive = false;

        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.career_history.$reset();
      }
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });
  },
  methods: {
    checkPresent() {
      this.career_history.isActive = !this.career_history.isActive;
      this.$v.career_history.end_year.$model = null;
    },
    submit() {
      this.$v.career_history.$touch();
      if (!this.$v.career_history.$error) {
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          const { id, company_name: companyName, position, description,
            start_year: startYear, end_year: endYear, isActive } = this.career_history;

          const newObject =
            {
              id,
              company_name: companyName,
              position,
              description,
              start_year: startYear,
              end_year: endYear,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.postCareerHistory(employeeId, newObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;
          const { id, company_name: companyName, position, description,
            start_year: startYear, end_year: endYear, isActive } = this.career_history;

          const patchedObject =
            {
              id,
              company_name: companyName,
              position,
              description,
              start_year: startYear,
              end_year: endYear,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateCareerHistory(employeeId, id, patchedObject).then((res) => {
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      }
    },
    cancelForm() {
      this.career_history.company_name = null;
      this.career_history.position = null;
      this.career_history.description = null;
      this.career_history.start_year = null;
      this.career_history.end_year = null;
      this.career_history.isActive = false;

      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      setTimeout(() => {
        this.$v.career_history.$reset();
      }, 0);

      eventBus.$emit('currentRow', 0);
    },
    revert() {
      this.is_loading.revert = true;
      this.career_history = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;

      this.$emit('close-modal', true);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id } = this.currentObject;
          const { id: employeeId } = this.$route.params;

          jApiEmployee.deleteCareerHistory(employeeId, id).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        } else {
          this.is_loading.remove = false;
        }
        this.$emit('close-modal', true);
      });
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      const yesterday = new Date().setDate(new Date().getDate() - 1);
      return {
        color: 'light-grey',
        ranges: [{
          from: this.career_history.end_year ? Date.parse(endDate) : yesterday,
          to: new Date(200000, 1, 1),
        }],
      };
    },
  },
  /*
  Career History (multiple)

  Company Name (free text, mandatory)

  Begin Year (MM/YY, mandatory)

  End Year (MM/YY, mandatory)

  checkbox : present, jika true, maka end year disable.

  Job Position (free text, mandatory)

  Job Description (free text, optional)
  * */
  validations() {
    return {
      career_history: {
        company_name: {
          required,
        },
        position: {
          required,
        },
        description: {
        },
        start_year: {
          required,
        },
        end_year: {
          required: requiredIf(() => !this.career_history.isActive),
        },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
