<template>
  <div class="d-flex align-items-start">
    <img
      src="@/assets/field-library/dragged.svg"
      class="icon-drag"
    >

    <!-- Field Single & Dynamic Attachment Preview -->
    <div
      v-if="column.type === 'single_attachment' || column.type === 'multiple_attachment_dynamic'"
      class="field-preview"
    >
      <div class="input-preview attachment-preview">
        <img
          class="mr-2"
          src="@/assets/field-library/attachment.svg"
        >
        <span>Document 1</span>
      </div>
    </div>

    <!-- Field Multiple Attachment Preview -->
    <div
      v-else-if="column.type === 'attachment'"
      class="field-preview"
    >
      <div class="input-preview attachment-preview">
        <img
          class="mr-2"
          src="@/assets/field-library/attachment.svg"
        >
        <span>Document 1</span>
      </div>
      <div class="input-preview attachment-preview">
        <img
          class="mr-2"
          src="@/assets/field-library/attachment.svg"
        >
        <span>Document 2</span>
      </div>
    </div>

    <!-- Field Toggle Preview -->
    <div
      v-else-if="column.type === 'toggle'"
      class="field-preview"
    >
      <j-toggle
        :disabled="true"
        class="toggle-preview"
      />
    </div>

    <!-- Field Checkbox Preview -->
    <div
      v-else-if="column.type === 'checkbox'"
      class="field-preview"
    >
      <div
        v-for="index in 2"
        :key="index"
        class="form-group checkbox-preview"
      >
        <input
          :id="`checkbox${index}`"
          type="checkbox"
          disabled="true"
        >
        <label :for="`checkbox${index}`">
          {{ `Option ${index}` }}
        </label>
      </div>
    </div>

    <!-- Field Radio Preview -->
    <div
      v-else-if="column.type === 'radio'"
      class="field-preview"
    >
      <div
        v-for="index in 2"
        :key="index"
        class="form-group checkbox-preview"
      >
        <input
          :id="`radio${index}`"
          type="radio"
          disabled="true"
        >
        <label :for="`radio${index}`">
          {{ `Option ${index}` }}
        </label>
      </div>
    </div>

    <!-- Field Maps Preview -->
    <div
      v-else-if="column.type === 'location'"
      class="field-preview"
    >
      <div
        :class="setPreviewType(column.type)"
        class="input-preview text-preview"
      >
        <span>{{ `${column.placeholder || 'Placeholder'}` }}</span>
      </div>

      <div class="map-preview"/>
    </div>

    <!-- Field Group Preview -->
    <div
      v-else-if="column.type === 'group'"
      class="field-preview">
      <div class="group-preview">
        <div class="group-preview-header">
          <span class="index">1</span>
          <div />
        </div>
        <div class="group-preview-container">
          <div
            v-for="n in 2"
            :key="n">
            <span>Label</span>
            <div class="input-preview text-preview">
              <span>{{ `${column.placeholder || 'Placeholder'}` }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Field Table Group Preview -->
    <div
      v-else-if="column.type === 'table_group'"
      class="field-preview">
      <div class="group-preview">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th
                class="text-center"
                style="width: 100px">Action</th>
              <th
                v-for="n in 3"
                :key="n"
                class="text-center">Label</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td/>
              <td
                v-for="n in 3"
                :key="n">
                <div class="input-preview text-preview">
                  <span>{{ `${column.placeholder || 'Placeholder'}` }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Field Dynamic Field Preview -->
    <div
      v-else-if="column.type === 'dynamic_field'"
      class="field-preview">
      <div class="group-preview">
        <div class="group-preview-container">
          <div
            v-for="n in 2"
            :key="n">
            <span>Label</span>
            <div class="input-preview text-preview">
              <span>{{ `${column.placeholder || 'Placeholder'}` }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Field Code Editor Preview -->
    <div
      v-else-if="column.type === 'code_editor'"
      class="field-preview">
      <div class="code-editor-preview">
        <div class="code-editor-preview-container">
          <span>1</span>
          <div/>
        </div>
      </div>
    </div>

    <!-- Field Preview -->
    <div
      v-else
      class="field-preview"
    >
      <div
        :class="setPreviewType(column.type)"
        class="input-preview"
      >
        <span>{{ `${column.placeholder || 'Placeholder'}` }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    column: {
      type: Object,
      default: () => null,
    },
  },

  methods: {
    setPreviewType(type) {
      let classType = '';

      if (
        type === 'text' || type === 'number' || type === 'number_decimal' ||
        type === 'currency' || type === 'single_selection' || type === 'multiple_selection' ||
        type === 'user_single_selection' || type === 'password' || type === 'date' || type === 'time' ||
        type === 'date_time' || type === 'single_tags_selection' || type === 'multiple_tags_selection'
      ) {
        classType = 'text-preview';
      } else if (type === 'descriptive') {
        classType = 'textarea-preview';
      } else if (type.includes('attachment')) {
        classType = 'attachment-preview';
      }

      return classType;
    },
  },
};
</script>
