<template>
  <div class="skeleton-field-list">
    <div
      v-for="index in 20"
      :key="index"
      class="list"
    />
  </div>
</template>

<style lang="scss" scoped>
  .skeleton-field-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
    grid-gap: 8px;

    .list {
      height: 90px;
      background-color: #F4F4F4;
      border-radius: 6px;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes pulse {
      50% {
        opacity: .5;
      }
    }
  }

  @media screen and (max-width: 1366px) {
    .skeleton-field-list {
      grid-template-columns: repeat(auto-fill, minmax(88px, 88px));

      .list {
        height: 70px;
      }
    }
  }
</style>
