<template>
  <div
    id="modalFieldLibrary"
    :style="isReduceBlur ? 'background-color: rgba(255,255,255,0.9);' : ''"
    class="modal-field-library"
  >
    <div class="modal-field-title">TOOLBOX</div>

    <div class="modal-field-content">
      <!-- Input Search -->
      <div class="input-search">
        <i class="fa fa-search" />
        <input
          v-model="searchField"
          type="text"
          placeholder="Search"
        >
      </div>

      <!-- Field List -->
      <div class="wrap-field">
        <div
          v-for="fields in fieldsLibrary"
          :key="fields.section"
          class="field-section"
        >
          <p
            v-if="fields.section"
            class="title-section"
          >
            {{ fields.section }}
          </p>

          <!-- Skeleton Fields -->
          <j-skeleton-field-library v-if="isLoading" />

          <div
            v-else
            class="field-list"
          >
            <div
              v-for="field in fields.fields"
              :key="field.type"
              :id="field.type"
              class="list"
              @click="selectField(field)"
            >
              <img
                :src="require(`@/assets/field-library/field-icon-active/${field.type}.svg`)"
                class="field-icon field-icon-active"
              >
              <img
                :src="require(`@/assets/field-library/field-icon/${field.type}.svg`)"
                class="field-icon field-icon-default"
              >
              <span>{{ field.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-field-footer">
      <button @click="$emit('close-modal')">Close</button>
    </div>
  </div>
</template>

<script>
/* eslint-disable max-len, no-param-reassign, no-plusplus */
import jSkeletonFieldLibrary from '@/views/application/application-component/form-ui/form-base/field-library/jSkeletonFieldLibrary';

export default {
  components: {
    jSkeletonFieldLibrary,
  },

  props: {
    isReduceBlur: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      isLoading: true,
      fieldHover: '',
      searchField: '',
      fieldLists: [
        {
          section: 'Basic',
          fields: [
            { type: 'text', name: 'Text' },
            { type: 'descriptive', name: 'Text Area' },
            { type: 'number', name: 'Number' },
            { type: 'number_decimal', name: 'Number (Decimal)' },
            { type: 'currency', name: 'Currency' },
            // { type: 'single_selection', name: 'Single Selection' },
            // { type: 'multiple_selection', name: 'Multiple Selection' },
            // { type: 'user_single_selection', name: 'User Selection' },
            // { type: 'password', name: 'Password' },
            // { type: 'toggle', name: 'Toggle' },
            // { type: 'checkbox', name: 'Checkbox' },
            // { type: 'radio', name: 'Radio' },
          ],
        },
        {
          section: 'Date Time',
          fields: [
            { type: 'date', name: 'Date' },
            { type: 'time', name: 'Time' },
            { type: 'date_time', name: 'Date Time' },
            // { type: 'timer', name: 'Timer' },
          ],
        },
        {
          section: 'Attachment',
          fields: [
            { type: 'single_attachment', name: 'Single Attachment' },
            // { type: 'attachment', name: 'Multiple Attachment' },
            { type: 'multiple_attachment_dynamic', name: 'Dynamic Attachment' },
          ],
        },
        {
          section: 'Data Connection',
          fields: [
            { type: 'relation_record', name: 'Relation Record' },
            { type: 'multiple_relation_record', name: 'Multiple Relation Record' },
            // { type: 'relation_record_external_api', name: 'Relation Record External API' },
            // { type: 'multiple_relation_record_external_api', name: 'Multiple Relation Record Ext API' },
          ],
        },
        // {
        //   section: 'Others',
        //   fields: [
        //     { type: 'separator', name: 'Separator' },
        //     { type: 'custom_html', name: 'HTML' },
        //     { type: 'digital_signature', name: 'Digital Signature' },
        //     { type: 'code_editor', name: 'Code Editor' },
        //     { type: 'table_group', name: 'Table Group' },
        //     { type: 'group', name: 'Field Group' },
        //     { type: 'dynamic_field', name: 'Dynamic Field' },
        //     { type: 'single_tags_selection', name: 'Single Tag' },
        //     { type: 'multiple_tags_selection', name: 'Multiple Tag' },
        //     { type: 'location', name: 'Maps' },
        //   ],
        // },
      ],
      fieldsLibrary: [],
    };
  },

  computed: {
  },

  watch: {
    searchField(val) {
      if (val.length > 0) {
        const dataFields = this._.cloneDeep(this.fieldsLibrary);

        dataFields.filter(fields => fields.fields.some(field => field.name.toLowerCase().includes(val.toLowerCase())));
        dataFields.forEach((fields) => {
          fields.fields = fields.fields.filter(field => field.name.toLowerCase().includes(val.toLowerCase()));
        });

        this.fieldsLibrary = dataFields;
      } else {
        this.refreshDataField();
      }
    },
  },

  created() {
    this.insertDataFields();
    setTimeout(() => {
      this.isLoading = false;
    }, 400);
  },

  methods: {
    insertDataFields() {
      this.fieldsLibrary = this.fieldLists;
    },

    refreshDataField() {
      this.isLoading = true;
      this.insertDataFields();
      setTimeout(() => {
        this.isLoading = false;
      }, 400);
    },

    selectField(field) {
      this.$emit('close-modal', field);
    },
  },
};
</script>
