<!-- eslint-disable max-len -->
<template>
  <div
    :id="id"
    :class="{ 'properties-field-group': isGroup }"
    class="properties-field"
  >
    <div
      v-if="fieldDetail"
      class="wrap-properties"
    >
      <!-- Title Properties -->
      <div class="properties-field-title">
        <h4 class="title">
          Properties
          <div class="title-badge">Field</div>
        </h4>
        <div
          class="close-properties"
          @click="submitForm(true)"
        >
          &times;
        </div>

        <div class="wrap-type">
          <img :src="require(`@/assets/field-library/field-icon/${fieldDetail.type}.svg`)">
          <div class="text-type">{{ fieldDetail.type.split('_').join(' ') }}</div>
        </div>
      </div>

      <!-- Content Properties -->
      <div class="properties-field-content">
        <div class="section-field input-field">
          <b-row>
            <!-- Key Properties -->
            <b-col cols="12">
              <b-form :class="{'error-input' : $v.dataSetup.key.$error}">
                <div class="title-field">
                  <label> Key </label>
                </div>
                <j-input
                  v-model="dataSetup.key"
                  placeholder="Enter key"
                />
                <div class="field-information">
                  A distinct characteristic of an object specified
                </div>
              </b-form>
            </b-col>

            <!-- Mandatory Properties -->
            <b-col
              v-if="type !== 'data_preview' && (
                dataSetup.type.id !== 'separator' &&
                dataSetup.type.id !== 'custom_html'
              )"
              cols="4">
              <b-form :class="{'error-input' : $v.dataSetup.isMandatory.$error}">
                <label> Mandatory </label>
                <j-toggle v-model="dataSetup.isMandatory" />
              </b-form>
            </b-col>

            <!-- Disable Properties -->
            <b-col
              v-if="type !== 'data_preview' && (
                dataSetup.type.id !== 'separator' &&
                dataSetup.type.id !== 'custom_html'
              )"
              cols="4">
              <b-form :class="{'error-input' : $v.dataSetup.isDisable.$error}">
                <label> Disable </label>
                <j-toggle v-model="dataSetup.isDisable" />
              </b-form>
            </b-col>

            <!-- Hidden Properties -->
            <b-col
              v-if="type !== 'data_preview' && (
                dataSetup.type.id !== 'separator' &&
                dataSetup.type.id !== 'custom_html'
              )"
              cols="4">
              <b-form :class="{'error-input' : $v.dataSetup.isHidden.$error}">
                <label> Hidden </label>
                <j-toggle v-model="dataSetup.isHidden" />
              </b-form>
            </b-col>
          </b-row>

          <!-- Label Properties -->
          <b-form :class="{'error-input' : $v.dataSetup.name.$error}">
            <label> Label </label>
            <j-input
              v-model="dataSetup.name"
              placeholder="Enter field label"
            />
            <div class="field-information">
              Field Labels are the name of the data entry area form that help let users know what information to enter into the field.
            </div>
          </b-form>

          <!-- Placeholder Properties -->
          <b-form :class="{'error-input' : $v.dataSetup.placeholder.$error}">
            <label> Placeholder </label>
            <j-input
              v-model="dataSetup.placeholder"
              placeholder="Enter field placeholder"
            />
            <div class="field-information">
              Placeholders are words that can refer to an instance of value
            </div>
          </b-form>

          <!-- Grid Properties -->
          <b-form :class="{'error-input' : $v.dataSetup.grid.$error}">
            <label> Width </label>
            <div class="input-width">
              <input
                v-model="dataSetup.grid"
                type="range"
                min="1"
                max="12"
              >
              <div class="value">
                <span>{{ dataSetup.grid }}</span> / 12
              </div>
            </div>
            <div class="field-information">
              The width-size property defines the number of columns in your width layout, and it can define the width of each column.
            </div>
          </b-form>
        </div>

        <!-- Parse Variable Properties -->
        <div
          v-if="isGroup"
          class="section-field input-field"
        >
          <h4 class="title-section">Parse Value To</h4>

          <b-form :class="{'error-input' : $v.dataSetup.variable.$error}">
            <label> Column </label>
            <j-single-select
              v-model="dataSetup.variable"
              :options="variableOptionsFiltered"
              :placeholder="'Select Column'"
              value-format="object"
              label="label"/>
          </b-form>
        </div>

        <!-- Config Properties -->
        <div
          v-if="isHaveConfig"
          class="section-field input-field"
        >
          <h4 class="title-section">Configuration</h4>

          <!-- Accepted File Type Properties -->
          <div
            v-if="dataSetup.type.id === 'attachment' || dataSetup.type.id === 'multiple_attachment_dynamic' || dataSetup.type.id === 'single_attachment'"
            class="configuration-section"
          >
            <h4 class="configuration-section-title">Accepted File Type</h4>
            <p class="configuration-section-desc">
              File types allowed to upload
            </p>
            <b-form :class="{'error-input' : $v.dataSetup.acceptedFileType.$error}">
              <j-multi-select
                v-model="$v.dataSetup.acceptedFileType.$model"
                :options="list_accepted_file_type"
                placeholder="Select Accepted File Type"/>
            </b-form>
          </div>

          <!-- Use Camera Properties -->
          <div
            v-if="dataSetup.type.id === 'attachment' || dataSetup.type.id === 'multiple_attachment_dynamic' || dataSetup.type.id === 'single_attachment'"
            class="configuration-section"
          >
            <h4 class="configuration-section-title">Attachment Source</h4>
            <p class="configuration-section-desc">
              Choose the method to be the source of the attachment
            </p>

            <b-form :class="{'error-input' : $v.dataSetup.isUseCamera.$error}">
              <div class="div-input-location">
                <label>File Manager</label>
                <j-toggle
                  v-model="dataSetup.sourceCamera"
                  class="toggle" />
              </div>
              <div class="div-input-location">
                <label>Rear Camera</label>
                <j-toggle
                  v-model="rearCamera"
                  class="toggle" />
              </div>
              <div class="div-input-location">
                <label>Front Camera</label>
                <j-toggle
                  v-model="frontCamera"
                  class="toggle" />
              </div>
            </b-form>
          </div>

          <!-- Data Source Properties -->
          <div
            v-if="dataSetup.type.id === 'relation_record' || dataSetup.type.id === 'multiple_relation_record'"
            class="configuration-section"
          >
            <h4 class="configuration-section-title">Data Source</h4>
            <p class="configuration-section-desc">
              Choose the data table that will be used as the data source
            </p>
            <b-form :class="{'error-input' : $v.dataSetup.sourceData.tableGroup.$error}">
              <label> Table Group </label>
              <j-single-select
                v-model="$v.dataSetup.sourceData.tableGroup.$model"
                :error-required="$v.dataSetup.sourceData.tableGroup.$error"
                :options="tableGroupOptions"
                :placeholder="'Select Table Group'"
                value-format="object"
                label="name"/>
            </b-form>
            <b-form :class="{'error-input' : $v.dataSetup.sourceData.form.$error}">
              <label> Table </label>
              <j-single-select
                v-model="$v.dataSetup.sourceData.form.$model"
                :error-required="$v.dataSetup.sourceData.form.$error"
                :disabled="!dataSetup.sourceData.tableGroup"
                :options="tableOptions"
                :placeholder="'Select Table'"
                value-format="object"
                label="name"/>
            </b-form>
          </div>

          <!-- Filter Properties -->
          <div
            v-if="dataSetup.type.id === 'relation_record' || dataSetup.type.id === 'multiple_relation_record'"
            class="configuration-section"
          >
            <div class="configuration-toggle-in-title">
              <div class="wrap-title">
                <h4 class="configuration-section-title">Filter</h4>
                <p class="configuration-section-desc">
                  Filter data according to the parameters
                </p>
              </div>

              <!-- Filter Operator -->
              <div class="filter-option">
                <div class="filter-selected">{{ dataSetup.filterOperator }}</div>
                <i
                  class="fa fa-chevron-down"
                  @click="showFilterOptions = true"
                />

                <!-- Select Filter Operator -->
                <div
                  v-if="showFilterOptions"
                  class="filter-options"
                >
                  <p>Operator</p>

                  <div class="d-flex align-items-center justify-content-around">
                    <div
                      v-for="operator in filterOperatorOptions"
                      :key="operator.id"
                      :class="{'operator-selected': operator.id === dataSetup.filterOperator }"
                      class="operator-option"
                      @click="closeFilterOptions(operator.id)"
                    >
                      {{ operator.name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              v-for="(data, index) in dataSetup.filter"
              :key="index"
              class="div-filter"
            >
              <div class="header-filter">
                <div class="index">{{ index + 1 }}</div>
                <i
                  class="fa fa-trash"
                  @click="deleteFilter(index)"
                />
              </div>
              <b-form class="mb-2">
                <label> Key </label>
                <j-single-select
                  v-model="data.key"
                  :error-required="false"
                  :options="list_field_class"
                  :placeholder="'Select Column'"
                  value-format="object"
                  label="label"/>
              </b-form>
              <b-form>
                <label> Value </label>
                <j-input
                  v-model="data.value"
                  :error-required="false"
                  :placeholder="'Input Value'"/>
              </b-form>
            </div>

            <div
              class="btn-add-config"
              @click="addFilter">
              + Add Parameter
            </div>

            <div class="separator" />

            <!-- Retrieve Data Properties -->
            <div class="configuration-section">
              <div class="configuration-toggle-in-title">
                <div class="wrap-title">
                  <h4 class="configuration-section-title m-0">Retrieve data from Value Field</h4>
                </div>
                <j-toggle
                  v-model="dataSetup.isWithParam"
                  class="toggle" />
              </div>

              <div v-if="dataSetup.isWithParam">
                <b-form
                  :class="{'error-input' : $v.dataSetup.filterColumn.$error}"
                  class="mb-2"
                >
                  <label> Column </label>
                  <j-single-select
                    v-model="$v.dataSetup.filterColumn.$model"
                    :error-required="$v.dataSetup.filterColumn.$error"
                    :options="list_field_class"
                    label="label"
                    placeholder="Select Column"/>
                </b-form>
                <b-form
                  :class="{'error-input' : $v.dataSetup.fieldKey.$error}"
                  class="mb-2"
                >
                  <label> Field </label>
                  <j-single-select
                    v-model="$v.dataSetup.fieldKey.$model"
                    :error-required="$v.dataSetup.fieldKey.$error"
                    :options="list_field_key"
                    label="id"
                    placeholder="Select Field"/>
                </b-form>
              </div>
            </div>
          </div>

          <!-- Sorting Properties -->
          <div
            v-if="dataSetup.type.id === 'relation_record' || dataSetup.type.id === 'multiple_relation_record'"
            class="configuration-section"
          >
            <h4 class="configuration-section-title">Sorting</h4>
            <p class="configuration-section-desc">
              The displayed data can be sorted according to the specified parameters
            </p>
            <b-form
              :class="{'error-input' : $v.dataSetup.sorting.key.$error}"
              class="mb-2"
            >
              <label> Column </label>
              <j-single-select
                v-model="dataSetup.sorting.key"
                :error-required="false"
                :options="list_field_class"
                :placeholder="'Select column'"
                value-format="object"
                label="label"/>
            </b-form>

            <b-form
              :class="{'error-input' : $v.dataSetup.sorting.order.$error}"
              class="mb-3"
            >
              <label> Order Type </label>
              <j-single-select
                v-model="dataSetup.sorting.order"
                :error-required="false"
                :options="orderOptions"
                :placeholder="'Select order type'"
                value-format="object"
                label="label"/>
            </b-form>
          </div>

          <!-- Data Preview Properties -->
          <div
            v-if="dataSetup.type.id === 'relation_record'"
            class="configuration-section"
          >
            <div class="configuration-toggle-in-title">
              <div class="wrap-title">
                <h4 class="configuration-section-title m-0">Data Preview</h4>
                <p class="configuration-section-desc">
                  Displays the selected data with a customizable form display
                </p>
              </div>
              <j-toggle
                v-model="dataSetup.isAutoFill"
                class="toggle" />
            </div>

            <draggable
              v-if="dataSetup.isAutoFill"
              v-model="dataSetup.fieldGroup"
              :options="{
                animation:300,
                handle:'.icon-drag'
              }"
              class="d-flex flex-wrap"
            >
              <div
                v-for="(data, index) in dataSetup.fieldGroup"
                :key="index"
                :class="{'selected': index === selectedIndexField}"
                class="field-list"
                @click="editField(index)"
              >
                <p class="column-name">{{ data.name }}</p>

                <field-preview
                  :column="data"
                />

                <!-- Edit or Delete -->
                <div class="edit-or-delete">
                  <div class="button">
                    <!-- Edit -->
                    <div
                      class="edit"
                      @click.stop="editField(index)"
                    >
                      <i class="fa fa-pencil-square-o" />
                    </div>
                    <!-- Delete -->
                    <div
                      class="delete"
                      @click.stop="deleteField(index)"
                    >
                      <i class="fa fa-trash" />
                    </div>
                  </div>
                </div>
              </div>
            </draggable>

            <div
              v-if="dataSetup.isAutoFill"
              class="btn-add-config"
              @click="showModalFieldLibrary"
            >
              + Add Field
            </div>
          </div>

          <!-- Data Selection Properties -->
          <div
            v-if="dataSetup.type.id === 'relation_record' || dataSetup.type.id === 'multiple_relation_record'"
            class="configuration-section">
            <h4 class="configuration-section-title">Data Selection</h4>
            <p class="configuration-section-desc">
              Data selection is defined as the process of determining the appropriate data type and source on this field
            </p>
            <b-form :class="{'error-input' : $v.dataSetup.sourceData.setValue.$error}">
              <label> Value Selected </label>
              <j-single-select
                v-model="$v.dataSetup.sourceData.setValue.$model"
                :options="list_field"
                label="name"
                placeholder="Select column"/>
            </b-form>
            <b-form :class="{'error-input' : $v.dataSetup.sourceData.showData.$error}">
              <label> Show Data Option </label>
              <j-single-select
                v-model="$v.dataSetup.sourceData.showData.$model"
                :options="list_field"
                label="name"
                placeholder="Select column"/>
            </b-form>
            <b-form :class="{'error-input' : $v.dataSetup.sourceData.searchData.$error}">
              <label> Search Data Option </label>
              <j-single-select
                v-model="$v.dataSetup.sourceData.searchData.$model"
                :options="list_field"
                label="name"
                placeholder="Select column"/>
            </b-form>
            <b-form :class="{'error-input' : $v.dataSetup.isAutoShow.$error}">
              <label> Auto Show All Data </label>
              <j-toggle v-model="dataSetup.isAutoShow" />
            </b-form>
          </div>

          <!-- Date & Date time Properties -->
          <div
            v-if="dataSetup.type.id === 'date' || dataSetup.type.id === 'date_time'"
            class="configuration-section"
          >
            <b-form :class="{'error-input' : $v.dataSetup.isDisableBackDate.$error}">
              <div class="configuration-toggle-in-title">
                <div class="wrap-title">
                  <h4 class="configuration-section-title">Disable Back Date</h4>
                  <p class="configuration-section-desc m-0">
                    Disable Back Date Information
                  </p>
                </div>
                <j-toggle
                  v-model="dataSetup.isDisableBackDate"
                  class="toggle" />
              </div>
            </b-form>
          </div>

          <!-- Allow Minus Value Properties -->
          <div
            v-if="dataSetup.type.id === 'currency'"
            class="configuration-section"
          >
            <div class="configuration-toggle-in-title">
              <div class="wrap-title">
                <h4 class="configuration-section-title m-0">Allow Minus Value</h4>
                <p class="configuration-section-desc">
                  Show currency in brackets as minus value sign
                </p>
              </div>
              <j-toggle
                v-model="dataSetup.isAllowMinusValue"
                class="toggle" />
            </div>
          </div>
        </div>
      </div>

      <!-- Button Properties -->
      <div class="properties-field-button">
        <button
          class="button-border"
          @click="deleteSourceField"
        >
          <i class="fa fa-trash" /> Delete
        </button>

        <div class="d-flex align-items-center">
          <button
            class="button-border mr-2"
            @click="submitForm(true)"
          >
            Close
          </button>

          <button
            class="button-blue"
            @click="submitForm(false)"
          >
            {{ fieldDetail ? 'Update' : 'Add' }}
          </button>
        </div>
      </div>
    </div>

    <!-- Properties -->
    <properties-field
      v-if="selectedField"
      :id="idPropertiesGroup"
      :field-detail="selectedField"
      :variable-options="list_field"
      :field-ui-key="dataSetup.fieldGroup"
      :type="'data_preview'"
      :is-detail-view="isDetailView"
      :is-group="true"
      :is-new-field="isNewFieldGroup"
      @delete-field="deleteField"
      @close-properties="togglePropertiesField(false)"
      @submit-mode="submitField"
    />
  </div>
</template>

<script>
/* eslint-disable max-len, no-unused-vars, no-nested-ternary, no-console, arrow-body-style */
import { required, requiredIf } from 'vuelidate/lib/validators';
import { mapActions, mapState, mapMutations } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jwtDecode from 'jwt-decode';
import draggable from 'vuedraggable';
import he from 'he';
import FieldPreview from '@/views/application/application-component//form-ui/form-base/field-library/FieldPreview';
import PropertiesField from '@/views/application/application-component//form-ui/form-base/field-library/PropertiesField';
import jMixConditionEditor from '@/mixins/jMixConditionEditor';
import jMixAutoScroll from '@/mixins/jMixAutoScroll';

export default {
  name: 'PropertiesField',

  components: {
    draggable,
    FieldPreview,
    PropertiesField,
  },

  mixins: [jMixConditionEditor, jMixAutoScroll],

  props: {
    id: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
    fieldDetail: {
      type: Object,
      default: () => {},
    },
    variableOptions: {
      type: Array,
      default: () => [],
    },
    variableOptionsWatermark: {
      type: Array,
      default: () => [],
    },
    fieldUiKey: {
      type: Array,
      default: () => [],
    },
    isDetailView: {
      type: Boolean,
      default: () => false,
    },
    isNewField: {
      type: Boolean,
      default: () => false,
    },
    isGroup: {
      type: Boolean,
      default: () => false,
    },
    isPageScreen: {
      type: Boolean,
      default: () => false,
    },
  },

  data() {
    return {
      isFirstLoad: true,
      dataSetup: {
        name: null,
        placeholder: null,
        type: { id: 'text' },
        variable: null,
        isMandatory: false,
        isDisable: false,
        isHidden: false,
        key: null,
        locationType: 1,
        isShowMaps: false,
        options: [''],
        optionsObject: [
          { label: null, value: null },
        ],
        acceptedFileType: [],
        isUseCamera: false,
        isAutoFill: false,
        isWithParam: false,
        isAutoShow: false,
        sourceData: {
          tableGroup: null,
          form: null,
          showData: null,
          searchData: null,
          setValue: null,
          dataSelection: null,
        },
        filterColumn: null,
        fieldKey: null,
        sourceExternal: null,
        sourceExternalVariable: '',
        sourceExternalSetValue: null,
        fieldGroup: [],
        isDisableAddMore: false,
        isDisableDeleteRow: false,
        tags: [],
        sourceCamera: null,
        chooseCamera: null,
        html: '',
        isUseWatermark: false,
        field1: null,
        field2: null,
        field3: null,
        isValueChange: false,
        onValueChange: '',
        grid: null,
        filter: [
          {
            key: null,
            value: null,
          },
        ],
        filterOperator: null,
        sorting: { key: null, order: null },
        language: null,
        isDisableBackDate: false,
        width: null,
        defaultValue: null,
        isAllowSelectAllData: false,
        isAllowMinusValue: false,
        viewOptions: null,
      },
      showFilterOptions: false,
      currentLocation: false,
      manualLocation: false,
      rearCamera: false,
      frontCamera: false,
      openEditor: false,
      editorOption: {},
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      listLocationType: [
        { id: 1, text: 'Current Location' },
        { id: 2, text: 'Manual Location' },
        { id: 3, text: 'All Type' },
      ],
      list_field_external: [
        { id: 'all', text: 'All' },
        { id: 'id', text: 'ID' },
      ],
      list_accepted_file_type: [
        { id: 'png', text: 'PNG' },
        { id: 'jpg', text: 'JPG' },
        { id: 'jpeg', text: 'JPEG' },
        { id: 'csv', text: 'CSV' },
        { id: 'txt', text: 'TXT' },
        { id: 'xls', text: 'XLS' },
        { id: 'xlsx', text: 'XLSX' },
        { id: 'docx', text: 'DOCX' },
        { id: 'doc', text: 'DOC' },
        { id: 'pdf', text: 'PDF' },
        { id: 'ppt', text: 'PPT' },
        { id: 'pptx', text: 'PPTX' },
        { id: 'mp4', text: 'MP4' },
      ],
      list_choose_camera: [
        { id: 1, text: 'Main & Selfie Camera' },
        { id: 2, text: 'Selfie Camera' },
        { id: 3, text: 'Main Camera' },
      ],
      list_source_camera: [
        { value: true, text: 'Camera & Gallery' },
        { value: false, text: 'Camera Only' },
      ],
      filterOperatorOptions: [
        {
          id: 'and',
          name: 'AND',
        },
        {
          id: 'or',
          name: 'OR',
        },
      ],
      orderOptions: [
        {
          id: 'asc',
          label: 'Ascending',
          text: 'Ascending',
        },
        {
          id: 'desc',
          label: 'Descending',
          text: 'Descending',
        },
      ],
      languageOptions: [
        {
          id: 'html',
          name: 'HTML',
        },
        {
          id: 'javascript',
          name: 'Javascript',
        },
      ],
      viewDynamicOptions: [
        {
          id: 'settings',
          name: 'SETTINGS',
        },
        {
          id: 'render',
          name: 'RENDER',
        },
      ],
      widthOptions: [
        { id: '50', name: '50' },
        { id: '100', name: '100' },
        { id: '150', name: '150' },
        { id: '200', name: '200' },
        { id: '250', name: '250' },
        { id: '300', name: '300' },
        { id: '350', name: '350' },
        { id: '400', name: '400' },
        { id: '450', name: '450' },
        { id: '500', name: '500' },
      ],
      listGrid: [
        { id: 12, text: 12 },
        { id: 11, text: 11 },
        { id: 10, text: 10 },
        { id: 9, text: 9 },
        { id: 8, text: 8 },
        { id: 7, text: 7 },
        { id: 6, text: 6 },
        { id: 5, text: 5 },
        { id: 4, text: 4 },
        { id: 3, text: 3 },
        { id: 2, text: 2 },
        { id: 1, text: 1 },
      ],
      list_field: [],
      list_field_key: [],
      list_field_class: [],
      list_field_for_issearch: [],
      list_field_data_selection: [],
      tableGroupOptions: [],
      tableOptions: [],

      // for group
      idPropertiesGroup: 'propertiesFieldGroup',
      isOpen: false,
      isNewFieldGroup: false,
      selectedField: null,
      selectedIndexField: null,
      variableOptionsGroup: [],

      problemMessage: '',
      isError: false,
      darkMode: false,
      tabSelected: 'value',

      exampleOptionCurrency: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        currencySymbol: 'Rp',
        currencySymbolPlacement: 'p',
        roundingMethod: 'U',
        minimumValue: '0',
        maximumValue: '99999999999999',
        negativePositiveSignPlacement: 'r',
        negativeBracketsTypeOnBlur: '(,)',
      },
    };
  },

  computed: {
    // ...mapState('jStoreFormUi', ['form_data_detail']),
    ...mapState('jStoreDynamicFieldSetting', [
      'sourceExternalApi', 'sourceModalFieldLibrary', 'isBulk', 'isSearch', 'isDataset',
    ]),

    isHaveConfig() {
      if (this.dataSetup.type) {
        const typeNotConfig = ['text', 'descriptive', 'number', 'number_decimal', 'time', 'user_single_selection', 'separator', 'timer', 'digital_signature', 'color'];
        return !typeNotConfig.includes(this.dataSetup.type.id);
      }
      return false;
    },

    isNoGrid() {
      if (this.dataSetup.type) {
        const typeNotGrid = ['location', 'attachment', 'multiple_attachment_dynamic', 'single_attachment', 'separator', 'custom_html', 'group', 'table_group', 'code_editor', 'digital_signature'];
        return typeNotGrid.includes(this.dataSetup.type.id) || ((this.dataSetup.type.id === 'radio' || this.dataSetup.type.id === 'checkbox') && this.dataSetup.optionsObject.length > 2);
      }
      return false;
    },

    // eslint-disable-next-line consistent-return
    variableOptionsFiltered() {
      if (this.dataSetup.type && this.dataSetup.type.id === 'toggle') {
        return this.variableOptions.filter(f => f.type === 'boolean');
      } else if (this.dataSetup.type && this.dataSetup.type.id === 'user_single_selection') {
        return this.variableOptions.filter(f => f.type === 'person');
      } else if (this.dataSetup.type && this.dataSetup.type.id === 'timer') {
        return this.variableOptions.filter(f => f.type === 'timer');
      } else if (this.dataSetup.type &&
                this.dataSetup.type.id === 'single_tags_selection') {
        return this.variableOptions.filter(f => f.type === 'tags');
      } else if (this.dataSetup.type &&
                this.dataSetup.type.id === 'multiple_tags_selection') {
        return this.variableOptions.filter(f => f.type === '[]tags');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'multiple_attachment_dynamic' ||
                this.dataSetup.type.id === 'attachment')) {
        return this.variableOptions.filter(f => f.type === '[]attachment');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'radio' ||
                this.dataSetup.type.id === 'text' ||
                this.dataSetup.type.id === 'descriptive' ||
                this.dataSetup.type.id === 'single_selection' ||
                this.dataSetup.type.id === 'single_attachment' ||
                this.dataSetup.type.id === 'password' ||
                this.dataSetup.type.id === 'digital_signature' ||
                this.dataSetup.type.id === 'color' ||
                this.dataSetup.type.id === 'code_editor')) {
        return this.variableOptions.filter(f => f.type === 'text');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'checkbox' ||
                this.dataSetup.type.id === 'multiple_selection')) {
        return this.variableOptions.filter(f => f.type === '[]text');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'number' ||
                this.dataSetup.type.id === 'number_decimal' ||
                this.dataSetup.type.id === 'currency')) {
        return this.variableOptions.filter(f => f.type === 'number' || f.type === 'integer' || f.type === 'big_integer' || f.type === 'small_integer');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'date' ||
                this.dataSetup.type.id === 'date_time' ||
                this.dataSetup.type.id === 'time')) {
        return this.variableOptions.filter(f => f.type === 'timestamp');
      } else if (this.dataSetup.type && this.dataSetup.type.id === 'location') {
        return this.variableOptions.filter(f => f.type === 'maps');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'relation_record' ||
                this.dataSetup.type.id === 'relation_record_external_api')) {
        return this.variableOptions.filter(f => f.type === 'object');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'multiple_relation_record' ||
                this.dataSetup.type.id === 'multiple_relation_record_external_api')) {
        return this.variableOptions.filter(f => f.type === '[]object');
      } else if (this.dataSetup.type &&
                (this.dataSetup.type.id === 'group' ||
                this.dataSetup.type.id === 'table_group')) {
        return this.variableOptions.filter(f => f.type === `[]${f.id}`);
      } else if (this.dataSetup.type &&
                this.dataSetup.type.id === 'dynamic_field' &&
                this.dataSetup.viewOptions === 'settings') {
        return this.variableOptions.filter(f => f.type === '[]object');
      } else if (this.dataSetup.type &&
                this.dataSetup.type.id === 'dynamic_field' &&
                this.dataSetup.viewOptions === 'render') {
        return this.variableOptions.filter(f => f.type === 'object');
      }
    },

    defaultTags() {
      return [{
        name: '',
        background: '#000000',
        font_color: '#000000',
      }];
    },

    // Computed for property location
    propertyLocation() {
      return `${this.currentLocation}|${this.manualLocation}`;
    },

    // Computed for property maps
    propertyCamera() {
      return `${this.rearCamera}|${this.frontCamera}`;
    },
  },

  watch: {
    // eslint-disable-next-line
    'dataSetup.sourceData.tableGroup': function (val) {
      if (val) {
        const reqTable = {
          tablegroup_id: val.id,
          search: '',
        };
        this.getListTableByGroupV2(reqTable).then((res) => {
          if (!res.error) {
            this.tableOptions = res.data || [];
          }
        });
      }
    },

    // eslint-disable-next-line
    'dataSetup.sourceData.form': function(data) {
      if (this.fieldDetail) {
        const listColumns = Object.keys(data.columns);
        const listColumnsVal = Object.values(data.columns);
        this.list_field = listColumnsVal.map((e) => {
          e.id = e.name;
          e.text = e.name;
          e.label = e.name;
          return e;
        });

        this.list_field_for_issearch = listColumnsVal.filter(f => f.type === 'object').map((e) => {
          e.id = e.name;
          e.text = e.name;
          e.label = e.name;
          return e;
        });

        this.list_field_data_selection = listColumnsVal.filter(f => f.type === '[]object').map((e) => {
          e.id = e.name;
          e.text = e.name;
          e.label = e.name;
          return e;
        });

        this.list_field_class = [];
        if (listColumns.length > 0) {
          listColumns.forEach((column, index) => {
            if (listColumnsVal[index].type !== '[]attachment') {
              if (listColumnsVal[index].type === 'person') {
                this.list_field_class.push({
                  id: `${column}.company_user_id`,
                  label: `${column}.company_user_id`,
                  text: `${column}.company_user_id`,
                });
                this.list_field_class.push({
                  id: `${column}.name`,
                  label: `${column}.name`,
                  text: `${column}.name`,
                });
                this.list_field_class.push({
                  id: `${column}.email`,
                  label: `${column}.email`,
                  text: `${column}.email`,
                });
              } else if (listColumnsVal[index].type === 'object') {
                this.list_field_class.push({
                  id: `${column}.id`,
                  label: `${column}.id`,
                  text: `${column}.id`,
                });
                this.list_field_class.push({
                  id: `${column}.name`,
                  label: `${column}.name`,
                  text: `${column}.name`,
                });
              } else if (listColumnsVal[index].type === 'timer') {
                this.list_field_class.push({
                  id: `${column}.state`,
                  label: `${column}.state`,
                  text: `${column}.state`,
                });
                this.list_field_class.push({
                  id: `${column}.duration`,
                  label: `${column}.duration`,
                  text: `${column}.duration`,
                });
              } else if (listColumnsVal[index].type === 'tags') {
                this.list_field_class.push({
                  id: `${column}.name`,
                  label: `${column}.name`,
                  text: `${column}.name`,
                });
                this.list_field_class.push({
                  id: `${column}.background`,
                  label: `${column}.background`,
                  text: `${column}.background`,
                });
                this.list_field_class.push({
                  id: `${column}.font_color`,
                  label: `${column}.font_color`,
                  text: `${column}.font_color`,
                });
              } else if (listColumnsVal[index].type === 'maps') {
                this.list_field_class.push({
                  id: `${column}.latitude`,
                  label: `${column}.latitude`,
                  text: `${column}.latitude`,
                });
                this.list_field_class.push({
                  id: `${column}.longitude`,
                  label: `${column}.longitude`,
                  text: `${column}.longitude`,
                });
                this.list_field_class.push({
                  id: `${column}.address`,
                  label: `${column}.address`,
                  text: `${column}.address`,
                });
              }
              // else {
              this.list_field_class.push({
                id: column,
                label: column,
                text: column,
              });
              // }
            }
          });
        }
      }
    },

    // eslint-disable-next-line
    'dataSetup.key': function (val){
      if (this.fieldDetail) {
        const regexSymbol = /[^\w\s]/g;
        setTimeout(() => {
          this.dataSetup.key = val ?
            val.toLowerCase()
              .replace(regexSymbol, '')
              .replace(' ', '_') : null;
        }, 1);
      }
    },

    // eslint-disable-next-line
    // 'dataSetup.variable': function (val){
    //   if (this.fieldDetail && this.form_data_detail.length > 0) {
    //     const classGroup = this.form_data_detail[0].class[val.id];
    //     if (classGroup) {
    //       const dataColumns = Object.values(classGroup);
    //       this.variableOptionsGroup = dataColumns.map((e) => {
    //         e.id = e.name;
    //         e.text = e.name;
    //         e.label = e.name;
    //         e.type = e.type;
    //         return e;
    //       });
    //     }
    //   }
    // },

    // eslint-disable-next-line
    'dataSetup.isUseWatermark': function (val){
      if (this.fieldDetail) {
        this.dataSetup.field1 = null;
        this.dataSetup.field2 = null;
        this.dataSetup.field3 = null;
      }
    },

    // eslint-disable-next-line
    'dataSetup.type': function (val){
      if (this.fieldDetail) {
        if (val) {
          const typeNotGrid = ['location', 'attachment', 'multiple_attachment_dynamic', 'single_attachment', 'separator', 'custom_html', 'group', 'table_group', 'code_editor', 'digital_signature'];
          if (typeNotGrid.includes(val.id)) {
            this.dataSetup.grid = 12;
          } else {
            this.dataSetup.grid = null;
          }
        }
        this.dataSetup.defaultValue = null;
      }
    },

    // eslint-disable-next-line
    'dataSetup.optionsObject': function (val){
      if (val.length === 0) {
        if (this.dataSetup.type && (this.dataSetup.type.id === 'radio' || this.dataSetup.type.id === 'checkbox')) {
          this.dataSetup.optionsObject = [{ label: null, value: null }];
        }
      }
    },

    // eslint-disable-next-line
    'dataSetup.options': function (val) {
      if (this.dataSetup.type && (
        this.dataSetup.type.id === 'single_selection' ||
        this.dataSetup.type.id === 'multiple_selection' ||
        this.dataSetup.type.id === 'photo' ||
        this.dataSetup.type.id === 'attachment'
      )) {
        if (val.length === 0) {
          this.dataSetup.options = [''];
        }
      }
    },

    // eslint-disable-next-line
    'dataSetup.grid': function () {
      this.submitPreview();
    },
    // eslint-disable-next-line
    'dataSetup.name': function () {
      this.submitPreview();
    },
    // eslint-disable-next-line
    'dataSetup.placeholder': function () {
      this.submitPreview();
    },

    // Set data location to dataSetup
    propertyLocation(val) {
      const splitVal = val.split('|');
      const currentLoc = splitVal[0];
      const manualLoc = splitVal[1];

      if (currentLoc === 'false' && manualLoc === 'false') {
        this.dataSetup.locationType = 0;
      } else if (currentLoc === 'true' && manualLoc === 'false') {
        this.dataSetup.locationType = 1;
      } else if (currentLoc === 'false' && manualLoc === 'true') {
        this.dataSetup.locationType = 2;
      } else if (currentLoc === 'true' && manualLoc === 'true') {
        this.dataSetup.locationType = 3;
      }
    },

    // Set data maps to dataSetup
    propertyCamera(val) {
      const splitVal = val.split('|');
      const rearCam = splitVal[0];
      const frontCam = splitVal[1];

      if (rearCam === 'false' && frontCam === 'false') {
        this.dataSetup.chooseCamera = null;
      } else if (rearCam === 'true' && frontCam === 'false') {
        this.dataSetup.chooseCamera = 3;
      } else if (rearCam === 'false' && frontCam === 'true') {
        this.dataSetup.chooseCamera = 2;
      } else if (rearCam === 'true' && frontCam === 'true') {
        this.dataSetup.chooseCamera = 1;
      }
    },

    // Watch state for relation record ext api
    // sourceExternalApi: {
    //   handler(val) {
    //     if (val) this.dataSetup.sourceExternal = val;
    //   },
    //   deep: true,
    // },

    // Watch state if select field in modal field library
    sourceModalFieldLibrary: {
      handler(val) {
        if (val) {
          const index = this.dataSetup.fieldGroup.push(val) - 1;
          this.selectedField = this.dataSetup.fieldGroup[index];
          this.selectedIndexField = index;
          this.isNewFieldGroup = true;

          this.setSourceModalFieldLibrary(null);

          setTimeout(() => {
            this.togglePropertiesField(true);
          }, 200);
        }
      },
      deep: true,
    },
  },

  created() {
    this.getListGroupTable();
    this.openEditor = false;
    this.dataSetup.type = { id: this.fieldDetail.type };
    const fieldDetail = this._.cloneDeep(this.fieldDetail);

    if (fieldDetail) {
      this.dataSetup = {
        type: { id: fieldDetail.type },
        name: this.isNewField ? '' : fieldDetail.name,
        placeholder: fieldDetail.placeholder,
        variable: fieldDetail.field_data_key ? { id: fieldDetail.field_data_key } : null,
        isMandatory: fieldDetail.is_mandatory || false,
        isDisable: fieldDetail.is_disable || false,
        isHidden: fieldDetail.is_hidden || false,
        key: fieldDetail.field_ui_key,
        locationType: fieldDetail.type === 'location' ? (fieldDetail.config ? fieldDetail.config.map_type : 1) : 1,
        isShowMaps: fieldDetail.type === 'location' ? (fieldDetail.config ? fieldDetail.config.is_show_maps : false) : false,
        options: fieldDetail.type === 'single_selection' ||
            fieldDetail.type === 'multiple_selection' ||
            fieldDetail.type === 'photo' ||
            fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'radio' ||
            fieldDetail.type === 'checkbox' ? (fieldDetail.config ? fieldDetail.config.list_options : ['']) : [''],
        optionsObject: fieldDetail.type === 'radio' || fieldDetail.type === 'checkbox' ? (fieldDetail.config ? fieldDetail.config.list_options_object : [{ label: null, value: null }]) : [{ label: null, value: null }],
        acceptedFileType: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.accepted_file_type : []) : [],
        isUseCamera: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.is_use_camera : true) : true,
        isAutoFill: fieldDetail.type === 'relation_record' || fieldDetail.type === 'relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.is_auto_fill : false) : false,
        isWithParam: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.is_with_param : false) : false,
        isAutoShow: fieldDetail.type === 'relation_record' ||
                    fieldDetail.type === 'multiple_relation_record' ||
                    fieldDetail.type === 'relation_record_external_api' ||
                    fieldDetail.type === 'multiple_relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.is_auto_show : false) : false,
        sourceData: {
          tableGroup: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ||
            (fieldDetail.type === 'dynamic_field' && fieldDetail.config.view_options === 'render') ? (fieldDetail.config ? fieldDetail.config.data_source.table_group : null) : null,
          form: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ||
            (fieldDetail.type === 'dynamic_field' && fieldDetail.config.view_options === 'render') ? (fieldDetail.config ? fieldDetail.config.data_source.form : null) : null,
          showData: fieldDetail.type === 'relation_record' ||
            fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.data_source.show_data_option : null) : null,
          searchData: fieldDetail.type === 'relation_record' ||
            fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.data_source.search_data_option : null) : null,
          setValue: fieldDetail.type === 'relation_record' ||
            fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.data_source.set_value_selected : null) : null,
          dataSelection: fieldDetail.type === 'dynamic_field' && fieldDetail.config.view_options === 'render' ?
            (fieldDetail.config && fieldDetail.config.data_source ? fieldDetail.config.data_source.data_selection : null) : null,
        },
        filterColumn: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.filter_column : null) : null,
        fieldKey: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ? (fieldDetail.config ? fieldDetail.config.field_key : null) : null,
        sourceExternal: fieldDetail.type === 'relation_record_external_api' ||
            fieldDetail.type === 'multiple_relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.data_source_external : null) : null,
        sourceExternalVariable: fieldDetail.type === 'relation_record_external_api' ||
            fieldDetail.type === 'multiple_relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.data_source_external_variable : null) : '',
        sourceExternalSetValue: fieldDetail.type === 'relation_record_external_api' ||
            fieldDetail.type === 'multiple_relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.data_source_external_set_value : null) : null,
        fieldGroup: fieldDetail.type === 'group' || fieldDetail.type === 'table_group' ? (fieldDetail.config ? fieldDetail.config.data_field_group : []) :
          (fieldDetail.type === 'relation_record' || fieldDetail.type === 'relation_record_external_api' ? (fieldDetail.config ? fieldDetail.config.data_field_auto : []) : []),
        isDisableAddMore: fieldDetail.type === 'group' || fieldDetail.type === 'table_group' ? (fieldDetail.config ? fieldDetail.config.is_disable_add_more : false) : false,
        isDisableDeleteRow: fieldDetail.type === 'group' || fieldDetail.type === 'table_group' ? (fieldDetail.config ? fieldDetail.config.is_disable_delete_row : false) : false,
        tags: fieldDetail.type === 'single_tags_selection' || fieldDetail.type === 'multiple_tags_selection' ? (fieldDetail.config ? fieldDetail.config.list_tags : this.defaultTags) : this.defaultTags,
        sourceCamera: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.is_can_access_gallery : true) : true,
        chooseCamera: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.camera_type : null) : null,
        html: fieldDetail.type === 'custom_html' ? (fieldDetail.config ? he.decode(fieldDetail.config.html) : '') : '',
        isUseWatermark: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.is_use_watermark : false) : false,
        field1: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_1 : null) : null,
        field2: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_2 : null) : null,
        field3: fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_3 : null) : null,
        isValueChange: (fieldDetail.type === 'number' ||
                        fieldDetail.type === 'number_decimal' ||
                        fieldDetail.type === 'currency' ||
                        fieldDetail.type === 'single_selection' ||
                        fieldDetail.type === 'text' ||
                        fieldDetail.type === 'date' ||
                        fieldDetail.type === 'time' ||
                        fieldDetail.type === 'date_time' ||
                        fieldDetail.type === 'relation_record' ||
                        fieldDetail.type === 'radio' ||
                        fieldDetail.type === 'checkbox' ||
                        fieldDetail.type === 'toggle' ||
                        fieldDetail.type === 'password' ||
                        fieldDetail.type === 'single_attachment') && fieldDetail.config ? fieldDetail.config.is_value_change : false,
        onValueChange: (fieldDetail.type === 'number' ||
                        fieldDetail.type === 'number_decimal' ||
                        fieldDetail.type === 'currency' ||
                        fieldDetail.type === 'single_selection' ||
                        fieldDetail.type === 'text' ||
                        fieldDetail.type === 'date' ||
                        fieldDetail.type === 'time' ||
                        fieldDetail.type === 'date_time' ||
                        fieldDetail.type === 'relation_record' ||
                        fieldDetail.type === 'radio' ||
                        fieldDetail.type === 'checkbox' ||
                        fieldDetail.type === 'toggle' ||
                        fieldDetail.type === 'password' ||
                        fieldDetail.type === 'single_attachment') && fieldDetail.config ? fieldDetail.config.on_value_change : '',
        grid: fieldDetail.grid_size ? fieldDetail.grid_size : this.checkType(),
        filter: [{ key: null, value: null }],
        filterOperator: fieldDetail.type === 'relation_record' || fieldDetail.type === 'multiple_relation_record' ||
          (fieldDetail.type === 'dynamic_field' && fieldDetail.config.view_options === 'render') ? (fieldDetail.config ? fieldDetail.config.filter_operator : null) : null,
        sorting: { key: null, order: null },
        language: fieldDetail.type === 'code_editor' ? (fieldDetail.config ? fieldDetail.config.language : null) : null,
        isDisableBackDate: (fieldDetail.type === 'date' || fieldDetail.type === 'date_time') && fieldDetail.config ? fieldDetail.config.is_disable_back_date : false,
        defaultValue: null,
        isAllowSelectAllData: (fieldDetail.type === 'multiple_relation_record' || fieldDetail.type === 'multiple_relation_record_external_api') && fieldDetail.config ? fieldDetail.config.allow_select_all_data : false,
        isAllowMinusValue: fieldDetail.type === 'currency' && fieldDetail.config ? fieldDetail.config.allow_minus_value : false,
        viewOptions: fieldDetail.type === 'dynamic_field' ? fieldDetail.config.view_options : null,
      };
      if (this.isGroup && this.dataSetup.type.id === 'table_group') {
        this.dataSetup.width = fieldDetail.config ? (fieldDetail.config ? fieldDetail.config.width : null) : null;
      }
      setTimeout(() => {
        this.dataSetup.sourceCamera = fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.is_can_access_gallery : true) : true;
        this.dataSetup.chooseCamera = fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.camera_type : null) : null;
        this.dataSetup.field1 = fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_1 : null) : null;
        this.dataSetup.field2 = fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_2 : null) : null;
        this.dataSetup.field3 = fieldDetail.type === 'attachment' ||
            fieldDetail.type === 'multiple_attachment_dynamic' ||
            fieldDetail.type === 'single_attachment' ? (fieldDetail.config ? fieldDetail.config.field_3 : null) : null;
        this.dataSetup.grid = fieldDetail.grid_size ? fieldDetail.grid_size : this.checkType();
        this.dataSetup.defaultValue = this.setDefaultValue((fieldDetail.config ? fieldDetail.config.default_value : null), fieldDetail.type);
      }, 500);
      if (fieldDetail.config && fieldDetail.config.sort) {
        const keySort = Object.keys(fieldDetail.config.sort[0]);
        const valueSort = Object.values(fieldDetail.config.sort[0]);

        this.dataSetup.sorting = {
          key: { id: keySort[0] },
          order: valueSort[0] === 1 ? { id: 'asc' } : { id: 'desc' },
        };
      }
      if (fieldDetail.config && fieldDetail.config.filter) {
        const keyFilter = Object.keys(fieldDetail.config.filter);
        const valueFilter = Object.values(fieldDetail.config.filter);
        if (keyFilter.length > 0) {
          this.dataSetup.filter = [];
          keyFilter.forEach((e, index) => {
            this.dataSetup.filter.push({
              key: { id: e },
              value: valueFilter[index],
            });
          });
        }
      }
    } else {
      this.dataSetup = {
        name: null,
        placeholder: null,
        variable: null,
        isMandatory: false,
        isDisable: false,
        isHidden: false,
        key: null,
        locationType: 1,
        isShowMaps: false,
        options: [''],
        optionsObject: [
          { label: null, value: null },
        ],
        acceptedFileType: [],
        isUseCamera: false,
        isAutoFill: false,
        isWithParam: false,
        isAutoShow: false,
        sourceData: {
          tableGroup: null,
          form: null,
          showData: null,
          searchData: null,
          setValue: null,
          dataSelection: null,
        },
        filterColumn: null,
        fieldKey: null,
        sourceExternal: null,
        sourceExternalVariable: '',
        sourceExternalSetValue: null,
        fieldGroup: [],
        isDisableAddMore: false,
        isDisableDeleteRow: false,
        tags: [
          {
            name: '',
            background: '#000000',
            font_color: '#000000',
          },
        ],
        sourceCamera: null,
        chooseCamera: null,
        html: '',
        isUseWatermark: false,
        field1: null,
        field2: null,
        field3: null,
        isValueChange: false,
        onValueChange: '',
        grid: null,
        filter: [{ key: null, value: null }],
        filterOperator: null,
        sorting: { key: null, order: null },
        language: null,
        isDisableBackDate: false,
        defaultValue: null,
        width: null,
        isAllowSelectAllData: false,
        isAllowMinusValue: false,
        viewOptions: null,
      };

      this.$v.dataSetup.$reset();
    }

    this.list_field_key = this.fieldUiKey.filter(f => f.type === 'relation_record' && f.field_ui_key).map((e) => {
      e.id = e.field_ui_key;
      e.text = e.name;
      e.label = e.name;
      return e;
    });
  },

  mounted() {
    this.setDataLocationType();
    this.setDataCamera();

    if (this.fieldDetail.type === 'relation_record' || this.fieldDetail.type === 'multiple_relation_record' || this.fieldDetail.type === 'dynamic_field') {
      this.dataSetup.filterOperator = this.fieldDetail.config ? this.fieldDetail.config.filter_operator : 'and';
    }

    setTimeout(() => {
      this.openEditor = true;
    }, 500);
    setTimeout(() => {
      this.isFirstLoad = false;
    }, 800);
  },

  methods: {
    // ...mapActions('jStoreDynamicFieldSetting', ['toggleModalExternalApi']),
    ...mapActions('jStoreFormUi', ['getListDataGroupByCompanyId', 'getListTableByGroupV2']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem']),
    ...mapMutations('jStoreDynamicFieldSetting', ['setPropertiesOpened', 'setPropertiesGroup', 'setShowModalFieldLibrary', 'setIsShowModalFieldFromGroup', 'setSourceModalFieldLibrary']),

    checkType() {
      let grid = null;

      if (this.dataSetup.type) {
        const typeNotGrid = ['location', 'attachment', 'multiple_attachment_dynamic', 'single_attachment', 'separator', 'custom_html', 'group', 'table_group', 'code_editor', 'digital_signature'];
        if (typeNotGrid.includes(this.dataSetup.type.id)) {
          grid = 12;
        } else {
          grid = 12;
        }
      } else {
        this.dataSetup.defaultValue = null;
      }

      return grid;
    },

    // Generate data if click button save
    generateData() {
      const { name, placeholder, type, variable, isMandatory, isDisable, isHidden, key, grid, width } = this.dataSetup;
      let dataConfig = null;
      if (this.dataSetup.type.id === 'location') {
        dataConfig = { map_type: this.dataSetup.locationType, is_show_maps: this.dataSetup.isShowMaps };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'single_selection' ||
            this.dataSetup.type.id === 'multiple_selection' ||
            this.dataSetup.type.id === 'photo') {
        dataConfig = { list_options: this.dataSetup.options };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'radio' || this.dataSetup.type.id === 'checkbox') {
        dataConfig = { list_options_object: this.dataSetup.optionsObject && this.dataSetup.optionsObject.length > 0 ? (this.dataSetup.optionsObject[0].value === null ? [{ label: null, value: null }] : this.dataSetup.optionsObject) : [{ label: null, value: null }] };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
        if (this.dataSetup.options && this.dataSetup.options.length > 0 && this.dataSetup.options[0] !== '') {
          dataConfig.list_options = this.dataSetup.options;
        }
      }
      if (this.dataSetup.type.id === 'attachment') {
        dataConfig = {
          list_options: this.dataSetup.options,
          accepted_file_type: this.dataSetup.acceptedFileType,
          is_use_camera: this.dataSetup.isUseCamera,
          is_can_access_gallery: this.dataSetup.sourceCamera,
          camera_type: this.dataSetup.chooseCamera,
          is_use_watermark: this.dataSetup.isUseWatermark,
          field_1: this.dataSetup.field1 ? this.dataSetup.field1 : null,
          field_2: this.dataSetup.field2 ? this.dataSetup.field2 : null,
          field_3: this.dataSetup.field3 ? this.dataSetup.field3 : null,
        };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'single_attachment' || this.dataSetup.type.id === 'multiple_attachment_dynamic') {
        dataConfig = {
          list_options: [],
          accepted_file_type: this.dataSetup.acceptedFileType,
          is_use_camera: this.dataSetup.isUseCamera,
          is_can_access_gallery: this.dataSetup.sourceCamera,
          camera_type: this.dataSetup.chooseCamera,
          is_use_watermark: this.dataSetup.isUseWatermark,
          field_1: this.dataSetup.field1 ? this.dataSetup.field1 : null,
          field_2: this.dataSetup.field2 ? this.dataSetup.field2 : null,
          field_3: this.dataSetup.field3 ? this.dataSetup.field3 : null,
        };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'relation_record' || this.dataSetup.type.id === 'multiple_relation_record') {
        dataConfig = {
          data_source: {
            table_group: this.dataSetup.sourceData.tableGroup,
            form: this.dataSetup.sourceData.form,
            show_data_option: this.dataSetup.sourceData.showData,
            search_data_option: this.dataSetup.sourceData.searchData,
            set_value_selected: this.dataSetup.sourceData.setValue,
          },
          is_auto_show: this.dataSetup.isAutoShow,
          is_with_param: this.dataSetup.isWithParam,
          filter_column: this.dataSetup.filterColumn,
          field_key: this.dataSetup.fieldKey,
          filter: {},
          filter_operator: this.dataSetup.filterOperator ? this.dataSetup.filterOperator : 'and',
          sort: [],
        };
        if (this.dataSetup.sorting.key && this.dataSetup.sorting.order) {
          dataConfig.sort.push({
            [this.dataSetup.sorting.key.id]: this.dataSetup.sorting.order.id === 'asc' ? 1 : -1,
          });
        }
        if (this.dataSetup.filter.length > 0) {
          this.dataSetup.filter.forEach((e) => {
            if (e.key) {
              dataConfig.filter[e.key.id] = e.value;
            }
          });
        }
        if (this.dataSetup.type.id === 'relation_record') {
          dataConfig.data_field_auto = this.dataSetup.fieldGroup;
          dataConfig.is_auto_fill = this.dataSetup.isAutoFill;
          dataConfig.is_value_change = this.dataSetup.isValueChange;
          dataConfig.on_value_change = this.$refs.scriptEditor !== undefined ? this.$refs.scriptEditor.getData() : this.dataSetup.onValueChange;
        }

        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'relation_record_external_api' ||
            this.dataSetup.type.id === 'multiple_relation_record_external_api') {
        dataConfig = {
          data_source_external: this.dataSetup.sourceExternal,
          data_source_external_variable: this.dataSetup.sourceExternalVariable,
          data_source_external_set_value: this.dataSetup.sourceExternalSetValue,
          is_auto_show: this.dataSetup.isAutoShow,
        };
        if (this.dataSetup.type.id === 'relation_record_external_api') {
          dataConfig.data_field_auto = this.dataSetup.fieldGroup;
          dataConfig.is_auto_fill = this.dataSetup.isAutoFill;
        }

        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'group' || this.dataSetup.type.id === 'table_group') {
        dataConfig = {
          data_field_group: this.dataSetup.fieldGroup,
          is_disable_add_more: this.dataSetup.isDisableAddMore,
          is_disable_delete_row: this.dataSetup.isDisableDeleteRow,
        };

        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'single_tags_selection' || this.dataSetup.type.id === 'multiple_tags_selection') {
        dataConfig = { list_tags: this.dataSetup.tags };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'custom_html') {
        dataConfig = { html: this.encodeHtmlEntities(this.dataSetup.html) };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'number' ||
            this.dataSetup.type.id === 'number_decimal' ||
            this.dataSetup.type.id === 'currency' ||
            this.dataSetup.type.id === 'text' ||
            this.dataSetup.type.id === 'date' ||
            this.dataSetup.type.id === 'time' ||
            this.dataSetup.type.id === 'date_time' ||
            this.dataSetup.type.id === 'toggle' ||
            this.dataSetup.type.id === 'password') {
        dataConfig = {
          is_value_change: this.dataSetup.isValueChange,
          on_value_change: this.$refs.scriptEditor !== undefined ? this.$refs.scriptEditor.getData() : this.dataSetup.onValueChange,
          default_value: this.getDefaultValue(this.dataSetup.defaultValue, this.dataSetup.type.id),
        };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'single_selection' ||
            this.dataSetup.type.id === 'radio' ||
            this.dataSetup.type.id === 'checkbox' ||
            this.dataSetup.type.id === 'single_attachment') {
        dataConfig.is_value_change = this.dataSetup.isValueChange;
        dataConfig.on_value_change = this.$refs.scriptEditor !== undefined ? this.$refs.scriptEditor.getData() : this.dataSetup.onValueChange;
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'code_editor') {
        dataConfig = { language: this.dataSetup.language };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'date' || this.dataSetup.type.id === 'date_time') {
        dataConfig.is_disable_back_date = this.dataSetup.isDisableBackDate;
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'descriptive') {
        dataConfig = { default_value: this.dataSetup.defaultValue };
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'single_selection') {
        dataConfig.default_value = this.dataSetup.defaultValue;
        if (this.isGroup && this.dataSetup.type.id === 'table_group') dataConfig.width = this.dataSetup.width;
      }
      if (this.dataSetup.type.id === 'multiple_relation_record' || this.dataSetup.type.id === 'multiple_relation_record_external_api') {
        dataConfig.allow_select_all_data = this.dataSetup.isAllowSelectAllData;
      }
      if (this.dataSetup.type.id === 'currency') {
        dataConfig.allow_minus_value = this.dataSetup.isAllowMinusValue;
      }
      if (this.dataSetup.type.id === 'dynamic_field' && this.dataSetup.viewOptions === 'render') {
        dataConfig = {
          view_options: this.dataSetup.viewOptions,
          data_source: {
            table_group: this.dataSetup.sourceData.tableGroup,
            form: this.dataSetup.sourceData.form,
            data_selection: this.dataSetup.sourceData.dataSelection,
          },
          filter: {},
          filter_operator: this.dataSetup.filterOperator ? this.dataSetup.filterOperator : 'and',
        };
        if (this.dataSetup.filter.length > 0) {
          this.dataSetup.filter.forEach((e) => {
            if (e.key) {
              dataConfig.filter[e.key.id] = e.value;
            }
          });
        }
      }
      if (this.dataSetup.type.id === 'dynamic_field' && this.dataSetup.viewOptions === 'settings') {
        dataConfig = {
          view_options: this.dataSetup.viewOptions,
        };
      }
      const params = {
        name,
        placeholder,
        type: type.id,
        field_data_key: variable ? variable.id : '',
        is_mandatory: isMandatory,
        is_hidden: isHidden,
        is_disable: isDisable,
        is_delete: false,
        field_ui_key: key,
        grid_size: Number(grid),
        config: dataConfig,
      };
      if (this.isGroup && this.dataSetup.type.id === 'table_group') params.width = width;

      return params;
    },

    // Open modal field library (data preview, group, table group)
    showModalFieldLibrary() {
      if (!this.selectedIndexField) {
        this.setShowModalFieldLibrary(true);
        this.setIsShowModalFieldFromGroup(true);

        setTimeout(() => {
          const element = document.getElementById('modalFieldLibrary');
          if (element) element.classList.add('show');
        }, 100);
      }
    },

    // Edit field in stacked properties (data preview, group, table group)
    editField(index) {
      this.selectedField = this.dataSetup.fieldGroup[index];
      this.selectedIndexField = index;

      this.togglePropertiesField(true);
    },

    // Open/close stacked properties
    togglePropertiesField(status) {
      if (status) {
        this.setPropertiesGroup(true);
        setTimeout(() => {
          const element = document.getElementById(this.idPropertiesGroup);
          const elementParent = document.getElementById(this.id);
          if (element) {
            elementParent.classList.add('show-properties-group');
            element.classList.add('show-properties-field');
          }
        }, 200);
      } else {
        const element = document.getElementById(this.idPropertiesGroup);
        const elementParent = document.getElementById(this.id);
        if (element) {
          element.classList.remove('show-properties-field');
          elementParent.classList.remove('show-properties-group');
        }
        this.setPropertiesGroup(false);

        setTimeout(() => {
          this.selectedField = null;
          this.selectedIndexField = null;
          this.isNewFieldGroup = false;
        }, 200);
      }
    },

    // Delete field in stacked properties (data preview, group, table group)
    deleteField(index) {
      this.$swal({
        title: 'Delete',
        text: 'Are you sure to delete field ?',
        type: 'question',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#606060',
        titleColor: '#676767',
      }).then(async (result) => {
        if (result.value) {
          this.dataSetup.fieldGroup.splice(index || this.selectedIndexField, 1);
          this.togglePropertiesField(false);
        }
      });
    },

    // Preview Submit
    submitPreview() {
      if (!this.isGroup && !this.isFirstLoad) {
        const params = this.generateData();
        this.$emit('submit-preview', params);
      }
    },

    // Submit data and send to parent component
    submitForm(isCancel) {
      const params = this.generateData();

      if (!isCancel) {
        this.$v.dataSetup.$touch();
        if (!this.$v.dataSetup.$error) {
          if (this.fieldDetail) {
            this.$emit('submit-mode', 'edit', params, isCancel);
          } else {
            this.$emit('submit-mode', 'add', params, isCancel);
          }
          // this.closeProperties();
        } else {
          this.scrollToErrorField('error-input');
        }
      } else {
        if (this.fieldDetail) {
          this.$emit('submit-mode', 'edit', this.fieldDetail, isCancel);
        } else {
          this.$emit('submit-mode', 'add', this.fieldDetail, isCancel);
        }
        this.closeProperties();
      }
    },

    // Submit data in stacked properties
    submitField(mode, params, isCancel) {
      if (params.field_ui_key) {
        const findKeySame = this.dataSetup.fieldGroup.find(e => e.field_ui_key === params.field_ui_key);
        if (mode === 'add') {
          if (!findKeySame) {
            this.isError = false;
            if (!isCancel) {
              this.dataSetup.fieldGroup.push(params);
              this.togglePropertiesField(false);
            }
          } else {
            this.isError = true;
            this.toggleProblem('Key cannot be the same!');
          }
        } else {
          // eslint-disable-next-line
          if (this.selectedField.field_ui_key === params.field_ui_key) {
            this.isError = false;
            if (!isCancel) {
              this.dataSetup.fieldGroup[this.selectedIndexField] = params;
              this.togglePropertiesField(false);
            }
          } else {
            // eslint-disable-next-line
            if (!findKeySame) {
              this.isError = false;
              if (!isCancel) {
                this.dataSetup.fieldGroup[this.selectedIndexField] = params;
                this.togglePropertiesField(false);
              }
            } else {
              this.isError = true;
              this.toggleProblem('Key cannot be the same!');
            }
          }
        }
      } else {
        this.dataSetup.fieldGroup.splice(this.selectedIndexField, 1);
      }
    },

    setDefaultValue(value, type) {
      if (value) {
        if (type === 'time') {
          return this.convertTime(value);
        } else if (type === 'date' || type === 'date_time') {
          return this.converToLocalTime(value);
        }
        return value;
      }
      return null;
    },

    getDefaultValue(value, type) {
      if (value) {
        if (type === 'number' || type === 'number_decimal' || type === 'currency') {
          return Number(value);
        } else if (type === 'time') {
          return this.countSecond(value);
        } else if (type === 'date') {
          const convertDate = this.$moment(value).format('YYYY-MM-DD');
          return new Date(Date.parse(convertDate)).getTime();
        } else if (type === 'date_time') {
          const convertDate = this.$moment(value).format('YYYY-MM-DD HH:mm');
          return new Date(Date.parse(convertDate)).getTime();
        }
        return value;
      }
      return null;
    },

    setDataLocationType() {
      const value = this.dataSetup.locationType;

      if (value === 1) {
        this.currentLocation = true;
        this.manualLocation = false;
      } else if (value === 2) {
        this.currentLocation = false;
        this.manualLocation = true;
      } else if (value === 3) {
        this.currentLocation = true;
        this.manualLocation = true;
      }
    },

    setDataCamera() {
      const value = this.dataSetup.chooseCamera;

      if (value === 1) {
        this.rearCamera = true;
        this.frontCamera = true;
      } else if (value === 2) {
        this.rearCamera = false;
        this.frontCamera = true;
      } else if (value === 3) {
        this.rearCamera = true;
        this.frontCamera = false;
      }
    },

    converToLocalTime(data) {
      if (data) {
        const dt = new Date(data);
        const localDate = dt;

        const gmt = localDate;
        const min = gmt.getTime() / 1000 / 60; // convert gmt date to minutes
        const localNow = new Date().getTimezoneOffset(); // get the timezone
        const localTime = min + localNow; // get the local time

        const fullDate = new Date(localTime * 1000 * 60);
        const year = fullDate.getFullYear();
        const month = `0${fullDate.getMonth() + 1}`;
        const date = `0${fullDate.getDate()}`;
        const hours = `0${fullDate.getHours()}`;
        const minutes = `0${fullDate.getMinutes()}`;
        const utc = `${year}-${month.substr(-2)}-${date.substr(-2)}T${hours.substr(-2)}:${minutes.substr(-2)}:00.000Z`;

        return utc;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    countSecond(str) {
      const date = new Date();
      return new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${str}:00`)).getTime();
    },

    addoptions() {
      this.dataSetup.options.push('');
    },

    deleteOptions(index) {
      this.dataSetup.options.splice(index, 1);
    },

    addoptionsObject() {
      this.dataSetup.optionsObject.push({ label: null, value: null });
    },

    deleteOptionsObject(index) {
      this.dataSetup.optionsObject.splice(index, 1);
    },

    addTags() {
      this.dataSetup.tags.push({
        name: '',
        background: '#000000',
        font_color: '#000000',
      });
    },

    deleteTags(index) {
      this.dataSetup.tags.splice(index, 1);
    },

    loadOptionsForm({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const dataFilter = {
            name: searchQuery,
            company_id: this.session.user.company_id,
          };
          const reqData = {
            limit: 50,
            page: 1,
            filter: JSON.stringify(dataFilter),
          };
          this.$store.dispatch('jStoreAutomation/getListForm', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    openModalExternalUrl() {
      this.toggleModalExternalApi({ status: true, data: this.dataSetup.sourceExternal });
    },

    submitExternalUrl(data) {
      this.dataSetup.sourceExternal = data;
      this.closeModalExternalUrl();
    },

    addFilter() {
      this.dataSetup.filter.push({
        key: null,
        value: null,
      });
    },

    deleteFilter(index) {
      this.dataSetup.filter.splice(index, 1);
    },

    closeFilterOptions(id) {
      this.dataSetup.filterOperator = id;
      this.showFilterOptions = false;
    },

    encodeHtmlEntities(str) {
      return he.encode(str);
    },

    deleteSourceField() {
      this.$emit('delete-field');
    },

    closeProperties() {
      this.$emit('close-properties');

      setTimeout(() => {
        this.dataSetup = {
          name: null,
          placeholder: null,
          variable: null,
          isMandatory: false,
          isDisable: false,
          isHidden: false,
          key: null,
          locationType: 1,
          isShowMaps: false,
          options: [''],
          optionsObject: [
            { label: null, value: null },
          ],
          acceptedFileType: [],
          isUseCamera: false,
          isAutoFill: false,
          isWithParam: false,
          isAutoShow: false,
          sourceData: {
            tableGroup: null,
            form: null,
            showData: null,
            searchData: null,
            setValue: null,
            dataSelection: null,
          },
          filterColumn: null,
          fieldKey: null,
          sourceExternal: null,
          sourceExternalVariable: '',
          sourceExternalSetValue: null,
          fieldGroup: [],
          tags: [
            {
              name: '',
              background: '#000000',
              font_color: '#000000',
            },
          ],
          sourceCamera: null,
          chooseCamera: null,
          html: '',
          isUseWatermark: false,
          field1: null,
          field2: null,
          field3: null,
          isValueChange: false,
          onValueChange: '',
          grid: null,
          filter: [{ key: null, value: null }],
          filterOperator: null,
          sorting: { key: null, order: null },
          language: null,
          isDisableBackDate: false,
          defaultValue: null,
          width: null,
          isAllowSelectAllData: false,
          isAllowMinusValue: false,
          viewOptions: null,
        };

        this.$v.dataSetup.$reset();
        this.isFirstLoad = true;
      }, 400);
    },

    setCurrencyOptions(isAllowMinusValue) {
      if (isAllowMinusValue) {
        const options = Object.assign({}, this.exampleOptionCurrency);
        options.minimumValue = '-9999999999999.99';
        return options;
      }
      return this.exampleOptionCurrency;
    },

    changeViewDynamic(id) {
      if ((!this.isDetailView && id === 'render') || (this.isDetailView && this.isPageScreen)) {
        this.dataSetup.viewOptions = id;
      }
    },

    getListGroupTable() {
      this.getListDataGroupByCompanyId().then((res) => {
        if (!res.error) {
          this.tableGroupOptions = res.data || [];
        }
      });
    },
  },

  validations() {
    return {
      dataSetup: {
        name: {
          required,
        },
        placeholder: {
          // required,
        },
        type: {
          required,
        },
        variable: {
          // required,
        },
        isMandatory: {
          // required,
        },
        isDisable: {
          // required,
        },
        isHidden: { },
        key: {
          required,
        },
        locationType: {
          required: requiredIf(() => (this.dataSetup.type && this.dataSetup.type.id) === 'location'),
        },
        isShowMaps: { },
        options: {
          $each: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'single_selection' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_selection' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'attachment';
            }),
          },
        },
        optionsObject: {
          $each: {
            label: {
              required: requiredIf(() => {
                return (this.dataSetup.type && this.dataSetup.type.id) === 'radio' ||
                        (this.dataSetup.type && this.dataSetup.type.id) === 'checkbox';
              }),
            },
            value: {
              required: requiredIf(() => {
                return (this.dataSetup.type && this.dataSetup.type.id) === 'radio' ||
                        (this.dataSetup.type && this.dataSetup.type.id) === 'checkbox';
              }),
            },
          },
        },
        acceptedFileType: {
          required: requiredIf(() => {
            return (this.dataSetup.type && this.dataSetup.type.id) === 'attachment' ||
                    (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_attachment_dynamic' ||
                    (this.dataSetup.type && this.dataSetup.type.id) === 'single_attachment';
          }),
        },
        isUseCamera: {},
        isAutoFill: {},
        isWithParam: {},
        isAutoShow: {},
        sourceData: {
          tableGroup: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          form: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          showData: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          searchData: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          setValue: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          dataSelection: {
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'dynamic_field' &&
                      this.isDetailView && this.dataSetup.viewOptions === 'render';
            }),
          },
        },
        fieldGroup: {
          required: requiredIf(() => {
            return (this.dataSetup.type && this.dataSetup.type.id) === 'group' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'table_group';
          }),
        },
        filterColumn: {},
        fieldKey: {},
        isDisableAddMore: {},
        isDisableDeleteRow: {},
        sourceExternalVariable: {},
        sourceExternalSetValue: {},
        sourceCamera: {},
        chooseCamera: {},
        html: {},
        isUseWatermark: {},
        field1: {},
        field2: {},
        field3: {},
        isValueChange: {},
        onValueChange: {},
        grid: {},
        filter: {},
        filterOperator: {},
        sorting: {
          key: {
            // eslint-disable-next-line arrow-body-style
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
          order: {
            // eslint-disable-next-line arrow-body-style
            required: requiredIf(() => {
              return (this.dataSetup.type && this.dataSetup.type.id) === 'relation_record' ||
                      (this.dataSetup.type && this.dataSetup.type.id) === 'multiple_relation_record';
            }),
          },
        },
        language: {},
        isDisableBackDate: {},
        defaultValue: {},
        width: {},
        isAllowSelectAllData: {},
        isAllowMinusValue: {},
        viewOptions: {},
      },
    };
  },
};
</script>
