<template>
  <div>
    <b-row>
      <b-col
        v-if="mode === 'mappingEmployee'"
        cols="12"
      >
        <b-form-group :class="{'error-input' : $v.confirm_reason.employee.$error}">
          <label class="form__label">Employee <span style="color:red">*</span> </label>
          <j-single-select
            v-model="$v.confirm_reason.employee.$model"
            :is-async="true"
            :load-options="loadOptionsEmployee"
            value-format="object"
            placeholder="Select Employee"
            label="employee"
            search-prompt-text="Type minimum 3 characters to search..."/>
        </b-form-group>
      </b-col>

      <b-col
        v-if="mode !== 'delete'"
        sm="12"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.title_start_date.$error}">
          <label class="form__label">Effective Start Date <span style="color:red">*</span> </label>
          <j-datepicker
            v-model="$v.confirm_reason.title_start_date.$model"
            :disabled-dates="disabledStartDate(confirm_reason.title_end_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        v-if="mode !== 'delete'"
        sm="12"
        md="6">
        <b-form-group :class="{'error-input' : $v.confirm_reason.title_end_date.$error}">
          <label class="form__label">Effective End Date</label>
          <j-datepicker
            v-model="$v.confirm_reason.title_end_date.$model"
            :disabled-dates="disabledEndDate(confirm_reason.title_start_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        v-if="mode === 'delete'"
        md="12">
        <h6 class="text-center">Are you sure want to delete this information?</h6>
      </b-col>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.confirm_reason.reasons.$error}">
          <label class="form__label">Reason <span style="color:red">*</span> </label>
          <j-single-select
            v-model="$v.confirm_reason.reasons.$model"
            :options="list_reason"
            placeholder="Select reason"
            value-format="object"
            label="name" />
        </b-form-group>
      </b-col>
      <b-col cols="12">
        <div class="float-right m__t--20">
          <b-button
            class="btn grey m__r--10"
            @click="closeModal">Cancel</b-button>
          <b-button
            v-if="mode==='delete'"
            class="btn red"
            @click="updateReasons">Yes</b-button>
          <b-button
            v-else-if="isAddNew"
            class="btn blue"
            @click="updateReasons">Add</b-button>
          <b-button
            v-else
            class="btn blue"
            @click="updateReasons">Update</b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  props: {
    mode: {
      type: String,
      default: 'delete',
    },
    dataForm: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      confirm_reason: {
        reasons: null,
        title_start_date: null,
        title_end_date: null,
        employee: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['list_reason']),

    isAddNew() {
      return (this.mode === 'mappingEmployee') && !this.dataForm;
    },
  },
  created() {
    if (this.dataForm) {
      this.confirm_reason = {
        reasons: this.dataForm.reason ? {
          id: this.dataForm.reason,
          name: this.dataForm.reason,
        } : null,
        title_start_date: this.dataForm.effective_start_date,
        title_end_date: this.dataForm.effective_end_date,
      };

      if (this.mode === 'mappingEmployee') {
        this.confirm_reason.employee = {
          id: this.dataForm.user.id,
          label: `${this.dataForm.user.employee_id} - ${this.dataForm.user.profile.first_name} ${this.dataForm.user.profile.last_name}`,
          ...this.dataForm.organigram,
        };
      }
    }
  },
  methods: {

    // Load options for employee form
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 100,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/getListEmployee', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      // const yesterday = new Date();
      // yesterday.setDate(yesterday.getDate() - 1);
      return {
        color: 'light-grey',
        ranges: [
          // {
          //   from: new Date(1, 1, 1),
          //   to: yesterday,
          // },
          {
            from: Date.parse(endDate),
            to: new Date(200000, 1, 1),
          },
        ],
      };
    },
    closeModal() {
      this.confirm_reason = {
        reasons: null,
        title_start_date: null,
        title_end_date: null,
        employee: null,
      };
      this.$v.confirm_reason.$reset();
      this.$emit('close-modal');
    },
    async updateReasons() {
      if (typeof this.confirm_reason.employee === 'undefined') {
        this.confirm_reason.employee = null;
      }
      if (this.confirm_reason.title_start_date === '0000-00-00') {
        this.confirm_reason.title_start_date = null;
      }
      if (this.confirm_reason.title_end_date === '0000-00-00') {
        this.confirm_reason.title_end_date = null;
      }

      this.$v.confirm_reason.$touch();
      if (!this.$v.confirm_reason.$error) {
        const { reasons, employee, title_start_date, title_end_date } = this.confirm_reason;

        const req = {
          reasons: reasons.name,
          title_start_date: title_start_date ? this.$moment(title_start_date).format('YYYY-MM-DD') : title_start_date,
          title_end_date: title_end_date ? this.$moment(title_end_date).format('YYYY-MM-DD') : title_end_date,
        };

        if (this.mode === 'mappingEmployee') {
          req.employee = employee;
        }

        this.$emit('update-form', req);
        this.closeModal();
      }
    },
  },
  validations() {
    const validate = {
      confirm_reason: {
        reasons: {
          required,
        },
        employee: { },
        title_start_date: { },
        title_end_date: { },
      },
    };
    if (this.mode !== 'delete') {
      validate.confirm_reason.title_start_date = { required };
    }
    if (this.mode === 'mappingEmployee') {
      validate.confirm_reason.employee = { required };
    }
    return validate;
  },
};
</script>
