<template>
  <div class="p--16">

    <b-row>
      <b-col
        cols="12"
        class="component-title m__b--10">
        Subordinate
      </b-col>

      <b-col cols="9">
        <!-- <b-button
          class="btn btn-import-form m__r--8 m__b--8"
          @click="addRelation">
          <i class="fa fa-plus fa-lg"/> Add
        </b-button> -->

        <div
          v-show="isLoading"
          style="text-align: center;">
          <div class="lds-ellipsis"><div/><div/><div/><div/></div>
        </div>
        <div v-show="!isLoading">
          <div v-if="list_subordinate.length > 0">
            <b-row
              v-for="item in list_subordinate"
              :key="item.id"
              class="d-flex align-items-center justify-content-between list-subordinate">
              <b-col
                cols="8"
                class="d-flex align-items-center"
              >
                <img
                  src="@/assets/icon/position.png"
                  height="40"
                  width="40"
                  style="flex: none"
                >
                <div class="m__l--8">
                  <span
                    class="font-weight-bold"
                    style="font-size: 12px"
                  >
                    {{ item.position_name }}
                  </span>
                  <br>
                  <span
                    style="font-size: 12px"
                  >
                    {{ item.position_code }}
                  </span>
                </div>
              </b-col>
              <b-col
                cols="4"
                class="text-right"
              >
                <!-- <i
                  class="fa fa-pencil"
                  style="cursor:pointer"
                  @click="editRelation(item)" /> -->
                <!-- <i
                  class="fa fa-trash"
                  style="cursor:pointer"
                  @click="deleteRelation(item)" /> -->
              </b-col>
            </b-row>
          </div>
          <div v-else>no subordinate data</div>
        </div>
      </b-col>
    </b-row>

    <b-modal
      ref="modalMapping"
      class="mod-form modal-subordinate"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div>
        <fieldset>
          <h3 class="modal-title"> Add Subordinate </h3>
          <b-form-group>
            <j-single-select
              v-model="selectedPosition"
              :options="list_position"
              placeholder="Select position"
              value-format="object"
              label="name"
            />
          </b-form-group>
        </fieldset>

        <div class="text-right">
          <b-button
            class="btn"
            @click="closeModalMapping"
          >
            Close
          </b-button>
          <b-button
            class="btn blue"
            @click="submitMapping"
          >
            {{ mode === 'edit' ? 'Update' : 'Add' }}
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      selectedPosition: null,
      idRelation: null,
      mode: 'create',
      isLoading: true,
    };
  },
  computed: {
    ...mapState('jStorePosition', ['list_subordinate', 'list_position']),

  },
  created() {
    this.getListSubordinate();

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.actionGetListPosition(params);
  },
  methods: {
    ...mapActions('jStorePosition', ['actionGetListPosition', 'actionGetListSubordinate', 'actionCreateSubordinate', 'actionDeleteSubordinate']),

    getListSubordinate() {
      const params = {
        query_type: 'position_id',
        query: this.$route.params.id,
      };
      this.actionGetListSubordinate(params);
    },
    addRelation() {
      this.mode = 'create';
      this.selectedPosition = null;
      this.openModalMapping();
    },
    // editRelation(item) {
    //   this.mode = 'edit';
    //   this.selectedPosition = { id: item.id };
    //   this.idRelation = item.id;
    //   this.openModalMapping();
    // },
    deleteRelation(item) {
      this.$swal({
        title: `Are you sure to delete ${item.position_name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteSubordinate({
            id: item.id,
          });

          if (!res.data.error) {
            this.getListSubordinate();
          }
        }
      });
    },
    closeModalMapping() {
      this.$refs.modalMapping.hide();
    },
    openModalMapping() {
      this.$refs.modalMapping.show();
    },
    async submitMapping() {
      const genDataMapping = {
        root_organigram_id: this.$route.params.id,
        organigram_id: this.selectedPosition.id,
      };

      // eslint-disable-next-line
      let res;
      if (this.mode === 'edit') {
        // genDataMapping.id = this.idRelation;
        // res = await this.actionUpdateMappingCostCenterDivision(genDataMapping);
      } else {
        res = await this.actionCreateSubordinate(genDataMapping);
      }

      if (!res.data.error) {
        this.closeModalMapping();
        this.getListSubordinate();
      }
    },
  },
};
</script>

<style lang="scss">
  .modal-subordinate .modal-dialog {
    max-width: 500px;
  }

  .list-subordinate {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    padding: 4px;
  }
</style>
