<template>
  <div class="p--16">

    <b-row>
      <b-col
        cols="12"
        class="component-title m__b--10">
        Assignee
      </b-col>

      <b-col cols="9">
        <b-row
          v-for="item in assigneeHasUser"
          :key="item.id"
          class="d-flex align-items-center justify-content-between list-restriction">
          <b-col
            cols="5"
            class="d-flex align-items-center"
          >
            <img
              :src="item.user.profile.photo_url ? item.user.profile.photo_url : 'https://corp.jojonomic.com/assets/img/user3.png'"
              height="40"
              width="40"
              class="photo-profile"
              style="flex: none !important"
            >
            <div class="m__l--8">
              <span
                class="font-weight-bold"
                style="font-size: 12px"
              >
                {{ `${item.user.profile.first_name} ${item.user.profile.last_name}` }}
              </span>
              <br>
              <span
                style="font-size: 12px"
              >
                {{ item.user.profile.email }}
              </span>
            </div>
          </b-col>
          <b-col
            cols="5"
          >
            <span>
              EFFECTIVE DATE
            </span>
            <br>
            <span>
              {{ item.effective_start_date|moment("DD MMMM YYYY") }}
            </span>
            <span>-</span>
            <span>
              {{ item.effective_end_date|moment("DD MMMM YYYY") }}
            </span>
          </b-col>
          <b-col
            cols="2"
            class="text-right"
          >
            <i
              class="fa fa-pencil"
              style="cursor:pointer"
              @click="editAssignee(item)" />
            <i
              class="fa fa-trash"
              style="cursor:pointer"
              @click="deleteAssignee(item)" />
          </b-col>
        </b-row>

        <div
          class="float-right m__t--2 m__b--8"
          @click="addAssignee">
          <span class="btn-add-grade">
            <i class="fa fa-plus"/>
            Add Assignee
          </span>
        </div>
      </b-col>
    </b-row>

    <b-modal
      ref="modalConfirm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <div>
        <j-modal-confirm-with-reason
          v-if="isOpen"
          :mode="mode"
          :data-form="dataPosition"
          @update-form="continueSubmit"
          @close-modal="closeModalConfirm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapActions, mapState } from 'vuex';
import jModalConfirmWithReason from './jModalConfirmWithReason';

export default {
  components: {
    jModalConfirmWithReason,
  },
  data() {
    return {
      title: {
        main_title: 'CONFIRMATION',
      },
      mode: 'mappingEmployee',
      submitMode: 'create',
      isOpen: false,
      dataPosition: null,
    };
  },
  computed: {
    ...mapState('jStorePosition', ['list_assignee', 'list_position', 'position_detail']),

    assigneeHasUser() {
      return this.list_assignee.filter(val => val.user);
    },
  },
  created() {
    this.getListAssignee();
    this.actionGetReasonList();

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.actionGetListPosition(params);
  },
  methods: {
    ...mapActions('jStoreEmployee', ['updateOrganigram', 'updateWithReason', 'actionCreateActivityLog', 'actionGetReasonList', 'actionCreateMappingPosition', 'actionUpdateMappingPosition']),
    ...mapActions('jStorePosition', ['actionGetListPosition', 'actionGetListAssignee', 'actionUpdatePosition', 'actionCreateOrganigramRestriction', 'actionDeleteOrganigramRestriction']),

    generateDataLog(data) {
      const genData = {
        name: `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`,
        company_id: data.company_id,
        user_company_id: data.profile.user_company_id,
        position: data.position,
        division: '',
        employee_type_id: data.employment_type_id,
        employee_type_name: data.employment_type_name,
        employee_subtype_id: data.employment_subtype_id,
        employee_subtype_name: data.employment_subtype_name,
        location: data.location,
        effective_start_date: data.effective_start_date,
        effective_end_date: data.effective_end_date,
        reason: data.reasons,
        employee_status: data.employee_status ? data.employee_status : '',
      };
      return genData;
    },

    getListAssignee() {
      const params = {
        organigram_id: this.$route.params.id,
      };
      this.actionGetListAssignee(params);
    },
    addAssignee() {
      this.submitMode = 'create';
      this.dataPosition = null;
      this.openModalConfirm();
    },
    editAssignee(item) {
      this.submitMode = 'edit';
      this.dataPosition = item;
      this.openModalConfirm();
    },
    closeModalConfirm() {
      this.$refs.modalConfirm.hide();
      this.isOpen = false;
    },
    openModalConfirm() {
      this.isOpen = true;
      this.$refs.modalConfirm.show();
    },
    async continueSubmit(payload) {
      const { employee, title_start_date, title_end_date, reasons } = payload;

      if (this.submitMode === 'create') {
        const data = {
          organigram_id: this.$route.params.id,
          user_company_id: employee.id,
          effective_start_date: title_start_date,
          effective_end_date: title_end_date,
          reason: reasons,
        };

        await this.actionCreateMappingPosition(data);
      } else {
        const data = {
          id: this.dataPosition.id,
          organigram_id: this.$route.params.id,
          user_company_id: employee.id,
          effective_start_date: title_start_date,
          effective_end_date: title_end_date,
          reason: reasons,
          state: 1,
        };

        await this.actionUpdateMappingPosition(data);
      }

      this.getListAssignee();

      const genDataReason = {
        title_start_date,
        title_end_date,
        reasons,
      };

      const res2 = await this.updateWithReason({
        id: employee.id,
        payload: genDataReason,
      });
      if (!res2.error) {
        // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
        // this.getActivityLogs();
      }
    },
    async continueSubmit_old(payload) {
      const { employee, title_start_date, title_end_date, reasons } = payload;
      const dataDivisions = [];

      if (this.position_detail.divisions) {
        this.position_detail.divisions.forEach((val) => {
          dataDivisions.push(val.id);
        });
      }

      const genData = {
        id: this.$route.params.id,
        name: this.position_detail.name,
        code: this.position_detail.code,
        description: this.position_detail.description,
        user_company_id: employee.id,
        organigram_head_id: this.position_detail.organigram_head_id,
        organigram_head_name: this.position_detail.organigram_head_name,
        divisions: dataDivisions,
        effective_start_date: title_start_date,
        effective_end_date: title_end_date,
        reason: reasons,
      };

      await this.actionUpdatePosition(genData);
      this.getListAssignee();

      const genDataReason = {
        title_start_date,
        title_end_date,
        reasons,
      };

      const res2 = await this.updateWithReason({
        id: employee.id,
        payload: genDataReason,
      });
      if (!res2.error) {
        // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
      }
    },
    deleteAssignee(item) {
      this.$swal({
        title: `Are you sure to delete ${item.user.profile.first_name} ${item.user.profile.last_name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const data = {
            id: item.id,
            organigram_id: item.organigram_id,
            user_company_id: item.user_company_id,
            effective_start_date: item.effective_start_date,
            effective_end_date: item.effective_end_date,
            reason: item.reason,
            state: 4,
          };
          await this.actionUpdateMappingPosition(data);
          this.getListAssignee();
        }
      });
    },
  },
};
</script>

<style lang="scss">
  .btn-add-grade  {
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #d8d8d8;
    cursor: pointer;
  }
</style>
