<template>
  <div class="p--16">
    <b-row>
      <b-col cols="8">
        <h6 class="font-weight-bold">Leave</h6>
        <b-row class="align-items-center">
          <b-col
            sm="12"
            md="12">
            <j-position-mapping-leave-table />
          </b-col>
        </b-row>

        <br>

        <h6 class="font-weight-bold">Overtime</h6>
        <b-row class="align-items-center">
          <b-col
            sm="12"
            md="12">
            <j-position-mapping-overtime-table />
          </b-col>
        </b-row>

        <br>

        <!-- <h6 class="font-weight-bold">Expense</h6>
        <b-row class="align-items-center">
          <b-col
            sm="12"
            md="12">
            <j-position-mapping-expense-table />
          </b-col>
        </b-row>

        <br> -->

        <h6 class="font-weight-bold">Co Attendance</h6>
        <b-row class="align-items-center">
          <b-col
            sm="12"
            md="12">
            <b-form-group :class="{'error-input' : $v.rule.$error}">
              <label>Rule <span style="color: red;">*</span> </label>
              <j-single-select
                v-model="$v.rule.$model"
                :is-async="true"
                :load-options="loadOptionsRule"
                placeholder="Select Rule"
                value-format="object"
                label="name"/>
            </b-form-group>
          </b-col>

          <b-col
            sm="12"
            md="12">
            <b-button
              class="btn blue float-right"
              @click="submitMapping">
              Apply
            </b-button>
          </b-col>
        </b-row>
      </b-col>

      <b-col cols="4"/>
    </b-row>
  </div>
</template>


<script>
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jPositionMappingLeaveTable from './mapping/jPositionMappingLeaveTable';
import jPositionMappingOvertimeTable from './mapping/jPositionMappingOvertimeTable';
import jPositionMappingExpenseTable from './mapping/jPositionMappingExpenseTable';

export default {
  components: {
    jPositionMappingLeaveTable,
    jPositionMappingOvertimeTable,
    jPositionMappingExpenseTable,
  },
  validations: {
    rule: { required },
  },
  data() {
    return {
      rule: null,
      position_id: 0,
      mapping_id: 0,
      mode: 'create',
    };
  },
  computed: {
    ...mapState('jStorePosition', ['related_rule']),

  },
  watch: {
    related_rule(val) {
      if (val.length > 0) {
        this.rule = {
          id: val[0].rule_id,
          name: val[0].rule_name,
          label: val[0].rule_name,
        };

        this.mapping_id = val[0].id;
        this.mode = 'edit';
      }
    },
  },
  mounted() {
    const params = {
      position_id: [Number(this.$route.params.id)],
    };
    this.getCoattendanceMappingRule(params);
  },
  methods: {
    ...mapActions('jStorePosition', ['getCoattendanceMappingRule', 'createCoattendanceMappingRule', 'updateCoattendanceMappingRule']),

    loadOptionsRule({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePosition/getListRule', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    async submitMapping() {
      this.$v.rule.$touch();
      if (!this.$v.rule.$error) {
        if (this.mode === 'edit') {
          const params = {
            id: Number(this.mapping_id),
            rule_id: Number(this.rule.id),
          };

          this.updateCoattendanceMappingRule(params);
        } else {
          const params = {
            position_id: Number(this.$route.params.id),
            rule_id: Number(this.rule.id),
          };

          const res = await this.createCoattendanceMappingRule(params);

          if (!res.error) {
            this.mapping_id = res.data.id;
            this.mode = 'edit';
          }
        }
      }
    },
  },
};
</script>

<style lang="scss">
  .btn-add-mapping {
    padding: 4px 8px;
    background: #efefef !important;
    color: #505050 !important;
  }
</style>
