<template>
  <div class="p--16">
    <b-row>
      <b-col cols="8">
        <b-row>
          <b-col cols="6">
            <b-form-group :class="{'error-input' : $v.dataPosition.id.$error}">
              <label> Position ID <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataPosition.id.$model"
                :disabled="true"
                placeholder="Enter id here"/>
            </b-form-group>
          </b-col>

          <b-col cols="6">
            <b-form-group :class="{'error-input' : $v.dataPosition.code.$error}">
              <label> Position Code </label>
              <j-input
                v-model="$v.dataPosition.code.$model"
                placeholder="Enter code here"/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.name.$error}">
              <label> Position Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataPosition.name.$model"
                placeholder="Enter name here"/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.parent.$error}">
              <label>Supervisor/Manager</label>
              <j-single-select
                v-model="$v.dataPosition.parent.$model"
                :is-async="true"
                :load-options="loadOptionsParent"
                value-format="object"
                placeholder="Select Supervisor/Manager"
                search-prompt-text="Type minimum 3 characters to search..."/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.divisions.$error}">
              <label>Org Unit</label>
              <j-single-select
                v-model="$v.dataPosition.divisions.$model"
                :is-async="true"
                :load-options="loadOptionsDivisions"
                value-format="object"
                placeholder="Select Divisions"
                search-prompt-text="Type minimum 3 characters to search..."/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group>
              <label>Cost Center</label>
              <j-single-select
                v-model="dataPosition.cost_center"
                :disabled="true"
                value-format="object"
                label="label"
                placeholder="Select Cost Center"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.location.$error}">
              <label>Location</label>
              <j-single-select
                v-model="$v.dataPosition.location.$model"
                :is-async="true"
                :load-options="loadOptionsLocation"
                :placeholder="'Select Location'"
                label="label"
                value-format="object"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group>
              <label>Tax Location</label>
              <j-single-select
                v-model="dataPosition.tax_location"
                :is-async="true"
                :load-options="loadOptionsTaxLocation"
                value-format="object"
                label="label"
                placeholder="Select Tax Location"
              />
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.payroll_area.$error}">
              <label>Payroll Area</label>
              <j-single-select
                v-model="$v.dataPosition.payroll_area.$model"
                :options="list_payroll_area"
                value-format="object"
                placeholder="Select Payroll Area"
                label="name"
                search-prompt-text="Type minimum 3 characters to search..."/>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.dataPosition.layer.$error}">
              <label>Layer</label>
              <j-single-select
                v-model="$v.dataPosition.layer.$model"
                :is-async="true"
                :load-options="loadOptionsLayer"
                value-format="object"
                placeholder="Select Layer"
                search-prompt-text="Type minimum 3 characters to search..."/>
            </b-form-group>
          </b-col>
        </b-row>

        <div class="text-right">
          <b-button
            v-if="isAdmin"
            :disabled="true"
            class="btn red"
            @click="handleDeletePosition">
            Delete
          </b-button>
          <b-button
            v-if="isAdmin"
            class="btn blue"
            @click="handleUpdatePosition">
            Update
          </b-button>
        </div>
      </b-col>

      <b-col cols="4"/>

    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required } from 'vuelidate/lib/validators';

export default {
  validations() {
    return {
      dataPosition: {
        id: { },
        code: { },
        name: { required },
        parent: { },
        divisions: { },
        location: {},
        payroll_area: { },
        layer: { },
      },
    };
  },
  data() {
    return {
      dataPosition: {
        id: 0,
        name: '',
        code: '',
        parent: null,
        divisions: null,
        cost_center: null,
        location: null,
        tax_location: null,
        payroll_area: null,
        layer: null,
        assign_employee: null,
      },
      organigram_member_id: null,
      locationOptions: [],
      relationPayrollArea: null,
      isFirstLoad: true,
    };
  },
  computed: {
    ...mapState('jStorePosition', ['position_detail', 'list_location', 'detail_cost_center', 'detail_location', 'detail_tax_location']),
    ...mapState('jStorePayrollArea', ['relation_payroll_area', 'list_payroll_area']),

    generateData() {
      const data = {
        id: this.dataPosition.id,
        name: this.dataPosition.name,
        code: this.dataPosition.code,
        user_company_id: this.dataPosition.assign_employee ?
          Number(this.dataPosition.assign_employee.id) : null,
      };

      if (this.dataPosition.location) {
        data.location_id = { id: Number(this.dataPosition.location.id) };
      }

      if (this.dataPosition.tax_location) {
        data.organigram_tax_location = {
          organigram_id: this.dataPosition.id,
          tax_location_id: this.dataPosition.tax_location.id,
        };
      } else {
        data.organigram_tax_location = null;
      }

      if (this.dataPosition.parent) {
        data.organigram_head_id = this.dataPosition.parent.id;
      }

      if (this.dataPosition.divisions) {
        // data.divisions = this.dataPosition.divisions ?
        //   this.dataPosition.divisions.map(dataMap => dataMap.id) : [];
        data.divisions = [this.dataPosition.divisions.id];
      }

      if (this.dataPosition.layer) {
        data.position_layer = {
          id: this.dataPosition.layer.id,
        };
      }

      return data;
    },

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    list_location(val) {
      this.locationOptions = val.map(item => ({
        id: item.id,
        text: `${item.name} (${item.code})`,
      }));
    },
    relation_payroll_area(val) {
      if (val.length > 0) {
        this.dataPosition.payroll_area = {
          id: val[0].payroll_area_id,
        };

        this.relationPayrollArea = val[0];
      } else {
        this.dataPosition.payroll_area = null;
        this.relationPayrollArea = null;
      }
    },
    position_detail(val) {
      this.dataPosition.id = val.id;
      this.dataPosition.name = val.name;
      this.dataPosition.code = val.code;

      if (val.organigram_head_id) {
        this.dataPosition.parent = { id: val.organigram_head_id, label: val.organigram_head_name };
      }
      if (val.divisions && val.divisions.length > 0) {
        // this.dataPosition.divisions = val.divisions.map(data => ({
        //   ...data, label: data.name,
        // }));
        this.dataPosition.divisions = {
          ...val.divisions[0],
          id: val.divisions[0].id,
          label: val.divisions[0].name,
        };
      }
      if (val.location) {
        this.dataPosition.location = {
          ...val.location,
          id: val.location.id,
          label: val.location.name,
        };
      }
      if (val.position_layer) {
        this.dataPosition.layer = { ...val.position_layer, label: val.position_layer.name };
      }
      if (val.organigram_tax_location) {
        this.actionGetTaxLocation(val.organigram_tax_location.tax_location_id);
      }

      if (val.user) {
        this.dataPosition.assign_employee = {
          id: val.user.id,
          label: `${val.user.profile.first_name} ${val.user.profile.last_name}`,
        };
      }

      this.organigram_member_id = val.organigram_member_id;

      setTimeout(() => {
        this.isFirstLoad = false;
      }, 1000);
    },
    // eslint-disable-next-line func-names
    'dataPosition.divisions': function (val) {
      this.actionGetCostCenterByDivision({ division_id: val.id });
    },
    // eslint-disable-next-line func-names
    'dataPosition.location': function (val) {
      if (!this.isFirstLoad) {
        this.dataPosition.tax_location = null;
        this.actionGetTaxLocationByLocation(val.id);
      }
    },
    detail_cost_center(val) {
      this.dataPosition.cost_center = {
        id: val.id,
        label: val.name,
      };
    },
    detail_location(val) {
      this.actionGetTaxLocation(val.tax_location_id);
    },
    detail_tax_location(val) {
      this.dataPosition.tax_location = {
        id: val.id,
        label: val.name,
      };
    },
  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.getListCompanyLocation(params);
    this.actionGetListPayrollArea(params);

    this.initialData();
  },
  methods: {
    ...mapActions('jStorePosition', ['actionUpdatePosition', 'deletePosition', 'getDetailPosition', 'getListCompanyLocation', 'actionGetCostCenterByDivision', 'actionGetTaxLocationByLocation', 'actionGetTaxLocation']),
    ...mapActions('jStorePayrollArea', ['actionGetListPayrollArea', 'actionGetMappingPayrollAreaByOrganigram', 'actionCreateMappingPayrollArea', 'actionUpdateMappingPayrollArea', 'actionDeleteMappingPayrollArea']),

    initialData() {
      this.getDetailPosition({ id: Number(this.$route.params.id) });
      this.actionGetMappingPayrollAreaByOrganigram(this.$route.params.id);
    },

    // Load options for divisions form
    loadOptionsDivisions({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/getListDivisions', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for parent form
    loadOptionsParent({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query_type: 'position',
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/getListParent', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for location form
    loadOptionsLocation({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query_type: 'name',
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/getListLocation', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for layer form
    loadOptionsLayer({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePosition/getListLayer', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for layer form
    loadOptionsTaxLocation({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStoreTaxLocation/actionGetTaxLocationList', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for layer form
    loadOptionsPayrollArea({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'name',
            },
          };
          this.$store.dispatch('jStorePayrollArea/actionGetListMasterPayrollArea', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    async handleUpdatePosition() {
      this.$v.dataPosition.$touch();
      if (!this.$v.dataPosition.$error) {
        await this.actionUpdatePosition(this.generateData);

        if (this.relationPayrollArea && this.dataPosition.payroll_area) {
          const genDataMapping = {
            organigram_id: Number(this.$route.params.id),
            payroll_area_id: this.dataPosition.payroll_area.id,
          };
          await this.actionUpdateMappingPayrollArea({
            id: this.relationPayrollArea.id,
            data: genDataMapping,
          });
        } else if (this.relationPayrollArea && !this.dataPosition.payroll_area) {
          await this.actionDeleteMappingPayrollArea(this.relationPayrollArea.id);
        } else if (this.dataPosition.payroll_area) {
          const genDataMapping = {
            organigram_id: Number(this.$route.params.id),
            payroll_area_id: this.dataPosition.payroll_area.id,
          };
          await this.actionCreateMappingPayrollArea(genDataMapping);
        }

        this.initialData();
      }
    },

    handleDeletePosition() {
      this.$swal({
        title: 'Confirm Delete',
        text: 'Are you sure want to delete this position?',
        type: 'warning',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value) {
          await this.deletePosition({ id: Number(this.$route.params.id) });
          this.initialData();
        }
      });
    },

  },
};
</script>
