<template>
  <div class="p--16">

    <b-row>
      <b-col
        cols="12"
        class="component-title m__b--10">
        Restriction
      </b-col>

      <b-col cols="9">
        <b-button
          class="btn btn-import-form m__r--8 m__b--8"
          @click="addRelation">
          <i class="fa fa-plus fa-lg"/> Add
        </b-button>

        <div
          v-show="isLoading"
          style="text-align: center;">
          <div class="lds-ellipsis"><div/><div/><div/><div/></div>
        </div>
        <div v-show="!isLoading">
          <div v-if="list_organigram_restriction.length > 0">
            <b-row
              v-for="item in list_organigram_restriction"
              :key="item.id"
              class="d-flex align-items-center justify-content-between list-restriction">
              <b-col
                cols="8"
                class="d-flex align-items-center"
              >
                <img
                  src="@/assets/icon/position.png"
                  height="40"
                  width="40"
                  style="flex: none"
                >
                <div class="m__l--8">
                  <span
                    class="font-weight-bold"
                    style="font-size: 12px"
                  >
                    {{ item.organigram.name }}
                  </span>
                  <br>
                  <span
                    style="font-size: 12px"
                  >
                    {{ item.organigram.code }}
                  </span>
                </div>
              </b-col>
              <b-col
                cols="4"
                class="text-right"
              >
                <!-- <i
                  class="fa fa-pencil"
                  style="cursor:pointer"
                  @click="editRelation(item)" /> -->
                <i
                  class="fa fa-trash"
                  style="cursor:pointer"
                  @click="deleteRelation(item)" />
              </b-col>
            </b-row>
          </div>
          <div v-else>no restriction data</div>
        </div>
      </b-col>
    </b-row>

    <b-modal
      ref="modalMapping"
      class="mod-form modal-restriction"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div>
        <fieldset>
          <h3 class="modal-title"> Add Restriction </h3>
          <b-form-group>
            <j-single-select
              v-model="selectedPosition"
              :is-async="true"
              :load-options="loadOptionsPosition"
              placeholder="Select position"
              value-format="object"
              label="label"
            />
          </b-form-group>
        </fieldset>

        <div class="text-right">
          <b-button
            class="btn"
            @click="closeModalMapping"
          >
            Close
          </b-button>
          <b-button
            class="btn blue"
            @click="submitMapping"
          >
            {{ mode === 'edit' ? 'Update' : 'Add' }}
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  data() {
    return {
      selectedPosition: null,
      idRelation: null,
      mode: 'create',
      positionList: [],
      isLoading: true,
    };
  },
  computed: {
    ...mapState('jStorePosition', ['list_organigram_restriction', 'list_position']),

  },
  watch: {
    list_position(val) {
      this.positionList = val.map(el => ({
        id: el.id,
        label: `${el.id} - ${el.name} ${(el.user && el.user.employee_id) ? `- ${el.user.employee_id}` : ''}`,
      }));
    },

    list_organigram_restriction() {
      this.isLoading = false;
    },
  },
  created() {
    this.getListRestriction();

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.actionGetListPosition(params);
  },
  methods: {
    ...mapActions('jStorePosition', ['actionGetListPosition', 'actionGetListOrganigramRestriction', 'actionCreateOrganigramRestriction', 'actionDeleteOrganigramRestriction']),

    loadOptionsPosition({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 0) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: false,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/actionGetListPositionAsync', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    getListRestriction() {
      const params = {
        root_organigram_id: this.$route.params.id,
      };
      this.actionGetListOrganigramRestriction(params);
    },
    addRelation() {
      this.mode = 'create';
      this.selectedPosition = null;
      this.openModalMapping();
    },
    // editRelation(item) {
    //   this.mode = 'edit';
    //   this.selectedPosition = { id: item.id };
    //   this.idRelation = item.id;
    //   this.openModalMapping();
    // },
    deleteRelation(item) {
      this.$swal({
        title: `Are you sure to delete ${item.organigram.name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteOrganigramRestriction({
            id: item.id,
          });

          if (!res.data.error) {
            this.getListRestriction();
          }
        }
      });
    },
    closeModalMapping() {
      this.$refs.modalMapping.hide();
    },
    openModalMapping() {
      this.$refs.modalMapping.show();
    },
    async submitMapping() {
      const genDataMapping = {
        root_organigram_id: this.$route.params.id,
        organigram_id: this.selectedPosition.id,
      };

      // eslint-disable-next-line
      let res;
      if (this.mode === 'edit') {
        // genDataMapping.id = this.idRelation;
        // res = await this.actionUpdateMappingCostCenterDivision(genDataMapping);
      } else {
        res = await this.actionCreateOrganigramRestriction(genDataMapping);
      }

      if (!res.data.error) {
        this.closeModalMapping();
        this.getListRestriction();
      }
    },
  },
};
</script>

<style lang="scss">
  .modal-restriction .modal-dialog {
    max-width: 500px;
  }

  .list-restriction {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    padding: 4px;
  }
</style>
