<template>
  <div
    id="flow-sla-table"
    class="list-data-table">

    <div v-if="!load_first">
      <jLoadingTable/>
    </div>

    <div v-show="load_first">
      <v-server-table
        ref="flowServer"
        :url="env"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="rowClick"
        @pagination="removeRowBackground">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              id="sla-table-search"
              class="btn btn-import-oos">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="sla_policy"
          slot-scope="props">
          <div
            v-for="policy in props.row.sla"
            :key="policy.id">
            Type {{ policy.type - 1 }} value ({{ policy.value }}%)
          </div>
        </div>
      </v-server-table>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="flow-sla-table"
      target="sla-table-search"
      placement="right">
      <div class="text-center m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>
  </div>
</template>

<script>
import { jFlowSLA } from '@/mixins/paginations/flow/jFlowSLA';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';

export default {
  components: {
    jLoadingTable,
  },
  mixins: [
    jFlowSLA,
  ],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
    };
  },
  methods: {
    rowClick(data) {
      this.$store.commit('jFlows/setDetailSLA', { data: data.row });
      this.$store.commit('jFlows/setOpenSLA');

      this.$router.push(`${this.oosRoute}/flows/sla/edit/${data.row.id}`);
    },
    removeRowClick() {

    },
    removeRowBackground() {

    },
  },
};
</script>

