<template>
  <div style="border: 1px solid #d7d7d7">
    <div
      ref="editor"
      class="monaco mt-1"
    />
  </div>
</template>

<script>
/* eslint-disable max-len, no-console, no-unused-vars */
import * as monaco from 'monaco-editor';

export default {
  props: {
    value: {
      type: String,
      default: '',
    },
    language: {
      type: String,
      default: 'javascript',
    },
    theme: {
      type: String,
      default: 'vs-light',
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
  },

  watch: {
    value(val) {
      const currentValue = this.editor.getValue();
      if (val !== currentValue) {
        this.editor.setValue(val || '');
      }
    },
  },

  mounted() {
    const el = this.$refs.editor;

    this.editor = monaco.editor.create(el, {
      value: this.value,
      language: this.language,
      theme: this.theme,
      fontSize: 13,
      readOnly: this.readOnly,
    });

    // Listen for changes in the editor
    this.editor.onDidChangeModelContent(() => {
      const value = this.editor.getValue();
      this.$emit('input', value === '' ? '' : value);
    });
  },

  methods: {
    getData() {
      return this.editor.getValue();
    },
  },
};
</script>

<style lang="scss" scoped>
  .monaco {
    min-height: 200px;
    font-weight: 600;
    font-size: 12px;
  }
</style>
