<template>
  <div>
    <div>
      <j-assignment-form-update
        ref="employeeForm"
        mode="update"
        @update-employee-id="updateEmployeeId"
        @data="getData"/>
    </div>

    <b-row>
      <b-col
        sm="12"
        md="9">
        <div class="float-right m__t--20">
          <b-button
            v-if="isAdmin"
            class="btn red m__r--10"
            @click="openModalConfirm('delete')">Delete
          </b-button>
          <b-button
            v-if="isAdmin"
            class="btn blue"
            @click="openModalConfirm('employment')">Update
          </b-button>
        </div>
      </b-col>
      <b-col
        sm="12"
        md="3"/>
    </b-row>

    <!-- <b-row class="m__t--20">
      <b-col
        sm="12"
        md="9">
        <j-title-header :options="titlePosition"/>
        <b-form-group :class="{'error-input' : $v.data_position.position.$error}">
          <label> Position </label>
          <j-single-select
            v-model="$v.data_position.position.$model"
            :is-async="true"
            :cache-option="false"
            :load-options="loadOptionsPosition"
            :default-options="false"
            placeholder="Ex: CTO"
            value-format="object"
            label="name" />
        </b-form-group>
        <b-button
          class="btn blue float-right"
          @click="openModalConfirm('position')">
          Update
        </b-button>
      </b-col>

      <b-col
        sm="12"
        md="3"/>
    </b-row> -->

    <b-row class="m__t--20">
      <b-col
        sm="12"
        md="9">
        <j-title-header :options="titleEmployment"/>
        <j-assignment-mapping-employment />
      </b-col>

      <b-col
        sm="12"
        md="3"/>
    </b-row>

    <b-row class="m__t--20">
      <b-col
        sm="12"
        md="9">
        <j-title-header :options="titlePosition"/>
        <j-assignment-mapping-position />
      </b-col>

      <b-col
        sm="12"
        md="3"/>
    </b-row>

    <b-row class="m__t--20">
      <b-col
        sm="12"
        md="9">
        <j-title-header :options="titleGrade"/>
        <j-assignment-mapping-grade />
      </b-col>

      <b-col
        sm="12"
        md="3"/>
    </b-row>

    <b-modal
      ref="modalConfirm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <div>
        <j-modal-confirm-with-reason
          v-if="isOpen"
          :mode="submitMode"
          :employee-data="employee_data"
          :position-data="data_position"
          @update-form="continueUpdate"
          @close-modal="closeModalConfirm"/>
      </div>
    </b-modal>
    <br>
  </div>
</template>

<script>
/* eslint-disable max-len */
// eslint-disable-next-line import/no-extraneous-dependencies
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jAssignmentFormUpdate from './jAssignmentFormUpdate';
import jModalConfirmWithReason from './jModalConfirmWithReason';
import jAssignmentMappingEmployment from './jAssignmentMappingEmployment';
import jAssignmentMappingGrade from './jAssignmentMappingGrade';
import jAssignmentMappingPosition from './jAssignmentMappingPosition';

export default {
  components: {
    jAssignmentFormUpdate,
    jModalConfirmWithReason,
    jAssignmentMappingEmployment,
    jAssignmentMappingGrade,
    jAssignmentMappingPosition,
  },
  validations() {
    return {
      data_position: {
        position: {
          required,
        },
      },
    };
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      employee_data: null,
      titleEmployment: {
        icon: 'fa-user',
        main_title: 'Employment Type',
        opt_title: '',
      },
      titlePosition: {
        icon: 'fa-user',
        main_title: 'Position',
        opt_title: '',
      },
      titleGrade: {
        icon: 'fa-user',
        main_title: 'Grade',
        opt_title: '',
      },
      title: {
        main_title: 'CONFIRMATION',
      },
      data_position: {
        id: 0,
        position: null,
        parent_position: '',
        division: [],
      },
      data_positions: [],
      temp_position: null,
      positionMode: 'create',
      firstLoad: true,
      submitMode: 'employment',
      isOpen: false,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['organigram_detail', 'activity_logs', 'list_bank']),
    ...mapState('jStorePayrollInfo', ['update_availability']),

    generateData() {
      const dataRoles = [];
      this.employee_data.role.forEach((val) => {
        dataRoles.push(val.id);
      });
      const dataSecMapp = [];
      this.employee_data.secretary_mode_mapping.forEach((val) => {
        dataSecMapp.push(val.id);
      });
      const genData = {
        id: this.employee_data.id,
        email: this.employee_data.email,
        employee_id: this.employee_data.employee_id,
        personal_email: this.employee_data.personal_email,
        password: this.employee_data.password ? this.employee_data.password : '',
        first_name: this.employee_data.first_name,
        last_name: this.employee_data.last_name ? this.employee_data.last_name : '',
        group_id: this.employee_data.teams ? this.employee_data.teams.id : 0,
        roles: dataRoles,
        user_role: this.employee_data.user_role,
        code: this.employee_data.code,
        join_date: this.employee_data.join_date,
        resign_date: this.employee_data.end_date,
        photo_url: this.employee_data.photo,
        phone_number: this.employee_data.phone_number,
        date_of_birth: this.employee_data.date_of_birth,
        place_of_birth: this.employee_data.place_of_birth,
        bank_account_name: this.employee_data.bank_name ? this.employee_data.bank_name.name : '',
        bank_account_number: this.employee_data.bank_account_number,
        bank_account_owner: this.employee_data.bank_account_holder_name,
        bank_account_branch: this.employee_data.bank_account_branch,
        contract_type: this.employee_data.contract_type ? this.employee_data.contract_type : '',
        type_of_contract: this.employee_data.contract_type ? this.handleTypeOfContract(this.employee_data.contract_type) : '',
        active_reason: this.employee_data.active_reason ? this.employee_data.active_reason : '',
        non_active_reason: this.employee_data.nonactive_reason ? this.employee_data.nonactive_reason : '',
        secretary_mode: this.employee_data.secretary_mode,
        secretary_mode_list_team: dataSecMapp,
        country_id: this.employee_data.country ? this.employee_data.country.id : 0,
        employee_status: this.employee_data.employee_status ? this.employee_data.employee_status.id : 0,
        other_name: this.employee_data.other_name,
        gender: this.employee_data.gender,
        nationality_type: this.employee_data.nationality_type ? this.employee_data.nationality_type : null,
        identity_type: this.employee_data.id_type ? this.employee_data.id_type.text : '',
        passport_expired_date: this.employee_data.exp_date ? this.employee_data.exp_date : '',
        identity_no: this.employee_data.id_number,
        fax_number: 0,
        religion: this.employee_data.religion,
        marital_status: this.employee_data.marital_status,
        home_address: this.employee_data.home_address,
        postal_code: this.employee_data.postal_code,
        about: this.employee_data.notes,
        title: '',
        tax_identification_number: 0,
        bpjs_ketenagakerjaan: '',
        bpjs_kesehatan: '',
        ptkp: '',
        max_disbursed_count: 0,
        province_id: this.employee_data.province ? this.employee_data.province : '',
        city_id: this.employee_data.city ? this.employee_data.city : '',
        office_country_id: this.employee_data.office_country ? this.employee_data.office_country : '',
        office_province_id: this.employee_data.office_province ? this.employee_data.office_province : '',
        office_city_id: this.employee_data.office_city ? this.employee_data.office_city : '',
        contract_start_date: this.$moment(this.employee_data.contract_start_date).format('YYYY-MM-DD'),
        contract_end_date: this.$moment(this.employee_data.contract_end_date).format('YYYY-MM-DD'),
        location_id: this.employee_data.company_location ? this.employee_data.company_location : '',
        address: this.employee_data.address ? this.employee_data.address : '',
        office_address: this.employee_data.office_address ? this.employee_data.office_address : '',
        address_type: this.employee_data.address_type ? this.employee_data.address_type : '',
        address_2: '',
        address_3: '',
        post_code: '',
        iban: '',
        managers: [],
        salutation: '',
        passport_no: '',
        passport_issuing: '',
        passport_issuing_date: '',
        passport_nationality: '',
        employment_type_id: this.employee_data.employment_type_id ? this.employee_data.employment_type_id.id : 0,
        employment_subtype_id: this.employee_data.employment_subtype_id ? this.employee_data.employment_subtype_id : 0,
      };
      return genData;
    },

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    organigram_detail(newVal) {
      if (newVal.length > 0 && this.firstLoad) {
        this.data_position.position = {
          id: newVal[0].organigram.id,
          label: newVal[0].organigram.name,
          text: newVal[0].organigram.name,
          position_name: newVal[0].organigram.name,
          position_code: newVal[0].organigram.code,
          description: newVal[0].organigram.description,
          divisions: newVal[0].organigram.divisions || [],
          fulldata: newVal[0].organigram,
        };

        this.temp_position = {
          id: newVal[0].organigram.id,
          name: newVal[0].organigram.name,
          code: newVal[0].organigram.code,
          description: newVal[0].organigram.description,
          user_company_id: this.$route.params.id,
          organigram_head_id: newVal[0].organigram.organigram_head_id,
          organigram_head_name: newVal[0].organigram.organigram_head_name,
          divisions: newVal[0].organigram.divisions || [],
        };

        this.positionMode = 'edit';
      }
    },
    // eslint-disable-next-line
    'data_position.position': function (newData) {
      this.data_position.parent_position = '';
      this.data_position.division = [];
      if (newData.organigram_head_id !== 0) {
        this.data_position.parent_position = newData.organigram_head_name;
      }

      if (newData.divisions.length > 0) {
        const dataDivisions = newData.divisions;
        dataDivisions.forEach((val, index) => {
          dataDivisions[index].label = val.name;
        });
        this.data_position.division = dataDivisions;
      }
    },
  },
  created() {
    const employeeId = {
      id: Number(this.$route.params.id),
    };

    this.detailEmployee(employeeId);
    this.actionGetReasonList();

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: false,
        query: '',
        query_type: '',
      },
    };
    this.actionGetMasterGradeList(params);
  },
  methods: {
    ...mapActions('jStoreEmployee', ['updateEmployee', 'detailEmployee', 'updateOrganigram', 'actionGetReasonList', 'actionGetMasterGradeList', 'updateWithReason', 'actionGetActivityLogs', 'actionCreateActivityLog', 'generateEmployeeId']),

    getActivityLogs() {
      // const dataFilter = {
      //   user_company_id: Number(this.$route.params.id),
      // };
      // const params = {
      //   page: 1,
      //   limit: 10,
      //   filter: JSON.stringify(dataFilter),
      //   sort: 'asc',
      // };
      // this.actionGetActivityLogs(params);
    },
    getData(data) {
      this.employee_data = data;
    },
    generateDataLog(data) {
      const genData = {
        name: `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`,
        company_id: data.company_id,
        user_company_id: data.profile.user_company_id,
        position: data.position,
        division: '',
        employee_type_id: data.employment_type_id,
        employee_type_name: data.employment_type_name,
        employee_subtype_id: data.employment_subtype_id,
        employee_subtype_name: data.employment_subtype_name,
        location: data.location,
        effective_start_date: data.effective_start_date,
        effective_end_date: data.effective_end_date,
        reason: data.reasons,
        employee_status: 'Active',
      };
      if (this.employee_data.employee_status) {
        if (this.employee_data.employee_status.id === 1) {
          genData.employee_status = 'Active';
        } else {
          genData.employee_status = 'Non Active';
        }
      } else {
        genData.employee_status = '';
      }
      return genData;
    },
    closeModalConfirm() {
      this.$refs.modalConfirm.hide();
      this.isOpen = false;
    },
    openModalConfirm(data) {
      this.submitMode = data;

      if (this.submitMode === 'position') {
        this.$refs.employeeForm.save();
        if (this.employee_data !== null) {
          this.isOpen = true;
          this.$v.data_position.$touch();
          if (!this.$v.data_position.$error) {
            this.isOpen = true;
            this.$refs.modalConfirm.show();
          }
        }
      } else if (this.submitMode === 'employment') {
        this.$refs.employeeForm.save();
        if (this.employee_data !== null) {
          this.isOpen = true;
          this.$refs.modalConfirm.show();
        }
      } else { // this.submitMode === 'delete'
        this.$refs.employeeForm.saveWithoutValidate();
        this.isOpen = true;
        this.$refs.modalConfirm.show();
      }
    },
    async continueUpdate(payload) {
      if (this.submitMode === 'position') {
        this.updatePosition(payload);
      } else if (this.submitMode === 'employment') {
        const res = await this.updateEmployee(this.generateData);
        if (!res.error) {
        // eslint-disable-next-line no-param-reassign
          payload = {
            ...payload,
            location_id: Number(res.data.location_id),
            employment_type_id: Number(res.data.employment_type_id),
          };

          const res2 = await this.updateWithReason({ id: this.$route.params.id, payload });
          if (!res2.error) {
            // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
            // this.getActivityLogs();
          }
        }
      } else {
        const eraseData = this.generateData;
        eraseData.code = '';
        eraseData.join_date = null;
        eraseData.end_date = null;
        eraseData.contract_type = null;
        eraseData.contract_time_remaining = null;
        eraseData.contract_start_date = null;
        eraseData.contract_end_date = null;
        eraseData.employee_status = null;
        eraseData.active_reason = null;
        eraseData.nonactive_reason = null;
        eraseData.teams = null;
        eraseData.office_country = null;
        eraseData.office_province = null;
        eraseData.office_city = null;
        eraseData.office_address = null;
        eraseData.company_location = null;
        eraseData.employment_type = null;
        eraseData.employment_type_id = null;
        eraseData.employment_subtype_id = null;
        const res = await this.updateEmployee(eraseData);
        if (!res.error) {
        // eslint-disable-next-line no-param-reassign
          payload = {
            ...payload,
            location_id: Number(res.data.location_id),
            employment_type_id: Number(res.data.employment_type_id),
          };

          const res2 = await this.updateWithReason({ id: Number(this.$route.params.id), payload });
          if (!res2.error) {
            this.detailEmployee({ id: Number(this.$route.params.id) });
            // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
            // this.getActivityLogs();
          }
        }
      }
    },
    loadOptionsPosition({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: '',
            ascending: true,
            query: searchQuery,
            query_type: 'position',
          },
        };
        this.$store.dispatch('jStoreEmployee/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
      }
    },
    handleTypeOfContract(type) {
      let value;

      if (type === 'CONTRACT' || type === 'PROBATION' || type === 'INTERNSHIP') {
        value = '';
      } else {
        value = type;
      }

      return value;
    },
    async updateEmployeeId(data) {
      if (data) {
        const params = {
          year: data.joinYear,
          type: '1',
          code: '9',
        };
        this.$refs.employeeForm.saveWithoutValidate();

        const res = await this.generateEmployeeId(params);
        if (!res.error) {
          this.$refs.employeeForm.saveWithoutValidate();
          const updateData = this.generateData;
          updateData.employee_id = res.data;

          const res2 = await this.updateEmployee(this.generateData);
          if (!res2.error) {
            this.detailEmployee({ id: Number(this.$route.params.id) });
          }
        }
      } else {
        this.$refs.employeeForm.saveWithoutValidate();
        const res = await this.updateEmployee(this.generateData);
        if (!res.error) {
          this.detailEmployee({ id: Number(this.$route.params.id) });
        }
      }
    },
    async updatePosition(payload) {
      const dataDivisions = [];
      this.data_position.division.forEach((val) => {
        dataDivisions.push(val.id);
      });

      await this.updateEmployee(this.generateData);

      if (this.positionMode === 'edit' && this.temp_position) {
        if (this.data_position.position.id !== this.temp_position.id) {
          const dataDeleteDivisions = [];
          this.temp_position.divisions.forEach((val) => {
            dataDeleteDivisions.push(val.id);
          });
          const dataDelete = {
            id: this.temp_position.id,
            name: this.temp_position.name,
            code: this.temp_position.code,
            description: this.temp_position.description,
            user_company_id: 0,
            organigram_head_id: this.temp_position.organigram_head_id,
            organigram_head_name: this.temp_position.organigram_head_name,
            divisions: dataDeleteDivisions,
          };

          const generateDataDelete = {
            payload: dataDelete,
            user_company_id: this.$route.params.id,
          };
          await this.updateOrganigram(generateDataDelete);
          // const res2 = await this.updateOrganigram(generateDataDelete);
          // if (!res2.error) {
          //   // eslint-disable-next-line no-param-reassign
          //   payload = {
          //     ...payload,
          //     location_id: Number(this.employee_data.company_location),
          //     employment_type_id: Number(this.employee_data.employment_type_id),
          //   };
          //   this.updateWithReason({ id: this.$route.params.id, payload });
          // }
        }
      }

      if (this.positionMode === 'create' || this.data_position.position.id !== this.temp_position.id) {
        const data = {
          id: this.data_position.position.id,
          name: this.data_position.position.name,
          code: this.data_position.position.code,
          description: this.data_position.position.description,
          user_company_id: this.$route.params.id,
          organigram_head_id: this.data_position.position.organigram_head_id,
          organigram_head_name: this.data_position.position.organigram_head_name,
          divisions: dataDivisions,
        };
        const generateData = {
          payload: data,
          user_company_id: this.$route.params.id,
        };
        const res = await this.updateOrganigram(generateData);
        if (!res.error) {
          // eslint-disable-next-line no-param-reassign
          payload = {
            ...payload,
            location_id: Number(this.employee_data.company_location),
            employment_type_id: Number(this.employee_data.employment_type_id),
          };

          const res2 = await this.updateWithReason({ id: this.$route.params.id, payload });
          if (!res2.error) {
            // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
            // this.getActivityLogs();
          }
        }
      }

      this.positionMode = 'edit';
      this.firstLoad = false;
    },
  },
};
</script>
