<template>
  <div>
    <b-row
      v-for="item in mapping_grade"
      :key="item.company_user_grade_relation_id"
      class="d-flex align-items-center justify-content-between m__b--8">
      <b-col
        cols="12"
        md="4">
        <span
          class="font-weight-bold"
          style="font-size: 12px"
        >
          {{ item.grade_name }}
        </span>
        <br>
        <span
          style="font-size: 10px"
        >
          {{ item.grade_code }}
        </span>
      </b-col>
      <b-col
        cols="6"
        md="6">
        <span>
          EFFECTIVE DATE
        </span>
        <br>
        <span>
          {{ item.effective_start_date|moment("DD MMMM YYYY") }}
        </span>
        <span>-</span>
        <span v-if="item.effective_end_date">
          {{ item.effective_end_date|moment("DD MMMM YYYY") }}
        </span>
        <span v-else>
          Present
        </span>
      </b-col>
      <b-col
        cols="6"
        md="2"
        class="text-right">
        <button
          v-show="true"
          class="btn p-0"
          @click="editGrade(item)" >
          <i class="fa fa-pencil"/>
        </button>
        <button
          class="btn p-0"
          @click="deleteGrade(item)" >
          <i class="fa fa-trash"/>
        </button>
      </b-col>
    </b-row>

    <b-button
      class="float-right mt-2 btn-add-mapping"
      @click="addGrade">
      <span>
        <i class="fa fa-exchange mr-1"/>
        Update Grade
      </span>
    </b-button>

    <b-modal
      ref="modalConfirm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <div>
        <j-modal-confirm-with-reason
          v-if="isOpen"
          :mode="mode"
          :data-form="dataGrade"
          @update-form="continueSubmit"
          @close-modal="closeModalConfirm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapActions, mapState } from 'vuex';
import jModalConfirmWithReason from './jModalConfirmWithReason';

export default {
  components: {
    jModalConfirmWithReason,
  },
  data() {
    return {
      title: {
        main_title: 'CONFIRMATION',
      },
      mode: 'grade',
      submitMode: 'create',
      isOpen: false,
      dataGrade: null,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['mapping_grade']),
    ...mapState('jStorePayrollInfo', ['update_availability']),

    listGradeSortByStartDate() {
      return this._.sortBy(this.mapping_grade, ['effective_start_date']);
    },
  },
  created() {
    this.getMappingGrade();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['actionGetMappingGrade', 'actionCreateMappingGrade', 'actionUpdateMappingGrade', 'actionDeleteMappingGrade', 'updateWithReason', 'actionGetActivityLogs', 'actionCreateActivityLog']),

    getActivityLogs() {
      // const dataFilter = {
      //   user_company_id: Number(this.$route.params.id),
      // };
      // const params = {
      //   page: 1,
      //   limit: 10,
      //   filter: JSON.stringify(dataFilter),
      //   sort: 'asc',
      // };
      // this.actionGetActivityLogs(params);
    },
    generateDataLog(data) {
      const genData = {
        name: `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`,
        company_id: data.company_id,
        user_company_id: data.profile.user_company_id,
        position: data.position,
        division: '',
        employee_type_id: data.employment_type_id,
        employee_type_name: data.employment_type_name,
        employee_subtype_id: data.employment_subtype_id,
        employee_subtype_name: data.employment_subtype_name,
        location: data.location,
        effective_start_date: data.effective_start_date,
        effective_end_date: data.effective_end_date,
        reason: data.reasons,
        employee_status: data.employee_status ? data.employee_status : '',
      };
      return genData;
    },
    getMappingGrade() {
      const params = {
        pagination: {
          limit: 10,
          page: 1,
          column: 'effective_start_date',
          ascending: false,
          query: '',
          query_type: '',
        },
        user_company_id: this.$route.params.id,
      };
      this.actionGetMappingGrade(params);
    },

    addGrade() {
      this.submitMode = 'create';
      this.dataGrade = null;
      this.openModalConfirm();
    },
    editGrade(item) {
      this.submitMode = 'edit';
      this.dataGrade = item;
      this.openModalConfirm();
    },
    deleteGrade(item) {
      this.$swal({
        title: `Are you sure to delete ${item.grade_name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteMappingGrade({
            id: item.company_user_grade_relation_id,
          });

          if (!res.error) {
            this.getMappingGrade();
          }
        }
      });
    },
    closeModalConfirm() {
      this.$refs.modalConfirm.hide();
      this.isOpen = false;
    },
    openModalConfirm() {
      this.isOpen = true;
      this.$refs.modalConfirm.show();
    },
    async continueSubmit(payload) {
      const genDataGrade = {
        grade_id: payload.grade_id,
        effective_start_date: payload.title_start_date,
        effective_end_date: payload.title_end_date,
        reason: payload.reasons,
      };

      // eslint-disable-next-line
      let res;
      if (this.submitMode === 'edit') {
        genDataGrade.id = this.dataGrade.company_user_grade_relation_id;
        genDataGrade.company_user_id = this.$route.params.id;
        res = await this.actionUpdateMappingGrade(genDataGrade);
      } else {
        genDataGrade.company_user_id = [this.$route.params.id];
        res = await this.actionCreateMappingGrade(genDataGrade);
      }

      this.getMappingGrade();

      if (!res.error) {
        const genDataReason = {
          title_start_date: payload.title_start_date,
          title_end_date: payload.title_end_date,
          reasons: payload.reasons,
        };

        const res2 = await this.updateWithReason({
          id: this.$route.params.id,
          payload: genDataReason,
        });
        if (!res2.error) {
          // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
          // this.getActivityLogs();
        }
      }
    },
  },
};
</script>
