<template>
  <div>
    <b-row
      v-for="item in listEmploymentSortByStartDate"
      :key="item.id"
      class="d-flex align-items-center justify-content-between m__b--8">
      <b-col
        cols="8"
        md="4">
        <span
          class="font-weight-bold"
          style="font-size: 12px"
        >
          {{ item.employment_type.name }}
        </span>
        <br>
        <span
          style="font-size: 10px"
        >
          {{ item.child ? item.child.employment_type_child_name : '' }}
        </span>
      </b-col>
      <b-col
        cols="6"
        md="6">
        <span>
          EFFECTIVE DATE
        </span>
        <br>
        <span>
          {{ item.effective_start_date|moment("DD MMMM YYYY") }}
        </span>
        <span>-</span>
        <span v-if="item.effective_end_date">
          {{ item.effective_end_date|moment("DD MMMM YYYY") }}
        </span>
        <span v-else>
          Present
        </span>
      </b-col>
      <b-col
        cols="6"
        md="2"
        class="text-right">
        <button
          v-show="true"
          class="btn p-0"
          @click="editEmployment(item)" >
          <i class="fa fa-pencil"/>
        </button>
        <button
          class="btn p-0"
          @click="deleteEmployment(item)" >
          <i class="fa fa-trash"/>
        </button>
      </b-col>
    </b-row>

    <b-button
      class="float-right mt-2 btn-add-mapping"
      @click="addEmployment">
      <span>
        <i class="fa fa-plus mr-1"/>
        Update Employment Type
      </span>
    </b-button>

    <b-modal
      ref="modalConfirm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <div>
        <j-modal-confirm-with-reason
          v-if="isOpen"
          :mode="mode"
          :data-form="dataEmployment"
          @update-form="continueSubmit"
          @close-modal="closeModalConfirm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jModalConfirmWithReason from './jModalConfirmWithReason';

export default {
  components: {
    jModalConfirmWithReason,
  },
  data() {
    return {
      title: {
        main_title: 'CONFIRMATION',
      },
      mode: 'mappingEmployment',
      submitMode: 'create',
      isOpen: false,
      dataEmployment: null,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['mapping_employment', 'mapping_employment_child']),
    ...mapState('jStorePayrollInfo', ['update_availability']),

    listEmploymentSortByStartDate() {
      const listEmploymentMerger = [];
      this.mapping_employment.forEach((parent, i) => {
        listEmploymentMerger.push({
          id: parent.id,
          employment_type_id: parent.employment_type_id,
          employment_type: parent.employment_type,
          effective_start_date: parent.effective_start_date,
          effective_end_date: parent.effective_end_date,
          reason: parent.reason,
        });
        this.mapping_employment_child.forEach((child) => {
          if (parent.effective_start_date === child.effective_start_date) {
            listEmploymentMerger[i] = {
              id: parent.id,
              employment_type_id: parent.employment_type_id,
              employment_type: parent.employment_type,
              effective_start_date: parent.effective_start_date,
              effective_end_date: parent.effective_end_date,
              reason: parent.reason,

              child: {
                id: child.id,
                employment_type_child_id: child.employment_type_child_id,
                employment_type_child_name: child.employment_type_child_name,
                employment_type_child_start_date: child.employment_type_child_start_date,
                employment_type_child_end_date: child.employment_type_child_end_date,
                remaining_date: child.remaining_date,
                total_period_date: child.total_period_date,
              },
            };
          }
        });
      });
      // return this._.sortBy(listEmploymentMerger, ['effective_start_date']);
      return listEmploymentMerger;
    },
  },
  created() {
    this.getMappingEmployment();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['actionGetMappingEmployment', 'actionCreateMappingEmployment', 'actionUpdateMappingEmployment', 'actionDeleteMappingEmployment',
      'actionGetMappingEmploymentChild', 'actionCreateMappingEmploymentChild', 'actionUpdateMappingEmploymentChild', 'actionDeleteMappingEmploymentChild',
      'updateWithReason', 'actionGetActivityLogs', 'actionCreateActivityLog']),

    getActivityLogs() {
      // const dataFilter = {
      //   user_company_id: Number(this.$route.params.id),
      // };
      // const params = {
      //   page: 1,
      //   limit: 10,
      //   filter: JSON.stringify(dataFilter),
      //   sort: 'asc',
      // };
      // this.actionGetActivityLogs(params);
    },
    generateDataLog(data) {
      const genData = {
        name: `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`,
        company_id: data.company_id,
        user_company_id: data.profile.user_company_id,
        position: data.position,
        division: '',
        employee_type_id: data.employment_type_id,
        employee_type_name: data.employment_type_name,
        employee_subtype_id: data.employment_subtype_id,
        employee_subtype_name: data.employment_subtype_name,
        location: data.location,
        effective_start_date: data.effective_start_date,
        effective_end_date: data.effective_end_date,
        reason: data.reasons,
        employee_status: data.employee_status ? data.employee_status : '',
      };
      return genData;
    },
    getMappingEmployment() {
      const params = {
        pagination: {
          limit: 10,
          page: 1,
          column: 'effective_start_date',
          ascending: false,
          query: '',
          query_type: '',
        },
        user_company_id: this.$route.params.id,
      };
      this.actionGetMappingEmployment(params);
      this.actionGetMappingEmploymentChild(params);
    },

    addEmployment() {
      this.submitMode = 'create';
      this.dataEmployment = null;
      this.openModalConfirm();
    },
    editEmployment(item) {
      this.submitMode = 'edit';
      this.dataEmployment = item;
      this.openModalConfirm();
    },
    deleteEmployment(item) {
      this.$swal({
        title: `Are you sure to delete ${item.employment_type.name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteMappingEmployment({
            id: item.id,
          });

          if (item.child && item.child.id) {
            await this.actionDeleteMappingEmploymentChild(item.child.id);
          }

          if (!res.error) {
            this.getMappingEmployment();
          }
        }
      });
    },
    closeModalConfirm() {
      this.$refs.modalConfirm.hide();
      this.isOpen = false;
    },
    openModalConfirm() {
      this.isOpen = true;
      this.$refs.modalConfirm.show();
    },
    async continueSubmit(payload) {
      const genDataEmployment = {
        employment_type_id: payload.employment_type.id,
        effective_start_date: payload.title_start_date,
        effective_end_date: payload.title_end_date,
        reason: payload.reasons,
        company_user_id: this.$route.params.id,
      // note: payload.notes,
      };

      let genDataChild;
      if (payload.sub_employment_type) {
        genDataChild = {
          employment_type_child_id: payload.sub_employment_type.id,
          effective_start_date: payload.title_start_date,
          effective_end_date: payload.title_end_date,

          employment_type_child_start_date: payload.child_start_date,
          employment_type_child_end_date: payload.child_end_date,
          remaining_date: payload.child_time_remaining,
          total_period_date: payload.child_total_period,
        };
      }

      // eslint-disable-next-line
      let res;
      if (this.submitMode === 'edit') {
        genDataEmployment.id = this.dataEmployment.id;

        res = await this.actionUpdateMappingEmployment(genDataEmployment);
        if (this.dataEmployment.child) {
          genDataChild.user_company_id = this.$route.params.id;
          await this.actionUpdateMappingEmploymentChild({
            id: this.dataEmployment.child.id,
            params: genDataChild,
          });
        } else if (payload.sub_employment_type) {
          await this.actionCreateMappingEmploymentChild(genDataChild);
        }
      } else {
        res = await this.actionCreateMappingEmployment(genDataEmployment);

        if (payload.sub_employment_type) {
          genDataChild.user_company_id = this.$route.params.id;
          await this.actionCreateMappingEmploymentChild(genDataChild);
        }
      }

      this.getMappingEmployment();

      if (!res.error) {
        const genDataReason = {
          title_start_date: payload.title_start_date,
          title_end_date: payload.title_end_date,
          reasons: payload.reasons,
        };

        const res2 = await this.updateWithReason({
          id: this.$route.params.id,
          payload: genDataReason,
        });
        if (!res2.error) {
          // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
          // this.getActivityLogs();
        }
      }
    },
  },
};
</script>
