<template>
  <div>
    <b-row
      v-for="item in mapping_organigram"
      :key="item.id"
      class="d-flex align-items-center justify-content-between m__b--8">
      <b-col
        cols="12"
        md="4">
        <span
          class="font-weight-bold"
          style="font-size: 12px"
        >
          {{ item.organigram.name }}
        </span>
        <br>
        <span
          style="font-size: 10px"
        >
          {{ item.organigram.code }}
        </span>
      </b-col>
      <b-col
        cols="6"
        md="6">
        <span>
          EFFECTIVE DATE
        </span>
        <br>
        <span>
          {{ item.effective_start_date|moment("DD MMMM YYYY") }}
        </span>
        <span>-</span>
        <span v-if="item.effective_end_date">
          {{ item.effective_end_date|moment("DD MMMM YYYY") }}
        </span>
        <span v-else>
          Present
        </span>
      </b-col>
      <b-col
        cols="6"
        md="2"
        class="text-right">
        <button
          v-show="true"
          class="btn p-0"
          @click="editPosition(item)" >
          <i class="fa fa-pencil"/>
        </button>
        <button
          class="btn p-0"
          @click="deletePosition(item)" >
          <i class="fa fa-trash"/>
        </button>
      </b-col>
    </b-row>

    <b-button
      class="float-right mt-2 btn-add-mapping"
      @click="addPosition">
      <span>
        <i class="fa fa-exchange mr-1"/>
        Update Position
      </span>
    </b-button>

    <b-modal
      ref="modalConfirm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <div>
        <j-modal-confirm-with-reason
          v-if="isOpen"
          :mode="mode"
          :data-form="dataPosition"
          @update-form="continueSubmit"
          @close-modal="closeModalConfirm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapActions, mapState } from 'vuex';
import jModalConfirmWithReason from './jModalConfirmWithReason';

export default {
  components: {
    jModalConfirmWithReason,
  },
  data() {
    return {
      title: {
        main_title: 'CONFIRMATION',
      },
      mode: 'mappingPosition',
      submitMode: 'create',
      isOpen: false,
      dataPosition: null,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['mapping_organigram']),
    ...mapState('jStorePayrollInfo', ['update_availability']),

    listPositionSortByStartDate() {
      return this._.sortBy(this.mapping_organigram, ['effective_start_date']);
    },
  },
  created() {
    this.getMappingPosition();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['updateOrganigram', 'actionGetMappingOrganigram', 'updateWithReason', 'actionGetActivityLogs', 'actionCreateActivityLog', 'actionCreateMappingPosition', 'actionUpdateMappingPosition']),

    getActivityLogs() {
      // const dataFilter = {
      //   user_company_id: this.$route.params.id,
      // };
      // const params = {
      //   page: 1,
      //   limit: 10,
      //   filter: JSON.stringify(dataFilter),
      //   sort: 'asc',
      // };
      // this.actionGetActivityLogs(params);
    },
    generateDataLog(data) {
      const genData = {
        name: `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`,
        company_id: data.company_id,
        user_company_id: data.profile.user_company_id,
        position: data.position,
        division: '',
        employee_type_id: data.employment_type_id,
        employee_type_name: data.employment_type_name,
        employee_subtype_id: data.employment_subtype_id,
        employee_subtype_name: data.employment_subtype_name,
        location: data.location,
        effective_start_date: data.effective_start_date,
        effective_end_date: data.effective_end_date,
        reason: data.reasons,
        employee_status: data.employee_status ? data.employee_status : '',
      };
      return genData;
    },
    getMappingPosition() {
      const params = {
        pagination: {
          limit: 10,
          page: 1,
          column: 'effective_start_date',
          ascending: false,
          query: '',
          query_type: '',
        },
        user_company_id: this.$route.params.id,
      };
      this.actionGetMappingOrganigram(params);
    },

    addPosition() {
      this.submitMode = 'create';
      this.dataPosition = null;
      this.openModalConfirm();
    },
    editPosition(item) {
      this.submitMode = 'edit';
      this.dataPosition = item;
      this.openModalConfirm();
    },
    closeModalConfirm() {
      this.$refs.modalConfirm.hide();
      this.isOpen = false;
    },
    openModalConfirm() {
      this.isOpen = true;
      this.$refs.modalConfirm.show();
    },
    async continueSubmit(payload) {
      const { position, title_start_date, title_end_date, reasons } = payload;
      if (this.submitMode === 'create') {
        const data = {
          organigram_id: String(position.id),
          user_company_id: this.$route.params.id,
          effective_start_date: title_start_date,
          effective_end_date: title_end_date,
          reason: reasons,
        };
        await this.actionCreateMappingPosition(data);
      } else {
        const data = {
          id: this.dataPosition.id,
          organigram_id: String(position.id),
          user_company_id: this.$route.params.id,
          effective_start_date: title_start_date,
          effective_end_date: title_end_date,
          reason: reasons,
        };
        await this.actionUpdateMappingPosition(data);
      }
      this.getMappingPosition();
      const genDataReason = {
        title_start_date,
        title_end_date,
        reasons,
      };

      const res2 = await this.updateWithReason({
        id: this.$route.params.id,
        payload: genDataReason,
      });
      if (!res2.error) {
        // await this.actionCreateActivityLog(this.generateDataLog(res2.data));
        // this.getActivityLogs();
      }
    },
    // async continueSubmit(payload) {
    //   const { position, title_start_date, title_end_date, reasons } = payload;
    //   const dataDivisions = [];

    //   if (position.divisions) {
    //     position.divisions.forEach((val) => {
    //       dataDivisions.push(val.id);
    //     });
    //   }

    //   const data = {
    //     id: position.id,
    //     name: position.name,
    //     code: position.code,
    //     description: position.description,
    //     user_company_id: this.$route.params.id,
    //     organigram_head_id: position.organigram_head_id,
    //     organigram_head_name: position.organigram_head_name,
    //     divisions: dataDivisions,
    //     effective_start_date: title_start_date,
    //     effective_end_date: title_end_date,
    //     reason: reasons,
    //   };

    //   const generateData = {
    //     payload: data,
    //     user_company_id: this.$route.params.id,
    //   };
    //   await this.updateOrganigram(generateData);

    //   if (this.submitMode === 'edit' && position.id !== this.dataPosition.organigram.id) {
    //     const dataDeleteDivisions = [];
    //     if (this.dataPosition.organigram.divisions) {
    //       this.dataPosition.organigram.divisions.forEach((val) => {
    //         dataDeleteDivisions.push(val.id);
    //       });
    //     }

    //     const dataDelete = {
    //       id: this.dataPosition.organigram.id,
    //       name: this.dataPosition.organigram.name,
    //       code: this.dataPosition.organigram.code,
    //       description: this.dataPosition.organigram.description,
    //       user_company_id: 0,
    //       organigram_head_id: this.dataPosition.organigram.organigram_head_id,
    //       organigram_head_name: this.dataPosition.organigram.organigram_head_name,
    //       divisions: dataDeleteDivisions,
    //       reason: reasons,
    //     };
    //     const generateDataDelete = {
    //       payload: dataDelete,
    //       user_company_id: this.$route.params.id,
    //     };
    //     await this.updateOrganigram(generateDataDelete);
    //   }

    //   const genDataReason = {
    //     title_start_date: title_start_date,
    //     title_end_date: title_end_date,
    //     reasons: reasons,
    //   };

    //   const res2 = await this.updateWithReason({
    //     id: this.$route.params.id,
    //     payload: genDataReason,
    //   });
    //   if (!res2.error) {
    //     await this.actionCreateActivityLog(this.generateDataLog(res2.data));
    //     this.getActivityLogs();
    //   }
    // },
    deletePosition(item) {
      this.$swal({
        title: `Are you sure to delete ${item.organigram.name}?`,
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          // const dataDeleteDivisions = [];
          // if (item.organigram.divisions) {
          //   item.organigram.divisions.forEach((val) => {
          //     dataDeleteDivisions.push(val.id);
          //   });
          // }

          // const dataDelete = {
          //   id: item.organigram.id,
          //   name: item.organigram.name,
          //   code: item.organigram.code,
          //   description: item.organigram.description,
          //   user_company_id: 0,
          //   organigram_head_id: item.organigram.organigram_head_id,
          //   organigram_head_name: item.organigram.organigram_head_name,
          //   divisions: dataDeleteDivisions,
          // };
          // const generateDataDelete = {
          //   payload: dataDelete,
          //   user_company_id: this.$route.params.id,
          // };
          // await this.updateOrganigram(generateDataDelete);

          const { id, organigram_id, effective_start_date, effective_end_date, reason } = item;

          const data = {
            id,
            organigram_id: String(organigram_id),
            user_company_id: this.$route.params.id,
            effective_start_date,
            effective_end_date,
            reason,
            state: 4,
          };

          await this.actionUpdateMappingPosition(data);
          this.getMappingPosition();
        }
      });
    },
  },
};
</script>
