<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.normalStop.start_date.$error }">
          <label>Effective Begin Normal Stop*</label>
          <j-datepicker
            v-model="$v.normalStop.start_date.$model"
            :disabled-dates="disabledStartDate($v.normalStop.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.normalStop.end_date.$error }">
          <label>Effective End Normal Stop</label>
          <j-datepicker
            v-model="$v.normalStop.end_date.$model"
            :disabled-dates="disabledEndDate($v.normalStop.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>

    <div class="pull-right">
      <!-- <b-button
        v-if="mode === 'edit'"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button> -->
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        v-if="mode === 'create'"
        class="btn blue"
        @click="createRecord">
        Submit
      </b-button>
      <b-button
        v-else
        class="btn blue"
        @click="updateRecord">
        Update
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import eventBus from './event-bus/index';

export default {
  name: 'JNormalStopForm',
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      normalStop: {
        start_date: null,
        end_date: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),

    generateData() {
      const genData = {
        // user_company_id: this.mode === 'create' ? this.$route.params.id : undefined,
        id: this.mode === 'edit' ? this.normalStop.id : undefined,
        start_date: this.$moment(this.normalStop.start_date).format('YYYY-MM-DD'),
        end_date: this.normalStop.end_date ? this.$moment(this.normalStop.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('closeRecord', () => {
      this.closeRecord();
    });

    if (this.mode === 'edit') {
      this.normalStop = {
        id: this.detail.id,
        start_date: this.detail.start_date,
        end_date: this.detail.end_date,
      };
    } else {
      this.normalStop = {
        start_date: null,
        end_date: null,
      };
      this.$v.normalStop.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionSetNormalStopPayment', 'actionCreateNormalStopPayment']),
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    closeRecord() {
      this.normalStop = {
        start_date: null,
        end_date: null,
      };

      this.$nextTick(() => {
        if (this.$v.normalStop.$error) {
          this.$v.normalStop.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async createRecord() {
      this.$v.normalStop.$touch();
      if (!this.$v.normalStop.$error) {
        const res = await this.actionCreateNormalStopPayment({
          userCompanyId: this.$route.params.id,
          params: this.generateData,
        });

        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    async updateRecord() {
      const availability = await this.actionCheckAvailability({
        user_company_id: Number(this.$route.params.id),
      });
      if (availability) {
        this.$v.normalStop.$touch();
        if (!this.$v.normalStop.$error) {
          const res = await this.actionSetNormalStopPayment({
            userCompanyId: this.$route.params.id,
            // id: this.normalStop.id,
            params: this.generateData,
          });
          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteTaxStatus({
            payrollId: this.payrollId,
            taxId: this.normalStop.id,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      });
    },
  },
  validations() {
    return {
      normalStop: {
        start_date: { required },
        end_date: { },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
