<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-normal-stop-table
          :payroll-id="payrollId"
          @create-modal="openModalCreateNormalStop"
          @edit-modal="openModalUpdateNormalStop"
          @normal-stop="getNormalStopDetail"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalNormalStatus"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="normalStopTitle"/>
      <div>
        <j-normal-stop-form
          v-if="isOpenNormalStop"
          :mode="mode"
          :detail="normal_stop_detail"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import jNormalStopForm from './jNormalStopForm';
import jNormalStopTable from './jNormalStopTable';

export default {
  name: 'JTax',
  components: {
    jNormalStopForm,
    jNormalStopTable,
  },
  data() {
    return {
      mode: '',
      isOpenNormalStop: false,
      normal_stop_detail: null,
      normalStopTitle: {
        main_title: 'NORMAL STOP PAYMENT',
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),
  },
  methods: {
    getNormalStopDetail(data) {
      this.normal_stop_detail = data;
    },
    closeModalForm() {
      this.$refs.modalNormalStatus.hide();
      this.isOpenNormalStop = false;
    },
    openModalCreateNormalStop(data) {
      if (data) {
        this.isOpenNormalStop = true;
        this.mode = 'create';
        this.normal_stop_detail = null;
        this.$refs.modalNormalStatus.show();
      }
    },
    openModalUpdateNormalStop(data) {
      if (data) {
        this.isOpenNormalStop = true;
        this.mode = 'edit';
        this.$refs.modalNormalStatus.show();
      }
    },
  },
};
</script>

<style>

</style>
