<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        v-show="load_first"
        ref="tableArea"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="area"
          slot-scope="props">
          {{ props.row.payroll_area.name }}
        </div>
        <div
          slot="effective_begin"
          slot-scope="props">
          {{ props.row.effective_begin | moment("DD MMM YYYY") }}
        </div>
        <div
          slot="effective_end"
          slot-scope="props">
          {{ props.row.effective_end | moment("DD MMM YYYY") }}
        </div>

      </v-server-table>

      <jLoadingTable v-if="!load_first"/>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiPayrollInfo from '@/services/jApiPayrollInfo';
import eventBus from '../event-bus/index';

export default {
  name: 'JScaleTable',
  components: {
    jLoadingTable,
  },
  data() {
    return {
      load_first: false,
      currentRow: 0,
      filter_data: '',
      columns: ['area', 'effective_begin', 'effective_end'],
      options: {
        headings: {
          area: 'Payroll Area',
          effective_begin: 'Eff Start Date',
          effective_end: 'Eff End Date',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['area', 'effective_begin', 'effective_end'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        orderBy: {
          ascending: false,
          column: 'effective_begin',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        async requestFunction({ userCompanyId, pagination }) {
          const res = await jApiPayrollInfo.getPayrollArea(userCompanyId, pagination);
          if (!res.data.error) {
            return res;
          }
          return { data: { data: [] } };
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length || 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableArea.setFilter('');
      }
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
      this.$emit('refresh-options', true);
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(data) {
      const params = data;
      params.userCompanyId = this.$route.params.id;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.tableArea.refresh();
    },
    filter(val) {
      this.$refs.tableArea.setFilter(val);
    },

    goTodetail(param) {
      this.$emit('area', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true);
    },
    editRecord({ row }) {
      this.$emit('area', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
  },
};
</script>
<style lang="scss">
  .green-color {
    color: $green-basic-color
  }

  .yellow-background-color {
    background-color: #FFDD6B;
  }

  .red-color {
    color: $red-basic-color;
  }

  .custom-position__container {
    position: relative;
    top: -55px;
    overflow: hidden;
    display: block;
    width: 38%;
    text-align: center
  }

  .custom-position__btn{
    margin-left: 71px;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) >
  div > div.col-8 > div > div.custom-table > div >
  div:nth-child(1) > div > div.form-group.form-inline.pull-right.VueTables__limit {
    visibility: hidden;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) > div > div.col-8 >
  div > div.custom-table > div > div.VuePagination.row.col-md-12 > nav > ul {
    visibility: hidden;
  }
</style>
