<!-- eslint-disable max-len -->
<template>
  <div
    :id="`form-search-popover${element.id}`"
    class="container-app-search-table-view">

    <h4
      v-if="onWidget"
      class="mb-3"
    >
      {{ JSON.parse(element.info).title ?
      JSON.parse(element.info).title : element.widget_master.name }}
    </h4>

    <div class="d-flex">
      <b-button
        v-if="formUi.create_view && !onWidget"
        class="btn grey btn-import-form m__r--5"
        @click="openAddRecordModal">
        <i class="fa fa-plus fa-lg"/> Add
      </b-button>
      <b-button
        v-if="formUi.import_view && !onWidget"
        :id="`importComponent_${element.id}`"
        class="btn grey btn-import-form m__r--5">
        <i class="fa fa-cloud-upload fa-lg"/> Import
      </b-button>
      <!-- <j-import-base
        v-if="formUi.import_view && !onWidget"
        :form-id="formDataId"
        :form-ui="formUi"
        :mode="isMode"
        class="m__r--5"
        @success-import="successImport"/> -->
      <b-button
        v-if="formUi.export_view && !onWidget"
        class="btn grey btn-import-form m__r--5"
        @click="goToExportData">
        <i class="fa fa-download fa-lg"/> Export
      </b-button>
      <b-button
        v-if="options_search_master.length > 0"
        :id="`filterPopover${element.id}`"
        :class="{ 'filter-active': filterAvtice }"
        class="btn grey btn-import-form m__r--5">
        <img
          :src="require(`@/assets/icon/${filterAvtice ? 'filter-on' : 'filter'}.png`)"
          style="margin-top: -4px"
          width="10"
          height="14">
        Filter
      </b-button>
    </div>

    <div class="jCalendar container-calendar m__t--15">
      <vue-cal
        :events="events"
        :disable-views="disableViews"
        :on-event-click="openEditModal"
        default-view="month"
        events-on-month-view="short"
        @view-change="changeMonth"/>
    </div>

    <b-modal
      ref="addRecordModal"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-create-view-component
        v-if="isShowModal"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
        :on-modal="true"
        :is-multiple="isMultiple"
        @close-modal="closeModal"
        @reload-data="reloadDataModal"
      />
    </b-modal>

    <b-modal
      ref="editRecordModal"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-detail-view-component
        v-if="isShowModalEdit"
        :element="element"
        :form-data="formData"
        :form-ui="formUi"
        :data-detail="listFieldsDetail"
        :on-modal="true"
        :record-id="idDataRowClick"
        @close-modal="closeModalEdit"
        @reload-data="reloadDataModal"
      />
    </b-modal>

    <b-popover
      ref="filterPopoverRef"
      :show.sync="popoverFilterShow"
      :target="`filterPopover${element.id}`"
      :container="`form-search-popover${element.id}`"
      placement="top">
      <div class="label-head-filter">FILTER</div>

      <div class="body-filter">
        <div :class="['search-options', { 'overflow-active': options_search_master.length > 8 }]">
          <div
            v-for="(item, index) in options_search_master"
            :key="index">
            {{ item.name }}
            <j-search-base
              :ref="`jFormSearch-${index}`"
              :field="item"
              :custom-width="325"/>
          </div>
        </div>

        <b-button
          class="btn btn-filter-reset-table-view m__t--10 m__b--10"
          @click="resetFilter">
          Reset
        </b-button>
        <b-button
          class="btn btn-filter-table-view m__t--10 m__b--10"
          @click="applyFilter">
          Apply
        </b-button>
      </div>
    </b-popover>

    <b-popover
      :ref="`importModal_${element.id}`"
      :show.sync="popoverImportShow"
      :target="`importComponent_${element.id}`"
      placement="bottom">
      <div class="label-import m__b--10">Import Data</div>
      <img
        v-if="isUseAdvanceReport"
        :src="require('@/assets/icon/activity.svg')"
        class="icon-activity"
        width="15"
        height="13"
        @click="seeActivityImport">
      <div class="jImport">
        <b-form-file
          v-if="rerenderInputFile"
          :ref="`file_${element.id}`"
          v-model="fileImport"
          :state="Boolean(fileImport)"
          :disabled="onProgressImport"
          placeholder="Choose a file"
          drop-placeholder="Drop file here"
          @change="handleFileUpload($event.target.files)"/>
      </div>
      <div
        class="button-download-template-import"
        @click="downloadTemplate">
        Download Template
      </div>
    </b-popover>

    <div
      v-if="isOpenModalProgressImport"
      id="modalProgressImport"
      class="modal-progress-import">
      <div class="label">Uploading Progress</div>
      <div class="content-file">
        <div class="d-flex">
          <img
            :src="require('@/assets/icon/file-csv.svg')"
            width="13"
            height="15">
          <div class="file-name ellipsis">{{ fileNameImport }}</div>
          <label>.csv</label>
          <label
            :style="`right: ${onProgressImport ? '55' : '35'}px;`"
            class="percentage">{{ fileProgressImport }} %</label>
          <img
            v-show="onProgressImport"
            :src="require('@/assets/icon/cancel.svg')"
            class="icon-cancel"
            width="12"
            height="12"
            @click="cancelProgressImport.cancel()">
        </div>
        <div class="block-progress">
          <div
            :style="`width: ${fileProgressImport}%`"
            class="block-progress-remaining" />
        </div>
      </div>
    </div>

    <div
      v-if="isOpenModalActivityImport"
      id="modalActivityImport"
      class="modal-activity-import">
      <div class="label">Import Activity</div>
      <img
        :src="require('@/assets/icon/xmark.svg')"
        class="icon-close"
        width="17"
        height="17"
        @click="toggleModalActivity(false)">
      <div
        v-for="(item, index) in dataActivityImport"
        :key="index"
        class="activity-container">
        <div
          v-if="item.import_status === 'pending'"
          class="date">
          {{ item.read_start ? $moment(item.read_start).format('DD MMMM YYYY HH:mm:SS') : '' }}
        </div>
        <div
          v-else
          class="date">
          {{ item.import_start ? $moment(item.import_start).format('DD MMMM YYYY HH:mm:SS') : '' }}
        </div>
        <div
          v-if="item.import_status"
          :class="`status ${item.import_status}`">
          <div :class="`rounded-status-${item.import_status}`" />
          {{ item.import_status.replace('ing', '') }}
        </div>
        <div class="d-flex m__t--5">
          <b-img
            v-if="item.user_info && item.user_info.photo_url"
            :src="item.user_info.photo_url"
            rounded="circle"
            alt="img"
            class="round-bordered-img img-circle"/>
          <b-img
            v-else
            :src="require('@/assets/logo/user1.png')"
            rounded="circle"
            alt="img"
            class="round-bordered-img img-circle"/>

          <div class="m__l--5">
            <div class="d-flex">
              <div class="full-name ellipsis">{{ item.user_info && item.user_info.full_name }}</div>
              <div class="label-import">import this file</div>
            </div>
            <div class="content-file">
              <div class="d-flex">
                <img
                  :src="require('@/assets/icon/file-csv.svg')"
                  class="m__t--4"
                  width="19"
                  height="23">
                <div class="w-74">
                  <div class="file-name ellipsis">{{ item.file_name }}</div>
                  <div class="label-total-records">
                    Total Records
                    <span>{{ item.total_data_processing }}/{{ item.total_data }}</span>
                  </div>
                </div>
                <div
                  class="see-details"
                  @click="item.show_detail = !item.show_detail; $forceUpdate()">See Detail</div>
              </div>
              <div v-if="item.show_detail">
                <hr>
                <div class="detail">
                  Processing <span class="pull-right">{{ item.total_data_processing }}</span>
                </div>
                <div class="detail">
                  Success <span class="pull-right">{{ item.total_data_sucess }}</span>
                </div>
                <div class="detail">
                  Failed <span class="pull-right">{{ item.total_data_failed }}</span>
                </div>
                <div
                  v-if="item.import_status === 'failed'"
                  class="see-details"
                  @click="downloadDataFails(item)">Download Data Fails</div>
              </div>
            </div>
          </div>

        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle, no-param-reassign, no-plusplus */
import { mapState, mapActions, mapMutations } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jCreateViewComponent from '@/views/application/application-component/form-ui/jCreateViewComponent';
import jDetailViewComponent from '@/views/application/application-component/form-ui/jDetailViewComponent';
// import jImportBase from '@/views/application/application-component/form-ui/form-base/jImportBase';
import jProgress from '@/views/application/application-component/form-ui/form-base/jProgress';
import jSearchBase from '@/views/application/application-component/form-ui/form-base/jSearchBase';
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixImport from '@/mixins/jMixImport';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';
import VueCal from 'vue-cal';

import 'vue-cal/dist/vuecal.css';

export default {
  components: {
    jLoadingTable,
    jCreateViewComponent,
    jDetailViewComponent,
    // jImportBase,
    jProgress,
    jSearchBase,
    VueCal,
  },
  mixins: [jMixFilterV2, jMixImport],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    isMultiple: {
      type: Boolean,
      default: false,
    },
    onWidget: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      popoverFilterShow: false,
      listFieldsDetail: [],
      isShowModal: false,
      isShowModalEdit: false,
      isMode: '',
      dataRecordExternal: [],
      dataRecordForm: [],
      idDataRowClick: '',
      filter_data: null,
      filter_data_start_date: null,
      filter_data_end_date: null,
      select_type: null,
      options_search: [],
      options_search_master: [],
      varibaleExternalID: null,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      filterFunction: {},
      showClientTable: true,
      showServerTable: false,
      filterAvtice: false,
      showSearchOptions: true,
      filterSearchOptions: {},
      events: [],
      disableViews: ['years', 'year', 'weeks', 'days'],
      startOfThisMonth: new Date(new Date().getFullYear(), new Date().getMonth(), 1).getTime(),
      endOfThisMonth: new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0).getTime(),
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['data_record']),

    formDataId() {
      return this.formUi.form_data_id;
    },

    dataCalender() {
      return this.formUi.calendar_view;
    },

    dataDetail() {
      return this.formUi.detail_view;
    },

    url() {
      const getEnv = '/nocode/record/set';
      return getEnv;
    },

    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },

    queryParamsParent() {
      if (this.$route.query.queryParamsParent) {
        try {
          const docodeQueryParams = JSON.parse(atob(String(this.$route.query.queryParamsParent).replaceAll('%3D', /=/g)));
          return docodeQueryParams;
        } catch (err) {
          return null;
        }
      }
      return null;
    },
  },
  watch: {
  },
  created() {
    this.endOfThisMonth = this.getEndOfMonthTimestamp();
    if (this.dataCalender) {
      this.isMode = this.formDataId ? 'form' : 'external_url';
      this.setListOptionSearching();
    }
    if (this.formDataId) {
      setTimeout(() => {
        this.cekIsUseFilterFunction();
      }, 200);
    } else {
      this.getCalenderViewDataExternal();
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreFormUi', ['actionGetRecordDataV2', 'actionGetRecordCount', 'setValueRecord', 'actionGetFunctionData']),
    ...mapMutations('jStoreFormUi', ['resetCountToBack']),

    getEndOfMonthTimestamp() {
      const now = new Date();
      const endOfMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0);
      endOfMonth.setHours(23, 59, 59, 999);
      return endOfMonth.getTime();
    },

    applyFilter() {
      if (this.isMode === 'form') {
        this.getFilterDataSearchOptions();
        setTimeout(() => {
          this.cekIsUseFilterFunction();
        }, 200);
      } else {
        this.filterAvtice = true;
        this.getCalenderViewDataExternal();
      }
    },

    resetFilter() {
      this.popoverFilterShow = false;
      this.showSearchOptions = false;
      this.filter_data = null;
      this.filter_data_start_date = null;
      this.filter_data_end_date = null;
      this.select_type = null;
      this.filterAvtice = false;
      this.filterSearchOptions = {};

      setTimeout(() => {
        this.showSearchOptions = true;
        this.cekIsUseFilterFunction();
      }, 200);
    },

    getFilterDataSearchOptions() {
      if (this.options_search_master.length > 0) {
        this.filterAvtice = true;
        this.filterSearchOptions = {};
        this.options_search_master.forEach((e, index) => {
          const dataRef = `jFormSearch-${index}`;
          this.$refs[String(dataRef)][0].getData().then((res) => {
            let valueFilterSearch = null;
            let selectType = e.field_data_key;
            if (this.cekTypeData(selectType) === 'timestamp' && res.value.start_date && res.value.end_date) {
              const startOfDay = new Date(Date.parse(`${res.value.start_date} 00:00:00:000`)).getTime();
              const endOfDay = new Date(Date.parse(`${res.value.end_date} 23:59:59:999`)).getTime();
              valueFilterSearch = [startOfDay, endOfDay];
            } else if (this.cekTypeData(selectType) === 'object' && res.value) {
              selectType = `${e.field_data_key}.id`;
              valueFilterSearch = res.value !== 0 ? res.value : '';
            } else if (this.cekTypeData(selectType) === '[]object' && e.value_form && e.value_form.length > 0) {
              selectType = `${e.field_data_key}.id`;
              valueFilterSearch = e.value_form.map(el => (el.id));
            } else if (this.cekTypeData(selectType) === 'tags' && res.value) {
              selectType = `${e.field_data_key}.name`;
              valueFilterSearch = res.value.name;
            } else if (this.cekTypeData(selectType) === '[]tags' && res.value.length > 0) {
              selectType = `${e.field_data_key}.name`;
              valueFilterSearch = res.value.map(el => (el.name));
            } else if (this.cekTypeData(selectType) === 'person' && res.value) {
              selectType = `${e.field_data_key}.company_user_id`;
              valueFilterSearch = e.person.company_user_id;
            } else if (this.cekTypeData(selectType) === 'number' && res.value) {
              if (e.type === 'user_single_selection') valueFilterSearch = e.person.company_user_id;
              else valueFilterSearch = Number(e.value);
            } else if (this.cekTypeData(selectType) === 'text' && res.value) {
              valueFilterSearch = res.value;
            }

            if ((this.cekTypeData(e.field_data_key) === 'timestamp' && res.value.start_date && res.value.end_date) ||
                (this.cekTypeData(e.field_data_key) === '[]tags' && res.value.length > 0) ||
                (this.cekTypeData(e.field_data_key) === '[]object' && e.value_form && e.value_form.length > 0) ||
                ((this.cekTypeData(e.field_data_key) === 'object' ||
                  this.cekTypeData(e.field_data_key) === 'tags' ||
                  this.cekTypeData(e.field_data_key) === 'person' ||
                  this.cekTypeData(e.field_data_key) === 'number' ||
                  this.cekTypeData(e.field_data_key) === 'text') && res.value)) {
              if (this.filterSearchOptions[selectType]) {
                if (typeof this.filterSearchOptions[selectType] === 'object') {
                  const valueArray = this.filterSearchOptions[selectType];
                  valueArray.push(valueFilterSearch);
                  this.filterSearchOptions[selectType] = valueArray;
                } else {
                  this.filterSearchOptions[selectType] = [this.filterSearchOptions[selectType], valueFilterSearch];
                }
              } else {
                this.filterSearchOptions[selectType] = valueFilterSearch;
              }
            }
          });
        });
      }
    },

    cekIsUseFilterFunction() {
      if (this.dataCalender && this.dataCalender.filter_function) {
        this.getParamByFunction();
      } else if (this.dataCalender) {
        this.getCalenderViewData();
      }
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      if (this.isMode === 'form') {
        const findType = this.formData.columns[key];
        return findType ? findType.type : '';
      }

      const dataColumn = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[key];
      return findType.type;
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      if (this.isMode === 'form') {
        const findRegex = this.formData ? this.formData.columns[dataKey] : null;
        return findRegex ? findRegex.is_use_regex : false;
      }
      return false;
    },

    setListOptionSearching() {
      if (this.dataCalender.search_options_list && this.dataCalender.search_options_list.length > 0) {
        this.options_search_master = this.dataCalender.search_options_list.map((e) => { e.id = e.field_data_key; return e; });
      }
    },

    convertTimestamp(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    goToExportData() {
      if (this.isMultiple) {
        this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/export-form-ui/${this.formUi.id}/multiple`);
      } else {
        this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/export-form-ui/${this.formUi.id}`);
      }
    },

    successImport() {
      this.clearInputFile();
      if (this.formDataId) {
        setTimeout(() => {
          this.cekIsUseFilterFunction();
        }, 300);
      } else {
        this.getCalenderViewDataExternal();
      }
    },

    getParamByFunction() {
      const filterFunctionKeys = Object.keys(this.dataCalender.filter_function);
      const filterFunctionValues = Object.values(this.dataCalender.filter_function);
      const lengthFunction = filterFunctionValues.length;
      let lengthProgress = 0;
      if (lengthFunction > 0) {
        this.showServerTable = false;
        filterFunctionValues.forEach((e, index) => {
          this.actionGetFunctionData(e).then((res) => {
            this.filterFunction[filterFunctionKeys[index]] = res;
            lengthProgress++;
            if (lengthFunction === lengthProgress) {
              this.getCalenderViewData();
            }
          });
        });
      } else {
        this.getCalenderViewData();
      }
    },

    getCalenderViewData() {
      this.clearDataFilterV2();
      this.popoverFilterShow = false;
      this.dataRecordForm = [];
      this.events = [];
      let dataFilter = {};

      if (JSON.parse(this.element.info).filter_column) {
        let x;
        let keyFilter = '';
        const dataRecord = this.data_record;
        if (this.cekTypeData(JSON.parse(this.element.info).filter_column) === 'object') {
          keyFilter = `"${JSON.parse(this.element.info).filter_column}.id"`;
        } else {
          keyFilter = JSON.parse(this.element.info).filter_column;
        }
        dataFilter = eval(`x={ ${keyFilter}: dataRecord.${JSON.parse(this.element.info).filter_variable} }`);

        this.combineFilterV2('Setup', keyFilter, eval(`x=dataRecord.${JSON.parse(this.element.info).filter_variable}`));
      }

      const filterFunctionKeys = Object.keys(this.filterFunction);
      const filterFunctionValues = Object.values(this.filterFunction);

      filterFunctionKeys.forEach((e, index) => {
        dataFilter[e] = filterFunctionValues[index];
        this.combineFilterV2('Setup', e, filterFunctionValues[index]);
      });

      const filterSearchOptionsKeys = Object.keys(this.filterSearchOptions);
      const filterSearchOptionsValues = Object.values(this.filterSearchOptions);

      filterSearchOptionsKeys.forEach((e, index) => {
        dataFilter[e] = filterSearchOptionsValues[index];
        this.combineFilterV2('App', e, filterSearchOptionsValues[index]);
      });

      this.combineFilterLT('App', this.dataCalender.column.start_date_time, this.endOfThisMonth);
      this.combineFilterGT('App', this.dataCalender.column.end_date_time, this.startOfThisMonth);

      let x;
      // eslint-disable-next-line
      const _user = this.session.user;
      const filterKeys = Object.keys(this.dataCalender.filter);
      const filterValues = Object.values(this.dataCalender.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (typeof e === 'object' && e.length > 0) {
            const valueMulti = [];
            e.forEach((v) => {
              if (v.includes('_user')) {
                valueMulti.push(eval(`x=${v}`));
              } else if (filterKeys[index].includes('.company_user_id')) {
                valueMulti.push(Number(v));
              } else if (v.includes('.today')) {
                const date = new Date();
                const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00:000`)).getTime();
                const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59:999`)).getTime();
                // eslint-disable-next-line
                valueMulti.push([startOfDay, endOfDay]);
              } else {
                // eslint-disable-next-line
                if (this.cekTypeData(filterKeys[index]) === 'number') {
                  valueMulti.push(Number(v));
                } else {
                  valueMulti.push(v.slice(1, -1));
                }
              }
            });
            dataFilter[filterKeys[index]] = valueMulti;
            this.combineFilterV2('Setup', filterKeys[index], valueMulti);
          } else {
            // eslint-disable-next-line
            if (e.includes('_user')) {
              dataFilter[filterKeys[index]] = eval(`x=${e}`);
              this.combineFilterV2('Setup', filterKeys[index], eval(`x=${e}`));
            } else if (filterKeys[index].includes('.company_user_id')) {
              dataFilter[filterKeys[index]] = Number(e);
              this.combineFilterV2('Setup', filterKeys[index], Number(e));
            } else if (e.includes('.today')) {
              const date = new Date();
              const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00:000`)).getTime();
              const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59:999`)).getTime();
              dataFilter[filterKeys[index]] = [startOfDay, endOfDay];
              this.combineFilterV2('Setup', filterKeys[index], [startOfDay, endOfDay]);
            } else {
              // eslint-disable-next-line
              if (this.cekTypeData(filterKeys[index]) === 'number') {
                dataFilter[filterKeys[index]] = Number(e);
                this.combineFilterV2('Setup', filterKeys[index], Number(e));
              } else {
                dataFilter[filterKeys[index]] = e.slice(1, -1);
                this.combineFilterV2('Setup', filterKeys[index], e.slice(1, -1));
              }
            }
          }
        });
      }

      const param = {
        form_data_id: this.formDataId,
        page: 1,
        limit: 1000000,
        filter_app: this.setFilterAppV2(this.dataCalender.filter_operator),
        filter_setup: this.setFilterSetupV2(this.dataCalender.filter_operator),
        filter_setup_operator: this.dataCalender.filter_operator || 'and',
        sort: this.dataCalender.sort || {},
      };

      if (!this.onWidget) {
        param.page_id = Number(this.$route.params.pageId);
      }

      this.actionGetRecordDataV2(param).then((res) => {
        const column = this.dataCalender.column;
        this.dataRecordForm = res.data;
        this.events = res.data.filter(f => f[column.start_date_time] && f[column.end_date_time]).map((el) => {
          const data = {
            event_id: el.id,
            start: this.convertDateTime(el[column.start_date_time]),
            end: this.convertDateTime(el[column.end_date_time]),
            from: this.convertTime(el[column.start_date_time]),
            to: this.convertTime(el[column.end_date_time]),
            title: el[column.title],
            note: el[column.description],
            class: el[column.color] || 'default',
          };
          return data;
        });
      });
    },

    useRegex(val) {
      const regexSymbol = /[^\w\s]/g;
      return val.toLowerCase().replace(regexSymbol, '').replace(' ', '_');
    },

    getCalenderViewDataExternal() {
      this.popoverFilterShow = false;
      this.dataRecordExternal = [];

      const _user = this.session.user;
      const dataList = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.list : null)
          : null)
        : null;

      if (dataList) {
        const token = Vue.ls.get('Token');
        const method = dataList.method.toLowerCase();

        let url = '';
        if (method === 'get') {
          const queryParams = Object.keys(dataList.query_params);
          const queryParamsValue = Object.values(dataList.query_params);
          // eslint-disable-next-line
          const _queryType = this.select_type ? dataList.variables[this.select_type] : '';
          // eslint-disable-next-line
          const _query = this.filter_data || '';

          let urlParams = '';
          queryParams.forEach((e, index) => {
            let z;
            const value = eval(`z=${queryParamsValue[index]}`);
            const andMore = queryParams.length - 1 > index ? '&' : '';
            urlParams += `${e}=${value}${andMore}`;
          });

          url = `${dataList.url}?${urlParams}`;
          axios.get(url, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            this.dataRecordExternal = res.data[dataList.source];
          });
        } else {
          let y;
          const params = eval(`y=${dataList.body}`);

          url = dataList.url;
          axios[method](url, params, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            this.dataRecordExternal = res.data[dataList.source];
          });
        }
      }
    },

    reloadDataModal() {
      if (this.formDataId) {
        setTimeout(() => {
          this.cekIsUseFilterFunction();
        }, 300);
      } else {
        this.getCalenderViewDataExternal();
      }
    },

    openAddRecordModal() {
      if (this.formUi.create_view) {
        this.isShowModal = true;
        this.$refs.addRecordModal.show();
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup create view not available');
      }
    },

    closeModal() {
      this.$refs.addRecordModal.hide();
      this.isShowModal = false;
    },

    closeModalEdit() {
      this.$refs.editRecordModal.hide();
      this.isShowModalEdit = false;
    },

    changeMonth(e) {
      if (this.isMode === 'form') {
        this.startOfThisMonth = new Date(e.startDate).getTime();
        this.endOfThisMonth = new Date(e.endDate).getTime();
        this.getCalenderViewData();
      }
    },

    openEditModal(record) {
      const param = this.dataRecordForm.find(f => f.id === record.event_id);
      if (this.formUi.detail_view && !this.isMultiple) {
        if (this.isMode === 'external_url') {
          let y;
          const variable = param;
          const _user = this.session.user;
          const dataDetail = this.formUi ?
            (this.formUi.data_source ?
              (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.detail : null)
              : null)
            : null;

          if (dataDetail) {
            if (this.formUi.detail_view.is_pagescreen) {
              const { applicationName, pageName, pageId } = this.$route.params;
              const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');
              if (this.$route.params.id) {
                this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Detail on page screen not support for this');
              } else {
                const recordId = this.varibaleExternalID ? param[this.varibaleExternalID] : 0;
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${this.formUi.id}/${recordId}`);
              }
            } else {
              const token = Vue.ls.get('Token');
              const method = dataDetail.method.toLowerCase();

              let url = '';
              if (method === 'get') {
                this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

                const queryParams = Object.keys(dataDetail.query_params);
                const queryParamsValue = Object.values(dataDetail.query_params);

                let urlParams = '';
                queryParams.forEach((e, index) => {
                  const andMore = queryParams.length - 1 > index ? '&' : '';
                  let dataParamsValue = '';
                  if (queryParamsValue[index].includes('variable')) {
                    dataParamsValue = eval(`y=${queryParamsValue[index]}`);
                  } else {
                    dataParamsValue = queryParamsValue[index];
                  }
                  urlParams += `${e}=${dataParamsValue}${andMore}`;
                });

                url = `${dataDetail.url}?${urlParams}`;
                axios.get(url, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${token}`,
                  },
                }).then((res) => {
                  this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

                  const dataServer = res.data[dataDetail.source];
                  const dataRow = {};
                  this.dataDetail.columns.forEach((e) => {
                    let x;
                    try {
                      dataRow[e.field_data_key] = eval(`x=dataServer.${dataDetail.variables[e.field_data_key]}`);
                    } catch (err) {
                      dataRow[e.field_data_key] = null;
                    }
                  });
                  this.setDataDetailFields(dataRow);
                });
              } else {
                this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

                const params = eval(`y=${dataDetail.body}`);

                url = dataDetail.url;
                axios[method](url, params, {
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${token}`,
                  },
                }).then((res) => {
                  this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

                  const dataServer = res.data[dataDetail.source];
                  const dataRow = {};
                  this.dataDetail.columns.forEach((e) => {
                    let x;
                    try {
                      dataRow[e.field_data_key] = eval(`x=dataServer.${dataDetail.variables[e.field_data_key]}`);
                    } catch (err) {
                      dataRow[e.field_data_key] = null;
                    }
                  });
                  this.setDataDetailFields(dataRow);
                });
              }
            }
          } else {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Url detail not available');
          }
        } else {
          // eslint-disable-next-line
          if (this.formUi.detail_view.is_pagescreen && !this.onWidget) {
            const { applicationName, pageName, pageId } = this.$route.params;
            const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');
            const tabName = this.$route.params.tabName ? `/${this.$route.params.tabName}` : '';
            if (this.$route.params.id) {
              if (this.$route.params.status) {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${this.formUi.id}/${param.id}/${this.$route.params.formUiId}/${this.$route.params.id}/${JSON.parse(this.element.info).filter_column}/${JSON.parse(this.element.info).filter_variable}${tabName}/${this.$route.params.status}`);
              } else {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${this.formUi.id}/${param.id}/${this.$route.params.formUiId}/${this.$route.params.id}/${JSON.parse(this.element.info).filter_column}/${JSON.parse(this.element.info).filter_variable}${tabName}`);
              }
            } else {
              this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${this.formUi.id}/${param.id}`);
            }
          } else {
            this.setDataDetailFields(param);
          }
        }
      } else {
        // this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup detail view not available');
      }

      if (this.isMultiple) {
        if (this.dataDetail && this.formUi.tabs) {
          // this.resetCountToBack();
          const { applicationName, pageName, pageId } = this.$route.params;
          const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');
          // const layerDetail = (Number(localStorage.getItem(`layer_${pageId}`)) || 0) + 1;
          const tabName = this.formUi.tabs && this.formUi.tabs.length > 0 ? this.formUi.tabs[0].title.replace(/\s/g, '-') : '';

          // localStorage.setItem(`pathLayer_${pageId}_${layerDetail}`, this.$route.path);
          // localStorage.setItem(`layer_${pageId}`, layerDetail);

          this.$router.push({
            path: `/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${this.formUi.id}/${param.id}/${tabName}`,
            query: { queryParamsParent: this.encodeQueryParams(), queryParams: this.$route.query.queryParams || null },
          });
          // this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${this.formUi.id}/${param.id}/${tabName}`);
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup detail view not available');
        }
      }
    },

    encodeQueryParams() {
      const breadcrumbsParent = this.queryParamsParent &&
      this.queryParamsParent.breadcrumbsParent ?
        JSON.parse(this.queryParamsParent.breadcrumbsParent) :
        {};
      if (this.isMultiple) {
        if (this.queryParamsParent && this.queryParamsParent.breadcrumbsParent) {
          breadcrumbsParent.layer = Number(JSON.parse(this.queryParamsParent.breadcrumbsParent).layer) + 1;
        } else {
          breadcrumbsParent.layer = 1;
        }
        breadcrumbsParent[`pathLayer_${breadcrumbsParent.layer}`] = this.$route.path;
        breadcrumbsParent[`dataWorkflowLayer_${breadcrumbsParent.layer}`] = { status: this.status, mode: 'requester' };
      }

      const initialComponent = {
        form_ui_id: this.formUi.id,
        default_view: 'calendar_view',
      };
      const dataFilterDefault = {
        filter_data: this.filter_data,
        filter_data_start_date: this.filter_data_start_date,
        filter_data_end_date: this.filter_data_end_date,
        select_type: this.select_type,
      };
      const queryParams = {
        filterApp: JSON.stringify({}),
        filterSetup: JSON.stringify({}),
        filterDefault: JSON.stringify(dataFilterDefault),
        filterSearchOptions: JSON.stringify(this.filterSearchOptions),
        originalComponent: JSON.stringify(initialComponent),
        breadcrumbsParent: JSON.stringify(breadcrumbsParent),
        layer: breadcrumbsParent.layer || 0,
      };
      return btoa(JSON.stringify(queryParams));
    },

    setDataDetailFields(data) {
      this.idDataRowClick = data.id;
      this.listFieldsDetail = this.dataDetail.columns.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        // value: this.cekTypeData(el.field_data_key) === 'timestamp' ?
        //   (el.type === 'time' ? this.convertTime(data[el.field_data_key]) : this.convertTimestamp(data[el.field_data_key]))
        //   : data[el.field_data_key],
        value: data[el.field_data_key],
        value_id: data[el.field_data_key] ? data[el.field_data_key] : 0,
        value_form: null,
        config: el.config,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: el.is_disable || this.formData.primary_key === el.field_data_key || JSON.parse(this.element.info).filter_column === el.field_data_key,
        is_mandatory: el.is_mandatory,
        is_hidden: el.is_hidden,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        multiple_value: this.setDataMultipleValue(data, el),
        person: this.setDataPersonValue(data, el),
        is_external_source: this.formUi.type === 'external_url',
        time: '00:00:00',
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: el.config ? (el.config.data_field_group ? this.configFieldGroup(el.config.data_field_group, data[el.field_data_key], el.field_data_key, el.is_disable) : []) : [],
        master_groups: el.config ? (el.config.data_field_group ? el.config.data_field_group : []) : [],
        error_input: false,
        error_message: '',
      }));
      this.isShowModalEdit = true;
      this.$refs.editRecordModal.show();
    },

    setValueFileds(data, el) {
      if (this.cekTypeData(el.field_data_key) === 'timestamp' && el.type === 'time') {
        return this.convertTime(data[el.field_data_key]);
      } else if (this.cekTypeData(el.field_data_key) === 'timestamp' && el.type === 'date_time') {
        return this.convertDateTime(data[el.field_data_key]);
      } else if (this.cekTypeData(el.field_data_key) === 'timestamp') {
        return this.convertTimestamp(data[el.field_data_key]);
      }
      return data[el.field_data_key];
    },

    configFieldGroup(data, value, field, isDisabled) {
      let arrayGroup = [];
      if (value && value.length > 0) {
        value.forEach((e) => {
          const datas = data.map((el, index) => ({
            id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
            name: el.name,
            type: el.type,
            placeholder: el.placeholder,
            // value: this.formData.class[field][el.field_data_key].type === 'timestamp' ?
            //   (el.type === 'time' ? this.convertTime(e[el.field_data_key]) : this.convertTimestamp(e[el.field_data_key]))
            //   : e[el.field_data_key],
            value: e[el.field_data_key],
            value_id: e[el.field_data_key] ? e[el.field_data_key] : 0,
            value_form: null,
            config: el.config,
            grid: el.grid_size ? el.grid_size : '12',
            available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
              id: val,
              name: val,
            })) : []) : [],
            available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
              value: val,
              text: val,
            })) : []) : [],
            available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
              name: val.name,
              background: val.background,
              font_color: val.font_color,
            })) : []) : [],
            external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
            external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
            external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
            is_delete: false,
            is_hidden: el.is_hidden,
            is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key || isDisabled,
            is_mandatory: el.is_mandatory,
            map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
            relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
            accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
            multiple_value: el.field_data_key ? this.setDataMultipleValueGroup(e, el, field) : [],
            person: this.setDataPersonValueGroup(e, el, field),
            is_external_source: this.formUi.type === 'external_url',
            field_ui_key: el.field_ui_key,
            field_data_key: el.field_data_key,
            groups: [],
          }));
          arrayGroup.push(datas);
        });
      } else {
        arrayGroup = [data.map((el, index) => ({
          id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
          name: el.name,
          type: el.type,
          placeholder: el.placeholder,
          value: null,
          value_id: 0,
          value_form: null,
          config: el.config,
          grid: el.grid_size ? el.grid_size : '12',
          available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
            id: val,
            name: val,
          })) : []) : [],
          available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
            value: val,
            text: val,
          })) : []) : [],
          available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
            name: val.name,
            background: val.background,
            font_color: val.font_color,
          })) : []) : [],
          external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
          external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
          external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
          is_delete: el.is_hidden || this.formData.primary_key === el.field_data_key,
          is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
          is_mandatory: el.is_mandatory,
          map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
          relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
          multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
            id: indexVal + 1,
            name: val,
          })) : []) : []) : [],
          accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
          person: null,
          is_external_source: this.formUi.type === 'external_url',
          field_ui_key: el.field_ui_key,
          field_data_key: el.field_data_key,
          groups: [],
        }))];
      }
      return arrayGroup;
    },

    setDataMultipleValue(data, el) {
      let dataMultiple = [];
      if (this.cekTypeData(el.field_data_key) === '[]text' || this.cekTypeData(el.field_data_key) === '[]number' || this.cekTypeData(el.field_data_key) === '[]attachment') {
        if (el.type === 'checkbox') {
          dataMultiple = data[el.field_data_key];
        } else if (el.type === 'attachment') {
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map((val, indexVal) => ({
              id: indexVal + 1,
              name: val.name,
              url: val.url,
            }));
          } else {
            dataMultiple = el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
              id: indexVal + 1,
              name: val,
            })) : []) : [];
          }
        } else {
          // eslint-disable-next-line
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map(val => ({
              id: val,
              name: val,
            }));
          }
        }
      }
      return dataMultiple;
    },

    setDataPersonValue(data, el) {
      let dataPerson = {};
      if (this.cekTypeData(el.field_data_key) === 'person') {
        dataPerson = data[el.field_data_key];
      }
      return dataPerson;
    },

    setDataMultipleValueGroup(data, el, field) {
      let dataMultiple = [];
      if (this.formData.class[field][el.field_data_key].type === '[]text' || this.formData.class[field][el.field_data_key].type === '[]number' || this.formData.class[field][el.field_data_key].type === '[]attachment') {
        if (el.type === 'checkbox') {
          dataMultiple = data[el.field_data_key];
        } else if (el.type === 'attachment') {
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map((val, indexVal) => ({
              id: indexVal + 1,
              name: val.name,
              url: val.url,
            }));
          } else {
            dataMultiple = el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
              id: indexVal + 1,
              name: val,
            })) : []) : [];
          }
        } else {
          // eslint-disable-next-line
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map(val => ({
              id: val,
              name: val,
            }));
          }
        }
      }
      return dataMultiple;
    },

    setDataPersonValueGroup(data, el, field) {
      let dataPerson = {};
      if (el.field_data_key && this.formData.class[field][el.field_data_key].type === 'person') {
        dataPerson = data[el.field_data_key];
      }
      return dataPerson;
    },
  },
};
</script>

<style lang="scss">
  .jTable .form-control {
    padding-left: 5px !important;
    width: inherit !important;
  }

  .jTable select.form-control {
    height: inherit !important;
  }

  .jSelectSingle.vue-treeselect .vue-treeselect__menu-container .vue-treeselect__menu .vue-treeselect__list .vue-treeselect__list-item .vue-treeselect__option .vue-treeselect__label-container .vue-treeselect__label {
    text-align: left !important;
    float: left !important;
  }

  .jTable .btn-import-form {
    height: 33px !important;
  }
</style>
