<!-- eslint-disable max-len -->
<template>
  <div>
    <h2
      v-if="onModal"
      class="title-form-ui">
      {{ dataSetup.title }}
    </h2>

    <j-form-base
      v-if="isLoading"
      ref="jFormCreate"
      :data-fields="dataFields"
      :element="element"
      :record-parents="data_record"
      :is-page-screen="false"/>

    <div class="m__t--20 text-right">
      <b-button
        v-if="onModal"
        class="btn gray"
        @click="$emit('close-modal')">
        Close
      </b-button>
      <b-button
        v-if="(nativeButtonsDraft ? !nativeButtonsDraft.is_hidden : true) && modeTable === 'requester'"
        class="btn blue"
        @click="saveDraftReqRecord">
        {{ nativeButtonsDraft ?
          (nativeButtonsDraft.label ? nativeButtonsDraft.label : 'Save to Draft') :
        'Save to Draft' }}
      </b-button>
      <b-button
        v-if="(nativeButtonsCreate ? !nativeButtonsCreate.is_hidden : true) && modeTable !== 'requester'"
        class="btn blue"
        @click="submitAddRecord">
        {{ nativeButtonsCreate ?
          (nativeButtonsCreate.label ? nativeButtonsCreate.label : 'Create') :
        'Create' }}
      </b-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, max-len, no-unused-vars, no-eval, no-console, no-lonely-if, no-underscore-dangle */
import { mapActions, mapState } from 'vuex';
import jFormBase from '@/views/application/application-component/form-ui/form-base/jFormBase';
import jMixRedirectApp from '@/mixins/jMixRedirectApp';
import jMixNativeButton from '@/mixins/jMixNativeButton';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';

export default {
  components: {
    jFormBase,
  },
  mixins: [
    jMixRedirectApp,
    jMixNativeButton,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    onModal: {
      type: Boolean,
      default: false,
    },
    modeTable: {
      type: String,
      default: '',
    },
    isMultiple: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dataFields: [],
      isLoading: false,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['data_record']),

    formDataId() {
      return this.formUi.form_data_id;
    },

    dataSetup() {
      return this.formUi.create_view;
    },

    nativeButtonsCreate() {
      return this.formUi.native_buttons ? this.formUi.native_buttons.create : null;
    },

    nativeButtonsDraft() {
      return this.formUi.native_buttons ? this.formUi.native_buttons.draft : null;
    },
  },
  watch: {
  },
  created() {
    this.dataFields = this.dataSetup.columns.map((el, index) => ({
      id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
      name: el.name,
      type: el.type,
      placeholder: el.placeholder,
      value: '',
      value_id: 0,
      value_form: null,
      config: el.config,
      grid: el.grid_size ? el.grid_size : '12',
      available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
        id: val,
        name: val,
      })) : []) : [],
      available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
        value: val,
        text: val,
      })) : []) : [],
      available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
        name: val.name,
        background: val.background,
        font_color: val.font_color,
      })) : []) : [],
      external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
      external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
      external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
      is_delete: this.formData.primary_key === el.field_data_key,
      is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
      is_hidden: el.is_hidden,
      is_mandatory: el.is_mandatory,
      map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
      relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
      relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
      is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
      is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
      multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
        id: indexVal + 1,
        name: val,
      })) : []) : []) : [],
      accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
      person: {},
      is_external_source: this.formUi.type === 'external_url',
      is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
      filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
      field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
      field_ui_key: el.field_ui_key,
      field_data_key: el.field_data_key,
      html: el.config ? (el.config.html ? el.config.html : '') : '',
      groups: el.config ? (el.config.data_field_group ? this.configFieldGroup(el.config.data_field_group, el.is_disable) : []) : [],
      master_groups: el.config ? (el.config.data_field_group ? el.config.data_field_group : []) : [],
      error_input: false,
      error_message: '',
    }));
    this.isLoading = true;
  },
  methods: {
    ...mapActions('jStoreFormUi', ['createRecord', 'setValueRecord', 'saveDraftRecord', 'saveDraftRecordOnly', 'actionGetRecordData']),

    configFieldGroup(data, isDisabled) {
      return data.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_hidden: el.is_hidden,
        is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key || isDisabled,
        is_mandatory: el.is_mandatory,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: this.formUi.type === 'external_url',
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        groups: [],
      }));
    },

    submitAddRecord() {
      this.nativeButtonType = 'create';
      this.selectedNativeButton = this.nativeButtonsCreate;

      const dataFormUi = this.formUi;
      if (dataFormUi.type === 'form' || (this.isMultiple && dataFormUi.type === 'form')) {
        this.$refs.jFormCreate.getData().then((params) => {
          const dataColumns = Object.values(this.dataSetup.columns);
          let data = {};
          if (this.isMultiple) {
            data = {
              page_id: Number(this.$route.params.pageId),
              multiple_form_ui_id: this.formUi.id,
              form_data_id: this.formDataId,
              data: {},
            };
          } else {
            data = {
              page_id: Number(this.$route.params.pageId),
              form_ui_id: this.formUi.id,
              form_data_id: this.formDataId,
              data: {},
            };
          }
          dataColumns.forEach((e) => {
            if (e.field_data_key) {
              const findValue = params.find(f => f.field_data_key === e.field_data_key);
              const findType = this.formData.columns[e.field_data_key];
              if (findType.type === 'number') {
                data.data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
              } else if (findType.type === 'timestamp') {
                // if (findValue.type === 'time') {
                //   data.data[e.field_data_key] = findValue.value || null;
                // } else {
                //   data.data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
                // }
                data.data[e.field_data_key] = findValue.value || null;
              } else if (findType.type === 'boolean') {
                data.data[e.field_data_key] = findValue.value;
              } else if (findType.type === '[]text') {
                if (findValue.type === 'checkbox') {
                  data.data[e.field_data_key] = findValue.multiple_value;
                } else {
                  data.data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
                }
              } else if (findType.type === '[]number') {
                data.data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
              } else if (findType.type === 'person') {
                data.data[e.field_data_key] = findValue.person.company_user_id ? {
                  company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                  name: findValue.person ? findValue.person.name : '',
                  email: findValue.person ? findValue.person.email : '',
                  photo: findValue.person ? findValue.person.photo : '',
                } : null;
              } else if (findType.type === 'object') {
                // eslint-disable-next-line
                if (findValue.type === 'relation_record_external_api') {
                  data.data[e.field_data_key] = {
                    id: findValue.value_form ? String(findValue.value_form.id) : '',
                    name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
                  };
                } else if (findValue.type === 'relation_record') {
                  data.data[e.field_data_key] = {
                    id: findValue.value_form ? (findValue.value_form[e.config.data_source.set_value_selected] ? findValue.value_form[e.config.data_source.set_value_selected] : findValue.value_form.id) : '',
                    name: findValue.value_form ? (findValue.value_form[e.config.data_source.show_data_option] ? findValue.value_form[e.config.data_source.show_data_option] : findValue.value_form.label) : '',
                  };
                } else if (findValue.type === 'currency_selection') {
                  data.data[e.field_data_key] = findValue.value;
                  if (findValue.additionalDataCurrency) {
                    const key = Object.keys(findValue.additionalDataCurrency);
                    key.forEach((i) => {
                      data.data[i] = findValue.additionalDataCurrency[i];
                    });
                  }
                } else {
                  data.data[e.field_data_key] = findValue.value;
                }
              } else if (findType.type === 'maps') {
                data.data[e.field_data_key] = {
                  latitude: findValue.latitude ? findValue.latitude : 0,
                  longitude: findValue.longitude ? findValue.longitude : 0,
                  address: findValue.value ? findValue.value : '',
                };
              } else if (findType.type === '[]attachment') {
                data.data[e.field_data_key] = findValue.multiple_value;
              } else if (findType.type === 'tags' || findType.type === '[]tags') {
                data.data[e.field_data_key] = findValue.value;
              } else if (findType.type === '[]object') {
                data.data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
              } else {
                // eslint-disable-next-line
                if (findValue.type === 'group' || findValue.type === 'table_group') {
                  data.data[e.field_data_key] = findValue.groups.length > 0 ? findValue.groups.map(val => this.formatTypeGroup(val, findValue.data_groups, e.field_data_key)) : [];
                } else {
                  data.data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
                }
              }
            }
          });
          if (JSON.parse(this.element.info).filter_column) {
            if (this.formData.columns[JSON.parse(this.element.info).filter_column].type === 'object') {
              const findField = this.dataSetup.columns.find(e => e.field_data_key === JSON.parse(this.element.info).filter_column);
              if (findField.type === 'relation_record') {
                this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });
                const param = {
                  form_data_id: findField.config.data_source.form.id,
                  page: 1,
                  limit: 5,
                  filter: { id: [this.data_record[JSON.parse(this.element.info).filter_variable]] },
                };
                this.actionGetRecordData(param).then((response) => {
                  const dataRes = response.data[0];
                  data.data[JSON.parse(this.element.info).filter_column] = {
                    id: this.data_record[JSON.parse(this.element.info).filter_variable],
                    name: dataRes[findField.config.data_source.show_data_option],
                  };

                  // this.submitedRecord(data);
                  this.checkConfirmationMessage(data);
                });
              } else {
                // this.submitedRecord(data);
                this.checkConfirmationMessage(data);
              }
            } else {
              data.data[JSON.parse(this.element.info).filter_column] = this.data_record[JSON.parse(this.element.info).filter_variable];
              // this.submitedRecord(data);
              this.checkConfirmationMessage(data);
            }
          } else {
            // this.submitedRecord(data);
            this.checkConfirmationMessage(data);
          }
        });
      } else {
        this.$refs.jFormCreate.getData().then((param) => {
          const dataCreate = dataFormUi ?
            (dataFormUi.data_source ?
              (dataFormUi.data_source.external_url ? dataFormUi.data_source.external_url.create : null)
              : null)
            : null;

          let y;
          const variable = {};
          const _fieldkeyBase64 = {};
          const url = dataCreate.url;
          const token = Vue.ls.get('Token');
          const method = dataCreate.method.toLowerCase();
          const dataColumns = Object.values(this.dataSetup.columns);
          const _user = this.session.user;

          dataColumns.forEach((e) => {
            if (e.field_data_key) {
              const findValue = param.find(f => f.field_data_key === e.field_data_key);
              const findType = this.formData.columns[e.field_data_key];

              if (findType.type === 'number') {
                variable[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
              } else if (findType.type === 'timestamp') {
                // variable[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : 0;
                variable[e.field_data_key] = findValue.value || null;
              } else if (findType.type === 'boolean') {
                variable[e.field_data_key] = findValue.value;
              } else if (findType.type === '[]text') {
                if (findValue.type === 'checkbox') {
                  variable[e.field_data_key] = findValue.multiple_value;
                } else {
                  variable[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
                }
              } else if (findType.type === '[]number') {
                variable[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
              } else if (findType.type === 'person') {
                variable[e.field_data_key] = findValue.person.company_user_id ? {
                  company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                  name: findValue.person ? findValue.person.name : '',
                  email: findValue.person ? findValue.person.email : '',
                  photo: findValue.person ? findValue.person.photo : '',
                } : null;
              } else if (findType.type === 'object') {
                // eslint-disable-next-line
                if (findValue.type === 'relation_record_external_api') {
                  variable[e.field_data_key] = {
                    id: findValue.value_form ? String(findValue.value_form.id) : '',
                    name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
                  };
                } else if (findValue.type === 'relation_record') {
                  variable[e.field_data_key] = {
                    id: findValue.value_form ? (findValue.value_form[e.config.data_source.set_value_selected] ? findValue.value_form[e.config.data_source.set_value_selected] : findValue.value_form.id) : '',
                    name: findValue.value_form ? (findValue.value_form[e.config.data_source.show_data_option] ? findValue.value_form[e.config.data_source.show_data_option] : findValue.value_form.label) : '',
                  };
                } else if (findValue.type === 'currency_selection') {
                  variable[e.field_data_key] = findValue.value;
                  if (findValue.additionalDataCurrency) {
                    const key = Object.keys(findValue.additionalDataCurrency);
                    key.forEach((i) => {
                      variable[i] = findValue.additionalDataCurrency[i];
                    });
                  }
                } else {
                  variable[e.field_data_key] = findValue.value;
                }
              } else if (findType.type === 'maps') {
                variable[e.field_data_key] = {
                  latitude: findValue.latitude ? findValue.latitude : 0,
                  longitude: findValue.longitude ? findValue.longitude : 0,
                  address: findValue.value ? findValue.value : '',
                };
              } else if (findType.type === '[]attachment') {
                variable[e.field_data_key] = findValue.multiple_value;
              } else if (findType.type === '[]object') {
                variable[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
              } else {
                // eslint-disable-next-line
                if (findValue.type === 'relation_record_external_api') {
                  variable[e.field_data_key] = findValue.value_form ? (e.config.data_source_external_set_value === 'all' ? findValue.value_form : findValue.value_form.id) : null;
                } else {
                  variable[e.field_data_key] = findValue.value ? findValue.value : '';
                }
              }
            }
          });

          if (JSON.parse(this.element.info).filter_column) {
            if (this.formUi.data_source.external_url.columns[JSON.parse(this.element.info).filter_column].type === 'object') {
              const findField = this.dataSetup.columns.find(e => e.field_data_key === JSON.parse(this.element.info).filter_column);
              if (findField.type === 'relation_record' || findField.type === 'relation_record_external_api') {
                variable[JSON.parse(this.element.info).filter_column] = {
                  id: this.data_record[JSON.parse(this.element.info).filter_variable],
                  name: this.data_record[findField.config.data_source.show_data_option],
                };
              }
            } else {
              variable[JSON.parse(this.element.info).filter_column] = this.data_record[JSON.parse(this.element.info).filter_variable];
            }
          }

          // Mapping FieldKeyBase64
          param.forEach((field) => {
            if (field.type === 'single_attachment' || field.type === 'attachment' || field.type === 'multiple_attachment_dynamic') {
              _fieldkeyBase64[field.field_ui_key] = field.content64;
            }
          });
          // Rename key object
          // Object.entries(_fieldkeyBase64).forEach(([key, value], index) => {
          //   _fieldkeyBase64[`attachment${index + 1}`] = _fieldkeyBase64[key];
          //   delete _fieldkeyBase64[key];
          // });
          const params = eval(`y=${dataCreate.body}`);
          // Change value content if array
          // Object.entries(_fieldkeyBase64).forEach(([key, value], index) => {
          //   const keyContent = index === 0 ? 'content' : `content${index + 1}`;
          //   const content = index === 0 ? params.data.content : params.data[`content${index + 1}`];
          //   if (Array.isArray(content)) {
          //     params.data[keyContent] = content[0];
          //   }
          // });

          this.checkConfirmationMessageExternalApi(method, url, params, token, '', this.formUi, variable);
        });
      }
    },

    submitAddRecordExternalApi(method, url, params, token) {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });
      axios[method](url, params, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${token}`,
        },
      }).then((res) => {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
        if (res.data.action) {
          const typeConfirm = this.nativeButtonsCreate ? this.nativeButtonsCreate.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.data.action ? res.data.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
            }).then((result) => {
              if (result.dismiss) {
                if (this.onModal) {
                  this.$emit('reload-data');
                  this.$emit('close-modal');
                }
                // eslint-disable-next-line
                    throw {};
              } else {
                if (res.data.action.redirect) {
                  this.checkRedirectByType(res.data, true);
                } else {
                  if (this.onModal) {
                    this.$emit('reload-data');
                    this.$emit('close-modal');
                  }
                }
              }
            });
          } else {
            const message = res.data.action.message ? res.data.action.message : res.data.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.data.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res.data, true);
              }, 2000);
            } else {
              if (this.onModal) {
                this.$emit('reload-data');
                this.$emit('close-modal');
              }
            }
          }
        } else {
          if (this.onModal) {
            this.$emit('reload-data');
            this.$emit('close-modal');
          }
          this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.message);
        }
      }).catch((err) => {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', err.response.data.message);
      });
    },

    submitedRecord(data) {
      this.setValueRecord(data).then((res) => {
        if (res.error && res.invalid_field) {
          this.$refs.jFormCreate.setErrorInput(res.invalid_field);
        } else if (!res.error) {
          this.$refs.jFormCreate.clearErrorInput();
          const typeConfirm = this.nativeButtonsCreate ? this.nativeButtonsCreate.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
            }).then((result) => {
              if (result.dismiss) {
                if (this.onModal) {
                  this.$emit('reload-data');
                  this.$emit('close-modal');
                }
                // eslint-disable-next-line
                throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  if (this.onModal) {
                    this.$emit('reload-data');
                    this.$emit('close-modal');
                  }
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            const messageType = res.action.redirect ? res.action.redirect.message_type : '';
            if (messageType) {
              // eslint-disable-next-line default-case
              switch (messageType) {
                case 'success':
                  this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
                  break;
                case 'info':
                  this.$store.dispatch('jStoreNotificationScreen/toggleInfo', message, { root: true });
                  break;
                case 'warning':
                  this.$store.dispatch('jStoreNotificationScreen/toggleWarning', message, { root: true });
                  break;
                case 'error':
                  this.$store.dispatch('jStoreNotificationScreen/toggleFailed', message, { root: true });
                  break;
              }
            } else if (!messageType) {
              if (res.error) {
                this.$store.dispatch('jStoreNotificationScreen/toggleProblem', message, { root: true });
              } else {
                this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
              }
            }
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              if (this.onModal) {
                this.$emit('reload-data');
                this.$emit('close-modal');
              }
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
      });
    },

    countSecond(str) {
      const date = new Date();
      return new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${str}:00`)).getTime();
    },

    formatTypeGroup(params, columns, field) {
      const dataColumns = Object.values(columns);
      const data = {};
      dataColumns.forEach((e) => {
        if (e.field_data_key) {
          const findValue = params.find(f => f.field_data_key === e.field_data_key);
          const findType = this.formData.class[field][e.field_data_key];
          if (findType.type === 'number') {
            data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
          } else if (findType.type === 'timestamp') {
            // if (findValue.type === 'time') {
            //   data[e.field_data_key] = findValue.value || null;
            // } else {
            //   data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
            // }
            data[e.field_data_key] = findValue.value || null;
          } else if (findType.type === 'boolean') {
            data[e.field_data_key] = findValue.value;
          } else if (findType.type === '[]text') {
            if (findValue.type === 'checkbox') {
              data[e.field_data_key] = findValue.multiple_value;
            } else {
              data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
            }
          } else if (findType.type === '[]number') {
            data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
          } else if (findType.type === 'person') {
            data[e.field_data_key] = findValue.person.company_user_id ? {
              company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
              name: findValue.person ? findValue.person.name : '',
              email: findValue.person ? findValue.person.email : '',
              photo: findValue.person ? findValue.person.photo : '',
            } : null;
          } else if (findType.type === 'object') {
            // eslint-disable-next-line
            if (findValue.type === 'relation_record_external_api') {
              data[e.field_data_key] = {
                id: findValue.value_form ? String(findValue.value_form.id) : '',
                name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
              };
            } else if (findValue.type === 'relation_record') {
              data[e.field_data_key] = {
                id: findValue.value_form ? (findValue.value_form[e.config.data_source.set_value_selected] ? findValue.value_form[e.config.data_source.set_value_selected] : findValue.value_form.id) : '',
                name: findValue.value_form ? (findValue.value_form[e.config.data_source.show_data_option] ? findValue.value_form[e.config.data_source.show_data_option] : findValue.value_form.label) : '',
              };
            } else if (findValue.type === 'currency_selection') {
              data[e.field_data_key] = findValue.value;
              if (findValue.additionalDataCurrency) {
                const key = Object.keys(findValue.additionalDataCurrency);
                key.forEach((i) => {
                  data[i] = findValue.additionalDataCurrency[i];
                });
              }
            } else {
              data[e.field_data_key] = findValue.value;
            }
          } else if (findType.type === 'maps') {
            data[e.field_data_key] = {
              latitude: findValue.latitude ? findValue.latitude : 0,
              longitude: findValue.longitude ? findValue.longitude : 0,
              address: findValue.value ? findValue.value : '',
            };
          } else if (findType.type === '[]attachment') {
            data[e.field_data_key] = findValue.multiple_value;
          } else if (findType.type === 'tags' || findType.type === '[]tags') {
            data[e.field_data_key] = findValue.value;
          } else if (findType.type === '[]object') {
            data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
          } else {
            data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
          }
        }
      });
      return data;
    },

    saveDraftReqRecord() {
      this.nativeButtonType = 'draft';
      this.selectedNativeButton = this.nativeButtonsDraft;
      this.$refs.jFormCreate.getData().then((params) => {
        const dataColumns = Object.values(this.dataSetup.columns);
        let data = {};
        if (this.isMultiple) {
          data = {
            page_id: Number(this.$route.params.pageId),
            multiple_form_ui_id: this.formUi.id,
            form_data_id: this.formDataId,
            data: {},
          };
        } else {
          data = {
            page_id: Number(this.$route.params.pageId),
            form_ui_id: this.formUi.id,
            form_data_id: this.formDataId,
            data: {},
          };
        }
        dataColumns.forEach((e) => {
          if (e.field_data_key) {
            const findValue = params.find(f => f.field_data_key === e.field_data_key);
            const findType = this.formData.columns[e.field_data_key];

            if (findType.type === 'number') {
              data.data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
            } else if (findType.type === 'timestamp') {
              // if (findValue.type === 'time') {
              //   data.data[e.field_data_key] = findValue.value || null;
              // } else {
              //   data.data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
              // }
              data.data[e.field_data_key] = findValue.value || null;
            } else if (findType.type === 'boolean') {
              data.data[e.field_data_key] = findValue.value;
            } else if (findType.type === '[]text') {
              if (findValue.type === 'checkbox') {
                data.data[e.field_data_key] = findValue.multiple_value;
              } else {
                data.data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
              }
            } else if (findType.type === '[]number') {
              data.data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
            } else if (findType.type === 'person') {
              data.data[e.field_data_key] = findValue.person.company_user_id ? {
                company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                name: findValue.person ? findValue.person.name : '',
                email: findValue.person ? findValue.person.email : '',
                photo: findValue.person ? findValue.person.photo : '',
              } : null;
            } else if (findType.type === 'object') {
              // eslint-disable-next-line
              if (findValue.type === 'relation_record_external_api') {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? String(findValue.value_form.id) : '',
                  name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
                };
              } else if (findValue.type === 'relation_record') {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? (findValue.value_form[e.config.data_source.set_value_selected] ? findValue.value_form[e.config.data_source.set_value_selected] : findValue.value_form.id) : '',
                  name: findValue.value_form ? (findValue.value_form[e.config.data_source.show_data_option] ? findValue.value_form[e.config.data_source.show_data_option] : findValue.value_form.label) : '',
                };
              } else if (findValue.type === 'currency_selection') {
                data.data[e.field_data_key] = findValue.value;
                if (findValue.additionalDataCurrency) {
                  const key = Object.keys(findValue.additionalDataCurrency);
                  key.forEach((i) => {
                    data.data[i] = findValue.additionalDataCurrency[i];
                  });
                }
              } else {
                data.data[e.field_data_key] = findValue.value;
              }
            } else if (findType.type === 'maps') {
              data.data[e.field_data_key] = {
                latitude: findValue.latitude ? findValue.latitude : 0,
                longitude: findValue.longitude ? findValue.longitude : 0,
                address: findValue.value ? findValue.value : '',
              };
            } else if (findType.type === '[]attachment') {
              data.data[e.field_data_key] = findValue.multiple_value;
            } else if (findType.type === 'tags' || findType.type === '[]tags') {
              data.data[e.field_data_key] = findValue.value;
            } else if (findType.type === '[]object') {
              data.data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
            } else {
              // eslint-disable-next-line
              if (findValue.type === 'group' || findValue.type === 'table_group') {
                data.data[e.field_data_key] = findValue.groups.length > 0 ? findValue.groups.map(val => this.formatTypeGroup(val, findValue.data_groups, e.field_data_key)) : [];
              } else {
                data.data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
              }
            }
          }
        });
        if (JSON.parse(this.element.info).filter_column) {
          if (this.formData.columns[JSON.parse(this.element.info).filter_column].type === 'object') {
            const findField = this.dataSetup.columns.find(e => e.field_data_key === JSON.parse(this.element.info).filter_column);
            if (findField.type === 'relation_record') {
              this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });
              const param = {
                form_data_id: findField.config.data_source.form.id,
                page: 1,
                limit: 5,
                filter: { id: [this.data_record[JSON.parse(this.element.info).filter_variable]] },
              };
              this.actionGetRecordData(param).then((response) => {
                const dataRes = response.data[0];
                data.data[JSON.parse(this.element.info).filter_column] = {
                  id: this.data_record[JSON.parse(this.element.info).filter_variable],
                  name: dataRes[findField.config.data_source.show_data_option],
                };
                // this.savedDraftReqRecord(data);
                this.checkConfirmationMessage(data);
              });
            } else {
              // this.savedDraftReqRecord(data);
              this.checkConfirmationMessage(data);
            }
          } else {
            data.data[JSON.parse(this.element.info).filter_column] = this.data_record[JSON.parse(this.element.info).filter_variable];
            this.checkConfirmationMessage(data);
            // this.savedDraftReqRecord(data);
          }
        } else {
          // this.savedDraftReqRecord(data);
          this.checkConfirmationMessage(data);
        }
      });
    },

    savedDraftReqRecord(data) {
      this.saveDraftRecordOnly(data).then((res) => {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
        if (res.error && res.invalid_field) {
          this.$refs.jFormCreate.setErrorInput(res.invalid_field);
        } else if (!res.error) {
          this.$refs.jFormCreate.clearErrorInput();
          const typeConfirm = this.nativeButtonsDraft ? this.nativeButtonsDraft.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
            }).then((result) => {
              if (result.dismiss) {
                if (this.onModal) {
                  this.$emit('reload-data');
                  this.$emit('close-modal');
                }
                // eslint-disable-next-line
                throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  if (this.onModal) {
                    this.$emit('reload-data');
                    this.$emit('close-modal');
                  }
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            const messageType = res.action.redirect ? res.action.redirect.message_type : '';
            if (messageType) {
              // eslint-disable-next-line default-case
              switch (messageType) {
                case 'success':
                  this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
                  break;
                case 'info':
                  this.$store.dispatch('jStoreNotificationScreen/toggleInfo', message, { root: true });
                  break;
                case 'warning':
                  this.$store.dispatch('jStoreNotificationScreen/toggleWarning', message, { root: true });
                  break;
                case 'error':
                  this.$store.dispatch('jStoreNotificationScreen/toggleFailed', message, { root: true });
                  break;
              }
            } else if (!messageType) {
              if (res.error) {
                this.$store.dispatch('jStoreNotificationScreen/toggleProblem', message, { root: true });
              } else {
                this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
              }
            }
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              if (this.onModal) {
                this.$emit('reload-data');
                this.$emit('close-modal');
              }
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
      });
    },

    checkRedirectByType(res, native) {
      if (res.action.redirect.type === 'url' && res.action.redirect.target === 'new_tab') {
        window.open(res.action.redirect.url, '_blank');
        if (native && this.onModal) {
          this.$emit('reload-data');
          this.$emit('close-modal');
        }
      } else if (res.action.redirect.type === 'url') {
        window.location.href = res.action.redirect.url;
      } else {
        this.redirectNativeButton(res);
        if (native && this.onModal && res.action.redirect.type === 'page' && res.action.redirect.target === 'new_tab') {
          this.$emit('reload-data');
          this.$emit('close-modal');
        }
      }
    },
  },
};
</script>
