<template>
  <div>
    <!-- If Loading get data -->
    <j-skeleton-employee-profile v-if="isLoading" />

    <!-- Banner -->
    <img
      v-if="!isLoading"
      :src="sanitizeUrl(url_banner) || require('@/assets/image/officeless.jpg')"
      class="profile-banner"
    >

    <!-- Information -->
    <div
      v-if="!isLoading"
      class="wrap-profile-information">
      <div class="grid-left">
        <!-- Profile Picture -->
        <div
          class="wrap-profile-picture"
          @click.stop="showPreviewPhoto"
        >
          <img
            :src="sanitizeUrl(data_employee.photo) || require('@/assets/image/profile.png')"
            class="profile-picture"
          >
          <div
            class="change-profile-picture"
            @click.stop="$refs.inputProfile.click()"
          >
            <img
              src="@/assets/icon/change-profile.svg"
              class="icon-change-profile"
            >
            <p>Change profile picture</p>

            <!-- Upload photo -->
            <input
              ref="inputProfile"
              type="file"
              class="input-profile"
              @change="handleFileUpload($event)"
            >
          </div>
        </div>

        <!-- Change password -->
        <div
          class="btn-change-password"
          @click="showConfirmPwd"
        >
          <img src="@/assets/icon/change-password.svg">
          Change Password
        </div>
        <p class="desc-change-password">
          A secure password helps protect your account
        </p>
      </div>

      <div class="grid-right">
        <!-- Profile name & position -->
        <p class="profile-name">
          {{ fullName }}
        </p>
        <div
          v-click-outside="handleHideAllOrganigram"
          v-if="data_positions.length > 0"

          class="profile-position"
          @click="handleShowAllOrganigram"
        >
          <div
            :class="{'cursor-pointer': data_positions.length > 1}"
            class="profile-position-selected"
          >
            <p>{{ data_positions[0].position_name }}</p>
            <i
              v-if="data_positions.length > 1"
              class="fa fa-chevron-down icon-dropdown-profile ml-3"
            />
          </div>

          <div
            v-if="data_positions.length > 1 && showAllOrganigram"
            class="popup-position"
          >
            <p class="title-popup-position">All Positions</p>

            <div
              v-for="list in data_positions"
              :key="list.id"
              class="list-popup-position"
            >
              <img
                :alt="list.position_name"
                src="@/assets/icon/work-icon.svg"
              >
              <p class="position-name">{{ list.position_name }}</p>
            </div>
          </div>
        </div>

        <!-- Profile Form -->
        <div class="wrap-profile-form">
          <div class="section-form">
            <h5>Basic Info</h5>

            <div class="grid-6">
              <b-form-group :class="{'error-input' : $v.data_employee.first_name.$error}">
                <label> First Name </label>
                <j-input
                  v-model="$v.data_employee.first_name.$model"
                  :max-length="50"
                  placeholder="First Name"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.last_name.$error}">
                <label> Last Name </label>
                <j-input
                  v-model="$v.data_employee.last_name.$model"
                  :max-length="50"
                  placeholder="Last Name"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.date_of_birth.$error}">
                <label> Date Of Birth* </label>
                <j-datepicker
                  v-model="$v.data_employee.date_of_birth.$model"
                  format="MMM dd, yyyy"
                  placeholder="Jan 01, 2020"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.place_of_birth.$error}">
                <label> Place Of Birth </label>
                <j-input
                  v-model="$v.data_employee.place_of_birth.$model"
                  :max-length="50"
                  placeholder="Place Of Birth"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.date_of_birth.$error}">
                <label> Gender </label>
                <j-single-select
                  v-model="data_employee.gender"
                  :options="genderOptions"
                  label="name"
                  placeholder="Select Gender"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.place_of_birth.$error}">
                <label> Marital Status </label>
                <j-single-select
                  v-model="data_employee.marital_status"
                  :options="maritalOptions"
                  label="name"
                  placeholder="Select Marital Status"
                />
              </b-form-group>
            </div>
          </div>

          <div class="section-form">
            <h5>Contact</h5>

            <div class="grid-12">
              <b-form-group :class="{'error-input' : $v.data_employee.email.$error}">
                <label> Email </label>
                <j-input
                  v-model="$v.data_employee.email.$model"
                  :disabled="true"
                  placeholder="Email"
                  type="text"
                />
              </b-form-group>
              <b-form-group :class="{'error-input' : $v.data_employee.phone_number.$error}">
                <label> Phone Number* </label>
                <j-input
                  v-model="$v.data_employee.phone_number.$model"
                  :max-length="50"
                  placeholder="Phone Number"
                  type="number"
                />
              </b-form-group>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <b-button
              class="btn blue"
              style="border: 1px solid #4a90e2 !important;"
              @click="update"
            >
              Update
            </b-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal confirm email -->
    <b-modal
      id="pass-form"
      ref="modalEmail"
      class="pass-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <confirm-email
        @close-modal="hideConfirmPwd"
        @complete="showOtpModal" />
    </b-modal>

    <!-- Modal otp -->
    <b-modal
      id="pass-form"
      ref="modalOtp"
      class="pass-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <input-otp
        :otp-show="otp_show"
        :wait-time="data_otp? data_otp.expired_timestamp : 12909309"
        @close-modal="hideOtpModal"
        @complete="showChangePwd"/>
    </b-modal>

    <!-- Modal change password -->
    <b-modal
      id="pass-form"
      ref="modalPassword"
      class="pass-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <change-password
        :otp-show="otp_show"
        :email="data_employee.email"
        @close-modal="cancelChangePwd"
        @complete="cancelChangePwd"/>
    </b-modal>

    <!-- Modal preview photo -->
    <b-modal
      id="preview-photo"
      ref="previewPhoto"
      :hide-header="true"
      :hide-footer="true"
      class="preview-photo"
      centered
    >
      <img :src="sanitizeUrl(data_employee.photo) || require('@/assets/image/profile.png')">
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, max-len, no-unneeded-ternary */
import ClickOutside from 'vue-click-outside';
import axios from 'axios';
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions, mapMutations } from 'vuex';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';
import changePassword from '@/components/profile/change-password';
import confirmEmail from '@/components/profile/confirm-email';
import inputOtp from '@/components/profile/input-otp';
import jSkeletonEmployeeProfile from '@/views/profile/jSkeletonEmployeeProfile';

export default {
  directives: {
    ClickOutside,
  },
  components: {
    changePassword,
    confirmEmail,
    inputOtp,
    jSkeletonEmployeeProfile,
  },
  mixins: [
    jMixSanitizeUrl,
  ],
  validations: {
    data_employee: {
      id: {},
      // basic info
      email: {},
      password: {},
      first_name: { required },
      last_name: { required },
      // settings
      role: {},
      secretary_mode: {},
      secretary_mode_mapping: {},
      employee_id: {},
      // payment info
      bank_name: {},
      bank_account_number: {},
      bank_account_holder_name: {},
      bank_account_branch: {},
      // employment data
      join_date: {},
      employment_type: {},
      code: {},
      end_date: {},
      teams: {},
      employee_status: {},
      // account profile
      photo: {},
      date_of_birth: {},
      place_of_birth: {},
      phone_number: { required },
      country: {},
      gender: {},
      marital_status: {},
    },
    form_password: {
      old_password: { required },
      new_password: { required },
      confirm_password: { required },
    },
  },
  data() {
    return {
      isLoading: true,
      showAllOrganigram: false,
      data_employee: {
        id: 0,
        // basic info
        email: '',
        password: '',
        first_name: '',
        last_name: '',
        // settings
        role: [],
        secretary_mode: false,
        secretary_mode_mapping: [],
        employee_id: '',
        // payment info
        bank_name: null,
        bank_account_number: '',
        bank_account_holder_name: '',
        bank_account_branch: '',
        // employment data
        join_date: '',
        employment_type: null,
        code: '',
        end_date: '',
        teams: null,
        employee_status: null,
        // account profile
        photo: null,
        date_of_birth: '',
        place_of_birth: '',
        phone_number: '',
        country: null,
      },
      otp_show: false,
      data_positions: [],
      image_default: null,
      genderOptions: [
        { id: 'male', name: 'Male' },
        { id: 'female', name: 'Female' },
      ],
      maritalOptions: [
        { id: 'single', name: 'Single' },
        { id: 'married', name: 'Married' },
      ],
      token: (JSON.parse(localStorage.getItem('Token'))).value,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['list_bank', 'employee_detail', 'organigram_detail']),
    ...mapState('jStoreProfile', ['data_otp']),
    ...mapState('jStoreLogin', ['profile_data']),
    ...mapState('jStoreHome', ['banner_list']),

    api() {
      return this.$ls.get('Token', null);
    },
    url_upload() {
      return `${process.env.GATE_URL}/file`;
    },
    url_banner() {
      return this.banner_list.length > 0 ? this.banner_list[0].url_banner : '';
    },
    generateData() {
      const dataRoles = [];
      this.data_employee.role.forEach((val) => {
        dataRoles.push(val.id);
      });
      const dataSecMapp = [];
      this.data_employee.secretary_mode_mapping.forEach((val) => {
        dataSecMapp.push(val.id);
      });
      const genData = {
        id: this.profile_data.id,
        first_name: this.data_employee.first_name,
        last_name: this.data_employee.last_name,
        date_of_birth: this.data_employee.date_of_birth,
        place_of_birth: this.data_employee.place_of_birth,
        photo_url: this.data_employee.photo,
        gender: this.data_employee.gender,
        marital_status: this.data_employee.marital_status,
        phone_number: this.data_employee.phone_number,
      };
      return genData;
    },
    fullName() {
      return `${this.data_employee.first_name} ${this.data_employee.last_name}`;
    },
  },
  watch: {
    employee_detail(newVal) {
      const dataBank = [];
      if (newVal.company && newVal.company.bank_account_name) {
        const listBank = this.list_bank.filter(fildat => fildat.name === newVal.company.bank_account_name);
        if (listBank.length > 0) {
          dataBank.push(listBank[0]);
        }
      }

      const employeeForm = {
        id: newVal.id || 0,
        email: newVal.email,
        password: '',
        first_name: newVal.first_name,
        last_name: newVal.last_name,
        join_date: newVal.company.join_date,
        employment_type: newVal.company.contract_type ? { id: newVal.company.contract_type } : null,
        code: newVal.company.employee_code,
        end_date: newVal.company.resign_date,
        teams: newVal.company.group_id !== 0 ? { id: newVal.company.group_id } : null,
        teams_list: newVal.company.group_id !== 0 ? [{ id: newVal.company.group_id, title: newVal.company.group_name, name: newVal.company.group_name, label: newVal.company.group_name }] : [],
        employee_status: { id: newVal.company.employee_status },
        role: newVal.company && newVal.company.rules ? newVal.company.rules.map(val => ({ id: val })) : [],
        secretary_mode: newVal.secretary_mode_list_team.length > 0 ? true : false,
        secretary_mode_mapping: newVal.secretary_mode_list_team ? newVal.secretary_mode_list_team.map(val => ({ id: val })) : [],
        bank_name: dataBank.length > 0 ? dataBank[0] : null,
        bank_account_number: newVal.company.bank_account_number,
        bank_account_holder_name: newVal.company.bank_account_owner,
        bank_account_branch: newVal.company.bank_account_branch,
        employee_id: newVal.company.employee_id,
        date_of_birth: newVal.date_of_birth,
        place_of_birth: newVal.place_of_birth,
        phone_number: newVal.phone_number,
        photo: newVal.photo_url,
        gender: newVal.gender !== '' ? newVal.gender : null,
        marital_status: newVal.marital_status !== '' ? newVal.marital_status : null,
        country: newVal.country_id ? { id: newVal.country_id } : null,
      };
      this.data_employee = employeeForm;
      this.image_default = newVal.photo_url;

      setTimeout(() => {
        this.isLoading = false;
      }, 150);
    },

    organigram_detail(newVal) {
      this.data_positions = [];
      newVal.forEach((val) => {
        this.data_positions.push({
          id: val.organigram.id,
          position_name: val.organigram.name,
          position_code: val.organigram.code,
          description: val.organigram.description,
          divisions: val.organigram.divisions,
          fulldata: val,
        });
      });
    },

    // eslint-disable-next-line
    'data_employee.email': function(val) {
      const data = val.replace(/\s/g, '');
      this.data_employee.email = data;
    },
  },
  created() {
    this.detailEmployeeR4();
  },
  mounted() {
    const action = this.$route.query.action;
    if (action && action === 'change-password') {
      this.showConfirmPwd();
    }
  },
  methods: {
    ...mapMutations('jStoreLogin', ['setProfile']),
    ...mapActions('jStoreEmployee', ['updateProfile', 'detailEmployeeR4']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'hideLoading', 'showLoading']),

    handleFileUpload(event) {
      const file = event.target.files;
      const isAcceptedType = ['image/jpeg', 'image/png'].includes(file[0].type);
      const fileSize = Math.round(file[0].size / 1024 / 1024);

      if (!isAcceptedType) {
        this.toggleProblem('Please choose a wanted file!');
      }

      if (fileSize > 5) {
        this.toggleProblem('Please upload file with maximum size 5MB!');
      }

      if (isAcceptedType && fileSize <= 5) {
        this.uploadFile(file, null, null);
      }
    },

    async uploadFile(file, name, content) {
      this.showLoading();
      let imageData;
      let fileName;

      if (file) {
        const imagebase = await this.getBase64(file[0]).then(
          data => data,
        );
        const commaPosition = imagebase.lastIndexOf(',') + 1;
        imageData = imagebase.substring(commaPosition);
        fileName = file[0].name;
      }

      const sendData = {
        filename: name || fileName,
        content: content || imageData,
      };

      axios.post(this.url_upload, sendData, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.token,
        },
      }).then((res) => {
        let profileData = null;
        const data = res.data.data;
        const imageUrl = data.url;

        this.data_employee.photo = imageUrl;
        profileData = JSON.parse(JSON.stringify(this.profile_data));
        profileData.photo_url = imageUrl;
        this.setProfile(profileData);
        this.hideLoading();

        setTimeout(() => {
          this.update();
        }, 300);
      }).catch((error) => {
        this.hideLoading();
        this.error_message = error.response.data.message;
        this.toggleProblem(this.error_message);
      });
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },

    update() {
      this.$v.data_employee.$touch();
      if (!this.$v.data_employee.$error) {
        this.updateProfile(this.generateData);
      }
    },

    cancelChangePwd() {
      this.$refs.modalPassword.hide();
    },

    showConfirmPwd() {
      this.$refs.modalEmail.show();
    },

    hideConfirmPwd() {
      this.$refs.modalEmail.hide();
    },

    showOtpModal() {
      this.$refs.modalOtp.show();
      this.hideConfirmPwd();
      this.otp_show = true;
    },

    hideOtpModal() {
      this.$refs.modalOtp.hide();
      this.otp_show = false;
    },

    showChangePwd() {
      this.$refs.modalPassword.show();
      this.hideOtpModal();
    },

    showPreviewPhoto() {
      if (this.data_employee.photo) this.$refs.previewPhoto.show();
    },

    handleShowAllOrganigram() {
      if (this.data_positions.length > 1) this.showAllOrganigram = true;
    },

    handleHideAllOrganigram() {
      if (this.showAllOrganigram) this.showAllOrganigram = false;
    },
  },
};
</script>
