<template>
  <div class="log-activity">
    <div class="log-activity__sidebar">
      <div class="log-activity__menu">
        <div
          :class="{'log-activity__menu__item--active': activeMenu === 'login'}"
          class="log-activity__menu__item"
        >
          <img src="@/assets/icon/login-menu.svg">
          Login
        </div>
        <!-- <div class="log-activity__menu__item">
          <img src="@/assets/icon/profile-menu.svg">
          Profile Update
        </div> -->
      </div>
    </div>

    <j-login-activity v-if="activeMenu === 'login'"/>
  </div>
</template>

<script>
import jLoginActivity from '@/views/profile/jLoginActivity';

export default {
  components: {
    jLoginActivity,
  },

  data() {
    return {
      activeMenu: 'login',
    };
  },

  methods: {
    changeMenu(menu) {
      this.activeMenu = menu;
    },
  },
};
</script>
