<template>
  <div>
    <div class="log-activity__content">
      <h2>Login Activity</h2>

      <j-skeleton-session v-if="isLoading"/>

      <template v-if="!isLoading && session_history && session_history.length > 0">
        <div
          v-for="item in session_history"
          :key="item.id"
          class="log-activity__card"
        >
          <div class="log-activity__card__icon">
            <img
              v-if="item.device_type !== 'web' && item.device_type !== 'mobile'"
              src="@/assets/icon/unknown-device.svg"
            >
            <img
              v-else-if="item.device_type ==='web'"
              src="@/assets/icon/laptop.svg"
            >
            <img
              v-else-if="item.device_type ==='mobile'"
              src="@/assets/icon/mobile.svg"
            >
          </div>

          <div class="log-activity__card__info">
            <h4
              v-if="item.registered_device || item.operating_system"
              class="log-activity__card__title">
              {{ item.registered_device || '-' }} ({{ item.operating_system || '-' }})
            </h4>
            <h4
              v-else
              class="log-activity__card__title">
              Unknown Device
            </h4>
            <div class="log-activity__card__subtitle">
              {{ item.login_time ?
              $moment(new Date(item.login_time)).format('DD MMMM YYYY HH:mm:ss') : '-' }}
            </div>
            <div
              v-if="item.status === 1"
              class="log-activity__card__button"
              @click="handleLogoutSession(item.id)"
            >
              Logout
            </div>
          </div>
          <div
            v-if="item.status === 1"
            class="log-activity__card__status log-activity__card__status--green"
          >
            <div class="circle"/>
            <span>Active</span>
          </div>
          <div
            v-else-if="item.status === 4"
            class="log-activity__card__status log-activity__card__status--gray"
          >
            <div class="circle"/>
            <span>Inactive</span>
          </div>
        </div>

        <div class="log-activity__pagination">
          <div
            :class="{'disabled': currentPage === 1}"
            class="log-activity__pagination__prev"
            @click="handlePrevPage"
          >
            <i class="fa fa-chevron-left"/>
          </div>
          <div
            :class="{'disabled': isDisabledNextPage }"
            class="log-activity__pagination__next"
            @click="handleNextPage"
          >
            <i class="fa fa-chevron-right"/>
          </div>
        </div>
      </template>
    </div>

    <!-- Modal OTP -->
    <b-modal
      v-if="isShowOtp"
      id="pass-form"
      ref="modalOtp"
      class="pass-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <session-otp
        :otp-show="isShowOtp"
        :wait-time="data_otp_session? data_otp_session.expired_millisecond : 12909309"
        @close-modal="hideOtpModal"
        @complete="handleForceLogout"
      />
    </b-modal>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import sessionOtp from '@/views/profile/sessionOtp';
import jSkeletonSession from '@/views/profile/jSkeletonSession';

export default {
  components: {
    sessionOtp,
    jSkeletonSession,
  },

  data() {
    return {
      isLoading: false,
      isShowOtp: false,
      isDisabledNextPage: false,
      selectedSessionId: null,
      currentPage: 1,
    };
  },

  computed: {
    ...mapState('jStoreSession', ['session_history', 'data_otp_session']),
  },

  watch: {
    session_history(val) {
      this.isLoading = false;

      if (val && val.length < 10) {
        this.isDisabledNextPage = true;
      } else {
        this.isDisabledNextPage = false;
      }
    },
  },

  created() {
    this.getSessionData();
  },

  methods: {
    ...mapActions('jStoreSession', ['getAllSessionHistory', 'requestSessionDestroyOtp', 'forceLogoutSession']),
    ...mapActions('jStoreNotificationScrenn', ['toggleProblem']),

    openOtpModal() {
      this.isShowOtp = true;
      setTimeout(() => this.$refs.modalOtp.show(), 200);
    },

    hideOtpModal() {
      this.$refs.modalOtp.hide();
      setTimeout(() => { this.isShowOtp = false; }, 200);
    },

    getSessionData() {
      this.isLoading = true;
      const params = {
        page: this.currentPage,
        limit: 10,
      };
      this.getAllSessionHistory(params);
    },

    async handleLogoutSession(sessionId) {
      if (sessionId) {
        this.selectedSessionId = sessionId;
        const res = await this.requestSessionDestroyOtp();
        if (res) this.openOtpModal();
      } else {
        this.toggleProblem('Selected session doesn\'t have session id');
      }
    },

    async handleForceLogout(otp) {
      if (this.data_otp_session && otp && this.selectedSessionId) {
        const req = {
          session_id: this.selectedSessionId,
          otp,
          otp_token: this.data_otp_session.otp_token,
        };

        const res = await this.forceLogoutSession(req);
        if (!res.error) this.hideOtpModal();
        this.getSessionData();
      }
    },

    handlePrevPage() {
      if (this.currentPage !== 1) {
        this.currentPage = this.currentPage - 1;
        this.getSessionData();
      }
    },

    handleNextPage() {
      if (this.session_history && this.session_history.length === 10 && !this.isDisabledNextPage) {
        this.currentPage = this.currentPage + 1;
        this.getSessionData();
      }
    },
  },
};
</script>
