<!-- eslint-disable max-len -->
<template>
  <div class="notification-page">
    <div
      v-for="(item, index) in listNotification"
      :key="index"
      class="notification-page__list-item"
      @click="readNotification(item)"
    >
      <div class="notification-page__item-img">
        <img
          :src="require(`@/assets/icon/notification-navbar/envelope-${item.is_read ? 'gray' : 'blue'}.svg`)"
          alt="profile-pic-small"
        >
      </div>
      <div class="notification-page__item-msg">
        <div class="notification-page__msg-headings">{{ item.headings }}</div>
        <div class="notification-page__msg-message">{{ item.message }}</div>
      </div>
      <div class="notification-page__item-act">
        <i
          class="fa fa-trash fa-lg pull-right m__t--3 cursor-pointer"
          @click="deleteNotification(item, index)"/>
      </div>
    </div>

    <!-- Modal Notification -->
    <div
      v-click-outside="hideModalNotif"
      v-if="showModalNotif"
      class="notification-screen info-screen"
      @click="showModalNotif = false">
      <div class="notification-screen-box">
        <div class="floating-container">
          <img
            :src="require('@/assets/icon/notification-navbar/envelope-img.svg')"
            alt="profile-pic-small"
          >
          <h1 class="title">
            {{ dataMessage.headings }}
          </h1>
          <div
            id="info-screen-message"
            class="message"
            v-html="dataMessage.message"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      showModalNotif: false,
      listNotification: [],
      unreadMessages: 0,
      dataMessage: null,
      isOpenEditModal: true,
    };
  },

  created() {
    this.getNotif();
  },

  methods: {
    ...mapActions('jStoreHome', ['actionGetListNotification', 'actionReadNotification', 'actionDeleteNotification']),

    getNotif() {
      this.actionGetListNotification().then((res) => {
        this.listNotification = res.notifications;
        this.unreadMessages = res.notifications.filter(f => !f.is_read);
      });
    },

    readNotification(item) {
      setTimeout(() => {
        if (this.isOpenEditModal) {
          if (!item.is_read) {
            const body = { notifications: [item] };
            this.actionReadNotification(body).then(() => {
              this.getNotif();
            });
          }
          if (item.action) {
            if (item.action.url) {
              window.open(item.action.url, '_blank');
            } else if (item.action.application_id && item.action.pages_id) {
              const applicationId = item.action.application_id || '';
              const applicationName = item.action.application_name ? item.action.application_name.replace(/\s/g, '-') : '';
              const pageName = item.action.pages_name ? item.action.pages_name.replace(/\s/g, '-') : '';
              const pageId = item.action.pages_id || '';
              const formUiId = item.action.form_ui_id || '';
              const recordId = item.action.record_id || '';
              const tabName = item.action.tab_name ? item.action.tab_name.replace(/\s/g, '-') : '';
              if (tabName) {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${formUiId}/${recordId}/${tabName}`);
              } else if (formUiId) {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${formUiId}/${recordId}`);
              } else {
                this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}`);
              }
            }
          } else {
            this.dataMessage = item;
            this.showModalNotif = true;
          }
        } else {
          setTimeout(() => { this.isOpenEditModal = true; }, 50);
        }
      }, 50);
    },

    readAllNotification() {
      const body = { notifications: this.listNotification.filter(f => !f.is_read) };
      this.actionReadNotification(body).then(() => {
        this.getNotif();
      });
    },

    deleteNotification(item, index) {
      this.isOpenEditModal = false;
      this.$swal({
        title: 'Delete',
        text: 'Are you sure to delete message ?',
        type: 'question',
        showCancelButton: true,
        confirmButtonText: 'Delete',
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#606060',
        titleColor: '#676767',
      }).then(async (result) => {
        if (result.value) {
          this.listNotification.splice(index, 1);
          const body = { notifications: [item] };
          this.actionDeleteNotification(body).then(() => {
            this.getNotif();
          });
        }
      });
    },

    hideModalNotif() {
      this.showModalNotif = false;
    },
  },
};
</script>
