<template>
  <div>
    <div class="profile-wrapper">
      <div class="profile-detail-box">
        <!-- Header -->
        <div class="profile-header">
          <div class="back-to-home">
            <i
              class="fa fa-arrow-left"
              @click="$router.replace('/home')"
            />
            <p>Personal Settings</p>
          </div>

          <!-- Tabs -->
          <div class="tabs">
            <div
              :class="{'tabs__item--active': activeTab === 'profile'}"
              class="tabs__item"
              @click="changeTab('profile')"
            >
              PROFILE
            </div>
            <!-- <div
              :class="{'tabs__item--active': activeTab === 'log_activity'}"
              class="tabs__item"
              @click="changeTab('log_activity')"
            >
              LOG ACTIVITY
            </div> -->
            <div
              :class="{'tabs__item--active': activeTab === 'notification'}"
              class="tabs__item"
              @click="changeTab('notification')"
            >
              ALL NOTIFICATION
            </div>
          </div>
        </div>

        <j-employee-profile v-if="activeTab === 'profile'" />
        <j-log-activity v-else-if="activeTab === 'log_activity'" />
        <j-notification-page v-else-if="activeTab === 'notification'" />
      </div>
    </div>

    <div class="copyright-section">
      <p>Version 2.64.3</p>
      <p v-if="show_powered_by">Powered by
        <b-link
          href="https://officeless.studio/"
          target="_blank">
          <strong>Jojonomic</strong>
        </b-link>
      </p>
    </div>
  </div>
</template>

<script>
import jEmployeeProfile from '@/views/profile/jEmployeeProfile';
import jLogActivity from '@/views/profile/jLogActivity';
import jNotificationPage from '@/views/profile/jNotificationPage';
import jMixWindowTab from '@/mixins/jMixWindowTab';

import { mapState, mapMutations } from 'vuex';

export default {
  components: {
    jEmployeeProfile,
    jLogActivity,
    jNotificationPage,
  },
  mixins: [jMixWindowTab],

  data() {
    return {
      activeTab: 'profile',
    };
  },

  computed: {
    ...mapState('jStoreHome', ['tab_profile']),

    show_powered_by() {
      return process.env.SHOW_POWERED_BY === 'true';
    },
  },

  watch: {
    tab_profile(val) {
      if (val) this.activeTab = val;
    },
  },

  created() {
    // Set Favicon
    const favicon = document.getElementById('favicon');
    if (favicon) {
      // eslint-disable-next-line global-require
      favicon.href = this.logo_tab;
    }

    this.activeTab = this.$route.query.tab || 'profile';
  },

  methods: {
    ...mapMutations('jStoreHome', ['setTabProfile']),

    changeTab(tab) {
      this.activeTab = tab;
      this.setTabProfile('');
      if (this.$route.query && this.$route.query.tab) {
        this.$router.replace('/profile');
      }
    },
  },
};
</script>
