<template>
  <div>
    <div
      v-for="index in 3"
      :key="index"
      class="log-activity__card skeleton-session"
    />
  </div>
</template>

<style lang="scss" scoped>
.skeleton-session {
  height: 77px;
  background-color: #F4F4F4;
  border-radius: 6px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
}
</style>
