<template>
  <div>
    <div
      class="skeleton"
      style="width: 100%; height: 194px; border-radius: 0px; margin-bottom: 0px;"
    />

    <div class="wrap-profile-information">
      <div class="grid-left">
        <div
          class="skeleton skeleton-circle"
          style="width: 172px; height: 172px; background-color: #e7e7e7;"
        />
        <div
          class="skeleton"
          style="width: 100%; height: 40px; margin-top: 35px;"
        />
      </div>

      <div class="grid-right">
        <div
          class="skeleton"
          style="width: 250px; height: 30px; margin-bottom: 9px; background-color: #e7e7e7;"
        />
        <div
          class="skeleton"
          style="width: 150px; height: 20px; background-color: #e7e7e7;"
        />

        <div class="wrap-profile-form">
          <div class="section-form">
            <h5>Basic Info</h5>

            <div class="grid-6">
              <div
                v-for="i in 6"
                :key="`basic-info-${i}`"
                class="skeleton"
                style="width: 100%; height: 40px; margin-bottom: 24px;"
              />
            </div>
          </div>

          <div class="section-form">
            <h5>Contact</h5>

            <div class="grid-12">
              <div
                v-for="i in 2"
                :key="`contact-${i}`"
                class="skeleton"
                style="width: 100%; height: 40px; margin-bottom: 24px;"
              />
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <div
              class="skeleton"
              style="width: 120px; height: 40px;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .skeleton {
    border-radius: 6px;
    margin-bottom: 24px;
    background-color: #F4F4F4;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  .skeleton-circle {
    border-radius: 9999px;
  }

  @keyframes pulse {
    50% {
      opacity: .9;
    }
  }
</style>
