<template>
  <div>
    <div class="text-center">
      <h3 class="mt-2">OTP VERIFICATION</h3>
      <b-img
        :src="img_change_password"
        width="200" />
    </div>
    <div class="text-justify mt-4">
      <p>{{ description }}</p>
    </div>
    <b-form-group
      id="otp-code">
      <input
        v-model="otp.a"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(1)">
      <input
        v-model="otp.b"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(2)">
      <input
        v-model="otp.c"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(3)">
      <input
        v-model="otp.d"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(4)">
      <input
        v-model="otp.e"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(5)">
      <input
        v-model="otp.f"
        class="otp"
        maxlength="1"
        type="text"
        @keyup="changeTab(6)">
    </b-form-group>
    <div class="command-box text-center">
      <p
        v-if="!expired"
        class="mt-4 mb-4">
        Code is valid for {{ timerExpiredOtp }} minutes.
      </p>
      <p
        v-else
        class="mt-4 mb-1">
        <span class="red">The code you received has expired,</span>
        please enter a new code.
      </p>
    </div>
    <div class="pull-right text-right mb-2">
      <b-button
        class="btn gray m__t--15"
        @click="closeModal">
        Close
      </b-button>
      <!--  -->
      <b-button
        :disabled="enable_verify > 4 && !expired? false:true"
        class="btn blue m__t--15"
        @click="verifyNow">
        Verify
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  props: {
    otpShow: {
      type: Boolean,
      default: false,
    },
    waitTime: {
      type: Number,
      default: 1000000,
    },
  },
  data() {
    return {
      description: 'For enhanced security, you are required to enter a one-time password (OTP) to process your approval. An message with the OTP has been sent to your phone number.',
      expired: false,
      enable_verify: 0,
      countdown: '',
      otp: {
        a: '',
        b: '',
        c: '',
        d: '',
        e: '',
      },
      form_data: {
        session_id: null,
        otp: '',
        otp_token: '',
      },
      timerExpiredOtp: '',
      durationExpired: 0,
      timerExpFunction: null,
    };
  },
  computed: {
    ...mapState('jStoreSession', ['data_otp_session']),

    img_change_password() {
      // eslint-disable-next-line
      return require('@/assets/img/otp-email.png');
    },
  },
  watch: {
    // eslint-disable-next-line
    'otp.a': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.b': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.c': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.d': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.e': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.f': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.form_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    otpShow(val) {
      if (val) {
        const ele = document.querySelectorAll('.otp');
        ele[0].focus();
      } else {
        this.otp = {
          a: '',
          b: '',
          c: '',
          d: '',
          e: '',
          f: '',
        };
        clearInterval(this.countdown);
      }
    },
  },

  mounted() {
    if (this.data_otp_session) {
      this.form_data.otp_token = this.data_otp_session.otp_token;
      this.handleTimer();
    }
  },


  methods: {
    closeModal() {
      this.$emit('close-modal');
    },
    verifyNow() {
      this.$emit('complete', this.form_data.otp);
    },
    changeTab(val) {
      const ele = document.querySelectorAll('.otp');
      if (val < 7) {
        if (ele[val - 1].value !== '') {
          ele[val - 0].focus();
        } else if (ele[val - 1].value === '') {
          ele[val - 2].focus();
        }
      }
    },

    handleTimer() {
      const now = new Date().getTime();
      const distance = new Date(this.waitTime).getTime() - now;
      const duration = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

      clearInterval(this.timerExpFunction);
      // timer otp expired
      this.timerExpFunction = null;
      this.durationExpired = 60 * (duration + 1);
      this.timerExpiredOtp = this.$moment(this.durationExpired * 1000).format('mm:ss');

      this.timerExpFunction = setInterval(() => {
        this.durationExpired -= 1;
        this.timerExpiredOtp = this.$moment(this.durationExpired * 1000).format('mm:ss');

        if (this.durationExpired === 0) {
          clearInterval(this.timerExpFunction);
          this.expired = true;
          this.$emit('close-modal');
        }
      }, 1000);
    },
  },
};
</script>

<style scoped>
#otp-code {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:disabled{
  background: #c9c9c9;
}

#otp-code label {
    color: #888888;
    font-weight: bold;
}

.box-gray{
    padding: 6px 14px 2px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    margin-top: 20px;
}

input.otp{
  display:inline-block;
  width:50px;
  height:50px;
  border: 1px solid #d4d4d4;
  text-align:center;
  border-radius: 8px;
}

.text-shadow{
  color: #cacaca;
}

.command-box{
  font-weight: bold;
}

.resend:hover{
  cursor: pointer;
}
</style>
