<template>
  <div class="scroll-wrapper ">
    <div class="scroll-wrapper scroll-content">
      <div class="box-content-container">
        <div class="timeline node-activity">
          <div class="node-container">
            <div
              v-for="i in data"
              :key="i.id"
              :class="`col-xs-12 node child`">
              <b-row>
                <b-col
                  cols="2"
                  class="round-line-container">
                  <div class="round-node"/>
                  <div class="ver-line"/>
                </b-col>
                <b-col
                  cols="10"
                  class="p__b--10 message-container"
                  style="margin-top: -5px">
                  <div
                    v-if="i.type !== 3"
                    class="message">
                    <span>{{ `${i.message} from ` }}</span>
                    <span class="message-bold">{{ `${i.from} ` }}</span>
                    <span>to </span>
                    <span class="message-bold">{{ `${i.to} ` }}</span>
                  </div>
                  <div
                    v-else
                    class="message">
                    <span>{{ i.message }}</span> <span class="message-bold">{{ i.name }}</span>
                  </div>
                  <div class="date">
                    Updated on {{ i.updated_at | moment("DD/MM/YYYY HH:MM") }}
                  </div>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JActivityTimeLine',
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  created() {
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding: 0 5px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

// .ellipsis {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: 250px;
    max-width: none !important;
    overflow: scroll !important;
    overflow-x: hidden;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.timeline .node-container .child .round-line-container{
  margin-left: -15px;
}
.timeline .node-container .child .message-container{
  padding-left: 0px;
}

.timeline .node-container .child .round-node{
  float: left;
  width: 20px;
  height: 20px;
  background-size: 20px;
  border: 2px solid;
  padding: 2px;
  border-radius: 100%;
  object-fit : cover;
  border-color: #808285;
  background-color: #ffffff;
}

.timeline .node-container .child .ver-line{
  float: left;
  position: relative;
  height: 100%;
  background-size: 20px;
  border-left: 2px dashed #808285;
  -o-object-fit: cover;
  object-fit: cover;
  left: -11px;
  top: 20px;
}

.timeline .node-container .child .message span {
  font-size: 14px;
  line-height: initial;
  font-weight: 400;
  color: #8a8a8a;
  padding-left: 0;
}

.timeline .node-container .child .message span.message-bold {
  color: #606060;
  font-weight: 600;
}

.timeline .node-container .child .date {
  font-size: 12px;
  font-weight: 400;
}

.node-container {
    padding: 0 20px 20px 20px;
}

.timeline.node-activity .node {
    margin-bottom: 15px;
    padding-left: 0px;
}

.timeline .node {
    margin-bottom: 10px;
    padding-left: 16px;
}

.timeline .node-container .child:last-child  .ver-line {
    border: none;
}
</style>
