<template>
  <div>
    <div
      v-if="!isCanDraw"
      class="position-relative d-inline-block">
      <!-- <div class="position-absolute signature-action">
        <button
          class="btn-icon"
          @click="changeSignature">
          <i class="fa fa-pencil text-secondary"/>
        </button>
      </div> -->
      <img
        ref="signatureImage"
        :src="signatureImage"
        :width="width"
        :height="height"
        class="signature-border"
        @click="drawSignature"
      >
    </div>
    <div
      v-if="isCanDraw"
      class="position-relative d-inline-block">
      <!-- <div class="position-absolute signature-action">
        <button
          class="btn-icon"
          @click="undoSignature">
          <i class="fa fa-undo text-secondary"/>
        </button>
        <button
          class="btn-icon"
          @click="clearSignature">
          <i class="fa fa-times text-danger"/>
        </button>
        <button
          class="btn-icon"
          @click="saveSignature">
          <i class="fa fa-check text-success"/>
        </button>
      </div> -->
      <VueSignaturePad
        id="signature"
        ref="signaturePad"
        :options="{ onBegin }"
        :width="width"
        :height="height"
        class="signature-border"
      />
      <div class="signature-action">
        <b-button
          class="btn blue outline float-right"
          style="padding: 2px 4px !important"
          @click="saveSignature">
          Confirm
        </b-button>
        <button
          class="btn-icon float-right"
          @click="clearSignature">
          <i class="fa fa-undo text-secondary"/>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'JSignature',
  props: {
    image: {
      type: String,
      default: () => '',
    },
    height: {
      type: String,
      default: () => '500px',
    },
    width: {
      type: String,
      default: () => '500px',
    },
    readOnly: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    isCanDraw: false,
    signatureImage: null,
  }),
  mounted() {
    if (this.image) {
      this.isCanDraw = false;
      this.signatureImage = this.image;
    } else {
      this.isCanDraw = !this.readOnly;
    }
  },
  methods: {
    onBegin() {
      this.$refs.signaturePad.resizeCanvas();
      if (!this.isCanDraw) {
        this.clearSignature();
        this.isCanDraw = true;
      }
    },
    drawSignature() {
      this.isCanDraw = !this.readOnly;
    },
    clearSignature() {
      this.$refs.signaturePad.clearSignature();
    },
    undoSignature() {
      this.$refs.signaturePad.undoSignature();
    },
    changeSignature() {
      this.isCanDraw = true;
    },
    saveSignature() {
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      if (!isEmpty) {
        const base64 = data.split('base64,')[1];
        const reqData = {
          filename: 'signature.png',
          content: base64,
        };
        const token = (JSON.parse(localStorage.getItem('Token'))).value;
        const url = `${process.env.GATE_URL}file`;
        axios.post(url, reqData, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          const imageUrl = res.data.data.url;
          this.isCanDraw = false;
          this.signatureImage = imageUrl;
          this.$emit('getData', imageUrl);
        }).catch((error) => {
          this.error_message = error.response.data.message;
        });
      } else {
        this.$emit('getData', null);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.signature-action {
  right: 0;
  padding: 5px;
  .btn-icon {
      background-color: transparent;
      border: none;
  }
}
.signature-border {
  border: dashed 2px #ced4da;
  border-radius: 0.5rem;
}
</style>
