<template>
  <div class="jTimeLine-oos">
    <div
      v-for="(item, index) in datas"
      :class="[item.is_group ? 'bdc-' + validateStatus(item.status) : item.status,
               item.status == '' ? 'default' : '',
               index === 0 ? 'first' : '',
               index === (datas.length-1) ? 'last' : '',
               item.items ? 'hasSub' : 'noSub' ]"
      :key="index"
      class="node child table">

      <div
        :class="[ index === 0 ? 'first' : '',
                  index === (datas.length-1) ? 'last' : '',
                  item.is_group ? 'groupBox' : '',
                  item.items ? 'hasSub' : '' ]"
        class="item">

        <!-- is-Group -->
        <div
          v-if="item.group_data && !item.is_group_data_vertical"
          style="background-color: white;">
          <div
            :class="[item.status == '' ? 'default' : item.status,
                     index === 0 ? 'first' : '',
                     // eslint-disable-next-line
                     index === (datas.length-1) ? 'last' : (datas[index+1].status === 'closed' || datas[index+1].status === 'canceled' ? 'last' : '') ]"
            class="lineBottom groupBoxLineBottom"/>

          <div
            v-if="item.group_data"
            :class="[index === item.group_data.length - 1 ? 'last' : '']"
            class="groupData m-t-5">
            <div
              v-for="(i, index) in item.group_data"
              :class="[index === 0 ? 'first' : '',
                       index === item.group_data.length - 1 ? 'last' : '',
                       i.items ? 'hasSub' : 'noSub',
                       i.status]"
              :key="index"
              class="node child table">

              <div
                v-if="i.group_data"
                :class="[index === i.group_data.length - 1 ? 'last' : '', 'bdc-' + item.status]"
                class="item groupBox">
                <div style="background-color: white;">
                  <div class="groupData m-t-5">
                    <div
                      :class="[i.status==''?'default':i.status
                               ,index === 0? 'first':'',
                               index === i.group_data.length-1?'last':''
                      ]"
                      class=" lineBottom groupBoxLineBottom"/>

                    <div
                      v-for="(item,index) in i.group_data"
                      :class="[item.is_group?'bdc-'+item.status:item.status,
                               item.status == ''?'default':'',
                               index === 0? 'first':'',
                               index === (datas.length-1)?'last':'',
                               item.items?'hasSub':'noSub' ]"
                      :key="index"
                      class="node child m-b-20 table">
                      <div
                        :class="item.status"
                        class="item">
                        <div
                          :class="[i.status==''?'default':i.status
                                   ,index === 0? 'first':'',
                                   index === i.group_data.length-1? 'last':'' ]"
                          class="lineBottom groupBoxLineBottom"/>
                        <b-img
                          v-if="i.photo"
                          :src="i.photo"
                          rounded="circle"
                          alt="img"
                          class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                        <b-img
                          v-if="!i.photo"
                          :src="require('@/assets/logo/user1.png')"
                          rounded="circle"
                          alt="img"
                          class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                        <div class="td p-l-5 p-t-5">
                          <div style="display:grid">
                            <div class="no-margin c-grey ellipsis">{{ i.first_name }}
                              {{ i.last_name }}</div>
                            <div
                              v-if="i.html"
                              class="f-10"
                              v-html="i.html"/>
                            <div class="no-margin c-page-theme ellipsis">{{ i.message }}</div>
                            <div
                              v-if="i.note && i.status !== 'sent'"
                              class="no-margin bc-light-grey c-grey note"
                              v-html="i.note"/>
                            <i
                              v-if="i.date_time"
                              class="no-margin f-10 c-grey ellipisis">{{ i.date_time }}</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                v-if="!i.group_data"
                :class="[index === 0 ? 'first' : '']"
                class="item">
                <div
                  :class="[i.status==''?'default':i.status,
                           index === 0? 'first':'',
                           index === item.group_data.length-1?'last':'',
                           i.line==false?'none':'']"
                  class="lineBottom"
                />

                <div class="td">
                  <b-img
                    v-if="i.photo"
                    :src="i.photo"
                    rounded="circle"
                    alt="img"
                    class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                  <b-img
                    v-if="!i.photo"
                    :src="require('@/assets/logo/user1.png')"
                    rounded="circle"
                    alt="img"
                    class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                </div>
                <div
                  class="td p-l-5 p-t-5"
                  style="width: 87%;">
                  <div style="display:grid">
                    <div class="no-margin c-grey ellipsis">{{ i.first_name }}
                      {{ i.last_name }}</div>
                    <div
                      v-if="i.html"
                      class="f-10"
                      v-html="i.html"/>
                    <div class="no-margin c-page-theme ellipsis">{{ i.message }}</div>
                    <div
                      v-if="i.note && i.status !== 'sent'"
                      class="no-margin bc-light-grey c-grey note"
                      v-html="i.note"/>
                    <i
                      v-if="i.date_time"
                      class="no-margin f-10 c-grey ellipisis">{{ i.date_time }}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end is_group -->

        <div
          v-if="item.group_data && item.is_group_data_vertical"
          style="background-color: white;">
          <div
            :class="[item.status==''?'default':item.status,
                     index === 0? 'first':'',
                     // eslint-disable-next-line
                     index === (datas.length-1) ? 'last' : (datas[index+1].status === 'closed' || datas[index+1].status === 'canceled' ? 'last' : '') ]"
            class=" lineBottom groupBoxLineBottom"/>
          <div class="groupData m-t-5 ">
            <div class="inline-style">
              <div
                v-for="(i,index) in item.group_data"
                :key="index">
                <div>
                  <div class="timelineTooltip">
                    <b-img
                      v-if="i.photo"
                      :src="
                      i.photo"
                      rounded="circle"
                      alt="img"
                      class="m-1 round-bordered-img img-circle staff-img
                image-popup-link b-page-theme td"/>
                    <b-img
                      v-if="!i.photo"
                      :src="require('@/assets/logo/user1.png')"
                      rounded="circle"
                      alt="img"
                      class="m-1 round-bordered-img img-circle
                staff-img image-popup-link b-page-theme td"/>
                    <div class="timelineTooltiptext">
                      {{ i.first_name }} {{ i.last_name }} <br>
                      <div class="no-margin c-page-theme ellipsis">{{ i.message }}</div> <br>
                      <div
                        v-if="i.html"
                        class="f-10"
                        v-html="i.html"/> <br>
                      <i class="no-margin c-grey ellipsis f-10">{{ i.date_time }}</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ########## !is_group ########## -->
        <div
          v-if="!item.is_group"
          :class="[ item.status == '' ? 'default' : item.status,
                    index === 0 ? 'first' : '',
                    // eslint-disable-next-line
                    index === (datas.length-1) ? 'last' : (datas[index+1].status === 'closed' || datas[index+1].status === 'canceled' ? 'last' : '') ]"
          class="lineBottom"
        />
        <!-- linebottom -->
        <div
          v-if="!item.group_data"
          class="td" >
          <b-img
            v-if="item.photo"
            :src="item.photo"
            rounded="circle"
            alt="img"
            class="m-1 round-bordered-img img-circle staff-img image-popup-link b-page-theme td"/>
          <b-img
            v-if="!item.photo"
            :src="require('@/assets/logo/user1.png')"
            rounded="circle"
            alt="img"
            class="m-1 round-bordered-img img-circle staff-img image-popup-link b-page-theme td"/>
        </div>
        <div
          class="p-l-5 p-t-5 td"
          style="width:100%">
          <div
            style="display:grid">
            <div class="no-margin c-grey ellipsis">{{ item.first_name }} {{ item.last_name }}</div>
            <div
              v-if="item.html"
              class="f-10"
              v-html="item.html"/>
            <div class="no-margin c-page-theme ellipsis">{{ item.message }}</div>
            <div
              v-if="item.note"
              class="no-margin bc-light-grey c-grey note">{{ item.note }}</div>
            <i class="no-margin c-grey ellipsis f-10">{{ item.date_time }}</i>
          </div>
        </div>
        <!-- end !is_group -->
      </div>

      <div
        v-for="(i,index) in item.items"
        :class="[item.status, index === 0 ? 'first':'', index === (item.items.length-1) ? 'last':'',
        ]"
        :key="i.id"
        class="allSub"
      >
        <div
          :class="item.status"
          class="lineTop"/>
        <div
          :class="i.status"
          class="line"/>
        <div
          :class="['bdc-'+i.status, 'lc-'+i.status ]"
          class="subItem">
          <b-row>
            <b-col
              :cols="i.onclick ? '10' : '12'"
              :class="i.onclick ? 'p__r--1' : ''">
              <p class="no-margin">{{ i.message }}</p>
              <div
                :class="'bc-'+i.status"
                class="capitalize status">{{ i.status.toUpperCase() }}</div>
              <i class=" no-margin f-10 c-grey">{{ i.date_time }}</i>
              <p
                v-if="i.note"
                class="m__b--5 bc-light-grey c-grey note"
                v-html="i.note"/>
              <div
                v-if="i.html"
                v-html="i.html"/>
            </b-col>
          </b-row>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing, vue/html-closing */
export default {
  name: 'jTimeLine',
  components: {
  },
  props: {
    convert: {
      type: Boolean,
      default: false,
    },
    data: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  computed: {
    datas() {
      if (this.convert) {
        return this.convertTimeline(this.data);
      }
      return this.data;
    },
  },
  methods: {
    validateStatus(val) {
      return val === '' ? 'default' : val;
    },

    convertTimeline(logs) {
      const datas = [];
      const dataClosed = [];

      if (logs.length > 0) {
        logs.forEach((log) => {
          if (log.flow_name === '') {
            if (log.log_member.length > 0) {
              log.log_member.forEach((member) => {
                const temp = {
                  status: member.status,
                  photo: member.photo_url,
                  first_name: member.first_name,
                  last_name: member.last_name,
                  message: member.message,
                  note: this.formatNote(member.note) || '-',
                  date_time: member.date_time,
                  duration: member.duration,
                  items: member.items,
                };
                if (member.team !== '') {
                  temp.html = `<i class="m-0 c-grey">${member.team}</i>`;
                }
                datas.push(temp);
              });
            }
          } else {
            const approver = [];
            if (log.log_member.length > 0) {
              log.log_member.forEach((member) => {
                if (member.status !== 'closed' && member.status !== 'canceled') {
                  let temp;
                  let htmlAmount = '';
                  if (typeof member.amount !== 'undefined') {
                    if (member.amount !== 0) {
                      htmlAmount = `<b style='border-radius:3px;' class='no-margin  c-${member.status} '>${member.amount}</b>`;
                    }
                    temp = {
                      status: member.status,
                      photo: member.photo_url,
                      first_name: member.first_name,
                      last_name: member.last_name,
                      message: member.message,
                      note: this.formatNote(member.note) || '-',
                      date_time: member.date_time,
                      duration: member.duration,
                      items: member.items,
                      html: htmlAmount,
                    };

                    if (member.team !== '') {
                      temp.html = `<i class="m-0 c-grey">${member.team}</i>`;
                    }
                  } else {
                    temp = {
                      status: member.status,
                      photo: member.photo_url,
                      first_name: member.first_name,
                      last_name: member.last_name,
                      message: member.message,
                      note: this.formatNote(member.note) || '-',
                      date_time: member.date_time,
                      duration: member.duration,
                      items: member.items,
                    };

                    if (member.team !== '') {
                      temp.html = `<i class="m-0 c-grey">${member.team}</i>`;
                    }
                  }
                  approver.push(temp);
                } else {
                  const temp = {
                    status: member.status,
                    photo: member.photo_url,
                    first_name: member.first_name,
                    last_name: member.last_name,
                    message: member.message,
                    note: this.formatNote(member.note) || '-',
                    date_time: member.date_time,
                    duration: member.duration,
                    items: member.items,
                  };

                  if (member.team !== '') {
                    temp.html = `<i class="m-0 c-grey">${member.team}</i>`;
                  }

                  dataClosed.push(temp);
                }
              });
            }

            // Set Timeline Border Color According to Status
            const isWaiting = log.log_member.map(el => el.is_waiting).every(item => item === true);
            let status;

            if (approver.find(item => item.status === 'rejected')) {
              status = 'rejected';
            } else if (log.flow_name === 'Target Work Flow With Organigram' && !isWaiting && approver[approver.length - 1].status === 'approved') {
              status = 'approved'; // Status Approved - Workflow by Organigram
            } else if (log.flow_name === 'Target Work Flow With Organigram' && !isWaiting && approver[approver.length - 1].status === 'need_revision') {
              status = ''; // Status Need Revision - Workflow by Organigram
            } else if (approver.every(el => el.status === 'approved')) {
              status = 'approved';
            } else {
              status = 'sent';
            }

            const data = {
              status,
              first_name: log.flow_name,
              last_name: '',
              message: log.message,
              is_group: true,
              group_data: approver,
              duration: log.duration,
              minimum_action: log.minimum_action,
              is_group_data_vertical: false,
            };

            if (typeof log.flow_type !== 'undefined') {
              if (log.flow_type === 2) {
                // FLOW NO ORDER
                if (data.group_data.length > 0) {
                  data.group_data.forEach((member, index) => {
                    data.group_data[index].line = false;
                  });
                }
              } else if (log.flow_type === 3) {
                // FLOW MINIMUM
                let totalApproved = 0;
                if (data.group_data.length > 0) {
                  data.group_data.forEach((member, index) => {
                    if (member.status === 'approved' || member.status === 'verified' || member.status === 'rejected' || member.status === 'need_revision') {
                      // eslint-disable-next-line no-plusplus
                      totalApproved++;
                    }
                    data.group_data[index].line = false;
                  });
                  if (totalApproved > 0) {
                    data.is_group_data_vertical = false;
                  } else {
                    data.is_group_data_vertical = true;
                  }
                }
              }
            }
            datas.push(data);
          }
        });
        datas.push(...dataClosed);
      }
      return datas;
    },

    formatNote(note) {
      return note.replace(/\\n/g, '<br>').replace(/(^"|"$)/g, '');
    },
  },
};
</script>
