<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Tax Location</h3>
      <div
        v-if="mode === 'edit'"
        class="row"
      >
        <b-form-group
          class="col-6">
          <label for="companyId"> ID </label>
          <j-input
            id="companyId"
            :disabled="true"
            v-model="$v.dataForm.company_id.$model"
            type="number"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.dataForm.code.$error}"
          class="col-6">
          <label for="code"> Tax Location Code <span class="red"> * </span> </label>
          <j-input
            id="code"
            v-model="$v.dataForm.code.$model"
            placeholder="Enter code here"/>
        </b-form-group>
      </div>
      <div
        v-else
        class="row">
        <b-form-group
          :class="{'error-input' : $v.dataForm.code.$error}"
          class="col-12">
          <label for="code"> Tax Location Code <span class="red"> * </span> </label>
          <j-input
            id="code"
            v-model="$v.dataForm.code.$model"
            placeholder="Enter code here"/>
        </b-form-group>
      </div>
      <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
        <label for="name"> Tax Location Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataForm.name.$model"
          placeholder="Enter name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.npwp.$error}">
        <label for="npwp"> NPWP <span class="red"> * </span> </label>
        <j-input
          id="npwp"
          v-model="$v.dataForm.npwp.$model"
          type="number"
          placeholder="Enter npwp here"/>
      </b-form-group>


      <div class="text-right">
        <b-button
          v-if="mode === 'edit'"
          :disabled="true"
          class="btn red"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          v-if="mode === 'create'"
          class="btn blue"
          @click="submitRecord">
          Add
        </b-button>
        <b-button
          v-else
          class="btn blue"
          @click="updateRecord">
          Update
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailData: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataForm: {
        name: { required },
        code: { required },
        npwp: { required },
        company_id: {},
      },
    };
  },
  data() {
    return {
      dataForm: {
        name: null,
        code: null,
        npwp: null,
        company_id: null,
      },
    };
  },
  created() {
    if (this.mode === 'edit') {
      this.dataForm = {
        name: this.detailData.name,
        code: this.detailData.code,
        npwp: this.detailData.npwp,
        company_id: this.detailData.company_id,
      };
    }
  },
  methods: {
    ...mapActions('jStoreTaxLocation', ['actionCreateTaxLocation', 'actionUpdateTaxLocation', 'actionDeleteTaxLocation']),

    closeModalForm() {
      this.dataForm = {
        name: null,
        code: null,
        npwp: null,
        company_id: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionCreateTaxLocation(this.dataForm);

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    async updateRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionUpdateTaxLocation({
          params: this.dataForm,
          taxLocationId: this.detailData.id,
        });

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            await this.actionDeleteTaxLocation(this.detailData.id);
            this.closeModalForm();
          }
        }
      });
    },
  },
};
</script>

