<template>
  <div>
    <j-medical-information/>
    <j-title-header :options="MedicalRecordOption"/>
    <b-row>
      <b-col
        cols="12">
        <j-medical-record-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @medicalRecord="getMedicalRecord"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-medical-record-form
          :mode="mode"
          :detail="medical_record"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import JMedicalRecordForm from './jMedicalRecordForm';
import JMedicalRecordTable from './jMedicalRecordTable';
import JMedicalInformation from './medical-information/jMedicalInformation';

export default {
  name: 'JMedicalRecord',
  components: {
    JMedicalInformation,
    JMedicalRecordForm,
    JMedicalRecordTable,
  },
  data() {
    return {
      mode: '',
      medical_record: null,
      title: {
        main_title: 'MEDICAL RECORD',
      },
      MedicalRecordOption: {
        icon: 'fa-user',
        main_title: 'Medical Record',
        opt_title: '',
      },
    };
  },
  methods: {
    getMedicalRecord(data) {
      this.medical_record = data;
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.medical_record = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style scoped>

</style>
