<template>
  <div class="form-container--normal">
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.medical_record.record.$error}">
          <label class="form__label">Medical Record</label>
          <j-input
            v-model="$v.medical_record.record.$model"
            placeholder="Medical Record"
          />
        </b-form-group>
        <b-form-group :class="{'error-input': $v.medical_record.period.$error}">
          <label class="form__label">Medical Period</label>
          <j-datepicker
            v-model="$v.medical_record.period.$model"
            :disabled-dates="disabledMedicalPeriodDates()"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.medical_record.description.$error}">
          <label class="form__label">Description</label>
          <j-textarea
            v-model="$v.medical_record.description.$model"
            :disabled="false"
            placeholder="Description"/>
        </b-form-group>
        <b-form-group>
          <label class="form__label">Attachment</label>
          <div
            v-for="(item, index) in medical_record.medical_record_attachments"
            v-show="!item.is_delete"
            :key="index"
            class="container-attachment">
            <j-upload-file
              ref="jUploadFile"
              :accepted-file-type="acceptedFileType"
              :img-default="mode === 'edit' ? item.url : null"
              :api-token="api"
              :url-upload="url_upload"
              :max-file-size="5000"
              :more-data="true"
              @url="getDocs(index, 'url', $event)"
              @deleteFile="getDocs(index, 'is_delete', null)"
            />
          </div>
          <span class="info-attachment">
            document format: {{ acceptedFileType.join(', ') }}
          </span>
          <div
            class="d-flex cursor-pointer label-add-attachment"
            @click="addAttachment">
            <i class="fa fa-plus"/>
            <div class="attachment-add-more-data">Add Attachment</div>
          </div>
        </b-form-group>
      </b-col>
    </b-row>
    <br>
    <div class="d-flex justify-content-between w-100">
      <b-button
        class="btn blue p-5-p-15"
        @click="submit()">
        {{ submit_text }}
      </b-button>

      <div class="d-flex">
        <b-button
          :hidden="is_submit_mode"
          class="btn p-5-p-15 mr-2"
          @click="revert()"
        >
          Revert
        </b-button>

        <b-button
          :hidden="is_submit_mode"
          class="btn red btn-remove-form__organization float-right p-5-p-15"
          @click="removeForm()">Delete
        </b-button>
      </div>
    </div>

    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import jUploadFile from '@/components/upload-file/jUploadFile';

export default {
  name: 'JMedicalRecordForm',
  components: {
    Spinner,
    jUploadFile,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      medical_record: {
        id: 0,
        record: null,
        period: '',
        description: null,
        medical_record_attachments: [{ url: null, is_delete: false }],
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        record: null,
        period: '',
        description: null,
        medical_record_attachments: [{ url: null, is_delete: false }],
      },
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
    };
  },
  computed: {
    url_upload() {
      return `${localStorage.getItem('gateUrl')}/file`;
    },
    api() {
      return this.$ls.get('Token', null);
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        this.medical_record.id = data.id;
        this.medical_record.record = data.name;
        this.medical_record.period = data.event_occur;
        this.medical_record.description = data.description;
        this.medical_record.medical_record_attachments = data.medical_record_attachments;
        this.is_submit_mode = false;
        this.submit_text = 'Update';
        this.previous_data = Object.assign({}, this.medical_record);
      } else {
        this.medical_record = {
          id: 0,
          record: null,
          period: '',
          description: null,
          medical_record_attachments: [{ url: null, is_delete: false }],
        };
        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.medical_record.$reset();
      }
    },
    is_submit_mode(val) {
      if (val) {
        this.$refs.jUploadFile[0].thumbnail = '';
      }
    },
  },
  created() {
    this.$root.$on('currentObjectMedicalRecord', (currentObject) => {
      this.currentObject = currentObject;
    });
    this.$root.$on('cancelFormMedicalRecord', () => {
      this.cancelForm();
    });
  },
  methods: {
    submit() {
      this.$v.medical_record.$touch();
      if (!this.$v.medical_record.$error) {
        if (this.is_submit_mode) {
          const newMedicalRecordObject = {
            ...this.medical_record,
            name: this.medical_record.record,
            event_occur: this.medical_record.period,
            // eslint-disable-next-line max-len
            medical_record_attachments: this.medical_record.medical_record_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.postMedicalRecord(employeeId, newMedicalRecordObject).then((res) => {
            this.cancelForm();
            this.$root.$emit('refreshTableMedicalRecord', true);
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Submit';
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          const updatedMedicalRecordObject = {
            ...this.medical_record,
            name: this.medical_record.record,
            event_occur: this.medical_record.period,
            // eslint-disable-next-line max-len
            medical_record_attachments: this.medical_record.medical_record_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateMedicalRecord(employeeId, this.medical_record.id,
            updatedMedicalRecordObject).then((res) => {
            this.$root.$emit('refreshTableMedicalRecord', true);
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
          });
          this.$emit('close-modal', true);
        }
      }
    },
    revert() {
      this.medical_record = Object.assign({}, this.previous_data);
      this.$emit('close-modal', true);
    },
    removeForm() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id: medicalRecordId } = this.medical_record;
          const { id: employeeId } = this.$route.params;
          jApiEmployee.deleteMedicalRecord(employeeId, medicalRecordId).then(() => {
            this.$root.$emit('refreshTableMedicalRecord', true);
            this.cancelForm();
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
          });
        }
        this.$emit('close-modal', true);
      });
    },
    cancelForm() {
      this.medical_record = {
        id: 0,
        record: null,
        period: '',
        description: null,
        medical_record_attachments: [{ url: null, is_delete: false }],
      };
      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      this.$v.medical_record.$reset();

      this.$root.$emit('currentRowMedicalRecord', 0);
    },
    disabledMedicalPeriodDates() {
      const yesterday = new Date();
      yesterday.setDate(new Date().getDate() - 1);

      return {
        color: 'light-grey',
        ranges: [{
          from: yesterday,
          to: new Date(200000, 1, 1),
        }],
      };
    },
    getDocs(index, action, data) {
      const dataAction = action === 'is_delete' ? true : data;
      this.medical_record.medical_record_attachments[index][action] = dataAction;
    },
    addAttachment() {
      this.medical_record.medical_record_attachments.push({ url: '', is_delete: false });
    },
  },
  validations() {
    return {
      medical_record: {
        record: {
          required,
        },
        period: {
          required,
        },
        description: {
        },
      },
    };
  },
};
</script>

<style lang="scss">

</style>
