<!-- eslint-disable max-len -->
<template>
  <div
    :class="{ 'table-full-screen' : is_full_screen_comp }">
    <!-- Search options list -->
    <div class="wrap-search-options">
      <j-form-base
        v-if="hasSearchOptions && showSearchOptions"
        ref="jFormSearch"
        :data-fields="dataFieldsSearch"
        :is-search="true"
        :is-detail="false"
      />

      <div class="wrap-button-export">
        <div class="d-flex align-items-center">
          <b-button
            v-if="hasSearchOptions && showSearchOptions"
            class="btn-search mr-2"
            @click="cekIsUseFilterFunction('search')"
          >
            Search
          </b-button>

          <b-button
            v-if="hasSearchOptions && showSearchOptions"
            :disabled="!showTableDataField"
            class="btn-export mr-2"
            @click="cekIsUseFilterFunction('export')"
          >
            Export Data
          </b-button>

          <b-button
            v-if="!hasSearchOptions && !showSearchOptions"
            class="btn-export mr-2"
            @click="cekIsUseFilterFunction('export')"
          >
            Export Data
          </b-button>

          <div
            v-if="hasSearchOptions && showSearchOptions"
            class="btn-clear"
            @click="clearSearchOptions"
          >
            Clear Filter
          </div>
        </div>
        <b-button
          v-if="useAdvanceReport"
          class="btn-activity"
          @click="isShowActivity = true"

        >
          <img
            src="@/assets/icon/activity.svg"
            width="13"
            height="13"
            class="mr-1"
          >
          See Activity
        </b-button>

        <!-- Popup Activity -->
        <transition
          name="pop"
          appear
        >
          <div
            v-if="isShowActivity"
            :class="{'popup-activity-default': isDefaultView}"
            class="popup-activity"
          >
            <div class="popup-header">
              <p class="popup-title">Export Activity</p>
              <div class="popup-icon">
                <img
                  src="@/assets/icon/refresh.svg"
                  alt="refresh-icon"
                  @click="refreshActivityList"
                >
                <i
                  class="fa fa-close"
                  @click="isShowActivity = false"
                />
              </div>
            </div>

            <j-export-activity
              ref="exportActivity"
              :is-multiple="isMultiple"
              :detail-form-ui="detailFormUi"
            />
          </div>
        </transition>
      </div>
    </div>

    <!-- Loading table -->
    <j-loading-table v-if="showLoadingTable"/>

    <!-- Table With Data -->
    <div v-if="showTableData && !showLoadingTable">
      <!-- Server table -->
      <v-server-table
        v-if="(mode === 'form' || mode === 'dataset') && showTableData"
        v-show="showTableDataField"
        ref="tableExport"
        :columns="columns"
        :options="table_options"
        :class="{ 'server-table-dataset' : mode === 'dataset' }"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <div
          v-for="(i, index) in tableData"
          slot-scope="props"
          :key="`${i.key}-${index}`"
          :slot="i.key"
          :style="`text-align: ${i.content_alignment || 'left'}`">
          <div
            v-if="cekTypeData(i.key) === 'text' || cekTypeData(i.key) === 'varchar'"
          >
            {{ props.row[i.key] }}
          </div>
          <div
            v-if="cekTypeData(i.key) === 'number' ||
              cekTypeData(i.key) === 'integer' ||
              cekTypeData(i.key) === 'small_integer' ||
              cekTypeData(i.key) === 'big_integer' ||
              cekTypeData(i.key) === 'float' ||
            cekTypeData(i.key) === 'decimal'">
            <j-currency
              v-if="i.type === 'currency' && (props.row[i.key] || props.row[i.key] === 0)"
              :value="props.row[i.key]"
              :options="setCurrencyOptions(i)"/>
            <j-progress-bar
              v-else-if="i.type === 'progress_bar'"
              :data="props.row[i.key]"
              :config="i.config"
              :on-table="true"
            />
            <span v-else>{{ props.row[i.key] }}</span>
          </div>
          <div v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
          <div v-if="cekTypeData(i.key) === 'boolean'">{{ props.row[i.key] ? 'TRUE' : 'FALSE' }}</div>
          <div v-if="cekTypeData(i.key) === 'timestamp'">
            <span v-if="props.row[i.key]">
              <span v-if="i.type === 'time'">
                {{ convertTime(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'datetime'">
                {{ convertDateTime(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'dd-mmm-yyyy'">
                {{ convertDateFormat(
                  props.row[i.key],
                  'dd-mmm-yyyy',
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'mmmm dd, yyyy'">
                {{ convertDateFormat(
                  props.row[i.key],
                  'mmmm dd, yyyy',
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else>
                {{ convertTimestamp(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
            </span>
          </div>
          <div
            v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]">{{ props.row[i.key].address }}</div>
          <div
            v-if="cekTypeData(i.key) === 'object' && props.row[i.key]">{{ props.row[i.key].name }}</div>
          <div
            v-if="cekTypeData(i.key) === '[]object'">
            <span
              v-for="item in props.row[i.key]"
              :key="item.id">{{ item.name }}, </span>
          </div>
          <div
            v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
            :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
            class="label-tags">{{ props.row[i.key].name }}</div>
          <div v-if="cekTypeData(i.key) === '[]tags'">
            <div
              v-for="item in props.row[i.key]"
              :key="item.id"
              :style="{ backgroundColor: item.background, color: item.font_color }"
              class="label-tags">{{ item.name }}</div>
          </div>
          <div v-if="cekTypeData(i.key) === 'person' && props.row[i.key]">
            <div>
              <div class="td">
                <b-img
                  v-if="props.row[i.key].photo"
                  :src="props.row[i.key].photo"
                  rounded="circle"
                  alt="img"
                  class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                <b-img
                  v-else
                  :src="require('../../../../../../assets/logo/user1.png')"
                  rounded="circle"
                  alt="img"
                  class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
              </div>
              <div class="td p__t--7">
                <div>{{ props.row[i.key].email }}</div>
                <div>{{ props.row[i.key].name }}</div>
              </div>
            </div>
          </div>
        </div>
      </v-server-table>

      <!-- Dataset Pagination -->
      <div
        v-if="mode === 'dataset' && showTableData && showTableDataField && (dataRecord && dataRecord.length > 0)"
        class="wrap-custom-pagination mb-3"
      >
        <div
          v-if="loadingCountDataset"
          class="skeleton-count-dataset"
        />
        <p
          v-else
          class="total-count"
        >
          {{ labelCountDataset }}
        </p>
        <div class="custom-pagination">
          <div
            :style="[customPage === 1 ? {'opacity': '0.5', 'cursor': 'not-allowed'} : '']"
            class="btn-previous"
            @click="previousPage"><i class="fa fa-chevron-left"/></div>
          <div
            :style="[isDisableForwardPage ? {'opacity': '0.5', 'cursor': 'not-allowed'} : '']"
            class="btn-forward"
            @click="forwardPage"><i class="fa fa-chevron-right"/></div>
        </div>
      </div>

      <!-- Client table -->
      <v-client-table
        v-if="mode === 'external_url' && showTableData"
        v-show="showTableDataField"
        ref="tableExport"
        :data="dataRecord"
        :columns="columns"
        :options="table_options_client"
        class="jTable">

        <div
          v-for="(i, index) in tableData"
          slot-scope="props"
          :key="index"
          :slot="i.key"
          :style="`text-align: ${i.content_alignment || 'left'}`">
          <div v-if="cekTypeData(i.key) === 'text'">{{ props.row[i.key] }}</div>
          <div v-if="cekTypeData(i.key) === 'number'">
            <j-currency
              v-if="i.type === 'currency' && (props.row[i.key] || props.row[i.key] === 0)"
              :value="props.row[i.key]"
              :options="setCurrencyOptions(i)"/>
            <j-progress-bar
              v-else-if="i.type === 'progress_bar'"
              :data="props.row[i.key]"
              :config="i.config"
              :on-table="true"
            />
            <span v-else>{{ props.row[i.key] }}</span>
          </div>
          <div v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
          <div v-if="cekTypeData(i.key) === 'boolean'">{{ props.row[i.key] ? 'TRUE' : 'FALSE' }}</div>
          <div v-if="cekTypeData(i.key) === 'timestamp'">
            <span v-if="props.row[i.key]">
              <span v-if="i.type === 'time'">
                {{ convertTime(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'datetime'">
                {{ convertDateTime(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'dd-mmm-yyyy'">
                {{ convertDateFormat(
                  props.row[i.key],
                  'dd-mmm-yyyy',
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else-if="i.type === 'mmmm dd, yyyy'">
                {{ convertDateFormat(
                  props.row[i.key],
                  'mmmm dd, yyyy',
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
              <span v-else>
                {{ convertTimestamp(
                  props.row[i.key],
                  i.config && i.config.timezone ? i.config.timezone.offset : (offset_env ? offset_env.offset : null)
                )
                }}
              </span>
            </span>
          </div>
          <div
            v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]">{{ props.row[i.key].address }}</div>
          <div
            v-if="cekTypeData(i.key) === 'object' && props.row[i.key]">{{ props.row[i.key].name }}</div>
          <div
            v-if="cekTypeData(i.key) === '[]object'">
            <span
              v-for="item in props.row[i.key]"
              :key="item.id">{{ item.name }}, </span>
          </div>
          <div
            v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
            :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
            class="label-tags">{{ props.row[i.key].name }}</div>
          <div v-if="cekTypeData(i.key) === '[]tags'">
            <div
              v-for="item in props.row[i.key]"
              :key="item.id"
              :style="{ backgroundColor: item.background, color: item.font_color }"
              class="label-tags">{{ item.name }}</div>
          </div>
          <div v-if="cekTypeData(i.key) === 'person' && props.row[i.key]">
            <div>
              <div class="td">
                <b-img
                  v-if="props.row[i.key].photo"
                  :src="props.row[i.key].photo"
                  rounded="circle"
                  alt="img"
                  class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
                <b-img
                  v-else
                  :src="require('../../../../../../assets/logo/user1.png')"
                  rounded="circle"
                  alt="img"
                  class="m-1 round-bordered-img
                  img-circle staff-img image-popup-link b-page-theme td"/>
              </div>
              <div class="td p__t--7">
                <div>{{ props.row[i.key].email }}</div>
                <div>{{ props.row[i.key].name }}</div>
              </div>
            </div>
          </div>
        </div>
      </v-client-table>
    </div>

    <!-- Table only header -->
    <v-client-table
      v-if="showTable && !showLoadingTable"
      :data="[]"
      :columns="columns"
      :options="table_options_client"
      class="jTable"
    />
  </div>
</template>


<script>
/* eslint-disable no-console, no-unused-vars, no-plusplus, max-len, no-eval, no-underscore-dangle, no-param-reassign, no-nested-ternary, quote-props, no-lonely-if, no-else-return */
import { mapState, mapActions } from 'vuex';
import jApi from '@/services/jApi';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';
// Mixins
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixTimestamp from '@/mixins/jMixTimestamp';
// Components
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jFormBase from '@/views/application/application-component/form-ui/form-base/jFormBase';
import jExportActivity from '@/views/application/application-component/form-ui/form-base/export-tabs/jExportActivity';
import jProgressBar from '@/components/progress-bar/jProgressBar';

export default {
  components: {
    jLoadingTable,
    jFormBase,
    jExportActivity,
    jProgressBar,
  },

  mixins: [jMixFilterV2, jMixTimestamp],

  props: {
    isDefaultView: {
      type: Boolean,
      default: false,
    },
    columns: {
      type: Array,
      default: () => [],
    },
    tableData: {
      type: Array,
      default: () => [],
    },
    dataExport: {
      type: Object,
      default: () => null,
    },
    tableHeading: {
      type: Object,
      default: () => null,
    },
    tableClientHeading: {
      type: Object,
      default: () => null,
    },
    detailFormUi: {
      type: Object,
      default: () => null,
    },
    detailFormData: {
      type: Object,
      default: () => null,
    },
    useAdvanceReport: {
      type: Boolean,
      default: false,
    },
    isMultiple: {
      type: Boolean,
      default: false,
    },
    mode: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      dataFilter: {},
      dataFieldsSearch: [],
      showSearchOptions: false,
      initialDataSearchOptions: null,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      filterFunction: {},
      filterIsActive: false,
      getDataFromFilter: false,
      labelCountDataset: '',
      countDataset: 0,
      totalPageDataset: 0,
      loadingCountDataset: false,

      // Table
      showTable: false,
      showTableData: false,
      showTableDataField: false,
      showLoadingTable: true,
      dataRecord: [],
      valueDataFilter: {},
      customPage: 1,
      table_options: {
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        debounce: 1000,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],

        requestAdapter(data) {
          return {
            pagination: {
              limit: Number(data.limit),
              page: Number(data.page),
              form_data_id: data.form_data_id,
              dataset_id: data.dataset_id,
              sort: data.sort,
              filter: data.filter,
              filter_operator: data.filter_operator,
              filter_app: data.filter_app,
              filter_setup: data.filter_setup,
              filter_setup_operator: data.filter_setup_operator,
            },
          };
        },
        requestFunction(data) {
          const api = jApi.generateApi();
          const req = {
            page: Number(data.pagination.page),
            limit: Number(data.pagination.limit),
            sort: data.pagination.sort,
            filter_operator: data.pagination.filter_operator,
          };
          if (data._this.mode === 'form') {
            req.form_data_id = data.pagination.form_data_id;
            req.filter = data.pagination.filter;
            req.filter_app = data.pagination.filter_app;
            req.filter_setup = data.pagination.filter_setup;
            req.filter_setup_operator = data.pagination.filter_setup_operator;
          } else if (data._this.mode === 'dataset') {
            delete req.sort;
            req.dataset_id = data.pagination.dataset_id;
            req.filter = data._this.generateFilterDataset(data.pagination.filter);
          }
          if (data._this.useAdvanceReport) {
            if (data._this.$refs.tableExport) {
              req.page = data._this.mode === 'dataset' ? data._this.customPage : data._this.$refs.tableExport.page;
            }
            const url = data._this.mode === 'form' ? 'nocode/record/fetch-v2' : 'nocode/joana/dataset/record/fetch-public';
            const getList = api.post(url, req).then(res => ({
              data: res,
              _this: null,
            }));
            getList.then((res) => {
              const dataLength = res.data.data.data ? res.data.data.data.length : 0;
              if (data._this.mode === 'dataset' && data._this.filterIsActive && data._this.getDataFromFilter) {
                data._this.loadingCountDataset = true;
                data._this.countRecordDataset(req).then((resp) => {
                  if (!resp.error) {
                    const rowPage = this.rowPageDefault || 10;
                    data._this.countDataset = resp.count;
                    data._this.totalPageDataset = Math.ceil(resp.count / rowPage);
                    data._this.labelCountDataset = `Showing 1 to ${dataLength} of ${resp.count} records`;
                    data._this.getDataFromFilter = false;
                    data._this.loadingCountDataset = false;
                  }
                });
              }
              if (data._this.mode === 'dataset' && data._this.filterIsActive && !data._this.getDataFromFilter) {
                const countFrom = ((data._this.customPage - 1) * dataLength) + 1;
                const countTo = dataLength * data._this.customPage;
                data._this.labelCountDataset = `Showing ${countFrom} to ${countTo} of ${data._this.countDataset} records`;
              }
            });
            return getList.catch((e) => {
              this.$store.dispatch('jStoreNotificationScreen/getProblemMessage', e.response.message).bind(this);
            });
          } else {
            const getList = api.get('nocode/record/fetch', { params: req }).then(res => ({
              data: res,
              _this: null,
            }));
            return getList.catch((e) => {
              this.$store.dispatch('jStoreNotificationScreen/getProblemMessage', e.response.data.errors[0].message).bind(this);
            });
          }
        },
        responseAdapter({ data, _this }) {
          return {
            data: data.data.data ? data.data.data : [],
            count: data.data.count ? data.data.count : 0,
          };
        },
      },
      table_options_client: {
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        debounce: 1000,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
      },
      currencyOptions: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        currencySymbol: 'Rp',
        currencySymbolPlacement: 'p',
        roundingMethod: 'U',
        minimumValue: '-999999999999999.99',
        maximumValue: '999999999999999',
        negativePositiveSignPlacement: 'r',
        negativeBracketsTypeOnBlur: '(,)',
      },
      isShowActivity: false,
    };
  },

  computed: {
    ...mapState('jStoreFormUi', ['data_record', 'is_full_screen_comp']),

    hasSearchOptions() {
      return this.dataExport && this.dataExport.search_options_list ? this.dataExport.search_options_list.length > 0 : false;
    },

    rowPageDefault() {
      return this.detailFormUi && this.detailFormUi.export_view && this.detailFormUi.export_view.rows_page_default;
    },

    rowPageOption() {
      return this.detailFormUi && this.detailFormUi.export_view && this.detailFormUi.export_view.rows_page_option;
    },

    isDisableForwardPage() {
      const rowPage = this.rowPageDefault || 10;
      return (this.dataRecord && this.dataRecord.length < rowPage) || (this.customPage === this.totalPageDataset);
    },

    offset_env() {
      const offset = process.env.TIMEZONE_OFFSET_DEFAULT;
      if (offset && offset !== '@TIMEZONE_OFFSET_DEFAULT@') {
        return { offset: process.env.TIMEZONE_OFFSET_DEFAULT };
      }
      return null;
    },
  },

  watch: {
    dataExport(val) {
      if (val) this.setDataExport();
    },

    rowPageDefault(val) {
      if (val !== undefined || val !== null) {
        this.table_options.perPage = val;
        this.table_options_client.perPage = val;
      }
    },

    rowPageOption(val) {
      if (val !== undefined || (Array.isArray(val) && val.length > 0) || val !== null) {
        this.table_options.perPageValues = val;
        this.table_options_client.perPageValues = val;
      }
    },
  },

  mounted() {
    this.setDataExport();
  },

  methods: {
    ...mapActions('jStoreFormUi', ['actionGetFunctionData', 'actionGenerateStandardExport', 'actionGenerateAdvanceExport', 'countRecordDataset']),

    setDataExport() {
      this.columns = this.columns;
      this.table_options.headings = this.tableHeading;
      this.table_options_client.headings = this.tableClientHeading;

      if (this.hasSearchOptions) this.setFieldSeach();

      setTimeout(() => {
        this.showLoadingTable = false;
        this.showTable = true;
      }, 300);
    },

    async loading(val) {
      this.clearDataFilterV2();
      const a = val;
      a._this = this;
      if (this.mode === 'form') {
        a.pagination.form_data_id = this.detailFormData ? this.detailFormData.id : '';
      } else if (this.mode === 'dataset') {
        a.pagination.filter = this.dataFilter;
        a.pagination.dataset_id = this.detailFormData ? this.detailFormData.id : '';
      }
      a.pagination.sort = { created_at: -1 };
      if (this.useAdvanceReport) {
        Object.entries(this.dataFilter).forEach((data) => {
          this.combineFilterV2('App', data[0], data[1]);
        });
        a.pagination.page = 1;
        a.pagination.sort = this.mode === 'dataset' ? { _id: -1 } : { created_at: -1 };
        a.pagination.filter_app = this.setFilterAppV2(this.dataExport.filter_operator);
        a.pagination.filter_setup = this.setFilterSetupV2(this.dataExport.filter_operator);
        a.pagination.filter_setup_operator = this.dataExport.filter_operator || 'and';
      } else {
        a.pagination.filter = this.dataFilter;
        a.pagination.filter_operator = this.dataExport.filter_operator || 'and';
      }
    },

    loaded(data) {
      this.dataRecord = this.mode === 'dataset' ? data.data.data.data : data.data.data;
      this.showTableDataField = true;
    },

    cekIsUseFilterFunction(action) {
      this.dataFilter = {};
      this.filterIsActive = true;
      this.getDataFromFilter = true;
      this.customPage = 1;
      if (this.dataExport.filter_function) {
        const filterFunctionKeys = Object.keys(this.dataExport.filter_function);
        const filterFunctionValues = Object.values(this.dataExport.filter_function);
        const lengthFunction = filterFunctionValues.length;
        let lengthProgress = 0;
        if (lengthFunction > 0) {
          filterFunctionValues.forEach((e, index) => {
            this.actionGetFunctionData(e).then((res) => {
              this.filterFunction[filterFunctionKeys[index]] = res;
              lengthProgress++;
              if (lengthFunction === lengthProgress) {
                if (action === 'export') {
                  this.downloadData();
                } else {
                  this.searchData();
                }
              }
            });
          });
        } else {
          // eslint-disable-next-line
          if (action === 'export') {
            this.downloadData();
          } else {
            this.searchData();
          }
        }
      } else {
        // eslint-disable-next-line
        if (action === 'export') {
          this.downloadData();
        } else {
          this.searchData();
        }
      }
    },

    async searchData() {
      this.showTable = false;
      this.showTableData = false;
      this.showTableDataField = false;
      this.showLoadingTable = true;

      if (this.$parent.viewChanged && JSON.parse(this.$parent.element.info).filter_column) {
        let x;
        let keyFilter = '';
        const dataRecord = this.data_record;
        if (this.cekTypeData(JSON.parse(this.$parent.element.info).filter_column) === 'object') {
          keyFilter = `"${JSON.parse(this.$parent.element.info).filter_column}.id"`;
        } else {
          keyFilter = JSON.parse(this.$parent.element.info).filter_column;
        }
        this.dataFilter = eval(`x={ ${keyFilter}: dataRecord.${JSON.parse(this.$parent.element.info).filter_variable} }`);
      }

      // Set filter from search options list
      this.getFilterDataSearchOptions().then((res) => {
        if (res) {
          const filterFunctionKeys = Object.keys(this.filterFunction);
          const filterFunctionValues = Object.values(this.filterFunction);

          filterFunctionKeys.forEach((e, index) => {
            this.dataFilter[e] = filterFunctionValues[index];
          });

          if (this.dataExport.filter) {
            this.dataFilter = this.dynamicFilter(this.dataExport, this.dataFilter);
          }

          if (this.mode === 'form' || this.mode === 'dataset') {
            this.showLoadingTable = false;
            this.showTableData = true;
            this.showTableDataField = true;
            if (this.showTableDataField && this.$refs.tableExport) this.$refs.tableExport.getData();
          } else {
            let param = null;
            this.showLoadingTable = false;
            this.showTableData = true;

            if (this.useAdvanceReport) {
              // Create Filter App V2
              Object.entries(this.dataFilter).forEach((val) => {
                this.combineFilterV2('App', val[0], val[1]);
              });

              param = {
                page: Number(this.$refs.tableExport.page),
                limit: 10000,
                sort: { _id: -1 },
                filter_app: this.setFilterAppV2(this.dataExport.filter_operator),
                filter_setup: this.setFilterSetupV2(this.dataExport.filter_operator),
                filter_setup_operator: this.dataExport.filter_operator || 'and',
              };
            } else {
              param = {
                form_data_id: this.detailFormData ? this.detailFormData.id : '',
                page: 0,
                limit: 10000,
                sort: { created_at: -1 },
                filter: this.dataFilter,
                filter_operator: this.dataExport.filter_operator || 'and',
              };
              // if (this.sorting.key && this.sorting.order) {
              //   param.sort = { [this.sorting.key.id]: this.sorting.order.id === 'asc' ? 1 : -1 };
              // }
            }
            const token = Vue.ls.get('Token');
            const dataList = this.$parent.detailFormUi ?
              (this.$parent.detailFormUi.data_source ?
                (this.$parent.detailFormUi.data_source.external_url ? this.$parent.detailFormUi.data_source.external_url.export : null)
                : null)
              : null;

            const url = dataList.url_search;
            const method = dataList.method_search.toLowerCase();
            axios[method](url, param, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((response) => {
              this.dataRecord = response.data.data;
              this.showTableDataField = true;
            });
          }
        }
      });
    },

    async downloadData() {
      if (this.useAdvanceReport) this.clearDataFilterV2();
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const token = Vue.ls.get('Token');
      const gateUrl = localStorage.getItem('gateUrl');

      if (this.$parent.viewChanged && JSON.parse(this.$parent.element.info).filter_column) {
        let x;
        let keyFilter = '';
        const dataRecord = this.data_record;
        if (this.cekTypeData(JSON.parse(this.$parent.element.info).filter_column) === 'object') {
          keyFilter = `"${JSON.parse(this.$parent.element.info).filter_column}.id"`;
        } else {
          keyFilter = JSON.parse(this.$parent.element.info).filter_column;
        }
        this.dataFilter = eval(`x={ ${keyFilter}: dataRecord.${JSON.parse(this.$parent.element.info).filter_variable} }`);

        if (this.useAdvanceReport) {
          this.combineFilterV2('Setup', keyFilter, eval(`x=dataRecord.${JSON.parse(this.$parent.element.info).filter_variable}`));
        }
      }

      if (this.hasSearchOptions) this.getFilterDataSearchOptions();

      setTimeout(async () => {
        const filterFunctionKeys = Object.keys(this.filterFunction);
        const filterFunctionValues = Object.values(this.filterFunction);

        filterFunctionKeys.forEach((e, index) => {
          this.dataFilter[e] = filterFunctionValues[index];
        });

        if (this.dataExport.filter) {
          this.dataFilter = this.dynamicFilter(this.dataExport, this.dataFilter);
        }

        const dataColumn = [];
        const dataType = {};
        const firstSheetColumn = this.dataExport.sheet && this.dataExport.sheet.length > 0 ? this.dataExport.sheet[0].main_columns : this.dataExport.columns;
        const waitColumn = await firstSheetColumn.forEach((e) => {
          // if (e.is_filter) {
          dataColumn.push({ [e.key]: e.name });
          dataType[e.key] = e.type;
          // }
        });
        const sort = { 'created_at': -1 };
        // if (this.sorting.key && this.sorting.order) {
        //   sort = JSON.stringify({ [this.sorting.key.id]: this.sorting.order.id === 'asc' ? 1 : -1 });
        // }
        const dataColumnExport = { header: dataColumn, column_format: dataType };
        const otherSheetColumn = this.dataExport.sheet && this.dataExport.sheet.length > 1 ? this.dataExport.sheet : [];
        const dataOtherSheetExport = otherSheetColumn.map((e) => {
          // main_columns
          const dataColumnMainChild = [];
          const dataTypeMainChild = {};
          e.main_columns.forEach((m) => {
            dataColumnMainChild.push({ [m.key]: m.name });
            dataTypeMainChild[m.key] = m.type;
          });

          // custom_class_columns
          const dataColumnClassChild = [];
          const dataTypeClassChild = {};
          e.custom_class_columns.forEach((c) => {
            dataColumnClassChild.push({ [c.key]: c.name });
            dataTypeClassChild[c.key] = c.type;
          });

          const data = {
            type: 'child',
            column_source: e.column_source || '',
            sheet_name: e.sheet_name || '',
            main_columns: { header: dataColumnMainChild, column_format: dataTypeMainChild },
            custom_class_columns: { header: dataColumnClassChild, column_format: dataTypeClassChild },
          };
          return data;
        });
        if (dataOtherSheetExport.length > 1) { dataOtherSheetExport.splice(0, 1); }
        let url = '';
        if (this.mode === 'external_url') {
          url = `${this.$parent.detailFormUi.data_source.external_url.export.url}?page=1&limit=1000000&filter=${JSON.stringify(this.dataFilter)}`;

          // Pakai ini untuk download dengan nama file sesuai content-disposition header
          window.open(url, '_blank');
          this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');

          // Sementara dikomen dulu
          // axios.get(url, {
          //   headers: {
          //     'Content-Type': 'application/json',
          //     Authorization: `Bearer ${token}`,
          //   },
          //   responseType: 'blob',
          // }).then((res) => {
          //   this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
          //   const a = document.createElement('a');
          //   const urlBlob = window.URL.createObjectURL(res.data);
          //   const fileName = `${this.dataExport.title}.xlsx`;

          //   a.href = urlBlob;
          //   a.download = fileName;
          //   a.click();
          // });
        } else {
          if (this.useAdvanceReport) {
            // Create Filter App V2
            Object.entries(this.dataFilter).forEach((val) => {
              this.combineFilterV2('App', val[0], val[1]);
            });

            let data = null;
            if (this.mode === 'form') {
              data = {
                page: 1,
                limit: 1000000,
                sort: { _id: -1 },
                filter_app: this.setFilterAppV2(this.dataExport.filter_operator),
                filter_setup: this.setFilterSetupV2(this.dataExport.filter_operator),
                filter_setup_operator: this.dataExport.filter_operator || 'and',
                columns: dataColumnExport,
                other_sheet: dataOtherSheetExport,
              };
            } else {
              data = {
                dataset_id: this.detailFormData.id,
                limit: 1000000,
                page: 1,
                filter: this.generateFilterDataset(this.dataFilter),
                filter_operator: this.dataExport.filter_operator ? this.dataExport.filter_operator : 'and',
                columns: dataColumnExport,
                other_sheet: dataOtherSheetExport,
                sort: { _id: -1 },
              };
            }
            const params = {
              id: this.$parent.detailFormUi.id,
              isMultiple: this.isMultiple,
              payload: data,
            };
            this.actionGenerateAdvanceExport(params).then((res) => {
              if (!res.error) {
                setTimeout(() => {
                  this.isShowActivity = true;
                }, 500);
              }
            });
          } else {
            const sheetName = this.dataExport.sheet && this.dataExport.sheet.length > 0 ? this.dataExport.sheet[0].sheet_name : this.dataExport.sheet_name;
            const data = {
              form_data_id: this.detailFormData.id,
              page: 1,
              limit: 1000000,
              sort,
              file_name: this.dataExport.title,
              sheet_name: sheetName,
              filter: this.dataFilter,
              columns: dataColumnExport,
              other_sheet: dataOtherSheetExport,
            };
            if (this.isMultiple) data.multiple_form_ui_id = this.$parent.detailFormUi.id;
            else data.form_ui_id = this.$parent.detailFormUi.id;

            this.actionGenerateStandardExport(data).then((res) => {
              const a = document.createElement('a');
              const urlBlob = window.URL.createObjectURL(res);
              const fileName = `${this.dataExport.title}.xlsx`;

              a.href = urlBlob;
              a.download = fileName;
              a.click();
            });
          }
        }
      }, 400);
    },

    generateFilterDataset(filter) {
      const whereLikeAnd = {};
      const whereIsAnd = {};
      const whereBetweenAnd = {};
      const filterData = {};
      const filterDataMaster = Object.keys(filter);

      filterDataMaster.forEach((e) => {
        if (this.cekTypeData(e) === 'integer' ||
            this.cekTypeData(e) === 'small_integer' ||
            this.cekTypeData(e) === 'big_integer' ||
            this.cekTypeData(e) === 'float' ||
          this.cekTypeData(e) === 'decimal') {
          whereIsAnd[e] = Number(filter[e]);
        } else if (this.cekTypeData(e) === 'timestamp') {
          whereBetweenAnd[e] = filter[e];
        } else {
          whereLikeAnd[e] = filter[e];
        }
      });

      if (Object.keys(whereLikeAnd).length > 0) {
        filterData.where_like_and = whereLikeAnd;
      }
      if (Object.keys(whereIsAnd).length > 0) {
        filterData.where_is_and = whereIsAnd;
      }
      if (Object.keys(whereBetweenAnd).length > 0) {
        filterData.where_between_and = whereBetweenAnd;
      }

      return filterData;
    },

    dynamicFilter(master, filter) {
      let x;
      const _user = this.session.user;
      const filterKeys = Object.keys(master.filter);
      const filterValues = Object.values(master.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (typeof e === 'object' && e.length > 0) {
            const valueMulti = [];
            e.forEach((v) => {
              if (v.includes('_user') || v.includes('_recordParent')) {
                valueMulti.push(eval(`x=${v}`));
              } else if (filterKeys[index].includes('.company_user_id')) {
                valueMulti.push(Number(v));
              } else if (v.includes('.today')) {
                const date = new Date();
                const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00:000`)).getTime();
                const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59:999`)).getTime();
                // eslint-disable-next-line
                valueMulti.push([startOfDay, endOfDay]);
              } else {
                // eslint-disable-next-line
                if (this.cekTypeData(filterKeys[index]) === 'number') {
                  valueMulti.push(Number(v));
                } else {
                  valueMulti.push(v.slice(1, -1));
                }
              }
            });
            filter[filterKeys[index]] = valueMulti;
          } else {
            // eslint-disable-next-line
            if (e.includes('_user') || e.includes('_recordParent')) {
              filter[filterKeys[index]] = eval(`x=${e}`);
            } else if (filterKeys[index].includes('.company_user_id')) {
              filter[filterKeys[index]] = Number(e);
            } else if (e.includes('.today')) {
              const date = new Date();
              const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00:000`)).getTime();
              const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59:999`)).getTime();
              // eslint-disable-next-line
              filter[filterKeys[index]] = [startOfDay, endOfDay];
            } else {
              // eslint-disable-next-line
              if (this.cekTypeData(filterKeys[index]) === 'number') {
                filter[filterKeys[index]] = Number(e);
              } else {
                filter[filterKeys[index]] = e.slice(1, -1);
              }
            }
          }
        });
      }
      return filter;
    },

    setFieldSeach() {
      this.dataFieldsSearch = this.dataExport.search_options_list.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: '',
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: '6',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: false,
        is_hidden: false,
        is_mandatory: false,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: false,
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_data_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: [],
        master_groups: [],
        error_input: false,
        error_message: '',
      }));

      this.showSearchOptions = true;

      setTimeout(() => {
        this.initialDataSearchOptions = this._.cloneDeep(this.$refs.jFormSearch.formData);
      }, 500);
    },

    getFilterDataSearchOptions() {
      return new Promise((resolve) => {
        if (this.hasSearchOptions) {
          this.$refs.jFormSearch.getData().then((res) => {
            res.forEach((e, index) => {
              let valueFilterSearch = null;
              let selectType = e.field_data_key;
              if (this.cekTypeData(selectType) === 'timestamp' && e.value.start_date && e.value.end_date) {
                const startOfDay = e.value.start_date;
                const endOfDay = e.value.end_date;
                if (this.useAdvanceReport) {
                  valueFilterSearch = [startOfDay, endOfDay];
                } else {
                  // eslint-disable-next-line
                  valueFilterSearch = { '$between': [startOfDay, endOfDay] };
                }
              } else if (this.cekTypeData(selectType) === 'object' && e.value) {
                selectType = `${e.field_data_key}.id`;
                valueFilterSearch = e.value !== 0 ? e.value : '';
              } else if (this.cekTypeData(selectType) === '[]object' && e.value_form && e.value_form.length > 0) {
                selectType = `${e.field_data_key}.id`;
                valueFilterSearch = e.value_form.map(el => (el.id));
              } else if (this.cekTypeData(selectType) === 'tags' && e.value) {
                selectType = `${e.field_data_key}.name`;
                valueFilterSearch = e.value.name;
              } else if (this.cekTypeData(selectType) === '[]tags' && e.value.length > 0) {
                selectType = `${e.field_data_key}.name`;
                valueFilterSearch = e.value.map(el => (el.name));
              } else if (this.cekTypeData(selectType) === 'person' && e.value) {
                selectType = `${e.field_data_key}.company_user_id`;
                valueFilterSearch = e.person.company_user_id;
              } else if (
                (this.cekTypeData(selectType) === 'number' ||
                  this.cekTypeData(selectType) === 'integer' ||
                  this.cekTypeData(selectType) === 'small_integer' ||
                  this.cekTypeData(selectType) === 'big_integer' ||
                  this.cekTypeData(selectType) === 'float' ||
                  this.cekTypeData(selectType) === 'decimal'
                ) && e.value
              ) {
                if (e.type === 'user_single_selection') valueFilterSearch = e.person.company_user_id;
                else valueFilterSearch = Number(e.value);
              } else if ((this.cekTypeData(selectType) === 'text' || this.cekTypeData(selectType) === 'varchar') && e.value) {
                valueFilterSearch = e.value;
              } else if (this.cekTypeData(selectType) === 'text' && e.value_form) {
                valueFilterSearch = e.value_form.map(el => (el.id));
              } else if (this.cekTypeData(selectType) === '[]object' && e.value_form) {
                selectType = `${e.field_data_key}.id`;
                valueFilterSearch = e.value_form.map(el => (el.id));
              } else if (this.cekTypeData(selectType) === '[]text' && e.value_form) {
                valueFilterSearch = e.value_form.map(el => (el.id));
              } else if (this.mode === 'dataset' &&
                          e.value_form &&
                          e.value_form.length > 0 &&
                          (e.type === 'multiple_relation_record' ||
                          e.type === 'multiple_relation_record_external_api')) {
                valueFilterSearch = e.value_form.map(el => (el.id));
              }

              if ((this.cekTypeData(e.field_data_key) === 'timestamp' && e.value && e.value.start_date && e.value.end_date) ||
                  (this.cekTypeData(e.field_data_key) === '[]tags' && e.value && e.value.length > 0) ||
                  (this.cekTypeData(e.field_data_key) === '[]object' && e.value_form && e.value_form.length > 0) ||
                  (this.cekTypeData(e.field_data_key) === 'object' && e.value_form && e.value_form.length > 0) ||
                  (this.cekTypeData(e.field_data_key) === '[]text' && e.value_form && e.value_form.length > 0) ||
                  (this.cekTypeData(e.field_data_key) === 'text' && e.value_form && e.value_form.length > 0) ||
                  ((this.cekTypeData(e.field_data_key) === 'object' ||
                    this.cekTypeData(e.field_data_key) === 'tags' ||
                    this.cekTypeData(e.field_data_key) === 'person' ||
                    this.cekTypeData(e.field_data_key) === 'number' ||
                    this.cekTypeData(e.field_data_key) === 'text' ||
                    this.cekTypeData(e.field_data_key) === 'varchar' ||
                    this.cekTypeData(e.field_data_key) === 'integer' ||
                    this.cekTypeData(e.field_data_key) === 'small_integer' ||
                    this.cekTypeData(e.field_data_key) === 'big_integer' ||
                    this.cekTypeData(e.field_data_key) === 'float' ||
                    this.cekTypeData(e.field_data_key) === 'decimal') && e.value) ||
                (this.mode === 'dataset' &&
                 e.value_form &&
                 e.value_form.length > 0 &&
                 (e.type === 'multiple_relation_record' ||
                  e.type === 'multiple_relation_record_external_api'))) {
                if (this.dataFilter[selectType]) {
                  if (typeof this.dataFilter[selectType] === 'object') {
                    const valueArray = this.dataFilter[selectType];
                    valueArray.push(valueFilterSearch);
                    this.dataFilter[selectType] = valueArray;
                  } else {
                    this.dataFilter[selectType] = [this.dataFilter[selectType], valueFilterSearch];
                  }
                } else {
                  this.dataFilter[selectType] = valueFilterSearch;
                }
              }
            });

            resolve(true);
          });
        }
      });
    },

    clearSearchOptions() {
      this.filterIsActive = false;
      this.countDataset = 0;
      this.labelCountDataset = '';
      this.loadingCountDataset = false;
      this.showTable = false;
      this.showTableData = false;
      this.showTableDataField = false;
      this.showLoadingTable = true;
      this.$refs.jFormSearch.formData = this._.cloneDeep(this.initialDataSearchOptions);
      setTimeout(() => {
        this.showLoadingTable = false;
        this.showTable = true;
      }, 100);
    },

    setCurrencyOptions(column) {
      const options = Object.assign({}, this.currencyOptions);
      options.minimumValue = column.config && column.config.allow_minus_value ? '-999999999999999.99' : '0';
      options.currencySymbol = column.config && column.config.symbol_default_currency ? column.config.symbol_default_currency : 'Rp';
      return options;
    },

    cekTypeData(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (dataKey === '') { return ''; }
      if (dataKey === null) { return ''; }
      if (this.mode === 'form' || this.mode === 'dataset') {
        const findType = this.detailFormData[this.mode === 'form' ? 'columns' : 'column'][dataKey];
        return findType ? findType.type : '';
      }

      const dataColumn = this.$parent.detailFormUi ?
        (this.$parent.detailFormUi.data_source ?
          (this.$parent.detailFormUi.data_source.external_url ? this.$parent.detailFormUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[dataKey];
      return findType.type;
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      if (this.mode === 'form' || this.mode === 'dataset') {
        const findRegex = this.detailFormData ? this.detailFormData[this.mode === 'form' ? 'columns' : 'column'][dataKey] : null;
        return findRegex ? findRegex.is_use_regex : false;
      }
      return false;
    },

    previousPage() {
      if (this.customPage > 1) {
        this.customPage = this.customPage - 1;
        setTimeout(() => {
          this.$refs.tableExport.refresh();
        }, 300);
      }
    },

    forwardPage() {
      const rowPage = this.rowPageDefault || 10;
      if (this.dataRecord.length === rowPage && this.customPage !== this.totalPageDataset) {
        this.customPage = this.customPage + 1;
        setTimeout(() => {
          this.$refs.tableExport.refresh();
        }, 300);
      }
    },

    refreshActivityList() {
      if (this.$refs.exportActivity) {
        this.$refs.exportActivity.showLoading = true;
        this.$refs.exportActivity.getActivityList();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@mixin button() {
  font-size: 12px !important;
  padding: 7px 20px !important;

  &:focus {
    box-shadow: none !important;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.wrap-button-export {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .btn-clear {
    font-weight: 500;
    font-size: 12px;
    background-color: white;
    color: #1A85E4;
    margin-left: 20px;
    cursor: pointer;
  }
  .btn-search {
    background-color: #1A85E4 !important;
    @include button();
  }
  .btn-export {
    background-color: #989898 !important;
    @include button();
  }

  .btn-activity {
    background-color: #FFFFFF !important;
    border: 1px solid #E7E7E7 !important;
    color: #606060 !important;
    @include button();
  }

  .popup-activity {
    position: fixed;
    top: 182px;
    right: 50px;
    width: 340px;
    max-height: 62vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 1rem;
    background-color: white;
    border-radius: 12px;
    padding: 22px 0;
    box-shadow: 0px 4px 40px rgba(189, 191, 198, 0.49);
    z-index: 101;

    &.popup-activity-default {
      top: 130px;
      right: 40px;
      max-height: 70vh;
    }

    .popup-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 18px;
      padding-right: 18px;

      .popup-title {
        font-weight: 500;
        font-size: 14px;
        color: #4A4A4A;
        margin-bottom: 0;
      }

      .popup-icon {
        display: flex;
        gap: 12px;
        align-items: center;

        img {
          cursor: pointer;
        }
      }

      i {
        font-size: 18px;
        color: #9A9A9A;
        cursor: pointer;
      }
    }
  }
}

.export-success {
  font-weight: 500;
  font-size: 12px;
  color: #252525;
  margin: 8px 0;

  span {
    font-weight: 500;
    font-size: 12px;
    color: #1A85E4;
    cursor: pointer;
  }
}
</style>
