<!-- eslint-disable max-len -->
<template>
  <div class="wrap-activity-list">
    <!-- Skeleton Loading List -->
    <div v-if="showLoading">
      <div
        v-for="i in 10"
        :key="`skeleton-${i}`"
        class="activity-list"
      >
        <div class="skeleton" />
      </div>
    </div>

    <!-- No Data Activity -->
    <div
      v-if="!showLoading && activityLists.length === 0"
      class="no-data"
    >
      No Export Activity
    </div>

    <!-- Activity List -->
    <div v-if="!showLoading && activityLists.length > 0">
      <div
        v-for="activity in activityLists"
        :key="activity.export_id"
        class="activity-list"
      >
        <div class="d-flex justify-content-between align-items-center">
          <p class="export-process-date">
            {{ formatFullDateTime(activity.export_start) }}
          </p>
          <div
            :class="activity.export_status"
            class="status-export"
          >
            <div class="circle-accent" />
            {{ activity.export_status === 'processing' ? 'process' : activity.export_status }}
          </div>
        </div>

        <div class="d-flex">
          <img
            :src="activity.user_info.photo_url || require('@/assets/image/profile.png')"
            class="user-export-pic"
          >
          <div class="activity-content">
            <p class="user-export-name">{{ activity.user_info.full_name }}</p>

            <div class="wrap-detail-activity">
              <div class="wrap-left d-flex">
                <img
                  src="@/assets/icon/file-csv.svg"
                  class="csv-icon"
                >
                <div>
                  <p
                    :data-content-start="activity.file_name.split('.')[0].length > 20 ? `${activity.file_name.split('.')[0].substring(0, 20)}...` : activity.file_name.split('.')[0]"
                    :data-content-end="`.${activity.file_name.split('.')[1]}`"
                    class="file-name"
                  />
                  <p class="total-record">Total Records <b>{{ activity.total_data }}</b></p>
                </div>
              </div>

              <div class="wrap-right">
                <p
                  v-if="activity.export_status === 'done'"
                  class="download-file"
                  @click="downloadFile(activity.export_id, activity.file_name)"
                >
                  Download
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    detailFormUi: {
      type: Object,
      default: () => null,
    },
    isMultiple: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      showLoading: true,
      activityLists: null,
    };
  },

  mounted() {
    this.getActivityList();
  },

  methods: {
    ...mapActions('jStoreFormUi', ['actionGetActivityList', 'actionGenerateFileAdvanceExport']),

    getActivityList() {
      setTimeout(async () => {
        const params = {
          id: this.detailFormUi.id,
          isMultiple: this.isMultiple,
        };
        const res = await this.actionGetActivityList(params);
        if (res && !res.error) {
          this.activityLists = res.data;
          this.showLoading = false;
        }
      }, 400);
    },

    async downloadFile(exportId, fileName) {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const params = {
        id: this.detailFormUi.id,
        isMultiple: this.isMultiple,
        exportId,
      };
      const res = await this.actionGenerateFileAdvanceExport(params);
      if (res) {
        const a = document.createElement('a');
        const urlBlob = window.URL.createObjectURL(res);

        a.href = urlBlob;
        a.download = fileName;
        a.click();
      }
    },

    formatFullDateTime(timestamp) {
      const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      const date = new Date(timestamp);
      const day = String(date.getDate()).padStart(2, '0');
      const month = monthNames[date.getMonth()];
      const year = date.getFullYear();
      const hours = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');
      const second = String(date.getSeconds()).padStart(2, '0');
      return `${day} ${month} ${year} ${hours}:${minutes}:${second}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
};

.wrap-activity-list {
  width: 100%;
  padding-left: 18px;
  padding-right: 16px;
  overflow-y: auto;

  .activity-list {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #E3E5E8;

    &:first-child {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
    }

    .skeleton {
      width: 100%;
      height: 65px;
      border-radius: 4px;
      background-color: #F4F4F4;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    @keyframes pulse {
      50% {
        opacity: .9;
      }
    }

    .export-process-date {
      @include font(500, 11px, #4A4A4A);
      margin-bottom: 0;
    }

    .status-export {
      width: min-content;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      border-radius: 9999px;
      text-transform: uppercase;
      @include font(700, 10px, #606060);
      margin-bottom: 5px;

      .circle-accent {
        width: 10px;
        height: 10px;
        border-radius: 9999px;
        margin-right: 3px;
      }

      &.done {
        background-color: #F0F8E5;
        color: #61BC50;

        .circle-accent {
          background-color: #61BC50;
        }
      }
      &.processing {
        background-color: #FFE6C9;
        color: #F36F21;

        .circle-accent {
          background-color: #F36F21;
        }
      }
      &.failed {
        background-color: #FFEBED;
        color: #D0021B;

        .circle-accent {
          background-color: #D0021B;
        }
      }
      &.pending {
        background-color: #F2F2F2;
        color: #808285;

        .circle-accent {
          background-color: #808285;
        }
      }
      &.canceled {
        background-color: #F4DDFF;
        color: #73189D;

        .circle-accent {
          background-color: #73189D;
        }
      }
      &.canceling {
        background-color: #F1EBF4;
        color: #A376B9;
        .circle-accent {
          background-color: #A376B9;
        }
      }
    }

    .user-export-pic {
      width: 26px;
      min-width: 26px;
      max-width: 26px;
      height: 26px;
      min-height: 26px;
      max-height: 26px;
      object-fit: cover;
      border-radius: 9999px;
      margin-right: 8px;
    }

    .activity-content {
      width: calc(100% - 34px);
      display: flex;
      flex-direction: column;

      .user-export-name {
        @include font(500, 12px, #4A4A4A);
        margin-bottom: 8px;
      }

      .wrap-detail-activity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 7px 8px;
        border: 1px solid #E7E7E7;
        border-radius: 4px;

        .wrap-left {
          .csv-icon {
            width: auto;
            height: 22px;
            margin-right: 6px;
          }
          .file-name {
            @include font(500, 11px, #606060);
            margin-bottom: 0;

            &::before, &::after {
              display: inline-block;
            }
            &::before {
              content: attr(data-content-start);
            }
            &::after {
              content: attr(data-content-end);
            }
          }
          .total-record {
            @include font(400, 11px, #606060);
            margin-bottom: 0;
          }
        }

        .wrap-right {
          .download-file{
            @include font(400, 11px, #1A85E4);
            text-align: end;
            margin-bottom: 0;
            cursor: pointer;
          }
        }
      }
    }
  }

  .no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(500, 14px, #4A4A4A);
  }
}
</style>
