<template>
  <div
    id="overtime-form-detail"
    class="p-4"
  >
    <b-row>
      <b-col
        cols="7">
        <b-row
          v-if="isAdmin || isPicOrManagement">
          <b-col
            md="6"
            sm="6"
            class="toggle-container">
            <b-form-group>
              <label>Create for other employee</label>
              <j-toggle
                v-model="toggleForOther"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
          <b-col v-if="toggleForOther">
            <b-form-group :class="{'error-input' : $v.formData.employee.$error}">
              <label>Employee Name</label>
              <j-single-select
                v-model="$v.formData.employee.$model"
                :is-async="true"
                :load-options="loadOptionsEmployee"
                :placeholder="'Select Employee'"
                value-format="object"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="6">
            <b-form-group :class="{'error-input' : $v.formData.overtime_type.$error}">
              <label>Overtime Type <span class="red"> * </span> </label>
              <j-single-select
                v-model="$v.formData.overtime_type.$model"
                :options="overtime_type_list"
                :placeholder="'Select Overtime Type'"
                value-format="object"
                label="name"
              />
            </b-form-group>
          </b-col>

          <b-col cols="6">
            <b-form-group
              v-if="formData.overtime_type"
              :class="{'error-input' : $v.formData.attendance.$error}"
            >
              <label>
                List Attendance
                <span
                  v-if="timeIsLockCoTime || timeIsLockShift"
                  class="red">
                  *
                </span>
              </label>
              <j-single-select
                v-model="$v.formData.attendance.$model"
                :options="attendance_options"
                :placeholder="'Select Attendance'"
                value-format="object"
                label="label"
              />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row v-show="showFieldsCondition">
          <b-col cols="12">
            <b-form-group :class="{'error-input' : $v.formData.reason.$error}">
              <label>Reason</label>
              <j-textarea
                v-model="$v.formData.reason.$model"
                placeholder="Write reason here"
              />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row v-show="showFieldsCondition">
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.start_date.$error}">
              <label
                for="startTime"
                style="margin-top:5px">Start Date <span class="red"> * </span> </label>
              <j-datepicker
                id="startTime"
                :disabled-dates="disabledStartDate(formData.start_date, formData.end_date)"
                :disabled="(formData.overtime_type !== null) &&
                (timeIsLockCoTime || timeIsLockShift) || !isCanEditOvertimeHours"
                v-model="$v.formData.start_date.$model"
                format="MMM dd, yyyy"
                placeholder="ex: 1 Jan 2019"/>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :class="{'error-input' : $v.formData.end_date.$error}">
              <label
                for="endTime"
                style="margin-top:5px">End Date <span class="red"> * </span> </label>
              <j-datepicker
                id="endTime"
                :disabled-dates="disabledEndDate(formData.start_date, formData.end_date)"
                :disabled="!isCanEditOvertimeHours"
                v-model="$v.formData.end_date.$model"
                format="MMM dd, yyyy"
                placeholder="ex: 2 Jan 2019"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row v-if="showFieldsCondition && timesFeatureChanged">
          <b-col cols="6">
            <b-form-group :class="{'error-input' : $v.formData.start_time.$error}">
              <label>From <span class="red"> * </span> </label>
              <j-clockpicker
                v-model="formData.start_time"
                :disabled="!isCanEditOvertimeHours"
                placeholder="ex: 06.00"/>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group :class="{'error-input' : $v.formData.end_time.$error}">
              <label>To <span class="red"> * </span> </label>
              <j-clockpicker
                v-model="formData.end_time"
                :disabled="!isCanEditOvertimeHours"
                placeholder="ex: 06.00"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="6">
            <b-form-group>
              <label>Total Overtime Hours</label>
              <j-input
                v-model="totalOvertime"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row
          v-show="false"
          v-if="formData.attendance"
        >
          <b-col
            v-for="item in listAdditionalInfo"
            :key="item.id"
            cols="12"
          >
            <b-form-group
              v-if="item.type === 'single_selection'"
            >
              <label>
                {{ item.name }}
                <span
                  v-if="item.is_mandatory"
                  class="red">
                  *
                </span>
              </label>
              <j-single-select
                :options="item.available_list"
                :placeholder="item.placeholder"
                :disabled="!item.is_editable"
                value-format="object"
                label="name"
              />
            </b-form-group>
            <b-form-group
              v-if="item.type === 'case'"
            >
              <label>
                {{ item.name }}
                <span
                  v-if="item.is_mandatory"
                  class="red">
                  *
                </span>
              </label>
              <j-input
                v-model="item.targetValue"
                :placeholder="item.placeholder"
                :disabled="!item.is_editable"
              />
            </b-form-group>
          </b-col>
        </b-row>

      </b-col>

      <b-col cols="5">
        <label> Attachment </label>
        <div
          v-for="(item, index) in formData.fileData"
          v-show="!item.is_delete"
          :key="index"
          class="container-attachment">
          <j-upload-file
            :img-default="item.url"
            :url-upload="url_upload"
            :accepted-file-type="acceptedFileType"
            :api-token="api"
            :max-file-size="5000"
            :more-data="true"
            @url="getDocs(index, $event)"
            @deleteFile="deleteFileData(index)"/>
        </div>
        <div style="font-size: 11px; margin-bottom: 10px;">
          Please choose file with maximum file 5 MB and supported format file
          (jpg, png, jpeg, and pdf)
        </div>
        <div
          class="d-flex cursor-pointer"
          @click="formData.fileData.push({ url: null, is_delete: false, })">
          <i class="fa fa-plus"/>
          <div class="attachment-add-more-data">Add Attachment</div>
        </div>
      </b-col>

      <b-col cols="12 d-flex justify-content-end">
        <b-button
          class="btn blue"
          @click="submitForm">
          Submit
        </b-button>
      </b-col>
    </b-row>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jMixTable from '@/mixins/jMixTable';
import jUploadFile from '@/components/upload-file/jUploadFile';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiUser from '@/services/jApiUser';
import jApiCompanyLocation from '@/services/jApiCompanyLocation';
import Vue from 'vue';

export default {
  components: {
    jLoadingTable,
    jUploadFile,
  },
  mixins: [
    jMixTable,
  ],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  validations() {
    const validate = {
      formData: {
        start_date: {
          required,
        },
        end_date: {
          required,
        },
        start_time: {
          required,
        },
        end_time: {
          required,
        },
        employee: {
          // do nothing
        },
        overtime_type: {
          required,
        },
        attendance: { },
        reason: { },
      },
    };
    if (this.toggleForOther) {
      validate.formData.employee = { required };
    }
    if (this.formData.overtime_type) {
      if (this.timeIsLockCoTime || this.timeIsLockShift) {
        validate.formData.attendance = { required };
      }
    }
    return validate;
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      detailDraft: null,
      detailMode: 'create',
      toggleForOther: false,
      formData: {
        employee: null,
        start_date: null,
        end_date: null,
        start_time: null,
        end_time: null,
        overtime_type: null,
        attendance: null,
        reason: null,
        fileData: [{ url: null, is_delete: false }],
        timezone: null,
        attendance_group_id: null,
      },
      dataPeriod: {
        start_date: null,
        end_date: null,
      },
      from_date_disabled: {
        color: 'light-grey',
        ranges:
        [{
          from: new Date(1, 1, 1),
          to: !this.isAdmin && this.isPicOrManagement ? this.dateRangePic() : '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: !this.isAdmin && this.isPicOrManagement ? this.dateRangePic() : '',
        }],
      },
      acceptedFileType: ['jpg', 'png', 'jpeg', 'pdf'],
      api: Vue.ls.get('Token'),
      attendance_options: [],
      listAdditionalInfo: [],
      overtimeStart: null,
      overtimeEnd: null,
      overtime: '0',
      timesFeatureChanged: false,
      timezoneCompanyConfig: null,
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['overtime_type_list', 'attendances_list', 'additional_info', 'times_features']),

    genData() {
      const data = {
        user_company_id: this.toggleForOther ? this.formData.employee.user_company_id : Number(localStorage.getItem('user_company_id')),
        overtime_type_id: this.formData.overtime_type.id,
        start_date: this.$moment(this.formData.start_date).format('YYYY-MM-DD'),
        end_date: this.$moment(this.formData.end_date).format('YYYY-MM-DD'),
        start_time: this.formData.start_time,
        end_time: this.formData.end_time,
        reason: this.formData.reason,
        timezone: this.formData.timezone || this.timezoneCompanyConfig,
        attendance_group_id: this.formData.attendance_group_id,
        offline_created_date: new Date().getTime(),
        additional_data: [],
        docs: this.formData.fileData ? this.formData.fileData.filter(f => !f.is_delete).map((el, index) => {
          const item = {
            file_url: el.url,
            order: index,
          };
          return item;
        }) : [],
      };

      return data;
    },

    timeIsNotLock() {
      const { request_time_locked_by: policy } = this.formData.overtime_type.overtime_policy;
      return policy === 0;
    },
    timeIsLockCoTime() {
      const { request_time_locked_by: policy } = this.formData.overtime_type.overtime_policy;
      return policy === 1;
    },
    timeIsLockShift() {
      const { request_time_locked_by: policy } = this.formData.overtime_type.overtime_policy;
      return policy === 2;
    },
    timeIsLockWorkHours() {
      const { request_time_locked_by: policy } = this.formData.overtime_type.overtime_policy;
      return policy === 3;
    },
    showFieldsCondition() {
      return !this.formData.overtime_type || this.timeIsNotLock || (this.formData.overtime_type && this.formData.attendance);
    },
    url_upload() {
      return `${process.env.GATE_URL}file`;
    },
    isCanEditOvertimeHours() {
      return this.times_features.length > 0 ? this.times_features.includes(36) : false;
    },
    totalOvertime: {
      get() {
        if (
          this.formData.start_date && this.formData.end_date &&
          this.formData.start_time && this.formData.end_time
        ) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.overtime = this.getTimeDifference();
        } else {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.overtime = '0';
        }
        return this.overtime;
      },
      set(value) {
        this.overtime = value;
      },
    },
  },
  watch: {
    toggleForOther(val) {
      this.formData.employee = null;
      this.formData.attendance = null;
      this.formData.overtime_type = null;
      if (!val) {
        const params = {
          user_company_id: Number(localStorage.getItem('user_company_id')),
        };
        this.actionGetListOvertimeType(params);
      }
    },
    // eslint-disable-next-line func-names
    'formData.employee': async function (val) {
      if (val) {
        this.formData.overtime_type = null;
        const params = {
          user_company_id: Number(val.user_company_id),
        };
        this.actionGetListOvertimeType(params);
      }
    },
    // eslint-disable-next-line func-names
    'formData.start_date': async function (date) {
      this.dataPeriod.start_date = this.$moment(date).format('YYYY-MM-DD');
      if (this.formData.end_date !== null) {
        if (this.formData.end_date < date) {
          this.formData.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    // eslint-disable-next-line func-names
    'formData.end_date': async function (date) {
      this.dataPeriod.end_date = this.$moment(date).format('YYYY-MM-DD');

      if (this.formData.start_date > date) {
        this.formData.start_date = date;
      }
      this.restrictDate(date, 'from');
    },
    // eslint-disable-next-line func-names
    'formData.start_time': async function (time) {
      if (time < this.overtimeStart) {
        this.formData.start_time = this.overtimeStart;
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Sorry, the time end overtime cannot below check in time');
      }

      this.checkDateTime();
    },
    // eslint-disable-next-line func-names
    'formData.end_time': async function (time) {
      if (time > this.overtimeEnd) {
        this.formData.end_time = this.overtimeEnd;
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Sorry, the time end overtime request cannot above check out time');
      }

      this.checkDateTime();
    },
    // eslint-disable-next-line func-names
    'formData.overtime_type': async function (val) {
      this.formData.attendance = null;
      if (val) {
        const params = {
          id: val.id,
          user_company_id: this.toggleForOther ? this.formData.employee.user_company_id : Number(localStorage.getItem('user_company_id')),
        };
        this.actionGetListAttendance(params);
        // this.actionGetListAdditionalInfo(params);
      } else if (typeof val === 'undefined') {
        this.formData.overtime_type = null;
      } else {
        this.listAdditionalInfo = [];
      }
    },
    // eslint-disable-next-line func-names
    'formData.attendance': async function (val) {
      if (val) {
        // if (this.timeIsNotLock) {
        //   // no lock
        //   if (val.ci_date) {
        //     this.formData.start_date = val.ci_date;
        //   }
        //   if (val.co_date) {
        //     this.formData.end_date = val.co_date;
        //   }
        //   if (val.ci_time) {
        //     this.formData.start_time = val.ci_time.slice(0, -3);
        //     this.overtimeStart = val.ci_time.slice(0, -3);
        //   }
        //   if (val.co_time) {
        //     this.formData.end_time = val.co_time.slice(0, -3);
        //     this.overtimeEnd = val.co_time.slice(0, -3);
        //   }
        // } else if (this.timeIsLockShift) {
        //   // lock depend on shift
        //   if (val.ci_date) {
        //     this.formData.start_date = val.co_date;
        //   }
        //   if (val.co_date) {
        //     this.formData.end_date = val.co_date;
        //   }
        //   if (val.ci_time) {
        //     const x = this.timeDiff(val.co_time, val.shift_end);
        //     const y = this.timeDiff(val.shift_start, val.ci_time);
        //     const z = this.timeSum(x, y);
        //     const min = this.$moment.duration(val.co_time) - this.$moment.duration(z);
        //     const minResult = this.$moment.utc(min).format('HH:mm');
        //     this.formData.start_time = minResult;
        //     this.overtimeStart = minResult;
        //   }
        //   if (val.co_time) {
        //     this.formData.end_time = val.ot_end.slice(0, -3);
        //     this.overtimeEnd = val.ot_end.slice(0, -3);
        //   }
        // } else {
        //   // lock depend on co time
        //   if (val.ci_date) {
        //     this.formData.start_date = val.shift_end_date;
        //   }
        //   if (val.co_date) {
        //     this.formData.end_date = val.co_date;
        //   }
        //   if (val.ci_time) {
        //     this.formData.start_time = val.ot_start.slice(0, -3);
        //     this.overtimeStart = val.ot_start.slice(0, -3);
        //   }
        //   if (val.co_time) {
        //     this.formData.end_time = val.ot_end.slice(0, -3);
        //     this.overtimeEnd = val.ot_end.slice(0, -3);
        //   }
        // }

        this.overtime = val.total_overtime_hours;

        this.formData.start_date = new Date(val.start_ot_date);
        this.formData.end_date = new Date(val.end_ot_date);
        this.formData.start_time = val.start_ot_time.slice(0, -3);
        this.formData.end_time = val.end_ot_time.slice(0, -3);
        this.overtimeStart = val.start_ot_time.slice(0, -3);
        this.overtimeEnd = val.end_ot_time.slice(0, -3);

        if (val.reason) {
          this.formData.reason = val.reason;
        }
        if (val.ci_timezone) {
          this.formData.timezone = val.ci_timezone;
        }
        if (val.id) {
          this.formData.attendance_group_id = val.id;
        }
      } else {
        this.formData.start_date = null;
        this.formData.end_date = null;
        this.formData.start_time = null;
        this.formData.end_time = null;
        this.formData.reason = null;
        this.$v.formData.$reset();
      }
    },

    attendances_list(data) {
      this.attendance_options = [];
      data.forEach((el) => {
        const labeling = `${this.$moment(el.ci_date).format('MMM DD, YYYY')} ${el.ci_time}`;
        this.attendance_options.push({
          ...el,
          label: labeling,
        });
      });
    },

    additional_info(data) {
      this.listAdditionalInfo = [];
      data.forEach((el) => {
        if (el.type === 'single_selection') {
          this.listAdditionalInfo.push({
            ...el,
          });
        } else if (el.type === 'case') {
          this.listAdditionalInfo.push({
            ...el,
            targetValue: el.case[0].value,
          });
        }
      });
    },

    times_features() {
      this.timesFeatureChanged = true;
    },
  },
  created() {
    const params = {
      user_company_id: Number(localStorage.getItem('user_company_id')),
    };
    this.actionGetListOvertimeType(params);
    this.actionGetListTimesFeatures();
    this.getTimezone();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetListOvertimeType', 'actionGetListAttendance', 'actionGetListAdditionalInfo', 'actionCreateClaimer', 'actionGetListTimesFeatures']),

    restrictDate(e, status) {
      if (status === 'end') {
        if (!this.isAdmin && this.isPicOrManagement) {
          this.from_date_disabled.ranges = [{
            from: new Date(1, 1, 1),
            to: this.dateRangePic(),
          }];
        } else {
          this.from_date_disabled.ranges = [{
            from: this.formData.end_date,
            to: new Date(10000, 1, 1),
          }];
        }

        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        if (!this.isAdmin && this.isPicOrManagement) {
          this.from_date_disabled.ranges = [{
            from: new Date(1, 1, 1),
            to: this.dateRangePic(),
          }];
        } else {
          this.from_date_disabled.ranges = [{
            from: e,
            to: new Date(10000, 1, 1),
          }];
        }

        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.formData.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },

    disabledEndDate(startDate, endDate) {
      if (!this.formData.attendance) {
        return {
          color: 'light-grey',
          ranges: [
            {
              from: new Date(1, 1, 1),
              to: Date.parse(startDate),
            },
          ],
        };
      }
      return {
        color: 'light-grey',
        ranges: [
          {
            from: Date.parse(endDate),
            to: new Date(200000, 1, 1),
          },
          {
            from: new Date(1, 1, 1),
            to: Date.parse(startDate),
          },
        ],
      };
    },
    disabledStartDate(startDate, endDate) {
      if (!this.formData.attendance) {
        return {
          color: 'light-grey',
          ranges: [
            {
              from: Date.parse(endDate),
              to: new Date(200000, 1, 1),
            },
          ],
        };
      }
      return {
        color: 'light-grey',
        ranges: [
          {
            from: Date.parse(startDate),
            to: new Date(200000, 1, 1),
          },
          {
            from: new Date(1, 1, 1),
            to: Date.parse(startDate),
          },
        ],
      };
    },

    timeSum(time1, time2) {
      const d = this.$moment.duration(time1).add(this.$moment.duration(time2));
      return this.$moment.utc(d.as('milliseconds')).format('HH:mm');
    },

    timeMin(time1, time2) {
      const d = this.$moment.duration(time1).add(this.$moment.duration(time2));
      return this.$moment.utc(d.as('milliseconds')).format('HH:mm');
    },

    timeDiff(endTime, startTime) {
      // parse time using 24-hour clock and use UTC to prevent DST issues
      const start = this.$moment.utc(startTime, 'HH:mm');
      const end = this.$moment.utc(endTime, 'HH:mm');

      // account for crossing over to midnight the next day
      if (end.isBefore(start)) end.add(1, 'day');

      // calculate the duration
      const d = this.$moment.duration(end.diff(start));

      // format a string result
      return this.$moment.utc(+d).format('HH:mm');
    },
    getDocs(index, data) {
      this.formData.fileData[index].url = data;
    },
    deleteFileData(index) {
      this.formData.fileData[index].is_delete = true;
    },
    dateRangePic() {
      const date = new Date();
      date.setDate(date.getDate() - 30);
      return date;
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiUser.getUserRestrictionOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },

    async submitForm() {
      this.$v.formData.$touch();
      if (!this.$v.formData.$error) {
        const { minimum_duration: minDuration } = this.formData.overtime_type.overtime_policy;

        const startDate = this.$moment(this.formData.start_date).format('YYYY-MM-DD');
        const start = this.$moment.utc(`${startDate} ${this.formData.start_time}`, 'YYYY-MM-DD HH:mm');

        const endDate = this.$moment(this.formData.end_date).format('YYYY-MM-DD');
        const end = this.$moment.utc(`${endDate} ${this.formData.end_time}`, 'YYYY-MM-DD HH:mm');
        const { _milliseconds: totalDuration } = this.$moment.duration(end.diff(start));

        if (totalDuration < minDuration) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Sorry, your overtime hours are not enough for this type overtime');
        } else {
          const res = await this.actionCreateClaimer(this.genData);

          if (!res.error) {
            this.$router.push(`${this.oosRoute}/overtime/requestor/sent}`);
          }
        }
      }
    },

    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
    checkDateTime() {
      if (this.formData.overtime_type && this.formData.attendance) {
        if (!this.formData.start_date || !this.formData.end_date) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please select start date time overtime or end date time overtime first');
        } else if (this.formData.start_date && this.formData.end_date) {
          if (this.formData.start_time && this.formData.end_time) {
            const startDate = new Date(this.formData.start_date).getDate();
            const endDate = new Date(this.formData.end_date).getDate();
            const startTime = this.formData.start_time.split(':')[0];
            const endTime = this.formData.end_time.split(':')[0];

            if (startDate === endDate) {
              if (startTime > endTime) {
                this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Start time overtime must be before end time overtime');
              }
            }
          }
        }
      }
    },
    getTimeDifference() {
      // Start Date Time
      const sd = this.formData.start_date;
      const st = this.formData.start_time.split(':');
      const start = new Date(sd.getFullYear(), sd.getMonth(), sd.getDay(), st[0], st[1], 0, 0);

      // End Date Time
      const ed = this.formData.end_date;
      const et = this.formData.end_time.split(':');
      const end = new Date(ed.getFullYear(), ed.getMonth(), ed.getDay(), et[0], et[1], 0, 0);

      // Convert Time
      const totalMinutes = Math.floor(Math.floor((end - start) / 1000) / 60);
      const hours = totalMinutes / 60;
      const hoursRound = Math.floor(hours);
      const minutes = (hours - hoursRound) * 60;
      const minutesRound = Math.round(minutes);

      return `${hoursRound} Hours ${minutesRound} Minutes`;
    },

    async getTimezone() {
      try {
        const res = await jApiCompanyLocation.getTimezone();
        if (!res.error) {
          this.timezoneCompanyConfig = res.data.timezone;
        }
      } catch (err) {
        this.timezoneCompanyConfig = null;
      }
    },
  },
};
</script>

<style lang="scss">
  #overtime-form-detail {

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
      .custom-control {
        padding-left: 5px !important;
      }
    }

    .jTable {
      .reason input {
        width: 150px !important;
      }

      .jDatePicker input {
        width: 140px !important;
      }

      .clock-picker input {
        width: 90px !important;
      }

      .jSelectSingle {
        width: 200px !important;
      }

      .jDatePicker > .vdp-datepicker__calendar {
        z-index: 999 !important;
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container {
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container > .vue-treeselect__menu {
        position: relative !important;
      }
    }

  }
</style>
