<template>
  <div>
    <b-row class="align-items-center">
      <b-col
        sm="12"
        md="6">
        <b-form-group :class="{'error-input' : $v.extends_run.date.$error}">
          <label class="form__label">Run Payroll Up To</label>
          <j-datepicker
            v-model="$v.extends_run.date.$model"
            :disabled-dates="disabledDate"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="3">
        <b-button
          class="btn blue float-right"
          @click="updateExtendsRun">
          Update
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      extends_run: {
        date: null,
      },
    };
  },
  computed: {
    ...mapState('jStorePayrollInfo', ['extends_run_payroll', 'update_availability']),

    generateData() {
      const genData = {
        maximum_run_payroll_date: this.extends_run.date ? this.$moment(this.extends_run.date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    disabledDate() {
      const yesterday = new Date().setDate(new Date().getDate() - 1);
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: yesterday,
        }],
      };
    },
  },
  watch: {
    extends_run_payroll(val) {
      this.extends_run.date = val.maximum_run_payroll_date;
    },
  },
  created() {
    this.actionGetExtendsRunPayroll(this.$route.params.id);
  },
  validations() {
    return {
      extends_run: {
        date: { required },
      },
    };
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionGetExtendsRunPayroll', 'actionSetExtendsRunPayroll']),
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability']),

    async updateExtendsRun() {
      const availability = await this.actionCheckAvailability({
        user_company_id: Number(this.$route.params.id),
      });
      if (availability) {
        this.$v.extends_run.$touch();
        if (!this.$v.extends_run.$error) {
          await this.actionSetExtendsRunPayroll({
            userCompanyId: this.$route.params.id,
            params: this.generateData,
          });

          this.actionGetExtendsRunPayroll(this.$route.params.id);
        }
      }
    },
  },
};
</script>
