<template>
  <div id="holiday-form-update">
    <div class="text-center">
      <h3
        style="color:#808285 !important"
        class="mt-2 dark">{{ title.main_title }}</h3>
    </div>

    <b-row>
      <b-col
        md="12"
        sm="12"
        cols="12">

        <b-row>
          <b-col
            cols="12">
            <b-form-group :class="{'error-input' : $v.dataHoliday.name.$error}">
              <label>Name <span class="red"> * </span> </label>
              <j-input
                v-model="$v.dataHoliday.name.$model"
                placeholder="ex: New Year Holidays"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col
            cols="8">
            <b-form-group :class="{'error-input' : $v.dataHoliday.date.$error}">
              <label for="date">Date <span class="red"> * </span> </label>
              <j-datepicker
                id="date"
                v-model="$v.dataHoliday.date.$model"
                format="MMM dd, yyyy"
                placeholder="ex: Jan 01, 2020"/>
            </b-form-group>
          </b-col>

          <b-col
            class="toggle-container"
            cols="4">
            <b-form-group>
              <label>Leave Replacement</label>
              <j-toggle
                v-model="$v.dataHoliday.is_substitute.$model"
                class="toggle-form-base" />
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <b-form-group>
              <label>Description</label>
              <j-textarea
                v-model="$v.dataHoliday.description.$model"
                placeholder="ex: Description"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="m__t--50">
          <b-col
            class="text-right"
            cols="12">
            <b-button
              v-if="mode === 'edit'"
              class="btn btn-danger"
              @click="deleteRecord">
              Delete
            </b-button>
            <b-button
              class="btn"
              @click="closeModal">
              Cancel
            </b-button>
            <b-button
              class="btn blue"
              @click="submit">
              {{ mode === 'edit' ? 'Update' : 'Submit' }}
            </b-button>
          </b-col>
        </b-row>

      </b-col>
    </b-row>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  components: {
  },
  props: {
    formId: {
      type: Number,
      default: 0,
    },
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    return {
      dataHoliday: {
        name: { required },
        is_substitute: {},
        description: {},
        date: { required },
      },
    };
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Holiday' : 'Create Holiday',
      },
      dataHoliday: {
        name: '',
        is_substitute: false,
        description: '',
        date: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['holiday_detail']),
    confirmImg() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
      // return '@/assets/icon/confirmation.png';
    },
  },
  watch: {
    holiday_detail(val) {
      this.dataHoliday = {
        name: val.name,
        is_substitute: val.is_substitute,
        description: val.description,
        date: val.date,
      };
    },
    formId(val) {
      if (val > 0) {
        if (this.mode === 'edit') {
          const params = {
            id: this.formId,
          };
          this.actionGetHolidayDetail(params);
          this.title.main_title = 'Edit Holiday';
        }
      } else {
        this.title.main_title = 'Create Holiday';
        setTimeout(() => {
          this.$v.dataHoliday.$reset();
        }, 1000);
      }
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        id: this.formId,
      };
      this.actionGetHolidayDetail(params);
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetHolidayDetail', 'actionCreateHoliday', 'actionUpdateHoliday', 'actionDeleteHoliday']),

    async submitRecord() {
      this.$v.dataHoliday.$touch();
      if (!this.$v.dataHoliday.$error) {
        let res;
        if (this.mode === 'create') {
          res = await this.actionCreateHoliday(this.dataHoliday);
        } else {
          this.dataHoliday.id = this.formId;
          res = await this.actionUpdateHoliday(this.dataHoliday);
        }

        if (!res.error) {
          this.dataHoliday = {
            name: '',
            is_substitute: false,
            description: '',
            date: null,
          };

          this.$v.dataHoliday.$reset();
          this.closeModal();
          this.refreshTable();
        }
      }
    },
    submit() {
      if (this.mode === 'edit') {
        this.updateRecord();
      } else {
        this.submitRecord();
      }
    },
    updateRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to update holiday 
        "<strong class="blue">${this.dataHoliday.name}</strong>"?`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmImg,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            this.submitRecord();
          }
        }
      });
    },
    deleteRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to delete holiday 
        "<strong class="blue">${this.dataHoliday.name}</strong>"?`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmImg,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              holiday: {
                id: this.formId,
              },
            };
            await this.actionDeleteHoliday(params);
            this.closeModal();
            this.refreshTable();
          }
        }
      });
    },
    closeModal() {
      this.$emit('close');

      this.dataHoliday = {
        name: '',
        is_substitute: false,
        description: '',
        date: null,
      };
    },
    refreshTable() {
      this.$emit('refresh');
    },
  },
};
</script>

<style lang="scss">
  #holiday-form-update {
    .custom-control {
      padding-left: 5px !important;
    }

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
