<template>
  <div id="reminder-form-update">
    <div class="text-center">
      <h3
        style="color:#808285 !important"
        class="mt-2 dark">{{ title.main_title }}</h3>
    </div>

    <b-form-group :class="{'error-input' : $v.dataReminder.name.$error}">
      <label>Name <span class="red"> * </span> </label>
      <j-input
        v-model="$v.dataReminder.name.$model"
        placeholder="ex: Work"/>
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.dataReminder.time.$error}">
      <label>Time <span class="red"> * </span> </label>
      <j-clockpicker
        v-model="$v.dataReminder.time.$model"
        placeholder="ex: 06.00"/>
    </b-form-group>

    <b-row>
      <b-col
        cols="6">
        <b-form-group :class="{'error-input' : $v.dataReminder.start_date.$error}">
          <label for="startDate">From <span class="red"> * </span> </label>
          <j-datepicker
            id="startDate"
            v-model="$v.dataReminder.start_date.$model"
            :disabled-dates="start_date_disabled"
            format="MMM dd, yyyy"
            placeholder="ex: Jan 01, 2020"/>
        </b-form-group>
      </b-col>
      <b-col
        cols="6">
        <b-form-group :class="{'error-input' : $v.dataReminder.end_date.$error}">
          <label for="endDate">To <span class="red"> * </span> </label>
          <j-datepicker
            id="endDate"
            v-model="$v.dataReminder.end_date.$model"
            :disabled-dates="end_date_disabled"
            format="MMM dd, yyyy"
            placeholder="ex: Des 31, 2020"/>
        </b-form-group>
      </b-col>
    </b-row>

    <b-form-group>
      <label>Exclude Holiday</label>
      <j-toggle
        v-model="$v.dataReminder.is_exclude_holiday.$model"
        class="toggle-form-base" />
    </b-form-group>

    <b-form-group :class="{'error-input' : $v.dataReminder.description.$error}">
      <label>Description <span class="red"> * </span> </label>
      <j-textarea
        v-model="$v.dataReminder.description.$model"
        placeholder="ex: Description"/>
    </b-form-group>

    <b-form-group>
      <label>Days</label>
      <j-multi-check
        ref="multiCheck"
        :options="day_options"
        :default-data="set_days_default"
        @data="getDataDays"/>
    </b-form-group>

    <b-form-group>
      <label>Staff</label>
      <a
        class="btn text outline pull-right"
        @click="unselectAllEmployee">
        unselect all
      </a>
      <a
        class="btn text outline pull-right"
        @click="selectAllEmployee">
        select all
      </a>
      <br>
      <j-multi-select
        id="employee"
        ref="employee"
        :options="listEmployee"
        v-model="selected_data_employee"
        value-format="object"
        placeholder="Select Employee"/>
    </b-form-group>

    <b-form-group>
      <label>Team Selected</label>
      <a
        class="btn text outline pull-right"
        @click="unselectAllTeam">
        unselect all
      </a>
      <a
        class="btn text outline pull-right"
        @click="selectAllTeam">
        select all
      </a>
      <br>
      <j-multi-select
        id="team"
        ref="team"
        :options="listTeam"
        v-model="selected_data_team"
        value-format="object"
        placeholder="Team Selected"/>
    </b-form-group>

    <b-row>
      <b-col
        class="text-right"
        cols="12">
        <b-button
          v-if="mode === 'edit'"
          class="btn btn-danger"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn"
          @click="closeModal">
          Cancel
        </b-button>
        <b-button
          class="btn blue"
          @click="submit">
          {{ mode === 'edit' ? 'Update' : 'Submit' }}
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable no-console, no-unused-vars */
import { mapState, mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  components: {
  },
  props: {
    formId: {
      type: Number,
      default: 0,
    },
    oosRoute: {
      type: String,
      default: '',
    },
    mode: {
      type: String,
      default: 'create',
    },
  },
  validations() {
    return {
      dataReminder: {
        name: { required },
        description: { required },
        time: { required },
        days: {},
        start_date: { required },
        end_date: { required },
        is_exclude_holiday: {},
        company_users: {},
      },
    };
  },
  data() {
    return {
      title: {
        icon: 'fa-file-text-o',
        main_title: this.mode === 'edit' ? 'Update Reminder' : 'Create Reminder',
      },
      start_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      dataReminder: {
        name: '',
        description: '',
        time: '',
        days: [],
        start_date: null,
        end_date: null,
        is_exclude_holiday: false,
        company_users: [],
      },
      listTeam: [],
      listEmployee: [],
      selected_data_team: [],
      selected_data_employee: [],
      set_days_default: [],
      weekdays: ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'],
      day_options: [
        { value: 'monday', text: 'Monday' },
        { value: 'tuesday', text: 'Tuesday' },
        { value: 'wednesday', text: 'Wednesday' },
        { value: 'thursday', text: 'Thursday' },
        { value: 'friday', text: 'Friday' },
        { value: 'saturday', text: 'Saturday' },
        { value: 'sunday', text: 'Sunday' },
      ],
      dontChange: false,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['reminder_detail', 'team_list', 'employee_list']),
    confirmImg() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
      // return '@/assets/icon/confirmation.png';
    },
  },
  watch: {
    // eslint-disable-next-line
    'dataReminder.start_date': function (date) {
      if (this.dataReminder.end_date !== null) {
        if (this.dataReminder.end_date < date) {
          this.dataReminder.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    // eslint-disable-next-line
    'dataReminder.end_date': function (date) {
      if (this.dataReminder.start_date > date) {
        this.dataReminder.start_date = date;
      }
      this.restrictDate(date, 'from');
    },
    reminder_detail(val) {
      this.selected_data_employee = [];
      this.dataReminder = {
        name: val.name,
        time: val.time.length > 5 ? val.time.substring(0, val.time.length - 3) : val.time,
        is_exclude_holiday: val.is_exclude_holiday,
        description: val.description,
        end_date: val.end_date,
        start_date: val.start_date,
        company_users: [],
      };
      this.set_days_default = val.days;
      setTimeout(() => {
        this.$refs.multiCheck.setDefaultID();
      }, 500);
      this.$refs.multiCheck.setDefaultID();

      if (this.mode === 'edit' && this.listEmployee.length > 0) {
        this.selected_data_employee = [];
        val.company_users.forEach((el) => {
          const employeeSelected = this.listEmployee.find(f => f.id === el.user_company_id);
          if (employeeSelected) {
            this.selected_data_employee.push(employeeSelected);
          }
        });
      }
    },
    employee_list(data) {
      this.listEmployee = [];
      data.forEach((el) => {
        this.listEmployee.push({
          id: el.user_company_id,
          text: `${el.first_name} ${el.last_name} (${el.group_name})`,
          group_id: el.group_id,
          group_name: el.group_name,
        });
      });

      if (this.mode === 'edit' && this.reminder_detail) {
        this.selected_data_employee = [];
        this.reminder_detail.company_users.forEach((el) => {
          const employeeSelected = this.listEmployee.find(f => f.id === el.user_company_id);
          if (employeeSelected) {
            this.selected_data_employee.push(employeeSelected);
          }
        });
      }
    },
    team_list(data) {
      this.listTeam = [];
      data.forEach((el) => {
        this.listTeam.push({
          id: el.id,
          text: el.title,
        });
      });
      // if (this.mode === 'edit') {};
    },
    selected_data_employee(val) {
      this.dontChange = true;
      if (val && val.length > 0) {
        const groupId = val.map(e => (e.group_id));
        const teamSelected = this.listTeam.filter(f => groupId.includes(f.id));
        this.selected_data_team = teamSelected;
      }
      if (val && val.length === 0) {
        this.selected_data_team = [];
      }
      setTimeout(() => {
        this.dontChange = false;
      }, 500);
    },
    selected_data_team(val) {
      if (val && val.length > 0 && !this.dontChange) {
        const groupId = val.map(e => (e.id));
        const employeeSelected = this.listEmployee.filter(f => groupId.includes(f.group_id));
        this.selected_data_employee = employeeSelected;
      }
      if (val && val.length === 0 && !this.dontChange) {
        this.selected_data_employee = [];
      }
    },
    formId(val) {
      if (val > 0) {
        if (this.mode === 'edit') {
          const params = {
            announcement: {
              id: val,
            },
          };
          this.actionGetReminderDetail(params);

          this.title.main_title = 'Edit Reminder';
        }
      } else {
        this.title.main_title = 'Create Reminder';
        setTimeout(() => {
          this.$v.dataReminder.$reset();
          this.dataReminder.days = this.set_days_default;
        }, 1000);
      }

      const params = {
        pagination: {
          limit: 0,
          page: 1,
          column: 'id',
          ascending: false,
          query: '',
        },
      };
      this.actionGetTeam(params);
      this.actionGetEmployee(params);
    },
  },
  created() {
    if (this.mode === 'edit') {
      const params = {
        announcement: {
          id: this.formId,
        },
      };
      this.actionGetReminderDetail(params);
    }

    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
    };
    this.actionGetTeam(params);
    this.actionGetEmployee(params);
  },
  mounted() {
    if (this.mode === 'create') {
      this.set_days_default = this.weekdays;
      this.$refs.multiCheck.setDefaultID();
    }
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetTeam', 'actionGetEmployee', 'actionGetReminderDetail', 'actionCreateReminder', 'actionUpdateReminder', 'actionDeleteReminder']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.start_date_disabled.ranges = [{
          from: this.dataReminder.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataReminder.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.start_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.dataReminder.start_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    selectAllEmployee() {
      this.selected_data_employee = [...this.listEmployee];
    },
    unselectAllEmployee() {
      this.selected_data_employee = [];
    },
    selectAllTeam() {
      this.selected_data_team = [...this.listTeam];
      this.selected_data_employee = [...this.listEmployee];
    },
    unselectAllTeam() {
      this.selected_data_team = [];
    },
    getDataDays(val) {
      this.dataReminder.days = val.data_id;
    },
    async submitRecord() {
      this.$v.dataReminder.$touch();
      if (!this.$v.dataReminder.$error) {
        let res;
        if (this.mode === 'create') {
          this.dataReminder.company_users = this.selected_data_employee.map(el => (el.id));
          res = await this.actionCreateReminder(this.dataReminder);
        } else {
          this.dataReminder.id = this.formId;

          const companyUser = [];
          this.selected_data_employee.forEach((e) => {
            const data = this.reminder_detail.company_users.find(f => f.user_company_id === e.id);
            if (data) {
              data.is_delete = false;
              companyUser.push(data);
            } else {
              companyUser.push({
                id: 0,
                is_delete: false,
                user_company_id: e.id,
                announcement_id: this.formId,
              });
            }
          });
          this.reminder_detail.company_users.forEach((e) => {
            const data = this.selected_data_employee.find(f => f.id === e.user_company_id);
            if (!data) {
              e.is_delete = true;
              companyUser.push(e);
            }
          });
          this.dataReminder.company_users = companyUser;
          res = await this.actionUpdateReminder(this.dataReminder);
        }

        if (!res.error) {
          this.dataReminder = {
            name: '',
            description: '',
            time: '',
            days: [],
            start_date: null,
            end_date: null,
            is_exclude_holiday: false,
            company_users: [],
          };

          this.$v.dataReminder.$reset();
          this.closeModal();
          this.refreshTable();
        }
      }
    },
    submit() {
      if (this.mode === 'edit') {
        this.updateRecord();
      } else {
        this.submitRecord();
      }
    },
    updateRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to update reminder 
        "<strong class="blue">${this.dataReminder.name}</strong>"?`,
        showCancelButton: true,
        cancelButtonColor: '#d33',
        imageUrl: this.confirmImg,
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            this.submitRecord();
          }
        }
      });
    },
    deleteRecord() {
      this.$swal({
        title: 'Confirmation',
        html: `Are you sure want to delete reminder 
        "<strong class="blue">${this.dataReminder.name}</strong>"?`,
        showCancelButton: true,
        imageUrl: this.confirmImg,
        cancelButtonColor: '#d33',
        reverseButtons: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            const params = {
              announcements: [
                {
                  id: Number(this.formId),
                },
              ],
            };
            await this.actionDeleteReminder(params);
            this.closeModal();
            this.refreshTable();
          }
        }
      });
    },
    closeModal() {
      this.$v.dataReminder.$reset();
      this.dataReminder = {
        name: '',
        description: '',
        time: '',
        days: [],
        start_date: null,
        end_date: null,
        is_exclude_holiday: false,
        company_users: [],
      };
      this.selected_data_team = [];
      this.selected_data_employee = [];
      this.$emit('close');
    },
    refreshTable() {
      this.$emit('refresh');
    },
  },
};
</script>

<style lang="scss">
  #reminder-form-update {
    .custom-control {
      padding-left: 5px !important;
    }

    .jToggleContainer {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
    }
  }
</style>
