<template>
  <div>
    <div>
      <gmap-autocomplete
        ref="autocomplete"
        :disabled="isAutoCompleteDisable"
        :placeholder="placeholder"
        class="jFormGroup form-control"
        @input="valueInput($event.target.value)"
        @place_changed="setPlace"/>
    </div>
    <br>
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="defaultZoom"
      style="width:100%;  height: 400px;">
      <gmap-marker
        v-for="(m, index) in markers"
        :key="index"
        :clickable="true"
        :draggable="draggableMarker"
        :position="m.position"
        @dragend="updateMarkerCoordinates"
        @click="center=m.position"/>
      <gmap-info-window
        :options="infoOptions"
        :position="infoWindowPos"
        :opened="infoWinOpen"
        @closeclick="infoWinOpen=false">
        <div v-html="infoContent"/>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>
<script>
import { gmapApi } from 'vue2-google-maps';

export default {
  name: 'GoogleMap',
  props: {
    placeholder: {
      type: String,
      default: 'Enter a location',
    },
    draggableMarker: {
      type: Boolean,
      default: true,
    },
    isAutoCompleteDisable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      map: null,
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      // places: [],
      currentPlace: null,
      defaultZoom: 17,
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0,
      },
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
    };
  },
  computed: {
    google: gmapApi,
  },
  mounted() {
    this.$refs.gmap.$mapPromise.then((map) => {
      this.map = map;
      this.geolocate(map);
    });
  },
  methods: {
    valueInput(val) {
      if (!val.length) {
        this.$emit('place_changed', {});
      }
    },
    setValueInput(value) {
      this.$refs.autocomplete.$el.value = value;
    },
    setPlace(place) {
      this.currentPlace = place;
      const pos = {
        lat: this.currentPlace.geometry.location.lat(),
        lng: this.currentPlace.geometry.location.lng(),
      };
      this.setMarker(pos);
      this.center = pos;

      this.setInfoWindow(pos, place.formatted_address);
      this.infoWinOpen = true;

      this.$emit('place_changed', place);
    },
    setInfoWindow(position, content) {
      this.infoWindowPos = position;
      this.infoContent = content;
    },
    setMarker(position) {
      this.markers = [{ position }];
    },
    updateMarkerCoordinates(location) {
      const coordinates = {
        lat: location.latLng.lat(),
        lng: location.latLng.lng(),
      };
      this.geocodeLatLng(coordinates, this.map);
    },
    geocodeLatLng(pos, map) {
      // eslint-disable-next-line
      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ location: pos }, (results, status) => {
        if (status === 'OK') {
          if (results[0]) {
            map.setZoom(this.defaultZoom);
            this.center = pos;
            this.setMarker(pos);
            const place = results[0];
            this.$emit('place_changed', place);
            this.setValueInput(place.formatted_address);
            this.setInfoWindow(pos, place.formatted_address);
            this.infoWinOpen = true;
          } else {
            // eslint-disable-next-line
            window.alert('No result found');
          }
        } else {
          // eslint-disable-next-line
          window.alert(`Geocoder fail due to: ${status}`);
        }
      });
    },
    geolocate(map) {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          this.geocodeLatLng(pos, map);
        });
      } else {
        // eslint-disable-next-line
        alert('Browser doesnt support geolocation');
      }
    },
  },
};
</script>

<style lang="scss">
    .pac-container {
      z-index: 1100;
    }
</style>
