<template>
  <div class="scroll-wrapper ">
    <div class="scroll-wrapper scroll-content">
      <div class="box-content-container">
        <div class="row timeline node-activity">
          <div class="col-md-12 node-container">
            <div
              v-for="i in data"
              :key="i.id"
              :class="`col-xs-12 node child ${i.action}`">
              <div class="row">
                <div class="col-3 pr-0">
                  <div class="round-node"/>
                  <div class="ver-line"/>
                </div>
                <div class="col-9 pl-0">
                  <div :class="`no-margin ${i.action}`">{{ i.message }}</div>
                  <div class="no-margin f-10 italic">{{ i.date_time }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JActivityTimeLine',
  props: {
    data: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  created() {
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
.container {
  padding: 0 5px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

// .ellipsis {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: 250px;
    max-width: none !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.no-margin{
  margin:0;
}

.f-10{
  font-size: 10pt;
}

.timeline .node-container .child .round-node{
    float: left;
    width: 20px;
    height: 20px;
    background-size: 20px;
    border: 2px solid;
    padding: 2px;
    border-radius: 100%;
    object-fit : cover;
    border-color: #808285;
}

.timeline .node-container .child .ver-line{
    float: left;
    position: relative;
    height: 60%;
    background-size: 20px;
    border-left: 2px solid;
    -o-object-fit: cover;
    object-fit: cover;
    border-color: #808285;
    left: -11px;
    top: 25px;
}

.timeline .node-container .child.stop .round-node,
.timeline .node-container .child.stop .ver-line {
    border-color: #D2232A;
}

.timeline .node-container .child.pause .round-node,
.timeline .node-container .child.pause .ver-line{
    border-color: #41AD49;
}

.timeline .node-container .child.start .round-node{
    border-color: #808285;
}

.timeline .node-container .child.start .ver-line{
  border: 1px;
    border-style: dashed;
}

.timeline .node-container .child .stop{
    color: #D2232A;
    font-weight: 900;
    font-size: 0.8rem;
}

.timeline .node-container .child .pause{
    color: #41AD49;
    font-weight: 900;
    font-size: 0.8rem;
}

.timeline .node-container .child .start{
    color: #808285;
    font-weight: 900;
    font-size: 0.8rem;
}

.node-container {
    padding: 20px;
}

.timeline.node-activity .node {
    margin-bottom: 15px;
    padding-left: 0px;
}

.timeline .node {
    margin-bottom: 10px;
    padding-left: 16px;
}

.timeline .node-container .child:last-child  .ver-line {
    border: none;
}
</style>
