<template>
  <div class="jTask">
    <b-row>
      <b-col cols="9">
        <h3>Task Detail</h3>
        <hr style="margin-top:0">
        <b-row>
          <b-col cols="12">
            <div class="m__b--20">
              <b-form-group>
                <label for="">Project Name</label>
                <h6
                  for="project_name"
                  class="form-control"
                  style="background: #e9ecef;">
                  {{ project_name }}
                </h6>
              </b-form-group>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <b-form-group :class="{'error-input': $v.selected_task.$error}">
              <label for="">Task Name</label>
              <j-single-select
                v-model="selected_task"
                :options="data_task_list"
                :disabled="true"
                value-format="object"
              />
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group>
              <label for="">Due Date</label>
              <h6
                for="due_date"
                class="form-control"
                style="background: #e9ecef;">
                {{ expired_date }}
              </h6>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <label for="">Start Date</label>
              <h6
                for="start_date"
                class="form-control"
                style="background: #e9ecef;">
                {{ start_date }}
              </h6>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group>
              <label for="">End Date</label>
              <h6
                for="end_date"
                class="form-control ellipsis"
                style="background: #e9ecef;">
                {{ end_date }}
              </h6>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="m__b--20">
          <b-col cols="3">
            <div>
              <b-form-group>
                <label for="duration_plan">Duration Plan</label>
                <span class="duration form-control">
                  {{ duration_plan }}
                </span>
              </b-form-group>
            </div>
          </b-col>
          <b-col cols="3">
            <div>
              <b-form-group>
                <label for="time_remaining">Time Remaining</label>
                <span class="duration form-control">
                  {{ time_remaining }}
                </span>
              </b-form-group>
            </div>
          </b-col>
          <b-col cols="2">
            <div>
              <b-form-group>
                <label for="start_timer">Start Timer</label>
                <span class="duration form-control">
                  {{ start_time }}
                </span>
              </b-form-group>
            </div>
          </b-col>
          <b-col cols="2">
            <div>
              <b-form-group>
                <label for="end_time">End Timer</label>
                <span class="duration ellipsis form-control">
                  {{ end_time }}
                </span>
              </b-form-group>
            </div>
          </b-col>
          <b-col cols="2">
            <b-form-group>
              <div>
                <label
                  for="task"
                  class="m__b--0">Task Timer</label>
              </div>
              <b-row>
                <b-col cols="12">
                  <h5 class="time ">{{ time }}</h5>
                </b-col>
              <!-- <b-col
                cols="2"
                style="padding:0">
                <b-form-group>
                  <b-button
                    id="start-pause"
                    :hidden="is_button_hidden || !is_detail"
                    class="btn blue btn-circle"
                    @click="toggleStatus">
                    <i
                      :class="icon"
                      style="color:white"/>
                  </b-button>
                </b-form-group>
              </b-col> -->
              </b-row>
            </b-form-group>
            <!-- <b-row>
              <b-col
                v-for="(data, index) in available_swimlane"
                :key="index"
                sm="12"
                md="6">
                <div>
                  <b-form-group>
                    <b-button
                      :hidden="!running && !show_button_swimlane"
                      :class="`btn ${index == 1 ? `blue`: `grey`} f-button w-100`"
                      @click="confirmationModal(selected_task.label, data.action, data.name)">
                      {{ data.name }}
                    </b-button>
                  </b-form-group>
                </div>
              </b-col>
            </b-row> -->
          </b-col>
        </b-row>
        <div
          v-if="show_additional_info"
          class="m__t--25">
          <div
            v-for="(data, index) in list_record"
            :key="index"
            class="m__t--20">
            <label style="font-size: 16px">{{ data_record.name }}</label>
            <i
              v-b-toggle="'add-data'+index"
              class="fa fa-angle-down"/>
            <j-collapse
              :id="'add-data'+index"
              :visible="false">
              <b-card
                class="m__b--20">
                <div>
                  <j-form-base
                    :ref="String(index+'_jFormUpdate')"
                    :data-fields="data.form"
                    :is-detail="true"
                    :is-disabled="running ? false : true"/>

                  <div class="float-right">
                    <b-button
                      v-if="running"
                      class="btn blue"
                      @click="updateAdditionalData(index)">
                      Update
                    </b-button>
                  </div>
                </div>
              </b-card>
            </j-collapse>

          </div>
          <div
            v-if="show_create_form"
            class="m__t--20">
            <h4>New Additional Data</h4>
            <b-card>
              <j-form-base
                ref="jFormCreate"
                :data-fields = "fieldList"/>

              <div class="float-right">
                <b-button
                  v-if="running"
                  class="btn blue"
                  @click="submitAdditionalData">
                  Submit
                </b-button>
                <b-button
                  v-if="running"
                  class="btn grey"
                  @click="show_create_form = false">
                  Cancel
                </b-button>
              </div>
            </b-card>
          </div>
          <b-row
            v-if="(running && !show_create_form) || data_task.action_status === 1"
            class="m__t--20">
            <b-col>
              <a
                class="bolder btn-add-additional-info"
                @click="buttonCreateAdditional()">
                + Additional Data
              </a>
            </b-col>
          </b-row>
        </div>
        <br>

        <b-button
          class="btn grey m__b--20"
          @click="back()">
          Back
        </b-button>
        <!--  <b-button
          :hidden="is_button_hidden || !is_detail"
          class="btn blue"
          @click="confirmationModal(selected_task.label, 'stop')">
          Finish
        </b-button> -->
      </b-col>
      <b-col
        :hidden="!is_detail"
        md="3"
        sm="6"
        cols="12">
        <b-row>
          <b-col
            md="12"
            sm="12"
            cols="12">
            <div>
              <i class="fa fa-calendar"/>
              Log
            </div>
            <hr class="m__t--11">
            <j-activity-timeline
              :data="logs_array"
            />
          </b-col>
          <b-col
            class="mt-4"
            md="12"
            sm="12"
            cols="12">
            <div>
              <i class="fa fa-calendar"/>
              Log Approval
            </div>
            <hr class="m__t--11">
            <j-timeline
              :datas="data_approval_logs"
              :data="data_approval_logs"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jFormBase from './jFormBase';
import jActivityTimeline from './jActivityTimeline';

export default {
  validations() {
    return {
      selected_task: { required },
    };
  },
  components: {
    jFormBase,
    jActivityTimeline,
  },
  data() {
    return {
      data_task: {
        id: 0,
        action_status: 0,
        date: new Date().toISOString().substring(0, 10),
        duration: 0,
        end_date_time: 0,
        local_id: 0,
        notes: '',
        project_id: 0,
        project_name: '',
        start_date_time: 0,
        status: 'draft',
        task_name: '',
        task_project_id: 0,
        timezone: 'Asia/Jakarta',
        updated_time: 0,
      },
      task_params: {
        id: 0,
        action_status: 0,
        date: new Date().toISOString().substring(0, 10),
        duration: 0,
        end_date_time: 0,
        local_id: 0,
        notes: '',
        project_id: 0,
        project_name: '',
        start_date_time: 0,
        status: 'draft',
        task_name: '',
        task_project_id: 0,
        timezone: 'Asia/Jakarta',
        updated_time: 0,
        swimlane_id: 0,
      },
      selected_task: null,
      project_name: '',
      clock_loop: null,
      running: false,
      icon: 'fa fa-play',
      time: '00:00:00',
      start_time: '',
      end_time: '',
      is_detail: false,
      is_button_hidden: false,
      logs_array: [],
      logs_approved_array: [],
      // Record
      fieldList: [],
      show_create_form: false,
      show_update_form: false,
      show_additional_info: false,
      data_form: null,
      data_record: null,
      list_record: [],
      // for countdown
      notes: '',
      start_date: '',
      end_date: '',
      expired_date: '',
      duration_plan_milis: null,
      duration_plan: '0 H',
      time_remaining: '',
      // swimlane
      swimlane: [],
      selected_swimlane: [],
      available_swimlane: [],
      // show_button_swimlane: false,
    };
  },
  computed: {
    ...mapState('jStoreTimesheetClaimerCreate', ['data_task_list_by_date', 'data_task_list', 'success_update', 'error_update', 'field_list', 'field_list_update', 'data_task_new', 'data_logs', 'project_swimlane', 'data_approval_logs']),
    ...mapState('jStoreTimesheetConfigTaskProject', ['project_data']),
  },
  watch: {
    // eslint-disable-next-line func-names
    // 'project_data.detail_project': function (res) {
    //   if (res.length) {
    //     const data = this.is_detail ? this.data_task.task_project_id : this.selected_task.id;
    //     const dataDuration = res.filter(el =>
    //       Number(el.id) === Number(data),
    //     );

    //     this.duration_plan_milis = Number(dataDuration[0].setting[1].value);
    //     this.expired_date = dataDuration[0].expired_date ?
    //       new Date(dataDuration[0].expired_date).toLocaleDateString() : '';
    //     this.duration_plan = this.milisToClock(this.duration_plan_milis, 'duration_plan');
    //     this.project_name = dataDuration[0].project_name;

    //     if (this.time !== '00:00:00') {
    //       this.countDownTimer(this.data_task.duration, this.duration_plan_milis);
    //     }
    //   }
    // },
    data_logs(val) {
      this.logs_array = val.data.map((e) => {
        const message = new Date(e.updated_time).toLocaleString().split(',');

        let actionMessage = '';
        let actionString = '';

        if (e.action === 1 && e.swimlane_id === e.previous_swimlane_id) {
          actionMessage = 'Time start';
          actionString = 'start';
        } else if (e.action === 1 && e.swimlane_id !== e.previous_swimlane_id) {
          actionMessage = `Moved from ${e.previous_swimlane_name} to ${e.swimlane_name} (Start)`;
          actionString = 'start';
        } else if (e.action === 2 && e.swimlane_id === e.previous_swimlane_id) {
          actionMessage = 'Time pause';
          actionString = 'pause';
        } else if (e.action === 2 && e.swimlane_id !== e.previous_swimlane_id) {
          actionMessage = `Move to ${e.swimlane_name} (Pause)`;
          actionString = 'pause';
        } else if (e.action === 3) {
          actionMessage = `Moved from ${e.previous_swimlane_name} to ${e.swimlane_name} (Stop)`;
          actionString = 'stop';
        }
        const messageAction = `${actionMessage} ${message[1]}`;
        return {
          action: actionString,
          status: e.status,
          note: e.note,
          message: messageAction,
          date_time: `Updated on ${message[0]}`,
        };
      });
    },

    field_list(data) {
      if (data.additional_info) {
        this.data_form = {
          id: data.id,
          name: data.name,
          description: data.description,
        };
        this.fieldList = data.additional_info;
        this.show_create_form = true;
      }
    },

    field_list_update(data) {
      if ((window.location.href.indexOf('/claimer/detail/task') !== -1) &&
            (typeof data.additional_data === 'undefined') && !this.running) {
        this.show_additional_info = false;
      }
      this.data_record = {
        id: data.task_id ? data.task_id : 0,
        name: data.form_name ? data.form_name : '',
        description: data.description ? data.description : '',
      };
      this.list_record = data.additional_data ? data.additional_data : [];
      this.show_additional_info = true;
    },

    // selected_task(data) {
    //   this.getProjectDetail({ project_id:
    //       Number(data.project_id),
    //   });
    //   if (!this.is_detail) {
    //     this.confirmationModal(this.selected_task.label, 'create');
    //   }
    //   this.getSwimlane(data.project_id);
    // },

    success_update(val) {
      // prevent mutate vuex directly
      this.data_task = { ...val };
      this.getTaskLog({ task_id: Number(this.data_task.id) });
    },

    data_task_new(data) {
      this.getForm({ task_id: data.id });
      this.show_additional_info = true;
    },

    project_swimlane(data) {
      this.swimlane = data.map(el => (
        { ...el }));

      if (window.location.href.indexOf('/claimer/detail/task') !== -1) {
        this.selected_swimlane = this.swimlane.filter(el =>
          el.id === Number(this.data_task.swimlane_id),
        );

        this.available_swimlane = this.swimlane.filter(el =>
          el.order !== Number(this.selected_swimlane[0].order),
        );

        if (this.selected_swimlane[0].action === this.data_task.action_status) {
          this.setAvailableSwimlane(this.selected_swimlane[0], this.data_task);
        }
      }
    },

    time(data) {
      if (this.duration_plan_milis) {
        this.countDownTimer(data, this.duration_plan_milis);
      }
    },
  },

  created() {
    this.getListTask();

    if (window.location.href.indexOf('/claimer/detail/task') !== -1) {
      const milis = Number(window.location.href.split('/').slice(-2)[0]);
      const timesheetId = localStorage.getItem('timesheet_active_id');
      this.getListTaskByOrganigram({
        date: this.$moment(milis).format('YYYY-MM-DD'),
        user_company_id: localStorage.getItem('user_company_id'),
        show_all: true },
      ).then(() => {
        this.getTaskLog({ task_id: Number(this.$route.params.id) });
        this.getLogApproval({ id: timesheetId });
        this.task_title = 'Detail Task';
        const dataDetail = this.data_task_list_by_date.filter(el =>
          el.id === Number(this.$route.params.id),
        );
        this.setDataTaskTimesheet(dataDetail[0]);
        this.getForm({ task_id: Number(this.$route.params.id) });
        this.show_additional_info = true;
      });
    }
  },

  methods: {
    ...mapActions('jStoreTimesheetClaimerCreate', ['getListTask', 'getListTaskByDate', 'update', 'getFormByTaskId',
      'getForm', 'createAdditionalData', 'getTaskLog', 'getProjectSwimlane', 'updateNotes', 'getListTaskByOrganigram', 'getLogApproval']),

    ...mapActions('jStoreTimesheetConfigTaskProject', ['getProjectDetail']),

    submitAdditionalData() {
      if (!this.$refs.jFormCreate.validateForm()) {
        this.$refs.jFormCreate.getData().then((params) => {
          const data = {
            task_id: this.data_record.id,
            form_name: this.data_form.name,
            description: this.data_form.description,
            additional_data: [params],
          };
          this.createAdditionalData(data);
          this.show_create_form = false;
          this.show_additional_info = false;
          this.list_record = [];
        });
      }
    },

    updateAdditionalData(index) {
      // eslint-disable-next-line
      if (!this.$refs[index+'_jFormUpdate'][0].validateForm()) {
        // eslint-disable-next-line
        this.$refs[index+'_jFormUpdate'][0].getData().then((params) => {
          const data = {
            task_id: this.data_record.id,
            form_name: this.data_record.name,
            description: this.data_record.description,
            additional_data: [params],
          };
          this.createAdditionalData(data);
          this.show_additional_info = false;
          this.list_record = [];
        });
      }
    },

    buttonCreateAdditional() {
      this.getFormByTaskId({ task_project_id: this.data_task.task_project_id });
    },

    back() {
      // window.history.back();
      this.$router.go(-1);
    },

    setDataTaskTimesheet(data) {
      this.selected_task = {
        id: data.id,
        label: data.task_name,
        project_id: data.project_id,
      };
      // prevent mutate vuex directly
      this.data_task = { ...data };
      this.is_detail = true;
      this.start_time = this.$moment(data.start_date_time).format('HH:mm');
      this.end_time = data.end_date_time ? this.$moment(data.end_date_time).format('HH:mm') : 'Still Running';
      this.time = this.$moment.utc(data.duration).format('HH:mm:ss');
      this.project_name = data.project_name;

      this.start_date = new Date(data.start_date_time).toLocaleDateString();
      this.end_date = data.end_date_time ? new Date(data.end_date_time).toLocaleDateString() : 'Still Running';
      this.notes = data.notes;

      if (data.status === 'draft') {
        if (data.action_status === 1) {
          this.icon = 'fa fa-pause';
          this.start();
        } else {
          this.icon = 'fa fa-play';
        }
      } else if (data.status === 'stop') {
        this.is_button_hidden = true;
      }
      this.duration_plan_milis = Number(data.plan_duration);
      this.expired_date = new Date(data.due_date).toLocaleDateString();
      this.duration_plan = this.milisToClock(this.duration_plan_milis, 'duration_plan');
      if (this.time !== '00:00:00') {
        this.countDownTimer(data.duration, this.duration_plan_milis);
      }
    },

    // updateTask(status, swimlaneAction) {
    //   if (status === 'create') {
    //     this.task_params.id = 0;
    //     this.task_params.action_status = 1;
    //     this.task_params.start_date_time = new Date().getTime();
    //     this.task_params.updated_time = new Date().getTime();
    //     this.task_params.project_id = this.selected_task.project_id;
    //     this.task_params.project_name = this.selected_task.project_name;
    //     this.task_params.task_name = this.selected_task.label;
    //     this.task_params.task_project_id = this.selected_task.task_project_id;
    //     this.task_params.local_id = new Date().getTime();

    //     this.task_params.swimlane_id = this.getSelectedSwimlane(this.task_params.action_status);
    //     // NOTED
    //     this.start_date = new Date().toLocaleDateString();
    //     this.end_date = 'Still Running';

    //     // change start time form
    //     this.start_time = this.$moment(new Date().getTime()).format('HH:mm');
    //     this.end_time = 'Still Running';
    //     // preparing data_task for clockRunning
    //     this.data_task = {
    //       duration: 0,
    //       updated_time: new Date().getTime(),
    //     };
    //     this.is_detail = true;
    //     this.icon = 'fa fa-pause';
    //     this.start();

    //     this.update(this.task_params).then(() => {
    //       if (!this.error_update.error) {
    //         this.$swal(
    //           'Time Started!',
    //           'Your task has been started.',
    //         );
    //       } else {
    //         this.start_time = '';
    //         this.is_button_hidden = true;
    //         this.icon = 'fa fa-play';
    //         this.stop();
    //         this.$store.dispatch('jStoreNotificationScreen/toggleProblem', this.error_update.message);
    //       }
    //     });
    //   } else if (status === 'start') {
    //     this.task_params = this.data_task;
    //     this.task_params.action_status = 1;
    //     this.task_params.updated_time = new Date().getTime();

    //     if (swimlaneAction === 1) {
    //       this.task_params.swimlane_id = this.getSelectedSwimlane(this.task_params.action_status);
    //       this.icon = 'fa fa-pause';
    //       this.is_button_hidden = false;
    //       this.start();
    //     }
    //     this.update(this.task_params);
    //   } else if (status === 'pause') {
    //     this.task_params = this.data_task;
    //     delete this.task_params.swimlane_id;
    //     this.task_params.action_status = 2;
    //     this.task_params.duration = this.data_task.duration +
    //       (new Date().getTime() - this.data_task.updated_time);
    //     this.task_params.updated_time = new Date().getTime();

    //     if (swimlaneAction === 2) {
    //       this.task_params.swimlane_id = this.getSelectedSwimlane(this.task_params.action_status);
    //       this.icon = 'fa fa-play';
    //       this.is_button_hidden = true;
    //       this.stop();
    //       this.setAvailableSwimlane(this.selected_swimlane[0], this.task_params);
    //     }
    //     this.update(this.task_params);
    //   } else if (status === 'stop') {
    //     this.task_params = this.data_task;
    //     this.task_params.action_status = 3;
    //     // if time is running
    //     if (this.running) {
    //       this.task_params.duration = this.data_task.duration +
    //       (new Date().getTime() - this.data_task.updated_time);
    //     } else {
    //     // if time is paused
    //       this.task_params.duration = this.data_task.duration;
    //     }
    //     this.task_params.updated_time = new Date().getTime();
    //     this.task_params.end_date_time = new Date().getTime();
    //     this.task_params.swimlane_id = this.getSelectedSwimlane(this.task_params.action_status);
    //     this.task_params.status = 'stop';

    //     // change end time form
    //     this.end_time = this.$moment(new Date().getTime()).format('HH:mm');
    //     this.is_button_hidden = true;
    //     this.icon = 'fa fa-play';
    //     this.stop();

    //     this.update(this.task_params).then(() => {
    //       setTimeout(() => {
    //         window.location.href = '#/timesheet/claimer/create';
    //       }, 1000);
    //     });
    //   } else if (status === 'note') {
    //     this.task_params = this.data_task;
    //     this.task_params.notes = this.notes;

    //     this.updateNotes(this.task_params);
    //   }
    // },

    getSwimlane(data) {
      this.getProjectSwimlane(
        {
          pagination: {
            limit: 0,
            page: 1,
            column: 'id',
            ascending: true,
            query: '',
          },
          project_id: Number(data),
        },
      );
    },

    getSelectedSwimlane(status) {
      this.selected_swimlane = this.swimlane.filter(el =>
        el.action === status,
      );

      this.available_swimlane = this.swimlane.filter(el =>
        el.order !== this.selected_swimlane[0].order,
      );

      return this.selected_swimlane[0].id;
    },

    setAvailableSwimlane(selectedSwimlane, dataTask) {
      if (dataTask.action_status === 3) {
        this.show_button_swimlane = false;
      } else {
        // hide button for backlog
        if (selectedSwimlane.order === 1) {
          this.is_button_hidden = true;
        } else {
          this.is_button_hidden = false;
        }
        this.show_button_swimlane = true;
        const currentOrder = selectedSwimlane.order;
        this.available_swimlane = this.available_swimlane.filter((el) => {
          if (currentOrder === 1) {
            return el.order === (currentOrder + 1);
          }
          return el.order >= (currentOrder - 1) && el.order <= (currentOrder + 1);
        });
      }
    },

    confirmationModal(data, status, btnName = null) {
      const buttonName = !btnName ? `${status.charAt(0).toUpperCase() +
      status.substring(1)} Timer` : btnName;

      let statusModal = '';
      if (status === 'create') {
        statusModal = 'start';
      } else if (status === 'pause') {
        statusModal = 'pause';
      } else if (status === 'stop') {
        statusModal = 'stop';
      } else {
        statusModal = `move to ${buttonName}`;
      }

      this.$swal({
        title: `Do you want to ${statusModal} this ${data}?`,
        text: `Task will moved if you press '${buttonName}'`,
        showCancelButton: true,
        confirmButtonText: `${buttonName}`,
        cancelButtonText: 'No',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          if (status === 'create' || status === 1) {
            if (status === 1) {
              this.updateTask('start', status);
            } else {
              this.updateTask('create', status);
            }
          } else if (status === 'pause' || status === 2) {
            this.updateTask('pause', status);
          } else if (status === 'stop' || status === 3) {
            this.updateTask('stop');
          }
        }
      });
    },

    toggleStatus() {
      // if stop
      if (this.icon === 'fa fa-pause') {
        this.updateTask('pause');
        this.icon = 'fa fa-play';
        this.stop();
      } else {
        // if start
        this.updateTask('start');
        this.icon = 'fa fa-pause';
        this.start();
      }
    },

    start() {
      if (this.running) return;

      this.clock_loop = setInterval(this.clockRunning, 10);
      this.running = true;
    },

    stop() {
      this.running = false;
      clearInterval(this.clock_loop);
    },

    clockRunning() {
      let timeElapsed = 0;

      if (this.is_detail) {
        timeElapsed = this.data_task.duration +
          (new Date().getTime() - this.data_task.updated_time);
      } else {
        timeElapsed = new Date().getTime() - this.task_params.updated_time;
      }

      this.time = this.$moment.utc(timeElapsed).format('HH:mm:ss');
    },
    countDownTimer(taskTimer, durationPlan) {
      let timeRemain = Number(this.$moment.duration(taskTimer).asSeconds()) * 1000;
      timeRemain = typeof taskTimer === 'string' ? timeRemain : taskTimer;

      if (durationPlan > 0) {
        const diffTime = Number(durationPlan) - Number(timeRemain);
        if (Math.sign(diffTime) === 1) {
          this.time_remaining = this.milisToClock(diffTime);
        } else {
          this.time_remaining = '0H 0M';
        }
      }
    },
    milisToClock(data, type) {
      let hourFormat;
      const minutesFormat = Math.floor((data / 1000 / 60) % 60);
      if (type === 'duration_plan') {
        hourFormat = Math.floor(data / 1000 / 60 / 60);
        return `${hourFormat}H`;
      }
      hourFormat = Math.floor(data / 1000 / 60 / 60);
      return `${hourFormat}H ${minutesFormat}M`;
    },
  },
};
</script>

<style lang="scss">
.btn-circle{
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 15px;
  margin: 7px 0 4px 0;
};

h5.time{
  padding-top: 5px;
  color: #42a5ce;
  font-size: 1.7vw;
}
.duration{
  background: #e9ecef;
  font-size: 11pt;
}
.w-100{
  width: 100% !important;
}
.f-button{
  font-size: 0.75rem !important;
}
.clock-picker__input:disabled{
  cursor: default !important;
  background-color: #e9ecef !important;
  border-color: #ced4da !important;
}

.list-additional {
  background: #42a5ce;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 25px;
  cursor: pointer;
}

.jTask{
  min-width: 800px !important;
}
</style>
