<!-- eslint-disable max-len -->
<template>
  <div class="jCreateTimesheet">
    <b-row>
      <b-col
        cols="12">
        <b-row>
          <b-col>
            <template>
              <div>
                <b-row class="my-task-box m__b--40">
                  <b-col>
                    <p class="my_task">MY TASK</p>
                  </b-col>
                  <b-col>
                    <p
                      class="my_task pull_right back"
                      @click="back()">
                      <i
                        class="fa fa-arrow-left"
                        aria-hidden="true"/> BACK </p>
                  </b-col>
                </b-row>
                <!-- <h2
                  class="title_timesheet"
                  align="center">{{ title }}</h2>
                <br> -->
                <b-row>
                  <b-col>
                    <p class="title_month blue"> {{ this_month }}</p>
                  </b-col>
                </b-row>

                <br>
                <a
                  class="arrow right"
                  @click="getDayInAWeek(set_date_from_today, 'right')"><i
                    class="fa arrow-grey fa-angle-right"
                    aria-hidden="true"/></a>
                <a
                  class="arrow left"
                  @click="getDayInAWeek(set_date_from_today, 'left')"><i
                    class="fa arrow-grey fa-angle-left"
                    aria-hidden="true"/></a>
                <b-tabs
                  class="tab-timesheet m__b--60"
                  align="center"
                >
                  <template v-for="(days, index) in days_in_a_week">
                    <b-tab
                      :key="index"
                      :id="`${days.milis} `"
                      :title="days.name"
                      :active="parseInt(index, 10) === 3"
                      :disabled="dateDisabler(days)"
                      style="white-space: pre "
                      @click="taskByDate(days.milis); selectDay(days.milis) ">
                      <div>
                        <table
                          class="timesheet_table"
                          style="padding:5px;"
                          width="100%">
                          <tr>
                            <th
                              width="34%"
                              style="padding-left: 32px !important;">Task</th>
                            <th
                              width="15%"
                              style="padding-left: 15px !important;">Status</th>
                            <th width="11%">Due Date</th>
                            <th
                              class="pull_center"
                              width="13%">Plan Duration</th>
                            <th
                              class="pull_center"
                              width="12%">Task Timer</th>
                            <th
                              class="pull_center"
                              width="15%"
                              style="padding-right:25px !important"
                              colspan="3">Action</th>
                          </tr>
                          <tr
                            v-for="(value,index) in table_data"
                            :key="index"
                            :class="`list-task ${value.border}`"
                          >
                            <td
                              class="text"
                              @click="detailTask(days.milis, value)">
                              <a>
                                {{ value.task_name }}
                              </a>
                              <div
                                class="m__l--30">
                                {{ value.project_name }}
                              </div>
                            </td>
                            <td style="padding: 0 30px 0 10px;">
                              <b-form-group>
                                <j-single-select
                                  v-model="swimlane[String(value.task_project_id)][String(value.id)]"
                                  :options="value.options"
                                  :placeholder="'Select Task'"
                                  :disabled="value.is_stop || not_today"
                                  :clearable="false"
                                  class="swimlane_option"
                                  label="name"
                                  value-format="object"
                                  @select="selected($event, value)"
                                />
                              </b-form-group>
                            </td>
                            <td>{{ $moment(value.due_date).format('MMM/DD/YY') }}</td>
                            <td class="pull_center">{{ milisToClock(value.plan_duration) }}</td>
                            <td
                              :class="`pull_center ${value.action_status === 1 ? 'blue' : '' }`"
                            >{{ value.action_status !== 1 ?
                              milisToClock(value.duration) : time
                            }}</td>
                            <td
                              class="pull_right no_padding"
                              width="5%"
                            >
                              <a
                                :hidden="(value.is_stop || (not_today && value.action_status === 0)) && !value.active_task"
                                class="btn_task_action"
                                @click="confirmationModal(
                                  value.task_name,
                                  (value.icon).split('-')[1],
                                  value)">
                                <img
                                  v-if="value.action_status === 1"
                                  class="pause"
                                  src="@/assets/icon/group10Copy@3x.png"
                                  width="30"
                                  height="30">
                                <img
                                  v-else
                                  class="play"
                                  src="@/assets/icon/group8Copy4@3x.png"
                                  width="30"
                                  height="30">
                              </a>
                              <a
                                v-if="value.is_stop"
                                :class="`btn_task_action ${not_today ? 'disable' : 'change-icon'}`"
                                @click="not_today? '' : confirmationModal(
                                  value.task_name,
                                  'stop',
                                  value)">
                                <img
                                  class="stop"
                                  src="@/assets/icon/group9Copy6@3x.png"
                                  width="30"
                                  height="30">
                                <img
                                  :hidden="!value.is_stop || not_today"
                                  class="play"
                                  src="@/assets/icon/group8Copy4@3x.png"
                                  width="30"
                                  height="30">
                              </a>
                            </td>
                            <td
                              class="pull_center"
                              width="4%"
                            >
                              <a
                                :hidden="(value.is_stop || value.id === 0) && !value.active_task"
                                :class="`btn_task_action ${value.is_stop ? 'change-icon' : '' }`"
                                @click="confirmationModal(
                                  value.task_name,
                                  'stop',
                                  value)">
                                <img
                                  class="stop"
                                  src="@/assets/icon/group9Copy@3x.png"
                                  width="30"
                                  height="30">
                              </a>
                            </td>
                            <td
                              class="pull_left no_padding"
                            >
                              <!-- :hidden="(value.is_stop || not_today) || value.id === 0" -->
                              <a
                                :hidden="true"
                                class="btn_task_action"
                                @click="showModalAdditional(value)" >
                                <img
                                  class="additional_info"
                                  src="@/assets/icon/group3.png"
                                  width="30"
                                  height="30">
                              </a>
                            </td>
                            <!-- <td class="element_additional">
                              <a
                                :hidden="not_today || value.id === 0"
                                class="btn_task_action btn-circle no_padding"
                                style="background:none;color:#42a5ce;"
                                @click="showModalAdditional(value)" >
                                <i
                                  class="fa fa-plus bold"
                                  style="color:#42a5ce"/>
                              </a>
                            </td> -->
                          </tr>
                      </table></div>
                    </b-tab>
                  </template>
                </b-tabs>
            </div></template>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-modal
      ref="modalAdditionalInfo"
      class="mod-form">
      <h3 class="no_padding">Additional Data</h3>
      <hr>
      <div
        v-if="show_additional_info"
        class="m__t--5 m__l--10 additional-info-scroll-content">
        <div
          v-for="(data, index) in list_record"
          :key="index"
          class="m__t--15">
          <label style="font-size: 0.875rem">{{ data_record.name }}</label>
          <i
            v-b-toggle="'add-data'+index"
            class="fa fa-angle-down"
            @click="show_create_form = false"/>
          <j-collapse
            :id="'add-data'+index"
            :visible="false"
            class="collapse additional-info-scroll-content">
            <b-card
              class="m__b--20 m__r--5">
              <div>
                <j-form-base
                  :ref="String(index+'_jFormUpdate')"
                  :data-fields="data.form"
                  :is-detail="true"
                  :is-disabled="running ? false : true"/>

                <div class="float-right m__t--10">
                  <b-button
                    v-if="running"
                    class="btn blue"
                    @click="updateAdditionalData(index)">
                    Update
                  </b-button>
                </div>
              </div>
            </b-card>
          </j-collapse>

        </div>
        <div
          v-if="show_create_form"
          class="m__t--20 additional-info-scroll-content">
          <h4>New Additional Data</h4>
          <b-card>
            <j-form-base
              ref="jFormCreate"
              :data-fields = "fieldList"/>
            <div class="float-right m__t--20">
              <b-button
                class="btn blue"
                @click="submitAdditionalData">
                Submit
              </b-button>
              <b-button
                class="btn grey"
                @click="show_create_form = false">
                Cancel
              </b-button>
            </div>
          </b-card>
        </div>
        <b-row
          v-if="!show_create_form"
          class="m__t--20">
          <b-col>
            <a
              class="bolder btn-add-additional-info"
              @click="buttonCreateAdditional()">
              + Additional Data
            </a>
          </b-col>
        </b-row>
      </div>
      <hr>

      <b-button
        class="btn red m__t--10"
        @click="$refs.modalAdditionalInfo.hide();show_create_form = false">
        Close
      </b-button>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import jFormBase from './jFormBase';

export default {
  components: {
    jFormBase,
  },
  data() {
    return {
      // Swimlane
      table_data: [],
      running_task: {},
      swimlane: {},
      swimlane_opt: {},

      // timesheet tabs data
      is_detail: false,
      title: '',
      date_selected: 0,
      milis_today: new Date().getTime(),
      today: new Date().setHours(0, 0, 0, 0),
      middle_day_tab: new Date().getTime(),
      set_date_from_today: 0,
      days_in_a_week: [],
      user_company_id: localStorage.getItem('user_company_id'),
      today_date: new Date().toDateString().substring(4),
      this_month: '',
      not_today: false,

      // Task data
      data_task: {},
      task_params: {},
      selected_row: false,
      selected_task: null,
      project_name: '',
      clock_loop: null,
      running: false,
      icon: 'fa fa-play',
      time: '00:00:00',
      active_tab_milis: 0,

      selected_swimlane: [],
      available_swimlane: [],

      // Additional Info
      list_record: [],
      show_additional_info: false,
      show_create_form: false,
      data_record: null,
      task_selected: null,
      data_form: null,
      fieldList: [],
    };
  },
  computed: {
    ...mapState('jStoreTimesheetClaimerCreate', ['data_task_list_by_date', 'data_task_detail', 'is_still_running_task', 'organigram_id', 'success_update', 'error_update', 'field_list', 'field_list_update', 'data_task_new', 'data_logs', 'project_swimlane']),
    JPtask() {
      return {
        id: this.task_params.id,
        user_company_id: this.task_params.user_company_id,
        action_status: this.task_params.action_status,
        date: this.task_params.date,
        duration: this.task_params.duration,
        plan_duration: this.task_params.plan_duration,
        end_date_time: this.task_params.end_date_time,
        local_id: this.task_params.local_id,
        notes: this.task_params.note,
        project_id: this.task_params.project_id,
        project_name: this.task_params.project_name,
        start_date_time: this.task_params.start_date_time,
        status: this.task_params.status,
        task_name: this.task_params.task_name,
        task_project_id: this.task_params.task_project_id,
        timezone: this.task_params.timezone,
        updated_time: this.task_params.updated_time,
        swimlane_id: this.task_params.swimlane_id,
        due_date: this.task_params.due_date,
      };
    },
  },
  watch: {
    field_list_update(data) {
      this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
      this.data_record = {
        id: data.task_id ? data.task_id : 0,
        name: data.form_name ? data.form_name : '',
        description: data.description ? data.description : '',
      };

      this.list_record = data.additional_data ? data.additional_data : [];
      this.show_additional_info = true;
      this.show_create_form = false;
      this.$refs.modalAdditionalInfo.show();
    },

    field_list(data) {
      if (data.additional_info) {
        const collapseEle = document.getElementsByClassName('collapse');
        for (let i = 0; i < collapseEle.length; i += 1) {
          collapseEle[i].style.display = 'none';
        }

        this.data_form = {
          id: data.id,
          name: data.name,
          description: data.description,
        };
        this.fieldList = data.additional_info;
        this.show_create_form = true;
      }
    },

    data_task_list_by_date(data) {
      this.table_data = data.map((e) => {
        this.swimlane[e.task_project_id] = {};
        this.swimlane[e.task_project_id][e.id] = null;

        if (e.duration === 0) {
          e.already_start = false;
        } else {
          e.already_start = true;
        }

        e.active_task = false;
        e.is_stop = false;
        e.color = 'red';
        e.border = '';

        if (e.duration > e.plan_duration) {
          e.border = 'overestimated';
        }

        if (e.status === 'draft' || e.status === 'ready') {
          if (e.action_status === 1) {
            e.border = 'running_border';
            e.active_task = true;
            this.task_params = { ...e };
            this.data_task = { ...e };
            if (e.duration === 0) {
              this.time = this.$moment.utc(e.updated_time).format('HH:mm:ss');
            } else {
              this.time = this.$moment.utc(e.duration).format('HH:mm:ss');
            }

            this.start();
          }
        } else if (e.status === 'stop') {
          e.color = 'grey';
          e.is_stop = true;
        }

        this.getProjectSwimlane({
          pagination: {
            limit: 0,
            page: 1,
            column: 'id',
            ascending: true,
            query: '',
          },
          project_id: Number(e.project_id),
        });
        return {
          ...e,
        };
      });
    },
    days_in_a_week(data) {
      const tabSelector = document.getElementsByClassName('nav-item');
      for (let i = 0; i < tabSelector.length; i += 1) {
        const text = data[i].name.split(' ');
        tabSelector[i].children[0].innerHTML = `${text[0]} <br> ${text[1]}`;
        if (tabSelector[i].children[0].classList.contains('active')) {
          this.active_tab_milis = parseInt(data[i].milis, 10);
          this.thisMonth(this.active_tab_milis);
          this.taskByDate(this.active_tab_milis);
        }
      }
    },
    project_swimlane(data) {
      if (data[0]) {
        this.table_data = this.table_data.map((tableVal) => {
          const table = tableVal;
          if (tableVal.project_id === data[0].project_id) {
            table.options = data;
            this.swimlane_opt[tableVal.project_id] = data;

            if (table.swimlane_id === 0) {
              this.swimlane[table.task_project_id][table.id] = data[0];
            } else {
              const selectedSwimlane = data.filter(x => x.id === Number(table.swimlane_id));
              this.swimlane[table.task_project_id][table.id] = selectedSwimlane[0];
            }
            // Available opt
            // const currentOrder = this.swimlane[table.task_project_id].order;
            // const availableOpt = data.filter((opt) => {
            //   if (currentOrder === 1) {
            //     return opt.order === (currentOrder + 1);
            //   }
            //   return opt.order >= (currentOrder - 1) && opt.order <= (currentOrder + 1);
            // });
            // table.options = availableOpt;
          }

          if (table.action_status === 0 || table.action_status === 2) {
            table.icon = 'fa fa-play';
          } else if (table.action_status === 1) {
            table.icon = 'fa fa-pause';
          }

          return tableVal;
        });
        this.table_data = this.table_data.sort((e, f) =>
          f.updated_time - e.updated_time || this.dateToMillis(e.due_date) - this.dateToMillis(f.due_date));
      }
    },
    success_update(val) {
      // prevent mutate vuex directly
      this.data_task = { ...val };

      // Create/Rerun Task

      // if there is id 0 on taskProjectData, replace that data to the new one
      // if there is multiple data on taskProjectData, push the new data
      // Note: on multiple data, no one will have id 0
      const taskProjectIdData = this.table_data.filter(
        x => x.task_project_id === val.task_project_id);
      const zeroValue = taskProjectIdData.some(x => x.id === 0);
      const check = taskProjectIdData.some(x => x.id === val.id);
      if (!check && !zeroValue) {
        const data = {
          options: this.swimlane_opt[val.project_id],
          ...val,
        };
        this.table_data.push(data);
      }

      // Render data on table for various action
      this.table_data = this.table_data.map((tableVal) => {
        let table = tableVal;
        if (table.task_project_id === val.task_project_id) {
          if (table.id === val.id || zeroValue) {
            table = {
              options: table.options,
              ...val,
            };

            table.active_task = false;
            if (table.action_status === 0 || table.action_status === 2) {
              table.icon = 'fa fa-play';
            } else if (table.action_status === 1) {
              table.active_task = true;
              table.icon = 'fa fa-pause';
              table.border = 'running_border';
            }

            if (table.duration === 0) {
              table.already_start = false;
            } else {
              table.already_start = true;
              if (table.duration > table.plan_duration) {
                table.border = 'overestimated';
              }
            }
            table.is_stop = false;
            table.color = 'red';
            if (table.status === 'draft') {
              if (table.action_status === 1) {
                this.time = this.$moment.utc(table.duration).format('HH:mm:ss');
                this.start();
              }
            } else if (table.status === 'stop') {
              table.color = 'grey';
              table.is_stop = true;
            }

            const selectedSwimlane = this.swimlane_opt[val.project_id].filter(
              x => x.id === Number(val.swimlane_id),
            );
            this.swimlane[table.task_project_id][table.id] = selectedSwimlane[0];
          }
        } else if (table.action_status === 1) {
          this.task_params = { ...table };
          this.running = false;
          this.time = this.$moment.utc(table.duration).format('HH:mm:ss');

          this.start();
        }
        return table;
      });

      this.table_data = this.table_data.sort((e, f) =>
        f.updated_time - e.updated_time || this.dateToMillis(e.due_date) - this.dateToMillis(f.due_date));
    },
  },
  created() {
    if (window.location.href.indexOf('/timesheet/claimer/detail/') !== -1) {
      const detailDateMilis = parseInt(this.$route.params.date, 10);
      this.middle_day_tab = detailDateMilis;
      this.today_date = new Date(detailDateMilis).toDateString().substring(4);
      this.is_detail = true;
    }
    this.getModuleSetting();
    this.getDayInAWeek();
    this.thisMonth(this.days_in_a_week[3].milis);
  },
  mounted() {
    if (this.is_detail) {
      this.title = `Detail Tasks, Detail Date : ${this.today_date}`;
    } else {
      this.title = `Create Tasks, Create Date : ${this.today_date}`;
    }
  },
  updated() {
    const tabSelector = document.getElementsByClassName('nav-item');
    for (let i = 0; i < tabSelector.length; i += 1) {
      if (tabSelector[i].children[0].innerHTML.indexOf('<') === -1) {
        const text = tabSelector[i].children[0].text.split(' ');
        tabSelector[i].children[0].innerHTML = `${text[0]} <br> ${text[1]}`;
      }
    }
  },
  methods: {
    ...mapActions('jStoreTimesheetClaimerCreate', ['getListTaskByDate', 'update', 'getFormByTaskId',
      'getForm', 'createAdditionalData', 'getTaskLog', 'updateNotes', 'getRunningTask',
      'getOrgId', 'getProjectSwimlane', 'getListTaskByOrganigram']),
    ...mapActions('jStoreReportTimesheet', ['getModuleSetting']),

    back() {
      // this.$router.push('/timesheet/claimer/draft');
      this.$router.go(-1);
    },

    showModalAdditional(data) {
      this.$store.dispatch('jStoreNotificationScreen/toggleLoading', 'Please wait...');
      this.task_selected = data;
      this.getForm({ task_id: Number(data.id) });
    },

    submitAdditionalData() {
      if (!this.$refs.jFormCreate.validateForm()) {
        this.$refs.jFormCreate.getData().then((params) => {
          const data = {
            task_id: this.task_selected.id,
            form_name: this.data_form.name,
            description: this.data_form.description,
            additional_data: [params],
          };
          this.createAdditionalData(data);
          // this.$refs.modalAdditionalInfo.hide();
          this.show_create_form = false;
          this.show_additional_info = false;
          this.list_record = [];
        });
      }
    },

    buttonCreateAdditional() {
      this.getFormByTaskId({ task_project_id: this.task_selected.task_project_id });
    },

    updateAdditionalData(index) {
      // eslint-disable-next-line
      if (!this.$refs[index+'_jFormUpdate'][0].validateForm()) {
        // eslint-disable-next-line
        this.$refs[index+'_jFormUpdate'][0].getData().then((params) => {
          const data = {
            task_id: this.data_record.id,
            form_name: this.data_record.name,
            description: this.data_record.description,
            additional_data: [params],
          };
          this.createAdditionalData(data);
          this.show_additional_info = false;
          this.list_record = [];
        });
      }
    },

    selected(changeData, dataRow) {
      this.confirmationModal(dataRow.task_name, changeData.action, dataRow, changeData.name);
    },

    selectDay(selectDateMilis) {
      this.date_selected = selectDateMilis;
      this.thisMonth(selectDateMilis);
    },

    dateDisabler(data) {
      if (this.is_detail) {
        if (parseInt(data.milis, 10) === new Date(this.today_date).setHours(0, 0, 0, 0)) {
          return false;
        }
        return true;
      }
      return parseInt(data.milis, 10) > new Date().getTime();
    },

    taskByDate(data) {
      this.getListTaskByOrganigram({
        date: new Date(data + 86400000).toISOString().substring(0, 10),
        user_company_id: this.user_company_id,
        show_all: true },
      );

      this.date_selected = new Date(data).setHours(0, 0, 0, 0);
      if (this.date_selected !== new Date().setHours(0, 0, 0, 0)) {
        this.not_today = true;
      } else {
        this.not_today = false;
      }
    },

    detailTask(days, data) {
      if (data.id !== 0) {
        this.$router.push(`/timesheet/claimer/detail/task/${days}/${data.id}`);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleInfo', 'Please Create task first before see the detail !');
      }
    },

    thisMonth(date) {
      const monthDecider = new Date(date).toDateString().substring(4);
      this.this_month = `${monthDecider.substring(0, 3)} ${monthDecider.substring(7)}`;
    },

    getDayInAWeek(data, direction) {
      const weekArray = [];
      let daysCounter;
      switch (direction) {
        case 'right':
          for (let i = 0; i < 7; i += 1) {
            daysCounter = new Date().setDate(parseInt(data, 10) + i + 4);
            daysCounter = new Date(daysCounter).setHours(0, 0, 0, 0);
            const daysName = new Date(daysCounter).toDateString().substring(0, 3);
            const dateNumber = new Date(daysCounter).toDateString().substring(8, 10);
            weekArray.push({ name: `${daysName} ${dateNumber}`, date: dateNumber, milis: daysCounter });
          }
          this.days_in_a_week = [];
          this.days_in_a_week.splice(0, 7, ...weekArray);
          this.set_date_from_today = parseInt(data, 10) + 7;
          break;
        case 'left':
          for (let i = 0; i < 7; i += 1) {
            daysCounter = new Date().setDate((parseInt(data, 10) + i) - 10);
            daysCounter = new Date(daysCounter).setHours(0, 0, 0, 0);
            const daysName = new Date(daysCounter).toDateString().substring(0, 3);
            const dateNumber = new Date(daysCounter).toDateString().substring(8, 10);
            weekArray.push({ name: `${daysName} ${dateNumber}`, date: dateNumber, milis: daysCounter });
          }
          this.days_in_a_week = [];
          this.days_in_a_week.splice(0, 7, ...weekArray);
          this.set_date_from_today = parseInt(data, 10) - 7;
          break;
        default :
          for (let i = 0; i < 7; i += 1) {
            if (this.is_detail) {
              daysCounter = new Date(this.middle_day_tab).setDate(
                (new Date(this.middle_day_tab).getDate() + i) - 3);
            } else {
              daysCounter = new Date().setDate((new Date().getDate() + i) - 3);
            }

            daysCounter = new Date(daysCounter).setHours(0, 0, 0, 0);
            const daysName = new Date(daysCounter).toDateString().substring(0, 3);
            const dateNumber = new Date(daysCounter).toDateString().substring(8, 10);
            weekArray.push({ name: `${daysName} ${dateNumber}`, date: dateNumber, milis: daysCounter, active: false });
          }
          this.days_in_a_week.splice(0, 7, ...weekArray);
          this.set_date_from_today = this.days_in_a_week[3].date;
          break;
      }

      this.middle_day_tab = this.days_in_a_week[3].milis;
      this.thisMonth(this.middle_day_tab);
    },

    confirmationModal(label, status, selectedData, btnName = null) {
      const anotherTaskRunning = this.table_data.filter(e => e.action_status === 1);
      let buttonName = !btnName ? `${status.charAt(0).toUpperCase() +
      status.substring(1)} Timer` : `Move to ${btnName}`;
      let statusModal = '';
      let htmlText;

      if (status === 'play') {
        buttonName = 'Start Timer';
        statusModal = 'start';
      } else if (status === 'pause') {
        statusModal = 'pause';
      } else if (status === 'stop') {
        if (selectedData.action_status === 3) {
          statusModal = 'run another';
          buttonName = 'Start Timer';
        } else {
          statusModal = 'stop';
        }
      } else {
        statusModal = `${buttonName.charAt(0).toLowerCase() +
        buttonName.substring(1)}`;
      }

      htmlText = `Do you want to ${statusModal} "<h6 class="bolder">${label}</h6>" task record?`;
      if (anotherTaskRunning[0]) {
        if (status === 'play') {
          const runningTask = anotherTaskRunning[0];
          htmlText = `Do you want to pause <h6 class="bolder">${runningTask.task_name}</h6> task record
          and start <h6 class="bolder">${label}</h6> ?`;
        } else if (status === 'stop') {
          if (selectedData.action_status === 3) {
            const runningTask = anotherTaskRunning[0];
            htmlText = `Do you want to pause <h6 class="bolder">${runningTask.task_name}</h6> task record
          and rerun another <h6 class="bolder">${label}</h6> task record?`;
          }
        }
      }

      this.$swal({
        title: '',
        html: htmlText,
        showCancelButton: true,
        confirmButtonText: `${buttonName}`,
        cancelButtonText: 'No',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          if (status === 'play' || status === 1) {
            if (anotherTaskRunning[0]) {
              this.updateTask('pause', anotherTaskRunning[0]).then((data) => {
                if (data) {
                  if (selectedData.id === 0) {
                    this.updateTask('create', selectedData);
                  } else if (status === 1) {
                    this.updateTask('start', selectedData, status);
                  } else {
                    this.updateTask('start', selectedData);
                  }
                }
              });
            } else if (status === 1) {
              this.updateTask('start', selectedData, status);
            } else if (selectedData.id === 0) {
              this.updateTask('create', selectedData);
            } else {
              this.updateTask('start', selectedData);
            }
          } else if (status === 'pause' || status === 2) {
            this.updateTask('pause', selectedData, status);
          } else if (status === 'stop' || status === 3) {
            if (selectedData.action_status === 3) {
              if (anotherTaskRunning[0]) {
                this.updateTask('pause', anotherTaskRunning[0]).then((data) => {
                  if (data) {
                    this.updateTask('create', selectedData, 'rerun');
                  }
                });
              } else {
                this.updateTask('create', selectedData, 'rerun');
              }
            } else {
              this.updateTask('stop', selectedData);
            }
          }
        }
      });
    },

    updateTask(status, dataRow, swimlaneAction) {
      this.task_params = { ...dataRow };
      // eslint-disable-next-line func-names
      return new Promise((resolve, reject) => {
        if (status === 'create') {
          this.getRunningTask().then(() => {
            if (!this.is_still_running_task) {
              this.task_params.id = 0;
              this.task_params.action_status = 1;
              this.task_params.duration = 0;
              this.task_params.start_date_time = new Date().getTime();
              this.task_params.updated_time = new Date().getTime();
              this.task_params.local_id = new Date().getTime();
              this.task_params.status = 'draft';
              this.task_params.timezone = 'Asia/Jakarta';

              this.task_params.swimlane_id = this.getSelectedSwimlane(
                this.swimlane_opt[this.task_params.project_id],
                this.task_params.action_status);

              // NOTED
              this.start_date = new Date().toLocaleDateString();

              // change start time form
              this.start_time = this.$moment(new Date().getTime()).format('HH:mm');

              // preparing data_task for clockRunning
              this.data_task = {
                duration: 0,
                updated_time: new Date().getTime(),
              };

              // this.is_detail = true;
              this.icon = 'fa fa-pause';

              this.update(this.JPtask).then(() => {
                if (!this.error_update.error) {
                  this.$swal(
                    'Time Started!',
                    'Your task has been started.',
                  );
                  this.start();
                  if (swimlaneAction === 'rerun') {
                    setTimeout(() => {
                      this.$router.go(0);
                    }, 1500);
                  }
                  resolve(true);
                } else {
                  this.$store.dispatch('jStoreNotificationScreen/toggleProblem', this.error_update.message);
                  reject();
                }
              });
            } else {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'There are still running tasks!');
            }
          });
        } else if (status === 'start') {
          this.getRunningTask().then(() => {
            this.selected_row = true;

            this.task_params.action_status = 1;
            this.task_params.status = 'draft';
            this.task_params.timezone = 'Asia/Jakarta';
            this.task_params.start_date_time = new Date().getTime();
            this.task_params.updated_time = new Date().getTime();
            this.task_params.local_id = new Date().getTime();
            this.start_date = new Date().toLocaleDateString();

            this.start_time = this.$moment(new Date().getTime()).format('HH:mm');

            this.time = (this.$moment.utc(this.$moment.duration(dataRow.duration).asMilliseconds()).format('HH:mm:ss'));

            if (swimlaneAction === 1) {
              this.task_params.swimlane_id = this.swimlane[dataRow.task_project_id][dataRow.id].id;
              // this.setAvailableSwimlane(this.swimlane[dataRow.task_project_id][dataRow.id]
              // ,this.task_params);
            } else {
              this.task_params.swimlane_id = this.getSelectedSwimlane(
                this.swimlane_opt[this.task_params.project_id],
                this.task_params.action_status);
            }

            this.update(this.JPtask).then(() => {
              if (!this.error_update.error) {
                this.$swal(
                  'Time Started!',
                  'Your task has been started.',
                );
                this.start();
                if (this.is_still_running_task) {
                  resolve(true);
                }
              } else {
                this.$store.dispatch('jStoreNotificationScreen/toggleProblem', this.error_update.message);
                reject();
              }
            });
          });
        } else if (status === 'pause') {
          delete this.task_params.swimlane_id;
          this.task_params.action_status = 2;
          this.task_params.status = 'draft';
          this.task_params.timezone = 'Asia/Jakarta';
          this.task_params.duration = this.task_params.duration +
          (new Date().getTime() - this.task_params.updated_time);
          this.task_params.updated_time = new Date().getTime();

          if (swimlaneAction === 2) {
            this.task_params.swimlane_id = this.swimlane[dataRow.task_project_id][dataRow.id].id;
          }
          this.update(this.JPtask).then(() => {
            if (!this.error_update.error) {
              this.stop();
              resolve(true);
            } else {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', this.error_update.message);
            }
          });
        } else if (status === 'stop') {
          this.task_params.action_status = 3;
          // if time is running
          if (this.running) {
            this.task_params.duration = this.task_params.duration +
          (new Date().getTime() - this.task_params.updated_time);
          }

          this.task_params.swimlane_id = this.getSelectedSwimlane(
            this.swimlane_opt[String(this.task_params.project_id)],
            this.task_params.action_status,
          );

          this.task_params.end_date_time = new Date().getTime();
          this.task_params.status = 'stop';
          this.is_button_hidden = true;
          this.icon = 'fa fa-play';
          this.stop();

          this.update(this.JPtask);
        }
        return 'done';
      });
    },

    getSelectedSwimlane(data, status) {
      this.selected_swimlane = data.filter(el =>
        el.action === status,
      );

      this.available_swimlane = data.filter(el =>
        el.order !== this.selected_swimlane[0].order,
      );

      return this.selected_swimlane[0].id;
    },

    setAvailableSwimlane(selectedSwimlane, dataTask) {
      const currentOrder = selectedSwimlane.order;
      this.table_data = this.table_data.map((el) => {
        const dataTable = el;
        if (el.task_project_id === dataTask.task_project_id) {
          const availableOpt = this.swimlane_opt[dataTask.project_id].filter((opt, index) => {
            let selectedIndex = 0;
            if (currentOrder === 1) {
              return opt.order === (currentOrder + 1);
            }
            if (opt.order === currentOrder) {
              selectedIndex = index;
            }
            return opt.order >= (currentOrder - 1) && opt.order <= (currentOrder + 1)
            && index !== selectedIndex;
          });
          dataTable.options = availableOpt;
        }
        return dataTable;
      });
      return this.table_data;
    },

    start() {
      if (this.running) return;

      this.clock_loop = setInterval(this.clockRunning, 10);
      this.running = true;
    },

    stop() {
      this.running = false;
      clearInterval(this.clock_loop);
    },

    clockRunning() {
      let timeElapsed = 0;

      if (this.task_params.already_start) {
        timeElapsed = this.data_task.duration +
          (new Date().getTime() - this.data_task.updated_time);
      } else {
        timeElapsed = new Date().getTime() - this.task_params.updated_time;
      }

      this.time = this.$moment.utc(timeElapsed).format('HH:mm:ss');
    },

    milisToClock(data) {
      const hourFormat = Math.floor(data / 1000 / 60 / 60);
      const minutesFormat = Math.floor((data / 1000 / 60) % 60);

      return `${hourFormat}H ${minutesFormat}M`.trim();
    },

    zeroPrefix(num, digit) {
      let zero = '';
      for (let i = 0; i < digit; i += 1) {
        zero += '0';
      }
      return (zero + num).slice(-digit);
    },

    dateToMillis(data) {
      return Number(this.$moment(data).valueOf());
    },
  },
};
</script>


<style lang="scss">
.bolder{
  font-weight: 900;
  display: contents;
}

.bold{
  font-weight: 700 !important;
}

.blue {
  color: #42a5ce;
}

.black {
  color : black;
}

.running_border {
  border: 2px solid #42a5ce;
}

.overestimated {
  border: 2px solid #D2232A;
}

.red {
  color: #f88886;
}

.pull_center{
  text-align: center !important;
}

.pull_right{
  text-align: right !important;
}

.pull_left{
  text-align: left;
}

.grey{
  color: #808285;
}

.no_padding{
  padding:0 !important;
  &:hover, &:focus, &:focus-visible{
    outline: none;
  }
}

.my_task {
  font-size: 18px;
  padding:25px;
  text-align:left;
  margin: 0;
}

.back{
  font-size: 15px;
  &:hover{
    cursor:pointer
  }
}

.my-task-box {
  background-color: rgb(248,248,248);
}

.title_month{
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 5px;
}

.arrow-grey {
  color: rgb(196, 196, 196)
}

a.arrow{
  cursor: pointer;
  position: absolute;
  float: left;
  font-size: 40px;
}

a.left{
  left: 26%;
}

a.right{
  right: 27%;
}

.timesheet_table>tr>th{
  font-size: 0.875rem;
  padding: 2px 10px 7px 10px;
}

.timesheet_table>tr>td{
  font-size: 0.875rem;
  padding: 0 10px;
}

.tab-timesheet.tabs>div.tab-content{
  width: 78%;
  padding: 10px 0;
  margin-top: -1px;
  border: 1px solid rgb(226, 225, 225);
  box-shadow: 1px 1px 1px 1px #eee;
  border-radius: 15px;
  box-shadow: -3px 13px 18px 2px rgba(0,0,0,0.45);
}

.tab-timesheet ul[role=tablist] li a {
  font-size: 0.875rem;
  font-weight: 900;
  color: #75777a;
  // width: 63px;
  width: 70%;
  box-shadow: 0 5px #FFFFFF, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.tab-timesheet ul[role=tablist] li.nav-item {
  width: 14%;
}

.tab-timesheet ul[role=tablist] li.nav-item .disabled {
  margin-top: 1px;
  background-color:#eee;
  border: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  background-size: 30px;
  border: 2px solid;
  padding: 2px;
  border-radius: 100%;
}

a.btn-add-additional-info {
  color: rgb(67,165,206);
  &:hover {
    color: rgb(67,165,206);
    text-decoration: underline;
    cursor: pointer;
  }
}

.tab-timesheet ul[role=tablist] .nav-link.active,
.tab-timesheet ul[role=tablist] li a:hover {
    font-size: 14px;
    font-weight: 900;
    color: rgb(67,165,206);
    text-decoration: none;
}

.tab-timesheet .nav-tabs li a {
  width: 180px;
  text-align: center;
  &:focus{
    outline: none;
    background: white;
  }
}

.tab-timesheet .nav-tabs {
  &:focus{
    outline: none;
    background: white;
  }
}

.tab-timesheet.tabs>div{
  width: 45%;
  padding: 0 25px;
}

.tab-timesheet .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid rgb(226, 225, 225);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.tab-timesheet .nav-tabs {
  &:hover, &:focus, &:focus-visible{
    outline: none;
  }
}

.tab-timesheet .nav>li>a {
  position: relative;
  display: block;
  // padding: 10px 0.875rem;
  padding: 10% 10% 16% 10%;
}

.tab-timesheet .task_name, .task_duration{
  margin-top: 1rem;
  font-size: 10pt;
}

.form-group{
  margin: 1rem 0 0 0;
}

h6.title{
  font-weight: bold;
  margin-bottom: 20px;
}

.title-tab-content{
  margin: 0;
}

.list-task{
  margin: 0;
  padding: 0;
  &:nth-child(even){
    background-color: #eee
  }
  // &:hover{
  //   color: #42a5ce;
  //   cursor: pointer;
  //   opacity: 0.8;
  // }
}

.btn_task_action{
  background: none;
  padding: 0 5px;
  transition: 0.3s;
  &:hover{
    background: none;
    // color: #42a5ce;
    cursor: pointer;
    filter: drop-shadow(6px 6px 8px gray);
  }
}

.disable{
   &:hover{
    background: none !important;
    // color: #42a5ce;
    cursor: default !important;
    filter: none !important;
  }
}

td.element_additional{
  padding: 10px 20px 10px 0px !important;
}

td.text{
  padding: 0px 20px 22px 32px !important;
  position: relative;
  &:hover{
    color:#42a5ce;
    cursor:pointer;
  }
}

td.text > a {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

td.text > div {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.change-icon > img + img,
.change-icon:hover > img {
  display: none;
}

.change-icon:hover > img + img {
  display: inherit;
  margin-right: 4px;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;

}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

// vue-treeselect custom
div.swimlane_option .vue-treeselect__control{
  border: none !important;
  background: transparent !important;
}


div.swimlane_option .vue-treeselect__control .vue-treeselect__value-container .vue-treeselect__single-value{
  font-size: 0.875rem !important;
}

</style>
