<!-- eslint-disable max-len -->
<template>
  <div v-if="is_ready">
    <template v-for="(field, index) in dataFields">
      <div :key="index">
        <b-form-group
          v-if="field.type === 'text' && !field.is_delete"
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index"> {{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-input
            v-model="$v.formData[String(field.id)].$model"
            :id="index"
            :disabled="isDisabled"
            :placeholder="field.placeholder"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'number' && !field.is_delete"
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index"> {{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red">*</span></label>
          <j-input
            v-model="$v.formData[String(field.id)].$model"
            :id="index"
            :disabled="isDisabled"
            :placeholder="field.placeholder"
            type="number"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'currency' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-currency
            v-model="$v.formData[String(field.id)].$model"
            :options="exampleOptionCurrency"
            :placeholder="field.placeholder"
            :diabled="isDisabled"
            :input_mode="true"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'descriptive' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index"> {{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-textarea
            :disabled="isDisabled"
            v-model="$v.formData[String(field.id)].$model"
            :id="index"
            :placeholder="field.placeholder"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'date' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-datepicker
            v-model="$v.formData[String(field.id)].$model"
            :disabled="isDisabled"
            :id="index"
            :disabled-dates="disableDates(field.is_back_date)"
            :placeholder="field.placeholder"
            format="MMM dd, yyyy"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'time' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-clockpicker
            v-model="$v.formData[String(field.id)].$model"
            :placeholder="field.placeholder"
            :disabled="isDisabled"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'date_time' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span> </label>
          <j-date-time-v2
            :type="'datetime'"
            v-model="$v.formData[String(field.id)].$model"
            :min-datetime="field.is_back_date ? null : getDateToday()"
            :placeholder="field.placeholder"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'radio_button' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-radio
            v-model="$v.formData[String(field.id)].$model"
            :options="listRadio(field.available_list)"
            :stacked="true"
            :disabled="false"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'checkbox' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-multi-check
            v-model="$v.formData[String(field.id)].$model"
            :ref="field.id"
            :options="field.available_list"/>
        </b-form-group>
        <div
          v-if="field.type === 'location' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <b-form-group>
            <b-row>
              <b-col>
                <div class="float-to-left">
                  <label :for="index">
                    {{ field.name }}
                    <span
                      v-if="field.is_mandatory"
                      style="color:red" >*</span>
                  </label>
                </div>
              </b-col>
              <b-col>
                <div
                  v-if="!isDisabled"
                  class="float-to-right cursorPointer"
                  @click="$refs[field.id+'_modal'][0].show()
                          formData[String(field.id)]['init'] = true ">
                  <label class="cursorPointer">Click here to search location</label>
                  <img
                    :src="require('@/assets/icon/icon_location.png')"
                    width="25">
                </div>
              </b-col>
            </b-row>
            <j-textarea
              v-model="$v.formData[String(field.id)]['address'].$model"
              :id="index"
              :disabled="true"
              :placeholder="field.placeholder"/>
          </b-form-group>
          <b-modal
            :ref="String(field.id+'_modal')"
            class="mod-form">
            <google-map
              v-if="formData[String(field.id)]['init']"
              :is-auto-complete-disable="Number(field.map_type) === 1"
              :draggable-marker="field.map_type !== 1"
              :placeholder="field.placeholder"
              @place_changed="getPlaceMap({field: field, isInGroup: null, index: null}, $event)"/>
            <br>
            <div class="float-right">
              <b-button
                class="btn blue"
                @click="$refs[field.id+'_modal'][0].hide()">
                Save
              </b-button>
            </div>
          </b-modal>
        </div>
        <b-form-group
          v-if="field.type === 'photo' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <div
            :class="isDisabled ? 'disabled' : ''"
            class="container-group">
            <b-row>
              <b-col
                v-for="(opsi, indexPhoto) in field.multiple_value"
                :key="indexPhoto"
                sm="12"
                md="6">
                <label :for="indexPhoto">{{ opsi.name }} </label>
                <b-form-group>
                  <j-singleupload
                    :accepted-file-type="['jpg', 'png', 'jpeg']"
                    :api-token="token"
                    :disabled="isDisabled"
                    v-model="$v.formData[String(field.id)].$model[String(opsi.id)]"
                    :img-default="$v.formData[String(field.id)].$model[String(opsi.id)]"
                    :url-upload="url_upload"
                    @url="getPhotoUrl({isInGroup: false, field: field, childField: null,
                                       index: null, opsi: opsi}, $event)"/>
                  <label v-if="!isDisabled">
                    Please choose file with supported format file (jpg, png, jpeg).
                  </label>
                </b-form-group>
              </b-col>
            </b-row>
          </div>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'single_selection' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-single-select
            v-model="$v.formData[String(field.id)].$model"
            :options="field.available_list || [{id:field.value_id, name: field.value}]"
            :disabled="isDisabled"
            :placeholder="field.placeholder"
            value-format="object"
            label="name"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'multiple_selection' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-multi-select
            v-model="$v.formData[String(field.id)].$model"
            :options="field.available_list || field.multiple_value"
            :placeholder="field.placeholder"
            :disabled="isDisabled"
            value-format="object"
            label="name"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'user_single_selection' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-single-select
            v-model="$v.formData[String(field.id)].$model"
            :load-options="loadOptionsUser"
            :is-async="true"
            :cache-option="false"
            :disabled="isDisabled"
            :default-options="false"
            :placeholder="field.placeholder"
            value-format="object"
            label="name"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'user_multiple_selection' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-multi-select
            v-model="$v.formData[String(field.id)].$model"
            :load-options="loadOptionsUser"
            :is-async="true"
            :cache-option="false"
            :placeholder="field.placeholder"
            :disabled="isDisabled"
            value-format="object"
            label="name"/>
        </b-form-group>
        <b-form-group
          v-if="field.type === 'relation_record' && !field.is_delete "
          :class="{'error-input' : $v.formData[String(field.id)].$error}">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <j-single-select
            v-model="$v.formData[String(field.id)].$model"
            :load-options="($event) => loadOptionsRelation($event, field.relation_record_form_id)"
            :is-async="true"
            :cache-option="false"
            :disabled="isDisabled"
            :default-options="false"
            :placeholder="field.placeholder"
            value-format="object"
            label="name"
            @getData="getDataRelated(field.id)"/>
        </b-form-group>
        <b-form-group v-if="field.type === 'group' && field.groups.length > 0 && !field.is_delete">
          <label :for="index">{{ field.name }} <span
            v-if="field.is_mandatory"
            style="color:red" >*</span></label>
          <div>
            <div class="container-group">
              <template
                v-for="(v, indexGroup) in $v.formData[String(field.id)]['$each']['$iter']">
                <div
                  v-if="setDataGroup(field.groups).length"
                  :key="indexGroup"
                  class="container-group__item">
                  <span class="item__counter-group">
                    {{ indexGroup | counterIndexGroup }}
                  </span>
                  <template v-for="(childField, index) in setDataGroup(field.groups)">
                    <div :key="index">
                      <b-form-group
                        v-if="childField.type === 'text' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index"> {{ childField.name }}<span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-input
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :id="index"
                          :disabled="isDisabled"
                          :placeholder="childField.placeholder"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'number' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index"> {{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red">*</span></label>
                        <j-input
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :id="index"
                          :disabled="isDisabled"
                          :placeholder="childField.placeholder"
                          type="number"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'currency' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-currency
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :disabled="isDisabled"
                          :options="exampleOptionCurrency"
                          :placeholder="childField.placeholder"
                          :input_mode="true"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'descriptive' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index"> {{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-textarea
                          :disabled="isDisabled"
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :id="index"
                          :placeholder="childField.placeholder"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'date' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-datepicker
                          :disabled="isDisabled"
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :id="index"
                          :disabled-dates="disableDates(childField.is_back_date)"
                          :placeholder="childField.placeholder"
                          format="MMM dd, yyyy"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'time' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-clockpicker
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :placeholder="childField.placeholder"
                          :disabled="isDisabled"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'date_time' && !field.is_delete "
                        :class="{'error-input' :
                        v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-date-time-v2
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :disabled="isDisabled"
                          :min-datetime="childField.is_back_date ? null : getDateToday()"
                          :placeholder="field.placeholder"
                          :type="'datetime'"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'radio_button' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-radio
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :options="listRadio(childField.available_list)"
                          :stacked="true"
                          :disabled="isDisabled"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'checkbox' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-multi-check
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :ref="childField.id"
                          :options="childField.available_list"
                          :disabled="isDisabled"/>
                      </b-form-group>
                      <div
                        v-if="childField.type === 'location' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <b-form-group>
                          <b-row>
                            <b-col>
                              <div class="float-to-left">
                                <label :for="index">
                                  {{ childField.name }}
                                  <span
                                    v-if="childField.is_mandatory"
                                    style="color:red" >*</span>
                                </label>
                              </div>
                            </b-col>
                            <b-col>
                              <div
                                v-if="!isDisabled"
                                class="float-to-right cursorPointer"
                                @click="$refs[childField.id+'_modal'][indexGroup].show()
                                        formData[String(field.id)][indexGroup]
                              [String(setDataGroup(field.groups)[index].id)]['init'] = true ">
                                <label class="cursorPointer">Click here to search location</label>
                                <img
                                  :src="require('@/assets/icon/icon_location.png')"
                                  width="25">
                              </div>
                            </b-col>
                          </b-row>
                          <j-textarea
                            :disabled="true"
                            v-model="v[String(setDataGroup(field.groups)[index].id)]['address'].$model"
                            :id="index"
                            :placeholder="childField.placeholder"/>
                        </b-form-group>
                        <b-modal
                          :ref="String(childField.id+'_modal')"
                          class="mod-form">
                          <google-map
                            v-if="formData[String(field.id)][indexGroup]
                            [String(setDataGroup(field.groups)[index].id)]['init']"
                            :is-auto-complete-disable="childField.map_type === 1"
                            :draggable-marker="childField.map_type !== 1"
                            :placeholder="childField.placeholder"
                            @place_changed="getPlaceMap({field: childField, isInGroup: field,
                                                         index: indexGroup}, $event)"/>
                          <br>
                          <div class="float-right">
                            <b-button
                              class="btn blue"
                              @click="$refs[childField.id+'_modal'][indexGroup].hide()">
                              Save
                            </b-button>
                          </div>
                        </b-modal>
                      </div>
                      <b-form-group
                        v-if="childField.type === 'photo' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <div
                          :class="isDisabled ? 'disabled' : ''"
                          class="container-group">
                          <b-row>
                            <b-col
                              v-for="(opsi, indexPhoto) in childField.multiple_value"
                              :key="indexPhoto"
                              sm="12"
                              md="6">
                              <label :for="indexPhoto">{{ opsi.name }} </label>
                              <b-form-group>
                                <j-singleupload
                                  :accepted-file-type="['jpg', 'png', 'jpeg']"
                                  :api-token="token"
                                  :disabled="isDisabled"
                                  v-model="v[String(setDataGroup(field.groups)[index].id)].$model[String(opsi.id)]"
                                  :img-default="v[String(setDataGroup(field.groups)[index].id)].$model[String(opsi.id)]"
                                  :url-upload="url_upload"
                                  @url="getPhotoUrl({isInGroup: true, field: field,
                                                     childField: childField,
                                                     index: indexGroup, opsi: opsi}, $event)"/>
                                <label v-if="!isDisabled">
                                  Please choose file with supported format file (jpg, png, jpeg).
                                </label>
                              </b-form-group>
                            </b-col>
                          </b-row>
                        </div>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'single_selection' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-single-select
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :options="childField.available_list || [{id:childField.value_id, name: childField.value}]"
                          :disabled="isDisabled"
                          :placeholder="childField.placeholder"
                          value-format="object"
                          label="name"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'multiple_selection' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-multi-select
                          :options="childField.available_list || v[String(setDataGroup(field.groups)[index].id)].$model"
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :placeholder="childField.placeholder"
                          :disabled="isDisabled"
                          label="name"
                          value-format="object"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'user_single_selection' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-single-select
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :load-options="loadOptionsUser"
                          :is-async="true"
                          :cache-option="false"
                          :disabled="isDisabled"
                          :default-options="false"
                          :placeholder="childField.placeholder"
                          value-format="object"
                          label="name"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'user_multiple_selection' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-multi-select
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :load-options="loadOptionsUser"
                          :is-async="true"
                          :cache-option="false"
                          :default-options="false"
                          :placeholder="childField.placeholder"
                          :disabled="isDisabled"
                          label="name"
                          value-format="object"/>
                      </b-form-group>
                      <b-form-group
                        v-if="childField.type === 'relation_record' && !field.is_delete "
                        :class="{'error-input' : v[String(setDataGroup(field.groups)[index].id)].$error}">
                        <label :for="index">{{ childField.name }} <span
                          v-if="childField.is_mandatory"
                          style="color:red" >*</span></label>
                        <j-single-select
                          v-model="v[String(setDataGroup(field.groups)[index].id)].$model"
                          :load-options="($event) => loadOptionsRelation($event, childField.relation_record_form_id)"
                          :is-async="true"
                          :cache-option="false"
                          :disabled="isDisabled"
                          :default-options="false"
                          :placeholder="childField.placeholder"
                          value-format="object"
                          label="name"/>
                      </b-form-group>
                    </div>
                  </template>
                </div>
              </template>
              <b-button
                v-if="!isDisabled"
                :disabled="!field.groups.length"
                class="btn"
                @click="addGroupFormField(field)">
                + add more data
              </b-button>
            </div>
          </div>
        </b-form-group>
      </div>
    </template>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, import/no-extraneous-dependencies */

import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required, minLength } from 'vuelidate/lib/validators';
import googleMap from './googleMap';

function validationLocation(field) {
  const validationLoc = {};
  validationLoc.address = !field.is_delete ? (field.is_mandatory ? { required } : {}) : {};
  validationLoc.place = !field.is_delete ? (field.is_mandatory ? { required } : {}) : {};
  validationLoc.init = {};
  return validationLoc;
}
function validationPhoto(field) {
  const validationPho = {};
  field.multiple_value.forEach((eachPhotoOption) => {
    validationPho[eachPhotoOption.id] = !field.is_delete ? (field.is_mandatory ? { required } : {})
      : {};
  });
  return validationPho;
}
function getValidation(field) {
  if (field.type === 'photo') {
    return validationPhoto(field);
  } else if (field.type === 'location') {
    return validationLocation(field);
  }
  return !field.is_delete ? (field.is_mandatory ? { required } : {}) : {};
}
function generateValidations(fieldList, isDetail) {
  const validations = {
    formData: {},
  };
  fieldList.forEach((each) => {
    if (each.type !== 'group') {
      validations.formData[each.id] = getValidation(each);
    } else {
      validations.formData[each.id] = !each.is_delete ? (each.is_mandatory ?
        { required, minLength: minLength(1) } : {}) : {};
      if (isDetail) {
        each.groups.forEach((more) => {
          const $iter = {};
          more.forEach((child, indexmore) => {
            $iter[each.groups[0][indexmore].id] = getValidation(child);
          });
          validations.formData[each.id].$each = $iter;
        });
      } else {
        const $each = {};
        each.groups.forEach((eachGroupData) => {
          $each[eachGroupData.id] = getValidation(eachGroupData);
        });
        validations.formData[each.id].$each = $each;
      }
    }
  });
  return validations;
}
function getDataModel(field, isDetail) {
  if (isDetail) {
    if (field.type === 'single_selection' || field.type === 'user_single_selection' || field.type === 'relation_record') {
      return field.value_id !== 0 ? { id: field.value_id, label: field.value } : null;
    } else if (field.type === 'multiple_selection' || field.type === 'user_multiple_selection') {
      return field.multiple_value;
    } else if (field.type === 'group') {
      return [];
    } else if (field.type === 'photo') {
      const photo = {};
      field.multiple_value.forEach((eachPhotoOption) => {
        photo[eachPhotoOption.id] = eachPhotoOption.url;
      });
      return photo;
    } else if (field.type === 'location') {
      const location = {};
      location.address = field.value;
      location.place = {
        geometry: {
          location: {
            lng() {
              return field.longitude;
            },
            lat() {
              return field.latitude;
            },
          },
        },
      };
      location.init = false;
      return location;
    }
    return field.value;
  }
  if (field.type === 'single_selection' || field.type === 'multiple_selection' ||
  field.type === 'user_single_selection' || field.type === 'user_multiple_selection' || field.type === 'relation_record') {
    return null;
  } else if (field.type === 'group') {
    return [];
  } else if (field.type === 'photo') {
    const photo = {};
    field.multiple_value.forEach((eachPhotoOption) => {
      photo[eachPhotoOption.id] = '';
    });
    return photo;
  } else if (field.type === 'location') {
    const location = {};
    location.address = '';
    location.place = {
      geometry: {
        location: {
          lng() {
            return 0;
          },
          lat() {
            return 0;
          },
        },
      },
    };
    location.init = false;
    return location;
  }
  return null;
}
function generateDataModelGroup(fieldList, allEach, isDetail) {
  const group = {};
  if (isDetail) {
    fieldList.forEach((eachGroupData, indexEach) => {
      group[allEach[0][indexEach].id] = getDataModel(eachGroupData, isDetail);
    });
  } else {
    fieldList.forEach((eachGroupData) => {
      group[eachGroupData.id] = getDataModel(eachGroupData, isDetail);
    });
  }
  return group;
}
function generateDataModel(fieldList, isDetail) {
  const fields = {};
  fieldList.forEach((each) => {
    if (each.type !== 'group') {
      fields[each.id] = getDataModel(each, isDetail);
    } else if (isDetail) {
      const data = [];
      each.groups.forEach((e) => {
        data.push(generateDataModelGroup(e, each.groups, isDetail));
      });
      fields[each.id] = data;
    } else {
      fields[each.id] = [generateDataModelGroup(each.groups)];
    }
  });
  return fields;
}

export default {
  name: 'JFormBaseNew',
  components: {
    googleMap,
  },
  filters: {
    counterIndexGroup(val) {
      return Number(val) + 1;
    },
  },
  props: {
    dataFields: {
      type: Array,
      default: () => [],
    },
    isDetail: {
      type: Boolean,
      default: () => false,
    },
    isDisabled: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      is_ready: false,
      formData: {},
      exampleOptionCurrency: {
        digitGroupSeparator: '.',
        decimalCharacter: ',',
        decimalCharacterAlternative: '.',
        currencySymbol: '\u00a0€',
        currencySymbolPlacement: 's',
        roundingMethod: 'U',
        minimumValue: '0',
      },
      token: (JSON.parse(localStorage.getItem('Token'))).value,
      tempPlaceMap: {},
      status_btn: false,
    };
  },
  computed: {

    url_upload() {
      // return `${process.env.GATE_URL}/file`;
      return `${localStorage.getItem('gateUrl')}/file`;
    },
  },
  beforeCreate() {
    const fieldList = this.$options.propsData.dataFields;
    const isDetail = this.$options.propsData.isDetail;
    if (typeof fieldList !== 'undefined' && isDetail !== 'undefined') {
      this.$options.validations = generateValidations(fieldList, isDetail);
    }
  },
  created() {
    const fieldList = this.dataFields;
    if (fieldList) {
      this.formData = generateDataModel(fieldList, this.$options.propsData.isDetail);
      this.is_ready = true;
    }
  },
  updated() {
    if (this.dataFields) {
      const elem = document.getElementsByClassName('error-input');
      if (this.$v.formData.$error && elem[0] && this.status_btn) {
        elem[0].scrollIntoView();
        this.status_btn = false;
        return false;
      }
      return true;
    }
    return false;
  },
  methods: {
    loadOptionsUser({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: '',
            },
          };
          this.$store.dispatch('jStoreTimesheetClaimerCreate/getUser', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsRelation({ action, searchQuery, callback }, formId) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: 'id',
              ascending: false,
              query: searchQuery,
            },
            status: 4,
            form_id: formId,
          };
          this.$store.dispatch('jStoreTimesheetClaimerCreate/getRelation', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    setDataGroup(data) {
      return this.isDetail ? data[0] : data;
    },
    validateForm() {
      this.$v.formData.$reset();
      this.$v.formData.$touch();
      this.status_btn = true;
      return this.$v.formData.$error;
    },
    getData() {
      return new Promise((resolve, reject) => {
        this.$v.formData.$touch();
        if (!this.$v.formData.$error) {
          this.getComposedDataReq().then((data) => {
            resolve(data);
          });
        } else {
          reject(null);
        }
      });
    },
    getDateToday() {
      const todayDate = new Date();
      return String(this.$moment(todayDate).format('YYYY-MM-DD'));
    },
    getPlaceMap({ field, isInGroup, index }, place) {
      if (!isInGroup) {
        this.formData[field.id].address = place.formatted_address;
        this.formData[field.id].place = { ...place };
      } else {
        this.formData[isInGroup.id][index][field.id].address = place.formatted_address;
        this.formData[isInGroup.id][index][field.id].place = { ...place };
      }
    },
    getPhotoUrl({ isInGroup, field, childField, index, opsi }, data) {
      if (!isInGroup) {
        this.formData[field.id][opsi.id] = data;
      } else {
        this.formData[field.id][index][childField.id][opsi.id] = data;
      }
    },
    listRadio(list) {
      const data = [];
      list.forEach((each) => {
        const item = {
          value: each.id,
          text: each.name,
        };
        data.push(item);
      });
      return data;
    },
    disableDates(isAllowBackDate) {
      if (!isAllowBackDate) {
        return {
          to: new Date(Date.now() - 8640000),
        };
      }
      return {};
    },

    addGroupFormField(fieldsGroup) {
      const newDataFormat = this.getObjectGroupFormat(fieldsGroup);
      this.formData[fieldsGroup.id].push(newDataFormat);
    },
    getObjectGroupFormat(fieldGroup) {
      const group = {};
      if (this.isDetail) {
        fieldGroup.groups[0].forEach((eachGroupData) => {
          group[eachGroupData.id] = getDataModel(eachGroupData);
        });
      } else {
        fieldGroup.groups.forEach((eachGroupData) => {
          group[eachGroupData.id] = getDataModel(eachGroupData);
        });
      }
      return group;
    },
    removeGroup(fieldGroup, index) {
      this.formData[fieldGroup.id].splice(index, 1);
    },
    getPhotoValueFormatted(photoField, { groupField, index }) {
      const multipleValue = [];
      photoField.multiple_value.forEach((e) => {
        multipleValue.push({
          amount: e.amount,
          available_childs: e.available_childs,
          description: e.description,
          id: e.id,
          name: e.name,
          url: groupField ?
            this.formData[groupField.id][index][photoField.id][e.id] :
            this.formData[photoField.id][e.id],
        });
      });
      return multipleValue;
    },
    getLocationValueFormated(locationField, { groupField, index }) {
      return {
        address: groupField ?
          this.formData[groupField.id][index][locationField.id].address :
          this.formData[locationField.id].address,
        place: {
          lng: groupField ?
            this.formData[groupField.id][index][locationField.id].place.geometry.location.lng() :
            this.formData[locationField.id].place.geometry.location.lng(),
          lat: groupField ?
            this.formData[groupField.id][index][locationField.id].place.geometry.location.lat() :
            this.formData[locationField.id].place.geometry.location.lat(),
        },
      };
    },
    getValueField(field, { groupField, index }) {
      let value;
      if (groupField) {
        if (field.type === 'photo') {
          value = this.getPhotoValueFormatted(field, { groupField, index });
        } else if (field.type === 'date') {
          value = this.formData[groupField.id][index][field.id] ?
            this.$moment(this.formData[groupField.id][index][field.id]).format('YYYY-MM-DD') : '';
        } else if (field.type === 'location') {
          value = this.getLocationValueFormated(field, { groupField, index });
        } else if (field.type === 'date_time') {
          value = this.formData[groupField.id][index][field.id] ?
            this.$moment(this.formData[groupField.id][index][field.id]).format('YYYY-MM-DD HH:mm') : '';
        } else {
          value = this.formData[groupField.id][index][field.id];
        }
      } else if (field.type === 'photo') {
        value = this.getPhotoValueFormatted(field, { groupField, index });
      } else if (field.type === 'date') {
        value = this.formData[field.id] ?
          this.$moment(this.formData[field.id]).format('YYYY-MM-DD') : '';
      } else if (field.type === 'location') {
        value = this.getLocationValueFormated(field, { groupField, index });
      } else if (field.type === 'date_time') {
        value = this.formData[field.id] ?
          this.$moment(this.formData[field.id]).format('YYYY-MM-DD HH:mm') : '';
      } else {
        value = this.formData[field.id];
      }
      return value;
    },
    getValue(type, value) {
      if (type === 'location') {
        return value.address;
      } else if (type === 'single_selection' || type === 'user_single_selection' || type === 'relation_record') {
        return value ? (value.name ? value.name : value.label) : '';
      } else if (type === 'number') {
        return value;
      } else if (type !== 'group' && type !== 'photo' && type !== 'multiple_selection' && type !== 'user_multiple_selection' && type !== 'radio_button') {
        return value;
      }
      return '';
    },
    getFieldFormatReq(dataField, value) {
      return new Promise((resolve) => {
        const result = {
          id: this.isDetail ? dataField.id : 0,
          local_id: new Date().getTime(),
          position: 1,
          block_order: 1,
          input_id: dataField.input_id || dataField.id,
          source_id: dataField.source_id,
          value: !dataField.is_delete ? this.getValue(dataField.type, value) : '',
          name: dataField.name,
          type: dataField.type,
          percentage: 0,
          placeholder: dataField.placeholder,
          is_mandatory: dataField.is_mandatory,
          is_delete: dataField.is_delete,
          is_back_date: dataField.is_back_date,
          is_backdate: dataField.is_back_date,
          is_can_access_gallery: dataField.is_can_access_gallery,
          camera_use_type: dataField.camera_use_type,
          value_id: !dataField.is_delete ?
            (dataField.type === 'single_selection' || dataField.type === 'user_single_selection' || dataField.type === 'relation_record' ?
              (value ? value.id : 0) : 0)
            : 0,
          case_id: 0,
          child_name: '',
          child_min: 0,
          child_max: 0,
          is_can_similar: dataField.is_can_similar,
          is_child_mandatory: false,
          is_allow_to_edit: true,
          is_editable: dataField.is_editable,
          order_id: dataField.order_id || 0,
          available_list: dataField.available_list || [],
          map_type: dataField.type === 'location' ? dataField.map_type : 1,
          longitude: !dataField.is_delete ? (dataField.type === 'location' ? value.place.lng : 0) : 0,
          latitude: !dataField.is_delete ? (dataField.type === 'location' ? value.place.lat : 0) : 0,
          multiple_value: !dataField.is_delete ? (dataField.type === 'multiple_selection' ||
            dataField.type === 'user_multiple_selection' ||
            dataField.type === 'photo' ||
            dataField.type === 'checkbox' ?
            (value || []) : []) : [],
          groups: [],
        };
        resolve(result);
      });
    },
    getDataRelated(data) {
      const dataAdditional = this.formData[data].additional_data;
      dataAdditional.forEach((each) => {
        this.dataFields.forEach((eachField) => {
          if ((each.type === 'text' && eachField.type === 'text') ||
              (each.type === 'descriptive' && eachField.type === 'descriptive') ||
              (each.type === 'number' && eachField.type === 'number') ||
              (each.type === 'date' && eachField.type === 'date') ||
              (each.type === 'time' && eachField.type === 'time')) {
            this.formData[eachField.id] = each.value;
          } else if (each.type === 'location' && eachField.type === 'location') {
            const location = {};
            location.address = each.value;
            location.place = {
              geometry: {
                location: {
                  lng() {
                    return each.longitude;
                  },
                  lat() {
                    return each.latitude;
                  },
                },
              },
            };
            location.init = false;
            this.formData[eachField.id] = location;
          }
        });
      });
    },
    getComposedDataReq() {
      return new Promise((resolve) => {
        const additionalData = [];

        this.dataFields.forEach((eachField) => {
          const value = this.getValueField(eachField, {});
          this.getFieldFormatReq(eachField, value).then((eachDataField) => {
            if (eachField.type === 'group' && this.formData[eachField.id].length) {
              this.formData[eachField.id].forEach((eachChildGroup, index) => {
                const tempEachDataFieldGroup = [];
                const dataGroups = this.isDetail ? eachField.groups[0] : eachField.groups;
                dataGroups.forEach((eachChildField) => {
                  const values = this.getValueField(eachChildField,
                    { groupField: eachField, index });
                  this.getFieldFormatReq(eachChildField, values).then((dataChildField) => {
                    tempEachDataFieldGroup.push(dataChildField);
                  });
                });
                eachDataField.groups.push(tempEachDataFieldGroup);
              });
            }
            additionalData.push(eachDataField);
          });
        });
        resolve(additionalData);
      });
    },
  },

  validations() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
  .container-group {
    border: 0.5px solid #808285;
    padding: 20px;
    border-radius: 5px;
    &__item {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 35px;
      padding-top: 15px;
      position: relative;
      .item {
        &__counter-group {
          position: absolute;
          top: -14px;
          left: 0;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 13px;
          width: 26px;
          height: 26px;
          padding-top: 3px;
          font-size: 12px;
          text-align: center;
        }
        &__remove {
          position: absolute;
          top: -14px;
          right: 0;
        }
      }
    }
  }
  .float-to-right{
    float: right;
  }
  .disabled{
    .jSingleFileUploader{
      .btn,.fa__delete-icon{
        display: none;
      }
    }
  }
</style>
