.jCalendar .vuecal--month-view .vuecal__cell-content {
  align-items: center !important;
}

.jCalendar .vuecal__event.default {
  background-color: #EBEFF0;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event {
  cursor: pointer;
}

.jCalendar .vuecal__event.green-light {
  background-color: #98D4BB;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.green {
  background-color: #218B82;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.blue-light {
  background-color: #D2F0FF;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.blue {
  background-color: #84A6D6;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.pink-light {
  background-color: #FFD9D9;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.pink {
  background-color: #C54B6C;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.orange-light {
  background-color: #FEE6C9;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.orange {
  background-color: #DBBC8E;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.purple-light {
  background-color: #E4CEE0;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__event.purple {
  background-color: #A15D98;
  color: #000000;
  border: none;
}

.jCalendar .vuecal__title span {
  font-size: 18px;
  font-weight: 500;
}

.jCalendar .vuecal__title button {
  font-size: 16px;
  color: #808285;
}

.jCalendar .vuecal__cells .today {
  background-color: #F7F8F9;
}

.jCalendar .vuecal__cells .today .vuecal__cell-date {
  background-color: #1A85E4;
  color: #ffffff;
  border-radius: 15px;
  width: 25px;
}

.jCalendar .vuecal--month-view .vuecal__cell-date {
  padding: 2px;
  margin-bottom: 8px;
  margin-top: 5px;
  font-size: 14px;
}

.container-calendar .vuecal__time-column {
  display: block;
}

.container-calendar .vuecal__menu {
  background-color: #FFFFFF !important;
  border: 1px solid #F0F0F0;
}

.container-calendar .vuecal__cell:before {
  border: 1px solid #F0F0F0 !important;
}

.container-calendar .vuecal__title-bar {
  background-color: #F2F2F2 !important;
}

.container-calendar .vuecal__menu button {
  text-transform: uppercase;
  font-size: 14px;
}

.container-calendar .vuecal__menu button.active {
  border-bottom: 3px solid #4A90E2 !important;
  font-weight: 600;
}

.container-calendar .vuecal__title-bar {
  min-height: 1em;
}

.jCalendar .day-view {
  .vuecal__cell-events {
    display: flex;
    overflow: visible !important;
  }

  .vuecal__event {
    width: 25% !important;
    left: 0% !important;
    position: relative !important;
  }

  .vuecal__now-line {
    z-index: 1;
  }
}
