.currency-selection {
  .input-form {
    position: relative;
  }

  &-default {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      padding: 0px 10px;
      border-right: 1px solid #ced4da;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;

    .info {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: #9A9A9A;
      display: inline;
    }
  }

  .origin-amount {
    padding-left: 70px;
  }

  .modal-rate-currency {
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		box-shadow: 0px 1px 21px rgba(105, 105, 105, 0.25);
		position: absolute;
		left: 0;
		right: 0;
		top: -15vh;
		margin: auto;
		width: 360px;
		padding: 15px 22px;
    z-index: 10;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 12px;

      h3 {
        color: #4A4A4A !important;
      }

      img {
        width: 70px;
      }
    }

		p {
			color: #676767;
			font-size: 13px;
      margin-bottom: 0;

      span {
        font-weight: 700;
      }
		}

    .btn-rate {
      color: #606060;
      background: #FFFFFF;
      border: 1px solid #E7E7E7;
    }

    .error-input {
      label {
        color: #a94442;
      }
      .form-control {
        border: 1px solid #a94442;
      }
    }
	}
}

.popover-convertion-currency {
  width: 250px;
  height: auto;
  z-index: 10;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(191, 191, 191, 0.51);
  border-radius: 11px;
  padding: 13px;
  margin: -15px;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    padding: 4px 0px;

    .convertion-currency-search {
      margin: 0 5px;
    }
    .convertion-currency-input {
      border: none;

      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  &-content {
    max-height: 120px;
    overflow: auto;

    .content-item {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #606060;
      padding-top: 8px;
      padding-bottom: 4px;
      border-bottom: 1px solid #CECECE;
      cursor: pointer;

      &:last-child {
        border: none;
      }
    }
  }
}
