.date-time-container {
  position: relative;

  .x-container {
    position: absolute;
    transform: translateY(-30px);
    cursor: pointer;

    &.date-time {
      right: 15px;
    }

    &.time {
      right: 40px;
    }

    img {
      width: 8px;
      height: 8px;
    }
  }
}

#form-master {
  .jFormGroup .clock-picker__input {
    background-position: 98% !important;
  }
}