.fadeout-enter {
  opacity: 0;
  transition: opacity 1.5s;
}

.fadeout-enter-active {
  transition: opacity 1.5s;
}

.fadeout-leave-active {
  transition: opacity .2s;
}

// styling inside of navbar top
.jNavBar .dropdown-item:focus {
  border: 0;
  outline-color: $white-basic-color;
}
@media only screen and (min-width: 856px) {
  .jNavBar .nav-link[aria-expanded='true'] {
    height: 100%;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $grey-sample;
}

// styling inside of sidebar
#sidebar-wrapper {
  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: .2s ease-in-out;
  }

  .slide-right-leave-active,
  .slide-right-enter-active {
    transition: .2s ease-in-out;
  }

  .icon--blue-color.left-icon::before {
    color: $white-basic-color;
  }

  .router-link-exact-active.a--active {
    .icon--blue-color.left-icon::before {
      color: $blue-basic-color;
    }
  }
}

.jojo-logo img {
  object-fit: cover;
  width: 200px !important;
  height: 30px !important;
  margin-left: 5px !important;
}

#sidebar-wrapper .sidebar__nav--container .div--active .fa{
  color: #4a90e2!important;
}

#sidebar-wrapper .sidebar__nav--container .div--active span {
  color: #4a90e2!important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

#sidebar-wrapper .sidebar__nav--container .sidebar-nav .menus-list .nav-text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

#sidebar-wrapper .router-link-exact-active.a--active .icon--blue-color.left-icon::before {
  color: #4a90e2!important;
}

#sidebar-wrapper .sidebar__nav--container .sidebar-nav .menus-list .toggleable {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

#sidebar-wrapper-apps .sidebar__nav--container .sidebar-nav .menus-list .toggleable {
  font-family: var(--fontThisApps) !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

#sidebar-wrapper-apps .sidebar__nav--container .sidebar-nav .menus-list .blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#sidebar-wrapper .sidebar__nav--container .a--active .fa, #sidebar-wrapper .sidebar__nav--container .a--active span {
  color: #4a90e2!important;
}

.notification-screen .floating-container .message {
  font-family: var(--fontThisApps) !important;
}

.swal2-container .swal2-popup {
  font-family: var(--fontThisApps) !important;
}

.text-group {
  font-family: var(--fontThisApps) !important;
  font-weight: 500;
}

.shortcut-application {
  font-family: var(--fontThisApps) !important;
}

.label-import {
  font-family: var(--fontThisApps) !important;
}

.button-download-template-import {
  font-family: var(--fontThisApps) !important;
}

.label-head-filter {
  font-family: var(--fontThisApps) !important;
}

.body-filter {
  font-family: var(--fontThisApps) !important;
}

.fa {
  font-family: 'FontAwesome' !important;
}

.text-application-detail {
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  letter-spacing: -0.44px;
  color: #4a4a4a;
}

.nav-text {
  margin-left: 15px;
  font-weight: 400;
  font-size: 12px !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff !important;
}

.maintenance-mode-page {
  display: flex;
  position: absolute;
  max-width: 195px;
  background: #FFF6D8;
  border-radius: 7px;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  color: #4A4A4A;
  padding: 4px;
  align-items: center;
  right: 10px;
  margin-top: -35px;
}

.maintenance-mode-page.sub-page {
  margin-top: -26px !important;
}