.field-preview {
  width: 100%;
  display: flex;
  flex-direction: column;

  .input-preview {
    width: calc(100% - 20px);
    padding: 4px 14px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #D8D8D8;

    span {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #808285;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .text-preview {
    height: 35px;
  }

  .textarea-preview {
    align-items: flex-start;
    height: 70px;
  }

  .attachment-preview {
    height: 45px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .toggle-preview {
    height: 20px;
    margin-top: 5px;
  }

  .checkbox-preview {
    margin-bottom: 6px;

    label {
      font-weight: 400;
      font-size: 12px;
      color: #707171;
      margin-bottom: 0;
    }
  }

  .map-preview {
    width: calc(100% - 20px);
    height: 150px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #dddddd;
  }

  .group-preview {
    border: 1px solid #D8D8D8;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
    width: calc(100% - 20px);

    &-header {
      display: flex;
      align-items: center;

      .index {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 9999px;
      }

      div {
        height: 1px;
        width: 100%;
        background-color: #ccc;
      }
    }

    &-container {
      div {
        margin: 3px 0;
      }

      .input-preview {
        width: 100%;
      }
    }

    table {
      margin-bottom: 0;

      tbody tr td .input-preview {
        width: 100%;
      }
    }
  }

  .code-editor-preview {
    height: 70px;
    border: 1px solid #D8D8D8;
    background-color: #ffff;
    width: calc(100% - 20px);

    &-container {
      display: flex;
      margin-top: 4px;

      span {
        width: 65px;
        text-align: center;
      }

      div {
        width: 82%;
        border: 1px solid #D8D8D8;
        border-right: none;
      }
    }
  }

  .column-preview {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    height: 40px;
    border: 1px solid #E7E7E7;

    img {
      width: 14px;
      height: auto;
    }

    .separator {
      width: 1px !important;
      height: 100% !important;
      margin: 0 7px !important;
      background-color: #E7E7E7 !important;
    }

    .column-name {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding: 14px 0;
      margin-left: 16px !important;
      margin-bottom: 0 !important;
      font-weight: 500 !important;
      font-size: 12px !important;
      text-align: center;
      color: #535353 !important;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 1366px) {
  .field-preview {
    .input-preview {
      padding: 4px 10px;

      span {
        font-size: 12px;
      }
    }

    .text-preview {
      height: 30px;
    }

    .textarea-preview {
      height: 60px;
    }

    .attachment-preview {
      height: 35px;
    }

    .checkbox-preview {
      margin-bottom: 4px;

      label {
        font-size: 11px;
      }
    }

    .map-preview {
      height: 80px;
    }

    .column-preview {
      padding: 8px;
      height: 38px;

      img {
        width: 12px;
      }

      .separator {
        margin: 0 6px !important;
      }

      .column-name {
        padding: 12px 0;
        font-size: 10px !important;
      }
    }
  }
}