.floating-table {
  .selected-bottom-rules {
    max-height: 55vh !important;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1300px) and (max-height: 650px) {
  .floating-table {
    .selected-bottom-rules {
      max-height: 45vh !important;

      .total-selected-row {
        font-size: 30px;
      }

      .total-selected-row-label {
        font-size: 12px;
      }

      .btn {
        font-size: 12px;
        padding: 6px 20px;
      }

      .table-floating-popup {
        th {
          span {
            font-size: 11px;
          }
        }

        td {
          font-size: 11px;
        }
      }
    }
  }
}