// sass-lint:disable-all
.floating-prompt {
  border-top: solid .1px $grey-basic-color;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2000;

  &.details-active {
    #action-floating-prompt-table {
      box-shadow: 0 0 0;
    }
  }

  .container.content {
    margin-bottom: -20px;
  }

  .row {
    margin-bottom: unset !important;
    width: 100%;

    &.content {
      margin-top: -22px;
    }
  }

  .arrow-to-close {
    display: block;
    float: right;
  }

  #action-floating-prompt-table {
    box-shadow: 0 1px 10px #7c7a7c;
    margin-left: 0;
    position: relative;
  }

  .floating-prompt-container {
    background-color: rgba(255, 255, 255, 0.94);
    color: #808285;
    padding: 10px 30px 20px 30px;

    h1 {
      color: #42a5ce;
      float: left;
      font-size: 35px !important;
      margin-top: -6px;
      padding: 4px;
      padding-top: 0;
    }

    h4 {
      font-size: 14px;
      line-height: 1.1;
      margin: 0;
      min-width: 85px;
    }

    span {
      color: $blue-basic-color;
      font-size: 14px;
      font-weight: bolder;
    }

    .box {
      padding: 5px;
      padding-top: 0;
    }

    .floating-prompt-toggle {
      margin-top: -3px;

      span {
        padding-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .fa {
      color: $blue-basic-color;
      font-size: 100%;
      font-weight: bolder;

      &:hover {
        cursor: pointer;
      }
    }

    .arrow__grey--big {
      color: $grey-basic-color;
      font-size: 40px;
      padding-right: 30px;
    }

    .btn {
      background-color: #42a5ce !important;
      border: 0;
      color: #fff;
      opacity: 1;
    }
  }
}

.details-active {
  -webkit-transition: .3s all;
  background-color: rgba(255, 255, 255, 0.94);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  transition: .3s all;
}

.show-floating {
  .content-flow {
    border: 1px solid #86d8fa;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.jFloating {
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
  
  .fa-angle-down {
    transform: rotate(0deg);
    transition: transform 0.25s ease;
    &.up {
      transform: rotate(180deg);
    }
  }
}

#floatingPrompt .selected-bottom-rules {
  max-height: 150px;
  right: 0;
  left: unset;
  width: calc(100% - 250px);
  z-index: 1000;

  .col {
    padding: 0 50px;
  }
}

.f-blue {
  color: #4a90e2 !important;
  margin-right: 16px;
}

.floating-text {
  font-weight: 500;
  color: #252525;
  line-height: 17px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-summary {
  display: flex;
  gap: 18px;
  align-items: center;

  .summary-data {
    width: 60%;

    .company-currency,
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #1A85E4;
      margin-bottom: 0;
      overflow-wrap: break-word;
    }
  }

  .summary-list {
    display: flex;
    gap: 4px;
    cursor: pointer;

    h4 {
      white-space: pre;
    }
  }
}

#floatingPrompt .show-detail {
  height: calc(100% - 52px);
  max-height: unset;
}

@media screen and (max-width: 768px) {
  #floatingPrompt .selected-bottom-rules {
    width: calc(100% - 70px);
  }
}