#form-master {
	#passwordInput, #passwordInput > div {
		position: relative;
	}

	#passwordInput > div > .toggle-hide-eye {
		position: absolute;
		top: 36px;
		right: 12px;
		font-size: 18px;
		cursor: pointer
	}

	.form-master .popover {
		width: 550px !important;
		max-width: 550px !important;
		max-height: 750px !important;
		overflow-x: scroll;
		padding: 10px;
	}

	.eye-error {
		margin-right: 20px !important;
	}

	// Dari FormBase.vue
	.clock-picker__input::placeholder {
		opacity: 0.5;
	}

	.container-group {
    border: 0.5px solid #ced1d4;
    padding: 20px;
    border-radius: 5px;
    &__item {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 35px;
      padding-top: 15px;
      position: relative;
      .item {
        &__counter-group {
          position: absolute;
          top: -14px;
          left: 0;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 13px;
          width: 26px;
          height: 26px;
          padding-top: 3px;
          font-size: 12px;
          text-align: center;
        }
        &__remove {
          position: absolute;
          top: -14px;
          right: 0;
          background-color: #fff;
        }
      }
    }
  }
  .float-to-right{
    float: right;
  }
  .disabled{
    .jSingleFileUploader{
      .btn,.fa__delete-icon{
        display: none;
      }
    }
  }
  .add-record-related {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    color: #1a85e4;
    margin-top: 5px;
  }
  .icon-detail-record {
    border-radius: 3.2px;
    background-color: #ededed;
    height: 34px;
    width: 35px;
    margin-left: -2px;
  }
  .shape-blue {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #2c82be;
    cursor: pointer;
  }

  .shape-blue-sky {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #dcebf9;
    cursor: pointer;
  }

  .shape-red {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #e8c7d2;
    cursor: pointer;
  }

  .shape-grey {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #d9d9d9;
    cursor: pointer;
  }

  .shape-green {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 7px;
    object-fit: contain;
    background-color: #9bbea9;
  }

  .content-add-group {
    max-width: 40px;
  }

  .rectangle-add-group {
    width: 20px;
    height: 20px;
    border-radius: 14px;
    background-color: #f0f0f0;
    padding-left: 3px;
    font-size: 15px;
    padding-top: 1px;
  }

  .label-add-more-data {
    font-weight: 400;
    font-size: 12px;
    padding-top: 2px;
  }

  .photo-user-selection {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-size: cover;
    position: relative;
    background-color: rgba(131, 131, 131, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid #ddd;
  }

  .name-user-selection {
    font-weight: 500;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .email-user-selection {
    font-weight: 400;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9c9c9c;
  }

  .label-user-selection {
    font-weight: 500;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .title-user-selection {
    font-weight: 400;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
  }

  .container-tags {
    padding: 5px;
    border: 1px solid #ddd;
    overflow: visible;
    position: absolute;
    width: 95%;
    background: #fff;
    z-index: 100;
  }

  .container-tags-up {
    bottom: 45px !important;
  }

  .container-options-tags {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    width: max-content;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  .block-tags {
    border-radius: 4px;
    border: solid 0.8px #ced4da;
    background-color: #ffffff;
    height: 36px;
    padding: 4px;
    cursor: pointer;
  }

  .block-tags-error {
    border: solid 0.8px #a94442!important;
  }

  .block-tags-disabled {
    background-color: #e9ecef!important;
  }

  .error-required {
    margin: 0 10px;
    color: #a94442!important;
    font-size: 10px;
  }

  .label-tags {
    margin: 0px 5px;
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
  }

  .separator {
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 10px;
    font-weight: 500;
  }

  .placeholder-tags {
    font-size: 14px;
    color: #6c757d;
    opacity: .5;
  }

  .container-monaco-editor {
    min-height: 200px;
    margin-top: 15px;
  }

  .monaco-editor .view-line span{
      font-size: 13px !important;
  }

  .container-attachment {
    border: 0.8px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 6px;
    padding: 5px;
  }

  .error-input .show {
    font-size: 10px;
    margin: 0 10px;
  }

  .error-input .container-attachment {
    border: 0.8px solid #FF0000;
    color: #FF0000;
  }

  .container-attachment.not-error {
    border: 0.8px solid #E7E7E7 !important;
    color: #808285;
  }

  .error-input .info-attachment {
    color: #808285;
  }

  .info-attachment {
    display: block;
    margin-top: -6px;
  }

  .open-detail-record-master {
	font-size: 11px;
    float: right;
	border: 1px solid #e7e7e7;
	border-radius: 15px;
	padding: 2px 7px;
	display: flex;
	align-items: center;
	margin-bottom: 3px;
    font-weight: 500;
	cursor: pointer;

	i {
		margin-right: 5px;
		margin-top: 2px;
	}
  }

  .tooltips {
      position: relative;

    .tooltipstext {
      display: none;
      width: auto;
      min-width: 150px;
      max-width: 100%;
      background-color: #ffffff;
      color: #1d1b1b;
      text-align: left;
      border-radius: 6px;
      padding: 5px 14px;
      font-size: 13px;
      white-space: pre-wrap;
      word-wrap: break-word;
      margin-left: 10px;
      margin-top: -8px;
      border: solid .5px #d1d1d1;
      position: absolute;
      z-index: 1;
      transition: all ease 0.6s;
    }

    &:hover {
      .tooltipstext {
        display: block;
      }
    }
  }

	.btn-add-more {
		width: min-content;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 12px;
		color: #808285;
		white-space: nowrap;
		cursor: pointer;

		img {
			margin-top: -3px;
		}
	}

	section {
		&.section-field {
			padding: 22px 20px;
			border: 1px dashed #dfdfdf;
			border-radius: 8px;

			.wrap-grid {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-gap: 20px;
				margin-bottom: 24px;

				$grids : 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

				@each $grid in $grids {
					.grid-#{$grid} {
						grid-column: auto/span #{$grid};
					}
				}

				.list {
					grid-column: auto/span 12;
				}

				.sortable-ghost {
					margin-bottom: 0;
				}
			}
		}

		h5 {
			font-weight: 500;
			font-size: 14px;
			color: #676767;
			margin-bottom: 8px;
		}

		.field-list {
			position: relative;
			width: 100%;
			background-color: #F4F4F4;
			padding: 10px;
			padding-bottom: 14px;
			border-radius: 8px;
			border: 1px solid transparent;

			&:hover {
				border-color: #1A85E4;

				.edit-or-delete {
					opacity: 1;
				}
			}

			&.selected {
				border: 1px solid #1A85E4;
			}

			.column-name {
				font-weight: 400;
				font-size: 12px;
				color: #707171;
				margin-bottom: 8px;
				margin-left: 24px;
			}

			.icon-drag {
				width: auto;
				height: 15px;
				margin-right: 10px;
				cursor: grab;
			}

		  // .edit-or-delete {
		  //   opacity: 0;
		  // }
		}

		.columns {
			min-width: 100%;
			display: flex;
			align-items: center;
			overflow-x: auto;
			padding-bottom: 10px;

			.column {
				width: auto;
				display: flex;
				flex-direction: column;

				&:hover {
					.header-list {
						.edit-or-delete {
							opacity: 1;
						}
					}
				}

				.header-list {
					position: relative;
					min-width: 165px;
					height: 50px;
					display: flex;
					align-items: center;
					padding: 8px 10px;
					border-right: 1px solid white;
					background-color: #EFEFEF;
					cursor: grab;

					img {
						width: 18px;
						height: auto;
					}

					.separator {
						width: 1px;
						height: 100%;
						margin: 0 7px;
						background-color: white;
					}

					.column-name {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 14px;
						font-weight: 500;
						font-size: 12px;
						text-align: center;
						color: #535353;
						white-space: nowrap;
					}

					.edit-or-delete {
						top: unset;
						bottom: -8px;
						left: 40%;
						right: 40%;
						opacity: 0;

						.button {
							min-width: 50px;
						}
					}

					.btn-add-block {
						position: absolute;
						left: -12px;
						top: 14px;
						width: 24px;
						height: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: white;
						border-radius: 9999px;
						box-shadow: 0px 1px 6px rgba(164, 164, 164, 0.33);
						cursor: pointer;

						i {
							font-size: 12px;
							margin-left: 1px;
							margin-top: 1px;
						}

						&.in-right {
							left: unset;
							right: -12px;
						}
					}
				}

				.column-preview {
					min-width: 165px;
					height: 50px;
					padding: 18px 20px;

					.content-preview {
						width: 100%;
						height: 14px;
						background-color: #EAEAEA;
						border-radius: 9999px;
					}

					&.bg-gray {
						background-color: #F7F7F7;
					}
				}
			}

			.sortable-ghost {
				min-width: 165px;
				height: 100%;
				margin-bottom: 0;
			}
		}

		.action-button-list {
			position: relative;
			width: 100%;
			height: 33px;
			display: flex;
			align-items: center;
			background-color: #EEEEEE;
			border-radius: 6px;
			padding: 0px 12px;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 14px;
			color: #383838;

			.icon-button {
				font-size: 14px;
				margin-right: 6px;
			}

			&:hover {
				.edit-or-delete {
					opacity: 1;
				}
			}

		  // .edit-or-delete {
		  //   opacity: 0;
		  // }
		}
	}

	.section-field {
		width: 100%;
		border-bottom: 1px solid #EEEEEE;
		padding-bottom: 20px;
		margin-bottom: 20px;

		// &:last-child {
		//   border-bottom: none;
		//   margin-bottom: 0;
		// }

		.icon-configuration {
			width: 100%;
			padding: 8px;
			border: 1px solid #E7E7E7;
			border-radius: 8px;

			&.error-input {
				border-color: #A94442;
			}

			.title {
				font-weight: 500;
				font-size: 14px;
				color: #606060;
				margin-bottom: 1px;
			}

			.desc {
				font-weight: 400;
				font-size: 12px;
				color: #606060;
				margin-bottom: 5px;
			}

			.wrap-icon {
				display: flex;
				align-items: center;

				.div-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border-radius: 8px;
					background-color: #E7E7E7;

					i {
						font-size: 16px;
						color: #606060;
					}
				}

				.icon-name {
					font-weight: 500;
					font-size: 12px;
					color: #606060;
					margin-bottom: 2px;
				}

				.icon-change {
					font-weight: 400;
					font-size: 12px;
					color: #1A85E4;
					margin-bottom: 0px;
					cursor: pointer;
				}
			}
		}

		.title-section {
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
			color: #606060;
			margin-bottom: 10px;
		}

		.field-information {
			font-weight: 400;
			font-size: 11px;
			color: #606060;
			margin-top: -16px;
			margin-bottom: 10px;
		}

		.color-input {
			width: 90% !important;
		}

		.error-input {
			.field-information {
				margin-top: 0;
				color: #A94442;
			}
		}

		.btn-add-config {
			font-weight: 400;
			font-size: 12px;
			color: #808285;
			margin-top: 5px;
			margin-bottom: 0;
			cursor: pointer;
		}
	}

	.edit-or-delete {
		position: absolute;
		display: flex;
		top: -5px;
		right: -5px;
		transition: all ease 0.2s;

		.button {
			min-width: 30px;
			height: 20px;
			padding: 0 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white;
			border-radius: 6px;
			box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25);
			color: #808285;
			font-size: 14px;
			cursor: pointer;

			.delete {
				margin-left: 5px;
			}
		}
	}

	.input-width {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 22px;

		input[type="range"] {
			width: 86%;
			-webkit-appearance: none;
			height: 4px;
			background: #E7E7E7;
			border-radius: 9999px;

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 15px;
				height: 15px;
				background: #1A85E4;
				border-radius: 50px;
			}
		}

		.value {
			width: 50px;
			height: 30px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			font-size: 12px;
			color: #999999;
			border-radius: 4px;
			border: 1px solid #E7E7E7;

			span {
				font-weight: 500;
				color: #676767;
				font-size: 13px;
				margin-right: 3px;
			}
		}
	}

	.custom-html-container img {
		width: 100%;
	}

	.container-dynamic-field-no-available {
		border: 1px dashed #E7E7E7;
		border-radius: 4px;
		padding: 10px;
		font-style: normal;
		font-weight: 600;
		font-size: 10px;
		line-height: 15px;
		color: #606060;
	}

	.style-bold {
		font-weight: 600;
	}
	.style-italic {
		font-style: italic;

		h2, h3, h4, h5, h6 {
			font-style: italic !important;
		}
	}
	.style-underline {
		text-decoration: underline;
	}
	.style-left {
		text-align: left;
	}
	.style-center {
		text-align: center;
	}
	.style-right {
		text-align: right;
	}

	.style-grid {
		width: 280px;
		min-height: 285px;
		margin-right: 8px;
	}

	.container-attachment-grid {
		&__contain {
			cursor: pointer;

			.image-div {
				height: 202px;
				border-radius: 4px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.thumbnail-file {
				background-color: #E7E7E7;
				height: 202px;
				border-radius: 4px;
				justify-content: center;
				display: flex;
				align-items: center;
			}
		}

		&__empty {
			background-color: #E7E7E7;
			height: 202px;
			border-radius: 4px;
			justify-content: center;
			display: flex;
			align-items: center;
		}

		.form-control-file {
			display: none;
		}

		.label-upload-file {
			color: #1A85E4;
			font-weight: 400;
			font-size: 12px;
			cursor: pointer;
		}

		.label-option-file {
			color: #808285;
			font-weight: 400;
			font-size: 12px;
		}

		.label-name-file {
			color: #808285;
			font-weight: 600;
			font-size: 12px;
		}

		.label-error {
			font-size: 9px;
			display: block;
			margin: 0;
		}

		.label-attachment {
			min-height: 29px;
			max-height: 36px;
		}

		.action-attachment {
			display: flex;
			height: 25px;
    		align-items: center;
		}
	}

	.custom-html-container {
		li {
			font-size: 12px;
		}
	}

	.copy-value-textarea {
		position: relative;
		cursor: pointer;

		.tooltip-copy {
			display: none;
			border: solid 1px #d1d1d1;
			border-radius: 5px;
			padding: 2px 5px;
			position: absolute;
			background-color: #ffffff;
			width: max-content;
			top: -25px;
			right: -45px;
		}

		&:hover {
			.tooltip-copy {
			  	display: block;
			}
		}
	}
}
