.header-detail-back {
  width: 100%;
  background-color: #efefef;
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: baseline;

  i {
    cursor: pointer;
    margin-right: 15px;
  }

  &:first-letter,
  &:first-line {
    text-transform: capitalize;
  }

  .header-title {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    color: #5c5b5b;
    text-transform: capitalize;
  }

  .header-description {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    color: #8a8a8a;
    text-transform: capitalize;
  }

  .header-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .info-content {
      display: flex;
      align-items: center;

      .info-wrap {
        padding-right: 17px;

        &:last-child {
          padding-left: 17px;
          border-left: 1px solid #E7E7E7;
        }
      }

      .header-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 6px;
      }

      .header-subtitle {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #5C5B5B;
        margin-bottom: 6px;
      }
    }
  }
}
