.switch-board {
  float: left;
}
.switch-board select {
  font-size: 20px;
  background-color: #f8f8f8;
  width: 400px;
}

.btn-add-additional-info{
  color: #1a86e4!important;
}

// jangan pake important yg bawah ini, nanti outline jd kacau
.btn.blue {
  background-color: #1a86e4;
}

.mod-form h3 {
  color: #808285!important;
}

.mod-form a h3 {
  color: #007bff!important;
}

.header-board-detail {
  // height: 60px;
  padding-bottom: 20px;
  font-weight: 600;
  color: #585858!important;
}

.header-board-detail .popover{
  // min-width: 100px;
  max-width: 400px;
  padding: 10px;
  // text-align: center;
}

.back-to-board {
  font-weight: 600;
  color: #1a86e4;
  cursor: pointer;
}

.vue-treeselect__single-value {
  color: #585858!important;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tabs:focus {
  outline: 0;
}

.nav-link {
  font-size: 14px;
  color: #585858!important;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}

.nav-link.active {
  color: #4a90e2!important;
  border-top: 0px!important;
  border-left: 0px!important;
  border-right: 0px!important;
  border-bottom: 4px solid #4a90e2!important;
}

.nav-link:focus {
  outline: 0;
}

.kanban {
  background-color: #e7e9ed;
  margin: 0 -20px;
  padding: 30px 20px 20px 20px;
}

.setting-container {
  background-color: #e7e9ed;
  margin: 0 -20px;
  padding: 10px 20px 20px 20px;
}

.stage-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.stage {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0 1px 0;
  background-color: #fdfdfd;
  margin-right: 15px;
  width: 324px;
  border-radius: 10px;
  border: 1px solid #f2f3f5;
}

.stage-title-container {
  height: 40px;
  padding: 8px;
  h4 {
    margin-bottom: 3px;
  }
  .stage-title {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 164px;
    float: left;
    color: #525252;
  }
  .total-card {
    font-size: 11px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 1px;
    width: fit-content;
    float: left;
    background-color: #f4f4f4;
    margin-left: 3px;
  }
  .stage-total-amount-title {
     font-weight: 500;
     font-size: 11px;
     float: right;
   }
}

.stage-card {
  width: 300px;
  background-color: white;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 1px;
  margin-left: 1px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px!important;
  padding: 10px;
  border: none;
  
  .btn-contextual, .card-pointer {
    cursor: pointer;
  }

  .cursor-dropdown {
    cursor: pointer;
    padding: 5px 15px;
  }
  
  .cursor-dropdown:hover {
    background-color: #4a90e2;
    color: #fff
  }

  h4 {
    // padding-top: 10px;
    color: #808285
  }

  .popover {
    z-index: 2!important;
  }

  .popover-body {
    font-weight: 500;
    // padding: 20px;
  }

  .list-assignee {
    cursor: pointer;
    max-height: 150px;
    overflow-y: scroll;

    // .popover-body {
    //   padding: 20px!important;
    // }

    .card-assignee-initial {
      display: inline-flex;
      background-color: gainsboro;
      color: grey;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      
      span {
        font-size: 14px;
      }
    }

    .card-assignee-photo {
      width: 40px;
      height: 40px;
      background-size: 120px;
      border: 0;
      border-radius: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .card-title {
    font-size: 14px;
    font-weight: 600;
    white-space: initial;
    color: #525252;
    margin-bottom: 0;
  }

  .card-code {
    font-size: 12px;
    font-weight: 500;
    white-space: initial;
  }

  .card-field {
    white-space: initial;
    margin-top: 5px;
  }

  .card-field-item {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 5px;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: fit-content;
    display: inline-block;
    margin: 0 5px 5px 0;
  }

  .card-date {
    font-size: 11px;
    color: #8f8f8f;
    margin-top: 5px;
    float: left;
    .fa {
      font-size: 17px;
      font-weight: bold;
    }
    .date {
      position: absolute;
      padding-left: 3px;
    }
  }

  .card-assignee {

    .card-assignee-initial {
      display: inline-flex;
      background-color: gainsboro;
      color: grey;
      height: 30px;
      width: 30px;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      
      span {
        font-size: 12px;
      }
    }

    .card-assignee-photo {
      width: 30px;
      height: 30px;
      background-size: 120px;
      border: 0;
      border-radius: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.card-label {
  font-size: 14px;
  font-weight: 600;
  white-space: initial;
  // width: 80%;
  // display: inline-block;
  margin-bottom: 5px;

  .label {
    font-size: 10px;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 10px;
    width: fit-content;
    display: inline-block;
    margin: 0 3px 5px 0;
    text-transform: uppercase;

    &.add {
      color: #828282;
      background-color: #f0f0f0;
      padding: 2px 8px;
      cursor: pointer;
    }
    span {
      font-weight: 600;
    }
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.assignee-list-vertical, .assignee-add {
  max-height: 300px;
  overflow-y: scroll;
  .assignee-detail {
    cursor: pointer;
    .card-assignee-initial-modal {
      display: inline-block;
      background-color: gainsboro;
      color: grey;
      font-size: 12px;
      height: 50px;
      width: 50px;
      padding-top: 15px;
      text-align: center;
      border-radius: 50%;
      &.add-card-assignee {
        font-size: 20px;
        height: 44px;
        width: 44px;
        padding-top: 13px;
        margin-left: 3px;
        cursor: pointer;
      }
    }
    .card-assignee-photo-modal {
      width: 50px;
      height: 50px;
      background-size: 120px;
      border: 0;
      border-radius: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .assignee-remove {
      cursor: pointer;
    }
  }
}

.label-detail {
  .label-outer {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }

  .label-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }

  &.label-list {
    max-height: 165px;
    overflow-y: scroll;
  }

  .checkbox-detail input[type="checkbox"] {
    display: none;
  }

  .checkbox-detail label::before,
  .checkbox-detail label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .checkbox-detail label::after {
    height: 5px;
    width: 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 6%;
    top: 10px;
  }
  .label-update-button {
    float: right;
    cursor: pointer;
    padding-top: 3px;
    i {
      font-size: 20px;
      color: #807d7d;
    }
  }

  .checkbox-detail input[type="checkbox"] + label::after {
    content: none;
  }

  .checkbox-detail input[type="checkbox"]:checked + label::after {
    content: "";
  }

  .checkbox-detail input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
  
}

.label-filter {
  .label-outer {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    float: left;
  }

  .label-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }

  &.label-list {
    max-height: 165px;
    overflow-y: scroll;
  }

  .checkbox-filter input[type="checkbox"] {
    display: none;
  }

  .checkbox-filter label::before,
  .checkbox-filter label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  .checkbox-filter label::after {
    height: 5px;
    width: 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 6%;
    top: 10px;
  }
  .label-update-button {
    float: right;
    cursor: pointer;
    padding-top: 3px;
    i {
      font-size: 20px;
      color: #807d7d;
    }
  }

  .checkbox-filter input[type="checkbox"] + label::after {
    content: none;
  }

  .checkbox-filter input[type="checkbox"]:checked + label::after {
    content: "";
  }

  .checkbox-filter input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
  
}

.popover-body:focus{
  outline: 0;
}

.assignee-add .popover {
  z-index: 0;
}

.card-detail-content {
  .due-date {
    font-size: 12pt;
    color: #525252;
    font-weight: 500;
  }

  .popover {
    max-width: 300px;
    min-width: 175px;
    padding: 10px;
  }
  
  .card-detail-assignee {
    cursor: pointer;
    .card-assignee-initial {
      display: inline-flex;
      background-color: gainsboro;
      color: grey;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 50%;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      
      span {
        font-size: 14px;
      }
    }

    .card-assignee-photo {
      width: 40px;
      height: 40px;
      background-size: 120px;
      border: 0;
      border-radius: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.card-detail-header {
  .card-detail-title {
    font-weight: 600;
    font-size: 16px;
    max-width: 700px;
    color: #525252;
    margin-bottom: 10px;
  }

  .card-input-title {
    .jFormGroup {
      width: 70%;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .card-detail-assignee {
    float: right;
    cursor: pointer;
    .card-assignee-initial {
      display: inline-block;
      background-color: gainsboro;
      color: grey;
      margin-right: 5px;
      font-size: 14px;
      height: 40px;
      width: 40px;
      padding-top: 11px;
      text-align: center;
      border-radius: 50%;
    }

    .card-assignee-photo {
      width: 40px;
      height: 40px;
      background-size: 120px;
      border: 0;
      border-radius: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.card-detail-board-name {
  font-weight: 500;
  font-size: 12px;
}

.card-detail-board-name-error {
  margin-top: -20px;
}

.no-card {
  height: 0px;
}

.card-container {
  display: inline;
}

.stage-card-container {
  max-height: calc(100vh - 279px);
  height: calc(100vh - 279px);
  overflow-y: scroll;
  padding: 8px 0 0 8px;
  background-color: #f2f3f5;
}

::-webkit-scrollbar {
  width: 8px!important;
  height: 8px!important;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c6cad3!important;
  border-radius: 50px;
}

.stage-total-amount-title {
  text-align: left;
}

.stage-total-amount {
  float: right;
}

.card-amount {
  font-size: 12px;
  font-weight: bold;
  white-space: initial;
  text-align: right;
}

.card-description {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-remaining {
  color: white;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
}

.moveDetail {
  float: right;
}

.moveDetail:hover {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 6px;
}

.fa-ellipsis-h {
  float: right;
  margin-top: 5px;
}

.modal-lg {
  max-width: 800px!important;
}

.modal-xl {
  max-width: 1100px!important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.stage-title {
  table-layout: fixed;
  width: 306px;
  margin-right: 8px;
  td.title {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td.total-card {
    font-size: 11px;
    font-weight: 500;
    width: 30px
  }
  td.total-amount {
    font-weight: 500;
    font-size: 11px;
    text-align: right;
  }
}

#stage-setting-container {
  .popover {
    left: 0!important;
    right: 0!important;
    top: 30px!important;
    margin-left: auto;
    margin-right: auto;
    transform: initial!important;
    .arrow {
      display: none;
    }
  }
}

#search-form-container {
  .popover {
    width: 600px!important;
  }
}

#assignee-setting-container {
  .popover {
    .arrow {
      display: none;
    }
  }
}

.popover {
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.24);
  border-radius: 7px!important;
  border: none;
  .popover-title {
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: #8a8a8a;
    margin-bottom: 10px;
  }
  .btn-half {
    width: 49%;
  }
}

.board-card {
  box-shadow: 0 0 4px 0 rgba(141, 139, 139, 0.5);
  border-radius: 7px!important;
}