.force-upload-photo {
  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 39000;
    background: rgba(63, 76, 91, 0.397786);
    border: 1px solid #979797;
    -webkit-backdrop-filter: blur(5.43656px);
    backdrop-filter: blur(5.43656px);
  }

  &-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 260px;
    left: calc(100vw - 53%);
    width: 539px;
    height: 370px;
    background: #FFFFFF;
    padding: 1.5rem;
    box-shadow: 0px 4px 16px rgba(153, 153, 153, 0.25);
    border-radius: 11px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .upload-photo-wrap {
      position: relative;
      width: 172px;
      height: 172px;
      box-shadow: 0px 1px 19px 1px rgba(123, 123, 123, 0.23);
      border-radius: 50%;
      transition: all ease 0.4s;
      margin-bottom: 48px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        margin: auto;
        width: 167px;
        height: 50%;
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;
        background: linear-gradient(to bottom, transparent 0%, black 110%);
        transition: all ease 0.4s;
      }

      &:hover {
        &::after {
          width: 164px;
          height: 100%;
          border-radius: 9999px;
          background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.40) 50%, black 110%);
        }
      }

      img {
        width: 172px;
        height: 172px;
        object-fit: cover;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
      }

      .upload-photo {
        position: absolute;
        bottom: 10px;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
        cursor: pointer;

        p {
          font-size: 9px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
          margin: 0;
        }

        input {
          width: 0;
          height: 0;
        }
      }

    }

    &::before {
      content: '';
      position: absolute;
      left: -13px;
      top: 80px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 15px solid #FFFFFF;
    }
  }

  &-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #606060;
    margin-bottom: 23px;
  }

  &-button {
    button {
      width: 92px;
      height: 39.08px;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      border-radius: 4px;
    }

    .button-left {
      background: #FFFFFF;
      color: #606060;;
      border: 1px solid #E7E7E7;

      &:hover {
        color: #E7E7E7;
        background: #606060;
      }
    }

    .button-right {
      background: #1A85E4;
      color: #FFFFFF;

      &:hover {
        background: #3b72b1;
      }

      &:disabled {
        cursor: not-allowed;
        background: #606060;
      }
    }
  }
}