.modal-field-library {
  position: fixed;
  bottom: -80vh;
  left: 0;
  right: 0;
  margin: auto;
  min-width: 600px;
  max-width: 684px;
  max-height: 75vh;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  box-shadow: 0px 1px 63px 24px rgba(150, 150, 150, 0.25);
  transition: all ease 0.4s;
  z-index: 1050;

  .modal-field-title {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 12px 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #606060;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px 4px 6px rgba(212, 212, 212, 0.2);
  }

  .modal-field-content {
    width: 100%;
    padding: 20px 14px 55px 14px;

    .input-search {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      i {
        position: absolute;
        top: 12px;
        left: 14px;
        font-size: 18px;
        color: #b2b2b2;
      }

      input {
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 10px 8px;
        padding-left: 50px;
        border-bottom: 1px solid #D8D8D8;
        color: #606060;
        transition: all ease 0.4s;

        &:focus {
          outline: none;
          border-color: #1A85E4;
          background-color: white;
          box-shadow: 0px 1px 4px rgba(132, 132, 132, 0.31);
        }

        &::placeholder {
          color: #b8b8b8;
        }
      }
    }

    .wrap-field {
      min-height: 200px;
      max-height: calc(75vh - 200px);
      height: calc(75vh - 176px);
      margin-right: -8px;
      overflow-y: auto;
      overflow-x: hidden;

      .field-section {
        margin-bottom: 16px;

        .title-section {
          font-weight: 600;
          font-size: 14px;
          color: #676767;
          margin-bottom: 8px;
        }

        .field-list {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
          grid-gap: 8px;

          .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90px;
            background-color: white;
            border: 1px solid #E7E7E7;
            border-radius: 6px;
            padding: 4px 6px;
            transition: all ease 0.4s;
            cursor: pointer;

            .field-icon {
              width: auto;
              height: 30px;
              margin-bottom: 8px;
            }

            .field-icon-active {
              display: none;
            }

            .field-icon-default {
              display: block;
            }

            span {
              font-weight: 500;
              font-size: 10px;
              line-height: 14px;
              color: #676767;
              text-align: center;
            }

            &:hover {
              border-color: transparent;
              box-shadow: 0px 4px 12px rgba(140, 140, 140, 0.25);

              .field-icon-active {
                display: block;
              }

              .field-icon-default {
                display: none;
              }

              span {
                color: #1A85E4;
              }
            }
          }
        }
      }

      .icon-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(38px, 38px));
        grid-gap: 8px;

        .list {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          height: 38px;
          border-radius: 4px;
          transition: all ease 0.4s;
          cursor: pointer;

          i {
            font-size: 18px;
            color: #606060;
          }

          &:hover {
            background-color: white;
            box-shadow: 0px 1px 4px rgba(96, 96, 96, 0.25);

            i {
              color: #1A85E4;
            }
          }
        }
      }
    }
  }

  .modal-field-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 18px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0px -4px 22px rgba(214, 214, 214, 0.25);

    button {
      min-width: 80px;
      height: 36px;
      background-color: white;
      border: 1px solid #E3E3E3;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      color: #606060;
      box-shadow: none;
    }
  }

  &.show {
    bottom: 100px;
  }
}

@media screen and (max-width: 1366px) {
  .modal-field-library {
    min-width: 500px;
    max-width: 584px;

    .modal-field-title {
      width: 100%;
      height: 30px;
      font-size: 11px;
      padding: 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-field-content {
      // padding: 20px 14px;

      .input-search {
        margin-bottom: 16px;

        i {
          top: 11px;
          font-size: 16px;
        }

        input {
          font-size: 13px;
          padding-left: 46px;
        }
      }

      .wrap-field {
        height: calc(75vh - 176px);

        .field-section {
          margin-bottom: 14px;

          .title-section {
            font-size: 12px;
            margin-bottom: 6px;
          }

          .field-list {
            grid-template-columns: repeat(auto-fill, minmax(88px, 88px));

            .list {
              height: 70px;
              padding: 4px;

              .field-icon {
                height: 20px;
                margin-bottom: 5px;
              }

              span {
                font-size: 9px;
              }
            }
          }
        }

        .icon-list {
          grid-template-columns: repeat(auto-fill, minmax(32px, 32px));

          .list {
            height: 32px;

            i {
              font-size: 14px;
            }
          }
        }
      }
    }

    .modal-field-footer {
      height: 55px;
      padding: 0 18px;

      button {
        min-width: 70px;
        height: 32px;
        font-size: 11px;
      }
    }
  }
}