.jInput .jMultiCheckSelect {
  .div-select-all-data {
    margin-left: 8px;
    margin-top: -5px;

    span {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #4A90E2;
      cursor: pointer;

      &:first-child {
        margin-right: 13px;
      }
    }
  }
}