@mixin image ($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
  height: $size;
  min-height: $size;
  max-height: $size;
  object-fit: cover;
  border-radius: 9999px;
}

@mixin initial ($size, $font-size) {
  width: $size;
  min-width: $size;
  max-width: $size;
  height: $size;
  min-height: $size;
  max-height: $size;
  border-radius: 9999px;
  border-width: 2px;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: $font-size;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 12px 20px;
  padding-top: 14px;
  background-color: white;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.09);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .wrap-left {
    width: 80%;
    display: flex;
    align-items: center;

    img {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .text-app {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #4a4a4a;
    }
  }

  .logo-oos {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .wrap-right {
    display: flex;
    align-items: center;

    .wrap-profile {
      position: relative;
      display: flex;
      justify-content: flex-end;

      .profile {
        display: flex;
        align-items: center;
        border-left: 1px solid #d4d4d4;
        padding-left: 16px;
        cursor: pointer;

        img {
          @include image(32px);
        }

        i {
          font-size: 16px;
          color: #b4b4b4;
          margin-left: 8px;
        }

        .initial {
          @include initial(32px, 11px);
        }
      }
    }

    .floating-container {
      padding: 0px 5px;
    }

    .message, .title {
      max-height: 80px;
      overflow-x: auto;
    }
  }

  .dropdown-profile {
    position: fixed;
    top: 48px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-width: 280px;
    padding: 20px 24px;
    border-radius: 6px;
    box-shadow: 0px 4px 40px rgba(189, 191, 198, 0.49);
    z-index: 99991;

    img {
      @include image(64px);
      margin-bottom: 16px;
    }

    .initial {
      @include initial(64px, 16px);
      margin-bottom: 16px;
    }

    .profile-name {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #646060;
      margin-bottom: 0;
      text-shadow: none;
    }

    .profile-email {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #646060;
      margin-bottom: 0;
    }

    .section-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #E7E7E7;
      margin-top: 20px;
      padding-top: 20px;

      .button {
        padding: 8px 30px;
        background-color: white;
        border: 1px solid #d1d5db;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        color: #606060;
        text-decoration: none;
        line-height: 20px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .dropdown-notification {
    position: fixed;
    top: 48px;
    right: 20px;
    background-color: white;
    width: 345px;
    min-height: 500px;
    padding: 20px 24px;
    border-radius: 6px;
    box-shadow: 0px 4px 40px rgba(189, 191, 198, 0.49);
    z-index: 99991;

    &__title {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
    }

    &__wrap-list {
      max-height: 400px;
      overflow-x: auto;
      margin-top: 5px;
    }

    &__list-item {
      height: 90px;
      border: 1px solid #E7E7E7;
      border-radius: 6px;
      padding: 5px 10px;
      margin-bottom: 10px;
      font-size: 10px;
      font-weight: 400;
      display: flex;
      cursor: pointer;
    }

    &__item-img {
      width: 10%;
    }

    &__item-msg {
      width: 85%;
    }

    &__item-act {
      width: 5%;
    }

    &__msg-headings {
      font-size: 12px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__msg-message {
      font-size: 10px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &__footer {
      justify-content: space-between;
      display: flex;
      border-top: 1px solid #E7E7E7;
      margin: 10px -24px -20px -24px;
      padding: 7px 24px;

      span {
        cursor: pointer;
        font-size: 12px !important;
        font-weight: 600 !important;
        color: #1A85E4;
      }
    }
  }

  .notification-screen{
    z-index: 99992 !important;

    img {
      width: 150px !important;
      height: 150px !important;
      margin-bottom: 10px;
    }
  }
}