.jNavBarApp {
    font-size: 14px;
    padding-bottom: 20px;
    .navbar {
      position: fixed;
      min-height: 50px;
      margin-bottom: 20px;
      border: 1px solid transparent ;
      border-right: 0 !important;
      .fa {
        margin-top: 0;
        font-size: 25px !important;
      }
      .round-bordered-img-small {
        border: 0;
      }
  
    }
    .nav-link, .nav-item{
      &:hover{
        background-color: #e7e7e7;
        border-color: #e7e7e7;
      }
      &[aria-expanded="true"]{
        background-color: #e7e7e7;
        border-color: #e7e7e7;
      }
    }
  
    .dropdown-item{
      display: block;
      padding: 0 20px;
      clear: both;
      font-weight: normal;
      line-height: 20px;
      color: #777;
      white-space: nowrap;
      font-size: 12px;
  
      &:focus{
        border: 1px solid #e7e7e7 !important;
      }
      &:focus, &:hover{
        border: 0;
        color: #262626;
      }
      &:hover{
        background-color: #e7e7e7;
        border: 0;
      }
      &:active{
        background-color: #e7e7e7;
        color: #262626;
      }
    }
  
    .btn-lg{
      border-radius: 0;
    }
    .divider{
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
    .divider-vertical{
      height: 30px;
      width: 1px;
      margin-top: 9px;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  
    #nav_collapse{
      display: block;
  
    }
    .navbar-brand{
      color: black;
    }
    .dropdown-toggle::after{
      display: none;
    }
  
    .navbar-default {
      background-color: #f8f8f8;
      border-color: #e7e7e7;
    }
  
    nav{
      border: 1px solid #e7e7e7;
      background-color: #f8f8f8;
      line-height: 1;
      height: 48px;
    }
  
    .nav-link{
      // padding: 10px 15px !important;
      color: #777;
      line-height: 20px;
      padding-top: 13px !important;
    }

    .dropdown-menu {
      margin-top: 0;
      top :unset;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    }
  
    .fixed-top{
      z-index: 999;
    }
  
    .dropdown-item>li>a:hover {
      text-decoration: none;
      color: #333;
      background-color: transparent;
    }
  
    .navbar{
      padding-right: 0;
    }

    .navbar-gear {
      margin-right: 5px;
      margin-top: 8px;
    }

    .navbar-white{
      height: 52px;
      min-height: 52px;
      max-height: 52px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
      /* padding-top: 12px;
      padding-bottom: 12px; */
    }

    .divider-vertical {
      margin-top: 8px;
    }
  
    @media only screen and (max-width: 855px) {
      .navbar {
        padding-top: 5px;
        padding-bottom: 10px;
        margin-right: 0;
      }
      .time-remaining {
        float: left;
      }
  
      .navbar > .container, .navbar > .container-fluid {
        display: block;
      }
      nav {
        min-height: 110px;
        height: auto;
        top: -22px;
      }
      .nav-item {
        display: block;
        float: left;
      }
  
      .nav-link {
        &:hover {
          background-color: #e7e7e7;
          border-color: #e7e7e7;
          height: auto;
        }
        &[aria-expanded="true"]{
          background-color: #e7e7e7;
          border-color: #e7e7e7;
          height: auto;
        }
      }
      .navbar-brand{
        display: none;
      }
    }
    @media only screen and (min-width: 856px) {
      .navbar-brand{
        font-size: 14px;
        display: block;
        float: left;
        padding-top: 18px;
        font-weight: bold;
        color: #777;
        padding-left: 250px;
  
      }
      .navbar {
        padding-top: 10px;
        margin-right: 0;
      }
  
      .navbar > .container, .navbar > .container-fluid {
        display: block;
      }
      nav {
        min-height: 110px;
        height: auto;
        top: -22px;
      }
      .nav-item {
        display: block;
        float: left;
      }
      .nav-link {
        &:hover {
          background-color: #e7e7e7;
          border-color: #e7e7e7;
          height: auto;
        }
        &[aria-expanded="true"]{
          background-color: #e7e7e7;
          border-color: #e7e7e7;
          height: auto;
        }
      }
    }
    @media only screen and (max-width: 575px) {
      padding-bottom: 20px;
      #nav_collapse {
        display: block !important;
      }
      .navbar-brand{
        display: none;
      }
      .navbar-nav{
        display: block;
        float: right;
        margin-right: 0 !important;
      }
      .divider-vertical{
        float: left;
      }
      .navbar-text{
        float: left;
      }
      nav{
        min-height: 180px;
      }
      .dropdown-menu{
        background-color: transparent;
        border: none;
        box-shadow: none;
  
  
      }
      .nav-item.dropdown{
        &:hover{
          background-color: transparent;
          border-color: transparent;
        }
        &[aria-expanded="true"]{
          background-color: transparent;
          border-color: transparent;
        }
      }
      .nav-item:hover{
        background-color: #e7e7e7;
      }
      .dropdown-item:hover, .dropdown-item:focus {
        color: #333;
        background-color: transparent;
      }
  
    }
    @media only screen and (max-width: 350px) {
      padding-bottom: 150px;
      .navbar-nav{
        padding-left: 10px;
      }
    }
  
    *{
      text-transform: unset;
    }
    // .navbar-nav{
    //   margin-bottom: -10px;
    //   margin-top: -2px;
    //   margin-right: -16px;
    // }
    .no-margin{
      margin:0 !important;
    }
    .time-remaining p {
      line-height: 10px;
      font-size: 10px;
      font-weight: bold;
    }
    .time-remaining{
      padding-top: 17px;
      &:hover{
        background-color: transparent;
        border-color: transparent;
        cursor: unset;
      }
    }
    .round-bordered-img-small {
      float: left !important;
      width: 30px;
      height: 30px;
      background-size: 120px;
      border: 2px solid;
      padding: 2px;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 5px;
      margin-top: -5px;
    }
    .img-responsive{
      display: block;
      max-width: 100%;    
    }
    @media only screen and (max-width: 495px) {
  
      .navbar {
        padding-left: 10px;
  
      }
      .navbar-nav{
        padding-left: 10px;
      }
      .time-remaining{
        float: left;
      }
      .nav-link {
        &:hover {
          height: auto;
        }
        &[aria-expanded="true"]{
          height: auto;
        }
      }
      .dropdown-menu{
        background-color: transparent;
        border: none;
        box-shadow: none;
  
      }
    }
  
    .dropdown-header {
      text-transform: uppercase;
      display: block;
      padding: 3px 20px;
      font-size: 12px;
      line-height: 1.42857143;
      color: #777;
      white-space: nowrap;
      font-weight: 500;
    }
    .user{
      font-size: 14px;
    }
  }
  