.notification-screen {
  .floating-container {
    h2 {
      width: 400px;
    }

    .message{
      h1 {
        font-size: 32px;
        line-height: 36px;
      }
      h2 {
        font-size: 24px;
        line-height: 28px;
        margin: unset;
        width: unset;
      }
      h3 {
        font-size: 18px;
        line-height: 22px;
      }
      h4 {
        font-size: 16px;
        line-height: 20px;
      }
      h5 {
        font-size: 14px;
        line-height: 18px;
      }
      h6 {
        font-size: 12px;
        line-height: 16px;
      }
  
      h1, h2, h3, h4, h5, h6 {
        color: #606060 !important;
      }
    }
  }
}

.notification-screen.maintenance-screen {
  .floating-container img {
    width: 143px !important;
    height: 135px !important;
  }
}