.j-progress-bar {
  width: 100%;

  .label-used {
    margin-right: 7px;
    font-size: 11px !important;
    font-weight: 500 !important;
  }
  .label-used-null {
    position: absolute;
    margin-left: 5px;
    margin-right: 7px;
    font-size: 11px !important;
    font-weight: 500 !important;
  }
  .label-progress-bar {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }
  .progress {
		border-radius: 10px !important;
		background-color: #D3D3D3 !important;
		
		.progress-bar {
			border-radius: 10px !important;
			text-align: right !important;
			font-size: 10px !important;
		}
	}
}