.properties-field {
  position: fixed;
  top: 52px;
  right: 0;
  margin-right: -550px;
  width: 550px;
  height: calc(100vh - 53px);
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 4px rgba(120, 120, 120, 0.25);
  transition: all ease 0.4s;
  z-index: 2147483002;

  .wrap-properties {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px 30px;

    .properties-field-title {
      position: relative;

      h4 {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        color: #4A4A4A;
        line-height: 30px;
        margin-bottom: 12px;

        .title-badge {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          letter-spacing: 0.4px;
          font-size: 11px;
          height: 16px;
          padding: 0px 6px;
          margin-left: 5px;
          background-color: #606060;
          color: white;
          border-radius: 9999px;
        }
      }

      .close-properties {
        position: absolute;
        top: -15px;
        right: -12px;
        font-size: 26px;
        color: #9A9A9A;
        cursor: pointer;
      }

      .wrap-type {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #E7E7E7;

        img {
          width: auto;
          height: 25px;
        }

        .text-type {
          height: 25px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          margin-left: 15px;
          border-left: 1px solid #606060;
          font-weight: 500;
          font-size: 14px;
          color: #606060;
          text-transform: capitalize;
        }
      }
    }

    .properties-field-content {
      width: calc(100% + 20px);
      height: calc(100% - 100px);
      padding-right: 20px;
      padding-bottom: 40px;
      overflow-y: auto;
      overflow-x: hidden;

      .title-field {
        display: flex;
        align-items: center;

        label {
          margin-right: 5px;
        }
      }

      .section-field {
        width: 100%;
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:last-child {
          border-bottom: none !important;
          margin-bottom: 0 !important;
        }

        .icon-configuration {
          width: 100%;
          padding: 8px;
          border: 1px solid #E7E7E7;
          border-radius: 8px;

          &.error-input {
            border-color: #A94442;
          }

          .title {
            font-weight: 500;
            font-size: 14px;
            color: #606060;
            margin-bottom: 1px;
          }

          .desc {
            font-weight: 400;
            font-size: 12px;
            color: #606060;
            margin-bottom: 5px;
          }

          .wrap-icon {
            display: flex;
            align-items: center;

            .div-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              border-radius: 8px;
              background-color: #E7E7E7;

              i {
                font-size: 16px;
                color: #606060;
              }
            }

            .icon-name {
              font-weight: 500;
              font-size: 12px;
              color: #606060;
              margin-bottom: 2px;

            }

            .icon-change {
              font-weight: 400;
              font-size: 12px;
              color: #1A85E4;
              margin-bottom: 0px;
              cursor: pointer;

            }
          }
        }

        .title-section {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #606060;
          margin-bottom: 10px;
        }

        .field-information {
          font-weight: 400;
          font-size: 11px;
          color: #606060;
          margin-top: -16px;
          margin-bottom: 10px;
        }

        .color-input {
          width: 90% !important;
        }

        .error-input {
          .field-information {
            margin-top: 0;
            color: #A94442;
          }
        }

        .btn-add-config {
          font-weight: 400;
          font-size: 12px;
          color: #808285;
          margin-top: 5px;
          margin-bottom: 0;
          cursor: pointer;
        }
      }

      .configuration-section {
        width: 100%;
        padding: 12px 8px;
        border: 1px solid #E7E7E7;
        border-radius: 8px;
        margin-bottom: 10px;

        &.error-input {
          border-color: #A94442;
        }

        .configuration-toggle-in-title {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          .wrap-title {
            width: 80%;

            .configuration-section-title {
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #606060;
              margin-bottom: 2px;
            }

            .configuration-section-desc {
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              color: #606060;
              margin-bottom: 10px;
            }
          }

          .toggle {
            height: 20px;
            margin-right: 40px;
          }

          .filter-option {
            position: relative;
            width: auto;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 0 5px;
            background-color: #F7F7F7;
            border-radius: 15px;

            .filter-selected {
              width: auto;
              height: 22px;
              padding: 0 8px;
              border-radius: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              text-transform: uppercase;
              color: #1A85E4;
              background-color: #D2F0FF;
              margin-right: 5px;
            }

            i {
              font-size: 14px;
              cursor: pointer;
            }

            .filter-options {
              position: absolute;
              top: 5px;
              right: 0;
              width: 95px;
              height: 60px;
              padding: 4px 8px;
              background-color: white;
              border-radius: 8px;
              box-shadow: 0px 2px 5px rgba(85, 84, 84, 0.25);

              p {
                font-weight: 500;
                font-size: 12px;
                color: #606060;
                text-align: center;
                margin-bottom: 10px;
              }

              .operator-option {
                width: auto;
                height: 22px;
                padding: 0 8px;
                border-radius: 11px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 10px;
                text-transform: uppercase;
                color: #606060;
                background-color: #E7E7E7;
                cursor: pointer;
                margin-right: 5px;

                &:last-child {
                  margin-right: 0;
                }
              }

              .operator-selected {
                color: #1A85E4;
                background-color: #D2F0FF;
              }
            }
          }
        }

        .configuration-section-title {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #606060;
          margin-bottom: 2px;
        }

        .configuration-section-desc {
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: #606060;
          margin-bottom: 10px;
        }

        .configuration-section-subtitle {
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: #606060;
        }

        .configuration-section-setup {
          font-weight: 500;
          font-size: 12px;
          color: #1A85E4;
          margin-bottom: 7px;
          cursor: pointer;
        }

        .div-custom-action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .wrap-left {
            display: flex;
            align-items: center;

            .icon {
              width: auto;
              height: 24px;
              margin-right: 5px;
            }

            .title-div {
              display: flex;
              align-items: center;
              font-weight: 500;
              font-size: 14px;
              color: #606060;
              margin-bottom: 2px;

              img {
                width: auto;
                height: 10px;
                margin-left: 5px;
              }
            }

            .desc-div {
              font-weight: 400;
              font-size: 12px;
              color: #606060;
              margin-bottom: 0px;
            }
          }

          .open-modal {
            width: auto;
            height: 15px;
            margin-left: 12px;
            cursor: pointer;
          }
        }

        .div-input-option {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #E7E7E7;
          margin-bottom: 10px;

          &.error-input {
            border-color: #A94442;
          }

          input {
            width: 90%;
            padding: 4px;
            border: none;
            font-weight: 400;
            font-size: 14px;
            color: #606060;

            &:focus {
              outline: none;
            }

            &::placeholder {
              color: #bdbcbc;
            }
          }

          i {
            font-size: 16px;
            margin-right: 10px;
          }
        }

        .div-input-location {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #E7E7E7;
          margin-bottom: 10px;
          padding-bottom: 10px;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }

          label {
            font-weight: 400;
            font-size: 12px;
            color: #606060;
            margin-bottom: 0;
          }

          .toggle {
            height: 20px;
            margin-right: 40px;
          }
        }

        .div-list-language {
          min-width: 85px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid #E7E7E7;
          font-weight: 500;
          font-size: 12px;
          color: #606060;
          margin-right: 5px;
          transition: all ease 0.4s;
          cursor: pointer;

          &.active {
            background-color: #F5FAFF;
            color: #1A85E4;
            border-color: #1A85E4;
          }

          &.disabled {
            background-color: #E7E7E7;
            color: #606060;
            border-color: #E7E7E7;
          }
        }

        .div-filter {
          padding: 8px 10px;
          border: 1px solid #E7E7E7;
          border-radius: 8px;
          margin-bottom: 8px;

          .header-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .index {
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 500;
              font-size: 12px;
              line-height: 15px;
              color: #606060;
              border: 1px solid #E7E7E7;
              border-radius: 9999px;
            }

            i {
              font-size: 14px;
              cursor: pointer;
            }
          }
        }

        .div-external-api {
          display: flex;
          align-items: center;

          .icon-ext-api {
            width: 33px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F1F1F1;
            border-radius: 6px;
            margin-right: 12px;

            img {
              width: 22px;
              height: 22px;
            }
          }

          .ext-api-desc {
            display: flex;
            flex-direction: column;

            .ext-api-url {
              font-weight: 500;
              font-size: 12px;
              color: #606060;
              margin-bottom: 2px;

              .method {
                font-weight: 500;
                font-size: 12px;
                color: #1A85E4;
                background-color: #D2F0FF;
                padding: 1px 6px;
                margin-right: 4px;
                border-radius: 9999px;
              }
            }

            .edit-btn {
              font-weight: 400;
              font-size: 12px;
              color: #1A85E4;
              cursor: pointer;
            }
          }
        }

        .separator {
          width: 100%;
          height: 1px;
          background-color: #E7E7E7;
          margin: 20px 0;
        }
      }
    }

    .properties-field-content-config {
      height: calc(100% - 80px);
      padding-bottom: 0;
    }

    .field-list {
      position: relative;
      width: 100%;
      background-color: #F4F4F4;
      padding: 6px;
      padding-bottom: 8px;
      border-radius: 8px;
      margin-bottom: 20px;
      border: 1px solid transparent;

      &.selected {
        border: 1px solid #1A85E4;
      }

      &:hover {
        border-color: #1A85E4;

        .edit-or-delete {
          opacity: 1;
        }
      }

      .column-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #808285;
        margin-bottom: 4px;
        margin-left: 20px;
      }

      .icon-drag {
        width: auto;
        height: 15px;
        margin-right: 8px;
        cursor: grab;
      }

      .edit-or-delete {
        position: absolute;
        display: flex;
        top: -10px;
        right: 5px;
        opacity: 0;
        transition: all ease 0.4s;

        .button {
          min-width: 30px;
          height: 20px;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          border-radius: 6px;
          box-shadow: 0px 1px 4px rgba(117, 117, 117, 0.25);
          color: #808285;
          font-size: 14px;
          cursor: pointer;

          .delete {
            margin-left: 5px;
          }
        }
      }

      &.sortable-ghost {
        position: relative;
        width: 100%;
        height: 64px;
        margin-bottom: 24px;
        background-color: #D2F0FF;
        border: 1px dashed #1A85E4;
        border-radius: 8px;
        font-size: 0;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #D2F0FF;
        }

        .edit-or-delete {
          display: none;
        }
      }
    }

    .form-list {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      input {
        border: none;
        border-bottom: 1px solid #E7E7E7;
        background-color: transparent;
        font-weight: 400;
        font-size: 14px;
        color: #606060;
        padding: 4px 6px;
        transition: all ease 0.6s;

        &:focus {
          outline: none;
          border-color: #1A85E4;
        }

        &::placeholder {
          color: #bdbcbc;
        }
      }

      .name {
        width: 30%;
        margin-right: 20px;
      }

      .value {
        width: 68%;
        margin-right: 10px;
      }

      i {
        font-size: 14px;
        color: #606060;
        cursor: pointer;
      }
    }

    .form-list-2 {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      i {
        font-size: 14px;
        color: #606060;
        cursor: pointer;
      }
    }

    .properties-field-button {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 0 26px;
      background-color: white;
      box-shadow: 0px -4px 22px rgba(214, 214, 214, 0.25);

      .button-border {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 85px;
        height: 36px;
        padding: 0px 8px;
        background-color: white;
        box-shadow: none;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        color: #606060;

        i {
          margin-right: 5px;
        }

        img {
          width: auto;
          height: 14px;
          margin-right: 5px;
        }
      }

      .button-blue {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 85px;
        height: 36px;
        padding: 0px 8px;
        background-color: #1A85E4;
        box-shadow: none;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        color: white;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}

.show-properties-field {
  margin-right: 0 !important;
}

.show-properties-group {
  margin-right: 55px !important;
}

.properties-field-group {
  background-color: rgba(255, 255, 255, 0.9) !important;
  top: 0 !important;
  right: -55px !important;
}

@media screen and (max-width: 1366px) {
  .properties-field {
    width: 450px;

    .wrap-properties {
      padding: 20px 24px;

      .properties-field-title {
        h4 {
          font-size: 14px;
          margin-bottom: 10px;

          .title-badge {
            font-size: 9px;
            height: 14px;
          }
        }

        .close-properties {
          font-size: 20px;
          top: -10px;
          right: -9px;
        }

        .wrap-type {
          img {
            height: 20px;
          }

          .text-type {
            font-size: 12px;
          }
        }
      }

      .properties-field-content {
        .section-field {
          padding-bottom: 10px;
          margin-bottom: 10px;

          .title-section {
            font-size: 12px;
            margin-bottom: 8px;
          }

          .field-information {
            font-size: 10px;
            margin-bottom: 8px;
          }

          .icon-configuration {
            .title {
              font-size: 12px;
            }

            .desc {
              font-size: 10px;
            }

            .wrap-icon {
              display: flex;
              align-items: center;

              .div-icon {
                width: 36px;
                height: 36px;

                i {
                  font-size: 14px;
                  color: #606060;
                }
              }

              .icon-name {
                font-size: 10px;
                margin-bottom: 0;
              }

              .icon-change {
                font-size: 10px;
              }
            }
          }

          .btn-add-config {
            font-size: 10px;
          }

          .color-input {
            width: 87% !important;
          }
        }

        .configuration-section {
          padding: 8px;

          .configuration-toggle-in-title {
            .wrap-title {
              .configuration-section-title {
                font-size: 12px;
              }

              .configuration-section-desc {
                font-size: 10px;
                margin-bottom: 8px;
              }
            }

            .filter-option {
              i {
                font-size: 12px;
              }
            }
          }

          .configuration-section-title {
            font-size: 12px;
          }

          .configuration-section-desc {
            font-size: 10px;
            margin-bottom: 8px;
          }

          .configuration-section-subtitle {
            font-size: 10px;
          }

          .configuration-section-setup {
            font-size: 10px;
          }

          .div-custom-action {
            .wrap-left {
              .icon {
                height: 20px;
                margin-right: 3px;
              }

              .title-div {
                font-size: 12px;
              }

              .desc-div {
                font-size: 10px;
              }
            }

            .open-modal {
              height: 13px;
              margin-left: 10px;
            }
          }

          .div-input-location {
            label {
              font-size: 11px;
            }
          }

          .div-list-language {
            min-width: 80px;
            font-size: 11px;
          }

          .div-external-api {
            display: flex;
            align-items: center;

            .icon-ext-api {
              width: 28px;
              height: 28px;
              border-radius: 4px;
              margin-right: 10px;

              img {
                width: 18px;
                height: 18px;
              }
            }

            .ext-api-desc {
              .ext-api-url {
                font-size: 11px;

                .method {
                  font-size: 11px;
                  margin-right: 2px;
                }
              }

              .edit-btn {
                font-size: 11px;
              }
            }
          }
        }
      }

      .field-list {
        margin-bottom: 14px;
      }

      .properties-field-button {
        .button-border {
          min-width: 80px;
          height: 30px;
          font-size: 11px;
        }

        .button-blue {
          min-width: 80px;
          height: 30px;
          font-size: 11px;
        }
      }
    }
  }
}