#search-suggestion {
  position: fixed;
  width: 400px;
  background-color: #ffff;
  color: #4A4A4A;
  z-index: 999;
  left: 9px;
  height: auto;
  max-height: 560px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(123, 122, 122, 0.5);
  border-radius: 11px;
  padding: 10px;

  .suggestion-header {
    display: flex;

    span {
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      color: #4A4A4A;
      margin-bottom: 3px;
    }
  }

  .suggestion-content {
    position: relative;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;

    div:last-child {
      .suggestion-container {
        border-bottom: 1px solid #EFEFEF;
      }
    }
  }

  .suggestion-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-top: 1px solid #EFEFEF;

    &:hover {
      background-color: #ccc;
    }
  }

  .suggestion-item {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .suggestion-title {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .suggestion-info {
    padding: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1366px) {
  #search-suggestion {
    max-height: 450px;

    .suggestion-content {
      max-height: 415px;
    }
  }
}