/* All sidebar components styles */
/* Created by  Arga Ghulam Ahmad - arga@jojonomic.com */

/* --- jSidebar Styles --- */

/* Sidebar Wrapper */
#sidebar-wrapper-app {
  body {
    overflow-x: hidden;
  }

  z-index: 1000;
  position: fixed;
  top: 0;
  left: 250px;
  width: 258px;
  background: #333133;
  height: 500%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  // Skeleton app
  .skeleton-app {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 8px;
    padding-left: 8px;
  
    .list {
      height: 42px;
      background-color: #626262;
      border-radius: 6px;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  
    @keyframes pulse {
      50% {
        opacity: .5;
      }
    }
  }

  /* Sidebar Nav */
  .sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
  }

  /* Menus */
  .menus {
    width: inherit;
    position: fixed;
    top: 90px;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
  }


  .collapse {
    ul {
      padding-left: 20px;
    }
  }

  .collapse--shadow-box {
    -moz-box-shadow: inset 0 8px 8px -6px #282628, inset 0 -8px 8px -8px #282628;
    -webkit-box-shadow: inset 0 8px 8px -6px #282628, inset 0 -8px 8px -8px #282628;
    box-shadow: inset 0 8px 8px -9px #282628, inset 0 -8px 8px -8px #282628;
  }

  .menu-head {
    position: fixed;
    top: 30px;
    left: 10px;
    height: fit-content;
  }

  #menu-toggles {
    width: 100%;
  }

  .menu-head a.btn-jojo-product {
    text-decoration: none;
    color: #cfcfcf;
    cursor: pointer;

    .fa {
      font-size: 20px;
      padding-right: 5px;
      padding-top: 16%;
      color: #cfcfcf;
    }
  }

  .jojo-logo {
    img {
      visibility: hidden;
      animation: 0.3s fadeIn;
      animation-fill-mode: forwards;
      width: 200px;
    }
  }

  .jojo-icon {
    img {
      width: 40px;
      height: 40px;
      display: block;
      margin: auto;
    }
  }

  .toggleable-hidden {
    visibility: hidden;
  }

  /* Slide animations styles*/
  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: 0.5s;
  }

  .slide-left-enter {
    transform: translate(100%, 0);

  }

  .slide-left-leave-to {
    transform: translate(100%, 0);
  }

  .slide-right-leave-active,
  .slide-right-enter-active {
    transition: 0.5s;
  }

  .slide-right-enter {
    transform: translate(-100%, 0);

  }

  .slide-right-leave-to {
    transform: translate(-100%, 0);
  }

  /* Quarter circle animation styles */
  .fa-angle-right {
    font-size: small !important;
    margin-top: 5px !important;
  }

  .fa-angle-right {
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.2s;
  }

  .fa-angle-right.open {
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.2s;
  }

  /* Menus Styles */
  .sidebar__nav--container {
    position: absolute;

    .icon--right {
      float: right;
    }

    .sidebar-nav {
      .menus-list {
        li {
          width: 120%;
          margin-left: -20%;
          list-style: none;

          a {
            padding-left: 65px;
          }
        }

        .left-icon {
          font-size: 20px;
        }

        span .left-icon-url {
          width: 20px;
          vertical-align: sub;
        }

        .nav-text {
          padding-left: 5px;
          vertical-align: text-bottom;
        }

        .toggleable {
          vertical-align: text-bottom;
        }
      }

      li {
        color: #fff;
        text-indent: 0;
        line-height: 1px;
        cursor: pointer;

        a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          padding: 10px 20px 10px 20px;
        }

        a:hover {
          text-decoration: none;
          color: #fff;
          background-color: $jSidebar-menu-active-background-color;
        }

        a:active,
        .sidebar-nav li a:focus {
          text-decoration: none;
        }
      }
    }

    @mixin active-color {
      color: $jSidebar-menu-active-color;
    }

    .div--menu {
      text-decoration: none;
    }

    .div--active {
      background-color: $jSidebar-menu-active-background-color;

      span,
      .fa {
        @include active-color
      }
    }

    .a--active {
      background-color: $jSidebar-menu-active-background-color;

      span,
      .fa {
        @include active-color
      }
    }
  }

  .icon--bold {
    font-weight: bolder;
  }

  .icon--blue-color {
    color: $blue-basic-color;
  }
}

#wrapper.toggled #sidebar-wrapper-app {
  width: 250px;
}

#sidebar-wrapper-apps {
  z-index: 3;
}

#sidebar-wrapper-apps .sidebar__nav--container {
  width: 100%;
}

#sidebar-wrapper-apps .menus {
  padding-top: 80px !important;
  height: 100% !important;
  top: 0px !important;
}

#sidebar-wrapper-apps .height-search {
  padding-top: 115px !important;
}

.img-search-pages {
  position: absolute;
  top: 90px;
  left: 20px;
}

.input-search-pages {
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px;
  transition: all ease 0.6s;
  margin: 0 15px;
  padding: 3px 0px 3px 25px;

  &:focus {
    outline: none;
    border-color: #1A85E4;
    background: rgba(255, 255, 255, 0.14);
  }
}

.wrap-search-pages {
  position: absolute;
  width: 95%;
  padding-top: 80px;
  z-index: 9999;
  background-color: #333133;

  .div-clear-value {
    position: absolute;
    top: 2px;
    right: 20px;
    cursor: pointer;
    
    img {
      width: 8px;
      height: 8px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 542px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #sidebar-wrapper-app {
    width: 70px;

    .menus {
      margin-top: 50px;
      height: 80%;
    }

    .menu-head a.btn-jojo-product {
      i {
        text-align: center;
        font-size: 20px;
        padding-left: 15px;
      }
    }

    .item {
      i {
        padding-left: 5px;
      }
    }

    .collapse {
      ul {
        padding-left: 0;
      }

      i {
        padding-left: 10px;
      }
    }

    .div--menu {
      i {
        padding-left: 5px;
      }
    }

    .jojo-logo {
      img {
        visibility: hidden;
        animation: 0.3s fadeOut;
        animation-fill-mode: forwards;
      }
    }

    .jojo-icon {
      padding-top: 80px;
    }

    .toggleable {
      visibility: hidden;
    }

    .toggleable-hidden {
      visibility: visible;
    }
  }

  #wrapper.toggled #sidebar-wrapper-app {
    width: 70px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}