.container-slider-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;

  input[type="range"] {
    width: 93%;
    -webkit-appearance: none;
    height: 7px;
    background: #E7E7E7;
    border-radius: 9999px;
    padding: 0px;
    border: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #1A85E4;
      border: 4px solid #fcfcfc;
      border-radius: 50px;
      box-shadow: 0px 0px 5px rgba(18, 154, 233, 0.25);
      cursor: pointer;
    }
  }

  .value-slider {
    width: 50px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #999999;
    border-radius: 4px;
    border: 1px solid #E7E7E7;

    span {
      color: #676767;
      font-size: 12px;
      margin-right: 3px;
    }
  }
}

.container-slider-string {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // margin-bottom: 10px;
  // margin-top: 10px;

  input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 7px;
    background: #E7E7E7;
    border-radius: 9999px;
    padding: 0px;
    border: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      background: #1A85E4;
      border: 4px solid #fcfcfc;
      border-radius: 50px;
      box-shadow: 0px 0px 5px rgba(18, 154, 233, 0.25);
      cursor: pointer;
    }
  }

  .label-slider {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
  }
}