@mixin block {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: transparent;
  border-color: var(--color) var(--color) transparent transparent;
  border-style: solid;
  border-width: 2px 2px medium medium;
  transform: rotate(45deg);
}

@mixin before {
  @include block;

  width: 54px;
  height: 54px;
  border-radius: 4px;
  left: -27px;
  top: 9px;

  // Media Query Width
  @media screen and (max-width: 1124px) {
    top: 9px;
  }

  @media screen and (max-width: 989px) {
    top: 9px;
    width: 54px;
    height: 54px;
  }

  @media screen and (max-width: 824px) {
    top: 9px;
    width: 54px;
    height: 54px;
  }
}

@mixin after {
  @include block;
  top: 8px;
  width: 55px;
  height: 56px;
  border-radius: 3px;
  right: -24px;
  z-index: 1;

  @media screen and (max-width: 824px) and (min-width: 707px) {
    width: 56px;
    height: 55px;
    right: -25px;
  }

  @media screen and (max-width: 494px) {
    width: 56px;
    height: 56px;
  }
}

#summary-block.wrap-summary-block {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding-bottom: 15px;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    height: 4px;
  }

  .container-summary-block {
    position: relative;
    width: 182px;
    min-width: 120px;
    height: 76px;
    box-sizing: border-box;
    border-radius: 7px;
    margin-right: 6px;
    padding: 5px;
    border: 2px solid var(--color);
    cursor: pointer;

    .item-name {
      min-width: 80px;
      color: var(--color);
      font-weight: 500;
      font-size: 12px;
      text-transform: capitalize;
    }

    .item-count {
      font-weight: 500;
      font-size: 20px;
      color: #4A4A4A;
    }

    &:hover {
      background: var(--color);
      border-color: var(--color);

      .item-name,
      .item-count {
        color: #ffffff;
      }

      &:before {
        border-style: none;
        left: -30px;
        border-radius: 6px;
        background: linear-gradient(45deg, transparent 0%, rgba(255, 255, 255, 0) 0%, #fff 50%, #fff 100%);
      }

      &:after {
        background-color: var(--color);
      }
    }
  }

  .non-workflow {
    height: 63px;
  }

  .sum-start {
    border-right: 0;
    border-radius: 10px 4px 4px 10px;
    padding-right: 40px;

    &::after {
      @include after;
    }
  }

  .sum-middle {
    min-width: 136px;
    max-width: 182px;
    width: 182px;
    border-right: 0;
    border-left: 0;
    border-radius: 3px 4px 4px 3px;
    padding-left: 45px;
    padding-right: 30px;


    &:hover {
      &:before {
        border-radius: 5px;
        left: -26px;
      }
    }

    &:before {
      @include before;
    }

    &:after {
      @include after;
    }
  }

  .sum-last {
    min-width: 145px;
    max-width: 182px;
    width: 182px;
    border-left: 0;
    border-radius: 3px 10px 10px 3px;
    padding-left: 45px;
    padding-right: 20px;

    &:hover {
      &:before {
        border-radius: 5px;
        left: -30px;
      }
    }

    &::before {
      @include before;
    }
  }

  .sum-alone-last {
    min-width: 136px;
    max-width: 182px;
    width: 182px;
    border-radius: 10px
  }

  .container-summary-block-active {
    background: var(--color);
    border-color: var(--color);

    .item-name,
    .item-count {
      color: #ffffff;
    }

    &:before {
      border-style: none;
      background: linear-gradient(45deg, transparent 0%, rgba(255, 255, 255, 0) 00%, #fff 50%, #fff 100%);
    }

    &:after {
      background-color: var(--color);
    }
  }

  .container-summary-block-active.sum-last {
    &:before {
      left: -30px;
      border-radius: 5px;
    }
  }

  .container-summary-block-active.sum-middle {
    &:before {
      left: -30px;
      border-radius: 5px;
    }
  }

  .summary-employee .sum-start-first {
    min-width: 25% !important;
    max-width: 25% !important;
  }

  .summary-employee .sum-last {
    &:before {
      display: none;
    }

    min-width: 25% !important;
    max-width: 25% !important;
  }

  .summary-employee .sum-alone-last {
    min-width: 25% !important;
    max-width: 25% !important;
  }

  // Media Query Height
  @media screen and (max-height: 874px) {

    .sum-middle,
    .sum-last {
      &:before {
        left: -27px;
      }
    }
  }

  @media screen and (max-height: 769px) {

    .sum-middle,
    .sum-last {
      &:before {
        width: 54px;
        height: 54px;
        left: -27px;
        top: 8.5px;
      }
    }
  }

  @media screen and (max-height: 641px) {

    .sum-middle,
    .sum-last {
      &:before {
        width: 54px;
        height: 54px;
        left: -27px;
        top: 9px;
      }
    }

    .sum-start,
    .sum-middle {
      &:after {
        width: 56px;
        height: 55px;
        right: -25px;
      }
    }
  }

  @media screen and (max-height: 549px) {

    .sum-middle,
    .sum-last {
      &:before {
        width: 54px;
        height: 54px;
        left: -27px;
        top: 9px;
      }
    }

    .sum-start,
    .sum-middle {
      &:after {
        width: 55px;
        height: 56px;
        right: -24px;
      }
    }
  }

  @media screen and (max-height: 480px) {

    .sum-middle,
    .sum-last {
      &:before {
        width: 55px;
        height: 55px;
        left: -27px;
        top: 8px;
      }
    }
  }

  @media screen and (max-height: 384px) {

    .sum-start,
    .sum-middle {
      &:after {
        width: 56px;
        height: 56px;
      }
    }
  }
}