.tab-header {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px 0;

  .content-tab {
    width: auto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }

    .underline-data {
      width: 100%;
      height: 4px;
      margin: 1px 0 0;
      background-color: #4a90e2;
    }
  }

  .content-tab-active {
    font-weight: 600;
  }
}