.wrap-tag-filter {
  display: flex;
  flex-wrap: wrap;

  .container-tag-filter {
    margin-bottom: 5px;
    width: fit-content;
    font-weight: 500;
    font-size: 14px;
    color: #4A4A4A;
    cursor: pointer;
  }

  .container-tag-filter-button {
    padding: 2px 10px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
  }

  .container-tag-filter-button-active {
    border: 1px solid #1a85e4 !important;
  }

  .container-tag-filter-tab {
    padding: 2px 0px;
    margin-right: 15px;
    border-bottom: 3px solid #e7e7e7;
  }

  .container-tag-filter-tab-active {
    border-bottom: 3px solid #1a85e4 !important;
  }
}