$blue: #42A5CE;
$orange: #F36F21;
$light-blue: #59B0B2;
$light-purple: #9C0D5C;
$green: #41AD49;
$brown: #4D3921;
$brownish-grey: #938270;
$tosca: #0A848E;
$purple: #8A0D4F;
$violet: #3f51b5;
$grey: #808285;
$yellow: #F8991D;
$yellow-light: #FFEB3B;
$light-grey: #DFDFEA;
$red: #D2232A;
$dark-brown: #3E2723;

$status_list: (
  ($grey, waiting),
  ($grey, draft),
  ($grey, default),
  ($grey, closed),
  ($grey, on-close),
  ($grey, onclose),

  ($blue, logs),
  ($blue, approved),

  ($orange, unverified),

  ($green, reimbursed),
  ($green, signed),
  ($green, disbursed),

  ($brownish-grey, reported),

  ($tosca, paid),
  ($tosca, verified),

  ($purple, rejected),

  ($yellow, submitted),
  ($yellow, sent),
  ($yellow, process),

  ($yellow-light, unsigned),

  ($red, canceled),

  ($dark-brown, aborted),

  ($dark-brown, failed)
);



@each $color,
$status in $status_list {
  .timeline .node.child.#{$status}:after {
    background-color: $color;
  }

  .timeline .node.child.#{$status} img {
    border-color: $color;
  }

  .jTimeLine-oos .#{$status} .b-page-theme {
    border-color: $color!important
  }

  .jTimeLine-oos .#{$status} .c-page-theme {
    color: $color!important
  }

  .jTimeLine-oos .b-#{$status},
  .jTimeLine-oos .#{$status} .b-page-theme {
    border-color: $color!important
  }

  .jTimeLine-oos .bdc-#{$status},
  .jTimeLine-oos .#{$status} .bdc-page-theme {
    color: $color  !important;
    border-color: $color  !important;
    background-color: transparent;
    opacity: .9
  }

  .jTimeLine-oos .bc-#{$status},
  .jTimeLine-oos .#{$status} .bc-page-theme {
    background-color: $color  !important;
    color: #fff
  }

  .jTimeLine-oos .allSub .lineTop.#{$status},
  .jTimeLine-oos .line.#{$status} {
    background-color: $color
  }

  .jTimeLine-oos .node .allSub.#{$status} {
    border-color: $color
  }

  .jTimeLine-oos .lineBottom.#{$status} {
    background-color: $color
  }

  .jTimeLine-oos .item.hasSub .lineBottom.#{$status} {
    border-color: $color
  }
}

.jTimeLine-oos {
  font-size: 12px;
  padding-top: 5px;
  //position: relative;
  //z-index: 1050;
}

.jTimeLine-oos .bc-light-grey,
.jTimeLine-oos .light-grey .bc-page-theme {
  background-color: #dfdfea !important;
  color: #fff
}

.jTimeLine-oos .c-grey,
.jTimeLine-oos .grey .c-page-theme {
  color: #808285 !important
}

.jTimeLine-oos .note {
  border-radius: 4px;
  padding: 5px;
  height: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.jTimeLine-oos .table {
  display: table;
  margin-bottom: 0
}

.jTimeLine-oos .table .td {
  display: table-cell;
  vertical-align: top;
}

.jTimeLine-oos .item {
  position: relative;
  min-height: 48px;
}

.jTimeLine-oos .item .lineBottom {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 42px;
  left: 22px
}

.jTimeLine-oos .item .lineBottom.groupBoxLineBottom {
  position: absolute;
  width: 3px;
  height: 23px;
  top: 100%;
  left: 19px;
}

.jTimeLine-oos .item .lineTop {
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 20%;
  top: -11%;
  left: 22px
}

.jTimeLine-oos .item.hasSub .lineBottom {
  border-left: 3px solid red;
  border-right: 3px solid red;
  background-color: transparent;
  width: 10px
}

.jTimeLine-oos .item.hasSub.last .lineBottom {
  border-left: 3px solid transparent;
  background-color: transparent;
  width: 10px
}

.jTimeLine-oos .last.lineBottom {
  height: 100%;
  background-color: transparent !important;
}

.jTimeLine-oos .first.lineTop {
  height: 0
}

.jTimeLine-oos .groupBox {
  border: 3px solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-color: white;
  padding: 5px;
}

.jTimeLine-oos .groupBox .groupData .lineBottom {
  z-index: 0;
}

// .jTimeLine-oos .lineBottom {
//   z-index: -1;
// }

.jTimeLine-oos .lineBottom.lineBottomNone {
  background-color: transparent !important;
}

.jTimeLine-oos .allSub {
  position: relative
}

.jTimeLine-oos .allSub .lineTop {
  position: absolute;
  width: 3px;
  height: 100%;
  bottom: 9px;
  left: 4px
}

.jTimeLine-oos .allSub .line {
  position: absolute;
  width: 14px;
  height: 3px;
  bottom: 50%;
  left: 7px
}

.jTimeLine-oos .allSub.last .lineTop {
  bottom: 50%;
  height: 74%
}

.jTimeLine-oos .node .allSub {
  border-left: 3px solid;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-left: 22px
}

.jTimeLine-oos .node .allSub.last {
  padding-bottom: 30px
}

.jTimeLine-oos .node.last .allSub {
  border-left: 3px solid transparent
}

.jTimeLine-oos .node.noSub {
  padding-bottom: 15px;
  background-color: white !important;
  opacity: 1 !important;
}

.jTimeLine-oos .round-bordered-img {
  float: left;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-color: white;
  border: 2px solid;
  padding: 2px;
  object-fit: cover
}

.jTimeLine-oos .image-popup-link {
  cursor: pointer
}

.jTimeLine-oos .p-l-5 {
  padding-left: 5px !important
}

.jTimeLine-oos .no-margin {
  margin: 0 !important
}

.jTimeLine-oos .f-10 {
  font-size: 10px
}

.jTimeLine-oos .status {
  width: 80px;
  text-align: center;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase
}

.jTimeLine-oos .subItem {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px
}

.jTimeLine-oos img {
  display: block;
  z-index: 99999
}

.m-1 {
  margin: 4px !important;
}

.jTimeLine-oos .timelineTooltip {
  position: relative;
  display: inline-block;
}

.jTimeLine-oos .timelineTooltip .timelineTooltiptext {
  visibility: hidden;
  background-color: white;
  box-shadow: 0px 0px 5px #282628;
  border-radius: 6px;
  position: absolute;
  z-index: 1050;
  width: 200px;
  top: -5px;
  left: 110%;
  padding: 5px;
}

.jTimeLine-oos .timelineTooltip .timelineTooltiptext::after {
  content: " ";
  position: absolute;
  top: 20px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.jTimeLine-oos .timelineTooltip:hover .timelineTooltiptext {
  visibility: visible;
}

.jTimeLine-oos .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;

  /* new css */
  max-width: 100%;
}

.jTimeLine-oos .none {
  display: none;
}

.inline-style {
  display: inline-block;

  div {
    float: left;
  }
}