<template>
  <div id="employee-detail">
    <div class="header-employee">
      <b-row v-if="employee_detail">
        <b-col md="6">
          <div class="d-flex align-items-center">
            <i
              class="fa fa-arrow-left cursor-pointer m__t--2"
              @click="$router.go(-1)"/>
            <div class="d-flex align-items-center justify-content-between m--10">
              <div class="d-flex align-items-center">
                <div class="m__r--10">
                  <b-img
                    v-if="employee_detail.photo_url"
                    :src="employee_detail.photo_url"
                    rounded="circle"
                    alt="img"
                    class="img-employee"/>
                  <b-img
                    v-else
                    :src="require('@/assets/logo/user1.png')"
                    rounded="circle"
                    alt="img"
                    class="img-employee"/>
                </div>
                <div>
                  <h6 class="font-weight-bold m__b--0">
                    {{ employee_detail.first_name }} {{ employee_detail.last_name }}
                  </h6>
                  <span> {{ employee_detail.email }} </span>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col md="6">
          <i
            id="configPopover"
            class="fa fa-ellipsis-v fa-lg cursor-pointer pull-right m__t--10"/>

          <b-popover
            ref="configPopoverRef"
            :show.sync="configPopoverShow"
            target="configPopover"
            container="employee-detail"
            placement="left">
            <div
              class="user-config-opt"
              @click="openModalchangePassword">
              Change Password
            </div>
            <div
              v-if="isAdmin"
              class="user-config-opt"
              @click="deletedEmployee">
              Delete
            </div>
          </b-popover>
        </b-col>
      </b-row>

      <div class="tab-header">
        <div
          v-for="(item, index) in tabs"
          :key="index"
          md="2"
          class="content-tab"
          @click="tabSelected = item.idTab">
          {{ item.title }}
          <div
            v-if="tabSelected === item.idTab"
            class="underline-data"/>
        </div>
      </div>
    </div>

    <j-detail
      v-show="tabSelected === 'tab-employee-detail'"
      ref="dataDetail"
      :oos-route="oosRoute"
      class="m__t--20" />
    <j-assignment
      v-show="tabSelected === 'tab-assignment'"
      :oos-route="oosRoute"
      class="m__t--20" />

    <b-modal
      ref="changePasswordModal"
      class="mod-form modal-change-password"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <h3
        class="modal-title"
        style="color: #9A9A9A !important">
        CHANGE PASSWORD
      </h3>

      <b-form>
        <b-form-group
          :class="{'error-input' : $v.form.password.$error || isNotStrenghtPassword}">
          <label> Password </label>
          <j-input
            v-model="form.password"
            :max-length="50"
            :type="password_id"
            :error-required="$v.form.password.$error"
            :error-message="'Field is required'"
            placeholder="Type new password"/>
        </b-form-group>
        <password-checker
          ref="passwordChecker"
          :data="dataPasswordChecker"
          class="mb-1"/>
        <b-form-group
          :class="{'error-input' : $v.form.confirm_password.$error}">
          <label> Confirm Password </label>
          <j-input
            v-model="form.confirm_password"
            :max-length="50"
            :error-message="confirmErrmessage"
            type="password"
            placeholder="Type confirm password"/>
        </b-form-group>
      </b-form>

      <div class="float-right m__t--20">
        <b-button
          class="btn m__r--5"
          @click="closeModalchangePassword">
          Close
        </b-button>
        <b-button
          class="btn blue"
          @click="updatePassword">
          Confirm
        </b-button>
      </div>
    </b-modal>

  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapState, mapActions } from 'vuex';
import { required, sameAs } from 'vuelidate/lib/validators';
import jMixEncryption from '@/mixins/jMixEncryption';
import passwordChecker from '@/components/profile/password-checker';
import jDetail from './detail/jDetail';
import jAssignment from './assignment/jAssignment';

export default {
  name: 'JUser',
  components: {
    jDetail,
    jAssignment,
    passwordChecker,
  },
  mixins: [jMixEncryption],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  validations: {
    form: {
      password: {
        required,
      },
      confirm_password: {
        required,
        sameAsPassword: sameAs('password'),
      },
    },
  },
  data() {
    return {
      options: {
        // icon: 'fa-user',
        main_title: 'EMPLOYEE DETAIL',
        opt_title: '',
      },
      tabSelected: 'tab-employee-detail',
      tabs: [],
      listTabs: [
        {
          idTab: 'tab-employee-detail',
          title: 'Basic Info',
          idComp: 'comp-employee-detail',
          comp: jDetail,
          isShow: true,
        },
        {
          idTab: 'tab-assignment',
          title: 'Assignment',
          idComp: 'comp-assignment',
          comp: jAssignment,
          isShow: true,
          isActive: true,
        },
      ],
      is_loaded: false,
      configPopoverShow: false,
      form: {
        password: null,
        confirm_password: null,
      },
      show_pass: false,
      isNotStrenghtPassword: false,
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['employee_detail']),
    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
    isAdminPayroll() {
      const role = localStorage.getItem('roleString');
      return role.includes('hr_supervisor') || role.includes('hr_admin') || role.includes('hr_payroll') || role.includes('admin_payroll');
    },
    password_id() {
      if (this.show_pass) {
        return 'text';
      }
      return 'password';
    },
    confirmErrmessage() {
      if (!this.$v.form.password.required) {
        return 'Field is required';
      } else if (!this.$v.form.password.sameAsPassword) {
        return 'Confirm password is not match';
      }
      return 'Field is required';
    },
    dataPasswordChecker() {
      return {
        email: this.employee_detail ? this.employee_detail.email : '',
        password: this.form.password,
      };
    },
  },
  watch: {
    access_payroll_info(val) {
      if (!val) {
        this.tabs = this.listTabs.filter(el => el.idTab !== 'tab-payroll');
      }
    },
  },
  created() {
    if (this.isAdminPayroll) {
      this.tabs = this.listTabs;
    } else {
      this.tabs = this.listTabs.filter(val => val.idTab !== 'tab-payroll');
    }
  },
  methods: {
    ...mapActions('jStoreEmployee', ['deleteEmployee', 'changePasswordEmployee']),

    deletedEmployee() {
      const text = `Are you sure, want to delete ${this.employee_detail.first_name} ${this.employee_detail.last_name}`;

      this.$swal({
        title: 'Are you sure?',
        text,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.deleteEmployee({ user_company_ids: [this.$route.params.id] });
          if (!res.error) {
            if (this.oosRoute !== '') {
              this.$router.push(`${this.oosRoute}/employee`);
            } else {
              this.$router.push('/employee');
            }
          }
        }
      });
    },

    openModalchangePassword() {
      this.$refs.changePasswordModal.show();
      this.configPopoverShow = false;
      if (!this.publicKey) {
        this.setKeyPublicRSA();
      }
    },

    closeModalchangePassword() {
      this.$refs.changePasswordModal.hide();
      this.form = {
        password: null,
        confirm_password: null,
      };
    },

    async updatePassword() {
      this.$v.form.$touch();
      this.isNotStrenghtPassword = !this.$refs.passwordChecker.checkPasswordStrengh;
      if (!this.$v.form.$error && !this.isNotStrenghtPassword && this.publicKey) {
        const encryptedNewPassword = await this.encryption(this.form.password);
        const encryptedConfirmPassword = await this.encryption(this.form.confirm_password);
        const payload = {
          new_password: encryptedNewPassword,
          confirm_password: encryptedConfirmPassword,
          type: 'change-password-component',
          user_id: this.employee_detail.user_id,
        };

        await this.changePasswordEmployee(payload);
        this.$refs.changePasswordModal.hide();
      }
    },
  },
};
</script>

<style lang="scss">
  .img-employee {
    float: left;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 100%;
    padding: 2px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .header-employee {
    background-color: #f2f2f2;
    padding: 15px 20px 0px 20px;
    margin: -20px -20px 0 -20px;
  }

  #tab-employee .greedy-menu ul:first-of-type li {
    a {
      border: none;
      color: #808285;
    }

    a[aria-selected=true] {
      border-bottom: 5px solid rgb(22, 115, 207);
    }
  }

  #tab-employee .greedy-menu {
    border: none;
    background-color: #f2f2f2;
    margin: 0 -20px 25px -20px;
    padding: 0 20px;
  }

  .modal-change-password .modal-content {
    max-width: 650px;
  }

  .user-config-opt {
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    margin-left: -5px;
    margin-right: -5px;
  }

  .user-config-opt:hover {
    background-color: #f2f2f2;
  }

  .header-tab-employee {
    text-align: center;
    margin-top: 10px;
    display: flex;
  }

  .content-tab-employee {
    cursor: pointer;
    width: 16.66%;
  }

  .underline-data {
    width: 100%;
    height: 4px;
    margin: 10px 0 0;
    background-color: #4a90e2;
  }
</style>
