<template>
  <div
    id="user-table"
    class="list-data-table">
    <router-view/>
    <div>
      <v-server-table
        v-show="load_first"
        ref="employeeServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetailPage">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              v-if="isAdmin"
              class="btn btn-import-oos m__r--5"
              @click="openModalCreateEmployee">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <b-form
              inline
              @keypress.13.prevent="filter(filter_data)">
              <j-select
                v-model="select_type"
                :options="options_search"
                placeholder="Filter By"
                class="m__r--5"/>
              <b-form-input
                v-model="filter_data"
                placeholder="Search"
                style="width: 250px; height: 35px"/>
            </b-form>
          </b-form>
        </div>

        <div
          slot="staff_name"
          slot-scope="props"
        >
          <div v-if="props.row.profile">
            <div class="td">
              <b-img
                v-if="props.row.profile.photo_url"
                :src="props.row.profile.photo_url"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('@/assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row.email }}</div>
              <div>{{ props.row.profile.first_name }} {{ props.row.profile.last_name }}</div>
            </div>
          </div>
          <div v-else>
            {{ props.row.email }}
          </div>
        </div>

        <div
          slot="user_id"
          slot-scope="props"
        >
          {{ props.row.profile.user_id ? props.row.profile.user_id : '-' }}
        </div>

        <div
          slot="user_company_id"
          slot-scope="props"
        >
          {{ props.row.profile.user_company_id ? props.row.profile.user_company_id : '-' }}
        </div>

        <div
          slot="role"
          slot-scope="props"
          style="width: 150px"
        >
          <div v-if="props.row.profile">
            <span
              v-if="props.row.profile.user_role"
              class="roles-text">
              {{ convertRole(props.row.profile.user_role) }}
            </span>
          </div>
        </div>

        <div
          slot="created_date"
          slot-scope="props"
        >
          {{ props.row.created_date | moment("YYYY-MM-DD hh:mm:ss") }}
        </div>

        <div
          slot="updated_date"
          slot-scope="props"
        >
          {{ props.row.updated_date | moment("YYYY-MM-DD hh:mm:ss") }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>

    <b-modal
      ref="modalCreateEmployee"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div>
        <j-modal-user-create
          v-if="isOpen"
          @close-modal="closeModalCreateEmployee"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
/* eslint-disable import/no-duplicates,import/prefer-default-export,object-shorthand */
/* eslint-disable no-unused-expressions,no-unused-vars,key-spacing */

import { mapActions, mapState } from 'vuex';
import jApiEmployee from '@/services/jApiEmployee';
import Constant from '@/utils/constant';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jModalUserCreate from './detail/jModalUserCreate';

export default {
  name: 'jUserList',
  components: {
    jModalUserCreate,
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpen: false,
      options_head: {
        icon: 'fa-user',
        main_title: 'Employee',
        opt_title: '',
      },
      filter_data: '',
      select_type: 'null',
      options_search: [
        {
          text: 'Staff Name',
          value: 'staff_name',
        },
        {
          text: 'Email',
          value: 'email',
        },
      ],
      url: null,
      urls: [],
      headers: null,
      import_data: [],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['staff_name', 'user_id', 'user_company_id', 'role', 'created_date', 'updated_date'],
      options: {
        headings: {
          staff_name: 'NAME',
          user_id: 'USER ID',
          user_company_id: 'USER COMPANY ID',
          role: 'ROLE',
          created_date: 'CREATED DATE',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['user_id', 'user_company_id', 'staff_name', 'roles', 'created_date', 'updated_date'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getListEmployee = jApiEmployee.listEmployee(data);
          return getListEmployee.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['employee_created']),

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    employee_created() {
      this.$refs.employeeServer.getData();
    },

    filter_data(val) {
      if (val === '') {
        this.$refs.employeeServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'toggleSuccess', 'showLoading', 'hideLoading']),

    loading(val) {
      const a = val;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.employeeServer.getData();
    },

    filter(val) {
      this.$refs.employeeServer.setFilter(val);
    },
    openCreatePage() {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/employee/create`);
      } else {
        this.$router.push('/employee/create');
      }
    },
    openDetailPage({ row }) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/employee/detail/${row.id}`);
      } else {
        this.$router.push(`/employee/detail/${row.id}`);
      }
    },
    openModalCreateEmployee() {
      this.isOpen = true;
      this.$refs.modalCreateEmployee.show();
    },
    closeModalCreateEmployee() {
      this.$refs.modalCreateEmployee.hide();
      this.isOpen = false;
    },
    convertRole(roleId) {
      if (roleId === Constant.ROLE_ADMIN) {
        return 'ADMIN';
      }
      if (roleId === Constant.ROLE_IMPLEMENTOR) return 'IMPLEMENTOR';
      return 'USER';
    },
  },
};
</script>

<style lang="scss">
  .msg {
    font-size: 17px;
    white-space: pre-line;
  }
  .close-btn {
    cursor: pointer;
    font-weight: 600;
  }

  .list-data-table .popover {
    max-width: 600px;
  }

  .roles-text {
    background-color: #e5ecff;
    color: #1e5aff;
    margin: 0 3px;
    padding: 4px;
    border-radius: 8px;
    text-transform: uppercase;
  }
</style>
