<template>
  <div>
    <b-modal
      ref="createEmployee"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <h3
        class="modal-title"
        style="color: #9A9A9A !important">
        CREATE USER
      </h3>
      <div>
        <j-user-form
          ref="employeeForm"
          mode="create"
          @data="getData"/>
      </div>
      <br>
      <b-row>
        <b-col>
          <div class="float-to-right">
            <b-button
              class="btn blue m__r--5"
              @click="saveCreateEmployee">
              Submit
            </b-button>
            <b-button
              class="btn gray"
              @click="closeModal">
              Close
            </b-button>
          </div>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jUserForm from './detail/jUserForm';

export default {
  components: {
    jUserForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      employee_data: null,
      title: {
        main_title: 'CREATE EMPLOYEE',
      },
    };
  },
  computed: {
    generateData() {
      const dataRoles = this.employee_data.role.map(val => val.id);
      const genData = {
        email: this.employee_data.email ? this.employee_data.email : null,
        password: this.employee_data.password ? this.employee_data.password : null,
        first_name: this.employee_data.first_name ? this.employee_data.first_name : null,
        last_name: this.employee_data.last_name ? this.employee_data.last_name : null,
        date_of_birth: this.employee_data.date_of_birth ? this.$moment(this.employee_data.date_of_birth).format('YYYY-MM-DD') : null,
        roles: dataRoles,
      };
      return genData;
    },
  },
  mounted() {
    this.$refs.createEmployee.show();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['createEmployee']),

    getData(data) {
      this.employee_data = data;
    },
    closeModal() {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/employee`);
      } else {
        this.$router.push('/employee');
      }
    },
    async saveCreateEmployee() {
      this.$refs.employeeForm.save();
      if (this.employee_data !== null) {
        const res = await this.createEmployee(this.generateData);
        if (!res.error) {
          if (this.oosRoute !== '') {
            this.$router.push(`${this.oosRoute}/employee`);
          } else {
            this.$router.push('/employee');
          }
        }
      }
    },
  },
};
</script>
