<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-tax-information
          :payroll-id="payrollId"
        />
      </b-col>
      <b-col cols="12">
        <j-tax-config-table
          :payroll-id="payrollId"
          @create-modal="openModalCreateConfig"
          @edit-modal="openModalUpdateConfig"
          @tax-config="getTaxConfigDetail"/>
      </b-col>
      <b-col cols="12">
        <j-tax-status-table
          :payroll-id="payrollId"
          @create-modal="openModalCreateStatus"
          @edit-modal="openModalUpdateStatus"
          @tax-status="getTaxStatusDetail"/>
      </b-col>
      <!-- <b-col cols="12">
        <j-cost-center-table
          :payroll-id="payrollId"
          @create-modal="openModalCreateCostCenter"
          @edit-modal="openModalUpdateCostCenter"
          @cost-center="getCostCenterDetail"/>
      </b-col> -->
    </b-row>

    <b-modal
      ref="modalConfig"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="taxConfigTitle"/>
      <div>
        <j-tax-config-form
          v-if="isOpenConfig"
          :mode="mode"
          :detail="tax_config_detail"
          :join-date="employee_detail.company.join_date"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

    <b-modal
      ref="modalStatus"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="taxStatusTitle"/>
      <div>
        <j-tax-status-form
          v-if="isOpenStatus"
          :mode="mode"
          :detail="tax_status_detail"
          :join-date="employee_detail.company.join_date"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>

    <!-- <b-modal
      ref="modalCostCenter"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="costCenterTitle"/>
      <div>
        <j-cost-center-form
          v-if="isOpenCost"
          :mode="mode"
          :detail="cost_center_detail"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal> -->
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jTaxInformation from './information/jTaxInformation';
import jTaxConfigForm from './config/jTaxConfigForm';
import jTaxConfigTable from './config/jTaxConfigTable';
import jTaxStatusForm from './status/jTaxStatusForm';
import jTaxStatusTable from './status/jTaxStatusTable';
// import jCostCenterForm from './cost-center/jCostCenterForm';
// import jCostCenterTable from './cost-center/jCostCenterTable';

export default {
  name: 'JTax',
  components: {
    jTaxInformation,
    jTaxConfigForm,
    jTaxConfigTable,
    jTaxStatusForm,
    jTaxStatusTable,
    // jCostCenterForm,
    // jCostCenterTable,
  },
  data() {
    return {
      mode: '',
      isOpenConfig: false,
      isOpenStatus: false,
      isOpenCost: false,
      tax_config_detail: null,
      tax_status_detail: null,
      // cost_center_detail: null,
      taxConfigTitle: {
        main_title: 'TAX CONFIG',
      },
      taxStatusTitle: {
        main_title: 'TAX STATUS',
      },
      // costCenterTitle: {
      //   main_title: 'COST CENTER',
      // },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),
    ...mapState('jStoreEmployee', ['employee_detail']),

  },
  created() {
    // this.actionGetCompanyRegion();
    // this.actionGetMasterCostCenter();
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionGetCompanyRegion', 'actionGetMasterCostCenter']),

    getTaxConfigDetail(data) {
      this.tax_config_detail = data;
    },
    getTaxStatusDetail(data) {
      this.tax_status_detail = data;
    },
    // getCostCenterDetail(data) {
    //   this.cost_center_detail = data;
    // },
    closeModalForm() {
      this.$refs.modalConfig.hide();
      this.$refs.modalStatus.hide();
      // this.$refs.modalCostCenter.hide();
      this.isOpenConfig = false;
      this.isOpenStatus = false;
      this.isOpenCost = false;
    },
    openModalCreateConfig(data) {
      if (data) {
        this.isOpenConfig = true;
        this.mode = 'create';
        this.tax_config_detail = null;
        this.$refs.modalConfig.show();
      }
    },
    openModalUpdateConfig(data) {
      if (data) {
        this.isOpenConfig = true;
        this.mode = 'edit';
        this.$refs.modalConfig.show();
      }
    },
    openModalCreateStatus(data) {
      if (data) {
        this.isOpenStatus = true;
        this.mode = 'create';
        this.tax_status_detail = null;
        this.$refs.modalStatus.show();
      }
    },
    openModalUpdateStatus(data) {
      if (data) {
        this.isOpenStatus = true;
        this.mode = 'edit';
        this.$refs.modalStatus.show();
      }
    },
    // openModalCreateCostCenter(data) {
    //   if (data) {
    //     this.isOpenCost = true;
    //     this.mode = 'create';
    //     this.cost_center_detail = null;
    //     this.$refs.modalCostCenter.show();
    //   }
    // },
    // openModalUpdateCostCenter(data) {
    //   if (data) {
    //     this.isOpenCost = true;
    //     this.mode = 'edit';
    //     this.$refs.modalCostCenter.show();
    //   }
    // },
  },
};
</script>

<style>

</style>
