<template>
  <div>
    <b-row class="align-items-center">
      <b-col
        sm="12"
        md="2">
        <b-form-group :class="{'error-input' : $v.medical_information.height.$error}">
          <label class="form__label">Height</label>
          <j-input-group
            id="height"
            v-model="$v.medical_information.height.$model"
            :disabled="false"
            placeholder="Height"
            append="cm"
            type="number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="2">
        <b-form-group :class="{'error-input' : $v.medical_information.weight.$error}">
          <label class="form__label">Weight</label>
          <j-input-group
            id="weight"
            v-model="$v.medical_information.weight.$model"
            :disabled="false"
            placeholder="Weight"
            append="kg"
            type="number"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="2">
        <b-form-group :class="{'error-input' : $v.medical_information.blood_type.$error}">
          <label class="form__label">Blood Type</label>
          <j-single-select
            v-model="$v.medical_information.blood_type.$model"
            :options="blood_type_options"
            placeholder="Blood Type"
            value-format="object"
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group>
          <label class="form__label">Last Update</label>
          <j-input
            v-model="last_update"
            disabled
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="2">
        <b-button
          class="btn blue float-right"
          @click="updateMedicalInformation">
          Update
        </b-button>
        <!-- <b-col
            md="3">
            <Spinner v-if="is_loading"/>
          </b-col> -->
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import integer from 'vuelidate/lib/validators/integer';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';

export default {
  name: 'JMedicalInformation',
  components: {
    Spinner,
  },
  data() {
    return {
      medical_information: {
        height: 0,
        weight: 0,
        blood_type: null,
      },
      blood_type_options: [
        {
          id: 'a',
          text: 'A',
        }, {
          id: 'b',
          text: 'B',
        }, {
          id: 'ab',
          text: 'AB',
        }, {
          id: 'o',
          text: 'O',
        },
      ],
      is_loading: false,
      last_update: null,
    };
  },
  computed: {
    ...mapState('jStorePayrollInfo', ['update_availability']),

  },
  created() {
    this.fetchMedicalInformation();
  },
  /*
  * Medical information

    Height (number, optional)

    weight (number, optional)

    Blood type (selection, optional)
  * */
  validations() {
    return {
      medical_information: {
        height: {
          integer,
        },
        weight: {
          integer,
        },
        blood_type: {
        },
      },
    };
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability']),

    async updateMedicalInformation() {
      const availability = await this.actionCheckAvailability({
        user_company_id: Number(this.$route.params.id),
      });

      if (availability) {
        this.is_loading = true;

        const { weight: rawWeight, height: rawHeight, blood_type: rawBloodType }
      = this.medical_information;


        const weight = () => {
          if (rawWeight === '') {
            return 0;
          }
          return rawWeight;
        };

        const height = () => {
          if (rawHeight === '') {
            return 0;
          }
          return rawHeight;
        };

        const bloodType = () => {
          if (typeof (rawBloodType) !== 'undefined' && rawBloodType !== null) {
            const { label } = rawBloodType;
            return label;
          }
          return '';
        };


        const newMedicalInformationObject =
        {
          weight: weight(),
          height: height(),
          blood_type: bloodType(),
        };

        const { id: employeeId } = this.$route.params;

        // eslint-disable-next-line
      const res = await jApiEmployee.postMedicalInformation(employeeId, newMedicalInformationObject);
        if (!res.data.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.messages);
          this.fetchMedicalInformation();
          this.is_loading = false;
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.data.messages);
        }
      }
    },
    fetchMedicalInformation() {
      const { id: employeeId } = this.$route.params;

      jApiEmployee.viewOneMedicalInformation(employeeId).then((response) => {
        const { data } = response.data;

        try {
          const { height, weight } = data;

          try {
            const { blood_type: bloodType } = data;

            try {
              this.medical_information.blood_type = {
                id: bloodType.toLowerCase(),
                label: bloodType,
                text: bloodType,
              };
            } catch (err) {
              this.medical_information.blood_type = {
                id: '',
                label: bloodType,
                text: bloodType,
              };
            }
          } catch (err) {
            this.medical_information.blood_type = {
              id: '',
              label: '',
              text: '',
            };
          }

          this.medical_information.height = height;
          this.medical_information.weight = weight;
          this.last_update = this.$moment(data.updated_at).format('YYYY-MM-DD');
        } catch (err) {
          this.medical_information.height = 0;
          this.medical_information.weight = 0;
        }
      });
    },
  },
};
</script>
