<template>
  <div>
    <b-row>
      <b-col :cols="useRadius ? '8' : '12'">
        <gmap-autocomplete
          ref="autocomplete"
          :disabled="isAutoCompleteDisable"
          :placeholder="placeholder"
          class="jFormGroup form-control"
          @input="valueInput($event.target.value)"
          @place_changed="setPlace"
        />
      </b-col>
      <b-col
        v-if="useRadius"
        cols="4"
      >
        <j-input
          v-model="radius"
          :error-required="false"
          type="number"
          placeholder="Radius (ex: 100)"
        />
      </b-col>
    </b-row>
    <br>
    <gmap-map
      v-show="showMaps"
      ref="gmap"
      :center="center"
      :zoom="defaultZoom"
      style="width:100%;  height: 400px;">
      <gmap-marker
        v-for="(m, index) in markers"
        :key="index"
        :clickable="true"
        :draggable="draggableMarker"
        :position="m.position"
        @dragend="updateMarkerCoordinates"
        @click="center=m.position"/>
      <gmap-circle
        v-if="mapRadius > 0 && useRadius"
        ref="circle"
        :radius="mapRadius"
        :center="center"
        :options="circle_options"/>
      <gmap-info-window
        :options="infoOptions"
        :position="infoWindowPos"
        :opened="infoWinOpen"
        @closeclick="infoWinOpen=false">
        <div v-html="infoContent"/>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>
<script>
import { gmapApi } from 'vue2-google-maps';

export default {
  name: 'GoogleMap',
  props: {
    placeholder: {
      type: String,
      default: 'Enter a location',
    },
    draggableMarker: {
      type: Boolean,
      default: true,
    },
    isAutoCompleteDisable: {
      type: Boolean,
      default: false,
    },
    defaultMarker: {
      type: Object,
      default: () => {},
    },
    manualMaps: {
      type: Boolean,
      default: true,
    },
    showMaps: {
      type: Boolean,
      default: true,
    },
    useRadius: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      map: null,
      center: { lat: -6.291273718365677, lng: 106.80355953952602 },
      markers: [],
      // places: [],
      currentPlace: null,
      defaultZoom: 14,
      infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0,
      },
      radius: '',
      mapRadius: 0,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      circle_options: {
        strokeColor: 'red',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: 'blue',
        fillOpacity: 0.35,
      },
    };
  },
  computed: {
    google: gmapApi,
  },
  watch: {
    defaultMarker() {
      this.getDataLocation();
    },

    radius(val) {
      if (this.useRadius) {
        this.mapRadius = Number(val);
        if (this.currentPlace) {
          this.currentPlace.geometry.location.radius = Number(val);
          this.$emit('place_changed', this.currentPlace);
        }
      }
    },
  },
  mounted() {
    this.getDataLocation();
  },
  methods: {
    getDataLocation() {
      this.$refs.gmap.$mapPromise.then((map) => {
        this.map = map;
        if (this.defaultMarker && this.defaultMarker.latitude && this.defaultMarker.longitude) {
          const coordinates = {
            lat: Number(this.defaultMarker.latitude),
            lng: Number(this.defaultMarker.longitude),
          };
          if (this.useRadius) {
            this.mapRadius = this.defaultMarker.radius || 0;
            this.radius = String(this.defaultMarker.radius || 0);
          }
          this.geocodeLatLng(coordinates, map, true);
        } else {
          this.geolocate(map);
        }
      });
    },
    valueInput(val) {
      if (!val.length) {
        this.$emit('place_changed', {});
      }
    },
    setValueInput(value) {
      this.$refs.autocomplete.$el.value = value;
    },
    setPlace(data) {
      this.currentPlace = data;
      const place = data;
      const pos = {
        lat: this.currentPlace.geometry.location.lat(),
        lng: this.currentPlace.geometry.location.lng(),
      };
      this.setMarker(pos);
      this.center = pos;

      this.setInfoWindow(pos, place.formatted_address);
      this.infoWinOpen = true;
      if (this.useRadius) place.geometry.location.radius = Number(this.radius);
      this.$emit('place_changed', place);
    },
    setInfoWindow(position, content) {
      this.infoWindowPos = position;
      this.infoContent = content;
    },
    setMarker(position) {
      this.markers = [{ position }];
    },
    updateMarkerCoordinates(location) {
      const coordinates = {
        lat: location.latLng.lat(),
        lng: location.latLng.lng(),
      };
      this.geocodeLatLng(coordinates, this.map, true);
    },
    geocodeLatLng(pos, map, setAddress) {
      // eslint-disable-next-line
      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ location: pos }, (results, status) => {
        if (status === 'OK') {
          if (results[0]) {
            map.setZoom(this.defaultZoom);
            this.center = pos;
            this.setMarker(pos);
            const place = results[0];
            this.currentPlace = place;
            if (this.useRadius) place.geometry.location.radius = Number(this.radius);
            this.$emit('place_changed', place);
            if (setAddress) {
              this.setValueInput(place.formatted_address);
            }
            this.setInfoWindow(pos, place.formatted_address);
            this.infoWinOpen = true;
          } else {
            // eslint-disable-next-line
            window.alert('No result found');
          }
        } else {
          // eslint-disable-next-line
          window.alert(`Geocoder fail due to: ${status}`);
        }
      });
    },
    geolocate(map) {
      if (!this.manualMaps) {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition((position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            this.geocodeLatLng(pos, map, true);
          });
        } else {
          // eslint-disable-next-line
          alert('Browser doesnt support geolocation');
        }
      }
    },
  },
};
</script>

<style lang="scss">
    .pac-container {
      z-index: 1100;
      // position: absolute !important;
      // top: 2105px !important;
    }
</style>
