<template>
  <div
    v-if="isLoading"
    style="text-align: center;">
    <div class="lds-ellipsis"><div/><div/><div/><div/></div>
  </div>
  <div v-else>
    <j-form-base-auto
      v-if="fieldList.length > 0"
      ref="jFormCreate"
      :data-fields="fieldList"
      :is-detail="true"
      :is-disabled="true"/>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, max-len, no-unused-vars, no-eval, no-console, no-underscore-dangle */
import axios from 'axios';
import Vue from 'vue';
import jwtDecode from 'jwt-decode';
import { mapActions } from 'vuex';
import jFormBaseAuto from '@/views/application/application-component/form-ui/form-base/jFormBaseAuto';

export default {
  name: 'JDetailAutoFieldDynamic',
  components: {
    jFormBaseAuto,
  },
  props: {
    formData: {
      type: Object,
      default: () => {},
    },
    recordId: {
      type: String,
      default: '',
    },
    setDefaultValue: {
      type: String,
      default: '',
    },
    columns: {
      type: Array,
      default: () => [],
    },
    externalUrl: {
      type: Object,
      default: () => {},
    },
    isExternal: {
      type: Boolean,
      default: false,
    },
    dataFields: {
      type: Array,
      default: () => [],
    },
    dataForm: {
      type: Object,
      default: () => {},
    },
    fieldKey: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      fieldList: [],
      isLoading: true,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  watch: {
    recordId(val) {
      this.isLoading = true;
      this.fieldList = [];
      if (this.isExternal) {
        this.getDataExternalApi();
      } else {
        this.getRecordData();
      }
    },
  },
  created() {
    if (this.isExternal) {
      this.getDataExternalApi();
    } else {
      this.getRecordData();
    }
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetRecordData']),

    getDataExternalApi() {
      const data = this.externalUrl;
      const token = Vue.ls.get('Token');
      const method = data.method.toLowerCase();
      const _field = this.formData;
      const _user = this.session.user;
      const variable = { query: this.recordId };

      let fieldkey = {};
      if (this.fieldKey) {
        if (Object.keys(this.fieldKey).length > 0) {
          fieldkey = this.fieldKey;
        } else {
          const fieldRelation = this.dataFields.filter(f => f.type === 'relation_record' || f.type === 'relation_record_external_api');
          fieldRelation.forEach((r) => {
            fieldkey[r.field_ui_key] = this.dataForm[r.field_ui_key] ? this.dataForm[r.field_ui_key].id : 0;
          });
        }
      } else {
        const fieldRelation = this.dataFields.filter(f => f.type === 'relation_record' || f.type === 'relation_record_external_api');
        fieldRelation.forEach((r) => {
          fieldkey[r.field_ui_key] = this.dataForm[r.field_ui_key] ? this.dataForm[r.field_ui_key].id : 0;
        });
      }

      let url = '';
      if (method === 'get') {
        const queryParams = Object.keys(data.query_params);
        const queryParamsValue = Object.values(data.query_params);

        let urlParams = '';
        queryParams.forEach((e, index) => {
          let y;
          const andMore = queryParams.length - 1 > index ? '&' : '';
          urlParams += `${e}=${eval(`y=${queryParamsValue[index]}`)}${andMore}`;
        });

        url = `${data.url}?${urlParams}`;
        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          const forms = res.data[data.source];
          if (forms.length > 0) {
            let y;
            const getData = forms[0];
            this.setDataDetailFieldsExternal(getData);
          }
        });
      } else {
        let y;
        const params = eval(`y=${data.body}`);

        url = data.url;
        axios[method](url, params, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          const forms = res.data[data.source];
          if (forms.length > 0) {
            let x;
            const getData = forms[0];
            this.setDataDetailFieldsExternal(getData);
          }
        });
      }
    },

    setDataDetailFieldsExternal(data) {
      let y;
      this.fieldList = this.columns.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: eval(`y=data.${el.field_data_key}`),
        value_id: data[el.field_data_key] ? data[el.field_data_key] : 0,
        value_form: null,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: el.is_disable,
        is_mandatory: el.is_mandatory,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        multiple_value: [],
        person: {},
        is_external_source: false,
        time: '00:00:00',
        stopTime: true,
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        config: el.config,
      }));
      this.isLoading = false;
    },

    getRecordData() {
      const dataFilter = {};
      dataFilter[this.setDefaultValue] = this.recordId;

      const param = {
        form_data_id: this.formData.id,
        page: 1,
        limit: 5,
        filter: dataFilter,
      };
      this.actionGetRecordData(param).then((res) => {
        this.setDataDetailFields(res.data[0]);
      });
    },

    setDataDetailFields(data) {
      this.fieldList = this.columns.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: data[el.field_data_key],
        // value: this.cekTypeData(el.field_data_key) === 'timestamp' ?
        //   (el.type === 'time' ? this.convertTime(data[el.field_data_key]) : this.convertTimestamp(data[el.field_data_key]))
        //   : data[el.field_data_key],
        value_id: data[el.field_data_key] ? data[el.field_data_key] : 0,
        value_form: null,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: el.is_disable || this.formData.primary_key === el.field_data_key,
        is_mandatory: el.is_mandatory,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        multiple_value: this.setDataMultipleValue(data, el),
        person: this.setDataPersonValue(data, el),
        is_external_source: false,
        time: '00:00:00',
        stopTime: true,
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        config: el.config,
      }));
      this.isLoading = false;
    },

    setDataMultipleValue(data, el) {
      let dataMultiple = [];
      if (this.cekTypeData(el.field_data_key) === '[]text' || this.cekTypeData(el.field_data_key) === '[]number' || this.cekTypeData(el.field_data_key) === '[]attachment') {
        if (el.type === 'checkbox') {
          dataMultiple = data[el.field_data_key];
        } else if (el.type === 'attachment' || el.type === 'multiple_attachment_dynamic') {
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map((val, indexVal) => ({
              id: indexVal + 1,
              name: val.name,
              url: val.url,
            }));
          } else {
            dataMultiple = el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
              id: indexVal + 1,
              name: val,
            })) : []) : [];
          }
        } else {
          // eslint-disable-next-line
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map(val => ({
              id: val,
              name: val,
            }));
          }
        }
      }
      return dataMultiple;
    },

    setDataPersonValue(data, el) {
      let dataPerson = {};
      if (this.cekTypeData(el.field_data_key) === 'person') {
        dataPerson = data[el.field_data_key];
      }
      return dataPerson;
    },

    convertTimestamp(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      const findType = this.formData.columns[key];
      return findType.type;
    },
  },
};
</script>
