<!-- eslint-disable max-len -->
<template>
  <div
    :class="[isDefaultView ? 'component-card-default' : 'component-card',
             is_full_screen_comp ? 'component-card-full-screen' : '',
             viewChanged ? 'm-0' : '',
  ]">
    <!-- Header -->
    <div
      v-if="!isDefaultView"
      class="header-multiple"
    >
      <div class="d-flex">
        <i
          class="fa fa-arrow-left font-weight-bold cursor-pointer m__r--10"
          @click="goBack()"
        />
        <div v-if="dataExport">
          <div class="header-text-1">EXPORT DATA</div>
          <div class="header-text-2">{{ dataExport.title.replaceAll('_', ' ') }}</div>
        </div>
        <div
          v-if="isFreezeHeaderTable"
          class="ml-auto">
          <img
            v-if="is_full_screen_comp"
            src="@/assets/icon/minimize.svg"
            class="cursor-pointer pull-right"
            @click="backFullScreenComponent()"
          >
          <img
            v-else
            src="@/assets/icon/maximize.svg"
            class="cursor-pointer pull-right"
            @click="fullScreenComponent(null)"
          >
        </div>
      </div>
    </div>

    <div :class="[isDefaultView ? 'wrap-content-card-default' : 'wrap-content-card']">
      <j-export-data
        :is-default-view="isDefaultView"
        :columns="columns"
        :table-data="dataTable"
        :data-export="dataExport"
        :detail-form-ui="detailFormUi"
        :detail-form-data="detailFormData"
        :table-heading="tableOptionsHeading"
        :table-client-heading="tableOptionsClientHeading"
        :use-advance-report="useAdvanceReport && advance_report"
        :is-multiple="isMultiple || $route.params.mode === 'multiple'"
        :mode="isMode"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console, no-unused-vars, max-len, no-nested-ternary, no-underscore-dangle, no-eval, no-param-reassign, no-plusplus */
import { mapState, mapActions, mapMutations } from 'vuex';
// Components
import jExportData from '@/views/application/application-component/form-ui/form-base/export-tabs/jExportData';

export default {
  components: {
    jExportData,
  },

  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    viewChanged: {
      type: Boolean,
      default: false,
    },
    isMultiple: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      dataExport: null,
      detailFormUi: null,
      detailFormData: null,
      dataFieldsSearch: [],
      options_search_master: [],
      isMode: '',
      isFreezeHeaderTable: false,

      // Table
      dataTable: [],
      columns: [],
      tableOptionsHeading: {},
      tableOptionsClientHeading: {},
    };
  },

  computed: {
    ...mapState('jStoreFormUi', ['setup_form_data', 'setup_form_ui', 'setup_multi_form_ui', 'is_full_screen_comp']),
    ...mapState('jStoreCompanySetting', ['advance_report']),

    useAdvanceReport() {
      return this.dataExport ? this.dataExport.is_use_advance_report : true;
    },

    // isMultiple() {
    //   return this.$route.params.mode === 'multiple';
    // },

    isDefaultView() {
      if (this.element) {
        const defaultView = this.element.info ? JSON.parse(this.element.info).default_view : '';
        if (defaultView === 'export_view') return true;
      }
      return false;
    },
  },

  watch: {
    setup_form_ui(val) {
      this.setupFormUi(val[0], false);
    },

    setup_multi_form_ui(val) {
      this.setupFormUi(val[0], false);
    },

    is_full_screen_comp(val) {
      if (val) document.body.style.overflow = 'auto';
      else document.body.style.removeProperty('overflow');
    },
  },

  created() {
    if (this.$route.params.formUiId && !this.viewChanged) {
      const id = this.isDefaultView ? JSON.parse(this.element.info).form_ui_id : this.$route.params.formUiId;
      const req = {
        page: 1,
        limit: 10,
        filter: {
          id: [id],
        },
      };
      if (this.$route.params.mode === 'multiple' || this.isMultiple) {
        this.actionGetSetupMultiFormUi(req);
      } else {
        this.actionGetSetupFormUi(req);
      }
    } else {
      this.setupFormUi(this.formUi, true);
    }
  },

  methods: {
    ...mapActions('jStoreFormUi', [
      'actionGetSetupFormUi', 'actionGetSetupMultiFormUi', 'findFormData', 'getDetailDatasetByGroup',
    ]),
    ...mapMutations('jStoreFormUi', ['setFullScreenComp']),


    setupFormUi(val, isOnComponent) {
      const response = val;
      const filterColumn = [];
      const dataColumns = response.export_view.sheet && response.export_view.sheet.length > 0 ? response.export_view.sheet[0].main_columns : response.export_view.columns;
      dataColumns.filter(f => f.is_filter).forEach((e) => {
        if (e.key.includes('.')) {
          const dotPosition = e.key.lastIndexOf('.');
          const extension = e.key.substring(dotPosition);

          filterColumn.push({
            is_filter: e.is_filter,
            key: e.key.replace(String(extension), ''),
            name: e.name,
            type: e.type || 'text',
            content_alignment: e.content_alignment || 'left',
            config: e.config || null,
          });
        } else {
          filterColumn.push({
            is_filter: e.is_filter,
            key: e.key,
            name: e.name,
            type: e.type || 'text',
            content_alignment: e.content_alignment || 'left',
            config: e.config || null,
          });
        }
      });

      this.detailFormUi = response;
      this.isMode = response.type;
      this.dataTable = filterColumn;
      this.dataExport = response.export_view;
      this.columns = filterColumn.map(e => e.key);
      this.isFreezeHeaderTable = response.export_view.freeze_header_table || false;

      filterColumn.forEach((e) => {
        this.tableOptionsHeading[`${e.key}`] = e.name.toUpperCase();
        this.tableOptionsClientHeading[`${e.key}`] = e.name.toUpperCase();
      });

      if (response.export_view.search_options_list && response.export_view.search_options_list.length > 0) {
        this.options_search_master = response.export_view.search_options_list.map((e) => {
          e.id = e.field_data_key;
          e.text = e.name;
          e.label = e.name;
          return e;
        });
        this.setFieldSeach();
      }

      if (response.type === 'form') {
        const reqData = {
          form_data_id: response.form_data_id,
        };
        this.findFormData(reqData).then((responseData) => {
          this.detailFormData = responseData.data;
        });
      } else if (response.type === 'dataset') {
        const reqData = {
          id: response.data_source.dataset.dataset_id,
        };
        this.getDetailDatasetByGroup(reqData).then((resDataset) => {
          const dataDetail = resDataset.data || null;
          if (dataDetail) {
            this.detailFormData = dataDetail;
          }
        });
      }
    },

    setFieldSeach() {
      this.dataFieldsSearch = this.dataExport.search_options_list.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: 'Value',
        type: el.type,
        placeholder: 'Enter value',
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: false,
        is_hidden: false,
        is_mandatory: false,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: false,
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_data_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: [],
        master_groups: [],
        error_input: false,
        error_message: '',
      }));
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      if (this.isMode === 'form') {
        const findType = this.detailFormData.columns[key];
        return findType ? findType.type : '';
      }

      const dataColumn = this.detailFormUi ?
        (this.detailFormUi.data_source ?
          (this.detailFormUi.data_source.external_url ? this.detailFormUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[key];
      return findType.type;
    },

    goBack() {
      if (this.viewChanged) {
        this.$emit('go-table');
      } else {
        const applicationIdNew = this.$route.params.applicationId.replace(/=/g, '%3D');
        this.$router.push(`/app/${this.$route.params.applicationName}/${applicationIdNew}/${this.$route.params.pageName}/${this.$route.params.pageId}`);
      }
    },

    fullScreenComponent(id) {
      this.setFullScreenComp({
        is_full_screen_comp: true,
        id_full_screen_comp: id,
      });
    },

    backFullScreenComponent() {
      this.setFullScreenComp({
        is_full_screen_comp: false,
        id_full_screen_comp: null,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  .component-card-default {
    margin: 0;
    padding: 0;
    border: none;
  }
  .component-card {
    margin: 70px 30px 40px 30px;

    .header-multiple {
      background-color: #f2f2f2;
      padding: 20px;
      margin: -20px;
      position: sticky;
      top: 50px;
      z-index: 100;

      i {
        margin-top: 2px;
      }

      .header-text-1 {
        font-weight: 600;
        font-size: 14px;
        color: #5c5b5b;
        margin-bottom: 4px;
      }

      .header-text-2 {
        font-weight: 400;
        font-size: 12px;
        color: #5c5b5b;
        text-transform: capitalize;
      }

      .header-tab {
        display: flex;
        align-items: center;
        padding-left: 24px;
        margin-top: 20px;

        .tab-container {
          width: auto;
          min-width: 30px;
          text-transform: uppercase;
          text-align: center;
          margin-right: 35px;
          padding-bottom: 5px;
          border-bottom: 4px solid transparent;
          cursor: pointer;

          p {
            font-weight: 600;
            color: #9A9A9A;
            font-size: 12px;
            margin-bottom: 0;
          }

          &.tab-active {
            border-color: #1A85E4;

            p {
              color: #5B5A5A;
            }
          }
        }
      }
    }

    .wrap-content-card {
      padding-top: 40px;
      padding-left: 24px;
    }

    .wrap-content-card-default {
      padding-top: 20px;
      padding-left: 0;
    }
  }

</style>
