<template>
  <div>
    <b-button
      :id="`importFormUiComp_${element.id}`"
      class="btn grey btn-import-form">
      <i class="fa fa-cloud-upload fa-lg"/> {{ label || 'Import' }}
    </b-button>

    <b-popover
      :ref="`importFormModal_${element.id}`"
      :show.sync="popoverImportShow"
      :target="`importFormUiComp_${element.id}`"
      placement="bottom">
      <div class="label-import m__b--10">Import Data</div>
      <div class="jImport">
        <b-form-file
          ref="file"
          v-model="file"
          :state="Boolean(file)"
          multiple
          placeholder="Choose a file"
          drop-placeholder="Drop file here"
          @change="handleFileUpload($event.target.files)"/>
      </div>
      <b-button
        class="btn btn-download-template-oos m__t--10 m__l--17"
        @click="downloadTemplate">
        Download Template
      </b-button>
    </b-popover>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, no-console */
import axios from 'axios';
import Vue from 'vue';

export default {
  props: {
    formId: {
      type: String,
      default: '',
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    mode: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      file: null,
      popoverImportShow: false,
    };
  },
  computed: {
  },
  watch: {
  },
  created() {
  },
  methods: {
    downloadTemplate() {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const token = Vue.ls.get('Token');
      const gateUrl = localStorage.getItem('gateUrl');

      const dataColumn = [];
      if (this.formUi.import_view && this.formUi.import_view.columns) {
        this.formUi.import_view.columns.forEach((e) => {
          dataColumn.push({
            [e.key]: e.name,
          });
        });
      }
      const dataColumnExport = { header: dataColumn };

      let url = '';
      if (this.mode === 'external_url') {
        url = this.formUi.data_source.external_url.export.url;
        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
          responseType: 'blob',
        }).then((res) => {
          this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
          const a = document.createElement('a');
          const urlBlob = window.URL.createObjectURL(res.data);
          const typeFile = this.formUi.import_view.format_file || 'xls';
          const fileName = `${this.formUi.import_view.title}.${typeFile}`;

          a.href = urlBlob;
          a.download = fileName;
          a.click();
        });
      } else {
        url = `${gateUrl}nocode/record/export/excel`;
        const data = {
          form_data_id: this.formId,
          page: 1,
          limit: 0,
          file_name: this.formUi.import_view.title,
          sheet_name: this.formUi.import_view.sheet_name,
          columns: dataColumnExport,
        };

        axios.post(url, data, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
          responseType: 'blob',
        }).then((res) => {
          this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
          const a = document.createElement('a');
          const urlBlob = window.URL.createObjectURL(res.data);
          const typeFile = this.formUi.import_view.format_file || 'xls';
          const fileName = `${this.formUi.import_view.title}.${typeFile}`;

          a.href = urlBlob;
          a.download = fileName;
          a.click();
        });
      }
    },

    handleFileUpload(file) {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const token = Vue.ls.get('Token');
      const formData = new FormData();
      const gateUrl = localStorage.getItem('gateUrl');
      let url = '';
      if (this.mode === 'external_url') {
        url = this.formUi.data_source.external_url.import.url;
      } else {
        url = `${gateUrl}nocode/record/import?form_data_id=${this.formId}`;
      }

      formData.append('fileupload', file[0]);

      axios.post(url, formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          Authorization: `Bearer ${token}`,
        },
      },
      ).then(() => {
        this.popoverImportShow = false;
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
        this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', 'Success Import Data');
        this.$emit('success-import');
      }).catch(() => {
        this.popoverImportShow = false;
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Error Import Data');
      });
    },
  },
};
</script>

<style lang="scss">
.jImport {
  .custom-file-input.is-valid ~ .custom-file-label {
    border: 1px solid #ced4da;
  }

  .custom-file-input.is-invalid ~ .custom-file-label {
    border: 1px solid #ced4da;
  }

  .custom-file-input.is-invalid:focus ~ .custom-file-label {
    border-color: #ced4da;
    box-shadow: unset;
  }

  .custom-file-input.is-valid:focus ~ .custom-file-label {
    border: 1px solid #ced4da;
    box-shadow: unset;
  }

  .custom-file {
    width: 225px;
  }

  .custom-file-label {
    height: 36px;
    top: 1px;
    color: #848689;

    &:after {
      height: 100%;
      color: #848689;
    }
  }
}
</style>
