<!-- eslint-disable max-len -->
<template>
  <div>
    <div
      v-if="isVisible"
      class="jProgressScreen">
      <div
        id="progress-screen"
        class="notification-screen">
        <div class="floating-container">
          <span>
            <i class="fa fa-check-circle"/>
          </span>
          <h1 id="progress-screen-data">Processing {{ retrievedData.length }}/{{ max }}</h1>
          <b-progress
            :max="max"
            class="mb-3">
            <b-progress-bar
              :value="numOfFailed"
              variant="danger"/>
            <b-progress-bar
              :value="numOfSuccess"
              variant="success"/>
          </b-progress>
          <div id="progress-screen-message">
            <span class="span__success--green">{{ numOfSuccess }} data success</span>
            <br>
            <span class="span_failed--red">{{ numOfFailed }} data failed</span>
            <div
              v-if="getErrorDatas.length > 0"
              id="progress-message-container"
            >
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="mb-0">Problem Message:</p>
                <b-button
                  class="btn blue"
                  @click="retryAll"
                >
                  Retry All
                </b-button>
              </div>
              <div id="box">
                <div
                  v-for="(errorData, index) in getErrorDatas"
                  :key="index"
                  class="d-flex justify-content-between"
                >
                  <p>
                    - Data with id {{ errorData.data.data ? (errorData.data.data[primaryKey] || errorData.data.data.id) : (errorData.data[primaryKey] || errorData.data.id) }} is error. {{ errorData.message }}
                  </p>
                  <p
                    class="retry-btn"
                    @click="retryData(errorData.index, index)"
                  >
                    Retry
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <b-button
            v-if="finish"
            id="progress-screen-finish"
            variant="success"
            @click="toggleIsVisible">
            Finish
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle, no-param-reassign */
import jApi from '@/services/jApi';
import axios from 'axios';

export default {
  name: 'JProgressScreen',
  props: {
    dataKirim: {
      type: Array,
      default: () => ([]),
    },
    urlApi: {
      type: String,
      default: '',
    },
    headers: {
      type: Object,
      default: () => {},
    },
    isBulk: {
      type: Boolean,
      default: () => false,
    },
    bulkMode: {
      type: String,
      default: '',
    },
    methodExternalApi: {
      type: String,
      default: '',
    },
    primaryKey: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      numOfFailed: 0,
      numOfSuccess: 0,
      max: 0,
      retrievedData: [],
      isVisible: false,
      finish: false,
      transportation_id: [],
      progress: 0,
    };
  },
  computed: {
    getErrorDatas() {
      return this.retrievedData.filter((data, index) => {
        if (data.error === true) {
          const datas = data;
          datas.index = index + 1;
          datas.message = datas.message;
          return datas;
        }
        return '';
      });
    },
  },
  watch: {
    retrievedData() {
      this.progress += 1;
      this.numOfFailed = this.getErrorDatas.length;
      this.numOfSuccess = this.retrievedData.length - this.numOfFailed;
      if (this.progress < this.dataKirim.length) {
        if (this.isBulk && this.bulkMode === 'delete') {
          this.deleteRecord();
        } else if (this.isBulk) {
          this.updateRecord();
        } else {
          this.submitRecord();
        }
      } else {
        this.finish = true;
      }
    },
    dataKirim(val) {
      this.progress = 0;
    },
  },
  methods: {
    toggleIsVisible() {
      this.isVisible = !this.isVisible;
      if (this.isVisible === true) {
        if (this.isBulk && this.bulkMode === 'delete') {
          this.deleteRecord();
        } else if (this.isBulk) {
          this.updateRecord();
        } else {
          this.submitRecord();
        }
      } else {
        this.$emit('finish', this.retrievedData);
        this.retrievedData = [];
        this.max = 0;
      }
    },

    async updateRecord(data) {
      this.finish = false;
      this.max = this.dataKirim.length;
      const api = jApi.generateApi();

      const url = this.urlApi;
      const param = data || this.dataKirim[this.progress];
      const headers = this.headers;
      if (this.methodExternalApi) {
        const isError = await axios[this.methodExternalApi](url, param, { headers })
          .then((response) => {
            const responses = response;
            this.retrievedData.push(responses.data);
            return responses.data.error;
          })
          .catch((error) => {
            // handle error
            if (!data) {
              this.retrievedData.push({ ...error.response.data, data: param });
            }
            return true;
          });
        return isError;
      }

      const isError = await api.post(url, param)
        .then((response) => {
          const responses = response;
          this.retrievedData.push(responses.data);
          return responses.data.error;
        })
        .catch((error) => {
          // handle error
          if (!data) {
            this.retrievedData.push({ ...error.response.data, data: param });
          }
          return true;
        });
      return isError;
    },

    async submitRecord(data) {
      this.finish = false;
      this.max = this.dataKirim.length;
      const api = jApi.generateApi();
      const params = data || this.dataKirim[this.progress];

      let paramUi = '';
      if (params.is_multiple) {
        paramUi = `&multiple_form_ui_id=${params.form_ui_id}`;
      } else {
        paramUi = `&form_ui_id=${params.form_ui_id}`;
      }

      let url;
      if (this.urlApi.includes('approver')) {
        url = `${this.urlApi}?form_data_id=${params.form_data_id}${paramUi}&id=${params.id}&note=${params.note}`;
      } else {
        url = `${this.urlApi}?form_data_id=${params.form_data_id}${paramUi}&id=${params.id}`;
      }

      let paramDynamic = {};
      if (params.type) {
        paramDynamic = {
          type: params.type,
          organigram_ids: params.organigram_ids,
          flow_type: params.flow_type,
          minimum_action: Number(params.minimum_action),
          flow_ids: params.flow_ids,
          approver_selection: params.approver_selection,
          approver_by: params.approver_by,
          function_name: params.function_name,
        };
      }

      const isError = await api.post(url, paramDynamic)
        .then((response) => {
          console.log('sukses');
          const responses = response;
          this.retrievedData.push(responses.data);
          return responses.data.error;
        })
        .catch((error) => {
          console.log('error');
          // handle error
          if (!data) {
            this.retrievedData.push({ ...error.response.data, data: params });
          }
          return true;
        });

      return isError;
    },

    async deleteRecord(data) {
      this.finish = false;
      this.max = this.dataKirim.length;
      const api = jApi.generateApi();

      const url = this.urlApi;
      const params = data || this.dataKirim[this.progress];
      const isError = await api.delete(url, { params })
        .then((response) => {
          const responses = response;
          this.retrievedData.push(responses.data);
          return responses.data.error;
        })
        .catch((error) => {
          if (!data) {
            this.retrievedData.push({ ...error.response.data, data: params });
          }
          return true;
        });

      return isError;
    },

    async retryData(indexError, index) {
      if (this.isBulk && this.bulkMode === 'delete') {
        this.deleteRecord(this.getErrorDatas[index].data).then((isError) => {
          if (!isError) this.retrievedData.splice(indexError - 1, 1);
        });
      } else if (this.isBulk) {
        this.updateRecord(this.getErrorDatas[index].data).then((isError) => {
          if (!isError) this.retrievedData.splice(indexError - 1, 1);
        });
      } else {
        this.submitRecord(this.getErrorDatas[index].data).then((isError) => {
          if (!isError) this.retrievedData.splice(indexError - 1, 1);
        });
      }

      if (this.progress === this.dataKirim.length) {
        this.finish = true;
      }
    },

    async retryAll() {
      this.getErrorDatas.forEach((data) => {
        const findIndex = this.retrievedData.findIndex(retrievedData => retrievedData.index === data.index);

        if (this.isBulk && this.bulkMode === 'delete') {
          this.deleteRecord(data.data).then((isError) => {
            if (!isError) this.retrievedData.splice(findIndex, 1);
          });
        } else if (this.isBulk) {
          this.updateRecord(data.data).then((isError) => {
            if (!isError) this.retrievedData.splice(findIndex, 1);
          });
        } else {
          this.submitRecord(data.data).then((isError) => {
            if (!isError) this.retrievedData.splice(findIndex, 1);
          });
        }
      });

      if (this.progress === this.dataKirim.length) {
        this.finish = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.retry-btn {
  font-weight: 600;
  color: $primary-sample;
  cursor: pointer;
}
</style>
