<!-- eslint-disable max-len -->
<template>
  <div @keypress.13.prevent="eventInput()">
    <b-form-group v-if="field.type === 'text'">
      <j-input
        v-model="formData"
        :error-required="false"
        :style="widthContent"
        :class="customWidth !== 0 ? 'search-option--text' : ''"/>
    </b-form-group>
    <b-form-group v-if="field.type === 'number'">
      <j-input
        v-model="formData"
        :error-required="false"
        :style="widthContent"
        :class="customWidth !== 0 ? 'search-option--text' : ''"
        type="number"/>
    </b-form-group>
    <b-form-group
      v-if="field.type === 'date'"
      :style="customWidth !== 0 ? `width: ${customWidth}px` : ''">
      <b-row>
        <b-col
          md="6"
          class="p__r--1">
          <j-datepicker
            v-model="filter_data_start_date"
            :error-required="false"
            placeholder="Start Date"
            format="MMM dd, yyyy"
            class="m__r--10"/>
        </b-col>
        <b-col
          md="6"
          class="p__l--1">
          <j-datepicker
            v-model="filter_data_end_date"
            :disabled-dates="disableDates(filter_data_start_date)"
            :error-required="false"
            placeholder="End Date"
            format="MMM dd, yyyy"/>
        </b-col>
      </b-row>
    </b-form-group>
    <b-form-group v-if="field.type === 'single_selection'">
      <j-single-select
        v-model="formData"
        :error-required="false"
        :options="available_list"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        label="name"
        @getData="eventInput()"/>
    </b-form-group>
    <b-form-group v-if="field.type === 'single_tags_selection'">
      <div
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        class="block-tags"
        @click="showTags = !showTags">
        <span
          v-if="formData"
          :style="{ backgroundColor: formData.background, color: formData.font_color }"
          class="label-tags">
          {{ formData.name }}
        </span>
        <span
          v-else
          class="placeholder-tags">
          <!-- {{ field.placeholder }} -->
        </span>
      </div>
      <div
        v-show="showTags"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        class="container-tags">
        <div
          v-for="(dataTags, indexTags) in field.config.list_tags"
          :key="indexTags"
          :style="{ backgroundColor: dataTags.background, color: dataTags.font_color }"
          class="container-options-tags"
          @click="mappingSingleTagsLabel(dataTags)">
          {{ dataTags.name }}
        </div>
      </div>
    </b-form-group>
    <b-form-group v-if="field.type === 'multiple_tags_selection'">
      <div
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        class="block-tags d-flex"
        @click="showTags = !showTags">
        <span
          v-for="(dataTags, indexTags) in formData"
          :key="indexTags"
          :style="{ backgroundColor: dataTags.background, color: dataTags.font_color }"
          class="label-tags d-flex">
          {{ dataTags.name }}
          <label
            class="cursor-pointer m__l--5 m__b--0"
            @click="removeMultiTagsLabel(indexTags)">X</label>
        </span>
        <span
          v-if="formData && formData.length === 0"
          class="placeholder-tags">
          <!-- {{ field.placeholder }} -->
        </span>
      </div>
      <div
        v-show="showTags"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        class="container-tags">
        <div
          v-for="(dataTags, indexTags) in field.config.list_tags"
          :key="indexTags"
          :style="{ backgroundColor: dataTags.background, color: dataTags.font_color }"
          class="container-options-tags"
          @click="mappingMultiTagsLabel(dataTags)">
          {{ dataTags.name }}
        </div>
      </div>
    </b-form-group>
    <b-form-group v-if="field.type === 'user_single_selection'">
      <j-single-select
        v-model="formData"
        :error-required="false"
        :load-options="loadOptionsUser"
        :is-async="true"
        :cache-option="false"
        :default-options="false"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        value-format="object"
        label="name"
        @getData="eventInput()"/>
    </b-form-group>
    <b-form-group v-if="field.type === 'relation_record'">
      <j-single-select
        v-if="field.config.is_auto_show"
        v-model="formData"
        :error-required="false"
        :options="available_list"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        value-format="object"
        label="name"
        @getData="eventInput()"/>
      <j-single-select
        v-else
        v-model="formData"
        :error-required="false"
        :load-options="($event) => loadOptionsRelation($event, field)"
        :is-async="true"
        :cache-option="false"
        :default-options="false"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        value-format="object"
        label="name"
        @getData="eventInput()"/>
    </b-form-group>
    <b-form-group v-if="field.type === 'relation_record_external_api'">
      <j-single-select
        v-if="field.config.is_auto_show"
        v-model="formData"
        :error-required="false"
        :options="available_list"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        value-format="object"
        label="label"
        @getData="eventInput()"/>
      <j-single-select
        v-else
        v-model="formData"
        :error-required="false"
        :load-options="($event) => loadOptionsExternalApi($event, field)"
        :is-async="true"
        :cache-option="false"
        :default-options="false"
        :style="customWidth !== 0 ? `width: ${customWidth}px` : ''"
        value-format="object"
        label="name"
        @getData="eventInput()"/>
    </b-form-group>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, import/no-extraneous-dependencies, max-len, no-unused-vars, no-eval, no-console, no-mixed-operators, no-underscore-dangle */
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';

export default {
  name: 'JSearchBase',
  props: {
    field: {
      type: Object,
      default: () => {},
    },
    customWidth: {
      type: Number,
      default: 450,
    },
  },
  data() {
    return {
      formData: null,
      userData: null,
      showTags: false,
      filter_data_start_date: null,
      filter_data_end_date: null,
      available_list: [],
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  computed: {
    widthContent() {
      return { '--width': `${this.customWidth}px` };
    },
  },
  watch: {
    field() {
      this.getOptions();
    },

    filter_data_start_date(val) {
      if (val && this.filter_data_end_date) {
        this.eventInput();
      }
    },

    filter_data_end_date(val) {
      if (val && this.filter_data_start_date) {
        this.eventInput();
      }
    },
  },
  created() {
    this.getOptions();
  },
  methods: {
    getOptions() {
      this.formData = null;
      this.userData = null;
      this.showTags = false;
      this.filter_data_start_date = null;
      this.filter_data_end_date = null;
      this.available_list = [];

      if (this.field.type === 'relation_record' && this.field.config.is_auto_show) {
        this.getDataRelationRecord(this.field);
      }
      if (this.field.type === 'relation_record_external_api' && this.field.config.is_auto_show) {
        this.getDataExternalApi(this.field);
      }
      if (this.field.type === 'multiple_tags_selection') {
        this.formData = [];
      }
      if (this.field.type === 'single_selection') {
        this.available_list = this.field.config.list_options.map(val => ({
          id: val,
          name: val,
        }));
      }
    },

    eventInput() {
      this.getComposedDataReq().then((data) => {
        this.$emit('set-filter', data);
      });
    },

    getData() {
      return new Promise((resolve, reject) => {
        this.getComposedDataReq().then((data) => {
          resolve(data);
        });
      });
    },

    mappingSingleTagsLabel(data) {
      this.formData = data;
      this.showTags = false;
      this.eventInput();
    },

    mappingMultiTagsLabel(data) {
      const findData = this.formData.find(f => f.name === data.name);
      if (!findData) {
        this.formData.push(data);
      }
      this.showTags = false;
      this.eventInput();
    },

    removeMultiTagsLabel(index) {
      this.formData.splice(index, 1);
      this.showTags = false;
      this.eventInput();
    },

    getDataExternalApi(field) {
      const data = field.config.data_source_external;
      const token = Vue.ls.get('Token');
      const method = data.method.toLowerCase();
      const variable = { query: '' };
      const fieldkey = {};

      let url = '';
      if (method === 'get') {
        const queryParams = Object.keys(data.query_params);
        const queryParamsValue = Object.values(data.query_params);

        let urlParams = '';
        queryParams.forEach((e, index) => {
          let y;
          const andMore = queryParams.length - 1 > index ? '&' : '';
          urlParams += `${e}=${eval(`y=${queryParamsValue[index]}`)}${andMore}`;
        });

        url = `${data.url}?${urlParams}`;
        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          const forms = res.data[data.source];
          if (forms.length > 0) {
            forms.forEach((lab, index) => {
              if (field.config.data_source_external_variable) {
                let y;
                forms[index].label = eval(`y=lab.${field.config.data_source_external_variable}`);
              } else {
                forms[index].label = lab.name;
              }
            });
            this.available_list = forms;
          }
        });
      } else {
        let y;
        const params = eval(`y=${data.body}`);

        url = data.url;
        axios[method](url, params, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`,
          },
        }).then((res) => {
          const forms = res.data[data.source];
          if (forms.length > 0) {
            forms.forEach((lab, index) => {
              if (field.config.data_source_external_variable) {
                let x;
                forms[index].label = eval(`x=lab.${field.config.data_source_external_variable}`);
              } else {
                forms[index].label = lab.name;
              }
            });
            this.available_list = forms;
          }
        });
      }
    },

    loadOptionsExternalApi({ action, searchQuery, callback }, field) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const data = field.config.data_source_external;
          const token = Vue.ls.get('Token');
          const method = data.method.toLowerCase();
          const variable = { query: searchQuery };
          const fieldkey = {};

          let url = '';
          if (method === 'get') {
            const queryParams = Object.keys(data.query_params);
            const queryParamsValue = Object.values(data.query_params);

            let urlParams = '';
            queryParams.forEach((e, index) => {
              let y;
              const andMore = queryParams.length - 1 > index ? '&' : '';
              urlParams += `${e}=${eval(`y=${queryParamsValue[index]}`)}${andMore}`;
            });

            url = `${data.url}?${urlParams}`;
            axios.get(url, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              const forms = res.data[data.source];
              forms.forEach((lab, index) => {
                if (field.config.data_source_external_variable) {
                  let y;
                  forms[index].label = eval(`y=lab.${field.config.data_source_external_variable}`);
                } else {
                  forms[index].label = lab.name;
                }
              });
              callback(null, forms);
            }).catch(() => {
              callback(null, []);
            });
          } else {
            let y;
            const params = eval(`y=${data.body}`);

            url = data.url;
            axios[method](url, params, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              const forms = res.data[data.source];
              forms.forEach((lab, index) => {
                if (field.config.data_source_external_variable) {
                  let x;
                  forms[index].label = eval(`x=lab.${field.config.data_source_external_variable}`);
                } else {
                  forms[index].label = lab.name;
                }
              });
              callback(null, forms);
            }).catch(() => {
              callback(null, []);
            });
          }
        } else {
          callback(null, []);
        }
      }
    },

    loadOptionsUser({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
              query_type: 'staff_name',
            },
          };
          this.$store.dispatch('jStoreRequestor/getUserNew', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    getDataRelationRecord(data) {
      const dataFilter = {};
      if (data.config.filter) {
        let x;
        // eslint-disable-next-line
        const _user = this.session.user;
        const filterKeys = Object.keys(data.config.filter);
        const filterValues = Object.values(data.config.filter);

        if (filterValues.length > 0) {
          filterValues.forEach((e, index) => {
            if (e.includes('_user')) {
              dataFilter[filterKeys[index]] = eval(`x=${e}`);
            } else if (filterKeys[index].includes('.company_user_id')) {
              dataFilter[filterKeys[index]] = Number(e);
            } else if (e.includes('.today')) {
              const date = new Date();
              const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
              const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
              // eslint-disable-next-line
              dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
            } else {
              // eslint-disable-next-line
              if (data.config.data_source.form.columns[filterKeys[index]] ? data.config.data_source.form.columns[filterKeys[index]].type === 'number' : false) {
                dataFilter[filterKeys[index]] = Number(e);
              } else {
                dataFilter[filterKeys[index]] = e.slice(1, -1);
              }
            }
          });
        }
      }
      const filterOperator = data.config.filter_operator ? data.config.filter_operator : 'and';
      const sort = data.config.sort ? JSON.stringify(data.config.sort[0]) : {};
      const formId = data.config.data_source.form.id;
      const token = (JSON.parse(localStorage.getItem('Token'))).value;
      const gateUrl = localStorage.getItem('gateUrl');
      const url = `${gateUrl}nocode/record/fetch?form_data_id=${formId}&sort=${sort}&filter=${JSON.stringify(dataFilter)}&filter_operator=${filterOperator}&limit=1000000&page=1`;

      axios.get(url, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${token}`,
        },
      }).then((res) => {
        const forms = res.data.data;
        forms.forEach((lab, index) => {
          forms[index].name = lab[data.config.data_source.show_data_option] ? lab[data.config.data_source.show_data_option] : '- No Name -';
        });
        this.available_list = forms;
      });
    },

    loadOptionsRelation({ action, searchQuery, callback }, data) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const dataFilter = {
            [data.config.data_source.search_data_option]: searchQuery,
          };

          if (data.config.filter) {
            let x;
            // eslint-disable-next-line
            const _user = this.session.user;
            const filterKeys = Object.keys(data.config.filter);
            const filterValues = Object.values(data.config.filter);
            if (filterValues.length > 0) {
              filterValues.forEach((e, index) => {
                if (e.includes('_user')) {
                  dataFilter[filterKeys[index]] = eval(`x=${e}`);
                } else if (filterKeys[index].includes('.company_user_id')) {
                  dataFilter[filterKeys[index]] = Number(e);
                } else if (e.includes('.today')) {
                  const date = new Date();
                  const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
                  const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
                  // eslint-disable-next-line
                  dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
                } else {
                  // eslint-disable-next-line
                  if (data.config.data_source.form.columns[filterKeys[index]] ? data.config.data_source.form.columns[filterKeys[index]].type === 'number' : false) {
                    dataFilter[filterKeys[index]] = Number(e);
                  } else {
                    dataFilter[filterKeys[index]] = e.slice(1, -1);
                  }
                }
              });
            }
          }
          const filterOperator = data.config.filter_operator ? data.config.filter_operator : 'and';
          const sort = data.config.sort ? JSON.stringify(data.config.sort[0]) : {};
          const formId = data.config.data_source.form.id;
          const token = (JSON.parse(localStorage.getItem('Token'))).value;
          const gateUrl = localStorage.getItem('gateUrl');
          const url = `${gateUrl}nocode/record/fetch?form_data_id=${formId}&sort=${sort}&filter=${JSON.stringify(dataFilter)}&filter_operator=${filterOperator}&limit=100&page=1`;

          axios.get(url, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            const forms = res.data.data;
            forms.forEach((lab, index) => {
              forms[index].label = lab[data.config.data_source.show_data_option] ? lab[data.config.data_source.show_data_option] : '- No Name -';
            });
            callback(null, forms);
          }).catch(() => {
            callback(null, []);
          });
        } else {
          callback(null, []);
        }
      }
    },

    getValue(dataField, value) {
      if (dataField.type === 'relation_record_external_api') {
        return value ? (value[dataField.config.data_source_external_set_value] ? value[dataField.config.data_source_external_set_value] : value.id) : 0;
      } else if (dataField.type === 'relation_record') {
        return value ? (value[dataField.config.data_source.set_value_selected] ? value[dataField.config.data_source.set_value_selected] : value.id) : 0;
      }
      return value;
    },

    getFieldFormatReq(dataField, value) {
      return new Promise((resolve) => {
        const result = {
          name: dataField.name,
          type: dataField.type,
          value: this.getValue(dataField, value),
          field_data_key: dataField.field_data_key,
          // person: dataField.type === 'user_single_selection' ? {
          //   company_user_id: this.userData.id,
          //   name: this.userData.name,
          //   email: this.userData.email,
          //   photo: this.userData.photo,
          // } : {},
        };
        resolve(result);
      });
    },

    getDataUser() {
      if (this.formData) {
        const data = this.formData;
        const params = {
          id: data.id,
        };
        this.$store.dispatch('jStoreFormUi/actionGetEmployeeAutofill', params).then((res) => {
          const employeeId = res.employee_id ? `- ${res.employee_id}` : '';
          this.userData = {
            id: data.id,
            name: `${data.profile.first_name} ${data.profile.last_name}`,
            email: data.email,
            photo: data.profile.photo_url,
            organigram: `${res.organigram_id} - ${res.organigram_name}`,
            division: `${res.division_id} - ${res.division_name}`,
            employee_id: employeeId,
          };
        });
      }
    },

    getComposedDataReq() {
      return new Promise((resolve) => {
        let value;
        if (this.field.type === 'date') {
          // value = this.formData ? this.$moment(this.formData).format('YYYY-MM-DD') : '';
          value = {
            start_date: this.filter_data_start_date ? this.$moment(this.filter_data_start_date).format('YYYY-MM-DD') : '',
            end_date: this.filter_data_end_date ? this.$moment(this.filter_data_end_date).format('YYYY-MM-DD') : '',
          };
        } else {
          value = this.formData;
        }
        this.getFieldFormatReq(this.field, value).then((dataField) => {
          resolve(dataField);
        });
      });
    },

    disableDates(date) {
      if (date) {
        return {
          to: new Date(date - 8640000),
        };
      }
      return {};
    },
  },
};
</script>

<style lang="scss" scoped>
  .container-group {
    border: 0.5px solid #ced1d4;
    padding: 20px;
    border-radius: 5px;
    &__item {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 35px;
      padding-top: 15px;
      position: relative;
      .item {
        &__counter-group {
          position: absolute;
          top: -14px;
          left: 0;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 13px;
          width: 26px;
          height: 26px;
          padding-top: 3px;
          font-size: 12px;
          text-align: center;
        }
        &__remove {
          position: absolute;
          top: -14px;
          right: 0;
          background-color: #fff;
        }
      }
    }
  }
  .float-to-right{
    float: right;
  }
  .disabled{
    .jSingleFileUploader{
      .btn,.fa__delete-icon{
        display: none;
      }
    }
  }

  .photo-user-selection {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    background-size: cover;
    position: relative;
    background-color: rgba(131, 131, 131, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid #ddd;
  }

  .name-user-selection {
    font-weight: 500;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .email-user-selection {
    font-weight: 400;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9c9c9c;
  }

  .label-user-selection {
    font-weight: 500;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #525252;
  }

  .title-user-selection {
    font-weight: 400;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b2b2b2;
  }

  .container-tags {
    padding: 5px;
    border: 1px solid #ddd;
    overflow: visible;
    position: absolute;
    // width: var(--width);
    background: #fff;
    z-index: 100;
  }

  .container-options-tags {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    width: max-content;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  .block-tags {
    border-radius: 4px;
    border: solid 0.8px #ced4da;
    background-color: #ffffff;
    // width: var(--width);
    height: 36px;
    padding: 4px;
    cursor: pointer;
  }

  .label-tags {
    margin: 0px 5px;
    padding: 3px 5px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
  }

  .placeholder-tags {
    font-size: 14px;
    color: #6c757d;
    opacity: .5;
  }

  .reimb-select-period {
    display: flex;
    flex-wrap: wrap;
  }

  .reimb-select-period input {
    width: 150px !important;
  }
</style>
