<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="force-upload-photo-modal">
      <div
        ref="wrapForceUploadPhoto"
        class="force-upload-photo-wrap">
        <h3 class="force-upload-photo-header">Please update your photo profile</h3>
        <div class="upload-photo-wrap">
          <img
            :src="sanitizeUrl(photoProfile) || require('@/assets/image/profile.png')"
            alt="icon photo profile">
          <div
            class="upload-photo"
            @click.stop="$refs.inputPhoto.click()">
            <p>Upload profile picture</p>
            <input
              ref="inputPhoto"
              type="file"
              @change="handleUploadPhoto($event)">
          </div>
        </div>
        <div class="force-upload-photo-button">
          <b-button
            class="mr-3 button-left"
            @click="toggleModal">
            Skip
          </b-button>
          <b-button
            :disabled="!photoProfile"
            class="button-right"
            @click="updatePhotoProfile">
            Update
          </b-button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import axios from 'axios';
import { mapActions, mapMutations, mapState } from 'vuex';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

export default {
  mixins: [
    jMixSanitizeUrl,
  ],
  data() {
    return {
      isVisible: false,
      photoProfile: null,
      token: (JSON.parse(localStorage.getItem('Token'))).value,
    };
  },

  computed: {
    ...mapState('jStoreLogin', ['profile_data']),

    url_upload() {
      return `${process.env.GATE_URL}/file`;
    },

    generateData() {
      const genData = {
        id: String(this.profile_data.id),
        first_name: this.profile_data.first_name,
        last_name: this.profile_data.last_name,
        date_of_birth: this.profile_data.date_of_birth,
        place_of_birth: this.profile_data.place_of_birth,
        photo_url: this.photoProfile,
        gender: this.profile_data.gender,
        marital_status: this.profile_data.marital_status,
        phone_number: this.profile_data.phone_number,
      };
      return genData;
    },
  },

  watch: {
    isVisible(val) {
      if (!val) {
        this.setModalUploadPhoto(false);
      }
    },
  },

  methods: {
    ...mapMutations('jStoreHome', ['setModalUploadPhoto']),
    ...mapMutations('jStoreLogin', ['setProfile']),
    ...mapActions('jStoreEmployee', ['updateProfile']),
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    toggleModal() {
      this.isVisible = !this.isVisible;
    },

    handleUploadPhoto(event) {
      const file = event.target.files;
      const isAcceptedType = ['image/jpeg', 'image/png'].includes(file[0].type);
      const fileSize = Math.round(file[0].size / 1024 / 1024);

      if (!isAcceptedType) {
        this.toggleProblem('Please choose a wanted file!');
      }

      if (fileSize > 5) {
        this.toggleProblem('Please upload file with maximum size 5MB!');
      }

      if (isAcceptedType && fileSize <= 5) {
        this.uploadFile(file, null, null);
      }
    },

    async uploadFile(file, name, content) {
      this.showLoading();
      let imageData;
      let fileName;

      if (file) {
        const imageBase = await this.getBase64(file[0]).then(data => data);
        const commaPosition = imageBase.lastIndexOf(',') + 1;
        imageData = imageBase.substring(commaPosition);
        fileName = file[0].name;
      }

      const sendData = {
        filename: name || fileName,
        content: content || imageData,
      };

      axios.post(this.url_upload, sendData, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.token,
        },
      }).then((res) => {
        const { data } = res.data;
        const imageUrl = data.url;

        this.photoProfile = imageUrl;
        this.hideLoading();
      });
    },

    updatePhotoProfile() {
      this.updateProfile(this.generateData);
      let profileData = null;
      profileData = JSON.parse(JSON.stringify(this.profile_data));
      profileData.photo_url = this.photoProfile;
      this.setProfile(profileData);

      setTimeout(() => {
        this.toggleModal();
      }, 100);
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },
  },
};
</script>
