<!-- eslint-disable max-len -->
<template>
  <div>
    <h2 style="margin-bottom: 30px; text-align: center">{{ dataSetup.title }}</h2>

    <j-form-base
      v-if="isLoading"
      ref="jFormCreate"
      :data-fields="dataFields"/>

    <div class="m__t--20 text-right">
      <b-button
        v-if="onModal"
        class="btn gray outline"
        @click="$emit('close-modal')">
        Close
      </b-button>
      <b-button
        v-if="modeTable === 'requester'"
        class="btn blue outline"
        @click="saveDraftReqRecord">
        Save To Draft
      </b-button>
      <b-button
        v-if="(nativeButtonsCreate ? !nativeButtonsCreate.is_hidden : true) && modeTable !== 'requester'"
        class="btn blue outline"
        @click="submitAddRecord">
        {{ nativeButtonsCreate ?
          (nativeButtonsCreate.label ? nativeButtonsCreate.label : 'Submit') :
        'Submit' }}
      </b-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, max-len, no-unused-vars, no-eval, no-console, no-lonely-if */
import { mapActions, mapState } from 'vuex';
import jFormBase from '@/views/application/application-component/form-ui/form-base/jFormBase';
import jMixRedirectApp from '@/mixins/jMixRedirectApp';
import axios from 'axios';
import Vue from 'vue';

export default {
  components: {
    jFormBase,
  },
  mixins: [
    jMixRedirectApp,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formDataId: {
      type: String,
      default: '',
    },
    dataSetup: {
      type: Object,
      default: () => {},
    },
    onModal: {
      type: Boolean,
      default: false,
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
    modeTable: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      dataFields: [],
      isLoading: false,
    };
  },
  computed: {
    // ...mapState('jStoreFormUi', ['setup_form_ui']),

    nativeButtonsCreate() {
      return this.formUi.native_buttons ? this.formUi.native_buttons.create : null;
    },
  },
  watch: {
  },
  created() {
    this.dataFields = this.dataSetup.columns.map((el, index) => ({
      id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
      name: el.name,
      type: el.type,
      placeholder: el.placeholder,
      value: '',
      value_id: 0,
      value_form: null,
      config: el.config,
      grid: el.grid_size ? el.grid_size : '12',
      available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
        id: val,
        name: val,
      })) : []) : [],
      available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
        value: val,
        text: val,
      })) : []) : [],
      available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
        name: val.name,
        background: val.background,
        font_color: val.font_color,
      })) : []) : [],
      external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
      external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
      external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
      is_delete: this.formData.primary_key === el.field_data_key,
      is_editable: el.is_disable,
      is_hidden: el.is_hidden,
      is_mandatory: el.is_mandatory,
      map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
      relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
      relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
      is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
      is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
      multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
        id: indexVal + 1,
        name: val,
      })) : []) : []) : [],
      accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
      person: {},
      is_external_source: this.formUi.type === 'external_url',
      is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
      filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
      field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
      field_ui_key: el.field_ui_key,
      field_data_key: el.field_data_key,
      html: el.config ? (el.config.html ? el.config.html : '') : '',
      groups: el.config ? (el.config.data_field_group ? this.configFieldGroup(el.config.data_field_group) : []) : [],
      master_groups: el.config ? (el.config.data_field_group ? el.config.data_field_group : []) : [],
      error_input: false,
      error_message: '',
    }));
    this.isLoading = true;
  },
  methods: {
    ...mapActions('jStoreFormUi', ['createRecord', 'saveDraftRecord', 'setValueRecord']),

    configFieldGroup(data) {
      return data.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: el.is_hidden || this.formData.primary_key === el.field_data_key,
        is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
        is_mandatory: el.is_mandatory,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: this.formUi.type === 'external_url',
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        groups: [],
      }));
    },

    submitAddRecord() {
      this.$refs.jFormCreate.getData().then((params) => {
        const dataColumns = Object.values(this.dataSetup.columns);
        const data = {
          multiple_form_ui_id: this.formUi.id,
          form_data_id: this.formDataId,
          data: {},
        };
        dataColumns.forEach((e) => {
          if (e.field_data_key) {
            const findValue = params.find(f => f.field_data_key === e.field_data_key);
            const findType = this.formData.columns[e.field_data_key];
            if (findType.type === 'number') {
              data.data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
            } else if (findType.type === 'timestamp') {
              if (findValue.type === 'time') {
                data.data[e.field_data_key] = findValue.value ? this.countSecond(findValue.value) : null;
              } else {
                data.data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
              }
            } else if (findType.type === 'boolean') {
              data.data[e.field_data_key] = false;
            } else if (findType.type === '[]text') {
              if (findValue.type === 'checkbox') {
                data.data[e.field_data_key] = findValue.multiple_value;
              } else {
                data.data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
              }
            } else if (findType.type === '[]number') {
              data.data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
            } else if (findType.type === 'person') {
              data.data[e.field_data_key] = findValue.person.company_user_id ? {
                company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                name: findValue.person ? findValue.person.name : '',
                email: findValue.person ? findValue.person.email : '',
                photo: findValue.person ? findValue.person.photo : '',
              } : null;
            } else if (findType.type === 'object') {
              // eslint-disable-next-line
              if (findValue.type === 'relation_record_external_api') {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? findValue.value_form.id : '',
                  name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
                };
              } else {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? findValue.value_form[e.config.data_source.set_value_selected] : '',
                  name: findValue.value_form ? findValue.value_form[e.config.data_source.show_data_option] : '',
                };
              }
            } else if (findType.type === 'maps') {
              data.data[e.field_data_key] = {
                latitude: findValue.latitude ? findValue.latitude : 0,
                longitude: findValue.longitude ? findValue.longitude : 0,
                address: findValue.value ? findValue.value : '',
              };
            } else if (findType.type === '[]attachment') {
              data.data[e.field_data_key] = findValue.multiple_value;
            } else if (findType.type === '[]object') {
              data.data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
            } else if (findType.type === 'tags' || findType.type === '[]tags') {
              data.data[e.field_data_key] = findValue.value;
            } else {
              // eslint-disable-next-line
              if (findValue.type === 'group' || findValue.type === 'table_group') {
                data.data[e.field_data_key] = findValue.groups.length > 0 ? findValue.groups.map(val => this.formatTypeGroup(val, findValue.data_groups, e.field_data_key)) : null;
              } else {
                data.data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
              }
            }
          }
        });
        this.setValueRecord(data).then((res) => {
          if (res.error && res.invalid_field) {
            this.$refs.jFormCreate.setErrorInput(res.invalid_field);
          } else {
            this.$refs.jFormCreate.clearErrorInput();
            const typeConfirm = this.nativeButtonsCreate ? this.nativeButtonsCreate.type : '';
            if (typeConfirm === 'confirmation') {
              this.$swal({
                title: 'Confirmation',
                text: res.action ? res.action.message : '',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                // input: 'text',
                // type: 'question',
              }).then((result) => {
                if (result.dismiss) {
                  if (this.onModal) {
                    this.$emit('close-modal');
                  }
                  // eslint-disable-next-line
                  throw {};
                } else {
                  if (res.action.redirect) {
                    this.redirectNativeButton(res);
                  } else {
                    if (this.onModal) {
                      this.$emit('close-modal');
                    }
                  }
                }
              });
            } else {
              const message = res.action.message ? res.action.message : res.message;
              this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
              if (res.action.redirect) {
                this.redirectNativeButton(res);
              } else {
                if (this.onModal) {
                  this.$emit('close-modal');
                }
              }
            }
          }
        });
      });
    },

    saveDraftReqRecord() {
      this.$refs.jFormCreate.getData().then((params) => {
        const dataColumns = Object.values(this.dataSetup.columns);
        const data = {
          form_ui_id: this.formUi.id,
          form_data_id: this.formDataId,
          data: {},
        };
        dataColumns.forEach((e) => {
          if (e.field_data_key) {
            const findValue = params.find(f => f.field_data_key === e.field_data_key);
            const findType = this.formData.columns[e.field_data_key];

            if (findType.type === 'number') {
              data.data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
            } else if (findType.type === 'timestamp') {
              if (findValue.type === 'time') {
                data.data[e.field_data_key] = findValue.value ? this.countSecond(findValue.value) : null;
              } else {
                data.data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
              }
            } else if (findType.type === 'boolean') {
              data.data[e.field_data_key] = false;
            } else if (findType.type === '[]text') {
              if (findValue.type === 'checkbox') {
                data.data[e.field_data_key] = findValue.multiple_value;
              } else {
                data.data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
              }
            } else if (findType.type === '[]number') {
              data.data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
            } else if (findType.type === 'person') {
              data.data[e.field_data_key] = findValue.person.company_user_id ? {
                company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                name: findValue.person ? findValue.person.name : '',
                email: findValue.person ? findValue.person.email : '',
                photo: findValue.person ? findValue.person.photo : '',
              } : null;
            } else if (findType.type === 'object') {
              // eslint-disable-next-line
              if (findValue.type === 'relation_record_external_api') {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? String(findValue.value_form.id) : '',
                  name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
                };
              } else {
                data.data[e.field_data_key] = {
                  id: findValue.value_form ? findValue.value_form[e.config.data_source.set_value_selected] : '',
                  name: findValue.value_form ? findValue.value_form[e.config.data_source.show_data_option] : '',
                };
              }
            } else if (findType.type === 'maps') {
              data.data[e.field_data_key] = {
                latitude: findValue.latitude ? findValue.latitude : 0,
                longitude: findValue.longitude ? findValue.longitude : 0,
                address: findValue.value ? findValue.value : '',
              };
            } else if (findType.type === '[]attachment') {
              data.data[e.field_data_key] = findValue.multiple_value;
            } else if (findType.type === 'tags' || findType.type === '[]tags') {
              data.data[e.field_data_key] = findValue.value;
            } else if (findType.type === '[]object') {
              data.data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
            } else {
              // eslint-disable-next-line
              if (findValue.type === 'group' || findValue.type === 'table_group') {
                data.data[e.field_data_key] = findValue.groups.length > 0 ? findValue.groups.map(val => this.formatTypeGroup(val, findValue.data_groups, e.field_data_key)) : null;
              } else {
                data.data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
              }
            }
          }
        });
        this.saveDraftRecord(data).then((res) => {
          if (res.error && res.invalid_field) {
            this.$refs.jFormCreate.setErrorInput(res.invalid_field);
          } else {
            this.$refs.jFormCreate.clearErrorInput();
            if (this.onModal) {
              this.$emit('close-modal');
            }
          }
        });
      });
    },

    countSecond(str) {
      const date = new Date();
      return new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${str}:00`)).getTime();
    },

    formatTypeGroup(params, columns, field) {
      const dataColumns = Object.values(columns);
      const data = {};
      dataColumns.forEach((e) => {
        if (e.field_data_key) {
          const findValue = params.find(f => f.field_data_key === e.field_data_key);
          const findType = this.formData.class[field][e.field_data_key];
          if (findType.type === 'number') {
            data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
          } else if (findType.type === 'timestamp') {
            if (findValue.type === 'time') {
              data[e.field_data_key] = findValue.value ? this.countSecond(findValue.value) : null;
            } else {
              data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
            }
          } else if (findType.type === 'boolean') {
            data[e.field_data_key] = false;
          } else if (findType.type === '[]text') {
            if (findValue.type === 'checkbox') {
              data[e.field_data_key] = findValue.multiple_value;
            } else {
              data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
            }
          } else if (findType.type === '[]number') {
            data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
          } else if (findType.type === 'person') {
            data[e.field_data_key] = findValue.person.company_user_id ? {
              company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
              name: findValue.person ? findValue.person.name : '',
              email: findValue.person ? findValue.person.email : '',
              photo: findValue.person ? findValue.person.photo : '',
            } : null;
          } else if (findType.type === 'object') {
            // eslint-disable-next-line
            if (findValue.type === 'relation_record_external_api') {
              data[e.field_data_key] = {
                id: findValue.value_form ? String(findValue.value_form.id) : '',
                name: findValue.value_form ? findValue.value_form[e.config.data_source_external_variable] : '',
              };
            } else {
              data[e.field_data_key] = {
                id: findValue.value_form ? findValue.value_form[e.config.data_source.set_value_selected] : '',
                name: findValue.value_form ? findValue.value_form[e.config.data_source.show_data_option] : '',
              };
            }
          } else if (findType.type === 'maps') {
            data[e.field_data_key] = {
              latitude: findValue.latitude ? findValue.latitude : 0,
              longitude: findValue.longitude ? findValue.longitude : 0,
              address: findValue.value ? findValue.value : '',
            };
          } else if (findType.type === '[]attachment') {
            data[e.field_data_key] = findValue.multiple_value;
          } else if (findType.type === 'tags' || findType.type === '[]tags') {
            data[e.field_data_key] = findValue.value;
          } else if (findType.type === '[]object') {
            data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
          } else {
            data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
          }
        }
      });
      return data;
    },
  },
};
</script>
