<!-- eslint-disable max-len -->
<template>
  <div>
    <b-row
      v-if="showComponentDetail && !is_full_screen_comp && !showWaring"
      class="row-detail-multiple-container">
      <b-col :md="$route.params.status ? '9' : '12'">
        <div class="component-card-detail-multi">
          <div
            class="header-multiple"
            style="z-index: 101"
          >
            <b-row>
              <b-col md="5">
                <div class="d-flex">
                  <i
                    class="fa fa-arrow-left font-weight-bold cursor-pointer m__r--10"
                    @click="goBack()"/>
                  <div v-if="showHeader">
                    <div class="header-text-1">{{ recordData[dataFormUi.detail_view.text_1] }}</div>
                    <div class="header-text-2">{{ recordData[dataFormUi.detail_view.text_2] }}</div>
                  </div>
                </div>
              </b-col>
              <b-col
                v-if="showComponent"
                md="7">
                <i
                  v-if="isDeleteButtonShow && (nativeButtonsDelete ? !nativeButtonsDelete.is_hidden : true) && editableByWorkflow"
                  class="fa fa-trash fa-lg font-weight-bold cursor-pointer pull-right m__t--5"
                  @click="deleteDataRecord"/>
                <!-- Requester --------------------------------------------------------------- -->
                <b-button
                  v-if="$route.params.status === 'draft' && $route.params.mode === 'requester' && (nativeButtonsSubmit ? !nativeButtonsSubmit.is_hidden : true) && editableByWorkflow"
                  class="btn blue pull-right m__r--5"
                  @click="setSubmitNativeButtonMultiple(paramDynamicConfirmMessage('submit'))">
                  {{ nativeButtonsSubmit ?
                    (nativeButtonsSubmit.label ? nativeButtonsSubmit.label : 'Submit') :
                  'Submit' }}
                </b-button>
                <div
                  v-if="$route.params.mode === 'requester' && $route.params.status === 'sent' && editableByWorkflow"
                  class="pull-right">
                  <b-button
                    v-if="nativeButtonsCancel ? !nativeButtonsCancel.is_hidden : true"
                    class="btn brown"
                    @click="cancelRecordApp">
                    {{ nativeButtonsCancel ?
                      (nativeButtonsCancel.label ? nativeButtonsCancel.label : 'Cancel') :
                    'Cancel' }}
                  </b-button>
                </div>
                <div
                  v-if="$route.params.mode === 'requester' && $route.params.status === 'approved' && editableByWorkflow"
                  class="pull-right">
                  <b-button
                    v-if="nativeButtonsClose ? !nativeButtonsClose.is_hidden : true"
                    class="btn green"
                    @click="closeRecordApp">
                    {{ nativeButtonsClose ?
                      (nativeButtonsClose.label ? nativeButtonsClose.label : 'Close') :
                    'Close' }}
                  </b-button>
                </div>
                <!-- Approver --------------------------------------------------------------- -->
                <div
                  v-if="$route.params.mode === 'approver' && $route.params.status === 'sent' && editableByWorkflow && !isValidRecordForApprover"
                  class="pull-right d-flex">
                  <div class="skeleton-button-approver" />
                  <div class="skeleton-button-approver" />
                  <div class="skeleton-button-approver" />
                </div>
                <div
                  v-if="$route.params.mode === 'approver' && $route.params.status === 'sent' && editableByWorkflow && isValidRecordForApprover"
                  class="pull-right">
                  <b-button
                    v-if="nativeButtonsApprove ? !nativeButtonsApprove.is_hidden : true"
                    class="btn blue"
                    @click="approveRecordApp">
                    {{ nativeButtonsApprove ?
                      (nativeButtonsApprove.label ? nativeButtonsApprove.label : 'Approve') :
                    'Approve' }}
                  </b-button>
                  <b-button
                    v-if="showBtnApproveUpdate && editableByWorkflow"
                    class="btn blue"
                    @click="approveUpdateRecordApp">
                    {{ nativeButtonsApproveUpdate ?
                      (nativeButtonsApproveUpdate.label ? nativeButtonsApproveUpdate.label : 'Approve & Update') :
                    'Approve & Update' }}
                  </b-button>
                  <b-button
                    v-if="nativeButtonsReject ? (!nativeButtonsReject.is_hidden && editableByWorkflow) : false"
                    class="btn purple"
                    @click="rejectRecordApp">
                    {{ nativeButtonsReject ?
                      (nativeButtonsReject.label ? nativeButtonsReject.label : 'Reject') :
                    'Reject' }}
                  </b-button>
                  <b-button
                    v-if="nativeButtonsNeedRevision ? (!nativeButtonsNeedRevision.is_hidden && isApproverSelectionByFunction && editableByWorkflow) : false"
                    class="btn gray"
                    @click="revisionRecordApp">
                    {{ nativeButtonsNeedRevision ?
                      (nativeButtonsNeedRevision.label ? nativeButtonsNeedRevision.label : 'Need Revision') :
                    'Need Revision' }}
                  </b-button>
                </div>
              </b-col>
            </b-row>
            <div
              v-if="dataFormUi && showComponent"
              id="hedaerTab">
              <div
                v-for="(item, index) in dataFormUi.tabs"
                :key="index"
                :class="{'tab-active': tabSelected === item.title}"
                class="tab-container"
                @click="selectTab(item)"
              >
                <h4>{{ item.title }}</h4>
                <div
                  v-if="tabSelected === item.title"
                  class="underline-data"/>
              </div>
            </div>
          </div>
          <div
            v-for="(item, index) in componentSelected"
            :key="index"
            class="m__t--50">
            <div v-if="item.type.toLowerCase() === 'form_ui' && showComponent">
              <j-form-ui-component :element="item" />
            </div>
            <div v-if="item.type.toLowerCase() === 'multiple_form_ui' && showComponent">
              <j-multiple-form-ui-component :element="item" />
            </div>
          </div>
        </div>
      </b-col>
      <b-col
        v-if="$route.params.status && showComponent"
        md="3">
        <div class="wrap-activity">
          <div class="card-detail-header m__t--40">
            <div class="card-detail-title">
              <i class="fa fa-clock-o"/> RECORD ACTIVITY
            </div>
          </div>
          <div
            v-if="dataLogs.length > 0"
            class="div-activity">
            <j-time-line
              :data="dataLogs"
              :convert="true"
              class="m__r--10"/>
          </div>
        </div>
      </b-col>
    </b-row>

    <div v-if="showComponentDetail && is_full_screen_comp && !showWaring">
      <div
        v-for="(item, index) in componentFiltered"
        :key="index">
        <div v-if="item.type.toLowerCase() === 'form_ui' && showComponent">
          <j-form-ui-component :element="item" />
        </div>
        <div v-if="item.type.toLowerCase() === 'multiple_form_ui' && showComponent">
          <j-multiple-form-ui-component :element="item" />
        </div>
      </div>
    </div>

    <div
      v-if="showWaring"
      class="not-admin-container warning-function d-flex align-items-center m__t--60">
      <img
        :src="require('@/assets/icon/warning.svg')"
        alt="warning">
      <div class="d-flex flex-column">
        <span class="title">{{ isMaintenance ? 'Under Construction' : 'Access Is Denied' }}</span>
        <span>
          {{ messageWaring }}
        </span>
      </div>
    </div>

    <b-modal
      v-if="showModalPsswd"
      ref="confirmPasswordModal"
      class="mod-form access-application"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div class="label__modal-confirm-password">CONFIRM YOUR PASSWORD</div>

      <b-img :src="img_change_password" />

      <label>For enhanced security, you are required to enter
      your confirm password to continue your activity.</label>

      <b-form-group class="form-password">
        <label class="padlock">
          <img src="@/assets/img/pswd.png">
        </label>
        <j-input
          :type="password_type"
          v-model="password"
          :error-required="false"
          placeholder="Password"/>
        <label class="showhide">
          <i
            :class="{'fa fa-eye': !show_pass, 'fa fa-eye-slash': show_pass}"
            role="img"
            @click="show_pass =! show_pass"/>
        </label>
      </b-form-group>

      <div class="m__t--20 text-right">
        <b-button
          class="btn blue outline"
          @click="confirmPassword">
          Confirm
        </b-button>
      </div>
    </b-modal>

    <b-modal
      v-if="showModalOTP"
      ref="otpModal"
      class="mod-form access-application"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <div class="label__modal-confirm-password">ONE-TIME PASSWORD VERIFICATION</div>

      <b-img :src="img_otp" />

      <label class="m__t--20">For enhanced security, you are required to enter a one-time
      password (OTP) to continue your activity.</label>

      <b-form-group id="otp-code">
        <input
          v-model="otp.a"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(1)">
        <input
          v-model="otp.b"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(2)">
        <input
          v-model="otp.c"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(3)">
        <input
          v-model="otp.d"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(4)">
        <input
          v-model="otp.e"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(5)">
        <input
          v-model="otp.f"
          class="otp"
          maxlength="1"
          type="text"
          @keyup="changeTab(6)">
      </b-form-group>

      <div class="command-box text-center">
        <p
          v-if="!expired"
          class="mt-4 mb-1">
          Code is valid for
          <span
            :class="{ 'red' : t_minute==0 }"
            v-html="t_minute" />
          <span :class="{ 'red' : t_minute==0 }">:</span>
          <span
            :class="{ 'red' : t_minute==0 }"
            v-html="t_second"/> minutes.
        </p>
        <p
          v-else
          class="mt-4 mb-1">
          <span class="red">The code you received has expired,</span>
          please enter a new code.
        </p>
        <p>
          <span class="text-shadow">Didn't receive code?
            <a
              class="text-primary resend"
              @click="getRequestOtp">Resend a new code</a>
          </span>
        </p>
      </div>

      <div class="m__t--20 text-right">
        <b-button
          :disabled="enable_verify > 5 && !expired? false : true"
          class="btn blue outline"
          @click="confirmOtp">
          Verify
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-nested-ternary, max-len, no-unused-vars, no-eval, no-console, no-lonely-if, no-plusplus, no-underscore-dangle */
import { mapState, mapActions, mapMutations } from 'vuex';
import jFormUiComponent from '@/views/application/application-component/jFormUiComponent';
import jMultipleFormUiComponent from '@/views/application/application-component/jMultipleFormUiComponent';
import jSummaryBlockWorkflow from '@/mixins/summary-block/jSummaryBlockWorkflow';
import jMixRedirectApp from '@/mixins/jMixRedirectApp';
import jMixNativeButton from '@/mixins/jMixNativeButton';
import jTimeLine from '@/components/timeline/jTimeLine';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';

export default {
  components: {
    jFormUiComponent,
    jMultipleFormUiComponent,
    jTimeLine,
  },
  mixins: [
    jSummaryBlockWorkflow,
    jMixRedirectApp,
    jMixNativeButton,
  ],
  data() {
    return {
      dataFormUi: null,
      formData: null,
      recordData: null,

      showHeader: false,
      showComponent: false,
      tabSelected: '',
      indexTabSelected: 0,
      componentSelected: [],

      dataLogs: [],
      isDeleteButtonShow: false,
      showComponentDetail: true,

      password: null,
      show_pass: false,

      waitTime: 1000000,
      t_second: 0,
      t_minute: 0,
      expired: false,
      enable_verify: 0,
      countdown: '',
      otp: {
        a: '',
        b: '',
        c: '',
        d: '',
        e: '',
        f: '',
      },
      otp_data: {
        otp: '',
        otp_token: '',
      },

      showModalPsswd: false,
      showModalOTP: false,
      showBtnApproveUpdate: false,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      isMaintenance: false,
      showWaring: false,
      messageWaring: '',
      isValidRecordForApprover: false,
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['setup_multi_form_ui', 'count_to_back', 'app_security_type', 'form_data_child', 'is_full_screen_comp', 'id_full_screen_comp']),
    ...mapState('jStoreApplication', ['side_menu', 'application_detail']),

    nativeButtonsApprove() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.approve : null;
    },

    nativeButtonsReject() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.reject : null;
    },

    nativeButtonsCancel() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.cancel : null;
    },

    nativeButtonsClose() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.close : null;
    },

    nativeButtonsUpdate() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.update : null;
    },

    nativeButtonsDelete() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.delete : null;
    },

    nativeButtonsSubmit() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.submit : null;
    },

    nativeButtonsNeedRevision() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.need_revision : null;
    },

    nativeButtonsApproveUpdate() {
      return this.dataFormUi && this.dataFormUi.native_buttons ? this.dataFormUi.native_buttons.approve_update : null;
    },

    isApproverSelectionByFunction() {
      return this.formData ?
        (!!(this.formData.workflow && this.formData.workflow.approver_selection === 'function')) : false;
    },

    img_change_password() {
      // eslint-disable-next-line
      return require('@/assets/img/vis-change-pwd.png');
    },

    img_otp() {
      // eslint-disable-next-line
      return require('@/assets/img/otp-email.png');
    },

    password_type() {
      if (this.show_pass) {
        return 'text';
      }
      return 'password';
    },

    queryParamsParent() {
      if (this.$route.query.queryParamsParent) {
        try {
          const docodeQueryParams = JSON.parse(atob(String(this.$route.query.queryParamsParent).replaceAll('%3D', /=/g)));
          return docodeQueryParams;
        } catch (err) {
          return null;
        }
      }
      return null;
    },

    editableByWorkflow() {
      let editable = true;
      let stop = false;
      // if (Number(localStorage.getItem(`layer_${this.$route.params.pageId}`)) > 1) {
      //   for (let i = 0; i < Number(localStorage.getItem(`layer_${this.$route.params.pageId}`)); i++) {
      //     if (localStorage.getItem(`dataWorkflowLayer_${this.$route.params.pageId}_${i}`)) {
      //       const dataWorkflow = JSON.parse(localStorage.getItem(`dataWorkflowLayer_${this.$route.params.pageId}_${i}`));
      //       if (!stop && dataWorkflow.status !== 'draft') {
      //         editable = false;
      //         stop = true;
      //       }
      //     }
      //   }
      // }
      if (this.queryParamsParent && Number(JSON.parse(this.queryParamsParent.breadcrumbsParent).layer) > 1) {
        for (let i = 0; i < Number(JSON.parse(this.queryParamsParent.breadcrumbsParent).layer); i++) {
          if (JSON.parse(this.queryParamsParent.breadcrumbsParent)[`dataWorkflowLayer_${i}`]) {
            const dataWorkflow = JSON.parse(this.queryParamsParent.breadcrumbsParent)[`dataWorkflowLayer_${i}`];
            if (!stop && dataWorkflow.status !== 'draft') {
              editable = false;
              stop = true;
            }
          }
        }
      }
      return editable;
    },

    componentFiltered() {
      if (this.is_full_screen_comp) {
        return this.componentSelected.filter(f => f.name === this.id_full_screen_comp);
      }
      return this.componentSelected;
    },
  },
  watch: {
    app_security_type(val) {
      if (val === 'password') {
        // show modal confirm password
        this.showModalPsswd = true;
        setTimeout(() => {
          this.$refs.confirmPasswordModal.show();
          this.showComponentDetail = false;
        }, 500);
      } else if (val === 'otp') {
        // show modal input otp
        this.showModalOTP = true;
        setTimeout(() => {
          this.getRequestOtp();
        }, 1000);
        this.showComponentDetail = false;
      }
    },

    form_data_child(val) {
      this.showBtnApproveUpdate = (String(this.formData && this.formData.id) === String(val && val.id)) &&
       (this.nativeButtonsApproveUpdate ? !this.nativeButtonsApproveUpdate.is_hidden : false);
    },

    // eslint-disable-next-line
    'otp.a': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.b': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.c': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.d': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.e': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },
    // eslint-disable-next-line
    'otp.f': function (val) {
      if (val) {
        this.enable_verify = this.enable_verify + 1;
        this.otp_data.otp = this.otp.a + this.otp.b
        + this.otp.c + this.otp.d + this.otp.e + this.otp.f;
      } else {
        this.enable_verify = this.enable_verify - 1;
      }
    },

    is_full_screen_comp(val) {
      if (val) document.body.style.overflow = 'auto';
      else document.body.style.removeProperty('overflow');
    },

    side_menu() {
      this.cekAccessPage();
    },
  },
  created() {
    const req = {
      page: 1,
      limit: 10,
      filter: {
        id: [this.$route.params.formUiId],
      },
    };
    this.actionGetSetupMultiFormUi(req).then((respon) => {
      const response = respon.data[0];
      this.dataFormUi = response;
      this.setFormUiParent(response);

      if (response.tabs) {
        const findTab = response.tabs.find(f => f.title.replace(/\s/g, '-').toLowerCase() === this.$route.params.tabName.toLowerCase());
        if (this.$route.params.tabName && findTab) {
          this.tabSelected = findTab.title;
          this.componentSelected = findTab.component.map((e) => { e.id = e.id || Number(Math.floor(Math.random() * 100)); return e; });
        } else {
          this.tabSelected = response.tabs[0].title;
          this.componentSelected = response.tabs[0].component.map((e) => { e.id = e.id || Number(Math.floor(Math.random() * 100)); return e; });
        }
      }

      if (response.form_data_id) {
        const reqData = {
          form_data_id: response.form_data_id,
        };
        this.findFormData(reqData).then((res) => {
          this.formData = res.data;
          this.setFormdataParent(res.data);
          this.isUseWorkflow(this.formData);

          if (this.$route.params.status) {
            this.getRecordDataWorkflow();
          } else {
            this.getRecordData();
          }
        });
        if (this.$route.params.status) {
          const paramLog = {
            form_data_id: response.form_data_id,
            id: this.$route.params.id,
          };
          this.getLogRecord(paramLog).then((res) => {
            const value = res.data;
            if (value[0] && value[0].logs) {
              this.dataLogs = value[0].logs;

              this.dataLogs.forEach((e) => {
                if (e.message.toLowerCase() === 'waiting for approval') {
                  e.log_member.forEach((m) => {
                    if (m.message.toLowerCase() === 'waiting for approval' && m.email === this.session.user.email) {
                      this.isValidRecordForApprover = true;
                    }
                  });
                }
              });
            }
          });
        }
      } else {
        this.getDetailExternalApi();
        this.isDeleteButtonShow = true;
      }
    });
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetSetupMultiFormUi', 'findFormData', 'actionGetRecordData', 'deleteRecord',
      'actionGetRecordRequesterData', 'actionGetRecordApproverData', 'getLogRecord', 'submitRecord', 'cancelRecord', 'closeRecord', 'rejectRecord', 'approveRecord',
      'revisionRecord', 'verifyPassword', 'requestOtp', 'verifyOtp', 'actionGetDetailRecordData', 'actionGetDetailRecordDataReq', 'actionGetDetailRecordDataApp']),
    ...mapMutations('jStoreFormUi', ['setDataRecord', 'addCountToBack', 'resetCountToBack', 'setFormdataParent', 'setFormUiParent', 'setActionApproveUpdate']),

    getDetailExternalApi() {
      let y;
      const variable = { id: this.$route.params.id };
      const dataDetail = this.dataFormUi ?
        (this.dataFormUi.data_source ?
          (this.dataFormUi.data_source.external_url ? this.dataFormUi.data_source.external_url.detail : null)
          : null)
        : null;

      if (dataDetail) {
        const _user = this.session.user;
        const token = Vue.ls.get('Token');
        const method = dataDetail.method.toLowerCase();

        let url = '';
        if (method === 'get') {
          this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

          const queryParams = Object.keys(dataDetail.query_params);
          const queryParamsValue = Object.values(dataDetail.query_params);

          let urlParams = '';
          queryParams.forEach((e, index) => {
            const andMore = queryParams.length - 1 > index ? '&' : '';
            let dataParamsValue = '';
            if (queryParamsValue[index].includes('variable')) {
              dataParamsValue = eval(`y=${queryParamsValue[index]}`);
            } else {
              dataParamsValue = queryParamsValue[index];
            }
            urlParams += `${e}=${dataParamsValue}${andMore}`;
          });

          url = `${dataDetail.url}?${urlParams}`;
          axios.get(url, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

            const dataServer = res.data[dataDetail.source];
            this.recordData = dataServer;
            this.setDataRecord(dataServer);
            this.showHeader = true;
            this.showComponent = true;
          });
        } else {
          this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

          const params = eval(`y=${dataDetail.body}`);

          url = dataDetail.url;
          axios[method](url, params, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

            const dataServer = res.data[dataDetail.source];
            this.recordData = dataServer;
            this.setDataRecord(dataServer);
            this.showHeader = true;
            this.showComponent = true;
          });
        }
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Url detail not available');
      }
    },

    getRecordDataWorkflow() {
      const param = {
        form_data_id: this.dataFormUi.form_data_id,
        multiple_form_ui_id: this.dataFormUi.id,
        id: this.$route.params.id,
      };
      if (this.$route.params.mode === 'requester') {
        param.source_view = 'table_requester_view';
        this.actionGetDetailRecordDataReq(param).then((res) => {
          if (res.data && res.data.length > 0) {
            this.recordData = res.data[0];
            this.setDataRecord(res.data[0]);
            this.showHeader = true;
            this.showComponent = true;
          }
          if (res.error) this.showComponent = false;
        });
      } else {
        param.source_view = 'table_approver_view';
        this.actionGetDetailRecordDataApp(param).then((res) => {
          if (res.data && res.data.length > 0) {
            this.recordData = res.data[0];
            this.setDataRecord(res.data[0]);
            this.showHeader = true;
            this.showComponent = true;
          }
          if (res.error) this.showComponent = false;
        });
      }
    },

    getRecordData() {
      const param = {
        form_data_id: this.dataFormUi.form_data_id,
        multiple_form_ui_id: this.dataFormUi.id,
        source_view: 'table_view',
        id: this.$route.params.id,
      };
      this.actionGetDetailRecordData(param).then((res) => {
        if (res.data && res.data.length > 0) {
          this.recordData = res.data[0];
          this.setDataRecord(res.data[0]);
          this.showHeader = true;
          this.showComponent = true;

          if (this.dataFormUi && this.dataFormUi.detail_view && this.dataFormUi.detail_view.text_1) {
            this.$route.meta.title = res.data[0][this.dataFormUi.detail_view.text_1];
          }
        }
        if (res.error) this.showComponent = false;
      });
    },

    goBack() {
      const applicationName = this.$route.params.applicationName ? this.$route.params.applicationName.replace(/\s/g, '-') : '';
      const applicationId = this.$route.params.applicationId ? this.$route.params.applicationId.replace(/=/g, '%3D') : '';
      const pageName = this.$route.params.pageName ? this.$route.params.pageName.replace(/\s/g, '-') : '';
      const pageId = this.$route.params.pageId;
      // const layer = localStorage.getItem(`layer_${pageId}`);
      const layer = this.queryParamsParent ? Number(JSON.parse(this.queryParamsParent.breadcrumbsParent).layer) : 0;

      if (layer > 0) {
        this.$router.push({
          // path: localStorage.getItem(`pathLayer_${pageId}_${layer}`),
          // query: { queryParamsParent: this.$route.query.queryParamsParent || null },
          path: JSON.parse(this.queryParamsParent.breadcrumbsParent)[`pathLayer_${layer}`],
          query: { queryParamsParent: this.queryParamsParent ? this.encodeQueryParams() : null },
        });
        // const layerDetail = (Number(localStorage.getItem(`layer_${pageId}`)) || 0) - 1;
        // localStorage.setItem(`layer_${pageId}`, layerDetail);
      } else {
        this.$router.push({
          path: `/app/${applicationName}/${applicationId}/${pageName}/${pageId}`,
          // query: { queryParamsParent: this.$route.query.queryParamsParent || null },
          query: { queryParamsParent: this.queryParamsParent ? this.encodeQueryParams() : null },
        });
      }
    },

    encodeQueryParams() {
      const breadcrumbsParent = this.queryParamsParent &&
      this.queryParamsParent.breadcrumbsParent ?
        JSON.parse(this.queryParamsParent.breadcrumbsParent) :
        {};
      if (this.queryParamsParent && this.queryParamsParent.breadcrumbsParent) {
        breadcrumbsParent.layer = Number(JSON.parse(this.queryParamsParent.breadcrumbsParent).layer) - 1;
      } else {
        breadcrumbsParent.layer = 0;
      }
      this.queryParamsParent.breadcrumbsParent = JSON.stringify(breadcrumbsParent);
      return btoa(JSON.stringify(this.queryParamsParent));
    },

    selectTab(data) {
      // this.addCountToBack();
      const applicationName = this.$route.params.applicationName ? this.$route.params.applicationName.replace(/\s/g, '-') : '';
      const applicationId = this.$route.params.applicationId ? this.$route.params.applicationId.replace(/=/g, '%3D') : '';
      const pageName = this.$route.params.pageName ? this.$route.params.pageName.replace(/\s/g, '-') : '';
      const pageId = this.$route.params.pageId ? this.$route.params.pageId : '';
      const formUiId = this.$route.params.formUiId ? this.$route.params.formUiId : '';
      const recordId = this.$route.params.id ? this.$route.params.id : '';
      const status = this.$route.params.status ? this.$route.params.status : '';
      const mode = this.$route.params.mode ? this.$route.params.mode : '';
      const tabName = data.title.replace(/\s/g, '-');

      if (status && mode) {
        this.$router.push({
          path: `/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${formUiId}/${recordId}/${tabName}/${status}/${mode}`, // Router DM-005
          query: { queryParamsParent: this.$route.query.queryParamsParent || null },
        });
      } else {
        this.$router.push({
          path: `/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${formUiId}/${recordId}/${tabName}`, // Router DM-002
          query: { queryParamsParent: this.$route.query.queryParamsParent || null },
        });
      }
    },

    goToList() {
      const applicationName = this.$route.params.applicationName ? this.$route.params.applicationName.replace(/\s/g, '-') : '';
      const applicationId = this.$route.params.applicationId ? this.$route.params.applicationId.replace(/=/g, '%3D') : '';
      const pageName = this.$route.params.pageName ? this.$route.params.pageName.replace(/\s/g, '-') : '';
      const pageId = this.$route.params.pageId ? this.$route.params.pageId : '';

      this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}`);
    },

    paramDynamicConfirmMessage(type) {
      return {
        form_data_id: this.dataFormUi.form_data_id,
        record_id: this.$route.params.id,
        data: this.recordData,
        multiple_form_ui_id: this.dataFormUi.id,
        form_type: 'multiple_form_ui_id',
        form_type_id: this.dataFormUi.id,
        type,
      };
    },

    submitReqRecord() {
      const params = {
        id: this.recordData.id,
        form_data_id: this.dataFormUi.form_data_id,
        multiple_form_ui_id: this.dataFormUi.id,
      };
      this.submitRecord(params).then((res) => {
        if (!res.error) {
          const typeConfirm = this.nativeButtonsSubmit ? this.nativeButtonsSubmit.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
              // input: 'text',
              // type: 'question',
            }).then((result) => {
              if (result.dismiss) {
                this.goToList();
                // eslint-disable-next-line
                throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  this.goToList();
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              this.goToList();
            }
          }
        }
        // this.goToList();
      });
    },

    handleCancelRecord(result) {
      const param = {
        id: this.recordData.id,
        multiple_form_ui_id: this.dataFormUi.id,
        form_data_id: this.dataFormUi.form_data_id,
        note: result ? result.value : '',
      };
      this.cancelRecord(param).then((res) => {
        if (!res.error) {
          const typeConfirm = this.nativeButtonsCancel ? this.nativeButtonsCancel.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
              // input: 'text',
              // type: 'question',
            }).then((resultApprove) => {
              if (resultApprove.dismiss) {
                this.goToList();
                // eslint-disable-next-line
                      throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  this.goToList();
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              this.goToList();
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
        // this.goToList();
      });
    },

    async cancelRecordApp() {
      if (this.nativeButtonsCancel && this.nativeButtonsCancel.is_use_confirmation_message && this.nativeButtonsCancel.dynamic_confirmation_message) {
        const responseFunction = await this.getValueFunction(this.nativeButtonsCancel.dynamic_confirmation_message, this.paramDynamicConfirmMessage('cancel'));

        if (responseFunction && responseFunction.confirmation_message) {
          this.$swal({
            title: 'Confirmation',
            text: responseFunction.message,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            input: 'text',
            type: 'question',
            cancelButtonText: 'No',
            inputPlaceholder: 'Write notes...',
          }).then((result) => {
            if (result.dismiss) {
              // eslint-disable-next-line no-throw-literal
              throw {};
            } else {
              this.handleCancelRecord(result);
            }
          });
        } else {
          this.handleCancelRecord();
        }
      } else {
        const title = this.nativeButtonsCancel && this.nativeButtonsCancel.is_use_confirmation_message ? 'Confirmation' : 'Cancel Record';
        const text = this.nativeButtonsCancel && this.nativeButtonsCancel.is_use_confirmation_message ? (this.nativeButtonsCancel.custom_confirmation_message || 'Are you sure want to continue this action?') : 'Are you sure want to cancel this record?';
        this.$swal({
          title,
          text,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          input: 'text',
          type: 'question',
          cancelButtonText: 'No',
          inputPlaceholder: 'Write notes...',
        }).then((result) => {
          if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.handleCancelRecord(result);
          }
        });
      }
    },

    handleCloseRecord(result) {
      const param = {
        id: this.recordData.id,
        multiple_form_ui_id: this.dataFormUi.id,
        form_data_id: this.dataFormUi.form_data_id,
        note: result ? result.value : '',
      };
      this.closeRecord(param).then((res) => {
        if (!res.error) {
          const typeConfirm = this.nativeButtonsClose ? this.nativeButtonsClose.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
              // input: 'text',
              // type: 'question',
            }).then((resultApprove) => {
              if (resultApprove.dismiss) {
                this.goToList();
                // eslint-disable-next-line
                    throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  this.goToList();
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              this.goToList();
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
        // this.goToList();
      });
    },

    async closeRecordApp() {
      if (this.nativeButtonsClose && this.nativeButtonsClose.is_use_confirmation_message && this.nativeButtonsClose.dynamic_confirmation_message) {
        const responseFunction = await this.getValueFunction(this.nativeButtonsCancel.dynamic_confirmation_message, this.paramDynamicConfirmMessage('close'));

        if (responseFunction && responseFunction.confirmation_message) {
          this.$swal({
            title: 'Confirmation',
            text: responseFunction.message,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            input: 'text',
            type: 'question',
            cancelButtonText: 'No',
            inputPlaceholder: 'Write notes...',
          }).then((result) => {
            if (result.dismiss) {
              // eslint-disable-next-line no-throw-literal
              throw {};
            } else {
              this.handleCloseRecord(result);
            }
          });
        } else {
          this.handleCloseRecord();
        }
      } else {
        const title = this.nativeButtonsClose && this.nativeButtonsCancel.is_use_confirmation_message ? 'Confirmation' : 'Close Record';
        const text = this.nativeButtonsClose && this.nativeButtonsCancel.is_use_confirmation_message ? (this.nativeButtonsClose.custom_confirmation_message || 'Are you sure want to continue this action?') : 'Are you sure want to close this record?';
        this.$swal({
          title,
          text,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          input: 'text',
          type: 'question',
          cancelButtonText: 'No',
          inputPlaceholder: 'Write notes...',
        }).then((result) => {
          if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.handleCloseRecord(result);
          }
        });
      }
    },

    handleRejectRecord(result) {
      const param = {
        id: this.recordData.id,
        multiple_form_ui_id: this.dataFormUi.id,
        form_data_id: this.dataFormUi.form_data_id,
        note: result ? result.value : '',
      };
      this.rejectRecord(param).then((res) => {
        if (!res.error) {
          const typeConfirm = this.nativeButtonsReject ? this.nativeButtonsReject.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
              // input: 'text',
              // type: 'question',
            }).then((resultReject) => {
              if (resultReject.dismiss) {
                this.goToList();
                // eslint-disable-next-line
                      throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  this.goToList();
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              this.goToList();
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
        // this.goToList();
      });
    },

    async rejectRecordApp() {
      if (this.nativeButtonsReject && this.nativeButtonsReject.is_use_confirmation_message && this.nativeButtonsReject.dynamic_confirmation_message) {
        const responseFunction = await this.getValueFunction(this.nativeButtonsReject.dynamic_confirmation_message, this.paramDynamicConfirmMessage('reject'));

        if (responseFunction && responseFunction.confirmation_message) {
          this.$swal({
            title: 'Confirmation',
            text: responseFunction.message,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            input: 'text',
            type: 'question',
            cancelButtonText: 'No',
            inputPlaceholder: 'Write notes...',
          }).then((result) => {
            if (result.dismiss) {
              // eslint-disable-next-line no-throw-literal
              throw {};
            } else {
              this.handleRejectRecord(result);
            }
          });
        } else {
          this.handleRejectRecord();
        }
      } else {
        const title = this.nativeButtonsReject && this.nativeButtonsReject.is_use_confirmation_message ? 'Confirmation' : 'Reject Record';
        const text = this.nativeButtonsReject && this.nativeButtonsReject.is_use_confirmation_message ? (this.nativeButtonsReject.custom_confirmation_message || 'Are you sure want to continue this action?') : 'Are you sure want to reject this record?';
        this.$swal({
          title,
          text,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          input: 'text',
          type: 'question',
          cancelButtonText: 'No',
          inputPlaceholder: 'Write notes...',
          inputValidator: (value) => {
            if (!value) {
              return 'You need to write something!';
            }
            return '';
          },
        }).then((result) => {
          if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.handleRejectRecord(result);
          }
        });
      }
    },

    approveUpdateRecordApp() {
      this.setActionApproveUpdate();
    },

    handleApproveRecord(result) {
      const param = {
        id: this.recordData.id,
        multiple_form_ui_id: this.dataFormUi.id,
        form_data_id: this.dataFormUi.form_data_id,
        note: result ? result.value : '',
      };
      this.approveRecord(param).then((res) => {
        if (!res.error) {
          const typeConfirm = this.nativeButtonsApprove ? this.nativeButtonsApprove.type : '';
          if (typeConfirm === 'confirmation') {
            this.$swal({
              title: 'Confirmation',
              text: res.action ? res.action.message : '',
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
              // input: 'text',
              // type: 'question',
            }).then((resultApprove) => {
              if (resultApprove.dismiss) {
                this.goToList();
                // eslint-disable-next-line
                    throw {};
              } else {
                if (res.action.redirect) {
                  this.checkRedirectByType(res, true);
                } else {
                  this.goToList();
                }
              }
            });
          } else {
            const message = res.action.message ? res.action.message : res.message;
            this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
            if (res.action.redirect) {
              setTimeout(() => {
                this.checkRedirectByType(res, true);
              }, 2000);
            } else {
              this.goToList();
            }
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
        // this.goToList();
      });
    },

    async approveRecordApp() {
      if (this.nativeButtonsApprove && this.nativeButtonsApprove.is_use_confirmation_message && this.nativeButtonsApprove.dynamic_confirmation_message) {
        const responseFunction = await this.getValueFunction(this.nativeButtonsApprove.dynamic_confirmation_message, this.paramDynamicConfirmMessage('approve'));

        if (responseFunction && responseFunction.confirmation_message) {
          this.$swal({
            title: 'Confirmation',
            text: responseFunction.message,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            input: 'text',
            type: 'question',
            cancelButtonText: 'No',
            inputPlaceholder: 'Write notes...',
            inputValidator: (value) => {
              if (!value &&
            this.nativeButtonsApprove &&
            this.nativeButtonsApprove.config_dialog_message &&
            this.nativeButtonsApprove.config_dialog_message.is_note_mandatory) {
                return 'You need to write something!';
              }
              return '';
            },
          }).then((result) => {
            if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
            } else {
              this.handleApproveRecord(result);
            }
          });
        } else {
          this.handleApproveRecord();
        }
      } else {
        const title = this.nativeButtonsApprove && this.nativeButtonsApprove.is_use_confirmation_message ? 'Confirmation' : 'Approve Record';
        const text = this.nativeButtonsApprove && this.nativeButtonsApprove.is_use_confirmation_message ? (this.nativeButtonsApprove.custom_confirmation_message || 'Are you sure want to continue this action?') : 'Are you sure want to approve this record?';
        this.$swal({
          title,
          text,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          input: 'text',
          type: 'question',
          cancelButtonText: 'No',
          inputPlaceholder: 'Write notes...',
          inputValidator: (value) => {
            if (!value &&
            this.nativeButtonsApprove &&
            this.nativeButtonsApprove.config_dialog_message &&
            this.nativeButtonsApprove.config_dialog_message.is_note_mandatory) {
              return 'You need to write something!';
            }
            return '';
          },
        }).then((result) => {
          if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.handleApproveRecord(result);
          }
        });
      }
    },

    handleDeleteDataRecord() {
      if (this.dataFormUi.type === 'form' || this.dataFormUi.form_data_id) {
        const params = {
          id: this.recordData.id,
          form_data_id: this.dataFormUi.form_data_id,
          multiple_form_ui_id: this.dataFormUi.id,
        };
        this.deleteRecord(params).then((res) => {
          if (!res.error) {
            const typeConfirm = this.nativeButtonsDelete ? this.nativeButtonsDelete.type : '';
            if (typeConfirm === 'confirmation') {
              this.$swal({
                title: 'Confirmation',
                text: res.action ? res.action.message : '',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
              }).then((result) => {
                if (result.dismiss) {
                  this.goToList();
                  // eslint-disable-next-line
                  throw {};
                } else {
                  if (res.action.redirect) {
                    this.checkRedirectByType(res, true);
                  } else {
                    this.goToList();
                  }
                }
              });
            } else {
              const message = res.action.message ? res.action.message : res.message;
              this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
              if (res.action.redirect) {
                setTimeout(() => {
                  this.checkRedirectByType(res, true);
                }, 2000);
              } else {
                this.goToList();
              }
            }
          } else {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
          }
        });
      } else {
        const dataDelete = this.dataFormUi ?
          (this.dataFormUi.data_source ?
            (this.dataFormUi.data_source.external_url ? this.dataFormUi.data_source.external_url.delete : null)
            : null)
          : null;

        if (dataDelete) {
          const method = dataDelete.method.toLowerCase();
          const _user = this.session.user;
          if (method === 'delete') {
            const token = Vue.ls.get('Token');
            const queryParams = Object.keys(dataDelete.query_params);
            const queryParamsValue = Object.values(dataDelete.query_params);

            let urlParams = '';
            let url = '';

            queryParams.forEach((e, index) => {
              urlParams += `${e}=${queryParamsValue[index]}${queryParams.length - 1 > index ? '&' : ''}`;
            });

            url = `${dataDelete.url}?id=${this.$route.params.id}${urlParams}`;
            axios.delete(url, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
              if (res.data.action) {
                this.nativeDeleteExt(res.data);
              } else {
                this.goToList();
                this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.message);
              }
            }).catch((err) => {
              this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', err.response.data.message);
            });
          } else {
            let y;
            const variable = {
              id: this.$route.params.id,
            };
            const token = Vue.ls.get('Token');
            const params = eval(`y=${dataDelete.body}`);
            const url = dataDelete.url;

            axios[method](url, params, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
              if (res.data.action) {
                this.nativeDeleteExt(res.data);
              } else {
                this.goToList();
                this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.data.message);
              }
            }).catch((err) => {
              this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', err.response.data.message);
            });
          }
        }
      }
    },

    async deleteDataRecord() {
      if (this.nativeButtonsDelete && this.nativeButtonsDelete.is_use_confirmation_message && this.nativeButtonsDelete.dynamic_confirmation_message) {
        let payload;
        if (this.dataFormUi.type === 'form' || this.dataFormUi.form_data_id) {
          payload = {
            form_data_id: this.dataFormUi.form_data_id,
            record_id: this.recordData.id,
            data: this.recordData,
            form_type: 'multiple_form_ui_id',
            form_type_id: this.dataFormUi.id,
            type: 'delete',
          };
        } else {
          payload = {
            record_id: this.$route.params.id,
            data: this.recordData,
            form_type: 'multiple_form_ui_id',
            form_type_id: this.dataFormUi.id,
            type: 'delete',
          };
        }

        if (payload) {
          const responseFunction = await this.getValueFunction(this.nativeButtonsDelete.dynamic_confirmation_message, payload);

          if (responseFunction && responseFunction.confirmation_message) {
            this.$swal({
              title: 'Confirmation',
              text: responseFunction.message,
              showCancelButton: true,
              confirmButtonText: 'Yes',
              cancelButtonText: 'No',
            }).then((result) => {
              if (result.dismiss) {
                // eslint-disable-next-line no-throw-literal
                throw {};
              } else {
                this.handleDeleteDataRecord(result);
              }
            });
          } else {
            this.handleDeleteDataRecord();
          }
        }
      } else {
        const text = this.nativeButtonsDelete && this.nativeButtonsDelete.is_use_confirmation_message ? (this.nativeButtonsDelete.custom_confirmation_message || 'Are you sure want to continue this action?') : 'Are you sure to delete this record ?';
        this.$swal({
          title: 'Confirmation',
          text,
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
        }).then((resultDelete) => {
          if (resultDelete.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.handleDeleteDataRecord(resultDelete);
          }
        });
      }
    },

    revisionRecordApp() {
      this.$swal({
        title: 'Need Revision Record',
        text: 'Are you sure want to revision this record?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        input: 'textarea',
        type: 'question',
        cancelButtonText: 'No',
        inputPlaceholder: 'Write notes...',
        inputValidator: (value) => {
          if (!value) {
            return 'You need to write something!';
          }
          return '';
        },
      }).then((result) => {
        if (result.dismiss) {
          // eslint-disable-next-line
          throw {};
        } else {
          const param = {
            id: this.recordData.id,
            multiple_form_ui_id: this.dataFormUi.id,
            form_data_id: this.dataFormUi.form_data_id,
            note: JSON.stringify(result.value),
          };
          this.revisionRecord(param).then((res) => {
            if (!res.error) {
              this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.message, { root: true });
              this.goBack();
            } else {
              this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
            }
          });
        }
      });
    },

    nativeDeleteExt(res) {
      const typeConfirm = this.nativeButtonsDelete ? this.nativeButtonsDelete.type : '';
      if (typeConfirm === 'confirmation') {
        this.$swal({
          title: 'Confirmation',
          text: res.action ? res.action.message : '',
          showCancelButton: true,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
        }).then((result) => {
          if (result.dismiss) {
            this.goToList();
            // eslint-disable-next-line
            throw {};
          } else {
            if (res.action.redirect) {
              this.checkRedirectByType(res, true);
            } else {
              this.goToList();
            }
          }
        });
      } else {
        const message = res.action.message ? res.action.message : res.message;
        this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', message, { root: true });
        if (res.action.redirect) {
          this.checkRedirectByType(res, true);
        } else {
          this.goToList();
        }
      }
    },

    isUseWorkflow(data) {
      if (data.is_use_workflow) {
        if (this.$route.params.mode) {
          if (this.$route.params.mode === 'requester' && this.$route.params.status === 'draft') {
            this.isDeleteButtonShow = true;
          } else {
            this.isDeleteButtonShow = false;
          }
        } else {
          this.isDeleteButtonShow = true;
        }
      } else {
        this.isDeleteButtonShow = true;
      }
    },

    checkRedirectByType(res, native) {
      if (res.action.redirect.type === 'url' && res.action.redirect.target === 'new_tab') {
        window.open(res.action.redirect.url, '_blank');
        if (native) {
          this.goToList();
        }
      } else if (res.action.redirect.type === 'url') {
        window.location.href = res.action.redirect.url;
      } else {
        this.redirectNativeButton(res);
        if (native && res.action.redirect.type === 'page' && res.action.redirect.target === 'new_tab') {
          this.goToList();
        }
      }
    },

    confirmPassword() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
        password: this.password,
      };
      this.verifyPassword(payload).then((res) => {
        if (!res.error) {
          this.showComponentDetail = true;
          this.$refs.confirmPasswordModal.hide();
        }
      });
    },

    getRequestOtp() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
      };
      this.requestOtp(payload).then((res) => {
        this.$refs.otpModal.show();
        this.waitTime = res.expired_timestamp;
        this.otp_data.otp_token = res.otp_token;
        this.startCount();

        setTimeout(() => {
          const ele = document.querySelectorAll('.otp');
          ele[0].focus();
        }, 500);
      });
    },

    changeTab(val) {
      const ele = document.querySelectorAll('.otp');
      if (val < 7) {
        if (ele[val - 1].value !== '') {
          ele[val - 0].focus();
        } else if (ele[val - 1].value === '') {
          ele[val - 2].focus();
        }
      }
    },

    startCount() {
      const vm = this;
      const second = 1000;
      const minute = second * 60;
      const hour = minute * 60;
      vm.expired = false;

      const countDown = vm.waitTime;
      vm.countdown = setInterval(() => {
        const now = new Date().getTime();
        const distance = countDown - now;
        const tMinute = Math.floor((distance % (hour)) / (minute));
        const tSecond = Math.floor((distance % (minute)) / second);

        vm.t_minute = tMinute < 10 ? `0${tMinute}` : tMinute;
        vm.t_second = tSecond < 10 ? `0${tSecond}` : tSecond;

        if (distance < 0) {
          clearInterval(vm.countdown);
          vm.expired = true;
        }
      }, 0);
    },

    confirmOtp() {
      const payload = {
        application_id: Number(this.application_detail.id),
        page_id: Number(this.$route.params.pageId),
        otp: this.otp_data.otp,
        otp_token: this.otp_data.otp_token,
      };
      this.verifyOtp(payload).then((res) => {
        if (!res.error_session) {
          this.showComponentDetail = true;
          this.$refs.otpModal.hide();
        }
      });
    },

    cekAccessPage() {
      this.showComponentDetail = false;
      const pageId = this.$route.params.pageId;
      const cekHavePage = this.side_menu.find(f => Number(f.id) === Number(pageId));
      let directFirstPageId = 0;
      let directFirstPageName = '';

      const visibleMenu = this.side_menu.filter(f => f.type === 'visible' && !f.is_maintenance_mode);
      if (visibleMenu.length > 0) {
        directFirstPageId = visibleMenu[0].id;
        directFirstPageName = visibleMenu[0].name ? visibleMenu[0].name.replace(/\s/g, '-') : '';
      }

      if (!cekHavePage) {
        this.messageWaring = 'You do not have access to this page';
        this.showWaring = true;
        setTimeout(() => {
          if (directFirstPageId !== 0 && directFirstPageName !== '') {
            this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId.replace(/=/g, '%3D')}/${directFirstPageName}/${directFirstPageId}`);
          } else {
            this.$router.push('/home');
          }
        }, 3000);
      } else if (cekHavePage && cekHavePage.is_maintenance_mode) {
        this.messageWaring = cekHavePage.maintenance_mode_message;
        this.showWaring = true;
        this.isMaintenance = true;
        setTimeout(() => {
          if (directFirstPageId !== 0 && directFirstPageName !== '') {
            this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId.replace(/=/g, '%3D')}/${directFirstPageName}/${directFirstPageId}`);
          } else {
            this.$router.push('/home');
          }
        }, 3000);
      } else {
        this.showWaring = false;
        this.showComponentDetail = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .row-detail-multiple-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .header-multiple {
    background-color: #f2f2f2;
    padding: 20px 20px 0px 20px;
    margin: -20px;
    position: sticky;
    top: 50px;
    z-index: 100;
  }

  .header-text-1 {
    font-weight: 600;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5b5b;
  }

  .header-text-2 {
    font-weight: 400;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5c5b5b;
  }

  .wrap-activity {
    position: sticky;
    top: 65px;
  }

  .div-activity {
    height: 79vh;
    overflow: auto;
    padding-right: 5px;
  }

  #hedaerTab {
    margin-top: 20px;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;

    .tab-container {
      width: auto;
      min-width: 30px;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      margin-right: 35px;
      padding: 10px 0px 0px 0px;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }
      h4 {
        font-weight: 500;
        color: #9A9A9A;
      }
      .underline-data {
        width: 100%;
        height: 4px;
        margin: 15px 0 0;
        background-color: #4a90e2;
      }
      @media screen and (max-width: 540px) {
        width: 100%;
        margin-right: 0;
      }
    }
    .tab-active h4 {
      font-weight: 600;
      color: #5B5A5A;
    }
  }

  .col-md-1 {
    flex: 0 0 0.333333%;
    max-width: 0.333333%;
  }

  .col-md-10 {
    flex: 0 0 93.333333%;
    max-width: 93.333333%;
  }
</style>
