<!-- eslint-disable max-len -->
<template>
  <div
    id="form-search-popover"
    class="container-app-search">
    <v-server-table
      v-if="isServerTable"
      ref="applicationTableComponent"
      :columns="columns_server"
      :options="table_options_server"
      class="jTable"
      @loading="loading"
      @loaded="loaded">
      <div slot="beforeFilter">
        <b-form inline>
          <b-button
            v-if="formUi.create_view"
            class="btn grey btn-import-form m__r--5"
            @click="openAddRecordModal">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <j-import-base
            v-if="isMode === 'form' && formUi.import_view"
            :form-id="formDataId"
            :form-ui="formUi"
            class="m__r--5"
            @success-import="successImport"/>
          <b-button
            v-if="isMode === 'form' && formUi.export_view"
            class="btn grey btn-import-form m__r--5"
            @click="goToExportData">
            <i class="fa fa-download fa-lg"/> Export
          </b-button>
          <b-button
            id="filterServerPopover"
            class="btn grey btn-import-form m__r--5">
            <i class="fa fa-filter fa-lg"/> Filter
          </b-button>
        </b-form>
      </div>

      <div
        v-if="isBulk"
        slot="checkbox"
        slot-scope="props"
        style="width: 5px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        v-for="(i, index) in dataTable.columns"
        slot-scope="props"
        :key="index"
        :slot="i.key">
        <div
          v-if="cekTypeData(i.key) === 'text'"
          @click="openEditModal(props)">{{ props.row[i.key] }}</div>
        <div
          v-if="cekTypeData(i.key) === 'number'"
          @click="openEditModal(props)">
          <j-currency
            v-if="i.type === 'currency'"
            :value="props.row[i.key]"/>
          <div
            v-else-if="i.type === 'person' && props.row[i.key === 'created_by' ? 'created_person' : 'updated_person']"
            class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                :src="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].email }}</div>
              <div>
                {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].first_name }} {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].last_name }}
              </div>
            </div>
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].address }}</div>
        <div
          v-if="cekTypeData(i.key) === 'object' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]object'"
          @click="openEditModal(props)">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]tags'"
          @click="openEditModal(props)">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div
          v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'"
          @click="openEditModal(props)">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
        <div
          v-if="cekTypeData(i.key) === 'timestamp'"
          @click="openEditModal(props)">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
          <!-- {{ props.row[i.key] ? (i.type === 'time' ? convertTime(props.row[i.key]) : (i.type === 'datetime' ? convertDateTime(props.row[i.key]) : convertTimestamp(props.row[i.key]))) : '' }} -->
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey"
                @click="pause(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red"
                @click="stop(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'person' && props.row[i.key]"
          @click="openEditModal(props)">
          <div class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </v-server-table>
    <v-client-table
      v-if="!isServerTable && showClientTable"
      ref="applicationTableComponent"
      :data="isMode === 'form' ? dataRecordForm : dataRecordExternal"
      :columns="columns"
      :options="table_options"
      class="jTable">

      <div
        slot="beforeFilter"
        class="display-flex">
        <b-button
          v-if="formUi.create_view"
          class="btn grey btn-import-form m__r--5"
          @click="openAddRecordModal">
          <i class="fa fa-plus fa-lg"/> Add
        </b-button>
        <j-import-base
          v-if="isMode === 'form' && formUi.import_view"
          :form-id="formDataId"
          :form-ui="formUi"
          class="m__r--5"
          @success-import="successImport"/>
        <b-button
          v-if="isMode === 'form' && formUi.export_view"
          class="btn grey btn-import-form m__r--5"
          @click="goToExportData">
          <i class="fa fa-download fa-lg"/> Export
        </b-button>
        <b-button
          id="filterPopover"
          class="btn grey btn-import-form m__r--5">
          <i class="fa fa-filter fa-lg"/> Filter
        </b-button>
        <b-button
          id="groupPopover"
          class="btn grey btn-import-form m__r--5">
          <i class="fa fa-table fa-lg"/> Group
        </b-button>
      </div>

      <div
        v-if="isBulk"
        slot="checkbox"
        slot-scope="props"
        style="width: 5px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        v-for="(i, index) in dataTable.columns"
        slot-scope="props"
        :key="index"
        :slot="i.key">
        <div
          v-if="cekTypeData(i.key) === 'text'"
          @click="openEditModal(props)">{{ props.row[i.key] }}</div>
        <div
          v-if="isMode === 'form' && (cekTypeData(i.key) === 'object' || cekTypeData(i.key) === 'timestamp') && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[`${i.key}__edit`] }}</div>
        <div
          v-if="cekTypeData(i.key) === 'number'"
          @click="openEditModal(props)">
          <j-currency
            v-if="i.type === 'currency'"
            :value="props.row[i.key]"/>
          <div
            v-else-if="i.type === 'person' && props.row[i.key === 'created_by' ? 'created_person' : 'updated_person']"
            class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                :src="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].email }}</div>
              <div>
                {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].first_name }} {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].last_name }}
              </div>
            </div>
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].address }}</div>
        <div
          v-if="isMode === 'external_url' && cekTypeData(i.key) === 'object' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]object'"
          @click="openEditModal(props)">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]tags'"
          @click="openEditModal(props)">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div
          v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'"
          @click="openEditModal(props)">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
        <div
          v-if="isMode === 'external_url' && cekTypeData(i.key) === 'timestamp'"
          @click="openEditModal(props)">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey"
                @click="pause(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red"
                @click="stop(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'person' && props.row[i.key]"
          @click="openEditModal(props)">
          <div class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </v-client-table>

    <j-floating-prompt ref="floating">
      <b-row>
        <b-col md="3">
          <b-row>
            <h1 class="f-blue">{{ selected_rows.length }}</h1>
            <h4> Row <br> selected </h4>
          </b-row>
        </b-col>
        <b-col
          md="3"
          class="p__t--3">
          <h4>Record ID : </h4>
          <p> {{ record_name }} </p>
        </b-col>
        <b-col md="4">
          <j-form-base
            v-if="isLoading"
            ref="jFormCreate"
            :data-fields="dataFields"
            :is-bulk="true"
            class="form-bulking"/>
        </b-col>
        <b-col
          md="2"
          class="p__t--10">
          <b-button
            class="btn blue"
            @click="updateRecord">Update</b-button>
        </b-col>
      </b-row>
    </j-floating-prompt>

    <j-progress
      v-if="isLoading"
      ref="progressUpdate"
      :data-kirim="data_submit"
      :url-api="url"
      :headers="headers"
      :is-bulk="true"
      @finish="finishUpdate"/>

    <b-modal
      ref="addRecordModal"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-create-view-component
        v-if="isShowModal"
        :element="element"
        :form-data-id="formDataId"
        :data-setup="dataCreate"
        :on-modal="true"
        :form-data="formData"
        :form-ui="formUi"
        @close-modal="closeModal"
      />
    </b-modal>

    <b-popover
      ref="filterServerPopoverRef"
      :show.sync="popoverFilterServerShow"
      container="form-search-popover"
      target="filterServerPopover"
      placement="top">
      <b-form
        v-if="isMode === 'form'"
        inline
        @keypress.13.prevent="$refs.applicationTableComponent.setFilter(filter_data)">
        <j-single-select
          v-model="select_type"
          :options="options_search"
          :error-required="false"
          placeholder="Filter By"
          label="name"
          class="m__r--5"
          style="width: 200px"/>
        <span
          v-if="cekTypeData(select_type) === 'timestamp'"
          class="reimb-select-period m__r--5">
          <j-datepicker
            v-model="filter_data_start_date"
            :error-required="false"
            placeholder="Start Date"
            format="MMM dd, yyyy"
            class="m__r--5"/>
          <j-datepicker
            v-model="filter_data_end_date"
            :disabled-dates="disableDates(filter_data_start_date)"
            :error-required="false"
            placeholder="End Date"
            format="MMM dd, yyyy"/>
        </span>
        <b-form-input
          v-else
          v-model="filter_data"
          placeholder="Search"
          style="width: 350px !important; height: 35px !important;"/>
      </b-form>
    </b-popover>
    <b-popover
      v-if="showClientTable"
      ref="filterPopoverRef"
      :show.sync="popoverFilterShow"
      container="form-search-popover"
      target="filterPopover"
      placement="top">
      <b-form
        inline
        @keypress.13.prevent="getTableViewData()">
        <j-single-select
          v-model="select_type"
          :options="options_search"
          :error-required="false"
          placeholder="Filter By"
          label="name"
          class="m__r--5"
          style="width: 200px"/>
        <span
          v-if="cekTypeData(select_type) === 'timestamp'"
          class="reimb-select-period m__r--5">
          <j-datepicker
            v-model="filter_data_start_date"
            :error-required="false"
            placeholder="Start Date"
            format="MMM dd, yyyy"
            class="m__r--5"/>
          <j-datepicker
            v-model="filter_data_end_date"
            :disabled-dates="disableDates(filter_data_start_date)"
            :error-required="false"
            placeholder="End Date"
            format="MMM dd, yyyy"
            class="m__r--5"/>
        </span>
        <b-form-input
          v-else
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"
          style="width: 350px !important; height: 35px !important;"/>
      </b-form>
    </b-popover>
    <b-popover
      v-if="showClientTable"
      ref="groupPopoverRef"
      :show.sync="popoverGroupShow"
      container="form-search-popover"
      target="groupPopover"
      placement="top">
      <j-multi-select
        v-model="select_group"
        :options="options_group"
        :error-required="false"
        placeholder="Select Grouping"
        label="name"
        class="m__l--5"
        style="width: 350px"
        @getData="setDataGroup(select_group)"/>
    </b-popover>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jCreateViewComponent from '@/views/application/application-component/multiple-form-ui/jCreateViewComponent';
import jImportBase from '@/views/application/application-component/form-ui/form-base/jImportBase';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';

import jApi from '@/services/jApi';

export default {
  components: {
    jLoadingTable,
    jCreateViewComponent,
    jImportBase,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formDataId: {
      type: String,
      default: '',
    },
    dataTable: {
      type: Object,
      default: () => {},
    },
    dataCreate: {
      type: Object,
      default: () => {},
    },
    dataDetail: {
      type: Object,
      default: () => {},
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      popoverFilterServerShow: false,
      popoverFilterShow: false,
      popoverGroupShow: false,
      // client-table
      columns: [],
      table_options: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        debounce: 1000,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
      },
      // server-table
      load_first: false,
      data_table: [],
      columns_server: [],
      table_options_server: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],

        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              form_data_id: data.form_data_id,
              sort: data.sort,
              filter: data.filter,
              filter_operator: data.filter_operator,
            },
            _this: data._this,
          };
        },
        requestFunction(data) {
          const api = jApi.generateApi();
          const req = {
            form_data_id: data.pagination.form_data_id,
            page: data.pagination.page,
            limit: data.pagination.limit,
            sort: data.pagination.sort,
            filter: data.pagination.filter,
            filter_operator: data.pagination.filter_operator,
          };
          if (data._this.cekCreatedPerson) {
            req.is_show_created_person = true;
          }
          if (data._this.cekUpdatedPerson) {
            req.is_show_updated_person = true;
          }
          const getList = api.get('nocode/record/fetch', { params: req });
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/getProblemMessage', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.count ? data.count : 0,
          };
        },
      },

      listFieldsDetail: [],
      isShowModal: false,
      isMode: '',
      dataRecordExternal: [],
      dataRecordForm: [],
      idDataRowClick: '',
      filter_data: '',
      filter_data_start_date: null,
      filter_data_end_date: null,
      select_type: null,
      options_search: [],
      select_group: null,
      options_group: [],

      dataSourceList: null,
      dataFilterTable: {},
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      showClientTable: true,

      selected_rows: [],
      data_submit: [],
      dataFields: [],
      isLoading: false,
    };
  },
  computed: {
    isServerTable() {
      return this.formUi.table_view.server_side_pagination;
    },

    cekCreatedPerson() {
      return !!this.formUi.table_view.columns.find(f => f.key === 'created_by' && f.type === 'person');
    },

    cekUpdatedPerson() {
      return !!this.formUi.table_view.columns.find(f => f.key === 'updated_by' && f.type === 'person');
    },

    isBulk() {
      return this.formUi.table_view.is_use_bulking_update && this.formUi.table_view.column_bulking_update;
    },

    isCheckbox() {
      return this.selected_rows.length === this.data_table.length;
    },

    record_name() {
      const name = [];
      this.selected_rows.forEach((a) => {
        if (!a.errorTimer) {
          name.push(a.id);
        }
      });
      return name.join(', ');
    },

    url() {
      const getEnv = '/nocode/record/set';
      return getEnv;
    },

    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
  },
  watch: {
    filter_data_start_date(val) {
      if (val && this.filter_data_end_date) {
        if (this.isServerTable) {
          // this.$refs.applicationTableComponent.getData();
          this.$refs.applicationTableComponent.setFilter(this.filter_data);
        } else {
          this.getTableViewData();
        }
      }
    },

    filter_data_end_date(val) {
      if (val && this.filter_data_start_date) {
        if (this.isServerTable) {
          // this.$refs.applicationTableComponent.getData();
          this.$refs.applicationTableComponent.setFilter(this.filter_data);
        } else {
          this.getTableViewData();
        }
      }
    },

    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  created() {
    if (this.dataTable) {
      this.isMode = this.formDataId ? 'form' : 'external_url';
      this.getInitialHeaderData();
    }
    if (this.formDataId) {
      this.isMode = 'form';
      if (!this.isServerTable) {
        this.getTableViewData();
      }
    } else {
      this.isMode = 'external_url';
      this.dataSourceList = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.list : null)
          : null)
        : null;
      this.getTableViewDataExternal();
    }
    if (this.isBulk) {
      this.setFieldBulk(this.formUi.table_view.column_bulking_update);
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreFormUi', ['actionGetSetupMultiFormUi', 'actionGetRecordData', 'setValueRecord']),

    setFieldBulk(el) {
      this.dataFields = [{
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: '',
        value_id: 0,
        value_form: null,
        config: el.config,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: this.formData.primary_key === el.field_data_key,
        is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
        is_hidden: el.is_hidden,
        is_mandatory: el.is_mandatory,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
          id: indexVal + 1,
          name: val,
        })) : []) : []) : [],
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        person: {},
        is_external_source: this.formUi.type === 'external_url',
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: [],
        master_groups: [],
        error_input: false,
        error_message: '',
      }];
      this.isLoading = true;
    },

    setDataGroup(val) {
      this.showClientTable = false;
      this.popoverGroupShow = false;

      if (val.length > 0) {
        this.table_options.groupBy = val;
      } else {
        delete this.table_options.groupBy;
      }

      setTimeout(() => {
        this.showClientTable = true;
      }, 200);
    },

    disableDates(date) {
      if (date) {
        return {
          to: new Date(date - 8640000),
        };
      }
      return {};
    },

    convertTimestamp(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    goToExportData() {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/export-form-ui/${this.formUi.id}/multiple`);
    },

    exportData() {
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const token = Vue.ls.get('Token');
      const gateUrl = localStorage.getItem('gateUrl');
      const url = `${gateUrl}nocode/record/export/excel?form_data_id=${this.formDataId}&page=1&filter=&sort={"id": -1}&limit=10000000&token=${token}`;

      axios.get(url, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: `Bearer ${token}`,
        },
        responseType: 'blob',
      }).then((res) => {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
        const a = document.createElement('a');
        const urlBlob = window.URL.createObjectURL(res.data);
        const fileName = 'record-data.xlsx';

        a.href = urlBlob;
        a.download = fileName;
        a.click();
      });
    },

    successImport() {
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
    },

    loading(val) {
      const a = val;

      let x;
      const dataFilter = {};
      // eslint-disable-next-line
      const _user = this.session.user;
      const filterKeys = Object.keys(this.dataTable.filter);
      const filterValues = Object.values(this.dataTable.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (e.includes('_user')) {
            dataFilter[filterKeys[index]] = eval(`x=${e}`);
          } else if (filterKeys[index].includes('.company_user_id')) {
            dataFilter[filterKeys[index]] = Number(e);
          } else if (e.includes('.today')) {
            const date = new Date();
            const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
            const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
            // eslint-disable-next-line
            dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
          } else {
            // eslint-disable-next-line
            if (this.cekTypeData(filterKeys[index]) === 'number') {
              dataFilter[filterKeys[index]] = Number(e);
            } else {
              dataFilter[filterKeys[index]] = e.slice(1, -1);
            }
          }
        });
      }

      if ((this.filter_data || (this.filter_data_start_date && this.filter_data_end_date)) && this.select_type) {
        if (this.cekTypeData(this.select_type) === 'timestamp') {
          const startDate = this.$moment(this.filter_data_start_date).format('YYYY-MM-DD');
          const endDate = this.$moment(this.filter_data_end_date).format('YYYY-MM-DD');
          const startOfDay = new Date(Date.parse(`${startDate} 00:00:00`)).getTime();
          const endOfDay = new Date(Date.parse(`${endDate} 23:59:59`)).getTime();
          // eslint-disable-next-line
          dataFilter[this.select_type] = { '$between': [startOfDay, endOfDay] };
        } else {
          // eslint-disable-next-line
          if (this.cekTypeData(this.select_type) === 'number') {
            dataFilter[this.select_type] = Number(this.filter_data);
          } else {
            dataFilter[this.select_type] = this.filter_data;
          }
        }
      }
      this.dataFilterTable = dataFilter;

      a.pagination.form_data_id = this.formDataId;
      a.pagination.sort = this.dataTable.sort[0];
      a.pagination.filter = dataFilter;
      a.pagination.filter_operator = this.dataTable.filter_operator ? this.dataTable.filter_operator : 'and';

      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;

      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      if (this.isMode === 'form') {
        const findType = this.formData.columns[key];
        return findType ? findType.type : '';
      }

      const dataColumn = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[key];
      return findType.type;
    },

    getInitialHeaderData() {
      const columns = this.isBulk ? [{ key: 'checkbox', name: 'checkbox' }] : [];
      this.dataTable.columns.forEach((e) => {
        columns.push(e);
      });
      this.columns = columns.map(val => val.key);
      this.columns_server = columns.map(val => val.key);

      this.table_options.headings = this.isBulk ? {
        checkbox(h) {
          const objThis = this;
          return this.checkbox(h, objThis);
        },
        // checkbox: '',
      } : {};
      this.table_options_server.headings = this.isBulk ? {
        checkbox(h) {
          const objThis = this;
          return this.checkbox(h, objThis);
        },
        // checkbox: '',
      } : {};
      this.dataTable.columns.forEach((val) => {
        this.table_options.headings[`${val.key}`] = val.name.toUpperCase();
        this.table_options_server.headings[`${val.key}`] = val.name.toUpperCase();
      });

      // Set option search
      // this.options_search = this.dataTable.columns.map(val => ({
      //   text: val.name,
      //   value: val.key,
      // }));

      this.options_search = [];
      this.options_group = [];
      this.dataTable.columns.forEach((e) => {
        if (this.cekTypeData(e.key) === 'number') {
          this.options_group.push({
            name: e.name,
            id: e.key,
          });
        }
        if (this.cekTypeData(e.key) === 'text' || this.cekTypeData(e.key) === 'object' || this.cekTypeData(e.key) === 'timestamp') {
          this.options_group.push({
            name: e.name,
            id: `${e.key}__edit`,
          });
        }
        if (this.cekTypeData(e.key) === 'object') {
          this.options_search.push({
            text: `${e.name} - ID`,
            name: `${e.name} - ID`,
            value: `${e.key}.id`,
            id: `${e.key}.id`,
          });
          this.options_search.push({
            text: `${e.name} - Name`,
            name: `${e.name} - Name`,
            value: `${e.key}.name`,
            id: `${e.key}.name`,
          });
        } else if (this.cekTypeData(e.key) === 'person') {
          this.options_search.push({
            text: `${e.name} - Company User ID`,
            name: `${e.name} - Company User ID`,
            value: `${e.key}.company_user_id`,
            id: `${e.key}.company_user_id`,
          });
          this.options_search.push({
            text: `${e.name} - Name`,
            name: `${e.name} - Name`,
            value: `${e.key}.name`,
            id: `${e.key}.name`,
          });
          this.options_search.push({
            text: `${e.name} - Email`,
            name: `${e.name} - Email`,
            value: `${e.key}.email`,
            id: `${e.key}.email`,
          });
        } else if (this.cekTypeData(e.key) === 'timer') {
          this.options_search.push({
            text: `${e.name} - State`,
            name: `${e.name} - State`,
            value: `${e.key}.state`,
            id: `${e.key}.state`,
          });
          this.options_search.push({
            text: `${e.name} - Duration`,
            name: `${e.name} - Duration`,
            value: `${e.key}.duration`,
            id: `${e.key}.duration`,
          });
        } else if (this.cekTypeData(e.key) === 'tags') {
          this.options_search.push({
            text: `${e.name} - Name`,
            name: `${e.name} - Name`,
            value: `${e.key}.name`,
            id: `${e.key}.name`,
          });
        } else {
          this.options_search.push({
            text: e.name,
            name: e.name,
            value: e.key,
            id: e.key,
          });
        }
      });
    },

    checkedAll() {
      this.selected_rows = this.data_table;
    },

    unCheckedAll() {
      this.selected_rows = [];
    },

    checkbox(h, objThis) {
      const thisParams = objThis;

      function checkedAll() {
        thisParams.selected_rows = thisParams.data_table;
      }

      function unCheckedAll() {
        thisParams.selected_rows = [];
      }

      if (thisParams.selected_rows.length === thisParams.data_table.length) {
        return (
          <i
            id= 'select-all-unchecked'
            class= 'fa fa-check-square i--center-block pointer--cursor'
            style= {{ display: 'block', fontSize: '20px' }}
            onClick= { unCheckedAll }>
          </i>
        );
      }
      return (
        <i
          id= 'select-all-unchecked'
          class= 'fa fa-square-o i--center-block pointer--cursor'
          style= {{ display: 'block', fontSize: '20px' }}
          onClick= { checkedAll }>
        </i>
      );
    },

    getTableViewData() {
      this.popoverFilterShow = false;
      this.popoverFilterServerShow = false;
      let x;
      const dataFilter = {};
      // eslint-disable-next-line
      const _user = this.session.user;
      const filterKeys = Object.keys(this.dataTable.filter);
      const filterValues = Object.values(this.dataTable.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (e.includes('_user')) {
            dataFilter[filterKeys[index]] = eval(`x=${e}`);
          } else if (filterKeys[index].includes('.company_user_id')) {
            dataFilter[filterKeys[index]] = Number(e);
          } else if (e.includes('.today')) {
            const date = new Date();
            const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
            const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
            // eslint-disable-next-line
            dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
          } else {
            // eslint-disable-next-line
            if (this.cekTypeData(filterKeys[index]) === 'number') {
              dataFilter[filterKeys[index]] = Number(e);
            } else {
              dataFilter[filterKeys[index]] = e.slice(1, -1);
            }
          }
        });
      }
      if ((this.filter_data || (this.filter_data_start_date && this.filter_data_end_date)) && this.select_type) {
        if (this.cekTypeData(this.select_type) === 'timestamp') {
          const startDate = this.$moment(this.filter_data_start_date).format('YYYY-MM-DD');
          const endDate = this.$moment(this.filter_data_end_date).format('YYYY-MM-DD');
          const startOfDay = new Date(Date.parse(`${startDate} 00:00:00`)).getTime();
          const endOfDay = new Date(Date.parse(`${endDate} 23:59:59`)).getTime();
          // eslint-disable-next-line
          dataFilter[this.select_type] = { '$between': [startOfDay, endOfDay] };
        } else {
          // eslint-disable-next-line
          if (this.cekTypeData(this.select_type) === 'number') {
            dataFilter[this.select_type] = Number(this.filter_data);
          } else {
            dataFilter[this.select_type] = this.filter_data;
          }
        }
      }
      this.dataFilterTable = dataFilter;
      this.dataRecordForm = [];
      const param = {
        form_data_id: this.formDataId,
        page: 0,
        limit: 10000000,
        sort: this.dataTable.sort[0],
        filter: dataFilter,
        filter_operator: this.dataTable.filter_operator ? this.dataTable.filter_operator : 'and',
      };
      if (this.cekCreatedPerson) {
        param.is_show_created_person = true;
      }
      if (this.cekUpdatedPerson) {
        param.is_show_updated_person = true;
      }
      this.actionGetRecordData(param).then((res) => {
        const findTypeTimer = this.dataTable.columns.map(e => this.cekTypeData(e.key) === 'timer');
        if (findTypeTimer.includes(true)) {
          this.dataRecordForm = this.configDataTimer(res.data);
        } else {
          res.data.forEach((e) => {
            this.dataTable.columns.forEach((d) => {
              if (this.cekTypeData(d.key) === 'object' && e[d.key]) {
                e[`${d.key}__edit`] = e[d.key].name;
              } else if (this.cekTypeData(d.key) === 'text' && e[d.key]) {
                e[`${d.key}__edit`] = String(e[d.key]).toLowerCase();
              } else if (this.cekTypeData(d.key) === 'timestamp' && e[d.key]) {
                if (d.type === 'time') {
                  e[`${d.key}__edit`] = this.convertTime(e[d.key]);
                } else if (d.type === 'datetime') {
                  e[`${d.key}__edit`] = this.convertDateTime(e[d.key]);
                } else if (d.type === 'dd-mmm-yyyy') {
                  e[`${d.key}__edit`] = this.$moment(new Date(e[d.key])).format('DD-MMM-YYYY');
                } else if (d.type === 'mmmm dd, yyyy') {
                  e[`${d.key}__edit`] = this.$moment(new Date(e[d.key])).format('MMMM DD, YYYY');
                } else {
                  e[`${d.key}__edit`] = this.convertTimestamp(e[d.key]);
                }
              }
            });
            this.dataRecordForm.push(e);
          });
          // this.dataRecordForm = res;
        }
      });
    },

    configDataTimer(data) {
      const dataTable = data.map((e) => {
        this.dataTable.columns.forEach((f) => {
          if (this.cekTypeData(f.key) === 'timer') {
            if (e[f.key]) {
              let dataTime = '';
              let dataLoop = null;
              if (e[f.key].state === 'stop' || e[f.key].state === 'pause') {
                // dataTime = e[f.key].duration ? this.$moment.utc(e[f.key].duration).format('HH:mm:ss') : '00:00:00';
                dataTime = e[f.key].duration ? this.getDuration(e[f.key].duration) : '00:00:00';
              } else {
                dataLoop = setInterval(this.clockRunning, 10);
              }
              e[`dataTimer${f.key}`] = {
                clock_loop: dataLoop,
                running: e[f.key].state ? e[f.key].state === 'start' : false,
                stoped: e[f.key].state ? e[f.key].state === 'stop' : false,
                time: dataTime,
                startTimer: e[f.key].log.length > 0 ? (e[f.key].log[e[f.key].log.length - 1].end_time === 0 ? e[f.key].log[e[f.key].log.length - 1].start_time : e[f.key].log[e[f.key].log.length - 1].end_time) : 0,
                dataLogTimer: e[f.key].log.length > 0 ? e[f.key].log : [],
                statusTimer: e[f.key].state ? e[f.key].state : '',
                duration: e[f.key].duration ? e[f.key].duration : 0,
              };
            } else {
              e[`dataTimer${f.key}`] = {
                clock_loop: null,
                running: false,
                stoped: false,
                time: '00:00:00',
                startTimer: 0,
                dataLogTimer: [],
                statusTimer: '',
                duration: 0,
              };
            }
          } else if (this.cekTypeData(f.key) === 'object' && e[f.key]) {
            e[`${f.key}__edit`] = e[f.key].name;
          } else if (this.cekTypeData(f.key) === 'text' && e[f.key]) {
            e[`${f.key}__edit`] = String(e[f.key]).toLowerCase();
          } else if (this.cekTypeData(f.key) === 'timestamp' && e[f.key]) {
            if (f.type === 'time') {
              e[`${f.key}__edit`] = this.convertTime(e[f.key]);
            } else if (f.type === 'datetime') {
              e[`${f.key}__edit`] = this.convertDateTime(e[f.key]);
            } else if (f.type === 'dd-mmm-yyyy') {
              e[`${f.key}__edit`] = this.$moment(new Date(e[f.key])).format('DD-MMM-YYYY');
            } else if (f.type === 'mmmm dd, yyyy') {
              e[`${f.key}__edit`] = this.$moment(new Date(e[f.key])).format('MMMM DD, YYYY');
            } else {
              e[`${f.key}__edit`] = this.convertTimestamp(e[f.key]);
            }
          }
        });
        return e;
      });
      return dataTable;
    },

    start(id, field) {
      const index = this.dataRecordForm.findIndex(data => data.id === id);

      this.dataRecordForm[index][String(field)].startTimer = new Date().getTime();
      this.dataRecordForm[index][String(field)].running = true;
      this.dataRecordForm[index][String(field)].statusTimer = 'start';
      this.dataRecordForm[index][String(field)].clock_loop = setInterval(this.clockRunning, 10);
      this.setRecord(id, field);
    },

    pause(id, field) {
      const index = this.dataRecordForm.findIndex(data => data.id === id);

      this.dataRecordForm[index][String(field)].statusTimer = 'pause';
      this.setRecord(id, field);
      this.dataRecordForm[index][String(field)].running = false;
      clearInterval(this.dataRecordForm[index][String(field)].clock_loop);
    },

    stop(id, field) {
      const index = this.dataRecordForm.findIndex(data => data.id === id);

      this.dataRecordForm[index][String(field)].statusTimer = 'stop';
      this.setRecord(id, field);
      this.dataRecordForm[index][String(field)].running = false;
      this.dataRecordForm[index][String(field)].stoped = true;
      clearInterval(this.dataRecordForm[index][String(field)].clock_loop);
    },

    clockRunning() {
      this.dataRecordForm.forEach((e, index) => {
        this.dataTable.columns.forEach((f) => {
          if (this.cekTypeData(f.key) === 'timer') {
            if (e[`dataTimer${f.key}`].statusTimer === 'start') {
              const timeElapsed = this.dataRecordForm[index][`dataTimer${f.key}`].duration + (new Date().getTime() - this.dataRecordForm[index][`dataTimer${f.key}`].startTimer);
              // this.dataRecordForm[index][`dataTimer${f.key}`].time = this.$moment.utc(timeElapsed).format('HH:mm:ss');
              this.dataRecordForm[index][`dataTimer${f.key}`].time = this.getDuration(timeElapsed);
            }
          }
        });
      });
    },

    getDuration(input) {
      const dur = this.$moment.duration(input);
      const hours = Math.floor(dur.asHours());
      const mins = Math.floor(dur.asMinutes()) - hours * 60;
      const sec = Math.floor(dur.asSeconds()) - hours * 60 * 60 - mins * 60;
      // eslint-disable-next-line
      const result = ((hours > 9) ? hours : (`0${hours}`)) + ":" + ((mins > 9) ? mins : (`0${mins}`)) + ":" + ((sec > 9) ? sec : (`0${sec}`));
      return result;
    },

    setRecord(id, field) {
      const index = this.dataRecordForm.findIndex(data => data.id === id);
      const dataField = field.replace('dataTimer', '');
      const dataId = this.formData.primary_key;
      const data = {
        form_data_id: this.formDataId,
        data: {
          [dataId]: this.dataRecordForm[index].id,
          [dataField]: this.getTimerValueFormatted(id, field),
        },
      };
      this.setValueRecord(data).then((res) => {
        if (!res.error) {
          if (this.isServerTable) {
            this.$refs.applicationTableComponent.getData();
          } else {
            this.getTableViewData();
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
      });
    },

    getTimerValueFormatted(id, field) {
      const index = this.dataRecordForm.findIndex(data => data.id === id);
      if (this.dataRecordForm[index][String(field)].statusTimer === 'start') {
        this.dataRecordForm[index][String(field)].dataLogTimer.push({
          start_time: this.dataRecordForm[index][String(field)].startTimer,
          end_time: 0,
          duration: 0,
        });
      } else {
        // eslint-disable-next-line
        if (this.dataRecordForm[index][String(field)].running) {
          const lastIndex = this.dataRecordForm[index][String(field)].dataLogTimer.length - 1;
          this.dataRecordForm[index][String(field)].dataLogTimer[lastIndex].end_time = new Date().getTime();
          this.dataRecordForm[index][String(field)].dataLogTimer[lastIndex].duration = new Date().getTime() - this.dataRecordForm[index][String(field)].dataLogTimer[lastIndex].start_time;
        }
      }
      let totalDuration = 0;
      this.dataRecordForm[index][String(field)].dataLogTimer.forEach((e) => {
        totalDuration += e.duration;
      });
      const timerValue = {
        log: this.dataRecordForm[index][String(field)].dataLogTimer,
        state: this.dataRecordForm[index][String(field)].statusTimer,
        duration: totalDuration,
      };
      return timerValue;
    },

    getTableViewDataExternal() {
      this.popoverFilterShow = false;
      this.popoverFilterServerShow = false;
      this.dataRecordExternal = [];
      const dataList = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.list : null)
          : null)
        : null;

      if (dataList) {
        const token = Vue.ls.get('Token');
        const method = dataList.method.toLowerCase();

        let url = '';
        if (method === 'get') {
          const queryParams = Object.keys(dataList.query_params);
          const queryParamsValue = Object.values(dataList.query_params);

          let urlParams = '';
          queryParams.forEach((e, index) => {
            const andMore = queryParams.length - 1 > index ? '&' : '';
            urlParams += `${e}=${queryParamsValue[index]}${andMore}`;
          });

          url = `${dataList.url}?${urlParams}`;
          axios.get(url, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            const dataServer = res.data[dataList.source];
            dataServer.forEach((s) => {
              const dataRow = {};
              this.columns.forEach((e) => {
                // dataRow[e] = s[dataList.variables[e]];
                let x;
                dataRow[e] = eval(`x=s.${dataList.variables[e]}`);
              });
              this.dataRecordExternal.push(dataRow);
            });
          });
        } else {
          let y;
          const params = eval(`y=${dataList.body}`);

          url = dataList.url;
          axios[method](url, params, {
            headers: {
              'Content-Type': 'application/json',
              Authorization: `Bearer ${token}`,
            },
          }).then((res) => {
            const dataServer = res.data[dataList.source];
            dataServer.forEach((s) => {
              const dataRow = {};
              this.columns.forEach((e) => {
                // dataRow[e] = s[dataList.variables[e]];
                let x;
                dataRow[e] = eval(`x=s.${dataList.variables[e]}`);
              });
              this.dataRecordExternal.push(dataRow);
            });
          });
        }
      }
    },

    reloadDataModal() {
      if (this.isServerTable) {
        this.$refs.applicationTableComponent.getData();
      } else {
        this.getTableViewData();
      }
    },

    openAddRecordModal() {
      if (this.formUi.create_view) {
        this.isShowModal = true;
        this.$refs.addRecordModal.show();
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup create view not available');
      }
    },

    closeModal() {
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
      this.$refs.addRecordModal.hide();
      this.isShowModal = false;
    },

    openEditModal(param) {
      if (this.dataDetail.text_1) {
        const { applicationName, applicationId, pageName, pageId } = this.$route.params;
        this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${this.formUi.id}/${param.row.id}`);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup detail view not available');
      }
    },

    filter(val) {
      const dataFilter = this.dataFilterTable;
      if (val) {
        dataFilter[this.select_type] = val;
      }
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait');
      const param = {
        form_data_id: this.formDataId,
        page: 0,
        limit: 10000000,
        sort: this.dataTable.sort[0],
        filter: dataFilter,
      };
      this.actionGetRecordData(param).then((res) => {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', '');
        this.dataRecordForm = res.data;
      });
    },

    updateRecord() {
      if (!this.$refs.jFormCreate.validateForm()) {
        this.data_submit = [];
        const dataId = this.formData.primary_key;
        this.selected_rows.forEach((s) => {
          this.$refs.jFormCreate.getData().then((params) => {
            const e = this.formUi.table_view.column_bulking_update;
            const data = {
              [dataId]: s.id,
            };
            if (e.field_data_key && e.type !== 'timer') {
              const findValue = params.find(f => f.field_data_key === e.field_data_key);
              const findType = this.formData.columns[e.field_data_key];

              if (findType.type === 'number') {
                data[e.field_data_key] = findValue.value || findValue.value === 0 ? Number(findValue.value) : null;
              } else if (findType.type === 'timestamp') {
                if (findValue.type === 'time') {
                  data[e.field_data_key] = findValue.value ? this.countSecond(findValue.value) : null;
                } else {
                  data[e.field_data_key] = findValue.value ? (new Date(Date.parse(findValue.value)).getTime()) : null;
                }
              } else if (findType.type === 'boolean') {
                data[e.field_data_key] = false;
              } else if (findType.type === '[]text') {
                if (findValue.type === 'checkbox') {
                  data[e.field_data_key] = findValue.multiple_value;
                } else {
                  data[e.field_data_key] = findValue.multiple_value.map(el => (el.id));
                }
              } else if (findType.type === '[]number') {
                data[e.field_data_key] = findValue.multiple_value.map(el => (Number(el.id)));
              } else if (findType.type === 'person') {
                data[e.field_data_key] = findValue.person.company_user_id ? {
                  company_user_id: findValue.person ? Number(findValue.person.company_user_id) : 0,
                  name: findValue.person ? findValue.person.name : '',
                  email: findValue.person ? findValue.person.email : '',
                  photo: findValue.person ? findValue.person.photo : '',
                } : null;
              } else if (findType.type === 'object') {
                // eslint-disable-next-line
                if (findValue.type === 'relation_record_external_api') {
                  data[e.field_data_key] = {
                    id: findValue.value_form ? String(findValue.value_form.id) : '',
                    name: findValue.value_form ? (findValue.value_form[e.config.data_source_external_variable] ? findValue.value_form[e.config.data_source_external_variable] : findValue.value_form.label) : '',
                  };
                } else {
                  data[e.field_data_key] = {
                    id: findValue.value_form ? (findValue.value_form[e.config.data_source.set_value_selected] ? findValue.value_form[e.config.data_source.set_value_selected] : findValue.value_form.id) : '',
                    name: findValue.value_form ? (findValue.value_form[e.config.data_source.show_data_option] ? findValue.value_form[e.config.data_source.show_data_option] : findValue.value_form.label) : '',
                  };
                }
              } else if (findType.type === 'maps') {
                data[e.field_data_key] = {
                  latitude: findValue.latitude ? findValue.latitude : 0,
                  longitude: findValue.longitude ? findValue.longitude : 0,
                  address: findValue.value ? findValue.value : '',
                };
              } else if (findType.type === '[]attachment') {
                data[e.field_data_key] = findValue.multiple_value;
              } else if (findType.type === 'tags' || findType.type === '[]tags') {
                data[e.field_data_key] = findValue.value;
              } else if (findType.type === '[]object') {
                data[e.field_data_key] = findValue.value_form ? findValue.value_form : [];
              } else {
                // eslint-disable-next-line
                if (findValue.type === 'group' || findValue.type === 'table_group') {
                  data[e.field_data_key] = null;
                } else {
                  data[e.field_data_key] = findValue.value ? String(findValue.value) : '';
                }
              }
            }
            this.data_submit.push({
              form_data_id: this.formDataId,
              form_ui_id: this.formUi.id,
              data,
            });
          });
        });
        this.$swal({
          title: 'Submit Record',
          text: 'Are you sure want to update this record?',
          showCancelButton: true,
          confirmButtonText: 'Yes',
        }).then((result) => {
          if (result.dismiss) {
            // eslint-disable-next-line
            throw {};
          } else {
            this.$refs.progressUpdate.toggleIsVisible();
          }
        });
      }
    },

    countSecond(str) {
      const date = new Date();
      return new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${str}:00`)).getTime();
    },

    finishUpdate() {
      this.selected_rows = [];
      this.isLoading = false;
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
      setTimeout(() => {
        this.isLoading = true;
      }, 200);
    },
  },
};
</script>

<style lang="scss">
  .jTable .form-control {
    padding-left: 5px !important;
    width: inherit !important;
  }

  .jTable select.form-control {
    height: inherit !important;
  }

  // .jTable .jSelectSingle.vue-treeselect .vue-treeselect__control {
  //   height: 33px !important;
  // }

  // .jTable .jMultiCheckSelect.vue-treeselect .vue-treeselect__control {
  //   height: 33px !important;
  // }

  .jSelectSingle.vue-treeselect .vue-treeselect__menu-container .vue-treeselect__menu .vue-treeselect__list .vue-treeselect__list-item .vue-treeselect__option .vue-treeselect__label-container .vue-treeselect__label {
    text-align: left !important;
    float: left !important;
  }

  .reimb-select-period {
    display: flex;
    flex-wrap: wrap;
  }

  .display-flex {
    display: flex;
  }

  .reimb-select-period input {
    width: 135px !important;
  }

  .shape-blue {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #2c82be;
    cursor: pointer;
  }

  .shape-blue-sky {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #dcebf9;
    cursor: pointer;
  }

  .shape-red {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 10px;
    object-fit: contain;
    background-color: #e8c7d2;
    cursor: pointer;
  }

  .shape-grey {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 10px;
    object-fit: contain;
    background-color: #d9d9d9;
    cursor: pointer;
  }

  .shape-green {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 7px;
    object-fit: contain;
    background-color: #9bbea9;
  }

  .label-tags {
    margin: 5px;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
    display: inline-block;
  }

  .reimb-select-period {
    display: flex;
    flex-wrap: wrap;
  }

  .reimb-select-period input {
    width: 135px !important;
  }

  .jCheckboxFormUI {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 65px;
    z-index: 9;
    left: 29px;
    cursor: pointer;
  }

  .form-bulking .label-form-base {
    display: none;
  }

  .form-bulking .vdp-datepicker__calendar {
    bottom: 35px !important;
  }

  .jFloating .selected-bottom-rules {
    max-height: 150px;
  }

  .f-blue {
    color: #4a90e2 !important;
  }
</style>
