<!-- eslint-disable max-len -->
<template>
  <div class="summary-workflow-req">
    <j-summary
      :data-summary="data_summary"
      @summaryBlock="getData"/>

    <v-server-table
      v-if="isServerTable"
      v-show="load_first"
      ref="applicationTableComponent"
      :columns="columns_server"
      :options="table_options_server"
      class="jTable"
      @loading="loading"
      @loaded="loaded">
      <div
        v-if="status === 'draft' && formUi.create_view"
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openAddRecordModal">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
        </b-form>
      </div>

      <div
        v-if="!props.row.errorTimer"
        slot="checkbox"
        slot-scope="props"
        style="width: 5px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        v-for="(i, index) in dataTable.columns"
        slot-scope="props"
        :key="index"
        :slot="i.key">
        <div
          v-if="cekTypeData(i.key) === 'text'"
          @click="openEditModal(props)">{{ props.row[i.key] }}</div>
        <div
          v-if="cekTypeData(i.key) === 'number'"
          @click="openEditModal(props)">
          <j-currency
            v-if="i.type === 'currency'"
            :value="props.row[i.key]"/>
          <div
            v-else-if="i.type === 'person' && props.row[i.key === 'created_by' ? 'created_person' : 'updated_person']"
            class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                :src="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].email }}</div>
              <div>
                {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].first_name }} {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].last_name }}
              </div>
            </div>
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].address }}</div>
        <div
          v-if="cekTypeData(i.key) === 'object' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]object'"
          @click="openEditModal(props)">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]tags'"
          @click="openEditModal(props)">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div
          v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'"
          @click="openEditModal(props)">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
        <div
          v-if="cekTypeData(i.key) === 'timestamp'"
          @click="openEditModal(props)">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
          <!-- {{ props.row[i.key] ? (i.type === 'time' ? convertTime(props.row[i.key]) : (i.type === 'datetime' ? convertDateTime(props.row[i.key]) : convertTimestamp(props.row[i.key]))) : '' }} -->
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div
              v-if="status === 'draft'"
              class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey"
                @click="pause(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-else
              class="col-md-3">
              <div
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red"
                @click="stop(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'person' && props.row[i.key]"
          @click="openEditModal(props)">
          <div class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </v-server-table>
    <v-client-table
      v-if="!isServerTable && load_first"
      ref="applicationTableComponent"
      :data="data_table"
      :columns="columns"
      :options="table_options"
      class="jTable">
      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <i
            v-if="status === 'draft' && !dataTable.is_hide_checkbox && isCheckbox"
            id="select-all-unchecked"
            class="fa fa-check-square i--center-block jCheckboxFormUI"
            @click="unCheckedAll" />
          <i
            v-if="status === 'draft' && !dataTable.is_hide_checkbox && !isCheckbox"
            id="select-all-unchecked"
            class="fa fa-square-o i--center-block jCheckboxFormUI"
            @click="checkedAll"/>
          <b-button
            v-if="status === 'draft' && formUi.create_view"
            class="btn grey btn-import-form m__r--5"
            @click="openAddRecordModal">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <j-multi-select
            v-model="select_group"
            :options="options_group"
            placeholder="Select Grouping"
            label="name"
            style="width: 500px"
            @getData="setDataGroup(select_group)"/>
        </b-form>
      </div>

      <div
        v-if="!props.row.errorTimer"
        slot="checkbox"
        slot-scope="props"
        style="width: 5px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>

      <div
        v-for="(i, index) in dataTable.columns"
        slot-scope="props"
        :key="index"
        :slot="i.key">
        <div
          v-if="cekTypeData(i.key) === 'text'"
          @click="openEditModal(props)">{{ props.row[i.key] }}</div>
        <div
          v-if="isMode === 'form' && (cekTypeData(i.key) === 'object' || cekTypeData(i.key) === 'timestamp') && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[`${i.key}__edit`] }}</div>
        <div
          v-if="cekTypeData(i.key) === 'number'"
          @click="openEditModal(props)">
          <j-currency
            v-if="i.type === 'currency'"
            :value="props.row[i.key]"/>
          <div
            v-else-if="i.type === 'person' && props.row[i.key === 'created_by' ? 'created_person' : 'updated_person']"
            class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                :src="props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].email }}</div>
              <div>
                {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].first_name }} {{ props.row[i.key === 'created_by' ? 'created_person' : 'updated_person'].last_name }}
              </div>
            </div>
          </div>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].address }}</div>
        <div
          v-if="isMode === 'external_url' && cekTypeData(i.key) === 'object' && props.row[i.key]"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]object'"
          @click="openEditModal(props)">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags"
          @click="openEditModal(props)">{{ props.row[i.key].name }}</div>
        <div
          v-if="cekTypeData(i.key) === '[]tags'"
          @click="openEditModal(props)">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div
          v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'"
          @click="openEditModal(props)">{{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}</div>
        <div
          v-if="isMode === 'external_url' && cekTypeData(i.key) === 'timestamp'"
          @click="openEditModal(props)">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div
              v-if="status === 'draft'"
              class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey"
                @click="pause(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky"
                @click="start(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-else
              class="col-md-3">
              <div
                class="shape-green">
                <img
                  :src="require('../../../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red"
                @click="stop(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../../../assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'person' && props.row[i.key]"
          @click="openEditModal(props)">
          <div class="d-flex">
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </v-client-table>
    <jLoadingTable v-if="!load_first"/>

    <j-floating-prompt ref="floating">
      <b-row>
        <b-col md="3">
          <b-row>
            <h1 class="f-blue">{{ selected_rows.length }}</h1>
            <h4> Row <br> selected </h4>
          </b-row>
        </b-col>
        <b-col md="5">
          <h4>Record ID : </h4>
          <p> {{ record_name }} </p>
        </b-col>
        <b-col md="4">
          <b-button
            v-if="nativeButtonsSubmit ? !nativeButtonsSubmit.is_hidden : true"
            class="btn blue"
            @click="submitRecord">{{ nativeButtonsSubmit ? (nativeButtonsSubmit.label ? nativeButtonsSubmit.label : 'Submit') : 'Submit' }}</b-button>
        </b-col>
      </b-row>
    </j-floating-prompt>

    <j-progress
      ref="progressSubmit"
      :data-kirim="data_submit"
      :url-api="url"
      :headers="headers"
      @finish="finishSubmit"/>

    <b-modal
      ref="addRecordModal"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-create-view-component
        v-if="isShowModal"
        :element="element"
        :form-data-id="formDataId"
        :data-setup="dataCreate"
        :on-modal="true"
        :form-data="formData"
        :form-ui="formUi"
        :mode-table="modeTable"
        @close-modal="closeModal"
      />
  </b-modal></div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle, no-param-reassign */
import { mapState, mapActions } from 'vuex';
import jCreateViewComponent from '@/views/application/application-component/multiple-form-ui/jCreateViewComponent';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
// import jReusableFunction from '@/mixins/paginations/jReusableFunction';
import jProgress from '@/views/application/application-component/form-ui/form-base/jProgress';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';

import jApi from '@/services/jApi';

export default {
  components: {
    jCreateViewComponent,
    jLoadingTable,
    // jReusableFunction,
    jProgress,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    formData: {
      type: Object,
      default: () => {},
    },
    formUi: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      modeTable: 'requester',
      load_first: false,
      data_table: [],
      data_summary: [
        {
          status: 'Draft',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'tosca',
          active: true,
          href: '#',
        },
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: false,
          color: 'orange',
          active: false,
          href: '#',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: false,
          color: 'blue',
          active: false,
          href: '#',
        },
        {
          status: 'Closed',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: false,
          color: 'red',
          active: false,
          href: '#',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'brown',
          active: false,
          href: '#',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'purple',
          active: false,
          href: '#',
        },
      ],

      // client-table
      columns: [],
      select_group: null,
      options_group: [],
      table_options: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        debounce: 1000,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
      },
      // server-table
      columns_server: [],
      table_options_server: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],

        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              form_data_id: data.form_data_id,
              flow_status: data.flow_status,
              sort: data.sort,
              filter: data.filter,
              filter_operator: data.filter_operator,
            },
            _this: data._this,
          };
        },
        requestFunction(data) {
          const api = jApi.generateApi();
          const req = {
            form_data_id: data.pagination.form_data_id,
            flow_status: data.pagination.flow_status,
            page: data.pagination.page,
            limit: data.pagination.limit,
            sort: data.pagination.sort,
            filter: data.pagination.filter,
            filter_operator: data.pagination.filter_operator,
          };
          if (data._this.cekCreatedPerson) {
            req.is_show_created_person = true;
          }
          if (data._this.cekUpdatedPerson) {
            req.is_show_updated_person = true;
          }
          const getList = api.get('nocode/record/workflow/requester/list', { params: req }).then(res => ({
            data: res,
            _this: data._this,
          }));
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/getProblemMessage', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data, _this }) {
          const findTypeTimer = _this.dataTable.columns.map(e => _this.cekTypeData(e.key) === 'timer');
          if (findTypeTimer.includes(true)) {
            const dataTable = data.data.data ? _this.configDataTimer(data.data.data) : [];
            _this.data_table = dataTable;
            return {
              data: dataTable,
              count: data.data.count ? data.data.count : 0,
            };
          }
          _this.data_table = data.data.data;
          return {
            data: data.data.data ? data.data.data : [],
            count: data.data.count ? data.data.count : 0,
          };
        },
      },

      listFieldsDetail: [],
      isShowModal: false,
      isShowModalEdit: false,
      status: 'draft',
      selected_rows: [],
      data_submit: [],
      idDataRowClick: '',
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      isMode: '',
    };
  },
  computed: {
    ...mapState('jStoreFormUi', ['data_record']),

    formDataId() {
      return this.formUi.form_data_id;
    },

    dataTable() {
      return this.formUi.table_requester_view;
    },

    dataCreate() {
      return this.formUi.create_view;
    },

    dataDetail() {
      return this.formUi.detail_view;
    },

    record_name() {
      const name = [];
      this.selected_rows.forEach((a) => {
        if (!a.errorTimer) {
          name.push(a.id);
        }
      });
      return name.join(', ');
    },

    url() {
      const getEnv = '/nocode/record/workflow/requester/send';
      return getEnv;
    },

    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },

    nativeButtonsSubmit() {
      return this.formUi.native_buttons ? this.formUi.native_buttons.submit : null;
    },

    isServerTable() {
      return this.formUi.table_requester_view.server_side_pagination;
    },

    isCheckbox() {
      return this.selected_rows.length === this.data_table.filter(f => !f.errorTimer).length;
    },

    cekCreatedPerson() {
      return !!this.formUi.table_requester_view.columns.find(f => f.key === 'created_by' && f.type === 'person');
    },

    cekUpdatedPerson() {
      return !!this.formUi.table_requester_view.columns.find(f => f.key === 'updated_by' && f.type === 'person');
    },
  },
  watch: {
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  created() {
    this.getDataSummary();
    if (this.dataTable) {
      this.isMode = this.formDataId ? 'form' : 'external_url';
      this.getInitialHeaderData();
    }
    if (this.formDataId && !this.isServerTable) {
      this.getTableViewData();
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreFormUi', ['actionGetRecordRequesterData', 'getDataSummaryBlock', 'setValueRecord']),

    setDataGroup(val) {
      this.load_first = false;

      if (val.length > 0) {
        this.table_options.groupBy = val;
      } else {
        delete this.table_options.groupBy;
      }

      setTimeout(() => {
        this.load_first = true;
      }, 200);
    },

    convertTimestamp(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    getDataSummary() {
      const params = {
        form_data_id: this.formDataId,
      };
      this.getDataSummaryBlock(params).then((res) => {
        this.data_summary[0].amounts = res.data.draft;
        this.data_summary[1].amounts = res.data.sent;
        this.data_summary[2].amounts = res.data.approved;
        this.data_summary[3].amounts = res.data.closed;
        this.data_summary[4].amounts = res.data.canceled;
        this.data_summary[5].amounts = res.data.rejected;
      });
    },

    getData(data) {
      switch (data.status) {
        case 'Draft':
          this.load_first = false;
          this.status = 'draft';
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          this.data_summary[5].active = false;
          break;
        case 'Sent':
          this.load_first = false;
          this.status = 'sent';
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          this.data_summary[5].active = false;
          break;
        case 'Approved':
          this.load_first = false;
          this.status = 'approved';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          this.data_summary[5].active = false;
          break;
        case 'Closed':
          this.load_first = false;
          this.status = 'closed';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
          this.data_summary[4].active = false;
          this.data_summary[5].active = false;
          break;
        case 'Canceled':
          this.load_first = false;
          this.status = 'canceled';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = true;
          this.data_summary[5].active = false;
          break;
        default:
          this.load_first = false;
          this.status = 'rejected';
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          this.data_summary[5].active = true;
      }
      this.getInitialHeaderData();
      if (this.isServerTable) {
        // this.$refs.applicationTableComponent.getData();
        this.$refs.applicationTableComponent.setFilter('');
      } else {
        this.getTableViewData();
      }
    },

    loading(val) {
      const a = val;
      let dataFilter = {};
      if (JSON.parse(this.element.info).filter_column) {
        let x;
        let keyFilter = '';
        const dataRecord = this.data_record;
        if (this.cekTypeData(JSON.parse(this.element.info).filter_column) === 'object') {
          keyFilter = `"${JSON.parse(this.element.info).filter_column}.id"`;
        } else {
          keyFilter = JSON.parse(this.element.info).filter_column;
        }
        dataFilter = eval(`x={ ${keyFilter}: dataRecord.${JSON.parse(this.element.info).filter_variable} }`);
      }

      let x;
      // eslint-disable-next-line
      const _user = this.session.user;
      const filterKeys = Object.keys(this.dataTable.filter);
      const filterValues = Object.values(this.dataTable.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (e.includes('_user')) {
            dataFilter[filterKeys[index]] = eval(`x=${e}`);
          } else if (filterKeys[index].includes('.company_user_id')) {
            dataFilter[filterKeys[index]] = Number(e);
          } else if (e.includes('.today')) {
            const date = new Date();
            const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
            const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
            // eslint-disable-next-line
            dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
          } else {
            // eslint-disable-next-line
            if (this.cekTypeData(filterKeys[index]) === 'number') {
              dataFilter[filterKeys[index]] = Number(e);
            } else {
              dataFilter[filterKeys[index]] = e.slice(1, -1);
            }
          }
        });
      }

      a.pagination.form_data_id = this.formDataId;
      a.pagination.flow_status = this.status;
      a.pagination.sort = this.dataTable.sort[0];
      a.pagination.filter = dataFilter;
      a.pagination.filter_operator = this.dataTable.filter_operator ? this.dataTable.filter_operator : 'and';
      a._this = this;

      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      // this.data_table = data.data.data;

      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      const findType = this.formData.columns[key];
      return findType.type;
    },

    getInitialHeaderData() {
      if (this.status === 'draft') {
        const columns = this.dataTable.is_hide_checkbox ? [] : [{ key: 'checkbox', name: 'checkbox' }];
        this.dataTable.columns.forEach((e) => {
          columns.push(e);
        });
        this.columns = columns.map(val => val.key);
        this.columns_server = columns.map(val => val.key);
      } else {
        this.columns = this.dataTable.columns.map(val => val.key);
        this.columns_server = this.dataTable.columns.map(val => val.key);
      }

      this.table_options.headings = this.dataTable.is_hide_checkbox ? {} : {
        // checkbox(h) {
        //   const objThis = this;
        //   return this.checkbox(h, objThis);
        // },
        checkbox: '',
      };
      this.table_options_server.headings = this.dataTable.is_hide_checkbox ? {} : {
        // checkbox(h) {
        //   const objThis = this;
        //   return this.checkbox(h, objThis);
        // },
        checkbox: '',
      };
      this.dataTable.columns.forEach((val) => {
        this.table_options.headings[`${val.key}`] = val.name.toUpperCase();
        this.table_options_server.headings[`${val.key}`] = val.name.toUpperCase();
      });

      this.options_group = [];
      this.dataTable.columns.forEach((e) => {
        if (this.cekTypeData(e.key) === 'number') {
          this.options_group.push({
            name: e.name,
            id: e.key,
          });
        }
        if (this.cekTypeData(e.key) === 'text' || this.cekTypeData(e.key) === 'object' || this.cekTypeData(e.key) === 'timestamp') {
          this.options_group.push({
            name: e.name,
            id: `${e.key}__edit`,
          });
        }
      });
    },

    checkedAll() {
      this.selected_rows = this.data_table.filter(f => !f.errorTimer);
    },

    unCheckedAll() {
      this.selected_rows = [];
    },

    checkbox(h, objThis) {
      const thisParams = objThis;

      function checkedAll() {
        thisParams.selected_rows = thisParams.data_table.filter(f => !f.errorTimer);
      }

      function unCheckedAll() {
        thisParams.selected_rows = [];
      }

      if (thisParams.selected_rows.length === thisParams.data_table.filter(f => !f.errorTimer).length) {
        return (
          <i
            id= 'select-all-unchecked'
            class= 'fa fa-check-square i--center-block pointer--cursor'
            style= {{ display: 'block', fontSize: '20px' }}
            onClick= { unCheckedAll }>
          </i>
        );
      }
      return (
        <i
          id= 'select-all-unchecked'
          class= 'fa fa-square-o i--center-block pointer--cursor'
          style= {{ display: 'block', fontSize: '20px' }}
          onClick= { checkedAll }>
        </i>
      );
    },

    getTableViewData() {
      let dataFilter = {};
      if (JSON.parse(this.element.info).filter_column) {
        let x;
        let keyFilter = '';
        const dataRecord = this.data_record;
        if (this.cekTypeData(JSON.parse(this.element.info).filter_column) === 'object') {
          keyFilter = `"${JSON.parse(this.element.info).filter_column}.id"`;
        } else {
          keyFilter = JSON.parse(this.element.info).filter_column;
        }
        dataFilter = eval(`x={ ${keyFilter}: dataRecord.${JSON.parse(this.element.info).filter_variable} }`);
      }
      // else {
      let x;
      // eslint-disable-next-line
      const _user = this.session.user;
      const filterKeys = Object.keys(this.dataTable.filter);
      const filterValues = Object.values(this.dataTable.filter);

      if (filterValues.length > 0) {
        filterValues.forEach((e, index) => {
          if (e.includes('_user')) {
            dataFilter[filterKeys[index]] = eval(`x=${e}`);
          } else if (filterKeys[index].includes('.company_user_id')) {
            dataFilter[filterKeys[index]] = Number(e);
          } else if (e.includes('.today')) {
            const date = new Date();
            const startOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 00:00:00`)).getTime();
            const endOfDay = new Date(Date.parse(`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} 23:59:59`)).getTime();
            // eslint-disable-next-line
            dataFilter[filterKeys[index]] = { '$between': [startOfDay, endOfDay] };
          } else {
            // eslint-disable-next-line
            if (this.cekTypeData(filterKeys[index]) === 'number') {
              dataFilter[filterKeys[index]] = Number(e);
            } else {
              dataFilter[filterKeys[index]] = e.slice(1, -1);
            }
          }
        });
        // }
      }
      this.data_table = [];
      const param = {
        form_data_id: this.formDataId,
        flow_status: this.status,
        page: 1,
        limit: 10000000,
        sort: this.dataTable.sort[0],
        filter: dataFilter,
        filter_operator: this.dataTable.filter_operator ? this.dataTable.filter_operator : 'and',
      };
      if (this.cekCreatedPerson) {
        param.is_show_created_person = true;
      }
      if (this.cekUpdatedPerson) {
        param.is_show_updated_person = true;
      }
      this.actionGetRecordRequesterData(param).then((res) => {
        const findTypeTimer = this.dataTable.columns.map(e => this.cekTypeData(e.key) === 'timer');
        if (findTypeTimer.includes(true)) {
          this.configDataTimer(res.data);
        } else {
          res.data.forEach((e) => {
            this.dataTable.columns.forEach((d) => {
              if (this.cekTypeData(d.key) === 'object' && e[d.key]) {
                e[`${d.key}__edit`] = e[d.key].name;
              } else if (this.cekTypeData(d.key) === 'text' && e[d.key]) {
                e[`${d.key}__edit`] = String(e[d.key]).toLowerCase();
              } else if (this.cekTypeData(d.key) === 'timestamp' && e[d.key]) {
                if (d.type === 'time') {
                  e[`${d.key}__edit`] = this.convertTime(e[d.key]);
                } else if (d.type === 'datetime') {
                  e[`${d.key}__edit`] = this.convertDateTime(e[d.key]);
                } else if (d.type === 'dd-mmm-yyyy') {
                  e[`${d.key}__edit`] = this.$moment(new Date(e[d.key])).format('DD-MMM-YYYY');
                } else if (d.type === 'mmmm dd, yyyy') {
                  e[`${d.key}__edit`] = this.$moment(new Date(e[d.key])).format('MMMM DD, YYYY');
                } else {
                  e[`${d.key}__edit`] = this.convertTimestamp(e[d.key]);
                }
              }
            });
            this.data_table.push(e);
          });
          // this.data_table = res || [];
          this.load_first = true;
        }
      });
    },

    configDataTimer(data) {
      const dataTable = data.map((e) => {
        this.dataTable.columns.forEach((f) => {
          if (this.cekTypeData(f.key) === 'timer') {
            if (e[f.key]) {
              let dataTime = '';
              let dataLoop = null;
              if (e[f.key].state === 'stop' || e[f.key].state === 'pause') {
                // dataTime = e[f.key].duration ? this.$moment.utc(e[f.key].duration).format('HH:mm:ss') : '00:00:00';
                dataTime = e[f.key].duration ? this.getDuration(e[f.key].duration) : '00:00:00';
              } else {
                dataLoop = setInterval(this.clockRunning, 10);
              }
              e[`dataTimer${f.key}`] = {
                clock_loop: dataLoop,
                running: e[f.key].state ? e[f.key].state === 'start' : false,
                stoped: e[f.key].state ? e[f.key].state === 'stop' : false,
                time: dataTime,
                startTimer: e[f.key].log.length > 0 ? (e[f.key].log[e[f.key].log.length - 1].end_time === 0 ? e[f.key].log[e[f.key].log.length - 1].start_time : e[f.key].log[e[f.key].log.length - 1].end_time) : 0,
                dataLogTimer: e[f.key].log.length > 0 ? e[f.key].log : [],
                statusTimer: e[f.key].state ? e[f.key].state : '',
                duration: e[f.key].duration ? e[f.key].duration : 0,
              };
              e.errorTimer = e[f.key].state ? e[f.key].state === 'start' || e[f.key].state === 'pause' : false;
            } else {
              e[`dataTimer${f.key}`] = {
                clock_loop: null,
                running: false,
                stoped: false,
                time: '00:00:00',
                startTimer: 0,
                dataLogTimer: [],
                statusTimer: '',
                duration: 0,
              };
              e.errorTimer = true;
            }
          } else if (this.cekTypeData(f.key) === 'object' && e[f.key]) {
            e[`${f.key}__edit`] = e[f.key].name;
          } else if (this.cekTypeData(f.key) === 'text' && e[f.key]) {
            e[`${f.key}__edit`] = String(e[f.key]).toLowerCase();
          } else if (this.cekTypeData(f.key) === 'timestamp' && e[f.key]) {
            if (f.type === 'time') {
              e[`${f.key}__edit`] = this.convertTime(e[f.key]);
            } else if (f.type === 'datetime') {
              e[`${f.key}__edit`] = this.convertDateTime(e[f.key]);
            } else if (f.type === 'dd-mmm-yyyy') {
              e[`${f.key}__edit`] = this.$moment(new Date(e[f.key])).format('DD-MMM-YYYY');
            } else if (f.type === 'mmmm dd, yyyy') {
              e[`${f.key}__edit`] = this.$moment(new Date(e[f.key])).format('MMMM DD, YYYY');
            } else {
              e[`${f.key}__edit`] = this.convertTimestamp(e[f.key]);
            }
          }
        });
        return e;
      });
      this.data_table = dataTable;
      this.load_first = true;
    },

    start(id, field) {
      const index = this.data_table.findIndex(data => data.id === id);

      this.data_table[index][String(field)].startTimer = new Date().getTime();
      this.data_table[index][String(field)].running = true;
      this.data_table[index][String(field)].statusTimer = 'start';
      this.data_table[index][String(field)].clock_loop = setInterval(this.clockRunning, 10);
      this.setRecord(id, field);
    },

    pause(id, field) {
      const index = this.data_table.findIndex(data => data.id === id);

      this.data_table[index][String(field)].statusTimer = 'pause';
      this.setRecord(id, field);
      this.data_table[index][String(field)].running = false;
      clearInterval(this.data_table[index][String(field)].clock_loop);
    },

    stop(id, field) {
      const index = this.data_table.findIndex(data => data.id === id);

      this.data_table[index][String(field)].statusTimer = 'stop';
      this.setRecord(id, field);
      this.data_table[index][String(field)].running = false;
      this.data_table[index][String(field)].stoped = true;
      clearInterval(this.data_table[index][String(field)].clock_loop);
    },

    clockRunning() {
      this.data_table.forEach((e, index) => {
        this.dataTable.columns.forEach((f) => {
          if (this.cekTypeData(f.key) === 'timer') {
            if (e[`dataTimer${f.key}`].statusTimer === 'start') {
              const timeElapsed = this.data_table[index][`dataTimer${f.key}`].duration + (new Date().getTime() - this.data_table[index][`dataTimer${f.key}`].startTimer);
              // this.data_table[index][`dataTimer${f.key}`].time = this.$moment.utc(timeElapsed).format('HH:mm:ss');
              this.data_table[index][`dataTimer${f.key}`].time = this.getDuration(timeElapsed);
            }
          }
        });
      });
    },

    getDuration(input) {
      const dur = this.$moment.duration(input);
      const hours = Math.floor(dur.asHours());
      const mins = Math.floor(dur.asMinutes()) - hours * 60;
      const sec = Math.floor(dur.asSeconds()) - hours * 60 * 60 - mins * 60;
      // eslint-disable-next-line
      const result = ((hours > 9) ? hours : (`0${hours}`)) + ":" + ((mins > 9) ? mins : (`0${mins}`)) + ":" + ((sec > 9) ? sec : (`0${sec}`));
      return result;
    },

    setRecord(id, field) {
      const index = this.data_table.findIndex(data => data.id === id);
      const dataField = field.replace('dataTimer', '');
      const dataId = this.formData.primary_key;
      const data = {
        form_data_id: this.formDataId,
        data: {
          [dataId]: this.data_table[index].id,
          [dataField]: this.getTimerValueFormatted(id, field),
        },
      };
      this.setValueRecord(data).then((res) => {
        if (!res.error) {
          if (this.isServerTable) {
            this.$refs.applicationTableComponent.getData();
          } else {
            this.getTableViewData();
          }
        } else {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message, { root: true });
        }
      });
    },

    getTimerValueFormatted(id, field) {
      const index = this.data_table.findIndex(data => data.id === id);
      if (this.data_table[index][String(field)].statusTimer === 'start') {
        this.data_table[index][String(field)].dataLogTimer.push({
          start_time: this.data_table[index][String(field)].startTimer,
          end_time: 0,
          duration: 0,
        });
      } else {
        // eslint-disable-next-line
        if (this.data_table[index][String(field)].running) {
          const lastIndex = this.data_table[index][String(field)].dataLogTimer.length - 1;
          this.data_table[index][String(field)].dataLogTimer[lastIndex].end_time = new Date().getTime();
          this.data_table[index][String(field)].dataLogTimer[lastIndex].duration = new Date().getTime() - this.data_table[index][String(field)].dataLogTimer[lastIndex].start_time;
        }
      }
      let totalDuration = 0;
      this.data_table[index][String(field)].dataLogTimer.forEach((e) => {
        totalDuration += e.duration;
      });
      const timerValue = {
        log: this.data_table[index][String(field)].dataLogTimer,
        state: this.data_table[index][String(field)].statusTimer,
        duration: totalDuration,
      };
      return timerValue;
    },

    openAddRecordModal() {
      if (this.formUi.create_view) {
        this.isShowModal = true;
        this.$refs.addRecordModal.show();
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup create view not available');
      }
    },

    closeModal() {
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
      this.getDataSummary();
      this.$refs.addRecordModal.hide();
      this.isShowModal = false;
    },

    closeModalEdit() {
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
      this.getDataSummary();
      this.$refs.editRecordModal.hide();
      this.isShowModalEdit = false;
    },

    openEditModal(param) {
      if (this.dataDetail) {
        const { applicationName, applicationId, pageName, pageId } = this.$route.params;
        this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-multiple/${this.formUi.id}/${param.row.id}/${this.status}/requester`);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup detail view not available');
      }
    },

    // openEditModal(param) {
    //   if (this.formUi.detail_view) {
    //     if (this.isMode === 'external_url') {
    //       const dataDetail = this.formUi ?
    //         (this.formUi.data_source ?
    //           (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.detail : null)
    //           : null)
    //         : null;

    //       if (dataDetail) {
    //         const token = Vue.ls.get('Token');
    //         const method = dataDetail.method.toLowerCase();

    //         let url = '';
    //         if (method === 'get') {
    //           this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

    //           const queryParams = Object.keys(dataDetail.query_params);
    //           const queryParamsValue = Object.values(dataDetail.query_params);

    //           let urlParams = '';
    //           queryParams.forEach((e, index) => {
    //             const andMore = queryParams.length - 1 > index ? '&' : '';
    //             urlParams += `${e}=${queryParamsValue[index]}${andMore}`;
    //           });

    //           url = `${dataDetail.url}?${urlParams}`;
    //           axios.get(url, {
    //             headers: {
    //               'Content-Type': 'application/json',
    //               Authorization: `Bearer ${token}`,
    //             },
    //           }).then((res) => {
    //             this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

    //             const dataServer = res.data[dataDetail.source];
    //             const dataRow = {};
    //             this.dataDetail.columns.forEach((e) => {
    //               let x;
    //               try {
    //                 dataRow[e.field_data_key] = eval(`x=dataServer.${dataDetail.variables[e.field_data_key]}`);
    //               } catch (err) {
    //                 dataRow[e.field_data_key] = null;
    //               }
    //             });
    //             this.setDataDetailFields(dataRow);
    //           });
    //         } else {
    //           this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait', { root: true });

    //           let y;
    //           const variable = param.row;
    //           const params = eval(`y=${dataDetail.body}`);

    //           url = dataDetail.url;
    //           axios[method](url, params, {
    //             headers: {
    //               'Content-Type': 'application/json',
    //               Authorization: `Bearer ${token}`,
    //             },
    //           }).then((res) => {
    //             this.$store.dispatch('jStoreNotificationScreen/hideLoading', '', { root: true });

    //             const dataServer = res.data[dataDetail.source];
    //             const dataRow = {};
    //             this.dataDetail.columns.forEach((e) => {
    //               let x;
    //               try {
    //                 dataRow[e.field_data_key] = eval(`x=dataServer.${dataDetail.variables[e.field_data_key]}`);
    //               } catch (err) {
    //                 dataRow[e.field_data_key] = null;
    //               }
    //             });
    //             this.setDataDetailFields(dataRow);
    //           });
    //         }
    //       } else {
    //         this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Url detail not available');
    //       }
    //     } else {
    //       // eslint-disable-next-line
    //       if (this.status === 'draft') {
    //         this.setDataDetailFields(param.row);
    //       } else {
    //         const { applicationName, applicationId, pageName, pageId } = this.$route.params;
    //         this.$router.push(`/app/${applicationName}/${applicationId}/${pageName}/${pageId}/detail-record/${this.formUi.id}/${param.row.id}/${this.status}/requester`);
    //       }
    //     }
    //   } else {
    //     this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Setup detail view not available');
    //   }
    // },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    setDataDetailFields(data) {
      this.idDataRowClick = data.id;
      this.listFieldsDetail = this.dataDetail.columns.map((el, index) => ({
        id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
        name: el.name,
        type: el.type,
        placeholder: el.placeholder,
        value: this.cekTypeData(el.field_data_key) === 'timestamp' ?
          (el.type === 'time' ? this.convertTime(data[el.field_data_key]) : this.convertTimestamp(data[el.field_data_key]))
          : data[el.field_data_key],
        value_id: data[el.field_data_key] ? data[el.field_data_key] : 0,
        value_form: null,
        config: el.config,
        grid: el.grid_size ? el.grid_size : '12',
        available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          id: val,
          name: val,
        })) : []) : [],
        available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
          value: val,
          text: val,
        })) : []) : [],
        available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
          name: val.name,
          background: val.background,
          font_color: val.font_color,
        })) : []) : [],
        external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
        external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
        external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
        is_delete: false,
        is_editable: el.is_disable || this.formData.primary_key === el.field_data_key || JSON.parse(this.element.info).filter_column === el.field_data_key,
        is_mandatory: el.is_mandatory,
        is_hidden: el.is_hidden,
        map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
        relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
        relation_record_auto_fill: el.config ? (el.config.data_field_auto ? el.config.data_field_auto : []) : [],
        is_auto_fill: el.config ? (el.config.is_auto_fill ? el.config.is_auto_fill : false) : false,
        is_auto_show: el.config ? (el.config.is_auto_show ? el.config.is_auto_show : false) : false,
        accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
        multiple_value: this.setDataMultipleValue(data, el),
        person: this.setDataPersonValue(data, el),
        is_external_source: this.formUi.type === 'external_url',
        time: '00:00:00',
        is_with_param: el.config ? (el.config.is_with_param ? el.config.is_with_param : false) : false,
        filter_column: el.config ? (el.config.filter_column ? el.config.filter_column : null) : null,
        field_key: el.config ? (el.config.field_key ? el.config.field_key : null) : null,
        field_ui_key: el.field_ui_key,
        field_data_key: el.field_data_key,
        html: el.config ? (el.config.html ? el.config.html : '') : '',
        groups: el.config ? (el.config.data_field_group ? this.configFieldGroup(el.config.data_field_group, data[el.field_data_key], el.field_data_key) : []) : [],
        master_groups: el.config ? (el.config.data_field_group ? el.config.data_field_group : []) : [],
        error_input: false,
        error_message: '',
      }));
      this.isShowModalEdit = true;
      this.$refs.editRecordModal.show();
    },

    configFieldGroup(data, value, field) {
      let arrayGroup = [];
      if (value && value.length > 0) {
        value.forEach((e) => {
          const datas = data.map((el, index) => ({
            id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
            name: el.name,
            type: el.type,
            placeholder: el.placeholder,
            value: this.formData.class[field][el.field_data_key].type === 'timestamp' ?
              (el.type === 'time' ? this.convertTime(e[el.field_data_key]) : this.convertTimestamp(e[el.field_data_key]))
              : e[el.field_data_key],
            // value: this.formData.class[field][el.field_data_key].type === 'timestamp' ? this.convertTimestamp(e[el.field_data_key]) : e[el.field_data_key],
            value_id: e[el.field_data_key] ? e[el.field_data_key] : 0,
            value_form: null,
            config: el.config,
            grid: el.grid_size ? el.grid_size : '12',
            available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
              id: val,
              name: val,
            })) : []) : [],
            available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
              value: val,
              text: val,
            })) : []) : [],
            available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
              name: val.name,
              background: val.background,
              font_color: val.font_color,
            })) : []) : [],
            external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
            external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
            external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
            is_delete: el.is_hidden || this.formData.primary_key === el.field_data_key,
            is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
            is_mandatory: el.is_mandatory,
            map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
            relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
            accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
            multiple_value: el.field_data_key ? this.setDataMultipleValueGroup(e, el, field) : [],
            person: this.setDataPersonValueGroup(e, el, field),
            is_external_source: this.formUi.type === 'external_url',
            field_ui_key: el.field_ui_key,
            field_data_key: el.field_data_key,
            groups: [],
          }));
          arrayGroup.push(datas);
        });
      } else {
        arrayGroup = [data.map((el, index) => ({
          id: Number(`${Math.floor(Math.random() * 100)}${Math.floor(Math.random() * 100)}`),
          name: el.name,
          type: el.type,
          placeholder: el.placeholder,
          value: null,
          value_id: 0,
          value_form: null,
          config: el.config,
          grid: el.grid_size ? el.grid_size : '12',
          available_list: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
            id: val,
            name: val,
          })) : []) : [],
          available_list_checkbox: el.config ? (el.config.list_options ? el.config.list_options.map(val => ({
            value: val,
            text: val,
          })) : []) : [],
          available_list_tags: el.config ? (el.config.list_tags ? el.config.list_tags.map(val => ({
            name: val.name,
            background: val.background,
            font_color: val.font_color,
          })) : []) : [],
          external_url: el.config ? (el.config.data_source_external ? el.config.data_source_external : null) : null,
          external_url_variable: el.config ? (el.config.data_source_external_variable ? el.config.data_source_external_variable : '') : '',
          external_url_set_value: el.config ? (el.config.data_source_external_set_value ? el.config.data_source_external_set_value : '') : '',
          is_delete: el.is_hidden || this.formData.primary_key === el.field_data_key,
          is_editable: el.is_disable || JSON.parse(this.element.info).filter_column === el.field_data_key,
          is_mandatory: el.is_mandatory,
          map_type: el.config ? (el.config.map_type ? el.config.map_type : 1) : 1,
          relation_record_data: el.config ? (el.config.data_source ? el.config.data_source : null) : null,
          multiple_value: el.type === 'photo' || el.type === 'attachment' ? (el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
            id: indexVal + 1,
            name: val,
          })) : []) : []) : [],
          accepted_file_type: el.config ? (el.config.accepted_file_type ? el.config.accepted_file_type : []) : [],
          person: {},
          is_external_source: this.formUi.type === 'external_url',
          field_ui_key: el.field_ui_key,
          field_data_key: el.field_data_key,
          groups: [],
        }))];
      }
      return arrayGroup;
    },

    setDataMultipleValue(data, el) {
      let dataMultiple = [];
      if (this.cekTypeData(el.field_data_key) === '[]text' || this.cekTypeData(el.field_data_key) === '[]number' || this.cekTypeData(el.field_data_key) === '[]attachment') {
        if (el.type === 'checkbox') {
          dataMultiple = data[el.field_data_key];
        } else if (el.type === 'attachment') {
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map((val, indexVal) => ({
              id: indexVal + 1,
              name: val.name,
              url: val.url,
            }));
          } else {
            dataMultiple = el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
              id: indexVal + 1,
              name: val,
            })) : []) : [];
          }
        } else {
          // eslint-disable-next-line
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map(val => ({
              id: val,
              name: val,
            }));
          }
        }
      }
      return dataMultiple;
    },

    setDataPersonValue(data, el) {
      let dataPerson = {};
      if (this.cekTypeData(el.field_data_key) === 'person') {
        dataPerson = data[el.field_data_key];
      }
      return dataPerson;
    },

    setDataMultipleValueGroup(data, el, field) {
      let dataMultiple = [];
      if (this.formData.class[field][el.field_data_key].type === '[]text' || this.formData.class[field][el.field_data_key].type === '[]number' || this.formData.class[field][el.field_data_key].type === '[]attachment') {
        if (el.type === 'checkbox') {
          dataMultiple = data[el.field_data_key];
        } else if (el.type === 'attachment') {
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map((val, indexVal) => ({
              id: indexVal + 1,
              name: val.name,
              url: val.url,
            }));
          } else {
            dataMultiple = el.config ? (el.config.list_options ? el.config.list_options.map((val, indexVal) => ({
              id: indexVal + 1,
              name: val,
            })) : []) : [];
          }
        } else {
          // eslint-disable-next-line
          if (data[el.field_data_key]) {
            dataMultiple = data[el.field_data_key].map(val => ({
              id: val,
              name: val,
            }));
          }
        }
      }
      return dataMultiple;
    },

    setDataPersonValueGroup(data, el, field) {
      let dataPerson = {};
      if (el.field_data_key && this.formData.class[field][el.field_data_key].type === 'person') {
        dataPerson = data[el.field_data_key];
      }
      return dataPerson;
    },

    submitRecord() {
      this.data_submit = [];
      this.selected_rows.forEach((e) => {
        this.data_submit.push({
          id: e.id,
          form_data_id: this.formDataId,
          form_ui_id: this.formUi.id,
        });
      });
      this.$swal({
        title: 'Submit Record',
        text: 'Are you sure want to submit this record?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
      }).then((result) => {
        if (result.dismiss) {
          // eslint-disable-next-line
          throw {};
        } else {
          this.$refs.progressSubmit.toggleIsVisible();
        }
      });
    },

    finishSubmit() {
      this.selected_rows = [];
      if (this.formDataId) {
        if (this.isServerTable) {
          this.$refs.applicationTableComponent.getData();
        } else {
          this.getTableViewData();
        }
      } else {
        this.getTableViewDataExternal();
      }
      this.getDataSummary();
    },
  },
};
</script>

<style lang="scss">
  .jTable .jMultiCheckSelect.vue-treeselect--multi .vue-treeselect__multi-value {
    height: 33px !important;
  }

  .jCheckboxFormUI {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 75px;
    z-index: 9;
    left: 29px;
    cursor: pointer;
  }

  .shape-blue {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #2c82be;
    cursor: pointer;
  }

  .shape-blue-sky {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 5px 10px;
    object-fit: contain;
    background-color: #dcebf9;
    cursor: pointer;
  }

  .shape-red {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 10px;
    object-fit: contain;
    background-color: #e8c7d2;
    cursor: pointer;
  }

  .shape-grey {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 10px;
    object-fit: contain;
    background-color: #d9d9d9;
    cursor: pointer;
  }

  .shape-green {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    padding: 7px 7px;
    object-fit: contain;
    background-color: #9bbea9;
  }

  .label-tags {
    margin: 5px;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
  }
</style>
