<template>
  <div>
    <div
      class="tab-header m-0"
      style="background-color: #efefef; padding: 0 20px;"
    >
      <div
        v-for="(item, index) in tabs"
        :key="index"
        :class="{'content-tab-active': tabSelected === item.idTab}"
        class="content-tab"
        @click="tabSelected = item.idTab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.idTab"
          class="underline-data"/>
      </div>
    </div>

    <jAttendanceSummaryTabComp
      v-if="tabSelected === 'tabs-1'"
      :oos-route="oosRoute"
      class="p-4"
    />
  </div>
</template>

<script>
import jAttendanceSummaryTabComp from './summary/jAttendanceSummaryTabComp';

export default {
  components: {
    jAttendanceSummaryTabComp,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabSelected: 'tabs-1',
      tabs: [
        {
          idTab: 'tabs-1',
          title: 'Attendance',
          idComp: 'comps-1',
          comp: jAttendanceSummaryTabComp,
          isShow: true,
          isActive: true,
        },
        // {
        //   idTab: 'tabs-2',
        //   title: 'Project',
        //   idComp: 'comps-2',
        //   comp: '',
        //   isShow: true,
        //   isActive: false,
        // },
        // {
        //   idTab: 'tabs-3',
        //   title: 'Form Project',
        //   idComp: 'comps-3',
        //   comp: '',
        //   isShow: true,
        //   isActive: false,
        // },
      ],
    };
  },
};
</script>
