<template>
  <div>
    <editor
      v-if="showEditor"
      ref="editorjs"
      :holder="holderName"
      :config="config"
      :class="{
        'disabled-editor': disabled,
        'text-editor-error': isError,
        'text-editor-modal-screen': !isPageScreen,
      }"
      class="editor-js"
    />
  </div>
</template>

<script>
/* eslint-disable consistent-return, no-underscore-dangle, no-plusplus */
import axios from 'axios';
import Header from '@editorjs/header';
import List from '@editorjs/list';
// import LinkTool from '@editorjs/link';
import ImageTool from '@editorjs/image';
import CodeTool from '@editorjs/code';
import Paragraph from '@editorjs/paragraph';
import Embed from '@editorjs/embed';
import Table from '@editorjs/table';
import Checklist from '@editorjs/checklist';
import Marker from '@editorjs/marker';
import Warning from '@editorjs/warning';
import RawTool from '@editorjs/raw';
import Quote from '@editorjs/quote';
import InlineCode from '@editorjs/inline-code';
import Delimiter from '@editorjs/delimiter';

export default {
  name: 'JTextEditor',

  props: {
    holderName: {
      type: String,
      default: 'editorjs',
    },
    value: {
      type: Object,
      default: () => {},
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: 'Start typing here ... Press Tab button for options',
    },
    isPageScreen: {
      type: Boolean,
      default: true,
    },
    isError: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    const self = this;
    return {
      token: (JSON.parse(localStorage.getItem('Token'))).value,
      showEditor: false,
      config: {
        tools: {
          header: {
            class: Header,
            config: {
              placeholder: 'Enter a header',
            },
          },
          list: {
            class: List,
            inlineToolbar: true,
          },
          // linkTool: {
          //   class: LinkTool,
          //   config: {
          //     endpoint: 'https://codex.so/editor/fetchUrl',
          //   },
          // },
          image: {
            class: ImageTool,
            config: {
              uploader: {
                async uploadByFile(file) {
                  const response = await self.uploadImage(file);
                  return response;
                },
              },
            },
          },
          code: {
            class: CodeTool,
          },
          paragraph: {
            class: Paragraph,
          },
          embed: {
            class: Embed,
          },
          table: {
            class: Table,
            inlineToolbar: true,
          },
          checklist: {
            class: Checklist,
          },
          Marker: {
            class: Marker,
          },
          warning: {
            class: Warning,
            inlineToolbar: true,
            config: {
              titlePlaceholder: 'Title',
              messagePlaceholder: 'Message',
            },
          },
          raw: RawTool,
          quote: {
            class: Quote,
            inlineToolbar: true,
            config: {
              quotePlaceholder: 'Enter a quote',
              captionPlaceholder: "Quote's author",
            },
          },
          inlineCode: {
            class: InlineCode,
          },
          delimiter: Delimiter,
        },
        placeholder: '',
        data: {
          time: new Date().getTime(),
          blocks: [
            {
              id: '0001',
              type: 'paragraph',
              data: {},
            },
            {
              id: '0002',
              type: 'paragraph',
              data: {},
            },
            {
              id: '0003',
              type: 'paragraph',
              data: {},
            },
            {
              id: '0004',
              type: 'paragraph',
              data: {},
            },
            {
              id: '0005',
              type: 'paragraph',
              data: {},
            },
          ],
          version: '2.25.0',
        },
        logLevel: 'ERROR',
        onChange: () => {
          this.handleEditorChange();
        },
      },
      debounceTimer: null,
      hasInteracted: false,

    };
  },

  created() {
    if (this.value) this.config.data = this.value;
    this.config.placeholder = this.placeholder;
    setTimeout(() => {
      this.showEditor = true;
    }, 200);
  },

  beforeDestroy() {
    clearTimeout(this.debounceTimer);
  },

  methods: {
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      });
    },

    async uploadImage(file) {
      const imagebase = await this.getBase64(file).then(
        data => data,
      );
      const commaPosition = imagebase.lastIndexOf(',') + 1;
      const sendData = {
        filename: file.name,
        content: imagebase.substring(commaPosition),
      };

      return axios.post(`${process.env.GATE_URL}//file`, sendData, {
        headers: {
          'Content-Type': 'application/json',
          Authorization: this.token,
        },
      }).then((res) => {
        if (!res.data.error) {
          return {
            success: 1,
            file: {
              url: res.data.data.url,
            },
          };
        }
      });
    },

    getData() {
      return new Promise((resolve) => {
        this.$refs.editorjs._data.state.editor.save().then((result) => {
          resolve(result);
        });
      });
    },

    async handleEditorChange() {
      if (!this.hasInteracted && !this.value) {
        this.hasInteracted = true;
        return;
      }

      clearTimeout(this.debounceTimer);
      this.debounceTimer = setTimeout(async () => {
        if (this.$refs.editorjs) {
          const data = await this.$refs.editorjs._data.state.editor.save();
          const isEmpty =
            data.blocks.length === 0 ||
            data.blocks.every(block => !block.data.text || block.data.text.trim() === '',
            );

          this.$emit('input', isEmpty ? null : data);
        }
      }, 300);
    },
  },
};
</script>

<style lang="scss">
  .editor-js {
    color: #606060;

    .codex-editor {
      border: 1px solid #D8D8D8;
      border-radius: 0.25rem;

      .codex-editor__redactor {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        margin-right: 0 !important;

        .ce-block__content {
          max-width: 100% !important;
          padding-left: 15px;
          padding-right: 15px;

          .ce-paragraph[data-placeholder]:empty::before {
            color: #c6c9cd !important;
            font-size: 15px !important;
          }
          .cdx-input {
            font-size: 12px;
          }
          .image-tool, .cdx-quote {
            .cdx-input {
              outline: none;
              border-radius: 3px;
              border: none !important;
              box-shadow: none !important;
              box-sizing: border-box;
            }
          }
          .image-tool {
            .image-tool__image {
              .image-tool__image-picture {
                border-radius: 12px;
              }
            }
          }
          .cdx-checklist {
            .cdx-checklist__item {
              .cdx-checklist__item-text {
                font-size: 14px;
              }
            }
          }
          .cdx-list {
            padding-left: 25px !important;
          }
          .cdx-warning {
            padding-left: 25px;

            &::before {
              left: 0 !important;
            }
          }
          .tc-wrap {
            width: 96% !important;
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }
      }
      .ce-toolbar {
        .ce-toolbar__content {
          max-width: 98% !important;

          .ce-toolbar__actions {
            width: min-content !important;
            top: 20px;
            right: unset !important;
            box-shadow: 4px 0px 8px 0px #76767657;
            border-radius: 7px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: white;

            .ce-toolbar__plus, .ce-toolbar__settings-btn {
              width: 26px !important;
              min-width: 26px !important;
              max-width: 26px !important;
              height: 26px !important;
              min-height: 26px !important;
              max-height: 26px !important;
              border-radius: 9999px;
            }
          }
        }
      }
    }
  }

  .disabled-editor {
    pointer-events: none;
  }

  .text-editor-error {
    .codex-editor {
      border-color: #A94442 !important;
    }
  }

  .text-editor-modal-screen {
    .codex-editor {
      .codex-editor__redactor {
        .ce-block__content {
          .tc-wrap {
            width: 104% !important;
            padding-left: 14px;

            .tc-toolbox--row {
              left: -12px !important;
            }
            .tc-add-column, .tc-add-row {
              display: none !important;
            }
            .tc-table {
              .tc-row {
                &::after {
                  content: none !important;
                  width: 0px !important;
                  border-bottom: none !important;
                }
                .tc-cell {
                  &:last-child {
                    border-right: none !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 651px) {
    .ce-toolbox {
      left: 0 !important;
      right: unset !important;
    }
    .codex-editor--narrow .ce-toolbox .ce-popover {
      right: unset !important;
    }
  }
</style>
