<template>
  <div
    :class="{'p-0': whichRoute.includes('edit') || whichRoute.includes('create')}"
    class="component-card"
  >
    <div
      v-if="whichRoute.includes('edit') || whichRoute.includes('create')"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Attendance
        </div>
      </div>
    </div>
    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-reminder
      v-if="whichRoute === 'reminder-list'"
      :oos-route="prefix"
    />
    <j-holiday
      v-else-if="whichRoute === 'holiday-list'"
      :oos-route="prefix"
    />
    <j-shift
      v-else-if="whichRoute === 'shift-list'"
      :oos-route="prefix"
    />
    <j-mapping-shift
      v-else-if="whichRoute === 'mapping-shift-list'"
      :oos-route="prefix"
    />
    <j-venue
      v-else-if="whichRoute === 'venue-list'"
      :oos-route="prefix"
    />
    <j-exceed-notification
      v-else-if="whichRoute === 'exceed-list'"
      :oos-route="prefix"
    />
    <j-automatic-attendance
      v-else-if="whichRoute === 'auto-attendance-list'"
      :oos-route="prefix"
    />
    <j-reminder-form
      v-else-if="whichRoute.includes('reminder')"
      :mode="whichRoute === 'reminder-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-holiday-form
      v-else-if="whichRoute.includes('holiday')"
      :mode="whichRoute === 'holiday-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-mapping-shift-form
      v-else-if="whichRoute.includes('mapping-shift')"
      :mode="whichRoute === 'mapping-shift-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-shift-form
      v-else-if="whichRoute.includes('shift')"
      :mode="whichRoute === 'shift-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-venue-form
      v-else-if="whichRoute.includes('venue')"
      :mode="whichRoute === 'venue-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-code
      v-else
      :oos-route="prefix"
    />

  </div>
</template>

<script>
// list
import jCode from '@/views/application/application-component/times/attendance/config/code/jCode';
import jHoliday from '@/views/application/application-component/times/attendance/config/holiday/jHoliday';
import jMappingShift from '@/views/application/application-component/times/attendance/config/mapping-shift/jMappingShift';
import jReminder from '@/views/application/application-component/times/attendance/config/reminder/jReminder';
import jShift from '@/views/application/application-component/times/attendance/config/shift/jShift';
import jVenue from '@/views/application/application-component/times/attendance/config/venue/jVenue';
import jExceedNotification from '@/views/application/application-component/times/attendance/config/exceed-notification/jExceedNotification';
import jAutomaticAttendance from '@/views/application/application-component/times/attendance/config/automatic-attendance/jAutomaticAttendance';
// form
import jHolidayForm from '@/views/application/application-component/times/attendance/config/holiday/jHolidayForm';
import jMappingShiftForm from '@/views/application/application-component/times/attendance/config/mapping-shift/jMappingShiftForm';
import jReminderForm from '@/views/application/application-component/times/attendance/config/reminder/jReminderForm';
import jShiftForm from '@/views/application/application-component/times/attendance/config/shift/jShiftForm';
import jVenueForm from '@/views/application/application-component/times/attendance/config/venue/jVenueForm';

export default {
  components: {
    jAutomaticAttendance,
    jCode,
    jExceedNotification,
    jHoliday,
    jMappingShift,
    jReminder,
    jShift,
    jVenue,
    jHolidayForm,
    jMappingShiftForm,
    jReminderForm,
    jShiftForm,
    jVenueForm,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      // list
      if (url.includes('attendance/config/reminder/list')) {
        return 'reminder-list';
      } else if (url.includes('attendance/config/holiday/list')) {
        return 'holiday-list';
      } else if (url.includes('attendance/config/shift/list')) {
        return 'shift-list';
      } else if (url.includes('attendance/config/mapping-shift/list')) {
        return 'mapping-shift-list';
      } else if (url.includes('attendance/config/venue/list')) {
        return 'venue-list';
      } else if (url.includes('attendance/config/exceed-notification/list')) {
        return 'exceed-list';
      } else if (url.includes('attendance/config/automatic-attendance/list')) {
        return 'auto-attendance-list';

      // create & update
      } else if (url.includes('attendance/config/reminder/edit')) {
        return 'reminder-edit';
      } else if (url.includes('attendance/config/reminder/create')) {
        return 'reminder-create';
      } else if (url.includes('attendance/config/holiday/edit')) {
        return 'holiday-edit';
      } else if (url.includes('attendance/config/holiday/create')) {
        return 'holiday-create';
      } else if (url.includes('attendance/config/shift/edit')) {
        return 'shift-edit';
      } else if (url.includes('attendance/config/shift/create')) {
        return 'shift-create';
      } else if (url.includes('attendance/config/mapping-shift/edit')) {
        return 'mapping-shift-edit';
      } else if (url.includes('attendance/config/mapping-shift/create')) {
        return 'mapping-shift-create';
      } else if (url.includes('attendance/config/venue/edit')) {
        return 'venue-edit';
      } else if (url.includes('attendance/config/venue/create')) {
        return 'venue-create';
      }
      return 'code-list';
    },
    title() {
      if (this.whichRoute.includes('mapping')) {
        return 'Mapping Shift';
      }
      if (this.whichRoute.includes('venue')) {
        return 'Venue';
      }
      return this.element.name;
    },
  },
  methods: {

  },
};
</script>
