<template>
  <div
    :class="{'p-0': whichRoute.includes('detail')}"
    class="component-card"
  >
    <div
      v-if="whichRoute.includes('detail')"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div class="header-info-wrap">
        <div class="info-content">
          <div class="info-wrap">
            <div class="header-title">
              {{ employeeName }}
            </div>
            <div class="header-description">
              {{ userCompanyId }}
            </div>
          </div>
          <div class="info-wrap">
            <div class="header-subtitle">{{ email }}</div>
            <div class="header-description">
              {{ position }}
            </div>
          </div>
        </div>
        <div
          v-if="isFraud"
          class="info-fraud"
          @click="openModalFraud">
          <img src="@/assets/icon/triangle-exclamation.svg">
          <span>Fraud Detected</span>
        </div>
      </div>
    </div>

    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-monitor-attended-detail
      v-if="whichRoute === 'detail-attended'"
      :oos-route="prefix"
    />
    <j-leave-approver-detail
      v-else-if="whichRoute === 'detail-leave'"
      :oos-route="prefix"
      :is-popup="false"
      :is-monitor-attendance="true"
    />
    <j-monitor-attendance-list
      v-else
      :oos-route="prefix"
    />

    <b-modal
      ref="newFraudModal"
      class="mod-form modal-new-fraud"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-new-modal-fraud
        @close-modal="closeFraudModal" />
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jMonitorAttendanceList from '@/views/application/application-component/times/attendance/monitor/jMonitorAttendance';
import jMonitorAttendedDetail from '@/views/application/application-component/times/attendance/monitor/attended/jMonitorAttendedDetail';
import jLeaveApproverDetail from '@/views/application/application-component/times/leave/approver/jLeaveApproverDetail';
import jNewModalFraud from '@/views/application/application-component/times/attendance/monitor/attended/jNewModalFraud';

export default {
  components: {
    jMonitorAttendanceList,
    jMonitorAttendedDetail,
    jLeaveApproverDetail,
    jNewModalFraud,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      employeeName: null,
      userCompanyId: null,
      email: null,
      position: null,
      isFraud: false,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['detail_attendance', 'detail_fraud_attendance']),

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('attendance/monitor/attended/detail')) {
        return 'detail-attended';
      } else if (url.includes('leave/approver/detail')) {
        return 'detail-leave';
      }
      return 'list';
    },
  },
  watch: {
    detail_attendance(val) {
      if (val) {
        this.userCompanyId = val.user.id;
        this.employeeName = val.attendance.name;
        this.email = val.attendance.email;
        this.position = val.user.organigram && val.user.organigram.length > 0 ?
          val.user.organigram[0].name : null;
        this.isFraud = val.attendance.is_fraud;
      }
    },

    isFraud(val) {
      if (val) {
        const params = {
          attendance: [
            {
              id: this.$route.params.attendedId,
            },
          ],
        };
        this.actionGetDetailFraudAttendance(params);
      }
    },
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetDetailFraudAttendance']),

    openModalFraud() {
      this.$refs.newFraudModal.show();
    },

    closeFraudModal() {
      this.$refs.newFraudModal.hide();
    },
  },
};
</script>
