<template>
  <div
    :class="{'p-0': whichRoute === 'detail'}"
    class="component-card"
  >
    <div
      v-if="whichRoute === 'detail'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div class="header-info-wrap">
        <div class="info-content">
          <div class="info-wrap">
            <div class="header-title">
              {{ employeeName }}
            </div>
            <div class="header-description">
              {{ userCompanyId }}
            </div>
          </div>
          <div class="info-wrap">
            <div class="header-subtitle">{{ email }}</div>
            <div class="header-description">
              {{ position }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-my-log-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-my-log-list
      v-else
      :oos-route="prefix"
    />

  </div>
</template>

<script>
import { mapState } from 'vuex';
import jMyLogDetail from '@/views/application/application-component/times/attendance/mylog/jMyLogDetail';
import jMyLogList from '@/views/application/application-component/times/attendance/mylog/jMyLogList';

export default {
  components: {
    jMyLogDetail,
    jMyLogList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      employeeName: null,
      userCompanyId: null,
      email: null,
      position: null,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['detail_attendance']),

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('attendance/claimer/detail')) {
        return 'detail';
      }
      return 'list';
    },
    title() {
      if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  watch: {
    detail_attendance(val) {
      if (val) {
        this.userCompanyId = val.user.id;
        this.employeeName = val.attendance.name;
        this.email = val.attendance.email;
        this.position = val.user.organigram && val.user.organigram.length > 0 ?
          val.user.organigram[0].name : null;
      }
    },
  },
  methods: {

  },
};
</script>
