<template>
  <div class="component--leave-report">
    <div
      v-if="whichRoute.includes('detail')"
      class="header--leave-report"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Attendance
        </div>
      </div>
    </div>
    <div
      v-else-if="whichRoute === 'list'"
      class="header--leave-report"
    >
      {{ title.toLowerCase() }}
    </div>
    <div
      v-else
      class="header--leave-report"
    >
      {{ element.name }}
    </div>

    <j-attendance-report-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-my-log-detail
      v-else-if="whichRoute === 'detail-attendance'"
      :oos-route="prefix"
    />
    <j-my-log-detail-group
      v-else-if="whichRoute === 'detail-group-attendance'"
      :oos-route="prefix"
    />
    <j-attendance-report-tab
      v-else
      :oos-route="prefix"
    />

  </div>
</template>

<script>
import jAttendanceReportTab from '@/views/application/application-component/times/attendance/report/jAttendanceReportTab';
import jAttendanceReportDetail from '@/views/application/application-component/times/attendance/report/summary/jAttendanceReportDetail';
import jMyLogDetail from '@/views/application/application-component/times/attendance/mylog/jMyLogDetail';
import JMyLogDetailGroup from '@/views/application/application-component/times/attendance/mylog/jMyLogDetailGroup';

export default {
  components: {
    jAttendanceReportTab,
    jAttendanceReportDetail,
    jMyLogDetail,
    JMyLogDetailGroup,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('report/attendance/summary/detail')) {
        return 'detail';
      } else if (url.includes('attendance/claimer/detail')) {
        return 'detail-attendance';
      } else if (url.includes('attendance/group/detail')) {
        return 'detail-group-attendance';
      }
      return 'list';
    },
    title() {
      if (this.whichRoute.includes('detail') && this.$route.params.pageName) {
        return `${this.$route.params.pageName} Detail`;
      } else if (this.whichRoute === 'list' && this.$route.params.pageName) {
        return `${this.$route.params.pageName} Menu`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  methods: {

  },
};
</script>
