<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-co-attendance-monitor
      :element="element"
    />
  </div>
</template>

<script>
import jCoAttendanceMonitor from '@/views/application/application-component/times/co-attendance/monitor/jCoAttendanceMonitor';

export default {
  components: {
    jCoAttendanceMonitor,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {

  },
  methods: {

  },
};
</script>
