<template>
  <div
    :class="{'p-0': whichRoute.includes('detail') || whichRoute === 'create'}"
    class="component-card"
  >
    <div
      v-if="whichRoute.includes('detail') || whichRoute === 'create'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Co Attendance
        </div>
      </div>
    </div>
    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-co-attendance-new-request
      v-if="whichRoute === 'create'"
      :oos-route="prefix"
      mode="create"
    />
    <j-co-attendance-draft-detail
      v-else-if="whichRoute === 'draft-detail'"
      :oos-route="prefix"
      mode="draft-detail"
    />
    <j-co-attendance-req-detail
      v-else-if="whichRoute === 'detail'"
      :oos-route="prefix"
      mode="detail"
    />
    <j-co-attendance-req-sent
      v-else-if="whichRoute === 'sent'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-req-approved
      v-else-if="whichRoute === 'approved'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-req-rejected
      v-else-if="whichRoute === 'rejected'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-req-canceled
      v-else-if="whichRoute === 'canceled'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-req-draft
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jCoAttendanceNewRequest from '@/views/application/application-component/times/co-attendance/requestor/detail/jCoAttendanceNewRequest';
import jCoAttendanceReqDetail from '@/views/application/application-component/times/co-attendance/requestor/detail/jCoAttendanceReqDetail';
import jCoAttendanceDraftDetail from '@/views/application/application-component/times/co-attendance/requestor/detail/jCoAttendanceDraftDetail';
import jCoAttendanceReqDraft from '@/views/application/application-component/times/co-attendance/requestor/jCoAttendanceReqDraft';
import jCoAttendanceReqSent from '@/views/application/application-component/times/co-attendance/requestor/jCoAttendanceReqSent';
import jCoAttendanceReqApproved from '@/views/application/application-component/times/co-attendance/requestor/jCoAttendanceReqApproved';
import jCoAttendanceReqRejected from '@/views/application/application-component/times/co-attendance/requestor/jCoAttendanceReqRejected';
import jCoAttendanceReqCanceled from '@/views/application/application-component/times/co-attendance/requestor/jCoAttendanceReqCanceled';

export default {
  components: {
    jCoAttendanceNewRequest,
    jCoAttendanceReqDetail,
    jCoAttendanceDraftDetail,
    jCoAttendanceReqDraft,
    jCoAttendanceReqSent,
    jCoAttendanceReqApproved,
    jCoAttendanceReqRejected,
    jCoAttendanceReqCanceled,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('co-attendance/requestor/create')) {
        return 'create';
      } else if (url.includes('co-attendance/requestor/draft/detail')) {
        return 'draft-detail';
      } else if (url.includes('co-attendance/requestor/detail')) {
        return 'detail';
      } else if (url.includes('co-attendance/requestor/sent')) {
        return 'sent';
      } else if (url.includes('co-attendance/requestor/approved')) {
        return 'approved';
      } else if (url.includes('co-attendance/requestor/rejected')) {
        return 'rejected';
      } else if (url.includes('co-attendance/requestor/canceled')) {
        return 'canceled';
      }
      return 'draft';
    },
    title() {
      if (this.whichRoute.includes('draft') && this.$route.params.pageName) {
        return `Draft ${this.$route.params.pageName}`;
      } else if (this.whichRoute === 'create' && this.$route.params.pageName) {
        return `Create ${this.$route.params.pageName}`;
      } else if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  methods: {

  },
};
</script>
