<template>
  <div
    :class="{'p-0': whichRoute.includes('detail')}"
    class="component-card"
  >
    <div
      v-if="whichRoute.includes('detail')"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Co Attendance
        </div>
      </div>
    </div>
    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-co-attendance-app-detail
      v-if="whichRoute === 'sent-detail'"
      :oos-route="prefix"
      mode="sent-detail"
    />
    <j-co-attendance-app-detail
      v-else-if="whichRoute === 'detail'"
      :oos-route="prefix"
      mode="detail"
    />
    <j-co-attendance-app-approved
      v-else-if="whichRoute === 'approved'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-app-rejected
      v-else-if="whichRoute === 'rejected'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-app-canceled
      v-else-if="whichRoute === 'canceled'"
      :element="element"
      :oos-route="prefix"
    />
    <j-co-attendance-app-sent
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jCoAttendanceAppDetail from '@/views/application/application-component/times/co-attendance/approver/detail/jCoAttendanceAppDetail';
import jCoAttendanceAppSent from '@/views/application/application-component/times/co-attendance/approver/jCoAttendanceAppSent';
import jCoAttendanceAppApproved from '@/views/application/application-component/times/co-attendance/approver/jCoAttendanceAppApproved';
import jCoAttendanceAppRejected from '@/views/application/application-component/times/co-attendance/approver/jCoAttendanceAppRejected';
import jCoAttendanceAppCanceled from '@/views/application/application-component/times/co-attendance/approver/jCoAttendanceAppCanceled';

export default {
  components: {
    jCoAttendanceAppDetail,
    jCoAttendanceAppSent,
    jCoAttendanceAppApproved,
    jCoAttendanceAppRejected,
    jCoAttendanceAppCanceled,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('co-attendance/approver/sent/detail')) {
        return 'sent-detail';
      } else if (url.includes('co-attendance/approver/detail')) {
        return 'detail';
      } else if (url.includes('co-attendance/approver/approved')) {
        return 'approved';
      } else if (url.includes('co-attendance/approver/rejected')) {
        return 'rejected';
      } else if (url.includes('co-attendance/approver/canceled')) {
        return 'canceled';
      }
      return 'sent';
    },
    title() {
      if (this.whichRoute.includes('draft') && this.$route.params.pageName) {
        return `Draft ${this.$route.params.pageName}`;
      } else if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('co-attendance/approver')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/co-attendance/approver/sent`);
    }
  },
  methods: {

  },
};
</script>
