<template>
  <div
    :class="{
      'component-leave-config' : whichRoute !== 'list',
      'p-0': whichRoute === 'detail' || whichRoute === 'create'
    }"
  >
    <div
      v-if="whichRoute === 'detail' || whichRoute === 'create'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Leave
        </div>
      </div>

    </div>
    <j-leave-config-update
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-leave-config-create
      v-else-if="whichRoute === 'create'"
      :oos-route="prefix"
    />
    <j-leave-type-create
      v-else-if="whichRoute === 'create_type'"
      :oos-route="prefix"
    />
    <j-leave-type-update
      v-else-if="whichRoute === 'update_type'"
      :oos-route="prefix"
    />
    <j-leave-config
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jLeaveConfig from '@/views/application/application-component/times/leave/config/jLeaveConfig';
import jLeaveConfigCreate from '@/views/application/application-component/times/leave/config/mapping/jLeaveConfigMappingCreate';
import jLeaveConfigUpdate from '@/views/application/application-component/times/leave/config/mapping/jLeaveConfigMappingUpdate';
import jLeaveTypeCreate from '@/views/application/application-component/times/leave/config/leave-type/jLeaveConfigLeaveTypeCreate';
import jLeaveTypeUpdate from '@/views/application/application-component/times/leave/config/leave-type/jLeaveConfigLeaveTypeUpdate';

export default {
  components: {
    jLeaveConfig,
    jLeaveConfigCreate,
    jLeaveConfigUpdate,
    jLeaveTypeCreate,
    jLeaveTypeUpdate,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('leave/config/mapping/create')) {
        return 'create';
      } else if (url.includes('leave/config/mapping/detail')) {
        return 'detail';
      } else if (url.includes('leave/config/leave-type/create')) {
        return 'create_type';
      } else if (url.includes('leave/config/leave-type/detail')) {
        return 'update_type';
      }
      return 'list';
    },
    title() {
      if (this.whichRoute === 'create') {
        return 'Create Mapping';
      } if (this.whichRoute === 'detail') {
        return 'Mapping Detail';
      }
      return `${this.whichRoute} Mapping`;
    },
  },
  methods: {

  },
};
</script>
