<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-leave-approver-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-leave-approver-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jLeaveApproverList from '@/views/application/application-component/times/leave/approver/jLeaveApproverList';
import jLeaveApproverDetail from '@/views/application/application-component/times/leave/approver/jLeaveApproverDetail';

export default {
  components: {
    jLeaveApproverList,
    jLeaveApproverDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('leave/approver/detail')) {
        return 'detail';
      }
      return 'list';
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('leave/approver')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/approver/sent`);
    }
  },
  methods: {

  },
};
</script>
