<template>
  <div
    :class="{'p-0': whichRoute === 'detail'}"
    class="component-card"
  >
    <div
      v-if="whichRoute === 'detail'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Leave
        </div>
      </div>
    </div>
    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-leave-approver-detail-page
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-leave-monitor-approved
      v-else-if="whichRoute === 'approved'"
      :element="element"
      :oos-route="prefix"
    />
    <j-leave-monitor-rejected
      v-else-if="whichRoute === 'rejected'"
      :element="element"
      :oos-route="prefix"
    />
    <j-leave-monitor-canceled
      v-else-if="whichRoute === 'canceled'"
      :element="element"
      :oos-route="prefix"
    />
    <j-leave-monitor-aborted
      v-else-if="whichRoute === 'aborted'"
      :element="element"
      :oos-route="prefix"
    />
    <j-leave-monitor-sent
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jLeaveMonitorSent from '@/views/application/application-component/times/leave/monitor/jLeaveMonitorSent';
import jLeaveMonitorApproved from '@/views/application/application-component/times/leave/monitor/jLeaveMonitorApproved';
import jLeaveMonitorRejected from '@/views/application/application-component/times/leave/monitor/jLeaveMonitorRejected';
import jLeaveMonitorCanceled from '@/views/application/application-component/times/leave/monitor/jLeaveMonitorCanceled';
import jLeaveMonitorAborted from '@/views/application/application-component/times/leave/monitor/jLeaveMonitorAborted';
import jLeaveApproverDetailPage from '@/views/application/application-component/times/leave/approver/jLeaveApproverDetailPage';

export default {
  components: {
    jLeaveMonitorSent,
    jLeaveMonitorApproved,
    jLeaveMonitorRejected,
    jLeaveMonitorCanceled,
    jLeaveMonitorAborted,
    jLeaveApproverDetailPage,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('leave/approver/detail')) {
        return 'detail';
      } else if (url.includes('leave/monitor/approved')) {
        return 'approved';
      } else if (url.includes('leave/monitor/rejected')) {
        return 'rejected';
      } else if (url.includes('leave/monitor/canceled')) {
        return 'canceled';
      } else if (url.includes('leave/monitor/aborted')) {
        return 'aborted';
      }
      return 'sent';
      // return 'list';
    },
    title() {
      if (this.whichRoute === 'detail' && this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (url.includes('leave/approver/detail')) {
      // nothing to do
    } else if (!url.includes('leave/monitor')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/monitor/sent`);
    }
  },
  methods: {

  },
};
</script>
