<template>
  <div class="component--leave-report">
    <div
      v-if="whichRoute === 'detail' || whichRoute === 'create'"
      class="header--leave-report"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      {{ element.name }} {{ whichRoute }}
    </div>
    <div
      v-else
      class="header--leave-report"
    >
      {{ element.name }}
    </div>

    <j-report-leave-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-report-leave
      v-else-if="whichRoute === 'list'"
      :oos-route="prefix"
    />
    <j-report-leave-summary
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jReportLeave from '@/views/application/application-component/times/leave/report/leave/jLeaveTab';
import jReportLeaveSummary from '@/views/application/application-component/times/leave/report/summary/jLeaveSummaryTab';
import jReportLeaveDetail from '@/views/application/application-component/times/leave/report/leave/detail/jLeaveDetail';

export default {
  components: {
    jReportLeave,
    jReportLeaveSummary,
    jReportLeaveDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('report/leave/detail')) {
        return 'detail';
      } else if (url.includes('report/leave/list')) {
        return 'list';
      }
      return 'summary';
    },
  },
  methods: {

  },
};
</script>
