<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-leave-claimer-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-leave-claimer-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jLeaveClaimerList from '@/views/application/application-component/times/leave/claimer/jLeaveClaimerList';
import jLeaveClaimerDetail from '@/views/application/application-component/times/leave/claimer/jLeaveClaimerDetail';

export default {
  components: {
    jLeaveClaimerList,
    jLeaveClaimerDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('leave/claimer/detail')) {
        return 'detail';
      }
      return 'list';
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('leave/claimer')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/leave/claimer/draft`);
    }
  },
  methods: {

  },
};
</script>
