<template>
  <div
    :class="{'p-0': whichRoute.includes('edit') || whichRoute.includes('create')}"
    class="component-card"
  >
    <div
      v-if="whichRoute.includes('edit') || whichRoute.includes('create')"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Overtime
        </div>
      </div>
    </div>
    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-formula
      v-if="whichRoute === 'formula-list' && times_features"
      :oos-route="prefix"
      :is-need-formula="times_features.includes(35)"
    />
    <j-policy
      v-else-if="whichRoute === 'policy-list' && times_features"
      :oos-route="prefix"
      :is-need-formula="times_features.includes(35)"
    />
    <j-overtime-type
      v-else-if="whichRoute === 'type-list' && times_features"
      :oos-route="prefix"
      :is-need-formula="times_features.includes(35)"
    />
    <j-formula-form
      v-else-if="whichRoute.includes('formula')"
      :mode="whichRoute === 'formula-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-policy-form
      v-else-if="whichRoute.includes('policy')"
      :mode="whichRoute === 'policy-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-overtime-type-form
      v-else-if="whichRoute.includes('type')"
      :mode="whichRoute === 'type-edit' ? 'edit' : 'create'"
      :oos-route="prefix"
    />
    <j-overtime-type
      v-else-if="times_features"
      :oos-route="prefix"
      :is-need-formula="times_features.includes(35)"
    />

  </div>
</template>

<script>
// list
import jFormula from '@/views/application/application-component/times/overtime/config/formula/jFormula';
import jOvertimeType from '@/views/application/application-component/times/overtime/config/type/jOvertimeType';
import jPolicy from '@/views/application/application-component/times/overtime/config/policy/jPolicy';
// form
import jFormulaForm from '@/views/application/application-component/times/overtime/config/formula/jFormulaForm';
import jOvertimeTypeForm from '@/views/application/application-component/times/overtime/config/type/jOvertimeTypeForm';
import jPolicyForm from '@/views/application/application-component/times/overtime/config/policy/jPolicyForm';
import { mapActions, mapState } from 'vuex';

export default {
  components: {
    jFormula,
    jOvertimeType,
    jPolicy,
    jFormulaForm,
    jOvertimeTypeForm,
    jPolicyForm,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['times_features']),

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      // list
      if (url.includes('overtime/config/formula/list')) {
        return 'formula-list';
      } else if (url.includes('overtime/config/policy/list')) {
        return 'policy-list';
      } else if (url.includes('overtime/config/type/list')) {
        return 'type-list';

      // create
      } else if (url.includes('overtime/config/formula/create')) {
        return 'formula-create';
      } else if (url.includes('overtime/config/policy/create')) {
        return 'policy-create';
      } else if (url.includes('overtime/config/type/create')) {
        return 'type-create';

      // edit
      } else if (url.includes('overtime/config/formula/edit')) {
        return 'formula-edit';
      } else if (url.includes('overtime/config/policy/edit')) {
        return 'policy-edit';
      } else if (url.includes('overtime/config/type/edit')) {
        return 'type-edit';
      }
      return 'type-list';
    },
    title() {
      if (this.whichRoute.includes('formula')) {
        return 'Formula Config';
      }
      if (this.whichRoute.includes('policy')) {
        return 'Policy Config';
      }
      if (this.whichRoute.includes('type')) {
        return 'Overtime Type Config';
      }
      return this.element.name;
    },
  },
  created() {
    this.actionGetListTimesFeatures();
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetListTimesFeatures']),

  },
};
</script>
