<template>
  <div
    :class="{'p-0': whichRoute === 'detail' || whichRoute === 'create'}"
    class="component-card"
  >
    <div
      v-if="whichRoute === 'detail' || whichRoute === 'create'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Overtime
        </div>
      </div>
    </div>

    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-monitor-overtime-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
      mode="detail"
    />
    <j-monitor-overtime-list
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jMonitorOvertimeList from '@/views/application/application-component/times/overtime/monitor/jMonitorOvertimeList';
import jMonitorOvertimeDetail from '@/views/application/application-component/times/overtime/monitor/detail/jMonitorOvertimeDetail';

export default {
  components: {
    jMonitorOvertimeList,
    jMonitorOvertimeDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('overtime/monitor/detail')) {
        return 'detail';
      }
      return 'list';
    },
    title() {
      if (this.whichRoute.includes('create') && this.$route.params.pageName) {
        return `Draft ${this.$route.params.pageName}`;
      } else if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('overtime/monitor/')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/overtime/monitor/sent`);
    }
  },
  methods: {

  },
};
</script>
