<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-overtime-summary-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-overtime-report-tab
      v-else
      :oos-route="prefix"
    />

  </div>
</template>

<script>
import jOvertimeReportTab from '@/views/application/application-component/times/overtime/report/jOvertimeReportTab';
import jOvertimeSummaryDetail from '@/views/application/application-component/times/overtime/report/summary/jOvertimeSummaryDetail';

export default {
  components: {
    jOvertimeReportTab,
    jOvertimeSummaryDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('report/overtime/detail')) {
        return 'detail';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
