<template>
  <div
    :class="{'p-0': whichRoute === 'detail' || whichRoute === 'create'}"
    class="component-card"
  >
    <div
      v-if="whichRoute === 'detail' || whichRoute === 'create'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Overtime
        </div>
      </div>
    </div>

    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-overtime-req-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
      mode="detail"
    />
    <j-overtime-req-approved
      v-else-if="whichRoute === 'approved'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-req-rejected
      v-else-if="whichRoute === 'rejected'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-req-canceled
      v-else-if="whichRoute === 'canceled'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-create
      v-else-if="whichRoute === 'create'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-req-sent
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jOvertimeCreate from '@/views/application/application-component/times/overtime/requestor/detail/jOvertimeCreate';
import jOvertimeReqDetail from '@/views/application/application-component/times/overtime/requestor/detail/jOvertimeReqDetail';
import jOvertimeReqSent from '@/views/application/application-component/times/overtime/requestor/jOvertimeReqSent';
import jOvertimeReqApproved from '@/views/application/application-component/times/overtime/requestor/jOvertimeReqApproved';
import jOvertimeReqRejected from '@/views/application/application-component/times/overtime/requestor/jOvertimeReqRejected';
import jOvertimeReqCanceled from '@/views/application/application-component/times/overtime/requestor/jOvertimeReqCanceled';

export default {
  components: {
    jOvertimeCreate,
    jOvertimeReqDetail,
    jOvertimeReqSent,
    jOvertimeReqApproved,
    jOvertimeReqRejected,
    jOvertimeReqCanceled,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('overtime/requestor/detail')) {
        return 'detail';
      } else if (url.includes('overtime/requestor/approved')) {
        return 'approved';
      } else if (url.includes('overtime/requestor/rejected')) {
        return 'rejected';
      } else if (url.includes('overtime/requestor/canceled')) {
        return 'canceled';
      } else if (url.includes('overtime/requestor/create')) {
        return 'create';
      }
      return 'sent';
    },
    title() {
      if (this.whichRoute.includes('draft') && this.$route.params.pageName) {
        return `Draft ${this.$route.params.pageName}`;
      } else if (this.whichRoute === 'create' && this.$route.params.pageName) {
        return `Create ${this.$route.params.pageName}`;
      } else if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('overtime/requestor')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/overtime/requestor/sent`);
    }
  },
  methods: {

  },
};
</script>
