<template>
  <div
    :class="{'p-0': whichRoute === 'detail'}"
    class="component-card"
  >
    <div
      v-if="whichRoute === 'detail'"
      class="header-detail-back"
    >
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)"
      />
      <div>
        <div class="header-title">
          {{ title.toLowerCase() }}
        </div>
        <div class="header-description">
          Overtime
        </div>
      </div>
    </div>

    <b-row
      v-else
      class="m__b--10"
    >
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-overtime-app-detail
      v-if="whichRoute === 'sent-detail'"
      :oos-route="prefix"
      mode="sent-detail"
    />
    <j-overtime-app-detail
      v-else-if="whichRoute === 'detail'"
      :oos-route="prefix"
      mode="detail"
    />
    <j-overtime-app-approved
      v-else-if="whichRoute === 'approved'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-app-rejected
      v-else-if="whichRoute === 'rejected'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-app-canceled
      v-else-if="whichRoute === 'canceled'"
      :element="element"
      :oos-route="prefix"
    />
    <j-overtime-app-sent
      v-else
      :element="element"
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jOvertimeAppDetail from '@/views/application/application-component/times/overtime/approver/detail/jOvertimeAppDetail';
import jOvertimeAppSent from '@/views/application/application-component/times/overtime/approver/jOvertimeAppSent';
import jOvertimeAppApproved from '@/views/application/application-component/times/overtime/approver/jOvertimeAppApproved';
import jOvertimeAppRejected from '@/views/application/application-component/times/overtime/approver/jOvertimeAppRejected';
import jOvertimeAppCanceled from '@/views/application/application-component/times/overtime/approver/jOvertimeAppCanceled';

export default {
  components: {
    jOvertimeAppDetail,
    jOvertimeAppSent,
    jOvertimeAppApproved,
    jOvertimeAppRejected,
    jOvertimeAppCanceled,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('overtime/approver/sent/detail')) {
        return 'sent-detail';
      } else if (url.includes('overtime/approver/detail')) {
        return 'detail';
      } else if (url.includes('overtime/approver/approved')) {
        return 'approved';
      } else if (url.includes('overtime/approver/rejected')) {
        return 'rejected';
      } else if (url.includes('overtime/approver/cancel')) {
        return 'canceled';
      }
      return 'sent';
    },
    title() {
      if (this.whichRoute.includes('draft') && this.$route.params.pageName) {
        return `Draft ${this.$route.params.pageName}`;
      } else if (this.$route.params.pageName) {
        return `${this.$route.params.pageName} ${this.whichRoute}`;
      }
      return `${this.element.name} ${this.whichRoute}`;
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('overtime/approver')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/overtime/approver/sent`);
    }
  },
  methods: {

  },
};
</script>
