<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-title-header :options="title"/>

    <b-row
      v-if="attendance_today"
      class="m__b--32"
    >
      <b-col
        cols="12"
        class="d-flex justify-content-around"
      >
        <div
          v-for="(item, index) in attendance_today.results"
          :key="index"
          class="d-flex"
        >
          <img
            :src="require(`@/assets/icon/times/${item[0].toLowerCase()}.svg`)"
            width="46"
            height="46"
          >
          <div class="d-flex flex-column m__l--16">
            <span
              class="font-weight-bold"
              style="font-size: 16px"
            >
              {{ item[1] }}
            </span>
            <span class="font-weight-bold">
              {{ item[0] }}
            </span>
            <span>
              {{ `of ${attendance_today.total_user}` }}
            </span>
          </div>
        </div>
      </b-col>
    </b-row>

    <j-title-header :options="chartTitle"/>

    <b-row>
      <b-col cols="6">
        <h6>Today</h6>
        <DoughnutChart
          v-if="attendance_today"
          :data-chart="attendance_today"
        />
      </b-col>
      <b-col cols="6">
        <h6>{{ `Last ${attendance_fivedays.key.length} Days` }}</h6>
        <BarChart
          v-if="attendance_fivedays"
          :data-chart="attendance_fivedays"
        />
      </b-col>

      <b-col cols="12">
        <j-attendance-list />
      </b-col>
    </b-row>

  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import DoughnutChart from '@/components/chart/DonutChart';
import BarChart from '@/components/chart/BarChart';
import jAttendanceList from './dashboard/manager/jAttendanceList';

export default {
  components: {
    DoughnutChart,
    BarChart,
    jAttendanceList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-file',
        main_title: `Today's Attendance - ${this.$moment(new Date()).format('MMM, DD YYYY')}`,
      },
      chartTitle: {
        icon: 'fa-file',
        main_title: 'Team Attendance',
      },
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['attendance_today', 'attendance_fivedays']),

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
  },
  created() {
    this.actionGetAttendanceToday();
    this.actionGetAttendanceFivedays();
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetAttendanceToday', 'actionGetAttendanceFivedays']),

  },
};
</script>
