<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-assignment
      v-if="whichRoute === 'assignment'"
      :oos-route="prefix"
    />
    <j-assignment-create
      v-else-if="whichRoute === 'create_assignment'"
      :oos-route="prefix"
    />
    <j-assignment-edit
      v-else-if="whichRoute === 'edit_assignment'"
      :oos-route="prefix"
    />
    <j-project-create
      v-else-if="whichRoute === 'create_project'"
      :oos-route="prefix"
    />
    <j-project-edit
      v-else-if="whichRoute === 'edit_project'"
      :oos-route="prefix"
    />
    <j-project
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jProject from '@/views/application/application-component/times/timesheet/config/project/jProject';
import jProjectCreate from '@/views/application/application-component/times/timesheet/config/project/jCreateProject';
import jProjectEdit from '@/views/application/application-component/times/timesheet/config/project/jEditProject';
import jAssignment from '@/views/application/application-component/times/timesheet/config/assignment/jAssignment';
import jAssignmentCreate from '@/views/application/application-component/times/timesheet/config/assignment/jCreateAssignment';
import jAssignmentEdit from '@/views/application/application-component/times/timesheet/config/assignment/jEditAssignment';

export default {
  components: {
    jProject,
    jProjectCreate,
    jProjectEdit,
    jAssignment,
    jAssignmentCreate,
    jAssignmentEdit,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('timesheet/assignment/list')) {
        return 'assignment';
      } else if (url.includes('timesheet/assignment/create')) {
        return 'create_assignment';
      } else if (url.includes('timesheet/assignment/edit')) {
        return 'edit_assignment';
      } else if (url.includes('timesheet/project/create')) {
        return 'create_project';
      } else if (url.includes('timesheet/project/edit')) {
        return 'edit_project';
      }
      return 'project';
    },
  },
  methods: {

  },
};
</script>
