<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-timesheet-summary-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-timesheet-form-project-tab
      v-else-if="whichRoute === 'form-project'"
      :oos-route="prefix"
    />
    <j-timesheet-summary-tab
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jTimesheetSummaryTab from '@/views/application/application-component/times/timesheet/report/summary/jTimesheetSummaryTab';
import jTimesheetSummaryDetail from '@/views/application/application-component/times/timesheet/report/summary/jTimesheetSummaryDetail';
import jTimesheetFormProjectTab from '@/views/application/application-component/times/timesheet/report/form-project/jTimesheetFormProjectTab';

export default {
  components: {
    jTimesheetSummaryTab,
    jTimesheetSummaryDetail,
    jTimesheetFormProjectTab,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('report/timesheet/summary/detail')) {
        return 'detail';
      } else if (url.includes('report/timesheet/form-project')) {
        return 'form-project';
      }
      return 'timesheet';
    },
  },
  methods: {

  },
};
</script>
