<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <j-title-header :options="attendanceTitle"/>
        <j-attendance-list />
      </b-col>

      <b-col cols="12">
        <j-title-header :options="overtimeTitle"/>
        <j-overtime-detail-list />
      </b-col>

      <b-col cols="12">
        <j-title-header :options="shiftSchedulerTitle"/>
        <j-shift-scheduler-list />
      </b-col>

      <b-col cols="12">
        <j-title-header :options="shiftTimingTitle"/>
        <j-shift-timing-list />
      </b-col>
    </b-row>

  </div>
</template>

<script>
import jAttendanceList from './dashboard/employee/jAttendanceList';
import jOvertimeDetailList from './dashboard/employee/jOvertimeDetailList';
import jShiftSchedulerList from './dashboard/employee/jShiftSchedulerList';
import jShiftTimingList from './dashboard/employee/jShiftTimingList';

export default {
  components: {
    jAttendanceList,
    jOvertimeDetailList,
    jShiftSchedulerList,
    jShiftTimingList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      attendanceTitle: {
        icon: 'fa-file',
        main_title: 'Last 10 Days',
      },
      overtimeTitle: {
        icon: 'fa-file',
        main_title: 'Overtime Detail',
      },
      shiftSchedulerTitle: {
        icon: 'fa-file',
        main_title: 'Shift Scheduler',
      },
      shiftTimingTitle: {
        icon: 'fa-file',
        main_title: 'Shift Timing',
      },
    };
  },
  computed: {

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
  },
  methods: {

  },
};
</script>
