<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-timesheet-approver-reported-list
      v-if="whichRoute === 'reported'"
      :oos-route="prefix"
    />
    <j-timesheet-approver-rejected-list
      v-else-if="whichRoute === 'rejected'"
      :oos-route="prefix"
    />
    <j-timesheet-approver-sent-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jTimesheetApproverSentList from '@/views/application/application-component/times/timesheet/claimer/list/approver/jTimesheetApproverSentList';
import jTimesheetApproverRejectedList from '@/views/application/application-component/times/timesheet/claimer/list/approver/jTimesheetApproverRejectedList';
import jTimesheetApproverReportedList from '@/views/application/application-component/times/timesheet/claimer/list/approver/jTimesheetApproverReportedList';

export default {
  components: {
    jTimesheetApproverSentList,
    jTimesheetApproverRejectedList,
    jTimesheetApproverReportedList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('timesheet/approver/reported')) {
        return 'reported';
      } else if (url.includes('timesheet/approver/rejected')) {
        return 'rejected';
      }
      return 'sent';
    },
  },
  beforeCreate() {
    const url = window.location.href;
    if (!url.includes('timesheet/approver')) {
      this.$router.push(`/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}/timesheet/approver/sent`);
    }
  },
  methods: {

  },
};
</script>
