<template>
  <div class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-timesheet-reported-list
      v-if="whichRoute === 'reported'"
      :oos-route="prefix"
      :is-auto-approve="checkAutoApprove"
    />
    <j-timesheet-sent-list
      v-else-if="whichRoute === 'sent'"
      :oos-route="prefix"
      :is-auto-approve="checkAutoApprove"
    />
    <j-timesheet-draft-list
      v-else
      :oos-route="prefix"
      :is-auto-approve="checkAutoApprove"
    />
  </div>
</template>

<script>
import jTimesheetDraftList from '@/views/application/application-component/times/timesheet/claimer/list/jTimesheetDraftList';
import jTimesheetSentList from '@/views/application/application-component/times/timesheet/claimer/list/jTimesheetSentList';
import jTimesheetReportedList from '@/views/application/application-component/times/timesheet/claimer/list/jTimesheetReportedList';

export default {
  components: {
    jTimesheetDraftList,
    jTimesheetSentList,
    jTimesheetReportedList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('timesheet/claimer/reported')) {
        return 'reported';
      } else if (url.includes('timesheet/claimer/sent')) {
        return 'sent';
      }
      return 'draft';
    },
    checkAutoApprove() {
      const data = this.element.info;
      return data !== '' ? JSON.parse(data).is_auto_approve : true;
    },
  },
  methods: {

  },
};
</script>
