<template>
  <div class="p-4">
    <b-modal
      ref="formModal"
      title="Add Relation"
      centered
      no-stacking
      header-text-variant="primary"
      ok-title="Submit"
      cancel-title="Close"
      @ok="submitRelation">
      <div class="row">
        <b-form-group
          :class="{'error-input' : $v.form_modal.leave_type.$error}"
          class="col-9">
          <label>Leave Type</label>
          <j-single-select
            v-model="form_modal.leave_type"
            :options="type_options"
            placeholder="Select leave type"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota.$error}"
          class="col-3">
          <label>Quota</label>
          <j-input
            v-model.number="form_modal.quota"
            placeholder="ex, 12"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_current.$error}"
          class="col-3">
          <label>Current Quota</label>
          <j-input
            v-model.number="form_modal.quota_current"
            :disabled="mode === 'edit'"
            placeholder="ex, 12"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_carried.$error}"
          class="col-3">
          <label>Carry Forward</label>
          <j-input
            v-model.number="form_modal.quota_carried"
            :disabled="mode === 'edit'"
            placeholder="ex, 6"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_used.$error}"
          class="col-3">
          <label>Leave Used</label>
          <j-input
            v-model.number="form_modal.quota_used"
            placeholder="ex, 3"/>
        </b-form-group>
        <div
          v-if="form_modal.quota_used && form_modal.quota_carried"
          class="col-12">
          <p class="c--blue">
            {{ quotaText(form_modal.quota_used, form_modal.quota_carried) }}
          </p>
        </div>
        <!-- <b-form-group
          :class="{'error-input' : $v.form_modal.approval.$error}"
          class="col-12">
          <label>Approval</label>
          <j-single-select
            v-model="form_modal.approval"
            :options="approval_options"
            placeholder="ex, Approval A"
            @open="showRuleModal"/>
        </b-form-group> -->
        <b-form-group
          :class="{'error-input' : $v.form_modal.start_date.$error}"
          class="col-6">
          <label>Start Date</label>
          <j-datepicker
            v-model="form_modal.start_date"
            :disabled-dates="disabled_dates"
            format="MMM dd, yyyy"
            placeholder="ex, Jan 1, 2020"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.end_date.$error}"
          class="col-6">
          <label>End Date</label>
          <j-datepicker
            v-model="form_modal.end_date"
            :disabled-dates="disabled_dates"
            format="MMM dd, yyyy"
            placeholder="ex, Jan 1, 2020"/>
        </b-form-group>
      </div>
    </b-modal>
    <b-modal
      ref="ruleTableModal"
      title="Rule List"
      size="lg"
      centered
      hide-header-close
      no-close-on-backdrop
      no-close-on-esc
      header-text-variant="primary"
      ok-title="Save Changes"
      cancel-title="Close"
      @hidden="onClickCloseRuleTableModal"
      @cancel="cancelRule"
      @close="cancelRule"
      @ok="submitRule">
      <v-client-table
        v-if="load_first"
        ref="ruleTable"
        :data="rule_table.data"
        :options="rule_table.options"
        :columns="rule_table.columns"
        class="jTable">
        <div
          slot="id"
          slot-scope="props"
          class="jTableReport"
          @click.stop>
          <b-form-group>
            <b-form-radio-group
              v-model="selected_row">
              <label class="container">
                <b-form-checkbox
                  :value="props.row"
                  class="radio-button"/>
                <span
                  :class="checked[props.index - 1] ?
                  'checkmark bc--blue checked-checmark' : 'checkmark bc--white'"
                  @click="printCheck(props.index)"/>
              </label>
            </b-form-radio-group>
          </b-form-group>
        </div>
        <div
          slot="rule"
          slot-scope="props">
          <rule-summary
            :data-summary="dataRule(props.row.rules)"
            class="rule-flow"/>
        </div>
        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form
            inline
            @keypress.13.prevent="filter(filter_data)">
            <j-input
              v-model="filter_data"
              placeholder="search"
              class="m__r--5"/>
            <b-button
              class="btn blue outline"
              @click="filter(filter_data)">
              <i class="fa fa-search bold" /> Search
            </b-button>
          </b-form>
        </div>
      </v-client-table>
      <center v-else>Loading...</center>
    </b-modal>
    <b-modal
      ref="deleteModal"
      centered
      hide-header
      hide-footer
      no-stacking
      @hidden="deleted_data_id = null">
      <center>
        <h2 class="c--red">Delete Relation</h2>
        <h6>Are you sure want to delete this data?</h6>
        <div class="m__t--20">
          <b-button
            class="btn gray"
            @click="closeDeleteModal">
            Cancel
          </b-button>
          <b-button
            class="btn red m__l--10"
            @click="deleteRelation">
            Delete
          </b-button>
        </div>
      </center>
    </b-modal>
    <div class="row">
      <div class="col-12">
        <h3 class="m__t--20 c--blue">EMPLOYEE ACCOUNT</h3>
        <b-form-group :class="{'error-input' : $v.form.employee.$error}">
          <label class="label-container">Employee Name
            <span class="select-button">
              <span
                class="float-right c--blue f--bold label-button"
                @click="unselectAll">Unselect All</span>
              <span
                v-show="false"
                class="float-right m__r--10 c--blue f--bold label-button"
                @click="selectAll">Select All</span>
            </span>
          </label>
          <j-multi-select
            :is-async="true"
            :load-options="loadOptionsEmployee"
            v-model="form.employee"
            value-format="object"
            placeholder="Select employee"
            @getData="getData"/>
        </b-form-group>
        <h3
          class="label-container c--blue m__t--15">RELATION
          <span class="select-button">
            <b-button
              class="float-right btn outline green icon"
              style="float: right"
              @click="onClickAddRelation">
              <i class="fa fa-plus"/>
              Add Relation
            </b-button>
          </span>
        </h3>
        <v-client-table
          :data="relation_table.data"
          :options="relation_table.options"
          :columns="relation_table.columns"
          class="jTable m__t--10">
          <div
            slot="leave_type"
            slot-scope="props">
            {{ props.row.type_name }}
          </div>
          <div
            slot="start_end_date"
            slot-scope="props">
            <div>
              <span style="font-size: 12.9px">{{ props.row.start_date }}</span><br>
              <i class="c--red">{{ props.row.end_date }}</i>
            </div>
          </div>
          <div
            slot="created_updated_date"
            slot-scope="props">
            <div>
              <span style="font-size: 12.9px">{{ props.row.created_date }}</span><br>
              <i class="c--red">{{ props.row.updated_date }}</i>
            </div>
          </div>
          <div
            slot="action"
            slot-scope="props">
            <b-button
              class="btn outline orange icon action-btn"
              @click="onClickEditRelation(props.row, props.index)">
              <i class="fa fa-pencil"/>
            </b-button>
            <b-button
              class="btn outline red icon action-btn"
              @click="onClickDeleteRelation(props.row, props.index)">
              <i class="fa fa-trash"/>
            </b-button>
          </div>
        </v-client-table>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import ruleSummary from '@/components/summary/summary';
import jApiLeaveClaimer from '@/services/leave/jApiLeaveClaimer';
import apiLeaveConfigMapping from '@/services/leave/jApiLeaveConfigMapping';

export default {
  components: {
    ruleSummary,
  },
  data() {
    return {
      checked: [false, false],
      mode: null,
      load_first: false,
      filter_data: '',
      form: {
        employee: null,
        relation: [],
      },
      form_modal: {
        leave_type: null,
        leave_type_name: null,
        quota: null,
        quota_current: null,
        quota_carried: null,
        quota_used: null,
        approval: null,
        approval_name: null,
        start_date: null,
        end_date: null,
      },
      deleted_data_id: null,
      selected_row: null,
      type_options: [],
      approval_options: [],
      id_mapping: [],
      user_company_id_mapping: [],
      disabled_dates: {
        color: 'white',
        background_color: 'light-grey',
        ranges: [
          {
            from: new Date(1970, 0, 1),
            to: new Date(1970, 0, 1),
          },
        ],
      },
      get_data: [],
      index_table: null,
      rule_table: {
        data: [],
        columns: ['id', 'name', 'rule'],
        options: {
          headings: {
            id: '',
            name: 'NAAME',
            rule: 'RULE',
          },
          texts: {
            limit: 'Rows per page',
          },
          sortIcon: {
            base: 'fa',
            up: 'fa-chevron-up',
            down: 'fa-chevron-down',
            is: 'fa-sort',
          },
          sortable: ['name', 'rule'],
          debounce: 1000,
          filterable: true,
          perPage: 5,
          perPageValues: [5, 10, 20, 50, 100],
        },
      },
      relation_table: {
        data: [],
        columns: ['leave_type', 'quota', 'start_end_date', 'created_updated_date', 'action'],
        options: {
          headings: {
            leave_type: 'LEAVE TYPE',
            quota: 'QUOTA',
            approver_rule_name: 'APPROVER RULE',
            start_end_date: this.startEndDateHeader(),
            created_updated_date: this.createdUpdatedDate(),
            action: 'ACTION',
          },
          texts: {
            limit: 'Rows per page',
          },
          sortIcon: {
            base: 'fa',
            up: 'fa-chevron-up',
            down: 'fa-chevron-down',
            is: 'fa-sort',
          },
          sortable: ['leave_type', 'quota', 'start_end_date', 'created_updated_date'],
          debounce: 1000,
          filterable: true,
          perPage: 10,
          perPageValues: [10, 20, 50, 100],
        },
      },
      pagination: {
        pagination: {
          limit: 0,
          page: 1,
          column: 'id',
          ascending: false,
          query: '',
        },
        user_company_id: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreReportLeave', ['employee_list_organigram']),
    ...mapState('jStoreLeaveClaimer', ['user_restriction']),
    ...mapState('jStoreLeaveConfigMapping', ['rule_list', 'leave_type']),
    employeeData() {
      // const { data } = this.user_restriction;
      const data = this.employee_list_organigram;
      return this.mappingData(data, 'user');
    },
  },
  watch: {
    // eslint-disable-next-line
    'form_modal.start_date': function(val) {
      this.disabled_dates.ranges = [
        {
          from: new Date(1970, 0, 1),
          to: val,
        },
      ];
    },
    // eslint-disable-next-line
    'form_modal.end_date': function(val) {
      this.disabled_dates.ranges = [
        {
          from: val,
          to: new Date(3000, 0, 1),
        },
      ];
    },
    rule_list(val) {
      this.approval_options = [];
      this.rule_table.data = [];
      val.data.forEach((element) => {
        const flows = [];
        element.flows.forEach((item) => {
          const flow = {
            flow_id: item.id,
            flow_name: item.name,
          };
          flows.push(flow);
        });
        const data = {
          id: element.id,
          name: element.name,
          rules: flows,
        };
        const option = {
          id: element.id,
          text: element.name,
        };
        this.approval_options.push(option);
        this.rule_table.data.push(data);
      });
      this.$nextTick(() => {
        this.load_first = true;
      });
    },
    leave_type(val) {
      this.type_options = this.mappingData(val.data, 'leave type');
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.ruleTable.setFilter('');
      }
    },
  },
  created() {
    this.load_first = false;
    // this.userRestriction(this.pagination);
    this.getLeaveType(this.pagination);
    this.getRuleList({
      pagination: {
        limit: 0,
        page: 1,
      },
    });

    this.actionGetEmployeeRestrictionOrganigram(this.pagination);
  },
  methods: {
    ...mapActions('jStoreReportLeave', ['actionGetEmployeeRestrictionOrganigram']),
    ...mapActions('jStoreLeaveClaimer', ['userRestriction']),
    ...mapActions('jStoreLeaveConfig', ['showMappingTab']),
    ...mapActions('jStoreLeaveConfigMapping', ['getLeaveType', 'getRuleList', 'updateMapping']),
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess', 'toggleProblem']),

    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiLeaveClaimer.leaveUserRestrictOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
    startEndDateHeader() {
      return <span>START DATE<br/><i>END DATE</i></span>;
    },
    createdUpdatedDate() {
      return <span>CREATED DATE<br/><i>UPDATED DATE</i></span>;
    },
    quotaText(used, carried) {
      const less = used < carried;
      return `This leave used ${less ? 'can become' : 'reduced to'} ${less ? 0 : used - carried} day(s) due to carry forward ${less ? 'greater' : 'less'} than leave used`;
    },
    mappingData(data, config) {
      let arr;
      if (data) {
        arr = data.map(item => ({
          ...item,
          text: this.optionText(item, config),
          value: item.id,
        }));
      }
      return arr;
    },
    optionText(data, config) {
      if (config === 'leave type') {
        return `${data.name}`;
      } else if (config === 'user') {
        return `${data.first_name} ${data.last_name}`;
      }
      return '';
    },
    selectAll() {
      this.form.employee = [...this.employeeData];
    },
    unselectAll() {
      this.form.employee = [];
    },
    filter(val) {
      if (val !== '') {
        this.$refs.ruleTable.setFilter(val);
      }
    },
    onClickBack() {
      this.showMappingTab();
      // this.$router.replace('/leave/config');
      this.$router.go(-1);
    },
    onClickCloseRuleTableModal() {
      this.selected_row = null;
      for (let i = 0; i < this.checked.length; i += 1) {
        this.checked[i] = false;
      }
    },
    getData(val) {
      this.get_data = val;
    },
    submitRule() {
      this.form_modal.approval = this.selected_row ? this.selected_row.id : null;
      this.form_modal.approval_name = this.selected_row ? this.selected_row.name : null;
      this.$refs.formModal.show();
      this.selected_row = null;
    },
    cancelRule() {
      this.$refs.formModal.show();
      this.selected_row = null;
    },
    printCheck(val) {
      for (let i = 0; i < this.checked.length; i += 1) {
        this.checked[i] = false;
      }
      this.checked[val - 1] = true;
    },
    onClickAddRelation() {
      this.$v.form.$touch();
      if (!this.$v.form.$error) {
        this.mode = 'create';
        this.$v.form_modal.$reset();
        this.$refs.formModal.show();
        this.resetModalForm();
      }
    },
    showRuleModal() {
      this.$refs.ruleTableModal.show();
    },
    onClickEditRelation(val, index) {
      this.index_table = index;
      this.id_mapping = val.id;
      this.user_company_id_mapping = val.user_company_id;
      this.form_modal = {
        leave_type: val.type,
        quota: val.quota,
        quota_current: val.quota_current,
        quota_carried: val.quota_carried,
        quota_used: val.quota_used,
        approval: val.approver_rule,
        approval_name: val.approver_rule_name,
        start_date: val.start_date,
        end_date: val.end_date,
      };
      this.mode = 'edit';
      this.$refs.formModal.show();
    },
    onClickDeleteRelation(val, index) {
      this.id_mapping = val.id;
      this.user_company_id_mapping = val.user_company_id;
      this.deleted_data_id = index - 1;
      this.$refs.deleteModal.show();
    },
    closeDeleteModal() {
      this.deleted_data_id = null;
      this.resetModalForm();
      this.$refs.deleteModal.hide();
    },
    dataRule(val) {
      const rules = [];
      val.forEach((element, index) => {
        const rule = {
          status: element.flow_name,
          amounts: null,
          summaryDate: null,
          isStart: index === 0,
          isEnd: index === val.length - 1,
          color: 'blue',
          active: true,
          href: '',
        };
        rules.push(rule);
      });
      return rules;
    },
    submitRelation(event) {
      event.preventDefault();
      if (this.mode === 'create') {
        this.addRelation();
      } else if (this.mode === 'edit') {
        this.editRelation();
      }
    },
    addRelation() {
      this.$v.form_modal.$touch();
      if (!this.$v.form_modal.$error) {
        if (this.form.employee === null) {
          this.toggleProblem('Please select at least one employee');
        } else if (!this.validateQuota(this.form_modal.quota, this.form_modal.quota_current,
          this.form_modal.quota_carried, this.form_modal.quota_used)) {
          this.toggleProblem('Quota, current quota, carry forward and leave used must be at least 0');
        } else {
          const payload = {
            leave_type_id: this.form_modal.leave_type,
            quota: this.form_modal.quota,
            current_quota: this.form_modal.quota_current,
            quota_usage: this.form_modal.quota_used,
            carry_forward: this.form_modal.quota_carried,
            rule_id: this.form_modal.approval,
            start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
            end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
          };
          this.showLoading();
          const ids = [];
          const userCompanyIds = [];
          this.form.employee.forEach((element, index) => {
            apiLeaveConfigMapping.createMapping(element.user_company_id, payload)
              .then((res) => {
                ids.push(res.data.data.id);
                userCompanyIds.push(element.user_company_id);
                if (index === this.form.employee.length - 1) {
                  this.hideLoading();
                  this.toggleSuccess(res.data.message);

                  const date = new Date();
                  const data = {
                    id: ids,
                    user_company_id: userCompanyIds,
                    type_name: this.type_options.find(
                      item => item.id === this.form_modal.leave_type).name,
                    type: this.form_modal.leave_type,
                    quota: this.form_modal.quota,
                    quota_carried: this.form_modal.quota_carried,
                    quota_current: this.form_modal.quota_current,
                    quota_used: this.form_modal.quota_used,
                    approver_rule: this.form_modal.approval,
                    approver_rule_name: this.form_modal.approval_name,
                    start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
                    end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
                    created_date: this.$moment(date).format('YYYY-MM-DD'),
                    updated_date: this.$moment(date).format('YYYY-MM-DD'),
                  };
                  this.relation_table.data.push(data);
                  this.$refs.formModal.hide();
                }
              })
              .catch((err) => {
                this.toggleProblem(err.response.data.message);
                this.hideLoading();
              });
          });
        }
      }
    },
    editRelation() {
      this.$v.form_modal.$touch();
      if (!this.$v.form_modal.$error) {
        if (this.form.employee === null) {
          this.toggleProblem('Please select at least one employee');
        } else if (!this.validateQuota(this.form_modal.quota, this.form_modal.quota_current,
          this.form_modal.quota_carried, this.form_modal.quota_used)) {
          this.toggleProblem('Quota, current quota, carry forward and leave used must be at least 0');
        } else {
          const payload = {
            leave_type_id: this.form_modal.leave_type,
            quota: this.form_modal.quota,
            current_quota: this.form_modal.quota_current,
            quota_usage: this.form_modal.quota_used,
            carry_forward: this.form_modal.quota_carried,
            rule_id: this.form_modal.approval,
            start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
            end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
          };
          this.showLoading();
          this.id_mapping.forEach((element, index) => {
            apiLeaveConfigMapping.updateMapping(element,
              this.user_company_id_mapping[index], payload)
              .then((res) => {
                if (index === this.id_mapping.length - 1) {
                  this.hideLoading();
                  this.toggleSuccess(res.data.message);

                  const date = new Date();
                  const data = {
                    id: this.id_mapping,
                    user_company_id: this.user_company_id_mapping,
                    type_name: this.type_options.find(
                      item => item.id === this.form_modal.leave_type).name,
                    type: this.form_modal.leave_type,
                    quota: this.form_modal.quota,
                    quota_carried: this.form_modal.quota_carried,
                    quota_current: this.form_modal.quota_current,
                    quota_used: this.form_modal.quota_used,
                    approver_rule: this.form_modal.approval,
                    approver_rule_name: this.form_modal.approval_name,
                    start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
                    end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
                    created_date: this.$moment(date).format('YYYY-MM-DD'),
                    updated_date: this.$moment(date).format('YYYY-MM-DD'),
                  };
                  this.relation_table.data[this.index_table] = data;
                  this.$refs.formModal.hide();
                }
              })
              .catch((err) => {
                this.toggleProblem(err.response.data.message);
                this.hideLoading();
              });
          });
        }
      }
    },
    deleteRelation() {
      this.showLoading();
      this.id_mapping.forEach((element, index) => {
        apiLeaveConfigMapping.deleteMapping(element, this.user_company_id_mapping[index])
          .then((res) => {
            if (index === this.id_mapping.length - 1) {
              this.hideLoading();
              this.toggleSuccess(res.data.message);
              this.relation_table.data.splice(this.deleted_data_id, 1);
              this.closeDeleteModal();
            }
          })
          .catch((err) => {
            this.toggleProblem(err.response.data.message);
            this.hideLoading();
          });
      });
    },
    validateQuota(quota, current, carryForward, used) {
      return quota >= 0 && current >= 0 && carryForward >= 0 && used >= 0;
    },
    resetModalForm() {
      this.form_modal = {
        id: null,
        leave_type: null,
        leave_type_name: null,
        quota: null,
        quota_current: null,
        quota_carried: null,
        quota_used: null,
        approval: null,
        approval_name: null,
        start_date: null,
        end_date: null,
        user_company_id: null,
      };
    },
  },
  validations: {
    form: {
      employee: { required },
    },
    form_modal: {
      leave_type: { required },
      quota: { required },
      quota_current: { required },
      quota_carried: { required },
      quota_used: { required },
      approval: { },
      start_date: { required },
      end_date: { required },
    },
  },
};
</script>

<style lang="scss" scoped>
  .label-button {
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;
  }
  .label-button:hover {
    text-decoration: underline;
  }
  .label-container {
    width: 100%;
  }
  .select-button {
    position: relative;
  }
  .float-right {
    right: 0;
  }
  .action-btn {
    ::before {
      margin-left: 10px;
    }
    padding: 11px 7px 11px 7px;
    border-radius: 50%;
  }
  .submit-logo {
    transform: scaleX(-1);
    padding-left: 10px;
  }
  .radio-button {
    margin-top: -21px;
    margin-left: -37px;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container .radio-button {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: -15px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
  }
  .container:hover .radio-button ~ .checkmark {
    background-color: #eee;
  }
  .container .radio-button:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container .radio-button:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .checked-checmark {
    border: 0;
  }
</style>
