<template>
  <div
    id="leave-mapping-table"
    class="container-app-search">

    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="onRowClick">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="onClickAddMapping">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <j-import-file-oos
              v-if="default_import"
              :href-sample="'https://corp.jojonomic.com//assets/xlsx/template_import_mapping_leave.xlsx'"
              @import-data="importData"/>
            <b-button
              id="leave-mapping-search"
              class="btn grey btn-import-form">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="employee_id"
          slot-scope="props"
          style="min-width: 100px"
        >
          {{ props.row.employee_id }}
        </div>

        <div
          slot="name"
          slot-scope="props"
          style="min-width: 90px"
        >
          {{ props.row.name }}
        </div>

        <div
          slot="join_date"
          slot-scope="props"
          style="min-width: 90px"
        >
          {{ props.row.join_date }}
        </div>

        <div
          slot="length_of_working"
          slot-scope="props"
          style="min-width: 80px"
        >
          {{ props.row.length_of_working }}
        </div>

        <div
          slot="updated_date"
          slot-scope="props"
          style="min-width: 120px"
        >
          {{ props.row.updated_date }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>

      <j-progress-screen
        ref="ImportFile"
        :data-kirim="data_import"
        :url-api="urlImport"
        :headers="headers"
        property-data="data"
        @finish="uploadDone"/>

      <b-modal
        ref="modalPosition"
        class="mod-form"
        centered>
        <h3 class="float-to-center c--red">
          Error Data
        </h3>
        <v-client-table
          v-if="error_data[0]"
          :data="error_data"
          :columns="column"
          :options="option"
          class="jTable">

          <div
            slot="ERROR"
            slot-scope="props">
            <div
              v-for="(err, index) in props.row.ERROR"
              :key="index">
              {{ err }}
            </div>
          </div>

        </v-client-table>
        <download-excel
          :data="error_data"
          class="float-to-right m__t--30"
          name="Position-data-error.xls">
          <b-button class="btn green">
            Export Error
          </b-button>
        </download-excel>
      </b-modal>

      <b-popover
        v-if="load_first"
        ref="searchFormModal"
        :show.sync="popoverSearchShow"
        triggers="click blur"
        container="leave-mapping-table"
        target="leave-mapping-search"
        placement="right">
        <div class="m__b--10">Search Data</div>
        <b-form
          inline
          @keypress.13.prevent="filter(filter_data)">
          <j-select
            v-model="select_type"
            :error-required="false"
            :disabled="false"
            :options="options_search"
            class="m__r--5"/>
          <j-input
            v-model="filter_data"
            :error-required="false"
            placeholder="search"
            class="m__r--5"/>
          <b-button
            class="btn blue outline"
            @click="filter(filter_data)">
            <i class="fa fa-search bold" /> Search
          </b-button>
        </b-form>
      </b-popover>

    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiLeaveConfigMapping from '@/services/leave/jApiLeaveConfigMapping';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      default_import: true,
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['NAME', 'CODE', 'ERROR'],
      option: {
        filterable: false,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      data_import: [],
      raw_data: null,

      filter_data: '',
      select_type: 'employee_id',
      options_search: [
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'EMPLOYEE',
          value: 'name',
        },
        {
          text: 'ORGANIZATION UNIT',
          value: 'organization_unit',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['employee_id', 'name', 'join_date', 'length_of_working', 'organization_unit', 'leaves', 'updated_date'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE',
          join_date: 'JOIN DATE',
          length_of_working: 'LENGTH OF WORKING',
          organization_unit: 'ORGANIZATION UNIT',
          leaves: 'LEAVE TYPE',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'name', 'join_date', 'length_of_working', 'organization_unit', 'leaves', 'updated_date'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'employee_id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiLeaveConfigMapping.getListMappingLeave(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreLeaveConfigMapping', ['mapping_list']),

    urlImport() {
      const getEnv = 'times/leaves-service/leave-type-related-user';
      return getEnv;
    },
    headers() {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  created() {
    this.getConfigMappingList({
      pagination: {
        limit: 0,
        page: 1,
      },
    });
    this.setUserData({
      user_company_id: null,
      name: null,
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreLeaveConfigMapping', ['getConfigMappingList', 'setUserData', 'resetMappingList']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.getData();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    onClickAddMapping() {
      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/config/mapping/create` : '/leave/config/mapping/create';
      this.$router.push(url);
    },

    onRowClick(val) {
      this.setUserData({
        user_company_id: val.row.user_company_id,
        name: val.row.name,
      });

      const url = this.oosRoute !== '' ? `${this.oosRoute}/leave/config/mapping/detail/` : '/leave/config/mapping/detail/';
      this.$router.push(`${url}${val.row.user_company_id}`);
    },

    importData(val) {
      this.data_import = [];
      this.is_error = false;
      this.list_error = [];
      this.error_data = val;

      const keys = Object.keys(val[0]);
      if (keys[0] !== 'EMPLOYEE_EMAIL' || keys[1] !== 'ID LEAVE TYPE' || keys[2] !== 'QUOTA' || keys[3] !== 'CURRENT QUOTA' || keys[4] !== 'LEAVE USED' || keys[5] !== 'CARRY FORWARD' || keys[6] !== 'RULE ID (APPROVAL)' || keys[7] !== 'START DATE' || keys[8] !== 'END DATE') {
        // this.$store.dispatch('jStoreNotificationScreen/toggleProblem',
        // 'Please use header format correctly');
      }

      this.raw_data = val;
      this.data_import = this.raw_data.map((raw, index) => this.genData(raw, index));

      setTimeout(() => {
        this.uploadData();
      }, 100);
    },
    uploadData() {
      this.$refs.ImportFile.toggleIsVisible();
    },
    uploadDone() {
      this.raw_data = [];
      this.is_finish = true;
      this.data_import = [];
      this.default_import = false;
      setTimeout(() => {
        this.default_import = true;
      }, 100);
    },
    genData(val, indexData) {
      this.list_error[indexData] = [];
      this.$set(this.error_data[indexData], 'ERROR', []);
      const packing = {
        email: '',
        leave_type_id: 0,
        quota: 0,
        current_quota: 0,
        quota_usage: 0,
        carry_forward: 0,
        rule_id: 0,
        start_date: '',
        end_date: '',
      };

      // email validations
      const strEmail = val['EMPLOYEE EMAIL'] ? val['EMPLOYEE EMAIL'].trim() : '';
      if (val['EMPLOYEE EMAIL'] === undefined || strEmail.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field email is required');
        this.error_data[indexData].ERROR.push('- field email is required');
      } else {
        this.$set(packing, 'email', val['EMPLOYEE EMAIL']);
      }

      // id leave type validations
      const strTypeId = val['ID LEAVE TYPE'] ? val['ID LEAVE TYPE'].trim() : '';
      if (val['ID LEAVE TYPE'] === undefined || strTypeId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field id leave type is required');
        this.error_data[indexData].ERROR.push('- field id leave type is required');
      } else {
        this.$set(packing, 'leave_type_id', val['ID LEAVE TYPE']);
      }

      // quota validation
      const strQuota = val.QUOTA ? val.QUOTA.trim() : '';
      if (val.QUOTA === undefined || strQuota.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field quota is required');
        this.error_data[indexData].ERROR.push('- field quota is required');
      } else {
        this.$set(packing, 'quota', val.QUOTA);
      }

      // current quota validations
      const strCurrentQuota = val['CURRENT QUOTA'] ? val['CURRENT QUOTA'].trim() : '';
      if (val['CURRENT QUOTA'] === undefined || strCurrentQuota.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field current quota is required');
        this.error_data[indexData].ERROR.push('- field current quota is required');
      } else {
        this.$set(packing, 'current_quota', val['CURRENT QUOTA']);
      }

      // leave used validations
      const strLeaveUsed = val['LEAVE USED'] ? val['LEAVE USED'].trim() : '';
      if (val['LEAVE USED'] === undefined || strLeaveUsed.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field leave used is required');
        this.error_data[indexData].ERROR.push('- field leave used is required');
      } else {
        this.$set(packing, 'quota_usage', val['LEAVE USED']);
      }

      // carry forward validations
      const strCarryForward = val['CARRY FORWARD'] ? val['CARRY FORWARD'].trim() : '';
      if (val['CARRY FORWARD'] === undefined || strCarryForward.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field carry forward is required');
        this.error_data[indexData].ERROR.push('- field carry forward is required');
      } else {
        this.$set(packing, 'carry_forward', val['CARRY FORWARD']);
      }

      // rule id validations
      const strRuleId = val['RULE ID (APPROVAL)'] ? val['RULE ID (APPROVAL)'].trim() : '';
      if (val['RULE ID (APPROVAL)'] === undefined || strRuleId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field rule id is required');
        this.error_data[indexData].ERROR.push('- field rule id is required');
      } else {
        this.$set(packing, 'rule_id', val['RULE ID (APPROVAL)']);
      }

      // start date validations
      const strStartDate = val['START DATE'] ? val['START DATE'].trim() : '';
      if (val['START DATE'] === undefined || strStartDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field start date is required');
        this.error_data[indexData].ERROR.push('- field start date is required');
      } else {
        this.$set(packing, 'start_date', val['START DATE']);
      }

      // end date validations
      const strEndDate = val['END DATE'] ? val['END DATE'].trim() : '';
      if (val['END DATE'] === undefined || strEndDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field end date is required');
        this.error_data[indexData].ERROR.push('- field end date is required');
      } else {
        this.$set(packing, 'end_date', val['END DATE']);
      }

      // this.data_import.push(packing);
      return packing;
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
