<template>
  <div
    id="config-mapping-table"
    class="container-app-search p-4"
  >
    <b-modal
      ref="formModal"
      title="Add Relation"
      centered
      no-stacking
      header-text-variant="primary"
      ok-title="Submit"
      cancel-title="Close"
      @cancel="resetModalForm"
      @ok="submitRelation">
      <div class="row">
        <b-form-group
          :class="{'error-input' : $v.form_modal.leave_type.$error}"
          class="col-9">
          <label>Leave Type</label>
          <j-single-select
            v-model="form_modal.leave_type"
            :options="type_options"
            placeholder="Select leave type"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota.$error}"
          class="col-3">
          <label>Quota</label>
          <j-input
            v-model.number="form_modal.quota"
            placeholder="ex, 12"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_current.$error}"
          class="col-3">
          <label>Current Quota</label>
          <j-input
            v-model.number="form_modal.quota_current"
            placeholder="ex, 12"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_carried.$error}"
          class="col-3">
          <label>Carry Forward</label>
          <j-input
            v-model.number="form_modal.quota_carried"
            :disabled="mode === 'edit'"
            placeholder="ex, 6"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.quota_used.$error}"
          class="col-3">
          <label>Leave Used</label>
          <j-input
            v-model.number="form_modal.quota_used"
            :disabled="mode === 'edit'"
            placeholder="ex, 3"/>
        </b-form-group>
        <div
          v-if="form_modal.quota_used && form_modal.quota_carried"
          class="col-12">
          <p class="c--blue">
            {{ quotaText(form_modal.quota_used, form_modal.quota_carried) }}
          </p>
        </div>
        <!-- <b-form-group
          :class="{'error-input' : $v.form_modal.approval.$error}"
          class="col-12">
          <label>Approval</label>
          <j-single-select
            v-model="form_modal.approval"
            :options="approval_options"
            placeholder="ex, Approval A"
            @open="showRuleModal"/>
        </b-form-group> -->
        <b-form-group
          :class="{'error-input' : $v.form_modal.start_date.$error}"
          class="col-6">
          <label>Start Date</label>
          <j-datepicker
            v-model="form_modal.start_date"
            :disabled-dates="disabled_dates"
            format="MMM dd, yyyy"
            placeholder="ex, Jan 1, 2020"/>
        </b-form-group>
        <b-form-group
          :class="{'error-input' : $v.form_modal.end_date.$error}"
          class="col-6">
          <label>End Date</label>
          <j-datepicker
            v-model="form_modal.end_date"
            :disabled-dates="disabled_dates"
            format="MMM dd, yyyy"
            placeholder="ex, Jan 1, 2020"/>
        </b-form-group>
      </div>
    </b-modal>
    <b-modal
      ref="ruleTableModal"
      title="Rule List"
      size="lg"
      hide-header-close
      no-close-on-backdrop
      no-close-on-esc
      centered
      header-text-variant="primary"
      ok-title="Save Changes"
      cancel-title="Close"
      @hidden="onClickCloseRuleTableModal"
      @cancel="cancelRule"
      @close="cancelRule"
      @ok="submitRule">
      <v-client-table
        v-if="load_first"
        ref="ruleTable"
        :data="rule_table.data"
        :options="rule_table.options"
        :columns="rule_table.columns"
        class="jTable">
        <div
          slot="id"
          slot-scope="props"
          class="jTableReport"
          @click.stop>
          <b-form-group>
            <b-form-radio-group
              v-model="selected_row">
              <label class="container">
                <b-form-checkbox
                  :value="props.row"
                  class="radio-button"/>
                <span
                  :class="checked[props.index - 1] ?
                  'checkmark bc--blue checked-checmark' : 'checkmark bc--white'"
                  @click="printCheck(props.index)"/>
              </label>
            </b-form-radio-group>
          </b-form-group>
        </div>
        <div
          slot="rule"
          slot-scope="props">
          <rule-summary
            :data-summary="dataRule(props.row.rules)"
            class="rule-flow"/>
        </div>
        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form
            inline
            @keypress.13.prevent="filter(filter_data)">
            <j-input
              v-model="filter_data"
              placeholder="search"
              class="m__r--5"/>
            <b-button
              class="btn blue outline"
              @click="filter(filter_data)">
              <i class="fa fa-search bold" /> Search
            </b-button>
          </b-form>
        </div>
      </v-client-table>
      <center v-else>Loading...</center>
    </b-modal>
    <b-modal
      ref="deleteModal"
      centered
      hide-header
      hide-footer
      no-stacking
      @hidden="deleted_data_id = null">
      <center>
        <h2 class="c--red">Delete Relation</h2>
        <h6>Are you sure want to delete this data?</h6>
        <div class="m__t--20">
          <b-button
            class="btn gray"
            @click="closeDeleteModal">
            Cancel
          </b-button>
          <b-button
            class="btn red m__l--10"
            @click="deleteRelation">
            Delete
          </b-button>
        </div>
      </center>
    </b-modal>
    <div class="row">
      <div class="col-12">
        <h3 class="m__t--20 c--blue">EMPLOYEE ACCOUNT</h3>
        <b-row>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Employee ID</label>
              <j-input
                v-model="dataEmployee.id"
                :disabled="true"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Employee Name</label>
              <j-input
                v-model="dataEmployee.name"
                :disabled="true"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Employee Position</label>
              <j-input
                v-model="dataEmployee.position"
                :disabled="true"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Employee Grade</label>
              <j-input
                v-model="dataEmployee.grade"
                :disabled="true"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Join Date</label>
              <j-input
                v-model="dataEmployee.join_date"
                :disabled="true"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="6"
            md="3">
            <b-form-group>
              <label class="label-container">Length of Working</label>
              <j-input
                v-model="dataEmployee.working_length"
                :disabled="true"/>
            </b-form-group>
          </b-col>
        </b-row>

        <v-server-table
          v-show="load_first"
          ref="attendanceServer"
          :columns="columns"
          :options="options"
          class="jTable"
          @loading="loading"
          @loaded="loaded"
        >

          <div
            slot="beforeFilter"
            class="custom-search">
            <b-form inline>
              <b-button
                class="btn grey btn-import-form m__r--5"
                @click="onClickAddRelation">
                <i class="fa fa-plus fa-lg"/> Add
              </b-button>
              <b-button
                id="config-mapping-search"
                class="btn grey btn-import-form">
                <i class="fa fa-search fa-lg"/> Search
              </b-button>
            </b-form>
          </div>

          <div
            slot="leave_type"
            slot-scope="props">
            {{ props.row.type_name }}
          </div>
          <div
            slot="start_end_date"
            slot-scope="props">
            <div>
              <span style="font-size: 12.9px">{{ props.row.start_date }}</span><br>
              <i class="c--red">{{ props.row.end_date }}</i>
            </div>
          </div>
          <div
            slot="created_updated_date"
            slot-scope="props">
            <div>
              <span style="font-size: 12.9px">{{ props.row.created_date }}</span><br>
              <i class="c--red">{{ props.row.updated_date }}</i>
            </div>
          </div>
          <div
            slot="action"
            slot-scope="props">
            <b-button
              class="btn outline orange icon action-btn"
              @click="onClickEditRelation(props.row, props.index)">
              <i class="fa fa-pencil"/>
            </b-button>
            <b-button
              class="btn outline red icon action-btn"
              @click="onClickDeleteRelation(props.row, props.index)">
              <i class="fa fa-trash"/>
            </b-button>
          </div>

        </v-server-table>

        <div>
          <jLoadingTable v-if="!load_first"/>
        </div>
      </div>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="config-mapping-table"
      target="config-mapping-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data_table)">
        <!-- <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/> -->
        <j-input
          v-model="filter_data_table"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data_table)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { required } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import ruleSummary from '@/components/summary/summary';
import apiLeaveConfigMapping from '@/services/leave/jApiLeaveConfigMapping';

export default {
  components: {
    ruleSummary,
    jLoadingTable,
  },
  data() {
    return {
      checked: [false, false],
      mode: null,
      load_first: false,
      load_frist_leaves: false,
      filter_data: '',
      filter_data_table: '',
      form: {
        employee: null,
        relation: [],
      },
      form_modal: {
        id: null,
        leave_type: null,
        leave_type_name: null,
        quota: null,
        quota_current: null,
        quota_carried: null,
        quota_used: null,
        approval: null,
        approval_name: null,
        start_date: null,
        end_date: null,
        user_company_id: null,
      },
      deleted_data_id: null,
      selected_row: null,
      type_options: [],
      approval_options: [],
      disabled_dates: {
        color: 'white',
        background_color: 'light-grey',
        ranges: [
          {
            from: new Date(1970, 0, 1),
            to: new Date(1970, 0, 1),
          },
        ],
      },
      get_data: [],
      index_table: null,
      rule_table: {
        data: [],
        columns: ['id', 'name', 'rule'],
        options: {
          headings: {
            id: '',
            name: 'NAAME',
            rule: 'RULE',
          },
          texts: {
            limit: 'Rows per page',
          },
          sortIcon: {
            base: 'fa',
            up: 'fa-chevron-up',
            down: 'fa-chevron-down',
            is: 'fa-sort',
          },
          sortable: ['name', 'rule'],
          debounce: 1000,
          filterable: true,
          perPage: 5,
          perPageValues: [5, 10, 20, 50, 100],
        },
      },

      popoverSearchShow: false,
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      columns: ['leave_type', 'quota', 'start_end_date', 'action'],
      options: {
        headings: {
          leave_type: 'LEAVE TYPE',
          quota: 'QUOTA',
          rule_name: 'APPROVER RULE',
          start_end_date: this.startEndDateHeader(),
          action: 'ACTION',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: ['leave_type', 'quota', 'start_end_date'],
        debounce: 1000,
        filterable: true,
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        // eslint-disable-next-line camelcase
        requestFunction({ user_company_id, pagination }) {
          const getList = apiLeaveConfigMapping.getMappingLeave(user_company_id, pagination);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
      pagination: {
        pagination: {
          limit: 0,
          page: 1,
          column: 'id',
          ascending: false,
          query: '',
        },
        user_company_id: null,
      },
      dataEmployee: {
        id: null,
        name: null,
        position: null,
        grade: null,
        join_date: null,
        working_length: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreLeaveConfigMapping', ['leave_type', 'rule_list', 'mapping_detail', 'user_company_id', 'user_name']),
  },
  watch: {
    // eslint-disable-next-line
    'form_modal.start_date': function(val) {
      this.disabled_dates.ranges = [
        {
          from: new Date(1970, 0, 1),
          to: val,
        },
      ];
    },
    // eslint-disable-next-line
    'form_modal.end_date': function(val) {
      this.disabled_dates.ranges = [
        {
          from: val,
          to: new Date(3000, 0, 1),
        },
      ];
    },
    rule_list(val) {
      this.approval_options = [];
      this.rule_table.data = [];
      val.data.forEach((element) => {
        const flows = [];
        element.flows.forEach((item) => {
          const flow = {
            flow_id: item.id,
            flow_name: item.name,
          };
          flows.push(flow);
        });
        const data = {
          id: element.id,
          name: element.name,
          rules: flows,
        };
        const option = {
          id: element.id,
          text: element.name,
        };
        this.approval_options.push(option);
        this.rule_table.data.push(data);
      });
      this.$nextTick(() => {
        this.load_first = true;
      });
    },
    mapping_detail(val) {
      this.form_modal = {
        id: val.id,
        leave_type: val.data.type_id,
        quota: val.data.quota,
        quota_current: val.data.current_quota,
        quota_carried: val.data.carry_forward,
        quota_used: val.data.quota_usage,
        approval: val.data.rule_id,
        start_date: val.data.start_date,
        end_date: val.data.end_date,
        user_company_id: this.$route.params.userCompanyId,
      };
      this.$nextTick(() => {
        this.mode = 'edit';
        this.$refs.formModal.show();
      });
    },
    leave_type(val) {
      this.type_options = this.mappingData(val.data, 'leave type');
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.ruleTable.setFilter('');
      }
    },
    filter_data_table(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  async created() {
    this.load_first = false;
    this.load_frist_leaves = false;
    this.getLeaveType(this.pagination);
    this.getRuleList({
      pagination: {
        limit: 0,
        page: 1,
      },
    });
    this.getMappingLeave();

    const res = await this.actionGetEmployeeDetailById({ id: this.$route.params.userCompanyId });
    if (!res.error) {
      this.dataEmployee = {
        id: res.data.employee_id,
        name: `${res.data.profile.first_name} ${res.data.profile.last_name}`,
        position: res.data.organigram[0].name,
        grade: '',
        join_date: res.data.join_date,
        working_length: res.data.length_of_working,
      };
    }
  },
  methods: {
    ...mapActions('jStoreLeaveConfig', ['showMappingTab']),
    ...mapActions('jStoreLeaveConfigMapping', ['getLeaveType', 'getRuleList', 'getMappingLeave', 'getMappingDetail']),
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'toggleSuccess', 'toggleProblem']),
    ...mapActions('jStoreAttendance', ['actionGetEmployeeDetailById']),

    loading(val) {
      val.pagination.query_type = this.select_type;
      val.user_company_id = this.$route.params.userCompanyId;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filterTable(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    startEndDateHeader() {
      return <span>START DATE<br/><i>END DATE</i></span>;
    },
    quotaText(used, carried) {
      const less = used < carried;
      return `This leave used ${less ? 'can become' : 'reduced to'} ${less ? 0 : used - carried} day(s) due to carry forward ${less ? 'greater' : 'less'} than leave used`;
    },
    mappingData(data, config) {
      let arr;
      if (data) {
        arr = data.map(item => ({
          ...item,
          text: this.optionText(item, config),
          value: item.id,
        }));
      }
      return arr;
    },
    optionText(data, config) {
      if (config === 'leave type') {
        return `${data.name}`;
      } else if (config === 'user') {
        return `${data.first_name} ${data.last_name}`;
      }
      return '';
    },
    filter(val) {
      if (val !== '') {
        this.$refs.attendanceServer.setFilter(val);
        this.popoverSearchShow = false;
      }
    },
    onClickBack() {
      this.showMappingTab();
      // this.$router.replace('/leave/config');
      this.$router.go(-1);
    },
    onClickCloseRuleTableModal() {
      this.selected_row = null;
      for (let i = 0; i < this.checked.length; i += 1) {
        this.checked[i] = false;
      }
    },
    getData(val) {
      this.get_data = val;
    },
    submitRule() {
      this.form_modal.approval = this.selected_row ? this.selected_row.id : null;
      this.form_modal.approval_name = this.selected_row ? this.selected_row.name : null;
      this.$refs.formModal.show();
      this.selected_row = null;
    },
    cancelRule() {
      this.$refs.formModal.show();
      this.selected_row = null;
    },
    printCheck(val) {
      for (let i = 0; i < this.checked.length; i += 1) {
        this.checked[i] = false;
      }
      this.checked[val - 1] = true;
    },
    onClickAddRelation() {
      this.mode = 'create';
      this.$v.form_modal.$reset();
      this.$refs.formModal.show();
      this.resetModalForm();
    },
    showRuleModal() {
      this.$refs.ruleTableModal.show();
    },
    onClickEditRelation(val, index) {
      this.index_table = index;
      this.getMappingDetail({
        id: val.id,
        user_company_id: this.$route.params.userCompanyId,
      });
    },
    onClickDeleteRelation(val, index) {
      this.form_modal = {
        id: val.id,
        user_company_id: this.$route.params.userCompanyId,
      };
      this.deleted_data_id = index - 1;
      this.$refs.deleteModal.show();
    },
    closeDeleteModal() {
      this.deleted_data_id = null;
      this.resetModalForm();
      this.$refs.deleteModal.hide();
    },
    dataRule(val) {
      const rules = [];
      val.forEach((element, index) => {
        const rule = {
          status: element.flow_name,
          amounts: null,
          summaryDate: null,
          isStart: index === 0,
          isEnd: index === val.length - 1,
          color: 'blue',
          active: true,
          href: '',
        };
        rules.push(rule);
      });
      return rules;
    },
    submitRelation(event) {
      event.preventDefault();
      if (this.mode === 'create') {
        this.addRelation();
      } else if (this.mode === 'edit') {
        this.editRelation();
      }
    },
    addRelation() {
      this.$v.form_modal.$touch();
      if (!this.$v.form_modal.$error) {
        if (!this.validateQuota(this.form_modal.quota, this.form_modal.quota_current,
          this.form_modal.quota_carried, this.form_modal.quota_used)) {
          this.toggleProblem('Quota, current quota, carry forward and leave used must be at least 0');
        } else {
          const payload = {
            leave_type_id: this.form_modal.leave_type,
            quota: this.form_modal.quota,
            current_quota: this.form_modal.quota_current,
            quota_usage: this.form_modal.quota_used,
            carry_forward: this.form_modal.quota_carried,
            rule_id: this.form_modal.approval,
            start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
            end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
          };
          this.showLoading();
          apiLeaveConfigMapping.createMapping(this.$route.params.userCompanyId, payload)
            .then((res) => {
              this.hideLoading();
              this.toggleSuccess(res.data.message);
              this.$refs.formModal.hide();
              this.refreshTable();
            })
            .catch((err) => {
              this.toggleProblem(err.response.data.message);
              this.hideLoading();
            });
        }
      }
    },
    editRelation() {
      this.$v.form_modal.$touch();
      if (!this.$v.form_modal.$error) {
        if (!this.validateQuota(this.form_modal.quota, this.form_modal.quota_current,
          this.form_modal.quota_carried, this.form_modal.quota_used)) {
          this.toggleProblem('Quota, current quota, carry forward and leave used must be at least 0');
        } else {
          this.$swal({
            title: 'Are you sure, want to update this mapping leave?',
            type: 'question',
            showCancelButton: true,
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
          }).then(async (result) => {
            if (result.value || !result.value) {
              if (!result.dismiss) {
                const req = {
                  id: this.form_modal.id,
                  user_company_id: this.$route.params.userCompanyId,
                  payload: {
                    leave_type_id: this.form_modal.leave_type,
                    quota: this.form_modal.quota,
                    current_quota: this.form_modal.quota_current,
                    quota_usage: this.form_modal.quota_used,
                    carry_forward: this.form_modal.quota_carried,
                    rule_id: this.form_modal.approval,
                    start_date: this.$moment(this.form_modal.start_date).format('YYYY-MM-DD'),
                    end_date: this.$moment(this.form_modal.end_date).format('YYYY-MM-DD'),
                  },
                };
                this.showLoading();
                apiLeaveConfigMapping.updateMapping(req.id, req.user_company_id, req.payload)
                  .then((res) => {
                    this.hideLoading();
                    this.toggleSuccess(res.data.message);
                    this.$refs.formModal.hide();
                    this.refreshTable();
                  })
                  .catch((err) => {
                    this.toggleProblem(err.response.data.message);
                    this.hideLoading();
                  });
              }
            }
          });
        }
      }
    },
    deleteRelation() {
      const req = {
        id: this.form_modal.id,
        user_company_id: this.form_modal.user_company_id,
      };
      this.showLoading();
      apiLeaveConfigMapping.deleteMapping(req.id, req.user_company_id)
        .then((res) => {
          this.closeDeleteModal();
          this.hideLoading();
          this.toggleSuccess(res.data.message);
          this.refreshTable();
        })
        .catch((err) => {
          this.toggleProblem(err.response.data.message);
          this.hideLoading();
        });
    },
    validateQuota(quota, current, carryForward, used) {
      return quota >= 0 && current >= 0 && carryForward >= 0 && used >= 0;
    },
    resetModalForm() {
      this.form_modal = {
        id: null,
        leave_type: null,
        leave_type_name: null,
        quota: null,
        quota_current: null,
        quota_carried: null,
        quota_used: null,
        approval: null,
        approval_name: null,
        start_date: null,
        end_date: null,
        user_company_id: null,
      };
    },
  },
  validations: {
    form_modal: {
      leave_type: { required },
      quota: { required },
      quota_current: { required },
      quota_carried: { required },
      quota_used: { required },
      approval: { },
      start_date: { required },
      end_date: { required },
    },
  },
};
</script>

<style lang="scss" scoped>
  .label-button {
    cursor: pointer;
    transition: 0.2s;
    font-size: 12px;
  }
  .label-button:hover {
    text-decoration: underline;
  }
  .label-container {
    width: 100%;
  }
  .select-button {
    position: relative;
  }
  .float-right {
    right: 0;
  }
  .action-btn {
    ::before {
      margin-left: 10px;
    }
    padding: 11px 7px 11px 7px;
    border-radius: 50%;
  }
  .submit-logo {
    transform: scaleX(-1);
    padding-left: 10px;
  }
  .radio-button {
    margin-top: -22px;
    margin-left: -39px;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container .radio-button {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: -15px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
  }
  .container:hover .radio-button ~ .checkmark {
    background-color: #eee;
  }
  .container .radio-button:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container .radio-button:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .checked-checmark {
    border: 0;
  }
</style>
