<template>
  <div :class="formContainerClass">
    <!-- <span
      v-if="!is_submit_mode"
      id="close-icon"
      class="right-top-span"
      @click="cancelForm()"
    >
      <i class="fa fa-times close-icon"/>
    </span> -->
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.family_dependant.relation.$error}">
          <label class="form__label">Relation</label>
          <j-single-select
            v-model="$v.family_dependant.relation.$model"
            :options="relation_options"
            placeholder="Relation"
            value-format="object"
          />
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.family_dependant.name.$error}">
          <label class="form__label">Name</label>
          <j-input
            v-model="$v.family_dependant.name.$model"
            placeholder="Name"/>
        </b-form-group>
        <b-row>
          <b-col md="8">
            <b-form-group>
              <label class="form__label">Birth Date</label>
              <j-datepicker
                v-model="family_dependant.birth_date"
                :disabled-dates="disabled_dates"
                format="MMM dd, yyyy"
                placeholder="Jan 01, 2020"/>
            </b-form-group>
          </b-col>
          <b-col md="4">
            <b-form-group>
              <label class="form__label">Age</label>
              <j-input
                v-model="family_dependant.age"
                disabled/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import eventBus from './event-bus/index';

export default {
  name: 'JFamilyDependant',
  components: {
    Spinner,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      family_dependant: {
        id: 0,
        relation: null,
        name: null,
        birth_date: null,
        age: null,
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      relation_options: [
        {
          id: 'father',
          text: 'Father',
        }, {
          id: 'mother',
          text: 'Mother',
        }, {
          id: 'brother',
          text: 'Brother',
        }, {
          id: 'sister',
          text: 'Sister',
        }, {
          id: 'child',
          text: 'Child',
        }, {
          id: 'spouse',
          text: 'Spouse',
        }, {
          id: 'friend',
          text: 'Friend',
        }, {
          id: 'uncle',
          text: 'Uncle',
        }, {
          id: 'aunty',
          text: 'Aunty',
        }, {
          id: 'other',
          text: 'Other',
        },
      ],
      previous_data: {
        id: 0,
        relation: null,
        name: null,
      },
      disabled_dates: {
        color: 'white',
        background_color: 'light-grey',
        ranges: [
          {
            from: new Date(),
            to: new Date(9999, 11, 31),
          },
        ],
      },
    };
  },
  computed: {
    formContainerClass() {
      return 'form-container--normal';
      // if (this.is_submit_mode) {
      //   return 'form-container--normal';
      // }
      // return 'form-container--chosen';
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        this.family_dependant.relation = {
          id: (data.relation_type).toLowerCase(),
          text: data.relation_type,
          label: data.relation_type,
        };
        this.family_dependant.name = data.name;
        this.family_dependant.birth_date = data.birth_date;
        this.family_dependant.id = data.id;
        this.is_submit_mode = false;
        this.submit_text = 'Update';

        this.previous_data = Object.assign({}, this.family_dependant);
      } else {
        this.family_dependant.relation = null;
        this.family_dependant.name = null;
        this.family_dependant.birth_date = null;
        this.family_dependant.age = null;
        this.is_submit_mode = true;
        this.submit_text = 'Submit';

        this.$v.family_dependant.$reset();
      }
    },
    // eslint-disable-next-line
    'family_dependant.birth_date': function(val) {
      if (val !== null) {
        const now = new Date();
        let birthday;
        if (typeof val === 'string') {
          birthday = new Date(val);
        } else if (typeof val === 'object') {
          birthday = val;
        }
        const age = now - birthday;
        // eslint-disable-next-line
        this.family_dependant.age = parseInt(age / 31556952000);
        this.previous_data.age = this.family_dependant.age;
      }
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });
  },
  methods: {
    cancelForm() {
      this.family_dependant.relation = null;
      this.family_dependant.name = null;
      this.family_dependant.birth_date = null;
      this.family_dependant.age = null;
      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      this.$nextTick(() => {
        if (this.$v.family_dependant.$error) {
          this.$v.family_dependant.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
    },
    submit() {
      this.$v.family_dependant.$touch();
      if (!this.$v.family_dependant.$error) {
        this.$emit('refresh-options', false);
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          // eslint-disable-next-line
          const { name, relation, birth_date } = this.family_dependant;
          const newFamilyDependantObject =
            {
              name,
              relation_type: relation.text,
              birth_date: this.$moment(birth_date).format('YYYY-MM-DD'),
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.postFamilyRelation(employeeId, newFamilyDependantObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;
          // eslint-disable-next-line
          const { name, relation, id, birth_date } = this.family_dependant;

          const patchedFamilyDependantObject =
            {
              name,
              relation_type: relation.text,
              birth_date: this.$moment(birth_date).format('YYYY-MM-DD'),
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateFamilyRelation(employeeId, id,
            patchedFamilyDependantObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      }
    },
    revert() {
      this.is_loading.revert = true;
      this.family_dependant = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;

      this.$emit('close-modal', true);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          this.$emit('refresh-options', false);
          const { id: familyRelationId } = this.currentObject;
          const { id: employeeId } = this.$route.params;
          jApiEmployee.deleteFamilyRelation(employeeId, familyRelationId).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        }
        this.$emit('close-modal', true);
      });
    },
  },
  /*
  * Family And Dependant Information (multiple)

    Relation (Selection, mandatory)

    Name (free text, mandatory)
  * */
  validations: {
    family_dependant: {
      relation: {
        required,
      },
      name: {
        required,
      },
    },
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
