<template>
  <div>
    <b-row>
      <b-col
        cols="12">
        <j-family-dependant-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @family="getFamilyDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-family-dependant-form
          :mode="mode"
          :detail="family_detail"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import JFamilyDependantForm from './jFamilyDependantForm';
import JFamilyDependantTable from './jFamilyDependantTable';

export default {
  name: 'JFamilyDependant',
  components: {
    JFamilyDependantForm,
    JFamilyDependantTable,
  },
  data() {
    return {
      mode: '',
      family_detail: null,
      title: {
        main_title: 'FAMILY AND DEPENDANT',
      },
      FamilyDependantOption: {
        icon: 'fa-user',
        main_title: 'Family and Dependant',
        opt_title: '',
      },
    };
  },
  methods: {
    getFamilyDetail(data) {
      this.family_detail = data;
    },
    refreshOptions(val) {
      this.$emit('refresh-options', val);
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.family_detail = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style>

</style>
