<template>
  <div>
    <div
      v-if="isLoading"
      style="text-align: center;">
      <div class="lds-ellipsis"><div/><div/><div/><div/></div>
    </div>
    <div v-else>
      <j-progress-bar
        :data="display_data"
        :config="dataBar.config_progress_bar || {}"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-plusplus */
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixCanvas from '@/mixins/jMixCanvas';
import jApiFormUi from '@/services/jApiFormUi';
import jwtDecode from 'jwt-decode';
import jProgressBar from '@/components/progress-bar/jProgressBar';

export default {
  components: { jProgressBar },
  mixins: [jMixFilterV2, jMixCanvas],
  props: {
    dataBar: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isLoading: true,
      type: 'bar',
      display_data: 0,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  mounted() {
    this.initBar();
  },
  methods: {
    setFilter(data) {
      this.initBar(data);
    },

    initBar(params) {
      const dataFilter = {};
      if (this.dataBar.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataBar.timeframe);
        dataFilter.created_at = this.timeRange;
        this.combineFilterV2('App', 'created_at', this.timeRange);
      } else this.clearDataFilterV2();
      const param = this.setupFilter(params, this.dataBar, dataFilter);
      param.sort = { updated_at: -1 };
      this.getDataCanvas(param);
    },

    async getDataCanvas(param) {
      this.display_data = 0;
      const res = await jApiFormUi.getRecordDataV2(param);
      if (!res.error) {
        this.isLoading = false;
        this.display_data = res.data && res.data.length ? (res.data[0][this.dataBar.selected_value] || 0) : 0;
      }
    },

    cekTypeData(key) {
      if (!key) { return ''; }
      const findType = this.dataBar.form_data ? this.dataBar.form_data.columns[key] : null;
      return findType ? findType.type : '';
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      const findRegex = this.dataBar.form_data ? this.dataBar.form_data.columns[dataKey] : null;
      return findRegex ? findRegex.is_use_regex : false;
    },
  },
};
</script>
