<template>
  <div>
    <div
      v-show="isLoading"
      style="text-align: center;">
      <div class="lds-ellipsis"><div/><div/><div/><div/></div>
    </div>
    <div
      v-show="data_report && data_report.length > 0 && !isLoading"
      ref="chart"
      :class="{'chart-bar': dataChart.type === 'bar_chart'}"
      class="chart-container"/>
    <div v-show="(!data_report || data_report.length === 0) && !isLoading">No data found</div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-plusplus */
import c3 from 'c3';
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixCanvas from '@/mixins/jMixCanvas';
import jApiFormUi from '@/services/jApiFormUi';
import jwtDecode from 'jwt-decode';
import jApi from '@/services/jApi';

export default {
  components: {
    c3,
  },
  mixins: [jMixFilterV2, jMixCanvas],
  props: {
    dataChart: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isLoading: true,
      type: 'chart',
      data_report: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25],
      ],
      color_pattern: ['#218B82', '#9AD9DB', '#E5DBD9', '#98D4BB', '#EB96AA', '#DDF2F4', '#84A6D6', '#4382BB', '#E4CEE0', '#A15D98', '#C6C9D0', '#C54B6C', '#E5B3BB', '#C47482', '#D5E4C3', '#698396', '#A9C8C0', '#DBBC8E', '#AE8A8C', '#7C98AB', '#E5DBD9', '#98D4BB', '#EB96AA', '#DDF2F4', '#84A6D6', '#4382BB', '#E4CEE0', '#A15D98', '#C6C9D0', '#C54B6C', '#E5B3BB', '#C47482', '#D5E4C3', '#698396', '#A9C8C0', '#DBBC8E', '#AE8A8C', '#7C98AB'],
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  mounted() {
    this.initChart();
  },
  methods: {
    setFilter(data) {
      this.initChart(data);
    },

    initChart(params) {
      const dataFilter = {};
      if (this.dataChart.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataChart.timeframe);
        dataFilter.created_at = this.timeRange;
        this.combineFilterV2('App', 'created_at', this.timeRange);
      } else this.clearDataFilterV2();

      const param = this.setupFilter(params, this.dataChart, dataFilter);

      if (this.dataChart.type === 'line_chart') {
        this.initLine(param);
      }

      if (this.dataChart.type === 'bar_chart') {
        this.initBar(param);
      }

      if (this.dataChart.type === 'pie_chart') {
        this.initPie(param);
      }
    },

    async initLine(param) {
      let res;
      if (this.useSourceDataset) {
        res = await this.getDatasetData(param);
      } else {
        res = await jApiFormUi.getRecordDataV2(param);
      }

      if (!res.error) {
        this.isLoading = false;
        const arrData = [];
        const arrName = [];
        const groupBy = [];

        this.data_report = res.data;

        if (res.data && res.data.length) {
          res.data.map((item) => {
            const myX = 'x';
            const dataX = item[this.dataChart.x_axis_field] || '';
            const dataY = item[this.dataChart.y_axis_field] || 0;

            if (!arrName.includes(myX)) {
              arrName.push(myX);
              arrData.push(0);
            }

            arrData.push(dataY);

            if (!arrName.includes(dataX)) {
              arrName.push(dataX);
            }
            return null;
          });


          // SETUP GROUP BY
          // let isGroupBy = false;
          // arrData.map((item, key) => {
          //   if (key > 0 && item.length > 2) {
          //     isGroupBy = true;
          //   }
          //   return null;
          // });

          // if (!isGroupBy) {
          //   groupBy = [];
          // }

          // SETUP LINE CHART
          c3.generate({
            data: {
              type: 'line',
              columns: [arrName, arrData],
              groups: groupBy,
              x: 'x',
            },
            size: {
              // width: width_var,
              height: 230,
            },
            axis: {
              x: {
                type: 'category', // this needed to load string x value
                label: {
                  text: this.dataChart.x_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
              y: {
                label: {
                  text: this.dataChart.y_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
            },
            bar: {
              width: {
                ratio: 0.8, // this makes bar width 50% of length between ticks
              },
            },
            bindto: this.$refs.chart,
            legend: {
              hide: true,
            },
            color: {
              pattern: this.color_pattern,
            },
          });
        }
      }
    },

    async initBar(param) {
      let res;
      if (this.useSourceDataset) {
        res = await this.getDatasetData(param);
      } else {
        res = await jApiFormUi.getRecordDataV2(param);
      }

      if (!res.error) {
        this.isLoading = false;
        let arrData = [];
        const arrName = [];
        const groupBy = [];

        this.data_report = res.data;

        if (res.data && res.data.length) {
          res.data.map((item) => {
            // if (this.dataChart.groupBy) {
            const dataX = item[this.dataChart.x_axis_field] || '';
            const dataY = item[this.dataChart.y_axis_field] || 0;
            const dataOrder = item[Object.keys(this.dataChart.sort[0])[0]];

            if (arrName.includes(dataX)) {
              const id = arrName.indexOf(dataX);
              // arrData[id].push(dataY);
              // eslint-disable-next-line
              arrData[id][1] = arrData[id][1] + dataY;
            } else {
              arrData.push([dataX, dataY, dataOrder]);
              arrName.push(dataX);
            }

            // groupBy = [arrName];
            // } else {
            //   const dataX = item[this.dataChart.x_axis_field];
            //   const dataY = item[this.dataChart.y_axis_field];

            //   arrData.push([dataX, dataY]);
            // }
            return null;
          });

          // SETUP GROUP BY
          const isGroupBy = false;
          // arrData.map((item, key) => {
          //   if (key > 0 && item.length > 2) {
          //     isGroupBy = true;
          //   }
          //   return null;
          // });

          // if (!isGroupBy) {
          //   groupBy = [];
          // }

          let indexOrder = 0;
          if (this.dataChart.y_axis_field === Object.keys(this.dataChart.sort[0])[0]) {
            indexOrder = 1;
          } else {
            indexOrder = 2;
          }
          if (Object.values(this.dataChart.sort[0])[0] === -1) {
            arrData = arrData.sort((a, b) => b[indexOrder] - a[indexOrder]);
          } else {
            arrData = arrData.sort((a, b) => a[indexOrder] - b[indexOrder]);
          }
          arrData = arrData.map(subArray => subArray.slice(0, 2));
          if (this.dataChart.x_axis_limit) arrData = arrData.splice(0, this.dataChart.x_axis_limit);
          console.log(arrData);

          c3.generate({
            data: {
              type: 'bar',
              columns: arrData,
              groups: groupBy,
            },
            size: {
              // width: width_var,
              height: 230,
            },
            axis: {
              rotated: isGroupBy,
              x: {
                label: {
                  text: this.dataChart.x_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
              y: {
                label: {
                  text: this.dataChart.y_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
            },
            bar: {
              width: {
                ratio: 0.8, // this makes bar width 50% of length between ticks
              },
              space: 0.2,
            },
            bindto: this.$refs.chart,
            color: {
              pattern: this.color_pattern,
            },
          });
        }
      }
    },

    async initPie(param) {
      let res;
      if (this.useSourceDataset) {
        res = await this.getDatasetData(param);
      } else {
        res = await jApiFormUi.getRecordDataV2(param);
      }

      if (!res.error) {
        this.isLoading = false;
        const arrData = [];
        const arrName = [];
        let groupBy = [];

        this.data_report = res.data;

        if (res.data && res.data.length) {
          res.data.map((item) => {
            // if (this.dataChart.groupBy) {
            const dataX = item[this.dataChart.x_axis_field] || '';
            const dataY = item[this.dataChart.y_axis_field] || 0;

            if (arrName.includes(dataX)) {
              const id = arrName.indexOf(dataX);
              // arrData[id].push(dataY);
              // eslint-disable-next-line
              arrData[id][1] = arrData[id][1] + dataY;
            } else {
              arrData.push([dataX, dataY]);
              arrName.push(dataX);
            }

            // groupBy = [arrName];
            // } else {
            //   const dataX = item[this.dataChart.x_axis_field];
            //   const dataY = item[this.dataChart.y_axis_field];

            //   arrData.push([dataX, dataY]);
            // }
            return null;
          });

          // SETUP GROUP BY
          let { isGroupBy } = false;
          arrData.map((item, key) => {
            if (key > 0 && item.length > 2) {
              isGroupBy = true;
            }
            return null;
          });

          if (!isGroupBy) {
            groupBy = [];
          }

          c3.generate({
            data: {
              type: 'pie',
              columns: arrData,
              groups: groupBy,
            },
            size: {
              // width: width_var,
              height: 230,
            },
            axis: {
              rotated: isGroupBy,
              x: {
                label: {
                  text: this.dataChart.x_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
              y: {
                label: {
                  text: this.dataChart.y_axis_field.replace(/_/g, ' '),
                  position: 'outer-middle',
                },
              },
            },
            bar: {
              width: {
                ratio: 0.8, // this makes bar width 50% of length between ticks
              },
            },
            bindto: this.$refs.chart,
            color: {
              pattern: this.color_pattern,
            },
          });
        }
      }
    },

    async getDatasetData(param) {
      const api = jApi.generateApi();
      const { data } = await api.post('/nocode/joana/dataset/record/fetch-public', param);
      return data;
    },

    cekTypeData(key) {
      if (!key) { return ''; }
      const findType = this.dataChart.form_data ? this.dataChart.form_data.columns[key] : null;
      return findType ? findType.type : '';
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      const findRegex = this.dataChart.form_data ? this.dataChart.form_data.columns[dataKey] : null;
      return findRegex ? findRegex.is_use_regex : false;
    },
  },
};
</script>
<style scoped>
.chart-container {
  width: 100%;
}
</style>
