<template>
  <div
    v-if="isLoading"
    style="text-align: center;">
    <div class="lds-ellipsis"><div/><div/><div/><div/></div>
  </div>
  <div
    v-else
    id="canvas-map"
    class="jMaps"
  >
    <gmap-map
      ref="gmap"
      :center="center"
      :zoom="default_zoom"
      class="m__b--10"
      style="width: 100%; height: 350px; border: 1px solid rgb(188, 188, 188);">
      <gmap-marker
        v-for="(item, index) in list_maps"
        :key="index"
        :position="item.center"
        :icon="item.icon"
        class="map-marker"
        @click="infoChanged(item,index)"/>
      <gmap-info-window
        v-for="(item, index) in list_maps"
        :key="index"
        :options="info_options"
        :position="item.center"
        :opened="info_win_open[index]">
        <div v-html="item.infoContent"/>
      </gmap-info-window>
    </gmap-map>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len,  no-unused-vars, no-eval, no-plusplus */
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixCanvas from '@/mixins/jMixCanvas';
import jApiFormUi from '@/services/jApiFormUi';
import jwtDecode from 'jwt-decode';
import axios from 'axios';

export default {
  mixins: [jMixFilterV2, jMixCanvas],
  props: {
    dataMap: {
      type: Object,
      default: () => { },
    },
  },
  data() {
    return {
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      isLoading: true,
      type: 'map',
      center: { lat: -6.291380360585924, lng: 106.80358099719805 },
      default_zoom: 10,
      info_win_open: [],
      info_options: {
        pixelOffset: {
          width: 0,
          height: -35,
        },
      },
      list_maps: [],
    };
  },
  created() {
    this.initMap();
  },
  methods: {
    infoChanged(item, index) {
      if (this.info_win_open[index] === true) {
        this.$set(this.info_win_open, index, false);
      } else {
        // eslint-disable-next-line no-param-reassign
        item.infoContent = this.getInfoWindowContent(item, index);
        this.$set(this.info_win_open, index, true);
      }
    },
    getInfoWindowContent(item) {
      return (`<div style="max-width: 320px !important">
        <div class="d-flex align-items-center">
          <div>
            <span style="font-size: 14px; font-weight: bold">
              ${this.dataMap.marker_description ? item.description : ''}
            </span>
          </div>
        </div>
        <div>
          ${item.address}
        </div>
        <div>
          <a href="https://www.google.com/maps?q=loc:${this.center.lat},${this.center.lng}" target="_blank">
            Map Detail
          </a>
        </div>
      </div>`);
    },


    resetData() {
      this.center = { lat: -6.291380360585924, lng: 106.80358099719805 };
      this.info_win_open = [];
      this.list_maps = [];
    },
    setFilter(data) {
      this.initMap(data);
    },
    initMap(params) {
      this.resetData();
      const dataFilter = {};
      if (this.dataMap.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataMap.timeframe);
        dataFilter.created_at = this.timeRange;
        this.combineFilterV2('App', 'created_at', this.timeRange);
      } else this.clearDataFilterV2();
      const param = this.setupFilter(params, this.dataMap, dataFilter);
      this.getDataCanvas(param);
    },

    getDataCanvas(param) {
      jApiFormUi.getRecordDataV2(param).then((res) => {
        this.isLoading = false;
        if (res.data[0]) {
          this.center = {
            lat: res.data[0][this.dataMap.marker_location].latitude,
            lng: res.data[0][this.dataMap.marker_location].longitude,
          };

          res.data.forEach((el) => {
            const urlIcon = this.dataMap.marker_icon && el[this.dataMap.marker_icon][0].url ? el[this.dataMap.marker_icon][0].url : '';
            if (urlIcon && (urlIcon.includes('https') || urlIcon.includes('http'))) {
              this.list_maps.push({
                center: {
                  lat: el[this.dataMap.marker_location].latitude,
                  lng: el[this.dataMap.marker_location].longitude,
                },
                description: el[this.dataMap.marker_description],
                address: el[this.dataMap.marker_location].address,
                icon: {
                  url: urlIcon,
                  scaledSize: { width: 43, height: 43 },
                },
                infoContent: '',
              });
              this.info_win_open.push(false);
            } else if (urlIcon) {
              const urlDownload = `${localStorage.getItem('gateUrl')}company-drive/file/download?id=${urlIcon}`;
              axios.get(urlDownload, {
                headers: {
                  'Content-Type': 'application/json',
                  Authorization: `Bearer ${(JSON.parse(localStorage.getItem('Token'))).value}`,
                },
              }).then((resDownload) => {
                this.list_maps.push({
                  center: {
                    lat: el[this.dataMap.marker_location].latitude,
                    lng: el[this.dataMap.marker_location].longitude,
                  },
                  description: el[this.dataMap.marker_description],
                  address: el[this.dataMap.marker_location].address,
                  icon: {
                    url: resDownload.data.data.url,
                    scaledSize: { width: 43, height: 43 },
                  },
                  infoContent: '',
                });
                this.info_win_open.push(false);
              });
            } else {
              this.list_maps.push({
                center: {
                  lat: el[this.dataMap.marker_location].latitude,
                  lng: el[this.dataMap.marker_location].longitude,
                },
                description: el[this.dataMap.marker_description],
                address: el[this.dataMap.marker_location].address,
                icon: null,
                infoContent: '',
              });
              this.info_win_open.push(false);
            }
          });
        }
      });
    },

    cekTypeData(key) {
      if (!key) { return ''; }
      const findType = this.dataMap.form_data ? this.dataMap.form_data.columns[key] : null;
      return findType ? findType.type : '';
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      const findRegex = this.dataMap.form_data ? this.dataMap.form_data.columns[dataKey] : null;
      return findRegex ? findRegex.is_use_regex : false;
    },
  },
};
</script>

<style lang="scss">
  #canvas-map {
    .vue-map-container {
      height: 300px !important;
    }
  }

</style>
