<!-- eslint-disable max-len -->
<template>
  <div>
    <v-client-table
      v-if="showTable"
      ref="applicationTableComponent"
      :data="dataRecordForm"
      :columns="columns"
      :options="table_options"
      class="jTable">
      <div
        v-for="(i, index) in formUi.table_view.columns"
        slot-scope="props"
        :key="index"
        :slot="i.key">
        <div v-if="cekTypeData(i.key) === 'text' || cekTypeData(i.key) === 'varchar'">{{ props.row[i.key] }}</div>
        <div v-if="cekTypeData(i.key) === 'boolean'">{{ props.row[i.key] ? 'TRUE' : 'FALSE' }}</div>
        <div
          v-if="cekTypeData(i.key) === 'number' ||
            cekTypeData(i.key) === 'big_integer' ||
            cekTypeData(i.key) === 'decimal' ||
            cekTypeData(i.key) === 'float' ||
            cekTypeData(i.key) === 'integer' ||
          cekTypeData(i.key) === 'small_integer'">
          <j-currency
            v-if="i.type === 'currency' && (props.row[i.key] || props.row[i.key] === 0)"
            :value="props.row[i.key]"/>
          <span v-else>{{ props.row[i.key] }}</span>
        </div>
        <div v-if="cekTypeData(i.key) === 'maps' && props.row[i.key]">{{ props.row[i.key].address }}</div>
        <div v-if="cekTypeData(i.key) === 'object' && props.row[i.key]">{{ props.row[i.key].name }}</div>
        <div v-if="cekTypeData(i.key) === '[]object'">
          <span
            v-for="item in props.row[i.key]"
            :key="item.id">{{ item.name }}, </span>
        </div>
        <div
          v-if="cekTypeData(i.key) === 'tags' && props.row[i.key]"
          :style="{ backgroundColor: props.row[i.key].background, color: props.row[i.key].font_color }"
          class="label-tags">{{ props.row[i.key].name }}</div>
        <div v-if="cekTypeData(i.key) === '[]tags'">
          <div
            v-for="item in props.row[i.key]"
            :key="item.id"
            :style="{ backgroundColor: item.background, color: item.font_color }"
            class="label-tags">{{ item.name }}</div>
        </div>
        <div v-if="cekTypeData(i.key) === '[]text' || cekTypeData(i.key) === '[]number'">
          {{ props.row[i.key] ? props.row[i.key].join(', ') : '' }}
        </div>
        <div v-if="cekTypeData(i.key) === 'timestamp'">
          <span v-if="props.row[i.key]">
            <span v-if="i.type === 'time'">
              {{ convertTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'datetime'">
              {{ convertDateTime(props.row[i.key]) }}
            </span>
            <span v-else-if="i.type === 'dd-mmm-yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('DD-MMM-YYYY') }}
            </span>
            <span v-else-if="i.type === 'mmmm dd, yyyy'">
              {{ $moment(new Date(props.row[i.key])).format('MMMM DD, YYYY') }}
            </span>
            <span v-else>
              {{ convertTimestamp(props.row[i.key]) }}
            </span>
          </span>
        </div>
        <div v-if="cekTypeData(i.key) === 'timer'">
          <div
            class="row"
            style="width: 200px">
            <div class="col-md-3">
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer === 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue">
                <img
                  :src="require('../../assets/icon/play.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-grey">
                <img
                  :src="require('../../assets/icon/pause.png')"
                  width="15">
              </div>
              <div
                v-if="!props.row[`dataTimer${i.key}`].running && props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
                class="shape-blue-sky">
                <img
                  :src="require('../../assets/icon/play-blue.png')"
                  width="20">
              </div>
              <div
                v-if="props.row[`dataTimer${i.key}`].stoped"
                class="shape-green">
                <img
                  :src="require('../../assets/icon/check.png')"
                  width="20">
              </div>
            </div>
            <div
              v-if="props.row[`dataTimer${i.key}`].startTimer > 0 && !props.row[`dataTimer${i.key}`].stoped"
              class="col-md-3">
              <div
                class="shape-red"
                @click="stop(props.row.id, `dataTimer${i.key}`)">
                <img
                  :src="require('../../assets/icon/stop.png')"
                  width="15">
              </div>
            </div>
            <div class="col-md-6 m__t--8">{{ props.row[`dataTimer${i.key}`].time }}</div>
          </div>
        </div>
        <div v-if="cekTypeData(i.key) === 'person' && props.row[i.key]">
          <div>
            <div class="td">
              <b-img
                v-if="props.row[i.key].photo"
                :src="props.row[i.key].photo"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
              <b-img
                v-else
                :src="require('../../assets/logo/user1.png')"
                rounded="circle"
                alt="img"
                class="m-1 round-bordered-img
                img-circle staff-img image-popup-link b-page-theme td"/>
            </div>
            <div class="td p__t--7">
              <div>{{ props.row[i.key].email }}</div>
              <div>{{ props.row[i.key].name }}</div>
            </div>
          </div>
        </div>
      </div>
    </v-client-table>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-mixed-operators, no-underscore-dangle, no-param-reassign, no-plusplus */
import { mapActions } from 'vuex';
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixCanvas from '@/mixins/jMixCanvas';
import jApiFormUi from '@/services/jApiFormUi';
import jwtDecode from 'jwt-decode';
import axios from 'axios';
import Vue from 'vue';
import jApi from '@/services/jApi';


export default {
  mixins: [jMixFilterV2, jMixCanvas],
  props: {
    dataTable: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
      formUi: null,
      showTable: false,
      type: 'table',
      columns: [],
      table_options: {
        headings: {},
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        debounce: 1000,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      dataRecordForm: [],
      isMode: 'form',
      filterFunction: {},
    };
  },
  created() {
    const req = {
      page: 1,
      limit: 1,
      filter: {
        id: [this.dataTable.form_ui_id],
      },
    };
    this.actionGetSetupFormUi(req).then((res) => {
      const response = res.data[0];
      this.formUi = response;
      this.isMode = response.type;

      this.getInitialHeaderData();
      if (this.isMode === 'form' || this.isMode === 'dataset') {
        this.cekIsUseFilterFunction();
        // this.getTableViewData();
      } else {
        this.getTableViewDataExternal();
      }
      this.showTable = true;
    });
  },
  methods: {
    ...mapActions('jStoreFormUi', ['actionGetSetupFormUi', 'findFormData', 'actionGetFunctionData']),

    getInitialHeaderData() {
      if (typeof this.formUi === 'undefined') {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Form UI does not exist');
      } else if (this.formUi.table_view) {
        this.columns = this.formUi.table_view.columns.map(val => val.key);
        this.formUi.table_view.columns.forEach((val) => {
          this.table_options.headings[`${val.key}`] = val.name.toUpperCase();
        });
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Table view does not exist');
      }
    },

    cekIsUseFilterFunction() {
      const filterFunctionKeys = this.formUi.table_view.filter_function ?
        Object.keys(this.formUi.table_view.filter_function) : null;
      const filterFunctionValues = this.formUi.table_view.filter_function ?
        Object.values(this.formUi.table_view.filter_function) : null;

      if (filterFunctionValues && filterFunctionValues.length > 0) {
        const lengthFunction = filterFunctionValues.length;
        let lengthProgress = 0;
        filterFunctionValues.forEach((e, index) => {
          this.actionGetFunctionData(e).then((res) => {
            this.filterFunction[filterFunctionKeys[index]] = res;
            lengthProgress++;
            if (lengthFunction === lengthProgress) {
              this.getTableViewData();
            }
          });
        });
      } else {
        this.getTableViewData();
      }
    },

    getTableViewData(params) {
      const dataFilter = {};
      if (this.dataTable.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataTable.timeframe);
        dataFilter.created_at = this.timeRange;
        this.combineFilterV2('App', 'created_at', this.timeRange);
      } else this.clearDataFilterV2();

      const param = this.setupFilter(params, this.dataTable, dataFilter);

      if (this.isMode !== 'form') {
        delete param.form_data_id;
        param.dataset_id = this.formUi.data_source.dataset.dataset_id;
        param.limit = 1000;
      }

      this.getDataCanvas(param, this.isMode);
    },

    getTableViewDataExternal(params) {
      const dataFilter = {};
      if (this.dataTable.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataTable.timeframe);
        dataFilter.created_at = { $between: this.timeRange };
        this.combineFilterV2('App', 'created_at', this.timeRange);
      }

      this.setupFilterExternalUrl(params, this.dataTable, dataFilter);
      this.getDataCanvas(null);
    },

    async getDataCanvas(param) {
      if (this.isMode === 'form') {
        let res;
        if (this.isMode !== 'form') {
          res = await this.getDatasetData(param);
        } else {
          res = await jApiFormUi.getRecordDataV2(param);
        }

        if (!res.error) {
          const findTypeTimer = this.formUi.table_view.columns.map(e => this.cekTypeData(e.key) === 'timer');
          if (findTypeTimer.includes(true)) {
            this.configDataTimer(res.data);
          } else {
            this.dataRecordForm = res.data;
          }
        }
      } else {
        const _user = this.session.user;
        const _paramKey = '';
        const _paramValue = '';
        const _queryType = '';
        const _query = '';

        const dataList = this.formUi ?
          (this.formUi.data_source ?
            (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.list : null)
            : null)
          : null;

        if (dataList) {
          const token = Vue.ls.get('Token');
          const method = dataList.method.toLowerCase();

          let url = '';
          if (method === 'get') {
            const queryParams = Object.keys(dataList.query_params);
            const queryParamsValue = Object.values(dataList.query_params);

            let urlParams = '';
            queryParams.forEach((e, index) => {
              let z;
              const key = e.includes('_paramKey') ? eval(`z=${e}`) : e;
              const value = eval(`z=${queryParamsValue[index]}`);
              const andMore = queryParams.length - 1 > index ? '&' : '';
              if (!e.includes('_paramKey') && !queryParamsValue[index].includes('_paramValue')) {
                urlParams += `${key}=${value}${andMore}`;
              }
              if ((e.includes('_paramKey') && _paramKey) && (queryParamsValue[index].includes('_paramValue') && _paramValue)) {
                urlParams += `${key}=${value}${andMore}`;
              } else if (queryParamsValue[index].includes('_paramValue') && _paramValue) {
                urlParams += `${key}=${value}${andMore}`;
              }
            });

            url = `${dataList.url}?${urlParams}`;
            axios.get(url, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              const dataServer = res.data[dataList.source];
              dataServer.forEach((s) => {
                const dataRow = {};
                this.columns.forEach((e) => {
                  let y;
                  try {
                    dataRow[e] = eval(`y=s.${dataList.variables[e]}`);
                  } catch (err) {
                    dataRow[e] = '';
                  }
                });
                this.dataRecordForm.push(dataRow);
              });
            });
          } else {
            let y;
            const parameter = eval(`y=${dataList.body}`);

            url = dataList.url;
            axios[method](url, parameter, {
              headers: {
                'Content-Type': 'application/json',
                Authorization: `Bearer ${token}`,
              },
            }).then((res) => {
              const dataServer = res.data[dataList.source];
              dataServer.forEach((s) => {
                const dataRow = {};
                this.columns.forEach((e) => {
                  let j;
                  try {
                    dataRow[e] = eval(`j=s.${dataList.variables[e]}`);
                  } catch (err) {
                    dataRow[e] = '';
                  }
                });
                this.dataRecordForm.push(dataRow);
              });
            });
          }
        }
      }
    },

    configDataTimer(data) {
      const dataTable = data.map((e) => {
        this.formUi.table_view.columns.forEach((f) => {
          if (this.cekTypeData(f.key) === 'timer') {
            if (e[f.key]) {
              let dataTime = '';
              let dataLoop = null;
              if (e[f.key].state === 'stop' || e[f.key].state === 'pause') {
                // dataTime = e[f.key].duration ? this.$moment.utc(e[f.key].duration).format('HH:mm:ss') : '00:00:00';
                dataTime = e[f.key].duration ? this.getDuration(e[f.key].duration) : '00:00:00';
              } else {
                dataLoop = setInterval(this.clockRunning, 10);
              }
              e[`dataTimer${f.key}`] = {
                clock_loop: dataLoop,
                running: e[f.key].state ? e[f.key].state === 'start' : false,
                stoped: e[f.key].state ? e[f.key].state === 'stop' : false,
                time: dataTime,
                startTimer: e[f.key].log.length > 0 ? (e[f.key].log[e[f.key].log.length - 1].end_time === 0 ? e[f.key].log[e[f.key].log.length - 1].start_time : e[f.key].log[e[f.key].log.length - 1].end_time) : 0,
                dataLogTimer: e[f.key].log.length > 0 ? e[f.key].log : [],
                statusTimer: e[f.key].state ? e[f.key].state : '',
                duration: e[f.key].duration ? e[f.key].duration : 0,
              };
            } else {
              e[`dataTimer${f.key}`] = {
                clock_loop: null,
                running: false,
                stoped: false,
                time: '00:00:00',
                startTimer: 0,
                dataLogTimer: [],
                statusTimer: '',
                duration: 0,
              };
            }
          }
        });
        return e;
      });
      this.dataRecordForm = dataTable;
    },

    async getDatasetData(param) {
      const api = jApi.generateApi();
      const { data } = await api.post('/nocode/joana/dataset/record/fetch-public', param);
      return data;
    },

    cekTypeData(key) {
      if (key === '') { return ''; }
      if (key === null) { return ''; }
      if (this.isMode === 'form' || this.isMode === 'dataset') {
        const findType = this.dataTable.form_data.columns[key];
        return findType ? findType.type : '';
      }

      const dataColumn = this.formUi ?
        (this.formUi.data_source ?
          (this.formUi.data_source.external_url ? this.formUi.data_source.external_url.columns : null)
          : null)
        : null;
      const findType = dataColumn[key];
      return findType.type;
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      if (this.isMode === 'form') {
        const findRegex = this.dataTable.form_data ? this.dataTable.form_data.columns[dataKey] : null;
        return findRegex ? findRegex.is_use_regex : false;
      }
      return false;
    },

    getDuration(input) {
      const dur = this.$moment.duration(input);
      const hours = Math.floor(dur.asHours());
      const mins = Math.floor(dur.asMinutes()) - hours * 60;
      const sec = Math.floor(dur.asSeconds()) - hours * 60 * 60 - mins * 60;
      // eslint-disable-next-line
      const result = ((hours > 9) ? hours : (`0${hours}`)) + ":" + ((mins > 9) ? mins : (`0${mins}`)) + ":" + ((sec > 9) ? sec : (`0${sec}`));
      return result;
    },

    convertTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const hours = date.getHours();
        const minutes = date.getMinutes();
        return `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}`;
      }
      return null;
    },

    convertTimestamp(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
        return `${years}-${mounth}-${dates}`;
      }
      return null;
    },

    convertDateTime(data) {
      if (data) {
        // const date = new Date(data.toString().length === 13 || data.toString().length === 12 ? data : data * 1000);
        const date = new Date(data);
        const years = date.getFullYear();
        const mounth = date.getMonth() + 1 < 10 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
        const dates = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();

        const hours = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
        const minutes = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();

        return `${years}-${mounth}-${dates} ${hours}:${minutes}`;
      }
      return null;
    },

    setFilter(data) {
      if (this.isMode === 'form' || this.isMode === 'dataset') {
        this.getTableViewData(data);
      } else {
        this.getTableViewDataExternal(data);
      }
    },
  },
};
</script>

<style lang="scss">
  .label-tags {
    margin: 5px;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
    display: inline-block;
  }
</style>
