<template>
  <div>
    <div
      v-if="isLoading"
      style="text-align: center;">
      <div class="lds-ellipsis"><div/><div/><div/><div/></div>
    </div>
    <div
      v-else
      class="canvas-text-data">
      <span v-if="dataText.format_type === 'text' || dataText.format_type === ''">
        {{ display_data }}
      </span>
      <span
        v-if="dataText.format_type === 'number'"
        style="word-break: break-word;"
      >
        {{ formatNumber(display_data) }}
      </span>
      <j-currency
        v-if="dataText.format_type === 'currency'"
        :value="display_data"
      />
    </div>
  </div>
</template>

<script>
/* eslint-disable import/no-extraneous-dependencies, no-nested-ternary, max-len, no-console, no-unused-vars, no-eval, no-plusplus */
import jMixFilterV2 from '@/mixins/jMixFilterV2';
import jMixCanvas from '@/mixins/jMixCanvas';
import jApiFormUi from '@/services/jApiFormUi';
import jwtDecode from 'jwt-decode';
import jApi from '@/services/jApi';

export default {
  mixins: [jMixFilterV2, jMixCanvas],
  props: {
    dataText: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isLoading: true,
      type: 'text',
      display_data: 0,
      session: jwtDecode(JSON.parse(localStorage.getItem('Token')).value),
    };
  },
  mounted() {
    this.initText();
  },
  methods: {
    setFilter(data) {
      this.initText(data);
    },

    initText(params) {
      const dataFilter = {};
      if (this.dataText.timeframe !== 'All Time') {
        this.filterRangeDate(this.dataText.timeframe);
        dataFilter.created_at = this.timeRange;
        this.combineFilterV2('App', 'created_at', this.timeRange);
      } else this.clearDataFilterV2();
      const param = this.setupFilter(params, this.dataText, dataFilter);
      this.getDataCanvas(param);
    },

    async getDataCanvas(param) {
      this.display_data = 0;
      let res;
      if (this.useSourceDataset) {
        res = await this.getDatasetData(param);
      } else {
        res = await jApiFormUi.getRecordDataV2(param);
      }

      if (!res.error) {
        this.isLoading = false;
        res.data.map((item) => {
          const data = item[this.dataText.selected_value];

          if (!isNaN(data) && data && typeof data === 'number') {
            const toNumber = parseInt(data, 10);
            this.display_data = this.display_data + toNumber;
          }
          return null;
        });
      }
    },

    async getDatasetData(param) {
      const api = jApi.generateApi();
      const { data } = await api.post('/nocode/joana/dataset/record/fetch-public', param);
      return data;
    },

    cekTypeData(key) {
      if (!key) { return ''; }
      const findType = this.dataText.form_data ? this.dataText.form_data.columns[key] : null;
      return findType ? findType.type : '';
    },

    cekIsRegex(key) {
      const dataKey = key && key.includes('__duplicate') ? key.replace('__duplicate', '') : key;
      if (!dataKey) { return ''; }
      const findRegex = this.dataText.form_data ? this.dataText.form_data.columns[dataKey] : null;
      return findRegex ? findRegex.is_use_regex : false;
    },

    formatNumber(value) {
      return value.toString().replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    },
  },
};
</script>
<style scoped>
.canvas-text-data {
  font-size: 60px;
  font-weight: bold;
}
.canvas-text-data span {
  font-size: 60px;
  font-weight: bold;
}
</style>
