<template>
  <div
    id="location-component"
    class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-adms-data-form
      ref="form"
      :list-employee="user_restriction_organigram"
      :list-team="team_list"
      :list-shift="shift_list"
      mode="summary"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="3"
            md="3"/>
          <b-col
            cols="9"
            md="9">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <hr>
    <j-adms-data-list
      v-if="isActive === 1"
      ref="summaryServer"
      :params="search_params"
      :oos-route="prefix"
      @export-report="generateXLS"
    />

  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jAdmsDataList from './jAdmsDataList';
import jAdmsDataForm from './jAdmsDataForm';

export default {
  components: {
    jAdmsDataList,
    jAdmsDataForm,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isActive: 1,
      search_params: {
        start_date: this.$moment().format('YYYY-MM-DD'),
        end_date: this.$moment().format('YYYY-MM-DD'),
      },
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['shift_list', 'team_list']),
    ...mapState('jStoreUser', ['user_restriction_organigram']),

    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
    };
    this.actionGetShift(params);
    this.actionGetTeam(params);

    const params2 = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
      user_company_id: localStorage.getItem('user_company_id') || 0,
    };
    this.actionGetUserRestrictionOrganigram(params2);
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetShift', 'actionGetTeam', 'generateSummaryXLS']),
    ...mapActions('jStoreUser', ['actionGetUserRestrictionOrganigram']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    async generateXLS() {
      this.$refs.form.search();
      const res = await this.generateSummaryXLS(this.search_params);
      if (res.error) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.message);
      }
    },
    switchTable(val) {
      this.isActive = val;
    },
  },
};
</script>
