<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <!-- <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div> -->

        <div
          slot="id"
          slot-scope="props">
          {{ props.row.user_id_absen }}
        </div>

        <div
          slot="sn"
          slot-scope="props">
          {{ props.row.serial_number }}
        </div>

        <div
          slot="tgl"
          slot-scope="props">
          {{ props.row.tanggal }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAdms from '@/services/jApiAdms';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      select_type: '',
      options_search: [],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'sn', 'location', 'tgl', 'waktu'],
      options: {
        headings: {
          id: 'USER ID ABSENCE',
          sn: 'SERIAL NUMBER',
          location: 'LOCATION',
          tgl: 'DATE',
          waktu: 'TIME',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['id', 'sn', 'tgl', 'waktu'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'tgl',
              ascending: !data.ascending,
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAdms.getAdmsDataList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params !== null) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.serial_number = this.params.serial_number || '';
        val.location = this.params.location || '';
        val.user_id_absen = this.params.user_id_absen || [];
      } else {
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.serial_number = '';
        val.location = '';
        val.user_id_absen = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.getData();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },
  },
};
</script>
