<template>
  <div
    id="attendanceForm"
    class="form">
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-form-group>
          <b-row>
            <b-col
              cols="3"
              md="3">
              <br>
              <label class="bold">Date</label>
            </b-col>
            <b-col
              cols="9"
              md="9">
              <b-row>
                <b-col
                  cols="6"
                  md="6">
                  <label for="startDate">From</label>
                  <j-datepicker
                    id="startDate"
                    v-model="from_date"
                    :disabled-dates="from_date_disabled"
                    format="MMM dd, yyyy"
                    placeholder="Ex. Jan 01, 2019"/>
                </b-col>
                <b-col
                  cols="6"
                  md="6">
                  <b-form-group>
                    <label for="endDate">To</label>
                    <j-datepicker
                      id="endDate"
                      v-model="end_date"
                      :disabled-dates="end_date_disabled"
                      format="MMM dd, yyyy"
                      placeholder="Ex. Des 31, 2019"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group>
          <b-row>
            <b-col
              cols="3"
              md="3">
              <label class="bold">
                Serial Number
              </label>
            </b-col>
            <b-col
              cols="9"
              md="9">
              <j-input
                v-model="serial_number"
                placeholder="Serial Number"/>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group>
          <b-row>
            <b-col
              cols="3"
              md="3">
              <label class="bold">
                Location
              </label>
            </b-col>
            <b-col
              cols="9"
              md="9">
              <j-input
                v-model="location"
                placeholder="Location"/>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group>
          <b-row>
            <b-col
              cols="3"
              md="3">
              <br>
              <label class="bold">
                User ID Absence
              </label>
            </b-col>
            <b-col
              cols="9"
              md="9">
              <br>
              <j-multi-select
                id="employee"
                ref="employee"
                :is-async="true"
                :load-options="loadOptionsUserID"
                v-model="selected_data_user_absen"
                value-format="object"
                placeholder="Select Employee"/>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase, no-param-reassign */
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jApiAdms from '@/services/jApiAdms';

export default {
  components: {
  },
  props: {
    listEmployee: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      from_date: new Date(),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      serial_number: null,
      location: null,
      selected_data_user_absen: [],
    };
  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
  },
  methods: {
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      }
    },
    search() {
      this.$emit('data', {
        start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
        serial_number: this.serial_number,
        location: this.location,
        user_id_absen: this.selected_data_user_absen.map(({ idabsen }) => idabsen),
      });
    },
    loadOptionsUserID({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          limit: 50,
          page: 1,
          column: 'id',
          ascending: true,
          query: searchQuery,
        };
        this.data = this.getListUserID(reqData, callback);
      }
    },
    getListUserID(req, callback) {
      return jApiAdms.getUserAbsenList(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.idabsen} - ${lab.name}`;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
  },
};
</script>

<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }

  #attendanceForm {
    .custom-control {
      padding-left: 0 !important;
    }

    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label {
      border: none;
      background: none;
      color: #808285;
      padding: 5px 10px 5px 20px !important;
    }

    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label:before {
      left: 0;
      top: 7px;
      background: none;
      border-color: black;
    }
    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label:after {
      left: 0;
      top: 7px;
      border-color: black;
    }
  }
</style>
