<template>
  <div class="company-currency">
    <div
      v-if="input_mode"
      class="jInput">
      <b-row
        class="input-form">
        <vue-autonumeric
          :disabled="disabled"
          :options="format_options"
          :value="value"
          :placeholder="placeholder"
          class="form-control"
          @input="$emit('input', $event)"
        />
      </b-row>
      <label
        v-if="errorRequired"
        class="show">{{ errorMessage }}
      </label>
    </div>
    <b-row
      v-else-if="input_mode === false && text_left && text_right"
      class="input-form">
      <slot name="text-left"/>&nbsp;
      <vue-autonumeric
        :options="format_options"
        :value="value"
        :placeholder="placeholder"
        contenteditable="false"
        tag="div"
        @input="$emit('input', $event)"
      />&nbsp;
      <slot name="text-right"/>
    </b-row>
    <b-row
      v-else-if="input_mode === false && text_left"
      class="input-form">
      <slot name="text-left"/>&nbsp;
      <vue-autonumeric
        :options="format_options"
        :value="value"
        :placeholder="placeholder"
        contenteditable="false"
        tag="div"
        @input="$emit('input', $event)"
      />
    </b-row>
    <b-row
      v-else-if="input_mode === false && text_right"
      class="input-form">
      <vue-autonumeric
        :options="format_options"
        :value="value"
        :placeholder="placeholder"
        contenteditable="false"
        tag="div"
        @input="$emit('input', $event)"
      />&nbsp;
      <slot name="text-right"/>
    </b-row>
    <b-row
      v-else-if="input_mode === false"
      class="input-form">
      <vue-autonumeric
        :options="format_options"
        :value="value"
        :placeholder="placeholder"
        contenteditable="false"
        tag="div"
        @input="$emit('input', $event)"
      />
    </b-row>
  </div>
</template>

<script>
import vueAutonumeric from '@/components/currency-selection/VueAutonumeric';

export default {
  name: 'JCurrency',
  components: {
    'vue-autonumeric': vueAutonumeric,
  },
  props: {
    value: {
      type: Number,
      default: 0,
    },
    options: {
      type: Object,
      default: () => (
        JSON.parse(localStorage.getItem('currency_format'))
      ),
    },
    input_mode: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: '',
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    format_options() {
      return this.hasWhiteSpace(this.options);
    },
    text_left() {
      return this.$slots['text-left'];
    },
    text_right() {
      return this.$slots['text-right'];
    },
  },
  methods: {
    hasWhiteSpace(val) {
      if (val.currencySymbol.indexOf(' ') >= 0) {
        return val;
      }
      const cs = val.currencySymbol;
      if (val.currencySymbolPlacement === 's') {
        this.$set(val, 'currencySymbol', ` ${cs} `);
      } else {
        this.$set(val, 'currencySymbol', `${cs} `);
      }
      return val;
    },
  },
};
</script>
