<template>
  <div>
    <j-timesheet-form-project-form
      ref="form"
      :list-employee="employee_list"
      :list-task="task_list"
      :list-field="field_list"
      @get-field-list="getField"
      @data="getData"
    />
    <b-row>
      <b-col
        cols="8"
        md="8">
        <div class="m__b--20">
          <b-button
            class="btn green pull-right"
            @click="generateXLS"
          ><i class="fa fa-download bold" />
            Generate Report XLS
          </b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jTimesheetFormProjectForm from './jTimesheetFormProjectForm';

export default {
  name: 'jTimesheetFormProjectTabComp',
  components: {
    jTimesheetFormProjectForm,
  },
  data() {
    return {
      param_data: null,
    };
  },
  computed: {
    ...mapState('jStoreReportTimesheet', ['employee_list', 'task_list', 'field_list']),
  },
  created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.getListEmployee({ user_company_id: localStorage.getItem('user_company_id') });
    this.getListTask(rootId);
  },
  methods: {
    ...mapActions('jStoreReportTimesheet', ['getListEmployee', 'getListTask', 'getListProject', 'getFormByTaskId', 'generateFormXLS']),

    getField(data) {
      this.getFormByTaskId({ task_project_id: data });
    },
    getData(data) {
      this.param_data = data;
    },
    generateXLS() {
      this.$refs.form.generateXLS();
      this.generateFormXLS(this.param_data);
    },
  },
};
</script>
