<template>
  <div class="form m__t--20">
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="startDate">Date</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="startDate">From</label>
              <j-datepicker
                id="startDate"
                v-model="from_date"
                :disabled-dates="from_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="endDate">To</label>
              <j-datepicker
                id="endDate"
                v-model="end_date"
                :disabled-dates="end_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Des 31, 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <label
                class="bold"
                for="task">Task</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <j-single-select
                id="task"
                v-model="selected_data_task"
                :options="task_list"
                placeholder="Select Task"
                value-format="object"
                label="text"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <label
                class="bold"
                for="employeeName">Name</label>
              <br>
              <span>
                <span class="f-blue bold">
                  {{ total_employee }}
                </span> Employee
              </span>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataEmployee">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataEmployee">
                select all
              </a>
              <br>
              <j-multi-select
                id="employeeName"
                ref="employeeName"
                :options="employee_list"
                v-model="selected_data_employee"
                placeholder="Select Employee"
                label="text"
                value-format="object"
                @getData="getDataEmployee"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="3"
            md="3">
            <b-form-group>
              <label for="type">Type</label>
              <j-timesheet-checkbox
                id="type"
                ref="checkBoxType"
                :checkbox-data="checkbox_data_type"
                @is-checking="getDataFilter"
                @get-data="getDataType"
              />
            </b-form-group>
          </b-col>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <label for="status">Status</label>
              <j-timesheet-checkbox
                id="status"
                ref="checkBoxStatus"
                :checkbox-data="checkbox_data_status"
                @is-checking="getDataFilter"
                @get-data="getDataStatus"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="employeeName">Field(s)</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataFields">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataFields">
                select all
              </a>
              <br>
              <j-multi-select
                ref="multiCheckFields"
                :options="field_list"
                v-model="selected_data_fields"
                placeholder="Select Fields"
                value-format="object"
                @getData="getDataFields"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
// import { mapActions, mapState } from 'vuex';
import jTimesheetCheckbox from '@/components/inputs/jTimesheetCheckbox';

export default {
  name: 'JTimesheetProjectForm',
  components: {
    jTimesheetCheckbox,
  },
  props: {
    listTask: {
      type: Array,
      default: () => [],
    },
    listEmployee: {
      type: Array,
      default: () => [],
    },
    listField: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      user_company_ids: [],
      checkbox_data_type: [
        {
          name: 'PERMANENT', value: 'PERMANENT',
        },
        {
          name: 'PROBATION', value: 'PROBATION',
        },
        {
          name: 'CONTRACT', value: 'CONTRACT',
        },
        {
          name: 'OUTSOURCE', value: 'OUTSOURCE',
        },
        {
          name: 'INTERNSHIP', value: 'INTERNSHIP',
        },
        {
          name: 'CONSULTANT', value: 'CONSULTANT',
        },
      ],
      checkbox_data_status: [
        {
          name: 'ACTIVE', value: 1,
        },
        {
          name: 'INACTIVE', value: 0,
        },
      ],
      filtered_data: [],
      employee_temp: [],
      total_employee: 0,
      from_date: null,
      end_date: null,
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      employee_list: [],
      task_list: [],
      field_list: [],
      selected_data_fields: [],
      get_data_fields: '',
      selected_data_task: null,
      get_data_task: null,
      selected_data_employee: [],
      get_data_employee: '',
      filter_employee: {
        status: [],
        type: [],
      },
    };
  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_data_employee(data) {
      data.forEach((val) => {
        this.user_company_ids.push(val.user_company_id);
      });
    },
    selected_data_task(data) {
      this.selected_data_fields = [];
      this.$emit('get-field-list', data.id);
    },
    listEmployee(data) {
      data.forEach((element) => {
        this.employee_list.push({
          id: element.id,
          user_company_id: element.user_company_id,
          text: element.email,
          type: element.contract_type,
          status: element.employee_status,
        });
      });
      this.employee_temp = this.employee_list;
      this.total_employee = this.employee_list.length;
    },
    listField(data) {
      data.forEach((element) => {
        this.field_list.push({
          id: element.id,
          text: element.name,
          type: element.type,
        });
      });
    },
    listTask(data) {
      data.forEach((element) => {
        this.task_list.push({
          id: element.id,
          text: element.name,
          project_id: element.project_id,
        });
      });
    },
  },
  methods: {
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      }
    },
    // Task
    getDataTask(data) {
      this.get_data_task = data;
    },
    // Employee
    getDataEmployee(data) {
      this.get_data_employee = data;
    },
    selectAllDataEmployee() {
      this.selected_data_employee = [...this.employee_list];
    },
    unselectAllDataEmployee() {
      this.selected_data_employee = [];
      this.employee_list = this.employee_temp;
      this.total_employee = this.employee_list.length;

      this.$refs.checkBoxType.setEmptyCheckbox();
      this.$refs.checkBoxStatus.setEmptyCheckbox();
    },
    generateXLS() {
      this.$emit('data', {
        user_company_ids: this.user_company_ids,
        task_project_id: this.selected_data_task ? this.selected_data_task.id : 0,
        start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
        field_ids: this.selected_data_fields,
      });
    },
    getDataStatus(data) {
      this.filter_employee.status = data;
      this.setEmployeeList();
    },
    getDataType(data) {
      this.filter_employee.type = data;
      this.setEmployeeList();
    },
    setEmployeeList() {
      this.filtered_data = [];
      if (this.filter_employee.type.length > 0 && this.filter_employee.status.length > 0) {
        this.filter_employee.type.forEach((t) => {
          if (this.filter_employee.status.length > 0) {
            this.filter_employee.status.forEach((s) => {
              this.filtered_data = this.filtered_data
                .concat(this.employee_temp.filter(e => e.type === t && e.status === s));
            });
          } else {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          }
        });
        this.selected_data_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else if (this.filter_employee.type.length > 0 || this.filter_employee.status.length > 0) {
        if (this.filter_employee.status.length > 0) {
          this.filter_employee.status.forEach((s) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.status === s));
          });
        } else {
          this.filter_employee.type.forEach((t) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          });
        }
        this.selected_data_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else {
        this.selected_data_employee = [];
        this.employee_list = this.employee_temp;
        this.total_employee = this.employee_list.length;
      }
    },
    getDataFilter(data) {
      if (data) {
        this.$refs.checkBoxType.getData();
        this.$refs.checkBoxStatus.getData();
      }
    },
    // Fields
    getDataFields(data) {
      this.get_data_fields = data;
    },
    selectAllDataFields() {
      this.selected_data_fields = [...this.field_list];
    },
    unselectAllDataFields() {
      this.selected_data_fields = [];
    },
  },
};
</script>
<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }
</style>
