<template>
  <div>
    <h3
      class="modal-title"
      style="color: #9A9A9A !important">
      CREATE USER
    </h3>
    <div>
      <j-user-form
        ref="employeeForm"
        mode="create"
        @data="getData"/>
    </div>
    <br>
    <b-row>
      <b-col>
        <div class="float-to-right">
          <b-button
            class="btn blue m__r--5"
            @click="saveCreateEmployee">
            Submit
          </b-button>
          <b-button
            class="btn gray"
            @click="closeModal">
            Close
          </b-button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import jMixEncryption from '@/mixins/jMixEncryption';
import jUserForm from './jUserForm';

export default {
  components: {
    jUserForm,
  },
  mixins: [jMixEncryption],
  data() {
    return {
      employee_data: null,
      title: {
        main_title: 'CREATE EMPLOYEE',
      },
    };
  },
  computed: {
    generateData() {
      const genData = {
        email: this.employee_data.email ? this.employee_data.email : null,
        password: this.employee_data.password ? this.employee_data.password : null,
        first_name: this.employee_data.first_name ? this.employee_data.first_name : null,
        last_name: this.employee_data.last_name ? this.employee_data.last_name : null,
        date_of_birth: this.employee_data.date_of_birth ? this.$moment(this.employee_data.date_of_birth).format('YYYY-MM-DD') : null,
        user_role: this.employee_data.role ? this.employee_data.role.id : null,
      };
      return genData;
    },
  },
  mounted() {
    this.setKeyPublicRSA();
  },
  methods: {
    ...mapActions('jStoreEmployee', ['createEmployeeAuthService']),

    getData(data) {
      this.employee_data = data;
    },
    closeModal() {
      this.$emit('close-modal', true);
    },
    async saveCreateEmployee() {
      this.$refs.employeeForm.save();
      if (this.employee_data !== null && this.publicKey) {
        const encryptedPassword = await this.encryption(this.employee_data.password);
        const payload = {
          ...this.generateData,
          password: this.employee_data.password ? encryptedPassword : null,
        };
        const res = await this.createEmployeeAuthService(payload);
        if (!res.error) {
          this.$emit('close-modal', true);
        }
      }
    },
  },
};
</script>
