<template>
  <div
    id="overtime-form-detail"
    class="p-4"
  >
    <b-row>
      <b-col cols="8">
        <div ref="containerFormData">
          <b-row
            v-if="isAdmin || isPicOrManagement">
            <b-col
              v-show="false"
              md="6"
              sm="6"
              class="toggle-container">
              <b-form-group>
                <label>Create for other employee</label>
                <j-toggle
                  v-model="toggleForOther"
                  :disabled="true"
                  off="off"
                  on="on"/>
              </b-form-group>
            </b-col>
            <b-col v-show="false">
              <b-form-group :class="{'error-input' : $v.formData.employee.$error}">
                <label>Employee Name</label>
                <j-single-select
                  v-model="$v.formData.employee.$model"
                  :is-async="true"
                  :load-options="loadOptionsEmployee"
                  :disabled="true"
                  :placeholder="'Select Employee'"
                  value-format="object"/>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              sm="6">
              <b-form-group>
                <label>Employee ID</label>
                <j-input
                  v-model="employee.id"
                  :disabled="true"
                  :placeholder="'Employee ID'"/>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              sm="6">
              <b-form-group>
                <label>Employee Name</label>
                <j-input
                  v-model="employee.name"
                  :disabled="true"
                  :placeholder="'Employee Name'"/>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="6">
              <b-form-group :class="{'error-input' : $v.formData.overtime_type.$error}">
                <label>Overtime Type <span class="red"> * </span> </label>
                <j-single-select
                  v-model="$v.formData.overtime_type.$model"
                  :options="overtime_type_list"
                  :placeholder="'Select Overtime Type'"
                  :disabled="true"
                  value-format="object"
                  label="name"
                />
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group
                v-if="formData.overtime_type"
                :class="{'error-input' : $v.formData.attendance.$error}"
              >
                <label>
                  List Attendance
                </label>
                <j-single-select
                  v-model="$v.formData.attendance.$model"
                  :options="attendance_options"
                  :placeholder="'Select Attendance'"
                  :disabled="true"
                  value-format="object"
                  label="label"
                />
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="12">
              <b-form-group :class="{'error-input' : $v.formData.reason.$error}">
                <label>Reason</label>
                <j-textarea
                  v-model="$v.formData.reason.$model"
                  :disabled="true"
                  placeholder="Write reason here"
                />
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="6">
              <b-form-group :class="{'error-input' : $v.formData.start_date.$error}">
                <label
                  for="startTime"
                  style="margin-top:5px">Start Date <span class="red"> * </span> </label>
                <j-datepicker
                  id="startTime"
                  :disabled="true"
                  v-model="$v.formData.start_date.$model"
                  format="MMM dd, yyyy"
                  placeholder="ex: 1 Jan 2019"/>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group :class="{'error-input' : $v.formData.end_date.$error}">
                <label
                  for="endTime"
                  style="margin-top:5px">End Date <span class="red"> * </span> </label>
                <j-datepicker
                  id="endTime"
                  :disabled="true"
                  v-model="$v.formData.end_date.$model"
                  format="MMM dd, yyyy"
                  placeholder="ex: 2 Jan 2019"/>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="6">
              <b-form-group :class="{'error-input' : $v.formData.start_time.$error}">
                <label>From <span class="red"> * </span> </label>
                <j-clockpicker
                  v-model="formData.start_time"
                  :disabled="true"
                  placeholder="ex: 06.00"/>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group :class="{'error-input' : $v.formData.end_time.$error}">
                <label>To <span class="red"> * </span> </label>
                <j-clockpicker
                  v-model="formData.end_time"
                  :disabled="true"
                  placeholder="ex: 06.00"/>
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="6">
              <b-form-group>
                <label>Total Overtime Hours</label>
                <j-input
                  v-model="totalOvertime"
                  :disabled="true"
                />
              </b-form-group>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <label> Attachment </label>
              <div
                v-for="(item, index) in formData.docs"
                :key="index"
                class="container-attachment">
                <j-upload-file
                  :img-default="item.url"
                  :option-name="item.name"
                  :url-upload="url_upload"
                  :accepted-file-type="acceptedFileType"
                  :api-token="api"
                  :disabled="true"
                  @url="getDocs(index, $event)"/>
              </div>
            </b-col>
          </b-row>
        </div>
      </b-col>

      <b-col cols="4">
        <b-row class="w-100">
          <div class="logs-container-times w-100">
            <b-col
              cols="12"
              class="w-100 p-0 d-inline-flex">
              <img
                :src="require('@/assets/icon/logs.png')"
                class="m__r--10"
                style="width: 20px; height: 20px;">
              <h1
                class="f--medium"
                style="font-size: 15px; line-height: 20px;">
                LOGS
              </h1>
            </b-col>
            <b-col
              cols="12"
              class="p-0">
              <div
                :style="containerHeight ?
                `max-height: ${containerHeight}px` : 'none'"
                class="timeline-wrapper">
                <j-time-line
                  v-if="logs.length > 0"
                  :data="logs"
                  :convert="true"/>
              </div>
            </b-col>
          </div>
        </b-row>
      </b-col>
    </b-row>

  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jMixTable from '@/mixins/jMixTable';
import jMixLogs from '@/mixins/jMixLogs';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jTimeLine from '@/components/timeline/jTimeLine';
import jUploadFile from '@/components/upload-file/jUploadFile';
import jApiUser from '@/services/jApiUser';
import Vue from 'vue';

export default {
  components: {
    jLoadingTable,
    jTimeLine,
    jUploadFile,
  },
  mixins: [
    jMixTable,
    jMixLogs,
  ],
  props: {
    mode: {
      type: String,
      default: 'detail',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  validations() {
    const validate = {
      formData: {
        start_date: {
          required,
        },
        end_date: {
          required,
        },
        start_time: {
          required,
        },
        end_time: {
          required,
        },
        employee: {
          // do nothing
        },
        overtime_type: {
          required,
        },
        attendance: { },
        reason: { },
      },
    };
    if (this.toggleForOther) {
      validate.formData.employee = { required };
    }
    return validate;
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      toggleForOther: false,
      formData: {
        employee: null,
        start_date: null,
        end_date: null,
        start_time: null,
        end_time: null,
        overtime_type: null,
        attendance: null,
        reason: null,
        docs: [],
        timezone: null,
        attendance_group_id: null,
      },
      employee: {
        id: null,
        name: null,
      },
      acceptedFileType: ['jpg', 'png', 'jpeg', 'pdf'],
      api: Vue.ls.get('Token'),
      attendance_options: [],
      overtimeStart: null,
      overtimeEnd: null,
      totalOvertime: 0,
      logs: [],
    };
  },
  computed: {
    ...mapState('jStoreOvertime', ['overtime_type_list', 'attendances_list', 'overtime_detail', 'overtime_logs']),

    url_upload() {
      return `${process.env.GATE_URL}file`;
    },
  },
  watch: {
    overtime_detail(val) {
      const params = {
        user_company_id: Number(localStorage.getItem('user_company_id')),
      };
      this.actionGetListOvertimeType(params);

      if (val.employee_id) {
        this.toggleForOther = true;
      } else {
        this.toggleForOther = false;
      }

      this.employee = {
        id: val.employee_id ? val.employee_id : null,
        name: val.employee_name ? val.employee_name : null,
      };

      this.formData = {
        employee: val.employee_id ? { id: val.employee_id } : null,
        start_date: val.start_date,
        end_date: val.end_date,
        start_time: val.start_time,
        end_time: val.end_time,
        overtime_type: { id: val.overtime_type_id },
        reason: val.reason,
        docs: [],
        timezone: val.timezone,
        attendance_group_id: val.attendance_group_id,
      };

      if (val.docs.length > 0) {
        this.formData.docs = val.docs.map((doc, index) => ({
          url: doc.file_url,
          name: `Document ${index + 1}`,
          is_delete: false,
        }));
      } else {
        this.formData.docs = [
          {
            url: '',
            name: '',
            is_delete: false,
          },
        ];
      }

      this.totalOvertime = val.total_overtime_hours;

      if (val.attendance) {
        const labeling = `${this.$moment(val.attendance.date).format('MMM DD, YYYY')} ${this.$moment(Number(val.attendance.check_in_time)).format('HH:mm')}`;
        this.formData.attendance = {
          ...val.attendance,
          id: val.id,
          label: labeling,
        };
      }
    },
    // eslint-disable-next-line func-names
    'formData.overtime_type': async function (val) {
      if (val) {
        const params = {
          id: val.id,
        };
        this.actionGetListAttendance(params);
      }
    },

    attendances_list(data) {
      this.attendance_options = [];
      data.forEach((el) => {
        const labeling = `${this.$moment(el.ci_date).format('MMM DD, YYYY')} ${el.ci_time}`;
        this.attendance_options.push({
          ...el,
          label: labeling,
        });
      });
    },

    overtime_logs(val) {
      this.logs = [];
      if (val.length > 0) {
        this.logs = val;
      }
    },
  },
  created() {
    this.actionGetDetailOvertime({ id: this.$route.params.id });
    this.actionGetLogs({ id: this.$route.params.id });
  },
  methods: {
    ...mapActions('jStoreOvertime', ['actionGetListOvertimeType', 'actionGetListAttendance', 'actionGetDetailOvertime', 'actionGetLogs']),

    dateRangePic() {
      const date = new Date();
      date.setDate(date.getDate() - 30);
      return date;
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListEmployee(reqData, callback);
      }
    },
    getListEmployee(req, callback) {
      return jApiUser.getUserRestrictionOrganigram(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.employee_id} - ${lab.first_name} ${lab.last_name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },

    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin') || this.privRolesString.includes('hrtimes') || this.privRolesString.includes('hr');
    },
    isPicOrManagement() {
      return this.privRolesString.includes('pictimes') || this.privRolesString.includes('management');
    },
  },
};
</script>

<style lang="scss">
  #overtime-form-detail {

    .toggle-container {
      .custom-control-inline {
        margin: 1rem 1rem 0 !important;
      }
      .custom-control {
        padding-left: 5px !important;
      }
    }

    .jTable {
      .reason input {
        width: 150px !important;
      }

      .jDatePicker input {
        width: 140px !important;
      }

      .clock-picker input {
        width: 90px !important;
      }

      .jSelectSingle {
        width: 200px !important;
      }

      .jDatePicker > .vdp-datepicker__calendar {
        z-index: 999 !important;
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container {
        position: relative !important;
      }

      .jSelectSingle > .vue-treeselect__menu-container > .vue-treeselect__menu {
        position: relative !important;
      }
    }

  }
</style>
