<template>
  <div>
    <b-row>
      <b-col
        cols="12">
        <j-certification-record-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @achievement="getCertificationDetail"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-certification-record-form
          :mode="mode"
          :detail="certification_detail"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import jCertificationRecordForm from './jCertificationRecordForm';
import jCertificationRecordTable from './jCertificationRecordTable';

export default {
  name: 'JCertificationRecord',
  components: {
    jCertificationRecordForm,
    jCertificationRecordTable,
  },
  data() {
    return {
      mode: '',
      certification_detail: null,
      title: {
        main_title: 'TRAINING AND CERTIFICATION RECORD',
      },
    };
  },
  methods: {
    getCertificationDetail(data) {
      this.certification_detail = data;
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.certification_detail = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style scoped>

</style>
