<template>
  <div class="form-container--normal">
    <b-row>
      <b-col cols="12">
        <b-form-group :class="{'error-input' : $v.certification_record.development_type.$error}">
          <label class="form__label">Type</label>
          <j-single-select
            v-model="$v.certification_record.development_type.$model"
            :options="type_options"
            placeholder="Type"
            value-format="object"
          />
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.provider.$error}">
          <label class="form__label">Provider Trainer</label>
          <j-input
            v-model="$v.certification_record.provider.$model"
            placeholder="Provider"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.name.$error}">
          <label class="form__label">Certification/Training Name</label>
          <j-input
            v-model="$v.certification_record.name.$model"
            placeholder="Name"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.start_date.$error}">
          <label class="form__label">Begin Date</label>
          <j-datepicker
            v-model="$v.certification_record.start_date.$model"
            :disabled-dates="disabledStartDate(certification_record.end_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.end_date.$error}">
          <label class="form__label">End Date</label>
          <j-datepicker
            v-model="$v.certification_record.end_date.$model"
            :disabled-dates="disabledEndDate(certification_record.start_date)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.description.$error}">
          <label class="form__label">Description</label>
          <j-input
            v-model="$v.certification_record.description.$model"
            placeholder="Description"/>
        </b-form-group>
        <b-form-group :class="{'error-input' : $v.certification_record.result.$error}">
          <label class="form__label">Result</label>
          <j-input
            v-model="$v.certification_record.result.$model"
            placeholder="Result"/>
        </b-form-group>
        <b-form-group>
          <label class="form__label">Attachment</label>
          <div
            v-for="(item, index) in certification_record.self_development_attachments"
            v-show="!item.is_delete"
            :key="index"
            class="container-attachment">
            <j-upload-file
              ref="jUploadFile"
              :accepted-file-type="acceptedFileType"
              :img-default="mode === 'edit' ? item.url : null"
              :api-token="api"
              :url-upload="url_upload"
              :max-file-size="5000"
              :more-data="true"
              @url="getDocs(index, 'url', $event)"
              @deleteFile="getDocs(index, 'is_delete', null)"
            />
          </div>
          <span class="info-attachment">
            document format: {{ acceptedFileType.join(', ') }}
          </span>
          <div
            class="d-flex cursor-pointer label-add-attachment"
            @click="addAttachment">
            <i class="fa fa-plus"/>
            <div class="attachment-add-more-data">Add Attachment</div>
          </div>
        </b-form-group>
      </b-col>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable global-require */
import { required } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import jUploadFile from '@/components/upload-file/jUploadFile';
import eventBus from './event-bus/index';

export default {
  name: 'JCertificationRecordForm',
  components: {
    Spinner,
    jUploadFile,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      certification_record: {
        id: 0,
        development_type: null,
        provider: null,
        name: null,
        start_date: null,
        end_date: null,
        description: null,
        result: null,
        self_development_attachments: [{ url: null, is_delete: false }],
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        development_type: null,
        provider: null,
        name: null,
        start_date: null,
        end_date: null,
        description: null,
        result: null,
        self_development_attachments: [{ url: null, is_delete: false }],
      },
      acceptedFileType: ['jpg', 'png', 'jpeg', 'bmp', 'pdf'],
      type_options: [
        {
          id: 'Training',
          text: 'Training',
        }, {
          id: 'Certification',
          text: 'Certification',
        },
      ],
    };
  },
  computed: {
    api() {
      return this.$ls.get('Token', null);
    },
    url_upload() {
      return `${localStorage.getItem('gateUrl')}/file`;
    },
  },
  watch: {
    detail(data) {
      if (this.mode === 'edit') {
        this.certification_record.id = data.id;
        this.certification_record.development_type = {
          id: data.development_type,
          text: data.development_type,
        };
        this.certification_record.provider = data.provider;
        this.certification_record.name = data.name;
        this.certification_record.start_date = data.start_date;
        this.certification_record.end_date = data.end_date;
        this.certification_record.description = data.description;
        this.certification_record.result = data.result;
        this.certification_record.self_development_attachments =
          data.self_development_attachments;

        this.is_submit_mode = false;
        this.submit_text = 'Update';

        this.previous_data = Object.assign({}, this.certification_record);
      } else {
        this.certification_record.id = 0;
        this.certification_record.development_type = null;
        this.certification_record.name = null;
        this.certification_record.provider = null;
        this.certification_record.start_date = null;
        this.certification_record.end_date = null;
        this.certification_record.description = null;
        this.certification_record.result = null;
        this.certification_record.self_development_attachments = [{ url: null, is_delete: false }];
        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.certification_record.$reset();
      }
    },
    is_submit_mode(val) {
      if (val) {
        this.$refs.jUploadFile[0].thumbnail = '';
      }
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });
  },
  methods: {
    submit() {
      this.$v.certification_record.$touch();
      if (!this.$v.certification_record.$error) {
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          const newObject = {
            ...this.certification_record,
            development_type: this.certification_record.development_type.id,
            // eslint-disable-next-line max-len
            self_development_attachments: this.certification_record.self_development_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.postSelfDevelopment(employeeId, newObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;

          const patchedObject = {
            ...this.certification_record,
            development_type: this.certification_record.development_type.id,
            // eslint-disable-next-line max-len
            self_development_attachments: this.certification_record.self_development_attachments.filter(el => !el.is_delete).map(item => ({ url: item.url })),
          };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateSelfDevelopment(employeeId,
            this.certification_record.id, patchedObject).then((res) => {
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      }
    },
    cancelForm() {
      this.certification_record.id = 0;
      this.certification_record.development_type = null;
      this.certification_record.name = null;
      this.certification_record.provider = null;
      this.certification_record.start_date = null;
      this.certification_record.end_date = null;
      this.certification_record.description = null;
      this.certification_record.result = null;
      this.certification_record.self_development_attachments = [{ url: null, is_delete: false }];
      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      setTimeout(() => {
        this.$v.certification_record.$reset();
      }, 0);

      eventBus.$emit('currentRow', 0);
    },
    revert() {
      this.is_loading.revert = true;
      this.certification_record = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;
      this.$emit('close-modal', true);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id } = this.currentObject;
          const { id: employeeId } = this.$route.params;

          jApiEmployee.deleteSelfDevelopment(employeeId, id).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        } else {
          this.is_loading.remove = false;
        }
        this.$emit('close-modal', true);
      });
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    getDocs(index, action, data) {
      const dataAction = action === 'is_delete' ? true : data;
      this.certification_record.self_development_attachments[index][action] = dataAction;
    },
    addAttachment() {
      this.certification_record.self_development_attachments.push({ url: '', is_delete: false });
    },
  },
  /*
  Training and Certification Record (Multiple)

  Type (Selection : Training or Certification) → hardcode frontend (db : Integer), mandatory

  Provider Trainer (free text, mandatory)

  Certification/Training Name (free text, mandatory)

  Begin Date (DD/MM/YY), mandatory

  End Date (DD/MM/YY), mandatory

  Description (free text, optional)

  Result (free text, optional)

  Document Upload : (attachment, can multiple, optional)
  * */
  validations() {
    return {
      certification_record: {
        development_type: {
          required,
        },
        provider: {
          required,
        },
        name: {
          required,
        },
        description: {
        },
        result: {
        },
        start_date: {
          required,
        },
        end_date: {
          required,
        },
      },
    };
  },
};
</script>

<style scoped>

</style>
