<template>
  <div>
    <b-row>
      <b-col
        md="5"
        sm="12"
        cols="12">
        <b-form-group>
          <b-row
            style="width: 100%"
            class="mx-0">
            <b-col
              class="pl-0"
              md="6"
              sm="6">
              <label>Project</label>
            </b-col>
            <b-col
              class="pr-0 text-right"
              md="6"
              sm="6">
              <label
                style="color: #4a90e2"
                class="select-label font-weight-bold mr-2"
                @click="selectAllProject()">Select All</label>
              <label
                style="color: #4a90e2"
                class="select-label font-weight-bold"
                @click="unselectAllProject()">Unselect All</label>
            </b-col>
          </b-row>
          <j-multi-select
            :options="listProject"
            v-model="selected_data_project"
            placeholder="Select Project"
            value-format="object"
            label="name"/>
        </b-form-group>
      </b-col>
      <b-col
        md="4"
        sm="12"
        cols="12">
        <b-form-group>
          <b-row>
            <b-col
              cols="12"
              md="12">
              <b-row>
                <b-col
                  cols="6"
                  md="6">
                  <label for="startDate">From</label>
                  <j-datepicker
                    id="startDate"
                    v-model="from_date"
                    :disabled-dates="from_date_disabled"
                    format="MMM dd, yyyy"
                    placeholder="Ex. Jan 01, 2019"/>
                </b-col>
                <b-col
                  cols="6"
                  md="6">
                  <b-form-group>
                    <label for="endDate">To</label>
                    <j-datepicker
                      id="endDate"
                      v-model="end_date"
                      :disabled-dates="end_date_disabled"
                      format="MMM dd, yyyy"
                      placeholder="Ex. Des 31, 2019"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
      <b-col
        class="d-flex align-items-center "
        md="3"
        sm="12"
        cols="3">
        <b-form-group class="text-left search-form">
          <b-row>
            <b-col
              cols="10"
              md="10">
              <b-button
                class="btn blue d-flex items-center"
                @click="searchReport"
              ><i class="fa fa-search bold mr-1" />
                Search
              </b-button>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
    </b-row>

    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="attendanceServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">

        <div
          slot="photo"
          slot-scope="props">
          <img
            :src="props.row.image_url"
            class="img-responsive round-bordered-img staff-img b-grey">
        </div>

        <div
          slot="check_in"
          slot-scope="props"
          @click="openDetail(props.row.id)"
        >
          {{ milisToDate(props.row.check_in_time) }}
        </div>

        <div
          slot="check_out"
          slot-scope="props"
          @click="openDetail(props.row.id)"
        >
          {{ props.row.checkout ? milisToDate(props.row.checkout.time) : '-' }}
        </div>

        <div
          slot="project"
          slot-scope="props"
          @click="openDetail(props.row.id)"
        >
          {{ props.row.project_name }}
        </div>

        <div
          slot="total_working_hours"
          slot-scope="props"
          @click="openDetail(props.row.id)"
        >
          {{ props.row.checkout ?
          timeDiff(props.row.checkout.time,props.row.check_in_time) : '-' }}
        </div>

        <div
          slot="status"
          slot-scope="props"
        >
          {{ props.row.status === 'CI' ? 'Check In' : 'Check Out' }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';
import moment from 'moment';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      select_type: 'name',
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['photo', 'shift_start_time', 'check_in', 'shift_end_time', 'check_out', 'project', 'address', 'venue_name', 'total_working_hours', 'status'],
      options: {
        headings: {
          photo: 'PHOTO',
          shift_start_time: 'SHIFT START TIME',
          check_in: 'CHECK IN DATE',
          shift_end_time: 'SHIFT END TIME',
          check_out: 'CHECK OUT DATE',
          project: 'PROJECT',
          address: 'ADDRESS',
          venue_name: 'VENUE',
          total_working_hours: 'TOTAL WORKING HOURS',
          status: 'STATUS',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['check_in', 'check_out', 'project'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy ? data.orderBy : 'id',
            ascending: !data.ascending,
            query: data.query ? data.query : '',
            start_date: '',
            end_date: '',
            project_ids: [],
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getAttendances(data);
          getList.then((e) => {
            this.$store.commit('jStoreAttendance/setAttendancesList', e);
          });
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
      listProject: [],
      selected_data_project: [],
      selected_project_ids: [],
      // eslint-disable-next-line no-mixed-operators
      from_date: new Date(Date.now() - 30 * 24 * 60 * 60 * 1000),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['project_list']),

  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_data_project(data) {
      this.selected_project_ids = [];
      data.forEach((element) => {
        this.selected_project_ids.push(element.id);
      });
    },
    project_list(val) {
      this.listProject = val;
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  created() {
    const data = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.actionGetProjectList({ data });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreAttendance', ['actionGetProjectList']),

    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      }
    },
    selectAllProject() {
      this.selected_data_project = [...this.listProject];
    },
    unselectAllProject() {
      this.selected_data_project = [];
    },
    searchReport() {
      setTimeout(() => {
        this.refreshTable();
      }, 0);
    },
    loading(val) {
      val.end_date = this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD');
      val.start_date = this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD');
      val.project_ids = this.selected_project_ids;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    milisToDate(val) {
      return moment(val).format('MMM DD, YYYY HH:mm:ss');
    },
    timeDiff(end, start) {
      const endTime = new Date(end);
      const startTime = new Date(start);
      return moment.utc(moment(endTime, 'HH:mm:ss').diff(moment(startTime, 'HH:mm:ss'))).format('H');
    },
    openDetail(id) {
      this.$router.push(`${this.oosRoute}/attendance/claimer/detail/${id}`);
    },
  },
};
</script>
<style lang="scss">
.component-card .form-group.search-form {
  margin-bottom: 0 !important;
  margin-top: -16px !important;
}
</style>
