<template>
  <div class="p-4">
    <b-row v-if="detailAttendance">
      <b-col
        md="12"
        sm="12"
        cols="12">
        <b-row>
          <b-col
            md="9"
            sm="9"
            cols="12">
            <j-maps-attendance-detail
              :detail-attendance="detailAttendance"
            />
          </b-col>

          <b-col
            md="3"
            sm="3"
            cols="12">
            <div
              id="attendance_receipt_image"
              class="img-responsive img-container img-view hoverable background-none">
              <a
                id="attendance_receipt_image_url"
                :href="detailAttendance.image_url"
                class="image-popup-link"
                target="_blank"
              >
                <img
                  id="attendance_receipt_image_img"
                  :src="detailAttendance.image_url"
                  class="img-responsive"
                  align="middle"
                  style="object-fit: cover; min-height: 240px; width: 100%; height: 348px;"
                >
              </a>
            </div>
          </b-col>
        </b-row>

        <b-row class="m__t--35">
          <b-col
            cols="6">
            <b-form-group>
              <label>User Company ID</label>
              <j-input
                v-model="userCompanyId"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Employee Name</label>
              <j-input
                v-model="employeeName"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Email</label>
              <j-input
                v-model="email"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Position</label>
              <j-input
                v-model="position"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Attendance Date</label>
              <j-input
                v-model="date"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Project/Tag</label>
              <j-input
                v-model="detailAttendance.project_name"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check In Time</label>
              <j-input
                v-model="clockIn"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check Out Time</label>
              <j-input
                v-model="clockOut"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check In Address</label>
              <j-textarea
                v-model="detailAttendance.address"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check Out Address</label>
              <j-textarea
                v-model="checkoutAddress"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check In Description</label>
              <j-textarea
                v-model=" detailAttendance.description"
                disabled />
            </b-form-group>
          </b-col>
          <b-col
            cols="6">
            <b-form-group>
              <label>Check Out Description</label>
              <j-textarea
                v-model="checkoutDesc"
                disabled />
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import moment from 'moment';
import JMapsAttendanceDetail from '@/components/maps/jMapsAttendanceDetail';

export default {
  components: {
    JMapsAttendanceDetail,
  },
  data() {
    return {
      detailAttendance: null,
      date: null,
      clockIn: null,
      clockOut: null,
      center: { lat: -6.291273718365677, LNG: 106.80355953952602 },
      userCompanyId: null,
      employeeName: null,
      email: null,
      position: null,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['detail_group_attendance']),

    checkoutAddress() {
      return this.detailAttendance.checkout ? this.detailAttendance.checkout.address : '-';
    },
    checkoutDesc() {
      return this.detailAttendance.checkout ? this.detailAttendance.checkout.description : '-';
    },
  },
  watch: {
    detail_group_attendance(val) {
      this.detailAttendance = val;
      this.date = moment(val.date).format('MMM DD, YYYY');
      this.clockIn = moment(Number(val.time)).format('HH:mm');
      this.clockOut = val.checkout ? moment(Number(val.checkout.time))
        .format('HH:mm') : null;
      this.userCompanyId = val.user_company_id;
      this.employeeName = val.name;
      this.email = val.email;
      this.position = val.organigram_name;
    },
  },
  created() {
    this.actionGetDetailGroupAttendance({
      attendance_group: { id: this.$route.params.attendedId },
    });
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetDetailGroupAttendance']),

    milisToHours(val) {
      return moment(val).format('HH:mm');
    },
    dateFormat(val) {
      return moment(val).format('MMM DD, YYYY');
    },
  },
};
</script>
