<template>
  <div>
    <fieldset>
      <h3 class="modal-title"> {{ mode === 'edit' ? 'Update' : 'Add' }} Employee Grade</h3>
      <b-form-group :class="{'error-input' : $v.dataForm.name.$error}">
        <label for="name"> Grade Name <span class="red"> * </span> </label>
        <j-input
          id="name"
          v-model="$v.dataForm.name.$model"
          placeholder="Enter name here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.code.$error}">
        <label for="code"> Grade Code <span class="red"> * </span> </label>
        <j-input
          id="code"
          v-model="$v.dataForm.code.$model"
          placeholder="Enter code here"/>
      </b-form-group>
      <b-form-group :class="{'error-input' : $v.dataForm.description.$error}">
        <label for="description"> Description </label>
        <j-textarea
          id="description"
          v-model="$v.dataForm.description.$model"
          :disabled="false"
          placeholder="Enter description here"/>
      </b-form-group>


      <div class="text-right">
        <b-button
          v-if="mode === 'edit'"
          :disabled="true"
          class="btn red"
          @click="deleteRecord">
          Delete
        </b-button>
        <b-button
          class="btn"
          @click="closeModalForm">
          Close
        </b-button>
        <b-button
          v-if="mode === 'create'"
          class="btn blue"
          @click="submitRecord">
          Add
        </b-button>
        <b-button
          v-else
          class="btn blue"
          @click="updateRecord">
          Update
        </b-button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detailData: {
      type: Object,
      default: () => {},
    },
  },
  validations() {
    return {
      dataForm: {
        name: { required },
        code: { required },
        description: {},
      },
    };
  },
  data() {
    return {
      dataForm: {
        name: null,
        code: null,
        description: null,
      },
    };
  },
  created() {
    if (this.mode === 'edit') {
      this.dataForm = {
        name: this.detailData.name,
        code: this.detailData.code,
        description: this.detailData.description,
      };
    }
  },
  methods: {
    ...mapActions('jStoreCore', ['actionCreateGrade', 'actionUpdateGrade', 'actionDeleteGrade']),

    closeModalForm() {
      this.dataForm = {
        name: null,
        code: null,
        description: null,
      };
      this.$v.dataForm.$reset();

      this.$emit('modal-open', false);
    },
    async submitRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionCreateGrade(this.dataForm);

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    async updateRecord() {
      this.$v.dataForm.$touch();
      if (!this.$v.dataForm.$error) {
        const res = await this.actionUpdateGrade({
          params: this.dataForm,
          gradeId: this.detailData.id,
        });

        if (res.error) {
          this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
        } else {
          this.closeModalForm();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: `Are you sure, want to delete ${this.dataForm.name}`,
        type: 'question',
        showCancelButton: true,
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
      }).then(async (result) => {
        if (result.value || !result.value) {
          if (!result.dismiss) {
            await this.actionDeleteGrade(this.detailData.id);
            this.closeModalForm();
          }
        }
      });
    },
  },
};
</script>

