<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate XLS
            </b-button>
          </b-form>
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign, no-nested-ternary */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportLeave from '@/services/leave/jApiReportLeave';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      filter_data: '',
      data_table: [],
      load_first: false,
      columns: ['employee_id', 'employee_code', 'name', 'email', 'position', 'type', 'reason', 'start_date', 'end_date'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_code: 'EMPLOYEE CODE',
          name: 'EMPLOYEE NAME',
          email: 'EMAIL',
          position: 'POSITION',
          team: 'TEAM',
          type: 'LEAVE TYPE',
          reason: 'REASON',
          start_date: 'START DATE',
          end_date: 'END DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'employee_code', 'name', 'email', 'position', 'type', 'reason', 'start_date', 'end_date'],
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        orderBy: {
          ascending: true,
          column: 'employee',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'employee',
              ascending: data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          return jApiReportLeave.getLeaveDetailReport(data);
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length || 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      const status = this.params.status !== 'null' ? this.params.status : null;
      const type = this.params.leave_type !== 'null' ? this.params.leave_type : null;

      if (this.params !== null) {
        val.user_company_ids = [Number(this.$route.params.id)];
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.leave_type = Array.isArray(type) ? type : type ? type.split(',').map(el => Number(el)) : [];
        val.status = Array.isArray(status) ? status : status ? status.split(',').map(el => Number(el)) : [];
      } else {
        val.user_company_ids = [Number(this.$route.params.id)];
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.leave_type = [];
        val.status = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.setPage(1);
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    generateXLS() {
      this.$emit('generate-xls');
    },

  },
};
</script>
