<template>
  <div class="detail--leave-report">
    <j-leave-detail-form
      ref="form"
      :list-leave-type="leave_type_list"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <hr>

    <j-leave-detail-list
      ref="summaryServer"
      :params="search_params"
      @generate-xls="generateXLS"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jLeaveDetailList from './jLeaveDetailList';
import jLeaveDetailForm from './jLeaveDetailForm';

export default {
  name: 'jLeaveTabComp',
  components: {
    jLeaveDetailList,
    jLeaveDetailForm,
  },
  data() {
    return {
      search_params: {
        user_company_id: this.$route.params.id,
        status: this.$route.params.status,
        leave_type: this.$route.params.type,
        start_date: this.$route.params.start_date,
        end_date: this.$route.params.end_date,
      },
    };
  },
  computed: {
    ...mapState('jStoreReportLeave', ['leave_type_list']),
  },
  created() {
    this.getListLeaveTypeByUser({
      user_company_id: Number(this.$route.params.id),
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: true,
        query: '',
      },
    });
  },
  methods: {
    ...mapActions('jStoreReportLeave', ['getListLeaveTypeByUser', 'generateLeaveDetailXLS']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    generateXLS() {
      this.$refs.form.genDataXLS();
      setTimeout(() => {
        this.generateLeaveDetailXLS(this.search_params);
      }, 0);
    },
  },
};
</script>
