<template>
  <div class="form">
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="startDate">Date</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="startDate">From</label>
              <j-datepicker
                id="startDate"
                v-model="from_date"
                :disabled-dates="from_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="endDate">To</label>
              <j-datepicker
                id="startDate"
                v-model="end_date"
                :disabled-dates="end_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="leaveType">Leave Type</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllLeaveType">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllLeaveType">
                select all
              </a>
              <br>
              <j-multi-select
                id="leaveType"
                v-model="selected_leave_type"
                :options="leave_type_list"
                placeholder="Select Leave Type"
                value-format="object"
                label="text"
                @getData="getLeaveType"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="leaveStatus">Status</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllLeaveStatus">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllLeaveStatus">
                select all
              </a>
              <br>
              <j-multi-select
                id="leaveStatus"
                v-model="selected_leave_status"
                :options="leave_status_list"
                placeholder="Select Leave Status"
                value-format="object"
                label="text"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'JLeaveDetailForm',
  props: {
    listLeaveType: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      leave_type_ids: [],
      leave_status_ids: [],
      leave_status_list: [
        {
          id: 3,
          text: 'PROCESS',
        },
        {
          id: 4,
          text: 'APPROVED',
        },
        {
          id: 6,
          text: 'REJECTED',
        },
        {
          id: 11,
          text: 'CANCELED',
        },
        {
          id: 12,
          text: 'ABORTED',
        },
      ],
      filtered_data: [],
      from_date: new Date(),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      leave_type_list: [],
      selected_leave_type: [],
      selected_leave_status: [],
      get_leave_type: null,
      get_leave_status: null,
      filteredLeaveType: [],
    };
  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_leave_type(data) {
      this.leave_type_ids = [];
      data.forEach((val) => {
        this.leave_type_ids.push(val.id);
      });
    },
    selected_leave_status(data) {
      this.leave_status_ids = [];
      data.forEach((val) => {
        this.leave_status_ids.push(val.id);
      });
    },
    listLeaveType(data) {
      data.forEach((element) => {
        this.leave_type_list.push({
          id: element.id,
          text: element.name,
        });

        // check selected leave type from leave report page exists
        if (this.filteredLeaveType && this.filteredLeaveType.includes(element.id)) {
          this.selected_leave_type.push({
            id: element.id,
            text: element.name,
          });
        }
      });
    },
  },
  created() {
    const status = this.$route.params.status !== 'null' ? this.$route.params.status : null;
    this.selected_leave_status = status ? status.split(',').map(el => ({ id: Number(el) })) : [];
    this.from_date = this.$route.params.start_date || new Date();
    this.end_date = this.$route.params.end_date || new Date();
    if (this.$route.params.type) {
      this.filteredLeaveType = this.$route.params.type.split(',').map(type => Number(type));
    }
  },
  methods: {
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: new Date(10000, 1, 1),
        }];
      }
    },

    getLeaveType(data) {
      this.get_leave_type = data;
    },
    selectAllLeaveType() {
      this.selected_leave_type = [...this.leave_type_list];
    },
    unselectAllLeaveType() {
      this.selected_leave_type = [];
    },
    selectAllLeaveStatus() {
      this.selected_leave_status = [...this.leave_status_list];
    },
    unselectAllLeaveStatus() {
      this.selected_leave_status = [];
    },
    search() {
      this.$emit('data', {
        user_company_ids: this.$route.params.id,
        leave_type: this.leave_type_ids,
        status: this.leave_status_ids,
        start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
      });
    },
    genDataXLS() {
      this.$emit('data', {
        user_company_ids: this.$route.params.id,
        leave_type: this.leave_type_ids,
        status: this.leave_status_ids,
        date_from: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        date_to: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
      });
    },
  },
};
</script>
<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }
</style>
