<template>
  <div>
    <v-server-table
      ref="listTimesheet"
      :columns="columns"
      :options="options"
      url="env"
      name="listTimesheet"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
    >
      <div
        slot="id"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.id }}
      </div>
      <div
        slot="date"
        slot-scope="props"
        @click="rowClick(props)">
        {{ formatDate(props.row.date) }}
        <!-- {{ props.row.date || moment("MMM DD, YYYY") }} -->
      </div>
      <div
        slot="total_task"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.total_task }}
      </div>
      <div
        slot="duration"
        slot-scope="props"
        @click="rowClick(props)">
        {{ durationFormatter(props.row.duration) }}
      </div>
      <div
        slot="created_date"
        slot-scope="props"
        @click="rowClick(props)">
        {{ formatDate(props.row.created_date) }}
        <!-- {{ props.row.created_date || moment("MMM DD, YYYY") }} -->
      </div>
      <div
        slot="updated_date"
        slot-scope="props"
        @click="rowClick(props)">
        {{ formatDate(props.row.updated_date) }}
      </div>
      <div
        slot="checkbox"
        slot-scope="props"
        style="width: 5px"
        class="jTableReport">
        <b-form-group>
          <b-form-checkbox-group v-model="selected_rows">
            <b-form-checkbox :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div>
    </v-server-table>
    <jTimesheetDataDraft
      v-if="statusTimesheet === 'draft'"
      ref="floating"
      :oos-route="oosRoute"
      :is-auto-approve="isAutoApprove"
      :selected-rows="selected_rows" />
    <jTimesheetDataSent
      v-if="statusTimesheet === 'sent'"
      ref="floating"
      :oos-route="oosRoute"
      :selected-rows="selected_rows" />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import jMixTimesheetClaimerTable from '@/mixins/components/timesheet/claimer/jMixTimesheetClaimerTable';
import jTimesheetDataDraft from '../floating-prompt/jTimesheetDataDraft';
import jTimesheetDataSent from '../floating-prompt/jTimesheetDataSent';

export default {
  name: 'jTimesheetClaimerTable',
  components: {
    jTimesheetDataDraft,
    jTimesheetDataSent,
  },
  mixins: [
    jMixTimesheetClaimerTable,
  ],
  props: {
    statusTimesheet: {
      type: String,
      default: 'draft',
    },
    oosRoute: {
      type: String,
      default: '',
    },
    isAutoApprove: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    formatDate(date) {
      return date ? this.$moment(date).format('MMM DD, YYYY') : '';
    },
    durationFormatter(time) {
      const data = Math.abs(time);
      let string = '';

      const days = Math.floor(data / 3600000 / 24);
      if (days !== 0) {
        string += `${days}d`;
      }
      const hours = Math.floor((data / 3600000) % 24);
      if (hours !== 0) {
        string += ` ${hours}h`;
      }
      const minutes = Math.floor((data % 3600000) / 60000);
      if (minutes !== 0) {
        string += ` ${minutes}m`;
      }
      const seconds = Math.floor((data % 3600000 % 60000) / 1000);
      string += ` ${seconds}s`;

      return string;
    },
  },
};
</script>

<style lang="scss" scoped>
.m__b--100{
  margin-bottom: 100px;
}
</style>
