<!-- eslint-disable max-len -->
<template>
  <div>
    <div
      v-if="isBannerLoading"
      id="company-banner" />
    <div
      v-if="!isBannerLoading && company_banner && sanitizeUrl(company_banner.url_banner)"
      id="company-banner"
      :style="{ backgroundImage: `url(${company_banner.url_banner})` }" />
    <div
      v-if="!isBannerLoading && (!company_banner || !sanitizeUrl(company_banner.url_banner))"
      id="company-default-banner" />
    <div class="content-officeless-home">
      <div class="profile-box">
        <div class="profile-images inline--block">
          <img
            v-if="photo"
            :src="sanitizeUrl(photo) || require('@/assets/image/profile.png')">
          <div
            v-else
            :class="{'show-modal-photo-profile': modal_upload_photo}"
            class="default-profile-wrap">
            <div/>
          </div>
        </div>
        <div class="inline--block">
          <div class="profile-name">
            {{ fullName }}
          </div>

          <div
            v-click-outside="handleHideAllOrganigram"
            v-if="organigrams.length > 0"

            class="profile-position"
            @click="handleShowAllOrganigram"
          >
            <div
              :class="{'cursor-pointer': organigrams.length > 1}"
              class="profile-position-selected"
            >
              <p>{{ organigrams[0].name }}</p>
              <i
                v-if="organigrams.length > 1"
                class="fa fa-chevron-down icon-dropdown-profile ml-3"
              />
            </div>

            <div
              v-if="organigrams.length > 1 && showAllOrganigram"
              class="popup-position"
            >
              <p class="title-popup-position">All Positions</p>

              <div
                v-for="list in organigrams"
                :key="list.id"
                class="list-popup-position"
              >
                <img
                  :alt="list.name"
                  src="@/assets/icon/work-icon.svg"
                >
                <p class="position-name">{{ list.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="application-officeless-box">
        <b-row class="m__b--10">
          <b-col>
            <div class="title-bold p__t--5 inline--block f--14">
              APPLICATIONS
            </div>

            <div
              class="inline--block pull-right"
              @click="openOthersModal">
              <div class="card border-0">
                <div class="more-app-button">
                  <img
                    src="@/assets/icon/all-application.svg"
                    height="15"
                    class="m__r--3 icon-more-app">
                  <div class="text-more-app">
                    All
                  </div>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>

        <div
          v-if="!is_finish_load_app"
          class="skeleton-app"
        >
          <div
            v-for="i in 8"
            :key="i"
            class="list"
          />
        </div>

        <b-row
          v-else-if="favApps.length > 0"
          class="application-row">
          <b-col
            v-for="item in favApps"
            v-show="item.type_platform === 1 ||
              item.type_platform === 3 ||
              item.type_platform === 4 ||
            item.type_platform === 5"
            :key="item.id"
            cols="3"
            class="p__l--5 p__r--5 p__b--10"
          >
            <a
              v-if="item.type_platform === 1"
              :href="item.is_maintenance_mode ? '#' : item.url"
            >
              <div
                class="card border-0"
                @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="card-body application-card">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="32"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 3"
              :href="item.is_maintenance_mode ? '#' : generateUrlStandalone(item)"
              target="_blank"
            >
              <div
                class="card border-0"
                @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="card-body application-card">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="32"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 4"
              :href="item.is_maintenance_mode ? '#' : item.info.url"
              target="_blank"
            >
              <div
                class="card border-0"
                @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="card-body application-card">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="32"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 5"
              :href="item.is_maintenance_mode ? '#' : generateUrlHyperlink(item.info.url)"
              target="_blank"
            >
              <div
                class="card border-0"
                @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="card-body application-card">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="32"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
          </b-col>
        </b-row>

        <div
          v-else
          class="application-fav-empty">
          <img
            :src="require('@/assets/icon/application-with-star.svg')"
            height="56"
            width="61"
            class="m__r--15">
          No application has been favorited yet. Please click button
          <div
            class="more-app-button on-empty m__r--10 m__l--10"
            @click="openOthersModal">
            <img
              :src="require('@/assets/icon/all-application.svg')"
              height="15"
              class="m__r--3 icon-more-app">
            <div class="text-more-app">
              All
            </div>
          </div>
          and select the one you want to favorite
        </div>
      </div>

      <!-- WIDGET -->
      <b-row>
        <!-- LEFT LIST -->
        <b-col
          cols="6"
          class="pr-2">

          <!-- Main loop list component-->
          <div
            v-for="(val, index) in dataWidgetDetailLeft"
            :key="index"
            :class="{'card-attendance' : val.widget_master.name === 'attendance' && !isAttended,
                     'card-not-attendance' : val.widget_master.name === 'attendance' && isAttended,
                     'card-timesheet' : val.widget_master.name === 'timesheet',
                     'card-leave' : val.widget_master.name === 'quota_leave' || val.widget_master.name === 'leave_all_employee',
                     'widget-box-html' : val.widget_master.name === 'html' || val.widget_master.name === 'analytic_v2'}"
            class="widget-box"
          >

            <!-- If attendance -->
            <b-row
              v-if="val.widget_master.name === 'attendance'">
              <b-col
                class="pl-0 pr-0 p__t--5">
                <j-attendance-widget
                  :element="val"
                  :data-attendance="dataAttendance"
                  :is-attended="isAttended"/>
              </b-col>
            </b-row>

            <!-- If timesheet -->
            <b-row
              v-else-if="val.widget_master.name === 'timesheet'">
              <b-col>
                <j-timesheet-widget
                  :element="val"
                  :detail-timesheet="detailTimesheet"/>
              </b-col>
            </b-row>

            <!-- If html -->
            <b-row
              v-else-if="val.widget_master.name === 'html'">
              <b-col>
                <j-html-widget :element="val"/>
              </b-col>
            </b-row>

            <!-- If quota leave -->
            <b-row
              v-else-if="val.widget_master.name === 'quota_leave'">
              <b-col cols="12">
                <h4>MY LEAVE QUOTA</h4>
              </b-col>
              <b-col cols="12">
                <b-row class="content-quota-leave">
                  <b-col cols="12">
                    <div v-if="isLoadingQuotaLeave">
                      <jLottie
                        :options="defaultOptions"
                        :height="400"
                        :width="420"
                        class="animation"
                        @animCreated="handleAnimation"/>
                    </div>
                    <j-quota-leave-widget
                      v-else
                      :element="val"
                      :quota-leave="list_quota_leave"/>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <!-- If leave employee -->
            <b-row v-else-if="val.widget_master.name === 'leave_all_employee'">
              <b-col>
                <j-leave-all-employee :element="val"/>
              </b-col>
            </b-row>

            <!-- If experience manager -->
            <div v-else-if="val.widget_master.name === 'experience_manager'">
              <j-calender-view-component
                v-if="show_calendar_view"
                :element="val"
                :form-data="calenderViewData.find(c => c.id === val.id).form_data"
                :form-ui="calenderViewData.find(c => c.id === val.id).form_ui"
                :on-widget="true"
              />
            </div>

            <!-- If embed url -->
            <b-row v-else-if="val.widget_master.name ==='embed_url'">
              <b-col>
                <j-embed-url-widget :element="val" />
              </b-col>
            </b-row>

            <!-- If shortcut page -->
            <b-row v-else-if="val.widget_master.name ==='shortcut_page'">
              <b-col>
                <j-shortcut-page-widget :element="val" />
              </b-col>
            </b-row>
          </div>
        </b-col>

        <!-- RIGHT LIST -->
        <b-col
          cols="6"
          class="pl-2">

          <!-- Main loop list component-->
          <div
            v-for="(val, index) in dataWidgetDetailRight"
            :key="index"
            :class="{'card-attendance' : val.widget_master.name === 'attendance' && !isAttended,
                     'card-not-attendance' : val.widget_master.name === 'attendance' && isAttended,
                     'card-timesheet' : val.widget_master.name === 'timesheet',
                     'card-leave' : val.widget_master.name === 'quota_leave' || val.widget_master.name === 'leave_all_employee',
                     'widget-box-html' : val.widget_master.name === 'html' || val.widget_master.name === 'analytic_v2'}"
            class="widget-box"
          >

            <!-- If attendance -->
            <b-row
              v-if="val.widget_master.name === 'attendance'"
            >
              <b-col
                class="pl-0 pr-0 p__t--5">
                <j-attendance-widget
                  :element="val"
                  :data-attendance="dataAttendance"
                  :is-attended="isAttended"/>
              </b-col>
            </b-row>

            <!-- If timesheet -->
            <b-row
              v-else-if="val.widget_master.name === 'timesheet'">
              <b-col>
                <j-timesheet-widget
                  :element="val"
                  :detail-timesheet="detailTimesheet"/>
              </b-col>
            </b-row>

            <!-- If html -->
            <b-row
              v-else-if="val.widget_master.name === 'html'">
              <b-col>
                <j-html-widget :element="val"/>
              </b-col>
            </b-row>

            <!-- If quota leave -->
            <b-row
              v-else-if="val.widget_master.name === 'quota_leave'">
              <b-col cols="12">
                <h4>MY LEAVE QUOTA</h4>
              </b-col>
              <b-col cols="12">
                <b-row class="content-quota-leave">
                  <b-col cols="12">
                    <div v-if="isLoadingQuotaLeave">
                      <jLottie
                        :options="defaultOptions"
                        :height="400"
                        :width="420"
                        class="animation"
                        @animCreated="handleAnimation"/>
                    </div>
                    <j-quota-leave-widget
                      v-else
                      :element="val"
                      :quota-leave="list_quota_leave"/>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>

            <!-- If leave employee -->
            <b-row v-else-if="val.widget_master.name === 'leave_all_employee'">
              <b-col>
                <j-leave-all-employee :element="val"/>
              </b-col>
            </b-row>

            <!-- If experience manager -->
            <div v-else-if="val.widget_master.name === 'experience_manager'">
              <j-calender-view-component
                v-if="show_calendar_view"
                :element="val"
                :form-data="calenderViewData.find(c => c.id === val.id).form_data"
                :form-ui="calenderViewData.find(c => c.id === val.id).form_ui"
                :on-widget="true"
              />
            </div>

            <!-- If embed url -->
            <b-row v-else-if="val.widget_master.name ==='embed_url'">
              <b-col>
                <j-embed-url-widget :element="val" />
              </b-col>
            </b-row>

            <!-- If shortcut page -->
            <b-row v-else-if="val.widget_master.name ==='shortcut_page'">
              <b-col>
                <j-shortcut-page-widget :element="val" />
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
    </div>

    <svg>
      <filter id="blur">
        <feGaussianBlur
          stdDeviation="7" />
      </filter>
    </svg>

    <div class="copyright-section">
      <p>Version 2.64.3</p>
      <p v-if="show_powered_by">Powered by
        <b-link
          href="https://officeless.studio/"
          target="_blank">
          <strong>Jojonomic</strong>
        </b-link>
      </p>
    </div>

    <!-- Modal section -->
    <b-modal
      ref="othersModal"
      class="mod-form"
      centered
      no-close-on-esc>
      <j-modal-list-application
        v-if="isInserted"
        :list-app="apps"
        :list-group-app="groupApps"
        :list-fav-app="favApps"
        @refresh-fav="refreshFavApp"
        @close-modal="closeOthersModal"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable max-len, no-console, array-callback-return, consistent-return, no-param-reassign, no-nested-ternary */
import ClickOutside from 'vue-click-outside';
import { mapState, mapActions, mapMutations } from 'vuex';
import { jPrivPackages } from '@/privilage/packages/jPrivPackages';
import IntercomConfig from '@/configs/intercom';

import jModalListApplication from '@/views/home/jModalListApplication';
import jMixSidebar from '@jojocoders/jojonomic-ui/src/Mixins/jMixSidebar';
import jMixWindowTab from '@/mixins/jMixWindowTab';
import jMixForceChangePassword from '@/mixins/jMixForceChangePassword';
import jMixModalForceUploadPhoto from '@/mixins/components/modal-force-upload-photo/jMixModalForceUploadPhoto';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

import jAttendanceWidget from '@/views/home/widget-component/jAttendanceWidget';
import jHtmlWidget from '@/views/home/widget-component/jHtmlWidget';
import jTimesheetWidget from '@/views/home/widget-component/jTimesheetWidget';
import jQuotaLeaveWidget from '@/views/home/widget-component/jQuotaLeaveWidget';
import jLeaveAllEmployee from '@/views/home/widget-component/jLeaveAllEmployee';
import jCalenderViewComponent from '@/views/application/application-component/form-ui/jCalenderViewComponent';
import jEmbedUrlWidget from '@/views/home/widget-component/jEmbedUrlWidget';
import jShortcutPageWidget from '@/views/home/widget-component/jShortcutPageWidget';

import jLottie from '../../components/lottie/jLottie';
import * as animationData from '../../assets/notification/loading.json';

export default {
  directives: {
    ClickOutside,
  },
  components: {
    jModalListApplication,
    jAttendanceWidget,
    jHtmlWidget,
    jTimesheetWidget,
    jQuotaLeaveWidget,
    jLeaveAllEmployee,
    jCalenderViewComponent,
    jLottie,
    jEmbedUrlWidget,
    jShortcutPageWidget,
  },
  mixins: [
    jPrivPackages,
    jMixSidebar,
    jMixWindowTab,
    jMixForceChangePassword,
    jMixModalForceUploadPhoto,
    jMixSanitizeUrl,
  ],
  data() {
    return {
      photo: localStorage.getItem('photo'),
      firstName: localStorage.getItem('firstName'),
      lastName: localStorage.getItem('lastName'),
      fullName: '',
      organigrams: [],
      showAllOrganigram: false,
      company_banner: this.banner_list,
      applicationDefaultList: [
        {
          hrefout: `${process.env.JOJOPRO_URL}times/home`,
          icon: 'times.png',
          name: 'Times',
        },
        {
          hrefout: `${process.env.JOJOPRO_URL}expense/home`,
          icon: 'expense.png',
          name: 'Expense',
        },
        {
          hrefout: 'chat.jojonomic.com',
          icon: 'chat.png',
          name: 'Chat',
        },
      ],
      apps: [],
      favApps: [],
      groupApps: [],
      isInserted: false,
      isAppsLoad: false,
      isAppsFavLoad: false,
      isBannerLoading: true,
      isLoadingQuotaLeave: true,
      dataWidgetDetailLeft: [],
      dataWidgetDetailRight: [],
      selectedListWidgetMaster: [
        'attendance',
        'html',
        'timesheet',
        'quota_leave',
        'leave_all_employee',
        'experience_manager',
        'embed_url',
        'shortcut_page',
      ],
      isAttended: false,
      dataAttendance: null,
      detailTimesheet: {
        finishedTaskCount: 0,
        allTaskCount: 0,
        percentageFinishedTask: 0,
      },
      standalone_package: [
        {
          id: 1,
          url: 'https://corp2.jojonomic.com/expense/home',
        },
        {
          id: 2,
          url: 'https://corp2.jojonomic.com/times/home',
        },
        {
          id: 3,
          url: 'https://chat.jojonomic.com/jojonomic',
        },
        {
          id: 4,
          url: '',
        },
        {
          id: 5,
          url: 'https://corp2.jojonomic.com/pro/travelonomic',
        },
        {
          id: 6,
          url: '',
        },
      ],
      defaultOptions: { animationData },

      show_calendar_view: false,
      calenderViewData: [],
      showOptionCondition: [null, undefined, 1, 3],
    };
  },
  computed: {
    ...mapState('jStoreHome', ['list_apps', 'list_favs_apps', 'list_group_apps', 'is_finish_load_app',
      'banner_list', 'list_widget_detail', 'attendance_detail', 'timesheet_detail',
      'list_quota_leave', 'modal_upload_photo',
    ]),
    ...mapState('jStoreLogin', ['packages', 'profile_data']),
    ...mapState('jStoreCompanySetting', ['force_change_password', 'company_detail']),

    show_powered_by() {
      return process.env.SHOW_POWERED_BY === 'true';
    },
  },
  watch: {
    is_finish_load_app() {
      this.apps = this.list_apps;
      this.favApps = this.list_favs_apps;
      this.groupApps = this.list_group_apps;
    },

    // eslint-disable-next-line
    'profile_data': function(val) {
      const userCompanyId = {
        user_company_id: Number(localStorage.getItem('userCompanyId')),
      };

      if (!val || !val.photo_url) {
        this.setModalUploadPhoto(true);
        this.toggleModalUploadPhoto();
      } else if (this.force_change_password && (!val || !val.change_password_date)) {
        this.openReminderPass();
      }

      this.getOrganigramId(userCompanyId).then((res) => {
        if (res.data && res.data.length > 0) {
          this.organigrams = res.data;

          if (this.list_widget_detail.find(f => f.widget_master.name === 'timesheet')) {
            const params = {
              date: this.$moment().format('YYYY-MM-DD'),
              user_company_id: Number(localStorage.getItem('userCompanyId')),
              organigram_id: res.data[0].id,
              show_all: true,
            };
            this.getTimesheetDetail(params);
          }

          localStorage.setItem('jobPosition', this.organigrams.map(u => u.name).join(', '));
          IntercomConfig();
        } else {
          IntercomConfig();
        }
      }).catch(() => {
        IntercomConfig();
      });
    },

    list_widget_detail(data) {
      if (data.find(f => f.widget_master.name === 'attendance')) {
        this.getAttendanceDetail();
      }
      // Filter list widget detail
      const filteredList = data.filter(el =>
        this.selectedListWidgetMaster.includes(el.widget_master.name));

      // Separate position
      const leftList = filteredList.filter(el => el.position === 1);
      const rightList = filteredList.filter(el => el.position === 2);

      // Sort by order
      this.dataWidgetDetailLeft = leftList.sort((a, b) => a.order - b.order);
      this.dataWidgetDetailRight = rightList.sort((a, b) => a.order - b.order);

      // if have quota leave
      if (filteredList.find(el => el.widget_master.name === 'quota_leave')) {
        const params = {
          pagination: {
            page: 1,
            limit: 50,
            column: 'name',
            ascending: true,
            query: '',
          },
          user_company_id: Number(localStorage.getItem('userCompanyId')),
        };
        this.getQuotaLeave(params);
      }

      // if have experience manager
      const widgetCalendar = filteredList.filter(el => el.widget_master.name === 'experience_manager');

      if (widgetCalendar.length > 0) {
        widgetCalendar.forEach((calender) => {
          this.getDataExperienceManager(calender.info, calender, widgetCalendar.length);
        });
      }
    },

    attendance_detail(val) {
      this.isAttended = val.is_have_attendance;
      this.dataAttendance = val.attendance;
    },

    timesheet_detail(val) {
      this.detailTimesheet.allTaskCount = val.length;
      const finishedTask = val.filter(el => el.action_status === 3);
      this.detailTimesheet.finishedTaskCount = finishedTask.length;
      this.detailTimesheet.percentageFinishedTask = (finishedTask.length / val.length) * 100;
    },

    list_quota_leave() {
      this.isLoadingQuotaLeave = false;
    },

    modal_upload_photo(val) {
      if (!val) {
        if (this.force_change_password && !this.profile_data.change_password_date) {
          this.openReminderPass();
        }
      }
    },

    company_detail(val) {
      localStorage.setItem('companyDetail', JSON.stringify(val));
    },
  },
  created() {
    localStorage.setItem('app_name', '');
    this.apps = this.list_apps;
    this.favApps = this.list_favs_apps;
    this.groupApps = this.list_group_apps;
    this.loadBanner();
    this.getListWidget();
    // this.getAttendanceDetail();
    this.actionGetForceChangePassword();
    this.actionGetCompanyDetail();

    // Set Favicon
    const favicon = document.getElementById('favicon');
    if (favicon) {
      // eslint-disable-next-line global-require
      favicon.href = this.logo_tab;
    }
  },
  mounted() {
    setInterval(() => {
      this.fullName = `${localStorage.getItem('firstName')} ${localStorage.getItem('lastName')}`;
    }, 1000);
  },
  methods: {
    ...mapActions('jStoreHome', [
      'actionCreateApplication', 'actionCreatePage', 'actionUpdatePage',
      'actionDeletePage', 'actionGetListIcons', 'actionGetBanner',
      'getListWidgetDetail', 'getAttendanceDetail', 'getTimesheetDetail',
      'getOrganigramId', 'getQuotaLeave', 'actionGetFavoriteApplication',
    ]),
    ...mapActions('jStoreFormUi', ['actionGetSetupFormUi', 'findFormData']),
    ...mapActions('jStoreCompanySetting', ['actionGetForceChangePassword', 'actionGetCompanyDetail']),
    ...mapActions('jStoreNotificationScreen', ['toggleMaintenance']),
    ...mapMutations('jStoreHome', ['setModalUploadPhoto', 'setListFavsApps']),

    getDataExperienceManager(info, dataWidget, totalData) {
      const req = {
        page: 1,
        limit: 1,
        filter: {
          id: [JSON.parse(info).form_ui_id],
        },
      };
      this.actionGetSetupFormUi(req).then((res) => {
        const response = res.data[0];

        if (response.form_data_id) {
          const reqData = {
            form_data_id: response.form_data_id,
          };
          this.findFormData(reqData).then((param) => {
            this.calenderViewData.push({
              id: dataWidget.id,
              form_data: param.data,
              form_ui: response,
            });

            if (this.calenderViewData.length === totalData) this.show_calendar_view = true;
          });
        }
      });
    },

    handleAnimation(anim) {
      this.anim = anim;
    },
    async loadBanner() {
      const parameterBanner = {
        page: 1,
        limit: 1,
        column: 'id',
        sort: 'asc',
      };
      await this.actionGetBanner({ params: parameterBanner });
      if (this.banner_list.length > 0) {
        this.company_banner = {
          id: this.banner_list[0].id,
          url_banner: this.banner_list[0].url_banner,
        };
      }
      this.isBannerLoading = false;
    },
    openOthersModal() {
      this.isInserted = true;
      setTimeout(() => {
        this.$refs.othersModal.show();
      }, 200);
    },
    closeOthersModal() {
      this.$refs.othersModal.hide();
      this.isInserted = false;
    },
    openQuickAction(url) {
      window.location.href = `${process.env.JOJOPRO_URL}${url}`;
    },
    openProduct(item) {
      if (item.href) {
        this.$router.push(item.href);
      } else {
        window.location.href = item.hrefout;
      }
    },
    openApplication(item) {
      const applicationName = item.name.replace(/\s/g, '-');
      const pageName = item.ref_application_name.replace(/\s/g, '-');
      // eslint-disable-next-line
      this.$router.push(`/app/${applicationName}/${item.id_hash}/${pageName}/${item.ref_application_id}`);
    },
    refreshFavApp() {
      const parameter = {
        page: 1,
        limit: 100,
        column: 'id',
        sort: 'asc',
      };
      this.actionGetFavoriteApplication({ params: parameter }).then(async (res) => {
        this.favApps = [];
        const promises = res.map((app) => {
          if (app.application) {
            const applicationName = app.application.name.replace(/\s/g, '-');
            app.application.fav_order = app.order;
            app.application.fav_id = app.id;

            if (!app.application.first_page) {
              app.application.url = '';
            } else {
              const pageName = app.application.first_page.name.replace(/\s/g, '-');
              app.application.url = `app/${applicationName}/${app.application.id_hash}/${pageName}/${app.application.first_page.id}`;
            }
            if (this.showOptionCondition.includes(app.application.show_option)) this.favApps.push(app.application);
          }
        });
        await Promise.all(promises);
        this.favApps.sort((a, b) => ((a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0)));
        this.setListFavsApps(this.favApps);
      });
    },
    generateUrlStandalone(item) {
      const res = this.standalone_package.find(val => val.id === Number(item.info.web_package));
      if (res) {
        return res.url;
      }
      return item.url;
    },
    generateUrlHyperlink(url) {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      return `${url}&token=${token}`;
    },

    getListWidget() {
      const parameters = {
        limit: 100,
        page: 1,
        column: 'id',
        sort: 'asc',
      };
      this.getListWidgetDetail({ params: parameters });
    },

    calculateHeight(type) {
      if (type === 1) {
        return 70;
      } else if (type === 2) {
        return 141;
      } else if (type === 3) {
        return 500;
      }
      return 70;
    },

    handleShowAllOrganigram() {
      if (this.organigrams.length > 1) this.showAllOrganigram = true;
    },

    handleHideAllOrganigram() {
      if (this.showAllOrganigram) this.showAllOrganigram = false;
    },
  },
};
</script>
