<!-- eslint-disable max-len -->
<template>
  <div id="modal-list-app">
    <div class="header-modal-list-app">
      <div class="title-modal">All Applications</div>
      <div
        class="close-modal"
        @click="$emit('close-modal')">×</div>
      <div class="search-application">
        <img
          width="16"
          height="16"
          src="@/assets/icon/search-page.svg"
          class="search-application-icon"
        >
        <j-input
          v-model="appName"
          :error-required="false"
          :class="{ 'is-active': appName }"
          class="search-application-input"
          type="text"
          placeholder="Search"
        />
      </div>
    </div>

    <!-- Loading App -->
    <div
      v-if="isLoading"
      class="skeleton-app-modal"
    >
      <div
        v-for="i in 10"
        :key="i"
        class="list"
      />
    </div>

    <!-- List App -->
    <div
      v-else
      class="body-modal-list-app">
      <div
        v-for="group in listFilteredApp"
        v-show="group.apps.length > 0"
        :key="group.id">
        <div
          :class="{ 'no-group': !group.name }"
          class="text-group-application">
          {{ group.name || 'No Group' }}
        </div>
        <b-row class="application-row m__b--10">
          <b-col
            v-for="(item, index) in group.apps"
            v-show="item.type_platform === 1 ||
              item.type_platform === 3 ||
              item.type_platform === 4 ||
            item.type_platform === 5"
            :key="index"
            cols="12">
            <div class="icon-favorite-application">
              <img
                v-if="isFavorite(item.id)"
                :src="require('@/assets/icon/favorite-app.svg')"
                height="20"
                width="20"
                @click="removeFavorite(item.id)"
              >
              <img
                v-else
                :src="require('@/assets/icon/non-favorite-app.svg')"
                height="20"
                width="20"
                @click="addFavorite(item.id)"
              >
              <div class="tooltip-pin-favorite">
                {{ isFavorite(item.id) ? 'Unpin from ' : 'Pin to ' }} <b>Favorite</b>
              </div>
            </div>
            <a
              v-if="item.type_platform === 1"
              :href="item.is_maintenance_mode ? '#' : item.url"
            >
              <div @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="application-card-modal">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="20"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app on-modal">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 3"
              :href="item.is_maintenance_mode ? '#' : getStandaloneUrl(item)"
              target="_blank"
            >
              <div @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="application-card-modal">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="20"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app on-modal">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 4"
              :href="item.is_maintenance_mode ? '#' : item.hyperlink"
              target="_blank"
            >
              <div @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="application-card-modal">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="20"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app on-modal">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
            <a
              v-else-if="item.type_platform === 5"
              :href="item.is_maintenance_mode ? '#' : getHyperlinkUrl(item.hyperlink)"
              target="_blank"
            >
              <div @click="toggleMaintenance({ show: item.is_maintenance_mode, message: item.maintenance_mode_message })">
                <div
                  :class="{ 'blur': item.is_maintenance_mode }"
                  class="application-card-modal">
                  <img
                    :src="sanitizeUrl(item.icon) || require('@/assets/img/no-photo-available.png')"
                    width="20"
                    class="icon-aplication m__r--10"
                  >
                  <div class="text-aplication">
                    {{ item.name }}
                  </div>
                </div>
                <div
                  v-if="item.is_maintenance_mode"
                  class="maintenance-mode-app on-modal">
                  <img
                    :src="require('@/assets/icon/maintenance-mode.svg')"
                    height="22"
                    width="23"
                    class="m__r--5">
                  Maintenance
                </div>
              </div>
            </a>
          </b-col>
        </b-row>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import jMixSanitizeUrl from '@/mixins/jMixSanitizeUrl';

export default {
  mixins: [
    jMixSanitizeUrl,
  ],
  props: {
    listPro: {
      type: Array,
      default: () => [],
    },
    listApp: {
      type: Array,
      default: () => [],
    },
    listGroupApp: {
      type: Array,
      default: () => [],
    },
    listFavApp: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      isLoading: true,
      appName: '',
      appFavName: '',
      listFilteredApp: this.listGroupApp,
      listFilteredForFav: this.listGroupApp,
      popoverFavoriteShow: false,
      standalone_package: [
        {
          id: 1,
          url: 'https://corp2.jojonomic.com/expense/home',
        },
        {
          id: 2,
          url: 'https://corp2.jojonomic.com/times/home',
        },
        {
          id: 3,
          url: 'https://chat.jojonomic.com/jojonomic',
        },
        {
          id: 4,
          url: '',
        },
        {
          id: 5,
          url: 'https://corp2.jojonomic.com/pro/travelonomic',
        },
        {
          id: 6,
          url: '',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreHome', ['is_finish_load_app']),

    isAdmin() {
      return JSON.parse(localStorage.getItem('roleString')).includes('admin', 'sysadmin');
    },
  },
  watch: {
    is_finish_load_app(val) {
      if (val) {
        this.listFilteredApp = this._.cloneDeep(this.listGroupApp);
        this.listFilteredForFav = this._.cloneDeep(this.listGroupApp);

        setTimeout(() => {
          this.isLoading = false;
        }, 300);
      }
    },


    appName(val) {
      const filterGroup = this._.cloneDeep(this.listGroupApp);

      filterGroup.filter(group =>
        group.application.some(app => app.name.toUpperCase().includes(val.toUpperCase())));

      filterGroup.forEach((group) => {
        // eslint-disable-next-line
        group.apps = group.application
          .filter(app => app.name.toUpperCase().includes(val.toUpperCase()));
      });
      this.listFilteredApp = filterGroup;
    },
    appFavName(val) {
      const filterGroup = this._.cloneDeep(this.listGroupApp);

      filterGroup.filter(group =>
        group.application.some(app => app.name.toUpperCase().includes(val.toUpperCase())));

      filterGroup.forEach((group) => {
        // eslint-disable-next-line
        group.favs = group.application
          .filter(app => app.name.toUpperCase().includes(val.toUpperCase()));
      });
      this.listFilteredForFav = filterGroup;
    },
  },
  created() {
    if (this.is_finish_load_app) {
      this.listFilteredApp = this._.cloneDeep(this.listGroupApp);
      this.listFilteredForFav = this._.cloneDeep(this.listGroupApp);

      setTimeout(() => {
        this.isLoading = false;
      }, 300);
    }
  },
  methods: {
    ...mapActions('jStoreHome', ['actionCreateFavoriteApplication', 'actionDeleteFavoriteApplication']),
    ...mapActions('jStoreNotificationScreen', ['toggleMaintenance']),

    openProduct(item) {
      if (item.href) {
        this.$router.push(item.href);
      } else {
        window.location.href = item.hrefout;
      }
    },
    async addFavorite(appId) {
      const res = this.listFavApp.find(app => app.id === appId);
      if (res === undefined) {
        const params = {
          application_id: appId,
          order: '',
        };
        await this.actionCreateFavoriteApplication(params);
      }
      this.appFavName = '';
      this.$emit('refresh-fav');
      this.popoverFavoriteShow = false;
    },
    async removeFavorite(appId) {
      const res = this.listFavApp.find(app => app.id === appId);
      if (res) {
        await this.actionDeleteFavoriteApplication(res.fav_id);
      }
      this.appFavName = '';
      this.$emit('refresh-fav');
      this.popoverFavoriteShow = false;
    },
    isFavorite(appId) {
      return this.listFavApp.some(app => app.id === appId);
    },
    getStandaloneUrl(item) {
      if (item.info) {
        const urlStandAlone = this.standalone_package.find(val => val.id === Number(item.info.web_package));
        return urlStandAlone ? urlStandAlone.url : '#/';
      }
      return '#/';
    },
    getHyperlinkUrl(url) {
      const token = JSON.parse(localStorage.getItem('Token')).value;
      return `${url}&token=${token}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.title-modal {
  font-size: 18px;
  font-weight: 600;
  color: #4A4A4A !important;
}

.close-modal {
  position: absolute;
  font-size: 35px;
  top: 16px;
  right: 25px;
  color: #9A9A9A;
  cursor: pointer;
}

.popover {
  width: 400px !important;
}
.skeleton-app-modal {
  margin-top: 40px;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(182px, 1fr));
  // grid-gap: 8px;

  .list {
    width: 100%;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 6px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    margin-bottom: 10px;
  }

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
}
</style>
