<template>
  <div>
    {{ token }}
  </div>
</template>

<script>
/* eslint-disable max-len */
import { mapActions } from 'vuex';
import axios from 'axios';

export default {
  name: 'JAuthLogin',
  data() {
    return {
      token: null,
    };
  },
  created() {
    if (this.$route.query.token && this.$route.query.refresh_token) this.checkToken();
    else if (this.$route.query.id_token) this.checkTokenGoogle();
    else if (this.$route.query.token) this.checkTokenSSO();
  },
  methods: {
    ...mapActions('jStoreLogin', ['setTokenByVerificationAuth']),

    checkTokenSSO() {
      const url = process.env.SSO_VERIFICATION_AUTH;
      if (url !== '' && url !== '@SSO_VERIFICATION_AUTH@') {
        const body = { token: this.$route.query.token };
        const headers = { 'Content-Type': 'application/json' };
        if (Number(process.env.IS_COMPANY_GEN_TYPE_FLAGGING) === 1) {
          headers['X-VERSION'] = 1;
        }
        axios.post(url, body, { headers }).then((res) => {
          this.setTokenByVerificationAuth(res.data);
        });
      }
    },

    checkTokenGoogle() {
      const url = process.env.SIGNIN_WITH_GOOGLE_URL_VERIFICATION_AUTH;
      if (url !== '' && url !== '@SIGNIN_WITH_GOOGLE_URL_VERIFICATION_AUTH@') {
        const urlAuth = `${url}?id_token=${this.$route.query.id_token}`;
        axios.get(urlAuth, {
          headers: {
            'Content-Type': 'application/json',
          },
        }).then((res) => {
          this.setTokenByVerificationAuth(res.data);
        });
      }
    },

    checkToken() {
      const applicationId = this.$route.query.application_id || '';
      const pageId = this.$route.query.pages_id || '';
      const applicationName = this.$route.query.application_name ? this.$route.query.application_name.replace(/\s/g, '-') : '';
      const pageName = this.$route.query.pages_name ? this.$route.query.pages_name.replace(/\s/g, '-') : '';

      const dataToken = {
        token: this.$route.query.token,
        refresh_token: this.$route.query.refresh_token,
        application_id: applicationId,
        application_name: applicationName,
        pages_id: pageId,
        pages_name: pageName,
      };
      this.setTokenByVerificationAuth(dataToken);
    },
  },
};
</script>
