<template>
  <div
    :style="{ backgroundImage: `url(${bg_company})` }"
    class="login">
    <div
      v-if="show_background_blur"
      class="login-blur"/>
    <div
      v-if="show_background_blur"
      class="login-card-opacity"/>
    <div class="login-card">
      <img
        :src="require('@/assets/img/warning-denied.svg')"
        class="logo" >
      <div class="title-denied">Access Denied</div>
      <div class="desc-denied">Sorry you do not have permission.
      Please contact your administrator.</div>
      <b-button
        class="btn-login"
        @click="$router.push('/login')">
        Back to Login Page
      </b-button>
    </div>
    <div class="login-card-copy">
      <p>Version 2.64.3</p>
      <p v-if="show_powered_by">Powered by
        <b-link
          href="https://officeless.studio/"
          target="_blank">
          <strong>Jojonomic</strong>
        </b-link>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JDenied',
  data() {
    return {
    };
  },
  computed: {
    bg_company() {
      const bgCompany = process.env.BACKGROUND_COMPANY;
      if (bgCompany) {
        return process.env.BACKGROUND_COMPANY;
      }
      // eslint-disable-next-line
      return require('@/assets/img/bg-login-jojonomic.png');
    },
    show_powered_by() {
      return process.env.SHOW_POWERED_BY === 'true';
    },
    show_background_blur() {
      const isBlur = process.env.SHOW_BACKGROUND_BLUR;
      if (isBlur === 'true' || isBlur === '' || isBlur === '@SHOW_BACKGROUND_BLUR@') return true;
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
  .login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;

    .login-blur{
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.13);
      background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.08), rgba(0, 0, 0, 0.73) 78%);
      width: 100%;
      height: 100%;
      position: absolute;
    }

    &-card {
      width: 464px;
      max-height: 717px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 32px;
      z-index: 999;

      .logo {
        margin-top: 50px;
        width: auto;
        height: 128px;
      }

      .btn-login {
        width: 100%;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-sample;
        font-weight: 500;
        font-size: 18px;
        color: white;
        border-radius: 10px;
        margin-top: 16px;
        cursor: pointer;

        &:hover {
          background: darken($blue-sample, 20%);
        }
      }
    }

    .title-denied {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 50px;
    }

    .desc-denied {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 15px;
    }

    .login-card-copy {
      position: absolute;
      color: white;
      bottom: 10px;
      text-align: center;
      width: 100%;
    }

    .login-card-copy p{
      margin: 10px 0;
      color: #F4F4F4;
      font-size: 11px;
    }

    .login-card-copy p strong{
      font-weight: bold;
      color: white;
    }
  }

  .login-card-opacity {
    width: 506px;
    height: 456px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    position: absolute;
  }
</style>
