<template>
  <div
    id="login-html"
    :style="{ backgroundImage: `url(${bg_company})` }"
    class="login-html">
    <div
      v-if="show_background_blur"
      class="login-blur"/>
    <div
      v-if="!data_otp"
      class="login-box">
      <b-img
        :src="logo_company"
        class="img-logo-login"
      />
      <h3 class="login-title">Forgot Password?</h3>
      <div class="login-body mb-5 text-light text-center f14">
        Enter the email address you used when you joined and
        we’ll send you OTP to reset your password.
      </div>
      <b-form>
        <b-form-group>
          <b-form-input
            id="exampleInput1"
            :class="{'error-input' : $v.form.email.$error}"
            :error-message="err_msg"
            v-model="$v.form.email.$model"
            placeholder="Email Address"
            type="email"/>
        </b-form-group>
        <b-row
          class="mt-2">
          <b-col
            class="mt-4">
            <b-button
              :disabled="$v.form.email.$invalid"
              variant="primary"
              @click="sendRequest">
              Send Reset Password
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </div>
    <div
      v-else
      class="login-box">
      <b-link
        href="#">
        <b-img :src="icon_instruction"/>
      </b-link>
      <h3 class="login-title">Check your email</h3>
      <div class="login-body mb-5 text-light text-center f14">
        We have sent OTP to reset your password to your email
      </div>
    </div>
    <div class="login-copy">
      <p>Version {{ version_code }}</p>
      <p v-if="show_powered_by">Powered by
        <b-link
          href="https://officeless.studio/"
          target="_blank">
          <strong>Jojonomic</strong>
        </b-link>
      </p>
    </div>
    <j-modal
      ref="modalOtp">
      <input-otp
        :otp-show="otp_show"
        :wait-time="data_otp? data_otp.expired_timestamp : 12909309"
        mode="forgot-password"
        @close-modal="hideOtpModal"
        @complete="showChangePwd"/>
    </j-modal>
    <j-modal
      ref="modalPassword">
      <change-password
        :show="otp_show"
        :email="form.email"
        class="w-100"
        mode="forgot-password"
        @close-modal="cancelChangePwd"
        @complete="cancelChangePwd"/>
    </j-modal>
  </div>
</template>
<script>
import { required, email } from 'vuelidate/lib/validators';
import { mapActions, mapState } from 'vuex';
import changePassword from '@/components/profile/change-password';
import inputOtp from '@/components/profile/input-otp';
import jModal from '@/components/modal/jModal';

export default {
  name: 'JForgotPassword',
  components: {
    changePassword,
    inputOtp,
    jModal,
  },
  data() {
    return {
      form: {
        type: 'forgot-password',
        email: '',
      },
      otp_show: false,
      version_code: '2.64.3',
    };
  },
  validations: {
    form: {
      email: {
        required,
        email,
      },
    },
  },
  computed: {
    ...mapState('jStoreProfile', ['data_otp']),
    err_msg() {
      if (!this.form.email) {
        return 'Field is required';
      }

      if (this.$v.form.email.$invalid) {
        return 'Email format is invalid';
      }

      return 'Field is required';
    },
    logo_company() {
      const logoCompany = process.env.LOGO_COMPANY;
      if (logoCompany) {
        return process.env.LOGO_COMPANY;
      }
      // eslint-disable-next-line
      return require('@/assets/logo/logo-login-jojonomic.png');
    },
    bg_company() {
      const bgCompany = process.env.BACKGROUND_COMPANY;
      if (bgCompany) {
        return process.env.BACKGROUND_COMPANY;
      }
      // eslint-disable-next-line
      return require('@/assets/img/bg-login-jojonomic.png');
    },
    icon_instruction() {
      // eslint-disable-next-line
      return require('@/assets/img/ico-forgot-email.svg');
    },
    show_powered_by() {
      return process.env.SHOW_POWERED_BY === 'true';
    },
    show_background_blur() {
      const isBlur = process.env.SHOW_BACKGROUND_BLUR;
      if (isBlur === 'true' || isBlur === '' || isBlur === '@SHOW_BACKGROUND_BLUR@') return true;
      return false;
    },
  },
  watch: {
    data_otp(val) {
      if (val) {
        this.otp_show = true;
        this.showOtpModal();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['showLoading', 'hideLoading', 'showSuccess', 'showProblem']),
    ...mapActions('jStoreProfile', ['requestForgotPassword']),
    sendRequest() {
      this.$v.form.$touch();
      if (!this.$v.form.$error) {
        this.requestForgotPassword(this.form);
      }
    },
    cancelChangePwd() {
      this.$refs.modalPassword.toggleModal();
    },

    showOtpModal() {
      this.$refs.modalOtp.showModal();
      this.otp_show = true;
    },

    hideOtpModal() {
      this.$refs.modalOtp.hideModal();
      this.otp_show = false;
    },

    showChangePwd() {
      this.$refs.modalPassword.toggleModal();
      this.hideOtpModal();
    },
  },
};
</script>
<style scoped>
#login-html.login-html .login-box {
  left: 50% !important;
}

#login-html.login-html{
  /* background-image: url('../../assets/img/bg-login.png') !important; */
  background-size: contain cover;
  background-position: center center;
}

#login-html.login-html .login-blur{
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.13);
  background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.08), rgba(0, 0, 0, 0.73) 78%);
  width: 100%;
  height: 100%;
  position: absolute;
}

#login-html.login-html .login-box img{
  padding: 50px 50px 30px 50px;
  width: 100%;
}

#login-html.login-html .login-box .login-title {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#login-html.login-html .login-box .login-separator {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

#login-html.login-html .login-box .btn {
  padding: 12px 0;
}

#login-html.login-html .login-box .b-form-group input[type='password'],
#login-html.login-html .login-box .b-form-group input[type='text'] {
  margin-top:15px;
}

#login-html.login-html .login-box .b-form-group input[type='password'],
#login-html.login-html .login-box .b-form-group input[type='text'] {
  padding-top:22px;
  padding-bottom:22px;
  background-image: url('../../assets/img/ico-pass.svg') !important;
}

#login-html.login-html .login-box .b-form-group input[type='email'] {
  padding-top:22px;
  padding-bottom:22px;
  background-image: url('../../assets/img/ico-email.svg') !important;
}

#login-html.login-html .login-copy {
  position: absolute;
  color: white;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

#login-html.login-html .login-copy p{
  margin: 10px 0;
  color: #c1c1c1;
  font-weight: lighter;
  font-size: 11px;
}

#login-html.login-html .login-copy p strong{
  font-weight: bold;
  color: white;
}

#passwordInput, #passwordInput > div {
  position: relative;
}

#passwordInput > div label{
  position: absolute;
  top: 24px;
  right: 11px;
  font-size: 26px;
}

.outline-btn {
  border: solid 1.6px #dfdfdf;
  border-radius: 7px;
  background-color: rgba(121, 121, 121, 0.29);
}
</style>
<style lang="scss" scoped>
#login-html.login-html .login-box {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    left: 20%;
    max-width: 385px;
    padding: 0 20px 5%;
    position: relative;
    top: 45%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    border-radius: 12px;
    background: rgba(0,0,0,.4);
}

.login-box .login-body {
  font-size: 12px;
}
</style>
