<!-- eslint-disable max-len -->
<template>
  <div
    id="login-html"
    :style="{ backgroundImage: `url(${bg_company})` }"
    class="login-html">
    <div
      v-if="show_background_blur"
      class="login-blur"/>
    <div class="login-box">
      <b-img
        :src="logo_company"
        class="img-logo-login"
      />
      <p
        :style="{ color: font_color_login }"
        class="login-title"
      >
        Sign in to your account
      </p>
      <div
        v-if="errorAuthGoogle"
        class="login-error">
        <div class="d-flex">
          <img
            src="@/assets/icon/error-login.png"
            class="img-login-error">
          <div class="label-warning-login">Warning</div>
        </div>
        <div>{{ errorAuthGoogle }}</div>
      </div>
      <b-form
        @reset="onReset"
        @keyup.enter="onSubmit">
        <b-form-group>
          <b-form-input
            id="exampleInput1"
            :class="{'error-input' : $v.form.email.$error}"
            :error-message="null"
            :placeholder="'Email Address'"
            v-model="$v.form.email.$model"
            type="email"/>
        </b-form-group>
        <b-form-group id="loginPasswordInput">
          <b-form-input
            id="exampleInput2"
            :type="password_id"
            :error-message="null"
            :class="{'error-input' : $v.form.password.$error}"
            v-model="$v.form.password.$model"
            placeholder="Password"/>
          <label>
            <i
              :class="{'fa fa-eye': !show_pass, 'fa fa-eye-slash': show_pass}"
              role="img"
              @click="show_pass=!show_pass"/>
          </label>
        </b-form-group>
        <vue-recaptcha
          v-if="captcha_login"
          ref="recaptcha"
          :load-recaptcha-script="true"
          :sitekey="sitekey"
          class="g-recaptcha"
          @verify="onCaptchaVerified"
          @expired="onCaptchaExpired"/>
        <b-row
          class="mt-2">
          <b-col
            class="mt-4">
            <b-button
              :class="{'disabled': $v.form.$invalid || (captcha_login && (!recaptchaToken || !publicKey))}"
              variant="primary"
              @click="onSubmit">
              Login
            </b-button>
            <div
              v-if="false"
              class="text-right mt-1">
              <router-link
                to="/forgot/"
                class="text-primary">Forgot Password?</router-link>
            </div>
          </b-col>
        </b-row>
        <p
          v-if="join_your_organization || signin_with_google || signin_with_ldap || signin_with_custom_login || signin_with_sso"
          :style="{ color: font_color_login }"
          class="login-separator">Or</p>

        <div class="content-btn-another-login">
          <a
            v-if="join_your_organization"
            :href="join_your_organization_url"
            target="_blank">
            <b-button class="btn-other-login outline-btn-white d-flex">
              {{ join_your_organization_name }}
            </b-button>
          </a>

          <a
            v-if="signin_with_google"
            :href="urlAuth"
          >
            <b-button class="btn-other-login outline-btn-white text-left d-flex">
              <img src="@/assets/icon/by-email.png">
              Sign in with Google
            </b-button>
          </a>

          <b-button
            v-if="signin_with_ldap"
            class="btn-other-login outline-btn-white d-flex"
            @click="loginLdap">
            Sign in with Active Directory
          </b-button>

          <a
            v-if="signin_with_sso"
            :href="url_auth_sso"
          >
            <b-button class="btn-other-login outline-btn-white text-left d-flex">
              <img
                v-if="icon_btn_sso"
                :src="icon_btn_sso">
              {{ label_btn_sso }}
            </b-button>
          </a>

          <b-button
            v-if="signin_with_custom_login"
            class="btn-other-login outline-btn-white d-flex"
            @click="loginCustom"
          >
            {{ label_btn_custom_login }}
          </b-button>
        </div>

        <div class="text-center m__t--10">
          <div
            :style="{ color: font_color_login }"
            class="forgot h5 cursor-pointer"
            @click="forgotPassword">
            Forgot your password?
          </div>
        </div>
      </b-form>
    </div>
    <div class="login-copy">
      <p>Version {{ version_code }}</p>
      <p v-if="show_powered_by">Powered by
        <b-link
          href="https://officeless.studio/"
          target="_blank">
          <strong>Jojonomic</strong>
        </b-link>
      </p>
    </div>

    <j-modal ref="modalOtp">
      <input-otp
        :otp-show="otp_show"
        :wait-time="data_otp ? data_otp.expired_millisecond : 12909309"
        mode="login"
        @close-modal="hideOtpModal"
      />
    </j-modal>
  </div>
</template>

<script>
/* eslint-disable no-console, max-len, no-return-await */
import { required, minLength } from 'vuelidate/lib/validators';
import { mapState, mapActions } from 'vuex';
import axios from 'axios';
import jMixWindowTab from '@/mixins/jMixWindowTab';
import VueRecaptcha from 'vue-recaptcha';
import inputOtp from '@/components/profile/input-otp';
import jModal from '@/components/modal/jModal';

const NodeRSA = require('node-rsa');

export default {
  name: 'JLogin',
  components: {
    VueRecaptcha,
    inputOtp,
    jModal,
  },
  mixins: [jMixWindowTab],
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      show_pass: false,
      version_code: '2.64.3',
      urlAuth: '#',

      recaptchaToken: null,
      key: {
        publicKey:
          'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCbwgUR4qyEHDm/S2EizPCnTIFgJrqN8SXYmDzZW6scOgz4ZM9IUDNa0lfIw2y8qcd+QS25ZXj+YrOyGhODyn3lD6hGR5NMwfQhV+kPAQEKft/Ub8+E3ITvQdZOCfpYALcMGZhgwWJQULuH2ThKriX4qHCuvkLnUYv/U9O5qU5dnQIDAQAB',
        privateKey:
          'MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAJvCBRHirIQcOb9LYSLM8KdMgWAmuo3xJdiYPNlbqxw6DPhkz0hQM1rSV8jDbLypx35BLblleP5is7IaE4PKfeUPqEZHk0zB9CFX6Q8BAQp+39Rvz4TchO9B1k4J+lgAtwwZmGDBYlBQu4fZOEquJfiocK6+QudRi/9T07mpTl2dAgMBAAECgYAHHjfDGHvP0cZl0pkO0RTSYHGtJjfyUqnrGxH00Pah5JlBJMJASMIADYrLdvraKFwgjfP7/AIqhfI2WnC33iIgqnTp0q+mON5TZhZCR1W7iLe5LBVN5TlUbnIQfTtCu3IyfdNCDSO/Ok5ITZGYXLSwces7vwhk+0LXjILaTydY9QJBAMno8GGHNUcxt3xUi7xF5jGlX6y27MRLTA3eW6QQzR5huVWosG2saU7zgkhFlU38+Ei+XjgFyGP7jYX3QFNhNH8CQQDFe/Tq9ubMrxK4/d+IFcHha97apYunziNvlphzx94/gghQZPjcqPbQwpWw7LspiWe/Xxb59gD0lp1zvEPTxq/jAkAOqjSLYN6lxR6mkR11Fz6Y7IH+cWrQ9wcXGsddKzs6sa5cYlwuGw+rBFS6GxO1DmKaJfmB6Cmd2W92A3dQlwbRAkAuQe3Jh9HiCfQxvs24O5hxa+oEfxhqUv+76KOHIz7s01GNO0mLrkw59ApKKflhLl1N10EzhasNn6X78RJWLckPAkB4kGsvR7Q53V4tgNStJjYJS5LbxjOy15ld4Z4x/mJSKBgghisoAjrEvkrr4glcl3L9VLVICxrDsYmn5oGKfOpN',
      },
      publicKey: '',
      privateKey: '',
      nRSA: new NodeRSA(),
      decryptData: '',
      encryptData: '',
      otp_show: false,
    };
  },
  validations: {
    form: {
      email: {
        required,
      },
      password: {
        required,
        minLength: minLength(5),
      },
    },
  },
  computed: {
    ...mapState('jStoreLogin', ['errorAuthGoogle']),
    ...mapState('jStoreProfile', ['data_otp']),

    join_your_organization() {
      return process.env.JOIN_YOUR_ORGANIZATION === 'true';
    },
    signin_with_google() {
      return process.env.SIGNIN_WITH_GOOGLE === 'true';
    },
    signin_with_ldap() {
      return process.env.SIGNIN_WITH_LDAP === 'true';
    },
    signin_with_custom_login() {
      return process.env.SIGNIN_WITH_CUSTOM_LOGIN === 'true';
    },
    signin_with_sso() {
      return process.env.SSO_LOGIN === 'true';
    },
    url_auth_sso() {
      return process.env.SSO_URL_GET_AUTH;
    },
    label_btn_sso() {
      return process.env.SSO_BUTTON_NAME;
    },
    label_btn_custom_login() {
      return process.env.SIGNIN_WITH_CUSTOM_LOGIN_NAME || 'Sign In with SS6/PPA';
    },
    icon_btn_sso() {
      return process.env.SSO_BUTTON_ICON;
    },
    custom_login_route() {
      return process.env.SIGNIN_WITH_CUSTOM_LOGIN_API;
    },
    password_id() {
      if (this.show_pass) {
        return 'text';
      }
      return 'password';
    },
    logo_company() {
      const logoCompany = process.env.LOGO_COMPANY;
      if (logoCompany) {
        return process.env.LOGO_COMPANY;
      }
      // eslint-disable-next-line
      return require('@/assets/logo/logo-login-jojonomic.png');
    },
    bg_company() {
      const bgCompany = process.env.BACKGROUND_COMPANY;
      if (bgCompany) {
        return process.env.BACKGROUND_COMPANY;
      }
      // eslint-disable-next-line
      return require('@/assets/img/bg-login-jojonomic.png');
    },
    join_your_organization_url() {
      const joinYourOrganizationUrl = process.env.JOIN_YOUR_ORGANIZATION_URL;
      if (joinYourOrganizationUrl) {
        return process.env.JOIN_YOUR_ORGANIZATION_URL;
      }
      return '#';
    },
    join_your_organization_name() {
      const joinYourOrganizationName = process.env.JOIN_YOUR_ORGANIZATION_NAME;
      if (joinYourOrganizationName) {
        return process.env.JOIN_YOUR_ORGANIZATION_NAME;
      }
      return 'Join your organization';
    },
    captcha_login() {
      return process.env.CAPTCHA_LOGIN === 'true';
    },
    sitekey() {
      // Key Development
      // return '6LexBMgjAAAAAEzKUA-xvIq3wANxk5_0tlzDQp4u';
      return process.env.SITE_KEY_RECAPTCHA;
    },
    show_powered_by() {
      return process.env.SHOW_POWERED_BY === 'true';
    },
    login_otp() {
      return process.env.LOGIN_OTP === 'true';
    },
    show_background_blur() {
      const isBlur = process.env.SHOW_BACKGROUND_BLUR;
      if (isBlur === 'false') return false;
      return true;
    },
    font_color_login() {
      const color = process.env.FONT_COLOR_LOGIN;
      if (color !== '' && color !== '@FONT_COLOR_LOGIN@') return color;
      return '#FFFFFF';
    },
  },
  watch: {
    data_otp(val) {
      if (val) this.showOtpModal();
    },
  },
  created() {
    const favicon = document.getElementById('favicon');
    if (favicon) favicon.href = this.logo_tab;

    if (this.signin_with_google) {
      const url = process.env.SIGNIN_WITH_GOOGLE_URL_GET_AUTH;
      if (url !== '' && url !== '@SIGNIN_WITH_GOOGLE_URL_GET_AUTH@') {
        axios.get(url, {
          headers: {
            'Content-Type': 'application/json',
          },
        }).then((res) => {
          this.urlAuth = res.data.data ? (res.data.data.url || '#') : '#';
        });
      }
    }

    this.getKeyPublicRSA().then((res) => {
      if (res && !res.error) {
        this.publicKey = atob(res.data.key);
        // this.privateKey = atob(res.data.pkey);
        this.nRSA.importKey(this.publicKey, 'pkcs8-public-pem');
        // this.nRSA.importKey(this.privateKey, 'pkcs8-private-pem');
        this.nRSA.setOptions({ encryptionScheme: 'pkcs1' });
      }
    });
  },
  methods: {
    ...mapActions('jStoreLogin', ['loginAccount', 'loginAccountV2', 'getKeyPublicRSA']),
    ...mapActions('jStoreProfile', ['requestOtpLogin']),

    inputPublicKey() {
      this.nRSA.importKey(this.key.publicKey, 'pkcs8-public-pem');
    },
    inputPrivateKey() {
      this.nRSA.importKey(this.key.privateKey, 'pkcs8-private-pem');
    },
    async encryption(str) {
      return await this.nRSA.encrypt(str, 'base64');
    },
    async decryption(str) {
      return await this.nRSA.decrypt(str, 'utf8');
    },
    encrypt() {
      this.encryption(this.decryptData)
        .then((result) => {
          this.encryptData = result;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    decrypt() {
      this.decryption(this.encryptData)
        .then((result) => {
          this.decryptData = result;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    onSubmit() {
      if (this.captcha_login && this.recaptchaToken && this.publicKey) {
        this.encryption(this.form.password).then((result) => {
          this.$v.form.$touch();
          if (!this.form.email.match(/^[A-Za-z0-9@._-]+$/g)) {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please input email correctly');
          } else if (!this.$v.form.$error) {
            const data = {
              email: this.form.email,
              password: result,
              token_recaptcha: this.recaptchaToken,
            };
            if (this.login_otp) this.requestOtpLogin(data);
            else this.loginAccountV2(data);
          }
        }).catch((err) => { console.log(err); });
      } else if (!this.captcha_login) {
        this.encryption(this.form.password).then((result) => {
          this.$v.form.$touch();
          if (!this.form.email.match(/^[A-Za-z0-9@._-]+$/g)) {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please input email correctly');
          } else if (!this.$v.form.$error) {
            const data = {
              email: this.form.email,
              password: result,
            };
            if (this.login_otp) this.requestOtpLogin(data);
            else this.loginAccountV2(data);
          }
        }).catch((err) => { console.log(err); });
      }
    },
    onReset() {
      this.form.email = '';
      this.form.password = '';
      this.recaptchaToken = null;
    },
    forgotPassword() {
      this.$router.push('/forgot');
    },
    loginLdap() {
      this.$router.push('/signin-with-ldap');
    },
    loginCustom() {
      this.$router.push(`/${this.custom_login_route}`);
    },
    onCaptchaExpired() {
      this.$refs.recaptcha.reset();
      this.recaptchaToken = null;
    },
    onCaptchaVerified(recaptchaToken) {
      this.recaptchaToken = recaptchaToken;
    },
    showOtpModal() {
      this.$refs.modalOtp.toggleModal();
      this.otp_show = true;
    },
    hideOtpModal() {
      this.$refs.modalOtp.toggleModal();
      this.otp_show = false;
    },
  },
};
</script>

<style scoped>
#login-html.login-html .login-box .b-form-group input[type='password'],
#login-html.login-html .login-box .b-form-group input[type='text'] {
  margin-top:15px;
}

#login-html.login-html .login-box .b-form-group input[type='password'],
#login-html.login-html .login-box .b-form-group input[type='text'] {
  padding-top:22px;
  padding-bottom:22px;
  background-image: url('../../assets/img/ico-pass.svg') !important;
}

#login-html.login-html .login-box .b-form-group input[type='email'] {
  padding-top:22px;
  padding-bottom:22px;
  background-image: url('../../assets/img/ico-email.svg') !important;
}

.g-recaptcha {
    transform: scale(1.14);
    transform-origin: 0px 0px;
    margin-top: 35px;
}
</style>
