<template>
  <div>
    <b-row class="align-items-center">
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.tax_information.type.$error}">
          <label class="form__label">Tax Type</label>
          <j-single-select
            v-model="$v.tax_information.type.$model"
            :options="taxList"
            placeholder="Tax Type"
            value-format="object"
          />
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.tax_information.number.$error}">
          <label class="form__label">Tax ID / NPWP</label>
          <j-input
            id="id"
            v-model="$v.tax_information.number.$model"
            :error-message="err_message_npwp"
            :disabled="false"
            type="number"
            placeholder="Tax ID / NPWP"/>
        </b-form-group>
      </b-col>
      <b-col md="4"/>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.tax_information.effective_begin.$error}">
          <label class="form__label">Effective Start Date</label>
          <j-datepicker
            v-model="$v.tax_information.effective_begin.$model"
            :disabled-dates="disabledStartDate($v.tax_information.effective_end.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="4">
        <b-form-group :class="{'error-input' : $v.tax_information.effective_end.$error}">
          <label class="form__label">Effective End Date</label>
          <j-datepicker
            v-model="$v.tax_information.effective_end.$model"
            :disabled-dates="disabledEndDate($v.tax_information.effective_begin.$model)"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2021"/>
        </b-form-group>
      </b-col>
      <b-col
        sm="12"
        md="3">
        <b-button
          class="btn blue float-right"
          @click="updateTaxInfo">
          Update
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required, maxLength, minLength } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';

export default {
  name: 'JTaxInformation',
  mixins: [jGlobalOptions],
  props: {
    payrollId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      tax_information: {
        number: null,
        effective_begin: null,
        effective_end: null,
        type: null,
      },
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['taxList']),
    ...mapState('jStorePayrollInfo', ['tax_info', 'update_availability', 'tax_status_info_updated']),
    ...mapState('jStoreAddPayroll', ['statusTaxList']),

    generateData() {
      const genData = {
        id: this.tax_information.id || null,
        tax_id: this.tax_information.type ? this.tax_information.type.id : null,
        // eslint-disable-next-line max-len
        tax_status_id: this.tax_status_info_updated ? this.tax_status_info_updated.tax_status_id : this.statusTaxList[0].id,
        number: this.tax_information.number,
        effective_begin: this.tax_information.effective_begin ? this.$moment(this.tax_information.effective_begin).format('YYYY-MM-DD') : null,
        effective_end: this.tax_information.effective_end ? this.$moment(this.tax_information.effective_end).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    err_message_npwp() {
      if (!this.$v.tax_information.number.required) {
        return 'Field is required';
      } else if (!this.$v.tax_information.number.minLength) {
        return 'Min length is 15';
      } else if (!this.$v.tax_information.number.maxLength) {
        return 'Max length is 15';
      }
      return 'Field is required';
    },
  },
  watch: {
    tax_info: {
      deep: true,
      handler(val) {
        if (val.length > 0) {
          this.tax_information = {
            id: val[0].id,
            number: val[0].number || null,
            effective_begin: val[0].effective_begin ? this.$moment(val[0].effective_begin).format('YYYY-MM-DD') : null,
            effective_end: val[0].effective_end ? this.$moment(val[0].effective_end).format('YYYY-MM-DD') : null,
            tax_status_id: val[0].tax_status_id,
            type: val[0].tax_id ? {
              id: val[0].tax_id,
            } : null,
          };
        }
      },
    },
  },
  created() {
    this.actionGetTaxInformation(this.payrollId);
  },
  validations() {
    return {
      tax_information: {
        number: { required, maxLength: maxLength(15), minLength: minLength(15) },
        effective_begin: { },
        effective_end: { },
        type: { },
      },
    };
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionGetTaxInformation', 'actionSaveTaxInformation']),
    ...mapActions('jStorePayrollInfo', ['actionCheckAvailability']),
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    async updateTaxInfo() {
      const availability = await this.actionCheckAvailability({
        user_company_id: Number(this.$route.params.id),
      });
      if (availability) {
        this.$v.tax_information.$touch();
        if (!this.$v.tax_information.$error) {
          this.actionSaveTaxInformation({ payrollId: this.payrollId, params: this.generateData });
        }
      }
    },
  },
};
</script>
