<template>
  <div
    id="code-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="attendanceServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
    >

      <!-- <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            id="code-search"
            class="btn grey btn-import-form">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div> -->

      <!-- <div
        slot="id"
        slot-scope="props">
        {{ props.row.user.employee_id }}
      </div>

      <div
        slot="name"
        slot-scope="props">
        {{ props.row.user.fullname }}
      </div>

      <div
        slot="title"
        slot-scope="props">
        {{ props.row.organigram.name }}
      </div> -->

    </v-server-table>

    <div>
      <jLoadingTable v-if="!load_first"/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="code-table"
      target="code-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: [],
      options: {
        headings: {
          id: 'EMP. ID',
          name: 'EMP. NAME',
          title: 'JOB TITLE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: [],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            // column: data.orderBy ? data.orderBy : 'updated_date',
            // ascending: !data.ascending,
            // query: data.query ? data.query : '',
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getManagerDashboardTable(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          this.columns.length = 0;
          this.columns.push('id');
          this.columns.push('name');
          this.columns.push('title');
          const mergedArray = [];

          if (data.data.length > 0) {
            data.data[0].attendances.forEach((el) => {
              const formattedDate = this.$moment(el.date).format('DD/MM/YYYY');
              this.columns.push(formattedDate);
            });
          }

          data.data.forEach((el) => {
            const row = {
              id: el.user.employee_id,
              name: el.user.fullname,
              title: el.organigram.name,
            };

            el.attendances.forEach((val) => {
              row[`${this.$moment(val.date).format('DD/MM/YYYY')}`] = val.status;
            });

            mergedArray.push(row);
          });

          return {
            data: mergedArray || [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.attendanceServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      val.start_date = this.lastTenDays();
      val.end_date = this.$moment().format('YYYY-MM-DD');
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.attendanceServer.getData();
    },
    filter(val) {
      this.$refs.attendanceServer.setFilter(val);
    },
    lastTenDays() {
      const date = new Date();
      date.setDate(date.getDate() - 9);
      return this.$moment(date).format('YYYY-MM-DD');
    },
  },
};
</script>
