<template>
  <div class="row">
    <div class="col-6">
      <label
        class="title">
        {{ title }}
      </label>
    </div>

    <div class="col-6">
      <slot/>
      <b-button
        v-if="showAddButton"
        class="btn green float-right"
        @click="onClickAdd">
        <i class="fa fa-plus"/> Add
      </b-button>
    </div>
    <div class="col multi-selection-box">
      <div
        v-for="(item, index) in data"
        :key="index"
        class="d-inline-flex"
        @click="getDetail(item)">
        <div
          :class="[item.is_delete ? 'hide-item':'']"
          class="multi-selection-box-item">
          <div class="d-inline-flex">
            <p>
              <span class="type-name">{{ item.type }}</span>
              <span class="name">{{ item.name }}</span>
            </p>
            <div
              class="float-right"
              style="padding-left:10px">
              <span
                v-show="
                  typeof item.show_delete_button === 'undefined'
                    || item.show_delete_button === null
                    || item.show_delete_button
                "
                data-effect="fadeOut"
                class="clickable close-icon"
                @click.stop="item.is_delete=true">
                <i class="fa fa-times fa-lg"/>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'JMultiSelection',
  props: {
    title: {
      type: String,
      default: 'Name',
    },
    data: {
      type: Array,
      default: () => [],
    },
    showAddButton: {
      type: Boolean,
      default: true,
    },
    detail: {
      type: Object,
      default: () => {},
    },
    onClickAdd: {
      type: Function,
      default: function defaultOnCLick() {
      },
    },
  },
  methods: {
    getDetail(data) {
      this.$emit('detail', data);
    },
  },
};
</script>

<style scoped>

.title {
  text-transform: uppercase;
  margin: 0px;
}

.multi-selection-box, .multi-selection-box-item {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.multi-selection-box {
  min-height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 110px;
}

.multi-selection-box-item {
  background-color: grey;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.type-name, .name {
  color: white;
}

.type-name {
  font-size: xx-small;
  margin-bottom: 4px;
}

.name {
  font-size: medium;
}

.close-icon {
  cursor: pointer;
  color: white;
}

.fa-times {
  color: white;
  -webkit-text-stroke: 2px white;
}

.display-item {
  display: inline;
}

p span {
  display: block;
}

.hide-item {
  display: none;
}
</style>
