<template>
  <div id="app">

    <!-- header title -->
    <j-headful :title="$route.meta.title"/>

    <!-- header border -->
    <j-header/>

    <!-- router -->
    <router-view/>

    <!-- notification screen -->
    <j-loading-screen
      ref="loadingScreen"
      :message="loading_message"/>
    <jInfoScreen
      ref="infoScreen"
      :message="info_message"/>
    <jWarningScreen
      ref="warningScreen"
      :message="warning_message"/>
    <jProblemScreen
      ref="problemScreen"
      :message="problem_message"
      :code="problem_code"/>
    <jSuccessScreen
      ref="successScreen"
      :message="success_message"/>

  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import jMixNotificationScreen from '@/mixins/components/notification-screen/jMixNotificationScreen';
import jInfoScreen from '@/components/notification-screen/jInfoScreen';
import jWarningScreen from '@/components/notification-screen/jWarningScreen';
import jSuccessScreen from '@/components/notification-screen/jSuccessScreen';
import jProblemScreen from '@/components/notification-screen/jProblemScreen';

export default {
  name: 'default',
  components: {
    jInfoScreen,
    jWarningScreen,
    jSuccessScreen,
    jProblemScreen,
  },
  mixins: [jMixNotificationScreen],

  mounted() {
    // Import css font
    const style = document.createElement('link');
    style.type = 'text/css';
    style.rel = 'stylesheet';
    style.href = `${process.env.GATE_URL}fonts/fonts/poppins.css`;
    document.head.appendChild(style);
    document.documentElement.style.setProperty('--fontThisApps', 'Poppins');
  },
};
</script>
