<!-- Created by Arga Ghulam Ahmad - arga@jojonomic.com -->
<template>
  <div
    id="wrapper"
    class="toggled">

    <!-- header title -->
    <!-- <j-headful :title="$route.meta.title"/> -->

    <!-- header border -->
    <j-header/>

    <!-- Navbar -->
    <j-navbar :app="application_detail" />

    <j-reminder-subs/>

    <b-alert
      v-if="show_online"
      show
      variant="success">Back online</b-alert>
    <b-alert
      v-if="show_slow"
      show
      variant="warning">Low connection</b-alert>
    <b-alert
      v-if="show_offline"
      show
      variant="danger">No internet connection</b-alert>

    <!-- sidebar -->
    <!-- <j-sidebar-app
      :menus-items="menus"
      class="siderbar-app"/> -->

    <j-officeless-sidebar
      :menus-items="menus"
      :show-search-page="showSearchPage"
      class="siderbar-app"
      @getSuggestions="getSuggestions" />

    <j-apps-sidebar
      :class="sidebar ? 'switch-app-bar-show' : 'switch-app-bar-hide'"
      :group-products="clonedGroupApps"/>

    <div
      v-if="sidebar"
      class="background-blur show"
      @click="$store.dispatch('jStoreSetting/toogleSidebar', false)"/>

    <!-- Search Suggestion -->
    <j-search-suggestion
      v-if="search_suggestion && showSearchPage"
      :suggestions="searchSuggestions" />

    <!-- Page Content -->
    <div
      id="page-content-wrapper"
      style="display: block">

      <!-- main content -->
      <div class="wrapper-content m__t--25">
        <transition name="fadeout">
          <router-view
            :key="$route.path"/>
        </transition>
      </div>

    </div>

    <!-- notification screen -->
    <jLoadingScreen
      ref="loadingScreen"
      :message="loading_message"/>
    <jInfoScreen
      ref="infoScreen"
      :message="info_message"/>
    <jWarningScreen
      ref="warningScreen"
      :message="warning_message"/>
    <jProblemScreen
      ref="problemScreen"
      :message="problem_message"
      :code="problem_code"/>
    <jSuccessScreen
      ref="successScreen"
      :message="success_message"/>
    <jMaintenanceScreen
      ref="maintenanceScreen"
      :message="maintenance_message"/>

  </div>
</template>

<script>
/* eslint-disable global-require,import/no-duplicates,vue/name-property-casing, no-param-reassign, no-nested-ternary, max-len, no-console */
import { jPrivCompanySettings } from '@/privilage/company-settings/jPrivCompanySettings';
import { jPrivPackages } from '@/privilage/packages/jPrivPackages';
import { jPrivRoles } from '@/privilage/roles/jPrivRoles';
import { mapState, mapActions, mapMutations } from 'vuex';
import jMixNotificationScreen from '@/mixins/components/notification-screen/jMixNotificationScreen';
import jMixSidebar from '@jojocoders/jojonomic-ui/src/Mixins/jMixSidebar';
import jNavbar from '@/views/navbar/jNavbar';
import jReminderSubs from '@/components/subscription/reminder';
import jLoadingScreen from '@/components/notification-screen/jLoadingScreen';
import jInfoScreen from '@/components/notification-screen/jInfoScreen';
import jWarningScreen from '@/components/notification-screen/jWarningScreen';
import jSuccessScreen from '@/components/notification-screen/jSuccessScreen';
import jProblemScreen from '@/components/notification-screen/jProblemScreen';
import jMaintenanceScreen from '@/components/notification-screen/jMaintenanceScreen';
import jOfficelessSidebar from '@/views/sidebar/jOfficelessSidebar';
import jAppsSidebar from '@/components/apps-sidebar/jAppsSidebar';
import jSearchSuggestion from '@/components/apps-sidebar/jSearchSuggestion';
import Vue from 'vue';

export default {
  name: 'jDynamicWrapper',
  components: {
    jNavbar,
    jReminderSubs,
    jOfficelessSidebar,
    jAppsSidebar,
    jLoadingScreen,
    jInfoScreen,
    jWarningScreen,
    jSuccessScreen,
    jProblemScreen,
    jMaintenanceScreen,
    jSearchSuggestion,
  },
  mixins: [
    jPrivCompanySettings,
    jPrivPackages,
    jPrivRoles,
    jMixNotificationScreen,
    jMixSidebar,
  ],
  data() {
    return {
      arrayOfIcon: [],
      user: {
        submenu: {
          menus: [
            {
              title: 'Account',
              id: 1,
              text: 'Profile',
              href: '/profile',
              // hrefout: `${process.env.JOJOPRO_URL}profile/detail`,
            },
            {
              id: 2,
              text: 'Logout',
              href: '/logout',
            },
          ],
        },
      },
      menus: [],
      show_online: false,
      show_slow: false,
      show_offline: false,
      searchSuggestions: [],
      listApps: [],
      listFavApps: [],
      listGroups: [],
      showOptionCondition: [null, undefined, 1, 3],
    };
  },
  computed: {
    ...mapState('jStoreApplication', ['side_menu', 'application_detail']),
    ...mapState('jStoreSetting', ['sidebar', 'search_suggestion']),
    ...mapState('jStoreHome', ['applications_list']),
    ...mapState('jStoreLogin', ['profile_data']),

    clonedGroupApps() {
      const clonedArray = this._.cloneDeep(this.listGroups);
      const newArray = clonedArray.map(arr => ({
        application: arr.application,
        apps: arr.apps,
        name: arr.name,
        id: arr.id,
        isShow: true,
      }));
      const favoriteGroup = {
        application: this.listFavApps,
        apps: this.listFavApps,
        name: 'Favorite',
        id: 1,
        isShow: true,
      };
      newArray.splice(0, 0, favoriteGroup);
      return newArray;
    },

    showSearchPage() {
      return this.application_detail ? this.application_detail.is_show_search_menu : false;
    },
  },
  watch: {
    $route() {
      this.$store.dispatch('jStoreLogin/getProfileAndRole');
      this.$store.dispatch('jStoreSetting/toogleSidebar', false);
      this.initSidebarNavbar();

      setTimeout(() => {
        document.title = this.$route.meta.title;
      }, 1000);

      this.setFullScreenComp({
        is_full_screen_comp: false,
        id_full_screen_comp: null,
      });
    },
    side_menu(val) {
      this.menus = this.menuDetails(val);
    },
  },
  created() {
    // document.title = this.$route.meta.title;
    this.$store.dispatch('jStoreLogin/getProfileAndRole');
    this.$store.dispatch('jStoreSetting/toogleSidebar', false);
    this.setFinishLoadApp(false);
    this.initSidebarNavbar();
    this.getApplicationList();
    this.actionGetForceChangePassword();

    window.addEventListener('offline', () => {
      this.show_online = false;
      this.show_slow = false;
      this.show_offline = true;
    });
    // window.addEventListener('load', () => {
    //   this.show_online = false;
    //   this.show_slow = true;
    //   this.show_offline = false;
    // });
    window.addEventListener('online', () => {
      if (this.show_offline) {
        this.show_online = true;
        this.show_slow = false;
        this.show_offline = false;

        setTimeout(() => {
          this.show_online = false;
        }, 2000);
      }
    });
  },
  mounted() {
    setInterval(() => {
      if (!Vue.ls.get('Token')) {
        this.$router.replace('/logout');
        window.location = '/';
      }

      const expire = JSON.parse(localStorage.getItem('Token')).expire;
      const now = Date.now();
      if (expire - 300000 < now) {
        this.$store.dispatch('jStoreLogin/refreshTokenApiV2');
      }
    }, 1000);

    // Import css font
    const style = document.createElement('link');
    style.type = 'text/css';
    style.rel = 'stylesheet';
    style.href = `${process.env.GATE_URL}fonts/fonts/poppins.css`;
    document.head.appendChild(style);
    document.documentElement.style.setProperty('--fontThisApps', 'Poppins');
  },
  methods: {
    ...mapActions('jStoreHome', ['setSidebar', 'actionGetGroupApplicationsList', 'actionGetApplicationsList', 'actionGetFavoriteApplication']),
    ...mapActions('jStoreApplication', ['actionGetSideMenuList', 'actionGetApplicationDetail']),
    ...mapActions('jStoreSetting', ['toggleSearchSuggestion']),
    ...mapActions('jStoreCompanySetting', ['actionGetForceChangePassword']),
    ...mapMutations('jStoreFormUi', ['setFullScreenComp']),
    ...mapMutations('jStoreHome', ['setFinishLoadApp']),

    initSidebarNavbar() {
      const applicationId = this.$route.params.applicationId;
      const param = {
        params: {
          page: 1,
          limit: 0,
          column: 'id',
          sort: 'asc',
          query: '',
          query_type: '',
        },
      };

      this.actionGetSideMenuList({ applicationId, param }).then(() => {
        this.actionGetApplicationDetail({ applicationId, param });
      });
    },
    getApplicationList() {
      const parameter = {
        page: 1,
        limit: 0,
        column: 'id',
        sort: 'asc',
        query: '',
        query_type: '',
      };
      this.actionGetApplicationsList({ params: parameter }).then((res) => {
        this.listApps = res.filter(r => this.showOptionCondition.includes(r.show_option));
        this.getFavoriteAppList();
      });
    },
    getFavoriteAppList() {
      const parameter = {
        page: 1,
        limit: 100,
        column: 'id',
        sort: 'asc',
      };
      this.actionGetFavoriteApplication({ params: parameter }).then(async (res) => {
        this.listFavApps = [];
        // eslint-disable-next-line array-callback-return
        const promises = res.map((app) => {
          if (app.application) {
            const applicationName = app.application.name.replace(/\s/g, '-');
            app.application.fav_order = app.order;
            app.application.fav_id = app.id;

            if (!app.application.first_page) {
              app.application.url = '';
            } else {
              const pageName = app.application.first_page.name.replace(/\s/g, '-');
              app.application.url = `app/${applicationName}/${app.application.id_hash}/${pageName}/${app.application.first_page.id}`;
            }
            if (this.showOptionCondition.includes(app.application.show_option)) this.listFavApps.push(app.application);
          }
        });
        await Promise.all(promises);
        this.listFavApps.sort((a, b) => ((a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0)));
        this.getGroupApp();
      });
    },
    getGroupApp() {
      const param = {
        page: 1,
        limit: 100,
        column: 'id',
        sort: 'asc',
      };
      this.actionGetGroupApplicationsList({ params: param }).then(async (res) => {
        this.listGroups = [];
        const groups = this._.cloneDeep(res);
        groups.map(async (group) => {
          group.apps = group.application;
          // eslint-disable-next-line array-callback-return
          const promises2 = group.application.map((app) => {
            const applicationName = app.name.replace(/\s/g, '-');

            if (!app.ref_application_id) {
              app.url = '';
            } else {
              const pageName = app.ref_application_name.replace(/\s/g, '-');
              app.url = `app/${applicationName}/${app.id_hash}/${pageName}/${app.ref_application_id}`;
            }
          });
          const filteredApp = group.apps.filter(g => this.showOptionCondition.includes(g.show_option));
          group.application = filteredApp;
          group.apps = filteredApp;
          group.favs = filteredApp;

          await Promise.all(promises2);
          this.setFinishLoadApp(true);
          this.listGroups.push(group);
        });
      });
    },
    menuDetails(val) {
      const showOptionCondition = [null, undefined, 1, 3];
      const tempMenu = [];
      const menus = val.filter(v => showOptionCondition.includes(v.show_option));

      // Pertama mapping dulu parent
      menus.forEach((el) => {
        // If element is parent
        const pageName = el.name.replace(/\s/g, '-');

        if (el.type === 'menu') {
          tempMenu.push({
            parent: {
              id: el.id,
              name: el.name,
              icon: el.icon_white ? null : 'file-text-o',
              iconUrlActive: el.icon_active,
              iconUrlNotActive: el.icon_white,
              show_option: el.show_option,
              is_maintenance_mode: el.is_maintenance_mode,
              maintenance_mode_message: el.maintenance_mode_message,
              isShow: true,
            },
            // this child is mandatory
            child: [],
          });
        } else if ((el.parent_id !== 0 && el.parent_id !== null) && el.type === 'visible') {
          // // If element is child
          // const parentIndex = tempMenu.findIndex(parentEl =>
          //   parentEl.parent.id === Number(el.parent_id));

          // // Convert URL Encoding Equal Sign
          // const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          // if (parentIndex > -1) {
          //   tempMenu[parentIndex].child.push({
          //     id: el.id,
          //     name: el.name,
          //     href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
          //     icon: el.icon_white ? null : 'file-text-o',
          //     iconUrlActive: el.icon_active,
          //     iconUrlNotActive: el.icon_white,
          //     show_option: el.show_option,
          //     is_maintenance_mode: el.is_maintenance_mode,
          //     maintenance_mode_message: el.maintenance_mode_message,
          //     isShow: true,
          //   });
          // }
        } else if ((el.parent_id === 0 || el.parent_id === null) && el.type === 'visible') {
          // If element is page (not child or parent)

          // Convert URL Encoding Equal Sign
          const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          tempMenu.push({
            parent: {
              id: el.id,
              name: el.name,
              href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
              icon: el.icon_white ? null : 'file-text-o',
              iconUrlActive: el.icon_active,
              iconUrlNotActive: el.icon_white,
              show_option: el.show_option,
              is_maintenance_mode: el.is_maintenance_mode,
              maintenance_mode_message: el.maintenance_mode_message,
              isShow: true,
            },
          });
        } else if ((el.parent_id !== 0 && el.parent_id !== null) && el.type === 'invisible') {
          // // If element is child but invisible
          // const parentIndex = tempMenu.findIndex(parentEl =>
          //   parentEl.parent.id === Number(el.parent_id));

          // // Convert URL Encoding Equal Sign
          // const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          // if (parentIndex > -1) {
          //   tempMenu[parentIndex].child.push({
          //     id: el.id,
          //     name: el.name,
          //     href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
          //     icon: el.icon_white ? null : 'file-text-o',
          //     iconUrlActive: el.icon_active,
          //     iconUrlNotActive: el.icon_white,
          //     show_option: el.show_option,
          //     is_maintenance_mode: el.is_maintenance_mode,
          //     maintenance_mode_message: el.maintenance_mode_message,
          //     isShow: false,
          //   });
          // }
        } else if ((el.parent_id === 0 || el.parent_id === null) && el.type === 'invisible') {
          // If element is page (not child or parent) but invisible

          // Convert URL Encoding Equal Sign
          const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          tempMenu.push({
            parent: {
              id: el.id,
              name: el.name,
              href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
              icon: el.icon_white ? null : 'file-text-o',
              iconUrlActive: el.icon_active,
              iconUrlNotActive: el.icon_white,
              show_option: el.show_option,
              is_maintenance_mode: el.is_maintenance_mode,
              maintenance_mode_message: el.maintenance_mode_message,
              isShow: false,
            },
            // this child is mandatory
            child: [],
          });
        }
      });

      // Selanjutnya mapping child
      menus.forEach((el) => {
        const pageName = el.name.replace(/\s/g, '-');

        if ((el.parent_id !== 0 && el.parent_id !== null) && el.type === 'visible') {
          // If element is child
          const parentIndex = tempMenu.findIndex(parentEl =>
            parentEl.parent.id === Number(el.parent_id));

          // Convert URL Encoding Equal Sign
          const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          if (parentIndex > -1) {
            tempMenu[parentIndex].child.push({
              id: el.id,
              name: el.name,
              href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
              icon: el.icon_white ? null : 'file-text-o',
              iconUrlActive: el.icon_active,
              iconUrlNotActive: el.icon_white,
              show_option: el.show_option,
              is_maintenance_mode: el.is_maintenance_mode,
              maintenance_mode_message: el.maintenance_mode_message,
              isShow: true,
            });
          }
        } else if ((el.parent_id !== 0 && el.parent_id !== null) && el.type === 'invisible') {
          // If element is child but invisible
          const parentIndex = tempMenu.findIndex(parentEl =>
            parentEl.parent.id === Number(el.parent_id));

          // Convert URL Encoding Equal Sign
          const applicationId = this.$route.params.applicationId.replace(/=/g, '%3D');

          if (parentIndex > -1) {
            tempMenu[parentIndex].child.push({
              id: el.id,
              name: el.name,
              href: `/app/${this.$route.params.applicationName}/${applicationId}/${pageName}/${el.id}`,
              icon: el.icon_white ? null : 'file-text-o',
              iconUrlActive: el.icon_active,
              iconUrlNotActive: el.icon_white,
              show_option: el.show_option,
              is_maintenance_mode: el.is_maintenance_mode,
              maintenance_mode_message: el.maintenance_mode_message,
              isShow: false,
            });
          }
        }
      });
      return tempMenu;
    },
    getSuggestions(val) {
      this.toggleSearchSuggestion(true);
      this.searchSuggestions = val;
    },
  },
};
</script>

<style scoped>
#sidebar-wrapper {
  z-index: 998 !important;
}
</style>
