<!-- Created by Arga Ghulam Ahmad - arga@jojonomic.com -->
<template>
  <div>
    <!-- header title -->
    <j-headful :title="title_tab"/>

    <!-- Didn't yet modify header -->
    <j-header/>

    <!-- Navbar -->
    <j-navbar :at-home="true" />

    <!-- Create 9 dots sidebar here -->
    <j-apps-sidebar
      :class="sidebar ? 'switch-app-bar-show' : 'switch-app-bar-hide'"
      :group-products="clonedGroupApps"/>

    <div
      v-if="sidebar"
      class="background-blur show"
      @click="$store.dispatch('jStoreSetting/toogleSidebar', false)"/>

    <!-- <div
      v-if="!sidebar"
      class="background-blur hide"/> -->

    <!-- Page Content -->
    <div
      id="page-content-wrapper"
      style="display: block">

      <!-- navbar will change to jOfficelessNavbar -->
      <j-reminder-subs />

      <b-alert
        v-if="show_online"
        show
        variant="success">Back online</b-alert>
      <b-alert
        v-if="show_slow"
        show
        variant="warning">Low connection</b-alert>
      <b-alert
        v-if="show_offline"
        show
        variant="danger">No internet connection</b-alert>

      <!-- main content -->
      <div>
        <transition name="fadeout">
          <router-view/>
        </transition>
      </div>

    </div>

    <!-- notification screen -->
    <jLoadingScreen
      ref="loadingScreen"
      :message="loading_message"/>
    <jInfoScreen
      ref="infoScreen"
      :message="info_message"/>
    <jWarningScreen
      ref="warningScreen"
      :message="warning_message"/>
    <jProblemScreen
      ref="problemScreen"
      :message="problem_message"
      :code="problem_code"/>
    <jSuccessScreen
      ref="successScreen"
      :message="success_message"/>
    <jMaintenanceScreen
      ref="maintenanceScreen"
      :message="maintenance_message"/>

    <!-- Modal Force Upload Photo -->
    <j-modal-force-upload-photo
      ref="modalForceUploadPhoto" />
  </div>
</template>

<script>
/* eslint-disable global-require,import/no-duplicates,vue/name-property-casing, max-len, no-param-reassign, no-nested-ternary, array-callback-return, consistent-return */
import { jPrivCompanySettings } from '@/privilage/company-settings/jPrivCompanySettings';
import { jPrivPackages } from '@/privilage/packages/jPrivPackages';
import { jPrivRoles } from '@/privilage/roles/jPrivRoles';
import { mapActions, mapMutations, mapState } from 'vuex';
import jMixNotificationScreen from '@/mixins/components/notification-screen/jMixNotificationScreen';
import jMixSidebar from '@jojocoders/jojonomic-ui/src/Mixins/jMixSidebar';
import jMixWindowTab from '@/mixins/jMixWindowTab';
import jNavbar from '@/views/navbar/jNavbar';
import jReminderSubs from '@/components/subscription/reminder';
import jLoadingScreen from '@/components/notification-screen/jLoadingScreen';
import jInfoScreen from '@/components/notification-screen/jInfoScreen';
import jWarningScreen from '@/components/notification-screen/jWarningScreen';
import jSuccessScreen from '@/components/notification-screen/jSuccessScreen';
import jProblemScreen from '@/components/notification-screen/jProblemScreen';
import jMaintenanceScreen from '@/components/notification-screen/jMaintenanceScreen';
import jAppsSidebar from '@/components/apps-sidebar/jAppsSidebar';
import jModalForceUploadPhoto from '@/components/modal/upload-photo/jModalForceUploadPhoto';
import Vue from 'vue';

export default {
  name: 'jOfficelessHomeWrapper',
  components: {
    jNavbar,
    jReminderSubs,
    jLoadingScreen,
    jInfoScreen,
    jWarningScreen,
    jSuccessScreen,
    jProblemScreen,
    jMaintenanceScreen,
    jAppsSidebar,
    jModalForceUploadPhoto,
  },
  mixins: [
    jPrivCompanySettings,
    jPrivPackages,
    jPrivRoles,
    jMixNotificationScreen,
    jMixSidebar,
    jMixWindowTab,
  ],
  data() {
    return {
      arrayOfIcon: [],
      user: {
        submenu: {
          menus: [
            {
              title: 'Account',
              id: 1,
              text: 'Profile',
              href: '/profile',
              // hrefout: `${process.env.JOJOPRO_URL}profile/detail`,
            },
            {
              id: 2,
              text: 'Logout',
              href: '/logout',
            },
          ],
        },
      },
      iconLauncher: null,
      show_online: false,
      show_slow: false,
      show_offline: false,
      listApps: [],
      listFavApps: [],
      listGroups: [],
      showOptionCondition: [null, undefined, 1, 3],
    };
  },
  computed: {
    ...mapState('jStoreSetting', ['sidebar']),
    ...mapState('jStoreHome', ['applications_list']),

    menus() {
      return this.menusDetailsOfficeless();
    },
    clonedGroupApps() {
      const clonedArray = this._.cloneDeep(this.listGroups);
      const newArray = clonedArray.map(arr => ({
        application: arr.application,
        apps: arr.apps,
        name: arr.name,
        id: arr.id,
        isShow: true,
      }));
      const favoriteGroup = {
        application: this.listFavApps,
        apps: this.listFavApps,
        name: 'Favorite',
        id: 1,
        isShow: true,
      };
      newArray.splice(0, 0, favoriteGroup);
      return newArray;
    },
  },
  watch: {
    $route() {
      this.getGroupApp();
      this.$store.dispatch('jStoreLogin/getProfileAndRole');
    },
  },
  mounted() {
    setInterval(() => {
      if (!Vue.ls.get('Token')) {
        this.$router.replace('/logout');
        window.location = '/';
      }

      const expire = JSON.parse(localStorage.getItem('Token')).expire;
      const now = Date.now();
      if (expire - 300000 < now) {
        this.$store.dispatch('jStoreLogin/refreshTokenApiV2');
      }
    }, 1000);

    // Import css font
    const style = document.createElement('link');
    style.type = 'text/css';
    style.rel = 'stylesheet';
    style.href = `${process.env.GATE_URL}fonts/fonts/poppins.css`;
    document.head.appendChild(style);
    document.documentElement.style.setProperty('--fontThisApps', 'Poppins');
  },
  created() {
    this.$store.dispatch('jStoreSetting/toogleSidebar', false);
    this.$store.dispatch('jStoreLogin/getProfileAndRole');

    this.setFinishLoadApp(false);
    this.getApplicationList();

    window.addEventListener('offline', () => {
      this.show_online = false;
      this.show_slow = false;
      this.show_offline = true;
    });
    // window.addEventListener('load', () => {
    //   this.show_online = false;
    //   this.show_slow = true;
    //   this.show_offline = false;
    // });
    window.addEventListener('online', () => {
      if (this.show_offline) {
        this.show_online = true;
        this.show_slow = false;
        this.show_offline = false;

        setTimeout(() => {
          this.show_online = false;
        }, 2000);
      }
    });
  },
  methods: {
    ...mapActions('jStoreHome', [
      'actionGetApplicationsList',
      'actionGetFavoriteApplication',
      'actionGetGroupApplicationsList',
    ]),
    ...mapMutations('jStoreHome', [
      'setListApps', 'setListFavsApps', 'setListGroupApps', 'setFinishLoadApp',
    ]),

    getApplicationList() {
      const parameter = {
        page: 1,
        limit: 0,
        column: 'id',
        sort: 'asc',
        query: '',
        query_type: '',
      };
      this.actionGetApplicationsList({ params: parameter }).then((res) => {
        this.listApps = res.filter(r => this.showOptionCondition.includes(r.show_option));
        if (this.listApps.length === 1 &&
            this.listApps[0] &&
            this.listApps[0].name &&
            this.listApps[0].id_hash &&
            this.listApps[0].first_page &&
            this.listApps[0].first_page.name &&
            this.listApps[0].first_page.id && this.$route.path !== '/profile') {
          const applicationName = this.listApps[0].name.replace(/\s/g, '-');
          const applicationID = this.listApps[0].id_hash;
          const pageName = this.listApps[0].first_page.name.replace(/\s/g, '-');
          const pageID = this.listApps[0].first_page.id;
          this.$router.push(`/app/${applicationName}/${applicationID}/${pageName}/${pageID}`);
        } else {
          this.setListApps(this.listApps);
          this.getFavoriteAppList();
        }
      });
    },

    getFavoriteAppList() {
      const parameter = {
        page: 1,
        limit: 0,
        column: 'id',
        sort: 'asc',
        query: '',
        query_type: '',
      };
      this.actionGetFavoriteApplication({ params: parameter }).then(async (res) => {
        this.listFavApps = [];
        const promises = res.map((app) => {
          if (app.application) {
            const applicationName = app.application.name.replace(/\s/g, '-');
            app.application.fav_order = app.order;
            app.application.fav_id = app.id;

            if (!app.application.first_page) {
              app.application.url = '';
            } else {
              const pageName = app.application.first_page.name.replace(/\s/g, '-');
              app.application.url = `app/${applicationName}/${app.application.id_hash}/${pageName}/${app.application.first_page.id}`;
            }
            if (this.showOptionCondition.includes(app.application.show_option)) this.listFavApps.push(app.application);
          }
        });
        await Promise.all(promises);
        this.listFavApps.sort((a, b) => ((a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0)));
        this.setListFavsApps(this.listFavApps);
        this.getGroupApp();
      });
    },

    getGroupApp() {
      const param = {
        page: 1,
        limit: 0,
        column: 'id',
        sort: 'asc',
        query: '',
        query_type: '',
      };
      this.actionGetGroupApplicationsList({ params: param }).then(async (res) => {
        this.listGroups = [];
        const groups = this._.cloneDeep(res);
        const promises = groups.map(async (group) => {
          group.apps = group.application;
          const promises2 = group.application.map((app) => {
            const applicationName = app.name.replace(/\s/g, '-');

            if (!app.ref_application_id) {
              app.url = '';
            } else {
              const pageName = app.ref_application_name.replace(/\s/g, '-');
              app.url = `app/${applicationName}/${app.id_hash}/${pageName}/${app.ref_application_id}`;
            }
          });
          const filteredApp = group.apps.filter(g => this.showOptionCondition.includes(g.show_option));
          group.application = filteredApp;
          group.apps = filteredApp;
          group.favs = filteredApp;

          await Promise.all(promises2);
          this.listGroups.push(group);
        });
        Promise.all(promises).then(() => {
          this.setListGroupApps(this.listGroups);
          this.setFinishLoadApp(true);
        });
      });
    },
  },
};
</script>
