<!-- Created by Arga Ghulam Ahmad - arga@jojonomic.com -->
<template>
  <div
    id="wrapper"
    class="toggled">

    <!-- header title -->
    <j-headful :title="$route.meta.title"/>

    <!-- header border -->
    <j-header/>

    <!-- sidebar -->
    <j-sidebar
      :logo="logo"
      :responsive-logo="responsiveLogo"
      :menus-items="menus"
      :products-items="productsDetails"/>

    <!-- Page Content -->
    <div
      id="page-content-wrapper"
      style="display: block">

      <!-- navbar -->
      <j-navbar
        :array-of-icon="arrayOfIcon"
        :user="user"/>

      <!-- main content -->
      <div class="wrapper-content">
        <transition name="fadeout">
          <router-view/>
        </transition>
      </div>

    </div>

    <!-- notification screen -->
    <j-loading-screen
      ref="loadingScreen"
      :message="loading_message"/>
    <j-info-screen
      ref="infoScreen"
      :message="info_message"/>
    <j-problem-screen
      ref="problemScreen"
      :message="problem_message"
      :code="problem_code"/>
    <j-success-screen
      ref="successScreen"
      :message="success_message"/>

  </div>
</template>

<script>
/* eslint-disable global-require,import/no-duplicates,vue/name-property-casing */
import { jPrivCompanySettings } from '@/privilage/company-settings/jPrivCompanySettings';
import { jPrivPackages } from '@/privilage/packages/jPrivPackages';
import { jPrivRoles } from '@/privilage/roles/jPrivRoles';
import jMixNotificationScreen from '@/mixins/components/notification-screen/jMixNotificationScreen';
import jMixSidebar from '@jojocoders/jojonomic-ui/src/Mixins/jMixSidebar';
import Vue from 'vue';

export default {
  name: 'jWrapper',
  mixins: [
    jPrivCompanySettings,
    jPrivPackages,
    jPrivRoles,
    jMixNotificationScreen,
    jMixSidebar,
  ],
  data() {
    return {
      arrayOfIcon: [],
      user: {
        submenu: {
          menus: [
            {
              title: 'Account',
              id: 1,
              text: 'Profile',
              hrefout: `${process.env.JOJOPRO_URL}profile/detail`,
            },
            {
              id: 2,
              text: 'Logout',
              href: '/logout',
            },
          ],
        },
      },
    };
  },
  computed: {
    menus() {
      return this.menusDetailsOfficeless();
    },
  },
  mounted() {
    setInterval(() => {
      if (!Vue.ls.get('Token')) {
        this.$router.replace('/logout');
        window.location = '/';
      }
    }, 1000);

    // Import css font
    const style = document.createElement('link');
    style.type = 'text/css';
    style.rel = 'stylesheet';
    style.href = `${process.env.GATE_URL}fonts/fonts/poppins.css`;
    document.head.appendChild(style);
    document.documentElement.style.setProperty('--fontThisApps', 'Poppins');
  },
  created() {
    this.$store.dispatch('jStoreLogin/getProfileAndRole');
  },
};
</script>
