<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        v-show="load_first"
        ref="tableHealth"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="type"
          slot-scope="props">
          {{ bpjsType(props) }}
        </div>
        <div
          slot="effective_begin"
          slot-scope="props">
          {{ props.row.effective_begin | moment("DD MMM YYYY") }}
        </div>
        <div
          slot="effective_end"
          slot-scope="props">
          {{ props.row.effective_end | moment("DD MMM YYYY") }}
        </div>

      </v-server-table>

      <jLoadingTable v-if="!load_first"/>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiPayrollInfo from '../../../../../services/jApiPayrollInfo';
import eventBus from '../event-bus/index';

export default {
  name: 'JHealthTable',
  components: {
    jLoadingTable,
  },
  data() {
    return {
      load_first: false,
      currentRow: 0,
      filter_data: '',
      columns: ['number', 'type', 'total_member', 'effective_begin', 'effective_end'],
      options: {
        headings: {
          number: 'BPJS Kesehatan No',
          type: 'Kelas BPJS',
          total_member: 'Family Member',
          effective_begin: 'Eff Start Date',
          effective_end: 'Eff End Date',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['effective_begin', 'effective_end'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        orderBy: {
          ascending: false,
          column: 'effective_begin',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        async requestFunction({ benefits, componentId }) {
          const res = await jApiPayrollInfo.getComponentNumber(componentId);
          if (!res.data.error) {
            return { data: res.data, benefits };
          }
          return { data: { data: [] } };
        },
        responseAdapter({ data, benefits }) {
          const isBpjsk = data.data.find(val => val.code === 'bpjsk');
          let dataTable = [];
          if (isBpjsk) {
            dataTable = [{
              id: isBpjsk.id,
              number: isBpjsk.number,
              effective_begin: isBpjsk.effective_begin,
              effective_end: isBpjsk.effective_end,
              total_member: benefits ? benefits.total_member : null,
              type: benefits ? benefits.type : null,
            }];
          }
          return {
            data: dataTable || [],
            count: data.length || 0,
          };
        },
      },
      classList: [
        {
          value: 1,
          text: 'Kelas I',
        },
        {
          value: 2,
          text: 'Kelas II',
        },
        {
          value: 3,
          text: 'Kelas III',
        },
      ],
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollBenefitBpjsk']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableHealth.setFilter('');
      }
    },
    list_benefits(val) {
      this.listBenefits = this._.find(val, { benefit: { code: 'bpjsk' } });
      this.refreshTable();
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(data) {
      const params = data;
      params.componentId = this.payrollBenefitBpjsk;
      params.benefits = this.listBenefits;
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.tableHealth.refresh();
    },
    filter(val) {
      this.$refs.tableHealth.setFilter(val);
    },

    bpjsType({ row }) {
      const data = this.classList.find(el => Number(el.value) === Number(row.type));
      return data ? data.text : '';
    },
    goTodetail(param) {
      this.$emit('health', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true);
    },
    editRecord({ row }) {
      this.$emit('health', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
  },
};
</script>

<style lang="scss">
  .green-color {
    color: $green-basic-color
  }

  .yellow-background-color {
    background-color: #FFDD6B;
  }

  .red-color {
    color: $red-basic-color;
  }

  .custom-position__container {
    position: relative;
    top: -55px;
    overflow: hidden;
    display: block;
    width: 38%;
    text-align: center
  }

  .custom-position__btn{
    margin-left: 71px;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) >
  div > div.col-8 > div > div.custom-table > div >
  div:nth-child(1) > div > div.form-group.form-inline.pull-right.VueTables__limit {
    visibility: hidden;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) > div > div.col-8 >
  div > div.custom-table > div > div.VuePagination.row.col-md-12 > nav > ul {
    visibility: hidden;
  }
</style>
