<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.health.number.$error }">
          <label>BPJS Kesehatan Number*</label>
          <j-input
            v-model="health.number"
            :disabled="stateForLoadBenefitList != 0"
            type="number"
            placeholder="BPJS Kesehatan number" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.health.number.$error }">
          <label>Family Member*</label>
          <j-select
            v-model="health.family_member"
            :options="memberList"
            :disabled="stateForLoadBenefitList != 0"
            placeholder="Family Member" />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.health.number.$error }">
          <label>Kelas*</label>
          <j-select
            v-model="health.kelas"
            :options="classList"
            :disabled="stateForLoadBenefitList != 0"
            placeholder="Kelas" />
        </b-form>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.health.start_date.$error }">
          <label>Effective Begin BPJS Kesehatan*</label>
          <j-datepicker
            v-model="$v.health.start_date.$model"
            :disabled-dates="disabledStartDate($v.health.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.health.end_date.$error }">
          <label>Effective End BPJS Kesehatan</label>
          <j-datepicker
            v-model="$v.health.end_date.$model"
            :disabled-dates="disabledEndDate($v.health.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>

    <div class="pull-right">
      <b-button
        v-if="mode === 'edit'"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button>
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        v-if="mode === 'create'"
        class="btn blue"
        @click="createRecord">
        Submit
      </b-button>
      <b-button
        v-else
        class="btn blue"
        @click="updateRecord">
        Update
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import eventBus from '../event-bus/index';

export default {
  name: 'JHealthForm',
  mixins: [jGlobalOptions],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
    payrollId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      health: {
        family_member: null,
        kelas: null,
        number: null,
        start_date: null,
        end_date: null,
      },
      memberList: [
        {
          value: 1,
          text: '1',
        },
        {
          value: 2,
          text: '2',
        },
        {
          value: 3,
          text: '3',
        },
        {
          value: 4,
          text: '4',
        },
        {
          value: 5,
          text: '5',
        },
      ],
      classList: [
        {
          value: 1,
          text: 'Kelas I',
        },
        {
          value: 2,
          text: 'Kelas II',
        },
        {
          value: 3,
          text: 'Kelas III',
        },
      ],
      bpjskBenefit: null,
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['stateForLoadBenefitList', 'payrollBenefitBpjsk']),
    ...mapState('jStorePayrollInfo', ['list_benefits']),

    generateDataNumber() {
      const genData = {
        code: this.mode === 'create' ? 'bpjsk' : undefined,
        number: this.health.number,
        effective_begin: this.$moment(this.health.start_date).format('YYYY-MM-DD'),
        effective_end: this.health.end_date ? this.$moment(this.health.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    generateDataFamily() {
      const genData = {
        code: this.mode === 'create' ? 'bpjsk' : undefined,
        is_deduct_from_salary: true,
        total_member: this.health.family_member,
        type: this.health.kelas,
      };
      return genData;
    },
    // bpjskBenefit() {
    //   return this._.find(this.list_benefits, { benefit: { code: 'bpjsk' } });
    // },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });

    if (this.mode === 'edit') {
      this.bpjskBenefit = this._.find(this.list_benefits, { benefit: { code: 'bpjsk' } });

      this.health = {
        id: this.detail.id,
        family_member: this.detail.total_member,
        kelas: this.detail.type,
        number: this.detail.number,
        start_date: this.detail.effective_begin,
        end_date: this.detail.effective_end,
      };
    } else {
      this.health = {
        family_member: null,
        kelas: null,
        number: null,
        start_date: null,
        end_date: null,
      };

      this.$v.health.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionCreateComponentNumber', 'actionUpdateComponentNumber', 'actionDeleteComponentNumber', 'actionCreateBenefits', 'actionUpdateBenefits', 'actionDeleteBenefits']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
    closeRecord() {
      this.health = {
        family_member: null,
        kelas: null,
        number: null,
        start_date: null,
        end_date: null,
      };

      this.$nextTick(() => {
        if (this.$v.health.$error) {
          this.$v.health.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async createRecord() {
      this.$v.health.$touch();
      if (!this.$v.health.$error) {
        const res = await this.actionCreateComponentNumber({
          params: this.generateDataNumber,
          componentId: this.payrollBenefitBpjsk,
        });

        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }

        // if (!res.error) {
        //   const res2 = await this.actionCreateBenefits({
        //     payrollId: this.payrollId,
        //     params: this.generateDataFamily,
        //   });
        //   if (!res2.error) {
        //     eventBus.$emit('refreshTable', true);
        //     this.closeRecord();
        //   }
        // }
      }
    },
    async updateRecord() {
      this.$v.health.$touch();
      if (!this.$v.health.$error) {
        const res = await this.actionUpdateComponentNumber({
          params: this.generateDataNumber,
          numberId: this.health.id,
          componentId: this.payrollBenefitBpjsk,
        });
        if (!res.error) {
          const res2 = await this.actionUpdateBenefits({
            payrollId: this.payrollId,
            params: this.generateDataFamily,
            benefitId: this.bpjskBenefit.id,
          });
          if (!res2.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteComponentNumber({
            numberId: this.health.id,
            componentId: this.payrollBenefitBpjsk,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }

          // if (!res.error) {
          //   const res2 = await this.actionDeleteBenefits({
          //     payrollId: this.payrollId,
          //     benefitId: this.bpjskBenefit.id,
          //   });
          //   if (!res2.error) {
          //     eventBus.$emit('refreshTable', true);
          //     this.closeRecord();
          //   }
          // }
        }
      });
    },
  },
  validations() {
    return {
      health: {
        number: { required },
        start_date: { required },
        end_date: { },
      },
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
