<template>
  <div ref="container">
    <div class="custom-table">
      <v-server-table
        v-show="load_first"
        ref="tableSalary"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="editRecord"
      >

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="addRecord">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
          </b-form>
        </div>

        <div
          slot="amount"
          slot-scope="props">
          {{ props.row.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") }}
        </div>
        <div
          slot="config"
          slot-scope="props">
          {{ salaryConfig(props) }}
        </div>
        <div
          slot="type"
          slot-scope="props">
          {{ salaryType(props) }}
        </div>
        <div
          slot="effective_begin"
          slot-scope="props">
          {{ props.row.effective_begin | moment("DD MMM YYYY") }}
        </div>
        <div
          slot="effective_end"
          slot-scope="props">
          {{ props.row.effective_end | moment("DD MMM YYYY") }}
        </div>

      </v-server-table>

      <jLoadingTable v-if="!load_first"/>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import jApiPayrollInfo from '@/services/jApiPayrollInfo';
import eventBus from './event-bus/index';

export default {
  name: 'JSalaryTable',
  components: {
    jLoadingTable,
  },
  mixins: [jGlobalOptions],
  data() {
    return {
      load_first: false,
      currentRow: 0,
      filter_data: '',
      salaryListTable: [],
      columns: ['amount', 'config', 'type', 'effective_begin', 'effective_end', 'created_by', 'updated_by'],
      options: {
        headings: {
          amount: 'Salary Amount',
          config: 'Salary Config',
          type: 'Salary Type',
          effective_begin: 'Eff Start Date',
          effective_end: 'Eff End Date',
          created_by: 'Created By',
          updated_by: 'Updated By',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['amount', 'config', 'type', 'effective_begin', 'effective_end', 'created_by', 'updated_by'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        orderBy: {
          ascending: false,
          column: 'effective_begin',
        },
        state: this,
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            user_company_ids: [this.state.uiData.payrollDetail.user_company_id],
            includes: [
              'payroll_recurring_salary_config',
            ],
          };
        },
        requestFunction(data) {
          return jApiPayrollInfo.getBasicSalary(data);
        },
        responseAdapter({ data }) {
          return {
            data: data.payroll_recurring || [],
            count: data.length || 0,
          };
        },
      },
    };
  },

  computed: {
    ...mapState('jStoreAddPayroll', ['uiData']),
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.tableDocs.setFilter('');
      }
    },
  },
  created() {
    eventBus.$on('currentRow', (currentRow) => {
      this.currentRow = currentRow;
    });
    eventBus.$on('refreshTable', () => {
      this.refreshTable();
      this.$emit('refresh-options', true);
    });
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(data) {
      const params = data;
      params.pagination.query = {
        email: '',
        component_type: 1,
        effective_begin: '',
        effective_end: '',
      };
      params.user_company_ids = [Number(this.$route.params.id)];
      if (this.load_first) {
        this.showLoading();
      }
    },
    loaded(data) {
      this.salaryListTable = data.data.payroll_recurring;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },
    refreshTable() {
      this.$refs.tableSalary.refresh();
    },
    filter(val) {
      this.$refs.tableSalary.setFilter(val);
    },

    salaryConfig({ row }) {
      const id = row.payroll_recurring_salary_config ?
        row.payroll_recurring_salary_config.salary_config : null;
      if (id) {
        const data = this.salaryConfigList.find(el => Number(el.value) === Number(id));
        return data ? data.text : '-';
      }
      return '-';
    },
    salaryType({ row }) {
      const id = row.payroll_recurring_salary_config ?
        row.payroll_recurring_salary_config.salary_type : null;
      if (id) {
        const data = this.salaryTypeList.find(el => Number(el.value) === Number(id));
        return data ? data.text : '-';
      }
      return '-';
    },
    goTodetail(param) {
      this.$emit('salary', { param });
      eventBus.$emit('currentObject', param);
      const { no } = param;
      this.currentRow = no;
    },
    addRecord() {
      this.$emit('create-modal', true, this.salaryListTable);
    },
    editRecord({ row }) {
      this.$emit('salary', row);
      eventBus.$emit('currentObject', row);
      this.$emit('edit-modal', true);
    },
  },
};
</script>
<style lang="scss">
  .green-color {
    color: $green-basic-color
  }

  .yellow-background-color {
    background-color: #FFDD6B;
  }

  .red-color {
    color: $red-basic-color;
  }

  .custom-position__container {
    position: relative;
    top: -55px;
    overflow: hidden;
    display: block;
    width: 38%;
    text-align: center
  }

  .custom-position__btn{
    margin-left: 71px;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) >
  div > div.col-8 > div > div.custom-table > div >
  div:nth-child(1) > div > div.form-group.form-inline.pull-right.VueTables__limit {
    visibility: hidden;
  }

  #comp-employee-reference > div > div:nth-child(2) > div:nth-child(2) > div > div.col-8 >
  div > div.custom-table > div > div.VuePagination.row.col-md-12 > nav > ul {
    visibility: hidden;
  }
</style>
