<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.amount.$error }">
          <label>Salary Amount*</label>
          <j-input
            v-model="salary.amount"
            placeholder="Salary amount"
            type="number"/>
        </b-form>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.config.$error }">
          <label>Salary Config</label>
          <j-select
            v-model="salary.config"
            :disabled="disableSelect"
            :options="salaryConfigList"
            placeholder="Salary config" />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.type.$error }">
          <label>Salary Type</label>
          <j-select
            v-model="salary.type"
            :disabled="disableSelect"
            :options="salaryTypeList"
            placeholder="Salary type" />
        </b-form>
      </b-col>
    </b-row>
    <b-row>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.start_date.$error }">
          <label>Effective Begin Salary*</label>
          <j-datepicker
            v-model="$v.salary.start_date.$model"
            :disabled-dates="disabledStartDate($v.salary.end_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
      <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.end_date.$error }">
          <label>Effective End Salary</label>
          <j-datepicker
            v-model="$v.salary.end_date.$model"
            :disabled-dates="disabledEndDate($v.salary.start_date.$model)"
            :disabled="false"
            format="MMM dd, yyyy"
            placeholder="Jan 01, 2019"
          />
        </b-form>
      </b-col>
    </b-row>
    <!-- <b-col
        sm="12"
        md="6">
        <b-form :class="{ 'error-input': $v.salary.overtime.$error }">
          <label>Eligible for Overtime*</label>
          <j-toggle
            v-model="salary.overtime"
          />
        </b-form>
      </b-col> -->

    <div class="pull-right">
      <b-button
        v-if="mode === 'edit'"
        :disabled="!isAdmin"
        class="btn red"
        @click="deleteRecord">
        Delete
      </b-button>
      <b-button
        class="btn"
        @click="closeRecord">
        Close
      </b-button>
      <b-button
        class="btn blue"
        @click="saveRecord">
        {{ mode === 'create' ? 'Submit' : 'Update' }}
      </b-button>
    </div>
  </div>
</template>

<script>
/* eslint-disable camelcase */
/* eslint-disable max-len */
import { mapActions, mapState } from 'vuex';
import { required } from 'vuelidate/lib/validators';
import jGlobalOptions from '@/mixins/utilities/jGlobalOptions';
import eventBus from './event-bus/index';

export default {
  name: 'JSalaryForm',
  mixins: [jGlobalOptions],
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => {},
    },
    disableConfigType: {
      type: Boolean,
      default: false,
    },
    joinDate: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      disableSelect: false,
      salary: {
        amount: null,
        config: null,
        type: null,
        // overtime: null,
        start_date: null,
        end_date: null,
      },
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreAddPayroll', ['payrollId']),

    generateBasicSalary() {
      const genData = {
        id: this.mode === 'edit' ? this.salary.id : undefined,
        user_company_id: this.$route.params.id,
        component_type: 1,
        component_id: 0,
        amount: this.salary.amount,
        effective_begin: this.$moment(this.salary.start_date).format('YYYY-MM-DD'),
        effective_end: this.salary.end_date ? this.$moment(this.salary.end_date).format('YYYY-MM-DD') : null,
      };
      return genData;
    },
    generateMappingSalary() {
      const genData = {
        salary_config: this.salary.config,
        salary_type: this.salary.type,
      };
      return genData;
    },
    isAdmin() {
      return this.privRolesString.includes('admin') || this.privRolesString.includes('sysadmin');
    },
  },
  created() {
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('closeRecord', () => {
      this.closeRecord();
    });

    if (this.mode === 'edit') {
      const {
        id,
        amount,
        effective_begin,
        effective_end,
        payroll_recurring_salary_config,
      } = this.detail;

      this.salary = {
        id,
        amount,
        config: payroll_recurring_salary_config ? payroll_recurring_salary_config.salary_config : this.salaryConfigList[0].value,
        type: payroll_recurring_salary_config ? payroll_recurring_salary_config.salary_type : this.salaryTypeList[0].value,
        // overtime: overtime,
        start_date: effective_begin,
        end_date: effective_end,
      };
    } else {
      this.disableSelect = this.disableConfigType;
      this.salary = {
        amount: null,
        config: this.addConfigType ? this.addConfigType.salary_config : this.salaryConfigList[0].value,
        type: this.addConfigType ? this.addConfigType.salary_type : this.salaryTypeList[0].value,
        // overtime: null,
        start_date: this.joinDate && this.joinDate !== '0000-00-00' ? this.joinDate : null,
        end_date: null,
      };
      this.$v.salary.$reset();
    }
  },
  methods: {
    ...mapActions('jStorePayrollInfo', ['actionSaveBasicSalary', 'actionSaveMappingSalaryConfig', 'actionDeleteBasicSalary']),

    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        },
        {
          from: new Date(1, 1, 1),
          to: Date.parse(this.joinDate),
        },
        ],
      };
    },
    closeRecord() {
      this.salary = {
        amount: null,
        config: null,
        type: null,
        // overtime: null,
        start_date: null,
        end_date: null,
      };

      this.$nextTick(() => {
        if (this.$v.salary.$error) {
          this.$v.salary.$reset();
        }
      });

      eventBus.$emit('currentRow', 0);
      this.$emit('close-modal', true);
    },
    async saveRecord() {
      this.$v.salary.$touch();
      if (!this.$v.salary.$error) {
        const res = await this.actionSaveBasicSalary(this.generateBasicSalary);
        if (!res.error) {
          this.saveMappingSalary(res);
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    async saveMappingSalary(resSalary) {
      this.$v.salary.$touch();
      if (!this.$v.salary.$error) {
        const res = await this.actionSaveMappingSalaryConfig({
          payrollId: this.payrollId,
          recurringId: resSalary.data.id,
          params: this.generateMappingSalary,
        });
        if (!res.error) {
          eventBus.$emit('refreshTable', true);
          this.closeRecord();
        }
      }
    },
    deleteRecord() {
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then(async (result) => {
        if (result.value) {
          const res = await this.actionDeleteBasicSalary({
            id: this.salary.id,
          });

          if (!res.error) {
            eventBus.$emit('refreshTable', true);
            this.closeRecord();
          }
        }
      });
    },
  },
  validations() {
    const validate = {
      salary: {
        amount: { required },
        config: { },
        type: { },
        // overtime: { },
        start_date: { required },
        end_date: { },
      },
    };

    if (this.mode === 'edit') {
      validate.salary.config = { required };
      validate.salary.type = { required };
    }
    return validate;
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
