<template>
  <div>
    <b-row>
      <b-col
        cols="12">
        <j-salary-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @salary="getSalaryDetail"
          @refresh-options="refreshOptions"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-salary-form
          v-if="isOpen"
          :mode="mode"
          :disable-config-type="isDisableTypeAndConfig"
          :add-config-type="addTypeAndConfig"
          :detail="salary_detail"
          :join-date="employee_detail.company.join_date"
          @refresh-options="refreshOptions"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import jSalaryForm from './jSalaryForm';
import jSalaryTable from './jSalaryTable';

export default {
  name: 'JSalary',
  components: {
    jSalaryForm,
    jSalaryTable,
  },
  data() {
    return {
      mode: '',
      isOpen: false,
      isDisableTypeAndConfig: false,
      addTypeAndConfig: {},
      salary_detail: null,
      title: {
        main_title: 'SALARY',
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['employee_detail']),
  },
  methods: {
    getSalaryDetail(data) {
      this.salary_detail = data;
    },
    refreshOptions(val) {
      this.$emit('refresh-options', val);
    },
    closeModalForm() {
      this.$refs.modalForm.hide();
      this.isOpen = false;
    },
    openModalCreate(data, list) {
      if (data) {
        this.isDisableTypeAndConfig = list.length > 0;
        if (this.isDisableTypeAndConfig) {
          this.addTypeAndConfig = list[0].payroll_recurring_salary_config;
        }
        this.isOpen = true;
        this.mode = 'create';
        this.salary_detail = null;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.isOpen = true;
        this.mode = 'edit';
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style>

</style>
