<template>
  <div
    id="grade-component"
    class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-cost-center-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-cost-center-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jCostCenterDetail from './cost-center/jCostCenterDetail';
import jCostCenterList from './cost-center/jCostCenterList';

export default {
  components: {
    jCostCenterDetail,
    jCostCenterList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('cost-center/detail')) {
        return 'detail';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
