<template>
  <div
    id="employee-component"
    class="component-card">
    <b-row
      v-if="whichRoute === 'list'"
      class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-employee-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-employee-create
      v-else-if="whichRoute === 'create'"
      :oos-route="prefix"
    />
    <j-employee-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jEmployeeList from './employee/jEmployeeList';
import jEmployeeCreate from './employee/detail/jEmployeeCreate';
import jEmployeeDetail from './employee/jEmployee';

export default {
  components: {
    jEmployeeList,
    jEmployeeCreate,
    jEmployeeDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('employee/detail')) {
        return 'detail';
      } else if (url.includes('employee/create')) {
        return 'create';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
