<template>
  <div
    id="flow-component"
    class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <jRuleUpdate
      v-if="whichRoute === 'rule-update'"
      :oos-route="prefix"
    />
    <jRuleNew
      v-else-if="whichRoute === 'rule-new'"
      :oos-route="prefix"
    />
    <jFlowNew
      v-else-if="whichRoute === 'flow-new'"
      :oos-route="prefix"
    />
    <jFlowUpdate
      v-else-if="whichRoute === 'flow-update'"
      :oos-route="prefix"
    />
    <jFlowCreateType
      v-else-if="whichRoute === 'flow-create-type'"
      :oos-route="prefix"
    />
    <jFlowEditType
      v-else-if="whichRoute === 'flow-edit-type'"
      :oos-route="prefix"
    />
    <j-flow-sla-new
      v-else-if="whichRoute === 'flow-sla-new'"
      :oos-route="prefix"
    />
    <jFlowSlaEdit
      v-else-if="whichRoute === 'flow-sla-edit'"
      :oos-route="prefix"
    />
    <jFlow
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jFlow from '@/views/application/application-component/core/flow-and-rules/index';
import jFlowNew from '@/views/application/application-component/core/flow-and-rules/flow/jFlowNew';
import jFlowCreateType from '@/views/application/application-component/core/flow-and-rules/flow/create/jFlowCreateType2';
import jFlowEditType from '@/views/application/application-component/core/flow-and-rules/flow/edit/jFlowEditType2';
import jFlowUpdate from '@/views/application/application-component/core/flow-and-rules/flow/jFlowUpdate';
import jFlowSlaCreate from '@/views/application/application-component/core/flow-and-rules/flow/flow-sla/create/jCreateFlowSLA';
import jFlowSlaEdit from '@/views/application/application-component/core/flow-and-rules/flow/flow-sla/detail/jDetailFlowSLA';
import jRuleNew from '@/views/application/application-component/core/flow-and-rules/rules/jRulesNew';
import jRuleUpdate from '@/views/application/application-component/core/flow-and-rules/rules/jRulesUpdate';

export default {
  components: {
    jFlow,
    jFlowNew,
    jFlowCreateType,
    jFlowEditType,
    jFlowUpdate,
    jFlowSlaCreate,
    jFlowSlaEdit,
    jRuleNew,
    jRuleUpdate,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('rules/new')) {
        return 'rule-new';
      } else if (url.includes('rules/update')) {
        return 'rule-update';
      } else if (url.includes('flow/new-by-division')) {
        return 'flow-create-type';
      } else if (url.includes('flow/new')) {
        return 'flow-new';
      } else if (url.includes('flow/update-by-division')) {
        return 'flow-edit-type';
      } else if (url.includes('flow/update')) {
        return 'flow-update';
      } else if (url.includes('flows/sla/create')) {
        return 'flow-sla-new';
      } else if (url.includes('flows/sla/edit')) {
        return 'flow-sla-edit';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
