<template>
  <div
    id="grade-component"
    class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-grade-list
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jGradeList from './grade/jGradeList';

export default {
  components: {
    jGradeList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
  },
  methods: {

  },
};
</script>
