<template>
  <div
    id="position-component"
    class="component-card">
    <b-row
      v-if="whichRoute === 'list'"
      class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-position-detail
      v-if="whichRoute === 'update'"
      :oos-route="prefix"
    />
    <j-position-create
      v-else-if="whichRoute === 'create'"
      :oos-route="prefix"
    />
    <j-position-list
      v-else
      :oos-route="prefix"
    />

  </div>
</template>

<script>
import jPositionCreate from './position/jPositionCreate';
import jPositionDetail from './position/jPositionDetail';
import jPositionList from './position/jPositionList';

export default {
  components: {
    jPositionCreate,
    jPositionDetail,
    jPositionList,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('position/update')) {
        return 'update';
      } else if (url.includes('position/create')) {
        return 'create';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
