<template>
  <div
    id="org-unit-component"
    class="component-card">
    <b-row class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>

    <j-unit-update
      v-if="whichRoute === 'update'"
      :oos-route="prefix"
    />
    <j-unit-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jUnitList from './organization/unit/jUnitList';
import jUnitUpdate from './organization/unit/jUnitTab';

export default {
  components: {
    jUnitList,
    jUnitUpdate,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('unit/update')) {
        return 'update';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
