<template>
  <div
    id="user-component"
    class="component-card">
    <b-row
      v-if="whichRoute === 'list'"
      class="m__b--10">
      <b-col class="component-title">
        {{ element.name }}
      </b-col>
    </b-row>
    <j-user-detail
      v-if="whichRoute === 'detail'"
      :oos-route="prefix"
    />
    <j-user-create
      v-else-if="whichRoute === 'create'"
      :oos-route="prefix"
    />
    <j-user-list
      v-else
      :oos-route="prefix"
    />
  </div>
</template>

<script>
import jUserList from './user/jUserList';
import jUserCreate from './user/jUserCreate';
import jUserDetail from './user/jUser';

export default {
  components: {
    jUserList,
    jUserCreate,
    jUserDetail,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {

    };
  },
  computed: {
    prefix() {
      return `/app/${this.$route.params.applicationName}/${this.$route.params.applicationId}/${this.$route.params.pageName}/${this.$route.params.pageId}`;
    },
    whichRoute() {
      const url = window.location.href;
      if (url.includes('employee/detail')) {
        return 'detail';
      } else if (url.includes('employee/create')) {
        return 'create';
      }
      return 'list';
    },
  },
  methods: {

  },
};
</script>
