<template>
  <div>
    <j-leave-form
      ref="form"
      :list-employee="employee_list_organigram"
      :list-leave-type="leave_type_list"
      :list-team="team_list"
      :list-org-unit="org_unit_list"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <hr>

    <j-leave-list
      ref="summaryServer"
      :params="search_params"
      :oos-route="oosRoute"
      @open-detail="openDetail"
      @generate-xls="generateXLS"
      @generate-pdf="generatePDF"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jLeaveList from './jLeaveList';
import jLeaveForm from './jLeaveForm';

export default {
  name: 'jLeaveTabComp',
  components: {
    jLeaveList,
    jLeaveForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      search_params: {
        employee_ids: [],
        leave_type: [],
        status: [],
        date_from: this.$moment().format('YYYY-MM-DD'),
        date_to: this.$moment().format('YYYY-MM-DD'),
      },
    };
  },
  computed: {
    ...mapState('jStoreReportLeave', ['employee_list_organigram', 'leave_type_list', 'team_list', 'org_unit_list']),
  },
  created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.actionGetEmployeeRestrictionOrganigram({
      user_company_id: localStorage.getItem('user_company_id'),
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: true,
        query: '',
      },
    });
    this.getListLeaveType();
    this.getListTeam(rootId);
    this.getListOrgUnit(rootId);
  },
  methods: {
    ...mapActions('jStoreReportLeave', ['actionGetEmployeeRestrictionOrganigram', 'getListLeaveType', 'getListTeam', 'getListOrgUnit', 'generateLeaveXLS', 'generateLeavePDF']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    openDetail(id) {
      this.$refs.form.search();
      const status = this.search_params.status.toString() || null;
      const type = this.search_params.leave_type.toString() || null;

      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/report/leave/detail/${id}/${this.search_params.date_from}/${this.search_params.date_to}/${status}/${type}`);
      } else {
        this.$router.push(`/report/leave/detail/${id}/${this.search_params.date_from}/${this.search_params.date_to}/${status}/${type}`);
      }
    },
    generateXLS() {
      this.$refs.form.search();
      setTimeout(() => {
        this.generateLeaveXLS(this.search_params);
      }, 0);
    },
    generatePDF() {
      this.$refs.form.genDataPDF();
      setTimeout(() => {
        this.generateLeavePDF(this.search_params);
      }, 0);
    },
  },
};
</script>
