<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetail"
      >
        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate XLS
            </b-button>
            <b-button
              v-show="false"
              class="btn grey btn-import-oos m__r--5"
              @click="generatePDF">
              <i class="fa fa-cloud-download fa-lg"/> Generate PDF
            </b-button>
          </b-form>
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportLeave from '@/services/leave/jApiReportLeave';


export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      filter_data: '',
      data_table: [],
      load_first: false,
      columns: ['employee_id', 'employee_code', 'name', 'organization_unit', 'email', 'position', 'team', 'total_leave'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_code: 'EMPLOYEE CODE',
          name: 'EMPLOYEE NAME',
          organization_unit: 'ORGANIZATION UNIT',
          email: 'EMAIL',
          position: 'POSITION',
          team: 'TEAM',
          total_leave: 'TOTAL LEAVE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'employee_code', 'name', 'organization_unit', 'email', 'position', 'team', 'total_leave'],
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        orderBy: {
          ascending: true,
          column: 'name',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'name',
              ascending: data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          return jApiReportLeave.getLeaveReport(data);
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length || 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params !== null) {
        val.date_to = this.params.date_to;
        val.date_from = this.params.date_from;
        val.leave_type = this.params.leave_type;
        val.status = this.params.status;
        val.employee_ids = this.params.employee_ids;
        val.organization_ids = this.params.organization_ids;
      } else {
        val.date_to = this.$moment().format('YYYY-MM-DD');
        val.date_from = this.$moment().format('YYYY-MM-DD');
        val.leave_type = [];
        val.status = [];
        val.employee_ids = [];
        val.organization_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.setPage(1);
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    openDetail({ row }) {
      this.$emit('open-detail', row.id);
    },

    generateXLS() {
      this.$emit('generate-xls');
    },

    generatePDF() {
      this.$emit('generate-pdf');
    },

  },
};
</script>
