<template>
  <div class="form m__t--20">
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="startDate">Date</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="startDate">From</label>
              <j-datepicker
                id="startDate"
                v-model="from_date"
                :disabled-dates="from_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <label for="endDate">To</label>
              <j-datepicker
                id="startDate"
                v-model="end_date"
                :disabled-dates="end_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="leaveType">Leave Type</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllLeaveType">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllLeaveType">
                select all
              </a>
              <br>
              <j-multi-select
                id="leaveType"
                v-model="selected_leave_type"
                :options="leave_type_list"
                placeholder="Select Leave Type"
                value-format="object"
                label="text"
                @getData="getLeaveType"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="leaveStatus">Status</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllLeaveStatus">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllLeaveStatus">
                select all
              </a>
              <br>
              <j-multi-select
                id="leaveStatus"
                v-model="selected_leave_status"
                :options="leave_status_list"
                placeholder="Select Leave Status"
                value-format="object"
                label="text"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="unit">Organization Unit</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllOrgUnit">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllOrgUnit">
                select all
              </a>
              <br>
              <j-multi-select
                id="unit"
                v-model="selected_org_unit"
                :is-async="true"
                :load-options="loadOptionsDivision"
                placeholder="Select Org Unit"
                value-format="object"
                label="text"
                @getData="getOrgUnit"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="employeeName">Name</label>
              <br>
              <span v-show="false">
                <span class="f-blue bold">
                  {{ total_employee }}
                </span> Employee
              </span>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllEmployee">
                unselect all
              </a>
              <a
                v-show="false"
                class="btn text outline pull-right"
                @click="selectAllEmployee">
                select all
              </a>
              <br>
              <j-multi-select
                id="employeeName"
                ref="employeeName"
                :is-async="true"
                :load-options="loadOptionsEmployee"
                v-model="selected_employee"
                placeholder="Select Employee"
                label="text"
                value-format="object"
                @getData="getEmployee"/>
            </b-form-group>
          </b-col>
          <b-col
            v-show="false"
            cols="3"
            md="3">
            <b-form-group>
              <label for="type">Type</label>
              <j-timesheet-checkbox
                id="type"
                ref="checkBoxType"
                :checkbox-data="checkbox_data_type"
                @is-checking="getDataFilter"
                @get-data="getDataType"
              />
            </b-form-group>
          </b-col>
          <b-col
            v-show="false"
            cols="2"
            md="2">
            <b-form-group>
              <label for="status">Status</label>
              <j-timesheet-checkbox
                id="status"
                ref="checkBoxStatus"
                :checkbox-data="checkbox_data_status"
                @is-checking="getDataFilter"
                @get-data="getDataStatus"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */

import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jTimesheetCheckbox from '@/components/inputs/jTimesheetCheckbox';
import jApiReportLeave from '@/services/leave/jApiReportLeave';

export default {
  name: 'JLeaveForm',
  components: {
    jTimesheetCheckbox,
  },
  props: {
    listLeaveType: {
      type: Array,
      default: () => [],
    },
    listEmployee: {
      type: Array,
      default: () => [],
    },
    listTeam: {
      type: Array,
      default: () => [],
    },
    listOrgUnit: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      user_company_ids: [],
      leave_type_ids: [],
      leave_status_ids: [],
      organization_ids: [],
      checkbox_data_type: [
        {
          name: 'PERMANENT', value: 'PERMANENT',
        },
        {
          name: 'PROBATION', value: 'PROBATION',
        },
        {
          name: 'CONTRACT', value: 'CONTRACT',
        },
        {
          name: 'OUTSOURCE', value: 'OUTSOURCE',
        },
        {
          name: 'INTERNSHIP', value: 'INTERNSHIP',
        },
        {
          name: 'CONSULTANT', value: 'CONSULTANT',
        },
      ],
      checkbox_data_status: [
        {
          name: 'ACTIVE', value: 1,
        },
        {
          name: 'INACTIVE', value: 0,
        },
      ],
      leave_status_list: [
        {
          id: 3,
          text: 'PROCESS',
        },
        {
          id: 4,
          text: 'APPROVED',
        },
        {
          id: 6,
          text: 'REJECTED',
        },
        {
          id: 11,
          text: 'CANCELED',
        },
        {
          id: 12,
          text: 'ABORTED',
        },
      ],
      filtered_data: [],
      employee_temp: [],
      total_employee: 0,
      from_date: new Date(),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      employee_list: [],
      org_unit_list: [],
      leave_type_list: [],
      selected_leave_type: [],
      selected_leave_status: [],
      selected_org_unit: [],
      selected_employee: [],
      get_leave_type: null,
      get_leave_status: null,
      get_org_unit: null,
      get_data_employee: null,
      filter_employee: {
        status: [],
        type: [],
      },
    };
  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_leave_type(data) {
      this.leave_type_ids = [];
      data.forEach((val) => {
        this.leave_type_ids.push(val.id);
      });
    },
    selected_leave_status(data) {
      this.leave_status_ids = [];
      data.forEach((val) => {
        this.leave_status_ids.push(val.id);
      });
    },
    selected_org_unit(data) {
      this.organization_ids = [];
      data.forEach((val) => {
        this.organization_ids.push(val.id);
      });
    },
    selected_employee(data) {
      this.user_company_ids = [];
      data.forEach((val) => {
        this.user_company_ids.push(val.user_company_id);
      });
    },
    listEmployee(data) {
      data.forEach((el) => {
        this.employee_list.push({
          id: el.id,
          user_company_id: el.user_company_id,
          text: `${el.employee_id} - ${el.first_name} ${el.last_name}`,
          type: el.contract_type,
          status: el.employee_status,
        });
      });
      this.employee_temp = this.employee_list;
      this.total_employee = this.employee_list.length;
    },
    listLeaveType(data) {
      data.forEach((el) => {
        this.leave_type_list.push({
          id: el.id,
          text: el.name,
        });
      });
    },
    listOrgUnit(data) {
      data.forEach((el) => {
        this.org_unit_list.push({
          id: el.id,
          text: el.name,
        });
      });
    },
  },
  methods: {
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    // Leave Type
    getLeaveType(data) {
      this.get_leave_type = data;
    },
    // Org Unit
    getOrgUnit(data) {
      this.get_org_unit = data;
    },
    // Employee
    getEmployee(data) {
      this.get_data_employee = data;
    },
    selectAllLeaveType() {
      this.selected_leave_type = [...this.leave_type_list];
    },
    unselectAllLeaveType() {
      this.selected_leave_type = [];
    },
    selectAllLeaveStatus() {
      this.selected_leave_status = [...this.leave_status_list];
    },
    unselectAllLeaveStatus() {
      this.selected_leave_status = [];
    },
    selectAllOrgUnit() {
      this.selected_org_unit = [...this.org_unit_list];
    },
    unselectAllOrgUnit() {
      this.selected_org_unit = [];
    },
    selectAllEmployee() {
      this.selected_employee = [...this.employee_list];
    },
    unselectAllEmployee() {
      this.selected_employee = [];
      this.employee_list = this.employee_temp;
      this.total_employee = this.employee_list.length;

      this.$refs.checkBoxType.setEmptyCheckbox();
      this.$refs.checkBoxStatus.setEmptyCheckbox();
    },
    genDataPDF() {
      this.$emit('data', {
        employee_ids: this.user_company_ids,
        leave_type: this.leave_type_ids,
        status: this.leave_status_ids,
        organization_ids: this.organization_ids,
        date_from: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        date_to: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
      });
    },
    search() {
      this.$emit('data', {
        employee_ids: this.user_company_ids,
        leave_type: this.leave_type_ids,
        status: this.leave_status_ids,
        organization_ids: this.organization_ids,
        date_from: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
        date_to: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
      });
    },
    getDataStatus(data) {
      this.filter_employee.status = data;
      this.setEmployeeList();
    },
    getDataType(data) {
      this.filter_employee.type = data;
      this.setEmployeeList();
    },
    setEmployeeList() {
      this.filtered_data = [];
      if (this.filter_employee.type.length > 0 && this.filter_employee.status.length > 0) {
        this.filter_employee.type.forEach((t) => {
          if (this.filter_employee.status.length > 0) {
            this.filter_employee.status.forEach((s) => {
              this.filtered_data = this.filtered_data
                .concat(this.employee_temp.filter(e => e.type === t && e.status === s));
            });
          } else {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          }
        });
        this.selected_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else if (this.filter_employee.type.length > 0 || this.filter_employee.status.length > 0) {
        if (this.filter_employee.status.length > 0) {
          this.filter_employee.status.forEach((s) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.status === s));
          });
        } else {
          this.filter_employee.type.forEach((t) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          });
        }
        this.selected_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else {
        this.selected_employee = [];
        this.employee_list = this.employee_temp;
        this.total_employee = this.employee_list.length;
      }
    },
    getDataFilter(data) {
      if (data) {
        this.$refs.checkBoxType.getData();
        this.$refs.checkBoxStatus.getData();
      }
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 100,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreReportLeave/actionGetListUserRestriction', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListDivision(reqData, callback);
      }
    },
    getListDivision(req, callback) {
      return jApiReportLeave.getOrgUnitList(req)
        .then((res) => {
          if (typeof res.data.data !== 'undefined') {
            res.data.data.forEach((lab, index) => {
              res.data.data[index].label = `${lab.name} `;
            });
            callback(null, res.data.data);
          }
          return res.data;
        });
    },
  },
};
</script>
<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }
</style>
