<template>
  <div
    :id="'form-search-popover' + element.value_id"
    class="requestor summary-workflow-req container-app-search">
    <j-summary
      :data-summary="data_summary"
      @summaryBlock="getData"/>
    <br>

    <v-server-table
      v-show="load_first"
      ref="approverServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            :id="String(element.value_id+'_targetSearch')"
            class="btn grey btn-import-form"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <!-- <div
        slot="id"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div> -->

      <div
        slot="name"
        slot-scope="props">
        <strong> {{ props.row.name }} </strong> <br>
        {{ props.row.email }}
      </div>
      <div
        slot="start_date"
        slot-scope="props">
        {{ formatDate(props.row.start_date) }}
      </div>
      <div
        slot="end_date"
        slot-scope="props">
        {{ formatDate(props.row.end_date) }}
      </div>
      <div
        slot="total_attendance"
        slot-scope="props">
        {{ props.row.total_attendance + ' day(s)' }}
      </div>
      <div
        slot="submited_date"
        slot-scope="props">
        {{ formatDate(props.row.submited_date) }}
      </div>
      <div
        slot="updated_date"
        slot-scope="props">
        {{ formatDate(props.row.updated_date) }}
      </div>

    </v-server-table>
    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :target="String(element.value_id+'_targetSearch')"
      :container="'form-search-popover' + element.value_id"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
        <b-button
          class="btn blue outline"
          style="margin-top: -19px;"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </b-form>
    </b-popover>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import moment from 'moment';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'orange',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/approver/sent` : '/co-attendance/approver/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'blue',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/approver/approved` : '/co-attendance/approver/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'purple',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/approver/rejected` : '/co-attendance/approver/rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'brown',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/approver/canceled` : '/co-attendance/approver/canceled',
        },
      ],

      status: 1,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'name',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['name', 'location', 'start_date', 'end_date', 'total_attendance', 'submited_date', 'updated_date'],
      options: {
        headings: {
          name: 'EMPLOYEE NAME',
          location: 'LOCATION',
          start_date: 'START DATE',
          end_date: 'END DATE',
          total_attendance: 'TOTAL ATTENDANCE',
          submited_date: 'SUBMITED DATE',
          updated_date: 'UPDATED DATE',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['name', 'location', 'start_date', 'end_date', 'total_attendance', 'submited_date', 'updated_date'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiCoAttendance.getRequestorList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreRecordForm', ['created_record']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.approverServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetSummaryBlock']),

    headerID() {
      return <input type="checkbox" checked disabled class="header-id"/>;
    },
    loading(data) {
      const a = data;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.$refs.approverServer.loading = true;
        this.$refs.approverServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.approverServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/co-attendance/approver/create`);
    },

    openDetail(id) {
      this.$router.push(`${this.oosRoute}/co-attendance/approver/sent/detail/${id}`);
    },

    formatDate(val) {
      return moment(val).format('DD MMM YYYY');
    },

    async getDataSummary() {
      const params = {
        menu: 'approver',
      };
      const res = await this.actionGetSummaryBlock({ params });
      this.data_summary[0].amounts = (res.data.find(val => val.status === 'sent')).count;
      this.data_summary[1].amounts = (res.data.find(val => val.status === 'approved')).count;
      this.data_summary[2].amounts = (res.data.find(val => val.status === 'rejected')).count;
      this.data_summary[3].amounts = (res.data.find(val => val.status === 'canceled')).count;
    },

    getData(data) {
      switch (data.status) {
        case 'Sent':
          this.status = 3;
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Approved':
          this.status = 4;
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          break;
        case 'Rejected':
          this.status = 6;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          break;
        default:
          this.status = 11;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
      }
      this.$refs.approverServer.getData();
    },
  },
};
</script>
