<template>
  <div class="co-attend-approver">
    <j-summary
      v-if="load_summary"
      :data-summary="data_summary"
      class="coattendance-summary"/>
    <br>

    <v-server-table
      v-show="load_first"
      ref="approverServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            :id="String(element.value_id+'_targetSearch')"
            class="btn grey btn-import-form"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <!-- <div
        slot="id"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div> -->

      <div
        slot="name"
        slot-scope="props">
        <strong> {{ props.row.name }} </strong> <br>
        {{ props.row.email }}
      </div>
      <div
        slot="start_date"
        slot-scope="props">
        {{ formatDate(props.row.start_date) }}
      </div>
      <div
        slot="end_date"
        slot-scope="props">
        {{ props.row.end_date ? formatDate(props.row.end_date) : '' }}
      </div>
      <div
        slot="end_time"
        slot-scope="props">
        {{ props.row.end_time ? props.row.end_time : '' }}
      </div>
      <div
        slot="status"
        slot-scope="props">
        {{ props.row.status ? 'Rejected' : '' }}
      </div>
      <div
        slot="docs"
        slot-scope="props"
        class="text-center">
        <b-button
          v-if="props.row.docs.length > 0"
          class="btn btn-import-form"
          @click="showAttachment(props)">
          Browse
        </b-button>
      </div>

    </v-server-table>
    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :target="String(element.value_id+'_targetSearch')"
      :container="'form-search-popover' + element.value_id"
      triggers="click blur"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" />
          Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalUpload"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <j-upload-modal
        v-if="isOpenDocs"
        :data-detail="rowDetailData"
        :is-read-only="true"
        @modal-open="isModalUploadOpen"
      />
    </b-modal>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jUploadModal from './../requestor/detail/jUploadModal';

export default {
  components: {
    jLoadingTable,
    jUploadModal,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      data_summary: [
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'sent',
          active: false,
          href: 'sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: 'approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: true,
          href: 'rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: 'canceled',
        },
      ],

      load_summary: false,
      filtering: false,
      status: 1,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'name',
        },
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time', 'description', 'docs', 'status', 'note'],
      options: {
        headings: {
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          start_date: 'CHECK IN DATE',
          end_date: 'CHECK OUT DATE',
          project_name: 'PROJECT',
          venue_name: 'VENUE',
          start_time: 'CHECK IN',
          end_time: 'CHECK OUT',
          description: 'REASON',
          docs: 'ATTACHMENT',
          status: 'STATUS',
          note: 'APPROVER COMMENT',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
            column: data.orderBy ? data.orderBy : '',
            ascending: !!data.ascending,
            query: data.query ? data.query : '',
          };
        },
        requestFunction(data) {
          const getList = jApiCoAttendance.getCoattendancePicList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreRecordForm', ['created_record']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.approverServer.setFilter('');
      }
    },
    // eslint-disable-next-line
    '$route.params.statusApprover': function (val) {
      if (val !== 'create') {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const status = val;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'canceled') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
          this.$refs.approverServer.refresh();
        });
      }
    },
  },
  created() {
    this.getSummaryBlock();
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetSummaryBlock']),

    loading(data) {
      const a = data;
      a.query_type = this.select_type;
      a.status = this.$route.params.statusApprover;
      // a.filter = this.filtering;
      if (this.load_first) {
        this.$refs.approverServer.loading = true;
        this.$refs.approverServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.filtering = true;
      this.$refs.approverServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/co-attendance/approver/create`);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/co-attendance/approver/detail/${row.id}`);
    },

    showAttachment(props) {
      this.rowDetailData = props;
      this.isModalUploadOpen(true);
    },

    isModalUploadOpen(val) {
      if (val) {
        this.isOpenDocs = val;
        this.$refs.modalUpload.show();
      } else {
        this.isOpenDocs = val;
        this.$refs.modalUpload.hide();
      }
    },

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },

    getSummaryBlock() {
      this.filtering = false;
      this.data_summary.map((element) => {
        const item = element;
        jApiCoAttendance.getSummaryBlockPic(element.status.toLowerCase())
          .then((res) => {
            item.amounts = res.data.length;
          });
        return item;
      });
      this.$nextTick(() => {
        this.load_summary = false;
        this.data_summary.map((item) => {
          const data = item;
          data.active = false;
          return data;
        });
        const val = this.$route.params.statusApprover;
        const status = this.$route.params.statusApprover;
        this.status = status;
        if (val === 'sent') {
          this.data_summary[0].active = true;
        } else if (val === 'approved') {
          this.data_summary[1].active = true;
        } else if (val === 'rejected') {
          this.data_summary[2].active = true;
        } else if (val === 'canceled') {
          this.data_summary[3].active = true;
        }
        this.$nextTick(() => {
          this.load_summary = true;
        });
      });
    },

  },
};
</script>
