<template>
  <div>
    <j-leave-summary-form
      ref="form"
      :list-employee="employee_list_organigram"
      :list-leave-type="leave_type_list"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <hr>

    <j-leave-summary-list
      ref="summaryServer"
      :params="search_params"
      @generate-xls="generateXLS"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jLeaveSummaryList from './jLeaveSummaryList';
import jLeaveSummaryForm from './jLeaveSummaryForm';

export default {
  name: 'jLeaveSummaryTabComp',
  components: {
    jLeaveSummaryList,
    jLeaveSummaryForm,
  },
  data() {
    return {
      search_params: {
        employee_ids: [],
        leave_type: [],
        date: this.$moment().format('YYYY-MM-DD'),
      },
    };
  },
  computed: {
    ...mapState('jStoreReportLeave', ['employee_list_organigram', 'leave_type_list']),
  },
  created() {
    this.actionGetEmployeeRestrictionOrganigram({
      user_company_id: localStorage.getItem('user_company_id'),
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: true,
        query: '',
      },
    });
    this.getListLeaveType();
  },
  methods: {
    ...mapActions('jStoreReportLeave', ['actionGetEmployeeRestrictionOrganigram', 'getListLeaveType', 'generateSummaryXLS']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    generateXLS() {
      this.$refs.form.search();
      setTimeout(() => {
        this.generateSummaryXLS(this.search_params);
      }, 0);
    },
  },
};
</script>
