<template>
  <div>
    <j-tabs-v2
      :tabs="tabs"
      class="new-header-tab tab--leave-report"
    >
      <div
        id="tab-container"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp.name"
            :oos-route="oosRoute"/>
        </div>
      </div>
    </j-tabs-v2>
  </div>
</template>

<script>
import jLeaveSummaryTabComp from './jLeaveSummaryTabComp';

export default {
  components: {
    jLeaveSummaryTabComp,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabs: [
        {
          idTab: 'tab-summary-1',
          title: 'Summary',
          idComp: 'comp-summary-1',
          comp: jLeaveSummaryTabComp,
          isShow: true,
          isActive: true,
          link: this.oosRoute !== '' ? `${this.oosRoute}/report/leave/summary` : '/report/leave/summary',
        },
        {
          idTab: 'tab-summary-2',
          title: 'Leave',
          idComp: 'comp-summary-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: this.oosRoute !== '' ? `${this.oosRoute}/report/leave/list` : '/report/leave/list',
        },
      ],
    };
  },
};
</script>
