<template>
  <div class="form m__t--20">
    <b-row>
      <b-col
        cols="9"
        md="9">
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <label
                class="bold"
                for="startDate">Date</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <j-datepicker
                id="startDate"
                v-model="leave_date"
                :disabled-dates="leave_date_disabled"
                format="MMM dd, yyyy"
                placeholder="Ex. Jan 01, 2019"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="leaveType">Leave Type</label>
            </b-form-group>
          </b-col>
          <b-col
            cols="10"
            md="10">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllLeaveType">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllLeaveType">
                select all
              </a>
              <br>
              <j-multi-select
                id="leaveType"
                v-model="selected_leave_type"
                :options="leave_type_list"
                placeholder="Select Leave Type"
                value-format="object"
                label="text"
                @getData="getDataLeaveType"/>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col
            cols="2"
            md="2">
            <b-form-group>
              <br>
              <label
                class="bold"
                for="employeeName">Name</label>
              <br>
              <span v-show="false">
                <span class="f-blue bold">
                  {{ total_employee }}
                </span> Employee
              </span>
            </b-form-group>
          </b-col>
          <b-col
            cols="5"
            md="5">
            <b-form-group>
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataEmployee">
                unselect all
              </a>
              <a
                v-show="false"
                class="btn text outline pull-right"
                @click="selectAllDataEmployee">
                select all
              </a>
              <br>
              <j-multi-select
                id="employeeName"
                ref="employeeName"
                :is-async="true"
                :load-options="loadOptionsEmployee"
                v-model="selected_data_employee"
                placeholder="Select Employee"
                label="text"
                value-format="object"
                @getData="getDataEmployee"/>
            </b-form-group>
          </b-col>
          <b-col
            v-show="false"
            cols="3"
            md="3">
            <b-form-group>
              <label for="type">Type</label>
              <j-timesheet-checkbox
                id="type"
                ref="checkBoxType"
                :checkbox-data="checkbox_data_type"
                @is-checking="getDataFilter"
                @get-data="getDataType"
              />
            </b-form-group>
          </b-col>
          <b-col
            v-show="false"
            cols="2"
            md="2">
            <b-form-group>
              <label for="status">Status</label>
              <j-timesheet-checkbox
                id="status"
                ref="checkBoxStatus"
                :checkbox-data="checkbox_data_status"
                @is-checking="getDataFilter"
                @get-data="getDataStatus"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import jTimesheetCheckbox from '@/components/inputs/jTimesheetCheckbox';

export default {
  name: 'JLeaveForm',
  components: {
    jTimesheetCheckbox,
  },
  props: {
    listLeaveType: {
      type: Array,
      default: () => [],
    },
    listEmployee: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      user_company_ids: [],
      leave_type_ids: [],
      checkbox_data_type: [
        {
          name: 'PERMANENT', value: 'PERMANENT',
        },
        {
          name: 'PROBATION', value: 'PROBATION',
        },
        {
          name: 'CONTRACT', value: 'CONTRACT',
        },
        {
          name: 'OUTSOURCE', value: 'OUTSOURCE',
        },
        {
          name: 'INTERNSHIP', value: 'INTERNSHIP',
        },
        {
          name: 'CONSULTANT', value: 'CONSULTANT',
        },
      ],
      checkbox_data_status: [
        {
          name: 'ACTIVE', value: 1,
        },
        {
          name: 'INACTIVE', value: 0,
        },
      ],
      filtered_data: [],
      employee_temp: [],
      total_employee: 0,
      leave_date: this.$moment().format('YYYY-MM-DD'),
      leave_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      employee_list: [],
      leave_type_list: [],
      selected_leave_type: [],
      get_leave_type: null,
      selected_data_employee: [],
      get_data_employee: '',
      filter_employee: {
        status: [],
        type: [],
      },
    };
  },
  watch: {
    leave_date(date) {
      this.restrictDate(date);
    },
    selected_leave_type(data) {
      this.leave_type_ids = [];
      data.forEach((val) => {
        this.leave_type_ids.push(val.id);
      });
    },
    selected_data_employee(data) {
      this.user_company_ids = [];
      data.forEach((val) => {
        this.user_company_ids.push(val.user_company_id);
      });
    },
    listEmployee(data) {
      data.forEach((el) => {
        this.employee_list.push({
          id: el.id,
          user_company_id: el.user_company_id,
          text: `${el.employee_id} - ${el.first_name} ${el.last_name}`,
          type: el.contract_type,
          status: el.employee_status,
        });
      });
      this.employee_temp = this.employee_list;
      this.total_employee = this.employee_list.length;
    },
    listLeaveType(data) {
      data.forEach((el) => {
        this.leave_type_list.push({
          id: el.id,
          text: el.name,
          project_id: el.project_id,
        });
      });
    },
  },
  methods: {
    restrictDate() {
      this.leave_date_disabled.ranges = [{
        from: new Date(),
        to: new Date(10000, 1, 1),
      }];
    },
    // Task
    getDataLeaveType(data) {
      this.get_leave_type = data;
    },
    // Employee
    getDataEmployee(data) {
      this.get_data_employee = data;
    },
    selectAllLeaveType() {
      this.selected_leave_type = [...this.leave_type_list];
    },
    unselectAllLeaveType() {
      this.selected_leave_type = [];
    },
    selectAllDataEmployee() {
      this.selected_data_employee = [...this.employee_list];
    },
    unselectAllDataEmployee() {
      this.selected_data_employee = [];
      this.employee_list = this.employee_temp;
      this.total_employee = this.employee_list.length;

      this.$refs.checkBoxType.setEmptyCheckbox();
      this.$refs.checkBoxStatus.setEmptyCheckbox();
    },
    generateXLS() {
      this.$emit('data', {
        employee_ids: this.user_company_ids,
        leave_type: this.leave_type_ids,
        date: this.$moment(this.leave_date).format('YYYY-MM-DD') || this.$moment().format('YYYY-MM-DD'),
      });
    },
    search() {
      this.$emit('data', {
        employee_ids: this.user_company_ids,
        leave_type: this.leave_type_ids,
        date: this.$moment(this.leave_date).format('YYYY-MM-DD') || this.$moment().format('YYYY-MM-DD'),
      });
    },
    getDataStatus(data) {
      this.filter_employee.status = data;
      this.setEmployeeList();
    },
    getDataType(data) {
      this.filter_employee.type = data;
      this.setEmployeeList();
    },
    setEmployeeList() {
      this.filtered_data = [];
      if (this.filter_employee.type.length > 0 && this.filter_employee.status.length > 0) {
        this.filter_employee.type.forEach((t) => {
          if (this.filter_employee.status.length > 0) {
            this.filter_employee.status.forEach((s) => {
              this.filtered_data = this.filtered_data
                .concat(this.employee_temp.filter(e => e.type === t && e.status === s));
            });
          } else {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          }
        });
        this.selected_data_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else if (this.filter_employee.type.length > 0 || this.filter_employee.status.length > 0) {
        if (this.filter_employee.status.length > 0) {
          this.filter_employee.status.forEach((s) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.status === s));
          });
        } else {
          this.filter_employee.type.forEach((t) => {
            this.filtered_data = this.filtered_data
              .concat(this.employee_temp.filter(e => e.type === t));
          });
        }
        this.selected_data_employee = this.filtered_data;
        this.employee_list = this.filtered_data;
        this.total_employee = this.employee_list.length;
      } else {
        this.selected_data_employee = [];
        this.employee_list = this.employee_temp;
        this.total_employee = this.employee_list.length;
      }
    },
    getDataFilter(data) {
      if (data) {
        this.$refs.checkBoxType.getData();
        this.$refs.checkBoxStatus.getData();
      }
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 100,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreReportLeave/actionGetListUserRestriction', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },
  },
};
</script>
<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }
</style>
