<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <div
          slot="no"
          slot-scope="props"
        >
          {{ props.index }}
        </div>

        <div
          slot="created_date"
          slot-scope="props"
        >
          {{ props.row.created_date | moment("DD MMMM YYYY hh:mm:ss") }}
        </div>

        <div
          slot="action"
          slot-scope="props"
        >
          <b-button
            :disabled="props.row.status !== 'done'"
            class="btn grey btn-import-form m__r--5"
            @click="generateXLS(props)">
            {{ props.row.status === 'done' ? 'Download' :'On Progresss' }}
          </b-button>
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportLeave from '@/services/leave/jApiReportLeave';

export default {
  components: {
    jLoadingTable,
  },
  data() {
    return {
      isModalOpen: false,
      filter_data: '',
      select_type: '',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['no', 'created_date', 'action'],
      options: {
        headings: {
          no: 'NO',
          created_date: 'CREATED DATE',
          action: 'ACTION',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: [],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            limit: data.limit,
            page: data.page,
          };
        },
        requestFunction(data) {
          const getList = jApiReportLeave.getReportLeaveHistoryExport(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  created() {
    if (!this.isNeedFormula) {
      this.columns.splice(5, 1);
    }
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading() {
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.getData();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    generateXLS({ row }) {
      window.location.href = row.url;
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
