<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-oos m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate XLS
            </b-button>
            <b-button
              v-if="false"
              class="btn grey btn-import-form m__r--5"
              @click="historyExport">
              History
            </b-button>
          </b-form>
        </div>

        <div
          slot="carry_forward"
          slot-scope="props">
          {{ `${props.row.carry_forward_usage}/${props.row.carry_forward}` }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>

    <b-modal
      ref="modalHistoryExport"
      class="mod-form"
      centered
    >
      <j-leave-history-export
        v-if="isModalOpen"
      />
    </b-modal>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportLeave from '@/services/leave/jApiReportLeave';
import jLeaveHistoryExport from './jLeaveHistoryExport';

export default {
  components: {
    jLoadingTable,
    jLeaveHistoryExport,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      isModalOpen: false,
      filter_data: '',
      data_table: [],
      load_first: false,
      columns: ['employee_id', 'employee', 'organization_unit', 'leave_type', 'entitlement', 'carry_forward', 'mass_credit_debit', 'quota_usage', 'month', 'period'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee: 'EMPLOYEE NAME',
          leave_type: 'LEAVE TYPE',
          organization_unit: 'ORGANIZATION UNIT',
          entitlement: 'TOTAL QUOTA',
          carry_forward: 'CARRY FORWARD',
          mass_credit_debit: 'MASS CREDIT/DEBIT',
          quota_usage: 'USED QUOTA',
          month: 'END OF MONTH',
          period: 'END OF PERIOD',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'employee', 'leave_type', 'entitlement', 'carry_forward', 'mass_credit_debit', 'quota_usage'],
        perPage: 10,
        perPageValues: [10, 20, 50, 100],
        orderBy: {
          ascending: true,
          column: 'id',
        },
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          return jApiReportLeave.getSummaryReport(data);
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length || 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreReportLeave', ['generateSummaryXLS']),

    loading(val) {
      if (this.params !== null) {
        val.date = this.params.date;
        val.leave_type = this.params.leave_type;
        val.employee_ids = this.params.employee_ids;
      } else {
        val.date = this.$moment().format('YYYY-MM-DD');
        val.leave_type = [];
        val.employee_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.refresh();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    generateXLS() {
      this.$emit('generate-xls');
    },

    historyExport() {
      this.setModalOpen(true);
    },

    setModalOpen(val) {
      this.isModalOpen = val;
      if (val) {
        this.$refs.modalHistoryExport.show();
      } else {
        this.$refs.modalHistoryExport.hide();
      }
    },

  },
};
</script>
