<template>
  <div class="wrap-loading">
    <div
      v-for="i in 8"
      :key="`block-${i}`"
      :class="{'summary-nonworkflow': !isWorkflow}"
      class="summary-block"
    />
  </div>
</template>

<script>
export default {
  props: {
    isWorkflow: { type: Boolean, default: true },
  },
};
</script>

<style lang="scss" scoped>
  .wrap-loading {
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 4px;
    }

    .summary-block {
      width: 182px;
      min-width: 182px;
      height: 76px;
      border-radius: 7px;
      background-color: #ECECEC;
      margin-right: 6px;
    }
    .summary-nonworkflow {
      height: 63px;
    }
  }
</style>
