<template>
  <div class="form">
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-form-group>
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label class="bold">Date</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <b-row>
                <b-col
                  cols="6"
                  md="6">
                  <label for="startDate">From</label>
                  <j-datepicker
                    id="startDate"
                    v-model="from_date"
                    :disabled-dates="from_date_disabled"
                    format="MMM dd, yyyy"
                    placeholder="Ex. Jan 01, 2019"/>
                </b-col>
                <b-col
                  cols="6"
                  md="6">
                  <b-form-group>
                    <label for="endDate">To</label>
                    <j-datepicker
                      id="endDate"
                      v-model="end_date"
                      :disabled-dates="end_date_disabled"
                      format="MMM dd, yyyy"
                      placeholder="Ex. Des 31, 2019"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row
            :hidden="mode === 'detail'">
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
                for="employeeName">Employee Name</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllEmployee">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllEmployee">
                select all
              </a>
              <br>
              <j-multi-select
                id="employeeName"
                ref="employeeName"
                :options="employee_list"
                v-model="selected_data_employee"
                value-format="object"
                placeholder="Select Employee"/>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
                for="project">Project</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataProject">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataProject">
                select all
              </a>
              <br>
              <j-multi-select
                id="project"
                ref="project"
                :options="project_list"
                v-model="selected_data_project"
                value-format="object"
                placeholder="Select Project"/>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row>
            <b-col
              cols="2"
              md="2">
              <label
                class="bold"
                for="task">Task</label>
              <br>
              <span>
                <span class="f-blue bold">
                  {{ total_task_list }}
                </span> Total Task
              </span>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataTask">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataTask">
                select all
              </a>
              <br>
              <j-multi-select
                id="task"
                ref="task"
                :options="task_list"
                v-model="selected_data_task"
                value-format="object"
                placeholder="Select Task"/>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'JTimesheetSummaryForm',
  components: {
  },
  props: {
    mode: {
      type: String,
      default: 'summary',
    },
    listTask: {
      type: Array,
      default: () => [],
    },
    listProject: {
      type: Array,
      default: () => [],
    },
    listEmployee: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      total_task_list: null,
      from_date: new Date(),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: new Date(10000, 1, 1),
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: Date.now() + (30 * 24 * 60 * 60 * 1000),
          to: new Date(10000, 1, 1),
        }],
      },
      employee_list: [],
      selected_data_employee: [],
      employee_ids: [],
      project_list: [],
      task_project_ids: [],
      task_list: [],
      task_temp: [],
      get_data: '',
      selected_data_project: [],
      selected_data_task: [],
      filtered_data: [],
    };
  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.datediff(date, this.end_date) > 31 || this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_data_employee(data) {
      this.employee_ids = [];
      data.forEach((element) => {
        this.employee_ids.push(element.user_company_id);
      });
    },
    selected_data_project(data) {
      this.filtered_data = [];
      data.forEach((val) => {
        this.filtered_data = this.filtered_data.concat(
          this.task_temp.filter(e => Number(e.project_id) === Number(val.id)),
        );
      });
      if (this.filtered_data.length === 0) {
        this.selected_data_task = [];
      }
      if (!this.filtered_data.length) {
        this.total_task_list = this.listTask.length;
      } else {
        this.total_task_list = this.filtered_data.length;
      }
      this.task_list = this.filtered_data;
    },
    selected_data_task(data) {
      this.task_project_ids = [];
      data.forEach((element) => {
        this.task_project_ids.push(element.id);
      });
    },
    listEmployee(data) {
      data.forEach((element) => {
        this.employee_list.push({
          id: element.id,
          text: `${element.first_name} ${element.last_name}`,
          user_company_id: element.user_company_id,
        });
      });
    },
    listTask(data) {
      data.forEach((element) => {
        this.total_task_list = data.length;
        this.task_list.push({
          id: element.id,
          text: element.name,
          project_id: element.project_id,
        });
      });
      this.task_temp = this.task_list;
    },
    listProject(data) {
      data.forEach((element) => {
        this.project_list.push({
          id: element.id,
          text: element.name,
        });
      });
    },
  },
  created() {
    if (this.mode === 'detail') {
      this.from_date = this.$route.params.startDate;
      this.end_date = this.$route.params.endDate;
    }
  },
  methods: {
    datediff(first, second) {
      const date1 = new Date(first);
      const date2 = new Date(second);
      return parseInt((date2 - date1) / (1000 * 60 * 60 * 24), 10);
    },
    // Restrict Date
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(this.from_date).getTime() + (31 * 24 * 60 * 60 * 1000),
          to: new Date(10000, 1, 1),
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(this.from_date).getTime() + (31 * 24 * 60 * 60 * 1000),
          to: new Date(10000, 1, 1),
        }];
      }
    },
    // Employee
    selectAllEmployee() {
      this.selected_data_employee = [...this.employee_list];
    },
    unselectAllEmployee() {
      this.selected_data_employee = [];
    },
    // Project
    selectAllDataProject() {
      this.selected_data_project = [...this.project_list];
    },
    unselectAllDataProject() {
      this.selected_data_project = [];
    },
    // Task
    selectAllDataTask() {
      this.selected_data_task = [...this.task_list];
    },
    unselectAllDataTask() {
      this.selected_data_task = [];
    },
    search() {
      if (this.mode === 'detail') {
        this.$emit('data', {
          user_company_id: this.$route.params.id,
          task_project_ids: this.task_project_ids,
          project_ids: this.selected_data_project.map(e => e.id),
          start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
          end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
        });
      } else {
        this.$emit('data', {
          user_company_ids: this.employee_ids,
          task_project_ids: this.task_project_ids,
          project_ids: this.selected_data_project.map(e => e.id),
          start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
          end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
        });
      }
    },
  },
};
</script>

<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }
</style>
