<template>
  <div>
    <j-tabs-v2
      :tabs="tabs">
      <div
        id="tab-container"
        class="tab-content">
        <div
          v-for="i in tabs"
          :key="i.id"
          :id="i.idComp"
          :aria-labelledby="i.idTab"
          role="tabpanel"
          class="tab-pane" >
          <component
            :is="i.comp.name"
            :oos-route="oosRoute"/>
        </div>
      </div>
    </j-tabs-v2>
  </div>
</template>

<script>
import jTimesheetSummaryTabComp from './jTimesheetSummaryTabComp';

export default {
  components: {
    jTimesheetSummaryTabComp,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tabs: [
        {
          idTab: 'tabs-1',
          title: 'Timesheet',
          idComp: 'comps-1',
          comp: jTimesheetSummaryTabComp,
          isShow: true,
          isActive: true,
          link: this.oosRoute !== '' ? `${this.oosRoute}/report/timesheet/summary` : '/report/timesheet/summary',
        },
        {
          idTab: 'tabs-2',
          title: 'Form Project',
          idComp: 'comps-2',
          comp: '',
          isShow: true,
          isActive: false,
          link: this.oosRoute !== '' ? `${this.oosRoute}/report/timesheet/form-project` : '/report/timesheet/form-project',
        },
      ],
    };
  },
};
</script>
