<template>
  <div>
    <j-title-header :options="title"/>
    <j-timesheet-summary-form
      ref="form"
      :list-task="task_list"
      :list-project="project_list"
      mode="detail"
      @data="getData"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <b-row>
      <b-col
        cols="12"
        md="12">
        <div class="float-to-right">
          <b-button
            class="btn green"
            @click="generateDetailReport"
          ><i class="fa fa-download bold" />
            Generate Report XLS
          </b-button>
        </div>
      </b-col>
    </b-row>
    <j-timesheet-summary-detail-list
      ref="detailSummaryServer"
      :params="search_params"
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jTimesheetSummaryDetailList from './jTimesheetSummaryDetailList';
import jTimesheetSummaryForm from './jTimesheetSummaryForm';

export default {
  name: 'jTimesheetSummaryTabComp',
  components: {
    jTimesheetSummaryDetailList,
    jTimesheetSummaryForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Detail Summary Report',
      },
      search_params: null,
    };
  },
  computed: {
    ...mapState('jStoreReportTimesheet', ['employee_list', 'task_list', 'project_list']),
  },
  watch: {
    params() {
    },
  },
  created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.getListEmployee({ user_company_id: localStorage.getItem('user_company_id') });
    this.getListTask(rootId);
    this.getListProject(rootId);
  },
  methods: {
    ...mapActions('jStoreReportTimesheet', ['getListEmployee', 'getListTask', 'getListProject', 'generateSummaryXLS', 'generateDetailXLS']),

    getData(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.detailSummaryServer.refreshTable();
      }, 0);
    },
    generateDetailReport() {
      this.$refs.form.search();
      this.generateDetailXLS(this.search_params);
    },
  },
};
</script>
