<template>
  <div>
    <br>
    <!-- <pre>{{ task_list }}</pre> -->
    <j-timesheet-summary-form
      ref="form"
      :list-employee="employee_list"
      :list-task="task_list"
      :list-project="project_list"
      mode="summary"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <b-row>
      <b-col
        cols="12"
        md="12">
        <div class="float-to-right">
          <b-button
            class="btn green"
            @click="generateXLS"
          ><i class="fa fa-download bold" />
            Generate Report XLS
          </b-button>
        </div>
      </b-col>
    </b-row>
    <j-timesheet-summary-list
      ref="summaryServer"
      :params="search_params"
      :oos-route="oosRoute"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jTimesheetSummaryList from './jTimesheetSummaryList';
import jTimesheetSummaryForm from './jTimesheetSummaryForm';

export default {
  name: 'jTimesheetSummaryTabComp',
  components: {
    jTimesheetSummaryList,
    jTimesheetSummaryForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      search_params: {
        user_company_ids: [],
        task_project_ids: [],
        start_date: this.$moment().format('YYYY-MM-DD'),
        end_date: this.$moment().format('YYYY-MM-DD'),
      },
    };
  },
  computed: {
    ...mapState('jStoreReportTimesheet', ['employee_list', 'task_list', 'project_list']),
  },
  created() {
    const rootId = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.getListEmployee({
      user_company_id: localStorage.getItem('user_company_id'),
      pagination: {
        limit: 0,
        page: 1,
        column: '',
        ascending: true,
        query: '',
      },
    });
    this.getListTask(rootId);
    this.getListProject(rootId);
  },
  methods: {
    ...mapActions('jStoreReportTimesheet', ['getListEmployee', 'getListTask', 'getListProject', 'generateSummaryXLS']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    generateXLS() {
      this.$refs.form.search();
      setTimeout(() => {
        this.generateSummaryXLS(this.search_params);
      }, 0);
    },
  },
};
</script>
