<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">
        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport">
          <b-form-group>
            <b-form-checkbox-group v-model="selected_rows">
              <b-form-checkbox :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

        <div
          slot="employee_code"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.user.employee_code }}
        </div>

        <div
          slot="name"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.user.profile.first_name + ' ' + props.row.user.profile.last_name }}
        </div>

        <div
          slot="email"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.user.email }}
        </div>

        <div
          slot="total_visit"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.total_visit }}
        </div>

        <div
          slot="total_project"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.total_project }}
        </div>


        <div
          slot="total_task"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ props.row.total_task }}
        </div>

        <div
          slot="total_task_spent"
          slot-scope="props"
          @click="generateUrlDetail(id)">
          {{ formatTotalTask(props.row.total_task_spent) }}

        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportTimesheet from '@/services/timesheet/report/jApiReportTimesheet';


export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user_company_id: null,
      param_request: null,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Code',
          value: 'code',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['employee_code', 'name', 'email', 'total_visit', 'total_project', 'total_task', 'total_task_spent'],
      options: {
        headings: {
          employee_code: 'EMPLOYEE CODE',
          name: 'NAME',
          email: 'EMAIL',
          total_visit: 'TOTAL VISIT',
          total_project: 'TOTAL PROJECT',
          total_task: 'TOTAL TASK',
          total_task_spent: 'TOTAL TASK SPENT',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['name'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
            user_company_ids: [],
            task_project_ids: [],
            start_date: '',
            end_date: '',
          };
        },
        requestFunction(data) {
          const getList = jApiReportTimesheet.getSummaryReport(data);
          getList.then((e) => {
            this.$store.commit('jStoreReportTimesheet/mutateGetSummary', e);
          });
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreReportTimesheet', ['summary_list']),
  },
  watch: {
    summary_list(val) {
      const { data } = val;
      const user = data.map(item => item.user);
      this.user_company_id = user;
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    formatTotalTask(data) {
      return data.replace(/Hours/, 'Task');
    },
    loading(val) {
      if (this.params !== null) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.task_project_ids = this.params.task_project_ids;
        val.user_company_ids = this.params.user_company_ids;
      } else {
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.task_project_ids = [];
        val.user_company_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.summaryServer.getData();
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    projectDeleted() {
      this.refreshTable();
      this.selected_rows = [];
    },

    generateUrlDetail(id) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/report/timesheet/summary/detail/${id}/${this.params.start_date}/${this.params.end_date}`);
      } else {
        this.$router.replace(`/report/timesheet/summary/detail/${id}/${this.params.start_date}/${this.params.end_date}`);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
