<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="detailSummaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded">

        <div
          slot="total_task"
          slot-scope="props">
          {{ props.row.total_task }} task(s)
        </div>

        <div
          slot="submitted_date"
          slot-scope="props">
          {{ props.row.submitted_date | moment('MMM D, YYYY') }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiReportTimesheet from '@/services/timesheet/report/jApiReportTimesheet';
// import jReusableFunction from '@/mixins/data-table/jReusableFunction';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    detail: {
      type: String,
      default: '',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user_company_id: null,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Code',
          value: 'code',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['project_name', 'total_task', 'duration', 'submitted_date'],
      options: {
        headings: {
          project_name: 'PROJECT NAME',
          total_task: 'TOTAL TASK',
          duration: 'DURATION',
          submitted_date: 'SUBMITTED DATE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['project_name', 'total_task', 'duration', 'submitted_date'],
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiReportTimesheet.getDetailSummaryReport(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.detailSummaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
    params() {
    },
  },
  created() {
    this.user_company_id = this.$route.params.id;
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.task_project_ids = this.params.task_project_ids;
        val.user_company_id = Number(this.user_company_id);
      } else {
        val.end_date = this.$route.params.endDate || this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$route.params.startDate || this.$moment().format('YYYY-MM-DD');
        val.task_project_ids = [];
        val.user_company_id = Number(this.user_company_id);
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.detailSummaryServer.getData();
    },

    filter(val) {
      this.$refs.detailSummaryServer.setFilter(val);
    },

    projectDeleted() {
      this.refreshTable();
      this.selected_rows = [];
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
