.table-access-application .table-bordered th {
  text-transform: uppercase;
}

.table-access-privilege .table-bordered th {
  &:last-child {
    span {
      color: transparent;
    }
  }
}

.label-create-form-data {
  text-align: center;
  font-weight: 600;
  size: 14px;
}

.action-table-access-application {
  color: #1A85E4;
  font-weight: 400;
  font-size: 12px;
}

container-pages-list {
  max-height: 500px;
  overflow-x: hidden;
}

.menu-row-access-application {
  background: #F5F5F5;
  border: 1px solid #EBEBEB;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;

  .page-name {
    font-weight: 500;
    font-size: 12px;
  }

  .page-id {
    font-weight: 400;
    font-size: 9px;
  }

  .page-type {
    color: #1A85E4;
    font-weight: 500;
    font-size: 10px;
    margin-top: 10px;
  }

  .border-left {
    border-left: 1px solid #EBEBEB;
  }

  .child-row {
    border: 1px solid #EBEBEB;
    margin-left: 50px;
    padding: 10px;
  }

  .jToggleVerticalCenter {
    margin-top: 5px;
  }
}

.rectangle-rule-access {
  height: 55px;
  margin: 10px 0 10px 0;
  padding: 10px 0px;
  border-radius: 8px;
  border: solid 1px #f1f1f1;
  background-color: #ffffff;

  font-weight: 400;
  font-size: 12px;
  color: #808080;

  .card-assignee-photo-modal {
    width: 35px;
    height: 35px;
    background-size: 120px;
    border: 0;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-assignee-initial-modal {
    display: inline-block;
    background-color: gainsboro;
    color: grey;
    font-size: 18px;
    height: 35px;
    width: 35px;
    padding-top: 10px;
    margin-left: 3px;
    text-align: center;
    border-radius: 50%;
  }

  .label-position {
    font-weight: 500;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5a5a;
  }
}

.rectangle-rule-view-access {
  height: 55px;
  margin: 10px 0 10px 0;
  padding: 10px 0px;

  font-weight: 400;
  font-size: 12px;
  color: #808080;

  .card-assignee-photo-modal {
    width: 35px;
    height: 35px;
    background-size: 120px;
    border: 0;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .card-assignee-initial-modal {
    display: inline-block;
    background-color: gainsboro;
    color: grey;
    font-size: 18px;
    height: 35px;
    width: 35px;
    padding-top: 10px;
    margin-left: 3px;
    text-align: center;
    border-radius: 50%;
  }

  .label-position {
    font-weight: 500;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5a5a;
  }
}

.label-pages-privileges {
  font-weight: 500;
  font-size: 14px;
}

.enable-pages-privileges {
  font-weight: 500;
  font-size: 14px;
  color: #1A85E4;
  cursor: pointer;
}

.close-modal-oos {
  float: right;
  cursor: pointer;
}