.nav-tabs {
  border-bottom: 0px;
  background-color: #fcfdfe;
  padding: 0 20px;
}

.nav-tabs:focus {
  outline: 0;
}

.nav-link {
  font-size: 14px;
  color: #585858 !important;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
}

.nav-tabs .nav-link {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 4px solid transparent !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link.active {
  background-color: transparent !important;
  color: #4a90e2 !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 4px solid #4a90e2 !important;
}

.nav-link:focus {
  outline: 0;
}

.wrapper-content {
  height: 90vh;
  background-color: #fcfdfe;
  padding: 0;
}

.tab-content {
  padding: 30px 20px 0px 20px;
  background-color: #fff;
  border-top: 0px;
}

#__BVID__1487__BV_tab_container_ {
  height: 100vh;
}

.not-admin-container {
  background-color: #fcfdfe;
  padding: 40px 20px 0px 20px;
}

.not-admin-container-full-screen {
  padding: 0px !important;
}

.mod-form label {
  color: #353535;
}

.modal-body .form-group {
  margin-bottom: 10px !important;
}

.coattendance-summary {
  .col-md-2 {
    min-width: 20%;
    max-width: 20%;
  }

  .sum-last {
    padding-right: 7px;
  }

  .col-md-3 {
    min-width: 25%;
    max-width: 25%;
  }
}

.ava-profile {
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid grey;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert {
  top: 52px;
  z-index: 990;
  width: 100%;
  position: fixed !important;
  text-align: center;
  left: 0;
}

.title-form-ui {
  margin-bottom: 30px;
  text-align: center;
}

.VueTables__group-row--1 {
  background-color: #dedede !important;
  color: #000 !important;
}

.VueTables__group-row--2 {
  background-color: #e8e8e8 !important;
  color: #000 !important;

  span {
    margin-left: 25px !important;
  }
}

.VueTables__group-row--3 {
  background-color: #efefef !important;
  color: #000 !important;

  span {
    margin-left: 50px !important;
  }
}

.VueTables__group-row--4 {
  background-color: #f7f7f7 !important;
  color: #000 !important;

  span {
    margin-left: 75px !important;
  }
}

.VueTables__group-row--5 {
  background-color: #fafafa !important;
  color: #000 !important;

  span {
    margin-left: 100px !important;
  }
}

.jTable .vue-treeselect__menu .vue-treeselect__label {
  float: left;
}

.form-master .vue-map-container {
  height: 200px !important;
}

.flow-type-container {
  border-radius: 8px;
  border: solid 1px #e7e7e7;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.flow-type-app-container {
  border-radius: 8px;
  border: 1px solid #f47829;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
  color: #f47829;
}

.container-option-dynamic {
  border-radius: 8px;
  border: solid 1px #e7e7e7;
  padding: 15px;
  min-width: 165px;
  text-align: center;

  .text-option {
    font-size: 16px;
    font-weight: 400;
  }

  &:hover {
    cursor: pointer;
    border: solid 1px #1a86e4;
  }
}

.option-active {
  background-color: #d8ecff;
  color: #1a85e4;
}

.title-select-app {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.line-approver-dynamic {
  position: absolute;
  left: 280px;
  margin-top: 15px;
}

.add-approver-dynamic {
  position: absolute;
  left: 276px;
  cursor: pointer;
}

.user-approver-dynamic {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 7px 13px;
  color: #646060;
  font-weight: 500;
  font-size: 12px;
}

.nouser-approver-dynamic {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 7px 13px;
  color: #CDCDCD;
  font-weight: 400;
  font-size: 12px;
}

.round-bordered-img-dynamic {
  float: left;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 12px;
}

.name-user-approver-dynamic {
  font-weight: 400;
  font-size: 13px;
  color: #525252;
}

.email-user-approver-dynamic {
  font-weight: 400;
  font-size: 11px;
  color: #9C9C9C;
}

.btn-action {
  font-weight: 500;
  text-align: left;
  width: 100%;
  color: #383838;
  background-color: #eeeeee;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-top: 5px;
}

.btn-action-on-table {
  font-weight: 500;
  width: max-content;
  // color: #4A4A4A;
  // background-color: #F1F1F1;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
}

.modal-leave .modal-dialog {
  max-width: 800px;
}

.modal-leave .modal-body {
  overflow-x: hidden;
}

.modal-leave-detail .modal-dialog {
  max-width: 1080px;
}

.modal-leave-detail .modal-body {
  overflow-x: hidden;
}

.bar-leave-quota {
  background: #eee;
  padding: 12px;
}

.attachment-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  max-height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px;
  margin: 0 !important;
}

.new-header-tab .greedy-menu ul:first-of-type li a[aria-selected="true"] {
  border: none !important;
  color: black !important;
  border-bottom: 5px solid rgb(22, 115, 207) !important;
}

.new-header-tab .link-tab a {
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.new-header-tab .link-tab.router-link-active a {
  color: black;
  border-bottom: 5px solid rgb(22, 115, 207) !important;
}

.new-header-tab .greedy-menu {
  border: none !important;
}

.container-app-search .popover {
  max-width: 600px;
}

.photo-profile {
  padding: 2px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 2px solid grey;
  object-fit: cover;
}

.container-app-search-table-view {
  .label-head-filter {
    width: 350px;
    height: 35px;
    background-color: #f1f1f1;
    margin: -8px -12px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #8a8a8a;
    padding-top: 8px;
  }

  .body-filter {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    color: #808285;

    .search-options {
      width: 325px;
    }

    .overflow-active {
      max-height: 500px;
      overflow-x: hidden;
    }
  }

  .filter-active {
    color: #1a85e4 !important;
  }
}

.list-table .popover {
  max-width: 600px;
}

.margin-top-bottom__5 {
  margin-top: 50px;
}

.bar-leave-quota {
  background: #eee;
  padding: 12px;
}

.jToggleVerticalCenter {
  p {
    top: -3px;
    margin: 0 5px;
  }
}

.progress {
  background: #fff;
}

.container-rule {
  background: #f6f6f6;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  padding: 11px;
  color: #1a85e4;
  font-size: 14px;
  font-weight: 400;
}

.container-related {
  background: #f6f6f6;
  border-radius: 8px;
  padding: 11px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.container-working {
  color: #1a85e4;
}

.label-add-parameter {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.list-parameter-rule {
  width: 200px;
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-left: -5px;
  margin-right: -5px;
}

.list-parameter-rule:hover {
  background-color: #f2f2f2;
}

.list-rule-container {
  background: #f6f6f6;
  border-radius: 8px;
  width: 100%;
  height: max-content;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.fs-12 {
  font-size: 12px;
}

.attachment-add-more-data {
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.container-attachment {
  border: 0.8px solid #e7e7e7;
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 5px;
}

.close-leave {
  background: #f2f2f2;
  color: #606060;
}

.label-add-attachment {
  color: #606060 !important;
  margin-top: 10px;
}

// Leave Report
.component--leave-report {
  border-radius: 7px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
}

.header--leave-report {
  background-color: #efefef;
  border-radius: 6px 6px 0px 0px;
  padding: 24px 24px 20px 24px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  color: #808285;
  line-height: 15px;
  display: flex;
  align-items: baseline;

  i {
    cursor: pointer;
    margin-right: 15px;
  }

  .header-title {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: normal;
    color: #5c5b5b;
    text-transform: capitalize;
  }

  .header-description {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: normal;
    color: #8a8a8a;
    text-transform: capitalize;
  }
}

.tab--leave-report {
  .greedy-menu {
    margin-bottom: 0px !important;
    background-color: #efefef;
    padding-left: 20px;
  }

  .tab-content {
    padding: 24px !important;
    border-top: none !important;
  }
}

.detail--leave-report {
  padding: 24px;
}

.jCheckListOOS {
  .jCheckList {
    .custom-control-inline {
      display: block !important;
    }

    .custom-control {
      padding-left: 0px !important;
    }
  }

  .jCheckList .custom-checkbox .custom-control-label:before {
    left: 0px !important;
  }

  .jCheckList .custom-checkbox .custom-control-label:after {
    left: 0px !important;
  }

  .jCheckList .custom-checkbox .custom-control-input ~ .custom-control-label {
    padding: 10px 16px 10px 20px !important;
  }
}

.page-with-tab-container .jTabsa .greedy-menu {
  -webkit-box-shadow: 2px 5px 12px -11px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 12px -11px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
}

.page-with-tab-container .jTabsa .greedy-menu ul:first-of-type li a {
  color: #9a9a9a;
  font-weight: bold;
}

.page-with-tab-container
  .jTabsa
  .greedy-menu
  ul:first-of-type
  li
  a[aria-selected="true"] {
  color: #5b5a5a;
  border: none;
  border-bottom: 4px solid #4a90e2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 3;
}

.c3 .c3-tooltip tr:first-child {
  display: none;
}

.chart-bar.c3 .c3-axis-x .tick {
  display: none;
}

.warning-function {
  padding: 12px;
  border-radius: 8px;
  background-color: #fffded;
  color: #696014;
  margin: 20px 0;

  img {
    width: auto;
    height: 35px;
    margin-right: 15px;
  }

  .title {
    font-weight: bold;
    font-size: 22px;
  }
}

.warning-function span {
  font-size: 16px;
}

.search-option-above-table {
  width: 251px;

  .btn-filter-table-view {
    width: 155px !important;
  }
}

.level-strength-pswd {
  width: 25%;
  height: 4px;
  background: #ededed;
  margin: 2px;
}

.level-strength-pswd.active {
  background: #a9e1c6 !important;
}

.level-strength-label {
  color: #808285;
  font-size: 10px;
}

.access-application {
  .modal-body {
    padding: 20px 32px;
  }

  .label__modal-confirm-password {
    color: #4a4a4a;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .form-password {
    position: relative;
  }

  .padlock {
    position: absolute;
    font-size: 20px;
    background: #ededed;
    height: 52px;
    width: 52px;
    padding: 16px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .showhide {
    position: absolute;
    bottom: -4px;
    font-size: 20px;
    right: 10px;
  }

  .form-control {
    height: 52px;
    padding: 0.375rem 3.75rem !important;
  }

  img {
    display: block;
    margin: auto;
  }

  label {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.mod-form.access-application .modal-dialog {
  max-width: 600px;
}

.popover .arrow {
  z-index: -1;
}

#otp-code {
  display: flex;
  align-items: center;
  justify-content: center;
}

#otp-code label {
  color: #888888;
  font-weight: bold;
}

.box-gray {
  padding: 6px 14px 2px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  margin-top: 20px;
}

input.otp {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #d4d4d4;
  text-align: center;
  border-radius: 8px;
}

.text-shadow {
  color: #cacaca;
}

.command-box {
  font-weight: bold;
}

.resend:hover {
  cursor: pointer;
}

#form-search-popover {
  .popover {
    box-shadow: 0px 0px 8px rgba(191, 191, 191, 0.51);
  }
}

.jImport {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 5px;

  .delimiter {
    min-width: 135px;
    max-width: 135px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontThisApps) !important;
    font-weight: 400;
    font-size: 12px;
    color: #606060;
    border-right: 1px solid #e7e7e7;
    margin-right: 10px;
    padding: 0 10px;
    cursor: pointer;

    i {
      color: #adadad;
      margin-left: 4px;
      margin-top: 2px;
    }
  }

  .delimiter-popup {
    position: absolute;
    width: 168px;
    top: 34px;
    left: 26px;
    padding: 18px 14px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(191, 191, 191, 0.51);

    .delimiter-option {
      font-family: var(--fontThisApps) !important;
      font-weight: 400;
      font-size: 12px;
      color: #606060;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e7e7e7;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
      &.no-select {
        color: #9a9a9a;
        cursor: default;
      }
    }
  }

  .custom-file-input.is-valid ~ .custom-file-label {
    border: none;
  }

  .custom-file-input.is-invalid ~ .custom-file-label {
    border: none;
  }

  .custom-file-input.is-invalid:focus ~ .custom-file-label {
    box-shadow: unset;
  }

  .custom-file-input.is-valid:focus ~ .custom-file-label {
    box-shadow: unset;
  }

  .custom-file {
    width: 225px;
    cursor: pointer;
  }

  .custom-file-label {
    height: 100%;
    padding-top: 9px;
    color: #848689;

    &:after {
      height: 100%;
      color: #848689;
      padding-top: 9px;
    }
  }
}

.modal-progress-import {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 22px;
  gap: 9px;
  position: absolute;
  width: 533px;
  height: 118px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 40px rgba(189, 191, 198, 0.49);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  z-index: 102;
  right: 30px;
  top: 140px;
  transition: all ease 0.5s;
  transform: scale(0);

  &.show {
    transform: translateY(-20px);
    transform: scale(1);
  }

  .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #4a4a4a;
    margin: 2px 0px;
  }

  .content-file {
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
  }

  .content-file label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4a4a4a;
  }

  .file-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4a4a4a;
    margin-left: 7px;
    max-width: 340px;
  }

  .block-progress {
    background: #ebeff0;
    border-radius: 5px;
    width: 100%;
    height: 8px;
    margin-top: 5px;
  }

  .block-progress-remaining {
    background: #1a85e4;
    border-radius: 5px;
    height: 8px;
  }

  .icon-cancel {
    position: absolute;
    right: 35px;
    cursor: pointer;
  }

  .percentage {
    position: absolute;
    color: #dcdddf !important;
    font-size: 12px !important;
  }
}

.modal-activity-import {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 22px;
  gap: 9px;
  position: absolute;
  width: 340px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 40px rgba(189, 191, 198, 0.49);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  z-index: 102;
  right: 30px;
  top: 140px;
  transition: all ease 0.5s;
  transform: scale(0);
  max-height: 500px;
  overflow-y: auto;

  &.show {
    transform: translateY(-20px);
    transform: scale(1);
  }

  .activity-import-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #4a4a4a;
      margin: 2px 0px;
    }

    .icon {
      display: flex;
      gap: 12px;
      align-items: center;

      i {
        font-size: 18px;
        color: #9A9A9A;
      }

      img,
      i {
        cursor: pointer;
      }
    }
  }

  .activity-container {
    width: 100%;

    .date {
      font-weight: 400;
      font-style: normal;
      font-size: 10px;
      line-height: 15px;
      color: #4a4a4a;
    }

    .status {
      width: max-content;
      padding: 4px 6px;
      border-radius: 8px;
      font-weight: 600;
      font-style: normal;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;
      display: -webkit-box;
    }

    .rounded-status-processing {
      width: 10px;
      height: 10px;
      background: #f36f21;
      border-radius: 5px;
      margin-right: 3px;
    }

    .rounded-status-done {
      width: 10px;
      height: 10px;
      background: #61bc50;
      border-radius: 5px;
      margin-right: 3px;
    }

    .rounded-status-failed {
      width: 10px;
      height: 10px;
      background: #d0021b;
      border-radius: 5px;
      margin-right: 3px;
    }

    .rounded-status-pending {
      width: 10px;
      height: 10px;
      background: #808285;
      border-radius: 5px;
      margin-right: 3px;
    }

    .rounded-status-canceled {
      width: 10px;
      height: 10px;
      background: #73189D;
      border-radius: 5px;
      margin-right: 3px;
    }

    .rounded-status-canceling {
      width: 10px;
      height: 10px;
      background: #A376B9;
      border-radius: 5px;
      margin-right: 3px;
    }

    .processing {
      background: #ffe6c9;
      color: #f36f21;
    }

    .done {
      background: #f0f8e5;
      color: #61bc50;
    }

    .failed {
      background: #ffebed;
      color: #d0021b;
    }

    .pending {
      background: #f2f2f2;
      color: #808285;
    }

    .canceled {
      background: #F4DDFF;
      color: #73189D;
    }

    .canceling {
      background: #F1EBF4;
      color: #A376B9;
    }

    .round-bordered-img {
      border: none;
      float: none;
      width: 26px;
      height: 26px;
      object-fit: cover;
    }

    .full-name {
      font-weight: 500;
      font-style: normal;
      font-size: 12px;
      line-height: 18px;
      color: #4a4a4a;
      margin-left: 5px;
      max-width: 150px;
    }

    .label-import {
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      line-height: 18px;
      color: #606060;
      margin-left: 5px;
    }

    .content-file {
      width: 250px;
      border: 1px solid #e3e5e8;
      border-radius: 4px;
      padding: 5px;
      margin-left: 5px;

      .file-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #4a4a4a;
        margin-left: 7px;
        max-width: 150px;
      }

      .label-total-records {
        font-weight: 400;
        font-style: normal;
        font-size: 9px;
        line-height: 14px;
        color: #606060;
        margin-left: 7px;

        span {
          font-weight: 600;
          font-size: 9px;
          line-height: 14px;
          color: #606060;
        }
      }

      .see-details {
        font-weight: 500;
        font-style: normal;
        font-size: 8px;
        line-height: 12px;
        color: #1a85e4;
        margin-top: 10px;
        cursor: pointer;
      }

      .detail {
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        line-height: 15px;
        color: #4a4a4a;
      }

      span {
        font-weight: 500;
        font-style: normal;
        font-size: 10px;
        line-height: 15px;
        color: #4a4a4a;
      }

      hr {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
      }
    }

    .w-74 {
      width: 74%;
    }

    .w-90 {
      width: 90%;
    }

    .w-98 {
      width: 98%;
    }
  }
}

.button-download-template-import {
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  color: #1A85E4;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.icon-activity {
  position: absolute;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}

.VueTables__child-row-toggler--closed::before {
  content: "+";
}

.VueTables__child-row-toggler--open::before {
  content: "-";
}

.server-table-dataset {
  .VueTables__limit {
    display: none;
  }

  .VuePagination {
    display: none;
  }
}

.wrap-custom-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;

  .total-count {
    font-family: var(--fontThisApps) !important;
    font-weight: 400;
    font-size: 12px;
    color: #b7b7b7;
    margin-bottom: 0;
  }
  .custom-pagination {
    float: unset;
    margin-top: 0;
  }
}
.custom-pagination {
  float: right;
  display: flex;
  margin-top: -20px;

  .btn-previous {
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .btn-forward {
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.popover {
  z-index: 997 !important;
}

.btn-table-refresh {
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    transition: transform 0.5s ease;
  }
}
