.btn-add-additional-info {
  &:hover {
  text-decoration: underline;
  color: darken(#4a90e2, 10%)
  }
  padding: 5px 0;
  color: #4a90e2;
}

.card-field-container {
  padding: 10px 24px;
  margin-bottom: 14px;
  font-size: 12px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 rgba(141,139,139,0.5);
  box-shadow: 0 0 4px 0 rgba(141,139,139,0.5);
  border-radius: 7px !important;
}

.card-field-component {
  padding: 10px 24px;
  margin-bottom: 14px;
  font-size: 12px;
  background-color: #f6f6f6;
  border-radius: 7px !important;
}

.card-master-container {
  width: 27%;
  margin-left: 50px;
  margin-top: -40px;
  font-size: 12px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(141, 139, 139, 0.5);
  border-radius: 7px!important;
}

.card-form-container {
  border: 1px solid #ececec;
  padding: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  background-color: whitesmoke;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-dropdown {
  cursor: pointer;
  padding: 5px 15px;
}

.cursor-dropdown:hover {
  background-color: #4a90e2;
  color: #fff
}

.page-setting {
  background-color: #f4f5f7;
}

.chart-btn {
  width: 30%;
}

.card-board {
  box-shadow: 0 0 4px 0 rgba(141, 139, 139, 0.5);
  border-radius: 7px!important;
}

.card-privileges-container {
  padding: 10px 24px;
  margin-bottom: 14px;
  font-size: 12px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 rgba(141,139,139,0.5);
  box-shadow: 0 0 4px 0 rgba(141,139,139,0.5);
  border-radius: 7px !important;
}

.p--0 {
  padding: 0px !important;
}

.btn-import-form {
  padding: 7px 15px !important;
  background: #efefef !important;
  color: #505050 !important;
}

.label-import {
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #606060;
}

.custom-file-label {
  font-weight: 400 !important;
}

.btn-download-template {
  margin-left: 15px;
  background-color: #fff;
  color: #808285;
}

.btn-download-template:hover {
  background-color: #fff !important;
  color: #808285 !important;
}

.error-data {
  margin-left: 30px;
}

.setting-csv {
  margin-left: 30px;
}

.component-import {
  padding: 0px !important;
  -ms-flex: 0 0 6%;
  -webkit-box-flex: 0;
  flex: 0 0 6%;
  max-width: 6%;
}

.component-add-record {
  padding-right: 5px !important;
}