.jTable .VuePagination .text-center .page-link {
  color: #4a90e2;
}

.jTable .VuePagination .text-center .page-item.active .page-link {
  background-color: #4a90e2;
  color: #fff;
}

.page-item.active .page-link {
  border-color: #4a90e2;
}

.component-title {
  font-weight: 600;
  color: #5c5b5b;
  font-size: 18px;
  text-transform: lowercase;
}

.component-title:first-letter,
.component-title:first-line {
  text-transform: capitalize;
}

.component-card {
  padding: 20px 20px 20px 20px;
  border-radius: 7px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
}

.component-card label {
  color: #353535;
}

.component-card .form-group {
  margin-bottom: 10px !important;
}

.component-card-full-screen {
  margin: 0px !important;
  width: max-content;

  .header-multiple {
    position: static !important;
  }
}

.component-card-detail-multi {
  margin: 40px 15px;
  padding: 20px 20px 20px 20px;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
}

.component-card-detail-multi label {
  color: #353535;
}

.component-card-detail-multi .form-group {
  margin-bottom: 10px !important;
}

.component-leave-config {
  padding: 20px 20px 50px 20px;
  border-radius: 7px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #f1f1f1;
}

.board-component {
  padding-bottom: 0px !important;
}

.kanban {
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.board-component .tab-content {
  display: none;
}

.board-component .nav-tabs {
  background-color: #fff;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.jTable .VueTables__search {
  float: left !important;
}

.table-full-screen .jTable .table-responsive {
  overflow-x: unset !important;
}

.table-full-screen .jTable .VueTables__table {
  overflow-x: unset !important;
}

.table-full-screen .VueTables__table thead th {
  position: sticky !important;
  top: 50px;
  z-index: 2;
}

.attendance-table .popover {
  max-width: 600px;
}

.custom-control .custom-radio .custom-control-inline {
  margin-right: 1rem !important;
}

.info-fraud {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 6px 8px;
  gap: 4px;
  background: #FFF9F9;
  border: 1px solid #D0021B;
  border-radius: 4px;
  cursor: pointer;

  span {
    font-weight: 600 !important;
    font-size: 12px;
    line-height: 18px;
    color: #D0021B;
    text-transform: none;
    white-space: nowrap;
  }

  &-table {
    padding: 4px 8px;

    span {
      font-size: 10px;
    }
  }
}

.icon-full-screen {
  .tooltip-freeze-header {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0px 1px 12px rgba(114, 109, 109, 0.25);
    font-family: 'Gotham-Medium';
    font-size: 12px;
    color: #606060;
    white-space: nowrap;
    opacity: 0;
    transition: all ease 0.4s;
    z-index: 1;
  }

  &:hover {
    .tooltip-freeze-header {
        opacity: 1;
    }
  }
}
