// sass-lint:disable-all
// Table flow and Rules
.create-flow {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.jTable {
  padding: 0;
}

.flow-table {
  display: inline-block;
}

.flow-arrow {
  background: #84daf4;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  float: left;
  font-weight: bold;
  line-height: 30px;
  padding: 0 15px 0 35px;
  // color: black;
  position: relative;
  &:first-child {
    padding-left: 15px;
  }

  &:after {
    background-color: #84daf4;
    box-shadow: 2px 2px 0 0 #fff;
    content: "";
    height: 30px;
    position: absolute;
    right: -15px;
    top: 0;
    transform: rotate(-45deg) scale(.73);
    width: 30px;
    z-index: 1;
  }

  &.light-blue-flow {
    background: lighten(#84daf4, 10%);
    &:after {
      background: lighten(#84daf4, 10%);
    }
  }
}

.jFlow {
  &.flow-flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 20px;

    h2 {
      margin: 30px 0 60px;
    }

    .add-approver-flow {
      margin-bottom: 100px;
    }

    // card box approver order
    .approver-order {
      font-weight: bold;
      position: relative;
      width: 250px;

      .header-flow {
        background: #86d8fa;
        border: 1px solid #86d8fa;
        border-radius: 5px 5px 0 0;
        color: #000;
        padding: 8px 15px;
      }

      .header-actions {
        color: #fff;
        position: absolute;
        right: 10px;
        .fa {
          cursor: pointer;
        }
      }

      .content-flow {
        border: 1px solid #86d8fa;
        border-radius: 0 0 5px 5px;
        padding: 15px;
        // max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    // formgroup margin in add approver
    .b-form-group {
      padding-left: 24px;
    }
    // for margin in save approver
    .save-flow-approver .b-form-group {
      padding-left: 0;
    }
    //title modal
    .title-flow{
      padding-bottom: 20px;
    }

    // button flex in modal
    .wrap-button-flow {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      .outline {
        margin-left: 20px;
      }
    }
    //close modal flow
    .close-modal-flow {
      color: $blue-basic-color;
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      right: 20px;
      top: 16px;
    }
  }

  .bullet-center {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    &.fl-right {
      justify-content: flex-end;
      position: absolute;
      right: 100px;
      i {
        color: $blue-basic-color;
        font-size: 30px;
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: rotate(360deg);
          transition: transform 0.5s ease-in-out;
        }
      }
    }

    .line-empty {
      border: 1px solid #b4e9ff;
      height: 100px;
      &.half-line {
        height: 50px;
      }
    }
  }
  .flow-new__bullet-top {
    background: #b4e9ff;
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 50px;
    i {
      font-size: 30px;
      position: absolute;
      right: 10.7px;
      top: 10px;
    }
  }
}

.jRules.jFlow {
  .approver-order {
    &.inline--block {
      margin-bottom: 15px;
      position: relative;
    }
    .header-flow{
      background: #86d8fa;
      border: 1px solid #86d8fa;
      border-radius: 5px 5px 0 0;
      color: #000;
      padding: 5px 10px;
      position: relative;
      width: 200px;
    }

    .content-flow {
      border: 1px solid #86d8fa;
      border-radius: 0 0 5px 5px;
      padding: 10px;
    }

    .header-actions {
      color: #fff;
      position: absolute;
      right: 10px;
    }

    .line-wrap {
      left: 0;
      position: relative;
      top: -41px;
      .line-horizontal {
        width: 50px;
      }
    }

    .box-flow {
      left: -4px;
      position: relative;
    }
  }

  .wrap-button-flow {
    margin-right: 10px;
    position: absolute;
    right: 15px;
    top: -20px;
    i {
      color: #42a5ce;
      cursor: pointer;
      font-size: 20px;
      margin-left: 20px;
    }
  }

  .overflow-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    .inline--block.bullet {
      position: relative;
      top: -29px;
    }
  }
}

.jIndexFlows {
  .space-floating {
    height: 215px;
    width: 100%;
  }
}

.v-singleselect {
  .dropdown-toggle::after {
    content: unset;
  }
}
