// Global modifier
#page-content-wrapper {
  background-color: #fcfdfe !important;
  padding-top: 20px;
}

#company-default-banner {
  width: 100%;
  height: 290px;
  background-size: cover;
  position: relative;
  background-color: rgba(131, 131, 131, 0.30);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../assets/image/officeless.jpg');
}

.skeleton-button-approver {
  width: 100px;
  height: 34px;
  border-radius: 7px;
  background-color: #dcdcdc;
  margin-left: 5px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton-app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(182px, 1fr));
  grid-gap: 8px;

  .list {
    height: 90px;
    background-color: #F4F4F4;
    border-radius: 6px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }
}

.modal {
  overflow-y: auto !important;
}

#modal-list-app {
  .popover {
    width: 400px;
    padding: 10px;

    .list-applications {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 200px;

      .application-card {
        font-size: 12px;
        padding: 0.15rem 0.5rem;
      }

      .application-card div:last-child {
        margin-left: auto;
      }
    }
  }

  .header-modal-list-app {
    padding: 25px;
    margin: -20px;
    box-shadow: 0px 4px 28px 0px #B9B7B75C;
  }

  .body-modal-list-app {
    margin-top: 40px;
    min-height: 15vh;
    max-height: 65vh;
    overflow-x: hidden;
    margin-bottom: 50px;
  }

  .search-application {
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 0.375rem;
    box-shadow: 0 1px 5px #9494944f;
  
    &-icon {
      position: absolute;
      z-index: 1;
      transform: translateY(60%);
      margin-left: 10px;
    }
  
    &-input {
      input {
        padding-left: 32px;
      }
      .jFormGroup.form-control {
        color: #334155;
        border: none;
        transition-duration: .3s;
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        ::placeholder {
          color: #9CA3AF;
          &:hover {
            color: #A8A29E;
          }
        }
        &:hover {
          background-color: #F5F5F4;
        }
        &:focus {
          outline: 2px solid transparent;
          outline-offset: 2px;
          border-bottom-width: 2px;
          background-color: white;
        }
      }
    }

    &-input.is-active {
      .jFormGroup.form-control {
        box-shadow: inset 0 -2px 0 #42a5ce;
      }
    }
  }
}

.container-app-search {
  .popover {
    max-width: 600px;
  }
}

.container-app-search-table-view {
  .popover {
    max-width: 700px;
  }
}

#company-banner {
  width: 100%;
  height: 290px;
  background-size: cover;
  position: relative;
  background-color: rgba(131, 131, 131, 0.4);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  &:after {
    visibility: visible;
    content: '';
    position: absolute;
    width: 102%;
    height: 105%;
    left: -1%;
    top: 0%;
    bottom: 0%;
    background: inherit;
    -webkit-filter: url('#blur') brightness(0.7);
    -moz-filter: url('#blur') brightness(0.7);
    filter: url('#blur') brightness(0.7);
  }
}

.modal-backdrop {
  background-color: #000;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: solid 1px #979797;
  background-color: rgba(63, 76, 91, 0.4);
}

.modal-backdrop.show {
  opacity: 5;
}

.mod-form .modal-dialog {
  max-width: 800px;
}

.mod-dynamic .modal-dialog {
  max-width: 600px;
}

.mod-dynamic .modal-content {
  padding: 0px 10px;
}

.mod-dynamic header.modal-header,
.mod-dynamic footer.modal-footer {
  display: none !important;
}

.pass-form .modal-dialog {
  max-width: 560px;
}

.pass-form .modal-content {
  padding: 0px 10px;
}

.pass-form header.modal-header,
.pass-form footer.modal-footer {
  display: none !important;
}

.light-blue {
  color: #1a85e4;
}

.modal-title {
  font-size: 14px;
  color: #626262 !important;
  font-weight: 500;
  text-align: center;
}

.btn.blue.btn-secondary {
  background: #1a85e4;
  border: none;
  color: #fff;
}

.btn.white.btn-secondary {
  background: #fff;
  border: none;
  color: #4a90e2;
}

.btn.red.btn-secondary {
  background: #d0021b;
}

.btn.gray.btn-secondary {
  background: #808285;
}

.btn-brown.btn-secondary {
  background: #4d3923;
}

.btn-green.btn-secondary {
  background: #0c9c68;
}

.btn.blue.btn-secondary:not(:disabled):not(.disabled):hover {
  background: #3b72b1;
}

.btn.white.btn-secondary:not(:disabled):not(.disabled):hover {
  background: #f6f6f6;
}

.c--approved {
  color: #4a90e2 !important;
}

// Home Page
.home-content {
  padding: 0 20px;
  height: 100vh;
}

.content {
  padding: 0 20px;
  height: 100vh;
}

.fingerprint {
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.btn.blue.outline.btn-secondary {
  color: white;
  border: 0px;
  background-color: #4a90e2 !important;
}

.btn.blue.outline.btn-secondary:not(:disabled):not(.disabled):hover {
  border-color: transparent;
  background-color: #3a71b1 !important;
}

.content-officeless-home {
  top: -190px;
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.content-officeless-profile {
  top: 50px;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.more-app-button {
  align-items: center;
  border-radius: 15px;
  background-color: #fafafa;
  color: #838383;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 2px;
}

.more-app-button:hover {
  color: #4a4a4a;
  box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.15);
  background-color: #ffffff;
}

.on-empty {
  border: 1px solid #979797;
}

.icon-more-app {
  display: inline-block;
}

.text-more-app {
  display: inline-block;
}

.profile-box {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 18px;
}

.profile-name {
  font-weight: 600;
  font-size: 28px;
  text-shadow: 1px 1px #18161689;
  margin-bottom: 1px;
}

.profile-position {
  width: min-content;
  position: relative;
  
  .profile-position-selected {
    display: flex;
    align-items: center;

    p {
      font-weight: 500 !important;
      font-size: 16px;
      color: #ffffff;
      margin-bottom: 0;
      white-space: nowrap;
    }
  
    .icon-dropdown-profile {
      color: #FFFFFF;
      font-size: 14px;
    }
  }

  .popup-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 338px;
    padding: 12px 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 40px 0px #BDBFC67D;
    z-index: 1;

    .title-popup-position {
      font-weight: 600 !important;
      font-size: 16px;
      color: #4A4A4A;
      margin-bottom: 15px;
    }

    .list-popup-position {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      img {
        width: 16px;
        height: 16px;
      }
      .position-name {
        font-weight: 500 !important;
        font-size: 12px;
        color: #606060;
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.profile-images img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  vertical-align: text-bottom;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  object-fit: cover;
}

.profile-images {
  .default-profile-wrap {
    position: relative;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show-modal-photo-profile {
      z-index: 40100;
      animation: forceUploadPhoto 3s infinite;
      transition: border ease-out;
    }

    div {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      vertical-align: text-bottom;
      -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
      object-fit: cover;
      background-image: url('../assets/image/profile.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 66px 66px;
    }
  }
}

@keyframes forceUploadPhoto {
  0% {
    transform: scale(1);
    border: none;
  }
  30% {
    transform: scale(1.05);
    border: 5px solid rgba(255, 255, 255, 0.8);
  }
  40% {
    transform: scale(1.1);
    border: 5px solid rgba(255, 255, 255, 1);
  }
  50% {
    transform: scale(1.1);
    border: 5px solid rgba(255, 255, 255, 1);
  }
  70% {
    transform: scale(1.12);
    border: 5px solid rgba(255, 255, 255, 0.1);
  }
  100% {
    transform: scale(1);
    border: none;
  }
}

.hierarchy-block-rows {
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.hierarchy-block-cols {
  width: 200px;
  text-align: center;
  display: inline-block;
}

.hierarchy-images {
  position: relative;
}

.hierarchy-images img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  vertical-align: text-bottom;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  object-fit: cover;
}

.hierarchy-images-bordered {
  position: relative;
}

.hierarchy-images-bordered img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  vertical-align: text-bottom;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, .17);
  object-fit: cover;
  border: solid 3px #1a85e4;
}

.hierarchy-line-horizontal {
  border: 1px solid #D8D8D8;
  width: 200px;
  height: 1px;
}

.hierarchy-line-horizontal-first {
  border: 1px solid #D8D8D8;
  width: 110px;
  height: 1px;
  margin-left: 98px;
}

.hierarchy-line-horizontal-last {
  border: 1px solid #D8D8D8;
  width: 100px;
  height: 1px;
}

.hierarchy-line-vertical {
  min-height: 20px;
  border: 1px solid #D8D8D8;
  width: 1px;
  margin-left: 98px;
}

.hierarchy-line-vertical-white {
  min-height: 20px;
  border: 1px solid rgb(255, 255, 255);
  width: 1px;
  margin-left: 98px;
}

.hierarchy-label-name {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9a9a9a;
}

.hierarchy-label-position {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a85e4;
}

.hierarchy-icon-edit {
  position: absolute;
  margin-left: 95px;
}

.hierarchy-total-childs {
  position: absolute;
  margin-top: 58px;
  margin-left: -58px;
  padding-top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: text-bottom;
  -webkit-box-shadow: 0px 2px 6px rgba(171, 171, 171, 0.5);
  box-shadow: 0px 2px 6px rgba(171, 171, 171, 0.5);
  object-fit: cover;
  background-color: #f6f6f6;
  font-weight: 600;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1a85e4;
}

.title-bold {
  font-weight: 600;
}

.title-menu {
  font-weight: 600;
  font-size: 14px;
}

.others-menu {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}

.text-group-application {
  font-weight: 600;
  font-size: 12px;
  color: #606060;
  margin-bottom: 5px;
  padding-left: 12px;
}

.text-group-application.no-group {
  color: #9A9A9A;
}

.application-row {
  margin-left: -5px;
  margin-right: -5px;
}

.application-officeless-box {
  border: 0px !important;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 15px;
  color: #4a4a4a;
  border-radius: 7px;
  cursor: auto;
  min-height: 120px;
  box-shadow: 0 0 8px 0 rgba(146, 146, 146, 0.15);
  -webkit-box-shadow: 0 0 8px 0 rgba(146, 146, 146, 0.15);
}

.widget-box {
  border-radius: 8px;
  padding: 10px 24px;
  margin-bottom: 14px;
  font-size: 12px;
  border: solid 1px #F1F1F1;
  background-color: #FFFFFF;
  height: auto;
}

.widget-box img {
  max-width: 100%
}

.widget-box-html {
  height: auto !important;
}

.add-favorite-card {
  border: 1px dashed #cbcbcb;

  .card-body {
    justify-content: center;
    padding: 1rem;
  }
}

.application-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #fafafa;
  color: #838383;
  font-weight: 600;
  font-size: 12px;
  height: 75px;
  max-height: 75px;
  cursor: pointer;
}

.application-card:hover {
  color: #4a4a4a;
  box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.15);
  background-color: #ffffff;
}

.application-card .text-aplication {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  font-weight: 500;
}

.application-card.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.application-card-modal {
  display: flex;
  align-items: center;
  color: #606060;
  height: 45px;
  padding: 9px 13px 9px 13px;
  border-bottom: 1px solid #E7E7E7;
  cursor: pointer;
}

.application-card-modal:hover {
  background: linear-gradient(0deg, #F2F2F2, #F2F2F2),
  linear-gradient(0deg, #E7E7E7, #E7E7E7);
}

.application-card-modal .text-aplication {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  font-weight: 500;
  font-size: 12px;
}

.icon-favorite-application {
  position: absolute;
  top: 12px;
  right: 18px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  .tooltip-pin-favorite {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0px 1px 12px rgba(114, 109, 109, 0.25);
    font-weight: 400;
    font-size: 12px;
    color: #606060;
    white-space: nowrap;
    opacity: 0;
    transition: all ease 0.4s;
    z-index: 1;
  
    span {
      font-weight: 600;
    }
  }

  &:hover {
    .tooltip-pin-favorite {
        opacity: 1;
    }
  }
}

.application-card-modal.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.maintenance-mode-app {
  display: flex;
  position: absolute;
  max-width: max-content;
  background: #FFF6D8;
  border-radius: 7px;
  font-weight: 500;
  font-size: 8px;
  line-height: 14px;
  color: #4A4A4A;
  padding: 4px;
  align-items: center;
  top: 20px;
  right: 10px;
}

.maintenance-mode-app.on-modal {
  top: 5px !important;
}

.discussion-content {
  border: none;
  height: 550px;
  width: 100%;
}

.discussion-widget-box {
  border: none;
  width: 100%;
  height: 450px;
}

.item-quick-action {
  padding: 10px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.item-quick-action:hover {
  color: #4a4a4a;
  box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.15);
  background-color: #ffffff;
}

.item-quick-action-child {
  padding: 10px;
  border-radius: 8px;
  background-color: #fafafa;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 30px;
  max-width: 250px;
}

.item-quick-action-child:hover {
  color: #4a4a4a;
  box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.15);
  background-color: #ffffff;
}

.icon-quick-action {
  margin-right: 10px;
}

.copyright-section {
  color: #b7b7b7;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  padding-bottom: 20px;

  a {
    font-weight: 500;
    color: #1a85e4;
  }

  p{
    margin: 5px 0;
  }
}

.modal-content {
  border-radius: 24px;
  box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.31);
}

.mod-expired .modal-content {
  max-width: 450px !important;
  margin: 0 auto !important;
}

.jNavBar .nav-link {
  padding: 0 10px !important;
}

.jNavBar .round-bordered-img-small {
  margin-top: 0 !important;
}

.icon-aplication {
  float: left;
}

// Create Application Modal
.dark-dot {
  height: 10px;
  width: 10px;
  background-color: #1a85e4;
  border-radius: 50%;
  display: inline-block;
}

.light-dot {
  height: 10px;
  width: 10px;
  background-color: #e8ecef;
  border-radius: 50%;
  display: inline-block;
}

.menu-row {
  border-radius: 7px;
  background-color: #f5f5f5;
}

.child-row {
  border: 1px solid #dddddd;
  margin-left: 50px;
  padding: 0 10px;
}

.form-page {
  border-radius: 7px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.div-add-page {
  text-align: right;
  border: 1px dashed #dddddd;
  border-radius: 7px;
  padding: 10px;

}

.action-icon {
  font-size: 1.3em;

  &:hover {
    cursor: pointer;
    color: #1a85e4;
  }
}

.btn-add-page {
  width: 84px;
  height: 21px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #f1f1f1;
  cursor: pointer;

  &:hover {
    color: #1a85e4;
  }
}

button.btn-add-widget:focus {
  outline: 0;
}

.card-select-widget {
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.card-attendance {
  background-color: #d6495f;
  color: white;
}

.card-not-attendance {
  background-color: #eaf7ef;
  color: #2e7a4b;
}

.card-timesheet {
  background-color: #ffffff;
  color: #1a85e4;
}

.card-leave {
  height: auto !important;
  max-height: 380px !important;
}

.content-quota-leave {
  max-height: 320px !important;
  overflow-y: scroll;
}

.card-add-widget {
  border: 2px solid rgba(141, 139, 139, 0.5);
  border-style: dashed;
}

.cursorPointer {
  cursor: pointer;
}

.jTable.tempTable .form-control {
  width: 100% !important;
  height: 34px !important;
}

.jTable.tempTable .VueTables__search {
  width: 86%;
}

.jTable.tempTable .search-btn {
  padding: 7px 18px !important;
}

.jTable.tempTable .custom-search .jDatePicker {
  height: 34px;
}

.swal2-popup {
  border-radius: 30px !important;
}

.application-fav-empty {
  width: 100%;
  height: 118px;
  background-color: #EEF7FB;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}