.logs-container-times {
  .timeline-wrapper {
    height: auto;
    overflow-y: auto;
    padding-right: 1rem;
    
    .jTimeLine-oos {
      overflow: hidden;

      .canceled.last.noSub,
      .aborted.last.noSub {
        overflow: hidden;
      }
    }
  }

}