//css normalize box login
#login-html.login-html {
  background: url('https://corp2.jojonomic.com/assets/img/login/bg-login.jpg') no-repeat center center fixed;
  background-size: cover;
  background-size: contain cover;
  background-position: center center;
  height: 100%;
  width: 100%;

  .login-box {
    animation: fadein 2s;
    left: 50%;
    max-width: 385px;
    padding: 0 20px;
    position: relative;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: 999;

    .img-logo-login {
      padding: 50px 50px 30px 50px;
      width: 100%;
    }

    button {
      width: 100%;
    }

    .forgot {
      font-size: 14px;
    }

    .login-title {
      font-size: 18px;
      text-align: center;
      color: #fff;
    }

    .login-error {
      background: #FEE2E2;
      border-radius: 9px;
      height: 72px;
      color: #CB5555;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 10px;
      padding: 8px 14px;
    }

    .login-separator {
      font-size: 12px;
      text-align: center;
      color: #fff;
      margin-bottom: 7px !important;
    }

    .btn {
      padding: 12px 0;
    }

    //css normalize form email and password
    .b-form-group {
      height: 40px;
      margin-bottom: 5px;

      input[type='email'],
      input[type='password'],
      input[type='text'] {
        background-image: url('https://corp.jojonomic.com/assets/img/login/email.png');
        background-position: 23px center;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        padding: 0 50px;
      }

      input[type='password'],
      input[type='text'] {
        background-image: url('https://corp.jojonomic.com/assets/img/login/password.png');
      }

      .form-control {
        border: 0;
        color: $grey-basic-color;
        height: 40px;
      }
    }

    //css normalize check-box show-password
    .custom-control {
      margin-bottom: 30px;

      .custom-control-label {
        color: $white-basic-color;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 0;

        &::before {
          background: $white-basic-color;
          height: 20px;
          top: 1.5px;
          width: 20px;
        }

        &::after {
          height: 2px;
          left: -20px;
          top: 4px;
          transform: rotate(-45deg);
          transition: height .25s ease-out, transform .25s ease-out, width .25s ease-out;
          width: 2px;
        }

        &:hover::after {
          border-bottom: 2px solid $grey-sample2;
          border-left: 2px solid $grey-sample2;
          height: 8px;
          transition: height .25s ease-out, transform .25s ease-out, width .25s ease-out;
          width: 12px;
        }
      }
    }

    .custom-control .custom-control-input:checked ~ {
      .custom-control-label {

        &::after {
          border-bottom: 2px solid $grey-basic-color;
          border-left: 2px solid $grey-basic-color;
          height: 8px;
          left: -22px;
          top: 0;
          width: 25px;
        }
      }
    }

    //css normalize button login and register
    .row {
      margin-bottom: 10px;

      .btn-left {
        padding-right: 2px;

        .btn {
          background: $blue-sample;
          border: 0;
          border-radius: 4px;
          padding: 6px 12px;

          &:hover {
            background: darken($blue-sample, 20%);
          }

          &.disabled {
            cursor: not-allowed;

            &:hover {
              background: $blue-sample;
            }
          }
        }
      }

      .btn-right {
        padding-left: 2px;

        .btn {
          background: $grey-sample3;
          border: 0;
          border-radius: 4px;
          padding: 6px 12px;

          &:hover {
            background: darken($grey-sample3, 20%);
          }
        }
      }
    }
  }

  @media screen and (max-height: 625px) {
    .login-box {
      top: 40%;
    }
  }

  @media screen and (max-height: 760px) {
    .login-box {
      max-width: 345px !important;

      .img-logo-login {
        padding: 30px 50px 15px;
      }

      .btn-login-large {
        padding: 5px 5px 5px 55px !important;
      }
    }

    .g-recaptcha {
      transform: scale(1.01) !important;
    }
  }

  // other condition
  .error-input {
    background: $light-sample;
    border: transparent !important;
  }

  // placeholder
  input#exampleInput1::placeholder,
  input#exampleInput2::placeholder {
    font-size: 14px;
    opacity: .5;
  }

  // forgot password
  .forgot_password {
    color: $blue-sample !important;
    font-size: 13px;
    transition: color .15s ease-in-out;

    &:hover {
      color: darken($blue-sample, 20%) !important;
      transition: color .15s ease-in-out;
    }
  }

  .login-blur{
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 32px 0 rgba(0, 0, 0, 0.13);
    background-image: linear-gradient(to bottom, rgba(85, 85, 85, 0.08), rgba(0, 0, 0, 0.73) 78%);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .login-copy {
    position: absolute;
    color: white;
    bottom: 5px;
    text-align: center;
    width: 100%;
  }

  .login-copy p{
    margin: 5px 0;
    color: #c1c1c1;
    font-weight: lighter;
    font-size: 11px;
  }

  .login-copy p strong{
    font-weight: bold;
    color: white;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") !important;
}

#loginPasswordInputLdap, #loginPasswordCustomLogin, #loginPasswordInput > div {
  position: relative;
}

#loginPasswordInput > div label{
  position: absolute;
  top: 9px;
  right: 11px;
  font-size: 26px;
}

#loginPasswordInputLdap > div label{
  position: absolute;
  top: 15px;
  right: 11px;
  font-size: 26px;
}

#loginPasswordCustomLogin > div label{
  position: absolute;
  top: 15px;
  right: 14px;
  font-size: 20px;
  cursor: pointer;
}

.outline-btn {
  border: solid 1.6px #dfdfdf;
  border-radius: 7px;
  background-color: rgba(121, 121, 121, 0.29);
}

.outline-btn-white {
  border: solid 1.6px #dfdfdf;
  border-radius: 7px;
  background-color: #ffffff;
  color: #787878;
}

.btn-login {
  padding: 5px 10px !important;
  text-align: left !important;
  height: 52px !important;
  margin-bottom: 10px;
}

.btn-login-large {
  padding: 5px 5px 5px 73px !important;
  text-align: left !important;
  height: 52px !important;
  margin-bottom: 10px;
}

.btn-other-login {
  height: 52px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;

  img {
    height: 35px;
    margin-right: 10px;
    margin-left: 5px;
  }
}

.f-blue-login {
  color: #007bff;
  font-size: 14px;
  font-weight: 500;
}

.img-login {
  padding: 0px !important;
  width: 25px !important;
  margin: 5px 10px 2px 2px !important;
}

.img-login-small {
  padding: 0px !important;
  width: 25px !important;
  margin: 6px 10px 2px 2px !important;
}

.img-login-error {
  padding: 0px !important;
  width: 20px !important;
  margin: 2px 2px 2px 2px !important;
}

.label-warning-login {
  color: #B90505;
  font-weight: 500;
  font-size: 14px;
  padding-top: 1px;
  margin-left: 5px;
}

.content-btn-another-login {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4px;

  // 2 button
  &:has(> :nth-child(2):last-child) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  // 3 button
  &:has(> :nth-child(3):last-child) {
    grid-template-columns: repeat(2, 1fr);
    
    > :nth-child(3) {
      grid-column: 1 / -1;
    }
  }
  
  // 4 button or more
  &:has(> :nth-child(4)) {
    grid-template-columns: repeat(2, 1fr);
    
    // Ensure that the last row is always fully filled
    &:has(> :nth-child(odd):last-child) {
      > :last-child {
        grid-column: 1 / -1;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
