.log-activity {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 226px 1fr;
  min-height: 400px;

  &__sidebar {
    box-shadow: 0px 4px 14px 0px rgba(174, 174, 174, 0.25);
  }

  &__menu {
    width: 100%;
    margin-top: 28px;

    &__item {
      display: flex;
      width: 100%;
      gap: 7px;
      align-items: stretch;
      justify-content: start;
      padding: 6px 0px 6px 24px;
      color: #606060;
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;

      &--active {
        border-left: 2px solid #1A85E4;
        box-shadow: 0px 4px 20px 0px rgba(214, 214, 214, 0.25);
      }

      &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }


  &__content {
    position: relative;
    width: 100%;
    padding: 24px 60px;

    h2 {
      color: #606060;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 16px;
    }
  }

  &__card {
    display: flex;
    gap: 10px;
    padding: 10px 21px;
    margin-top: 12px;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 17px 0px rgba(182, 182, 182, 0.25);

    &__icon {
      width: 28px;
      margin-top: 4px;

      img {
        width: 100%;
        height: 28px;
      }
    }

    &__info {
      width: 82%;
    }

    &__title {
      color: #606060;
      font-size: 12px;
      margin-bottom: 0px;
    }

    &__subtitle {
      color: #606060;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      padding: 4px;
      border-radius: 8px;
      margin-top: 8px;

      span {
        font-size: 10px;
        font-weight: 600 !important;
        text-transform: uppercase;
        line-height: 10px;
      }

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      &--green {
        background: #F0F8E5;
        color: #61BC50;

        .circle {
          background: #61BC50;
        }
      }

      &--gray {
        background: #F1F4F6;
        color: #9A9A9A;

        .circle {
          background: #9A9A9A;
        }
      }
    }

    &__button {
      display: flex;
      width: fit-content;
      padding: 4px 14px;
      margin-top: 4px;
      align-items: center;
      justify-content: center;
      color: #606060;
      font-size: 8px;
      font-weight: 500;
      border-radius: 4px;
      border: 1px solid #E7E7E7;
      line-height: 8px;
      cursor: pointer;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;

    &__prev,
    &__next {
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      background-color: #ffffff;

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}
