// OFFICELESS LIBRARY CLASS ----------------------------
$default-studio: #606060;
$white-studio: #FFFFFF;

$closed-studio: #0C9C68;
$sent-studio: #F36F21;

$secondary-studio: #9A9A9A;
$primary-studio: #1A85E4;

$delete-studio: #D0021B;

.heading-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.heading-3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.heading-4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.heading-5 {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
}

.text-information {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}
// ------------------------------------------------------------

#maintenanceModeSetting {
  .maintenance-container {
    margin: auto;
    padding: 16px;
    width: 729px;
    min-height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(191, 191, 191, 0.51);
    border-radius: 11px;
    
    .title {
      color: $default-studio;
    }

    .btn-add {
      color: $primary-studio;
      margin-top: 5px;
      margin-left: 10px;
      cursor: pointer;
    }

    .search-data {
      position: relative;
      width: 200px;
      margin-left: 297px;

      i {
        position: absolute;
        left: 19px;
        top: 4px;
        color: #d0d0d0;
      }

      input {
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        background-color: transparent;
        color: #606060;
        border: none;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 5px;
        transition: all ease 0.6s;
        margin: 0 15px;
        padding: 3px 0px 3px 25px;

        &:focus {
          outline: none;
          border-color: #1A85E4;
          background: rgba(255, 255, 255, 0.14);
        }

        &::placeholder {
          font-weight: 400;
          color: #CBCBCB;
        }
      }
    }

    .maintenance-list {
      border: 1px solid #E7E7E7;
      border-radius: 7px;
      margin-top: 10px;
      padding: 5px 15px;
      display: flex;
      align-items: center;

      .title-list {
        width: 220px;
      }

      .date-list {
        display: flex;
        align-items: center;
        color: $secondary-studio;
        padding-left: 10px;
        border-left: 1px solid #E7E7E7;
        width: 295px;
      }

      .config-list {
        border-left: 1px solid #E7E7E7;
      }

      .block-status {
        padding: 1px 5px;
        width: 81px;
        height: 17px;
        text-transform: uppercase;
        border-radius: 6px;
        text-align: center;
      }

      .upcoming {
        border: 1px solid $primary-studio;
        color: $primary-studio;
      }

      .active {
        border: 1px solid $closed-studio;
        color: $closed-studio;
      }

      .expired {
        border: 1px solid $delete-studio;
        color: $delete-studio;
      }

      .terminated {
        border: 1px solid $sent-studio;
        color: $sent-studio;
      }

      .unknown {
        border: 1px solid $default-studio;
        color: $default-studio;
      }
    }

    .custom-pagination {
      float: inherit;
      display: flex;
      margin-top: 10px;
      height: 28px;
      margin-left: 645px;
  
      .btn-previous {
          padding: 2px 6px;
          border: 1px solid #eeeeee;
          border-radius: 5px;
          background-color: #ffffff;
          cursor: pointer;
      }
  
      .btn-forward {
          padding: 2px 6px;
          border: 1px solid #eeeeee;
          border-radius: 5px;
          background-color: #ffffff;
          cursor: pointer;
      }
    }

    .maintenance-overflow-list {
      max-height: 450px;
      overflow-x: hidden;
    }

    .maintenance-no-data {
      text-align: center;
      margin-top: 20px;
    }

    .skeleton {
      width: 100%;
      height: 30px;
      border-radius: 7px;
      margin-bottom: 10px;
      background-color: #F4F4F4;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }

  .show-container-properties-automation {
      right: 0% !important;
      transition: 0.3s !important;
  }

  .hide-container-properties-automation {
      right: -568px !important;
      transition: 0.3s !important;
  }

  .container-properties-automation {
    background: #ffffff;
    width: 568px;
    padding: 70px 20px 70px 20px;
    font-weight: 400;
    box-shadow: 0 0 8px 0 rgba(79, 79, 79, 0.14);
    position: fixed;
    top: 0%;
    right: -568px;
    height: 100%;
    z-index: 995;
    overflow-x: scroll;
    max-height: 100%;

    .label-log-detail {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 10px;
      color: #4A4A4A;
      font-weight: 600;
      line-height: 30px;
    }

    .label-log-detail span {
      background: #606060;
      border-radius: 7px;
      color: #FFFFFF;
      font-size: 8px;
      padding: 2px 4px;
      position: relative;
      top: -4px;
    }

    .level-maintenance {
      min-width: 85px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 1px solid #E7E7E7;
      font-weight: 500;
      font-size: 12px;
      color: #606060;
      margin-right: 5px;
      transition: all ease 0.4s;
      cursor: pointer;

      &.active {
        background-color: #F5FAFF;
        color: #1A85E4;
        border-color: #1A85E4;
      }

      &.disabled {
        background-color: #E7E7E7;
        color: #606060;
        border-color: #E7E7E7;
      }
    }

    hr {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }

    .custom-message {
      max-width: 450px;
    }

    .btn-terminate {
      background-color: #FAE2E5;
      border-radius: 4px;
      padding: 5px;
      width: 100px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      color: #D0021B;
      cursor: pointer;
      margin-top: 15px;
      margin-right: 15px;
    }

    .maintenance-pages-container {
      margin-top: 5px;

      .list-pages {
        border-bottom: 1px solid #E7E7E7;
        margin-top: 10px;
      }

      .list-page-child {
        border-bottom: 1px solid #E7E7E7;
        margin-top: 10px;
        margin-left: 40px;
        margin-bottom: 10px;
      }

      .information {
        display: flex;
        align-items: center;
      }
    }

    .add-suer {
      width: max-content;
    }

    .info-organigram {
      width: 425px;
    }

    .btn-remove-org {
      display: flex;
      align-items: center;
    }

    .modal-organigram {
      padding: 16px 19px;
      position: absolute;
      width: 362px;
      height: 200px;
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(191, 191, 191, 0.51);
      border-radius: 11px;
      margin-top: -200px;
      margin-left: 30px;

      .jSelectSingle.vue-treeselect .vue-treeselect__control {
        height: 50px !important;
      }

      .button-border {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 85px;
        height: 36px;
        padding: 0px 8px;
        background-color: white;
        box-shadow: none;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        color: #606060;
      }
    
      .button-blue {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 85px;
        height: 36px;
        padding: 0px 8px;
        background-color: #1A85E4;
        box-shadow: none;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 12px;
        color: white;
    
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }

  .close-properties-automation {
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }

  .privilege-data-manager-access {
    border: 1px solid #E7E7E7;
    border-radius: 13px;
    padding: 10px;
    margin-bottom: 15px;
  
    b {
      font-weight: 700;
    }
  
    label {
      max-width: 445px;
    }
  }
  
  .privilege-data-manager-access.disabled {
    opacity: 0.3;
  }
  
  .privilege-data-manager-access-toggle {
    position: absolute;
    right: 80px;
  }
  
  .show-privilege-data-manager-access-button {
    right: 0% !important;
    transition: 0.3s !important;
  }
  
  .hide-privilege-data-manager-access-button {
    right: -568px !important;
    transition: 0.3s !important;
  }
  
  .privilege-data-manager-access-button {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 568px;
    height: 60px;
    padding: 0 26px;
    background-color: white;
    box-shadow: 0px -4px 22px rgba(214, 214, 214, 0.25);
  
    .button-border {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 85px;
      height: 36px;
      padding: 0px 8px;
      background-color: white;
      box-shadow: none;
      border: 1px solid #E3E3E3;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #606060;
  
      i {
        margin-right: 5px;
      }
    }
  
    .button-border.close-prop {
      position: absolute;
      right: 26px;
    }
  
    .button-border.close-prop-2 {
      position: absolute;
      right: 125px;
    }
  
    .button-border.submit-prop {
      position: absolute;
      right: 26px;
      background: #1A85E4 !important;
      color: #FFFFFF !important;
      border: none !important;
    }
  
    .button-blue {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 85px;
      height: 36px;
      padding: 0px 8px;
      background-color: #1A85E4;
      box-shadow: none;
      border: none;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      color: white;
  
      i {
        margin-right: 5px;
      }
    }
  }
  
  .privilege-data-manager-access.error-input {
    border: 1px solid #a94442 !important;
  }

  .privilege-user-info-fullname {
    font-weight: 500;
    font-size: 12px;
    color: #525252;
    height: 14px;
  }
  
  .privilege-user-info-email {
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    color: #9C9C9C;
  }

  .round-bordered-img {
    background-size: 40px;
    border: none !important;
    border-radius: 100%;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 2px;
    width: 40px;
  }
}