.notification-page {
  position: relative;
  width: 100%;
  min-height: 500px;
  padding: 20px 24px;
  box-shadow: 0px 4px 14px 0px rgba(174, 174, 174, 0.25);

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

  &__wrap-list {
    max-height: 400px;
    overflow-x: auto;
    margin-top: 5px;
  }

  &__list-item {
    height: 90px;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    cursor: pointer;
  }

  &__item-img {
    width: 4%;
  }

  &__item-msg {
    width: 92%;
  }

  &__item-act {
    width: 4%;
  }

  &__msg-headings {
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__msg-message {
    font-size: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

  }

  &__footer {
    border-top: 1px solid #E7E7E7;
    margin: 10px -24px -20px -24px;
    padding: 7px 24px;

    span {
      cursor: pointer;
      font-size: 12px !important;
      font-weight: 600 !important;
      color: #1A85E4;
    }
  }

  .notification-screen{
    z-index: 99992 !important;

    img {
      width: 150px !important;
      height: 150px !important;
      margin-bottom: 10px;
    }
    
    .message, .title {
      max-height: 80px;
      overflow-x: auto;
    }
  }
}