.shortcut-application {
    padding: 5px;
    color: #ffffff;
    width: 140px;
    height: 41px;
    float: left;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 3px;
}

.shortcut-application.blur {
    background: rgba(179, 179, 179, 0.09);
    border-radius: 7px;
    width: 130px !important;
    margin: 0px 5px;
}

.icon-aplication.blur {
    filter: blur(2px);
}

.text-aplication.blur {
    filter: blur(2px);
    width: 50%;
}

.maintenance-mode-app-small {
    width: max-content;
    background: #FFF6D8;
    border-radius: 7px;
    padding: 4px;
}

.shortcut-application:hover {
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(116, 116, 116, 0.15);
    background-color: #7171716e;
  }

.shortcut-application .icon-aplication {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin: 5px;
}

.switch-app-bar {
    z-index: 1001 !important;
    width: 290px !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.21);
    background-color: rgba(51, 49, 51, 0.87) !important;
}

.switch-app-bar-hide {
    left: -290px !important;
    transition: 0.5s !important;
}

.switch-app-bar-show {
    left: 250px !important;
    transition: 0.3s !important;
}

.btn-home-apps-sidebar {
    background-color: #2a2a2a;
    margin: 10px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    padding: 6px;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 32px;

    .label-home {
        height: 15px;
        margin-left: 10px;
    }
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: solid 1px #979797;
    background-color: rgba(63, 76, 91, 0.4);
 }

 .background-blur.show {
    opacity: 1;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
  }

  .background-blur.hide {
    opacity: 0;
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
  }