.banner-portal {
    height: 290px;
    background-color: #f2f2f2;
}

.profile-box-portal {
    margin-bottom: 50px;
    text-align: center;
}

.content-officeless-portal {
    top: -250px;
    position: relative;
    width: 960px;
    margin: 0 auto;
  }

.title-portal {
    font-weight: 400;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.name-portal {
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.menu-portal-box, .component-portal-box {
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(146, 146, 146, 0.15);
    background-color: #ffffff;
    padding: 20px;
    color: #4a4a4a;
  }
  
  .component-portal-box {
    border: none;
    width: 100%;
  }