.profile-wrapper {
  top: 50px;
  position: relative;
  width: 960px;
  margin: 0 auto 120px;

  .profile-detail-box {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0px 1px 30px rgba(185, 185, 185, 0.25);

    // Header
    .profile-header {
      width: 100%;
      border-radius: 11px 11px 0px 0px;
      box-shadow: 0px 0px 8px 0px rgba(191, 191, 191, 0.51);

      .back-to-home {
        display: flex;
        padding: 20px 20px 6px 20px;
        align-items: center;
        color: #4A4A4A;

        i {
          font-size: 16px;
          margin-right: 1rem;
          margin-bottom: 2px;
          cursor: pointer;
        }
        p {
          font-weight: 600 !important;
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      .tabs {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-left: 51px;
        align-items: center;
        justify-content: start;

        &__item {
          display: flex;
          height: 35px;
          padding: 10px 0px;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          color: #9A9A9A;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          cursor: pointer;

          &--active {
            border-bottom: 4px solid #1A85E4;
            font-weight: 700;
            color: #5B5A5A;
          }

        }
      }
    }

    // Banner
    .profile-banner {
      width: 100%;
      height: 194px;
      object-fit: cover;
      filter: blur(1px);
    }

    // Information
    .wrap-profile-information {
      display: grid;
      grid-template-columns: 172px 1fr;
      grid-gap: 20px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 30px;
      margin-top: -130px;

      .grid-left {
        .wrap-profile-picture {
          position: relative;
          width: 172px;
          height: 172px;
          border-radius: 9999px;
          box-shadow: 0px 1px 19px 1px rgba(123, 123, 123, 0.23);
          transition: all ease 0.4s;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 4px;
            margin: auto;
            width: 167px;
            height: 50%;
            border-bottom-left-radius: 9999px;
            border-bottom-right-radius: 9999px;
            background: linear-gradient(to bottom, transparent 0%, black 100%);
            transition: all ease 0.4s;
          }

          &:hover {
            &::after {
              width: 164px;
              height: calc(100% - 8px);
              border-radius: 9999px;
              background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.40) 50%, black 100%);
            }

            .change-profile-picture {
              .icon-change-profile {
                opacity: 1;
              }
            }
          }

          .profile-picture {
            width: 172px;
            height: 172px;
            object-fit: cover;
            border-radius: 9999px;
            border: 4px solid #FFFFFF;
          }
          .change-profile-picture {
            position: absolute;
            bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 40px;
            z-index: 1;
            cursor: pointer;

            .icon-change-profile {
              width: 30px;
              height: auto;
              margin-bottom: 4px;
              opacity: 0;
              transition: all ease 0.4s;
            }

            p {
              font-weight: 500;
              color: #FFFFFF;
              font-size: 10px;
              text-align: center;
              margin: 0;
            }

            .input-profile {
              left: 0;
              top: 0;
              opacity: 0;
              width: 0;
              height: 0;
              position: absolute;
              cursor: pointer;
            }
          }
        }

        .btn-change-password {
          width: 100%;
          height: 40px;
          background-color: #FFFFFF;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          font-weight: 500;
          font-size: 12px;
          color: #606060;
          margin-top: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          transition: all ease 0.4s;

          &:hover {
            box-shadow: 0px 1px 4px rgba(133, 133, 133, 0.25);
          }

          img {
            width: 14px;
            height: 14px;
            margin-right: 10px;
          }
        }

        .desc-change-password {
          font-weight: 400;
          font-size: 10px;
          color: #606060;
          line-height: 14px;
          margin-bottom: 0;
        }
      }

      .grid-right {
        padding-top: 60px;

        .profile-name {
          position: relative;
          font-weight: 600 !important;
          margin-bottom: 12px;
          color: #FFFFFF;
        }

        .wrap-profile-form {
          width: 100%;
          margin-top: 60px;
          padding-left: 30px;

          .section-form {
            margin-bottom: 24px;

            h5 {
              font-weight: 600;
              font-size: 14px;
              color: #606060;
              margin-bottom: 8px;
            }
            .grid-6 {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 10px;
            }
            .grid-12 {
              display: grid;
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }

    // Preview Photo
    .preview-photo {
      .modal-dialog {
        .modal-content {
          border: none;
          border-radius: 12px;
          box-shadow: 0px 0px 20px #a9a9a9;
          background-color: rgba(255, 255, 255, 0.60);
          backdrop-filter: blur(14px);

          .modal-body {
            padding: 12px;

            img {
              width: 100%;
              height: auto;
              max-height: 766px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}
