// for Rules
// sass-lint:disable-all

.jFlow.flow-flex-center .save-flow-approver .b-form-group {
  padding-left: 0;
}

.jRules {
  padding: 40px 20px;

  &.jFlow {
    padding: 0;
    .col {
      padding-left: 266px;
      transition: padding 0.5s ease-in-out;
    }
  }

  .selected-bottom-rules {
    background: #fff;
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    left: 0;
    opacity: 1;
    padding: 20px;
    position: fixed;
    // overflow: scroll;
    width: 100%;
    // max-height: 100%;
    z-index: 1001;
    .light-blue-flow {
      margin-bottom: 10px;
    }

    .flow-arrow {
      float: none;
      margin-left: -5px;
      &:after {
        box-shadow: none;
      }
    }
  }

  .bullet-center {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &.fl-right {
      justify-content: flex-end;
      position: absolute;
      right: 9.8%;
      i {
        //color: $blue-basic-color;
        font-size: 30px;
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: rotate(360deg);
          transition: transform 0.5s ease-in-out;
        }
      }
    }
  }

  .inline--block {
    display: inline-block;
    .flow-new__bullet-top {
      align-items: center;
      background: #b4e9ff;
      border-radius: 50%;
      display: flex;
      height: 35px;
      justify-content: center;
      position: relative;
      width: 35px;
      i {
        font-size: 15px;
      }
    }
  }

  .overflow-scroll {
    overflow: auto;
    padding: 15px 0;
    white-space: nowrap;
    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }

    &::-webkit-scrollbar {
      width: 7px;
      z-index: 9;
    }

    &::-webkit-scrollbar-thumb {
      background: #42a5ce;
    }
  }

  .line-horizontal {
    background: #b4e9ff;
    display: inline-block;
    height: 1px;
    margin-bottom: 5px;
    margin-left: -5px;
    width: 40px;
    &.next-line {
      margin-left: 15px;
    }
  }

  .wrap-button-flow {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .outline {
      margin-left: 10px;
    }
  }

  .space-more {
    height: 220px;
  }

  .wrap-button-rules {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    .outline {
      margin-left: 20px;
    }
  }

  .close-modal-rules {
    // color: $blue-basic-color;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 16px;
  }

  .title-rules {
    margin-bottom: 20px;
  }
}


.jTable .table-striped tbody tr.selected-row {
  background-color: #b3e8f8;
}

// conditions responsive floating prompt
@media only screen and (max-width: 768px) {
  .jRules {
    &.jFlow {
      .col {
        padding-left: 85px;
        transition: padding 0.5s ease-in-out;
      }
    }
  }
}

// animate floatingRules
// .selected-bottom-rules {
//   @include animation-bar-y();
// }

.show-floating {
  @include animation-bar-y();
}

.hide-floating {
  @include animation-bar--y();
}

.inline--block {
  @include animation-bar-x();
}

.wrap-button-flow {
  @include animation-bar-y();
}

.newDiv {
  .selected-bottom-rules {
    position: fixed;
    overflow: scroll;
    max-height: 100%;
  }
  .drag-icon-bars {
    font-size: 25px;
    position: relative;
    top: 33px;
    left: 5px;
    cursor: pointer;
  }
}
