<template>
  <div>
    <div v-show="flow_data.length < 1">
      <b-button
        class="btn green"
        @click="exportFlow">
        Export Flows
      </b-button>
    </div>
    <div v-show="flow_data.length > 1">
      <download-excel
        :data="flow_data"
        name="Flow-Data.xls">
        <b-button
          ref="exportFlow"
          class="btn green">
          Export Flows
        </b-button>
      </download-excel>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      flow_data: [],
      page: 1,
    };
  },

  computed: {
    ...mapState('jFlows', ['all_flow_list', 'total_length_flow']),
  },

  watch: {
    all_flow_list(Val) {
      this.page += 1;
      const sortData = Val.map((newVal) => {
        const members = newVal.members.map(memData => (memData.organigram ?
          memData.organigram.name : ''));
        const isMin = newVal.minimum_action !== 0 ? newVal.minimum_action : '';
        const dataFlows = {
          FLOW_ID: newVal.id,
          NAME: newVal.name,
          FLOW_TYPE: `${newVal.type_name} ${isMin}`,
          FLOW: members,
          CREATED_DATE: newVal.created_date,
          UPDATED_DATE: typeof newVal.updated_date !== 'undefined' ? newVal.updated_date : '',
          CREATED_BY: typeof newVal.created_by !== 'undefined' ? newVal.created_by.email : '',
          UPDATED_BY: typeof newVal.updated_by !== 'undefined' ? newVal.updated_by.email : '',
        };
        return dataFlows;
      });
      this.flow_data.push(...sortData);
      const requestAll = {
        pagination: {
          limit: 50,
          page: this.page,
          column: 'id',
          ascending: true,
          query: '',
        },
        export: 'no',
      };
      if (this.flow_data.length < this.total_length_flow) {
        this.$store.dispatch('jFlows/getAllFlows', requestAll);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', 'Please wait...');
        this.$refs.exportFlow.click();
        this.flow_data = [];
        this.page = 1;
      }
    },

  },

  methods: {
    exportFlow() {
      const requestAll = {
        pagination: {
          limit: 50,
          page: 1,
          column: 'id',
          ascending: true,
          query: '',
        },
        export: 'no',
      };
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait...');
      this.$store.dispatch('jFlows/getAllFlows', requestAll);
    },
  },
};
</script>
