<template>
  <div>
    <j-title-header :options="opsi"/>
    <div class="tab-header">
      <div
        v-for="(item, index) in tabs"
        :key="index"
        md="2"
        class="content-tab"
        @click="tabSelected = item.idTab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.idTab"
          class="underline-data"/>
      </div>
    </div>

    <jFlowIndex
      v-if="tabSelected === 'tab-sales'"
      :oos-route="oosRoute"/>
    <jFlowSLA
      v-if="tabSelected === 'tab-salese'"
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
import jFlowIndex from './flow-non-sla/jFlowIndex';
import jFlowSLA from './flow-sla/jFlowSLA';

export default {
  // eslint-disable-next-line
  name: 'jFlowGlobal',
  components: {
    jFlowSLA,
    jFlowIndex,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      showTab: false,
      opsi: {
        icon: 'fa-user',
        main_title: 'FLOW',
        opt_title: '',
      },
      tabSelected: 'tab-sales',
      tabs: [
        {
          idTab: 'tab-sales', title: 'FLOW', idComp: 'comp-sales', comp: jFlowIndex, isShow: true,
        },
        {
          idTab: 'tab-salese', title: 'FLOW SLA', idComp: 'comp-salese', comp: jFlowSLA, isShow: true,
        },
      ],
    };
  },
  mounted() {
    setTimeout(() => {
      this.showTab = true;
    }, 500);
  },
};
</script>
