<template>
  <div>
    <j-title-header :options="opsi"/>
    <div v-show="load_first">

      <b-row>
        <b-col cols="9">
          <div class="float-to-left">
            <jImportFlows @upload-done="uploadDone"/>
          </div>
          <div>
            <div class="float-to-left">
              <jExportFlows class="m__t--20" />
            </div>
          </div>
        </b-col>

        <b-col>
          <div class="create-flow">
            <b-button
              class="btn blue"
              @click="createFlow">CREATE FLOW</b-button>
          </div>
        </b-col>
      </b-row>

      <v-server-table
        ref="flowServer"
        :url="env"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="rowClick"
        @pagination="removeRowBackground">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form
            inline
            @keypress.13.prevent="filter(filter_data)">
            <j-input
              v-model="filter_data"
              placeholder="search"
              class="m__r--5"/>
            <b-button
              class="btn blue outline"
              @click="filter(filter_data)">
              <i class="fa fa-search bold" /> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="created_date"
          slot-scope="props">
          {{ props.row.created_date | moment("DD/MM/YYYY") }}
        </div>

        <div
          slot="type_name"
          slot-scope="props">
          {{ props.row.type === 1 ? 'ORDER' : '' }}
          {{ props.row.type === 2 ? 'NO ORDER' : '' }}
          {{ props.row.type === 3 ? 'MIN' : '' }}
          {{ props.row.minimum_action !== 0 ? props.row.minimum_action : '' }}
        </div>
      </v-server-table>
    </div>

    <b-modal
      ref="createFlow"
      class="mod-form"
      centered
      no-close-on-esc>
      <div class="float-to-center p--20">
        <b-button
          class="btn blue m__r--20"
          @click="routeCreateFlow('/flow/new')">
          Create Flow Default
        </b-button>
        <b-button
          class="btn blue outline"
          @click="routeCreateFlow('/flow/new-by-division')">
          Create Flow By Division
        </b-button>
      </div>
    </b-modal>

    <div
      v-if="!load_first">
      <jLoadingTable/>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { jFlow } from '@/mixins/components/jojoflow/jFlow';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jExportFlows from './jExportFlows';
import jImportFlows from './jImportFlows';

export default {
  components: {
    jLoadingTable,
    jExportFlows,
    jImportFlows,
  },
  mixins: [jFlow],
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      rowing: null,
      opsi: {
        icon: 'fa-user',
        main_title: 'FLOWS',
        opt_title: '',
      },
    };
  },
  computed: {
    ...mapState('jFlows', ['flows_table']),
    ...mapState('jRules', ['upload_rules_finished']),
  },
  watch: {
    rowing(newData, oldData) {
      if (oldData) {
        this.removeRowClick(oldData);
      }
    },

    upload_rules_finished() {
      this.refreshTable();
    },
  },
  methods: {
    ...mapActions('jFlows', ['getListFlow']),

    createFlow() {
      this.$refs.createFlow.show();
    },

    uploadDone() {
      this.refreshTable();
    },

    rowClick(data) {
      const elem = document.getElementsByClassName(`row-${data.row.id}`);
      elem[0].setAttribute('style', 'background-color: #b3e8f8;');
      elem[0].classList.add('mystyle');
      this.rowing = data.row.id;
      const dataa = data;
      const isCreatedByDivision = dataa.row.create_by_division
        ? dataa.row.create_by_division : false;
      dataa.row.create_by_division = isCreatedByDivision;
      this.$emit('row-click', data);
      this.$store.commit('jFlows/setFlowData', data);
    },
    removeRowClick(data) {
      const elem = document.getElementsByClassName(`row-${data}`);
      if (elem.length === 1) {
        elem[0].setAttribute('style', 'background-color: none;');
      }
    },
    removeRowBackground() {
      if (this.rowing) {
        const elem = document.getElementsByClassName(`row-${this.rowing}`);
        if (elem.length === 1) {
          elem[0].setAttribute('style', 'background-color: none;');
        }
      }
      this.rowing = null;
      this.$emit('pagination');
    },

    refreshTable() {
      this.$refs.flowServer.getData();
    },

    routeCreateFlow(url) {
      const isLocalHost = window.location.href.includes('localhost');
      if (isLocalHost) {
        this.$router.push(`${url}`);
      } else {
        this.$router.push(`${this.oosRoute}${url}`);
      }
    },
  },
};
</script>

