<template>
  <div>
    <!-- Type Range -->
    <div
      v-if="type === 'range'"
      class="container-slider-number"
    >
      <input
        v-model="dataSlider"
        :min="min"
        :max="max"
        :disabled="disabled"
        type="range"
      >
      <div class="value-slider">
        <span>{{ dataSlider }}</span> / {{ max }}
      </div>
    </div>
    <!-- Type String -->
    <div
      v-if="type === 'string'"
      class="container-slider-string"
    >
      <input
        v-model="dataSlider"
        :min="min"
        :max="max"
        :disabled="disabled"
        type="range"
      >
      <div class="label-slider">
        <div
          v-for="(item, index) in options"
          :key="index"
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [String, Number],
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    config: {
      type: Object,
      default: () => {},
    },
    errorMessage: {
      type: String,
      default: 'Field is required',
    },
    errorRequired: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      dataSlider: null,
      min: 0,
      max: 0,
      type: '',
      options: [],
    };
  },
  watch: {
    dataSlider(val) {
      if (this.type === 'range') {
        this.$emit('data', val);
      } else {
        this.$emit('data', this.options[val]);
      }
    },
    data(val) {
      if (this.type === 'range' && this.options.length) {
        this.dataSlider = val ? Number(val) : 0;
      } else if (this.type === 'string' && this.options.length) {
        const indexData = this.options.findIndex(f => f === val);
        this.dataSlider = indexData !== -1 ? indexData : 0;
      }
    },
  },
  created() {
    this.type = this.config && this.config.slider_type ? this.config.slider_type : '';
    this.options = this.config && this.config.list_options ? this.config.list_options : [];

    if (this.type === 'range' && this.options.length) {
      this.min = Number(this.options[0]);
      this.max = Number(this.options[1]);
      this.dataSlider = this.data ? Number(this.data) : this.min;
    } else if (this.type === 'string' && this.options.length) {
      this.min = 0;
      this.max = this.options.length - 1;
      const indexData = this.options.findIndex(f => f === this.data);
      this.dataSlider = indexData !== -1 ? indexData : 0;
    }
  },
};
</script>
