<template>
  <div>
    <b-row>
      <b-col
        sm="12"
        md="12">
        <div>
          <j-title-header :options="Education"/>
          <jEducation/>
        </div>
        <div>
          <j-title-header :options="CareerHistoryOption"/>
          <j-career-history/>
        </div>
        <div>
          <j-title-header :options="AchievementHistoryOption"/>
          <j-achievement-history/>
        </div>
        <div>
          <j-title-header :options="CertificationRecordOption"/>
          <j-certification-record/>
        </div>
      </b-col>

      <!-- <b-col
        sm="12"
        md="3">
        <div class="jHeaderTitle">
          <b-row>
            <b-col>
              <i class="fa fa-clock-o"/>
              <h4>Recent Activity</h4>
            </b-col>
          </b-row>
          <hr>
          <div class="w-100 text-center">
            <b-button
              class="btn blue"
              @click="openLogModal">
              Show Log
            </b-button>
          </div>
        </div>
      </b-col> -->
    </b-row>

    <b-modal
      ref="logModal"
      class="mod-form modal-activity-log"
      centered>
      <div>
        <j-modal-activity-log
          v-if="isOpen"
          :data-log="activity_logs"
          :employee-id="data_employee.employee_id"
          :join-date="data_employee.join_date"
          @close-modal="closeLogModal"/>
      </div>
    </b-modal>

  </div>
</template>

<script>
import { mapState } from 'vuex';
import jCareerHistory from './career-history/jCareerHistory';
import jAchievementHistory from './achievement-history/jAchievementHistory';
import jCertificationRecord from './certification-record/jCertificationRecord';
import jEducation from './education/jEducation';
import jModalActivityLog from '../jModalActivityLog';

export default {
  name: 'JRecord',
  components: {
    jEducation,
    jCareerHistory,
    jAchievementHistory,
    jCertificationRecord,
    jModalActivityLog,
  },
  data() {
    return {
      isOpen: false,
      data_employee: {
        employee_id: '',
        join_date: null,
      },
      CareerHistoryOption: {
        icon: 'fa-user',
        main_title: 'Career History',
        opt_title: '',
      },
      AchievementHistoryOption: {
        icon: 'fa-user',
        main_title: 'Achievement & Disciplinary History',
        opt_title: '',
      },
      CertificationRecordOption: {
        icon: 'fa-user',
        main_title: 'Training and Certification Record',
        opt_title: '',
      },
      Education: {
        icon: 'fa-user',
        main_title: 'Education Information',
        opt_title: '',
      },
    };
  },
  computed: {
    ...mapState('jStoreEmployee', ['activity_logs', 'employee_detail']),

  },
  watch: {
    employee_detail(newVal) {
      const employeeForm = {
        employee_id: newVal.employee_id,
        join_date: newVal.company.join_date && newVal.company.join_date !== '0000-00-00' ? newVal.company.join_date : null,
      };
      this.data_employee = employeeForm;
    },
  },
  methods: {
    closeLogModal() {
      this.$refs.logModal.hide();
      this.isOpen = false;
    },
    openLogModal() {
      this.isOpen = true;
      this.$refs.logModal.show();
    },
  },
};
</script>

<style lang="scss">

</style>
