<template>
  <div>
    <b-button
      class="btn btn-import-oos m__r--5"
      @click="exportPositionToEmail"
    >
      <i class="fa fa-download fa-lg"/> Export
    </b-button>
    <b-button
      v-show="title_data.length < 1"
      class="btn btn-import-oos m__r--5"
      @click="exportPosition"
    >
      <i class="fa fa-cloud-download fa-lg"/> Generate xls
    </b-button>

    <download-excel
      :data="title_data"
      name="Position-Data.xls"
      class="d-inline"
    >
      <b-button
        v-show="title_data.length > 1"
        ref="exportPosition"
        class="btn btn-import-oos m__r--5"
      >
        <i class="fa fa-cloud-download fa-lg"/> Generate xls
      </b-button>
    </download-excel>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      title_data: [],
      page: 1,
    };
  },

  computed: {
    ...mapState('jOrganigram', ['all_title_list', 'total_length_title']),
  },

  watch: {
    all_title_list(Val) {
      this.page += 1;
      const sortData = Val.map((newVal) => {
        const div = newVal.divisions.map(datDiv => datDiv.name);
        let nama;
        if (typeof newVal.user !== 'undefined') {
          const firstName = typeof newVal.user.profile !== 'undefined' ?
            newVal.user.profile.first_name : '';
          const lastName = typeof newVal.user.profile !== 'undefined' ?
            newVal.user.profile.last_name : '';
          nama = `${firstName} ${lastName}`;
        } else {
          nama = '';
        }
        const dataPosition = {
          ID: newVal.id,
          POSITION_ID: newVal.code,
          POSITION: newVal.name,
          NAME: nama,
          EMAIL: typeof newVal.user !== 'undefined' ? newVal.user.email : '',
          DIVISIONS: div,
          // eslint-disable-next-line
          LAYER: newVal.position_layer ?
            (newVal.position_layer.name ? newVal.position_layer.name : '') : '',
          CREATED_DATE: newVal.created_date,
          UPDATED_DATE: typeof newVal.updated_date !== 'undefined' ? newVal.updated_date : '',
          CREATED_BY: typeof newVal.created_by !== 'undefined' ? newVal.created_by.email : '',
          UPDATED_BY: typeof newVal.updated_by !== 'undefined' ? newVal.updated_by.email : '',
        };
        return dataPosition;
      });
      this.title_data.push(...sortData);
      const requestAll = {
        pagination: {
          limit: 50,
          page: this.page,
          column: 'id',
          ascending: true,
          query: '',
        },
        export: 'yes',
      };
      if (this.title_data.length < this.total_length_title) {
        this.$store.dispatch('jOrganigram/getAllTitle', requestAll);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/hideLoading', 'Please wait...');
        this.$refs.exportPosition.click();
        this.title_data = [];
        this.page = 1;
      }
    },

  },

  methods: {
    exportPosition() {
      const requestAll = {
        pagination: {
          limit: 50,
          page: 1,
          column: 'id',
          ascending: true,
          query: '',
        },
      };
      this.$store.dispatch('jStoreNotificationScreen/showLoading', 'Please wait...');
      this.$store.dispatch('jOrganigram/getAllTitle', requestAll);
    },

    exportPositionToEmail() {
      const req = {
        type: 'xls',
        send_mail_type: 1,
      };
      this.$store.dispatch('jOrganigram/exportPositionToEmail', req);
    },
  },
};
</script>

<style lang="scss">
  #dropdown-division {
    button {
      background: #41ad49;
      border: none;
      color: #fff;
    }
    .dropdown-toggle:after {
      margin-left: 5px!important;
    }
    a {
      font-weight: 400;
      color: #808285 !important;
    }
  }
</style>
