<template>
  <div>
    <b-modal
      ref="createPosition"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <j-title-header :options="title"/>
      <b-row>
        <b-col md="6">
          <b-form-group :class="{'error-input' : $v.data_position.name.$error}">
            <label>Position Name <span class="red"> * </span> </label>
            <j-input
              v-model="$v.data_position.name.$model"
              :max-length="255"
              placeholder="Position Name"/>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group :class="{'error-input' : $v.data_position.code.$error}">
            <label>Position Code</label>
            <j-input
              v-model="$v.data_position.code.$model"
              :max-length="255"
              placeholder="Code"/>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group :class="{'error-input' : $v.data_position.parent.$error}">
            <label>Parent</label>
            <j-single-select
              v-model="$v.data_position.parent.$model"
              :is-async="true"
              :load-options="loadOptionsParent"
              placeholder="Select Parent"
              value-format="object"
              label="Parent"
              search-prompt-text="Type minimum 3 characters to search..."/>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group :class="{'error-input' : $v.data_position.mapping_timesheet_rule.$error}">
            <label>Mapping Timesheet Rule</label>
            <j-single-select
              v-model="$v.data_position.mapping_timesheet_rule.$model"
              :is-async="true"
              :load-options="loadOptionsRule"
              value-format="object"
              placeholder="Select Rule"
              label="rule"
              search-prompt-text="Type minimum 3 characters to search..."/>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div class="float-to-right">
            <b-button
              class="btn blue m__r--5"
              @click="saveCreatePosition">
              Create
            </b-button>
            <b-button
              class="btn gray"
              @click="closePage">
              Close
            </b-button>
          </div>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>

<script>
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';
import { required } from 'vuelidate/lib/validators';
import { mapActions } from 'vuex';

export default {
  validations: {
    data_position: {
      name: { required },
      code: { },
      parent: { },
      mapping_timesheet_rule: {},
    },
  },
  data() {
    return {
      title: {
        main_title: 'CREATE POSITION',
      },
      data_position: {
        name: '',
        code: '',
        parent: null,
        mapping_timesheet_rule: null,
      },
    };
  },
  computed: {
    // prepare data form to hit API
    generateData() {
      const genData = {
        name: this.data_position.name,
        code: this.data_position.code,
        description: '',
        user_company_id: 0,
        organigram_head_id: this.data_position.parent ? this.data_position.parent.id : null,
        organigram_head_name: this.data_position.parent ? this.data_position.parent.name : null,
        divisions: [],
        default_rule: false,
        // eslint-disable-next-line
        mapping_timesheet_rule: this.data_position.mapping_timesheet_rule ? this.data_position.mapping_timesheet_rule.id : null,
      };
      return genData;
    },
  },
  mounted() {
    // show modal when this component mounted
    this.$refs.createPosition.show();
  },
  methods: {
    ...mapActions('jStorePosition', ['createPosition']),

    loadOptionsParent({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query_type: 'position',
              query: searchQuery,
            },
          };
          this.$store.dispatch('jFlows/getListPosition', { reqData, callback, label: (this.filter ? this.filter : 'name') });
        } else {
          callback(null, false);
        }
      }
    },

    // Load options for rule
    loadOptionsRule({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 50,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStorePosition/getListRule', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    saveCreatePosition() {
      this.$v.data_position.$touch();
      if (!this.$v.data_position.$error) {
        this.createPosition(this.generateData);
      }
    },

    closePage() {
      this.$router.go(-1);
    },
  },
};
</script>
