<!-- eslint-disable max-len -->
<template>
  <div id="position-page-detail">
    <div
      class="header-detail">
      <i
        class="fa fa-arrow-left"
        @click="$router.go(-1)" />
      Detail Position
    </div>
    <div class="tab-header">
      <div
        v-for="(item, index) in tabs"
        :key="index"
        md="2"
        class="content-tab"
        @click="tabSelected = item.idTab">
        {{ item.title }}
        <div
          v-if="tabSelected === item.idTab"
          class="underline-data"/>
      </div>
    </div>

    <jPositionGeneralTab
      v-if="tabSelected === 'tab-general'"
      :oos-route="oosRoute"/>
    <jPositionAssigneeTab
      v-if="tabSelected === 'tab-assignee'"
      :oos-route="oosRoute"/>
    <jPositionMappingTab
      v-if="tabSelected === 'tab-mapping'"
      :oos-route="oosRoute"/>
    <jPositionSubordinateTab
      v-if="tabSelected === 'tab-subordinate'"
      :oos-route="oosRoute"/>
    <jPositionRestrictionTab
      v-if="tabSelected === 'tab-restriction'"
      :oos-route="oosRoute"/>

    <j-loading-screen
      ref="loading"
      :message="loadingMessage"/>

    <j-problem-screen
      ref="problem"
      :message="problemMessage"/>
  </div>
</template>

<script>
import jPositionGeneralTab from './tabs/jPositionGeneralTab';
import jPositionAssigneeTab from './tabs/jPositionAssigneeTab';
import jPositionMappingTab from './tabs/jPositionMappingTab';
import jPositionSubordinateTab from './tabs/jPositionSubordinateTab';
import jPositionRestrictionTab from './tabs/jPositionRestrictionTab';

export default {
  components: {
    jPositionGeneralTab,
    jPositionAssigneeTab,
    jPositionMappingTab,
    jPositionSubordinateTab,
    jPositionRestrictionTab,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      loadingMessage: '',
      problemMessage: '',
      tabSelected: 'tab-general',
      tabs: [
        {
          idTab: 'tab-general', title: 'GENERAL', idComp: 'comp-general', comp: jPositionGeneralTab, isShow: true, isActive: true,
        },
        {
          idTab: 'tab-assignee', title: 'ASSIGNEE', idComp: 'comp-assignee', comp: jPositionAssigneeTab, isShow: true, isActive: false,
        },
        {
          idTab: 'tab-mapping', title: 'MAPPING', idComp: 'comp-mapping', comp: jPositionMappingTab, isShow: true, isActive: false,
        },
        {
          idTab: 'tab-subordinate', title: 'SUBORDINATE', idComp: 'comp-subordinate', comp: jPositionSubordinateTab, isShow: true, isActive: false,
        },
        {
          idTab: 'tab-restriction', title: 'RESTRICTION', idComp: 'comp-restriction', comp: jPositionRestrictionTab, isShow: true, isActive: false,
        },
      ],
    };
  },
  computed: {

  },
  methods: {

  },
};
</script>

<style lang="scss" scoped>
  .move {
    cursor: move;
  }

  .header-detail {
    display: flex;
    align-items: center;
    background-color: #efefef;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 20px;
    margin: -20px -20px 0 -20px;
    border-radius: 6px 6px 0 0;

    i {
      cursor: pointer;
      margin-right: 15px;
    }
 }
</style>
