<template>
  <div
    id="position-table"
    class="custom-table-search attendance-table">

    <v-server-table
      v-show="load_first"
      ref="positionServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded">

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <b-button
            class="btn btn-import-oos m__r--5"
            @click="generateUrl">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button>
          <jExportPosition/>
          <b-button
            id="location-search"
            class="btn btn-import-oos">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <div
        slot="id"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.id }}
      </div>

      <div
        slot="code"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.code }}
      </div>

      <div
        slot="name"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.name }}
      </div>

      <div
        slot="user_name"
        slot-scope="props"
        @click="rowClick(props)">
        <div
          v-if="isUserUndefined(props)"
        >
          {{ props.row.user.profile.first_name }}
          {{ props.row.user.profile.last_name }}
        </div>
        <div v-else>
          -
        </div>
      </div>

      <div
        slot="email"
        slot-scope="props"
        @click="rowClick(props)">
        <div
          v-if="isUserUndefined(props)"
        >
          {{ props.row.user.email }}
        </div>
        <div v-else>
          -
        </div>
      </div>

      <div
        slot="divisions_storage"
        slot-scope="props"
        @click="rowClick(props)">

        <div v-if="props.row.divisions_storage[0]">
          <div
            v-for="(division, index) in props.row.divisions_storage"
            :key="index">
            - {{ division.name }}
          </div>
        </div>
      </div>

      <div
        slot="position_layer"
        slot-scope="props"
        @click="rowClick(props)">
        <div v-if="typeof props.row.position_layer === 'string'">
          -
        </div>
        <div v-else>
          {{ props.row.position_layer.name }}
        </div>
      </div>

      <div
        slot="created_date"
        slot-scope="props"
        @click="rowClick(props)">
        {{ props.row.created_date | moment("DD/MM/YYYY") }}
      </div>

      <div
        slot="temporary"
        slot-scope="props"
        @click="rowClick(props)">
        <div
          v-if="props.row.temporary.id">
          <b-img
            v-if="props.row.temporary.start_date >= getToday() &&
            props.row.temporary.end_date <= getToday()"
            :src="require('../../../../../assets/logo/substitution.png')"
            rounded="circle"
            alt="img"
            class="m-1 round-bordered-img
              img-circle staff-img image-popup-link b-page-theme td"/>
        </div>
      </div>
    </v-server-table>

    <div
      v-if="!load_first">
      <jLoadingTable/>
    </div>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click"
      container="location-table"
      target="location-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';
import jApiPosition from '../../../../../services/jApiPosition';
import jExportPosition from './jExportPosition';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
    jExportPosition,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      filter_data: '',
      select_type: 'position_id',
      options_search: [
        {
          text: 'ID',
          value: 'id',
        },
        {
          text: 'Position Code',
          value: 'position_id',
        },
        {
          text: 'Position',
          value: 'position',
        },
        {
          text: 'Layer',
          value: 'layer',
        },
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Email',
          value: 'email',
        },
        {
          text: 'Division',
          value: 'division',
        },
        {
          text: 'Supervisor Position',
          value: 'parent_organigram_name',
        },
        {
          text: 'Supervisor Email',
          value: 'parent_email',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['id', 'code', 'name', 'user_name', 'email', 'divisions_storage', 'position_layer', 'created_date', 'temporary'],
      options: {
        headings: {
          id: 'ID',
          code: 'POSITION CODE',
          name: 'POSITION',
          email: 'EMAIL',
          user_name: 'NAME',
          divisions_storage: 'DIVISION(S)',
          created_date: 'CREATED DATE',
          position_layer: 'LAYER',
          temporary: '',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        filterable: true,
        sortable: ['id', 'code', 'name', 'created_date'],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'created_date',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getPositionList = jApiPosition.getListPosition(data);
          return getPositionList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem',
              e.response.data.errors[0].message)
              .bind(this);
          });
        },
        responseAdapter({ data }) {
          data.data.forEach((e) => {
            const div = e.divisions ? e.divisions : [];
            // eslint-disable-next-line
            e.divisions_storage = [...div];
            e.divisions_storage.splice(2);
          });
          if (data.length) {
            this.length_table = data.length;
          }
          return {
            data: data.data ? data.data : [],
            count: data.length,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStorePosition', ['position_created', 'position_updated', 'position_deleted']),
    ...mapState('jStoreNotificationScreen', ['loading_screen']),

    isAdmin() {
      const role = localStorage.getItem('roleString');
      return role.includes('admin') || role.includes('sysadmin') || role.includes('implementor');
    },
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.positionServer.setFilter('');
      }
    },

    position_created() {
      this.refreshTable();
    },
    position_updated() {
      this.refreshTable();
    },
    position_deleted() {
      this.refreshTable();
    },

    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.actionBar.hide();
      } else {
        this.$refs.actionBar.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleLoading', 'toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      const a = val;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.positionServer.getData();
    },

    filter(val) {
      this.$refs.positionServer.setFilter(val);
    },

    rowClick(data) {
      this.$router.push(`${this.oosRoute}/position/update/${data.row.id}`);
    },

    generateUrl() {
      this.$router.push(`${this.oosRoute}/position/create`);
    },

    finish() {
      this.refreshTable();
      this.selected_rows = [];
    },

    getToday() {
      const today = new Date();
      let dd = today.getDate();
      let mm = today.getMonth() + 1;
      const yyyy = today.getFullYear();
      if (dd < 10) {
        dd = `0${dd}`;
      }

      if (mm < 10) {
        mm = `0${mm}`;
      }

      return `${yyyy}-${mm}-${dd}`;
    },

    isUserUndefined(props) {
      return typeof props.row.user !== 'undefined';
    },
  },
};
</script>
