<template>
  <div
    :id="'form-search-popover' + element.value_id"
  >
    <j-summary
      :data-summary="data_summary"
      class="coattendance-summary"
      @summaryBlock="getData"
    />
    <br>

    <v-server-table
      v-show="load_first"
      ref="requestorServer"
      :columns="columns"
      :options="options"
      class="jTable"
      @loading="loading"
      @loaded="loaded"
      @row-click="openDetail"
    >

      <div
        slot="beforeFilter"
        class="custom-search">
        <b-form inline>
          <!-- <b-button
            class="btn grey btn-import-form m__r--5"
            @click="openFormCreate">
            <i class="fa fa-plus fa-lg"/> Add
          </b-button> -->
          <!-- <b-button
              class="btn grey btn-import-form m__r--5">
              <i class="fa fa-cloud-upload fa-lg"/> Import
            </b-button> -->
          <b-button
            :id="String(element.value_id+'_targetSearch')"
            class="btn grey btn-import-form"
            @click="popoverSearchShow = true">
            <i class="fa fa-search fa-lg"/> Search
          </b-button>
        </b-form>
      </div>

      <!-- <div
        slot="id"
        slot-scope="props"
        class="jTableReport"
        @click.stop>
        <b-form-group>
          <b-form-checkbox-group
            v-model="selected_rows">
            <b-form-checkbox
              :value="props.row"/>
          </b-form-checkbox-group>
        </b-form-group>
      </div> -->

      <div
        slot="name"
        slot-scope="props">
        <strong> {{ props.row.name }} </strong> <br>
        {{ props.row.email }}
      </div>
      <div
        slot="start_date"
        slot-scope="props">
        {{ formatDate(props.row.start_date) }}
      </div>
      <div
        slot="end_date"
        slot-scope="props">
        {{ props.row.end_date ? formatDate(props.row.end_date) : '' }}
      </div>
      <div
        slot="end_time"
        slot-scope="props">
        {{ props.row.end_time ? props.row.end_time : '' }}
      </div>
      <div
        slot="status"
        slot-scope="props">
        {{ props.row.status ? 'Canceled' : '' }}
      </div>
      <div
        slot="docs"
        slot-scope="props"
        class="text-center">
        <b-button
          v-if="props.row.docs.length > 0"
          class="btn btn-import-form"
          @click="showAttachment(props)">
          Browse
        </b-button>
      </div>

    </v-server-table>
    <jLoadingTable v-if="!load_first"/>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      :target="String(element.value_id+'_targetSearch')"
      :container="'form-search-popover' + element.value_id"
      triggers="click blur"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"
          class="m__r--5"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" />
          Search
        </b-button>
      </div>
    </b-popover>

    <b-modal
      ref="modalUpload"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc
    >
      <j-upload-modal
        v-if="isOpenDocs"
        :data-detail="rowDetailData"
        :is-read-only="true"
        @modal-open="isModalUploadOpen"
      />
    </b-modal>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jUploadModal from './detail/jUploadModal';

export default {
  components: {
    jLoadingTable,
    jUploadModal,
  },
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      isOpenDocs: false,
      rowDetailData: null,
      data_summary: [
        {
          status: 'Draft',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'draft',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/draft` : '/co-attendance/requestor/draft',
        },
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: false,
          color: 'sent',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/sent` : '/co-attendance/requestor/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/approved` : '/co-attendance/requestor/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/rejected` : '/co-attendance/requestor/rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/canceled` : '/co-attendance/requestor/canceled',
        },
      ],

      status: 11,
      filter_data: '',
      select_type: 'name',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'name',
        },
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time', 'description', 'docs', 'status', 'note'],
      options: {
        headings: {
          id: 'ID',
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          start_date: 'CHECK IN DATE',
          end_date: 'CHECK OUT DATE',
          project_name: 'PROJECT',
          venue_name: 'VENUE',
          start_time: 'CHECK IN',
          end_time: 'CHECK OUT',
          description: 'REASON',
          docs: 'ATTACHMENT',
          status: 'STATUS',
          note: 'APPROVER COMMENT',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['id', 'employee_id', 'name', 'start_date', 'end_date', 'project_name', 'venue_name', 'start_time', 'end_time'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'created_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
            },
            menu: 'claimer',
            status: data.status,
          };
        },
        requestFunction(data) {
          const getList = jApiCoAttendance.getCoattendanceList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.recordsTotal ? data.recordsTotal : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreRecordForm', ['created_record']),

  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.requestorServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetSummaryBlock']),

    loading(data) {
      const a = data;
      a.status = this.status;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.$refs.requestorServer.loading = true;
        this.$refs.requestorServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.requestorServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/co-attendance/requestor/create`);
    },

    openDetail({ row }) {
      this.$router.push(`${this.oosRoute}/co-attendance/requestor/detail/${row.id}`);
    },

    showAttachment(props) {
      this.rowDetailData = props;
      this.isModalUploadOpen(true);
    },

    isModalUploadOpen(val) {
      if (val) {
        this.isOpenDocs = val;
        this.$refs.modalUpload.show();
      } else {
        this.isOpenDocs = val;
        this.$refs.modalUpload.hide();
      }
    },

    formatDate(val) {
      return this.$moment(val).format('DD MMM YYYY');
    },

    async getDataSummary() {
      const params = {
        menu: 'claimer',
      };
      const res = await this.actionGetSummaryBlock({ params });
      this.data_summary[0].amounts = (res.data.find(val => val.status === 'draft')).count;
      this.data_summary[1].amounts = (res.data.find(val => val.status === 'sent')).count;
      this.data_summary[2].amounts = (res.data.find(val => val.status === 'approved')).count;
      this.data_summary[3].amounts = (res.data.find(val => val.status === 'rejected')).count;
      this.data_summary[4].amounts = (res.data.find(val => val.status === 'cancelled')).count;
    },

    getData(data) {
      switch (data.status) {
        case 'Draft':
          this.status = 1;
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Sent':
          this.status = 2;
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Approved':
          this.status = 4;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Rejected':
          this.status = 6;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
          this.data_summary[4].active = false;
          break;
        default:
          this.status = 11;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = true;
      }
      this.$refs.requestorServer.getData();
    },

  },
};
</script>
