<template>
  <div
    id="draft-container"
  >
    <j-summary
      :data-summary="data_summary"
      class="coattendance-summary"
      @summaryBlock="getData"
    />
    <br>

    <div>
      <v-server-table
        v-show="load_first"
        ref="requestorServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetail">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="openFormCreate">
              <i class="fa fa-plus fa-lg"/> Add
            </b-button>
            <j-import-file-oos
              v-if="default_import"
              :href-sample="require('@/assets/file/template_import_co-attendance.xlsx')"
              @import-data="importData"/>
            <b-button
              id="draft-search"
              class="btn grey btn-import-form"
              @click="popoverSearchShow = true">
              <i class="fa fa-search fa-lg"/> Search
            </b-button>
          </b-form>
        </div>

        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport"
          @click.stop>
          <b-form-group>
            <b-form-checkbox-group
              v-model="selected_rows"
              @input="floatingPromptAction">
              <b-form-checkbox
                :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

        <div
          slot="name"
          slot-scope="props">
          <strong> {{ props.row.name }} </strong> <br>
          {{ props.row.email }}
        </div>
        <div
          slot="start_date"
          slot-scope="props">
          {{ formatDate(props.row.start_date) }}
        </div>
        <div
          slot="end_date"
          slot-scope="props">
          {{ formatDate(props.row.end_date) }}
        </div>
        <div
          slot="total_attendances"
          slot-scope="props">
          {{ props.row.total_attendances + ' day(s)' }}
        </div>
        <div
          slot="submitted_date"
          slot-scope="props">
          {{ formatDateTime(props.row.submitted_date) }}
        </div>
        <div
          slot="updated_date"
          slot-scope="props">
          {{ formatDateTime(props.row.updated_date) }}
        </div>
      </v-server-table>

      <jLoadingTable v-if="!load_first"/>
    </div>

    <j-progress-screen
      ref="ImportFile"
      :data-kirim="data_import"
      :url-api="urlImport"
      :headers="headers"
      property-data="data"
      @finish="uploadDone"/>
    <b-modal
      ref="modalPosition"
      class="mod-form"
      centered>
      <h3 class="float-to-center c--red">
        Error Data
      </h3>
      <v-client-table
        v-if="error_data[0]"
        :data="error_data"
        :columns="column"
        :options="option"
        class="jTable">

        <div
          slot="ERROR"
          slot-scope="props">
          <div
            v-for="(err, index) in props.row.ERROR"
            :key="index">
            {{ err }}
          </div>
        </div>

      </v-client-table>
      <download-excel
        :data="error_data"
        class="float-to-right m__t--30"
        name="Position-data-error.xls">
        <b-button class="btn green">
          Export Error
        </b-button>
      </download-excel>
    </b-modal>

    <!-- Floating selected rows -->
    <div
      v-show="show_blank_footer"
      :style="`height: ${floatingHeight}px`"/>
    <j-floating-prompt
      ref="floating"
      class="floating-table"
    >
      <div
        ref="divFloating"
        class="row"
      >
        <div class="col-4">
          <div class="row align-items-center pl-3">
            <div
              ref="totalSelectedRow"
              class="total-selected-row"/>
            <div class="total-selected-row-label f--medium m__l--7">
              record <br>selected
            </div>
          </div>
        </div>
        <div
          class="col-2 d-flex align-items-center">
          <div
            v-b-toggle.detail-table
            class="f--medium"
            style="cursor: pointer"
            @click="show_detail = !show_detail">
            Details
            <i :class="`fa fa-angle-down c--blue${show_detail ? ' up' : ''}`"/>
          </div>
        </div>
        <div class="col-6">
          <div class="row m__t--22">
            <div class="col-12">
              <b-button
                class="btn icon red float-right"
                @click="closeAction">
                Unselect All
              </b-button>
              <b-button
                class="btn icon blue float-right m__r--10 d-flex align-items-center"
                @click="sendRecord">
                <i class="fa fa-upload"/>
                Send
              </b-button>
            </div>
          </div>
        </div>
        <j-collapse
          id="detail-table"
          :visible="show_detail"
          class="col-12">
          <v-client-table
            ref="detailTable"
            :columns="columns"
            :options="detail_table_options"
            :data="selected_rows"
            class="jTable table-floating-popup">
            <div
              slot="checkbox"
              slot-scope="props"
              class="jTableReport"
              @click.stop>
              <b-form-group>
                <b-form-checkbox-group
                  v-model="selected_rows">
                  <b-form-checkbox
                    :value="props.row"/>
                </b-form-checkbox-group>
              </b-form-group>
            </div>
            <div
              slot="total_attendances"
              slot-scope="props">
              {{ props.row.total_attendances + ' day(s)' }}
            </div>
          </v-client-table>
        </j-collapse>
      </div>
    </j-floating-prompt>

    <b-popover
      ref="searchFormModal"
      :show.sync="popoverSearchShow"
      triggers="click blur"
      container="draft-container"
      target="draft-search"
      placement="right">
      <div class="m__b--10">Search Data</div>
      <b-form
        inline
        @keypress.13.prevent="filter(filter_data)">
        <j-select
          v-model="select_type"
          :disabled="false"
          :options="options_search"
          class="m__r--5"/>
        <j-input
          v-model="filter_data"
          placeholder="Search"/>
      </b-form>
      <div class="text-right">
        <b-button
          class="btn"
          @click="popoverSearchShow = false">
          Cancel
        </b-button>
        <b-button
          class="btn blue outline"
          @click="filter(filter_data)">
          <i class="fa fa-search bold" /> Search
        </b-button>
      </div>
    </b-popover>

  </div>
</template>

<script>
/* eslint-disable consistent-return, no-else-return */
import Vue from 'vue';
import { mapState, mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiCoAttendance from '@/services/jApiCoAttendance';
import jMixTable from '@/mixins/jMixTable';
import jMixFloatingPrompt from '@/mixins/jMixFloatingPrompt';
import moment from 'moment';
import jProgressScreen from '@/components/progress-screen/jProgressScreen';

export default {
  components: {
    jLoadingTable,
    jProgressScreen,
  },
  mixins: [
    jMixTable,
    jMixFloatingPrompt,
  ],
  props: {
    element: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      popoverSearchShow: false,
      default_import: true,
      is_finish: false,
      list_error: [],
      error_data: [],
      is_error: false,
      column: ['NAME', 'CODE', 'ERROR'],
      option: {
        filterable: true,
        perPage: 5,
        perPageValues: [5, 10, 20, 50, 100],
      },
      data_import: [],
      raw_data: null,

      data_summary: [
        {
          status: 'Draft',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: false,
          color: 'draft',
          active: true,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/draft` : '/co-attendance/requestor/draft',
        },
        {
          status: 'Sent',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: false,
          color: 'sent',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/sent` : '/co-attendance/requestor/sent',
        },
        {
          status: 'Approved',
          amounts: 0,
          summaryDate: '',
          isStart: false,
          isEnd: true,
          color: 'approved',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/approved` : '/co-attendance/requestor/approved',
        },
        {
          status: 'Rejected',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'rejected',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/rejected` : '/co-attendance/requestor/rejected',
        },
        {
          status: 'Canceled',
          amounts: 0,
          summaryDate: '',
          isStart: true,
          isEnd: true,
          color: 'canceled',
          active: false,
          href: this.oosRoute !== '' ? `${this.oosRoute}/co-attendance/requestor/canceled` : '/co-attendance/requestor/canceled',
        },
      ],

      status: 1,
      filter_data: '',
      select_type: 'employee_id',
      options_search: [
        {
          text: 'EMPLOYEE NAME',
          value: 'name',
        },
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
      ],
      load_first: false,
      length_table: '',
      data_table: [],
      selected_rows: [],
      columns: ['checkbox', 'employee_id', 'name', 'location', 'start_date', 'end_date', 'total_attendances', 'submitted_date', 'updated_date'],
      detail_table_options: {
        headings: {
          checkbox: this.headerID(),
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          location: 'LOCATION',
          start_date: 'START DATE',
          end_date: 'END DATE',
          total_attendances: 'TOTAL ATTENDANCE',
          submitted_date: 'SUBMITED DATE',
          updated_date: 'UPDATED DATE',
        },
        texts: {
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        sortable: [],
        filterable: true,
        perPage: 3,
        perPageValues: [3, 5, 10, 20, 50, 100],
      },
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          name: 'EMPLOYEE NAME',
          location: 'LOCATION',
          start_date: 'START DATE',
          end_date: 'END DATE',
          total_attendances: 'TOTAL ATTENDANCE',
          submitted_date: 'SUBMITED DATE',
          updated_date: 'UPDATED DATE',
          checkbox(h) {
            const objThis = this;
            return jMixTable.checkbox(h, objThis);
          },
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        dateFormat: 'MMM D, YYYY',
        filterable: true,
        sortable: ['employee_id', 'name', 'location', 'start_date', 'end_date', 'total_attendances', 'submitted_date', 'updated_date'],
        perPage: 5,
        orderBy: {
          ascending: false,
          column: 'start_date',
        },
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : '',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiCoAttendance.getCoattendanceDraftList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.recordsTotal ? data.recordsTotal : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreRecordForm', ['created_record']),

    urlImport() {
      const getEnv = 'times/co-attendances/import';
      return getEnv;
    },
    headers() {
      const token = Vue.ls.get('Token');
      const headers = {
        Authorization: `Bearer ${token}`,
      };
      return headers;
    },
    confirmImg() {
      // eslint-disable-next-line
      return require('@/assets/icon/confirmation.png');
    },
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.requestorServer.setFilter('');
      }
    },
  },
  created() {
    this.getDataSummary();
  },
  methods: {
    ...mapActions('jStoreCoAttendance', ['actionGetSummaryBlock', 'getCoattendanceDraftDetail', 'actionChangeStatusCoattendance']),

    loading(data) {
      const a = data;
      a.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.$refs.requestorServer.loading = true;
        this.$refs.requestorServer.data = [];
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (!this.load_first) {
        this.load_first = !this.load_first;
      }
    },

    filter(val) {
      this.$refs.requestorServer.setFilter(val);
    },

    openFormCreate() {
      this.$router.push(`${this.oosRoute}/co-attendance/requestor/create`);
    },
    openDetail({ row }) {
      const ms = row.timestamp_created_date;
      const start = moment(row.start_date).format('YYYY-MM-DD');
      const end = moment(row.end_date).format('YYYY-MM-DD');
      this.$router.push(`${this.oosRoute}/co-attendance/requestor/draft/detail/${ms}/${start}/${end}`);
    },
    formatDate(val) {
      return moment(val).format('DD MMM YYYY');
    },
    formatDateTime(val) {
      return moment(val).format('DD MMM YYYY HH:mm:ss');
    },

    async getDataSummary() {
      const params = {
        menu: 'claimer',
      };
      const res = await this.actionGetSummaryBlock({ params });
      this.data_summary[0].amounts = (res.data.find(val => val.status === 'draft')).count;
      this.data_summary[1].amounts = (res.data.find(val => val.status === 'sent')).count;
      this.data_summary[2].amounts = (res.data.find(val => val.status === 'approved')).count;
      this.data_summary[3].amounts = (res.data.find(val => val.status === 'rejected')).count;
      this.data_summary[4].amounts = (res.data.find(val => val.status === 'cancelled')).count;
    },

    getData(data) {
      switch (data.status) {
        case 'Draft':
          this.status = 1;
          this.data_summary[0].active = true;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Sent':
          this.status = 2;
          this.data_summary[0].active = false;
          this.data_summary[1].active = true;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Approved':
          this.status = 4;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = true;
          this.data_summary[3].active = false;
          this.data_summary[4].active = false;
          break;
        case 'Rejected':
          this.status = 6;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = true;
          this.data_summary[4].active = false;
          break;
        default:
          this.status = 11;
          this.data_summary[0].active = false;
          this.data_summary[1].active = false;
          this.data_summary[2].active = false;
          this.data_summary[3].active = false;
          this.data_summary[4].active = true;
      }
      this.$refs.requestorServer.getData();
    },

    async sendRecord() {
      if (this.selected_rows.length > 0) {
        this.$swal({
          title: 'Are you sure, want to send attendance(s)?',
          showCancelButton: true,
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
        }).then(async (result) => {
          if (!result.dismiss) {
            const promises = this.selected_rows.map(async (val) => {
              const params = {
                pagination: {
                  limit: 0,
                  page: 1,
                  column: 'start_date',
                  sort: 'desc',
                  query: '',
                  query_type: '',
                },
                end_date: this.$moment(val.end_date).format('YYYY-MM-DD'),
                start_date: this.$moment(val.start_date).format('YYYY-MM-DD'),
                timestamp: val.timestamp_created_date,
              };

              const { data } = await jApiCoAttendance.getCoattendanceDraftDetail(params);

              const params2 = {
                action: 'sent',
                note: '',
              };

              const promises2 = data.data.map(async (el) => {
                await this.actionChangeStatusCoattendance({ id: el.id, params: params2 });
              });
              await Promise.all(promises2);
            });
            await Promise.all(promises);

            this.getDataSummary();
            this.$refs.requestorServer.refresh();
            this.selected_rows = [];
          }
        });
      }
    },

    importData(val) {
      this.data_import = [];
      this.is_error = false;
      this.list_error = [];
      this.error_data = val;

      const keys = Object.keys(val[0]);
      const requiredField = ['EMPLOYEE ID', 'START DATE', 'START TIME'];
      let counter = 0;
      requiredField.forEach((field) => {
        if (!keys.includes(field)) {
          counter += 1;
        }
      });
      if (counter > 0) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', 'Please use header format correctly');
      } else {
        this.raw_data = val;
        this.data_import = this.raw_data.map((raw, index) => this.genData(raw, index));

        setTimeout(() => {
          this.uploadData();
        }, 100);
      }
    },
    uploadData() {
      const emptyDateTimeColumn = this.data_import.find(data =>
        (data.end_time && !data.end_date) || (!data.end_time && data.end_date));
      if (emptyDateTimeColumn) {
        const text = 'Are you sure want to import the selected attendance without fill the end date or end time column?';

        this.$swal({
          title: 'Confirmation',
          text,
          showCancelButton: true,
          imageUrl: this.confirmImg,
          confirmButtonText: 'Yes',
          cancelButtonText: 'No',
        }).then(async (result) => {
          if (result.value) {
            this.$refs.ImportFile.toggleIsVisible();
          }
        });
      } else {
        this.$refs.ImportFile.toggleIsVisible();
      }
    },
    uploadDone() {
      this.raw_data = [];
      this.is_finish = true;
      this.refreshTable();
      this.data_import = [];
      this.default_import = false;
      setTimeout(() => {
        this.default_import = true;
      }, 100);
    },
    genData(val, indexData) {
      this.list_error[indexData] = [];
      this.$set(this.error_data[indexData], 'ERROR', []);
      const packing = {
        employee_id: '',
        attendance_group_id: '',
        project_id: '',
        venue_id: '',
        start_date: '',
        start_time: '',
        end_date: '',
        end_time: '',
        timezone: '',
        note: '',
        local_id: '',
        offline_created_date: '',
      };

      const strEmpId = val['EMPLOYEE ID'] ? val['EMPLOYEE ID'].trim() : '';
      if (val['EMPLOYEE ID'] === undefined || strEmpId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field employee id is required');
        this.error_data[indexData].ERROR.push('- field employee id is required');
      } else {
        this.$set(packing, 'employee_id', val['EMPLOYEE ID']);
      }

      const strGroupId = val['ATTENDANCE GROUP ID'] ? val['ATTENDANCE GROUP ID'].trim() : '';
      if (val['ATTENDANCE GROUP ID'] === undefined || strGroupId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field attendance group id is required');
        this.error_data[indexData].ERROR.push('- field attendance group id is required');
      } else {
        this.$set(packing, 'attendance_group_id', val['ATTENDANCE GROUP ID']);
      }

      const strProjectId = val['PROJECT ID'] ? val['PROJECT ID'].trim() : '';
      if (val['PROJECT ID'] === undefined || strProjectId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field project id is required');
        this.error_data[indexData].ERROR.push('- field project id is required');
      } else {
        this.$set(packing, 'project_id', val['PROJECT ID']);
      }

      const strVenueId = val['VENUE ID'] ? val['VENUE ID'].trim() : '';
      if (val['VENUE ID'] === undefined || strVenueId.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field venue id is required');
        this.error_data[indexData].ERROR.push('- field venue id is required');
      } else {
        this.$set(packing, 'venue_id', val['VENUE ID']);
      }

      const strStartDate = val['START DATE'] ? val['START DATE'].trim() : '';
      if (val['START DATE'] === undefined || strStartDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field start date is required');
        this.error_data[indexData].ERROR.push('- field start date is required');
      } else {
        this.$set(packing, 'start_date', val['START DATE']);
      }

      const strStartTime = val['START TIME'] ? val['START TIME'].trim() : '';
      if (val['START TIME'] === undefined || strStartTime.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field start time is required');
        this.error_data[indexData].ERROR.push('- field start time is required');
      } else {
        this.$set(packing, 'start_time', val['START TIME']);
      }

      const strEndDate = val['END DATE'] ? val['END DATE'].trim() : '';
      if (val['END DATE'] === undefined || strEndDate.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field end date is required');
        this.error_data[indexData].ERROR.push('- field end date is required');
      } else {
        this.$set(packing, 'end_date', val['END DATE']);
      }

      const strEndTime = val['END TIME'] ? val['END TIME'].trim() : '';
      if (val['END TIME'] === undefined || strEndTime.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field end time is required');
        this.error_data[indexData].ERROR.push('- field end time is required');
      } else {
        this.$set(packing, 'end_time', val['END TIME']);
      }

      const strTimezone = val.TIMEZONE ? val.TIMEZONE.trim() : '';
      if (val.TIMEZONE === undefined || strTimezone.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field timezone is required');
        this.error_data[indexData].ERROR.push('- field timezone is required');
      } else {
        this.$set(packing, 'timezone', val.TIMEZONE);
      }

      const strReason = val.REASON ? val.REASON.trim() : '';
      if (val.REASON === undefined || strReason.length === 0) {
        this.is_error = true;
        this.list_error[indexData].push('- field reason is required');
        this.error_data[indexData].ERROR.push('- field reason is required');
      } else {
        this.$set(packing, 'note', val.REASON);
      }

      packing.local_id = this.formatMsFromDatetime(val['START DATE'], val['START TIME']);
      packing.offline_created_date = this.$moment(new Date()).valueOf();

      // this.data_import.push(packing);
      return packing;
    },
    formatMsFromDatetime(date, time) {
      const join = new Date(date.concat(' ', time));
      return this.$moment(join).valueOf();
    },
    refreshTable() {
      this.$refs.requestorServer.getData();
    },
  },
};
</script>

<style lang="scss" scoped>
  .total-selected-row {
    font-size: 50px;
    color: #42A5CE;
  }
</style>
