<template>
  <div :class="formContainerClass">
    <!-- <span
      v-if="!is_submit_mode"
      id="close-icon"
      class="right-top-span"
      @click="cancelForm()"
    >
      <i class="fa fa-times close-icon"/>
    </span> -->
    <b-row>
      <div class="col-12">
        <b-form-group>
          <label>Relation</label>
          <j-single-select
            v-model="$v.emergency_data.relation_type.$model"
            :options="relation_options"
            placeholder="Select Relation"
            label="relation_type"
            @input="fillRelation($v.emergency_data.relation_type.$model)"/>
        </b-form-group>
      </div>
    </b-row>
    <b-form :class="{ 'error-input': $v.emergency_data.name.$error }">
      <label class="form__label">Name</label>
      <j-input
        v-if="mode==='edit'"
        v-model="$v.emergency_data.name.$model"
        disabled/>
      <j-single-select
        v-else
        v-model="$v.emergency_data.name.$model"
        :options="name_options"
        label="name"
        placeholder="Name"/>
    </b-form>
    <b-row>
      <div class="col-12">
        <label class="form__label">Phone Number</label>
        <b-row>
          <div class="col-4">
            <b-form
              :class="{ 'error-input': $v.emergency_data.phone_code.$error }"
            >
              <j-single-select
                v-model="$v.emergency_data.phone_code.$model"
                :options="options"
                :placeholder="'Select'"
                value-format="object"
              />
            </b-form>
          </div>
          <div class="col-8">
            <b-form
              :class="{ 'error-input': $v.emergency_data.phone_number.$error }">
              <j-input
                v-model="$v.emergency_data.phone_number.$model"
                :max-length="50"
                type="number"
                placeholder="Phone Number"
              />
            </b-form>
          </div>
        </b-row>
      </div>
    </b-row>
    <br>
    <b-row>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              class="btn blue p-5-p-15"
              @click="submit()">
              {{ submit_text }}
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.submit || is_loading.update"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col
        lg="4"
        class="text-center">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn p-5-p-15"
              @click="revert()"
            >
              Revert
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.revert"/>
          </b-col>
        </b-row>
      </b-col>
      <b-col lg="4">
        <b-row>
          <b-col lg="9">
            <b-button
              :hidden="is_submit_mode"
              class="btn red btn-remove-form__organization float-right p-5-p-15"
              @click="removeForm()">Delete
            </b-button>
          </b-col>
          <b-col lg="3">
            <Spinner v-if="is_loading.remove"/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">
        <p
          v-if="error_at !== ''"
          style="text-align: center; color: red; margin: 25px 0 0 0;">
          {{ error_at }} Failed! Please Try Again</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import { required, minLength, numeric } from 'vuelidate/lib/validators';
import jApiEmployee from '@/services/jApiEmployee';
import Spinner from '@/components/jSpinnerLoading';
import eventBus from './event-bus/index';
import phoneCodeJson from './phoneCode.json';

export default {
  name: 'JCareerHistoryForm',
  components: {
    Spinner,
  },
  props: {
    mode: {
      type: String,
      default: 'create',
    },
    detail: {
      type: Object,
      default: () => [],
    },
  },
  data() {
    return {
      error_at: '',
      is_loading: {
        submit: false,
        update: false,
        revert: false,
        remove: false,
      },
      emergency_data: {
        id: 0,
        name: null,
        phone_number: null,
        phone_code: null,
        relation_type: null,
        isActive: false,
      },
      submit_text: 'Submit',
      is_submit_mode: true,
      previous_data: {
        id: 0,
        name: null,
        phone_number: null,
        phone_code: null,
        relation_type: null,
      },
      onInputName: false,
      relation_options: [],
      name_options: [],
      relation_name_options: [],
      contacts: [],
      cloneContacts: [],
      options: phoneCodeJson,
      countryCodes: ['', '+ 345', '+1', '+1', '+1 242', '+1 246', '+1 264', '+1 284', '+1 340', '+1 441', '+1 473', '+1 649',
        '+1 670', '+1 671', '+1 684',
        '+1 758', '+1 767', '+1 784', '+1 849', '+1 868', '+1 869', '+1 876', '+1 939', '+1268', '+1664', '+20', '+212', '+213', '+216', '+218', '+220', '+221', '+222', '+223', '+224', '+225', '+226', '+227', '+228', '+229', '+230', '+231', '+232', '+233', '+234', '+235', '+236', '+237', '+238', '+239', '+240', '+241', '+242', '+243', '+244', '+245', '+246', '+248', '+249', '+250', '+251', '+252', '+253', '+254', '+255', '+256', '+257', '+258', '+260', '+261', '+262', '+262', '+263', '+264', '+265', '+266', '+267', '+268', '+269', '+27', '+290', '+291', '+297', '+298', '+299', '+30', '+31', '+32', '+33', '+34', '+350', '+351', '+352', '+353', '+354', '+355', '+356', '+358', '+359', '+36', '+370', '+371', '+372', '+373', '+374', '+375', '+376', '+377', '+378', '+379', '+380', '+381', '+382', '+385', '+386', '+387', '+389', '+39', '+40', '+41', '+420', '+421', '+423', '+43', '+44', '+44', '+44', '+44', '+45', '+46', '+47', '+47', '+48', '+49', '+500', '+500', '+501', '+502', '+503', '+504', '+505', '+506', '+507', '+508', '+509', '+51', '+52', '+53', '+537', '+54', '+55', '+56', '+57', '+58', '+590', '+590', '+590', '+591', '+593', '+594', '+595', '+595', '+596', '+597', '+598', '+599', '+60', '+61', '+62', '+63', '+64', '+65', '+66', '+670', '+672', '+673', '+674', '+675', '+676', '+677', '+678', '+679', '+680', '+681', '+682', '+683', '+685', '+686', '+687', '+688', '+689', '+690', '+691', '+692', '+7', '+7 7', '+81', '+82', '+84', '+850', '+852', '+853', '+855', '+856', '+86', '+872', '+880', '+886', '+90', '+91', '+92', '+93', '+94', '+95', '+960', '+961', '+962', '+963', '+964', '+965', '+966', '+967', '+968', '+970', '+971', '+972', '+973', '+974', '+975', '+976', '+977', '+98', '+992', '+993', '+994', '+995', '+996', '+998', null],
    };
  },
  computed: {
    formContainerClass() {
      return 'form-container--normal';
      // if (this.is_submit_mode) {
      //   return 'form-container--normal';
      // }
      // return 'form-container--chosen';
    },
  },
  watch: {
    detail(data) {
      this.setDataDetail(data);
    },
  },
  created() {
    this.setDataDetail(this.detail);
    eventBus.$on('currentObject', (currentObject) => {
      this.currentObject = currentObject;
    });
    eventBus.$on('cancelForm', () => {
      this.cancelForm();
    });

    const { id: employeeId } = this.$route.params;
    jApiEmployee.getFamilyRelations(employeeId)
      .then((res) => {
        this.relation_name_options = [];
        this.relation_name_options.push(...res.data.data);
        const relations = [];
        res.data.data.forEach((element) => {
          if (relations.length === 0) {
            relations.push(element);
          } else {
            const elmt = relations.findIndex(item => item.relation_type === element.relation_type);
            if (elmt === -1) {
              relations.push(element);
            }
          }
        });
        this.relation_options = relations.map((element) => {
          const item = element;
          item.id = element.relation_type;
          return item;
        });
      })
      .catch(() => {
        // do nothing
      });
  },
  methods: {
    setDataDetail(data) {
      if (this.mode === 'edit') {
        this.emergency_data.id = data.id;
        this.emergency_data.name = data.name;
        this.emergency_data.phone_number = data.phone_number;
        this.emergency_data.phone_code = this.options.find(x => x.value === data.phone_code);
        this.emergency_data.relation_type = data.relation_type;
        this.emergency_data.isActive = data.is_active;

        this.is_submit_mode = false;
        this.submit_text = 'Update';

        this.previous_data = Object.assign({}, this.emergency_data);
      } else {
        this.emergency_data.id = 0;
        this.emergency_data.name = null;
        this.emergency_data.phone_number = null;
        this.emergency_data.phone_code = null;
        this.emergency_data.relation_type = null;
        this.emergency_data.isActive = false;

        this.is_submit_mode = true;
        this.submit_text = 'Submit';
        this.$v.emergency_data.$reset();
      }
    },
    checkPresent() {
      this.emergency_data.isActive = !this.emergency_data.isActive;
      this.$v.emergency_data.relation_type.$model = null;
    },
    submit() {
      this.$v.emergency_data.$touch();
      if (!this.$v.emergency_data.$error) {
        if (this.is_submit_mode) {
          this.is_loading.submit = true;

          const { id, name, phone_number, phone_code,
            relation_type, isActive } = this.emergency_data;

          const newObject =
            {
              id,
              name,
              phone_number,
              phone_code: phone_code.value,
              relation_type,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.createEmergencyContacts(employeeId, newObject).then((res) => {
            this.cancelForm();
            eventBus.$emit('refreshTable', true);
            this.is_loading.submit = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.submit = false;
          });
          this.$emit('close-modal', true);
        } else if (!this.is_submit_mode) {
          this.is_loading.update = true;
          const { id, name, phone_number,
            phone_code, relation_type, isActive } = this.emergency_data;

          const patchedObject =
            {
              id,
              name,
              phone_number,
              phone_code: phone_code.value,
              relation_type,
              is_active: isActive,
            };

          const { id: employeeId } = this.$route.params;

          jApiEmployee.updateEmergencyContacts(employeeId, id, patchedObject).then((res) => {
            eventBus.$emit('refreshTable', true);
            this.is_loading.update = false;
            this.error_at = '';
            return res.data;
          }).catch(() => {
            this.error_at = 'Update';
            this.is_loading.update = false;
          });
          this.$emit('close-modal', true);
        }
      }
    },
    cancelForm() {
      this.emergency_data.name = null;
      this.emergency_data.phone_number = null;
      this.emergency_data.phone_code = null;
      this.emergency_data.relation_type = null;
      this.emergency_data.isActive = false;

      this.is_submit_mode = true;
      this.submit_text = 'Submit';

      setTimeout(() => {
        this.$v.emergency_data.$reset();
      }, 0);

      eventBus.$emit('currentRow', 0);
    },
    revert() {
      this.is_loading.revert = true;
      this.emergency_data = Object.assign({}, this.previous_data);
      this.is_loading.revert = false;

      this.$emit('close-modal', true);
    },
    removeForm() {
      this.is_loading.remove = true;
      this.$swal({
        title: 'Are you sure to delete this data?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#D0021B',
        cancelButtonColor: '#9B9B9B',
        confirmButtonText: 'Delete',
      }).then((result) => {
        if (result.value) {
          const { id } = this.currentObject;
          const { id: employeeId } = this.$route.params;

          jApiEmployee.deleteCareerHistory(employeeId, id).then(() => {
            eventBus.$emit('refreshTable', true);
            this.cancelForm();
            this.is_loading.remove = false;
            this.error_at = '';
          }).catch(() => {
            this.error_at = 'Delete';
            this.is_loading.remove = false;
          });
        } else {
          this.is_loading.remove = false;
        }
        this.$emit('close-modal', true);
      });
    },
    fillRelation(data) {
      // this.onInputName = true;
      // this.emergency_data.name = null;
      this.name_options = [];
      const options = this.relation_name_options.filter(item =>
        item.relation_type === data);
      options.forEach((element) => {
        const item = {
          id: element.name,
          name: element.name,
        };
        this.name_options.push(item);
      });
    },
    disabledEndDate(startDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: new Date(1, 1, 1),
          to: Date.parse(startDate),
        }],
      };
    },
    disabledStartDate(endDate) {
      return {
        color: 'light-grey',
        ranges: [{
          from: Date.parse(endDate),
          to: new Date(200000, 1, 1),
        }],
      };
    },
  },
  validations() {
    return {
      emergency_data: {
        name: {
          required,
          minLength: minLength(2),
        },
        phone_number: {
          required,
          minLength: minLength(2),
          numeric,
        },
        phone_code: {
          id: { required },
          text: { required },
        },
        relation_type: {
          required,
        },
      },
      onInputName: {},
    };
  },
};
</script>

<style lang="scss">
  .col-4 > button {
    display: block;
    margin: auto 0 auto 0;
  }

  .form-container--normal {
    border: 3px solid $white-basic-color;
    padding: 5%;
    border-radius: 2%;
  }

  .form-container--chosen {
    border: 3px solid #FFDD6B;
    padding: 5%;
    border-radius: 2%;
  }

  .right-top-span {
    position: absolute;
    top: -10px;
    right: 7.5px;
    border-radius: 50%;
    background: #E21B1B;
    color: $white-basic-color;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red {
    color: $red-basic-color;
  }
</style>
