<template>
  <div>
    <b-row>
      <b-col cols="12">
        <j-emergency-contact-table
          @create-modal="openModalCreate"
          @edit-modal="openModalUpdate"
          @emergency-contact="getEmergencyContact"/>
      </b-col>
    </b-row>

    <b-modal
      ref="modalForm"
      class="mod-form"
      centered
      no-close-on-backdrop
      no-close-on-esc>
      <button
        class="btn float-right"
        @click="closeModalForm">
        <i class="fa fa-close"/>
      </button>
      <j-title-header :options="title"/>
      <div>
        <j-emergency-contact-form
          v-if="showForm"
          :mode="mode"
          :detail="emergency_contact"
          @close-modal="closeModalForm"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import jEmergencyContactForm from './jEmergencyContactForm';
import jEmergencyContactTable from './jEmergencyContactTable';

export default {
  name: 'JEmergencyContact',
  components: {
    jEmergencyContactForm,
    jEmergencyContactTable,
  },
  data() {
    return {
      mode: '',
      emergency_contact: null,
      title: {
        main_title: 'EMERGENCY CONTACT',
      },
      showForm: false,
    };
  },
  methods: {
    getEmergencyContact(data) {
      this.emergency_contact = data;
    },
    closeModalForm() {
      this.showForm = false;
      this.$refs.modalForm.hide();
    },
    openModalCreate(data) {
      if (data) {
        this.mode = 'create';
        this.emergency_contact = null;
        this.showForm = true;
        this.$refs.modalForm.show();
      }
    },
    openModalUpdate(data) {
      if (data) {
        this.mode = 'edit';
        this.showForm = true;
        this.$refs.modalForm.show();
      }
    },
  },
};
</script>

<style scoped>

</style>
