<template>
  <div>
    <br>
    <j-attendance-summary-form
      ref="form"
      :list-employee="user_restriction_organigram"
      :list-team="team_list"
      :list-shift="shift_list"
      mode="summary"
      @data="setDataFilter"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        cols="12"
        md="8"
      >
        <div class="table-switcher">
          <b-row>
            <b-col
              cols="6"
              @click="switchTable(1)"
            >
              <div
                :class="isActive === 1 && 'switch-active'"
              >
                Summary
              </div>
            </b-col>
            <b-col
              cols="6"
              @click="switchTable(2)"
            >
              <div
                :class="isActive === 2 && 'switch-active'"
              >
                Detail Summary
              </div>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>

    <hr>
    <j-attendance-summary-list
      v-if="isActive === 1"
      ref="summaryServer"
      :params="search_params"
      :oos-route="oosRoute"
      @export-report="generateXLS"
    />
    <j-attendance-summary-detail
      v-if="isActive === 2"
      ref="summaryServer"
      :params="search_params"
      :oos-route="oosRoute"
      @export-report="generateXLS"
    />
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jAttendanceSummaryList from './jAttendanceSummaryList';
import jAttendanceSummaryForm from './jAttendanceSummaryForm';
import jAttendanceSummaryDetail from './jAttendanceSummaryDetail';

export default {
  name: 'jAttendanceSummaryTabComp',
  components: {
    jAttendanceSummaryList,
    jAttendanceSummaryForm,
    jAttendanceSummaryDetail,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isActive: 1,
      search_params: {
        start_date: this.$moment().format('YYYY-MM-DD'),
        end_date: this.$moment().format('YYYY-MM-DD'),
      },
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['shift_list', 'team_list']),
    ...mapState('jStoreUser', ['user_restriction_organigram']),

  },
  created() {
    const params = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
    };
    this.actionGetShift(params);
    this.actionGetTeam(params);

    const params2 = {
      pagination: {
        limit: 0,
        page: 1,
        column: 'id',
        ascending: false,
        query: '',
      },
      user_company_id: localStorage.getItem('user_company_id') || 0,
    };
    this.actionGetUserRestrictionOrganigram(params2);
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetShift', 'actionGetTeam', 'generateSummaryXLS']),
    ...mapActions('jStoreUser', ['actionGetUserRestrictionOrganigram']),

    setDataFilter(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.summaryServer.refreshTable();
      }, 0);
    },
    async generateXLS() {
      this.$refs.form.search();
      const res = await this.generateSummaryXLS(this.search_params);
      if (res.error) {
        this.$store.dispatch('jStoreNotificationScreen/toggleProblem', res.message);
      } else {
        this.$store.dispatch('jStoreNotificationScreen/toggleSuccess', res.message);
      }
    },
    switchTable(val) {
      this.isActive = val;
    },
  },
};
</script>

<style lang="scss" scoped>
  .table-switcher {
    height: 40px;
    margin: 48px 118px 0 0;
    padding: 4px 39px 4px 5px;
    border-radius: 8px;
    box-shadow: inset 0 0 8px 0 rgba(183, 183, 183, 0.39);
    background-color: #f1f1f1;
    text-align: center;

    div {
      margin-top: 1px;
      cursor: pointer;
    }
  }

  .switch-active {
    padding: 2px;
    border-radius: 4px;
    background-color: #ffffff;
  }
</style>
