<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="openDetail">

        <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div>

        <div
          slot="checkbox"
          slot-scope="props"
          class="jTableReport">
          <b-form-group>
            <b-form-checkbox-group v-model="selected_rows">
              <b-form-checkbox :value="props.row"/>
            </b-form-checkbox-group>
          </b-form-group>
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions, mapState } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user_company_id: null,
      param_request: null,
      filter_data: '',
      select_type: '',
      options_search: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Code',
          value: 'code',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['employee_id', 'employee_code', 'name', 'email', 'position', 'organization_unit', 'total_visit', 'total_working_days', 'total_attendance_fraud', 'total_absence'],
      options: {
        headings: {
          employee_id: 'EMPLOYEE ID',
          employee_code: 'EMPLOYEE CODE',
          name: 'NAME',
          email: 'EMAIL',
          position: 'POSITION',
          organization_unit: 'ORGANIZATION UNIT',
          total_visit: 'TOTAL VISIT',
          total_working_days: 'TOTAL WORKING DAYS',
          total_attendance_fraud: 'TOTAL ATTENDANCE FRAUD',
          total_absence: 'TOTAL ABSENCE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['employee_id', 'employee_code', 'name', 'email', 'position', 'organization_unit', 'total_visit', 'total_working_days', 'total_attendance_fraud', 'total_absence'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getReportAttendanceList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.recordsTotal !== undefined ? data.recordsTotal : 0,
          };
        },
      },
    };
  },
  computed: {
    ...mapState('jStoreReportTimesheet', ['summary_list']),

  },
  watch: {
    summary_list(val) {
      const { data } = val;
      const user = data.map(item => item.user);
      this.user_company_id = user;
    },
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreAttendance', ['generateSummaryXLS']),

    loading(val) {
      if (this.params !== null) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.staff_names = this.params.staff_names || [];
        val.organization_ids = this.params.organization_ids || [];
        val.team_ids = [];
        val.shift_ids = this.params.shift_ids || [];
      } else {
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.staff_names = [];
        val.organization_ids = [];
        val.team_ids = [];
        val.shift_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      // this.$refs.summaryServer.getData();
      this.$refs.summaryServer.setPage(1);
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    projectDeleted() {
      this.refreshTable();
      this.selected_rows = [];
    },

    generateXLS() {
      this.$emit('export-report');
    },

    openDetail({ row }) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/report/attendance/summary/detail/${row.id}/${this.params.start_date}/${this.params.end_date}`);
      } else {
        this.$router.replace(`/report/attendance/summary/detail/${row.id}/${this.params.start_date}/${this.params.end_date}`);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
