<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="detailSummaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
        @row-click="generateUrlDetail">

        <!-- <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div> -->

        <div
          slot="name"
          slot-scope="props">
          {{ `${props.row.employee_first_name} ${props.row.employee_last_name}` }}
        </div>

        <div
          slot="email"
          slot-scope="props">
          {{ props.row.email }}
        </div>

        <div
          slot="check_in_address"
          slot-scope="props"
          class="address-ellipsis">
          {{ props.row.check_in_address }}
        </div>

        <div
          slot="check_out_address"
          slot-scope="props"
          class="address-ellipsis">
          {{ props.row.check_out_address }}
        </div>

        <div
          slot="check_in_date"
          slot-scope="props">
          {{ dateFormat(props.row.check_in_date) }}
        </div>

        <div
          slot="check_out_date"
          slot-scope="props">
          {{ dateFormat(props.row.check_out_date) }}
        </div>

        <div
          slot="check_in_time"
          slot-scope="props">
          {{ timeFormat(props.row.check_in_time) }}
        </div>

        <div
          slot="check_out_time"
          slot-scope="props">
          {{ timeFormat(props.row.check_out_time) }}
        </div>

        <div
          slot="working_hours"
          slot-scope="props">
          {{ formatHoursMinutes(props.row.working_seconds) }}
        </div>

        <div
          slot="overtime"
          slot-scope="props">
          {{ formatOvertimeHours(props.row) }}
        </div>

        <div
          slot="late"
          slot-scope="props">
          {{ formatLateHours(props.row) }}
        </div>

        <div
          slot="rate"
          slot-scope="props">
          {{ `Rp${props.row.rate || 0}` }}
        </div>

        <div
          slot="id_co_attendance"
          slot-scope="props">
          {{ `${props.row.id_co_attendance === null ? 'NO' : 'YES'}` }}
        </div>

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';

export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    detail: {
      type: String,
      default: '',
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      user_company_id: null,
      filter_data: '',
      select_type: 'id',
      options_search: [
        {
          text: 'Employee ID',
          value: 'employee_id',
        },
        {
          text: 'Employee Code',
          value: 'employee_code',
        },
        {
          text: 'Employee Name',
          value: 'name',
        },
      ],
      data_table: [],
      selected_rows: [],
      load_first: false,
      columns: ['attendance_group_id', 'employee_id', 'employee_code', 'name', 'email', 'employee_position', 'organization_unit', 'shift_name', 'check_in_date', 'check_in_time', 'check_in_address', 'check_out_date', 'check_out_time', 'check_out_address', 'working_hours', 'overtime', 'late', 'project_name', 'is_fraud', 'id_co_attendance'],
      options: {
        headings: {
          attendance_group_id: 'ATTENDANCE GROUP ID',
          employee_id: 'EMPLOYEE ID',
          employee_code: 'EMPLOYEE CODE',
          name: 'NAME',
          email: 'EMAIL',
          employee_position: 'POSITION',
          organization_unit: 'ORGANIZATION UNIT',
          shift_name: 'SHIFT',
          check_in_date: 'CHECK IN DATE',
          check_in_time: 'CHECK IN TIME',
          check_in_address: 'CHECK IN ADDRESS',
          check_out_date: 'CHECK OUT DATE',
          check_out_time: 'CHECK OUT TIME',
          check_out_address: 'CHECK OUT ADDRESS',
          working_hours: 'WORKING HOURS',
          overtime: 'OVERTIME',
          late: 'LATE',
          rate: 'RATE',
          project_name: 'PROJECT',
          is_fraud: 'ATTENDANCE FRAUD',
          id_co_attendance: 'CO ATTENDANCE',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['attendance_group_id', 'employee_id', 'employee_code', 'name', 'email', 'employee_position', 'organization_unit', 'shift_name', 'check_in_date', 'check_in_time', 'check_in_address', 'check_out_date', 'check_out_time', 'check_out_address', 'working_hours', 'overtime', 'late', 'project_name', 'is_fraud', 'id_co_attendance'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'attendance_group_id',
              ascending: !!data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
            start_date: '',
            end_date: '',
            project_ids: data.project_ids,
            shift_ids: data.shift_ids,
            employees: data.employees,
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getReportAttendanceDetailList(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.detailSummaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
    params() {
    },
  },
  created() {
    this.user_company_id = this.$route.params.id;
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),

    loading(val) {
      if (this.params) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.project_ids = this.params.project_ids;
        val.shift_ids = this.params.shift_ids;
        val.employees = [Number(this.$route.params.id)];
      } else {
        val.end_date = this.$route.params.end_date || this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$route.params.start_date || this.$moment().format('YYYY-MM-DD');
        val.project_ids = [];
        val.shift_ids = [];
        val.employees = [Number(this.$route.params.id)];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded(data) {
      this.data_table = data.data.data;
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      this.$refs.detailSummaryServer.getData();
    },

    filter(val) {
      this.$refs.detailSummaryServer.setFilter(val);
    },

    dateFormat(val) {
      return val ? this.$moment(val).format('DD-MMM-YYYY') : '';
    },

    timeFormat(val) {
      return val ? this.$moment(val).format('HH:mm') : '';
    },

    formatHoursMinutes(row) {
      const hours = Math.floor(row / 3600);
      const minutes = Math.floor((row % 3600) / 60);
      return `${hours} hours ${minutes} minutes`;
    },

    formatWorkingHours(row) {
      return `${Math.round(row.working_hours) || 0} hours ${Math.round(row.working_minutes) || 0} minutes`;
    },

    formatOvertimeHours(row) {
      return `${Math.round(row.overtime_hours) || 0} hours ${Math.round(row.overtime_minutes) || 0} minutes`;
    },

    formatLateHours(row) {
      return `${Math.round(row.late_days) || 0} days ${Math.round(row.late_hours) || 0} hours ${Math.round(row.late_minutes) || 0} minutes`;
    },

    generateUrlDetail({ row }) {
      this.$router.push(`${this.oosRoute}/attendance/group/detail/${row.attendance_group_id}`);
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

  .jTable tr td div {
    min-width: 100px;
  }

  .address-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    min-width: 100px;
  }
</style>
