<template>
  <div class="p-4">
    <j-title-header :options="title"/>
    <j-attendance-summary-form
      ref="form"
      :list-project="project_list"
      :list-shift="shift_list"
      mode="detail"
      @data="getData"/>
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-row>
          <b-col
            cols="2"
            md="2"/>
          <b-col
            cols="10"
            md="10">
            <b-button
              class="btn blue"
              @click="searchReport"
            ><i class="fa fa-search bold" />
              Search
            </b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <hr>
    <!-- <b-row>
      <b-col
        cols="12"
        md="12">
        <div class="float-to-right">
          <b-button
            class="btn green"
            @click="generateDetailReport"
          ><i class="fa fa-download bold" />
            Generate Report XLS
          </b-button>
        </div>
      </b-col>
    </b-row> -->
    <j-attendance-report-detail-list
      ref="detailSummaryServer"
      :params="search_params"
      :oos-route="oosRoute"/>
  </div>
</template>

<script>
/* eslint-disable vue/name-property-casing */
import { mapActions, mapState } from 'vuex';
import jAttendanceReportDetailList from './jAttendanceReportDetailList';
import jAttendanceSummaryForm from './jAttendanceSummaryForm';

export default {
  name: 'jTimesheetSummaryTabComp',
  components: {
    jAttendanceReportDetailList,
    jAttendanceSummaryForm,
  },
  props: {
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      title: {
        icon: 'fa-building',
        main_title: 'Attendance Report Detail',
      },
      search_params: null,
    };
  },
  computed: {
    ...mapState('jStoreAttendance', ['shift_list', 'project_list']),
  },
  created() {
    const data = {
      pagination: {
        limit: 0,
        page: 0,
        column: '',
        ascending: false,
        query: '',
      },
    };
    this.actionGetProjectList({ data });
    this.actionGetShift(data);
  },
  methods: {
    ...mapActions('jStoreAttendance', ['actionGetShift', 'actionGetProjectList', 'generateDetailXLS']),

    getData(data) {
      this.search_params = data;
    },
    searchReport() {
      this.$refs.form.search();
      setTimeout(() => {
        this.$refs.detailSummaryServer.refreshTable();
      }, 0);
    },
    generateDetailReport() {
      this.$refs.form.search();
      this.generateDetailXLS(this.search_params);
    },
  },
};
</script>
