<template>
  <div>
    <div class="custom-table-search">
      <v-server-table
        v-show="load_first"
        ref="summaryServer"
        :columns="columns"
        :options="options"
        class="jTable"
        @loading="loading"
        @loaded="loaded"
      >

        <!-- <div
          slot="beforeFilter"
          class="custom-search">
          <b-form inline>
            <b-button
              class="btn grey btn-import-form m__r--5"
              @click="generateXLS">
              <i class="fa fa-cloud-download fa-lg"/> Generate xls
            </b-button>
          </b-form>
        </div> -->

      </v-server-table>

      <div>
        <jLoadingTable v-if="!load_first"/>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import { mapActions } from 'vuex';
import jLoadingTable from '@/components/skeleton-loading/jLoadingTable';
import jApiAttendance from '@/services/jApiAttendance';


export default {
  components: {
    jLoadingTable,
  },
  props: {
    params: {
      type: Object,
      default: () => {},
    },
    oosRoute: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      param_request: null,
      filter_data: '',
      select_type: '',
      options_search: [
        {
          text: 'EMPLOYEE ID',
          value: 'employee_id',
        },
        {
          text: 'EMPLOYEE NAME',
          value: 'employee_name',
        },
      ],
      selected_rows: [],
      load_first: false,
      columns: ['date', 'attendance_group_id', 'employee_id', 'employee_code', 'employee_name', 'position', 'organization_unit', 'shift', 'check_in_time', 'check_out_time', 'total_working_hours', 'rounding_working_hours', 'attendance_code_remark', 'status'],
      options: {
        headings: {
          date: 'DATE',
          attendance_group_id: 'ATTENDANCE GROUP ID',
          employee_id: 'EMPLOYEE ID',
          employee_code: 'EMPLOYEE CODE',
          employee_name: 'EMPLOYEE NAME',
          position: 'POSITION',
          organization_unit: 'ORGANIZATION UNIT',
          shift: 'SHIFT',
          check_in_time: 'CHECK IN TIME',
          check_out_time: 'CHECK OUT TIME',
          total_working_hours: 'TOTAL WORKING HOURS',
          rounding_working_hours: 'ROUNDING WORKING HOURS',
          attendance_code_remark: 'ATTENDANCE CODE REMARKS',
          status: 'STATUS',
        },
        texts: {
          filterPlaceholder: 'Search',
          limit: 'Rows per page',
        },
        sortIcon: {
          base: 'fa',
          up: 'fa-chevron-up',
          down: 'fa-chevron-down',
          is: 'fa-sort',
        },
        debounce: 1000,
        filterable: true,
        sortable: ['date', 'attendance_group_id', 'employee_id', 'employee_code', 'name', 'position', 'organization_unit', 'shift', 'check_in_time', 'check_out_time', 'total_working_hours', 'rounding_working_hours', 'attendance_code_remark', 'status'],
        perPage: 10,
        perPageValues: [5, 10, 20, 50, 100],
        requestAdapter(data) {
          return {
            pagination: {
              limit: data.limit,
              page: data.page,
              column: data.orderBy ? data.orderBy : 'id',
              ascending: !data.ascending,
              query: data.query ? data.query : '',
              query_type: data.query_type ? data.query_type : '',
            },
          };
        },
        requestFunction(data) {
          const getList = jApiAttendance.getReportAttendanceSummaryDetail(data);
          return getList.catch((e) => {
            this.$store.dispatch('jStoreNotificationScreen/toggleProblem', e.response.data.errors[0].message).bind(this);
          });
        },
        responseAdapter({ data }) {
          return {
            data: data.data ? data.data : [],
            count: data.length !== undefined ? data.length : 0,
          };
        },
      },
    };
  },
  watch: {
    filter_data(val) {
      if (val === '') {
        this.$refs.summaryServer.setFilter('');
      }
    },
    selected_rows() {
      if (this.selected_rows.length === 0) {
        this.$refs.floating.hide();
      } else {
        this.$refs.floating.show();
      }
    },
  },
  methods: {
    ...mapActions('jStoreNotificationScreen', ['toggleProblem', 'showLoading', 'hideLoading']),
    ...mapActions('jStoreAttendance', ['generateSummaryXLS']),

    loading(val) {
      if (this.params !== null) {
        val.end_date = this.params.end_date;
        val.start_date = this.params.start_date;
        val.staff_names = this.params.staff_names || [];
        val.organization_ids = this.params.organization_ids || [];
        val.team_ids = [];
        val.shift_ids = this.params.shift_ids || [];
      } else {
        val.end_date = this.$moment().format('YYYY-MM-DD');
        val.start_date = this.$moment().format('YYYY-MM-DD');
        val.staff_names = [];
        val.organization_ids = [];
        val.team_ids = [];
        val.shift_ids = [];
      }

      val.pagination.query_type = this.select_type;
      if (this.load_first) {
        this.showLoading();
      }
    },

    loaded() {
      if (this.load_first) {
        this.hideLoading();
      } else {
        this.load_first = !this.load_first;
      }
    },

    refreshTable() {
      // this.$refs.summaryServer.getData();
      this.$refs.summaryServer.setPage(1);
    },

    filter(val) {
      this.$refs.summaryServer.setFilter(val);
    },

    generateXLS() {
      this.$emit('export-report');
    },

    openDetail({ row }) {
      if (this.oosRoute !== '') {
        this.$router.push(`${this.oosRoute}/report/attendance/summary/detail/${row.id}/${this.params.start_date}/${this.params.end_date}`);
      } else {
        this.$router.replace(`/report/attendance/summary/detail/${row.id}/${this.params.start_date}/${this.params.end_date}`);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .search-advance{
    margin: 0 0 0 -15px;
  }

</style>
