<template>
  <div
    id="attendanceForm"
    class="form">
    <b-row>
      <b-col
        cols="8"
        md="8">
        <b-form-group>
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label class="bold">Date</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <b-row>
                <b-col
                  cols="6"
                  md="6">
                  <label for="startDate">From</label>
                  <j-datepicker
                    id="startDate"
                    v-model="from_date"
                    :disabled-dates="from_date_disabled"
                    format="MMM dd, yyyy"
                    placeholder="Ex. Jan 01, 2019"/>
                </b-col>
                <b-col
                  cols="6"
                  md="6">
                  <b-form-group>
                    <label for="endDate">To</label>
                    <j-datepicker
                      id="endDate"
                      v-model="end_date"
                      :disabled-dates="end_date_disabled"
                      format="MMM dd, yyyy"
                      placeholder="Ex. Des 31, 2019"/>
                  </b-form-group>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group v-if="mode === 'summary'">
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
              >Organization Unit</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllTeam">
                unselect all
              </a>
              <a
                v-show="false"
                class="btn text outline pull-right"
                @click="selectAllTeam">
                select all
              </a>
              <br>
              <j-multi-select
                :is-async="true"
                :load-options="loadOptionsDivision"
                v-model="selected_data_team"
                value-format="object"
                placeholder="Select Org Unit"/>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group v-if="mode === 'detail'">
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
                for="project">Project</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataProject">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataProject">
                select all
              </a>
              <br>
              <j-multi-select
                id="project"
                ref="project"
                :options="project_list"
                v-model="selected_data_project"
                value-format="object"
                placeholder="Select Project"/>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group>
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
                for="shift">Shift</label>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataShift">
                unselect all
              </a>
              <a
                class="btn text outline pull-right"
                @click="selectAllDataShift">
                select all
              </a>
              <br>
              <j-multi-select
                id="shift"
                ref="shift"
                :options="shift_list"
                v-model="selected_data_shift"
                value-format="object"
                placeholder="Select Shift"/>
            </b-col>
          </b-row>
        </b-form-group>
        <b-form-group v-if="mode === 'summary'">
          <b-row>
            <b-col
              cols="2"
              md="2">
              <br>
              <label
                class="bold"
                for="employee">Name</label>
              <span v-show="false">
                <span class="f-blue bold">
                  {{ total_employee_list }}
                </span> Employee(s)
              </span>
            </b-col>
            <b-col
              cols="10"
              md="10">
              <a
                class="btn text outline pull-right"
                @click="unselectAllDataEmployee">
                unselect all
              </a>
              <a
                v-show="false"
                class="btn text outline pull-right"
                @click="selectAllDataEmployee">
                select all
              </a>
              <br>
              <j-multi-select
                id="employee"
                ref="employee"
                :is-async="true"
                :load-options="loadOptionsEmployee"
                v-model="selected_data_employee"
                value-format="object"
                placeholder="Select Employee"/>
            </b-col>
            <b-col
              v-show="false"
              cols="2"
              md="2">
              Type
              <j-multi-check
                ref="multiCheck"
                :options="type_options"
                @data="getDataType"/>
            </b-col>
            <b-col
              v-show="false"
              cols="2"
              md="2">
              Status
              <j-multi-check
                ref="multiCheck"
                :options="status_options"
                @data="getDataStatus"/>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable camelcase, no-param-reassign */
import jApiEmployee from '@/services/jApiEmployee';
import { ASYNC_SEARCH } from '@riophae/vue-treeselect';

export default {
  name: 'JAttendanceSummaryForm',
  components: {
  },
  props: {
    mode: {
      type: String,
      default: 'summary',
    },
    listTeam: {
      type: Array,
      default: () => [],
    },
    listShift: {
      type: Array,
      default: () => [],
    },
    listEmployee: {
      type: Array,
      default: () => [],
    },
    // employeeDetail: {
    //   type: Object,
    //   default: () => {},
    // },
    listProject: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      privRolesString: localStorage.getItem('roleString') !== 'undefined' ? JSON.parse(localStorage.getItem('roleString')) : [],
      total_employee_list: null,
      from_date: new Date(),
      end_date: new Date(),
      from_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      end_date_disabled: {
        color: 'light-grey',
        ranges: [{
          from: new Date(),
          to: '',
        }],
      },
      team_list: [],
      shift_list: [],
      project_list: [],
      employee_list: [],
      employee_temp_2: [],
      selected_data_team: [],
      selected_data_shift: [],
      selected_data_project: [],
      selected_data_employee: [],
      filtered_data: [],
      employee_temp: [],
      checked_type: '',
      checked_status: '',
      type_options: [
        { value: 'PERMANENT', text: 'PERMANENT' },
        { value: 'PROBATION', text: 'PROBATION' },
        { value: 'CONTRACT', text: 'CONTRACT' },
        { value: 'OUTSOURCE', text: 'OUTSOURCE' },
        { value: 'INTERNSHIP', text: 'INTERNSHIP' },
        { value: 'CONSULTANT', text: 'CONSULTANT' },
      ],
      status_options: [
        { value: 1, text: 'ACTIVE' },
        { value: 0, text: 'INACTIVE' },
      ],
    };
  },
  computed: {

  },
  watch: {
    from_date(date) {
      if (this.end_date !== null) {
        if (this.end_date < date) {
          this.end_date = date;
        }
      }
      this.restrictDate(date, 'end');
    },
    end_date(date) {
      if (this.from_date > date) {
        this.from_date = date;
      }
      this.restrictDate(date, 'from');
    },
    selected_data_team(data) {
      this.employee_list = [];
      this.selected_data_employee = [];
      this.total_employee_list = 0;
      if (data.length === 0) {
        this.employee_list = this.employee_temp;
        this.total_employee_list = this.employee_temp.length;
      } else {
        this.filtered_data = [];
        data.forEach((val) => {
          this.filtered_data = this.filtered_data.concat(
            this.employee_temp.filter(e => Number(e.group_id) === Number(val.id)),
          );
        });
        if (this.filtered_data.length === 0) {
          this.selected_data_employee = [];
        }
        this.employee_list = this.filtered_data;
        this.employee_temp_2 = this.filtered_data;
        this.total_employee_list = this.filtered_data.length;
      }
    },
    async listEmployee(data) {
      this.total_employee_list = data.length;
      this.employee_list = [];
      data.forEach((el) => {
        this.employee_list.push({
          id: el.id,
          text: `${el.first_name} ${el.last_name}`,
          group_id: el.group_id,
          user_company_id: el.user_company_id,
          contract_type: el.contract_type,
          employee_status: el.employee_status,
        });
      });
      this.employee_temp = this.employee_list;
      this.employee_temp_2 = this.employee_list;
    },
    listTeam(data) {
      data.forEach((el) => {
        this.team_list.push({
          id: el.id,
          text: el.title,
        });
      });
    },
    listShift(data) {
      data.forEach((el) => {
        this.shift_list.push({
          id: el.id,
          text: el.name,
        });
      });
    },
    listProject(data) {
      data.forEach((el) => {
        this.project_list.push({
          id: el.id,
          text: el.name,
        });
      });
    },
  },
  created() {
    if (this.mode === 'detail') {
      this.from_date = this.$route.params.start_date;
      this.end_date = this.$route.params.end_date;
    }
  },
  methods: {
    restrictDate(e, status) {
      if (status === 'end') {
        this.from_date_disabled.ranges = [{
          from: this.end_date,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: '',
        }];
      } else {
        this.from_date_disabled.ranges = [{
          from: e,
          to: new Date(10000, 1, 1),
        }];
        this.end_date_disabled.ranges = [{
          from: new Date(1, 1, 1),
          to: this.from_date,
        }, {
          from: new Date(),
          to: '',
        }];
      }
    },
    selectAllTeam() {
      this.selected_data_team = [...this.team_list];
    },
    unselectAllTeam() {
      this.selected_data_team = [];
    },
    selectAllDataShift() {
      this.selected_data_shift = [...this.shift_list];
    },
    unselectAllDataShift() {
      this.selected_data_shift = [];
    },
    selectAllDataEmployee() {
      this.selected_data_employee = [...this.employee_list];
    },
    unselectAllDataEmployee() {
      this.selected_data_employee = [];
    },
    selectAllDataProject() {
      this.selected_data_project = [...this.project_list];
    },
    unselectAllDataProject() {
      this.selected_data_project = [];
    },
    search() {
      if (this.mode === 'detail') {
        this.$emit('data', {
          start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
          end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
          project_ids: this.selected_data_project.map(({ id }) => id),
          shift_ids: this.selected_data_shift.map(({ id }) => id),
        });
      } else {
        this.$emit('data', {
          start_date: this.from_date == null ? '' : this.$moment(this.from_date).format('YYYY-MM-DD'),
          end_date: this.end_date == null ? '' : this.$moment(this.end_date).format('YYYY-MM-DD'),
          staff_names: this.selected_data_employee.map(({ user_company_id }) => user_company_id),
          organization_ids: this.selected_data_team.map(({ id }) => id),
          shift_ids: this.selected_data_shift.map(({ id }) => id),
          team_ids: [],

          // for export
          user_company_ids: this.selected_data_employee
            .map(({ user_company_id }) => user_company_id),
          format_date: 'dd-mm-yyyy',
          format_time: 'HH:mm:ss tt',
          format_duration_type: 1,
          summary_column: [],
          detail_column: [],
          type: 'xls',
        });
      }
    },
    getDataType(val) {
      this.multicheckFilter(val.data_id);
    },
    getDataStatus(val) {
      this.multicheckFilter(val.data_id);
    },
    multicheckFilter(val) {
      if (val.length === 0) {
        this.employee_list = this.employee_temp_2;
        this.selected_data_employee = [];
        this.total_employee_list = this.employee_temp_2.length;
      } else {
        this.filtered_data = [];
        this.filtered_data = this.employee_temp_2.filter(el =>
          val.includes(el.employee_status) || val.includes(el.contract_type),
        );

        this.employee_list = this.filtered_data;
        this.selected_data_employee = this.filtered_data;
        this.total_employee_list = this.filtered_data.length;
      }
    },
    loadOptionsEmployee({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH && searchQuery !== null) {
        if (searchQuery.length > 2) {
          const reqData = {
            pagination: {
              limit: 100,
              page: 1,
              column: '',
              ascending: true,
              query: searchQuery,
            },
          };
          this.$store.dispatch('jStoreUser/actionGetListUserRestriction', { reqData, callback });
        } else {
          callback(null, false);
        }
      }
    },

    loadOptionsDivision({ action, searchQuery, callback }) {
      if (action === ASYNC_SEARCH) {
        const reqData = {
          pagination: {
            limit: 50,
            page: 1,
            column: 'id',
            ascending: true,
            query: searchQuery,
            query_type: '',
          },
          user_company_id: localStorage.getItem('user_company_id') || 0,
        };
        this.data = this.getListDivision(reqData, callback);
      }
    },
    getListDivision(req, callback) {
      return jApiEmployee.getListOrgUnit(req)
        .then((res) => {
          if (typeof res.data !== 'undefined') {
            res.data.forEach((lab, index) => {
              res.data[index].label = `${lab.name} `;
            });
            callback(null, res.data);
          }
          return res.data;
        });
    },
  },
};
</script>

<style lang="scss">
  .btn {
    &.text{
      color: #42a5ce !important;
      cursor: pointer;
      padding: 0 0 0 10px;
      font-weight: 600;
      font-size: 12px;
      &:hover, &:focus{
        text-decoration: underline !important;
        color: #2E89B0 !important;
      }
    }
  }

  #attendanceForm {
    .custom-control {
      padding-left: 0 !important;
    }

    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label {
      border: none;
      background: none;
      color: #808285;
      padding: 5px 10px 5px 20px !important;
    }

    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label:before {
      left: 0;
      top: 7px;
      background: none;
      border-color: black;
    }
    .jCheckList .custom-checkbox .custom-control-input~.custom-control-label:after {
      left: 0;
      top: 7px;
      border-color: black;
    }
  }
</style>
